/*$$REM$$====================================================================================
//// <summary>Fichier CSS 2 site "PACK AVANTAGE 2"</summary>
//// <remarks>
//// <para>Fichier css appelé par head mutualisé</para>
//// <para>Sert pour toutes modifs démutualisées</para>
//// <para>Liste des macros générales pour faciliter la customisation des sites</para>
//// <para>A démutualiser pour chaque site</para>
//// </remarks>
//// <update date="2010-02-16" author="lisbonne.siriphol">Création</update>
====================================================================================$$END$$*/


$$REM$$ /* ============================================================================================
 ////////////////////////////////////// MACROS GENERALES PERSOS //////////////////////////////////////
============================================================================================= */$$END$$
<!--#include virtual="styles/all_global_macros.htm" -->

/*ACCUEIL*/
#FooterBottom_Ctn {background: none repeat scroll 0 0 #a0a5a9;}
#HeaderTxt p {color:#a0a5a9;}
.selectionIndex_Ctn {border: 1px solid #445568;}
.selectionDescr .selectionSurface, .selectionDescr .selectionNbPieces {color: #242F3C;}
.titreParagraphe, #MoteurAccueil {border-bottom: 1px dotted #E0027D;}
#FilAriane span, #PortefeuilleAccueil h6 span {color: #fff;}

/*DETAIL SENTO*/
.similaire_ctn {background: none repeat scroll 0 0 #A0A5A9;}
#Transaction, #Surface, #InfosComp_Ctn #InfosComp p, .metro, .rer, .tcl, #InfosPrincipales p, #Descriptif .txtDescriptif  {color: #242F3C;}
#DetailAnnonce h4, .photoTitre {border-bottom: 1px dotted #E0027D;}

/*RECHERCHE BASIC*/
.dicoImmo *, .contactAnn .ctc {color: #fff;}
.contactAnn {background: none repeat scroll 0 0 #A0A5A9;}



/*MOTEUR RECHERCHE*/
#Moteur .moteurTable ul li#nb_pieces, #Moteur .moteurTable ul li#nb_chambres, #Moteur .moteurTable ul li#InputSurfaceTerrain {background: none repeat scroll 0 0 #C2C5C7;}
#Moteur .moteurTable ul li {color: #242F3C;}
.moteurComment, #AgenceMentions *  {color: #fff;}
#Glossaire_Ctn *, #ChampsObligatoires {color: #E0027D;}
#Glossaire_Ctn {border-top: 1px dotted #E0027D;}

/*OUTILS CALCULETTE*/
#Outils h3 {background: none repeat scroll 0 0 #E0027D;}
.accordion_content .inputText, .accordion_content .inputResult {background: none repeat scroll 0 0 #fff;}
.accordion_content em {color: #242F3C;}

/*CONTACT AGENCE*/
#CguFormulaire {color: #fff;}

/*AGENCE IMMOBILIERE*/
#AgImmoMentions p { color: #FFFFFF;}
