// VARIABLES COLORS
$color-body:#f2e8c5;
$color-content:#f2e8c5;
$color-block:#fff;
$color-primary:#2e3192;
$color-secondary:#f2e8c5;
$color-action:#2e3192;
$color-important:#2e3192;
$color-nav-footer:#f2e8c5;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#333;