// VAR COLORS
$color-body:#fff;
$color-content:#f3f3f3;
$color-block:#f2f2f2;
$color-primary:#333132;
$color-secondary:#000;
$color-action:#c9a452;
$color-important:#23282b;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#595959;

// ICONE COUP DE COEUR
$color-icone-cdc:#c9a452;