$$REM$$
====================================================================

//// <summary>Fichier css par défaut pour : agence-immobiliere.htm</summary>
//// <remarks>
//// <para>Fichier appelé par : /slagence_X_V2/agence-immobiliere.htm</para>
//// </remarks>
//// <update date="2008-05-30" author="lisbonne.siriphol">Update et corrections</update>
//// <update date="2008-01-14" author="lisbonne.siriphol">Création v1</update>

====================================================================
$$END$$

/* carte_visite.htm */
#CV{margin: 0; padding: 0; border: none;}
#CV *{margin: 0; padding: 0; border: none; color:#5C5E5D;}
#CV .clear{clear:both;}
#CV .linkOut{text-align: right; margin: 0.5em 0;}
#CV .linkOut a{background: url($$-$$images/picto_fleche_01.gif) left no-repeat; padding: 0 0 0 15px;}
/**/
#CV h1{position: relative; font-size: 1.8em; color: #fff; background:#CFDBD5; padding: 0.3em 0.8em;}
#CV #Agence{padding: 1em; background:none;}
#CV #Agence #Img_Ctn{position: relative; float: left; background: url($$-$$images/sans_photo_01.jpg) no-repeat #bbc8d9;}
#CV #Agence #Img_Ctn #Vitrine{width: 200px; height: 124px; border: 5px solid #CFDBD5; background: url($$_$$images/agences/$$FORM:IDP$$.jpg) no-repeat;}
#CV #Agence #Coordonnees{position: relative; float: left; padding: 0 1em;}
#CV #Agence #Coordonnees *{color:#5C5E5D;}
#CV #Agence #Coordonnees h2{font-size: 1.5em;}
#CV #Agence #Coordonnees p{padding:3px 0 0 0;}
#CV #Agence #Coordonnees p strong{font-weight: normal;}
#CV #Agence #Coordonnees p span{font-weight: bold;}
#CV #Agence #Coordonnees label.cv_respag{}

/* texte public SAISS */
#CV #Agence #TxtPublic{color:#5C5E5D; text-align: justify;}

/* Liens footer carte de visite */
#CV #CvFoot{background:#CFDBD5; height: 21px; overflow: hidden;}
#CV #CvFoot *{color: #fff; text-decoration: none; font-weight: bold;}
#CV #CvFoot #Links{float: left; border-right: 1px solid #4B4A4A; background:#CFDBD5;}
#CV #CvFoot #Links a{ color:#FFFF;display: block; float: left; padding: 0.3em 1em; border-right: 1px solid #DEDDDD; border-left: 1px solid #4B4A4A;}
#CV #CvFoot #Links a:hover{background:#666666;}
#CV #CvFoot #Links a.message{}
#CV #CvFoot #Links a.estimation{}

/* Portefeuille agence : incl_portefeuille01.htm */
#Portefeuille01{padding: 1em 0; position: relative;}
#Portefeuille01 h3{font-size: 1.4em; border-bottom: 1px solid #bfbfbf; padding: 0 0 5px 0; margin: 0 0 10px 0;}
#Portefeuille01 a{padding: 5px 0; font-weight: bold; line-height: 1.6em; background: none;}
#Portefeuille01 a.typeTransac{font-size: 1.2em; color:#5E5C5F;}
#Portefeuille01 a.typeBien{font-size: 0.9em; margin: 0 0 0 30px; color:#CFDBD5;}
#Portefeuille01 .nbAnn{}		

/* annonces dans carte visite agence = QUAND PRESTATION DE REFERENCEMENT ! */
#Annonces01 .ann_transac{color:#1E3B1A;}
#Annonces01 .ann_descr span{color:#1E3B1A;}
#Annonces01 .ann_descr a{color:#CFDBD5;}

#Annonces01 .ann_ctn a.ann_pht:hover em span{color:#1E3B1A;}
#agenceImmo h3{border-bottom:1px solid #BFBFBF; font-size:1.4em; margin:0 0 10px; padding:0 0 5px; margin:10px 0 5px 0;}
