@import "color";
// BG SOLO
$bg-uni:yes;

// PICTURE BG OU DEGRADE CSS BG COLOR PRIMARY vs SECONDARY vs BLOCK > SI NO ALL = BG BODY UNI
$picture-bg:yes;
$picture-bg-url:'../images/dark_wall.png';
$picture-bg-repeat-horizontal:no;

// SIZE SCROLLING
$height-scrolling:700;

// SIZE NAVIGATION
$height-navigation:60;


// VAR SITE TYPO
$font-body:"Source Sans Pro",verdana,sans-serif;
$font-title:"Oswald",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text:1.6em;
$font-size-title:1.7em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:normal;

// ARRONDI POUR LES EFFETS SUR LI > A:HOVER/FIL ARIANE/BOUTON
$arrondi:no;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS LIB2
@import "../../../slagence_X_V5/sources/scss/boutons/lib2";

// IMPORT PUB LIB BOITE
@import "../../../slagence_X_V5/sources/scss/pubs/lib1";

// IMPORT PUB LIB5
@import "../../../slagence_X_V5/sources/scss/pubs/lib3";

// IMPORT TEMPLATE PARIS
@import "../../../slagence_X_V5/sources/scss/templates/helsinki";

// IMPORT MODULE ANNONCES5
@import "../../../slagence_X_V5/sources/scss/modules/annonces9";

// IMPORT MODULE EXTRA
@import "../../../slagence_X_V5/sources/scss/extra/extra5";

// IMPORT ANIM
@import "../../../A_ID3X/fidyp81_49021/css/animate.min.css";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";

.titre-pub, .titre-extra {
color:$color-primary;
}

//------------------------------------------------------------------------------------------------------------------------------
//		PERSO FIDYP81
//------------------------------------------------------------------------------------------------------------------------------

//------------------------------------------------------------------------------------------------------------------------------
//		GENERAL
//------------------------------------------------------------------------------------------------------------------------------

	//------------------------------------------------------------------------------------------------------------------------------
	//		CONTAINER
	//------------------------------------------------------------------------------------------------------------------------------

.container {
	width:1280px;
	padding: 0 20px;
	@media only screen and (max-width : 1280px) {
		width:100%;
	}
}

	//------------------------------------------------------------------------------------------------------------------------------
	//		MENU & NAV
	//------------------------------------------------------------------------------------------------------------------------------

/* ----------------------------------------------
 * Generated by Animista on 2017-5-24 16:16:55
 * http://animista.net
 * T: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes scale-up-center{0%{-webkit-transform:scale(.5);transform:scale(.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes scale-up-center{0%{-webkit-transform:scale(.5);transform:scale(.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}

.logo {
	-webkit-animation: scale-up-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	-moz-animation: scale-up-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.navigation {
	background:$color-primary;
}

.menu-principal {
	font-size:1.2em;
	>li {
		border-left:none;
		border-right:none;
		margin-left:-4px;
		padding: 0px 40px;
		background:$color-secondary;
		@media only screen and (max-width : 1280px) {
			padding: 0px 20px;
		}
		&:hover {
		background:$color-primary;
		}
	}
}

#menuNavigation > li.menu-accueil {
	@include border-top-left-radius (8px);
}

#menuNavigation > li.menu-blog {
	@include border-top-right-radius (8px);
}


//------------------------------------------------------------------------------------------------------------------------------
//		INDEX
//------------------------------------------------------------------------------------------------------------------------------

	//------------------------------------------------------------------------------------------------------------------------------
	//		VISUEL
	//------------------------------------------------------------------------------------------------------------------------------

.titre-milieu-menu-under {
    margin-top: 354px;
    @media only screen and (max-width : 767px) {
    	margin-top: 0px;
    }
}

.block-index a:hover {
	text-decoration:none;
}
.block-adresses {
	color: $color-nav-footer;
    background-color: rgba($color-primary, 0.73);
    font-size: 1.4em;
    margin-bottom: 20px;
    padding: 10px 0;
    line-height: 26px;
    .tel {
    	font-size: 1.2em;
    }
    a {
    	color: $color-nav-footer;
    	font-size: 0.8em;
    }
}

	//------------------------------------------------------------------------------------------------------------------------------
	//		ENCART PA
	//------------------------------------------------------------------------------------------------------------------------------

.module-homepage .height-190 {
	height:250px;
}

@media only screen and (max-width : 767px) {
	.module-annonces-homepage {
		background:$color-block !important;
		color:$color-nav-footer !important;
	}
	.homepage-bloc-type-bien-transaction .bg-white {
		background:$color-block !important;
	}
}

.owl-theme .owl-nav [class*=owl-] {
	background:$color-action !important;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background:$color-action !important;
}

.owl-theme .owl-dots .owl-dot span {
	background:$color-primary !important;
}

	//------------------------------------------------------------------------------------------------------------------------------
	//		EXTRA
	//------------------------------------------------------------------------------------------------------------------------------

.aside-extra {
	display:none;
}


// --------------------------------------------
// -- AGENCES,LISTE
// --------------------------------------------

.detail-agence-liste {
    [itemprop="addressLocality"] {
        text-transform: uppercase;
    }
}