/* Vanessa $$DYN:ID3:NOFOOTER$$ */
/* =================== */

#minimoteur{display:inline;}
.BoiteMiniMoteur {
	width:285px;
	color:#FFFFFF;
	font-family: Myriad, Arial, Helvetica, sans-serif, verdana; 
	font-size: 11px;
	margin-left:5px;
}

select{
	font-size: 11px;
	width:145px;
	float:right;
	font-weight:normal;
	font-style: normal;
}

.ListeVilles{
	font-weight:normal;
	font-style: normal;
	text-align:left;
	font-size:10px;
	height:12px;
}

/*.imputForm{
	font-size: 11px;
	width : 50px;
}*/

.MiniTypeTrans {
	display: inline;
	font-family: Myriad, Arial, Helvetica, sans-serif, verdana; 
	font-style: normal;
font-size: 10px;
}

.TitreTypeTrans {
	color: #000;
	font-size: 10px;
	padding:0;
	margin:0;
	width:102px;
}

.MiniTypeDeBien {
	font-size:10px;
	padding:0;
	margin:0;
	height:18px;
}



.TitreMiniTypeDeBien {
	color: #FFFFFF;
	font-size: 10px;
	letter-spacing:0em;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	float:left;
	width:102px;
}

.MiniPieces {
	display: inline;
	font-family: Myriad, Arial, Helvetica, sans-serif, verdana; 
	font-style: normal;
	font-size: 9pt;
	color: #0D0435;
}

.TitreMiniNombreDePieces {
	color: #FFFFFF;
	font-size: 10px;
	letter-spacing:0em;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	float:left;
}

.MiniBudget {
	display:inline;
	font-family: Myriad, Arial, Helvetica, sans-serif, verdana; 
	font-style: normal;
	font-size: 9pt;
	color:#FFFFFF;
}

.TitreMiniBudget {
	color: #FFFFFF;
	font-size: 10px;
	letter-spacing:0em;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	float:left;
}

.InputBudget{padding:0;margin-top:-7px;}

.MiniBudgetVac {
	display:none;
	font-family: Myriad, Arial, Helvetica, sans-serif, verdana; 
	font-style: normal;
	font-size: 9pt;
	color:#FFFFFF;
}

.TitreMiniBudgetVac {
	color: #FFFFFF;
	font-size: 10px;
	letter-spacing:0em;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	float:left;
}

.InputBudgetVac{float:right;margin-right:8px;}

.MiniSurface {
	font-family: Myriad, Arial, Helvetica, sans-serif, verdana; 
	font-style: normal;
	font-size: 9pt;
	color:#FFFFFF;
}

.TitreMiniSurface {
	color: #FFFFFF;
	font-size: 10px;
	letter-spacing:0em;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	float:left;
}

.InputSurface{float:right;}

.MiniSurfaceTerrain {
	display:none;
	font-family: Myriad, Arial, Helvetica, sans-serif, verdana; 
	font-style: normal;
	font-size: 9pt;
	color:#FFFFFF;
}

.TitreMiniSurfaceTerrain {
	color: #FFFFFF;
	font-size: 10px;
	letter-spacing:0em;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	float:left;
}

.InputSurfaceTerrain{float:right;}

.MiniListeVilles {
	font-family: Myriad, Arial, Helvetica, sans-serif, verdana; 
	font-weight: normal;
	font-size:10px;
	height:14px;
	color: #0D0435;
}

.TitreMiniListeVilles {
	color: #FFFFFF;
	font-size: 10px;
	letter-spacing:0em;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	float:left;
	width:102px;
}

.TitreMiniChampVilles {
	color: #FFFFFF;
	font-size: 10px;
	letter-spacing:0em;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	float:left;
}

.ChampVilles input{
	float:right;
	font-size: 11px;
	width:145px;
}

.MiniProximite {
	font-family: Myriad, Arial, Helvetica, sans-serif, verdana; 
	font-style: normal;
	font-size: 9pt;
	color: #0D0435;
}

.TitreMiniProximite {
	display: inline;
	color: #FFFFFF;
	font-family: Myriad, Arial, Helvetica, sans-serif, verdana; 
	font-size: 11px;
	letter-spacing: 0.1em;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
	float:left;
}

.InputProximite{float:right;}

.MiniPays {
	display: none;
	font-family: Myriad, Arial, Helvetica, sans-serif, verdana; 
	font-style: normal;
	font-size: 9pt;
	color: #0D0435;
}

.TitreMiniPays {
	color: #FFFFFF;
	font-family: Myriad, Arial, Helvetica, sans-serif, verdana; 
	font-size: 11px;
	letter-spacing: 0.1em;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
	float:left;
}

#paysidtt1{display:inline;}

.MiniSituation {
	font-family: Myriad, Arial, Helvetica, sans-serif, verdana; 
	font-size: 9pt;
	color: #0D0435;
}

.TitreMiniSituation {
	display: inline;
	color: #FFFFFF;
	font-size: 10px;
	letter-spacing: 0em;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	float:left;
}

.MiniReference {
	font-family: Myriad, Arial, Helvetica, sans-serif, verdana; 
	font-style: normal;
	font-size: 9pt;
	color: #0D0435;
}

.TitreMiniReferencement {
	display: inline;
	color: #FFFFFF;
	font-size: 10px;
	letter-spacing:0em;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	float:left;
}

.InputReference{float:right;}

#ref_ann{width:145px;}



#option3{
	color:#FF0000;
	display:none;
	visibility:hidden;
}





/* Mise en page du mini moteur */
.Bouton{ height:26px;font-size:10px;padding-top:2px;}
.MiniBouton{font-size:10px;}
.MiniBouton input {
	float:right; margin-top:-5px; margin-right:25px;font-size:10px;
	 width:63px; height:24px;
}
.MiniTypeTrans span,.MiniTypeDeBien span,.MiniListeVilles span,.TitreMiniBudget,.MiniBudget span{
	color:#000;
	font-size: 10px;
	padding:0;
	margin:0;
	line-height:15px;
}
.TitreMiniBudget{padding:0;}
.MiniTypeTrans select,.MiniTypeDeBien select,.MiniListeVilles select,.InputBudget{float:none;}
.BoiteMiniMoteur option{padding-left:2px;}
.BoiteMiniMoteur .ListeVilles{height:17px;border:1px solid #000;font-size:9px;color:#fff; background-color:#403F3E;padding:0;margin-top:3px;}
.BoiteMiniMoteur .ListeTypeTrans {height:17px;border:1px solid #000;font-size:9px;color:#fff; background-color:#403F3E;padding:0;}
.BoiteMiniMoteur .ListeTypeDeBien{height:17px;border:1px solid #000;font-size:9px;color:#fff; background-color:#403F3E;padding:0;}

.BoiteMiniMoteur .imputForm{width:156px;height:10px;border:1px solid #9C9C9C;font-family:verdana;font-size:10px;color:#7B7B7B;line-height:18px;}
.BoiteMiniMoteur .ListeTypeDeBien{ margin:2px 0 0 0px;}
.BoiteMiniMoteur .ListeVilles{}

