/* $$DYN:ID3:NOFOOTER$$ */
div, td, .Marquee, .ListeVilles { font-family: Verdana, Arial, Helvetica, sans-serif; }
.TitreBoiteMoteurClassic { visibility: hidden; }
.imputForm, select { font-size: 11px; margin-bottom: 3px; color: #1a1a1a; }
.ZoneSaisie { letter-spacing: normal; }
.ZoneSaisie { color: #003366; }
.BoiteMoteurClassic { background: none; padding: 10px; border: none; }
.FormulaireTypeDeBien, .MoteurSurface, .MoteurBudget, .MoteurProximite, .MoteurListeVille, .MoteurSousTypeDeBien, .MoteurPieces, .MoteurRayon span { color: #003366; font-size: 11px; }
.MoteurTypeDeBien, .MoteurPieces, .MoteurSurface, .MoteurBudget, .MoteurProximite { background: none; margin-bottom: 15px; line-height: 18px; }
.TitreTypeDeBien, .TitreNombreDePieces, .TitreMoteurSurface, .TitreMoteurBudget, .TitreMoteurProximite, .TitreMoteurListeVille, .TitreSousTypeDeBien, .TitreMoteurNbPersonnes, .TitreMoteurBudgetVac, .TitreMoteurEquipement, .TitreMoteurSituation { display: block; height: 20px; background-color: #032f61; border-bottom: 1px solid #a3b9df; color: #fff; padding-left: 20px; font-size: 11px; font-weight: bold; letter-spacing: normal; line-height: 20px; }
.MoteurBouton { padding-top: 15px; }
.tabFond1Mini { padding-left: 25px; }