// VAR COLORS
$color-body:#D5D4D4;
$color-content:#1a1a1a;
$color-block:#fff;
$color-primary:#000;
$color-secondary:#000;
$color-action:#000;
$color-important:#009de0;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#666;