<!--#include virtual="styles/all_global_macros.htm" -->

body{background: $$COUL_2$$; font-size: $$FONT_SIZE$$; }
p { margin:10px 0; }
a { text-decoration: none; color: $$TXT_PRINCIPAL$$; }
a:hover { color: $$TXT_TERTIAIRE$$; text-decoration: none; }

#bg-link-top { display: none; }

#wrap { width: 1009px; margin: 0 auto; text-align:left; padding-top: 31px; position:relative; }

.logo {top: 55px; left:350px; width: 228px; height: 140px; position:absolute; }

.bord { float:left; width: 4px; }

#bg-main { background:url($$_$$images/bg-rep.gif) repeat-y; width: 1009px; }
#main { width: 1000px; margin: 0 auto; text-align:left; float:left; padding-top: 1px; padding-left: 1px; }
#refmarquee *, #refmarquee a { color: #9280ca; }

#bg-defilante { background-color: #d6d7d3; }
.bg-estim { border: 1px solid #281565; }
.espace-content { background-color: #f4f4f4; }
select.miniSelect { border: none; }
#titre_texte { width: 492px; }

.selectionDescr_t5 .selectionPrix_t5, .link-prestige, .link-prestige a {color: #382085; font-size: 11px; text-decoration: none; }

#footer { background:url($$_$$images/bg_footer.jpg) repeat-x; }
.footer { width: 1000px; margin: 0 auto; text-align:left; color: #fff; }
.link-center a, .link-left a { color: #fff; }
.img-ht-bas { width: 1008px; margin: 0 auto; text-align:center; }

.selectionIndex_Ctn_div_C2C_t5 { background-color: #e4e4e4 !important; height: 230px; }
.selectionDescr_t5 .selectionPrix_t5 { color: #382085!important; }
.selectionDescr_t5 .selectionVille_t5, .selectionDescr_t5 .selectionVille_t5 * { color: #010101!important; }
.selectionDetail_t5 { color: #010101; text-decoration:underline; display: inline !important; }
.selectionDetail_t5 a { color: #010101; }

.bg-estim p { color: #FFF!important; }
#text-accueil p { font-size: 12px; }

*#menu_fr a { padding: 0 29px; background: url($$_$$images/menu_04.png) no-repeat!important; display: block; height: 45px; line-height: 45px; color: #fff; }
*#menu_fr a:hover { display: block; background-position: 0 -45px!important; background-color: #2f2f2f !important; color: #fff; }

#menu_en a { padding: 0 38px; background: url($$_$$images/menu_04.png) no-repeat!important; display: block; height: 45px; line-height: 45px; color: #fff; }
#menu_en a:hover { display: block; background-position: 0 -45px!important; background-color: #2f2f2f !important; color: #fff; }

#menu_de a { padding: 0 12px 0 38px; background: url($$_$$images/menu_04.png) no-repeat!important; display: block; height: 45px; line-height: 45px; color: #fff; }
#menu_de a:hover { display: block; background-position: 0 -45px!important; background-color: #2f2f2f !important; color: #fff; }

#MiniProximite { border-bottom: 1px solid #cbcbcb; }

.adresse #text_footer_gauche .data_footer_adresse, .adresse #text_footer_gauche .data_footer_adresse a { color: #4a4a4a; margin-right: 0!important; }

#text_footer_gauche { color: #FFF!important; }

.pic-estim { background:url($$_$$images/puce-noir.gif) no-repeat 0 4px; padding-left: 15px; }

.left-foot { float: left; width: 260px; }
.bg-fb a { color: #fff; }
.pic-rss { background: url($$_$$images/pic_rss.gif) no-repeat; display: block; padding-left: 30px; line-height: 20px; height: 18px; }
.center-foot { float: left; width: 200px; padding-left: 0px; }

.right-foot { float: right; width: 470px; }


.ttl-foot { line-height: 46px; font-weight: bold; color:  #fff; padding-top: 10px; }
.ttl-foot a { color: #fff;}
.link-left, .link-left a { text-align: justify; color:  #fff; }
.link-center a { display: block; text-decoration: underline; color:  #fff; }
.realisation { color: #fff; font-weight: bold; }

.right-footer .portefeuilleVilles h3{ color: #9e9da7;}
.right-footer .portefeuilleVilles a { color: #9e9da7; }

/*recherche*/
.contactAnn { background: #e3e3e3; border: 1px solid #b2b2b2; }
.dicoImmo *, #AgImmoMentions { color: #000; }

/* bloc annonce selection */
.selectionIndex_Ctn_div_C2C_t5{ background:$$COUL_2$$; }
.selectionDescr_t5 p strong{}
.selectionDescr_t5 .selectionPrix_t5{color: $$TXT_TERTIAIRE$$;}

/*autres*/
.page-int { text-align: justify; line-height: 18px; }
#MapMicrosoft .geolocInfo { color: $$COUL_2$$; }
#AgImmoDroite .AgImmoContact a, #AgImmoDroite .AgImmoEstimation a  { color: #fff; }


#MiniDivChampTextProx input.miniInput{width: 130px; height: 20px;color: #525252;background: #E4E4E4; border: #E4E4E4; }
#MiniInputProximite2,#MiniInputProximite3{display: none;}
.portefeuilleVilles h3{display: inline;}


#Outils h3 {border: solid 1px #474747; background: #281564; color: #FFF; }
.accordion_content .inputCalcul,.accordion_content .inputText {background: #d1031d;}
.accordion_content {background: none;}
.accordion_content .inputResult {color: #fff;}

#AlerteEmail { background-color:#CCC; }

#AlerteEmail #AlerteForm input.alerteBt { color: #FFF; }
#AlerteEmail #AlerteForm input.alerte { border: 1px solid #d9d9d9; }

.accordion_content .inputCalcul, .accordion_content .inputText, #Moteur .inputText, #Moteur .inputSelect, #Moteur .inputTextarea, #Moteur #ref_ann .inputText { background-color:#FFF; }
.accordion_content .inputResult { background-color:#FFF; color: #000; }

#FormContactAgence .inputText, #FormContactAgence .inputSelect, #FormContactAgence .inputTextarea, table.detailsAnn td, #InfosAgence, .ad-gallery .ad-nav .ad-thumbs, .ad-gallery .ad-back, .ad-gallery .ad-forward { background-color:#FFF; }
#Moteur .moteurTable ul li { color: #434343!important; background:#dbdbdb; }
#Plan_Ctn h1 { display: none; }

#FluxDef { background-color: #c5c5c5;}

#RechPagesHaut .rechLiensPages a, #RechPagesBas .rechLiensPages a { background: none!important; }
.blocAnnonce, td#ColonneDroite { border: 1px solid #d1d1d1!important; }
#Annonce_Ctn td#ColonneDroite { background: #fff; }

#MentionsLegales h2 { color: #281564; } 

.suivi_client { position:absolute; top: 50px; right: 15px; z-index: 100; } 

.link-pic { position:absolute; top: 115px; right: 45px; z-index: 100; } 
.link-pic img { padding-right: 5px; }

.accordion_content .inputCalcul { background: #281564; color: #FFF; }

#titre_selection { font-size: 24px; font-family: "Times New Roman", Times, serif; color: #000; padding-top: 10px; margin-bottom: 0!important;width: auto !important;  }
#titre_selection strong { color: #382085; font-size: 24px; font-family: "Times New Roman", Times, serif; font-weight: normal; }

#soustext p{font-size:16px; font-family: "Times New Roman", Times, serif; color: #271463;padding-top: 10px;  }
#soustext strong{font-size:24px; font-family: "Times New Roman", Times, serif; color: #271463; }

#titre_texte { font-size: 24px; font-family: "Times New Roman", Times, serif; color: #000; padding-top: 10px; }
#titre_texte strong { color: #382085; font-size: 24px; font-family: "Times New Roman", Times, serif; font-weight: normal; }

input.miniInputMin, input.miniInputMax, .miniDiv select.miniSelect { background: #e4e4e4; border: 1px solid #fff; font-size: 11px; }

.blocAnnonce_wrap .blocAnnonce table td.colGauche .photo_ctn a.photo { width: 170px; height: 110px; background:url($$_$$images/sans_photo-rech.jpg) no-repeat; }


.blocAnn {
padding: 10px 10px 0 10px;
border: 1px solid #281564;
background: #ddd;
margin: 0 0 5px 0;
}

#EnvoiAmi .inputSubmit {
cursor: pointer;
border: none;
font-size: 16px;
font-weight: bold;
padding: 3px 20px 5px 20px;
background: none;
color: #000;
margin: 5px 0 0 0;
}
#ChampsBouton .inputSubmit {
cursor: pointer;
border: none;
font-size: 16px;
font-weight: bold;
padding: 3px 20px 5px 20px;
background:none;
color: #000;
margin: 5px 0 0 0;
}


#content-cdc{width: 438px;overflow: hidden;float: left;}