// VAR COLORS
$color-body:#8A8A8A;
$color-content:#121ba8;
$color-block:#faf9f6;
$color-primary:#8A8A8A;
$color-secondary:#121ba8;
$color-action:#121ba8;
$color-important:#121ba8;
$color-nav-footer:#fff;
// COLOR PUB
$color-pub:"white";
// COLOR FONT BODY DEFAULT
$color-font-body:#000;
// COLOR SOUS MENU
$color-sous-menu:$color-block;