// VAR COLORS
$color-body:#fff;
$color-content:#fff;
$color-block:#f9f9f9;
$color-primary:#606060;
$color-secondary:#571382;
$color-action:#571382;
$color-important:#515151;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#535353;