/* $$DYN:ID3:NOFOOTER$$ */
/* =================== */
.Colonne1 {}
.BoiteMoteurClassic {border: none; margin:0; padding: 0; width:99%;}
.BoiteMoteurClassic select{color:#000;}
.TitreBoiteMoteurClassic{display: block; color:#F4252B; font-weight:bold; font-family:Verdana, Arial, Helvetica, sans-serif;}

.MoteurTypeDeBien{}
.TitreTypeDeBien,
.TitreMoteurListeVille,
.TitreMoteurInvestir,
.TitreMoteurSituation,
.TitreNombreDeChambres,
.TitreMoteurMeuble,
.TitreMoteurNbPersonnes,
.TitreMoteurPays,
.TitreSousTypeDeBien,
.TitreMoteurEquipement,
.TitreMoteurCritereSup,
.TitreMoteurViager,
.TitreNombreDePieces,
.TitreMoteurSurface,
.TitreMoteurReferencement,
.TitreMoteurBudget,
.TitreMoteurBudgetVac,
.TitreMoteurSurfaceTerrain,
.TitreMoteurProximite{
	display: block;
	width: 98%;
	background:#F4252B;
	font-size: 14px;	
	color:#FFF;
	font-weight: bold;
	letter-spacing: 0.1em;
	padding:3px 0 3px 8px;
	margin: 10px 0;
	text-align: left;
	text-transform: none;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	text-transform: uppercase;
}

.FormulaireTypeDeBien,
.MoteurPieces,
.MoteurSurface,
.MoteurReference,
.MoteurBudget,
.MoteurReference,
.MoteurListeVilles,
.MoteurProximite,
.MoteurInvestir,
.MoteurMeuble,
.MoteurEquipement,
.MoteurBudgetVac,
.MoteurChambres,
.MoteurPreliste,
.MoteurSurfaceTerrain,
.MoteurNbPersonnes,
.MoteurSituation,
.MoteurPays,
.MoteurViager,
.MoteurListeVille,
.MoteurCarte,
.MoteurCritereSup,
.MoteurRayon
{padding: 0 0 15px 0; font-size: 12px; text-align:left;color:#000; font-family:Verdana, Arial, Helvetica, sans-serif;}
.MoteurRayon span{ font-family:Verdana, Arial, Helvetica, sans-serif;}

/* type de bien */
.FormulaireTypeDeBien label{width: 200px;}

/* nombre de pieces */
.MoteurPieces label{margin: 0 5px 0 0;}

/* budget */
.MoteurBudget select{display: none;}

/* surface */
.MoteurSurface input.imputForm,.MoteurBudget input.imputForm,.MoteurReference input,.MoteurSurfaceTerrain input.imputForm {width: 100px; border: 1px solid #030303; color: #000; background:#EDEDED; height: 18px;padding-left:2px;}


/* proximite */
.ZoneSaisie {
	display: block;
	font-style: normal;
	font-size: 10px;
	letter-spacing: 0;
	text-align: left;
	color:#FFFFCD;
}
.MoteurProximite input.imputForm{width: 300px; border: 1px solid #030303; color: #000; background:#EDEDED; height: 18px; margin-bottom: 10px;padding-left:2px;}
.MoteurProximite a{}
.MoteurBouton{clear:both;padding:20px 0;}
.MoteurListeVilles select{margin: 5px 0 0 0; width: 210px;}