body { margin:0; padding:0; background: url(../images/bg_main.gif) repeat-x #4a4a4c;  text-align:center; }
div,td { font-family: Arial, "Times New Roman", Times, serif; color: #fff; font-size: 11px; }
img { border:none; display: inline; }
table  { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; }
a { text-decoration: none; color: #ffffff; }
a:hover { color: #fbe800; text-decoration: none; }
p { margin:10px 0;}

.clear1 { clear: left; }
.clear2 { clear: both; }
/*--------------------------------------------*/


#wrap { width: 1000px; text-align: left; margin: 0 auto; }
#main { position: relative; float: left; width: 1000px; }
.flag { float:right; width: 60px; padding-bottom: 8px; }
.flag a { float: left; }

.logo-fnaim { position:absolute; top: 0; left: 695px; }

#refmarquee { position: absolute; width: 896px; top: 100px; left: 0; }

.logo { text-align: center; margin: 0 auto; } 

.left-menu { float: left; width: 9px; height: 51px; }
.right-menu { float: left; width: 8px; height: 51px; }
#menu-fr { float: left; width: 983px; background: url(../images/fond_menu.gif) repeat-x; height: 51px; overflow: hidden; }
#menu-fr ul { margin: 0; padding: 0; }
#menu-fr ul li { float: left; list-style-type: none; height: 51px; overflow: hidden; background: url(../images/separ_menu.gif) right no-repeat; }
#menu-fr a { display: block; float: left; height: 51px; line-height: 51px; text-align: center; color: #4d4e4f; font-weight: bold; text-transform: uppercase; padding: 0 32px; font-size: 11px; }
#menu-fr a:hover { background: url(../images/bg_menu.gif) repeat-x 0 -51px; color: #000000; }

#menu-en { float: left; width: 983px; background: url(../images/fond_menu.gif) repeat-x; height: 51px; overflow: hidden; }
#menu-en ul { margin: 0; padding: 0; }
#menu-en ul li { float: left; list-style-type: none; height: 51px; overflow: hidden; background: url(../images/separ_menu.gif) right no-repeat; }
#menu-en a { display: block; float: left; height: 51px; line-height: 51px; text-align: center; color: #4d4e4f; font-weight: bold; text-transform: uppercase; padding: 0 33px; font-size: 11px; }
#menu-en a:hover { background: url(../images/bg_menu.gif) repeat-x 0 -51px; }

.ttl-search { padding-top: 10px; }
.txt-content { font-size: 11px !important; color: #525252;  text-align: justify;}
#right .txt-content  a { color: #FFEF1A; }


#min-height { width: 10px; float:left; height: 400px; min-height: 400px; }
#navigue { width: 980px; float:left; }


#main-flash { height: 196px; overflow: hidden; margin: 15px auto 4px; }
#flash { float: left; width: 660px; height: 196px; }

.right-fls { float: right; width: 337px; }
.gest-loc-fr { background: url(../images/bg_gestion_fr.gif) no-repeat; height: 95px; margin-bottom: 5px; }
.gest-loc-fr div { padding: 70px 0 0 17px; color: #fff; font-size: 18px; }
.gest-loc-fr div a { color: #7f7f81; font-size: 11px; text-decoration:underline; }
.gest-loc-fr div a:hover { color: #fff; }

.gest-loc-en { background: url(../images/bg_gestion_en.gif) no-repeat; height: 95px; margin-bottom: 5px; }
.gest-loc-en div { padding: 70px 0 0 17px; color: #fff; font-size: 18px; }
.gest-loc-en div a { color: #7f7f81; font-size: 11px; text-decoration:underline; }
.gest-loc-en div a:hover { color: #fff; }

.estim-fr { background: url(../images/bg_estimation_fr.gif) no-repeat; height: 96px; color: #fff; }
.estim-fr div { padding: 70px 0 0 17px; color: #fff; width: 200px; }
.estim-fr div a { color: #7f7f81; font-size: 11px; text-decoration:underline; }
.estim-fr div a:hover { color: #fff; }

.estim-en { background: url(../images/bg_estimation_en.gif) no-repeat; height: 96px; color: #fff; }
.estim-en div { padding: 70px 0 0 17px; color: #fff; width: 200px; }
.estim-en div a { color: #7f7f81; font-size: 11px; text-decoration:underline; }
.estim-en div a:hover { color: #fff; }

#main-content { background: url(../images/bg_content.gif) no-repeat; width: 1000px; padding-bottom: 15px; }
#bloc-mot { height: 62px; width: 1000px; }
.ttl-mot { float: left; width: 160px; text-align: center; }

#main-mot { float: left; width: 840px; position: relative; }

#content { width: 1000px; background: url(../images/reap_content.gif) repeat-y; }
#top-content { width: 1000px; background: url(../images/top_content.gif) top no-repeat; }
#bot-content { width: 1000px; background: url(../images/bot_content.gif) bottom no-repeat; padding: 16px 0 22px 0; }

#left { float: left; width: 227px; margin-right: 4px; }
#main-left { width: 167px; margin: 0 auto; } 
#main-left .ttl-left { font-weight: bold; padding-bottom: 15px; color: #4c4c4e; }
#main-left .ttl-left strong { color: #ffef1a; }

#center { float: left; width: 429px; }
#main-center { width: 402px; margin: 0 auto; }
.div-cdc { width: 402px; padding: 10px 0 15px 0; float: left; }
.photo-cdc { float: left; width: 150px; }
.photo-cdc img { width: 139px; height: 86px; border: 1px solid #fff; }

.votre-agence { color: #4c4c4e; }

.contenu-cdc { float: left; width: 252px; }
.contenu-cdc p { margin: 0; padding: 0; line-height: 14px;font-size: 11px; color: #4c4c4e; } 
.contenu-cdc a, .prix-cdc { font-weight: bold; color: #4c4c4e; }
.contenu-cdc a:hover { color: #fff; }

.link-savoir a { color: #ffef1a !important; text-decoration:underline; font-size: 11px; }
.link-savoir a:hover { color: #fff !important; text-decoration:underline; }

#right { float: right; width: 337px; }
.main-right { width: 300px; margin: 0 auto; }
.main-right a { color: #7f7f81; text-decoration: underline; }
.main-right a:hover { color: #575757; }
.ttl-right { padding-bottom: 15px; }
.ttl-right span { color: #ffef1a; font-weight: bold; text-align: left;}
.main-right span {font-size: 13px;text-align: left;}
.main-right div,
.main-right p,
.main-right
{font-size: 13px;}

#footer { width: 100%; background: url(../images/bg_footer.gif) repeat-x #48484a; }
#main-footer { width: 1000px; text-align: left; margin: 0 auto; padding: 10px 0; }

#left-foot { float: left; width: 220px; }
.ttl-foot { color: #ffef1a; height: 30px; line-height: 30px; }
.ttl-foot a { color: #ffef1a; }
.ttl-foot a:hover { color: #fff; }

.link-foot { color: #7f7f81; line-height: 22px; }
.link-foot a { text-decoration: underline; color: #7f7f81; }
.link-foot a:hover { text-decoration: underline; color: #ffef1a; }

#center-foot { float: left; width: 429px; }
#portef { width: 420px; padding-top: 5px; color: #575757; }

#right-foot { float: left; width: 341px; }
.carte { border: 1px solid #FFFFFF; width: 292px; height: 186px; }

#RechResultat .blocAnnonce .descr { margin: 0 auto; }
.txt-agency p { font-size: 14px; font-weight: bold; color: #910d0f; }

/*-----------------*/
/*Page plan */
#Plan_Ctn a { text-decoration: underline; color: #ffef1a; }
#Plan_Ctn a:hover { text-decoration: underline; color: #FFFFFF; }

/*guide*/
#MenuGuide { 
	text-align: left; 
}
#MenuGuide table { 
	margin: 0 auto; 
}
#MenuGuide a {
	font-weight: bold;
	color: #575757; 
	text-decoration: none; 
	line-height: 20px; 
}

#MenuGuide a:hover { 
	color: #7f7f81; 
}

#MenuGuide td { 
	text-align: left; 
}

#PageDossiers table { 
	margin: 0 auto; 
	width: 100%; 
}

#PageDossiers p { 
	margin: 5px 0; 
}

#PageDossiers td { 
	padding: 2px 5px; 
}

.txtTitre3, .grasnews { 
	color: #fbe800; 
	font-weight: bold; 
	font-size: 13px; 
	text-align: left;
	font-variant: small-caps; 
}

.gras {
	padding: 2px 5px 2px;
	background: none;
	color: #fbe800;
	font-weight: bold;
}

.gras u { 
	text-decoration: none; 
}

.encadre {
	border: none;
	padding: 5px;
	background: #222;
	line-height: 14px;
	border: 1px solid #282828;
}

.encadre table {
	width: 100%;
}

.encadre .gras {
	padding: 0;
	margin-bottom: 5px;
	background: none;
	color: #7f7f81;
	line-height: 12px;
}

.encadre a { 
	color: #3a3939; 
}

.encadre a:hover { 
	color: #3a3939; 
}

.table_news strong { 
	color: #7f7f81; 
}

.table_news, .encadre table {
	border-top: 1px solid #282828;
	border-left: 1px solid #282828;
	border-bottom: none;
	border-right: none;
	background: #222;
}

.table_news td, .encadre td {
	border-bottom: 1px solid #282828;
	border-right: 1px solid #282828;
	border-left: none;
	border-top: none;
	background: #222;
	font-size: 10px;
	padding: 5px;
}
   
.table_news .gras {
	padding: 3px 5px;
	margin: 0;
	background: none;
	color: #4e5154;
	line-height: 12px;
}

	/*page formulaire*/
.tabFond1 { background: none; width: 960px; margin: 0 auto; }
.tabFond1 td { padding: 2px 10px; }
.tabFond1 table { text-align: left; }
.tabTitre { font-size: 13px; height: 25px; color: #4D4E4F; font-weight: bold; text-align: center; background: url(../images/bg_ttl.gif) repeat-x #c7b801; line-height: 25px; }
.messageNomAgence, .estimationNomAgence { font-size: 18px; text-align: center; color: #fff; margin: 0; padding: 5px; font-weight: bold; display: block; }
.tabFond1 .Input { margin-bottom: 2px; }
#CguFormulaire { background: #0f0f0f; padding: 10px; text-align: left; color: #fff; border: 1px solid #282828; }
#CguFormulaire a { color: #575757; text-decoration: underline; }
#CguFormulaire a:hover { color: #fff; }
table#tab-fond { width: 600px; margin: 0 auto; }
.imputborder { border: none; background-color: white; }
	/*page alerte*/
#PageAlert { border-bottom: 1px solid #b8b7b3; border-top: 1px solid #b8b7b3; padding: 15px 0; }
#PageAlert font { color: #7f7f81; }
#PageAlert td { text-align: left; }
#PageAlert strong { color: #7f7f81; }
#PageAlert a { font-size: 14px; font-weight: bold; color: #575757; display: block; margin-left: 50px; padding-left: 20px; background: url(../images/arrow3.gif) no-repeat; width: 400px; line-height: 14px; height: 14px; }
#PageAlert a:hover { width: 400px; line-height: 14px; height: 14px; background-position: 0 -14px; font-size: 14px; color: #7f7f81; text-decoration: none; display: block; margin-left: 50px; padding-left: 20px; }

/*IE8*/
.BoutonFormContact, .BoutonFormRecherche, .boutonEnvoi, td#ChampsBouton input { width: 149px; height: 25px; }

.titrePageOutils { display: none; }

 /*alerte email*/
#AlerteImmo { background: none; border: none; padding: 0; }
#AlerteImmo #AlerteTitre01 { width: 960px; background: url(../img/alerteimmo_titre_fond01.gif) no-repeat; }
#AlerteImmo #AlerteTitre01 h5 { background: none; }
#AlerteImmo #AlerteTitre01 h5 span { color: white; font-weight: normal; text-transform: uppercase; width: 800px; overflow: hidden; }
#AlerteImmo h2 { color: #fff; }
#AlerteImmo h4, #AlerteImmo h5 { color: #fff; }
#AlerteImmo #AlerteConfirmation p.confirmation { color: #fff; }
#AlerteImmo h5.retourAccueil a { color: #fff; }
#AlerteImmo h2 { color: #fff; }
#AlerteImmo * { color: #fff; }

/*marquee*/
#AnnoncesDefilantes, #AnnoncesDefilantes a { color: #000000; }

/*liste villes*/
.ListeVilles, .ListeVilles a, .ListeVilles a strong { color: #7f7f81; font-weight: normal; text-align: justify; }
.ListeVilles a:hover, .ListeVilles a:hover strong { color: #ffef1a; }

/*produits*/
#Portefeuille01 h3, #Annonces01 h3 { border-bottom: none; color: #0082be; font-weight: bold; font-size: 15px; display: none; }

#main-left .typeBien, #main-left .nbAnn { color: #4c4c4e; margin-left: 10px; }
#main-left .typeTransac { color: #4c4c4e; font-weight: bold; }
#main-left .typeBien a:hover, #main-left .nbAnn a:hover { text-decoration: underline; }

/*pud_annonces*/
#Annonces01 .ann_ctn { background: url(../img/ann01_fd_01.gif) no-repeat; }
#Annonces01 .ann_ctn .ann_fd { display: none;}

/*autres*/
#DetailAnnonce .RetourHaut a { color: #FFFFFF; }
#DetailAnnonce .RetourHaut a:hover { color: #fbe800; }
#DetailAnnonce #LiensRetour a.prev, #DetailAnnonce #LiensRetour a.acc, #DetailAnnonce #LiensRetour a.lien_form_contact { color:#FFFFFF; } 

/*editeur*/
#Editeur {color : #444; font-size : 12px; }
#Editeur h1 {color : #7f7f81; font-size : 16px; }
#Editeur h1 span{color : #444; font-size : 16px; }
#navigue #Editeur h2 { color : #7f7f81; font-size :16px; }
#navigue #Editeur h2 span{color : #444; font-size :14px; }
#Editeur h3 {color : #7f7f81; font-size : 13px ;}
#Editeur h3 span {color : #444; font-size : 13px ;}
#Editeur p {color : #444; font-size :12px ; margin: 0; padding: 0; }
#Editeur p span{color : #444; font-size : 12px ;}
#Editeur p strong { color: #7f7f81; }
#Editeur a {color : #7f7f81; font-size : 11px ;}
#Editeur a : hover{color : #444; font-size :11px ;}
#Editeur ul{}
#Editeur li{ color : #444; font-size : 11px;}
#Editeur span *{color : #444 !important; font-size : 11px;}
#Editeur table, #Editeur  td {border:none !important;padding:0 ;margin : 0 ;}

/*--------------------------------------------------------------------------*/


.page-edit, .page-edit-agence {color: #fff; font-size : 12px; line-height:16px;}

.page-edit h4 { background: url(../images/bg_ttl.gif) repeat-x #c7b801; height:20px; color:#4d4e50;padding:5px 0 0 10px; font-size:14px;}
.page-edit-agence h4 { background:#a7a7a9; height:30px; color:#4d4e50;font-size:13px;line-height:25px;}


#RechHaut #RechHautCtn h2 span { color:#000;}

#col_gauche a{color:#fff;}
#col_droite a{color:#fff;}
