// VAR COLORS
$color-body:#01114d;
$color-content:#01114d;
$color-block:#fff;
$color-primary:#011664;
$color-secondary:#01114d;
$color-action:#cf0836;
$color-important:#0022a2;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#fff;
