// VARIABLES COLORS
$color-body:#FFFFFF;
$color-content:#89744d;
$color-block:#F7F7F7;
$color-primary:#121011;
$color-secondary:#323232;
$color-action:#989898;
$color-important:#A5945D;
$color-nav-footer:#a4a4a4;
$color-ter:#004a6b;

// COLOR PUB
$color-pub:"white-opacity";

// COLOR FONT BODY DEFAULT
$color-font-body:#333;