@import "color";
// BG SOLO
$bg-uni:yes;

// PICTURE BG
$picture-bg:no;
$picture-bg-url:'../images/degrade_bg.png';
$picture-bg-repeat-horizontal:no;

// SIZE PICTURE AREA : FULLSCREEN OR NOT
$height-container:500;

// VARIABLE SITE TYPO
$font-body:"Questrial",verdana,sans-serif;
$font-title:"Libre Baskerville",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST > FONT-SIZE-TEXT
$font-size-text:1.4em;
$font-size-title:1.8em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:none;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:normal;

// ARRONDI POUR LES EFFETS SUR LI HOVER/FIL ARIANE/BOUTON
$arrondi:no;

// BORDER EFFECT ON NAV
$border-nav:yes;

// TYPE MENU : FLAT = COLOR BANNER BEHIND, NO FLAT = SHAPE OR NOT
// LINK TO VAR ID3X >>> MENU_TYPE
$type-menu:no-flat;

// STYLE NAV : IF YES = SHAPE BEHIND WORD, IF NO SHAPE BEHIND WORD ON HOVER
$shape:no;

// MARGIN UNDER NAV FIXE
$margin-top-under-nav-fixe:213;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS
@import "../../../slagence_X_V5/sources/scss/boutons/lib1";

// IMPORT TEMPLATE LONDRES
@import "../../../slagence_X_V5/sources/scss/templates/londres";

// IMPORT MODULE ANNONCES2
@import "../../../slagence_X_V5/sources/scss/modules/annonces9";

// IMPORT MODULE PUB LIB3
@import "../../../slagence_X_V5/sources/scss/pubs/lib6";

// SPRITE BLANC
@import "../../../slagence_X_V5/sources/scss/sprites/social-blanc";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";

// IMPORT MODULE SOUS MENU
@import "../../../slagence_X_V5/sources/scss/sous_menu/lib1";


//---------------------------------------------------------------------------------------------------------------------------------------
//		PERSO ANN_MMG
//---------------------------------------------------------------------------------------------------------------------------------------

//---------------------------------------------------------------------------------------------------------------------------------------
//		GENERAL
//---------------------------------------------------------------------------------------------------------------------------------------

	//---------------------------------------------------------------------------------------------------------------------------------------
	//		CONTAINER
	//---------------------------------------------------------------------------------------------------------------------------------------

.container {
	width:1170px;
	padding: 0 15px;
	@media only screen and (max-width : 1170px) {
		width:100%;
	}
}

	//---------------------------------------------------------------------------------------------------------------------------------------
	//		BTN
	//---------------------------------------------------------------------------------------------------------------------------------------

.btn-primary {
	background:$color-primary;
	color:$color-body;
	&:hover {
		background:$color-primary-light-10;
	}
}

	//---------------------------------------------------------------------------------------------------------------------------------------
	//		TYPO
	//---------------------------------------------------------------------------------------------------------------------------------------

.typo-ter {
	color:$color-ter;
}

	//---------------------------------------------------------------------------------------------------------------------------------------
	//		MENU & NAV
	//---------------------------------------------------------------------------------------------------------------------------------------
	
.menu-principal {
	font-size:1.2em;	
	>li>a {
		font-family:$font-body;
		text-transform:uppercase;
		font-weight:700;
		padding: 10px 30px;
		&:hover {
			color:$color-body;
		}
	}
}

@media only screen and (max-width : 767px) {
        header .logo img {
        width: 30%;
        }
}

body > header > aside > div > div > ul > li:nth-child(7) > span > div, body > header > aside > div > div > ul > li:nth-child(8) > span > div {
	position: absolute;
    right: 357px;
    display: block;
    width: 170px;
    background: none;
    border: none;
    font-size: 1.4em;
    top: 2px;
    font-family:$font-title;
    color:$color-nav-footer;
    &:hover {
    	background:none;
    	cursor:pointer;
    }
}

//---------------------------------------------------------------------------------------------------------------------------------------
//		INDEX
//---------------------------------------------------------------------------------------------------------------------------------------


	//---------------------------------------------------------------------------------------------------------------------------------------
	//		MOTEUR
	//---------------------------------------------------------------------------------------------------------------------------------------
.titre-budget {
	color:$color-body;
}

	//---------------------------------------------------------------------------------------------------------------------------------------
	//		ENCART PUB
	//---------------------------------------------------------------------------------------------------------------------------------------
.pub-proprietaire {
    background-size: cover;
    background-image: url('../images/pub/bg-proprietaire.jpg');
}

.pub-programmes {
    background-size: cover;
    background-image: url('../images/pub/bg-programmes.jpg');
}

.pub-contact {
    background-size: cover;
    background-image: url('../images/pub/bg-contact.jpg');
}

.bg-pub-proprietaire, .bg-pub-contact, .bg-pub-programmes {
	background:$color-important-light-10;
}

.btn-pub:hover {
	text-decoration:none;
}

.zone-pub h3 {
	text-transform:none;
}

//---------------------------------------------------------------------------------------------------------------------------------------
//		LISTING ANNONCES
//---------------------------------------------------------------------------------------------------------------------------------------


	//---------------------------------------------------------------------------------------------------------------------------------------
	//		PRESENTATION ANNONCE
	//---------------------------------------------------------------------------------------------------------------------------------------

.recherche-annonces{
	box-shadow:none;
	border-bottom:5px solid $color-important;
	margin-bottom: 20px;
}

//---------------------------------------------------------------------------------------------------------------------------------------
//		DETAIL ANNONCES
//---------------------------------------------------------------------------------------------------------------------------------------


	//---------------------------------------------------------------------------------------------------------------------------------------
	//		BTN
	//---------------------------------------------------------------------------------------------------------------------------------------
.btn-contact-agence {
	background-image:none;
	background-color:$color-ter;
	&:hover {
		background-image:none;
		background-color:darken($color-ter,5);
	}
}

.honoraires sup{
	font-size:1.4em;
}

//---------------------------------------------------------------------------------------------------------------------------------------
//		ESITMATION
//---------------------------------------------------------------------------------------------------------------------------------------


	//---------------------------------------------------------------------------------------------------------------------------------------
	//		ADRESSE
	//---------------------------------------------------------------------------------------------------------------------------------------
.adresse-estimation{
	display:none;
}

	//---------------------------------------------------------------------------------------------------------------------------------------
	//		BTN
	//---------------------------------------------------------------------------------------------------------------------------------------

.btn-estimation-transaction{
	display:none;
}

#etape-1 > div:nth-child(2) > div > div {
	display:none;
}

//---------------------------------------------------------------------------------------------------------------------------------------
//		OUTILS
//---------------------------------------------------------------------------------------------------------------------------------------

	//---------------------------------------------------------------------------------------------------------------------------------------
	//		SUPPRIMER LOCATION
	//---------------------------------------------------------------------------------------------------------------------------------------

#accordion-outils > div:nth-child(4){
	display:none;
}

//---------------------------------------------------------------------------------------------------------------------------------------
//		DETAIL AGENCE
//---------------------------------------------------------------------------------------------------------------------------------------

	//---------------------------------------------------------------------------------------------------------------------------------------
	//		SUPPRIMER DIRECTEUR
	//---------------------------------------------------------------------------------------------------------------------------------------

.agence-responsable {
	display:none;
}