<!--#include virtual="styles/all_global_macros.htm" -->
<!--#include virtual="styles/macros_pictos.htm" -->
<!--#include virtual="styles/macros_path.htm" -->

body{margin:0; background: url($$PATH_IMG_PAOPT3$$/bg_body.gif) repeat-x $$BG_SITE$$;font-family: $$FONT_FAMILY$$;}
div,td { font-family: Arial, Helvetica, sans-serif; font-size:$$FONT_SIZE$$; color: $$TXT_PRINCIPAL$$; }
img { border:none; display: inline; }
table  { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; }
a { text-decoration: none; color: $$TXT_LIEN$$; }
a:hover { color: #313132; }

.clear { clear: left; }
.clear2 { clear: both; }
img{border: none;}

#wrapper{width: 960px;overflow: hidden; margin:0 auto; position: relative;}

#topref{height: 60px; line-height: 60px;font-size: 11px; color: #7f7f7f;}
#topref h1{font-size: 11px;font-weight: normal; margin: 0;}
#topref a{ color: #7f7f7f;text-decoration: none;}
#topref a:hover{color:#eee;}

#menu{height: 60px;}
#menu #logo{float: left;margin-right: 20px;}
#menu ul{float: right;}
#menu ul, #menu li{margin:0; padding:0; list-style: none;}
#menu li{float: left;padding:10px 10px;}
#menu a{font-family: Georgia; font-size: 14px; font-style: italic; color: #fff;text-decoration: none;text-shadow: 2px 2px 2px #000; text-transform: uppercase; }
#menu a:hover{color: #ccc;}

#carrousel{clear: both; height: 250px; padding-left: 30px; }

#content {color: #fff;}
#content, #content p{font-size: 12px;}
#content a{color: #ee6d06;text-decoration: none;}
#content a:hover{text-decoration: underline;}
#content .ttl-pages{color: #ee6d06;font-size: 22px;font-family: Georgia;}
#content .BoutonFormContact{width: 130px; height: 40px; }
#content .tabTitre{background: #ee6d06; color: #fff; font-size: 14px;font-family: Georgia;padding:4px 0;}
#content .messageNomAgence,#content .estimationNomAgence{font-size: 16px;font-family: Georgia;}
#content .tabFond1 table td{padding: 2px 0;}

#bienvenue{width: 680px;float: left;font-size: 12px; color: #888988;}
#mobile{background: url($$PATH_IMG_PAOPT3$$/bg_mobile.gif) no-repeat center right;width: 160px; height: 80px; color: #fff;float: right;font-family: Georgia; font-size: 15px;font-style: italic;text-align: right; padding-right: 80px;}
#mobile em{font-size: 13px;}

#adresse{text-align: center;font-family: Georgia; font-size: 15px; color: #fff;margin: 20px 0;height: 20px;}

#footer{background: #101010; border: solid 1px #010101;font-size: 10px; color: #c1bfbf;margin-bottom: 30px; width: 958px; margin: 0 auto 20px; }
#footer a{font-size: 10px; color: #c1bfbf;text-decoration: none;}
#footer a:hover{color: #ee6d06;}
#footer #Portefeuille01{height: 100px; overflow: auto;width: 200px;font-size: 10px;}
#footer #Portefeuille01 h3{font-size: 11px;margin-top:0;}
#footer #Portefeuille01 a.typeBien{padding-left: 10px;font-size: 10px;}

#footer .blocfoot{height: 100px; float: left; width: 215px;margin: 10px;font-size: 10px; overflow: auto; }
#footer .blocfoot h6 { display: none; }
#footer .blocfoot h4 { margin: 0; padding: 0; }
/* Personnalisation Recherche Carto */

/*autres*/
.accordion_content .inputCalcul { background: #000; }

/* CODE POUR UN FOND SOMBRE */
#MapMicrosoft #MapHead h3, #MapMicrosoft h6{background: none !important; padding-left: 0 !important;}
#MapMicrosoft{background: none !important; border: none !important;}
#MapMicrosoft #MapHead p{color: #888988 !important;}
#MapMicrosoft .geolocInfo {background: none;}
#content a.ann_pht{color: #000;}

/* FIN CODE FOND SOMBRE */

.boutonEnvoi{width: 130px; height: 40px;}
#Plan_Ctn .planSite { display: none; }
#RechercheContainer #AlerteEmail #AlerteForm input.alerte{color: #333;}

/*CARTO*/
#MapContent #MapNiveauZoom h4,.VE_Pushpin_Popup_Title,.VE_Pushpin_Popup_Body a {color: #EE6D06 !important;}

.link-fbook { background: url($$PATH_IMG_PAOPT3$$/pic-fb.gif) right no-repeat; padding-right: 20px; height: 20px; width: 270px; line-height: 20px; text-align:center; margin: 0 auto 10px; }
.link-fbook a { text-decoration: underline!important; color: #EE6D06!important; }
.link-fbook a:hover { color: #fff!important; }

#MapMicrosoft #MapHead ul { margin: 0; padding: 0; }
#MapMicrosoft #MapHead ul li { list-style-type: none; }

/*minimoteur*/
#minimot{height: 60px;}
.miniDiv { float: left; width: 125px; margin-right: 30px; }
.miniTitre, .miniDivSelect  { float: none; width: 125px; color: #fff; font-size: 11px; }
select.miniSelect { width: 125px; color: #000; font-size: 10px; }
#MiniGeolocalisation .miniTitre { float: left; width: 130px; }
#MiniBouton .boutonSubmit { font-size: 0; width: 130px; height: 40px; }

/*IE8*/
#Moteur #MoteurBouton .inputSubmit { width: 130px; height: 40px; font-size: 0; }
#FormContactAgence .inputSubmit, #ChampsBouton .inputSubmit { background: #101010; border: 1px solid #000; color: #fff; }

/*recherche*/
.contactAnn { background: #000; }

/*detail*/
#Annonce_Ctn td#ColonneGauche, #Annonce_Ctn td#ColonneDroite { border: 1px solid #000; }
#Dpe .diagramme { height: 265px; }




/* ###### selection annonces ####### */

#bloccdc {margin: 10px 0 0 0;}
.selectionIndex { margin: 0; }
.selectionIndex_Ctn { float: left; width: 198px; background: none; border: none; margin:0 20px; height: auto !important; }
.selectionPhoto_ctn { width: 196px; height: 117px; border: 1px solid #fff; }
.selectionPhoto_ctn img { width: 196px; height: 117px; }
.selectionPrix, .selectionVille strong, .selectionDescr strong { font-weight: normal !important; font-size: 11px; color: #ee6d06;}
.selectionDescr { font-size: 11px; }

.selectionSurface, .selectionNbPieces, .selectionDetail, .nbPhotos_ctn { display: none; }
.selectionPhotoImg { display: block; }