// VAR COLORS
$color-body:#515459;
$color-content:#f3f3f3;
$color-block:#44474c;
$color-primary:#44474c;
$color-secondary:#373A3F;
$color-action:#AAADB2;
$color-important:#373a81;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#fff;