body { margin: 0; padding: 0; background: url(../images/bg_body.gif) repeat-x #fff; text-align:center; }
div,td { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:11px; color: #000; }
img { border:none; display: inline; }
table  { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; }
a { text-decoration: none; color: #000; }
a:hover { text-decoration: underline; }
p { margin:10px 0;}
.clear1 { clear: left; }
.clear2 { clear: both; }

/*---------------------------*/
#wrapper { position: relative; width: 1020px; text-align: left; margin: 0 auto; background: url(../images/bg_main_reap.gif) repeat-y; }
.left { float: left; width: 10px; }
.right { float: left; width: 10px; }

#main { width: 1000px; float: left; }
#wrap { width: 992px; margin: 0 auto; background: url(../images/bg_main.gif) repeat-y; }

#left { width: 300px; float: left; }
#logo { height: 147px; overflow: hidden; }
#menu { width: 300px; }
#menu ul { margin: 0; padding: 0; }
#menu li { list-style-type: none; float: left; }
#menu a { display: block; background-repeat: no-repeat; width: 300px; }
#menu a:hover { display: block; background-repeat: no-repeat; background-position: -300px 0; }

#menu .mn1 { background: url(../images/menu1.gif) no-repeat; height: 70px; }
#menu .mn2 { background: url(../images/menu2.gif) no-repeat; height: 65px; }
#menu .mn3 { background: url(../images/menu3.gif) no-repeat; height: 65px; }
#menu .mn4 { background: url(../images/menu4.gif) no-repeat; height: 71px; }
#menu .mn5 { background: url(../images/menu5.gif) no-repeat; height: 68px; }
#menu .mn6 { background: url(../images/menu6.gif) no-repeat; height: 72px; }

#right { width: 690px; float: right; }

.links-top ul { margin: 0; padding: 0; }
.links-top li { list-style-type: none; height: 27px; line-height: 35px; background: url(../images/sep_top.gif) no-repeat; text-align: center; padding: 0 10px; float: right; margin-bottom: 4px; _margin-bottom: 0; margin-top: 40px; }
.links-top a { font-weight: bold; }

#content { width: 690px;overflow: hidden; }
#navigue { padding: 25px 15px; _padding:25px 10px; }

.progneuf { float: left; width: 227px; background: url(../images/bg_progneuf.gif) repeat-x #ffbe7e; margin-right: 4px; height: 265px;overflow: hidden; } 
.pad-neuf { width: 215px; margin: 0 auto; }
.foto { border: 3px solid #fff; margin:0; padding:0; }
.txt-neuf { padding: 5px 0 8px 0; }
.txt-neuf2 { padding: 5px 0 21px 0; }
.sav-plus a { background: url(../images/picto_progneuf.gif) no-repeat 0 0; padding-left: 30px; height: 24px; line-height: 24px; display: block; margin-bottom: 6px; font-weight: bold; font-size: 10px; }

.constructeur { float: left; width: 227px; background: url(../images/bg_constructeur.gif) repeat-x #d9eab3; margin-right: 4px; height: 265px;overflow: hidden;} 
.sav-plus2 a { background: url(../images/picto_constructeur.gif) no-repeat 0 0; padding-left: 30px; height: 24px; line-height: 24px; display: block; margin-bottom: 6px; font-weight: bold; font-size: 10px; }

.promoteur { float: left; width: 227px; background: url(../images/bg_promoteur.gif) repeat-x #fffecb; height: 265px;overflow: hidden; } 
.sav-plus3 a { background: url(../images/picto_promoteur.gif) no-repeat 0 0; padding-left: 30px; height: 24px; line-height: 24px; display: block; margin-bottom: 6px; font-weight: bold; font-size: 10px; }

#footer { background: url(../images/bg_footer.gif) no-repeat; width: 1020px; height: 69px; margin: 0 auto; text-align: left; margin-bottom: 25px; }
.coords { float: left; padding: 18px 0 0 12px; color: #8a807f; }

.links-foot { float: right; padding: 20px 23px 0 0; color: #8a807f; }
.links-foot a { color: #8a807f; }
.links-foot a:hover { color: #000; text-decoration: none; }

#invest{ list-style:none; }
#invest li{ height:175px; margin-bottom:15px; }

#constructeur img {float:left; margin-right: 10px; border:none; margin-top:5px;}
#constructeur .Corange p {font-weight:bold; font-size:20px; color:#FFBE7E;}
#constructeur .Corange span {color:#DE8C80; padding-bottom:5px;}
#constructeur .Corange img {border:2px solid #FFBE7E;}

#constructeur .Cbleu p {font-weight:bold; font-size:20px; color:#CCCCFE;}
#constructeur .Cbleu span {color:#DE8C80; padding-bottom:5px;}
#constructeur .Cbleu img {border:2px solid #CCCCFE;}

#constructeur .Cvert p {font-weight:bold; font-size:20px; color:#D9EAB3;}
#constructeur .Cvert span {color:#DE8C80; padding-bottom:5px;}
#constructeur .Cvert img {border:2px solid #D9EAB3;}

#constructeur .Cjaune p {font-weight:bold; font-size:20px; color:#E9CD84;}
#constructeur .Cjaune span {color:#DE8C80; padding-bottom:5px;}
#constructeur .Cjaune img {border:2px solid #E9CD84;}

.bigconstru {font-size:18px; font-weight:bold;color:#FF8C1B;}

/*---------------------------------------*/

/*page formulaire*/
.tabFond1 {
    background: none;
}

.tabFond1 td {
    padding: 2px;
}

.tabFond1 table {
    text-align: left;
}

.tabTitre {
    font-size: 11px;
    color: #fff;
    margin: 0 0 5px 0;
    padding: 0;
    font-weight: bold;
    text-align: center;
    background: url(../images/bg_ttl.gif) repeat-x #d6d6d6;
	line-height: 22px;
}

.messageNomAgence, .estimationNomAgence {
    font-size: 18px;
    text-align: center;
    color: #ff8426;
    margin: 0;
    padding: 5px;
    font-weight: bold;
    display: block;
}

.tabFond1 .Input {
    margin-bottom: 2px;
}

#CguFormulaire {
    background: #a0c4f1;
    padding: 5px 10px;
    text-align: left;
    color: #000;
}

#CguFormulaire a {
    color: #fff;
    text-decoration: underline;
}

#CguFormulaire a:hover {
    color: #000;
    text-decoration: none;
}
/*guide*/
#MenuGuide {
    text-align: left;
}

#MenuGuide table {
    margin: 0 auto;
}

#MenuGuide a {
    font-weight: bold;
    color: #000;
    text-decoration: none;
    line-height: 20px;
}

#MenuGuide a:hover {
    color: #9b9b9b;
}

#MenuGuide td {
    text-align: left;
}

#PageDossiers table {
    margin: 0 auto;
    width: 100%;
}

#PageDossiers p {
    margin: 5px 0;
}

#PageDossiers td {
    padding: 2px 5px;
}

.txtTitre3, .grasnews {
    color: #000;
    font-weight: bold;
    font-size: 12px;
    text-align: left;
}

.gras {
    padding: 2px 5px 2px 15px;
    background: url(../images/Puce_Agence.gif) 0 3px no-repeat;
    color: #000;
    font-weight: bold;
}

.gras u {
    text-decoration: none;
}

.encadre {
    border: none;
    padding: 5px;
    background: #d6d6d6;
    line-height: 14px;
}

.encadre table {
    width: 100%;
}

.encadre .gras {
    padding: 0;
    margin-bottom: 5px;
    border: none;
    background: none;
    color: #000;
    line-height: 12px;
}

.encadre a {
    color: #030e77;
}

.encadre a:hover {
    color: #008593;
}

.table_news strong {
    color: #000;
}

.table_news, .encadre table {
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-bottom: none;
    border-right: none;
    background: #d6d6d6;
}

.table_news td, .encadre td {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    border-left: none;
    border-top: none;
    background: #d6d6d6;
    font-size: 10px;
    padding: 5px;
}

.table_news .gras {
    padding: 3px 5px;
    margin: 0;
    background: #ffce89;
    color: #008593;
    line-height: 12px;
}
/**/

	/*page alerte*/
#PageAlert {  padding: 15px 0; padding:15px 15px;  }
#PageAlert font { color: #000; }
#PageAlert td { text-align: left; }
#PageAlert strong { color: #000; }


#PageAlert a { font-size: 14px; font-weight: bold; color: #9b9b9b; display: block; margin-left: 50px; padding-left: 20px; background: url(../images/arrow3.gif) no-repeat; width: 400px; line-height: 14px; height: 14px; }
#PageAlert a:hover { width: 400px; line-height: 14px; height: 14px; background-position: 0 -14px; font-size: 14px; color: #000; text-decoration: none; display: block; margin-left: 50px; padding-left: 20px; }


/*autres*/
.ListeVilles { color: #fff; text-decoration: underline; text-align: justify; }
.ListeVilles strong { font-size: 11px; color: #fff; text-decoration: underline; font-weight: normal; }
.ListeVilles a { color: #fff; text-decoration: underline; }

.nous-situer { color: #99c401; font-weight: bold; text-transform: uppercase; font-size: 14px; padding-bottom: 15px; }

#AnnoncesDefilantes { font-size: 10px; color: #875b00; }
#AnnoncesDefilantes a { font-size: 10px; color: #875b00; }
td#ColonneDroite #InfosComp_Ctn h3 span, td#ColonneDroite #TitreForm h5 { color: #fff; }



/*alerte email*/
#AlerteImmo * { color: #000; }
#AlerteImmo{background: none; border: none; min-height: 400px; _height: 400px;}
#AlerteConfirmation  h4 { color: #444444; }
#AlerteConfirmation  h2 { color: #444444; }
#AlerteConfirmation  h5 { color: #444444; }

#AlerteEmail h2 { color: #444444; }
#AlerteEmail h5 { color: #444444; }
#AlerteImmo #AlerteTitre01{background: url(/alerte/alerteimmo_titre_fond01.gif) 0 0 no-repeat;}
#AlerteImmo #AlerteTitre01 h5{ background: url(../images/alerteimmo_titre_fond02.jpg) no-repeat; }
#AlerteImmo #AlerteTitre01 h5 span{color: #fff; font-size: 18px; }

#AlerteImmo #AlerteConfirmation p.confirmation { color:#444444; }

/*recherche*/
#RechPagesHaut .rechLiensPages a,
#RechPagesBas .rechLiensPages a{ border: none; width: 19px; height: 17px !important; overflow: hidden; padding-top: 4px; }
#RechPagesHaut .rechLiensPages a.actif,
#RechPagesBas .rechLiensPages a.actif{ border: none; }
#RechPagesHaut .rechLiensPages a:hover,
#RechPagesBas .rechLiensPages a:hover{border: none; }

*+html #RechHaut #RechHautCtn #RechHautLiens a { width: 45%; text-indent: 30px; padding: 15px 0; margin: 0; }

#RechercheContainer #AlerteEmail #AlerteForm input.alerteBt { border: 1px solid #9b9b9b;  margin: 10px 0 0 300px; }

#RechResultat .blocAnnonce table.detailsAnn td.photo_wrap .photo_ctn { width: 195px; }

#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .prix, #RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .libelle { font-size: 16px;}

/*detail*/

td#ColonneDroite form table#FormContact td#ChampsMessage textarea { background: #fff; border: 1px solid #9b9b9b; color:#000; }
td#ColonneDroite form table#FormContact td#ChampsNom input, td#ColonneDroite form table#FormContact td#ChampsPrenom input, td#ColonneDroite form table#FormContact td#ChampsTelephone input, td#ColonneDroite form table#FormContact td#ChampsEmail input { background: #fff; border: 1px solid #9b9b9b; color:#000; }

td#ColonneDroite h5#TypeTransaction span, td#ColonneDroite #InfosComp_Ctn h3 span, td#ColonneDroite #TitreForm h5, td#ColonneDroite #TitreContact h5, td#ColonneDroite #InfosComp_Ctn h3 span, td#ColonneDroite #TitreForm h5 { color: #000; }

td#ColonneDroite h5#TypeTransaction span { font-size:13px; padding:5px 0 0 50px; }

td#ColonneDroite #Prix p { font-size:14px; padding:10px 0 0 5px; }


/*autres*/
.pages-int { width: 600px; margin: 0 auto; line-height: 18px; text-align: justify; padding:15px 5px; }
.pages-int td { vertical-align: top; width: 320px; }
.pages-int a { font-weight: bold; }
.photo { text-align: center; width:100%; }
.photo img { padding-bottom: 10px; padding-right:10px; }
.pad-int { padding:15px 15px; text-align:center; }

.foto-pages { float: left; width:100%; }
.foto-pages img { margin-right: 5px; _margin-right:0; }
.title { font-size:15px; font-weight:bold; border-bottom: 2px solid #D9EAB3; width:645px; color:#FF8C1B; background:url(../images/puce.gif) no-repeat; padding-left:20px; }
.ttl_afp { margin-left:60px;}

/*-----------------------------------------------------------------------*/
.texte { line-height:16px; height:16px;}


