// VARIABLES COLORS
$color-body:#1f1d22;
$color-content:#89744d;
$color-block:#2a2a2a;
$color-primary:#000;
$color-secondary:#cec19f;
$color-action:#777c82;
$color-important:#cec19f;
$color-nav-footer:#cec19f;

// COLOR PUB
$color-pub:"white-opacity";

// COLOR FONT BODY DEFAULT
$color-font-body:#c5c5c5;