 /*redéfinir la police par défaut*/
div, td, .Marquee, .ListeVilles { font-family: Verdana, Arial, Helvetica, sans-serif !important; }
.ContenuAnnonce { padding: 0; }
/* Titres */
.Legende { font-family: Arial, Helvetica, sans-serif; }
.Pasdannonce { color: #000; }
.Titre0ann { font-weight: bold; font-size: 14px; color: #ffdc00; }
.BoitePhraseRecherche { font-size: 12px; font-weight: bold; background: none !important; }
.NbAnnonces { color: #d1cb14; font-size: 14px; }
.BoutonLegende {}
.RechercheTri { margin-bottom: 10px; }
/* Pagination */
.NbPages { background-color: #fdf632; padding: 3px 5px; margin: 10px 0; }
.NbPagesNb { color: #646869; font-weight: bold; }
.NbPagesLiens { color: #000; }
.NbPagesLiens a { color: #646869; font-weight: bold; }
/* Popup */
.montrer {
	position:absolute;
	z-index:10;
	top:-20px;
	left:20px;
	width:220px;
	background-color:#eef6f9;
	text-align:center;
	border:1px solid #e9ddc4;
	padding:10px;
}
.montrer a, .montrer a:hover { color: #008493; }
.ContenuPopup { font-weight: normal; color: #370122; }
.Ville1 { color: #370122; }
.DescrTitre { color: #79746b; } 
.close1 { font-size: 10px; }

/* Annonce */
/*  */
.BoiteAnnonce { background-color: #eef6f9 !important; border: none; }
	/*Ligne1 colonne1*/
.Ligne1 { background-color: #4165a8; padding: 5px 0; border-bottom: 1px solid #e9ddc4; }

.Colonne1 { width: 60%; }
.RechercheLibelle { padding-left: 10px; font-size: 14px; }
.RechercheLibelle, .RecherchePrixEuro{ color: #ffdc00; font-weight: bold; font-size: 14px; }
.RechercheSurface, .RechercheSituation { float: left; clear: left; padding-left: 10px; color: #fff; }
.RechercheSurfaceTerrain { font-style: italic; color: #fff; }
.RechercheSituationLien, .RechercheSituationCP { color: #fff; }
.RechercheSituationProximite, .RechercheRefAnnonce { font-weight: bold; color: #fff; }
.RechercheSituationVille { font-weight: bold; color: #ffdc00; }

.Colonne2 { width: 35%; }
.RecherchePrix, .RecherchePrixRent, RecherchePrixFranc { font-style: italic; color: #fff; }
.RechercheRefAnnonce { color: #fff; font-weight: bold; }
	/*ColonnePhoto*/
/* definir ensemble les tailles de ColonnePhoto, ColonneDescriptif et ColonnePicto devant avoir la somme inférieure à celle de la BoiteAnnonce
utliser le test pour la présentation PRESTIGE */
/* redefinir la taille de ColonnePhoto selon la taille du site voire la partie ColonnePhotoExclusif, sur la partie gauche */
.ColonnePhoto, .ColonnePhotoExclusif { margin: 5px; text-align: center; $$IF!:8:FORM:IDTT$$width: 200px;$$END$$$$IF=:8:FORM:IDTT$$width: 300px;$$END$$ }
.RechercheVisuelsPhoto a, .RechercheVisuelsPhoto a:hover { color: #008493; }
a.RechercheVisuelsPhotoLien { padding: 0 0 5px 0; text-align: center; }
/* definir la taille de la photo selon l'information ( petite, moyenne ou grande) */
.RechercheVisuelsPhoto img { border: 2px solid #4165a8; width: 200px; height: 150px; }
.RechercheBoitePrestige img { border: 1px solid #000000; width: 300px; height: 225px; }
	/*Colonne déscriptif*/
/* redefinir la taille de ColonneDescriptif selon la taille du site, sur la partie centrale ou droite selon instruction */
.ColonneDescriptif { margin: 0; text-align: left; float: left;  $$IF!:8:FORM:IDTT$$width: 480px;$$END$$$$IF=:8:FORM:IDTT$$width: 380px;$$END$$ }
.RechercheDescriptif { margin: 10px 10px; color: #515151; }
.RechercheDtFraicheurLibelle { color: #515151; }
.RechercheDtFraicheur { margin: 0 10px 5px 10px; }
	/*colonne pictos*/
/* redefinir la taille de ColonnePicto selon la taille du site, sur la partie droite ou en bas de ColonneDescriptif selon instruction */
.ColonnePicto { width: 240px;  }
/* on peut changer margin-left pour avoir un parfait alignement entre pictos et téléphone */
.RechercheTelephone, .RecherchePlan { width: 220px; margin: 10px 0 5px 0; }
.Picto { margin: 5px; }
.recherchetelephonetitrecontact, .RechercheTelephoneTel, .RechercheProximite { color: #646869; }
.RechercheTelephone { width: 220px; text-align: left; font-size: 12px; font-weight: bold; border: none; }
/* ce bloc a un fond blanc, mettre une couleur bien visible */
.Metro { color: #646869; }

/* Finance */
/* sur ce bloc, ne mettre jamais la taille */
.Finance { background-color: #4165a8; border-top: 1px solid #e9ddc4; }
.RechercheHautLien { color: #ffdc00; }
.RecherchePlusInfo a { color: #ffdc00; }
.RecherchePlusInfo a:hover { color: #ffdc00; }
.RecherchePlusInfoVille { color: #fff; font-weight: bold; }

/* alerte email */
/* changer les couleurs et modifier les tailles de "AlerteEmail" et "AlerteGratuit" si nécessaire */
.BoitePubAlerte {
	width: 99%;
	border: none;
	color : #666467;
	margin-top: 12px;
	padding: 5px 5px 10px 5px;
	background-color: #fdf632 !important;
}
.AlerteEmail {
	width: 20%;
	float: left;
	text-align: center;
}
.AlerteGratuit {
	float: left;
	width: 65%;
	color: #4165a8 !important;
}
.AlerteEmail a{
	font-weight: bold;
	font-size: 1.3em;
	color: #4165a8 !important;
	text-decoration: underline;
	float: left;
	padding-right: 10px;
}

.AlerteEmail a:hover{
	font-size: 1.3em;
	font-weight: bold;
	color : #4165a8 !important;
	display: block;
	text-decoration: underline;
	float: left;
	padding-right: 10px;
}

.AlerteGratuit a {
	font-size: 1.1em;
	display: block;
	float: left;
	font-weight: bold;
	color : #4165a8 !important;
}

.AlerteGratuit a:hover {
	font-size: 1.1em;
	display: block;
	float: left;
	font-weight: bold;
	color : #4165a8 !important;
}

.RechercheHonoraires { color: #fff; }