@font-face {
    font-family: 'BebasRegular';
    src: url('$$_$$styles/typos/BebasNeue.eot');
    src: url('$$_$$styles/typos/BebasNeue.eot?#iefix') format('embedded-opentype'),
         url('$$_$$styles/typos/BebasNeue.woff') format('woff'),
         url('$$_$$styles/typos/BebasNeue.ttf') format('truetype'),
         url('$$_$$styles/typos/BebasNeue.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*------CSS definitive--*/
body { margin: 0; padding:0; background:url($$_$$images/skin/bg.jpg) top center no-repeat #272727; text-align:center;font-family: arial; }
div,td {  font-size:14px; color: #fff; }
img { border:none; display: inline; }
table  { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; }
a { text-decoration: none; color: #ce0035; }
a:hover { color: #fff; text-decoration: none; }
p { margin:10px 0;}
*{margin:0; padding:0 }
ul{list-style-type:none}
.clear { clear: both; }
/*----- decoupage -------*/

#wrapper { background:url($$_$$images/skin/bg-index.jpg) repeat-x #282828; }
#wrapper2 { background:url($$_$$images/skin/bg-nav.jpg) repeat-x #282828; }
#wrap-top { width: 960px; margin: 0 auto; text-align:left; position:relative }

.logo { float: left; width: 82px; padding:35px 0 5px 0px;}
.flag {position:relative; right:180px;}
.adresse-top { float: left; width: 200px; height: 71px; margin:35px 0 0 10px; background:url($$_$$images/skin/bg-adresse.jpg) no-repeat; position:relative; padding-top:25px;}
.reseau { position:absolute; top:7px; right:-5px; }
.adresse-top p {  font-size: 11px; line-height: 5px; padding-left: 8px;}

#bloc-moteur { float: right; width: 500px; position:relative; right:88px; top:40px; margin-bottom:74px;}
#form-login {position:absolute; right:0px; z-index:50;}


#hd-menu { width:960px; position:relative; height: 53px; background: #032E51; }
#hd-menu ul { margin:0; padding: 0; list-style-type:none; }
#hd-menu li { float:left; position:relative; height: 55px; }
#hd-menu li a { display:block; color:#FFF; text-decoration:none; font-size: 24px; color:#ffffff; text-align:center; padding: 0 10px;font-family: 'BebasRegular'; text-transform:uppercase; height: 55px; line-height: 55px; text-shadow: 2px 2px 2px #000; }
#hd-menu .en a { padding: 0 24px; }
#hd-menu li a:hover { text-decoration:none; color:#ce0035; text-align:center; }

.flash { background:url($$_$$images/skin/photo_g.jpg) center no-repeat; height: 352px; }

#bloc-cdc { padding: 15px 0; position:relative; }

#content { width: 930px; margin: 0 auto; text-align:left; padding-top: 40px; }
.txt-content { font-size: 15px; text-align:justify; padding-bottom: 20px; }

.ttl-cdc { text-transform:uppercase; font-size: 24px; font-family: 'BebasRegular'; background:url($$_$$images/skin/pic-fleche.png) no-repeat; padding-left: 27px; height: 21px; line-height: 21px; }

.bg-alert { background:url($$_$$images/skin/bg_alert.png) no-repeat; width: 455px; height: 93px; float: left; }
.bg-visite { background:url($$_$$images/skin/bg_visite.png) no-repeat; width: 455px; height: 93px; float: right; }
.txt-alert { text-transform:uppercase; color: #0057a3; font-size: 18px; font-family: 'BebasRegular'; padding-top: 12px; padding-left: 110px; }
.txt-alert a { color: #ce0035; text-decoration:underline; }
.txt-alert a:hover { color: #000; text-decoration:underline; }

.txt-alert2 { text-transform:uppercase; color: #0057a3; font-size: 18px; font-family: 'BebasRegular'; padding-top: 12px; padding-left: 180px; }
.txt-alert2 a { color: #ce0035; text-decoration:underline; }
.txt-alert2 a:hover { color: #000; text-decoration:underline; }

#footer { width: 960px; margin: 0 auto; text-align:left; padding: 15px 0 25px; }

.app-store { float: left; width: 223px; padding-left: 40px; }
.txt-rss { float:left; width: 270px; text-align:center; text-transform:uppercase; padding-left: 85px; font-size: 24px; font-family: 'BebasRegular'; }
.txt-rss a { font-size: 24px; font-family: 'BebasRegular'; color: #fff; }
.txt-rss a :hover { color: #ce0035; }
.google-pray { float: right; width: 222px; padding-right: 40px; }

.footer-left { float:left; width: 205px; color: #686868; }
.footer-center { float:left; width: 184px; padding-left: 55px; color: #686868; }
.footer-right { float:right; width: 490px; color: #686868; }
.footer-left, .footer-center, .footer-right { padding-top: 25px; }

.ttl-foot, .ttl-foot a { font-weight: bold; color: #fff; font-size: 11px; }
.footer-left a, .footer-center a, .footer-center a { color: #686868; font-size: 11px; text-decoration:underline; }
.footer-left a:hover, .footer-center a:hover { color: #fff; }

#adresse { padding: 25px 0; text-align:center; font-size: 14px; font-weight: bold; }

#Plan_Ctn a { color: #fff; border-bottom: 1px dotted #fff; }
#Plan_Ctn a:hover { color: #ce162d; }
#Plan_Ctn ul { padding-left: 20px; }

#navigue { min-height: 450px; }

.ttl_page {font-size: 22px; color:#ce0035; font-family: 'BebasRegular'; }
.firstLien {color:#fff;}
#hd-menu ul li ul .imageBien {position:absolute;top:30px;right:20px;width:180px;height:120px;z-index:1;opacity:1;}
#hd-menu ul li ul .imageBien img {width:180px;height:120px;}

.portefeuilleVilles, .portefeuilleVilles h3, .portefeuilleVilles a { color: #686868; font-size: 11px; }

/* RETOUR HAUT */
.retourHaut {float:right;margin:5px 0 0 0;padding:0;font-size:11px;font-weight:bold;}
.retourHaut a {color:#ce0035;text-decoration:none;}
/*FOOTER REFERENCEMENT*/
.leftreffooter{float:left;}
.conteneurfoot{margin:auto;width:960px;}
.contentblocklink{float:right;margin-bottom:10px;}
.blockcol{float:left;margin-left:30px;text-align:left;}
.footerlink h4{color:#fff; font-weight:normal;margin:0;padding:0;margin-top:10px;font-size:1.2em;}
.footerlink{float:none;}
.footerlink a{display:block;font-size:0.8em;color:#ccc;}


/*partenaires*/



.partners {
    margin: 0 auto;
    text-align: left;
}

.partners .subtitle {
    display: block;
    line-height: 20px;
    font-size: 16px;
    color: #012b51;
    font-weight: bold;
    background: url(../images/arrow_map.gif) 0 2px no-repeat;
    padding: 2px 0 2px 30px;
    text-transform: uppercase;
}

.partners .subtitle a {
    color: #012b51;
}

.partners .subtitle a:hover {
    color: #7fc3ff;
    text-decoration: none;
}

.partners p {
    font-size: 12px;
    line-height: 16px;
    margin: 15px 0;
}

.partners img.photo-city {
    margin: 0 0 10px 10px;
    border: 2px solid white;
}

.page-int a { font-size: 16px; font-weight: bold; color: #00549d; }
.page-int a:hover { color: #ce0035; }
.page-int img { float: right; padding: 15px; }

.map-agence { text-align:center; }
.map-agence img { padding: 10px; }
.organigramme { padding: 5px; }

.main-title { background: #fff; text-align:center; height: 26px; line-height: 26px; color: #0056a3; }
.link-plan { text-align:center; color: #ce0035; font-weight: bold; }

.bloc-orga {overflow:hidden;}
.bloc-orga + .bloc-orga {margin-top:10px;}
.bloc-orga img {float:left; margin-right:20px;}
#AgImmoDroite .bloc-orga strong {font-size:18px;}
.bloc-orga p:first-child {margin-top:0;}
#AgImmo_Ctn #orga h2 {margin:25px 0 10px 0;}
.small, .honoraires{
    color: #000;
}