// VAR COLORS
$color-body:#fff;
$color-content:#f3f3f3;
$color-block:#fefefe;
$color-primary:#228c44;
$color-secondary:#f7db4a;
$color-action:#218c42;
$color-important:#f7db4a;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;