// VAR COLORS
$color-body:#fff;
$color-content:#fff;
$color-block:#f4f4f4;
$color-primary:#fff;
$color-secondary:#483f2e;
$color-action:#63b4d2;
$color-important:#99d9f2;
$color-nav-footer:#483f2e;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#483f2e;

// COLOR PERSO
$color-icone-cdc:#63b4d2;