body{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size: 11px;
		color:#FFFFFF;
		margin:0px;
		background-color:#000000;

}

td{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size: 11px;
		color:#FFFFFF;
}

a{ 	
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size: 11px;
		color:#FFFF00;
		text-decoration:none;
		font-weight:bold;
}

a:hover{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size: 11px;
		color:#FFFFFF;
		text-decoration:none;
		font-weight:bold;
}

/* --------------------------------------- Annonces villes--------------------------------------- */
#villes{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		color:#FFFFFF;
		width:974px;
		height:25px;
		font-weight:normal;
}


#villes a {
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size: 11px;
		color:#9CDF00;
		text-decoration: none;
		font-weight:normal;
}

#villes a:hover{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size: 11px;
		color:#FFFFFF;
		text-decoration: none;
		font-weight:normal;
}

/* ---------------------------------------Style page--------------------------------------- */
.globalDiv{width:100%; margin:0px;}
.grandDiv{width:982px; background-image:url(../images/fond.jpg); background-repeat:repeat-y;}
/*--------------------------Banniére------------------------- */
.ban{width:982px; height:174px; background-image:url(../images/ligne-top.jpg); background-position:top; background-repeat:no-repeat;}
.logo{width:153px; height:146px !important; height:174px; float:left; padding-top:28px;}
.flaAcc{width:829px;height:174px;float:left;}
.ajouFavori{width:815px !important; width:829px; height:21px !important;height:56px ;float:left;font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#FFFFFF; padding-top:35px; padding-right:14px;}
.ajouFavori a{text-decoration:underline; color:#FFFFFF; font-weight:normal; margin:18px;}
.ajouFavori a:hover{text-decoration:none;color:#FFFFFF; font-weight:normal; margin:18px;}
.flash{width:829px;height:109px;float:left;}


.menu{width:982px; height:73px;}

.Milieu{width:974px;}
.Milieu1{width:944px !important; width:974px; padding-left:4px;}
.indexdiv{width:974px;}
.gauche{float:left; width: 50%;} 
.droite{float:right; width: 50%;}
.gauche h2, .droite h2{color: #fff; font-size: 18px;font-weight: normal;text-transform: uppercase;}
.gauche h2 span, .droite h2 span{color: #FFFF00;}

.divtxt{width:416px; height:315px !important; height:275px; background-color:#4B4E50; display:block; border:1px solid #FFFFFF; position:relative; padding-top:10px;}
/*.divtxt{width:516px; height:265px !important; height:275px; background-color:#4B4E50; display:block; border:1px solid #FFFFFF; position:relative; padding-top:10px;}*/
#txtAcc{font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:11px; color:#C4C4C4; font-size:12px; word-spacing:1px;}
#txtAcc span{color:#FFFF00; font-size:16px; margin-bottom:1px;}
#txtAcc ul{margin:0px;}
.divcarte {width:100px; height:97px; position:absolute; top:360px; left:45px;}

/*--------------------------BAS INDEX-------------------------- */
.basindex{width:974px; height:70px; clear:both; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; color:#FFFFFF;}
.basindex a{color:#FFFF00; text-decoration:none; font-size:13px;}
.basindex a:hover{color:#FFFFFF; text-decoration:none; font-size:13px;}
.situer{width:244px; height:24px; float:left;}
.adresse{width:350px !important; width:370px; height:70px; float:left; padding-left:20px;}
.telFax{width:460px; height:70px; float:left;}

/*--------------------------BAS INDEX-------------------------- */
.bas{width:982px; height:57px;background-image:url(../images/ligne-bas.jpg); background-position:bottom; background-repeat:no-repeat; 
	font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#FFFFFF;}
/*---.bcImmo{width:580px; height:43px !important; height:57px; display:block; float:left; padding-top:14px;}----*/
/*---.miseAjour{width:366px !important; width:402px; height:43px !important; height:57px;  display:block; float:left; padding-left:36px; padding-top:14px;}----*/
.miseAjour{width:91%; height:40px !important; height:54px; display:block; display:block; clear:both; padding-top:14px;}
.suiver{clear:both;}

/*--------------------------Menu-------------------------- */
.menuV a{background-image:url(../images/menu-a.jpg); background-repeat:repeat-x; display:block; text-decoration:none; height:45px; width:100%;
        font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#FFFFFF; line-height:38px; font-weight:normal;}
.menuV a:hover{background-image:url(../images/menu-hover.jpg); background-repeat:repeat-x; display:block; text-decoration:none; height:45px; width:100%;
			font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#FFFFBB; line-height:38px; font-weight:normal;}

#sousMenu a{font-family:Verdana, Arial, Helvetica, sans-serif; color:#E6E637; text-decoration:none; background:none; line-height:normal;}
#sousMenu a:hover{font-family:Verdana, Arial, Helvetica, sans-serif; color:#FFFFFF; text-decoration:none; background:none; line-height:normal;}

/*--------------------------Menu-------------------------- */
.TexteCDC a{font-family:Verdana, Arial, Helvetica, sans-serif; color:#FFFFFF; font-size:11px; text-decoration:none;}
.TexteCDC a:hover{font-family:Verdana, Arial, Helvetica, sans-serif; color:#FFFFFF; font-size:11px; text-decoration:none;}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Seloger~~~~~~~~~~~~~~~~~~~~~~*/
#seloger {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#FFFFFF; padding-right:14px; width:982px; height:20px;}

#seloger a{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#FFFFFF; text-decoration:none;}

#seloger a:hover{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#FFFFFF; text-decoration:none;}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.tabFond1{border-color:#F3C649; border-width:0; border-style:solid; padding:2px; font-family:Arial, Helvetica, sans-serif; color:#ffffff;}
.tabFond2{border-color:#F3C649; border-width:1px; border-style:solid; padding:2px; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#ffffff;}
.tabTitre{background-color:#444444; color: #FFFFFF; font-size: 11px; font-weight: bold; font-family:Arial, Helvetica, sans-serif;}
.tabCouleur{background-color:#444444; border-color:#FFFFFF; border-width:1px; border-style:solid; padding:2px; color: #FFFFFF ;}

.txtTitre3 {
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		font-style: normal;
		font-weight: bold;
		color:#005894;
}

.encadre {
		background-color:#FFFFFF;
		border-color: #FFF;
		border-width:2px;
		border-style:solid;
		padding:2px;
		color:#000000;
}	

.titrePage{
		color:#E1E235;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		line-height:22px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Mise en page~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.titreJaune{color:#D5D633;}
.grandTitre{color:#D5D633; font-size:13px; font-weight:bold; text-align:center; display:block; width:100%;}
.espasTab td{padding:6px;}
#defis table td{padding:12px; border:1px solid #5B5A00;}
#defis h3{color:#F4F4B4; font-size:13px;}
#defis p{text-align:justify;}
.exemple{color:#FFFF80;}