// VARIABLES COLORS
$color-body:#4E2F2D;
$color-content:#fff;
$color-block:#eeeeee;
$color-primary:#f7f7f7;
$color-secondary:#3D0012;
$color-action:#3D0012;
$color-important:#4E2F2D;
$color-nav-footer:#A49987;

$color-menu:#A49987;
$color-foot:#460014;

// COLOR PUB
$color-pub:"black-opacity";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;
