@font-face {
    /* This declaration targets Internet Explorer */
    font-family: 'Amaranth';
    src: url('$$_$$styles/typo/amaranth-webfont.eot');
}
@font-face {
    /* This declaration targets everything else */
    font-family: 'Amaranth';
    src: url(//:) format('no404'), url('$$_$$styles/typo/amaranth-webfont.woff') format('woff'), url('$$_$$styles/typo/amaranth-webfont.ttf') format('truetype'), url('$$_$$styles/typo/amaranth-webfont.svg#AmaranthRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    /* This declaration targets Internet Explorer */
    font-family: 'AmaranthBold';
    src: url('$$_$$styles/typo/amaranth-bold-webfont.eot');
}

@font-face {
    /* This declaration targets everything else */
    font-family: 'AmaranthBold';
    src: url(//:) format('no404'), url('$$_$$styles/typo/amaranth-bold-webfont.woff') format('woff'), url('$$_$$styles/typo/amaranth-bold-webfont.ttf') format('truetype'), url('$$_$$styles/typo/amaranth-bold-webfont.svg#AmaranthBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

body { margin: 0; padding:0; background: #bbbbbb; text-align:center; color: #fff; font-family: Arial, Helvetica, sans-serif; }
div,td { font-size:12px; }
img { border:none; display: inline; }
table  { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; }
a { text-decoration: none; color: #ae4a90; }
a:hover { color: #979899; text-decoration: none; }
p { margin:10px 0; }

.clear1 { clear: left;height:0; }
.clear2, .clear { clear: both;height:0; }
.fleft { float: left; }
.fright { float: right; }
.strong {font-weight: bold;}

#Header{ /* height: 170px; */}

/*----------------------------------------------------*/

#wrapper { width: 100%; background: url($$_$$images/skin/bg_top.gif) top repeat-x #e0e0e0; }
#wrap { width: 100%; background: url($$_$$images/skin/bg_bot.gif) bottom repeat-x;}

#main { position: relative; width:100%; text-align: left; margin: 0 auto; }


#barreMenu{background: url($$_$$images/skin/bg_barreMenu.png) repeat-x;width:100%;margin:0 auto;}
.limit-head { height: 170px; overflow: auto;width:960px;margin:0 auto;}

.bloc-head { height: 60px; overflow: hidden; }
.langues, .langues a { color: #ddd; padding-top: 35px; }

.bloc-reseau { padding-top: 24px; }
.bloc-reseau .pictos { display: inline-block; background: url($$_$$images/skin/pictos.png) no-repeat; overflow: hidden; width: 29px; height: 24px; overflow: hidden; }

.bloc-reseau .pic-acc { background-position: 0 0; }
.bloc-reseau .pic-acc:hover { background-position: 0 -24px; }
.bloc-reseau .pic-panier { background-position: -34px 0; }
.bloc-reseau .pic-panier:hover { background-position: -34px -24px; }
.bloc-reseau .pic-rss { background-position: -63px 0; }
.bloc-reseau .pic-rss:hover { background-position: -63px -24px; }
.bloc-reseau .pic-ctc { background-position: -96px 0; margin-right:23px;}
.bloc-reseau .pic-ctc:hover { background-position: -96px -24px; }
.bloc-reseau .pic-fb { background-position: -142px 0; }
/*.bloc-reseau .pic-fb:hover { background-position: -142px -24px; }*/
.bloc-reseau .pic-tw { background-position: -173px 0; }
/*.bloc-reseau .pic-tw:hover { background-position: -173px -24px; }*/




.bloc-logo { height: 110px;width: 960px; margin:0 auto; overflow: hidden; position:relative;}

.bloc-imgs{width:97px; position:absolute; left:284px; top:2px;}


.menu { width: 550px; background: url($$_$$images/skin/bg-menu.png) no-repeat 0 36px; padding-top: 5px; height:101px;}
.menu ul { margin: 0; padding: 0; }
.menu li { float: left; list-style-type: none; padding-right: 49px; margin-left:8px;}
.menu li strong { font-size: 25px; font-family: "Amaranth", Tahoma, Arial, Helvetica, sans-serif; font-weight: normal; }
.menu a { display: block; font-weight:bold;}

#main-content { width: 960px;margin: 0 auto;}

#navigue { width: 960px; background: #2a2a2a;overflow:hidden;}
#main-navigue { width: 930px; margin: 0 auto; padding: 15px 0; min-height: 600px; }

#bloc-flash { margin-bottom: 10px; }
#flash { width: 652px; height: 400px; overflow: hidden; position: relative;background: url($$_$$images/skin/ombre.png) no-repeat 0 0; padding:9px}
.bg-txt { position: absolute; top: 0; left: 0; background: url($$_$$images/skin/bg_txt.png) no-repeat; height: 400px; width: 310px; }
.txt-index { width: 212px; padding: 0 0 0 13px; text-align: justify; }
.ttl-index { font-family: "Amaranth", Tahoma, Arial, Helvetica, sans-serif; color: #e4af0d; font-weight: bold; font-size: 16px; }
.ttl-index strong { display: block; color: #fff; font-size: 20px; }

#main-mot { background: #2a2a2a; width: 290px; height: 400px; margin:0; padding:0;}
#bloc-mot { width: 267px; margin: 0 auto; padding-top: 10px; }

.bloc-cdc { width: 660px; background: #2a2a2a; height: 260px; }
.ttl-cdc { font-size: 18px; padding: 5px 0 0 15px; font-family: "Amaranth",Arial, Helvetica, sans-serif; font-size: 20px; }
.ttl-cdc strong { color: #ffc000; font-size: 25px; }

.bloc-appli { width: 290px; }
.bg-appli { background: url($$_$$images/skin/bg_appli.gif) repeat-x; height: 126px; margin-bottom: 8px; width: 290px; position: relative; }
.main-appli { width: 260px; margin: 0 auto; }
.main-appi img { float: left; }
.txt-appli { width: 133px; font-size: 10px; color: #353536; text-align: justify; }
.txt-appli strong { font-family: "Amaranth", Tahoma, Arial, Helvetica, sans-serif; font-weight: bold; font-size: 18px; display: block; color: #000; padding: 10px 0; }

.link-appli { position: absolute; top: 85px; left: 100px; }

.bg-agc{ background:#ae4a90; height: 261px; box-shadow: 0 1px 2px 1px #2A2A2A;  }
.bg-agc{-moz-propriete-css: 0 1px 2px 1px #2A2A2A;-webkit-propriete-css:0 1px 2px 1px #2A2A2A;-o-propriete-css:0 1px 2px 1px #2A2A2A;propriete-css:0 1px 2px 1px #2A2A2A;}
.main-agc { position: relative; width: 270px; margin: 0 auto; }
.txt-agc { width: 261px; font-size: 11px; }
.txt-agc font { font-family: "Amaranth", Tahoma, Arial, Helvetica, sans-serif; font-weight: bold; font-size: 18px; display: block; color: #000; padding: 10px 0 4px; }
.txt-agc font span{ font-size:15px;}
.txt-agc .lastpara{ margin:0;}
.txt-agc p{ margin-bottom:10px; margin-top:0px; text-align:justify;}
.txt-agc strong, .txt-agc a { font-weight: bold; color: #fff; font-size: 11px; }
.txt-agc a { text-decoration: underline;  float:right; color:#000;}
.txt-agc a:hover { text-decoration:none;}
.img-agc { padding-top: 9px; }

.link-agc { position: absolute; top: 218px; left: 214px; }

#main-foot { width: 960px; padding: 15px 0; margin: 0 auto;}
.left-foot { width: 305px; color: #F1F1F1; font-size: 11px; }
.center-foot { width: 185px; }
.right-foot { width: 470px; }
.ttl-foot { font-weight: bold; color: #F1F1F1; }
.ttl-border { border-bottom: 1px solid #989898; padding-bottom: 8px; }

.left-foot a, .center-foot a, .right-foot a { color: #F1F1F1; display: block; font-size: 11px; }

.langues a:hover, .left-foot a:hover, .center-foot a:hover, .right-foot a:hover { color: #ae4a90; }

/*ADD CSS*/
.ttl-pages { font-size: 18px; font-weight: bold; color: #AE4A90; font-family: "AmaranthBold", Tahoma, Arial, Helvetica, sans-serif; font-weight: normal; border-bottom:1px solid #a4a4a4; padding-bottom:10px; }



#moduleBerne .titreModule { font-family: "Amaranth", Tahoma, Arial, Helvetica, sans-serif;}
#moduleBerne .actifSpan { font-family: "AmaranthBold", Tahoma, Arial, Helvetica, sans-serif;}

#Mini_Transaction{margin-bottom:22px;}
#Mini_Budget, #Mini_Surface{margin-bottom:34px !important;}
{margin-bottom:33px;}
#Mini_Villes{margin-bottom:42px;}

.left-foot .realisation{ float:left;}
.right-foot .portefeuilleVilles a{ display:inline;}
.right-foot .portefeuilleVilles h3{ display:none;}
#Tri_Ctn optgroup{ margin:0 0 0 3px;}
#Tri_Ctn optgroup option{ margin:0 0 0 3px;}
#listefiche li {color: #000;}