<!--#include virtual="styles/all_global_macros.htm" -->
div, td { color: #000; }
.clear1 { clear: left; }
.clear2, .clear { clear: both;}

#wrapper { width: 100%; background: url($$_$$images/bg.gif) repeat-x #7aa1c9; padding-bottom:75px; } 

#logo_head {width:346px; float:left;}
#logo_head #logocoldwell {width:120px; float:left;}
#logo_head .logo { float: left; width: 226px; }

#main-mot { background: url($$_$$images/bg_mot.png) no-repeat; height: 107px; margin: 0 auto 10px;  position: relative; width: 1005px; }
.link-mot a { position: absolute; top: 110px; right: 30px; color: #fff; text-decoration: underline; font-size: 15px; }

#main-content { border-top: none; padding-top: 15px; }
#mn { margin-top: 75px; }
*.txt{ color: #FFF; font-size: 11px; text-align: center;  float:left; width:600px; margin-top:38px; margin-left:210px; }

.recherche-mot { text-align:left; font-size: 30px; text-shadow: 1px 1px 1px #000; color: #fff; padding: 15px 0; float: left;}
.recherche-bloc-orange{text-align: right; float: right; margin-top: 20px;}
.recherche-bloc-orange a{
	display: block;
	float: right;
	border: 1px solid #f08f02;
	border-radius: 5px;
	padding: 10px 10px;
	color: #fff;
	background-color: #fd9c0f;
	background-repeat: repeat-x;
	background-image: -webkit-linear-gradient(top, #fdb142 0%,#fda21e 50%,#fda019 51%,#f08f02 100%);
	background-image: -moz-linear-gradient(top, #fdb142 0%,#fda21e 50%,#fda019 51%,#f08f02 100%);
	background-image: -o-linear-gradient(top, #fdb142 0%,#fda21e 50%,#fda019 51%,#f08f02 100%);
	background-image: linear-gradient(to bottom, #fdb142 0%,#fda21e 50%,#fda019 51%,#f08f02 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFDB142', endColorstr='#FFF08F02');
}


#navigue { background: #fff; padding:20px; margin-top:25px; } 

.menu-fr { float: right; width: 610px; padding: 65px 120px 0 0; }
.menu-fr li, .menu-fr ul{list-style: none;margin:0;padding:0;}
.menu-fr li {display: inline; list-style: none; }
.menu-fr a { display: inline-block; font-size: 16px; color:#fff; margin: 0 8px; border-bottom: 1px solid #7ea6cd; }
.menu-fr a:hover { color: #fff; }

.menu-fr ul li ul { display: none; position: absolute; z-index:600; background: url($$_$$images/bg_ssmenu.png) top center no-repeat #fff;padding:25px 7px 15px 7px;margin:0; Width:300px; left: 350px; top:86px; border-radius: 4px; text-align: left; }
.menu-fr ul li:hover ul { display: block; }
.menu-fr ul li ul li { float: none; display: block; line-height: normal; color: #4d6c9c; border-bottom: 1px dotted #4d6c9c; }
.menu-fr ul li ul li a { text-align: left; font-weight: normal; text-transform: none; color: #4d6c9c; width: auto; padding: 5px 15px; text-align: left; display: block; border:none; font-size: 14px; background:url($$_$$images/puce-ss.gif) no-repeat 0 9px; }
.menu-fr ul li ul li a:hover { border: none; background: #f4f4f4 url($$_$$images/puce-ss.gif) no-repeat 0 9px; color: #4d6c9c;}

#flash { height:82px; padding-top: 40px; }

.selectionNouveau { display: none; }

.selectionDescr .selectionPrix { color: #4d6c9c; font-size: 16px; font-weight: bold; bottom: 27px; }
.selectionDescr .selectionVille, .selectionDescr .selectionVille * { color: #3d4c67; font-size: 16px; }
.selectionDescr .selectionVille, .selectionDescr .selectionVille * strong { color: #fff; font-size: 16px; text-transform:uppercase; }

.rech-det a { color: #3d4c67; }
#FormContactAgence td.col1 { color: #000; }
#Moteur .inputText, #Moteur .inputSelect, #Moteur .inputTextarea { background: #fff; border: 1px solid #000; color: #000; }
#Moteur .moteurTable ul {padding:0;}
#Moteur .moteurTable ul li { background: #839fc1; }
#Moteur .inputSelect option {color:#000;}


#left { text-align:center; float: none; width: 960px; }
.txt-acc { color: #fff; text-align:center; width: 940px; padding-top: 20px; }
.txt-acc font { color: #3d4c67; font-size: 14px; }
.txt-acc strong { color: #fff; font-size: 12px; }
.txt-acc .link-acc { text-align: right; font-size: 11px; padding-top: 15px; }

#main-foot { border-bottom: none; background:url($$_$$images/bg-foot.gif) repeat-x;}
#logofnaim, #logopreviews, #logotrans {position:absolute; top:-90px;}
#logofnaim {left:0;}
#logopreviews {right:0;}
#logotrans {left:125px; top:-70px;}
#pictoSoc{ position:absolute; top:-68px; right:430px;}
#pictoSoc img{ margin:0 10px;}
.lien-foot { text-align: center; display: block; font-size: 12px; color: #fff; }
.lien-foot img { padding: 0 2px; }
.lien-foot a { color: #fff; }
.lien-foot .lien-rss { background: url($$_$$images/pic_rss.gif) no-repeat; line-height: 16px; padding-left: 20px; text-decoration: underline; }

.ttl-pages { font-size: 30px;
text-shadow: 1px 1px 1px #ADCBED;
color: #5372A2;
margin: 0;
padding: 0; background:none;}
.ttl-equipes { color: #3d4c67;  font-size: 20px; background:none; padding-top:32;}

#RechAffichage #RechAffichageListe p, #RechAffichage #RechAffichageCarte p, #RechAffichage #BiensVendus p { color: #fff; background:#82a0c6; }
#RechAffichage a:hover {
color: #fff;
background: #a1bcdc;
}
#AlerteEmail #AlerteForm input.alerteBt { background: #40506c; color: #fff; }
.blocAnnonce_wrap .blocAnnonce table td.colGauche .visuelsDispos { background: none; }
.blocAnnonce_wrap .blocAnnonce table td.colDroite .ctc { background: #efefef; }
.blocAnnonce_wrap .detailAnn * { color: #3d4c67; }
.blocAnnonce_wrap .blocAnnonce table td.colGauche .photo_ctn a.photo { background: url($$_$$images/bg_search.gif) no-repeat; }

/*IE8*/
#MiniBouton .boutonSubmit, #Moteur #MoteurBouton .inputSubmit { width: 141px; height: 33px; font-size: 0; background: url($$_$$/images/minirechercher_$$FORM:LANG$$.gif) no-repeat ; }
#Moteur #MoteurBouton .inputSubmit { font-size: 0; width: 141px; height: 33px; }
#FormContactAgence .inputSubmit, #ChampsBouton .inputSubmit { background: #e89532; text-transform:uppercase; color:#fff; padding: 5px 20px 5px 20px;}

/*pages*/
.presentation {  font-size: 14px; color: #b40522; text-transform: uppercase; margin-bottom: 10px; font-weight: bold; font-style: italic; }
.photo-qsm { background:none; width: 256px; height: auto; text-align:center; padding-top: 40px; float:left; }
.txt-qsm { float:left; font-size: 20px; color: #3d4c67; padding-top: 70px; width: 700px; }
.image-equipe { float:left; width: 210px; }
.image-equipe img { background:#CCC; border: 1px solid #fff; padding: 5px; margin-top: 15px; }
.txt-equipe { float:left; padding-left: 20px; width: 710px; padding-top:15px; }
.txt-equipe span { text-transform:uppercase; font-size: 14px; font-weight: bold; color: #b40522; }
.trait { border-bottom: 1px dotted #fff; padding: 2px 0; margin: 2px 0; }
.txt2-equipe { color: #fff; }

.contactAnn { background: #fff; }

#footer { padding: 15px 0 15px; position:relative;}
#footer a { color: #fff; }

#Moteur #MoteurVilles.miniDiv {float: none;}
#Moteur h2 {clear: both;}
#Moteur h1 {display:none;}

.blocAnnonce_wrap {background: #151e27;margin: 10px;width: 460px;}
.blocAnnonce_wrap .detailAnn a:hover{color: #fff;}
#Wrap #Ctn *, #Wrap #Ctn .inputText, #Wrap #Ctn .inputTextarea {color:#000;}


/* position absolute du mini moteur comme ça on est tranquille */ /* ou pas...*/
#MiniTypeTransaction,#MiniTypeBien,#MiniBudget,#MiniVilles,#MiniGeolocalisation,#MiniBouton, #MiniRayon {position: absolute;}

#MiniTypeTransaction{top: 40px;left: 125px;}
#MiniBudget{top: 40px; left: 380px;}
#MiniRayon{top:100px; left:125px;}
#MiniRayon .miniDivSelect, #mot .miniDiv#MiniRayon, #MiniRayon .miniTitre {width:auto;}

#MiniTypeBien{top: 70px;left: 125px;}
#MiniVilles{top:70px; left: 380px;}

#MiniGeolocalisation{top:70px; left: 650px; height: auto; width: 150px;}
#MiniGeolocalisation .miniDivSelect{width: auto;}
#MiniDivGeolocalisation{margin:0;padding:0; float: none;clear: both;}
#MiniBouton{ top: 70px; right: 25px;margin:0;width: auto;}
#MiniBouton .boutonSubmit {right: auto; top:auto; position:relative;}	

#content { background: none; }
.ttl-txt { font-size: 24px; color: #3d4c67; }
.ttl-txt strong { color: #fff; text-shadow: 1px 1px 1px #415976; font-size: 30px; }
.texte2 { color: #3d4c67; font-weight: bold; font-size: 13px; padding: 17px 0 12px; text-align:justify; }
.texte3 { color: #FFF; font-size: 13px; padding: 17px 0 12px; text-align:justify; }


#content #MiniMoteur_Form{display: none; }

ul#Plan li ul li, ul#Plan li { border-bottom: 1px dotted #000; }

#FormContactAgence .inputText, #FormContactAgence .inputSelect, #FormContactAgence .inputTextarea, #Form_Ctn .inputText, #Form_Ctn .inputTextarea { background: #fff; color: #000; border: 1px solid #84a2c7; padding:5px; width:94%; font-family:arial; }

#Annonce_Ctn td#ColonneDroite, .similaire_ctn { background: #efefef; }
.inputText, .inputTextarea { background:#fff; color: #000; }
#LiensRetour a, #DetailAnnonce h4, #Form_Ctn table td p { color: #3d4c67; }
.miniTitre, .miniDivSelect label { color: #3d4c67; font-weight: bold; width: 80px; }

.bloc-bt { width: 315px; margin: 0 auto; text-align: center; padding-top: 30px; }
.bt { background: url($$_$$images/bt-jaune.png) no-repeat; float:left; width: 143px; height: 31px; text-align:center; line-height: 31px; margin: 0 5px;}
.bt a { text-transform:uppercase; color: #fff; font-size: 14px; }

#RechPagesHaut .rechLiensPages a.actif, #RechPagesBas .rechLiensPages a.actif, #RechPagesHaut .rechLiensPages a:hover, #RechPagesBas .rechLiensPages a:hover,
#RechPagesHaut .rechLiensPages a, #RechPagesBas .rechLiensPages a
 { color: #fff; }
td.memoriser, td.col1 { color: #fff; }

.main-foot { padding: 25px 0 25px; }
.coordo { float: left; width: 240px; padding-right: 70px; }
.link-foot { float:left; width: 125px; color: #fff; padding-right: 30px; }
.link-foot a { color: #fff; }
.link-foot strong, .link-foot2 strong, .coordo strong { color: #3d4c67; font-size: 14px; }
.link-foot2 { float: left; width: 175px; color: #fff; }
.coordo { color: #fff; }

.selectionIndex_Ctn { background:url($$_$$images/bg_cdc.png) no-repeat; width: 333px; height: 296px; }
.miniDivSelect #MiniLabelCarte, .miniDivSelect #MiniLabelListe { background: none; color: #fff; }
#MiniGeolocalisation .miniTitre { width: 145px; }

#Moteur h2 { color: #000; }
.picto-sociaux { position: absolute; top: 65px; right: 30px; }
.flag { position: absolute; top: 70px; right: 0; }
.blocAnnonce { background: #efefef ; border: none; }
.blocAnnonce .prix {color:#44413F;}
.blocAnnonce .ville {color:#44413F; text-transform:uppercase;}
.blocAnnonce .libelle {color:#fc920a; font-size: 1.2em;}
.surface {font-weight:bold;color:#44413F;}
.descrAnn {
background: none;
padding: 2px 0 0 0px;
margin: 5px 0 0 0;
}
#RechAffichage a, #RechPagesHaut .rechLiensPages a span, #RechPagesBas .rechLiensPages a span { color: #fff; background:#84a2c7;}
#RechAffichage #RechAffichageListe, #RechAffichage #RechAffichageCarte, #RechAffichage #BiensVendus {background:#82a0c6; text-transform:uppercase; font-size:15px; font-weight:bold;}

#RechPagesHaut .rechLiensPages a.actif, #RechPagesBas .rechLiensPages a.actif, #RechPagesHaut .rechLiensPages a:hover, #RechPagesBas .rechLiensPages a:hover, #RechPagesHaut .rechLiensPages a, #RechPagesBas .rechLiensPages a {background: #84A2C7; padding:5px;}

#RechHautLiens {
padding: 10px 0 10px 0;
}
#RechPagesHaut, #RechPagesBas {padding: 0px 0 10px 0;}
#RechHaut h1 {font-size: 30px;
text-shadow: 1px 1px 1px #adcbed; color:#5372a2; margin:0; padding:0;}
#RechHaut h2 {font-size: 20px; color:#5372a2; margin:0 0 20px 0; padding:0;}
#RechHautPictoResult .results {display:none;}
#RechHautPictoResult {display:none;}

select.miniSelect { padding: 2px 0; border:1px solid #fff; padding:3px; width:150px; }
#MiniInputRef { padding: 2px 0; border:1px solid #fff; padding:3px; width:150px; }
#mot .miniDiv { width: 200px; }
#MiniReference{position: absolute;top: 42px;left: 650px;}

.descGeolocUrl a, #MapMicrosoft #MapHead *, #MapMicrosoft .geolocInfo, .VE_Pushpin_Popup_Body p.nbAnnBingMap { color: #3d4b65; }
.descGeolocEmail a:hover { color: #000; }
.VE_Pushpin_Popup_Body .descGeolocAdresse { color: #000;}

.photo_ctn { border: none; }
#AlerteEmail { margin: 0; padding: 0;background: #eee; }
#MapMicrosoft #MapHead ul li { list-style-type: none; }

.ad-gallery .ad-forward, .ad-gallery .ad-back, .ad-gallery .ad-nav .ad-thumbs{  background-color : #E5E9EC ; }
#Ctn-envami{background :#6C839B !important ;}

#InfosAgence {background:#efefef;}

#DetailAnnonce h4 {font-size: 1.3em;
font-weight: bold; color: #b8babd;
text-transform: uppercase; text-align:left;}

#AutresVisuels .autresVisuels_bg a {color:#fc980d;}

#DetailAnnonce h3 {
font-size: 1.3em;
font-weight: bold;
color: #3D4C67;
text-transform: uppercase; text-align:left;
}

.cadreAgence h2, #AgImmo_Ctn h2 {font-size: 1.3em;
font-weight: bold; color: #44413F;
text-transform: uppercase;}

.cadreAgence {background:#efefef; border:1px solid #efefef;}

.cadreAgence p.plus a {color:#f7920a;}

#AgImmo_Ctn h3 {font-size: 20px;
color: #5372A2;
margin: 0 0 20px 0;
padding: 0;}

#MapMicrosoft #MapHead {display:none;}

.listag_infos_plus .listag_respag, #AgImmoDroite p label.respAgence {display:none;}

.agImmoPortefeuille_Ctn {
    background: none repeat scroll 0 0 #fff;
    height: 200px;
    overflow: hidden;
    width: 300px;
}

a.nbVisuelVideo span { 
	display:none;
	}
	
	a.nbVisuelVideo { 
	display:none;
	}
	
	#AutresVisuels .autresVisuels_bg a{ 
	display:none;
	}
	
	#AutresVisuels { 
	display:none;
	}
	
	.liensAnn .lienDetail a { 
	color: #FC920A;
  font-weight: bold;
	}
	
	