/* CSS POUR MOTEUR, MINIMOTEUR */
/* MINI MOTEUR */
#bloc-moteur .ajaxLoader {width:100%;text-align:center;}
#bloc-moteur .miniDiv {float:none;margin:0;padding:0;width:auto;display: inline;}
#bloc-moteur .miniDivInfos {clear:both;width:100%;margin-top:5px;font-weight:9px;}
#bloc-moteur .miniBlocTitre {float:left;text-align:right;width:37%;font-size:11px;line-height:12px;padding-top:2px;display: none;}
#bloc-moteur .miniBlocSelection {float:left;text-align:left;margin-left:0px;width:auto;line-height:12px;}
#bloc-moteur .miniBlocSelectionImage {float:left;text-align:center;margin-left:0px;width:60%;line-height:12px;}
#bloc-moteur .miniForm, #bloc-moteur .miniFormInput {background:#e2e2e2;border:1px solid #656363;font-size:11px;height: 25px; padding: 0px;margin:0;}
#bloc-moteur .miniFormInput {width:80px;float:left;margin-right:10px;}
#bloc-moteur .miniBouton {margin:0;border:none;font-size:16px;margin:0;color:#646464;background: #2d2d2d;font-weight: bold; cursor: pointer;width:110px; height: 26px;}
#bloc-moteur .divOff {display:none;}
#bloc-moteur #Mini_Send {float:right;position:relative;top:0;right:0;margin:0 0 0 20px;}
#bloc-moteur #Mini_Moteur{height: 30px;}
#bloc-moteur #Mini_Transaction{float:left;margin:0;padding:0;}
#bloc-moteur #Mini_Suggest{float:left;position:relative;padding:0;margin:0 0 0 20px;}
#bloc-moteur #Mini_Biens{float:left;margin:0 0 0 20px;padding:0;}
/* MOTEUR */
#Moteur{margin:20px 0 0 0;}
.moteurMargin{margin:15px 0 0 0;}
.moteurComment{color:#999}
#Moteur h1{font-weight:bold;}
#Moteur h2{font-weight:bold;font-size:13px;}
#Moteur h3{font-weight:normal;font-size:12px;color:#fff;border-bottom:1px solid #646464;;padding:0 0 5px 0;}
#Moteur h3 strong{font-weight:bold;color:#646464;}
#Moteur h4{font-style:italic;color:#646464;}
#Moteur .moteurTable{width:98%;}
#Moteur .moteurTable td{width:100%;vertical-align:top;}
#Moteur .moteurTable .col1{width:32%;padding:20px 0 0 0;}
#Moteur .moteurTable .col2{width:32%;padding:20px 0 0 3%;}
#Moteur .moteurTable .col3{width:30%;padding:20px 0 0 3%;}
#Moteur .moteurTable ul li{padding:5px;margin:2px 0;background:#2e2e2e; color: #fff; list-style-type: none; }
#Moteur .moteurTable ul li#idtypebien_1{margin:0;}
#Moteur .moteurTable ul li#idtypebien_2{margin:2px 0 0 0;}
#Moteur .moteurTable ul li#nb_pieces,
#Moteur .moteurTable ul li#nb_chambres,
#Moteur .moteurTable ul li#InputSurfaceTerrain{padding:5px 5px 5px 20px;background:#2e2e2e;margin:0;}
#Moteur .moteurTable ul li#InputSurfaceTerrain{margin:-2px 0 0 0;}
#Moteur .inputText{padding:1px 2px;margin-top:3px;}
#Moteur .inputSelect{font-weight:normal;color:#646464;;font-size:12px;padding:0 0 0 5px;background:#2e2e2e;border:1px solid #ccc;}
#Moteur .inputTextarea{font-weight:bold;margin:0 0 10px 0;padding:1px 2px;}
#Moteur .inputText,
#Moteur .inputTextarea{border:1px solid #555;color:#fff;font-size:12px;background:#2e2e2e;}
#Moteur .inputText{width:100px;}
#Moteur .inputSelect{width:300px;}
#Moteur .inputTextSpan{padding:0 5px;}
#Moteur #ref_ann{padding:0 0 20px 0;border-bottom:1px solid #646464;;}
#Moteur #ref_ann .inputText{width:300px;}
#Moteur #cp1,
#Moteur #cp2,
#Moteur #cp3,
#Moteur #cp4{display:block;width:280px;margin:0 0 5px 0;}
#Moteur #MoteurVilles.miniDiv{height:50px;}
#Moteur #MoteurVilles li{display:block;float:left;width:30%;padding:5px;margin:2px 1% 2px 0;}
#Moteur #MoteurBouton{text-align:right;}
#Moteur #MoteurBouton .inputSubmit{padding:5px;font-size:16px;font-weight:bold;margin:10px 0 0 0;color:#fff;background:#646464;;width:auto;cursor:pointer;border:none;}
#Moteur .alerteBtModif{cursor:pointer;border:none;font-size:16px;font-weight:bold;padding:3px 20px 5px 20px;*padding:3px 20px;}
#Moteur .preValid{padding:20px 0;}
#Moteur .preValid a{font-weight:bold;text-decoration:underline;margin:0 35px 0 0;cursor:pointer;}
#Moteur .preValid a:hover{text-decoration:none;}