// VAR COLORS
$color-body:#293133;
$color-content:#293133;
$color-block:#464849;
$color-primary:#e40a7b;
$color-secondary:#464849;
$color-action:#e40a7b;
$color-important:#e40a7b;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#fff;


// PERSO
$color-fushia:#e40a7b;
$color-primary-old:#a83555;