// VAR COLORS
$color-body:#f2f9ff;
$color-content:#f2f9ff;
$color-block:#f5faff;
$color-primary:#474450;
$color-secondary:#004080;
$color-action:#474450;
$color-important:#004080;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black-opacity";

// COLOR FONT BODY DEFAULT
$color-font-body:#60605f;

// COLOR ORANGE
$color-bleu:#0495CE;

// COLOR SOUS MENU
$color-sous-menu:$color-primary;