// VARIABLES COLORS
$color-body:#1533ad;
$color-content:#fff;
$color-block:#eee;
$color-primary:#fff;
$color-secondary:#1533ad;
$color-action:#1533ad;
$color-important:#fc1d1e;
$color-nav-footer:#1533ad;

// COLOR PUB
$color-pub:"black-opacity";

// COLOR FONT BODY DEFAULT
$color-font-body:#333;
