// VARIABLES COLORS
$color-body:#fff;
$color-content:#eb6e07;
// $color-block:#53534d;
$color-block:#F7F7F7;
$color-primary:#fff;
$color-secondary:#eb6e07;
$color-action:#eb6e07;
$color-important:#53534d;
$color-nav-footer:#eb6e07;

// COLOR PUB
$color-pub:"black-opacity";

// COLOR FONT BODY DEFAULT
$color-font-body:#53534d;