// VAR COLORS
$color-body:#fff;
$color-content:#1a1a1a;
$color-block:#333333;
$color-primary:#2e2e2e;
$color-secondary:#333333;
$color-action:#7881e8;
$color-important:#000a80;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#e9e9e9;