/* CSS Document */

/* Redefinitions des balises HTML */ 
	*{margin:0;padding:0;font-size:12px;font-family:Arial, Verdana, Helvetica, sans-serif;color:#000;}
	img{border:0}
	.clear{clear:both;}
	a{text-decoration:underline;outline:none;color:#000;}
	a:hover{color:#0C5E34 ;text-decoration:none;}
	hr{display:none;}
	ul,ol{list-style:none;}
	select option{padding:0;}
	table{ margin:0 auto; padding:0;}
	
	* html input.alerte{ background:#fff;}
	/* --------Modification AR PLAN SITE-------- */    
	body{background:#fff;}
	/* Effet bordure (espace 5px) entre BG menu et bande BG site */ 
	#header{width:993px; margin:0 auto;position:relative; height:155px;}
	#global{position:relative;width:993px; margin:0 auto;}


/* ----------------------------------------PAGE ACCUEIL---------------------------------------- */	   
   
/* --------LOGO AGENCE-------- */ 
	#LogoAgence {float:left; display:inline; width:128px; padding:10px 0px 0 6px; margin:0;}
	#LogoAgence img{ display:block; margin:0 auto;}
/* --------DRAPEAUX LANGUES FRANCAIS ET ANGLAIS-------- */ 		
/* Mettre en DISPLAY:NONE si pas d'option Anglais */ 
	#Drapeaux {position:absolute; top:11px; right:0px;}
	#Drapeaux img.left {padding-right:6px;}

/* --------TEXTE ACCUEIL--------*/ 
	#textAccueil { position:relative; float:right; display:inline; width:551px; padding:12px 0 0 0; display:block; right:5px;}
/* Modification TITRE texte d'accueil */ 
	#textAccueil h1{letter-spacing:-1px; font-size:17px; font-weight:bold;color:#97c00e; padding:0 0 8px 0;}
	#textAccueil h1 strong{color:#97c00e; font-size:20px;}
/* Modification CORPS texte d'accueil */ 
	#textAccueil p{ text-align:justify; font-size:12px;  color:#000; line-height:22px; display:block; padding:0 0 15px 0;}
	#textAccueil p.reception{ text-align:justify; font-size:12px;  color:#0C5E34; line-height:16px; display:block; padding:0 0 10px 0;}
	#textAccueil p strong{ color:#97c00e;}
	#textAccueil a{ text-decoration:none; color:#0C5E34;}
	#textAccueil a:hover{text-decoration:underline; }
    #textAccueil .Address{position:relative; top:-1px; height:20px; line-height:20px; padding:7px 0 3px 0; text-align:center; width:548px; background:#97C00E; float:left; color:#fff; font-size:11px;}
    #textAccueil .Address a{color:#fff; font-size:11px;}


/* ----- Moteur -----*/
	h2.TitrePage,.titreInfosLegales{ color:#00592B; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}

/* --------MENU + FLUX RSS-------- */
/* Modification COULEUR + TAILLE fond MENU */
	#remplissageMenu{ width:100%; background:#00592B; min-height:44px; margin:0 0 2px 0;}		
	#menuFlux{width:976px; background:#00592B; height:44px; border-left:5px solid #fff; border-right:4px solid #fff; margin:0 auto;}
	#menu {float:right; display:inline; padding:0; position:relative; z-index:2; height:44px;}
	#menu ul{display:inline; margin:0 0 0 6px; list-style-type:none;}
	#menu li{float:left; font-size:15px; padding:0 1px; position:relative;}
	#menu ul li.MenuSep{ color:#fff; padding-top:13px;}
/* Modification COULEUR TEXTE MENU */ 
	#menu a{font-weight:bold; margin-top:6px; float:left; line-height:32px; padding:0 10px; height:32px;   color:#fff; text-decoration:none; font-size:14px;}
	#menu a:hover{ color:#00592B; background:#fff; line-height:32px; padding:0 10px; height:32px;}		
/* Modification FLUX RSS */ 		
	#fluxRss{float:left; display:inline; padding:15px 0 5px 0; }
	#fluxRss a{ background:url(../images/puce_rss.gif) 0 0 no-repeat; font-size:11px;  color:#fff; margin:0 0 5px 10px; padding:1px 5px 6px 20px; text-decoration:none;}
	#fluxRss a:hover{ font-size:11px; text-decoration:none; text-decoration:underline; color:#fff;}
	#fluxRss img{float:left; display:inline; vertical-align:middle;}


/* --------CONTENU SITE = ZONE DU MILIEU-------- */
/* Modification COULEUR ARRIERE PLAN CONTENU SITE */ 	
	#milieu{width:984px;padding:24px 0 3px 0px; min-height:250px;background:none; border-left:4px solid #fff; border-right:5px solid #fff;_border-right:5px solid #fff; margin:0 auto; position:relative; z-index:1;}
/* Positionnement bandeau image */ 
	#visuel{float:left; display:inline; width:715px; margin:0; padding:0;}		
/* Modification COULEUR BORDURE IMAGE */ 		
	#visuel img{border:7px solid #97C00E ;}
 

/*--------POSITIONNEMENT MINI MOTEUR-------- */ 
	.miniMoteur{float:right;display:inline;width:220px;padding:0 0 0 42px;position:relative;background:url(../images/fontTitreMoteur.gif) 0 2px no-repeat;}		
/* Modification TITRE RECHERCHE */ 		
	.miniMoteur h2{font-size:18px; font-weight:bold; color:#00592B;padding:12px 0 6px 0;}
/* A NOTER !!!! Pour styliser les champs + bouton mini moteur VOIR == MINI_MOTEUR.CSS */ 


/* ----------- 3 COUPS DE COEUR ------------- */ 
	
	#blocBas #coupCoeur{float:left;display:inline;width:715px;margin:9px 0 15px 0; }

/* ----------- LISTE TRANSACTIONS AGENCE ------------- */ 

	#blocBas .nbrTransaction{float:right;width:209px; margin:39px 10px 0 0; height:230px; overflow:auto; display:inline;}

/* Modification COULEUR "AUJOURD'HUI" */ 	
	#blocBas .nbrTransaction h3{font-size:13px;font-weight:bold;padding:1px 0 12px; color:#00592B; }
/* Modification COULEUR TYPE TRANSACTION */ 	
	#blocBas .nbrTransaction h4{width:167px;font-weight:bold;font-size:13px;color:#0C5E34;padding:4px 0 0 0;}
	#blocBas .nbrTransaction h4 a{color:#00592B; text-decoration:none;}
	#blocBas .nbrTransaction ul{list-style-type:none;margin:0 0 10px 1px; line-height:16px;}
/* Modification COULEUR TYPE DE BIEN */ 
	#blocBas .nbrTransaction ul *{font-size:11px;color:#000;}
	#blocBas .nbrTransaction ul a:hover{text-decoration:none; color:#0C5E34;}


/* -----------INCLUDE BAS------------- */ 

/* Modification COULEUR BANDE COORDONNEES */ 
	.CoordonneesAgence {font-size:12px; background:#0C5E34; height:27px; text-align:center; padding-top:13px; color:#fff; font-weight:bold; }	
	.CoordonneesAgence a{color:#fff; }	
/* Modification BG footer portefeuille + menu secondaire */
	.footerPosition{ background:#005027; position:relative; width:985px; padding-bottom:15px; margin:0 auto; border-left:5px solid #fff; border-right:5px solid #fff; }
	
	.porteFeuille{float:left;width:610px;padding-left:30px;}
/* ARRIERE PLAN FOOTER */
	#footer{  margin:0 auto; padding:0 0 0 1px; background:#0C5E34;}
				
/* Modification couleur 2 TITRES FOOTER */ 
	#footer h4{font-size:11px;font-weight:bold;background:url(../images/puce.gif) 22px 3px no-repeat;padding:4px 0 4px 48px;margin:17px 0 0 0;line-height:19px;}
/* titre gauche : Notre portefeuille immobilier */
	#footer .porteFeuille h4{font-size:12px; color:#fff;}
/* titre droite : www.urldusite.com */
	#footer .menuSecondaire h4{font-size:12px; color:#97C00E; font-weight:bold;}
	#footer .menuSecondaire *{color:#f6fbff; font-size:11px;}
	#footer .menuSecondaire a:hover{ text-decoration:underline; color:#fff;}		
/* Modification couleur LISTE DES VILLES */ 
	.porteFeuille .ListeVilles{width:520px;text-align:justify;line-height:13px;border:0;color:#fff; padding:4px 0 0 5px;}
	.ListeVilles *{color:#fff; font-size:12px;font-weight:normal;}
	.ListeVilles a{color:#fff;text-decoration:none;}
	.ListeVilles a:hover{ color:#fff; text-decoration:underline;}

/* Modification couleur MENU SECONDAIRE FOOTER (droite) */
	.menuSecondaire{float:left;width:980px;font-size:12px;color:#fff;}
	.menuSecondaire p{padding:3px 0 0 24px; color:#fff; text-align:justify; width:888px; }
	.menuSecondaire p a{font-size:12px;color:#FFB980;text-decoration:none;}
	.menuSecondaire p a:hover{color:#0C5E34;text-decoration:underline;}
	span.sepSep{ color:#fff;}



/* ----------------------------------------AUTRES PAGES DU SITE---------------------------------------- */

/* Page En Construction */
	#EnConstruction{margin-top:70px; text-align:center;}


/* PAGE PLAN DU SITE = incl_plan-site.htm */  
	ul#Plan *{text-decoration: none; font-weight: bold;}
	ul#Plan{padding: 0 8em; width:423px; margin:0 auto;position:relative;top:-25px;}
	ul#Plan li.plan{ color:#00592B; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;border-bottom:none;}
	ul#Plan li.MenuSep{display:none;}
	ul#Plan li{padding: 0.2em 0; border:none;}
	ul#Plan .plan{padding: 0.2em 0;background:none;}
	ul#Plan li a{ background:none; color:#00592B; padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid  #000 ; text-transform:uppercase;}
	ul#Plan li a:hover{color:#fff;padding-left:10px; height:19px;font-size: 12px; background:#00592B;}
	ul#Plan li.voirTout a{color:#0C5E34;}


/* Outils */
	ul#Outils *{text-decoration: none; font-weight: bold;}
	ul#Outils{padding: 2em 8em; width:400px; margin:0 auto;}
	ul#Outils li.list{padding: 0.2em 0px;background:none; margin:2px 0; border:none;}
	ul#Outils li a{color:#00592B; padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid  #000 ; text-transform:uppercase;}
	ul#Outils li a:hover{color:#fff;padding-left:10px; height:19px;font-size: 12px; background:#00592B;}
	#Outils li.titrePageOutils{ color:#00592B; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}
	#Outils a:hover{color:#00592B ;}

/*PAGES ESTIMATION + CONTACT + MESSAGE == TABLEAUX FORMULAIRES*/
	.tabFond1{border-color:#00AA00; border-width:0; border-style:solid; padding:2px; font-family:Arial, Helvetica, sans-serif; width:100%;}
	 textarea { color:#000; width:600px; height: 100px;border:1px solid  #000;margin:3px; padding:2px;}
	.tabFond2{border-color:#00AA00; border-width:1px; border-style:solid; padding:2px; font-size:14px; font-family:Arial, Helvetica, sans-serif;}
	#milieu .tabTitre{background:#00592B; color:#fff; font-size:14px; font-weight: bold; font-family:Arial, Helvetica, sans-serif;height:25px;padding:3px; text-align:center; text-transform:uppercase;}
	#milieu .tabTitre *{color:#fff; font-size: 14px;}
	.tabPrint{color:#5C5E5D; font-size: 13px; font-family:Arial, Helvetica, sans-serif; border:1px solid #00AA00;}
	.tabFond1 td input{margin:3px;border:1px solid  #000 ; padding:2px; color:#000;}
	.tabFond1 td input.BoutonFormRecherche{float:right;width:120px;height:25px;border:none;}
	select.imputForm{border:1px solid  #000 ;margin:0 0 4px 3px; color:#000; }
	select.imputForm option{padding:0 0 0 3px; color:#000;}
	.tabFond1 table{ width:100%;}
	input.imputForm{margin:0 0 5px 0; color:#000;}
	input.imputForm{border:1px solid  #000; padding:2px;}
	input.boutonEnvoi{float:right;width:120px;height:25px;}
	strong.messageNomAgence,
	strong.estimationNomAgence{ color:#00592B; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase; display:block;}
	/*Résolution Bug IE8 = donner une taille aux bouton pour éviter tout décallage*/
	.tabFond1 .boutonEnvoi {float:right;width:120px;height:25px; border:none;}
	.tabFond1 .BoutonFormContact {float:right;border:0;width:120px;height:25px;}
	.MoteurBouton  {overflow:hidden; padding:0 0 6px 0;}
	.MoteurBouton input {float:right;width:120px;height:25px;}
	td #ChampsBouton input {float:right;margin-right:12px;width:120px;height:25px;}
	#AgenceContact form table#FormContact td#ChampsBouton input{width:120px;height:25px;}	

/* GUIDE PRATIQUE = ACCES VIA LE LIEN DANS LA PAGE OUTILS*/
	span.txtTitre3{ display:block; width:870px; color:#fff; background:#0C5E34; font-size:16px; font-weight:bold; padding:3px 5px; margin:10px 3px 3px 0;}
	span.gras{ display:block; width:882px; color:#fff; background:#0C5E34; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;}
	td.encadre{background-color:#fff; border-color:#AAA; border-width:2px; border-style:solid; padding:3px; color:#fff; margin:0 0 0 -4px;}
	p.grasnews{ display:block; width:882px; color:#fff; background:#0C5E34; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;}

	/* coup de coeur*/
	* html .div-cdc{ height:268px;}
	.div-cdc{width:232px; min-height:268px;float:left; background:#97C00E; margin:0 4px 0 0; border:1px solid #B2C7D8;}
	.div-cdc *{ color:#fff;}
	

	.div-cdc .photo-cdc img{width:220px;height:137px;background:url(../images/bg_Img_Cdc.gif);margin:5px 0 0 5px; border:1px solid #fff; display:block;}
	.div-cdc a span.ville-cdc{font-weight:bold;display:block; color:#000; font-size:14px; }
	.div-cdc a span.ville-cdc a:hover{color:#fff;}
	.div-cdc .contenu-cdc a *{color:#fff;font-weight:bold; text-transform:capitalize; font-size:14px;}
	.div-cdc .contenu-cdc a:hover *{ color:#000;}
	.div-cdc .contenu-cdc{padding:5px 6px 4px 6px;}
	.div-cdc .contenu-cdc *{color:#00592B;}
	.div-cdc .contenu-cdc a{ text-decoration:none;}
	.div-cdc .contenu-cdc a:hover{color:#000;}
	.div-cdc .descriptif-cdc{min-height:30px; color:#000; padding:5px 0; font-size:11px;}
	* html .divc2c .descriptif-cdc{height:30px;}
	.div-cdc p.prix-cdc{font-weight:bold;font-size:14px; color:#fff;}
	.div-cdc p.espace-cdc span.surface-cdc, .div-cdc p.espace-cdc span.nbpiece-cdc{display:none;}
 
 
/* Mentions Legales */
	#MentionsLegales p,#MentionsLegales strong ,#MentionsLegales ul *{ color:#000;}
	#MentionsLegales {}
	#MentionsLegales h2 {display:block; width: 99%;background:#00592B; font-size: 14px; color:#fff;font-weight: bold;letter-spacing: 0;padding:3px 0 3px 8px;margin: 10px 0;text-align: left;text-transform: none;font-family: Arial; text-transform: none;}
	#MentionsLegales p.notaBene a.demandeInfos:hover{color:#00592B;}
/* Details */
    #AgenceContact form table#FormContact td#ChampsBouton #ChampsObligatoires{clear:both;}
	
/* page accueil*/	

    #accueil{width:90%; margin:0 auto; font-size:12px; font-family:arial,sans-serif;}
    #accueil h1{font-size:18px; font-family:arial,sans-serif; color:#0C5E34; padding: 0 0 6px 0;}
    #accueil h1 strong{font-size:23px; color:#0C5E34;}
    #accueil p{padding:0 0 10px 0;line-height:18px; font-size:12px;}
    #accueil p strong{padding:0 0 10px 0; color:#fff; }
    #accueil ul{list-style:none;padding:0; margin:0 0 0 30px;}
    #accueil li{background:url(../images/picto_fleche_02.gif) 0 2px no-repeat; padding:0 0 6px 15px;}
	
/* correction bug de page Recherche*/

	#RechHaut form#Tri select optgroup option,#RechHaut form#Tri select option,#RechHaut form#Tri select optgroup {padding:0 0 0 3px;color:#000;}
	#RechercheContainer #AlerteEmail #AlerteForm input.alerteBt{ cursor:pointer; color:#fff;}
	#RechPagesHaut .rechLiensPages a span:hover, #RechPagesBas .rechLiensPages a span:hover{color:#fff;}
/*correction bug de page detail*/
    #Galerie #galleryContainer #arrow_down,#Galerie #galleryContainer #arrow_up{background:#fff;}

	