@font-face {
	font-family: 'Calibri';
	src: url('$$_$$styles/typocss/calibri.eot');
	src: url('$$_$$styles/typocss/calibri.eot?#iefix') format('embedded-opentype'),
			 url('$$_$$styles/typocss/calibri.woff') format('woff'),
			 url('$$_$$styles/typocss/calibri.ttf') format('truetype'),
			 url('$$_$$styles/typocss/calibri.svg#calibri') format('svg');
	font-weight: normal;
	font-style: normal;
}

body { margin: 0; padding:0; background: #2d2d2d; text-align:center; }
div,td { font-family: Arial, Helvetica, sans-serif; font-size:12px; color: #fff; }
img { border:none; display: inline; }
table  { border-collapse: collapse; border-spacing: 0;border:none; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; font-size: 11px; }
a { text-decoration: none; color: #f9d3a2; }
a:hover { text-decoration: none; color: #fff; }
p { margin:10px 0; }

.clear { clear: both; }
.fleft { float: left; }
.fright { float: right; }

/*----------------------------------------------------*/

#wrapper { background:url($$_$$images/skin/bg2.jpg) center top no-repeat #2d2d2d; }
.main-wrapper { width: 1000px; margin: 0 auto; text-align:left; position:relative; }
.logo { float: left; width: 253px; }
.top-right { width: 741px; float: left; }

#top { background:url($$_$$images/skin/bg-top.jpg) no-repeat; height: 186px; width: 1000px; }
.link-top { text-align:right; }
.link-top img { vertical-align:middle; }
.link-top a, .link-top { color: #9d9c9d; font-size: 11px; padding: 0 3px; }
.link-top a:hover { color: #fff; }
.link-top { padding-top: 35px; }
.logo-amepi { text-align:right; padding-top: 5px; }
.logo-amepi img {margin-left:75px;}

.menu { background:url($$_$$images/skin/bg_menu.png) no-repeat; width: 790px; height: 54px; margin-top: 5px;position: absolute;right: -14px; }
.menu ul { margin: 0; padding-left: 23px; }
.menu li { list-style-type: none; float: left; border-right: 1px solid #4b4e50; height: 54px; }
.menu a { text-transform:uppercase; color: #fff; font-size: 16px; font-family:'Calibri'; padding: 0 8px; height: 54px; line-height: 54px; border-bottom: 2px; margin:0 5px 0 4px; }
.menu a:hover { border-bottom: 4px solid #88031a; margin: 0 5px 0 4px; }

#content { padding: 10px 0; position:relative; }
.photo-g { background:url($$_$$images/skin/photo_g.jpg) no-repeat; width: 1000px; height: 376px; position:relative; }
.bg-mot { background:url($$_$$images/skin/bg-mot.png) no-repeat; width: 283px; height: 322px; position:absolute; right: 30px; top: 98px; }
.bg-cdc { background:url($$_$$images/skin/bg-ttl-cdc.gif) no-repeat; width: 679px; height: 34px; margin-top: 15px; }
.ttl-cdc { font-family:'Calibri'; font-style:italic; font-size: 17px; padding-top: 4px; padding-left: 25px; }

.augvendre {width: 680px; height: 50px; position:absolute; margin-top:378px;margin-left:0px; }

#navigue { min-height: 350px; }

#bloc-moteur { padding-left: 15px; width: 255px; position:relative; }
.elargi { position:absolute; top: 225px; left: 15px; color: #fff; text-decoration:underline; font-weight: bold; font-size: 11px; }

.ttl-recherche { text-transform:uppercase; font-family:'Calibri'; font-size: 16px; padding-top: 16px; padding-left: 62px; padding-bottom: 20px; }
.bg-cdc2 { background:url($$_$$images/skin/bg-cdc.jpg) no-repeat; width: 961px; height: 222px; margin-left: 10px; }
.txt-acc { line-height: 18px; padding-left: 10px; width: 970px; }
.txt-acc strong { color: #6f6f6f; font-size: 14px; }

#footer { background:url($$_$$images/skin/bg-foot.gif) repeat-x #2d2d2d; }
.foot { width: 1000px; margin: 0 auto; text-align:left; background: #404040; border-left: 3px solid #2d2d2d; border-right: 3px solid #2d2d2d; height: 65px; }
.foot-left { float: left; width: 210px; padding-top: 16px; padding-left: 10px; }
.foot-left2 { float: left; width: 175px; padding-left: 33px; }
.foot-center { float:left; width: 220px; padding-left: 15px; padding-top: 10px; }
.foot-right { float:right; width: 325px; padding-top: 15px; padding-right: 10px; }

.pic-rss { background:url($$_$$images/skin/pic-rss.gif) no-repeat; padding-left: 37px; }
.pic-rss a { color: #fff; font-size: 11px; }
.pic-rss a:hover { text-decoration:underline; }

.mob { background:url($$_$$images/skin/pic-mob.gif) no-repeat; padding-left: 37px; height: 48px; text-align:middle; font-size: 11px; padding-top: 8px; }

.coordo { text-align:right; font-size: 14px; font-family:'Calibri'; }
.coordo strong { font-size: 18px; color: #1c1c1c; font-family:'Calibri'; }

.pic-sociaux { padding-top: 15px; }
.pic-sociaux img { padding: 0 4px; }

.link-foot { text-align:center; padding: 25px 0; color: #575757; }
.link-foot a { color: #575757; padding: 0 10px; }
.link-foot a:hover { color: #fff; }

.ttl-pages { color: #96021c; font-size: 20px; text-transform: uppercase; margin-bottom: 10px; font-family: 'Calibri', Arial; }
#Plan_Ctn li { border-bottom: 1px solid #141414; padding: 5px 0; }

#Plan_Ctn a { color: #fff; border-bottom: 1px dotted #fff; font-size: 14px; }
#Plan_Ctn a:hover { color: #96021c; }

#MiniSelectRayon { width: 145px; height: 18px; }