
body {  background-color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;}
td { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color:#002C23;}

/* CADRES OMBRES */
.bordure {  background-color: #FFCD12}

.ombre1 {  background-color: #404040}

.ombre2 {  background-color: #707070}

.ombre3 {  background-color: #cfcfcf}

A:link {  
font-size: 11px;
color: #4E4E4E;
font-weight:bold;
font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none}

A:hover {  
font-size: 11px;
color: #989898;
font-weight:bold;
font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none}

A {  
font-size: 11px;
color: #4E4E4E;
font-weight:bold;
font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none}

.tec:link {  
font-size: 9px;
color: #392207;
font-weight:bold;
font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none}

.tec:hover {  
font-size: 9px;
color: #985A10;
font-weight:bold;
font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none}

.tec {  
font-size: 9px;
color: #392207;
font-weight:bold;
font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none}

.tuc:link {  
font-size: 10px;
color: #E3E1DC;
font-weight:bold;
font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none}

.tuc:hover {  
font-size: 10px;
color: #967956;
font-weight:bold;
font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none}

.tuc {  
font-size: 10px;
color: #E3E1DC;
font-weight:bold;
font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none}

.toc:link {  
font-size: 10px;
color: #C2A480;
font-weight:bold;
font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none}

.toc:hover {  
font-size: 10px;
color: #F0D2AF;
font-weight:bold;
font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none}

.toc {  
font-size: 10px;
color: #C2A480;
font-weight:bold;
font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none}

.touc:link {  
font-size: 13px;
color: #C2A480;
font-weight:bold;
font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none}

.touc:hover {  
font-size: 13px;
color: #F0D2AF;
font-weight:bold;
font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none}

.touc {  
font-size: 13px;
color: #C2A480;
font-weight:bold;
font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none}

.intro:link {  
font-size: 13px;
color: #191387;
font-weight:bold;
font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none}

.intro:hover {  
font-size: 13px;
color: #6460B6;
font-weight:bold;
font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none}

.intro {  
font-size: 13px;
color: #191387;
font-weight:bold;
font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none}


/* TEXTE ENTRE CADRE LOGO ET CORPS DE PAGE */
.sousLogo {  
font-size: 13px;
font-weight: bold;
color: #FFCD12;
font-family: Verdana, Arial, Helvetica, sans-serif}

.mailto {  
font-size: 13px;
font-weight: bold;
color: #FFCD12;
font-family: Verdana, Arial, Helvetica, sans-serif}

.mailto:hover {  
font-size: 13px;
font-weight: bold;
color: #ffffff;
font-family: Verdana, Arial, Helvetica, sans-serif}

/* CADRE TITRE DE PAGE */
.titre {  
font-size: 13px;
font-weight: bold;
color: #3F3F3F;
font-family: Verdana, Arial, Helvetica, sans-serif}

/* MENU GAUCHE DU CADRE CORPS DE PAGE */
.menu {  
font-size: 13px;
font-weight: bold;
color: #FFCD12;
font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none}

.menu:hover {  
font-size: 13px;
font-weight: bold;
color: #ffffff;
font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none}

/* MENU CADRE OUTILS */
.menuOutils {  
font-size: 11px;
color: #3f3f3f;
font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none}

.menuOutils:hover {  
font-size: 11px;
font-weight: bold;
color: #3f3f3f;
font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none}

/*MISE EN VALEUR DE TEXTE*/
.txtCouleur1{font-size: 12px; font-weight: bold; color: #595959;}
.txtCouleur2{font-size: 12px; font-weight: bold; color: #595959;}
.txtTitre1{font-size: 16px; font-weight: bold; color:#000000;}
.txtTitre2{font-size: 14px; font-weight: bold; color: #000000; font-style:italic;}

/*TABLEAUX*/
.tabFond1{background-color: #FFFFFF; border-color: #000000; border-width:0; border-style:solid; padding:2;}
.tabFond2{background-color: #FFFFFF; border-color: #000000; border-width:2; border-style:solid; padding:2;}
.tabTitre{background-color: #C0C0C0; color: #004235; border-color: #000000; border-width:1; font-size: 11px; font-weight: bold;}
.tabCouleur{background-color: #FFFFFF; border-color: #686868; border-width:1; border-style:solid; padding:2; 
color="#000000"}
