
body { margin:0; padding:23px 0; text-align:center; background:#808080; }
div, td { font-size:12px; font-family:Arial, Helvetica, sans-serif; }
a { color:#ff9933; text-decoration:none; }
a:hover { color:#ff9933; text-decoration:underline; }
img { border:none; }
table { border-collapse:collapse; }

#wrap { width:976px; background:url(../images/bgwrap.gif) repeat-y; text-align:left; margin: 0 auto; }
#header { width:976px; height:467px; overflow:hidden; background:url(../images/bgheader.gif) no-repeat; }
#hg { height:182px; width:347px; overflow:hidden; float:left; }
#hmin { height:10px; width:970px; margin:0 3px; background:#dcd9d9; }
#hd { width:185px; padding-top:7px; height:30px; overflow:hidden; float:right; }
#hd ul { margin:0; padding:0; list-style-type:none; }
#hd ul li { height:30px; width:30px; float:left; overflow:hidden; }
#hd ul li a { display:block; height:60px; width:23px; }
#hd ul li a:hover { margin-top:-30px; }
/*#menu { width:970px; height:25px; margin:0 3px; background:#ff9933; border:1px solid #178849; }
#menu ul { margin:0; padding:0; list-style-type:none; }
#menu ul li { float:left; }
#menu ul li a { color: #000000; text-decoration: none; font-weight: bold; }
#menu ul li a:hover { color: #fff; text-decoration: none; }*/
#flash { width:540px; height:250px; overflow:hidden; float:left; padding-left:3px; }
#moteur { width:430px; height:250px; overflow:hidden; float:left; background:url(../images/bg_moteur.gif) no-repeat; }
#main { width:970px; margin:0 3px; background:#fff; }
#gauche { width:460px; padding:25px 40px; float:left; line-height: 22px; }
#droite { width:390px; padding:10px 20px; float:left; }
#adr { width:390px; background:url(../images/bgadr.gif) no-repeat; padding:60px 0; text-align:center; font-size:12px; color:#555555; }
#footer { text-align:right; width:946px; padding:0 15px; line-height:30px; height:33px; background:url(../images/bgfooter.gif) bottom no-repeat; vertical-align:middle; font-size: 11px; }
#footer a { padding:0 5px; color:#242424; font-size: 11px; }
#footer a.first { border:none; }

#content2 { padding: 14px; }
.lire a { text-align:right; text-decoration: underline; color: #4aab71; }
.lire a { text-align:right; color: #000; }




#menu { position: relative; background: #ff9933; height: 25px; width: 970px; margin-left: 3px; }
#menu .menu { line-height: 25px; font-size: 11px; font-weight: bold; padding-right: 10px; color:#FFFFFF; } 
#menu .menu a { color: #fff; text-decoration: none; }
#menu .menu a:hover { color: #06391c; text-decoration: none; }



/*sous menu*/
#sousmenu_fr { position: absolute ; width: 125px; left: 600px; top: 228px; z-index: 9; }
#sousmenu_en { position: absolute ; width: 125px; left: 638px; top: 228px; z-index: 9; }
#sousmenu_de { position: absolute ; width: 125px; left: 545px; top: 228px; z-index: 9; }
#sousmenu_es { position: absolute ; width: 140px; left: 635px; top: 228px; z-index: 9; }
#sousmenu_nl { position: absolute ; width: 125px; left: 540px; top: 228px; z-index: 9; }
#sousmenu_it { position: absolute ; width: 125px; left: 615px; top: 228px; z-index: 9; }


#sm1 { position: relative; width: 125px; display: none; text-align: left; overflow: hidden; }
#sm1 ul { margin: 0; padding: 0; list-style-type: none; }
#sm1 ul li { width: 125px; height: 20px; border-bottom: 1px solid #167d43; background-color: #ff9933; line-height: 20px; text-align: left; padding-left: 20px; }
#sm1 a { color: #fff; text-decoration: none; font-size: 11px; padding-left: 5px; }
#sm1 a:hover { color: #535353; text-decoration: none; padding-left: 5px; }




/*estimation, message*/
.tabFond1 .tabFond2 {
	background: none; 
	border: none; 
}
.tabTitre {	
	padding-left: 5px; 
	background: #a1a1a1;
	color: #fff;	
	font-size: 11px; 
	line-height: 22px;
	border-bottom: 1px solid #8a8a8a;
}
.messageNomAgence, .estimationNomAgence { 
	color: #ff9933; 
	font-size: 14px; 
}

.tabFond1 input { 
	margin-bottom: 3px;
}

/*guide*/
#menuGuide { 
	text-align: left; 
}
#menuGuide table { 
	margin: 0 auto; 
}
#menuGuide a {
	font-weight: bold;
	color: #717070; 
	text-decoration: none; 
	line-height: 20px; 
}

#menuGuide a:hover { 
	color: #727171; 
}

#menuGuide td { 
	text-align: left; 
}

#PageDossiers table { 
	margin: 0 auto; 
	width: 100%; 
}

#PageDossiers p { 
	margin: 5px 0; 
}

#PageDossiers td { 
	padding: 2px 5px; 
}

.txtTitre3 { 
	color: #ff9933; 
	font-weight: bold; 
	font-size: 12px; 
	text-align: left; 
}

.gras {
	padding: 2px 5px 2px 15px;
	background: url(../images/Puce_Agence.gif) 0 3px no-repeat;
	color: #ff9933;
	font-weight: bold;
}

.gras u { 
	text-decoration: none; 
}

.encadre {
	border: none;
	padding: 5px;
	background: #fff;
	line-height: 14px;
}

.encadre table {
	width: 100%;
}

.encadre .gras {
	padding: 0;
	margin-bottom: 5px;
	border: none;
	background: none;
	color: #fff;
	line-height: 12px;
}

.encadre a { 
	color: #757474; 
}

.encadre a:hover { 
	color: #727171; 
}

.table_news strong { 
	color: #6f6e6e; 
}

.table_news, .encadre table {
	border-top: 1px solid #6f6e6e;
	border-left: 1px solid #6f6e6e;
	border-bottom: none;
	border-right: none;
	background: #315c99;
}

.table_news td, .encadre td {
	border-bottom: 1px solid #6f6e6e;
	border-right: 1px solid #6f6e6e;
	border-left: none;
	border-top: none;
	background: #e3c88b;
	font-size: 10px;
	padding: 5px;
}
   
.table_news .gras {
	padding: 3px 5px;
	margin: 0;
	background: #fff;
	color: #6f6e6e;
	line-height: 12px;
}
.grasnews { font-size: 12px; font-weight: bold; color: #ff9933; }
h3 {
	color: #ff9933;
	font-size: 16px;
	border-bottom: 1px solid #6f6e6e;
}

























