/* CSS Document */
/* Redefinitions des balises HTML */ 
	*{margin:0;padding:0;font-size:12px;font-family:Arial, Verdana, Helvetica, sans-serif;color:#C7C7C7;}
	img{border:0}
	.clear{clear:both;}
	a{text-decoration:underline;outline:none;color:#00FF00;}
	a:hover{ ;text-decoration:none;}
	hr{display:none;}
	select option{padding:0; color:#000;}
	table{ margin:0 auto; padding:0;}
	table tr td,
	table tr td p
	#milieu table tbody tr td{ padding:5px 0px; text-align:justify; text-align:left;}
	* html input.alerte{ background:#4a4a4c;}
	/* --------Modification AR PLAN SITE-------- */    
	body{background: #4a4a4c; margin-top:-3px;}
	/* Effet bordure (espace 5px) entre BG menu et bande BG site */ 
	#header{width:993px; margin:0 auto;position:relative; overflow:hidden}
	#global{position:relative;width:993px; margin:0 auto;}


/* ----------------------------------------PAGE ACCUEIL---------------------------------------- */	   
   
/* --------LOGO AGENCE-------- */ 
	#LogoAgence { float:left; display:inline; width:308px; padding:20px 0 3px 69px;margin:5px 0 0 0px;}
	#LogoAgence img{ display:block; margin:0 auto;}


/* --------DRAPEAUX LANGUES FRANCAIS ET ANGLAIS-------- */ 		
/* Mettre en DISPLAY:NONE si pas d'option Anglais */ 
#Drapeaux {left:6px;position:absolute; bottom:0px;}
	#Drapeaux img {padding-right:8px;}

/* --------TEXTE ACCUEIL--------*/ 
	#textAccueil { position:relative; float:right; display:inline; width:563px; padding:38px 0 0 9px; display:block; right:5px;}
/* Modification TITRE texte d'accueil */ 
	#textAccueil h1{ font-size:18px; font-weight:bold;color:#00FF00; padding:0 0 4px 0;}
/* Modification CORPS texte d'accueil */ 
	#textAccueil p{ text-align:justify; font-size:12px;  color:#C7C7C7; line-height:22px; display:block; padding:0 0 10px 0;}
	#textAccueil p strong{ color:#00FF00;}
	#textAccueil a{ text-decoration:none; color:#00FF00;}
	#textAccueil a:hover{ text-decoration:underline; color:#00FF00;}

/* LOGOS: FNAIM & SIA */
	#Partners{ display:none; position:absolute; top:0px; right:0px; width:62px; float:left; text-align:center;}
	#Partners span img{text-align:center; padding:2px 0;}
	#textAccueil p span{ font-weight:bold; color:#00FF00}

/* --------MARQUEE DEFILANTE-------- */
/* Modification COULEUR  MARQUEE */ 	
	#RefMarqueNavig{ width:564px; float:right; display:inline;color:#00FF00; background:#C7C7C7; margin:0 4px 0 0; padding:6px 4px;}
	#RefMarqueNavig img{ float:left;}
	#RefMarqueNavig p{ color:#4a4a4c; font-size:14px; padding:10px 0 10px 0;}
	#RefMarqueNavig marquee,#RefMarqueNavig marquee a,#RefMarqueNavig marquee a strong{ color:#4A4A4C; font-size:11px;}
	#RefMarqueNavig2{width:564px; height:27px;float:right; display:inline;}
	#RefMarque{ width:564px; float:right; display:inline;color:#00FF00; font-size:10px;background-color:#4a4a4c;margin:0 -1px 0 0; padding:0 4px 0 0;}
	#RefMarque marquee{width:555px;margin:0;padding:0; color:#00FF00; padding:8px 5px 8px 5px;}
	#RefMarque marquee a {color:#00FF00;}
	#RefMarque marquee a strong {color:#00FF00;}
	#RefMarque marquee a:hover {;}

/* ----- Moteur -----*/
	h2.TitrePage{ color:#00FF00; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}

/* --------MENU + FLUX RSS-------- */
/* Modification COULEUR + TAILLE fond MENU */
	#remplissageMenu{ width:100%; background:#C7C7C7; min-height:44px;}		
	#menuFlux{width:984px; background:#C7C7C7; height:44px; border-left:5px solid #4a4a4c; border-right:4px solid #4a4a4c; border-top:1px solid #4a4a4c;margin:0 auto;}
	#menu {float:right; display:inline; padding:14px 10px 0 0; position:relative; z-index:2;}
	#menu ul{ display:inline; margin:0 0 0 6px; list-style-type:none;}
	#menu li{ float:left; font-size:15px; padding:0 5px; position:relative; height:30px;}
	
	.sous_menu{position:absolute; top:30px; left:-2px; display:none;width:132px;}
	.sous_menu1{display:block;width:335px; margin-left:25px;}
	.sous_menu1 a{margin-top:2px;}
	.sous_menu a{background:#00FF00;color:#00FF00;display:block;padding:5px 0 5px 4px;border-bottom:1px solid #4a4a4c;}
	.sous_menu a.offre{border-top:1px solid #4a4a4c;}
	.sous_menu a{color:#4a4a4c;}
	#menu ul li.MenuSep{ color:#4A4A4C;}
	/* Modification COULEUR TEXTE MENU */ 
	#menu a{ font-weight:bold;color:#4A4A4C; text-decoration:none;font-size:13px; background:}
	#menu a:hover{ color:#000;}		
/* Modification FLUX RSS */ 		
	#fluxRss{float:left; display:inline; padding:15px 25px 5px 0; }
	#fluxRss a{ background:url(../images/puce_rss.gif) 0 0 no-repeat; font-size:10px; text-decoration:underline; color:#4a4a4c; margin:0 0 5px 10px; padding:1px 5px 6px 20px;}
	#fluxRss a:hover{ font-size:10px; text-decoration:none; ;}
	#fluxRss img{float:left; display:inline; vertical-align:middle;}


/* --------CONTENU SITE = ZONE DU MILIEU-------- */
/* Modification COULEUR ARRIERE PLAN CONTENU SITE */ 	
	#milieu{width:984px;padding:24px 0 3px 0px; min-height:250px;background:#4a4a4c; border-left:4px solid #4a4a4c; border-right:5px solid #4a4a4c;_border-right:5px solid #4a4a4c; margin:0 auto; position:relative; z-index:1;}
/* Positionnement bandeau image */ 
	#visuel{float:left; display:inline; width:654px; margin:0 0 10px 0; padding:0;}		
/* Modification COULEUR BORDURE IMAGE */ 		
	#visuel img{border:7px solid #C7C7C7 ;}
 

/*--------POSITIONNEMENT MINI MOTEUR-------- */ 
	.miniMoteur{float:right;display:inline;width:220px;padding:0 0 0 42px;position:relative;background:url(../images/fontTitreMoteur.jpg) 0 2px no-repeat;}		
/* Modification TITRE RECHERCHE */ 		
	.miniMoteur h2{font-size:18px; font-weight:bold; color:#00FF00;padding:12px 0 0 0;}
/* A NOTER !!!! Pour styliser les champs + bouton mini moteur VOIR == MINI_MOTEUR.CSS */ 


/* ----------- 3 COUPS DE COEUR ------------- */ 
	#blocBas #coupCoeur{float:left;display:inline;width:715px;margin:0 0 15px 0; }

/* ----------- LISTE TRANSACTIONS AGENCE ------------- */ 
	#blocBas .nbrTransaction{float:right;width:209px; margin:0 10px 0 0; height:260px; overflow:auto;}
/* Modification COULEUR "AUJOURD'HUI" */ 	
	#blocBas .nbrTransaction h3{font-size:13px;font-weight:bold;padding:1px 0;color:#C7C7C7; }
/* Modification COULEUR TYPE TRANSACTION */ 	
	#blocBas .nbrTransaction h4{width:167px;font-weight:bold;font-size:13px;color:#00FF00;padding:10px 0 0 0;}
	#blocBas .nbrTransaction ul{list-style-type:none;margin:0 0 10px 3px; line-height:16px;}
/* Modification COULEUR TYPE DE BIEN */ 
	#blocBas .nbrTransaction ul *{font-size:11px;color:#C7C7C7;}
	#blocBas .nbrTransaction ul a:hover{text-decoration:none; ;}


/* -----------INCLUDE BAS------------- */ 

/* Modification COULEUR BANDE COORDONNEES */ 
	.CoordonneesAgence{font-size:12px; height:40px; text-align:center;color:#4A4A4C; font-weight:bold; clear:both;width:100%; margin:0 auto}
	.CoordonneesAgence2{width:986px;margin:0 auto; height:27px; padding-top:13px; border-left:5px solid #4A4A4C;border-right:5px solid #4A4A4C; color:#4A4A4C; background:#C7C7C7 }
/* Modification BG footer portefeuille + menu secondaire */
	.footerPosition{background:#4a4a4c; position:relative; width:100%; padding-bottom:15px; margin:0 auto;}
	
	.porteFeuille{float:left;width:610px;padding-left:30px;}
/* ARRIERE PLAN FOOTER */
	#footer{ background:margin:0 auto; padding:0 0 0 1px;}
	
	#Annonces01 h3{ padding:5px;}
		
/* Modification couleur 2 TITRES FOOTER */ 
	#footer h4{font-size:11px;font-weight:bold;background:url(../images/puce.gif) 29px 3px no-repeat;padding:4px 0 4px 55px;margin:17px 0 0 0;line-height:19px;}
/* titre gauche : Notre portefeuille immobilier */
	#footer .porteFeuille h4{font-size:12px; color:#00FF00;}
/* titre droite : www.urldusite.com */
	#footer .menuSecondaire h4{font-size:12px; color:#00FF00;}
	#footer .menuSecondaire a{}
	#footer .menuSecondaire a:hover{ text-decoration:underline;;}		
/* Modification couleur LISTE DES VILLES */ 
	.porteFeuille .ListeVilles{width:520px;text-align:justify;line-height:13px;border:0;color:#C7C7C7; padding:4px 0 0 5px;}
	.ListeVilles *{color:#C7C7C7; font-size:12px;font-weight:normal;}
	.ListeVilles a{color:#C7C7C7;text-decoration:none;}
	.ListeVilles a:hover{;text-decoration:underline;}

/* Modification couleur MENU SECONDAIRE FOOTER (droite) */
	.menuSecondaire{width:980px;font-size:12px;color:#C7C7C7; margin:0 auto}
	.menuSecondaire p{padding:3px 0 0 5px; color:#C7C7C7; text-align:justify; width:830px; padding-left:30px;}
	.menuSecondaire p a{font-size:12px;color:#C7C7C7;text-decoration:none;}
	.menuSecondaire p a:hover{font-size:12px;color:#00FF00 ;text-decoration:underline;}
	span.sepSep{ color:#C7C7C7;}



/* ----------------------------------------AUTRES PAGES DU SITE---------------------------------------- */

/* Page En Construction */
	#EnConstruction{margin-top:70px; text-align:center;}


/* PAGE PLAN DU SITE = incl_plan-site.htm */  
	ul#Plan *{text-decoration: none; font-weight: bold;}
	ul#Plan{padding: 0 8em; width:423px; margin:0 auto;position:relative;top:-25px;}
	ul#Plan li.plan{ color:#00FF00; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;border-bottom:none;}
	ul#Plan li.MenuSep{display:none;}
	ul#Plan li{padding: 0.2em 0; border:none;}
	ul#Plan .plan{padding: 0.2em 0;background:none;}
	ul#Plan li a{ background:none;color:#00FF00;padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #C7C7C7; text-transform:uppercase;}
	ul#Plan li a:hover{color:#4a4a4c;padding-left:10px; height:19px;font-size: 12px; background:#00FF00;}


/* Outils */
	ul#Outils *{text-decoration: none; font-weight: bold; unicode-bidi:}
	ul#Outils{padding: 2em 8em; width:400px; margin:0 auto;}
	ul#Outils li.list{padding: 0.2em 0px;background:none; margin:2px 0; border:none;}
	ul#Outils li a{color:#00FF00;padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #C7C7C7; text-transform:uppercase;}
	ul#Outils li a:hover{color:#4a4a4c;padding-left:10px; height:19px;font-size: 12px; background:#00FF00;}
	#Outils li.titrePageOutils{ color:#00FF00; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}
	#Outils a:hover{ ;}

/*PAGES ESTIMATION + CONTACT + MESSAGE == TABLEAUX FORMULAIRES*/
	.tabFond1{border-color:#00AA00; border-width:0; border-style:solid; padding:2px; font-family:Arial, Helvetica, sans-serif; width:100%;}
	 textarea {width:600px; height: 100px;border:1px solid #C7C7C7;margin: 0 0 0 3px; background:#fff; color:#000}
	.tabFond2{border-color:#00AA00; border-width:1px; border-style:solid; padding:2px; font-size:14px; font-family:Arial, Helvetica, sans-serif;}
	.tabTitre{background:#C7C7C7; color:#00FF00; font-size:14px; font-weight: bold; font-family:Arial, Helvetica, sans-serif;height:25px;padding:3px; text-align:center; text-transform:uppercase;}
	.tabTitre *{color:#4A4A4C; font-size: 14px;}
	.tabPrint{color:#5C5E5D; font-size: 13px; font-family:Arial, Helvetica, sans-serif; border:1px solid #00AA00;}
	.tabFond1 td input{margin:3px;border:1px solid #C7C7C7 ; background:#fff; color:#000}
	.tabFond1 td input.BoutonFormRecherche{float:right;width:120px;height:25px;border:none;}
	select.imputForm{border:1px solid #C7C7C7 ;margin:0 0 0 3px; background:#fff; color:#000}
	.tabFond1 table{ width:100%;}
	 input.imputForm{border:1px solid #C7C7C7;}
	 input.boutonEnvoi{float:right;width:120px;height:25px;}
	strong.messageNomAgence,
	strong.estimationNomAgence{ color:#00FF00; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase; display:block;}
	/*Résolution Bug IE8 = donner une taille aux bouton pour éviter tout décallage*/
	.tabFond1 .boutonEnvoi {float:right;width:83px;height:19px; border:none}
	.tabFond1 .BoutonFormContact {float:right;border:0;width:83px;height:19px;}
	.MoteurBouton input {float:right;width:187px;height:26px;}
	td #ChampsBouton input {float:right;margin-right:12px;width:120px;height:25px;}
	#AgenceContact form table#FormContact td#ChampsBouton input{width:83px;height:19px;}	

/* GUIDE PRATIQUE = ACCES VIA LE LIEN DANS LA PAGE OUTILS*/
	span.txtTitre3{ display:block; width:870px; color:#4a4a4c; background:#00FF00; font-size:16px; font-weight:bold; padding:3px 5px; margin:10px 3px 3px 0;}
	span.gras{ display:block; width:882px; color:#4a4a4c; background:#00FF00; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;}
	td.encadre{background-color:#4a4a4c; border-color:#AAA; border-width:2px; border-style:solid; padding:3px; color:#C7C7C7; margin:0 0 0 -4px;}
	p.grasnews{ display:block; width:882px; color:#4a4a4c; background:#00FF00; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;}

	/* coup de coeur*/
	* html .div-cdc{ height:260px;}
	.div-cdc{width:230px; min-height:260px;float:left; background:#4a4a4c; margin:0 4px 0 0; border:2px solid #C7C7C7 ;}
	.div-cdc *{ color:#C7C7C7;}
	.div-cdc .photo-cdc img{width:220px;height:130px;background:url(../images/bg_Img_Cdc.gif);padding:5px 2px 3px 5px;}
	.div-cdc a span.ville-cdc{font-weight:bold;display:block; color:#00FF00; }
	.div-cdc a span.ville-cdc a:hover{;}
	.div-cdc .contenu-cdc a *{color:#00FF00;font-weight:bold; text-transform:capitalize;}
	.div-cdc .contenu-cdc a:hover *{;}
	.div-cdc .typebien-cdc{}
	.div-cdc .contenu-cdc{padding:0 6px 4px 6px;}
	.div-cdc .contenu-cdc *{color:#C7C7C7;}
	.div-cdc .contenu-cdc a{ text-decoration:none;}
	.div-cdc .contenu-cdc a:hover{color:#00FF00;}
	.div-cdc .descriptif-cdc{min-height:30px;}
	* html .divc2c .descriptif-cdc{height:30px;}
	.div-cdc p.prix-cdc{font-weight:bold;font-size:14px; color:#00FF00;}
 
 
/* Mentions Legales */
	
	#MentionsLegales{}
	#MentionsLegales h2 {display:block; width: 99%;background:#C7C7C7 ; font-size: 14px; color:#00FF00;font-weight: bold;letter-spacing: 0;padding:3px 0 3px 8px;margin: 10px 0;text-align: left;text-transform: none;font-family: Arial; text-transform: none;}
/*Recherche*/
	 #RechercheContainer #AlerteEmail #AlerteForm input.alerte{border:1px solid #C7C7C7;color:#000; background:#fff}
	#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .metro_Ctn .metro{color:#C7C7C7;}
	#RechHaut #RechHautCtn #RechHautLiens a.rss{color:#FF8000;}
	#RechHaut #RechHautCtn #RechHautLiens a.rss:hover{;}
	#RechResultat .blocAnnonce .typeBien_Ctn{background:#C7C7C7;}
	#RechResultat .blocAnnonce .typeBien_Ctn *,#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .contactAnn *,
	#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .contactAnn p.mail *,
	#RechResultat .blocAnnonce .detailAnn .ajoutSelection a,
	#RechResultat .blocAnnonce .detailAnn a.lienDetail,#RechercheContainer a ,#RechPagesHaut .rechLiensPages a span, #RechPagesBas .rechLiensPages a span{color:#4A4A4C;}
	#RechercheContainer #AlerteEmail #AlerteForm input.alerteBt { cursor:pointer;}
	#RechHaut #RechHautCtn h2 span{color:#00FF00;}
	#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .contactAnn p.ctc{ color:#000; font-weight:bold;}
/*detail*/
    #DetailAnnonce #Titre * {color:#4a4a4c;}
	#DetailAnnonce #LiensRetour a{color:#00FF00;}
	#DetailAnnonce #LiensRetour a:hover{color:#00FF00;}
	#DetailAnnonce #Titre td#TypeTransaction,
	#DetailAnnonce #Titre td#Ref_Ctn{background:#C7C7C7; color:#4A4A4C;}
	#AgenceContact td.detail_form_col2 {background:#4a4a4c;}
	#AgenceContact #CguFormulaire a,#DetailAnnonce .RetourHaut a,#RechHaut #RechHautCtn #RechHautLiens a{color:#00FF00;}
	#AgenceContact #CguFormulaire a:hover,#DetailAnnonce .RetourHaut a:hover{;}
	#AgenceContact .coords_agence p.adresseAgence ,#AgenceContact .coords_agence p.faxAgence{color:#00FF00;}
	#AgenceContact form table#FormContact td#ChampsNom input, #AgenceContact form table#FormContact td#ChampsPrenom input, #AgenceContact form table#FormContact td#ChampsTelephone input,
	 #AgenceContact form table#FormContact td#ChampsEmail input,#AgenceContact form table#FormContact td#ChampsMessage textarea,#Annonce_Ctn table#InfosPrix td.infosVille .metro_Ctn em{color:#C7C7C7; background:#fff; color:#000}
    #Galerie #previewPane #grandeimage a#AgrandirPhoto:hover{text-decoration:underline; color:#00FF00;}
    #AgenceContact form table#FormContact td#ChampsBouton #ChampsObligatoires{clear:both;}
	#RechHaut form#Tri select option{color:#000; padding-left:2px;}
	#RechHaut form#Tri select optgroup{color:#000; padding-left:2px;}
	#RechHaut form#Tri * option{color:#000;}
	#RechHaut form#Tri * select{color:#000;}
	.MoteurSurface,.MoteurSurfaceTerrain,.MoteurReference,.MoteurBudget,.ZoneSaisie{color:#C7C7C7;}
/* page accueil*/	

   #accueil{width:90%; margin:0 auto; font-size:12px; font-family:arial,sans-serif;}
   #accueil p{padding:0 0 10px 0;line-height:18px;}
   #accueil p strong{padding:0 0 10px 0; color:#00FF00; }
