// VAR COLORS
$color-body:#404041;
$color-content:#bd0726;
$color-block:#ececec;
$color-primary:#fff;
$color-secondary:#d10024;
$color-action:#d10024;
$color-important:#d10024;
$color-nav-footer:#d10024;
// COLOR PUB
$color-pub:"white";
// COLOR FONT BODY DEFAULT
$color-font-body:#000;
// COLOR SOUS MENU
$color-sous-menu:$color-block;