// VAR COLORS
$color-body:#fff;
$color-content:#eee;
$color-block:#f4f4f4;
$color-primary:#0b5074;
$color-secondary:#0a77a6;
$color-action:#0b5074;
$color-important:#f9c00e;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#333;