$$REM$$
====================================================================

//// <summary>Fichier css par défaut pour : incl_plan.htm et incl_plan-annonces.htm</summary>
//// <remarks>
//// <para>Fichier appelé par : slagence_X_V2/incl_plan.htm</para>
//// <para>Fichier appelé par : slagence_X_V2/incl_plan-annonces.htm</para>
//// </remarks>
//// <update date="2007-11-12" author="lisbonne.siriphol">Création v1</update>

====================================================================
$$END$$


ul#Plan *{text-decoration: none; font-size: 1em; font-weight: bold;}
ul#Plan{padding: 2em 8em; list-style: none;}
ul#Plan li.plan { color: #e00034; font-size: 16px; font-weight: bold; text-transform: uppercase; }
ul#Plan li.planAnnonces{border-bottom: 1px solid #adb3bd; font-size: 1.6em;}
ul#Plan li.planAnnonces{margin: 2em 0 0 0;}
ul#Plan li{padding: 0.3em 0; border-bottom: 1px solid #adb3bd;}
ul#Plan li a{display: block; color:#000;}
ul#Plan li a:hover{color: #e00034; text-decoration:none;}
ul#Plan span.nbAnn{font-size: 0.9em;}
ul#Plan li ul{ margin: 0 0 0 25px; list-style-type: square;}
ul#Plan li ul li.subListTitle{border: none;}
ul#Plan li ul li.subList{border-top: 1px dashed #adb3bd; border-bottom: none;}
ul#Plan li ul li.subListVilles{width: 31%; float: left; position : relative; padding: 1em 0 0.5em 0; margin: 0 1em 0 0; }
.resultCtn p { border-bottom: none; }