$$REM$$ /*====================================================================================
//// <summary>404.htm</summary>
//// <remarks>
//// <para>Fichier appelé par : slagence_X_V3/404.htm</para>
//// <para>Méthode : 1) déclaration macros par défaut / 2) include fichier de macros mutualisé / 3) inlude fichier demacros démutualisé</para>
//// <para>Le fichier se stylise tout seul grâce aux macros, et possibilité de le customiser par commun.css</para>
//// <para>Liste des macros générales pour faciliter la customisation des sites</para>
//// <para>FICHIER À NE PAS DÉMUTUALISER, car les updates ne pourront pas s'appliquer aux sites qui le feront</para>
//// </remarks>
//// <update date="2010-08-19" author="lisbonne.siriphol">Création</update>
==================================================================================== */ $$END$$
$$REM$$ /* ============================================================================================
 //////////////////////////////////// MACROS CHEMIN DES REPERTOIRES ///////////////////////////////////
============================================================================================= */$$END$$
<!--#include virtual="styles/macros_path.htm" -->

$$REM$$ /* ===============================================================================================================
 /////////////////////////// MACROS PAR DEFAUT (modifiables dans votre styles/all_global_macros.htm)//////////////////////////
================================================================================================================ */$$END$$
$$REM$$ /* bg infobulle page 404 */ $$END$$														$$A:P404_BG=@@PATH_IMG_XV3@@/404_bg.png$$
$$REM$$ /* couleur texte 404 */ $$END$$																$$A:P404_TXT=#e5482c$$
$$REM$$ /* picto flèche 404 */ $$END$$																$$A:P404_PICTO_FLECHE=url(@@PATH_IMG_XV3@@/404_fleche.gif) 0 4px no-repeat$$

$$REM$$ /* ============================================================================================
 ////////////////////////////////////// MACROS GENERALES PERSOS //////////////////////////////////////
============================================================================================= */$$END$$
<!--#include virtual="styles/all_global_macros.htm" -->


/*======================================= message envoyé =======================================*/
.erreur{background: url($$P404_BG$$) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$P404_BG$$', sizingMethod='scale');}
/**/
#Page404_Ctn{width: 371px; height: 288px; margin: 50px auto; overflow: hidden;}
#Page404 .clear{clear: both; height: 0;}
#Page404{margin: 20px 15px 0 50px;}
#Page404 *{color: $$TXT_FOND_BLANC$$;}
#Page404 a{color: $$P404_TXT$$; font-weight: normal; text-decoration: underline;}
#Page404 a:hover{text-decoration: none;}
#Page404 p{margin: 0 0 3px 0;}
#Page404 p.lien{position: absolute; margin: 165px 0 0 0;}
#Page404 p.desole{color: $$P404_TXT$$; font-size: 18px; font-weight: bold;}
#Page404 p.rech{color: $$P404_TXT$$; font-weight: bold;}
/**/
#Page404 .ann{height: 65px; overflow: auto;}
#Page404 .ann a{display: block; float: left; width: 120px; padding: 0 0 0 10px; background: $$P404_PICTO_FLECHE$$; margin: 0 20px 0 0;}
/**/
