$$REM$$ /*====================================================================================
//// <summary>Fichier css  : flux,rss.htm</summary>
//// <remarks>
//// <para>Méthode : 1) déclaration macros par défaut / 2) include fichier de macros mutualisé / 3) inlude fichier demacros démutualisé</para>
//// <para>Toute modification CSS de ce fichier devra être effectuée dans votre "commun.css"</para>
//// <para>Liste des macros générales pour faciliter la customisation des sites</para>
//// <para>Interdiction de démutualiser ce css, car les updates ne pourront pas s'appliquer aux sites qui le feront</para>
//// </remarks>
//// <update date="2010-08-19" author="lisbonne.siriphol">Création XV3</update>
==================================================================================== */ $$END$$

$$REM$$ /* ============================================================================================
 //////////////////////////////////// MACROS CHEMIN DES REPERTOIRES ///////////////////////////////////
============================================================================================= */$$END$$
<!--#include virtual="styles/macros_path.htm" -->

$$REM$$ /* ===============================================================================================================
 /////////////////////////// MACROS PAR DEFAUT (modifiables dans votre styles/all_global_macros.htm)//////////////////////////
================================================================================================================ */$$END$$

$$REM$$ /* picto netvibes */ $$END$$ 														$$A:RSS_NETVIBES=url(@@PATH_IMG_XV3@@/rss/rss_netvibes.gif) left no-repeat$$
$$REM$$ /* picto igoogle */ $$END$$ 														$$A:RSS_IGOOGLE=url(@@PATH_IMG_XV3@@/rss/rss_igoogle.gif) left no-repeat$$
$$REM$$ /* picto mon yahoo */ $$END$$ 													$$A:RSS_MONYAHOO=url(@@PATH_IMG_XV3@@/rss/rss_monyahoo.gif) left no-repeat$$
$$REM$$ /* picto wikio */ $$END$$ 															$$A:RSS_WIKIO=url(@@PATH_IMG_XV3@@/rss/rss_wikio.gif) left no-repeat$$
																																				
$$REM$$ /* picto ie7 */ $$END$$ 																$$A:RSS_IE7=url(@@PATH_IMG_XV3@@/rss/rss_ie7.gif) left no-repeat$$
$$REM$$ /* picto firefox */ $$END$$ 														$$A:RSS_FIREFOX=url(@@PATH_IMG_XV3@@/rss/rss_firefox.gif) left no-repeat$$
$$REM$$ /* picto safari */ $$END$$ 															$$A:RSS_SAFARI=url(@@PATH_IMG_XV3@@/rss/rss_safari.gif) left no-repeat$$
$$REM$$ /* picto opera */ $$END$$ 															$$A:RSS_OPERA=url(@@PATH_IMG_XV3@@/rss/rss_opera.gif) left no-repeat$$
$$REM$$ /* picto xml */ $$END$$ 																$$A:RSS_XML=url(@@PATH_IMG_XV3@@/rss/rss_xml.gif) left no-repeat$$

$$REM$$ /* picto page */ $$END$$ 																$$A:RSS_PICTO=@@PATH_IMG_XV3@@/rss/rss_picto.png$$
$$REM$$ /* picto page */ $$END$$ 																$$A:PICTO_DETAIL=@@PATH_IMG_XV3@@/rss/rss_loupe.gif$$
$$REM$$ /* ============================================================================================
 ////////////////////////////////////// MACROS GENERALES PERSOS //////////////////////////////////////
============================================================================================= */$$END$$
<!--#include virtual="styles/all_global_macros.htm" -->

/* === conteneur général === */
#FluxRSS{}
#FluxRSS a{color: $$TXT_RSS$$;}

/* -- logo RSS -- */
#RssPicto{display: block; position: absolute; margin: 0 0 0 -20px;}

/* -- titres UP -- */
#FluxRSS h1{color: $$TXT_RSS$$; font-size: 20px; padding: 20px 0 0 100px;}
#FluxRSS h2{color: $$TXT_PRINCIPAL$$; font-size: 12px; padding: 0 0 0 100px;}
/* -- titres IN -- */
#FluxRSS h3{color: $$TXT_RSS$$; font-size: 16px; padding: 40px 0 0 0;}

/* -- conteneur -- */
#FluxCtn{width: 100%;}

/* -- liens -- */
#FluxLiens{vertical-align:top;padding: 0 30px 0 100px;}
.rss_lien_ctn{padding: 10px 0; border-bottom: $$BORDER_POINTILLES$$;}
.rss_lien_ctn p{font-size: 12px;}
.rss_lien_ctn a{display: block; float: left; height: 16px; margin: 2px 5px 0 0;}
.rss_lien_ctn a.voir_ann{font-weight: normal; padding: 0 0 0 17px;}
.rss_lien_ctn a.voir_ann img{display: block; position: absolute; margin: 0 0 0 -17px;}
.rss_lien_ctn a.rss_lien{width: 62px;}
.rss_lien_ctn a.rss_xml{background: $$RSS_XML$$; width: 48px;}
.rss_lien_ctn a.rss_netvibes{background: $$RSS_NETVIBES$$;}
.rss_lien_ctn a.rss_igoogle{background: $$RSS_IGOOGLE$$;}
.rss_lien_ctn a.rss_monyahoo{background: $$RSS_MONYAHOO$$;}
.rss_lien_ctn a.rss_wikio{display: none; background: $$RSS_WIKIO$$;}

/* ========================================== definition RSS  ==========================================  */
#FluxAide{width: 275px; vertical-align: top; padding: 40px 0 0 0;}
/* onglet */
#FluxAide h4{font-size: 14px; color: $$TXT_RSS$$;}
#FluxAide h5{width: 125px; overflow: hidden; background: $$BG_MENU$$; text-align: center; color: $$TXT_MENU$$; font-weight: bold; padding: 7px 0;}
/* conteneur txt */
#FluxDef{background: $$BG_CDC$$; border: $$BORDER_SECONDAIRE$$; padding: 25px 15px;}
/* txt */
#FluxDef p{text-align: justify;}
#FluxDef p.sep{height: 1px; border-top: $$BORDER_POINTILLES$$; margin: 20px 0;}
/* liens agregateurs */
#FluxDef a{display: block; margin: 2px 0;}
#FluxDef a.agregateur{padding: 2px 0 2px 70px;}
#FluxDef a.netvibes{background: $$RSS_NETVIBES$$;}
#FluxDef a.igoogle{background: $$RSS_IGOOGLE$$;}
#FluxDef a.monyahoo{background: $$RSS_MONYAHOO$$;}
#FluxDef a.wikio{display: none; background: $$RSS_WIKIO$$;}
/* liens lecteurs */
#FluxDef a.navigateur{padding: 2px 0 2px 25px;}
#FluxDef a.ie7{background: $$RSS_IE7$$;}
#FluxDef a.firefox{background: $$RSS_FIREFOX$$;}
#FluxDef a.safari{background: $$RSS_SAFARI$$;}
#FluxDef a.opera{background: $$RSS_OPERA$$;}
#FluxDef .si_nav{margin: 15px 0 0 0;}
#FluxDef .lien_xml{background: $$RSS_XML$$; padding: 0 0 0 55px;}