$$REM$$ /*====================================================================================
//// <summary>Moteur de recherche : moteur,recherche.htm</summary>
//// <remarks>
//// <para>Fonctionne sur tout les IDTT en querystring</para>
//// <para>Méthode : 1) déclaration macros par défaut / 2) include fichier de macros mutualisé / 3) inlude fichier demacros démutualisé</para>
//// <para>Le fichier se stylise tout seul grâce aux macros, et possibilité de le customiser par commun.css</para>
//// <para>Liste des macros générales pour faciliter la customisation des sites</para>
//// <para>FICHIER À NE PAS DÉMUTUALISER, car les updates ne pourront pas s'appliquer aux sites qui le feront</para>
//// <para>Les images infobulles sont utilisées sur plusieurs page (détail, contact, alerte, immobilier...)</para>
//// </remarks>
//// <update date="2010-06-23" author="lisbonne.siriphol">Création</update>
==================================================================================== */ $$END$$

$$REM$$ /* ============================================================================================
 //////////////////////////////////// MACROS CHEMIN DES REPERTOIRES ///////////////////////////////////
============================================================================================= */$$END$$
<!--#include virtual="styles/macros_path.htm" -->

$$REM$$ /* ===============================================================================================================
 /////////////////////////// MACROS PAR DEFAUT (modifiables dans votre styles/all_global_macros.htm)//////////////////////////
================================================================================================================ */$$END$$
<!--#include virtual="styles/macros_pictos.htm" -->
<!--#include virtual="styles/macros_recherche.htm" -->
$$REM$$ /* ============================================================================================
 ////////////////////////////////////// MACROS GENERALES PERSOS //////////////////////////////////////
============================================================================================= */$$END$$
<!--#include virtual="styles/all_global_macros.htm" -->

/*======================================= ctn =======================================*/
#Moteur{padding: 20px 0;}
.moteurMargin{margin: 15px 0 0 0;}
.moteurComment{color: $$TXT_SECONDAIRE$$}

/*======================================= titres =======================================*/
#Moteur h1{font-weight: normal;}
#Moteur h2{font-weight: normal; font-size: 16px;}
#Moteur h3{font-weight: normal; color: $$TXT_PRINCIPAL$$; border-bottom: $$BORDER_SECONDAIRE$$; padding: 0 0 5px 0;}
#Moteur h3 strong{font-weight: normal; color: $$TXT_TITRE_RUBRIQUE$$;}
#Moteur h4{font-weight: normal; color: $$TXT_TITRE_RUBRIQUE$$;}


/*======================================= tableau, colonnes, listes =======================================*/
#Moteur .moteurTable{width: 100%;}
#Moteur .moteurTable td{width: 100%; vertical-align: top;}
#Moteur .moteurTable .col1{width: 32%; padding: 15px;}
#Moteur .moteurTable .col2{width: 32%; padding: 15px;}
#Moteur .moteurTable .col3{width: 30%; padding: 15px;}
#Moteur .moteurTable ul{}
#Moteur .moteurTable ul li{padding: 5px; margin: 2px 0; background: $$BG_CDC$$;}
#Moteur .moteurTable ul li#idtypebien_1{margin: 0;}
#Moteur .moteurTable ul li#idtypebien_2{margin: 2px 0 0 0;}
#Moteur .moteurTable ul li#nb_pieces,
#Moteur .moteurTable ul li#nb_chambres,
#Moteur .moteurTable ul li#InputSurfaceTerrain{padding: 5px 5px 5px 20px; background: $$BG_SECONDAIRE$$; margin: 0;}
#Moteur .moteurTable ul li#InputSurfaceTerrain{margin: -2px 0 0 0;}

/* ==================== moteur alerte immo ==================== */
#Moteur .moteurAlerte .col1{width: 32%; padding: 20px 0 0 0;}
#Moteur .moteurAlerte .col2{width: 45%; padding: 20px 30px 0 30px;}
/**/
#Moteur .moteurAlerte{}
#Moteur .moteurAlerte h1{}
#Moteur .moteurAlerte h2{padding: 5px 0 8px 28px; margin: 25px 0 0 0;}
#Moteur .moteurAlerte h3{}
#Moteur .moteurAlerte h4{}
/* commentaire */
#Moteur .moteurAlerte .moteurComment{margin: -5px 0 0 30px;}
/* pictos alerte */
#Moteur .alerteCriteresWarning{clear:both; position: absolute; width:32px; height: 32px; margin: 33px 0 0 -8px; background:url('$$PICTO_ALERTE$$') no-repeat 0 0 !important; background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$PICTO_ALERTE$$', sizingMethod='scale');}
#Moteur .alerteCriteresCheck{clear:both; position: absolute; width:32px; height: 32px; margin: 33px 0 0 -8px; background:url('$$PICTO_CHECK$$') no-repeat 0 0 !important; background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$PICTO_CHECK$$', sizingMethod='scale');}
#Moteur .alerteAmbigu{clear:both; position: absolute; width:32px; height: 32px; margin: 33px 0 0 -8px; background:url('$$PICTO_WARNING$$') no-repeat 0 0 !important; background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$PICTO_WARNING$$', sizingMethod='scale');}
#Moteur .alerteNumber{clear:both; position: absolute; width:44px; height: 34px; margin: 18px 0 0 -13px; background:url('/z/webagency/slagence_X_V3/carto/img/$$GEOLOCCOLOR$$_pin_annonce.png') no-repeat 0 0 !important; background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/z/webagency/slagence_X_V3/carto/img/$$GEOLOCCOLOR$$_pin_annonce.png', sizingMethod='scale');}
#Moteur .alerteNumber span{display: block; color: #fff; margin: 4px 0 0 19px; font-weight: bold;}
/* info colonne droite */
#Moteur .alerteInfo_wrap{border: $$BORDER_SECONDAIRE$$; margin: 7px 0; background: $$BG_CDC$$;}
#Moteur .alerteInfo{padding: 0 20px 10px 20px; margin: 0 0 10px 0;}
#Moteur .alerteInfo:first-child{padding: 20px 20px 10px 20px;}
#Moteur .alerteInfo h2{padding: 0 0 5px 0; margin: 0 0 5px 0;}
#Moteur .alerteInfo p{padding: 0 0 12px 0;}
#Moteur .alerteInfo p:last-child{border-bottom: $$BORDER_POINTILLES$$;}

/* ============================================================ */
/* blocs type biens pro + autres */
#Moteur .typeBienImmoEntreprise{}
#Moteur .typeBienImmoAutre{}
/* inputs */
#Moteur .inputText{padding: 1px 2px;}
#Moteur .inputSelect{border: none;}
#Moteur .inputSelect option{font-weight: normal; color: $$INPUT_COLOR_TXT$$; font-size: 1.1em; padding: 0 0 0 5px; background: none; border: none;}
#Moteur .inputTextarea{font-weight: bold; margin: 0 0 10px 0; padding: 1px 2px;}
/**/
#Moteur .inputText,
#Moteur .inputSelect,
#Moteur .inputTextarea{border: $$INPUT_BORDER$$; color: $$INPUT_COLOR_TXT$$; font-size: 12px; background: $$INPUT_BG$$;}
#Moteur .inputText{width: 100px;}
#Moteur .inputSelect{width: 300px;}
#Moteur .inputTextSpan{padding: 0 5px;}
/* ligne rech par ref */
#Moteur #ref_ann{padding: 0 0 20px 0; border-bottom: $$BORDER_SECONDAIRE$$;}
#Moteur #ref_ann .inputText{width: 300px;}
/* recherche ville libre */
#Moteur #cp1,
#Moteur #cp2,
#Moteur #cp3,
#Moteur #cp4{display: block; width: 280px; margin: 0 0 5px 0;}
/* liste villes checkbox (cachée le 17.12.2010 c/o Lisbonne) */
#Moteur #MoteurVilles.miniDiv{height:50px;}
#Moteur #MoteurVilles li{display: block; float: left; width: 30%; padding: 5px; margin: 2px 1% 2px 0; background: $$BG_CDC$$;}
/* bouton validation */
#Moteur #MoteurBouton{border-top: $$BORDER_SECONDAIRE$$; margin: 20px 0; padding: 20px 0; text-align: right;}
#Moteur #MoteurBouton .inputSubmit{cursor: pointer; border: none; font-size: 16px; font-weight: bold; padding: 3px 20px 5px 20px; *padding: 3px 20px; background: $$BOUTON_BG$$; color: $$BOUTON_TXT$$;}
/* bouton modifier */
#Moteur .alerteBtModif{cursor: pointer; border: none; font-size: 16px; font-weight: bold; padding: 3px 20px 5px 20px; *padding: 3px 20px; background: $$BOUTON_BG$$; color: $$BOUTON_TXT$$;}
/* alerte,prevalidation.htm */
#Moteur .preValid{padding: 20px 0;}
#Moteur .preValid a{font-weight: bold; text-decoration: underline; margin: 0 35px 0 0; cursor: pointer;}
#Moteur .preValid a:hover{text-decoration: none;}

/* ========================COMMERCE==================================== */
.tabFond1{width:500px;margin:auto;}
.titre_commerce{font-size: 16px;font-weight: normal;margin-top:15px;}
.tabFond1 table .tabTitre strong{display:none;}
.tabFond1 table strong{margin-top:10px; display:block;}

.col3 select{width:100%}