$$REM$$
/*
====================================================================================

//// <summary>Style CSS general appliqué à toutes les pages de résultats PANORAMA</summary>
//// <remarks>
//// <para>Ce CSS est couplé à d'autres feuilles CSS (ex: recherche_general.css etc.)</para>
//// <para>Toute modification CSS de ce fichier devra être effectuée dans votre "recherche.css"</para>
//// <para>La liste des macros générales est appelé dans ce fichier : slagence_x_v2/styles/recherche_macros.css</para>
//// <para>INTERDICTION FORMELLE DE LE DÉMUTUALISER sous peine de châtiment douloureux, car les updates ne pourront pas s'appliquer aux sites qui le feront</para>
//// </remarks>
//// <update date="2008-10-03" author="lisbonne.siriphol">Correction sur exclu et cdc</update>
//// <update date="2008-08-11" author="lisbonne.siriphol">Création</update>

====================================================================================
*/
$$END$$

<!--#include virtual="styles/macros_recherche.htm" -->
<!--#include virtual="styles/macros_outils.htm" -->
<!--#include virtual="styles/macros_bookmarks.htm" -->
<!--#include virtual="styles/macros_cdc.htm" -->
<!--#include virtual="styles/macros_pictos.htm" -->
<!--#include virtual="styles/all_global_macros.htm" -->

$$REM$$===============>> bloc annonce$$END$$
$$A:ANN_BG=#fff$$
$$A:ANN_WRAP_PADDING=2px$$
$$A:ANN_WRAP_WIDTH=257px$$
$$A:ANN_PADDING=5px$$
$$A:ANN_MARGIN=10px 30px 10px 35px$$
$$A:ANN_MARGIN_IE6=0 0 10px 15px$$
$$A:ANN_DESCR_HEIGHT=125px$$

$$REM$$===============>> photo annonce$$END$$
$$A:PHOTO_WIDTH=248px$$
$$A:PHOTO_HEIGHT=186px$$
$$A:SANS_PHOTO=url(@@PATH_IMG_GENERAL@@/sans_photo.jpg) 0 0 no-repeat$$

/* ============================== resultats annonces panorama ============================== */
/* message d'attente lors du vidage du panier */
#Loading{background: $$LOADING$$; height: 60px; font-weight: bold; color: $$COLORTXT2$$; text-align: center;}
/* conteneur bloc annonce */
.blocAnnonce_wrap{float: left; background: $$ANN_BG$$; border: 1px solid #a1a1a1; padding: $$ANN_WRAP_PADDING$$; margin: $$ANN_MARGIN$$; *margin: $$ANN_MARGIN_IE6$$; width: $$ANN_WRAP_WIDTH$$;}
/* si_exclusif */
.blocAnnonce_wrap .blocAnnonce .photo .exclusif{position: absolute; top: 0; left: 0; z-index: 100; width: $$EXCLUSIF_WIDTH$$; height: $$EXCLUSIF_HEIGHT$$; background: url($$EXCLUSIF_PICTO$$) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$EXCLUSIF_PICTO$$', sizingMethod='scale'); }
/* si_coupdecoeur */
.blocAnnonce_wrap .blocAnnonce .photo .coupdecoeur{position: absolute; top:10px; right:10px; z-index: 100; width: $$CDC_WIDTH$$; height: $$CDC_HEIGHT$$; background: url($$CDC_PICTO$$) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$CDC_PICTO$$', sizingMethod='scale'); }
/* si_promo (update 02.02.2009) */
.blocAnnonce_wrap .blocAnnonce .photo .promo{position: absolute; top:0; left:0; z-index: 100; width: $$PROMO_WIDTH$$; height: $$PROMO_HEIGHT$$; background: url($$PROMO_PICTO$$) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$PROMO_PICTO$$', sizingMethod='scale'); }
/* si nouveau -15 jours (update 06.05.2010) */
.selectionNouveau{position: absolute; z-index: 200; width: $$NOUVEAU_WIDTH$$; height: $$NOUVEAU_HEIGHT$$; background: url($$NOUVEAU_PICTO$$) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$NOUVEAU_PICTO$$', sizingMethod='scale');}

/* bloc annonce */
.blocAnnonce{padding: $$ANN_PADDING$$;}
/* photo */
.blocAnnonce .photo{position: relative; background: $$SANS_PHOTO$$;}
.blocAnnonce .photo a{display: block;  width: $$PHOTO_WIDTH$$; height: $$PHOTO_HEIGHT$$; border: 1px solid #7a7a7a;}
.blocAnnonce .photo a img{display: block; width: $$PHOTO_WIDTH$$; height: $$PHOTO_HEIGHT$$;}
/* infobulle photo */
.blocAnnonce .photo a:hover{background: none;}
.blocAnnonce .photo a em{display: none;}
.blocAnnonce .photo a:hover em{z-index: 200; display: block; position: absolute; width: $$INFOBULLE_WIDTH$$; top: -10%; left: 5%; cursor: pointer; text-decoration: none; font-weight: normal; font-style: normal;}
.blocAnnonce .photo a:hover em .descriptif{display: block; padding: 15px; color: #555; background: #fff; border: 1px solid #a1a1a1; word-wrap: break-word;}
.blocAnnonce .photo a:hover em .descriptif strong.ref{display: block;}
.blocAnnonce .photo a:hover em .descriptifNull{text-align: center;}
.blocAnnonce .photo a:hover em .pointer{display: block; margin: -1px 0 0 93px; width: $$INFOBULLE_POINTER_WIDTH$$; height: $$INFOBULLE_POINTER_HEIGHT$$; background: url($$INFOBULLE_POINTER$$) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$INFOBULLE_POINTER$$', sizingMethod='scale');}
/* infos annonce */
.blocAnnonce .descr{clear: both; height: $$ANN_DESCR_HEIGHT$$; overflow: hidden; width: $$PHOTO_WIDTH$$;}
.blocAnnonce .descr *{font-weight: bold; text-align: center;}
.blocAnnonce .descr p{padding: 1px 0;}
.blocAnnonce .descr .typeBien{font-size:10px; color: $$COLORTXT2$$; float: left;}
.blocAnnonce .descr .typeBien .nbPieces{font-weight: normal; font-size:10px;}
.blocAnnonce .descr a.nbPhoto{display: block; float: right; padding: 0 0 0 10px; font-size:10px; color: $$COLORTXT1$$; font-weight: normal; background: $$ANN_PICTO_FLECHE_01$$;}
.blocAnnonce .descr a.nbPhoto span{color: $$COLORTXT2$$; font-weight: normal; font-size:10px;}
.blocAnnonce .descr .libelle{clear: both; color: $$COLORTXT1$$; font-size: 14px;}
.blocAnnonce .descr .libelle .surface{color: $$COLORTXT1$$; font-size: 12px;}
.blocAnnonce .descr .libelle .terrain{display: block; color: $$COLORTXT1$$; font-size: 12px;}
.blocAnnonce .descr .ville{color: $$COLORTXT2$$;}
.blocAnnonce .descr .prix{color: $$COLORTXT1$$; font-size: 16px;}
.blocAnnonce .descr .prix *{color: $$COLORTXT1$$;}
.blocAnnonce .descr .prix sup{font-weight: normal; font-size: 8px;}
.blocAnnonce .descr .prix .rente{display: block;}
/* prix charges, honoraires et garantie */
.blocAnnonce .descr .prix .charges,
.blocAnnonce .descr .prix .honoraires,
.blocAnnonce .descr .prix .garantie{display: none;}

/* selection annonce */
.blocAnnonce .ajoutSelection{text-align: center;padding:2px;}
.blocAnnonce .ajoutSelection a{color: $$COLORTXT2$$;}
.blocAnnonce .ajoutSelection a:hover{color: $$COLORTXT1$$;}
.blocAnnonce .ajoutSelection .selectionOk{color: $$TXT_SELECTION_OK$$;}
/* suppression annonce */
.blocAnnonce .supprimerSelection{text-align: center; height: 20px;}
.blocAnnonce .supprimerSelection *{font-size: 10px; font-weight: normal; padding: 5px 0 5px 25px;}
.blocAnnonce .supprimerSelection a{color: $$COLORTXT2$$; background: $$ANN_PICTO_DESELECTION$$;}
.blocAnnonce .supprimerSelection a:hover{color: $$COLORTXT1$$;}
.picto img {margin-bottom:-2px;margin-right:4px;}
/* bas annonce */
.blocAnnonce_wrap .detail{background:$$BG_MENU$$;padding:2px;}
.blocAnnonce_wrap .detail *{color: $$TXT_MENU$$; font-weight: bold;}
.blocAnnonce_wrap .detail span {padding: 5px 10px;}
.blocAnnonce_wrap .detail a.lienDetail{display: block; float: right; margin: 0 5px 0 0;}
.blocAnnonce_wrap .detail a:hover{color: $$TXT_MENU_HOVER$$;}
/* sans photo */
.blocAnnonce .sans_photos {
	background:url($$~$$images/photos/sans_photo.png) no-repeat center;
}
