$$REM$$ /*====================================================================================
//// <summary>Style CSS commun à toutes les pages de résultats</summary>
//// <remarks>
//// <para>Même process d'installation que présentations d'annonce version 2008</para>
//// <para>Ce CSS est couplé à d'autres feuilles CSS (ex : agences_liste.css)</para>
//// <para>Méthode : 1) déclaration macros par défaut / 2) include fichier de macros mutualisé / 3) inlude fichier demacros démutualisé</para>
//// <para>Toute modification CSS de ce fichier devra être effectuée dans votre "commun.css"</para>
//// <para>Liste des macros générales pour faciliter la customisation des sites</para>
//// <para>Interdiction de démutualiser ce css, car les updates ne pourront pas s'appliquer aux sites qui le feront</para>
//// </remarks>
//// <update date="2010-06-17" author="lisbonne.siriphol">Création</update>
==================================================================================== */ $$END$$

$$REM$$ /* ============================================================================================
 //////////////////////////////////// MACROS CHEMIN DES REPERTOIRES ///////////////////////////////////
============================================================================================= */$$END$$
<!--#include virtual="styles/macros_path.htm" -->

$$REM$$ /* ===============================================================================================================
 /////////////////////////// MACROS PAR DEFAUT (modifiables dans votre styles/all_global_macros.htm)//////////////////////////
================================================================================================================ */$$END$$

$$REM$$ /* ============================================================================================
 ////////////////////////////////////// MACROS GENERALES PERSOS //////////////////////////////////////
============================================================================================= */$$END$$
<!--#include virtual="styles/macros_recherche.htm" -->
<!--#include virtual="styles/macros_outils.htm" -->
<!--#include virtual="styles/macros_bookmarks.htm" -->
<!--#include virtual="styles/macros_pictos.htm" -->
<!--#include virtual="styles/all_global_macros.htm" -->


/* ============================== conteneur general ============================== */
#RechercheWrap{}
#RechercheWrap *{padding: 0; margin: 0;}
#RechercheWrap .clear{clear: both; height: 0;}


/* ============================== cadre agence (voir styles,agences_liste.css) ============================== */
.agImmoVitrine_Td1,
/* photo agence */.agImmoVitrine{width: $$RECH_AGIMMOPHOTOWIDTH$$; height: $$RECH_AGIMMOPHOTOHEIGHT$$;}
.cadreAgence{margin: 10px 0;}
/* infos spécifiques à cacher */
.listag_infos_plus,
.cadreAgence .indexAg{display: none;}
/* txt agence */
.agImmoVitrine_Td3{width: 55%;}
.agImmoPortefeuille_Ctn{width: 100%; height: $$RECH_AGIMMOPHOTOHEIGHT$$;}


/* ============================== conteneur haut resultats ============================== */
#RechHaut{}
/* picto resultats recherche */
#RechHautPictoResult{float: left; overflow: hidden; background: $$TXT_LIEN$$; margin: 3px 10px 5px 0; padding: 1px;}
#RechHautPictoResult .results{width: $$RECH_PICTO_RESULTAT_SIZE$$; height: $$RECH_PICTO_RESULTAT_SIZE$$; background: url($$RECH_PICTO_RESULTAT_OK$$) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$RECH_PICTO_RESULTAT_OK$$', sizingMethod='scale');}
#RechHautPictoResult .results_null{width: $$RECH_PICTO_RESULTAT_SIZE$$; height: $$RECH_PICTO_RESULTAT_SIZE$$; background: url($$RECH_PICTO_RESULTAT_NULL$$) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$RECH_PICTO_RESULTAT_NULL$$', sizingMethod='scale');}
#RechHautPictoResult .results_selection{width: $$RECH_PICTO_RESULTAT_SIZE$$; height: $$RECH_PICTO_RESULTAT_SIZE$$; background: url($$RECH_PICTO_RESULTAT_SELECTION$$) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$RECH_PICTO_RESULTAT_SELECTION$$', sizingMethod='scale');}
/* phrase résultats recherche BASIC */
#RechHaut h1{font-size: 1.3em;}
#RechHaut h1.biensVendus{font-size: 20px; padding: 3px 0 0 0;}
#RechHaut h2{font-size: 1.3em;}
#RechHaut h2 span{font-weight: normal;}
#RechHaut h2 span a{color: $$TXT_PRINCIPAL$$;}
/* phrase résultats recherche CARTE */
#RechHaut ul#RechCarteResultats{float: left;}
#RechHaut ul#RechCarteResultats *{font-weight: bold; color: $$TXT_TITRE_RUBRIQUE$$;}
#RechHaut ul#RechCarteResultats li{float: left; background: url($$GEOLOC_PICTO_FLECHE$$) left no-repeat; padding: 0 0 0 8px; margin: 0 15px 0 0;}
/* affichage liste/carte */
#RechAffichage_Ctn{width: 100%; overflow: hidden; margin: 5px 0 0 0;}
#RechAffichage_Ctn *{text-decoration: none; font-size: 11px;}
#RechAffichage{width: 1000px; height: 29px; overflow: hidden; border-bottom: $$BORDER_PRINCIPAL$$;}
#RechAffichage .choixAffichage{float: left; width: 150px; margin: 7px 0 0 0; text-align: right;}
/**/
#RechAffichage #RechAffichageListe,
#RechAffichage #RechAffichageCarte,
#RechAffichage #BiensVendus{float: left; margin: 0 0 0 15px; width: 110px; height: 29px; overflow: hidden; background: $$BG_MENU$$;}
#RechAffichage #RechAffichageListe{$$IF=:1:FORM:LISTE$$ background: $$BG_MENU_HOVER$$;$$END$$}
#RechAffichage #RechAffichageCarte{$$IF=:1:FORM:CARTE$$ background: $$BG_MENU_HOVER$$;$$END$$}
#RechAffichage #BiensVendus{$$IF=:1:FORM:BIENSVENDUS$$ background: $$BG_MENU_HOVER$$;$$END$$}
/**/
#RechAffichage a{display: block; text-align: center; padding: 7px 0 10px 0; color: $$TXT_MENU$$;} /**/
#RechAffichage a:hover{color: $$TXT_MENU_HOVER$$; background: $$BG_MENU_HOVER$$;} /**/
#RechAffichage #RechAffichageListe p,
#RechAffichage #RechAffichageCarte p,
#RechAffichage #BiensVendus p{text-align: center; padding: 7px 0 0 0;margin:0; color: $$TXT_MENU_HOVER$$;} /**/
/* liens haut */
#RechHautLiens{padding: 10px 0; *padding: 10px 0 0 0; border-bottom: $$BORDER_POINTILLES$$;}
#RechHautLiens a{display: block; float: left; padding: 3px 0; margin: 0 40px 0 0;}
#RechHautLiens a:hover{}
#RechHautLiens a.nouvelle{}
#RechHautLiens a.selection{}
#RechHautLiens a.selection span{color: $$TXT_LIEN$$;}
#RechHautLiens a.alerte{}
#RechHautLiens a.print{}
#RechHautLiens a.vider{}
#RechHautLiens a.retour{}
#RechHautLiens a.rss{padding: 3px 0 3px 20px; color: $$TXT_RSS$$; background: $$RECH_PICTO_RSS$$;}
#RechHautLiens a.rss:hover{}
/* tri */
form#Tri{float: right;}
form#Tri #Tri_Ctn{color: $$TXT_PRINCIPAL$$;}
form#Tri select{width: 160px; border: $$INPUT_BORDER$$; color: #666; /* because bug IE affichage select */ font-size: 12px; background: #fff; /* because bug IE affichage select */}
form#Tri select.triBiensVendus{width: 225px;}
form#Tri select option,
form#Tri select optgroup{font-style: normal; color: #666;}
form#Tri select optgroup option{font-weight: normal; color: #666; padding: 0 0 0 5px; background: none; border: none;}
/* si selection vide > transac dispo */
.transacDispo{padding: 10px 0;}
.transacDispo p{}
.transacDispo a {display: block; float: left; width: 30%; padding: 1px 0; margin: 0 1% 0 0; overflow: hidden; font-weight: normal; text-decoration: underline;}
.transacDispo a:hover{text-decoration: none;}

/* ============= nb pages ============= */
#RechPagesHaut .pageCourante,
#RechPagesBas .pageCourante{float: left; background: $$RECH_PICTO_PAGE$$; padding: 1px 0 1px 22px;}
#RechPagesHaut,
#RechPagesBas{padding: 10px 0;}
/**/
#RechPagesHaut .rechLiensPages,
#RechPagesBas .rechLiensPages{float: right;}
#RechPagesHaut .rechLiensPages a,
#RechPagesBas .rechLiensPages a{text-decoration: none; display: block; cursor: pointer; float: left; width: 18px; height: 15px; color: $$TXT_PRINCIPAL$$; background: $$BG_CDC$$; padding: 2px 0; margin: 0 4px 0 0; text-align: center; border: none;}
/* span contient caractères > et < si on ne veut pas de picto */
#RechPagesHaut .rechLiensPages a span,
#RechPagesBas .rechLiensPages a span{display: block; color: $$TXT_PRINCIPAL$$;}
#RechPagesHaut .rechLiensPages a:hover span,
#RechPagesBas .rechLiensPages a:hover span{color: $$TXT_MENU_HOVER$$;}
/**/
#RechPagesHaut .rechLiensPages a.actif,
#RechPagesBas .rechLiensPages a.actif,
#RechPagesHaut .rechLiensPages a:hover,
#RechPagesBas .rechLiensPages a:hover{cursor: default; color: $$TXT_MENU_HOVER$$; background: $$TXT_LIEN$$; border: none;}
#RechPagesHaut .rechLiensPages a:hover,
#RechPagesBas .rechLiensPages a:hover{cursor: pointer;}

/* --- message d'attente lors du vidage du panier --- */
#Loading{background: $$RECH_LOADING$$; height: 60px; font-weight: bold; text-align: center; margin: 100px 0 0 0;}

/* ============================== dico immo (situé en bas de page) ============================== */
.dicoImmo{margin: 10px 0 0 0; padding: 10px 0; border-top: $$BORDER_POINTILLES$$; border-bottom: $$BORDER_POINTILLES$$;}
.dicoImmo *{color: $$TXT_SECONDAIRE$$; font-size: 10px; font-weight: normal;}
.dicoImmo a{text-decoration: underline;}
.dicoImmo a:hover{text-decoration: none;}

/* ============================== retour haut (situé en bas de page)============================== */
.retourHaut{padding: 5px 0 20px 0; text-align: right;}
.retourHaut *{font-size: 10px;}
.retourHaut a{}
.retourHaut a:hover{}

/* ============================== alerte email (situé en bas de page)============================== */
#AlerteEmail{border: $$RECH_BORDER_ANN$$; background: $$RECH_BG_ANN$$; margin: 10px 0; padding: 10px;}
/* contenu bloc */
#AlerteEmail h4{color: $$TXT_TITRE_RUBRIQUE$$; font-size: 1.6em;}
#AlerteEmail h3{color: $$TXT_PRINCIPAL$$; font-size: 1.2em; padding: 0 0 10px 0;}
#AlerteEmail h3 span{color: $$TXT_TITRE_RUBRIQUE$$; font-size: 1.2em;}
#AlerteEmail #AlerteForm .erre{color: $$TXT_ERREUR$$; padding: 1px 0 ; font-size: 1em; font-weight: bold;}
#AlerteEmail #AlerteForm .erre .pictoErre{float: left; height: 16px; width: 16px; margin: -1px 5px 0 0;
																								background: url($$PICTO_ERREUR$$) 0 0 no-repeat !important;
																								background: none;
																								filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$PICTO_ERREUR$$', sizingMethod='scale');
}
/* formulaire */
#AlerteEmail #AlerteForm{}
#AlerteEmail #AlerteForm *{color: $$TXT_PRINCIPAL$$;}
#AlerteEmail #AlerteForm #Format{padding: 2px 0;}
#AlerteEmail #AlerteForm #Frequence{padding: 2px 0; margin: 0 0 15px 0;}
#AlerteEmail #AlerteForm label{padding: 0 15px 0 0;}
#AlerteEmail #AlerteForm input.alerte{margin: 0 10px 0 5px; padding: 2px; width: $$INPUT_WIDTH_COURT$$; border: none; color: $$INPUT_COLOR_TXT$$; font-size: 12px; background: $$BG_SECONDAIRE$$;}
#AlerteEmail #AlerteForm input.alerteBt{cursor: pointer; border: none; padding: 2px 10px; color: $$BOUTON_TXT$$; font-weight: bold; background: $$BOUTON_BG$$;}
#AlerteEmail .note{font-size: 10px; color: $$TXT_SECONDAIRE$$; text-align: justify; padding: 5px 0 0 0;}


/* ============================== portefeuille annonces (situé en bas de page)============================== */
.portefeuilleAnn{clear: both; padding: 10px 0; border-top: $$BORDER_POINTILLES$$;}
.portefeuilleAnn *{}
.portefeuilleAnn p{padding: 2px 0;}
.portefeuilleAnn a{display: block; float: left; width: 30%; padding: 1px 0; margin: 0 1% 0 0; overflow: hidden; font-weight: normal; text-decoration: underline;}
.portefeuilleAnn a span{font-size: 10px;}
.portefeuilleAnn a:hover{text-decoration: none;}

.glossList{font-size:9px;}