// VAR COLORS
$color-body:#f1f1f1;
$color-content:#f1f1f1;
$color-block:#fff;
$color-primary:#fff;
$color-secondary:#327852;
$color-action:#327852;
$color-important:#327852;
$color-nav-footer:#000;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;
