/* ============================================= GÉNÉRAL ============================================= */
#HeaderTxt p {color:#838284;}
#HeaderTxt h2 {color:#2a2977;}
#Footer_Ctn {background-color:#fff;}
#Footer a, #LiensImmobilier a.liensImmobilier {color:#838284;}
#FilAriane a {color:#fff;}
#Coordonnees .agenceNom, #Coordonnees a{color:#2a2977;}
#Coordonnees .agenceAdresse {color:#FFF;}
#Coordonnees .agenceVille {color:#FFF;}
#Coordonnees .agenceCP {color:#FFF;}
#Coordonnees .agenceTel em {color:#FFF;}
#Coordonnees span {color:#FFF;}
#Coordonnees .agenceEmail em {color:#FFF;}
#FilAriane em {color:#333;}
#FilAriane span {color:#fff;}
#Coordonnees_Ctn {border-bottom:1px solid #fff;}

/* ============================================= ACCUEIL ============================================= */
.titreParagraphe, #NouveautesAccueil .titreParagraphe span, .titreParagraphe a {color:#444;}
/*Portefeuille*/
#PortefeuilleAccueil ul li a {color:#838284;}
#PortefeuilleAccueil ul li a:hover {color:#2a2977;}
/*Nouveauté*/
.selectionDescr p {color:#838284;}

/* ============================================= MOTEUR, RECHERCHE ============================================= */
#Moteur .moteurTable ul li, #Moteur .moteurTable ul li strong {color:#2a2977;}

#Moteur h1 {color:#333;}
#Moteur h3, #Moteur #ref_ann {border-bottom:1px solid #7b7abb;}
#Moteur #MoteurBouton {border-top:1px solid #7b7abb;}


/*===================cacher à la demande du client======================*/
#Moteur .moteurTable ul li#idtypebien_1 {display:none;}
#Moteur .moteurTable ul li#idtypebien_2 {display:none;}
#Moteur .moteurTable ul li#idtypebien_3 {display:none;}
#Moteur .moteurTable ul li#nb_pieces, #Moteur .moteurTable ul li#nb_chambres, #Moteur .moteurTable ul li#InputSurfaceTerrain {color:#fff; display:none;}





/* ============================================= FLUX, RSS ============================================= */
#FluxRSS h3, #FluxRSS a, #FluxRSS h1 {color:#fff;}
#FluxDef p, #FluxDef a {color:#838284;}


/* ============================================= OUTILS ============================================= */
#Outils th, #Outils label, .accordion_content em, #Outils strong, #Outils .outil4 p{color:#2a2977;}


/* ============================================= GESTION ============================================= */
#ImmoRub h4 {color:#333; }

/* ============================================= RECHERCHE, BASIC ============================================= */
.blocAnnonce {background:none; border:1px solid #7b7abb;}
.contactAnn .ctc {color:#fff;}
#RechHautLiens a, #RechHautLiens a.selection span, #RechHautLiens a.rss {color:#333;}
#RechAffichage {border-bottom:1px solid #838284;}
#RechPagesHaut .rechLiensPages a.actif, #RechPagesBas .rechLiensPages a.actif, #RechPagesHaut .rechLiensPages a:hover, #RechPagesBas .rechLiensPages a:hover {border:1px solid #fff;}
#RechPagesHaut .rechLiensPages a:hover span, #RechPagesBas .rechLiensPages a:hover span {background: #2a2977;border:none;}
#RechPagesHaut .rechLiensPages a, #RechPagesBas .rechLiensPages a, #RechPagesHaut .rechLiensPages a span, #RechPagesBas .rechLiensPages a span {border:1px solid #fff; color:#2a2977;}
#RechHautPictoResult {background-color:#838284;}
#RechHaut h1 {color:#838284;}
#AlerteEmail {background:none; border:1px solid #7b7abb;}
.portefeuilleAnn a {color:#333;}
.photo_ctn {background:url($$_$$images/sans_photo_rech.jpg) 0 0 no-repeat;}

/* ============================================= DETAIL, SENTO ============================================= */
#Annonce_Ctn td#ColonneGauche {background:none; border:none;}
#LiensRetour a {color:#fff;}
.photoNbr, #FancyBox_Ctn a#FancyBox1, #Outils a{color:#333;}
#AgenceContact h4, #FormContact h4 {color:#2a2977;}
#AgenceContact *, #Form_Ctn table td p, #ChampsObligatoires {color:#838284;}
.retourHaut a {color:#333;}
#SansPhoto {background:url($$_$$images/sans_photo_detail.jpg) 0 0 no-repeat;}


/* ============================================= ENVOYER PAR MAIL ============================================= */
h1 {color:#2a2977;}

/* ============================================= AGENCE ============================================= */
#AgImmo a{color:#fff;}

#AgImmo_Ctn h4 {
    border-bottom: 1px dotted #7B7ABB;
    color: #FFF;
    font-size: 1.6em;
    font-weight: normal;
    margin: 20px 0 3px;
    padding: 0 0 3px;
}
#AgImmoMentions p {color:#fff;}
/* horaires d'ouvertures */
#Horaires{clear: both;}
#Horaires h3{font-size: 1.4em; padding: 0 0 5px 0; margin: 0 0 10px 0; }
#Horaires table{width: 80%; border-collapse: collapse; margin: 5px auto 0 auto;}
#Horaires td{border-collapse: collapse; padding: 5px 10px; border-bottom: $$BORDER_POINTILLES$$;}
#Horaires td span.am1,
#Horaires td span.pm1{padding: 3px 2px 3px 10px;}
#Horaires td span.am2,
#Horaires td span.pm2{padding: 3px 10px 3px 2px;}
#Horaires td span.am2{margin: 0 10px 0 0;}
#Horaires td.jour{width: 100px; text-align: left; color:#fff;}
#Horaires td.heuresAM,
#Horaires td.heuresPM{width: 130px; text-align: center;}
#Horaires p.comments{text-align: center; padding: 1em 0;}

/* portefeuille agence */

ul#AgImmoPortefeuille li.typeTransac{margin: 15px 0 0 0; background: none;}
ul#AgImmoPortefeuille li{background: none;}
ul#AgImmoPortefeuille li.typeTransac a{color:#fff;}
ul#AgImmoPortefeuille li ul li.subList{padding: 4px 12px; background: $$PICTO_FLECHE$$; border-bottom: $$BORDER_POINTILLES$$;}

/* horaires d'ouvertures */
#Horaires{clear: both;}
#Horaires h3{font-size: 1.4em; padding: 0 0 5px 0; margin: 0 0 10px 0;}
#Horaires table{width: 80%; border-collapse: collapse; margin: 5px auto 0 auto; }
#Horaires td{border-collapse: collapse; padding: 5px 10px; border-bottom: $$BORDER_POINTILLES$$;}
#Horaires td span{color:#fff;}
#Horaires td span.am1,
#Horaires td span.pm1{padding: 3px 2px 3px 10px;}
#Horaires td span.am2,
#Horaires td span.pm2{padding: 3px 10px 3px 2px;}
#Horaires td span.am2{margin: 0 10px 0 0;}
#Horaires td.jour{width: 100px; text-align: left;}
#Horaires td.heuresAM,
#Horaires td.heuresPM{width: 130px; text-align: center;}
#Horaires p.comments{text-align: center; padding: 1em 0;}