// COLOR DEFAULT ACTION
$color-btn-action:false !default;
.btn {
  display: inline-block;
  *display: inline;
  padding: 7px 13px;
  margin-bottom: 0;
  line-height: 20px;
  *line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-decoration:none;
 @if $arrondi == yes {
	  background-repeat: repeat-x;
	  @include border-radius(2px);
  }
  *zoom: 1;
  &:hover{
  	text-decoration:none;
	}
}
.btn:first-child {
  *margin-left: 0;
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  /*background-color: #e6e6e6;
  background-image: none;*/
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-large {
  padding: 9px 14px;
  line-height: normal;
  @if $arrondi == yes {
  	@include border-radius(2px);
  }
}
.btn-small {
  padding: 3px 9px;
  line-height: 18px;
}
.btn-mini {
  padding: 2px 6px;
  line-height: 17px;
  @if $arrondi == yes {
  	@include border-radius(2px);
  }
}
.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block{
  width: 100%;
}
input[type="submit"].btn {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}
// BTN ACTION
.btn-action {
	// COLOR
	@if $color-btn-action != false {
		color:$color-btn-action;
	} @else {
		@include lightnessColor($color-action,no);
	}
	@include background-image(linear-gradient(top, $color-action 0%, $color-action-dark-5 100%));
	@include filter-gradient($color-action,$color-action-dark-5,vertical);
	border-bottom:5px solid $color-action-dark-10;
	// HOVER
	&:hover {
		@include lightnessColor($color-action,no);
		@include background-image(linear-gradient(top, $color-action-dark-5 0%, $color-action-dark-10 100%));
		@include filter-gradient($color-action-dark-5,$color-action-dark-10,vertical);
		border-bottom:5px solid $color-action-dark-15;
	}
}
// BTN ACTION NO GRADIENT
.btn-action-no-gradient {
	// COLOR
	@if $color-btn-action != false {
		color:$color-btn-action;
	} @else {
		@include lightnessColor($color-action,no);
	}
	background-color:$color-action;
	border-bottom:5px solid $color-action-dark-10;
	@include transition-bg;
	// HOVER
	&:hover {
		// COLOR 
		@include lightnessColor($color-action,no);
		background:$color-action-dark-5;
	}
}
// BTN IMPORTANT
.btn-important {
	@include lightnessColor($color-important,no);
	@include background-image(linear-gradient(top, $color-important 0%, $color-important-dark-5 100%));
	@include filter-gradient($color-important,$color-important-dark-5,vertical);
	border-bottom:5px solid $color-important-dark-10;
	// HOVER
	&:hover {
		@include lightnessColor($color-important,no);
		@include background-image(linear-gradient(top, $color-important-dark-5 0%, $color-important-dark-10 100%));
		@include filter-gradient($color-important-dark-5,$color-important-dark-10,vertical);
		border-bottom:5px solid $color-important-dark-15;
	}
}
// BTN NEUTRE
.btn-neutre {
	// COLOR
	@include lightnessColor($color-block,no);
	background: $color-block;
	@include transition-bg;
	border-bottom:5px solid $color-block-dark-10;
	// HOVER
	&:hover {
		// COLOR
		background-color:darken($color-block,5);
		@include lightnessColor($color-block-dark-5,no);
	}
	//@extend .pie;
}
// BTN pour le téléphonez nous de la page détail
.btn-detail-tel {
  padding-top: 2px;
  padding-bottom: 1px;
}
.btn-detail-tel #texte-telephonez-nous-detail{
	padding-top: 7px;
	padding-bottom: 8px;
	display: block;
}
/* TABLET PORTRAIT */
@media only screen and (min-width: 600px) and (max-width: 767px) {
.btn {
	$calculbtn:$font-size-text * 1.3;
	display:inline-block;
	padding:$calculbtn / 4;
	width: auto;
	margin-bottom:10px;
	}
}
/* PORTRAIT TO LANDSCAPE MOBILE */
@media only screen and (max-width : 767px) {
.btn-important {
	$calculbtn:$font-size-text * 1.3;
	display:inline-block;
	padding:$calculbtn / 4;
	margin-bottom:10px;
	}
}