// COLOR DEFAULT ACTION
$color-btn-action:false !default;
.btn {
  	display: inline-block;
  	*display: inline;
  	margin-bottom: 0;
	line-height: 20px;
  *line-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	text-decoration:none;
	text-shadow:none;
	padding: 4px 14px;
	@if $arrondi == yes {
		background-repeat: repeat-x;
		@include border-radius(4px);
  	}
  	@include transition-property(all);
	@include transition-duration(0.2s);
  	@include box-shadow(rgba(0,0,0,.05) 0 2px 2px, rgba(0,0,0,.08) 0 -2px 0 inset);
  *zoom: 1;
  	&:hover{
  		text-decoration:none;
	}
	
}
.btn:first-child {
  *margin-left: 0;
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  /*background-color: #e6e6e6;
  background-image: none;*/
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-large {
	line-height: normal;
	padding: 9px 14px;
  @if $arrondi == yes {
  	@include border-radius(5px);
  }
}
.btn-small {
  padding: 3px 9px;
  line-height: 18px;
}
.btn-mini {
  padding: 2px 6px;
  line-height: 17px;
  @if $arrondi == yes {
  	@include border-radius(2px);
  }
}
.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block{
  width: 100%;
}
input[type="submit"].btn {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}
// BTN ACTION
.btn-action {
	@include lightnessColor($color-action,no);
	@include box-shadow(rgba(0,0,0,.05) 0 2px 2px, rgba(0,0,0,.12) 0 -2px 0 inset, rgba(255,255,255,.3) 0 1px 0 inset);
	background-color:$color-action-light-5;
	border:1px solid $color-action;	
	// HOVER
	&:hover {
		@include lightnessColor($color-action,no);
		background-color:$color-action-light-10;
	}
}
// BTN ACTION NO GRADIENT
.btn-action-no-gradient {
	@extend .btn;
}
// BTN IMPORTANT
.btn-important {
	@include lightnessColor($color-important,no);
	@include box-shadow(rgba(0,0,0,.05) 0 2px 2px, rgba(0,0,0,.12) 0 -2px 0 inset, rgba(255,255,255,.3) 0 1px 0 inset);
	background-color:$color-important;
	border:1px solid $color-important;	
	// HOVER
	&:hover {
		@include lightnessColor($color-important,no);
		background-color:$color-important-light-5;
	}
}
// BTN NEUTRE
.btn-neutre {
	@include lightnessColor($color-block,no);
	background-color:$color-block-dark-5;
	@include box-shadow(rgba(0,0,0,.05) 0 2px 2px, rgba(0,0,0,.12) 0 -2px 0 inset, rgba(255,255,255,.3) 0 1px 0 inset);
	border:1px solid $color-block;	
	// HOVER
	&:hover {
		@include lightnessColor($color-block,no);
		background-color:$color-block-light-5;
	}
}
// BTN pour le téléphonez nous de la page détail
.btn-detail-tel {
  padding-top: 2px;
  padding-bottom: 1px;
}
.btn-detail-tel #texte-telephonez-nous-detail{
	padding-top: 7px;
	padding-bottom: 8px;
	display: block;
}
/* TABLET PORTRAIT */
@media only screen and (min-width: 600px) and (max-width: 767px) {
.btn {
	$calculbtn:$font-size-text * 1.3;
	display:inline-block;
	padding:$calculbtn / 4;
	width: auto;
	margin-bottom:10px;
	font-weight:bold;
	}
}
/* PORTRAIT TO LANDSCAPE MOBILE */
@media only screen and (max-width : 767px) {
.btn-important {
	$calculbtn:$font-size-text * 1.3;
	display:inline-block;
	padding:$calculbtn / 4;
	margin-bottom:10px;
	font-weight:bold;
	}
}