/* ============================================================================================ */
/* == CSS BOUTONS "MOBILEFIRST" */
/* ============================================================================================ */

.btn {
    display: inline-block;
    padding: .5em 1.5em;
    cursor: pointer;
    vertical-align: middle;
    border: 0;
    font-family: $font-title;
    font-size: .875em;
    font-weight: $weight-title;
    line-height: normal;
    text-align: center;
    text-decoration: none;
    text-transform: $type-title;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
    @if $arrondi == yes {
        border-radius: 2rem;
    }
    &:focus,
    &:hover,
    &:active {
        text-decoration: none;
    }
    & + .btn {
        margin-right: 0;
        margin-left: 1rem;
        &.btn-block {
            margin-top: 1rem;
            margin-left: 0;
        }
    }
    &.disabled,
    &[disabled] {
        cursor: default;
        opacity: .5;
    }
}

.btn-block {
    display: block;
    width: 100%;
    & + .btn-block {
        margin-top: 1rem;
        margin-left: 0;
    }
}

.btn-large {
    font-size: 1em;
}

.btn-small {
    padding: .3em 1em;
}

.btn-mini {
    padding: .3em 1.25em;
    font-size: .75em;
}


@mixin btn-style($color) {
    background-color: $color;
    @include lightnessColor($color,no);
    &:focus,
    &:hover,
    &:active {
        background-color: darken($color,5);
        @include lightnessColor($color,no);
        &.disabled,
        &[disabled] {
            background-color: $color;
        }
    }
}

.btn-action,
.btn-action-no-gradient {
    @include btn-style($color-action);
}

.btn-important {
    @include btn-style($color-important);
}

.btn-neutre {
    @include btn-style($color-block);
    &:focus,
    &:hover,
    &:active {
        background-color: darken($color-block,2);
    }
}

@media (max-width: 767px) {

    body {
        .btn,
        .btn-navbar {
            padding: .5em 1em;
        }
    }

    .btn {
        display: block;
        & + .btn {
            margin-top: 1rem;
            margin-left: 0;
        }
    }

}
