/* GENERAL */
*{margin:0;padding:0;border:none;}
ul,li{list-style:none;}
table,td{border-collapse:collapse;}
a{color:#b2000b;}
a:hover{text-decoration:none;}
body{background:#cecece;text-align:center;font-family:arial,verdana,helvetica,sans-serif;font-size:11px;color:#666;}
.clear {clear:both;margin:0;padding:0;display:block;}
h1{color:#b2000b;font-size:16px;}
h2{color:#b2000b;}
/* TOP HEADER */
#TopHeader_Ctn{background:#cecece;border-bottom:1px solid #bbb;}
#TopHeader{width:950px;margin:auto;text-align:left;height:30px;overflow:hidden;}
/* MARQUEE */
#MarqueeSite{float:left;width:880px;line-height:30px;height:30px;font-size:10px;color:#333;font-size:10px;text-align:center;}
#MarqueeSite a{text-decoration:none;}
#MarqueeSite a:hover{text-decoration:underline;}
/* LIEN ACCUEIL */
#AccueilSite {float:left;width:55px;line-height:30px;height:30px;text-transform:uppercase;color:#b2000b;}
#AccueilSite a{text-decoration:none;color:#b2000b}
#AccueilSite a:hover{text-decoration:underline;color:#b2000b}
/* DRAPEAUX */
#Drapeaux {float:left;display:block;margin:5px 0 0 10px;padding-top:3px;}
#Drapeaux .flag{float:left;display:block;width:20px;height:14px;margin:0 0 0 5px;}
#Drapeaux #Lang-fr{background:url('$$_$$images/flag-fr.gif') 0 0 no-repeat;}
#Drapeaux #Lang-en{background:url('$$_$$images/flag-en.gif') 0 0 no-repeat;}
/* HEADER */
#Header_Ctn{background:#eee;border-bottom:1px solid #bbb;padding:0;}
#Header{width:960px;margin:0 auto;text-align:left;padding:0;}
#Intro_Ctn {margin-bottom:10px;}
/* LOGO */
#IntroLogo{float:left;width:240px;text-align:left;margin:0;padding:5px;}
/* TXT INTRO */
#IntroTxt{float:left;margin:0 0 0 10px;padding:5px;width:600px;}
#IntroTxt h2{font-size: 11px;}
#IntroTxt p{line-height: 16px; text-align: justify;}
/* MENU */
#Menu_Ctn{text-align:right;}
ul#Menu{float:right;}
ul#Menu li{float:left;}
ul#Menu li a{display:block;padding:10px;margin:0 0 0 5px;background:#cecece;color:#fff;text-align:center;text-transform:uppercase;text-decoration:none;font-size:12px;}
ul#Menu li a:hover{color:#fff;background:#b2000b;}
/* CTN NAVIGATION */
#Wrap{background:#fff;padding: 0 0 30px 0;}
#Ctn{width:960px;margin:0 auto;text-align:left;min-height:450px;_height:450px;background:#fff;}
/* FIL ARIANE */
#FilAriane{clear:both;padding:10px 0 5px 0;margin:0 0 3px 0;font-size:11px;}
#FilAriane #FilArianePicto{display:none;}
#FilAriane span{color:#999;}
#FilAriane em{color:#b2000b;font-style:normal;}
/* ACCUEIL */
#Visuel_Ctn{background:#ececec;padding:5px;overflow:hidden;}
/* VISUEL ACCUEIL */
#VisuelAccueil{float:left;overflow:hidden;width:600px;height:300px;background: url($$_$$images/visuel.jpg) 50% 50% no-repeat;}
/* PORTEFEUILLE */
#PortefeuilleAccueil_Ctn{float:left;width:310px;margin:0 10px 0 30px;height:300px;}
#PortefeuilleAccueil{overflow:auto;height:300px;}
#PortefeuilleAccueil h6{font-weight:normal;color:#b2000b;font-size:12px;}
#PortefeuilleAccueil h6 span{font-weight:normal;color:#999;font-size:12px;}
#PortefeuilleAccueil a{text-decoration:none;}
#PortefeuilleAccueil h4{padding:20px 0 3px 0; border-bottom:1px dotted #bbb;}
#PortefeuilleAccueil h4 a{text-transform:uppercase;font-size:12px;}
#PortefeuilleAccueil ul li{padding: 3px 0 3px 20px;border-bottom:1px dotted #bbb;}
#PortefeuilleAccueil ul li a{color:#666;text-decoration:none;}
#PortefeuilleAccueil ul li a:hover{color:#999;}
/* BLOC NOUVEAUTES ET RECHERCHE ACCUEIL */
#AnnoncesAccueil {display:block;margin:20px 0 0 0}
#MoteurAccueil {float:left;width:370px;}
#NouveautesAccueil {float:left;margin:0 0 0 10px;width:580px;}
.titreParagraphe{padding:0;margin: 0 0 10px 0;border-bottom:1px dotted #bbb;font-size:15px;font-weight:bold;color:#b2000b;text-transform: uppercase;}
.titreParagraphe span {float:right;font-size:10px;font-weight:bold;padding-top:2px;}
/* BLOC COORDONNEES */
#Coordonnees_Ctn{background:#aaa;}
#Coordonnees{width:960px; margin:auto;padding:10px 0;text-align:center;font-weight:normal;font-size:12px; font-style:normal;text-decoration:none;color:#fff;}
#Coordonnees strong{text-transform:uppercase;padding:0 10px 0 0;}
#Coordonnees span{padding: 0 10px 0 0;}
/* FOOTER */
#Footer_Ctn{background:#fff;}
#Footer{width:960px;margin:auto;text-align:left;padding:20px 0;font-weight:normal;color:#666;}
#Footer h3{padding: 3px 0;margin: 0 0 3px 0;height:30px;border-bottom:1px dotted #bbb;font-size:10px;}
#Footer h3 a, #Footer h3 a strong{color:#b2000b;}
#Footer h3 a:hover, #Footer h3 a:hover strong{text-decoration: none;}
#Footer a{text-decoration:none;color:#666;}
#Footer a:hover{text-decoration: underline;}
/* FOOTER PORTEFEUILLES */
#PortefeuilleVilles_Ctn {float:left;width:300px;}
/* FOOTER IMMOS */
#LiensImmobilier{float:left;padding:0;line-height:18px;width:300px;margin-left:50px;}
#LiensImmobilier a{display:block;margin:3px 0;}
/* FOOTER RSS */
#FlusRSS{float:left;line-height:18px;width:300px;margin-left:50px;}
#FlusRSS a{display:block;margin:3px 0;color:#e95d0f;}
#FlusRSS a.hover{text-decoration:none;}
#FlusRSS a.fluxRSS{display:block;margin:3px 0;color:#e95d0f;background: url('$$-$$images/rss/rss.png') left no-repeat;padding:5px 0 5px 35px;}
#FlusRSS a.fluxRSS:hover{text-decoration:none;}
/* LIENS BAS FOOTER */
#FooterBottom_Ctn{background:#cecece;text-decoration:none;color:#666;}
#FooterBottom{width: 960px;margin:auto;text-align:center;padding: 15px 0;text-decoration:none;color:#666;}
#FooterBottom .sepSep{margin:0 5px;}
#FooterBottom a{color:#666}
#FooterBottom a:hover{text-decoration:none;}
/* SUIVI CLIENT */
.suiviClientLien{position:absolute;top:-26px;right: -5px;}
/* RETOUR */
.retourHaut {float:right;margin:5px 0 0 0;padding:0;font-size:12px;font-weight:bold;} 
/*FOOTER REFERENCEMENT*/
.leftreffooter{float:left;}
.conteneurfoot{margin:auto;width:960px;}
.contentblocklink{float:right;margin-bottom:10px;}
.blockcol{float:left;margin-left:30px;text-align:left;}
.footerlink h4{color:#fff; font-weight:normal;margin:0;padding:0;margin-top:10px;font-size:1.2em;}
.footerlink{float:none;}
.footerlink a{display:block;font-size:0.8em;color:#ccc;}