/* CSS Document */
/* Redefinitions des balises HTML */ 
	*{margin:0;padding:0;font-size:12px;font-family:Arial, Verdana, Helvetica, sans-serif;color:#000;}
	img{border:0}
	.clear{clear:both;}
	a{text-decoration:underline;outline:none;color:#000;}
	a:hover{color:#565655 ;text-decoration:none;}
	hr{display:none;}
	select option{padding:0;}
	table{ margin:0 auto; padding:0;}
	table tr td,
	table tr td p
	#milieu table tbody tr td{ padding:5px 0px; text-align:justify; text-align:left;}
	* html input.alerte{ background:#fff;}
	/* --------Modification AR PLAN SITE-------- */    
	body{background:#fff; margin-top:-3px;}
	/* Effet bordure (espace 5px) entre BG menu et bande BG site */ 
	#header{margin:0 auto 0;overflow:hidden;position:relative;width:993px;}
	#global{position:relative;width:993px; margin:0 auto;clear:both;}


/* ----------------------------------------PAGE ACCUEIL---------------------------------------- */	   
   
/* --------LOGO AGENCE-------- */ 
#LogoAgence {display:inline;float:left;padding:0 0 0 7px;width:294px;}
#LogoAgence img{ display:block;
margin:40px auto 0;}
/* --------DRAPEAUX LANGUES FRANCAIS ET ANGLAIS-------- */ 		
/* Mettre en DISPLAY:NONE si pas d'option Anglais */ 
	#Drapeaux {left:924px;
position:absolute;
top:9px;}
	#Drapeaux img {padding-right:8px;}

/* --------TEXTE ACCUEIL--------*/ 
	#textAccueil {float:right;overflow:hidden;padding:10px 63px; 0;width:560px}
/* Modification TITRE texte d'accueil */ 
	#textAccueil h1{ font-size:17px; font-weight:bold;color:#99cc00; padding:0 0 11px;}
/* Modification CORPS texte d'accueil */ 
	#textAccueil p{ color:#000;display:block;font-size:12px;line-height:15px;padding:6px 0 1px;text-align:justify;}
	#textAccueil p strong{ color:#000;}
	#textAccueil a{ text-decoration:none; color:#000;}
	#textAccueil a:hover{ text-decoration:underline; color:#000;}
	.txt_red {color:#d12222;}

/* LOGOS: FNAIM & SIA */
	#Partners{ display:none; position:absolute; top:0px; right:0px; width:62px; float:left; text-align:center;}
	#Partners span img{text-align:center; padding:2px 0;}

/* --------MARQUEE DEFILANTE-------- */
/* Modification COULEUR  MARQUEE */ 	
	#RefMarqueNavig{ width:564px; float:right; display:inline;color:#000000;background:none;margin:0 4px 0 0;}
	#RefMarqueNavig img{ float:left;}
	#RefMarqueNavig p{ color:#fff; font-size:14px; padding:10px 0 10px 0;}
	#RefMarque{ width:564px; float:right; display:inline;color:#000000; font-size:10px;background-color:#fff;margin:0 -1px 0 0; padding:0 4px 0 0;}
	#RefMarque marquee{width:555px;margin:0;padding:0; color:#000000; padding:8px 5px 8px 5px;}
	#RefMarque marquee a {color:#000000;}
	#RefMarque marquee a strong {color:#000000;}
	#RefMarque marquee a:hover {color:#565655;}

/* ----- Moteur -----*/
	h2.TitrePage{ color:#000; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}
	.TitreTypeDeBien, .TitreMoteurListeVille, .TitreMoteurInvestir, .TitreMoteurSituation, .TitreNombreDeChambres, .TitreMoteurMeuble, .TitreMoteurNbPersonnes, .TitreMoteurPays, .TitreSousTypeDeBien, .TitreMoteurEquipement, .TitreMoteurCritereSup, .TitreMoteurViager, .TitreNombreDePieces, .TitreMoteurSurface, .TitreMoteurReferencement, .TitreMoteurBudget, .TitreMoteurBudgetVac, .TitreMoteurProximite, .TitreMoteurSurfaceTerrain{color:#fff;}

/* --------MENU + FLUX RSS-------- */
/* Modification COULEUR + TAILLE fond MENU */
	#remplissageMenu{ width:100%; background:#e2e2e2; min-height:44px; clear:both; overflow:hidden}		
	#menuFlux{width:991px; background:#000;height:46px; border-left:5px solid #fff; border-right:4px solid #fff; border-top:1px solid #fff;margin:0 auto;}
	#menu {float:right; display:inline; padding:11px 0 0 0; position:relative; z-index:2;}
	#menu ul{ display:inline; margin:0 0 0 6px; list-style-type:none;}
	#menu li{ float:left; font-size:15px; padding:0 2px; position:relative;}
	
	.sous_menu{position:absolute; top:30px; left:-2px; display:none;width:132px;}
	.sous_menu1{display:block;width:335px; margin-left:25px;}
	.sous_menu1 a{margin-top:2px;}
	.sous_menu a{background:#000000;color:#000000;display:block;padding:5px 0 5px 4px;border-bottom:1px solid #fff;}
	.sous_menu a.offre{border-top:1px solid #fff;}
	.sous_menu a{color:#fff;}
	#menu ul li.MenuSep{ color: #fff;margin:3px 0 0}
	/* Modification COULEUR TEXTE MENU */ 
	#menu a{ font-weight:bold;color: #fff; text-decoration:none;font-size:14px;padding:5px 9px; display:block}
	#menu a:hover{ color:#000;background:#fff;}		
/* Modification FLUX RSS */ 		
	#fluxRss{float:left; display:inline; padding:15px 25px 5px 0; }
		#fluxRss a{ background:url(../images/puce_rss.gif) 0 0 no-repeat; font-size:10px; text-decoration:underline; color:#fff; margin:0 0 5px 10px; padding:1px 5px 6px 20px;}
	#fluxRss a:hover{ font-size:10px; text-decoration:none; color:#d12222;}
	#fluxRss img{float:left; display:inline; vertical-align:middle;}


/* --------CONTENU SITE = ZONE DU MILIEU-------- */
/* Modification COULEUR ARRIERE PLAN CONTENU SITE */ 	
	#milieu{width:984px;padding:24px 0 3px 0px; min-height:250px;background:#fff; border-left:4px solid #fff; border-right:5px solid #fff;_border-right:5px solid #fff; margin:0 auto; position:relative; z-index:1; overflow:hidden}
/* Positionnement bandeau image */ 
	#visuel{float:left; display:inline; width:654px; margin:0 0 10px 0; padding:0;}		
/* Modification COULEUR BORDURE IMAGE */ 		
	#visuel img{border:4px solid #000;}
 

/*--------POSITIONNEMENT MINI MOTEUR-------- */ 
	.miniMoteur{float:right;display:inline;width:220px;padding:0 0 2px 42px;position:relative;background:url(../images/fontTitreMoteur.gif) 0 2px no-repeat;}
/* Modification TITRE RECHERCHE */ 		
	.miniMoteur h2{font-size:18px; font-weight:bold; color:#000;padding:12px 0 0 0;}
	#RechHaut #RechHautCtn h2 span,#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .quartier,#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .surface,#RechercheContainer #AlerteEmail #AlerteEmailCtn h3,#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .prox{color:#000000;}
	.MoteurListeVilles select option{padding:0 0 0 2px;}
/* A NOTER !!!! Pour styliser les champs + bouton mini moteur VOIR == MINI_MOTEUR.CSS */ 

/* page location*/
.MoteurSurfaceTerrain input.imputForm, .MoteurSurface input.imputForm, .MoteurBudget input.imputForm, .MoteurReference input,.imputForm,.MoteurListeVilles select,input.imputForm{border:1px solid #818181; color:#000}
/* ----------- 3 COUPS DE COEUR ------------- */ 
	#blocBas #coupCoeur{float:left;display:inline;width:715px;margin:0 0 15px 0; clear:both; overflow:hidden }

/* ----------- LISTE TRANSACTIONS AGENCE ------------- */ 
	#blocBas .nbrTransaction{float:right;width:209px; margin:10px 12px 0 0; height:220px;}
	.nbrTransaction h4 a{color:#000;}
/* Modification COULEUR "AUJOURD'HUI" */ 	
	#blocBas .nbrTransaction h3{font-size:13px;font-weight:bold;padding:1px 0;color:#000; }
/* Modification COULEUR TYPE TRANSACTION */ 	
	#blocBas .nbrTransaction h4{width:167px;font-weight:bold;font-size:13px;color:#000;padding:10px 0 0 0;}
	#blocBas .nbrTransaction ul{list-style-type:none;margin:0 0 10px 3px; line-height:16px;}
/* Modification COULEUR TYPE DE BIEN */ 
	#blocBas .nbrTransaction ul *{font-size:11px;color:#000;}
	#blocBas .nbrTransaction ul a:hover{text-decoration:none;color:#565655 ;}



/* -----------INCLUDE BAS------------- */ 

/* Modification COULEUR BANDE COORDONNEES */ 
	.CoordonneesAgence {font-size:12px; background:#000; height:27px; text-align:center; padding-top:13px; color:#fff; font-weight:bold;}	
/* Modification BG footer portefeuille + menu secondaire */
	.footerPosition{background:#e2e2e2; width:985px; border-left:4px solid #fff; border-right:4px solid #fff; padding-bottom:15px; margin:0 auto;}
	
	.porteFeuille{float:left;width:610px;padding-left:30px;}
/* ARRIERE PLAN FOOTER */
	#footer{ background:#e2e2e2; margin:0 auto; padding:0 0 0 1px;}
	/*details*/
	#RechercheContainer #AlerteEmail #AlerteForm * {
color:#000;}
#RechercheContainer #AlerteEmail #AlerteForm input.alerte{border:1px solid #818181;
color:#818181;}	
		
/* Modification couleur 2 TITRES FOOTER */ 
	#footer h4{font-size:11px;font-weight:bold;background:url(../images/puce.png) 29px 3px no-repeat;padding:4px 0 4px 55px;margin:17px 0 0 0;line-height:19px;}
/* titre gauche : Notre portefeuille immobilier */
	#footer .porteFeuille h4{font-size:12px; color:#000000;}
/* titre droite : www.urldusite.com */
	#footer .menuSecondaire h4{font-size:12px; color:#000;}
	#footer .menuSecondaire a{}
	#footer .menuSecondaire a:hover{ text-decoration:underline;color:#000;}		
/* Modification couleur LISTE DES VILLES */ 
	.porteFeuille .ListeVilles{width:520px;text-align:justify;line-height:13px;border:0;color:#818181; padding:4px 0 0 5px;}
	.ListeVilles *{color:#818181; font-size:12px;font-weight:normal;}
	.ListeVilles a{color:#818181;text-decoration:none;}
	.ListeVilles a:hover{color:#565655;text-decoration:underline;}

/* Modification couleur MENU SECONDAIRE FOOTER (droite) */
	.menuSecondaire{float:left;width:980px;font-size:12px;color:#818181;}
	.menuSecondaire p{padding:3px 0 0 5px; color:#000; text-align:justify; width:830px; padding-left:30px;}
	.menuSecondaire p a{font-size:12px;color:#000;text-decoration:none;}
	.menuSecondaire p a:hover{font-size:12px;color:#000000 ;text-decoration:underline;}
	span.sepSep{ color:#000;}



/* ----------------------------------------AUTRES PAGES DU SITE---------------------------------------- */
/*moteur recherche vente et location*/
.FormulaireTypeDeBien, .MoteurPieces, .MoteurSurface, .MoteurSurfaceTerrain, .MoteurReference, .MoteurBudget, .MoteurReference, .MoteurListeVilles, .MoteurProximite, .MoteurInvestir, .MoteurMeuble, .MoteurEquipement, .MoteurBudgetVac, .MoteurChambres, .MoteurPreliste, .MoteurSurfaceTerrain, .MoteurNbPersonnes, .MoteurSituation, .MoteurPays, .MoteurViager, .MoteurListeVille, .MoteurCarte, .MoteurCritereSup, .MoteurRayon, .MoteurRayon span{ color:#000}
/* Page En Construction */
	#EnConstruction{margin-top:70px; text-align:center;}


/* PAGE PLAN DU SITE = incl_plan-site.htm */  
	ul#Plan *{text-decoration: none; font-weight: bold; color:#000}
	ul#Plan{padding: 0 8em; width:423px; margin:0 auto;position:relative;top:-25px;}
	ul#Plan li.plan{ color:#000; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;border-bottom:none;}
	ul#Plan li.MenuSep{display:none;}
	ul#Plan li{padding: 0.2em 0; border:none;}
	ul#Plan .plan{padding: 0.2em 0;background:none;}
	ul#Plan li a{ background:none;color:#000;padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #000 ; text-transform:uppercase;}
	ul#Plan li a:hover{color:#fff;padding-left:10px; height:19px;font-size: 12px; background:#000;}


/* Outils */
	ul#Outils *{text-decoration: none; font-weight: bold; unicode-bidi:}
	ul#Outils{padding: 2em 8em; width:400px; margin:0 auto;}
	ul#Outils li.list{padding: 0.2em 0px;background:none; margin:2px 0; border:none;}
	ul#Outils li a{color:#000;padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #000 ; text-transform:uppercase;}
	ul#Outils li a:hover{color:#fff;padding-left:10px; height:19px;font-size: 12px; background:#000;}
	#Outils li.titrePageOutils{ color:#000; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}
	#Outils a:hover{color:#565655 ;}
/*menstion légale*/
#MentionsLegales ul li strong {
color:#000;}
#MentionsLegales p,#MentionsLegales ul li{color:#818181;}

/*PAGES ESTIMATION + CONTACT + MESSAGE == TABLEAUX FORMULAIRES*/
	.tabFond1{border-color:#00AA00; border-width:0; border-style:solid; padding:2px; font-family:Arial, Helvetica, sans-serif; width:100%;}
	 textarea {width:598px; height: 100px;border:1px solid #818181;margin: 0 0 0 3px; padding:0 0 0 2px; color:#818181}
	.tabFond2{border-color:#00AA00; border-width:1px; border-style:solid; padding:2px; font-size:14px; font-family:Arial, Helvetica, sans-serif;}
	.tabTitre{background:#000; color:#fff; font-size:14px; font-weight: bold; font-family:Arial, Helvetica, sans-serif;height:25px;padding:3px; text-align:center; text-transform:uppercase;}
	.tabTitre *{color:#fff; font-size: 14px;}
	.tabPrint{color:#5C5E5D; font-size: 13px; font-family:Arial, Helvetica, sans-serif; border:1px solid #00AA00;}
	.tabFond1 td input{margin:3px;border:1px solid #818181; padding:0 0 0 2px; color:#818181; color:#818181}
	.tabFond1 td input.BoutonFormRecherche{float:right;width:120px;height:25px;border:none;}
	select.imputForm{border:1px solid #818181;margin:0 0 0 3px;}
	select.imputForm option{padding:0 0 0 2px; color:#818181}
	.tabFond1 table{ width:100%;}
	 input.imputForm{border:1px solid #818181; padding:0 0 0 2px;}
	 .MoteurProximite input.imputForm{border:1px solid #818181;}
	 input.boutonEnvoi{float:right;width:120px;height:25px;}
	strong.messageNomAgence,
	strong.estimationNomAgence{ color:#000; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase; display:block;}
	/*Résolution Bug IE8 = donner une taille aux bouton pour éviter tout décallage*/
	.tabFond1 .boutonEnvoi {float:right;width:120px;height:25px; border:none}
	.tabFond1 .BoutonFormContact {float:right;border:0;width:120px;height:25px;}
	.MoteurBouton input {float:right;width:120px;height:25px;}
	td #ChampsBouton input {float:right;margin-right:12px;width:120px;height:25px;}
	#AgenceContact form table#FormContact td#ChampsBouton input{width:120px;height:25px;}	
	#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .prix,#RechHaut #RechHautCtn h2 span, #RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .quartier, #RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .surface, #RechercheContainer #AlerteEmail #AlerteEmailCtn h3, #RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .prox{color:#000;}
/* GUIDE PRATIQUE = ACCES VIA LE LIEN DANS LA PAGE OUTILS*/
	span.txtTitre3{ display:block; width:870px; color:#fff; background:#000000; font-size:16px; font-weight:bold; padding:3px 5px; margin:10px 3px 3px 0;}
	span.gras{ display:block; width:882px; color:#fff; background:#000000; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;}
	td.encadre{background-color:#fff; border-color:#AAA; border-width:2px; border-style:solid; padding:3px; color:#818181; margin:0 0 0 -4px;}
	p.grasnews{ display:block; width:882px; color:#fff; background:#000000; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;}

	/* coup de coeur*/
	* html .div-cdc{ height:260px;}
	.div-cdc{width:230px; min-height:260px;float:left; background:#000; margin:0 5px 0 0; border:1px solid #000;}
	.div-cdc *{ color:#818181;}
	.div-cdc .photo-cdc img{width:220px;height:130px;background:#FBF1EC;margin:5px 3px 3px 4px; border:1px solid #fff;}
	.div-cdc a span.ville-cdc{font-weight:bold;display:block; color:#fff;  }
	.div-cdc a span.ville-cdc a:hover{color:#565655;}
	.div-cdc .contenu-cdc a *{color:#fff;font-weight:bold; text-transform:capitalize;}
	.div-cdc .contenu-cdc a:hover *{color:#fff;}
	.div-cdc .typebien-cdc{}
	.div-cdc .contenu-cdc{padding:0 6px 4px 6px;}
	.div-cdc .contenu-cdc *{color:#fff;}
	.div-cdc .contenu-cdc a{ text-decoration:none;}
	.div-cdc .contenu-cdc a:hover{color:#fff;}
	.div-cdc .descriptif-cdc{min-height:30px;}
	* html .divc2c .descriptif-cdc{height:30px;}
	.div-cdc p.prix-cdc{font-weight:bold;font-size:14px; color:#fff;}
 
 /* texte d'agence*/
 #agenceImmo p{padding:0 0 6px;} 
 #agenceImmo ul li{background:url(../detail/img_light/picto_fleche_01.gif) no-repeat 0 50%; padding:0 0 0 16px;margin:0 0 4px 10px}
  #agenceImmo ul{ list-style:none; margin: 0 0 20px;}
  
/* Mentions Legales */
	
	#MentionsLegales h2 {display:block; width: 99%;background:#000; font-size: 14px; color:#fff;font-weight: bold;letter-spacing: 0;padding:3px 0 3px 8px;margin: 10px 0;text-align: left;text-transform: none;font-family: Arial; text-transform: none;}
.titreInfosLegales{
color:#000;
font-size:18px;
font-weight:bold;
text-align:center;
text-transform:uppercase;}
/*Recherche*/

/*detail*/
#RechPagesHaut .rechLiensPages a span, #RechPagesBas .rechLiensPages a span{color:#fff;}
#RechHaut form#Tri select{
border:1px solid #000000;}
#RechHaut form#Tri select optgroup{padding:0 0 0 2px;}
#RechHaut form#Tri select option{padding:0 0 0 2px;}
	
/* page accueil*/	

   #accueil{width:90%; margin:0 auto; font-size:12px; font-family:arial,sans-serif;}
   #accueil p{padding:0 0 10px 0;line-height:18px;}
   #accueil p strong{padding:0 0 10px 0; color:#000000; }
/*CoordonneesAgence2*/
.CoordonneesAgence2{background:none repeat scroll 0 0 #000;clear:both;color:#FFFFFF;display:inline;float:right;font-size:12px;font-weight:bold;margin:16px -61px -10px 0;padding:7px 0;text-align:center;width:618px;word-spacing:2px;}
#RechHaut #RechHautCtn h2, #RechHaut #RechHautCtn h2 span#NbAnnSelection{color:#000;}
