// VAR COLORS
$color-body:#f2e8d0;
$color-content:#ffffff;
$color-block:#fff8dd;
$color-primary:#008001;
$color-secondary:#faf4d4;
$color-action:#008001;
$color-important:#feb300;
$color-nav-footer:#000;



// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;