#BoiteMiniMoteur { width:270px; margin: auto; padding: 18px 0; }

#BoiteMiniMoteur p { margin: 0; padding: 0; } 
#BoiteMiniMoteur br, .Patientez, .MiniInputTxt{ display: none; }
.MiniDiv { float: left; width: 270px; margin-bottom: 10px; }

.MiniTitre { float: left; width: 125px; font-size: 11px; color: #525252; }
.MiniSelect { float: left; width: 140px; background: #ededed; border: 1px solid #ededed; color: #525252; font-size: 11px; }

#MiniInputBudgetMin, #MiniInputBudgetMax { width:62px; _width:55px; border: 1px solid #ededed; background: #ededed; font-size: 11px; color: #525252; }

*+html #MiniInputBudgetMin, #MiniInputBudgetMax { width:55px; border: 1px solid #ededed; background: #ededed; font-size: 11px; color: #525252; }

#MiniBudget { float: left; width: 270px; display: block; }
#MiniChoixAffichage { width: 270px; }
#TitreMiniChoixAffichage { width: 140px; float: left; }

#MiniDivChampTextBudget { float: left; width: 140px; }
.MiniLabel { color: #525252; }

#MiniInputRef { float: left; width: 95px; border: 1px solid #ededed; background: #ededed; font-size: 11px; color: #525252; }

#MiniBoutonInput{ width: 126px; height: 27px; float: right; display: block; }