$$REM$$/*====================================================================
//// <summary>Fichier CSS À DÉMUTUALISER POUR CHAQUE SITE</summary>
//// <remarks>
//// <para>Pour plus de rapidité, intégrer les macros du fichier 'all_global_macros.css'</para>
//// </remarks>
//// <update date="2010-02-16" author="lisbonne.siriphol">Création</update>
====================================================================*/$$END$$

<!--#include virtual="styles/all_global_macros.htm" -->

/*---moteur---*/
#Moteur .moteurTable ul li#nb_pieces, #Moteur .moteurTable ul li#nb_chambres, #Moteur .moteurTable ul li#InputSurfaceTerrain{background:#fff;}
#Moteur h2, #Moteur h1{ color:#000;}
/*---- contact -----*/ 
#FormContactAgence label{display:inline;}
/*----- detail sento ----*/ 
#Annonce_Ctn td#ColonneGauche{background:none;border:none;}
#Annonce_Ctn td#ColonneDroite{border:none;}
.ad-gallery .ad-nav .ad-thumbs{background:#F0F0F0;}
table.programmesNeufs {background:transparent; border:0;}
/*----- select space all site -------*/ 
.miniDivSelect select, .miniDivSelect select option, form#Tri select optgroup, form#Tri select option{padding-left:6px;}
/*--- RSS ----*/
#FluxDef {border:none;}
#FluxAide h5 {background:#F0F0F0;color:#000;}
/*** page PUD ***/
#AlerteEmail {background:#F0F0F0;}
#AlerteEmail h4, #AlerteEmail h3 span{ color:#000;}
.detail_pud a {color:#F00808;}
#FormContactAgence .inputSubmit {background:#F00808;}
.entete_pud_annonce{color:#000;}
.bloc_pud_annonce_x3 {border:1px solid #b2b2b2;}
/*------- sans photo-------------*/ 
.photo_ctn{background: url($$_$$images/sans_photo.jpg) no-repeat 50% 50%;}
.selectionDescr .selectionPrix, .prix, #InfosPrincipales h3#Prix, #InfosPrincipales #Prix span {
color: #ed060b;
font-weight: bold;
font-size: 14px;
}

#PortefeuilleAccueil h4 a {
color: #ed060b;
font-weight: bold;
font-size: 14px;
}

#Coordonnees_Ctn {
background: #c0c0c0; color:#000;
}

#Coordonnees * {
font-size: 12px;
font-weight: normal;
font-style: normal;
text-decoration: none;
color: #000;
}

ul#Menu li a {font-weight:bold;}
ul#Menu li a:hover {color:#000; font-weight:bold;}

.ville {
margin:10px 0;
}


.titreParagraphe, #MoteurAccueil, #Footer h3, #RechHautLiens, #RechPagesHaut, #RechPagesBas, .dicoImmo, #DetailAnnonce h4, .photoTitre {border-bottom: 1px solid #f0f0f0;}
#RechPagesBas, .portefeuilleAnn, .dicoImmo {border-top: 1px solid #f0f0f0;}

#MoteurAccueil .titreParagraphe, #NouveautesAccueil .titreParagraphe span {
	color:#F00808;
	
}

#MiniBouton .boutonSubmit {
background: #8b8b8b;
}

#MiniBouton .boutonSubmit:hover {
background: #F00808;
}

#Header_Ctn {
background: white;
border-bottom: 1px solid #b2b2b2;
}

#TopHeader_Ctn {
background: silver;
border-bottom: 1px solid #b2b2b2;
}


#PortefeuilleAccueil ul li {
    border-bottom: 0px solid #000000;
    padding: 3px 0 3px 20px;
}

#PortefeuilleAccueil h4 {
    border-bottom: 0px solid #000000;
    padding: 20px 0 3px;
}

#FooterBottom * {
    color: #000;
    text-decoration: none;
}

a.LienGestion {
border: none;
font-size: 16px;
font-weight: bold;
padding: 5px 20px 5px 20px;
background: #8b8b8b;
color: white;
text-decoration:none;}

a:hover.LienGestion {
background: #f00808;
color: white;
text-decoration:none;}

#TopHeader marquee {display:none;}

