// VAR COLORS
$color-body:#ffffff;
$color-content:#1a1a1a;
$color-block:#ffffff;
$color-primary:#E6E6E6;
$color-secondary:#CDCDCD;
$color-action:#00b4d1;
$color-important:#f6a700;
$color-nav-footer:#000;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;