@font-face {
    font-family: 'OpenSansCondensedLightRegular';
    src: url('$$_$$styles/typocss/opensans-condlight-webfont.eot');
    src: url('$$_$$styles/typocss/opensans-condlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('$$_$$styles/typocss/opensans-condlight-webfont.woff') format('woff'),
         url('$$_$$styles/typocss/opensans-condlight-webfont.ttf') format('truetype'),
         url('$$_$$styles/typocss/opensans-condlight-webfont.svg#OpenSansCondensedLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansCondensedBold';
    src: url('$$_$$styles/typocss/opensans-condbold-webfont.eot');
    src: url('$$_$$styles/typocss/opensans-condbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('$$_$$styles/typocss/opensans-condbold-webfont.woff') format('woff'),
         url('$$_$$styles/typocss/opensans-condbold-webfont.ttf') format('truetype'),
         url('$$_$$styles/typocss/opensans-condbold-webfont.svg#OpenSansCondensedBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*------CSS definitive--*/
body { margin: 0; padding:0; background: #fff; text-align:center;font-family: arial; }
div,td {  font-size:14px; color: #fff; }
img { border:none; display: inline; }
table  { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; }
a { text-decoration: none; color: #ce162d; }
a:hover { color: #fff; text-decoration: none; }
p { margin:10px 0;}
*{margin:0; padding:0 }
ul{list-style-type:none}
.clear1 { clear: left; }
.clear2, .clear { clear: both; }
/*----- decoupage -------*/

#main-wrapper { background:url($$_$$images/skin/bg_body.jpg) repeat-x #000; }
#main-wrapper2 { background:url($$_$$images/skin/bg_body2.jpg) repeat-x #000; }
#wrapper { width: 1000px; margin: 0 auto; text-align: left; position: relative; }
#logo { float:left; width: 256px; }

.flag { position: absolute; top: 163px; right: 34px; z-index: 100; }
.txt-change { float:left; color: #ce162d; font-size: 10px; width: 100px; padding-top: 20px; }
.img-flag { padding-top: 10px; }
.fleche-top { color: #ce162d; font-size: 10px; }

.link-foot-right a { line-height: 20px; color: #000; }
.link-foot-right a:hover { text-decoration:underline; color: #000; }

#left-top { padding-top: 30px; }

#content { padding: 32px 0; }
#navigue { padding: 30px 0 30px; background: #000; margin-top: 30px; }

#bloc-moteur { padding-top: 20px; width:600px; float:right; }
#bloc-moteur a{color:#cacaca;float: right; margin-top: 20px;}
#bloc-moteur a:hover{text-decoration: none;}

.ttl-nouv { color: #cb0a21; font-size: 24px; font-family: 'OpenSansCondensedBold'; text-align:center; text-transform: uppercase; }

.titre-content { font-family: "Times New Roman", Times, serif; font-size: 24px; font-weight: normal; font-style:italic; }
.txt-content h1 {font-size:18px; margin-top:20px;}
.txt-content ul {padding-left:15px;}
.txt-content ul li {list-style-type:circle;}
.txt-content p a { text-decoration:underline; font-weight:bold;}
.pt1 { background: url($$_$$images/skin/bg-decouvert.gif) no-repeat; width: 234px; height: 140px; font-size: 18px; font-weight: bold; text-align:center;line-height: 34px; float:left; }
.pt1 a { font-size: 18px; font-weight: bold; text-align:center; color: #fff; text-decoration:underline; }

.ttl-alert { padding-left: 15px; font-family: 'OpenSansCondensedBold'; color: #fff; font-size: 17px; text-transform:uppercase; }
.link-alert { padding-left: 95px; font-family: 'OpenSansCondensedLightRegular'; color: #ffffff; }
.link-alert a { text-transform: uppercase; font-family: 'OpenSansCondensedBold'; color: #cd152d; text-decoration:underline; }

.img-cdc { float:left; width: 234px; padding-left: 6px; }

#alerte-content {background: url($$_$$images/skin/bg-alerte.png) no-repeat; width: 480px; height: 111px; float:left; margin-left: 18px; margin-top: 20px; }
.link-alerte { font-size: 18px; color: #000; }
.link-alerte a { color: #ce162d; text-decoration:underline; line-height: 18px; }

#visite-content {background: url($$_$$images/skin/bg-visite.png) no-repeat; width: 479px; height: 111px; float:right; margin-top: 20px; margin-right: 18px; }
.photo-visite { float:left; width: 131px; padding-left: 25px; }

.link-visite { float:left; width: 285px; font-size: 18px; color: #000; padding-left: 15px; padding-top: 10px; }
.link-visite a { color: #ce162d; text-decoration:underline; line-height: 22px; }

#bas-content { background: url($$_$$images/skin/bg-iphone.gif) no-repeat; width: 960px; height: 69px; }

.mobile { background: url($$_$$images/skin/pic-mbolile.png) right no-repeat; width: 49px; height: 67px; padding-right: 25px; width: 285px; float:left; margin-top: 6px; }
.content-iphone { padding-top: 10px; padding-left: 25px; }

#main-footer { background:url($$_$$images/skin/bg_footer.jpg) repeat-x #fff; }
#footer { width: 960px; margin: 0 auto; text-align:left; padding: 15px 0 25px; }
#footer .ttl-foot { color: #cd152d; text-transform:uppercase; font-size: 15px; font-weight: bold; }
#footer p, #footer p a { color: #000; }

.left-foot { float: left; width: 255px; }
.left-foot span { font-family: "Times New Roman", Times, serif; font-size: 17px; font-style:italic;}
.left-foot2 { width: 140px; float: left; padding-left: 65px; }
.center-foot { float: left; width: 135px; padding-left: 75px; }
.right-foot { float: left; width: 210px; padding-left: 35px; }
.url-fb { padding: 5px 0 10px; }
.img-ss { position:absolute; top: 80px; right: -160px; }
.mobile-foot { background:url($$_$$images/skin/pic-mobile.gif) right no-repeat; padding-right: 15px; color: #000; }
.mobile-foot strong { text-transform: uppercase; color: #cd152d; font-size: 15px; }

#hd-menu { width:960px; position:absolute; top: 150px; left: 20px; position: absolute; z-index:10; height: 44px; background: url($$_$$images/skin/bg_menu.png) no-repeat; }
#hd-menu ul { margin:0 auto; padding:0; list-style-type:none; }
#hd-menu li { float:left; position:relative; height: 44px; line-height: 44px; font-family: "Times New Roman", Times, serif; font-size: 24px; color: #cd152d; padding-left:15px; font-style:italic; font-weight:normal;}
#hd-menu li a { display:block; color:#FFF; text-decoration:none; text-transform:uppercase; color:#ffffff; text-align:center; padding: 0px; font-size: 18px;font-family: 'OpenSansCondensedBold', Helvetica, sans-serif; font-style:normal;}
#hd-menu li a:hover, #hd-menu li.hover a { text-decoration:none; color:#ce162d; text-align:center; }

#bloc-cdc { width:960px; height: 175px; margin:20px 0 0 0; }

.accordion_content { background: #252525; }
#adresse { padding: 25px 0; text-align:center; }

#containerMenu { list-style-type: none; }

#flag .menuLangue .txtLi, #flag .menuLangue .menuLangueBg, #flag .menuLangue .menuList, #flag .menuLangue .arrowDown { margin: 0; line-height: 25px; color: #ce162d; font-size: 10px; list-style-type: none; }
#flag .menuLangue .txtLi{margin: 6px 10px 0 0;}
#flag .menuLangue{margin:0;padding:0;}
#flag .menuLangue .arrowDown{margin-top:5px;}
#flag .menuLangue .menuLangueBg{margin-left: 5px;}

.ttl_page, #alerte-content,#visite-content, .txt, .txt2, .txt3  {font-family: 'OpenSansCondensedBold', Helvetica, sans-serif;  text-transform:uppercase;}
.txt2, .txt3,.txt{font-size: 18px;line-height: 22px; text-transform:uppercase;}
#alerte-content,#visite-content{font-size: 18px;}

.ttl_page{font-size: 18px; color:#ce162d;}
.firstLien {color:#ce162d;}
#hd-menu ul li ul .imageBien {position:absolute;top:30px;right:20px;width:180px;height:120px;z-index:1;opacity:1;}
#hd-menu ul li ul .imageBien img {width:180px;height:120px;}
/* RETOUR HAUT */
.retourHaut {float:right;margin:5px 0 0 0;padding:0;font-size:11px;font-weight:bold;}
.retourHaut a {color:#ce162d;text-decoration:none;}
/*FOOTER REFERENCEMENT*/
.leftreffooter{float:left;}
.conteneurfoot{margin:auto;width:960px;}
.contentblocklink{float:right;margin-bottom:10px;}
.blockcol{float:left;margin-left:30px;text-align:left;}
.footerlink h4{color:#fff; font-weight:normal;margin:0;padding:0;margin-top:10px;font-size:1.2em;}
.footerlink{float:none;}
.footerlink a{display:block;font-size:0.8em;color:#ccc;}



#Editeur h2 {border-bottom:1px dotted #BBBBBB; font-size: 18px;
font-family: 'OpenSansCondensedBold', Helvetica, sans-serif; font-weight:100;margin:0 0 3px;padding:0 0 3px; text-transform:uppercase;}
#Editeur h3 { font-size: 15px; color:#8c8c8c;
font-family: 'OpenSansCondensedBold', Helvetica, sans-serif; font-weight:100;margin:0 0 3px;padding:0 0 3px; text-transform:uppercase;}