/*$$REM$$====================================================================================
//// <summary>Fichier CSS 2 site "PACK AVANTAGE 2"</summary>
//// <remarks>
//// <para>Fichier css appelé par head mutualisé</para>
//// <para>Sert pour toutes modifs démutualisées</para>
//// <para>Liste des macros générales pour faciliter la customisation des sites</para>
//// <para>A démutualiser pour chaque site</para>
//// </remarks>
//// <update date="2010-02-16" author="lisbonne.siriphol">Création</update>
====================================================================================$$END$$*/


$$REM$$ /* ============================================================================================
 ////////////////////////////////////// MACROS GENERALES PERSOS //////////////////////////////////////
============================================================================================= */$$END$$
<!--#include virtual="styles/all_global_macros.htm" -->

ul#Menu li a, ul#Menu li a:hover {font-weight:bold;}
#TopHeader_Ctn {border:none;}
#Header_Ctn {border-bottom:1px solid #3DC5EB}
.contactAnn {background:$$BG_SITE$$;border:1px solid #fff;}
#AgImmoDroite .prixServices {color:#3DC5EB;font-weight:bold;font-size:14px;};
#AgImmoDroite div.immoServices {}
#AgImmoDroite div.immoServices {text-align:center;margin-top:10px;padding:5px;background:$$BG_CDC$$;}
#Moteur .moteurTable ul li#nb_pieces, #Moteur .moteurTable ul li#nb_chambres {background:#828081;}
#AccueilSite {font-weight:bold;}
#RechPagesHaut .rechLiensPages a.actif, #RechPagesBas .rechLiensPages a.actif {background:#3DC5EB;}
#RechPagesHaut .rechLiensPages a:hover, #RechPagesBas .rechLiensPages a:hover {background:#757575;}