// VAR COLORS
$color-body:#44464D;
$color-content:#E2E2E2;
$color-block:#E2E2E2;
$color-primary:#E2E2E2;
$color-secondary:#44464D;
$color-action:#c21c69;
$color-important:#c21c69;
$color-nav-footer:#44464D;
// COLOR PUB
$color-pub:"white";
// COLOR FONT BODY DEFAULT
$color-font-body:#fff;
// COLOR SOUS MENU
$color-sous-menu:$color-block;