.hidden { display: none; }

#popup{    font-weight: bold;
    font-size: 20px; text-align :center;}
#popup img {
	margin-bottom: 20px;
}

body.page-perso {
	margin: 0;
	padding: 0;
	background: url("../images/skin/bg.gif") center center repeat;
	font-family: Arial,sans-serif;
}

.page-perso .wrap {
	background-color: #eff0f2 ;
	max-width: 940px;
	margin: 0 auto;
}

.page-perso .header {
	overflow: hidden;
	padding: 15px;
	border-bottom: 10px solid #132937;
}

.page-perso .btn-retour {
	display: inline-block;
	padding: 8px 10px;
	background-color: #e2001a;
	text-decoration: none;
	color: #fff;
}
.page-perso .btn-retour:hover {
	background-color: #0f2434;
}

.page-perso .logo {	float: right; }

.page-perso img {
	display: block;
	max-width: 100%;
}

.page-perso .content {
	background-color: #fff;
	padding-bottom: 15px;
}

.page-perso .footer {
	background-color: #132937;
	padding: 15px;
	margin-bottom: 25px;
	text-align: center;
	font-size: 15px;
	color: #fff;
}

.page-perso .footer a {
	color: #fff;
	text-decoration: none;
}



@media screen and (min-width:768px) {
	.hidden-large { display: none!important; }
}




@media screen and (max-width:767px) {
	.hidden-small { display: none!important; }
	.page-perso .footer { font-size: 10px; }
}
