// VAR COLORS
$color-body      : #fff;
$color-content   : #fff;
$color-block     : #f1f1f1;
$color-primary   : #fff;
$color-secondary : #fff;
$color-action    : #4A6224;
$color-important : #576f31;
$color-nav-footer: #4A6224;

// COLOR PUB
$color-pub       : "white";

// COLOR FONT BODY DEFAULT
$color-font-body : #333;

