// VAR COLORS
$color-body:#000;
$color-content:#000;
$color-block:#f1f1f1;
$color-primary:#000;
$color-secondary:#b1ad9d;
$color-action:#b1ad9d;
$color-important:#b1ad9d;
$color-nav-footer:#f0ece1;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#f0ece1;