// VAR COLORS
$color-body:#FFF;
$color-content:#404041;
$color-block:#fcfcfa;
$color-primary:#F49E00;
$color-secondary:#0E1655;
$color-action:#F49E00;
$color-important:#0E1655;
$color-nav-footer:#fff;
// COLOR PUB
$color-pub:"white";
// COLOR FONT BODY DEFAULT
$color-font-body:#000;
// COLOR SOUS MENU
$color-sous-menu:$color-block;

// ICONE COUP DE COEUR
$color-icone-cdc:#F49E00;