// VAR COLORS
$color-body:#fff;
$color-content:#1a1a1a;
$color-block:#f5f5f5;
$color-primary:#3e3e40;
$color-secondary:#000;
$color-action:#e91616;
$color-important:#3e3e40;
$color-nav-footer:#FFF;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#4c4a44;

// ICONE COUP DE COEUR
$color-icone-cdc:#ad0000;
