// VAR COLORS
$color-body:#fff;
$color-content:#fff;
$color-block:#ddd;
$color-primary:#ddd;
$color-secondary:#9e4dab;
$color-action:#9e4dab;
$color-important:#9e4dab;
$color-nav-footer:#9e4dab;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#333;