$$REM$$
/*
====================================================================================

//// <summary>Page detail annonce "BASIC"</summary>
//// <remarks>
//// <para>Fichier css appelé par slagence_x_v2/detail/basic.htm</para>
//// <para>Toute modification CSS de ce fichier devra être effectuée dans votre "commun.css"</para>
//// <para>Nouveau 2009 : 2 versions de galerie photo > version slide show ou version simple</para>
//// <para>Liste des macros générales pour faciliter la customisation des sites</para>
//// <para>Interdiction formelle de le démutualiser sous peine de châtiment douloureux, car les updates ne pourront pas s'appliquer aux sites qui le feront</para>
//// </remarks>
//// <update date="2009-04-15" author="lisbonne.siriphol">Livraison pour mise en prod, mais pas eu le temps de faire un crash test</update>
//// <update date="2009-02-11" author="lisbonne.siriphol">Création</update>

====================================================================================
*/
$$END$$

$$REM$$----- liste des macros générales qui customisent la page de recherche -----$$END:REM$$
<!--#include virtual="styles/detail_macros_light.css" -->
<!--#include virtual="styles/detail_macros_site.css" -->


/*========================================= general ===========================================*/
#DetailAnnonce{margin: 15px auto; }
#DetailAnnonce *{color: $$LIGHT_COLORTXT2$$; font-size:11px; padding: 0; margin: 0; border: none;}
#DetailAnnonce .clear{clear: both; height: 0; background: none;}
#DetailAnnonce a{font-weight: bold; text-decoration: none;}
#DetailAnnonce hr{display: none;}
#DetailAnnonce table,
#DetailAnnonce td{border-collapse: collapse; vertical-align: top;}
#DetailAnnonce h1,
#DetailAnnonce h2,
#DetailAnnonce h3,
#DetailAnnonce h4,
#DetailAnnonce h5,
#DetailAnnonce h6{background:none; color: $$LIGHT_COLORTXT1$$;}
#DetailAnnonce .clear{clear: both; height:0; overflow: hidden;}


/*========================================= page erreur ===========================================*/
#DetailAnnonce #Erreur_Ctn{width: $$ERREUR_WIDTH$$; height: $$ERREUR_HEIGHT$$; margin: 100px auto 0 auto; background: url($$ERREUR_BG$$) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$ERREUR_BG$$', sizingMethod='scale');}
#DetailAnnonce #Erreur_Ctn #Erreur{padding: 8px 0 0 0;}
#DetailAnnonce #Erreur_Ctn #Erreur h6{color: $$LIGHT_COLORTXT_ERREUR$$; background: $$ERREUR_PICTO$$; font-size: 20px; font-weight: bold; padding: 10px 0 5px 45px; margin: 0 0 0 10px;}
#DetailAnnonce #Erreur_Ctn #Erreur p{font-weight: bold; color: $$LIGHT_COLORTXT1$$; margin: 0 5px 0 30px;}
#DetailAnnonce #Erreur_Ctn #Erreur p.lienAccueil{position: relative;}
#DetailAnnonce #Erreur_Ctn #Erreur a{font-weight: normal; font-size: 10px; text-decoration: underline;}
#DetailAnnonce #Erreur_Ctn #Erreur a:hover{text-decoration: none;}

/* ============================== PAGE ERREUR + SI REF : portefeuille annonces ============================== */
#DetailAnnonce .portefeuilleAnn{margin: 10px 0 0 0; padding: 15px 0; background: $$LIGHT_LIGNE_POINTILLES_HAUT$$;}
#DetailAnnonce .portefeuilleAnn *{color: $$LIGHT_COLORTXT2$$;}
#DetailAnnonce .portefeuilleAnn p{color: $$LIGHT_COLORTXT1$$; padding: 0 0 5px 0;}
#DetailAnnonce .portefeuilleAnn a{display: block; float: left; width: 30%; padding: 1px 0 1px 15px; margin: 0 1% 0 0; overflow: hidden; font-weight: normal; text-decoration: underline; background: $$LIGHT_PICTO_FLECHE_01$$;}
#DetailAnnonce .portefeuilleAnn a span{font-size: 10px;}
#DetailAnnonce .portefeuilleAnn a:hover{text-decoration: none;}


/* ============================== liens haut ============================== */
#DetailAnnonce #LiensRetour{margin: 0 0 15px 0; }
#DetailAnnonce #LiensRetour *{background: none;}
#DetailAnnonce #LiensRetour a{color: $$LIGHT_COLORTXT1$$; margin: 0 20px 0 0; text-decoration: underline;}
#DetailAnnonce #LiensRetour a:hover{text-decoration: none;}
#DetailAnnonce #LiensRetour a.prev{display: block; float: left;}
#DetailAnnonce #LiensRetour a.acc{display: block; float: left;}
#DetailAnnonce #LiensRetour a.lien_form_contact{display: block; float: left;}
/* maj annonce */
#DetailAnnonce #LiensRetour .majAnn{float: right; color: $$LIGHT_COLORTXT2$$;}


/* ============================== bandeau titre haut ============================== */
#DetailAnnonce #Titre{background: $$LIGHT_BG02$$; border: $$LIGHT_BORDER02$$; width: 100%;}
#DetailAnnonce #Titre *{color: $$LIGHT_COLORTXT3$$; font-weight: bold;}
#DetailAnnonce #Titre td{vertical-align: middle; padding: 5px 10px;}
#DetailAnnonce #Titre td#TypeTransaction{font-size: 18px;}
#DetailAnnonce #Titre td#Ref_Ctn{}
#DetailAnnonce #Titre td#Ref_Ctn #Ref{text-align: right; font-size: 12px;}


/* ============================== conteneurs annonce ============================== */
#Annonce_Wrap{border: $$LIGHT_BORDER_CLAIR$$; padding: 3px; background: $$LIGHT_BG_BLANC$$;}
#Annonce_Wrap #Annonce_Ctn{position: relative; background: $$LIGHT_BG01$$; padding: 15px 20px;}

/* ============================== bloc infos prix + libelle + ville ============================== */
#Annonce_Ctn table#InfosPrix{width: 100%; background: $$LIGHT_BG_BLANC$$; border: $$LIGHT_BORDER_CLAIR$$;}
#Annonce_Ctn table#InfosPrix td *{font-weight: bold;}
/* //////////////////////////////////// */
#Annonce_Ctn table#InfosPrix td h6{}
#Annonce_Ctn table#InfosPrix td h6 *{color: $$LIGHT_COLORTXT1$$; font-size: 14px;}
#Annonce_Ctn table#InfosPrix td.titre_ctn{vertical-align: bottom; padding: 20px 0 5px 20px;}
#Annonce_Ctn table#InfosPrix td .titre{font-size: 14px; background: $$LIGHT_PICTO_FLECHE_01$$; padding: 0 0 0 10px;}
#Annonce_Ctn table#InfosPrix td .prix{font-size: 18px;}
#Annonce_Ctn table#InfosPrix td .prix span{font-weight: normal; font-size: 11px;}
#Annonce_Ctn table#InfosPrix td .libelle{}
#Annonce_Ctn table#InfosPrix td .ville{}
/**/
#Annonce_Ctn table#InfosPrix td.infosPrix,
#Annonce_Ctn table#InfosPrix td.infosLibelle,
#Annonce_Ctn table#InfosPrix td.infosVille{vertical-align: top; padding: 0 0 20px 10px;}
#Annonce_Ctn table#InfosPrix td.infosPrix p,
#Annonce_Ctn table#InfosPrix td.infosLibelle p,
#Annonce_Ctn table#InfosPrix td.infosVille p{padding: 2px 0 2px 15px; background: $$LIGHT_PICTO_FLECHE_02$$; margin: 0 0 0 22px;}
/* viager */
#Annonce_Ctn table#InfosPrix td.infosPrix #Rente{color: $$LIGHT_COLORTXT1$$; background: $$LIGHT_PICTO_FLECHE_01$$;}
/* metro */
#Annonce_Ctn table#InfosPrix td.infosVille .metro_Ctn{}
#Annonce_Ctn table#InfosPrix td.infosVille .metro_Ctn *{color: $$LIGHT_COLORTXTMETRO$$;}
#Annonce_Ctn table#InfosPrix td.infosVille .metro_Ctn em{padding: 2px 0 2px 25px; font-style: normal;}
#Annonce_Ctn table#InfosPrix td.infosVille .metro_Ctn .metro{background: $$LIGHT_PICTO_METRO$$;}
#Annonce_Ctn table#InfosPrix td.infosVille .metro_Ctn .rer{background: $$LIGHT_PICTO_RER$$;}
#Annonce_Ctn table#InfosPrix td.infosVille .metro_Ctn .tcl{background: $$LIGHT_PICTO_TCL$$;}
/* glossaire ctn */
#Annonce_Ctn table#InfosPrix td .glossaire_ctn{margin: 0 20px 20px 20px; padding: 10px 0 0 0; background: $$LIGHT_LIGNE_POINTILLES_HAUT$$ $$LIGHT_BG_BLANC$$;}
#Annonce_Ctn table#InfosPrix td .glossaire_ctn *{font-weight: normal; font-size: 10px; padding: 0; background: none;}
#Annonce_Ctn table#InfosPrix td .glossaire_ctn p{}
#Annonce_Ctn table#InfosPrix td .glossaire_ctn p.glossaire{}


$$REM$$
/* ============================== sans photo ============================== */
#Annonce_Ctn #SansPhoto_Ctn{margin: 10px 0;}
#Annonce_Ctn #SansPhoto_Ctn #SansPhoto{background: $$SANS_PHOTO$$; width: 100%; height: $$SANS_PHOTO_HEIGHT$$;}
#Annonce_Ctn #SansPhoto_Ctn p{text-align: center;}
/* ============================== sans photo ============================== */
$$END$$


/* ============================== cdc, exclu, promo ============================== */

#Galerie #CoupDeCoeur{position:absolute; top:0; left:0; z-index:100; width: $$CDC_WIDTH$$; height: $$CDC_HEIGHT$$; background: url($$CDC_PICTO$$) 0 0 no-repeat !important;background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$CDC_PICTO$$', sizingMethod='scale'); }
#Photo #CoupDeCoeur{position:absolute; top:0; left:0; z-index:100; width: $$CDC_WIDTH$$; height: $$CDC_HEIGHT$$; background: url($$CDC_PICTO$$) 0 0 no-repeat !important;background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$CDC_PICTO$$', sizingMethod='scale'); }

#Galerie #Exclusif{position:absolute; width: $$EXCLUSIF_WIDTH$$; height: $$EXCLUSIF_HEIGHT$$; top:0; left:0; z-index:100; background: url($$EXCLUSIF_PICTO$$) 0 0 no-repeat !important;background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$EXCLUSIF_PICTO$$', sizingMethod='scale'); }
#Photo #Exclusif{position:absolute; width: $$EXCLUSIF_WIDTH$$; height: $$EXCLUSIF_HEIGHT$$; top:0; left:0; z-index:100; background: url($$EXCLUSIF_PICTO$$) 0 0 no-repeat !important;background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$EXCLUSIF_PICTO$$', sizingMethod='scale'); }

#Galerie #Promo{position: absolute; width: $$PROMO_WIDTH$$; height: $$PROMO_HEIGHT$$; top: 0; left: 0; z-index:100; background: url($$PROMO_PICTO$$) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$PROMO_PICTO$$', sizingMethod='scale'); }
#Photo #Promo{position: absolute; width: $$PROMO_WIDTH$$; height: $$PROMO_HEIGHT$$; top: 0; left: 0; z-index:100; background: url($$PROMO_PICTO$$) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$PROMO_PICTO$$', sizingMethod='scale'); }




$$B:IMMOBW:PHOTOS:ALIAS:GALERIE:REP:1$$
$$BIF:GALERIE$$
$$REM$$
/* ////////////////////////// galerie photo version slide show ////////////////////////// */
/* ///////// on utilise un alias différent pour chaque version de galerie photo ///////// */
$$END:REM$$
#Galerie{position: relative; background: $$LIGHT_BG_BLANC$$; border: $$LIGHT_BORDER_CLAIR$$; margin: 10px 0;}
/**/
#Galerie #previewPane{height: $$LIGHT_BASIC_GALERIE_HEIGHT$$; overflow:hidden; margin: 20px; background: $$LIGHT_BG01$$;}
#Galerie #previewPane #grandeimage{}
/**/
#Galerie #previewPane #grandeimage table{
	$$IF+:2:GALERIE:NBR$$width: 77%; $$END$$
	$$IF<:2:GALERIE:NBR$$margin: auto;$$END$$}
/**/
#Galerie #previewPane #grandeimage table td{text-align: center; vertical-align: middle; height: $$LIGHT_BASIC_GALERIE_HEIGHT$$; overflow:hidden;}
#Galerie #previewPane #grandeimage table td img{display: block; margin: 10px auto 80px auto; border: 10px solid $$LIGHT_BG_BLANC$$; border-bottom: 50px solid $$LIGHT_BG_BLANC$$; outline: $$LIGHT_BORDER01$$;}
#Galerie #previewPane #grandeimage #waitMessage{display: none;}
/**/
#Galerie #previewPane #largeImageCaption{width: 300px; text-align: center; margin: -125px auto 0 auto; }

/* ============================== vignettes ============================== */
#Galerie #galleryContainer{position: absolute; top: 20px; right: 20px !important; right: 45px; height: $$LIGHT_BASIC_GALERIE_HEIGHT$$; width: $$LIGHT_BASIC_THUMB_SLIDESHOW_WIDTH$$; overflow:hidden; border-left: 15px solid $$LIGHT_BG_BLANC$$; _border-bottom: 10px solid $$LIGHT_BG_BLANC$$;}
/**/
#Galerie #galleryContainer #theImages{position:absolute; top: 30px; width: $$LIGHT_BASIC_THUMB_SLIDESHOW_WIDTH$$; height:10000px; overflow: hidden;}
#Galerie #galleryContainer #theImages a{display: block; width: 70px; height: 50px; margin: 5px auto; cursor: pointer; border: 15px solid #fff; outline: $$LIGHT_BORDER01$$;}
#Galerie #galleryContainer #theImages a:hover{filter:alpha(opacity=50); opacity:0.5;}
/**/
$$DO$$
#Galerie  #galleryContainer #theImages a#Vignette$$GALERIE:N$${background:url($$GALERIE:THUMB_URL$$) 50% 50% no-repeat;}
$$LOOP$$
/**/
#Galerie #galleryContainer #theImages .imageCaption{display: none;}/* n photo */
#Galerie #galleryContainer #theImages #slideEnd{}
/**/
#Galerie #galleryContainer #arrow_up{cursor: pointer; position: absolute; top: 0; z-index:30; background: $$LIGHT_BG01$$; text-align: center; *padding: 10px 0; width: $$LIGHT_BASIC_THUMB_SLIDESHOW_WIDTH$$;}
#Galerie #galleryContainer #arrow_down{cursor: pointer; position: absolute; bottom: 0; z-index:30; background: $$LIGHT_BG01$$; text-align: center; *padding: 10px 0; width: $$LIGHT_BASIC_THUMB_SLIDESHOW_WIDTH$$;}
#Galerie #galleryContainer #arrow_up img,
#Galerie #galleryContainer #arrow_down img{display: block; margin: 10px auto; cursor: pointer;}
/* fancybox */
#Galerie #previewPane #FancyBox_Ctn2{position: absolute; width: 100%; height: 25px; overflow: hidden;}
#Galerie #previewPane #FancyBox_Ctn2 table#FancyBox{width: 100%;}
#Galerie #previewPane #FancyBox_Ctn2 table#FancyBox td#FancyBox_Col1{$$IF+:2:GALERIE:NBR$$width: 74%; $$END$$$$IF<:2:GALERIE:NBR$$margin: auto;$$END$$}
#Galerie #previewPane #FancyBox_Ctn2 table#FancyBox td#FancyBox_Col1 #FancyBox_Ctn{text-align: center; padding: 10px 0 0 0;}
#Galerie #previewPane #FancyBox_Ctn2 table#FancyBox td#FancyBox_Col1 #FancyBox_Ctn a.fancyBox{display: none;}
#Galerie #previewPane #FancyBox_Ctn2 table#FancyBox td#FancyBox_Col1 #FancyBox_Ctn a#FancyBox1{display: inline; font-weight: bold; color: $$LIGHT_COLORTXT1$$; padding: 0 0 0 17px; background: $$LIGHT_PICTO_LOUPE$$; text-decoration: underline;}
#Galerie #previewPane #FancyBox_Ctn2 table#FancyBox td#FancyBox_Col1 #FancyBox_Ctn a#FancyBox1:hover{text-decoration: none;}
#Galerie #previewPane #FancyBox_Ctn2 table#FancyBox td#FancyBox_Col2{width: $$LIGHT_BASIC_THUMB_SLIDESHOW_WIDTH$$;}

$$BFIN$$



$$B:IMMOBW:PHOTOS:ALIAS:PHOTO_CSS:REP:1$$
$$BIF:PHOTO_CSS$$
$$REM$$
/* //////////////////////////// galerie photo version simple //////////////////////////// */
/* ///////// on utilise un alias différent pour chaque version de galerie photo ///////// */
$$END:REM$$
#Photo_Ctn{position: relative; background: $$LIGHT_BG_BLANC$$; border: $$LIGHT_BORDER_CLAIR$$; margin: 10px 0; padding: 20px;}
#Photo_Ctn #Photo{width: 100%; background: $$LIGHT_BG01$$;}
#Photo_Ctn #Photo td{text-align: center; vertical-align: top;}
/* vignettes */
#Photo #Vignettes{padding: 20px; width: $$LIGHT_BASIC_THUMB_PHOTO_WIDTH$$;}
#Photo #Vignettes a{display: block; float: left; width: 70px; height: 50px; margin: 0 5px 10px 0; cursor: pointer; border: 15px solid $$LIGHT_BG_BLANC$$; outline: $$LIGHT_BORDER01$$;}
#Photo #Vignettes a:hover{filter:alpha(opacity=50); opacity:0.5;}
$$DO$$
#Photo #Vignettes a#Thumb$$PHOTO_CSS:N$${background:url($$PHOTO_CSS:THUMB_URL$$) 50% 50% no-repeat; }
$$LOOP$$
/* grande photo */
#Photo #GrandePhoto{padding: 20px 20px 40px 20px;}
#Photo #GrandePhoto img{display: block; margin: auto; border: 15px solid $$LIGHT_BG_BLANC$$; border-bottom: 50px solid $$LIGHT_BG_BLANC$$; outline: $$LIGHT_BORDER01$$;}
#Photo #GrandePhoto #GrandePhotoNb{width: 300px; text-align: center; margin: -45px auto 0 auto;}
/* fancybox */
#Photo #FancyBox_Ctn{padding: 30px 0 0 0; text-align: center;}
#Photo #FancyBox_Ctn a.fancyBox{display: none;}
#Photo #FancyBox_Ctn a#FancyBox1{display: inline; font-weight: bold; color: $$LIGHT_COLORTXT1$$; padding: 0 0 0 17px; background: $$LIGHT_PICTO_LOUPE$$; text-decoration: underline;}
#Photo #FancyBox_Ctn a#FancyBox1:hover{text-decoration: none;}
$$BFIN$$



/* //===============================// autres visuels (pdf, lien video, 360 visite virtuelle) //===============================// */
#AutresVisuels_Ctn{position: relative; padding: 20px; background: $$LIGHT_BG_BLANC$$; border: $$LIGHT_BORDER_CLAIR$$;}
#AutresVisuels_Ctn h6{background: $$LIGHT_LIGNE_POINTILLES_BAS$$; padding: 0 0 5px 0; margin: 0 0 10px 0;}
#AutresVisuels_Ctn table#AutresVisuels{}
table#AutresVisuels{width: 100%;}
table#AutresVisuels td{}
/**/
table#AutresVisuels #Pdf,
table#AutresVisuels #LienVideo,
table#AutresVisuels #LienExterne,
table#AutresVisuels #VisiteVirtuelle{}
/**/
table#AutresVisuels #Pdf #Picto_Pdf,
table#AutresVisuels #LienVideo #Picto_LienVideo,
table#AutresVisuels #LienExterne #Picto_LienVideo,
table#AutresVisuels #VisiteVirtuelle #Picto_VisiteVirtuelle{display: none;}
/**/
table#AutresVisuels #Pdf p,
table#AutresVisuels #LienVideo p,
table#AutresVisuels #LienExterne p,
table#AutresVisuels #VisiteVirtuelle p{color: $$LIGHT_COLORTXT2$$; font-weight: normal;}
/**/
table#AutresVisuels #Pdf p a,
table#AutresVisuels #LienVideo p a,
table#AutresVisuels #LienExterne p a,
table#AutresVisuels #VisiteVirtuelle p a{color: $$LIGHT_COLORTXT1$$; padding: 0 0 0 15px; margin: 0 35px 0 0; background: $$LIGHT_PICTO_FLECHE_01$$; text-decoration: underline;}
/**/
table#AutresVisuels #Pdf p a:hover,
table#AutresVisuels #LienVideo p a:hover,
table#AutresVisuels #LienExterne p a:hover,
table#AutresVisuels #VisiteVirtuelle p a:hover{text-decoration: none;}
/* fermeture cadre (selon design) */
#AutresVisuels_Fin{display: none;}


/* //===============================// conteneur infos annonce //===============================// */
#Annonce_Wrap #InfosAnnonce{position: relative; margin: 10px 20px; padding: 20px; background: $$LIGHT_BG_BLANC$$;}



/* //===============================// descriptif annonce //===============================// */
#InfosAnnonce #Descriptif{}
#InfosAnnonce #Descriptif p.titreDescriptif{font-weight: bold; color: $$LIGHT_COLORTXT1$$; background: $$LIGHT_LIGNE_POINTILLES_BAS$$; padding: 0 0 5px 0; margin: 0 0 10px 0;}
#InfosAnnonce #Descriptif p.txtDescriptif{font-size: 13px; line-height: 18px; text-align: justify;}



/* //===============================// tableau biens neufs //===============================// */
#InfosAnnonce table.programmesNeufs{width: 100%; background: $$LIGHT_BG01$$; border-top: $$LIGHT_BORDER01$$; border-bottom: $$LIGHT_BORDER01$$; margin: 15px 0 5px 0;}
#InfosAnnonce table.programmesNeufs td{padding: 5px 0; background: $$LIGHT_LIGNE_POINTILLES_BAS$$; text-align: center; vertical-align: middle;}
#InfosAnnonce table.programmesNeufs td.ttlBien{background: $$LIGHT_LIGNE_POINTILLES_BAS$$; font-weight: bold;}
#InfosAnnonce table.programmesNeufs td.ttl{font-weight: bold; border: none; padding: 5px 0 0 0;}
#InfosAnnonce table.programmesNeufs td.sttl{font-weight: normal; padding: 0 0 0 5px;}



/* //===============================// informations complementaires //===============================// */
#InfosAnnonce #InfosComp_Ctn{margin: 20px 0 0 0;}
#InfosAnnonce #InfosComp_Ctn h6{background: $$LIGHT_LIGNE_POINTILLES_BAS$$; padding: 0 0 5px 0; margin: 0 0 10px 0;}
#InfosAnnonce #InfosComp_Ctn #InfosComp{}
#InfosAnnonce #InfosComp_Ctn #InfosComp p{position: relative; float: left; width: 30%; padding: 2px 0 2px 12px; background : $$LIGHT_PICTO_FLECHE_02$$;}


/* //===============================// depenses energetiques //===============================// */

#Dpe{width: 100%; margin: 20px 0 0 0;}
/* affichage diagramme consommation energetiques */
#Dpe td#ConsoEnergie{padding: 0 10px 0 0; width: 48%;}
#Dpe #DiagConso{background: url($$-$$detail/img_general/diag-conso.png) 15px 13px no-repeat #fff;}
/* affichage diagramme émissions de gaz à effet de serre */
#Dpe td#EmissionGES{padding: 0 0 0 10px; width: 48%;}
#Dpe #DiagGES{background: url($$-$$detail/img_general/diag-ges.png) 15px 13px no-repeat #fff;}
/* styles communs aux 2 diagrammes */
#Dpe h6{background: $$LIGHT_LIGNE_POINTILLES_BAS$$; padding: 0 0 5px 0; margin: 0 0 10px 0;}
#Dpe .diagramme{position: relative; background: $$LIGHT_BG_BLANC$$; border: $$LIGHT_BORDER_CLAIR$$;}
/* conteneur lettre bilan Conso */
#Dpe .diagramme strong{position: absolute; color:#fff; font-size: 16px; left: 200px; padding: 1px 0 0 0; width:45px; height:20px; text-align: center; background: url($$-$$detail/img_general/diag-fleche.gif) 0 0 no-repeat;}
/* positionnement lettre bilan Conso */
#Dpe .diagramme strong.diagA{top:25px}
#Dpe .diagramme strong.diagB{top:48px}
#Dpe .diagramme strong.diagC{top:70px}
#Dpe .diagramme strong.diagD{top:94px}
#Dpe .diagramme strong.diagE{top:117px}
#Dpe .diagramme strong.diagF{top:140px}
#Dpe .diagramme strong.diagG{top:163px}
/* textes bas diagramme */
#Dpe .diagramme .bilanConso{background: $$LIGHT_LIGNE_POINTILLES_HAUT$$; margin: 205px 15px 15px 15px; padding: 7px 0 0 0;}
#Dpe .diagramme .bilanConso .conso{font-weight: bold; font-size: 16px; color: #000;}
#Dpe .diagramme .bilanConso .notes{font-size:9px; text-align: justify;}


/* //===============================// bloc outils + bookmarks //===============================// */
#Annonce_Bas{background: $$LIGHT_BG01$$; padding: 15px 20px;}



/* //===============================// bloc outils + bookmarks //===============================// */
#Outils_Ctn{position: relative; background: $$LIGHT_BG_BLANC$$; border: $$LIGHT_BORDER_CLAIR$$; margin: 10px 0 0 0; padding: 10px 20px;}
/* style communs */
#Outils_Ctn h6{background: $$LIGHT_LIGNE_POINTILLES_BAS$$; padding: 10px 0 5px 0; margin: 0 0 10px 0;}

/* bloc outils */
#Outils{position: relative; }
#Outils p{position: relative; padding: 3px 0; float: left; margin: 0 35px 0 0;}
#Outils .selection_ok{color: $$LIGHT_COLORTXT2$$; padding-left: 15px; background: $$LIGHT_PICTO_FLECHE_02$$;}
#Outils a{font-weight: normal; color: $$LIGHT_COLORTXT1$$; padding: 0 0 0 15px; background: $$LIGHT_PICTO_FLECHE_01$$; text-decoration: underline;}
#Outils a:hover{text-decoration: none;}


/*================================// bookmark social / partage d'annonces //================================*/
#Bookmarks_Ctn{}
#Bookmarks_Ctn #Bookmark{}
#Bookmark #Picto_Bookmark{display: none;}
#Bookmark p a{display: block; position: relative; float: left; margin: 0 7px 10px 0; width: 18px; height: 18px;}
#Bookmark p span{display: block; clear: both;}
a#Facebook{background: $$FACEBOOK$$;}
a#Wikio{background: $$WIKIO$$;}
a#Technorati{background: $$TECHNORATI$$;}
a#Google{background: $$GOOGLE$$;}
a#MySpace{background: $$MYSPACE$$;}
a#Yahoo{background: $$YAHOO$$;}
a#Twitter{background: $$TWITTER$$;}
a#Livespace{background: $$LIVESPACE$$;}
a#Scoopeo{background: $$SCOOPEO$$;}
a#Mailto{margin: 2px 7px 0 0; width: 16px; height: 14px; overflow: hidden; background: url($$MAILTO$$) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$MAILTO$$', sizingMethod='scale');}


/*================================// bloc infos agence //================================*/
#AgenceContact_Wrap{}
/* titre contact */
#TitreContact{background: $$LIGHT_LIGNE_POINTILLES_BAS$$; padding: 0 0 5px 0; margin: 30px 0 10px 0;}
#TitreContact h6{display: block; float: left; background: none; padding: 0; margin: 0;}
/* mentions légales */
#TitreContact a#AgenceMentions{position: relative; display: block; float: right; color: $$LIGHT_COLORTXT2$$; font-weight: normal;}
#TitreContact a#AgenceMentions *{color: $$LIGHT_COLORTXT2$$; font-weight: normal;}
#TitreContact a#AgenceMentions:hover{background: none;}
#TitreContact a#AgenceMentions em{display: none;}
#TitreContact a#AgenceMentions:hover em{display: block; position: absolute; top: -$$INFOBULLE_MENTIONS_HEIGHT$$; right: 0; z-index: 200; width: $$INFOBULLE_MENTIONS_WIDTH$$; height: $$INFOBULLE_MENTIONS_HEIGHT$$; cursor: pointer; text-decoration: none; font-weight: normal; font-style: normal; background: url($$INFOBULLE_MENTIONS_BG$$) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$INFOBULLE_MENTIONS_BG$$', sizingMethod='scale');}
#TitreContact a#AgenceMentions:hover em span{display: block; text-align: left; padding: 10px; color: $$LIGHT_COLORTXT2$$; font-size: 9px; line-height: 9px;}


/* ================================ table contenant coordonnées en colonne 1 + formulaire en colonne 2 ================================ */
#AgenceContact{width: 100%;}
#AgenceContact td{width: 50%;}
#AgenceContact td.detail_form_col1{padding: 0 40px 0 0;}
/* logo agence (à démutualiser) */
#AgenceContact img#DetailLogoAgence{display: block; float: left; margin: 0 20px 10px 0;}
/* coordonnées agence */
#AgenceContact .coords_agence{float: left;}
#AgenceContact .coords_agence *{font-weight: bold;}
#AgenceContact .coords_agence strong{color: $$LIGHT_COLORTXT1$$;}
#AgenceContact .coords_agence p.adresseAgence{margin: 0 0 2px 0;}
#AgenceContact .coords_agence p.adresseAgence .agenceNom{}
#AgenceContact .coords_agence p.emailAgence{display: none;}/* caché pour ne pas fausser les stats contact */
#AgenceContact .coords_agence p.emailAgence a{color: $$LIGHT_COLORTXT1$$;}
#AgenceContact .coords_agence p.urlAgence a{color: $$LIGHT_COLORTXT1$$;}
#AgenceContact .coords_agence p.telAgence{}
#AgenceContact .coords_agence p.telLoc{}
#AgenceContact .coords_agence p.faxAgence{margin: 0 0 5px 0;}
#AgenceContact .coords_agence p.ctcAgence{}
/* contacts services ventes, locs, locs vac, comm */
#CtcVentesAgence,
#CtcLocsAgence,
#CtcLocsVacAgence{padding: 10px 0 0 0;}
#AgenceContact p.respSpecial{}
#AgenceContact p.telSpecial,
#AgenceContact p.telSpecial span{color: $$LIGHT_COLORTXT1$$;}
/* contacts promoteurs neuf */
#AgenceContact .ctc_neuf{margin: 10px 0 0 0;}
#AgenceContact .ctc_neuf *{font-weight: bold;}
#AgenceContact .ctc_neuf .ctc_neuf_titre{color: $$LIGHT_COLORTXT1$$; background: $$LIGHT_LIGNE_POINTILLES_BAS$$; padding: 0 0 5px 0; margin: 0 0 5px 0;}
#AgenceContact .ctc_neuf .ctc_neuf_ctn{}
/* texte agence (à démutualiser) */
#AgenceContact .texte_agence{clear: both; margin: 15px 0 0 0;}
#AgenceContact .texte_agence p{text-align: justify;}

/* ================================ formulaire de contact ================================ */
#AgenceContact td.detail_form_col2{background: $$LIGHT_BG_BLANC$$; border: $$LIGHT_BORDER_CLAIR$$; padding: 10px 20px;}
#AgenceContact td.detail_form_col2 h6{background: $$LIGHT_LIGNE_POINTILLES_BAS$$; padding: 0 0 5px 0; margin: 0 0 10px 0;}
#AgenceContact td.detail_form_col2 h6 span{display: block; font-weight: normal;}
/* formulaire */
#AgenceContact form{}
#AgenceContact form *{border: none; background: none; color: $$LIGHT_COLORTXT2$$; font-family: arial, verdana, sans-serif;}
#AgenceContact form table#FormContact{width: $$FORM_WIDTH$$; margin: auto;}
#AgenceContact form table#FormContact td#Erre{padding: 0 0 5px 0; color: $$LIGHT_COLORTXT_ERREUR$$; font-size: 13px; font-weight: bold;}
/* champs input */
#AgenceContact form table#FormContact td p{padding: 3px 0;}
#AgenceContact form table#FormContact td#ChampsNom,
#AgenceContact form table#FormContact td#ChampsPrenom,
#AgenceContact form table#FormContact td#ChampsTelephone,
#AgenceContact form table#FormContact td#ChampsEmail{}
#AgenceContact form table#FormContact td#ChampsNom input,
#AgenceContact form table#FormContact td#ChampsPrenom input,
#AgenceContact form table#FormContact td#ChampsTelephone input,
#AgenceContact form table#FormContact td#ChampsEmail input{display: block; padding: 1px 5px; width: $$FORM_INPUT_WIDTH$$; background: $$LIGHT_BG_BLANC$$; height: $$FORM_INPUT_HEIGHT$$; color: $$LIGHT_COLORTXT1$$; border: $$LIGHT_BORDER01$$;}
/* champs textarea*/
#AgenceContact form table#FormContact td#ChampsMessage{padding: 3px 0;}
#AgenceContact form table#FormContact td#ChampsMessage textarea{display: block; padding: 1px 5px; width: $$FORM_TEXTAREA_WIDTH$$; background: $$LIGHT_BG_BLANC$$; border: $$LIGHT_BORDER01$$; height: $$FORM_TEXTAREA_HEIGHT$$; color: $$LIGHT_COLORTXT1$$;}
/* bouton */
#AgenceContact form table#FormContact td#ChampsBouton{text-align: right; padding: 5px 0 0 0;}
#AgenceContact form table#FormContact td#ChampsBouton input{}
#AgenceContact form table#FormContact td#ChampsBouton #ChampsObligatoires{text-align: left; background: $$LIGHT_LIGNE_POINTILLES_BAS$$;}
/* cgu form */
#AgenceContact #CguFormulaire{text-align: justify; color: $$LIGHT_COLORTXT2$$; font-weight: normal; font-size: 9px; padding: 5px 0; background: none; border: none;}
#AgenceContact #CguFormulaire *{color: $$LIGHT_COLORTXT2$$; font-weight: normal; font-size: 9px;}
#AgenceContact #CguFormulaire a{}
#AgenceContact #CguFormulaire a:hover{text-decoration: underline;}

/* ==============================// message envoye //============================== */
#AgenceContact #Formulaire_Ok_Ctn{width: $$FORMULAIRE_OK_WIDTH$$; height: $$FORMULAIRE_OK_HEIGHT$$; margin: auto; overflow: hidden; background: url($$FORMULAIRE_OK_BG$$) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$FORMULAIRE_OK_BG$$', sizingMethod='scale');}
#AgenceContact #Formulaire_Ok_Ctn #Formulaire_Ok{margin: 25px 25px 0 50px;}
#AgenceContact #Formulaire_Ok_Ctn #Formulaire_Ok p{padding: 0 0 1em 0;}
#AgenceContact #Formulaire_Ok_Ctn #Formulaire_Ok p.confirm{color: $$COLORTXT2$$; font-size: 1.2em; font-weight: bold;}
#AgenceContact #Formulaire_Ok_Ctn #Formulaire_Ok p.lien{}
#AgenceContact #Formulaire_Ok_Ctn #Formulaire_Ok p.lien a{font-weight: normal; text-decoration: underline;}
#AgenceContact #Formulaire_Ok_Ctn #Formulaire_Ok p.lien a:hover{color: $$COLORTXT2$$;}


/* ============================== retour haut ============================== */
#DetailAnnonce .RetourHaut{margin: 10px 0; text-align: right;}
#DetailAnnonce .RetourHaut *{color: $$LIGHT_COLORTXT1$$; font-size: 10px;}
#DetailAnnonce .RetourHaut a{text-decoration: underline;}
#DetailAnnonce .RetourHaut a:hover{text-decoration: none;}


