/* CSS Document */
body { margin: 0; padding:0; background: #fff; text-align:center; }
table  { border-collapse: collapse; border-spacing: 0; }
img { border:none; display: inline; }
div, td { font-family: Arial, Helvetica, sans-serif; font-size:11px; color: #1a4d85; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; }
a { text-decoration: none; color: #f36001; }
a:hover { text-decoration: underline; }

.clear1 { clear: left; }
.clear2 { clear: both; }
p { margin: 10px 0; }

/*------------------*/

#wrap { position: relative; width: 1000px; text-align: left; margin: 0 auto; }

.links-top { position: absolute; top: 45px; right: 5px; }
.links-top a { background: url(../images/puce_top.gif) no-repeat 0 5px; padding-left: 10px; margin-left: 15px; color: #fff; }
.links-top a:hover { color: #f36001; text-decoration: none; }
.wrap-top_fr {font-size:12px; }
.wrap-top_pt {font-size:10px; }

#flash { height: 346px; overflow: hidden; }

#ss-menu { background: url(../images/bg_mise.gif) repeat-x; width: 1000px; height: 29px; line-height: 29px; }
.puces { float: left; background: url(../images/puce_mise.gif) center no-repeat; padding: 0 8px; }
.mise { float: left; width: 130px; font-size: 10px; color: #fff; }
.mark { float: left; width: 720px; font-size: 10px; }
.flag-fr { float: left; padding: 5px 10px 0 10px; }
.flag-pt { float: left; padding: 5px 0 0 10px; }

#menu { width: 1000px; height: 35px; }
#menu ul { margin: 0; padding: 0; }
#menu li { float: left; list-style-type: none; }
#menu a { display: block; background-repeat: no-repeat; height: 35px; }
#menu a:hover { display: block; background-repeat: no-repeat; background-position: 0 -35px; }

#menu .mn1 { background: url(../images/menu1_fr.gif) no-repeat; width: 124px; }
#menu .mn2 { background: url(../images/menu2_fr.gif) no-repeat; width: 122px; }
#menu .mn3 { background: url(../images/menu3_fr.gif) no-repeat; width: 142px; }
#menu .mn4 { background: url(../images/menu4_fr.gif) no-repeat; width: 123px; }
#menu .mn5 { background: url(../images/menu5_fr.gif) no-repeat; width: 129px; }
#menu .mn6 { background: url(../images/menu6_fr.gif) no-repeat; width: 122px; }
#menu .mn7 { background: url(../images/menu7_fr.gif) no-repeat; width: 93px; }
#menu .mn8 { background: url(../images/menu8_fr.gif) no-repeat; width: 145px; }

#menu span { display: none; }

.ss-menu { background: url(../images/ss_menu.gif) repeat-x; width: 1000px; height: 9px; }

#main { background: #fff; width: 1000px; }
#navigue { width: 950px; padding: 25px 0; margin: 0 auto; }

#left { float: left; width: 505px; padding-left: 20px; }
#exclu { background: #f1f1fc; border: 1px solid #bcbef3; width: 503px; height: 378px; }
*+html #exclu { background: #f1f1fc; border: 1px solid #bcbef3; width: 503px; height: 398px; }

.exclu { padding: 13px 30px; _padding: 8px 30px; float: left; height: 145px; }
*+html .exclu { padding: 13px 30px; _padding: 8px 30px; float: left; height: 165px; }
.bg_exclu { background: url(../images/bg_exclu.gif) no-repeat; width: 186px; height: 122px; }
.exclu img { padding: 6px; }
.txt-exclu { background: url(../images/puce_exclu.gif) no-repeat 0 0; padding-left: 25px; font-weight: bold; }
.txt-exclu span { color: #1a4d85; }

#right { float: right; width: 415px; padding-right: 25px; }
#mot { background: #f2f2fc; border-top: 1px solid #5779b1; border-left: 1px solid #bcbef3; border-right: 1px solid #bcbef3; }
#main-mot { width: 340px; margin: 0 auto; }

.links-ss-mot { background: url(../images/links-ss-mot.gif) no-repeat; height: 48px; text-align: right; }
.links-ss-mot a { background: url(../images/puce_ssmot.gif) right no-repeat; padding-right: 15px; color: #fff; font-weight: bold; }

#portef { background: #f1f1fc; border-top: 1px solid #6083ba; border-left: 1px solid #c3c5f4; border-right: 1px solid #c3c5f4; border-bottom: 1px solid #c3c5f4; width: 413px; margin-top: 30px; padding-bottom: 20px; }
#portef span { width: 180px; display: block; float: left; margin-left: 20px; _margin-left: 10px; }
#portef a.typeBien { background: url(../images/puce_type.gif) no-repeat; font-weight: bold; color: #004072;line-height: 30px; padding-left: 20px; }


.txt-acc { padding: 10px 0; text-align: justify; width: 955px; margin: 0 auto; }
.txt-acc strong { font-size: 14px; }

.left-foot { width: 260px; background: url(../images/bg_foot_left.gif) repeat-x #1a4d85; }
.main-left { background: url(../images/puce_foot_left.gif) no-repeat 0 8px; padding-left: 15px; font-weight: bold; font-size: 12px; color: #fff; line-height: 20px; }
.main-left span { font-size: 18px; color: #f36600; }

.right-foot { background: #e8f1f7; width: 740px; }
.right-foot { vertical-align: top; }

.center-foot { float: left; width: 560px; }
.center-foot li { list-style-image: url(../images/puce_foot.gif); }
.foot-right { float: left; width: 180px; }

#footer { width: 1000px; height: 25px; margin: 0 auto; line-height: 25px; }
.coords { float: left; }
.coords .encodemail { color: #1a4d85; }
.avis { float: right; text-align: right; line-height: 15px; }
.avis a { color: #1a4d85; }
.avis a:hover { color: #f36600; text-decoration: none; }


/*---------------------------------------------------------------*/

	/*guide*/
#MenuGuide { 
	text-align: left; 
}
#MenuGuide table { 
	margin: 0 auto; 
}
#MenuGuide a {
	font-weight: bold;
	color: #1a4d85; 
	text-decoration: none; 
	line-height: 20px; 
}

#MenuGuide a:hover { 
	color: #f46400; 
}

#MenuGuide td { 
	text-align: left; 
}

#PageDossiers table { 
	margin: 0 auto; 
	width: 100%; 
}

#PageDossiers p { 
	margin: 5px 0; 
}

#PageDossiers td { 
	padding: 2px 5px; 
}

.txtTitre3, .grasnews { 
	color: #f46400; 
	font-weight: bold; 
	font-size: 13px; 
	text-align: left;
	font-variant: small-caps; 
}

.gras {
	padding: 2px 5px 2px;
	background: none;
	color: #f46400;
	font-weight: bold;
}

.gras u { 
	text-decoration: none; 
}

.encadre {
	border: none;
	padding: 5px;
	background: #fff;
	line-height: 14px;
	border: 1px solid #e7d18c;
}

.encadre table {
	width: 100%;
}

.encadre .gras {
	padding: 0;
	margin-bottom: 5px;
	background: none;
	color: #f46400;
	line-height: 12px;
}

.encadre a { 
	color: #3a3939; 
}

.encadre a:hover { 
	color: #3a3939; 
}

.table_news strong { 
	color: #f46400; 
}

.table_news, .encadre table {
	border-top: 1px solid #e7d18c;
	border-left: 1px solid #e7d18c;
	border-bottom: none;
	border-right: none;
	background: #fff;
}

.table_news td, .encadre td {
	border-bottom: 1px solid #e7d18c;
	border-right: 1px solid #e7d18c;
	border-left: none;
	border-top: none;
	background: #fff;
	font-size: 10px;
	padding: 5px;
}
   
.table_news .gras {
	padding: 3px 5px;
	margin: 0;
	background: none;
	color: #fff;
	line-height: 12px;
}
	/*page formulaire*/
.tabFond1 { background: none; }
.tabFond1 td { padding: 2px 10px; }
.tabFond1 table { text-align: left; }
.tabTitre { font-size: 13px; height: 22px; color: #fff; margin: 0 0 10px 0; padding: 0; font-weight: bold; text-align: center; background: url(../images/bg_ttl.gif) repeat-x #f06102; }
.messageNomAgence, .estimationNomAgence { font-size: 18px; text-align: center; color: #f46400; margin: 0; padding: 5px; font-weight: bold; display: block; }
.tabFond1 .Input { margin-bottom: 2px; }
#CguFormulaire { background: url(../images/bg_cfg.gif) repeat-x; border: none; padding: 10px; text-align: left; color: #fff; border: 1px solid #1b4d85; }
#CguFormulaire a { color: #f36100; text-decoration: underline; }
#CguFormulaire a:hover { color: #fff; text-decoration: none; }
	/*page alerte*/
#PageAlert { border-bottom: 2px solid #1a4d85; border-top: 2px solid #1a4d85; padding: 15px 0; }
#PageAlert font { color: #1a4d85; }
#PageAlert td { text-align: left; }
#PageAlert strong { color: #1a4d85; }
#PageAlert a { font-size: 14px; font-weight: bold; color: #004072; display: block; margin-left: 50px; padding-left: 20px; background: url(../images/arrow3.gif) no-repeat; width: 200px; line-height: 14px; height: 14px; }
#PageAlert a:hover { width: 200px; line-height: 14px; height: 14px; background-position: 0 -14px; font-size: 14px; color: #ef6304; text-decoration: none; display: block; margin-left: 50px; padding-left: 20px; }
/**/

/*listevilles*/
.ListeVilles { 
	position: relative;
	text-align: justify;
	color: #c2a68b;
	margin: 0 auto;
	font-size: 11px;
}
.ListeVilles a strong { 
	color: #c2a68b; font-weight: normal; font-size: 11px;
}

/*marquee*/
#AnnoncesDefilantes { color: #1a4d85; font-size: 10px; }
#AnnoncesDefilantes a { color: #1a4d85; font-size: 10px; }

/*map-google*/
#map-google { width: 950px; margin: 0 auto; border: 4px solid #f1f1fc; background-color: #f1f1fc; text-align: center; }

/*alerte email*/
#AlerteImmo * { color: #4e2508; }
#AlerteImmo{background: none; border: none; min-height: 400px; _height: 400px;}
#AlerteConfirmation  h4 { color: #582c0c; }
#AlerteConfirmation  h2 { color: #582c0c; }

#AlerteEmail h2 { color: #582c0c; }
#AlerteImmo #AlerteTitre01{background: url(/alerte/alerteimmo_titre_fond01.gif) 0 0 no-repeat;}
#AlerteImmo #AlerteTitre01 h5{ background: url(../images/alerteimmo_titre_fond02.jpg) no-repeat; }
#AlerteImmo #AlerteTitre01 h5 span{color: #fff;}

/*autres*/
.page-int { line-height: 18px; }
.page-int li { list-style-type: square; }
.gd-ttl { color: #f26910; font-size: 20px; font-weight: bold; text-align: center; text-transform: uppercase; text-decoration: underline; }
.ttl { background: url(../images/puce_retour.gif) no-repeat 0 0; padding-left: 25px; border-bottom: 1px solid #7fa1c0; height: 23px; line-height: 23px; font-size: 16px; font-weight: bold; margin-bottom: 15px; }
.foto img { margin: auto 45px; }
.retour { background: url(../images/retour.gif) no-repeat 0 4px; padding-left: 15px; font-weight: bold; }
#Horaires h3 { margin: 0; padding: 0; text-transform: uppercase; font-size: 11px; }
/*-----------------------------------------------------*/

