// VARIABLES COLORS
$color-body:#ddd;
$color-content:#949599;
$color-block:#C7C7C7;
$color-primary:#fff;
$color-secondary:#AF0100;
$color-action:#AF0100;
$color-important:#AF0100;
$color-nav-footer:#151515;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#151515;