// VAR COLORS
$color-body:#fff;
$color-content:#1a1a1a;
$color-block:#eae7de;
$color-primary:#016251;
$color-secondary:#000;
$color-action:#016251;
$color-important:#016251;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#4c4a44;