// VAR COLORS
$color-body:#fff;
$color-content:#1a1a1a;
$color-block:#fff;
$color-primary:#EDEBE9;
$color-secondary:#DE6433;
$color-action:#00297B;
$color-important:#DE6433;
$color-nav-footer:#DE6433;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#777;