/* GESTION DES PIN */
/* POUR CHANGER LA COULEUR */
/* COULEUR DISPO :bleu, bleuturquoise, gris, noir, orange, rouge, vertpomme, violet*/
#Moteur .moteurAlerte .col1{width:32%;padding:20px 0 0 0;}
#Moteur .moteurAlerte .col2{width:45%;padding:20px 30px 0 30px;}
#Moteur .moteurAlerte h1{}
#Moteur .moteurAlerte h2{padding:5px 0 8px 28px;margin:25px 0 0 0;}
#Moteur .moteurAlerte h3{}
#Moteur .moteurAlerte h4{}
#Moteur .moteurAlerte .moteurComment{margin:-5px 0 0 30px;}
#Moteur .alerteCriteresWarning{clear:both;position:absolute;width:32px;height:32px;margin:33px 0 0 -8px;background:url('/z/webagency/slagence_X_V4/images/pictos/alerte.png') no-repeat 0 0 !important;}
#Moteur .alerteCriteresCheck{clear:both;position:absolute;width:32px;height:32px;margin:33px 0 0 -8px;background:url('/z/webagency/slagence_X_V4/images/pictos/check.png') no-repeat 0 0 !important;}
#Moteur .alerteAmbigu{clear:both;position:absolute;width:32px;height:32px;margin:33px 0 0 -8px;background:url('/z/webagency/slagence_X_V4/images/pictos/warning.png') no-repeat 0 0 !important;}
#Moteur .alerteNumber{clear:both;position:absolute;width:44px;height:34px;margin:-10px 0 0 -13px;background:url('/z/webagency/slagence_X_V4/images/cartos/noir_pin_annonce.png') no-repeat 0 0 !important;}
#Moteur .alerteNumber span{display:block;color:#fff;margin: 6px 0 0 18px;font-weight:bold;}
#Moteur .alerteInfo_wrap{border:1px solid #ccc;margin:7px 0;}
#Moteur .alerteInfo{padding:0 20px 10px 20px;margin:0 0 10px 0;}
#Moteur .alerteInfo:first-child{padding:20px 20px 10px 20px;}
#Moteur .alerteInfo h2{padding:0 0 5px 0;margin:0 0 5px 0;}
#Moteur .alerteInfo p{padding:0 0 12px 0;}
#Moteur .alerteInfo p:last-child{border-bottom:1px solid #ccc;}
.miniBlocTitre {display:none;}
#FormContactAgence .pointillesBas {border:none;}
#FormContactAgence .bouton_ctn {padding:0;}
#FormContactAgence table {margin:0 auto;}
.legal {margin:10px 0 0 0;padding:5px;}
#FormContactAgence .col1, #FormContactAgence .col2 {float:none;}