// VARIABLES COLORS
$color-body:#eeeeee;
$color-content:#f1f1f1;
$color-block:#fff;
$color-primary:#fce800;
$color-secondary:#000;
$color-action:#000;
$color-important:#030401;
$color-nav-footer:#030401;

// COLOR PICTO
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#030401;