@font-face {
	font-family: 'OpenSans-Light';
	src: url('$$_$$styles/typos/opensanslight.eot');
	src: url('$$_$$styles/typos/opensanslight.eot?#iefix') format('embedded-opentype'),
			 url('$$_$$styles/typos/opensanslight.woff') format('woff'),
			 url('$$_$$styles/typos/opensanslight.ttf') format('truetype'),
			 url('$$_$$styles/typos/opensanslight.svg#opensanslight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans-Light';
	src: url('$$_$$styles/typos/opensanslight.eot');
	src: url('$$_$$styles/typos/opensanslight.eot?#iefix') format('embedded-opentype'),
			 url('$$_$$styles/typos/opensanslight.woff') format('woff'),
			 url('$$_$$styles/typos/opensanslight.ttf') format('truetype'),
			 url('$$_$$styles/typos/opensanslight.svg#opensanslight') format('svg');
	font-weight: normal;
	font-style: normal;
}

body { margin:0;padding:0; text-align:center; background: #000; }
div,td { font-family: 'OpenSans-Light', Arial, Helvetica, sans-serif;font-size:13px;color:#fff;}
img { border:none;display:inline;}
table  { border-collapse:collapse;border-spacing:0;}
td, th { padding:0;}
form { padding:0;margin:0;}
input, select { vertical-align:middle;}
a { text-decoration:none; color:#ff0000;}
a:hover { text-decoration: none; color: #707070;}
p { margin:10px 0;}

.clear { clear:both;}
.fleft { float:left;}
.fright { float:right;}

/*===============================================================*/

#wrap { position: relative; width: 960px; text-align: left; margin: 0 auto; }

.logo { height: 148px; overflow: hidden; }

.mn { height: 46px; overflow: hidden; background: url($$_$$images/bg_mn.gif) repeat-x; }
.mn ul { margin: 0; padding: 0; }
.mn li { float: left; list-style-type: none; }
.mn a { color: #fff; font-size: 16px; display: block; line-height: 46px; padding: 0 23px; }
.mn .en a { padding: 0 28px; }

#navigue { min-height: 450px; padding: 15px 0; }

#flash { background: url($$_$$images/flash.jpg) no-repeat; height: 381px; overflow: hidden; }
.s-mn { background: url($$_$$images/bg_smn.png) repeat-x; height: 65px; margin-top: 316px; }
.s-mn ul { margin: 0 auto; padding:0;}
.s-mn li { float: left; list-style: none; width: 50%; }
.s-mn a { line-height: 65px; display: block; font-size: 18px; color: #FF0000; }

.s-mn .li-l strong, .s-mn .li-r strong { line-height: 18px; padding-top: 15px; font-weight: normal; display: block; }
.s-mn .li-c { text-align: center; }
.s-mn .li-r { text-align: right; }
.s-mn .li-r a { padding-right: 15px; }
.s-mn .li-l a {padding-left:15px;}

.b-txt-f { background: url($$_$$images/bg_txt_f.gif) repeat-x; height: 30px; line-height: 30px; font-size: 16px; margin: 25px 0; padding-left: 12px; }
#slogan_home {margin:25px 0;}

.bg-footer { background: url($$_$$images/bg_f.gif) repeat-x; height: 45px; line-height: 45px; padding: 0 10px; }
.l-foot img, .rs-foot img  { vertical-align: middle; }
.r-foot a { color: #fff; }

.rs-foot { padding: 10px 0; }
.rs-foot span { color: #fff; }

.mn a:hover, .s-mn span, .s-mn a:hover, .b-txt-f span, .r-foot a:hover, .l-foot span { color: #ff0000; }

.ttl-pages { color: #ff0000; font-size: 20px; margin-bottom: 10px; text-transform: uppercase; }
.pg-agc {text-align: justify;}
.pg-agc img { float: right; margin:10px 10px 40px 40px;}
.pg-agc span, .l-int span, .r-int span { color: #ff0000; }

.l-int, .r-int { width: 50%; text-align: center; }
.l-int img, .r-int img { margin-bottom: 10px; }

.page-int {position:relative;}
#logopart1 {position:absolute; top:30px; left:10px;}
#logopart2 {position:absolute; top:35px; left:750px;}
#logopart3 {position:absolute; top:20px; left:325px;}
#logopart4 {position:absolute; top:100px; left:435px;}
#logopart5 {position:absolute; top:140px; left:45px;}
#logopart6 {position:absolute; top:170px; left:735px;}
#logopart7 {position:absolute; top:180px; left:355px;}
#logopart8 {position:absolute; top:205px; left:185px;}
#logopart9 {position:absolute; top:216px; left:520px;}
#logopart10 {position:absolute; top:295px; left:50px;}
#logopart11 {position:absolute; top:360px; left:670px;}
#logopart12 {position:absolute; top:305px; left:246px;}

#logopresse1 {position:absolute; top:40px; left:10px;}
#logopresse2 {position:absolute; top:45px; left:750px;}
#logopresse3 {position:absolute; top:30px; left:325px;}
#logopresse4 {position:absolute; top:110px; left:435px;}
#logopresse5 {position:absolute; top:150px; left:45px;}
#logopresse6 {position:absolute; top:180px; left:735px;}



/* RETOUR HAUT */
.retourHaut { float:right;margin:5px 0 0 0;padding:0; font-weight:bold; }
.retourHaut a { text-decoration:none; }
