// VARIABLES COLORS
$color-body:#F4CC95;
$color-content:#89744d;
$color-block:#f2c17e;
$color-primary:#F4CC95;
$color-secondary:#810029;
$color-action:#810029;
$color-important:#810029;
$color-nav-footer:#810029;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#2A2A2A;