/*$$REM$$====================================================================================
//// <summary>Fichier CSS 2 site "PACK AVANTAGE 2"</summary>
//// <remarks>
//// <para>Fichier css appelé par head mutualisé</para>
//// <para>Sert pour toutes modifs démutualisées</para>
//// <para>Liste des macros générales pour faciliter la customisation des sites</para>
//// <para>A démutualiser pour chaque site</para>
//// </remarks>
//// <update date="2010-02-16" author="lisbonne.siriphol">Création</update>
====================================================================================$$END$$*/


$$REM$$ /* ============================================================================================
 ////////////////////////////////////// MACROS GENERALES PERSOS //////////////////////////////////////
============================================================================================= */$$END$$
<!--#include virtual="styles/all_global_macros.htm" -->
#Footer_Ctn{background:#0D0D0D;}
#PortefeuilleAccueil h6 span{ color:#fff;}
#PortefeuilleAccueil { background:url($$_$$images/vignette.gif) no-repeat 0 0;width: 381px;margin: 3px;}
#PortefeuilleAccueil h4 a, #Coordonnees .agenceNom, #Coordonnees .encodemail, .selectionDescr .selectionPrix, a#AccueilSite, #HeaderTxt h2, .titreParagraphe, #NouveautesAccueil .titreParagraphe span, #Coordonnees *, #Footer h3 a, #Footer h3 a strong, #FlusRSS h3 a.fluxRSS{ color:#9A181D;}
select.miniSelect, .miniDivSelect, #MiniBouton .boutonSubmit{ width:167px;}

#Menu li {position:relative;}
#Menu li:hover > a {background:#9a181d;}
#Menu li ul {display:none; position:absolute; left:5px; top:35px; background:#9a181d; padding:10px; z-index:10; width:219px; text-align:left;}
.ie9 #Menu li ul {top:33px;}
#Menu li ul li {float:none; display:block;}
#Menu li ul li a {background:none; text-align:left;}
#Menu li:hover > ul {display:block;}


.miniTitre{width:129px;}
#MoteurAccueil{ width:300px; padding:0 46px 0 0;}
#NouveautesAccueil{ width:654px;}
.selectionIndex_Ctn{ float:left; border:none; width:214px; margin:0 0 5px 4px;}
.selectionPhoto_ctn{ border-color:#5C5C5C;}
#NouveautesAccueil .titreParagraphe, .selectionDescr .selectionSurface, .selectionDescr .selectionNbPieces{ float:left;}
a.selectionPhoto .selectionPhotoImg, a.selectionPhoto, .selectionPhoto_ctn{ width:205px; height:135px;}
.selectionDescr .selectionTxt{ color:#a4a18f; clear:both;}
.nbPhotos_ctn .nbPhotosBg{ width:205px;}
.nbPhotos_ctn{ width:205px; margin:111px 0 0;}
#Logo{ padding:0 133px 0 0;}
#Visuel_Ctn{ border:1px solid #423E2E;}
#PortefeuilleAccueil h6{ padding-top:13px;}
#TopHeader_Ctn{background:#121212;border-bottom:1px solid #2B2B2B;}
#TopHeader marquee, #TopHeader marquee *{ color:#676666;}
#MiniBouton .boutonSubmit{ color:#000;}
input.miniInput, input.miniInputMin, input.miniInputMax, .miniDivSelect select, .miniDivSelect select *{ color:#334355; font-size:10px;}
select option{ padding:0 0 0 4px;}
#NouveautesAccueil .titreParagraphe{ width:648px;}
select.miniSelect{ border-color:#000000;}
#Coordonnees_Ctn{ border-top:1px solid #2F2E25;}
#Footer a, #FlusRSS a.fluxRSS, #Footer{ color:#868686;}
#FooterBottom *, #Footer *{color:#4C4B4B;}
#Moteur #MoteurBouton .inputSubmit, #FormContactAgence .inputSubmit,.accordion_content .inputCalcul{ color:#000;}
/****************/
#PortefeuilleAccueil .maison,#PortefeuilleAccueil .appartement {font-weight: bold;background:#D19533;color: #000000;margin: 0 0 0 17px;position: relative;text-transform: uppercase;display: block;width: 139px;}
#PortefeuilleAccueil .maison {padding:12px 0 12px 9px;top: 193px;}
#PortefeuilleAccueil .appartement {padding: 10px 0 14px 9px;top: 201px;}



