// VAR COLORS
$color-body:#565656;
$color-content:#565656;
$color-block:#707070;
$color-primary:#fff;
$color-secondary:#939292;
$color-action:#939292;
$color-important:#b70d1b;
$color-nav-footer:#000;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#F1F1F1;