/* CSS Document */
/* Redefinitions des balises HTML */ 
	*{margin:0;padding:0;font-size:12px;font-family: Arial, Helvetica, sans-serif;color:#000;}
	img{border:0}
	.clear{clear:both;}
	a{text-decoration: none;outline:none;color:#0B5FA5;}
	a:hover{color:#0B5FA5;text-decoration: underline;}
	hr{display:none;}
	select option{padding:0;}
	table{ margin:0 auto; padding:0;}
	* html input.alerte{ background:#FFFFFF;}
	/* --------Modification AR PLAN SITE-------- */    
	body{margin-top:-3px; background:#fff;}
	/* Effet bordure (espace 5px) entre BG menu et bande BG site */ 
	#header{width:993px; margin:0 auto 2px auto;position:relative; background: none; overflow:hidden;}
	#global{position:relative;width:993px; margin:0 auto;}


/* ----------------------------------------PAGE ACCUEIL---------------------------------------- */
   
/* --------LOGO AGENCE-------- */ 
	#LogoAgence { float:left; display:inline; width:400px; padding:20px 0 0px 0;margin:0;}
	#LogoAgence img{ display:block; margin:0 0 0 12px;}


/* --------MARQUEE DEFILANTE-------- */
/* Modification COULEUR  MARQUEE */ 	


/* --------DRAPEAUX LANGUES FRANCAIS ET ANGLAIS-------- */ 		
/* Mettre en DISPLAY:NONE si pas d'option Anglais */ 
	#Drapeaux {position:absolute; top:104px; left:7px;}
	#Drapeaux img {padding-right:8px;}

/* --------TEXTE ACCUEIL--------*/ 
	#textAccueil {float:right; display:inline; width:566px; padding:0; display:block; padding:10px 0 0 0;}
/* Modification TITRE texte d'accueil */ 
	#textAccueil h1{ font-size:17px; font-weight:bold;color:; padding:10px 0 10px 0; color:#0B5FA5;}

/* Modification CORPS texte d'accueil */ 
	#textAccueil p{ text-align:justify; font-size:12px; padding:0 0 25px 0; display:block; line-height:14px; color:#000;}
	#textAccueil p strong{ color:#000;}
	#textAccueil a{ text-decoration:none; color:#FF8A00; font-weight:bold;}
	#textAccueil a:hover{ text-decoration:underline; color:#FF8A00;}

/* ----- Moteur -----*/
h2.TitrePage,.titreInfosLegales{ color:#FF9000; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}

/* --------MENU + FLUX RSS-------- */
/* Modification COULEUR + TAILLE fond MENU */
	#remplissageMenu{ width:100%; background:#ff9000; min-height:44px;}		
	#menuFlux{width:984px; background:#0B5FA5; height:44px; border-left:5px solid #FFF; border-right:4px solid #FFF;margin:0 auto;}
	#menu {float:right; display:inline; padding:12px 4px 0 0; position:relative; z-index:2;}
	#menu ul{ display:inline; margin:0 0 0 6px; list-style-type:none;}
	#menu li{ float:left; font-size:15px; padding:0 ;position:relative; height:30px;}
	#menu ul li.MenuSep{ color:#fff;}
	/* Modification COULEUR TEXTE MENU */ 
	#menu a{ font-weight:bold;color:#FFF; text-decoration:none;font-size:14px; padding:8px 12px;}
	#menu a:hover{color:#FF9000;}		
/* Modification FLUX RSS */ 		
	#fluxRss{float:left; display:none; padding:15px 0 5px 8px; }
	#fluxRss a{ color:#072B0C; text-decoration: underline; font-size:10px;}
	#fluxRss a:hover{ color:#35633A; text-decoration:none;}
	#fluxRss img{float:left; display:inline; vertical-align:middle; margin:0 6px 0 0;}


/* --------CONTENU SITE = ZONE DU MILIEU-------- */
/* Modification COULEUR ARRIERE PLAN CONTENU SITE */ 	
	#milieu{width:984px;padding:24px 0 3px 0px; min-height:250px;background: none; border-left:4px solid #FFF; border-right:5px solid #FFF;margin:0 auto; position:relative; z-index:1;}
	#blocHaut{ width:100%; overflow:hidden;}
/* Positionnement bandeau image */ 
	#visuel{float:left; display:inline; width:709px; margin:0 0 10px 0; padding:0;}		
/* Modification COULEUR BORDURE IMAGE */ 		
	#visuel img{border:7px solid #0B5FA5;}
 

/*--------POSITIONNEMENT MINI MOTEUR-------- */ 
	.miniMoteur{float:right;display:inline;width:220px;padding:0 0 0 42px;position:relative;background:url(../images/fontTitreMoteur.gif) 0 0 no-repeat;}		
/* Modification TITRE RECHERCHE */ 		
	.miniMoteur h2{font-size:18px; font-weight:bold; color:#FF9000;padding:10px 0 8px 0;}
/* A NOTER !!!! Pour styliser les champs + bouton mini moteur VOIR == MINI_MOTEUR.CSS */ 


/* ----------- 3 COUPS DE COEUR ------------- */ 
	#blocBas #coupCoeur{float:left;display:inline;width:715px;margin:0 0 15px 0; }

/* ----------- LISTE TRANSACTIONS AGENCE ------------- */ 
	#blocBas .nbrTransaction{float:right;width:220px; padding:30px 0 0 42px; height:230px; overflow:auto;}
/* Modification COULEUR "AUJOURD'HUI" */ 	
	#blocBas .nbrTransaction h3{font-size:13px;font-weight:bold;padding:1px 0 3px 0;color:#FF9000;}
/* Modification COULEUR TYPE TRANSACTION */ 	
	#blocBas .nbrTransaction h4{width:167px;font-weight:bold;font-size:13px;padding:5px 0 0 0;}
	#blocBas .nbrTransaction h4 a{width:167px;font-weight:bold;font-size:13px;color:#08477C;padding:10px 0 0 0;}
	#blocBas .nbrTransaction ul{list-style-type:none;margin:0 0 6px 3px; line-height:16px;}
	#blocBas .nbrTransaction ul li a{ text-decoration:underline;}
/* Modification COULEUR TYPE DE BIEN */ 
	#blocBas .nbrTransaction ul *{font-size:11px;color:#4887BC;}
	#blocBas .nbrTransaction ul a:hover{text-decoration:none;color:#4887BC;}


/* -----------INCLUDE BAS------------- */ 

/* -----------INCLUDE BAS------------- */ 

/* Modification COULEUR BANDE COORDONNEES */ 
.CoordonneesAgence {font-size:12px; background:#4887BC; height:27px; text-align:center; padding-top:13px; color:#FFF; font-weight:bold;}	
/* Modification BG footer portefeuille + menu secondaire */
.footerPosition{background:#0b5fa5; position:relative;width:984px; border-left:5px solid #FFF; border-right:5px solid #FFF; padding-bottom:15px; margin:auto;}
.porteFeuille{float:left;width:625px;padding-left:20px;}
/* ARRIERE PLAN FOOTER */
#footer{ background:#ff9000 ; margin:0 auto; padding:0 0 0 1px;}
		
		
/* Modification couleur 2 TITRES FOOTER */ 
 #footer h4{font-size:11px;font-weight:bold;background:url(../images/puce.gif) no-repeat;padding:4px 0 1px 33px;margin:17px 0 0 0;line-height:19px;}
/* titre gauche : Notre portefeuille immobilier */
 #footer .porteFeuille h4{font-size:12px; color:#000;}
/* titre droite : www.urldusite.com */
 #footer .menuSecondaire h4{font-size:14px; color:#FFF;}

		
/* Modification couleur LISTE DES VILLES */ 
.porteFeuille .ListeVilles{width:520px;text-align:justify;line-height:13px;border:0;color:#000; padding:4px 0 0 5px;}
.ListeVilles *{color:#000; font-size:12px;font-weight:normal;}
.ListeVilles a{color:#000;text-decoration:none;}
.ListeVilles a:hover{color:#000;text-decoration:underline;}

/* Modification couleur MENU SECONDAIRE FOOTER (droite) */

.menuSecondaire{float:left;width:862px;font-size:11px;color:#000;padding:0 60px 0 42px;}

#footer .menuSecondaire p{padding:3px 0 0 20px; color:#FFF; text-align:justify; font-size:12px;}
#footer .menuSecondaire p a{font-size:12px;color:#FFF;text-decoration:none;}
#footer .menuSecondaire p a:hover{font-size:12px;color:FFF;text-decoration:underline;}
span.sepSep{ color:#FFF; padding:0 2px;}


/* ----------------------------------------AUTRES PAGES DU SITE---------------------------------------- */

/* Page En Construction */
	#EnConstruction{margin:70px 0 70px 0; text-align:center;}
	#EnConstruction h5 { color:#8B805D;}


/* PAGE PLAN DU SITE = incl_plan-site.htm */  
	.ul#Plan *{text-decoration: none; font-weight: bold;}
	ul#Plan{padding: 0 8em; width:500px; margin:0 auto;position:relative;top:-25px;}
	ul#Plan li.plan{ color:#FF9000; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;border-bottom:none;}
	ul#Plan li.MenuSep{display:none;}
	ul#Plan li{padding: 0.2em 0; border:none;}
	ul#Plan .plan{padding: 0.2em 0;background:none;}
	ul#Plan li a{ background:none;color:#0B5FA5;padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #0B5FA5; text-transform:uppercase;}
	ul#Plan li a:hover{color:#fff;padding-left:10px; height:19px;font-size: 12px; background:#0B5FA5 ;border:1px solid #0B5FA5;}


/* Outils */
	.ul#Outils *{text-decoration: none; font-weight: bold;}
	ul#Outils{padding: 2em 8em; width:500px; margin:0 auto;}
	ul#Outils li.list{padding: 0.2em 0px;background:none; margin:2px 0; border:none;}
	ul#Outils li a{color:#0B5FA5;padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #0B5FA5; text-transform:uppercase;}
	ul#Outils li a:hover{color:#fff;padding-left:10px; height:19px;font-size: 12px;background:#0B5FA5;border: 1px solid #0B5FA5;}
	#Outils li.titrePageOutils{ color:#FF9000; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}


/*PAGES ESTIMATION + CONTACT + MESSAGE == TABLEAUX FORMULAIRES*/
	.tabFond1{border-color:#00AA00; border-width:0; border-style:solid; padding:2px; font-family: Arial, Helvetica, sans-serif; width:100%;}
	 textarea {width:600px; height: 100px;border:1px solid #000;margin: 3px 0 0 3px; color:#818181;}
	.tabFond2{border-color:#8B805D; border-width:1px; border-style:solid; padding:2px; font-size:14px; font-family: Arial, Helvetica, sans-serif;}
	.tabTitre{background:#0B5FA5; color:#fff; font-size:14px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;height:25px;padding:3px; text-align:center; text-transform:uppercase; border-bottom:4px solid #FF9000;}
	.tabTitre *{font-size: 14px; color:#fff;}
	.tabPrint{color:#5C5E5D; font-size: 13px; font-family: Arial, Helvetica, sans-serif; border:1px solid #000;}
	.tabFond1 td input{margin:3px;border:1px solid #000 ; color:#818181; padding:3px;}
	.tabFond1 td input.BoutonFormRecherche{float:right;width:120px;height:25px;border:none;}
	select.imputForm{border:1px solid #000 ;margin:0 0 0 3px; color:#072B0C;}
	select.imputForm option{color:#072B0C;}
	input.boutonEnvoi{float:right;width:120px;height:25px;}
	input.imputForm{border:1px solid #000; margin:2px 0; color:#818181;}
	.tabFond1 table{ width:100%;}
	table{ width:99%;}
	strong.messageNomAgence,
	strong.estimationNomAgence{ color:#FF9000; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase; display:block;}
	
/*Résolution Bug IE8 = donner une taille aux bouton pour éviter tout décallage*/
	.tabFond1 .boutonEnvoi {float:right;border:none;width:120px;height:25px; margin-right:-1px;}
	.tabFond1 .BoutonFormContact {float:right;border:0;width:120px;height:25px;margin-right:-1px;}
	.MoteurBouton input {float:right;width:120px;height:25px;}
	td #ChampsBouton input {float:right;margin-right:12px;width:120px;height:25px;}
	#AgenceContact form table#FormContact td#ChampsBouton input{width:120px;height:25px;}
	

	


	/* coup de coeur*/
	* html .div-cdc{ height:271px;}
	.div-cdc{width:230px; min-height:271px;float:left; background:#E4EFFA; margin:0 4px 0 0; border:2px solid #0B5FA5;}
	.div-cdc *{ color:#000; font-size:11px; color:#4E4E4E;}
	.div-cdc .photo-cdc img{width:220px;height:139px; margin:5px 2px 3px 4px; border:1px solid #0B5FA5;}
	.div-cdc a span.ville-cdc{font-weight:bold;display:block; color:#0B5FA5; font-size:14px; }
	.div-cdc a span.ville-cdc a:hover{color:#FF8A00;}
	.div-cdc .contenu-cdc a *{color:#FF9000;font-weight:bold; text-transform:capitalize; font-size:14px;}
	.div-cdc .contenu-cdc a:hover *{text-decoration:underline;}
	.div-cdc .contenu-cdc{padding:0 6px 4px 6px;}
	.div-cdc .contenu-cdc *{color:#0B5FA5;}
	.div-cdc .contenu-cdc a{ text-decoration:none;}
	.div-cdc .contenu-cdc a:hover{color:#30FAE4;}
	.div-cdc .descriptif-cdc{ padding:4px 0 0 0 ;}
	.div-cdc p.prix-cdc{font-weight:bold;font-size:14px; color:#FF9000;}
 
 
/* Mentions Legales */
    #MentionsLegales{ width:99%;}
	#MentionsLegales h2 {display:block; width: 99%;background:#0B5FA5; border-bottom:4px solid #FF9000; font-size: 14px; color:#fff;font-weight: bold;letter-spacing: 0;padding:3px 0 3px 8px;margin: 10px 0;text-align: left;text-transform: none;font-family: Arial, Helvetica, sans-serif; text-transform: none;}

/*---contenu--*/
#contenu { min-height:450px;}
* html #contenu{ height:450px;} 
#contenu h2{font-size:1.5em;font-weight:bold; color:#2781BB; padding:10px 0 4px 0;}
#contenu h3{font-size:1.2em;font-weight:bold; color:#2781BB; padding:10px 0 4px 0;}
#contenu p{ padding:0 0 15px 0; text-align:justify;}
/*detail*/
#AgenceContact form table#FormContact td#ChampsBouton #ChampsObligatoires{ clear:both;}	

/*recherche	*/
#RechercheContainer #AlerteEmail #AlerteForm input.alerteBt{ cursor:pointer;}
#RechPagesHaut .rechLiensPages a span, #RechPagesBas .rechLiensPages a span{ color:#08477C;}

/*rss*/
#FluxRSS h2 { color:#0B5FA5}
#FluxRSS_Liens a.voir_ann{ color:#B6E28E;}