// VAR COLORS
$color-body      : #000000;
$color-content   : #000000;
$color-block     : #b9bbbd;
$color-primary   : #000000;
$color-secondary : #2d2d2d;
$color-action    : #b9bbbd;
$color-important : #b99d5b;
$color-nav-footer: #fff;

// COLOR PUB
$color-pub       : "white";

// COLOR FONT BODY DEFAULT
$color-font-body : #fff;

