body { margin:0;padding:0; text-align:center; background:#0022a2 ; }
div,td { font-family: Arial, Helvetica, sans-serif;font-size:12px;color:#fff;}
img { border:none;display:inline;}
table  { border-collapse:collapse;border-spacing:0;}
td, th { padding:0;}
form { padding:0;margin:0;}
input, select { vertical-align:middle;}
a { text-decoration:none; color:#fff;}
a:hover { text-decoration: none; color: #75b0dc;}
p { margin:10px 0;}

.clear { clear:both;}
.fleft { float:left;}
.fright { float:right;}

/*============================================*/

#wrapper { width: 100%; background: url($$_$$images/bg_top.gif) repeat-x #0022a2 ; }
#wrap { width: 100%; background: url($$_$$images/bg_bot.gif) bottom repeat-x; }

#main { position: relative; width: 960px; text-align: left; margin: 0 auto; }

.trad { height: 37px; text-transform: uppercase; color: #fff; line-height: 45px; overflow: hidden; }
.trad a { color: #fff; }

.b-lg { background: url($$_$$images/bg_lg.jpg) no-repeat; width: 774px; height: 125px; overflow: hidden; }
.b-lg.headhome {background:none;}
.logo { font-family: "Times New Roman", Times, serif; font-size: 18px; padding: 10px 0 0 8px; }
.logo a { color: #fff; float:left; }
.logo strong { font-size: 29px; font-style: italic; display: block; }
.horaires_home {float:right; font-size:16px; margin:38px 20px 0 0; font-weight:bold;}


.b-rs { width: 186px; }
.lg-fnaim { width: 69px; margin: 0 auto; padding: 14px 0 25px 0; }

.bloc-reseau {margin-left:5px; }
.bloc-reseau .pictos { display: inline-block; background: url($$_$$images/pictos.png) no-repeat; overflow: hidden; width: 29px; height: 24px; overflow: hidden; margin:0 -1px;}

.bloc-reseau .pic-acc { background-position: 0 0; }
.bloc-reseau .pic-acc:hover { background-position: 0 -24px; }
.bloc-reseau .pic-panier { background-position: -33px 0; }
.bloc-reseau .pic-panier:hover { background-position: -34px -24px; }
.bloc-reseau .pic-rss { background-position: -65px 0; }
.bloc-reseau .pic-rss:hover { background-position: -65px -24px; }
.bloc-reseau .pic-ctc { background-position: -97px 0; }
.bloc-reseau .pic-ctc:hover { background-position: -97px -24px; }
.bloc-reseau .pic-fb { background-position: -126px 0; }
.bloc-reseau .pic-fb:hover { background-position: -126px -24px; }
.bloc-reseau .pic-tw { background-position: -155px 0; width: 25px; }
.bloc-reseau .pic-tw:hover { background-position: -155px -24px; }

.lien-accueil{font-weight: bold; background: #0033fc;padding: 3px 10px;font-size: 14px;}

.mn { width: 958px; margin: 0 auto 20px; border-left: 1px solid #2e61b0; border-right: 1px solid #2e61b0; background: url($$_$$images/bg_mn.gif) repeat-x; height: 39px; }
.mn ul { margin: 0; padding: 0; text-align:center;}
.mn ul li { display:inline; list-style: none; }
.mn ul li a { color: #fff; text-transform: uppercase; font-size: 14px; padding: 0 15px; line-height: 39px; font-weight:bold;}
.ie9 .mn ul li a {padding:0 13px;}

#navigue { background: #0033fc; border: 1px solid #2e61b0; width: 958px; margin: 0 auto; }
#main-nav { width: 940px; margin: 0 auto; padding: 15px 0; min-height: 500px; }

#left { width: 660px; background: url($$_$$images/flash.jpg) no-repeat; height: 400px;-webkit-box-shadow: 0 0 5px #011744; -moz-box-shadow: 0 0 5px #011744; -khtml-box-shadow: 0 0 5px #011744; box-shadow: 0 0 5px #011744; }
.bg-txt { background: url($$_$$images/bg_txt.png) no-repeat; width: 310px; height: 400px; }
.main-txt { padding: 10px 0 0 10px; font-size: 13px; font-weight:bold; }
.bienv { font-weight: bold; font-size: 18px; }
.bienv span { display: block; color: #7ca9ff; font-size: 16px; }
.main-txt ul { margin: 0; padding: 0; }
.main-txt li { background: url($$_$$images/arrow_square.gif) no-repeat 0 8px; padding-left: 10px; list-style: none; text-transform: uppercase; line-height: 18px; }
.main-txt li.marg-l { margin-left: 40px; }
.main-txt li.marg-ll { margin-left: 80px; }

#right { width: 290px; }
#bg-moteur { background: #0033fc; height: 277px; margin-bottom: 5px; -webkit-box-shadow: 0 0 5px #011744; -moz-box-shadow: 0 0 5px #011744; -khtml-box-shadow: 0 0 5px #011744; box-shadow: 0 0 5px #011744; }
#bloc-moteur { width: 258px; margin: 0 auto; }

.bg-mailto { background: url($$_$$images/bg_mailto.gif) no-repeat; height: 118px; cursor: pointer; display: block;-webkit-box-shadow: 0 0 5px #011744; -moz-box-shadow: 0 0 5px #011744; -khtml-box-shadow: 0 0 5px #011744; box-shadow: 0 0 5px #011744; }
.main-mailto { width: 135px; padding: 25px 0 0 120px; }
.main-mailto strong { font-size: 20px; display: block; }

.footer { width: 960px; margin: 0 auto; padding: 20px 0; text-align: left; }
.link-f { text-align: right; }
.link-f a { color: #fff; }

.coords-f { text-align: right; padding-top: 10px; }

.trad a:hover, .mn a:hover, .link-f a:hover { color: #75b0dc; }

/* RETOUR HAUT */
.retourHaut { float:right;margin:5px 0 0 0;padding:0;font-size:11px;font-weight:bold; }
.retourHaut a { text-decoration:none; }

.ttl-page { text-transform: uppercase; font-size: 18px; margin-bottom: 10px; color: #fff; }
.page-int { line-height: 18px; font-size:14px;}