// VAR COLORS
$color-body:#fff;
$color-content:#1a1a1a;
$color-block:#eae7de;
$color-primary:#6acabf;
$color-secondary:#55a69d;
$color-action:#923b8b;
$color-important:#481e45;
$color-nav-footer:#66645E;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#4c4a44;