// VAR COLORS
$color-body:#ebebeb;
$color-content:#ebebeb;
$color-block:#fff;
$color-primary:#fff;
$color-secondary:#000b6a;
$color-action:#030a3e;
$color-orange:#c05114;
$color-important:#000b6a;
$color-nav-footer:#000b6a;
// COLOR PUB
$color-pub:"white";
// COLOR FONT BODY DEFAULT
$color-font-body:#454d92;

