// VAR COLORS
$color-body:#4C4648;
$color-content:#fff;
$color-block:#3F393B;
$color-primary:#130D0F;
$color-secondary:#726C6E;
$color-action:#BFB9BB;
$color-important:#CA9E64;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#fff;


 
