// VAR COLORS
$color-body:#293133;
$color-content:#1a1a1a;
$color-block:#231f20;
$color-primary:#231f20;
$color-secondary:#231f20;

// $color-action:#e8c67b;
// $color-important:#b38748;

$color-action:#f2e184;
$color-important:#f2e184;

$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#f5f5f5;

$color-cdc:#ff0000;