$$REM$$/*====================================================================
//// <summary>Fichier CSS À DÉMUTUALISER POUR CHAQUE SITE</summary>
//// <remarks>
//// <para>Pour plus de rapidité, intégrer les macros du fichier 'all_global_macros.css'</para>
//// </remarks>
//// <update date="2010-02-16" author="lisbonne.siriphol">Création</update>
====================================================================*/$$END$$

<!--#include virtual="styles/all_global_macros.htm" -->

#DetailAnnonce #Annonce_Ctn #ColonneDroite {background:none;border:none;}
#Form_Ctn .inputText, #Form_Ctn .inputTextarea{background:#22373C;border:none;}

/* marquee */
#TopHeader marquee{position: absolute; padding: 0; top: 6px; left: 70px; width: 870px; font-size: 10px; color:#FFF;}
#TopHeader marquee *{color:#FFF; font-size: 10px;}