body { margin: 0; padding: 0; background: url(../images/bg.gif) top repeat-x #6277c4; padding-top: 20px; }
div, td { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; margin: 0; padding: 0; color: #2343BA; }
a { text-decoration: none; color: #3152ca; }
a:hover { text-decoration: underline; }
img { border: none; }
input, select { vertical-align: middle; }
form { margin: 0; padding: 0; }
p { margin: 0; padding: 0; }

#wrapper { position: relative; width: 1000px; }
.br_left { background: url(../images/br_left.gif) top repeat-y; }
.br_right { background: url(../images/br_right.gif) top repeat-y; }
#left { background: url(../images/bord_.gif) repeat-y right #2343ba ; }
#left1 { background: url(../images/bg_menu.gif) no-repeat; }
#contenu { background: url(../images/bg_left_contenu.gif) repeat-y #eceef8; }
#contenu1 { background: url(../images/fd_contenu1.gif) no-repeat; padding: 50px 20px 20px 20px; }
#br_adr_left { background: url(../images/br_adresse_left.gif) top repeat-y; }
#br_adr_right { background: url(../images/br_adresse_right.gif) top repeat-y; }
#adresse { background-color: #9FB0F0; padding: 5px 10px; line-height: 16px; }
#footer { font-size: 10px; color: #ced8ff; padding-top: 5px; }
.left_adr { background: url(../images/left_bas_adr.gif) top repeat-y; }
.right_adr { background: url(../images/right_bas_adr.gif) top repeat-y; }
#mise { border-top: 1px solid #617ad6; margin : 10px 0; width: 243px; background-color: #3152ca; border-bottom: 1px solid #617ad6; padding-bottom: 3px; font-size: 10px; color: #f1f029; line-height: 16px; }
#mise p { padding: 0 15px; }
#cdr_jaune { width: 747px; overflow: hidden; background-color: #f7f242; border-bottom: 1px solid #343418; line-height: 35px; }
#langue { top: 2px; right: 2px; position:absolute;  }
.lang { width: 268px; height: 39px; background: url(../images/langue.png) no-repeat; display: block; padding-top: 10px; }
.lang a { color: #000000; }
.cdc { padding: 25px 0 25px 5px; }
#footer a { color: #ced8ff; text-decoration: none; }
#footer a:hover { text-decoration: underline; }
/*autres*/
#noussituer { width: 90%; background-color: #ffffff; margin-top: 50px; }
#noussituer a { color: #2343ba; text-decoration: none; }
#noussituer td { border-bottom: 1px solid #dbddef; border-left: 1px solid #dbddef; vertical-align: top; text-align: left; color: #2343ba; padding: 15px; line-height: 20px; }
#noussituer .noussituerAgence { font-size: 14px; }
#noussituer .noussituer a { color: #2343ba; font-size: 12px; text-decoration: none; font-weight: bold; }
/* plan */
#plan { margin: 70px 0 70px 100px; font-size: 12px; }
#plan ul {
	margin: 0;
	padding: 0;
	width: 500px;
	list-style-type: none;
}
#plan ul li {
	border-bottom: 1px solid #a8bafb;
	padding: 3px 25px;
	font-weight: bold;
}
#plan ul li ul { margin-left: 20px; width: 300px; list-style-type: none; }
#plan ul li ul li { border: none; background: none; font-weight: normal; background: url(../images/fdgras.gif) no-repeat; }
#plan ul li  a { color: #2343ba; }
#plan ul li  a:hover { color: #a8bafb; text-decoration: none; }
#plan ul li ul li a { color: #2343ba; }
#plan ul li ul li a:hover { color: #a8bafb; text-decoration: none; }
#plan .first { border-top: 1px solid #a8bafb; }
/* guide */
.txtTitre3 { color: #2343ba; font-weight: bold; font-size: 12px; text-align: left; }
.gras {
	padding: 2px 5px 2px 20px;
	background: url(../images/fdgras.gif) no-repeat;
	color: #a8bafb;
	font-weight: bold;
}
.gras u { text-decoration: none; }
	/* ---- table extérieure ---- */
.encadre {
	border: 1px solid #ffffff;
	padding: 5px;
	background: #a8bafb;
	line-height: 14px;
}
.encadre .gras {
	padding: 0;
	margin-bottom: 5px;
	border: none;
	background: #a8bafb;
	color: #ffffff;
	line-height: 12px;
}
.encadre a { color: #030e77; }
.encadre a:hover { color: #ffffff; }
    /* ---- table intérieure ---- */
.table_news strong { color: #2343ba; }
.table_news, .encadre table {
	border-top: 1px solid #a8bafb;
	border-left: 1px solid #a8bafb;
	border-bottom: none;
	border-right: none;
	background: #9ca7bb;
}
.table_news td, .encadre td {
	border-bottom: 1px solid #a8bafb;
	border-right: 1px solid #a8bafb;
	border-left: none;
	border-top: none;
	background: #ffffff;
	font-size: 10px;
	padding: 5px;
}   
.table_news .gras {
	padding: 3px 5px;
	margin: 0;
	background: #ffce89;
	color: #ffffff;
	line-height: 12px;
}
/* estimation, message, contact */
.messageNomAgence, .estimationNomAgence { color: #2343ba; font-size: 14px; }
.tabFond1 table { text-align: left; }
.tabFond1 td { padding-bottom: 5px; font-size: 11px; }
.tabFond1 .tabTitre, .tabTitre { width: 100%; padding-left: 5px; background-color: #a8bafb; color: #2343ba; font-size: 12px; line-height: 20px; border-bottom: 2px solid #f1f2f9; }
/*recherche photos*/
.tabFond2 td { font-size: 11px; }
.tabFond1 .selection, .tabFond2 .selection { color: #212f90; font-size: 10px; }
.tabFond1 table { text-align: left; }
.tabFond1 .tabFond2, .tabFond2 { background-color: #ffffff; border: none; }
	/*ligne 1*/
#boitephraserecherche, #boitetri, #boitelegende { background-color: #ffffff; }
.tabFond1 .tabFond2 .soustitre a, .tabFond1 .tabFond2 .soustitre { color: #3152ca; }
	/*ligne 2*/
#boitenavigationbas, #boitenavigationhaut {	margin: 15px 0;	padding: 5px; border-bottom: 2px solid #f7f042;	background: #000; }
#boitenavigationbas .texte, #boitenavigationhaut td { color: #00FFFF; }
#boitenavigationbas a, #boitenavigationhaut a { color: #fcae48; }
	/*ligne 3*/
#boiteannonce1, #boiteannonce2, #boiteannonce3 { background-color: #ffffff; border: none; }
#boiteannonce2 .tabTitre b { color: #fff; }
#boiteannonce2 .tabFond1 .tabTitre, .tabTitre {	padding-left: 5px; background: #a3b4f3;	color: #ffffff;	font-size: 12px; line-height: 20px;	border-bottom: 2px solid #f7f042; }
	/*ligne 4*/
#boitepubalerte1, #boitepubalerte2 { background-color: #8499ea; }
#boitepubalerte1 td, #boitepubalerte2 td { color: #FFFFFF; }
#boitepubalerte1 a, #boitepubalerte2 a { color: #020b5f; }
h3 { color: #f7f042; }
	/*autres*/
#boitelegende .soustitre img { margin-bottom: 5px; }


.RefMarquee { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #ffffff; }
.RefMarquee a { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #ffffff; }
.RefMarquee a:hover { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #ffffff; }
.tabTxtvilles { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #ffffff; }
.tabTxtvilles a { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #ffffff; }
.tabTxtvilles a:hover { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #ffffff; }