/* $$DYN:ID3:NOFOOTER$$ */
.TableDetail { width: 95%; border: none; }
.BoiteAnnonce, .TotalAnnonce { border: none; background: none; padding: 5px; }
.DetailBack a { color:}
/* Titre */
.DetailLibelleetPrix { background-color: #a8bafb; padding: 5px 0; }
.DetailLibelle, .DetailSurface { color: #2343ba; font-weight: bold; }
.DetailPrix { font-size: 12px; font-weight: bold; font-style: italic; color: #fff; }
.DetailVisuels360, .DetailExclusif, .DetailSituation, .DetailFraicheurLib, .DetailRefAnnonceLib, .DetailProxLib { color: #2343ba; }
.DetailInfoComplementaire { border: 1px solid #2343ba; background-color: #a8bafb; }
.DetailInfoComplementaire td { padding: 3px; border: 1px solid #26337d; }
.DetailInfoTitre { background-color: #2343ba; text-align: center; padding: 5px 0; margin: 0; color: #f1f02a; }
.DetailImprimer a { display: block; text-align: center; width: 200px; height: 30px; line-height: 30px; color: #ffffff; text-transform: uppercase;  margin: 10px 0; font-size: 12px; background: url(../images/fd_btn.gif) no-repeat; font-weight: bold; text-decoration: none; }
.DetailImprimer a:hover { text-decoration: none; }
.DetailFormulaire td { padding: 2px 5px; }