// VAR COLORS
$color-body:#000;
$color-content:#000;
$color-block:#2b2b2b;
$color-primary:#f7baa8;
$color-secondary:#121514;
$color-action:#dea494;
$color-important:#000;
$color-nav-footer:#1a181b;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#fff;