// VAR COLORS
$color-body:#fff;
$color-content:#1a1a1a;
$color-block:#F7F4EB;
$color-primary:#fff;
$color-secondary:#000;
$color-action:#000;
$color-important:#ff5d01;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;