/* la classe est définie dans le body en fonction de l'idtt */




/* ####### VENTE ########  #ef527a  */

/* mini mot */
.MiniMotdeux .fourchette, .deux #recherche h1 {color: #ef527a;}
.MiniMotdeux .miniBouton {background: url("$$_$$images/skin/bg_bouton2.gif") no-repeat;}
.MiniMotdeux .MiniTitre1, .MiniMotdeux .MiniTitre2, .MiniMotdeux .MiniTitre3 {background-image: url("$$_$$images/skin/bg_moteur_titre2.gif");}
.MiniMotdeux a.alerte {background: url("$$_$$images/skin/bg_alert2.gif") no-repeat;}
/* moteur */
.deux #Moteur h2 {background:#ef527a;}
.deux #Moteur h4 {color:#ef527a;}
.deux #Moteur #MoteurBouton .inputSubmit {background: url("$$_$$images/skin/bg_bouton2.gif") no-repeat;}

/* recherche */
.deux #recherche h2,
.deux #recherche .annonce_numero,
.deux #recherche .annonce_btn a
{color: #ef527a;}

.deux #recherche #rech_pages a.first, .deux #recherche #rech_pages a.last, .deux #recherche #rech_pages a:hover, 
.deux #recherche #rech_pages a.actif,
.deux #RechPagesBas a:hover,
.deux #RechPagesBas .actif,
.deux #RechPagesHaut a:hover,
.deux #RechPagesHaut .actif 
 {background: url("$$_$$images/recherche/sprite_rech2.gif") no-repeat 0 -152px;}

.deux #recherche #rech_onglet {
background: url($$_$$images/recherche/bg_menu_recherche2.gif) repeat-x;
}


.deux #recherche #rech_onglet .listing {background: url($$_$$images/recherche/sprite_rech2.gif) 0 0 no-repeat;}
.deux #recherche #rech_onglet .listing:hover, .deux #recherche #rech_onglet .listing.on {background: url($$_$$images/recherche/sprite_rech2.gif) -111px 0 no-repeat;}
.deux #recherche #rech_onglet .carte {background: url($$_$$images/recherche/sprite_rech2.gif)  0 -38px no-repeat;}
.deux #recherche #rech_onglet .carte:hover, .deux #recherche #rech_onglet .carte.on {background: url($$_$$images/recherche/sprite_rech2.gif) -110px -38px no-repeat;}
.deux #recherche #rech_onglet .selection {background: url($$_$$images/recherche/sprite_rech2.gif)  0 -76px no-repeat;}
.deux #recherche #rech_onglet .selection:hover, .deux #recherche #rech_onglet .selection.on {background: url($$_$$images/recherche/sprite_rech2.gif) -138px -76px no-repeat;}
.deux #recherche #rech_onglet .btalerte {background: url($$_$$images/recherche/sprite_rech2.gif)  0 -114px no-repeat;}
.deux #recherche #rech_onglet .btalerte:hover, .deux #recherche #rech_onglet .btalerte.on {background: url($$_$$images/recherche/sprite_rech2.gif) -170px -114px no-repeat;}

.deux #recherche #rech_onglet .btalerte span,.un #recherche #rech_onglet .btalerte span{display: block;margin-left: 5px; padding-left: 25px; background: url($$_$$images/recherche/plus.png) no-repeat left center;font-weight: bold;}

/* details */
.deux .inputSubmit {background: url("$$_$$images/skin/bg_bouton2.gif") no-repeat;}
.deux #InfosComp_Ctn h4,
.deux #Outils h4,
.deux  #Bookmarks h4,
.deux  #Descriptif h4,
.deux  #annoncesSim h4,
.deux  #zoneDPE h4,
.deux  #AutresVisuels h4,
.deux  #zoneLots h4
{background: #ef527a;}

.deux #InfosPrincipales h3, .deux #infosAgence h3 {color:#ef527a;}



/* ######## LOC ########  #f68b28  */

/* mini mot */
.MiniMotun .fourchette, .un #recherche h1 {color: #f68b28;}

/* moteur */
.un #Moteur h2 {background:#f68b28;}
.un #Moteur h4 {color:#f68b28;}

/* recherche */
.un #recherche h2,
.un #recherche .annonce_numero,
.un #recherche .annonce_btn a
{color: #f68b28;}

.un #recherche #rech_onglet .listing {background: url($$_$$images/recherche/sprite_rech.gif) 0 0 no-repeat;}
.un #recherche #rech_onglet .listing:hover, .un #recherche #rech_onglet .listing.on {background: url($$_$$images/recherche/sprite_rech.gif) -111px 0 no-repeat;}
.un #recherche #rech_onglet .carte {background: url($$_$$images/recherche/sprite_rech.gif)  0 -38px no-repeat;}
.un #recherche #rech_onglet .carte:hover, .un #recherche #rech_onglet .carte.on {background: url($$_$$images/recherche/sprite_rech.gif) -110px -38px no-repeat;}
.un #recherche #rech_onglet .selection {background: url($$_$$images/recherche/sprite_rech.gif)  0 -76px no-repeat;}
.un #recherche #rech_onglet .selection:hover, .un #recherche #rech_onglet .selection.on {background: url($$_$$images/recherche/sprite_rech.gif) -138px -76px no-repeat;}
.un #recherche #rech_onglet .btalerte {background: url($$_$$images/recherche/sprite_rech.gif)  0 -114px no-repeat;}
.un #recherche #rech_onglet .btalerte:hover, .un #recherche #rech_onglet .btalerte.on {background: url($$_$$images/recherche/sprite_rech.gif) -170px -114px no-repeat;}

/* details */
.un #InfosComp_Ctn h4,
.un #Outils h4,
.un  #Bookmarks h4,
.un  #Descriptif h4,
.un  #annoncesSim h4,
.un  #zoneDPE h4,
.un  #AutresVisuels h4,
.un  #zoneLots h4
{background: #f68b28;}

.un #InfosPrincipales h3, .un #infosAgence h3 {color:#f68b28;}


/* PAGE MOTEUR */
.deux #bandeTitre{border-bottom: solid 2px #ef527a;}
.deux #bandeTitre h1{background: url($$_$$images/moteur/bg_titre_2.gif) no-repeat;}
.deux #bandeTitre h2{color: #ef527a;}
.deux #MoteurPerso .MotTitre{background-image: url($$_$$images/skin/bg_moteur_titre2.gif);}
.deux #MoteurPerso .module .moteurMargin{color: #ef527a;}
.deux #MoteurPerso #MoteurBouton .inputSubmit{background:url($$_$$images/skin/bg_bouton2.gif) no-repeat #ef527a;}
.deux .fourchette{color: #ef527a;}
.MiniMotun .fourchette {color:#F68B28;}
.deux a.alerte {background: url("$$_$$images/skin/bg_alert2.gif") no-repeat;}
.MiniMotun.deux a.alerte {background: url("$$_$$images/skin/bg_alert.gif") no-repeat;}