#suggestionsBox {display:none;position:absolute;width:203px;height:150px;overflow:auto;text-align:left;top:28px;left:0;background:#fff;border:1px solid #a3a3a3;z-index:1500;padding:0;margin:0;}
#suggestionsBox h2 {margin:0 0 5px 10px;font-size:11px;padding:0;}
#suggestionsBox ul {position:relative;margin:3px 0 3px 0;list-style-type:none;padding:0;}
#suggestionsBox li, #MoteurPerso #suggestionsBox li {cursor:pointer;margin:0;padding:2px;font-size:10px;}
.noSugg {margin:5px;padding:0;font-size:11px;}
.noSugg span {font-weight:bold;}
.onSugg, .firstLi {background:#f2f2f2;color:#787878;}

.selectLi, #MoteurPerso .module li.selectLi {float:left;margin:2px 0;background:#ececec;color:#787878;padding:3px;}

.textLi {display:inline; margin:0;padding:0;font-size:14px;}
.closeLi {display:inline; margin-left:5px;margin-top:1px;font-weight:bold;font-size:11px;cursor:pointer;}
.onClose, #MoteurPerso .module li.selectLi.onClose {background:#8a8989;color:#fff;}

.blocSearch {margin:0; padding:0; position:relative;}
.inputSearch {width: 200px;height: auto;outline: none;padding: 5px 0;padding-left: 3px;margin: 3px auto 5px auto;background: #F2F2F2;border: solid 1px #A3A3A3;font-size: 11px;font-family: Arial;color: #8A8989;}


/* WAIT */
.wait {z-index:5;background:#fff url($$~$$images/moteur/ajaxloader.gif) no-repeat;background-position:right center;}