@font-face {
    font-family: 'ArialNarrowRegular';
    src: url('$$_$$styles/typos/arialn-webfont.eot');
    src: url('$$_$$styles/typos/arialn-webfont.eot?#iefix') format('embedded-opentype'),
         url('$$_$$styles/typos/arialn-webfont.woff') format('woff'),
         url('$$_$$styles/typos/arialn-webfont.ttf') format('truetype'),
         url('$$_$$styles/typos/arialn-webfont.svg#ArialNarrowRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArialNarrowBold';
    src: url('$$_$$styles/typos/arialnb-webfont.eot');
    src: url('$$_$$styles/typos/arialnb-webfont.eot?#iefix') format('embedded-opentype'),
         url('$$_$$styles/typos/arialnb-webfont.woff') format('woff'),
         url('$$_$$styles/typos/arialnb-webfont.ttf') format('truetype'),
         url('$$_$$styles/typos/arialnb-webfont.svg#ArialNarrowBold') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*------CSS definitive--*/
body { margin: 0; padding:0; background: url($$_$$images/skin/bg.gif) repeat-x #f0eee2; text-align:center;font-family: arial; }
div,td {  font-size:12px; color: #101f69; }
img { border:none; display: inline; }
table  { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; }
a { text-decoration: none; color: #cbd300; }
a:hover { color: #101f69; text-decoration: none; }
p { margin:10px 0;}
*{margin:0; padding:0 }
ul{list-style-type:none}
.clear { clear: both; }
/*----- decoupage -------*/

#wrapper { width: 1000px; margin: 0 auto; text-align:left; position:relative; background:url("$$_$$images/skin/bg_top.jpg") center top no-repeat; }
.logo { float: left; width: 315px; }
.left-top { float: right; width: 685px; text-align:right; }
.link-top { color: #727a9d; vertical-align:middle; padding-top: 30px; }
.link-top img { vertical-align:middle; }
.link-top a { padding: 0 2px; color: #72799c; }

.menu { width: 685px; height: 55px; padding-top: 16px; }
.menu ul { margin: 0; padding: 0; }
.menu li { list-style-type: none; float: left; }
.menu li a { text-transform:uppercase; color: #101f69; height: 55px; line-height: 55px; font-size: 16px; padding: 0 8px; font-family: 'ArialNarrowRegular'; }
.menu li a:hover { background: #cbd300; height: 55px; border-radius: 10px; display: block; }

.menu li a.contact { font-weight:bold; }

.menu .en a { padding: 0 14px; }

#content { padding-bottom: 20px; }

#flash { background: url($$_$$images/skin/photo_g.jpg) no-repeat; width: 1000px; height: 375px; position:relative; }
#bloc-moteur { background:url($$_$$images/skin/bg_moteur.png) no-repeat; width: 286px; height: 258px; position: absolute; top: 163px; right: 17px; }
#bloc-moteur a { position: absolute; left: 7px; top: 225px; font-size: 11px; text-decoration: underline; color: #101f69; }
.ttl-moteur { color: #101f69; font-family: 'ArialNarrowBold'; font-size: 16px; text-transform:uppercase; padding-left: 65px; padding-top: 15px; }
#navigue { padding: 15px 0; min-height: 350px; }

.content-left { background: url($$_$$images/skin/background_cdc.gif) repeat-x #dbde5f; border-top: 20px solid #f0eee2; width: 679px; height: 306px; }

.btn { height: 34px; overflow:hidden; padding-left: 13px; }
.btn ul { margin: 0; padding: 0; }
.btn li { list-style-type: none; position: relative; float: left; }
.btn a { display: block; height: 34px; background-repeat: no-repeat; }
.btn a:hover { position: relative; display: block; background-position: 0 -34px; }

#exclu, #cdc { display: none; }

#menu-new,#menu-cdc, #menu-exclu { width:216px;height: 34px;display: block; }

/*#menu-new:hover,#menu-exclu:hover, #menu-cdc:hover { background-position: 0 -34px; }*/

#menu-new.fr { background: url($$_$$images/skin/onglet_new_fr.png) no-repeat ;}
#menu-exclu.fr { background: url($$_$$images/skin/onglet_exclus_fr.png) no-repeat; }
#menu-cdc.fr { background: url($$_$$images/skin/onglet_cdc_fr.png) no-repeat; }
#menu-new.en { background: url($$_$$images/skin/onglet_new_en.png) no-repeat ;}
#menu-exclu.en { background: url($$_$$images/skin/onglet_exclus_en.png) no-repeat; }
#menu-cdc.en { background: url($$_$$images/skin/onglet_cdc_en.png) no-repeat ; }

.content-left { float:left; width: 680px; }
.content-right { float:left; width: 300px; padding-top: 72px; padding-left: 20px; }
.bg-content-right { background: #dbde5f; padding: 5px; }
.texte-accueil { border-left: 6px solid #101f69; color: #101f69; font-size: 14px; font-weight: bold; width: 270px; margin-left: 6px; padding-left: 16px; }
.bg-content-right p { padding: 0 10px; color: #101f69; font-size: 11px; line-height: 12px; }
.bg-content-right p a { color: #101f69; font-size: 11px; line-height: 12px; font-weight: bold; text-decoration:underline; }

.bg-content-right .phone { text-align:center; color: #101f69; font-size: 23px; font-weight: bold; padding: 10px 0; }

#footer { background:url($$_$$images/skin/bg_footer.gif) repeat-x #f0eee2; }
.main-foot { width: 1000px; margin: 0 auto; text-align:left; border-left: 3px solid #f0eee2; border-right: 3px solid #f0eee2; position:relative; } 
#Plan_Ctn a { color: #101f69; border-bottom: 1px dotted #101f69; text-transform:uppercase; }
#Plan_Ctn a:hover { color: #cbd300; }

.ttl_pages { color: #101F69; font-family: Tahoma, Geneva, sans-serif; text-transform:uppercase; font-size: 20px; font-weight: bold; }

.bloc-rss { float: left; width: 225px; padding-left: 10px; padding-top: 10px; }
.pic-rss { background: url($$_$$images/skin/pic-rss.gif) 0 5px no-repeat; padding-left: 37px; color: #002e50; font-size: 15px; }
.pic-rss a { color: #002e50; font-size: 15px; }
.pic-rss a:hover { color: #cbd300; text-decoration:underline; }
.center-foot { width: 350px; color: #002e50; float: left; padding-left: 45px; font-size: 15px; }
.bloc-centre { padding-left: 100px; color: #002e50; height: 47px; padding-top:10px; text-align:center; font-size: 15px; line-height:14px; }
.right-bloc { color: #002e50; float: right; width: 355px; text-align:right; padding-right: 10px; padding-top: 10px; font-size: 15px; line-height:14px;}
.right-bloc a { color: #002e50; font-size: 14px; }
.bloc-service { width: 475px; height: 115px; float: right; margin: 10px 0; }

.pic-sociaux { position:absolute; top: 60px; right: 10px; }

.coordo-footer { text-align:center; color: #002e50; font-size: 12px; padding:0 0 50px; }
.coordo-footer a { color: #002e50; padding: 0 15px; }
.coordo-footer a:hover { color: #fff; }
.link-foot { padding: 10px 0 25px; font-size: 11px; color: #101f69; }
.link-foot strong { font-size: 12px; }
.link-foot a { color: #101f69; font-size: 11px; }
.link-foot a:hover { color: #cbd300; }


/* RETOUR HAUT */
.retourHaut {float:right;margin:5px 0 0 0;padding:0;font-size:11px;font-weight:bold;}
.retourHaut a {color:#cbd300;text-decoration:none;}
/*FOOTER REFERENCEMENT*/
.leftreffooter{float:left;}
.conteneurfoot{margin:auto;width:970px;}
.contentblocklink{float:right;margin-bottom:10px;}
.blockcol{float:left;margin-left:30px;text-align:left;}
.footerlink h4{color:#fff; font-weight:normal;margin:0;padding:0;margin-top:10px;font-size:1.2em;}
.footerlink{float:none;}
.footerlink a { display:block;font-size:0.8em;color:#ccc;}

#DOMWindow { background: #fff!important; }