<inputs label="&Eacute;tat des murs (fa&ccedil;ade, cr&eacute;pi ...)" class="required exterior-walls-state">
	<radio model="$ec.formData.state.walls.exterior" value="'medium'" icon="star">A r&eacute;nover</radio>
	<radio model="$ec.formData.state.walls.exterior" value="'good'" icon="stars-2">Correct</radio>
	<radio model="$ec.formData.state.walls.exterior" value="'great'" icon="stars-3">Neuf</radio>
</inputs>

<inputs label="&Eacute;tat de la toiture" class="required roof-state">
	<radio model="$ec.formData.house.state.roof" value="'medium'" icon="star">A r&eacute;nover</radio>
	<radio model="$ec.formData.house.state.roof" value="'good'" icon="stars-2">Correct</radio>
	<radio model="$ec.formData.house.state.roof" value="'great'" icon="stars-3">Neuf</radio>
</inputs>

<inputs label="Isolation" class="required isolation">
	<radio model="$ec.formData.house.isolation" value="'medium'" icon="star">A r&eacute;nover</radio>
	<radio model="$ec.formData.house.isolation" value="'good'" icon="stars-2">Correct</radio>
	<radio model="$ec.formData.house.isolation" value="'great'" icon="stars-3">Neuf</radio>
</inputs>

<controls>
	<prev state="online.house.surface"></prev>
	<next state="online.house.stateFinal"></next>
</controls>
