// VARIABLES COLORS
$color-body:#292a81;
$color-content:#fff;
$color-block:#34354e;
$color-primary:#292a81;
$color-secondary:#212266;
$color-action:#fff;
$color-important:#fcd557;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#fff;

// COLOR SOUS MENU
$color-sous-menu:$color-block;

