// VAR COLORS
$color-body:#fff;
$color-content:#4c4a44;
$color-block:#fff;
$color-primary:#d4e5ec;
$color-secondary:#0077ac;
$color-action:#0077ac;
$color-important:#e95d0f;
$color-nav-footer:#000;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#4c4a44;