'---formail pour page Contactez-nous
#2NOM:ALL:2:20

Enter your name! 
Enter a name of 20 letters maximum!
#2PRENOM:ALL:2:20

Enter your first name!
Enter a first name of 20 letters maximum! 
#2PHONE:NBR:10:20
Figures only
incomplete phone number!  
too long phone number!
#2ADRESSE:ALL:2:50
Enter your address !
Enter your address !

#2EMAIL:EML:2:50
Enter a valid email !
Enter your Email !
Email too long !
#BUDGET:NBR:2:20
Budget: enter only numbers !
Enter your budget !
Budget is too long !
#LOCALISATION:ALL:2:100
Enter your location !
Enter your location !
Location is too long !
#CRITERE:ALL:2:200
Enter your criteria !
Enter your criteria !
Criteria is too long !
