.choices {
    .btn {
        white-space: normal;

        @include media-breakpoint-down(xs) {
            letter-spacing: -1px;
            padding-right:  0 !important;
            padding-left:   0 !important;
            white-space:    nowrap;
        }
    }
}

