// VAR COLORS
$color-body      : #fff;
$color-content   : #fff;
$color-block     : #fff;
$color-primary   : #bfce2e;
$color-secondary : #146fad;
$color-action    : #146fad;
$color-important : #bfce2e;
$color-nav-footer: #313131;

// COLOR PUB
$color-pub       : "black";

// COLOR FONT BODY DEFAULT
$color-font-body : #313131;
