$$REM$$/*====================================================================
//// <summary>Fichier CSS À DÉMUTUALISER POUR CHAQUE SITE</summary>
//// <remarks>
//// <para>Pour plus de rapidité, intégrer les macros du fichier 'all_global_macros.css'</para>
//// </remarks>
//// <update date="2010-02-16" author="lisbonne.siriphol">Création</update>
====================================================================*/$$END$$

<!--#include virtual="styles/all_global_macros.htm" -->

#Header_Ctn {border:none; background:url(/z/webagency/A_ID3X/derume_35159/images/bg_head.jpg) repeat-x #FFF;}
#Logo a img {margin-bottom:20px;}
#HeaderTxt h2 {font-size:18px;text-align:center;margin-right:70px;}

#Menu_Ctn {background:#31A208;}
ul#Menu li a {margin:0;padding:10px 40px;}

#Wrap {background:url(/z/webagency/A_ID3X/derume_35159/images/bg_wrap.jpg) repeat-x #D8D8D8;}
#Ctn {background:none;}

#AgImmo * {font-size:14px;}
#Horaires {display:none;}

#Menu li {position:relative;}
#Menu li:hover > a {background:#2a7512;}
#Menu li ul {display:none; position:absolute; left:0px; top:35px; background:#31a208; padding:10px; z-index:10; width:270px; text-align:left;}
.ie9 #Menu li ul {top:33px;}
#Menu li ul li {float:none; display:block;}
#Menu li ul li a {background:none; text-align:left;}
#Menu li:hover > ul {display:block;}

