// VAR COLORS
$color-body:#fff;
$color-content:#fff;
$color-block:#fff;
$color-primary:#000;
// $color-secondary:#f0cd2b; jaune
$color-secondary:#707070;
// $color-action:#f0cd2b; jaune
$color-action:#E3C01E; 
$color-important:#000;
$color-nav-footer:#fff;

$color-degrade-nav:#2A2E31;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;