// VARIABLES COLORS
$color-body:#373737;
$color-content:#f54d15;
$color-block:#292929;
$color-primary:#292929;
$color-secondary:#f54d15;
$color-action:#e7501e;
$color-important:#65746d;
$color-nav-footer:#c5c5c5;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#c5c5c5;