#ConteneurAnn { background: none; text-align:center; width: 100%; }
.Pasdannonce { color: #FFFFFF; font-size: 12px; }
.Titre0ann { font-size: 14px; font-weight: bold; color: #f8b90c; }
/**/
.BoitePhraseRecherche{}
/*popup*/
.cacher { block }

/*photo*/
.ligne1, .ligne2, .ligne3, .ligne4, .ligne5 { margin: 0 2px 0 2px; }
.ligne1 .RechercheVisuelsPhoto img { width: 190px; height: 140px; border: 1px solid #8f0101; }
.ligne1 .RechercheVisuelsPhoto{text-align: center;}
.ligne2 .RechercheLibelle { font-size: 14px; font-weight: bold; color: #8f0101; }
.ligne2 .RechercheSituationVille { font-size: 12px; color: #8f0101; }
/*.ligne2 .RechercheSituationVille { font-size: 12px; color: #ffc34a; }*/
.ligne3 .RecherchePrixEuro { color: #500000; }
.ligne3 .RechercheRefAnnonce { color: #500000; }
.Icones {}
.PlusInfos { background: none; }
.PlusInfos a { color: #8f0101; }
/*.PlusInfos a { color: #f9c677; }*/
.PlusInfosLiens { margin-left: 2px; color: #6f0000; font-weight: bold; background: none; }
.montrerdetailinfos { background-color: #f9c677; border: 1px solid #ffe596; }
.montrerdetailinfos ul li a { color: #FFFFFF; }
/**/
.BoitePubAlerte { background-color: #ffe597; border: none; width: 100%; }
.AlerteGratuit { color: #000000; }
.AlerteEmail a, .AlerteGratuit a { color: #af0101; }
.AlerteEmail a:hover { color: #de8803; text-decoration: underline; }
.AlerteGratuit a:hover { color: #af0101; text-decoration: none; }


.BoiteAnnonce, .BoiteAnnonceExclusif{
 	margin-left: 5px;
  background-color: #fae9c6;
  border: 1px solid #842a28;
  }
  
