/* 20071127 / Programme de popularite Avis Immobilier */
#PopAvis *{color: #213a74;}
#PopAvis .clear{clear: both;}
#PopAvis{background: #f5f5f5; border: 1px solid #213a74; margin: 0; padding: 10px; width: 695px;}
#PopAvis a{text-decoration: none; font-weight: normal;}
#PopAvis a:hover{color: #b7cf00;}
#PopAvis img.logo{display: block; float: left;}
#PopAvis p.urlCtnt{float: right; width: 590px; text-align: justify;}
#PopAvis p.urlCtnt span{display: block; background: url($$-$$images/ico_fleche2.png) left no-repeat; padding: 0 0 0 22px; font-weight: bold; font-size: 1.1em;}