/* 20071010 by Lisbonne WebAgency SeLoger.com */
/* print_annonce.htm mutualise */

/*========= classes generales =========*/
*{font: 11px/normal Verdana, Arial, Helvetica, sans-serif; color: #000; margin:0; padding: 0; border: none;}
body{text-align: center; padding: 20px; background: #0a0a0a url($$_$$/images/bg_Body.gif) repeat-x;}
h1,h2,h3,h4,h6{color: #d50096; font-weight: bold;}
h1{font-size: 20px;}
h2{font-size: 18px;}
h3{font-size: 14px;}
h5{font-size: 11px; color: #fff;}
h6{font-size: 11px; border-bottom: 2px solid #aaaaaa; padding: 5px 0 3px 0; margin: 0 0 3px 0;}
span{font-size: 16px; color: #474747; font-weight: bold;}
ul, li{list-style: none;}
li{float: left; width: 190px;}
.clear{clear:both;}
.clearLeft{clear:left;}
.left{float: left;}
.right{float: right; text-align: right;}
.cdcExclu right { display:none; }
/*========= top annonce =========*/
.idtt{color: #fff; padding: 3px 8px; background: url($$_$$/images/bg_ligne1.gif); font-weight: bold;}
.cdcExclu{color: #fff; padding: 3px 8px; margin: 0 0 0 5px; background: url($$_$$/images/print_fond-cdc.gif) 0 0 repeat-x #7d0000; font-weight: bold;}

/*========= conteneur annonce =========*/
#PrintAnnonce{width: 600px; padding: 2px; margin: auto; text-align: left; background: #9a9a9a url($$_$$/images/bg_Content.gif) no-repeat; border: 1px solid #c6c6c6;}
/* image max width: 600px */
#PrintAnnonce #BandeauPrint{margin: 0 0 2px 0;}

/*========= infos annonces =========*/
#PrintAnnonce #Ctn{border: 1px solid #c6c6c6; padding: 10px;}
#PrintAnnonce #Ctn #InfosTop{border-top: 2px solid #dbe3e7; border-bottom: 2px solid #dbe3e7; padding: 5px 0; margin: 5px 0 10px 0;}

/*========= photos annonce =========*/
#PrintAnnonce #Ctn #Photo_Ctn{float: left; width:253px; background: url($$_$$/images/bg_ligne1.gif); border: none; padding: 5px;}
#PrintAnnonce #Ctn #Photo_Ctn img{width:253px; border:1px solid #c6c6c6;}
/* 8 photos suivantes */
#PrintAnnonce #Ctn #Photo_Ctn #MiniPhoto_Ctn{padding: 5px 0 0 0;}
#PrintAnnonce #Ctn #Photo_Ctn #MiniPhoto_Ctn img{width:60px; height: 45px; border:1px solid #c6c6c6;}

/*========= descriptif annonce =========*/
#PrintAnnonce #Ctn #Ctn_Annonce{float: right; width: 300px;}
#PrintAnnonce #Ctn #Ctn_Annonce #MajRef{background: url($$_$$/images/bg_ligne1.gif); padding: 5px;}
#PrintAnnonce #Ctn #Ctn_Annonce #Descriptif{text-align: justify; padding: 5px 0;}

/*========= infos complementaires =========*/
#PrintAnnonce #Ctn #InfosComp{margin: 5px 0;}

/*========= details agence =========*/
#PrintAnnonce #Ctn #DetailAgence{margin: 5px 0; padding: 5px 10px; border: 4px solid #c6c6c6; background: url($$_$$/images/bg_portefeuilles.gif) repeat-x;}
#PrintAnnonce #Ctn #DetailAgence *{font-weight: bold; color: #e5d3d3; font-size: 12px;}

/*========= fiche visite =========*/
table, td{border-collapse: collpase; font-size: 11px;}
input.size1{width: 130px; border:1px solid #000; margin: 1px 0; height: 16px;}
input.size2{width: 450px; border:1px solid #000; margin: 1px 0; height: 16px;}
textarea{border:1px solid #000; margin: 1px 0; height: 50px; width: 450px;}
.td1{width: 170px; text-align: right; padding: 0 5px 0 0;}
.td2{padding: 0 15px 0 0;}

/*========= imprimer =========*/
#Imprimer{background: url($$_$$/images/bg_portefeuilles.gif) repeat-x; border: 1px solid #c6c6c6; padding: 5px; text-align: center;}
#Imprimer input{width: 214px; height: 27px; background: url($$_$$/images/fd_btnprint.gif) no-repeat; font-size: 14px; color: #fff; font-weight: bold; cursor: pointer; line-height: 27px; text-transform: uppercase; }<!-- ID3x v3.00 - X9 - 00.006.882 - none - 11/10/2007 14:02:04 - styles\print_annonce.css -->
