/* carte_visite.htm */
#CV{margin: 0; padding: 0; border: none;}
#CV *{margin: 0; padding: 0; border: none;}
#CV .clear{clear:both;}
#CV .linkOut{text-align: right; margin: 0.5em 0;}
#CV .linkOut a{background: url($$_$$images/picto_fleche_01.gif) left no-repeat; padding: 0 0 0 15px;}
/**/
#CV h1{font-size: 1.8em; color: #fff; background: url($$_$$/images/bg_ttl.gif) repeat-x #2e522d; padding: 0.3em 0.8em;}
#CV #Agence{padding: 1em; background: none;}
#CV #Agence #Img_Ctn{float: left; background: url($$_$$images/sans_photo.jpg) no-repeat #fff;}
#CV #Agence #Img_Ctn #Vitrine{width: 200px; height: 130px; border: 2px solid #fff; background: url($$_$$images/agences/$$FORM:IDP$$.jpg) no-repeat;}
#CV #Agence #Coordonnees{float: left; padding: 0 1em; width: 400px; padding-bottom: 10px; margin-bottom: 20px; }
#CV #Agence #Coordonnees h2{font-size: 1.5em; background: none; }
#CV #Agence #Coordonnees p{padding: 0.4em 0;}
#CV #Agence #Coordonnees p strong{font-weight: normal;}
#CV #Agence #Coordonnees p span{font-weight: bold;}
#CV #Agence #TxtPublic{text-align: justify;}
#CV #CvFoot{background: url($$_$$/images/bg_ttl.gif) repeat-x #2e522d; height: 21px; overflow: hidden;}
#CV #CvFoot *{color: #fff; text-decoration: none; font-weight: bold;}
#CV #CvFoot #Links{float: left; border-right: 1px solid #fff; background: url($$_$$/images/bg_ttl.gif) repeat-x #2e522d;}
#CV #CvFoot #Links a{display: block; float: left; padding: 0.3em 1em; border-right: 1px solid #fff; border-left: 1px solid #fff; color: #2e522d; }
#CV #CvFoot #Links a:hover { background: url($$_$$images/listeag_fond_03.gif) 0 0 repeat-x #630101;}
#CV #CvFoot #Links a.message{}
#CV #CvFoot #Links a.estimation{}

h3 { color: #2e522d; font-size:14px; }