body { margin: 0; padding: 0; text-align: center; background-color: #396539; }
table  { border-collapse: collapse; border-spacing: 0; }
img { border: none; display: inline; }
div, td { font-family: Arial, Helvetica, sans-serif; font-size:11px; color: #000; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; }
a { color: #000; text-decoration: none; }
a:hover { color: #917644; }
p { margin: 10px 0; padding:0; }
.float-left { float: left; }
.float-right { float: right; }
.clear-left { clear: left; }
.clear-right { clear: right; }
.clear-both { clear: both; }

#gerance strong {color:#666666;}
#gerance ul {list-style: url(../images/puce_gerance.gif); }
.gerance {color:#993366;}

#location {width:950px; margin-left:12px;}
#location strong {color:#666666;}
.location {color:#993366;}

	/*structure*/
#wrapper0 { width: 100%; background: url(../images/bg_wrapper.gif) repeat-x #f9e5ce; }
#wrapper1 { width: 1070px; margin: 0 auto; }
#wrapper2 { width: 1030px; float: left; }
.border { width: 20px; float: left; padding-top: 163px; }
#header { position: relative; width: 1030px; height: 163px; overflow: hidden; background: url(../images/header_photo.jpg) no-repeat; }
#header .float-left { width: 215px; padding-top: 8px; text-align: left; }
#header .float-right { padding-right: 30px; width: 643px; }
#header .float-right #top-menu { width: 479px; height: 31px; overflow: hidden; background: url(../images/bg_topmenu.gif) no-repeat;  float: right; }
#header .float-right #top-menu #tab-topmenu { width: 440px; margin: 4px 0 0 15px; }
#header .float-right #top-menu #tab-topmenu td { text-align: center; padding: 3px 5px; background: url(../images/bg_coltopmenu.gif) right no-repeat; }
#header .float-right #top-menu #tab-topmenu a { font-size: 11px; color: #fff; font-weight: bold; line-height: 13px; }
#header .float-right #top-menu #tab-topmenu td.flag ul li a { display: block; }
#header .float-right #top-menu #tab-topmenu td.flag ul li a:hover { position: relative; top: -20px; color: #c09003; }

#main { width: 1030px; }
#main #content { width: 970px; margin: 0 auto; text-align: left; padding: 30px 0 20px 0; }
#main #content #intro { width: 960px; margin: 0 auto; padding-bottom: 32px; }
#main #content #intro .float-left { width: 480px; text-align: justify; }
#main #content #intro .float-left h1 { font-size: 18px; color: #000; margin: 0 0 18px 0; }
#main #content #intro .float-left2 h1 { font-size: 18px; color: #fff; margin: 0 0 18px 0; }
#main #content #intro .float-left h1 strong { font-size: 18px; color: #917644; }
#main #content #intro .float-left p.italic-text { width: 60%; float: left; font-style: italic; text-decoration: underline; margin: 0; padding-top: 10px; }
#main #content #intro .float-left p.next { width: 118px; float: right; margin: 5px 0 0 0; }
#main #content #intro .float-left p.next a { display: block; width: 118px; height: 23px; background: url(../images/bg_next.gif) no-repeat; text-align: center; font-weight: bold; font-size: 12px; line-height: 23px; color: #fff; }
#main #content #intro .float-left p.next a:hover { color: #4b9771; }
#main #content #intro .float-right { width: 470px; height: 149px; overflow: hidden; background: url(../images/bg_index_photo.gif) no-repeat; text-align: center; }
#main #content #intro .float-right img { width: 456px; height: 137px; margin: 6px auto; }
#main #content #marquee { width: 960px; height: 16px; background-color: #dce8fe; text-align: center; margin-bottom: 8px; }
#main #content #marquee #AnnoncesDefilantes { width: 940px; margin: 0 auto; text-align: left; line-height: 16px; color: #2c4b6f; }
#main #content #marquee #AnnoncesDefilantes a { color: #2c4b6f; font-weight: bold; }
#main #content #marquee #AnnoncesDefilantes a:hover { color: #13217c; }
#main #content #insert01 { width: 970px; background: url(../images/bgrepeat_insert0.gif) repeat-y; }
#main #content #insert01 #insert02 { width: 512px; background: url(../images/bgtop_insert0.gif) no-repeat; }
#main #content #insert01 #insert02 #insert03 { width: 512px; background: url(../images/bgbottom_insert0.gif) bottom no-repeat; text-align: center; }
#main #content #insert01 #insert02 #insert03 #tab-insert0 { width: 910px; margin: 0 auto; padding: 15px 0; }
#main #content #insert01 #insert02 #insert03 #tab-insert0 .float-left { width: 455px; text-align: left; }
#main #content #insert01 #insert02 #insert03 #tab-insert0 .float-left p { font-weight: bold; font-size: 12px; color: #917644; margin: 0; line-height: 28px; }
.search-text { color: #b79866; font-size: 12px; font-weight: bold; }
#main #content #insert01 #insert02 #insert03 #tab-insert0 .float-right { width: 420px; text-align: left; }
#main #content #insert01 #insert02 #insert03 #tab-insert0 .float-left h1, 
#main #content #insert01 #insert02 #insert03 #tab-insert0 .float-right h1 { font-size: 18px; color: #fff; border-bottom: 1px solid #fff; padding: 0 0 4px 0; margin: 0 0 3px 0; text-align: left; }
#main #content #insert01 #insert02 #insert03 #tab-insert0 .float-right #agency-photo { width: 236px; height: 137px; float: left; background: url(../images/bg_agency_photo.gif) no-repeat; text-align: center; }
#main #content #insert01 #insert02 #insert03 #tab-insert0 .float-right #agency-photo img { margin: 9px auto; }
#main #content #insert01 #insert02 #insert03 #tab-insert0 .float-right #agency-contact { width: 180px; float: right; text-align: left; font-weight: bold; font-size: 14px; color: #fff; }
#main #content #insert01 #insert02 #insert03 #tab-insert0 .float-right #agency-contact p { margin: 5px 0 10px 0; text-align: left; }
#main #content #insert01 #insert02 #insert03 #tab-insert0 .float-right #agency-contact p strong { color: #1d2667; }
#main #content #insert01 #insert02 #insert03 #tab-insert0 .float-right #agency-contact a { color: #1d2667; font-weight: normal; font-size: 13px !important; }
#main #content #insert01 #insert02 #insert03 #tab-insert0 .float-right #agency-contact a:hover { color: #fff; }
#main #content .insert1 { width: 315px; height: 205px; background: url(../images/bg_insert1.gif) no-repeat; text-align: center; }
#main #content .insert1 .tab-insert1 { width: 274px; margin: 0 auto; text-align: left; padding: 18px 0 15px 0; }
#main #content .insert1 .tab-insert1 .insert1-title { font-size: 14px; font-weight: bold; color: #000; margin: 0; }
#main #content .insert1 .tab-insert1 .insert1-title strong { font-size: 12px; color: #917644; }
#main #content .insert1 .tab-insert1 .insert1-photo { width: 274px; height: 74px; text-align: center; }
#main #content .insert1 .tab-insert1 .insert1-photo img { margin: 7px auto; }
#main #content .insert1 .tab-insert1 .insert1-text { margin: 3px 0; color: #000; padding: 0 5px; }
#main #content .insert1 .tab-insert1 .insert1-text a { color: #917644; font-weight: bold; text-decoration: underline; }
#main #content .insert1 .tab-insert1 .insert1-text a:hover{ color: #000; }
#main #content .insert2 { width: 315px; height: 205px; background: url(../images/bg_insert2.gif) no-repeat; text-align: center; margin-left: 12px; }
#main #content .insert2 .tab-insert2 { width: 274px; margin: 0 auto; text-align: left; padding: 18px 0 15px 0; }
#main #content .insert2 .tab-insert2 .insert2-title { font-size: 14px; font-weight: bold; color: #fff; margin: 0; }
#main #content .insert2 .tab-insert2 .insert2-title strong { font-size: 12px; color: #3a6739; }
#main #content .insert2 .tab-insert2 .insert2-photo { width: 274px; height: 74px; text-align: center; }
#main #content .insert2 .tab-insert2 .insert2-photo img { margin: 7px auto; }
#main #content .insert2 .tab-insert2 .insert2-text { margin: 3px 0; color: #fff; padding: 0 5px; }
#main #content .insert2 .tab-insert2 .insert2-text a { color: #2fc32b; font-weight: bold; text-decoration: underline; }
#main #content .insert2 .tab-insert2 .insert2-text a:hover { color: #fff; }
#main #content .insert1 .tab-insert1 .insert1-text strong,
#main #content .insert2 .tab-insert2 .insert2-text strong { text-decoration: underline; }
#footer { width: 100%; background: url(../images/bg_footer.gif) repeat-x; padding: 5px 0 10px 0; }
#footer .link-footer { text-align: center; color: #fff; padding-top: 8px; }
#footer .link-footer a { color: #fff; }
#footer .link-footer a:hover { color: #d09000; text-decoration: underline; }
#footer .listes { width: 700px; text-align: center; color: #2fc32b; margin: 0 auto; font-size:12px; font-weight: bold; padding-top: 8px; }
#footer .listes strong { font-weight: bold; color: #2fc32b; }
.listes a { color: #2fc32b; text-decoration:none; }
.ListeVilles a { color: #000; font-weight: normal; font-size: 10px; }
.ListeVilles a strong  { font-weight: normal; color:#000000; font-size: 10px; }
.ListeVilles { color:#000000; text-align: justify; padding-right: 8px; font-size: 10px; }


#bgmoteur { background:url(../images/repeat_bg_moteur.gif) repeat-y; width: 512px; text-align:left; }
.mini-moteur { float:left; width: 512px; }
.mini { padding-left: 8px;}
.inter-moteur { width: 460px; padding-left: 30px; }
.search { font-size: 18px; font-weight: bold; color:#FFFFFF; padding-top: 10px; }
.secteur { text-align:left; width: 230px; padding-left: 30px; float:left; color: #000000; }
.secteur strong { color: #2f722f; }
.secteur a { font-weight: normal; color: #000000; }

.secteur2 { font-size:14px; color: #9a7945; font-weight:bold; line-height: 18px; }


.liste { font-weight: normal; color: #000000; }
.trait { float:left; width: 4px; }
.anonnces { float: left; padding-left: 20px; width: 135px; text-align:left; font-size:14px; color: #9a7945; font-weight:bold; }
.anonnces strong { color: #2f722f; }
.appart { font-weight: normal; }
.logo-cnab { float: left; padding-left: 311px; padding-top: 5px; }
.adresse { background:url(../images/bg_adresse.gif) no-repeat; padding: 5px; float:right; width: 240px; text-align:left; color: #172c17; font-size:12px; font-weight:bold; overflow: hidden; -moz-opacity: 0.70; filter: alpha(opacity=70); opacity: 0.70; margin-top: 5px; }




#menu-haut { width: 484px; height: 34px; position:relative; float:right; }
#menu-haut ul { margin: 0; padding: 0; list-style-type: none; }
#menu-haut li { position: relative; height: 34px; overflow: hidden; float: left; }
#menu-haut li a { display: block; background-repeat: no-repeat; height: 34px; overflow: hidden; color: #2dd027; font-weight: bold; padding-top: 5px; }
#menu-haut li a:hover { display: block; background-repeat: no-repeat; height: 34px; overflow: hidden; color: #fff; font-weight: bold; }
/*fr*/
#menu-haut .mnh1 { width: 119px; background-image: url(../images/mnh1.gif); }
#menu-haut .mnh2 { width: 95px; background-image: url(../images/mnh2.gif); }
#menu-haut .mnh3 { width: 133px; background-image: url(../images/mnh3.gif); }
#menu-haut .mnh4 { width: 137px; background-image: url(../images/mnh4.gif); }


#menu { width: 642px; height: 42px; position:relative; float:right; }
#menu ul { margin: 0; padding: 0; list-style-type: none; }
#menu li { position: relative; height: 42px; overflow: hidden; float: left; }
#menu li a { display: block; background-repeat: no-repeat; height: 42px; overflow: hidden; color: #fff; font-weight: bold; padding-top: 15px; font-size: 13px; }
#menu li a:hover { display: block; background-repeat: no-repeat; height: 42px; overflow: hidden; color: #c09003; font-weight: bold; }
/*fr*/
#menu .mn1 { width: 108px; background-image: url(../images/mn1.gif); }
#menu .mn2 { width: 95px; background-image: url(../images/mn2.gif); }
#menu .mn3 { width: 98px; background-image: url(../images/mn3.gif); }
#menu .mn4 { width: 88px; background-image: url(../images/mn4.gif); }
#menu .mn5 { width: 99px; background-image: url(../images/mn5.gif); }
#menu .mn6 { width: 154px; background-image: url(../images/mn6.gif); }


	/*guide*/
#MenuGuide { 
	text-align: center;
	padding: 100px 0;
}
#MenuGuide table { 
	margin: 0 auto;
	width: 800px;
}
#MenuGuide a {
	font-size: 12px;
	font-weight: bold;
	color: #284627; 
	text-decoration: none; 
	line-height: 20px;
}

#MenuGuide a:hover {
	font-size: 12px;
	color: #c09003;
}

#MenuGuide td { 
	text-align: left;
	border-bottom: 1px solid #4b9771; 
}

#PageDossiers table { 
	margin: 0 auto; 
	width: 100%; 
}

#PageDossiers p { 
	margin: 5px 0; 
}


#PageDossiers td { 
	padding: 2px 5px; 
}

.txtTitre3, .grasnews { 
	color: #053e1d; 
	font-weight: bold; 
	font-size: 13px; 
	text-align: left;
	background: url(../images/arrow_2.gif) 0 2px no-repeat;
	padding: 3px 2px 3px 23px; 
}

.gras {
	padding: 3px 2px 3px 23px;
	background: url(../images/arrow_1.gif) 4px 2px no-repeat;
	color: #2f722f;
	font-weight: bold;
}

.gras u { 
	text-decoration: none; 
}

.encadre {
	border: 1px solid #2f722f;
	padding: 5px;
	background: #4b9771;
	line-height: 14px;
}
.encadre .gras {
	padding: 0;
	margin-bottom: 5px;
	border: none;
	background: #4b9771;
	color: #ffffff;
	line-height: 12px;
}
.encadre a { color: #030e77; }
.encadre a:hover { color: #ffffff; }
.table_news strong { color: #fff; }
.table_news, .encadre table {
	border-top: 1px solid #4b9771;
	border-left: 1px solid #4b9771;
	border-bottom: none;
	border-right: none;
	background: #000;
}
.table_news td, .encadre td {
	border-bottom: 1px solid #4b9771;
	border-right: 1px solid #4b9771;
	border-left: none;
	border-top: none;
	background: #2f722f;
	font-size: 10px;
	padding: 5px;
}   
.table_news .gras {
	padding: 3px 5px;
	margin: 0;
	background: #ffce89;
	color: #ffffff;
	line-height: 12px;
}
	/*page formulaire*/
.page-title { font-weight: bold; color: #000; font-size: 20px; background: url(../images/arrow_title.gif) 10px 0 no-repeat; line-height: 20px; text-align: left; padding: 0 0 0 35px; margin: 0 0 15px 0; }
.tabFond1 { background: none; width: 100%; }
.tabFond1 td { padding: 3px 10px; font-size: 12px; }
.tabFond1 table { text-align: left; }
.tabTitre { font-size: 12px; color: #fff; margin: 0 0 10px 0; font-weight: normal; text-align: center; background: url($$_$$/images/bg_ttl.gif) repeat-x #2d4e2c; }
.messageNomAgence, .estimationNomAgence, .titreInfosLegales { font-size: 18px; text-align: center; color: #05411f; margin: 0; font-weight: bold; display: block; }
.tabFond1 .Input, .tabFond1 .imputForm, .tabFond1 slect { border: 1px solid #a7adb4; background: url(../images/bg_input.gif) repeat-x #fff; }
.tabFond1 .tabFond1 textarea.imputForm{
	width: 100%;
	height: 100px;
}
#CguFormulaire { background: #4b9771; padding: 10px; text-align: left; color: #053e1d; border: none; }
#CguFormulaire a { color: #fff; text-decoration: underline; }
#CguFormulaire a:hover { color: #000; text-decoration: none; }
.bond { color: #000; font-size: 16px; background: url(../images/arrow_bond.gif) 25px 0 no-repeat; line-height: 25px; text-align: left; padding-left: 60px; text-decoration: underline; }
.rightButton { width: 116px; height: 21px; background: url(../images/bg_rightButton.gif) no-repeat; color: #fff; font-size: 12px; text-align: center; display: block; padding-bottom: 2px; border: none; text-transform: uppercase; font-weight: bold; }
	/*page alerte*/
#PageAlert { border-bottom: 1px solid #2f722f; border-top: 1px solid #2f722f; padding: 50px 25px; background-color: #f9e5ce; }
#PageAlert table { width: 100%; }
#PageAlert font { color: #053e1d; }
#PageAlert td { text-align: left; }
#PageAlert strong { color: #2f722f; }
#PageAlert a { width: 277px; height: 25px; font-size: 14px; font-weight: bold; color: #fff; display: block; margin-left: 50px; background: url(../images/bg_alert_link.gif) no-repeat; line-height: 25px; text-align: center; text-transform: uppercase; }
#PageAlert a:hover { color: #4b9771; }
	/*agence immobiliere*/
#Portefeuille01 h3,#Annonces01 h3{font-size: 1.4em; border-bottom: 1px solid #274326; padding: 2px 0 4px 25px; margin: 0 0 5px 0; color:#274326; background: url(../images/arrow_2.gif) 0 2px no-repeat; text-transform: uppercase;}
	/*carto*/
.nous-situer { padding: 0 20px 5px 20px; margin-bottom: 5px; }
.nous-situer a { font-size: 18px; color: #2f722f; display: block; width: 140px; height: 18px; line-height: 18px; padding-left: 30px; font-weight: bold; background: url(../images/arrow_locate.gif) 0 0 no-repeat; text-transform: uppercase; }
.nous-situer a:hover { color: #053e1d; }
	/*recherche general*/
#RechPagesHaut .rechLiensPages a,
#RechPagesBas .rechLiensPages a{ border: none; width: 19px; height: 17px !important; overflow: hidden; padding-top: 4px; }
#RechPagesHaut .rechLiensPages a.actif,
#RechPagesBas .rechLiensPages a.actif{ border: none; }
#RechPagesHaut .rechLiensPages a:hover,
#RechPagesBas .rechLiensPages a:hover{border: none; }
#RechercheContainer #AlerteEmail,
#RechercheContainer #AlerteEmail #AlerteEmailCtn { width: 970px; }
*+html #RechHaut #RechHautCtn #RechHautLiens{width: 920px; }
#RechHaut #RechHautEnd{height: 30px}
	/*recherche basic*/
#RechResultat .blocAnnonce .detailAnn .ajoutSelection a, #RechResultat .blocAnnonce .detailAnn a.lienDetail, #RechResultat .blocAnnonce .detailAnn .supprimerSelection a { color: #176415; }
#RechResultat .blocAnnonce .detailAnn .ajoutSelection a:hover, #RechResultat .blocAnnonce .detailAnn a.lienDetail:hover, #RechResultat .blocAnnonce .detailAnn .supprimerSelection a:hover { color: #053e1d;}
	/*recherche alerte email*/
#RechercheContainer #AlerteEmail,
#RechercheContainer #AlerteEmail #AlerteEmailCtn { width: 970px; }
#RechercheContainer #AlerteEmail #AlerteEmailEnd { height: 30px; }
#RechercheContainer #AlerteEmail #AlerteEmailCtn h4 { font-weight: normal; text-transform: uppercase; }
	/*alerte immo*/
#AlerteImmo { background: none; border: none; padding: 0; }	
#AlerteImmo #AlerteTitre01{ width: 970px;background: url(../img/alerteimmo_titre_fond01.gif) no-repeat;}
#AlerteImmo #AlerteTitre01 h5 { background: none; }
#AlerteImmo #AlerteTitre01 h5 span{color: #fff; font-weight: normal; text-transform: uppercase;}
#AlerteImmo h2 { color: #053e1d; }
#AlerteImmo h4 { color: #2f722f; }
#AlerteImmo #AlerteConfirmation p.confirmation { color: #2b2b2b;}
#AlerteImmo h5.retourAccueil a { color: #053e1d; }
#RechercheContainer #AlerteEmail #AlerteForm input.alerteBt { border: 1px solid #4b9771; }
#RechercheContainer .dicoImmo { padding-left: 10px; padding-right: 10px; }
	/* bloc annonce */
#Annonces01 .ann_ctn{ background: url(../img/ann01_fd_01.gif) no-repeat; }
#Annonces01 .ann_ctn .ann_fd{ display: none;}
#Annonces01 a.ann_detail{ background: none !important; _background: none !important;}
td#ColonneDroite form table#FormContact td#ChampsNom input, td#ColonneDroite form table#FormContact td#ChampsPrenom input, td#ColonneDroite form table#FormContact td#ChampsTelephone input, td#ColonneDroite form table#FormContact td#ChampsEmail input, td#ColonneDroite form table#FormContact td#ChampsMessage textarea { color:#000; }
.table {  text-align: center; vertical-align: middle; }
#RechercheContainer #AlerteEmail #AlerteForm input.alerteBt { border: 1px solid #176415; }