// VARIABLES COLORS
$color-body:#fff;
$color-content:#fff;
$color-block:#eee;
$color-primary:#fff;
$color-secondary:#085397;
$color-action:#085397;
$color-important:#085397;
$color-nav-footer:#085397;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
// $color-font-body:#7f7f7f;
$color-font-body:#000;