$$REM$$/*====================================================================
//// <summary>Fichier CSS À DÉMUTUALISER POUR CHAQUE SITE</summary>
//// <remarks>
//// <para>Pour plus de rapidité, intégrer les macros du fichier 'all_global_macros.css'</para>
//// </remarks>
//// <update date="2010-02-16" author="lisbonne.siriphol">Création</update>
====================================================================*/$$END$$

<!--#include virtual="styles/all_global_macros.htm" -->
body {background:#F6F4DA;}
a{ color:#669966;}
select option{padding-left:5px;}
#HeaderTxt h2{font-size:15px;}
#TopHeader marquee, #TopHeader marquee *, #Coordonnees *, #RechPagesHaut .rechLiensPages a.actif, #RechPagesBas .rechLiensPages a.actif, #RechPagesHaut .rechLiensPages a:hover, #RechPagesBas .rechLiensPages a:hover, #RechPagesHaut .rechLiensPages a:hover span, #RechPagesBas .rechLiensPages a:hover span{ color:#fff;}
.miniDivSelect select option, form#Tri select option, form#Tri select optgroup{ padding:0 0 0 4px;}
#AlerteEmail{ background:#eeeeee;}
#AlerteEmail h4, #AlerteEmail h3 span{color:#404040;}
ul#Menu li a {background:url("$$_$$/images/menu_bg.gif") no-repeat 0 0; width:103px; margin:0 0 0 1px;}
ul#Menu li a:hover{background:url("$$_$$images/menuHover_bg.gif") no-repeat 0 0; width:103px; margin:0 0 0 1px;}
ul#Menu li a.last {padding:10px 14px!important;background:url("$$_$$images/menulast_bg.gif") no-repeat 0 0!important;}
ul#Menu  li a.last:hover {padding:10px 14px!important;background:url("$$_$$images/menulastHover_bg.gif") no-repeat 0 0!important;}
#Wrap {background:none;padding: 0;}
#Ctn {padding: 0 5px;width:990px;box-shadow: 0 7px 26px -9px #000000; -moz-box-shadow:0 7px 26px -9px #000000; -o-box-shadow:0 7px 26px -9px #000000;-webkit-box-shadow:0 7px 26px -9px #000000; behavior:url($$_$$styles/pie/PIE.HTC);}
#Visuel_Ctn {border-radius: 5px 5px 5px 5px;-moz-border-radius: 5px 5px 5px 5px;-o-border-radius: 5px 5px 5px 5px;-webkit-border-radius: 5px 5px 5px 5px;behavior:url($$_$$styles/pie/PIE.HTC);}
#MoteurAccueil {border-bottom:none;}
#MiniBouton .boutonSubmit {border:none;border-radius: 4px 4px 4px 4px;-webkit-border-radius: 4px 4px 4px 4px;-o-border-radius: 4px 4px 4px 4px;-moz-border-radius: 4px 4px 4px 4px;behavior:url($$_$$styles/pie/PIE.htc);}
.selectionIndex_Ctn {-o-border-radius:4px 4px 4px 4px;-moz-border-radius:4px 4px 4px 4px;border-radius:4px 4px 4px 4px;-webkit-border-radius: 4px 4px 4px 4px;behavior:url($$_$$styles/pie/PIE.HTC);border:1px solid #4F3325;}
#Coordonnees {color:#fff;background:#4F3325;border-radius: 0 0 15px 15px;-webkit-border-radius: 0 0 15px 15px;-o-border-radius:0 0 15px 15px;-moz-border-radius: 0 0 15px 15px;behavior:url($$_$$styles/pie/PIE.HTC);}
#Moteur #MoteurBouton .inputSubmit {;border-radius: 4px 4px 4px 4px;-webkit-border-radius:4px 4px 4px 4px;-moz-border-radius: 4px 4px 4px 4px;-o-border-radius: 4px 4px 4px 4px;behavior:url($$_$$styles/pie/PIE.HTC);}
#FormContactAgence .inputSubmit {border-radius: 4px 4px 4px 4px;-webkit-border-radius:4px 4px 4px 4px;-moz-border-radius: 4px 4px 4px 4px;-o-border-radius: 4px 4px 4px 4px;behavior:url($$_$$styles/pie/PIE.HTC);color: #FFFFFF;}
#AgImmoDroite .AgImmoContact a, #AgImmoDroite .AgImmoEstimation a{border-radius: 4px 4px 4px 4px;-webkit-border-radius:4px 4px 4px 4px;-moz-border-radius: 4px 4px 4px 4px;-o-border-radius: 4px 4px 4px 4px;behavior:url($$_$$styles/pie/PIE.HTC);}
#Coordonnees_Ctn, #FooterBottom_Ctn{ background:none;}
#Moteur .moteurTable .col3 {padding: 20px 0 0 6px;}
#Logo{ padding:0 50px 20px 0;}
.contactAnn , #Annonce_Ctn td#ColonneGauche{background:#F6F4DA;}
 #Form_Ctn .inputText, #Form_Ctn .inputTextarea, #FormContactAgence .inputText, #FormContactAgence .inputSelect, #FormContactAgence .inputTextarea, select.miniSelect{ background:#fff; border-color:#ECE8B8;}
#ImmoRub{ padding:10px 0 10px 10px; width:98%; margin:0;}
#ImmoRub p{ padding:0 0 10px;}
.form01 {margin: 0 auto;width: 260px; padding-top:100px;}
.form01 .champ01{ padding:10px 0;}
.form01 .champ02{ clear:both; padding:0 0 10px;}
.form01 .champ03{ clear:both:padding:10px 0 0 0;}
.form01 .champ01 label, .form01 .champ02 label{ float:left; width:100px; }
.form01 .champ01 input, .form01 .champ02 input{ border:1px solid #ECE8B8;padding:3px;}
.form01 .champ03 input {background:#4F3325;border: 1px solid #ECE8B8;color: #FFFFFF; padding:3px; cursor:pointer; margin:0 0 0 100px;}
#AgImmoDroite p label.respAgence, #Horaires, #AgImmoMentions{ display:none;}
#HeaderTxt{ background:url("$$_$$/images/header.jpg") no-repeat 0 0; width:812px;}
#HeaderTxt h2{ font-size:30px; font-style:italic; padding:0 0 0 20px;}