@font-face {
	font-family: 'Aller-Light';
	src: url('$$_$$styles/typocss/allerlt0.eot');
	src: url('$$_$$styles/typocss/allerlt0.eot?#iefix') format('embedded-opentype'),
			 url('$$_$$styles/typocss/allerlt0.woff') format('woff'),
			 url('$$_$$styles/typocss/allerlt0.ttf') format('truetype'),
			 url('$$_$$styles/typocss/allerlt0.svg#allerlt0') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*------CSS definitive--*/
body { margin: 0; padding:0; background: url($$_$$images/skin/bg.gif) repeat-x #f1d896; text-align:center; }
div,td {  font-size:12px; color: #000530; font-family:Arial,sans-serif; }
img { border:none; display: inline; }
table  { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; }
a { text-decoration: none; color: #172387; }
a:hover { color: #f5e8d0; text-decoration: none; }
p { margin:10px 0;}
*{margin:0; padding:0 }
ul{list-style-type:none}
.clear { clear: both; }
/*----- decoupage -------*/

#wrapper { width: 960px; margin: 0 auto; text-align:left; position: relative; }

#top { height: 196px; overflow:hidden; }

.logo { float:left; width: 500px; }
.bg-moteur { background:url($$_$$images/skin/bg_moteur.gif) no-repeat; width: 367px; height: 133px; float: left; margin-left: 60px; margin-top: 6px; position:relative; }
.flag { float:right; width: 23px; padding-top: 6px; }
.flag img { padding-bottom: 3px; }

.menu { width: 960px; height: 55px; }
.menu ul { margin: 0; padding: 0; }
.menu li { list-style-type: none; float: left; height: 55px; }
.menu a { height: 55px; line-height:48px; padding: 0 16px; color: #f1d896; text-transform:uppercase; font-size: 16px; }
.menu a:hover { color: #fff; }

.menu .en a { padding: 0 23px; }

.ttl-exclu { background:url($$_$$images/skin/bg_exclu.gif) no-repeat; width: 960px; height: 44px;  padding-left: 397px; line-height: 44px; color: #172387; font-size: 18px; }

.texte-alert { color: #fff; font-size: 14px; padding-left: 122px; padding-top: 10px; }
.texte-alert strong { text-transform:uppercase; font-weight: normal; font-size: 18px; }
.texte-alert a { color: #172387; text-transform:uppercase; }

.bg-alert { background:url($$_$$images/skin/bg_alert.gif) no-repeat; width: 471px; height: 92px; float: left; }
.bg-maison { background:url($$_$$images/skin/bg_maison.gif) no-repeat; width: 471px; height: 92px; float: right; }

.text-accueil { background: url($$_$$images/skin/bg_blanc.gif) repeat-y; padding-left: 145px; margin:0 0 20px 0; font-size: 15px; color: #172387; }
.text-accueil a  { color: #8b6e44; }
.text-accueil a:hover { color: #FFFFFF;text-decoration:underline; }
.text-accueil strong { font-size: 18px; font-weight:normal; color: #000530; }

#footer { background: #172387; width: 960px; height: 64px; margin: 30px 0 10px; position:relative; }
.mobile { background:url($$_$$images/skin/pic_mobile.gif) no-repeat; padding-left: 35px; color: #fff; font-size: 14px; height: 40px; padding-top: 4px; }
.mobile strong, .rss strong { color: #f1d896; font-weight: normal; }
.bloc-mobile { float: left; padding-top: 12px; padding-left: 30px; width: 215px; }
.bloc-rss { float: left; padding-top: 12px; padding-left: 100px; width: 265px; }
.rss { background: url($$_$$images/skin/pic_rss.gif) no-repeat; padding-left: 50px; color: #fff; font-size: 14px; height: 40px; padding-top: 4px; }
.rss a { color: #f1d896; }
.rss a:hover { color: #fff; }

#bloc-cdc { padding: 0 0 15px; }

.bloc-sociaux { float: right; width: 180px; color: #fff; font-size: 14px; position:relative; padding-top: 15px; padding-left: 95px; }
.bloc-sociaux a { color: #f1d896; }
.pic-sociaux { position:absolute; top: 10px; left: 0; }

.bas-footer { color: #c09e57; font-size: 11px; float:left; width: 378px; padding: 15px 0 35px; }
.right-footer { color: #c09e57; float: right; width: 475px; padding-top: 15px; }
.right-footer a { color: #c09e57; }
.right-footer a:hover { color: #fff; }

.ttl_pages { color: #172387; }

#navigue { padding: 15px; background: #f9e0a5; min-height: 350px; }



#Plan_Ctn a { color: #8b6e44; border-bottom: 1px dotted #8b6e44; }
#Plan_Ctn a:hover { color: #172387; }
#Plan_Ctn ul { padding-left: 20px; }

/* RETOUR HAUT */
.retourHaut {float:right;margin:5px 0 0 0;padding:0;font-size:11px;font-weight:bold;}
.retourHaut a {color:#172387;text-decoration:none;}
/*FOOTER REFERENCEMENT*/
.leftreffooter{float:left;}
.conteneurfoot{margin:auto;width:970px;}
.contentblocklink{float:right;margin-bottom:10px;}
.blockcol{float:left;margin-left:30px;text-align:left;}
.footerlink h4{color:#fff; font-weight:normal;margin:0;padding:0;margin-top:10px;font-size:1.2em;}
.footerlink{float:none;}
.footerlink a { display:block;font-size:0.8em;color:#ccc;}

#DOMWindow { background: #fff!important; }