/*$$REM$$====================================================================================
//// <summary>Fichier CSS 2 site "PACK AVANTAGE 2"</summary>
//// <remarks>
//// <para>Fichier css appelé par head mutualisé</para>
//// <para>Sert pour toutes modifs démutualisées</para>
//// <para>Liste des macros générales pour faciliter la customisation des sites</para>
//// <para>A démutualiser pour chaque site</para>
//// </remarks>
//// <update date="2010-02-16" author="lisbonne.siriphol">Création</update>
====================================================================================$$END$$*/


$$REM$$ /* ============================================================================================
 ////////////////////////////////////// MACROS GENERALES PERSOS //////////////////////////////////////
============================================================================================= */$$END$$
<!--#include virtual="styles/all_global_macros.htm" -->

/*---------- Accueil ----------*/
#TopHeader_Ctn {background: none repeat scroll 0 0 #414141;}
#FilAriane span {color: #e5e5e5;}
a#AccueilSite, #HeaderTxt p, #PortefeuilleAccueil h6, #FilAriane em {color: #ff4c00;}
#Visuel_Ctn, .selectionIndex_Ctn {border: 1px solid #ff4c00;}
#PortefeuilleAccueil ul li a, #PortefeuilleAccueil h6 span, #HeaderTxt h2, .selectionDescr .selectionSurface, .selectionDescr .selectionNbPieces  {color: #414141;}
#FooterBottom * {color: #fff;}

/*---------- recherche,basic ----------*/
#RechPagesHaut .rechLiensPages a, #RechPagesBas .rechLiensPages a, #RechPagesHaut .rechLiensPages a span, #RechPagesBas .rechLiensPages a span {color: #ff4c00;}
.surface, .terrain, .descr, .prox_ctn, .majAnn .fraicheur, .majAnn .reference {color: #414141;}
.contactAnn .ctc, .dicoImmo * {color: #e5e5e5;}
.contactAnn {background: none repeat scroll 0 0 #414141;}
.blocAnnonce {border: 1px solid #ff4c00;}


/*---------- moteur,recherche ----------*/
#Moteur #ref_ann, #Moteur h3 {border-bottom: 1px solid #E5E5E5;}
#Moteur .inputText, #Moteur .inputSelect, #Moteur .inputTextarea {background: none repeat scroll 0 0 #fff;color: #414141;}
#Moteur .moteurTable ul li#nb_pieces, #Moteur .moteurTable ul li#nb_chambres, #Moteur .moteurTable ul li#InputSurfaceTerrain {background: none repeat scroll 0 0 #414141;}
#Moteur .moteurTable ul li, #Moteur .moteurTable ul strong{color: #414141;}
.moteurComment {color: #e5e5e5;}
#Moteur #MoteurBouton {border-top: 1px solid #e5e5e5;}

/*---------- agence,immobilière ----------*/
#AgImmoMentions p {color: #e5e5e5;}


/*---------- contact,estimation ----------*/
#CguFormulaire {color: #e5e5e5;}
#FormContactAgence .inputText, #FormContactAgence .inputSelect, #FormContactAgence .inputTextarea {color: #414141;background: none repeat scroll 0 0 #fff;}



/*---------- outil,calculettes ----------*/
#Outils label, .accordion_content em, #Outils th {color:#414141;}
.accordion_content .inputText{background: none repeat scroll 0 0 #fff;}
.accordion_content .inputResult {background: none repeat scroll 0 0 #fff;}
#Outils h3 {background: none repeat scroll 0 0 #ff4c00;}


/*---------- detail,sento ----------*/
#Descriptif .txtDescriptif {color:#414141;}
#AgenceContact * {color: #FF4C00;}
#InfosPrincipales p {    color:#414141;}
#InfosComp_Ctn #InfosComp p {color:#414141;}
#Form_Ctn table td p {color:#414141;}
#ChampsObligatoires {color:#414141;}
#DetailAnnonce h5 {color:#414141;}
.similaire {background-color:#414141;}
#AgenceMentions h6 {    color: #FF4C00;}
#AgenceMentions p {color: #414141;}
#CguFormulaire {color: #414141;}
#CguFormulaire a {color: #FF4C00;}
#Glossaire_Ctn p {    color: #414141;}


/*---------- immobilier,biens ----------*/
#ImmoAnn p {
    color:#414141;
}