/* CSS POUR OUTILS */
/* CALCULATRICE */
#Outils{padding:0;margin:0;}
#CalculettesPicto {float:left;width:48px;height:48px;margin:0;background:url('/z/webagency/slagence_X_V4/images/calculettes_picto.png') 0 0 no-repeat !important;}
h1 {padding:10px 0 0 0;margin:5px 0 0 0; font-family: 'OpenSansCondensedBold'; font-size: 24px; text-transform: uppercase;}
#Outils h1 {padding:0;margin:0; }
#Outils h3{font-size:18px;position: relative; background:#003e72;color:#fff;padding: 5px 0; margin: 15px 0 0 0;text-align: center; cursor: pointer; text-transform: uppercase; font-family: 'OpenSansCondensedLightRegular'; }
#Outils h3 span{margin:0:position: absolute; display: block; top: 18px; right: 10px; width: 12px; height: 7px; background: url('/z/webagency/slagence_X_V4/images/calculettes_fleche.png') 0 0 no-repeat !important;}
#Outils table{width: 100%;}
#Outils table,
#Outils td{border-collapse: collapse;}
#Outils td{padding: 3px 5px; vertical-align: top; text-align: left;}
#Outils th{padding: 6px 5px 0 0; vertical-align: top; text-align: right; width: 45%;}
#Outils strong{color:#00529b;}
#Outils label{padding: 0 3px; color: #444; }
.accordion_content{background:#ececec; padding: 10px; border-bottom:1px solid #ccc;}
.accordion_content em{display: block; font-size: 10px; font-style: normal; filter:alpha(opacity=60); -moz-opacity:0.7;	-khtml-opacity: 0.6; opacity: 0.6; color: #444; }
.accordion_content .inputText,
.accordion_content .inputCalcul,
.accordion_content .inputResult	{font-weight: bold; font-size: 12px; padding: 5px; width: 120px; text-align: center; font-weight:normal; font-family:arial;}
.accordion_content .inputText, .accordion_content .inputResult {color:#444;background:#fff; border: 1px solid #003c70; }
.accordion_content .inputResult {border:1px solid #00529b;}
.accordion_content .inputCalcul	{cursor:pointer;color:#fff;background:#00529b;width:122px;border:none;}
#Outils .accordion_content {overflow: hidden; background: #edeeee; }