/* CSS POUR SELECTION ANNONCES, DETAIL ANNONCES */
#selectionAnnonces_1 {width:100%;margin:10px 0 0 0;}
.detailAnnonces, .detailAnnoncesRef {float:left;position:relative;width:186px;background:#ececec;height:auto;margin:10px 2px 0 3px;text-align:center;padding:0 0 7px 0;border:1px solid #bbb;min-height:255px;}
.detailAnnoncesRef {min-height:285px;}
.detailAnnonces a, .detailAnnoncesRef a {text-decoration:none;color:#0072d0;}
.blocPhoto {width:100%;margin-top:5px;height:130px;position:relative;}
.blocPhoto img {width:175px;height:130px;}
.blocNoPhoto {background:url('/z/webagency/slagence_X_V4/images/recherche/sans_photo.jpg') 50% 50% no-repeat;}
.blocNumPhoto, .blocNumPhotoBg {position:relative;color:#fff;display:block;width:169px;margin:0 0 0 6px;padding:3px;z-index:100;margin-top:-28px;height:22px;}
.blocNumPhotoBg {background:#000;filter:alpha(opacity=60);-moz-opacity:0.7;-khtml-opacity:0.6;opacity:0.6;}
.blocNumPhoto .picto {float:left;width:30px;margin-right:5px;padding-top:4px;}
.blocNumPhoto .libelle {float:left;display:block;text-align:left;padding-top:2px;line-height:22px;}
.blocTypeBien, .blocVilleBien, .blocSurfaceBien, .blocPiecesBien, .blocTxtRefBien, .blocPrixBien, .blocDetailBien {clear:both;display:block;margin:8px 0 0 8px;font-size:12px;color:#0072d0;text-align:left;font-weight:bold;}
.blocVilleBien, .blocPrixBien {margin:4px 0 0 8px;font-size:11px;}
.blocPrixBien {font-size:14px;}
.blocSurfaceBien, .blocPiecesBien, .blocTxtRefBien {margin-top:4px;font-size:11px;font-weight:normal;color:#787878;}
.blocDetailBien {bottom:7px;left:68px;font-size:11px;text-decoration:underline;}
.blocPhotosPlus {position:relative;width:170px;background:red;z-index:100;padding:5px;}
.siLogo {width:175px;height:130px;margin-left:6px;}
/* COUP DE COEUR, EXCLU, NOUVEAU, PROMO LISTING ANNONCES */
.blocPhotoExclusif {position:absolute;width:120px;height:70px;background:url('/z/webagency/slagence_X_V4/images/bandeaux/exclusif_$$IF:FORM:LANG$$$$FORM:LANG$$$$END$$$$IF0:FORM:LANG$$fr$$END$$.png') 0 0 no-repeat !important;z-index:500;left:6px;}
.blocPhotoCoupCoeur {position:absolute;left:135px;top:5px;width:44px;height:46px;background:url('/z/webagency/slagence_X_V4/images/bandeaux/coupdecoeur.png') 0 0 no-repeat !important;z-index:500;}
.blocPhotoNouveau {position:absolute;width:85px;height:50px;background:url('/z/webagency/slagence_X_V4/images/bandeaux/nouveau_$$IF:FORM:LANG$$$$FORM:LANG$$$$END$$$$IF0:FORM:LANG$$fr$$END$$.png') 0 0 no-repeat !important;z-index:500;left:6px;}
.blocPhotoPromo {position:absolute;top:100px;left:100px;width:60px;height:60px;background:url('/z/webagency/slagence_X_V4/images/bandeaux/promo_$$IF:FORM:LANG$$$$FORM:LANG$$$$END$$$$IF0:FORM:LANG$$fr$$END$$.png') 0 0 no-repeat !important;z-index:500;}
/* SENTO */
#LiensRetour {float:left;display:block;clear:both;width:100%;}
.retourPrecedente, .retourAccueil {float:left;margin:0 15px 10px 0;}
#Annonce_Ctn {float:left;width:940px;margin:5px 0 0 0;}
#photoDesc_ctn {float:left;width:400px;margin:0;padding:0;}
.infosAnnonce_ctn {float:left;width:630px;background: none;padding:5px;margin-right:6px;}
.moreAnnonce_ctn {float:left;width:280px;background:#004885;padding:5px;}
#DetailAnnonce a {color:#0072d0;}
.photoNbr {font-weight:bold;color:#0072d0;padding:5px;float:left;}
.photoZoom {float:right;padding:5px;}
.zoomPicto {float:left;margin:0 3px 0 0;padding:0;background:url('/z/webagency/slagence_X_V4/images/pictos/zoom_diaporama.png') no-repeat;width:16px;height:16px;display:block;}
.textePicto {float:left;}
.photo_ctn {float:left;width:400px;margin-top:5px;}
#photoMore {border-bottom:1px dotted #787878;height:28px;margin-bottom:5px;}
#InfosPrincipales {float:left;width:200px;margin-left:20px;color:#fff;margin-top:0px;}
#infosAgence {color:#787878;margin-top:5px;text-align:left;}
#InfosPrincipales h4, #infosAgence h4, #InfosComp_Ctn h4, #Outils h4, #Bookmarks h4, #Descriptif h4, #annoncesSim h4, #zoneDPE h4, #AutresVisuels h4, #zoneLots h4 {color: #0072D0;
    font-family: 'OpenSansCondensedLightRegular'; font-weight:normal;
    font-size: 20px;border-bottom:1px dotted #0072D0;text-align:left;padding-bottom:5px; font-weight:normal; padding-top:0;}
#InfosPrincipales h3, #infosAgence h3 {color: #FFFFFF;
    font-family: 'OpenSansCondensedBold'; font-weight:normal;
    font-size: 24px; text-transform:uppercase; margin:5px 0 5px 0;}
#InfosPrincipales h3.prixTransactionInfos {color: #FFFFFF;
    font-family: 'OpenSansCondensedLightRegular'; font-weight:normal;
    font-size: 20px; text-transform:uppercase; margin:5px 0 5px 0;}
#InfosPrincipales h3.referenceTransactionInfos {font-family:arial; font-size: 12px; color:#0072d0; font-weight:bold;}

#InfosPrincipales p, #infosAgence p {font-size:12px;margin:2px 0 2px 0px; color:#fff;}
#infosAgence p {font-size:12px; color: #fff; }
#InfosComp_Ctn, #Outils, #Bookmarks, #Descriptif, #zoneDPE, #annoncesSim, #AutresVisuels {margin-top:15px;}
#Descriptif {width:400px;}
#Descriptif p {margin-top:5px;}
#Outils h4 {margin-bottom:5px;}
#InfosComp_Ctn ul {margin:5px 5px 5px 0;padding:0;}
#InfosComp_Ctn li {margin:2px 0 2px 0; list-style-type: none; }
/* METRO */
.metro_Ctn {clear:both;margin-top:5px;}
.picto_metro {float:left;}
.metro {float:left;margin-top:3px;margin-left:6px;}
/* OUTILS */
.outils_bg {margin:2px 0 2px 13px;}
.outils_bg a {color:#0072d0;}
.pictoAjoutSelectionOK {display:block;float:left;background:url('/z/webagency/slagence_X_V4/images/detail/outil_selection_ok.png') 0 0 no-repeat;width:16px;height:16px;margin:0 5px 0 0;}
#Picto_AjoutSelection {display:block;float:left;background:url('/z/webagency/slagence_X_V4/images/detail/outil_ajout_selection.png') 0 0 no-repeat;width:16px;height:16px;margin:0 5px 0 0;}
#Picto_EnvoiAmi {display:block;float:left;background:url('/z/webagency/slagence_X_V4/images/detail/outil_envoi_ami.png') 0 0 no-repeat;width:16px;height:16px;margin:0 5px 0 0;}
#Picto_Imprimer {display:block;float:left;background:url('/z/webagency/slagence_X_V4/images/detail/outil_imprimer.png') 0 0 no-repeat;width:16px;height:16px;margin:0 5px 0 0;}
#Picto_PermalienBloc {display:block;float:left;background:url('/z/webagency/slagence_X_V4/images/detail/outil_permalien.png') 0 0 no-repeat;width:16px;height:16px;margin:0 5px 0 0;}
#Picto_VoirSelection {display:block;float:left;background:url('/z/webagency/slagence_X_V4/images/detail/outil_voir_selection.png') 0 0 no-repeat;width:16px;height:16px;margin:0 5px 0 0;}
/* BOOKMARKS */
#Bookmarks {padding-left:10px;}
#Bookmarks a{display:block;float:left;margin:5px 7px 5px 0;width:18px;height:18px;}
#Facebook{background:url('/z/webagency/slagence_X_V4/images/bookmarks/facebook.gif');}
#Wikio{background:url('/z/webagency/slagence_X_V4/images/bookmarks/wikio.gif');}
#Technorati{background:url('/z/webagency/slagence_X_V4/images/bookmarks/technorati.gif');}
#Google{background:url('/z/webagency/slagence_X_V4/images/bookmarks/google.gif');}
#MySpace{background:url('/z/webagency/slagence_X_V4/images/bookmarks/myspace.gif');}
#Yahoo{background:url('/z/webagency/slagence_X_V4/images/bookmarks/yahoo.gif');}
#Twitter{background:url('/z/webagency/slagence_X_V4/images/bookmarks/twitter.gif');}
#Livespace{background:url('/z/webagency/slagence_X_V4/images/bookmarks/livespace.gif');}
#Scoopeo{background:url('/z/webagency/slagence_X_V4/images/bookmarks/scoopeo.gif');}
a#Mailto{margin:5px 7px 0 0;width:16px;height:14px;overflow:hidden;background:url('/z/webagency/slagence_X_V4/images/bookmarks/mailto.png');}
/* SIM */
#annoncesSim {margin-top:20px;}
/* DPE */
#emissionG {margin-left:20px;}
#consoE, #emissionG {float:left;width:45%;padding:10px;}
#consoE h5, #emissionG h5 {font-size:11px;margin:0 0 5px 0;}
.diagramme{position:relative;background:#fff;border:1px solid #eee;padding:15px;height:295px;}
.diagLettre{position:absolute;color:#fff;font-size:16px;font-weight:bold;left:200px;width:45px;height:20px;text-align:center;background:url('/z/webagency/slagence_X_V4/images/pictos/diag-fleche.gif') 0 0 no-repeat;}
.diagA{top:25px}
.diagB{top:48px}
.diagC{top:70px}
.diagD{top:94px}
.diagE{top:117px}
.diagF{top:140px}
.diagG{top:163px}
.diagH{top:192px}
.diagI{top:214px}
.bilanConso{padding:2px 0;font-weight:bold;font-size:16px;color:#000;}
.notes{clear:both;font-size:9px;text-align:justify;color:#787878;}
/* BLOC CONTACT */
#Form_Ctn {margin-top:10px;}
#FormContact {margin-top:15px;border-bottom:1px dotted #787878}
#AgenceMentions {margin-top:15px;padding:0;}
#FormContact h4 {font-size:12px;height:auto;padding-bottom:5px;margin-bottom:10px;text-align:left;}
#AgenceMentions h6 {font-size:9px;height:auto;margin-bottom:5px;text-align:left; color: #0072d0; }
#AgenceMentions p, #MapMicrosoft p {margin:2px 0 2px 0;font-size:10px;color:#fff;}
.rowForm {clear:both;margin:0 0 5px 0;padding:0;text-align:center;}
.label {float:left;margin-right:10px;width:75px;text-align:right;display:block; color: #fff;}
.field {float:left;text-align:left;display:block;width:185px;}
.inputText, .inputTextarea {background:#fff;border:1px solid #fff;color:#787878;width:95%;font-size:11px; font-family:arial; padding:5px;}
.inputSubmit {padding:5px;color: #2d6ae9;
    font-family: 'OpenSansCondensedBold';
    font-size: 24px; text-transform:uppercase;width:auto;margin:5px 0 5px 0;cursor:pointer; border: 1px solid #fff; }
.legal {font-size:10px;color:#fff;margin-top:5px;}
#MapMicrosoft{float:none;display:block;margin:0;margin-top:15px;border-bottom:1px dotted #787878;background:none;border:none;padding:0;}
#MapMicrosoft #MapHead h4 {color:#0072d0;}
#MapMicrosoft #MapHead p {color:#fff;}
/* COUP DE COEUR, EXCLU, NOUVEAU, PROMO SUR SUR SENTO*/
.blocPhotoExclusifSento {position:absolute;width:120px;height:70px;background:url('/z/webagency/slagence_X_V4/images/bandeaux/exclusif_$$IF:FORM:LANG$$$$FORM:LANG$$$$END$$$$IF0:FORM:LANG$$fr$$END$$.png') 0 0 no-repeat !important;z-index:500;}
.blocPhotoCoupCoeurSento {position:absolute;left:340px;top:5px;width:44px;height:46px;background:url('/z/webagency/slagence_X_V4/images/bandeaux/coupdecoeur.png') 0 0 no-repeat !important;z-index:500;}
.blocPhotoNouveauSento {position:absolute;width:85px;height:50px;background:url('/z/webagency/slagence_X_V4/images/bandeaux/nouveau_$$IF:FORM:LANG$$$$FORM:LANG$$$$END$$$$IF0:FORM:LANG$$fr$$END$$.png') 0 0 no-repeat !important;z-index:500;}
.blocPhotoPromoSento {position:absolute;top:100px;left:100px;width:60px;height:60px;background:url('/z/webagency/slagence_X_V4/images/bandeaux/promo_$$IF:FORM:LANG$$$$FORM:LANG$$$$END$$$$IF0:FORM:LANG$$fr$$END$$.png') 0 0 no-repeat !important;z-index:500;}
/* PICTOS AUTRES VISUELS */
.picto_Pdf {background:url('/z/webagency/slagence_X_V4/images/pictos/picto_pdf.png') no-repeat;width:16px;height:16px;float:left;margin:5px 5px 0 0;}
.Picto_VisiteVirtuelle {background:url('/z/webagency/slagence_X_V4/images/pictos/picto_visite_virtuelle.png') no-repeat;width:16px;height:16px;float:left;margin:5px 5px 0 0;}
.Picto_LienExterne {background:url('/z/webagency/slagence_X_V4/images/pictos/picto_lien_externe.png') no-repeat;width:16px;height:16px;float:left;margin:5px 5px 0 0;}
.Picto_LienVideo {background:url('/z/webagency/slagence_X_V4/images/pictos/picto_lien_video.png') no-repeat;width:16px;height:16px;float:left;margin:5px 5px 0 0;}
.txt_picto {font-size:11px;margin-top:5px;padding-top:5px;}
/* SANS PHOTO */
#SansPhoto {background:url('/z/webagency/slagence_X_V4/images/detail/sans_photo.jpg') 50% 50% no-repeat;height:213px;border:1px solid #ccc;}
/* ERREUR */
.pictoErre {color:#ff0000;margin:5px 0 5px 0;}
/* FIXING NO PHOTO > LOGO */
.noPhotoLogo, .noPhotoLogoSimilaires {width:400px;height:213px;background:#fff;text-align:center;display:table-cell;vertical-align:middle;}
.noPhotoLogoSimilaires {height:130px;}
.noPhotoLogoSimilaires img {height:auto;width:auto;}
/* LOTS */
#zoneLots h4{} /* voir à la ligne 49 avec les autres h4 */
#zoneLots .programmesNeufs{width: 100%;margin: 10px 0;}
#zoneLots .programmesNeufs thead td{font-weight: bold;padding: 3px;}
#zoneLots .programmesNeufs tbody td{border-bottom: solid 1px #666;padding: 3px;}