@font-face {
    font-family: 'OpenSansCondensedLightRegular';
    src: url('$$_$$styles/typocss/opensans-condlight-webfont.eot');
    src: url('$$_$$styles/typocss/opensans-condlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('$$_$$styles/typocss/opensans-condlight-webfont.woff') format('woff'),
         url('$$_$$styles/typocss/opensans-condlight-webfont.ttf') format('truetype'),
         url('$$_$$styles/typocss/opensans-condlight-webfont.svg#OpenSansCondensedLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansCondensedBold';
    src: url('$$_$$styles/typocss/opensans-condbold-webfont.eot');
    src: url('$$_$$styles/typocss/opensans-condbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('$$_$$styles/typocss/opensans-condbold-webfont.woff') format('woff'),
         url('$$_$$styles/typocss/opensans-condbold-webfont.ttf') format('truetype'),
         url('$$_$$styles/typocss/opensans-condbold-webfont.svg#OpenSansCondensedBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body { margin: 0; padding:0; background: #fff; font-size: 12px; }
div,td { font-family: Arial, Helvetica, sans-serif; font-size:12px; color: #f1f1f1; }
img { border:none; display: inline; }
table  { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; }
a { text-decoration: none; color: #0072d0; }
a:hover { color: #f1f1f1; text-decoration: none; }
p { margin:10px 0; }

.clear { clear: both; }
.fleft { float: left; }
.fright { float: right; }

/*========================*/

#wrapper { width: 100%; background: url($$_$$images/bg_wrapper.gif) repeat-x #01060b; }
#wrapper2 { width: 100%; background: url($$_$$images/bg_int.gif) repeat-x #01060b; }
#wrap { width: 100%; background: url($$_$$images/bg_b.jpg) top center no-repeat; }
#main { position: relative; width:962px; text-align: left; margin: 0 auto; }

.flag { position: absolute; top: 138px; right: 35px; }

.logo { padding-left: 10px; }

#bloc-moteur  { float: right; width: 560px; padding-top: 65px; position: relative; }

#menu-fr, #menu-en { background: url($$_$$images/bg_menu.png) no-repeat; height: 44px; }
#menu-fr ul, #menu-en ul { margin: 0; padding: 0; }
#menu-fr li, #menu-en li { float: left; list-style-type: none; height: 44px; background: url($$_$$images/sep_menu.gif) right no-repeat; }
#menu-fr a, #menu-en a  { color: #004e8f; font-family: 'OpenSansCondensedBold'; font-size: 17px; text-transform: uppercase; padding: 0 20px; line-height: 44px;font-weight:normal; }
#menu-en a { padding: 0 26px; }
#menu-fr a:hover, #menu-en a:hover { color: #0072d0; }

.txt-index { text-align: center; padding: 285px 0 5px; }
.txt-index strong { font-family: 'OpenSansCondensedBold'; font-size: 24px; text-transform: uppercase; display: block;font-weight:normal; }
.txt-index font { color: #0072d0; text-transform: uppercase; }

.ttl-news { font-family: 'OpenSansCondensedBold'; font-size: 24px; text-transform: uppercase; color: #fff; }

#bloc-cdc { height: 215px; }

.bloc-alert, .bloc-flux { width: 479px; margin-bottom: 35px; }
.ttl-email { background: url($$_$$images/bg_ttl_mail.gif) repeat-x; height: 30px; line-height: 30px; font-family: 'OpenSansCondensedBold'; font-size: 17px; text-transform: uppercase; color: #fff; text-indent: 10px; }
.bg-mail { background: url($$_$$images/bg_mail.gif) no-repeat; height: 91px; }

.pad-mail { padding-top: 13px; width: auto; }
.main-mail { background: url($$_$$images/pic_env.gif) no-repeat; display: block; padding-left: 86px; font-size: 18px; font-family: 'OpenSansCondensedLightRegular'; color: #000; }
.main-mail a, .main-flux a { font-family: 'OpenSansCondensedBold'; font-size: 15px; text-transform: uppercase; text-decoration: underline; display: block; }

.main-flux { background: url($$_$$images/pic_rss.gif) no-repeat; padding-left: 80px; font-size: 18px; font-family: 'OpenSansCondensedLightRegular'; color: #000; width: 164px; }
.main-mobile { background: url($$_$$images/pic_mobile.gif) no-repeat; width: 195px; font-size: 18px; font-family: 'OpenSansCondensedLightRegular'; color: #000; padding: 10px 0 10px 40px; }
.main-mobile strong { font-weight: normal; display: block; font-size: 12px; font-family: Arial; color: #0072d0; }

.bg-footer { background: url($$_$$images/bg_footer.gif) repeat-x #fff; width: 100%; }
.footer { width: 960px; text-align: center; margin: 0 auto; padding: 30px 0; font-size: 18px; color: #004e8f; font-family: 'OpenSansCondensedLightRegular'; }
.footer strong { text-transform: uppercase; font-weight:normal; }

.main-mail a:hover, .main-flux a:hover, .footer a:hover { color: #002c52; }

#navigue { padding: 15px 0; min-height: 400px; }

.ttl-pages { color: #fff; font-size: 24px; text-transform: uppercase; font-family: 'OpenSansCondensedBold'; margin-bottom: 15px; font-weight:normal; }
#Plan_Ctn li { border-bottom: 1px dotted #fff!important; padding: 5px 0; }

/*======ADD CSS======*/
.page-int { line-height: 18px; }

.liste-equipe { border-bottom: 1px solid #fff; padding-bottom: 10px; margin: 10px auto; }
.foto-equipe { width: 100px; }
.foto-equipe img { border: 1px solid #fff; }
.txt-equipe { text-align: right; }
.txt-equipe strong { font-family: 'OpenSansCondensedBold'; font-weight:normal;
    font-size: 18px;display: block; text-transform:uppercase; }
.txt-equipe a { color: #fff; text-decoration: underline; } 
.txt-equipe a:hover { color: #0072d0; }

.bloc-partner { width: 192px; text-align: center; }

.page-int td { width: 192px; text-align: center; font-size: 18px; font-family: 'OpenSansCondensedLightRegular';}
