// VAR COLORS
$color-body:#000;
$color-content:#fff;
$color-block:#000;
$color-primary:#000;
$color-secondary:#fff;
$color-action:#555555;
$color-important:#2a8bfe;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#fff;

// ICONE COUP DE COEUR
$color-icone-cdc:#FFF;