/*général*/
#HeaderTxt p {color:#000;}
#HeaderTxt h2 {color:#d10024;}
#TopHeader_Ctn{background-color:#d10024;}
body {background: none repeat scroll 0 0 #d10024;}
#FilAriane em {color:#fff;}
#FilAriane span {color:#000;}
/*agence*/
#MapMicrosoft #MapHead *, #MapMicrosoft .geolocInfo {color:#d10024;}
#AgImmoMentions p {color:#b1b2b3;}
/*contact*/
#CguFormulaire {color:#b1b2b3;}
/*recherche, basic*/
.contactAnn .nom {color:#d10024;}
.contactAnn .tel {color:#b1b2b3;}
.liensAnn .selectionOk {color:#d10024;}
#RechPagesHaut .rechLiensPages a.actif, #RechPagesBas .rechLiensPages a.actif, #RechPagesHaut .rechLiensPages a:hover, #RechPagesBas .rechLiensPages a:hover, #RechPagesHaut .rechLiensPages a:hover span, #RechPagesBas .rechLiensPages a:hover span {background-color:#fff; color:#d10024;}
#AlerteEmail h4 {color:#d10024;}
.blocAnnonce {background:none;}
/*detail, sento*/
#Annonce_Ctn td#ColonneGauche {background:none; border:none;}
#Annonce_Ctn td#ColonneDroite {background:#fff; border:1px solid #b1b2b3;}
#InfosAgence p {color:#d10024;}
#AgenceContact h4{color:#d10024; border-bottom:1px dotted #d10024;}
#ChampsObligatoires, #FormContact h4 {color:#b1b2b3; border-bottom:1px dotted #b1b2b3;}
#AgenceMentions h6 {color:#b1b2b3; font-weight:bold;}
#ChampsBouton .inputSubmit {background-color:#d10024; color:#fff;}
#Form_Ctn .inputText, #Form_Ctn .inputTextarea {border:1px solid #d10024;}
#Form_Ctn .erre {color:#b1b2b3;}
.similaire {background-color:#d10024;}
