/* -------- Classes standards --------  */
body
{ 	
	margin-top:27px;
	font-family:Arial, Helvetica, sans-serif;
	background-image:url(../images/PxBody.jpg);
	background-repeat:repeat-x;
	font-size: 11px;
	color:#5C5C5C;
	background-color:#9B9B9B;
}

.h4nobr
{	
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px; 
	font-weight:bold;
	color:#FFFFFF;
}

td
{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#5C5C5C;
}

a
{ 	
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#BD1010;
	text-decoration: none;
}

a:hover
{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#CE4C4C;
	text-decoration:none;
}

.RefMarquee 
	{
		font-family:Arial, Helvetica, sans-serif;
		font-size:11px; 
		color:#FFF;
	}

.RefMarquee a
	{
		font-family:Arial, Helvetica, sans-serif;
		font-size:11px; 
		color:#A89067;
		text-decoration:none;
	}
.RefMarquee a:hover
	{
		font-family:Arial, Helvetica, sans-serif;
		font-size:11px; 
		color:#A89067;
		text-decoration:underline;
	}

.img 
	{
		border:1px solid #000;
	}
/* -------- Index --------  */


.puce
	{
		padding-top:5px;		
	}

.adresse
	{
		padding-top:5px;
		padding-left:5px;
	}
	
.PxDroit 
	{
		background-image:url(../images/PxDroit.jpg);
		background-repeat:repeat-y;
	}
	
.PxGauche
	{
		background-image:url(../images/PxGauche.jpg);
		background-repeat:repeat-y;
	}
.bas
	{
		background-image:url(../images/PxBas.jpg);
		background-repeat:no-repeat;
	}
	
/* -------- Baniere --------  */


.banniere
	{
		background-image:url(../images/banniere.jpg);
		background-repeat:no-repeat;
		background-position:center;
	}

.bienvennu
	{
		background-image:url(../images/PxBien.gif);
		background-repeat:repeat-x;
		background-position:bottom;
		padding-top:9px;
		color:#000;
	}

.vente img
	{
		border:2px solid #5D5D5D;
		margin-top:9px
	}
	
.texte {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#5C5C5C;
	padding-bottom:20px;
	padding-left:25px;
}	

	
.texte span
	{
		color:#f70100;
	}

.texte a
	{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#5C5C5C;
	font-weight:bold;
	text-decoration:underline;
	}

.texte a:hover
	{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#f70100;
	}

/* -----------  Menu  ------------*/

.PxMenu 
	{
		background-image:url(../images/PxMenu.jpg);
		background-repeat:repeat-x;
	}

.PxMenu a 
	{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10px;
		color:#ccc;
		font-weight:bold;
		padding:0 5px 0 5px;
		border-right:1px solid #fff;		
	}
	
.PxMenu a:hover
	{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10px;
		color:#F80000;
		font-weight:bold;
		background-position:7px 0px;
		padding:0 5px 0 5px;
		border-right:1px solid #fff;	
	}
	
.PxMenuDroit
	{
		background-image:url(../images/PxMenuDroit.jpg);
		background-repeat:repeat-x;
		padding-left:12px;
	}
	
.coeur a
	{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		color:#fff;
		padding-left:9px;	
		padding-right:25px;	
		background-image:url(../images/puceMenuGauche.gif);
		background-repeat:no-repeat;
		background-position:122px 4px;
	}

.coeur a:hover
	{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		color:#fff;
		padding-left:9px;	
		padding-right:25px;	
		background-image:url(../images/puceMenuHover.gif);
		background-repeat:no-repeat;
		background-position:122px 4px;
	}
	
.appart a
	{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		color:#fff;
		padding-left:9px;	
		padding-right:25px;	
		background-image:url(../images/puceMenuGauche.gif);
		background-repeat:no-repeat;
		background-position:108px 4px;
	}

.appart a:hover
	{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		color:#fff;
		padding-left:9px;	
		padding-right:25px;	
		background-image:url(../images/puceMenuHover.gif);
		background-repeat:no-repeat;
		background-position:108px 4px;
	}	
	
.maison a
	{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		color:#fff;
		padding-left:9px;	
		padding-right:25px;	
		background-image:url(../images/puceMenuGauche.gif);
		background-repeat:no-repeat;
		background-position:75px 4px;
	}

.maison a:hover
	{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		color:#fff;
		padding-left:9px;	
		padding-right:25px;	
		background-image:url(../images/puceMenuHover.gif);
		background-repeat:no-repeat;
		background-position:65px 4px;
	}

.divers a
	{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		color:#fff;
		padding-left:9px;	
		padding-right:25px;	
		background-image:url(../images/puceMenuGauche.gif);
		background-repeat:no-repeat;
		background-position:65px 4px;
	}

.divers a:hover
	{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		color:#fff;
		padding-left:9px;	
		padding-right:25px;	
		background-image:url(../images/puceMenuHover.gif);
		background-repeat:no-repeat;
		background-position:65px 4px;
	}
	
.estimation a
	{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		color:#fff;
		padding-left:9px;	
		padding-right:25px;	
		background-image:url(../images/puceMenuGauche.gif);
		background-repeat:no-repeat;
		background-position:95px 4px;
	}

.estimation a:hover
	{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		color:#fff;
		padding-left:9px;	
		padding-right:25px;	
		background-image:url(../images/puceMenuHover.gif);
		background-repeat:no-repeat;
		background-position:95px 4px;
	}
	
.situer a
	{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		text-transform:uppercase;
		color:#fff;
		padding-left:9px;	
		padding-right:25px;	
		background-image:url(../images/puceMenuGauche.gif);
		background-repeat:no-repeat;
		background-position:95px 4px;
	}

.situer a:hover
	{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		color:#fff;
			text-transform:uppercase;
		padding-left:9px;	
		padding-right:25px;	
		background-image:url(../images/puceMenuHover.gif);
		background-repeat:no-repeat;
		background-position:95px 4px;
	}
.tiret 
	{
		background-image:url(../images/tiret.gif);
		background-position:center;
		background-repeat:repeat-x;
	}
.fond 
	{
		background-image:url(../images/fond.gif);
		background-repeat:no-repeat;
		background-position:bottom;
	}

/* ------- Page Plan ------- */
	
.plan a
	{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		color:#F80000;
		padding-left:21px;
		background-image:url(../images/puce.gif);
		background-repeat:no-repeat;
		background-position:7px 4px;
		padding-top:1px;
		padding-bottom:2px;
	}	
	
.plan a:hover
	{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		color:#4C5457;
		padding-left:21px;
		background-image:url(../images/puce.gif);
		background-repeat:no-repeat;
		background-position:7px 4px;
		padding-top:1px;
		padding-bottom:2px;
	}	


/* ------- classes petit moteur ------- */


.biens 
{
	font-size:10px;
	color:#000000;
	border:1px solid #446E9E;
	height:21px;
	width:169px;
	background-color:#fff;
}

.piece
{
	font-size:10px;
	color:#000000;
	border:1px solid #446E9E;
	height:21px;
	width:71px;
	background-color:#fff;
}

.zonetexte
{
	font-size:10px;
	color:#000000;
	border:1px solid #446E9E;
	height:21px;
	width:46px;
	background-color:#fff;
}


/* -------- Seloger --------  */	

	
#seloger 
{
	color:#fff;
	font-size:10px;
	padding-right:7px;
}
	
#seloger a
{ 
	font-size:10px;
	color:#FD3232;
	font-weight:bold;
	text-decoration:underline;
}
	
#seloger a:hover
{ 
	font-size:10px;
	color:#FD3232;
	font-weight:bold;
	text-decoration:underline;
}	


/* -------- Annonces villes --------  */
#villes{
	font-size: 11px;
	color:#ffffff;
	}

	
#villes td {
	font-size: 11px;
	color:#ffffff;
	}

#villes a {
	font-size: 11px;
	color:#ffffff;
	text-decoration:underline;
	}

#villes a:hover {
	font-size: 11px;
	color:#000099;
	text-decoration: none;
	}	

/* ------- TABLEAUX -------- */


.tabFond1{border-color:#4C4C4C; border-width:0; border-style:solid; padding:2px; color:#ffffff;}
.tabFond2{border-color:#4C4C4C; border-width:1px; border-style:solid; padding:2px; font-size:12px; color:#ffffff;}
.tabTitre{background-color:#A0A0A0; color: #ffffff; font-size: 11px; font-weight: bold;}
.tabCouleur{background-color:#9FC095; border-color:#9FC095; border-width:1px; border-style:solid; padding:2px; color: #ffffff ;}


/* ------- CLASSES MISE EN PAGE GUIDE PRATIQUE ------- */
.txtTitre3
{
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color:#5C5C5C;
}

.gras
{
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color:#000;
}

.encadre
{
	background-color: #E5E5E5;
	border-color: #000;
	border-width:2px;
	border-style:solid;
	padding:2px;
	color:#000;
}	
/* map/geoloc_moteur_dyn01.htm */

table#geoloc_moteur_dyn01{}

table#geoloc_moteur_dyn01 td{}

table#geoloc_moteur_dyn01 td.col1{}

table#geoloc_moteur_dyn01 td.col2{}

table#geoloc_moteur_dyn01 td.idtt_ctn,

table#geoloc_moteur_dyn01 td.idtypebien_ctn,

table#geoloc_moteur_dyn01 td.villes_ctn{}

table#geoloc_moteur_dyn01 td.bt_ctn input{}

/* listes deroulantes */

table#geoloc_moteur_dyn01 select.idtt,

table#geoloc_moteur_dyn01 select.typeBien,

table#geoloc_moteur_dyn01 select.villesAnn{}

 

/* map/geoloc_moteur_dyn02.htm */

#geoloc_moteur_dyn02{}

#geoloc_moteur_dyn02 *{}

#geoloc_moteur_dyn02 p{}

#geoloc_moteur_dyn02 p.idtt_ctn{}

#geoloc_moteur_dyn02 p.idtypebien_ctn{}

#geoloc_moteur_dyn02 p.villes_ctn{}

#geoloc_moteur_dyn02 p.bt_ctn{}

/* listes deroulantes */

#geoloc_moteur_dyn02 select.idtt{}

#geoloc_moteur_dyn02 select.typeBien{}

#geoloc_moteur_dyn02 select.villesAnn{}


.toto{
background-image:url(../images/apercarte.jpg);
background-repeat:no-repeat;
height:231px;
margin-left:0px;
padding-top: 20px;
padding-bottom:20px;
}

.yoyo{
padding-top:130px;

}

#Dpe{width: 100%; margin: 20px 0 0 0;} 
/* affichage diagramme consommation energetiques */ 
#Dpe td#ConsoEnergie{padding: 0 10px 0 0; width: 48%;} 
#Dpe #DiagConso{background: url(../img/diag-conso.png) 15px 13px no-repeat #fff;} 
/* affichage diagramme émissions de gaz à effet de serre */ 
#Dpe td#EmissionGES{padding: 0 0 0 10px; width: 48%;} 
#Dpe #DiagGES{background: url(../img/diag-ges.png) 15px 13px no-repeat #fff;} 
/* styles communs aux 2 diagrammes */ 
#Dpe h6{background: $$LIGHT_LIGNE_POINTILLES_BAS$$; padding: 0 0 5px 0; margin: 0 0 10px 0;} 
#Dpe .diagramme{position: relative; background: $$LIGHT_BG_BLANC$$; border: $$LIGHT_BORDER_CLAIR$$;} 
/* conteneur lettre bilan Conso */ 
#Dpe .diagramme strong{position: absolute; color:#fff; font-size: 16px; left: 200px; padding: 1px 0 0 0; width:45px; height:20px; text-align: center; background: url(../img/diag-fleche.gif) 0 0 no-repeat;} 
/* positionnement lettre bilan Conso */ 
#Dpe .diagramme strong.diagA{top:25px} 
#Dpe .diagramme strong.diagB{top:48px} 
#Dpe .diagramme strong.diagC{top:70px} 
#Dpe .diagramme strong.diagD{top:94px} 
#Dpe .diagramme strong.diagE{top:117px} 
#Dpe .diagramme strong.diagF{top:140px} 
#Dpe .diagramme strong.diagG{top:163px} 
/* textes bas diagramme */ 
#Dpe .diagramme .bilanConso{background: $$LIGHT_LIGNE_POINTILLES_HAUT$$; margin: 205px 15px 15px 15px; padding: 7px 0 0 0;} 
#Dpe .diagramme .bilanConso .conso{font-weight: bold; font-size: 16px; color: #000;} 
#Dpe .diagramme .bilanConso .notes{font-size:9px; text-align: justify;}
