// VAR COLORS
$color-body      : #424242;
$color-content   : #fff;
$color-block     : #595959;
$color-primary   : #fff;
$color-secondary : #000000;
$color-action    : #E8D26C;
$color-important : #6e6e6e;
$color-nav-footer: #fff;

// COLOR PUB
$color-pub       : "white";

// COLOR FONT BODY DEFAULT
$color-font-body : #fff;

