// VARIABLES COLORS
$color-body:#6e7580;
$color-content:#89744d;
$color-block:#444A54;
$color-primary:#B92283;
$color-secondary:#444A54;
$color-action:#febb00;
$color-important:#B92283;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"white-opacity";

// COLOR FONT BODY DEFAULT
$color-font-body:#fff;