$$REM$$
====================================================================

//// <summary>Fichier css par défaut pour : agence-immobiliere.htm</summary>
//// <remarks>
//// <para>Fichier appelé par : /slagence_X_V2/agence-immobiliere.htm</para>
//// </remarks>
//// <update date="2008-05-30" author="lisbonne.siriphol">Update et corrections</update>
//// <update date="2008-01-14" author="lisbonne.siriphol">Création v1</update>

====================================================================
$$END$$

/* carte_visite.htm */
#CV{margin: 0; padding: 0; border: none;}
#CV *{margin: 0; padding: 0; border: none; color:#000;}
#CV .clear{clear:both;}
#CV .linkOut{text-align: right; margin: 0.5em 0;}
#CV .linkOut a{background: url($$_$$img/picto_fleche_01.gif) left no-repeat; padding: 0 0 0 15px; color:#ED1C24;}
/**/
#CV h1{position: relative; font-size: 1.8em; color:#000; background:#C4C4C4; padding: 0.3em 0.8em;}
* html #CV #Agence{height:300px;}
#CV #Agence{padding: 1em; background:none; min-height:300px;}
#CV #Agence #Img_Ctn{position: relative; float: left; background: url($$-$$images/sans_photo_01.jpg) no-repeat #bbc8d9;}
#CV #Agence #Img_Ctn #Vitrine{width: 220px; height: 130px; border: 5px solid #C4C4C4; background: url($$_$$images/agences/$$FORM:IDP$$.jpg) no-repeat;}
#CV #Agence #Coordonnees{position: relative; float: left; padding: 0 1em;}
#CV #Agence #Coordonnees *{color:#000;}
#CV #Agence #Coordonnees h2{font-size: 1.5em; color:#ED1C24;}
#CV #Agence #Coordonnees p{padding:3px 0 0 0; color:#000;}
#CV #Agence #Coordonnees p strong{font-weight: normal; color:#000;}
#CV #Agence #Coordonnees p span{font-weight: bold; color:#C4C4C4;}
#CV #Agence #Coordonnees p.cv_adresse,
#CV #Agence #Coordonnees p.cv_adresse strong { color:#000; font-weight:bold;}
#CV #Agence #Coordonnees p .cv_respag,
#CV #Agence #Coordonnees p .cv_tel{ color:#000;}

#CV #Agence #Coordonnees p {color:#000;padding:3px 0 0;}
#CV #Agence #Coordonnees p strong {color:#000;font-weight:normal;}

/* texte public SAISS */
#CV #Agence #TxtPublic{color:#000; text-align: justify; padding:10px 5px;}


/* Portefeuille agence : incl_portefeuille01.htm */
#Portefeuille01{ position: relative; border:none;}
#Portefeuille01 h3, #Annonces01 h3{ display:block; font-weight:normal; font-size:16px; font-weight:bold; background:#C4C4C4; color:#000; padding:5px!important;text-transform:uppercase; border:none;}
#Portefeuille01 a{padding: 5px 0; font-weight: bold; line-height: 1.6em; background: none;}
#Portefeuille01 a.typeTransac{font-size: 1.2em; color:#4E4E4E; text-decoration:none;}
#Portefeuille01 a.typeBien{font-size: 0.9em; margin: 0 0 0 30px; color:#000; text-decoration:underline; font-weight:normal;}
#Portefeuille01 a.typeBien:hover{text-decoration:none; color:#000;}
#Portefeuille01 .nbAnn{Color:#000;}
#Portefeuille01 .nbAnn:hover{ color:#000;}		

#CvFoot p#Links *{color:#000;}
#CvFoot p#Links *:hover{color:#4E4E4E;}

#CvFoot p#Links{ background:#C4C4C4; height:22px; color:#000;}
#CvFoot p#Links a{ border-right:1px solid #000; color:#000; font-weight:bold; padding:3px 5px; background:#C4C4C4; text-decoration:none; float:left;}
#CvFoot p#Links a:hover{ color:#4E4E4E!important; background:#fff; text-decoration:none;}
#CvFoot p#Links a.estimation,
#CvFoot p#Links a.contact,{ color:#000;}

.linkOut{ margin-bottom:10px;}
.linkOut a{ float:none;}


/* annonces dans carte visite agence = QUAND PRESTATION DE REFERENCEMENT ! */
#Annonces01 .ann_transac{color:#4E4E4E;}
#Annonces01 .ann_descr span{color:#4E4E4E;}
#Annonces01 .ann_descr a{color:#4E4E4E;}
#Annonces01 .ann_ctn a.ann_pht:hover em span{color:#CC9966;}

#MentionCV{color:#000; text-align:justify; font-size:10px; padding:10px 0; float:none;}

/* Notre agence */
#NotreAgence{ color:#000;}
#NotreAgence a{ color:#CC9966; font-weight:bold; text-decoration:underline;}
#NotreAgence a:hover{ text-decoration:none;}
#NotreAgence a.pdf{ background:url($$_$$images/puce_2.gif) left no-repeat; padding-left:10px;}
#NotreAgence p{ padding::10px 5px; line-height:15px;}
#NotreAgence h4{ background:#CC9966; padding:3px 5px; font-size:12px; text-transform:uppercase; color:#000; margin:10px 0 6px 0;}
#NotreAgence ul{ padding:10px;}
#NotreAgence ul li{ list-style:none; background:url($$_$$images/puce_2.gif) left no-repeat; padding-left:10px; margin:2px 0;}

#presentation p{ padding:5px;}
#equipe{ overflow:hidden;}
#equipe img{ width:280px; height:202px; display:block; float:left; margin-right:10px; border:5px solid #35352B;}
#equipe p {float:left;font-size:11px;font-weight:bold;letter-spacing:1px;line-height:14px;padding-top:60px;text-transform:none;}
#infos p{ padding:5px; line-height:15px;}
#Acces img{ display:block; width:960px; margin-bottom:10px;}
#liens table{margin:10px auto;}
#liens table tr{ margin:1px 0; background:#E0F0FF;}
#liens table tr td{ padding:5px}
#liens table tr td a{ text-align:center;}


#Presentation{ margin-bottom:10px;}
#Presentation h4{ background:#4E4E4E; display:block; padding:3px 5px; color:#000; text-transform:uppercase; font-size:16px; margin:0 0 5px 0;}
#Presentation p{ text-align:justify; font-size:12px;}

#Credit{ background:#4E4E4E; border:1px solid #000; padding:10px;}
#Credit p{ float:left; width:auto; color:#000; font-weight:bold; text-align:justify;}
#Credit p a{ text-decoration:underline; font-size:12px; color:#000;}
#Credit p a:hover{ text-decoration:none; color:#000;}
#Credit img{ float:right; display:block; width:123px; height:53px; border:1px solid #000;}