/* Redefinitions des balises HTML */ 
*{margin:0;padding:0;font-size:12px;font-family:Arial, Helvetica, sans-serif;color:#000;}
img{border:0}
.clear{clear:both;}
a{text-decoration:underline; outline:none; color:#ED1C24;}
a:hover{color:#F2555B; text-decoration:none;}
hr{display:none;}
p{ color:#000;}

option{ color:#000; background:#fff; padding-left:4px;}
table{margin:0 auto;}
input{ color:#000;/* padding:0 0 0 4px;*/}
optgroup{padding:0 0 0 4px;}
* html input.alerte{background:#fffFFF;}
.imputForm { margin:5px 2px; padding-left:2px; padding-left:2px; border:1px solid #767676;}
* html .imputForm { margin:5px 3px;padding-left:2px; border:1px solid #767676;}
.imputForm option{ color:#000; padding-left:4px;}

#RechHaut form#Tri select option {color:#000; padding:0 0 0 4px;}
#RechHaut form#Tri select optgroup{ color:#000; padding:0 0 0 4px;}
#RechercheContainer #AlerteEmail #AlerteForm input.alerteBt {cursor:pointer;}
#RechPagesHaut .rechLiensPages a span, #RechPagesBas .rechLiensPages a span {color:#C4C4C4;display:block;}

/* --------Modification AR PLAN SITE-------- */    
body{background:#F3F3F3
; color:#000;}

/* Effet bordure (espace 5px) entre BG menu et bande BG site */ 
#header{ position:relative; width:983px; border-left:4px solid #F3F3F3
; border-right:4px solid #F3F3F3
; margin:0 auto;  background:#F3F3F3
; overflow:hidden;}

#global{position:relative; width:993px; margin:0 auto; color:#2C4A93;}

   
/* --------LOGO AGENCE-------- */
#LogoAgence { float:left; display:inline; width:368px; padding:0 0 4px 0; margin:15px 0 0 20px;}
#LogoAgence img{ display:block;/* margin:0 auto*/ margin:0 0 0 99px;/* border:1px solid #333333;*/}
/* --------bandeau-------- */




/* --------DRAPEAUX LANGUES FRANCAIS ET ANGLAIS-------- */ 		
/* Mettre en DISPLAY:NONE si pas d'option Anglais */ 

#Drapeaux { display:block; position:absolute; bottom:0px; left:0px; z-index:1;}
#Drapeaux img {margin-right:0px; border:1px solid #000;}
#Drapeaux img:hover {border:1px solid #4E4E4E;}


/* --------TEXTE ACCUEIL--------*/ 
* html #textAccueil{ display:block; text-align:center; width:570px; padding:0 0 0 0px; right:9px; float:left;}
#textAccueil { position:relative; float:left; width:585px; padding:0 0 0 9px; display:block; right:9px;}

/* Modification TITRE texte d'accueil */ 
#textAccueil h1{ font-size:19px; font-weight:bold; text-transform:capitalize; text-align:center;color:#C4C4C4; padding:6px 0 7px 0; letter-spacing:normal; text-align:left;}
#textAccueil h1 span{ font-size:15px; font-weight:bold; text-transform:none; color:#4E4E4E; padding:0 0 4px 0; letter-spacing:normal;}
#textAccueil h4{ color:#FCF9CF; font-weight:bold; font-size:14px; padding:0;}
/* Modification CORPS texte d'accueil */ 
* html #textAccueil p {padding:10px 0 10px 2px;  color:#000; width:547px;}
#textAccueil p{/* min-height:50px;*/ text-align:justify; font-size:11px; color:#000; display:block; padding:2px 0 5px 2px;text-align:left; font-weight:normal; line-height:17px;}
#textAccueil p strong{ color:#000; }
#textAccueil p span{ font-size:12px; text-transform:uppercase; margin:5px 0; color:#000;}
#textAccueil a{ text-decoration:underline; color:#000;}
#textAccueil a:hover{ text-decoration:none; color:#000;}

/* LOGOS: FNAIM & SIA */
#Partners{ display:none; position:absolute; top:0px; right:0px; width:62px; float:left; text-align:center;}
#Partners span img{text-align:center; padding:2px 0;}

/* --------MARQUEE DEFILANTE-------- */
/* Modification COULEUR  MARQUEE */ 	
* html #RefMarqueNavig{width:510px;background:#4E4E4E; margin-bottom:1px; display:none;}
* html #RefMarque{width:510px; float:right; margin:0 5px 0 0;}
* html #RefMarque marquee{width:550px;}
#RefMarqueNavig{ display:none; width:515px; float:right; color:#000; font-size:12px;background:#4E4E4E; margin-bottom:1px; padding:8px 25px; font-weight:bold; text-align:center;}

#RefMarque{ width:566px; height:31px; float:left; display:inline;color:#000; font-size:10px;background-color:#4E4E4E;margin:0 -1px 0 0; padding:0 4px 0 0;}
#RefMarque marquee{width:556px;margin:0; color:#000; padding:8px 5px 8px 5px; font-size:11px;}
#RefMarque marquee a {color:#FDDF86; text-decoration:underline; font-size:11px;}
#RefMarque marquee a strong {color:#FDDF86; font-weight:normal;}
#RefMarque marquee a:hover {color:#FDDF86; text-decoration:none;}

/* ----- Moteur -----*/
h2.TitrePage{ color:#ED1C24; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}

/* --------MENU + FLUX RSS-------- */
/* Modification COULEUR + TAILLE fond MENU */
#remplissageMenu{ width:100%; background:none; min-height:44px;}		
* html #menuFlux{width:983px; background:#C4C4C4; height:44px;  border-left:4px solid #C4C4C4;  border-right:4px solid #C4C4C4; margin:0 auto;}
#menuFlux{width:983px; background:#C4C4C4; height:44px; border-left:4px solid #C4C4C4;  border-right:4px solid #C4C4C4; margin:0 auto;}
#menu {float:right; display:inline; padding:14px 16px 11px 0;}
#menu ul{ display:inline; margin:0 0 0 5px;}
#menu li{ display:inline;color:#808080; font-size:15px; padding:0 4px;}
#menu ul li.MenuSep{ color:#000;}
/* Modification COULEUR TEXTE MENU */ 
	
#menu a{ font-weight:bold;color:#000; text-decoration:none;font-size:12px; padding:2px; text-transform:uppercase;}
#menu a:hover{color:#404040
; background:none;}		
/* Modification FLUX RSS */ 		
#fluxRss{float:left; display:inline; padding:15px 25px 0px 10px; }
#fluxRss a{ font-size:11px; text-decoration:none; color:#000000; margin:0 0 0 4px}
#fluxRss a:hover{ font-size:11px; text-decoration:underline;color:#999999;}
#fluxRss img{float:left; display:inline; vertical-align:middle; }


/* --------CONTENU SITE = ZONE DU MILIEU-------- */
/* Modification COULEUR ARRIERE PLAN CONTENU SITE */ 	
* html #milieu{width:975px; height:400px;background:#F3F3F3
;  margin:0 auto;padding:14px 4px 3px 4px;}
#milieu{width:983px; padding:22px 0 11px 0; min-height:450px;background:#F3F3F3
; border-left:4px solid #F3F3F3
;  border-right:4px solid #F3F3F3
; margin:0 auto;}
/* Positionnement bandeau image 
*/ 

#visuel{ height:238px;float:left; display:inline; width:654px;  padding:0;}		
/* Modification COULEUR BORDURE IMAGE */ 		
#visuel img{border:7px solid #ED1C24; float:left;}
 

/*--------POSITIONNEMENT MINI MOTEUR-------- */ 
.miniMoteur{float:right;display:inline;width:220px;padding:0 0 0 42px;position:relative;}		
/* Modification TITRE RECHERCHE */ 		
.miniMoteur h2{font-size:18px; font-weight:bold; color:#C4C4C4; padding:0px 0 0 0; text-transform:uppercase;}
/* A NOTER !!!! Pour styliser les champs + bouton mini moteur VOIR == MINI_MOTEUR.CSS */ 


/* ----------- 3 COUPS DE COEUR ------------- */ 
 #blocBas {height:250px; margin:20px 0 20px 0;}
* html #blocBas {height:250px; margin:15px 0 7px 0;}
* html #blocBas #coupCoeur{float:left;display:inline;width:715px;margin:0 40px 5px 0;}
#blocBas #coupCoeur{float:left;display:inline;width:715px;margin:0 50px 5px 0;}

/* ----------- LISTE TRANSACTIONS AGENCE ------------- */ 
#blocBas .nbrTransaction{float:left;width:200px; height:260px; margin:3px 0 0 0; overflow:auto;}
/* Modification COULEUR "AUJOURD'HUI" */
#blocBas .nbrTransaction h3{font-size:13px;font-weight:bold;padding:1px 0;color:#C4C4C4;}
/* Modification COULEUR TYPE TRANSACTION */
#blocBas .nbrTransaction h4 {width:167px;font-weight:bold;font-size:13px;color:#4E4E4E;padding:10px 0 0 0; text-decoration:none;}
#blocBas .nbrTransaction h4 a{font-weight:bold; font-size:12px;color:#4E4E4E; text-decoration:none;}
#blocBas .nbrTransaction ul{list-style-type:none;margin:0 0 10px 3px; line-height:16px;}
/* Modification COULEUR TYPE DE BIEN */
#blocBas .nbrTransaction ul *{font-size:11px;color:#000;}
#blocBas .nbrTransaction ul * a:hover{ text-decoration:none;color:#000;}


/* -----------INCLUDE BAS------------- */ 

/* Modification COULEUR BANDE COORDONNEES */ 
.CoordonneesAgence {font-size:12px; background:#C4C4C4; height:27px; text-align:center; padding-top:13px; color:#000; font-weight:bold;}	
/* Modification BG footer portefeuille + menu secondaire */
.footerPosition{background:#F3F3F3
; width:983px; border-left:4px solid #F3F3F3
;  border-right:4px solid #F3F3F3
; padding-bottom:15px; padding-top:5px; margin:auto;}
.porteFeuille{float:left;width:610px;padding-left:18px; padding-top:0;}
.porteFeuilleEN{float:left;display:block;padding-left:0px;}
/* ARRIERE PLAN FOOTER */
#footer{ background:none; margin:0 auto; padding:0 0 0 0px;}
		
		
/* Modification couleur 2 TITRES FOOTER */ 
 #footer h4{font-size:12px;font-weight:bold;background:url(../images/puce.gif) left center no-repeat;padding:2px 0 1px 25px;margin:17px 0 0 0;line-height:19px;}
/* titre gauche : Notre portefeuille immobilier */
 #footer .porteFeuille h4{font-size:11px; color:#000; margin-left:4px;}
/* titre droite : www.urldusite.com */
 #footer .menuSecondaire h4{font-size:11px; color:#000; margin-left:4px;}
 #footer .menuSecondaire a{font-size:11px;color:#000;text-decoration:none;}
 #footer .menuSecondaire a:hover{font-size:11px;color:#000000;text-decoration:underline;}
		
/* Modification couleur LISTE DES VILLES */ 
.porteFeuille .ListeVilles{width:520px;text-align:justify;line-height:13px;border:0;color:#354489; padding:4px 0 0 5px;}
.porteFeuille .ListeVilles *{color:#000; font-size:11px;font-weight:normal;}
.porteFeuille .ListeVilles a{font-size:11px;color:#000;text-decoration:none;}
.porteFeuille .ListeVilles a:hover{font-size:11px;color:#354489;text-decoration:underline;}
.porteFeuille .ListeVilles a strong:hover{color:#000000;}

/* Modification couleur MENU SECONDAIRE FOOTER (droite) */
/* FR */
.menuSecondaire{float:left;width:335px;font-size:11px;color:#35352B; padding-top:0;}
.menuSecondaire p{padding:3px 0 0 5px; color:#000; text-align:justify;}
.menuSecondaire p a{font-size:11px;color:#000;text-decoration:none;}
.menuSecondaire p a:hover{font-size:11px;color:#000000;text-decoration:underline;}
.menuSecondaire span.sepSep{ color:#000;}

/* EN */
.menuSecondaireEN{float:left; font-size:11px;color:#000; width:100%;}
#footer .menuSecondaireEN h4{font-size:12px; color:#000; font-weight:bold;}
.menuSecondaireEN p{color:#000; text-align:justify; font-size:11px; padding:10px;}
.menuSecondaireEN p a{font-size:12px;color:#000;text-decoration:none;}
.menuSecondaireEN p a:hover{font-size:12px;color:#404040;text-decoration:underline;}
.menuSecondaireEN span.sepSep{ color:#000;}




/* ----------------------------------------AUTRES PAGES DU SITE---------------------------------------- */

/* Page En Construction */
#EnConstruction{margin-top:70px; text-align:center;}


/* PAGE PLAN DU SITE = incl_plan-site.htm */  
.ul#Plan *{text-decoration: none; font-weight: bold;}
ul#Plan{padding:10px 0 60px 0; width:400px; margin:0 auto;}
ul#Plan li.plan { color:#ED1C24; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase; border-bottom:none;}
ul#Plan li.voirTout a{color:#000;}
ul#Plan li.plan planMenu,
ul#Plan li.plan planLocs,
ul#Plan li.plan planVentes{ border-bottom:none; color:#000; text-align:center; text-transform:uppercase;}
ul#Plan li.MenuSep{display:none;}
ul#Plan li a span.nbAnn{ color:#000; text-transform:lowercase; font-weight:bold;}
ul#Plan li{padding: 0.2em 0; border:none;}
ul#Plan .plan{padding: 0.2em 0;background:none;}
ul#Plan li a{color:#000; background:#C4C4C4;padding:6px 0 0 10px;height:19px;font-size: 12px; border: 1px solid #000; text-transform:uppercase;}
ul#Plan li a:hover{color:#000;padding-left:10px; height:19px;font-size: 12px; background:#fff; border: 1px solid #4E4E4E;}

/* Outils */
.ul#Outils *{text-decoration: none; font-weight: bold;}
ul#Outils{padding: 2em 8em; width:400px; margin:0 auto;}
ul#Outils li.list{padding: 0.2em 0px;background:none; margin:2px 0; border:none;}
ul#Outils li a{color:#000; background:#C4C4C4;padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #000; text-transform:uppercase;}
ul#Outils li a:hover{color:#000; border: 1px solid #000;padding-left:10px; height:19px;font-size: 12px; background:#fff}
#Outils li.titrePageOutils{ color:#ED1C24; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}


/*PAGES ESTIMATION + CONTACT + MESSAGE == TABLEAUX FORMULAIRES*/
.tabFond1{border-color:#00AA00; border-width:0; border-style:solid; padding:2px; font-family:Arial, Helvetica, sans-serif; width:100%;}
 textarea {width:600px; height: 100px;}
.tabFond2{border-color:#00AA00; border-width:1px; border-style:solid; padding:2px; font-size:14px; font-family:Arial, Helvetica, sans-serif;}
.tabTitre{ width:100%; background:#C4C4C4; color:#000; font-size:14px; font-weight: bold; font-family:Arial, Helvetica, sans-serif;height:25px;padding:3px; text-align:center; text-transform:uppercase;}
.tabTitre *{color:#000; font-size: 14px;}
.tabPrint{color:#5C5E5D; font-size: 13px; font-family:Arial, Helvetica, sans-serif; border:1px solid #00AA00;}
.tabFond1 td input{margin:3px 2px; border:1px solid #767676;}
.tabFond1 td textarea{border:1px solid #767676;}
.tabFond1 table{ width:100%;}
strong.messageNomAgence,
strong.estimationNomAgence{ color:#ED1C24; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase; display:block; padding:0 0 20px 0;}
.titreInfosLegales{color:#C4C4C4; font-size:18px; font-weight:bold;}
/*Résolution Bug IE8 = donner une taille aux bouton pour éviter tout décallage*/
.boutonEnvoi { width:120px; height:26px; float:right;}
.BoutonFormContact { width:120px; height:26px; float:right; border:none;}
.MoteurBouton input { width:120px; height:26px; float:right;}
td #ChampsBouton input {/*float:right*/; width:120px; height:26px;}
.tabFond1 input.BoutonFormRecherche { float:right; width:120px; height:26px; border:none;}		
#MiniBoutonInput{ width:185px; height:27px; border:none;}

/* GUIDE PRATIQUE = ACCES VIA LE LIEN DANS LA PAGE OUTILS*/
span.txtTitre3{ display:block; width:870px; color:#000; background:#354489; font-size:16px; font-weight:bold; padding:3px 5px; margin:10px 3px 3px 0;}
/* td.encadre span.gras{ display:block; width:882px; color:#000; background:#354489; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;} */
td.encadre{background-color:#000; border:2px solid #AAA; padding:3px; color:#354489; margin:0 0 0 -4px;}
.encadre .grasnews{ display:block; width:882px; color:#000; background:#354489; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;}
.encadre p .gras{ color:#000; background:#354489; display:block; font-weight:bold; text-transform:uppercase; padding:2px 3px;}
.encadre p{ color:#354489;}

/* coup de coeur*/
* html .div-cdc{ height:264px;}
.div-cdc{width:230px; min-height:260px; background:#F3F3F3; float:left; margin:0 4px 0 0; border:2px solid #ED1C24;}
.div-cdc *{ color:#737373; background:#F3F3F3;}

.div-cdc .photo-cdc img{width:220px;height:139px;background:url(../images/bg_Img_Cdc.gif);padding:5px 2px 3px 5px;}
.div-cdc a span.ville-cdc{font-weight:bold;display:block; color:#ED1C24; font-size:14px;}
.div-cdc .typetransaction-cdc{color:#747474; font-weight:bold; font-size:14px; text-transform:capitalize;}
.div-cdc .typebien-cdc{color:#354489; font-weight:bold; font-size:14px; text-decoration:none;}
.div-cdc .nbpiece-cdc, .surface-cdc{font-weight:bold; color:#000; font-size:14px;}
.div-cdc .contenu-cdc{padding:0 6px 4px 6px;}
.div-cdc .contenu-cdc *{color:#ED1C24; text-decoration:none;}
.div-cdc .contenu-cdc a{}
.div-cdc .contenu-cdc a:hover{color:#767676; text-decoration:none;}
.div-cdc .contenu-cdc a span{}
.div-cdc .descriptif-cdc{min-height:30px; font-size:11px; color:#767676; text-align:justify; text-transform:lowercase; text-decoration:none;}
* html .divc2c .descriptif-cdc{height:30px;}
.div-cdc p.prix-cdc{font-weight:bold;display:block; color:#000000; font-size:14px; text-decoration:none;}
 
 
/* Mentions Legales */
#MentionsLegales *{ color:#000;}
#MentionsLegales h2 {display: block; width: 99%; background:#C4C4C4; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color:#000;font-weight: bold;letter-spacing: 0;padding:3px 0 3px 8px;margin: 10px 0;text-align: left;text-transform: none;}

/*page PARTENAIRES*/
#contentPartenatres{width:380px; float:left;}
#contentPartenatres .txtPatten{float:left; font-size:14px; color:#4E4E4E;margin:60px 0 0 0; display:inline;}
#contentPartenatres .txtPatten a{color:#000;}
#contentPartenatres .txtLogic{float:left; font-size:14px; color:#4E4E4E;margin:60px 0 0 0; display:inline;}
#contentPartenatres .txtCafpi{float:left; font-size:14px; color:#4E4E4E;margin:60px 0 0 0; display:inline;}
/*#contentPartenatres .observatoire{ float:right;}

#contentPartenatres .txtLogic{float:left; font-size:14px; color:#4E4E4E;margin:60px 0 0 0; display:inline;}

#contentPartenatres .logic{ float:right;}*/
