/* 20071010 by Lisbonne WebAgency SeLoger.com */
/* print_annonce.htm mutualise */

/*========= classes generales =========*/
*{font: 12px/normal arial,verdana,helvetica,serif; color: #000; margin:0; padding: 0; border: none;}
body{text-align: center; padding: 20px;background:#F3F3F3;}
h1{color:#000; font-weight: bold;}
h2,h3,h4,h5,h6{color:#C4C4C4; font-weight: bold;}
h1{font-size: 20px;}
h2{font-size: 18px;}
h3{font-size: 14px;}
h5{font-size: 11px;}
h6{font-size: 11px; border-bottom: 2px solid #C4C4C4; padding: 5px 0 3px 0; margin: 0 0 3px 0;}
span{font-size: 16px; color: #4E4E4E; font-weight: bold;}
ul, li{list-style: none;}
li{float: left; width: 190px;}
.clear{clear:both;}
.clearLeft{clear:left;}
.left{float: left;}
.right{float: right; text-align: right;}

/*========= top annonce =========*/
.idtt{color:#000; padding: 3px 8px; background:#C4C4C4; font-weight: bold;}
.cdcExclu{color:#000; padding: 3px 8px; margin: 0 0 0 5px; background:#C4C4C4; font-weight: bold;}

/*========= conteneur annonce =========*/
#PrintAnnonce{width: 600px; padding: 2px; margin: auto; text-align: left; background:#fff; border: 1px solid #4E4E4E;}
/* image max width: 600px */
#PrintAnnonce #BandeauPrint{margin: 0 0 2px 0; background:#F3F3F3;}

/*========= infos annonces =========*/
#PrintAnnonce #Ctn{border: 2px solid #C4C4C4; padding: 10px;}
#PrintAnnonce #Ctn #InfosTop{border-top: 2px solid #C4C4C4; border-bottom: 2px solid #C4C4C4; padding: 5px 0; margin: 5px 0 10px 0;}
#PrintAnnonce #Ctn #InfosTop h1{color:#000;}

/*========= photos annonce =========*/
#PrintAnnonce #Ctn #Photo_Ctn{float: left; width:253px; background:#C4C4C4; border: 1px solid #212252; padding: 5px;}
#PrintAnnonce #Ctn #Photo_Ctn img{width:253px;}
/* 8 photos suivantes */
#PrintAnnonce #Ctn #Photo_Ctn #MiniPhoto_Ctn{padding: 5px 0 0 0;}
#PrintAnnonce #Ctn #Photo_Ctn #MiniPhoto_Ctn img{width:60px; height: 45px;}

/*========= descriptif annonce =========*/
#PrintAnnonce #Ctn #Ctn_Annonce{float: right; width: 300px;}
#PrintAnnonce #Ctn #Ctn_Annonce #MajRef{background:#C4C4C4; padding: 5px;}
#PrintAnnonce #Ctn #Ctn_Annonce #MajRef h5{color:#000;}
#PrintAnnonce #Ctn #Ctn_Annonce #Descriptif{text-align: justify; padding: 5px 0;}

/*========= infos complementaires =========*/
#PrintAnnonce #Ctn #InfosComp{margin: 5px 0;}

/*========= details agence =========*/
#PrintAnnonce #Ctn #DetailAgence{margin: 5px 0; padding: 5px 10px; border: 4px solid #C4C4C4; background:#C4C4C4;}
#PrintAnnonce #Ctn #DetailAgence *{font-weight: bold; color:#000; font-size: 12px;}

/*========= fiche visite =========*/
table, td{border-collapse: collpase; font-size: 11px;}
input.size1{width: 129px; border:1px solid #000; margin: 1px 0; height: 16px; padding:0 0 0 1px;}
input.size2{width: 451px; border:1px solid #000; margin: 1px 0; height: 16px; padding:0 0 0 1px;}
textarea{border:1px solid #000; margin: 1px 0; height: 50px; width: 451px; padding:0 0 0 1px;}
.td1{width: 170px; text-align: right; padding: 0 5px 0 0;}
.td2{padding: 0 15px 0 0;}

/*========= imprimer =========*/
#Imprimer{background:#C4C4C4; border: 1px solid #C4C4C4; padding: 5px; text-align: center;}
#Imprimer input{width: 150px; height: 30px; background:#C4C4C4; padding: 5px; font-size: 14px; color:#000; font-weight: bold; cursor: pointer; border:1px solid #000;}