/* CSS Document */
.BoiteMiniMoteur{ widows:215px;}
.MiniDiv{}
#MiniTypeTrans,#MiniTypeBien,#MiniBudget,#MiniVilles,#MiniSurface { }
.MiniTitre{ width:215px; color:#fff;font-size:11px;margin:10px 0 0 0;}
.MiniSelect{ width:213px; border:1px solid #b5b5b5; height:15px;border:1px solid #afaeab; font-size:11px;}
*+html .MiniSelect{ height:18px;}
.MiniSelect option{width:205px;}
.MiniInput{ border:1px solid #539c70; font-size:11px;}
#MiniBouton{ }
#MiniBoutonInput{ margin:20px 0 0 0;}