@font-face {
	font-family: 'NeoSans';
	src: url('$$_$$styles/typos/neosans.eot');
	src: url('$$_$$styles/typos/neosans.eot?#iefix') format('embedded-opentype'),
			 url('$$_$$styles/typos/neosans.woff') format('woff'),
			 url('$$_$$styles/typos/neosans.ttf') format('truetype'),
			 url('$$_$$styles/typos/neosans.svg#neosans') format('svg');
	font-weight: normal;
	font-style: normal;
}

body { margin:0;padding:0; text-align:center; background: #b90065; }
div,td { font-family: 'NeoSans', Arial, Helvetica, sans-serif;font-size:12px;color:#f0f0f0;}
img { border:none;display:inline;}
table  { border-collapse:collapse;border-spacing:0;}
td, th { padding:0;}
form { padding:0;margin:0;}
input, select { vertical-align:middle;}
a { text-decoration:none; color:#fff;}
a:hover { text-decoration: none; color: #f0f0f0;}
p { margin:10px 0;}
h1.hidden {display: none;}

.clear { clear:both;}
.fleft { float:left;}
.fright { float:right;}

/*================================================*/

#wrap { width: 100%; background: url($$_$$images/bg_wrap.gif) repeat-x #fff; }
#main { position: relative; width: 960px; text-align: left; margin: 0 auto; padding-bottom: 50px; }

.l-top { height: 30px; overflow: hidden; }
.r-top { padding-top: 6px; }
.r-top a { padding-right: 4px; }

.bg-logo { background: url($$_$$images/bg_lg.gif) right 1px no-repeat; height: 171px; }
.logo { padding-top: 25px; }

.txt-lg { font-size: 24px; color: #b90065; padding: 50px 0 10px 53px; line-height: 32px; margin:0; font-weight:normal; }
.txt-lg span { display: block; color: #36352d; font-size: 36px; padding-left: 105px; }


.mn { position: relative; height: 55px; }
.mn ul { margin: 0; padding: 0; text-align:center;}
.mn ul li {display:inline-block; list-style: none; }
.ie7 .mn ul li {display:inline; zoom:1;}
.mn ul li a { background: url($$_$$images/pic_mn.gif) no-repeat; padding: 0 10px 0 18px; line-height: 55px; display: block; font-size: 14px; color: #fff; text-transform: uppercase; }
.mn ul.en li a { padding: 0 16px 0 18px; }
.mn ul li a:hover { color: #b90065; background:#f0f0f0; }

.s-mn { background: url($$_$$images/bg_smn.gif) no-repeat; width: 732px; height: 40px; text-align: center; margin: 0 auto; }
.s-mn ul { margin: 0; padding: 0; }
.s-mn ul li { display: inline-block;}
.ie7 .s-mn li {display:inline; zoom:1;}
.s-mn ul li a { color: #fff; text-transform: uppercase; display: block; line-height: 40px; padding: 0 5px; }
.s-mn .en a { padding: 0 1px; }
.s-mn a:hover { color: #2e2827; }

.col_home {width:473px;}

#bg-nav { background: #4b4b41; border: 1px solid #4b4b41; margin-top: 30px; }
#navigue { width: 940px; min-height: 400px; padding: 15px 0; margin: 0 auto; }

.bg-moteur { width: 473px; background: #b90065; border: 1px solid #842012; height: 298px; margin-top: 53px; }
.bt-mot { width: 460px; margin: 0 auto; padding-top: 5px; }
.bt-mot ul { margin: 0; padding: 0; }
.bt-mot ul li { float: left; height: 35px; list-style: none; margin-right: 1px; display: block; background: #a10058; }
.bt-mot ul li a { background: #a10058; line-height: 35px; text-transform: uppercase; font-size: 13px; display: block; color: #fff; width: 120px; text-align: center; }
.bt-mot ul li a:hover { background: #df037b; }
.last-mot { width: 217px; }
.txt-mot { font-size: 18px; padding: 15px 0 0 25px; color: #fff; }
.txt-mot strong { font-weight: normal; color: #b2b2b2; }
.txt-mot span { font-size: 14px; display: block; }
#bloc-moteur { width: 435px; margin-left: 25px; position: relative; padding-top: 100px; }

.bg-biens { width: 473px; background: #4b4b41; border: 1px solid #4b4b41; margin-top: 53px; height: 298px; }

.btn { height: 35px; overflow:hidden; padding: 5px 0 0 5px; }
.btn ul { margin: 0; padding: 0; }
.btn li { list-style-type: none; position: relative; float: left; margin-right: 1px; }
.btn a { display: block; height: 35px; background-repeat: no-repeat; }
.btn a:hover { position: relative; display: block; background-position: 0 -35px; }

#exclu, #cdc { display: none; }

#menu-new,#menu-cdc, #menu-exclu { width:153px;height:35px;display: block; color: #fff; font-size: 13px; text-align: center; line-height: 35px; text-transform: uppercase; }
#menu-new:hover, #menu-cdc:hover, #menu-exclu:hover {background-position: 0 0!important;}
#menu-new { background: url($$_$$images/bg_onglet.gif) no-repeat ; }
#menu-exclu { background: url($$_$$images/bg_onglet.gif) no-repeat 0 -35px; }
#menu-cdc { background: url($$_$$images/bg_onglet.gif) no-repeat 0 -35px; }

.bloc-cdc { height: 250px; overflow: hidden; }
.bloc-cdc .detailAnnonces { background: none; border: none; width: 162px; min-height: inherit; margin:10px 10px 0 10px; padding: 0; height: 245px; overflow: hidden; display:block;}
/*.bloc-cdc .detailAnnonces + .detailAnnonces {margin-left:45px;}*/
.bloc-cdc .blocPhotoNouveau, .bloc-cdc .blocPhotoExclusif {left:0;}
.bloc-cdc .blocPhotoCoupCoeur {left:115px; top:8px;}

/* Actus */
.bg-bloc-actu {height:361px; overflow:hidden;}
.bloc_actu {position:relative;}
.bloc_actu #ActuCycle {margin:0; padding:0;}
.bloc_actu #ActuCycle li {list-style-type:none;}
.bloc_actu img {width:auto; height:100px; float:left; margin:5px 10px 0 0;}
.bloc_actu .controls {position:absolute; top:-40px; right:0;}
.bloc_actu .controls span > a {float: left; margin:0 1px;}
.bloc_actu .controls span > a.activeSlide {color:#B90065;}
.bloc_actu .picg, .bloc_actu .picd {float: left; height: 15px; margin: 5px; width: 15px; margin:3px;}
.bloc_actu .picg {background: url($$_$$images/picg.gif) no-repeat 0 0;}
.bloc_actu .picd {background: url($$_$$images/picd.gif) no-repeat 0 0;}



/* bloc estim */
#bloc_estim {width:475px; height:400px; margin:10px 0; position:relative;}
.fr #bloc_estim {background:url($$_$$images/bg_estim_fr.jpg) no-repeat;}
.en #bloc_estim {background:url($$_$$images/bg_estim_en.jpg) no-repeat;}
#bloc_estim #btn_bloc_estim {position:absolute; top:177px; right:-52px; width:500px;}
#bloc_estim #btn_bloc_estim a {display:inline-block; width:170px; padding:10px; background:#b90065; color:#fff; font-size:14px; text-align:center;}
.ie7 #bloc_estim #btn_bloc_estim a {float:left;}
#bloc_estim #btn_bloc_estim a + a {margin-left:10px;}
#bloc_estim #btn_bloc_estim a:hover {background:#c20e71;}


.bloc-cdc .blocPhoto { width: 162px; height: 122px; }
.bloc-cdc .blocPhoto img { width: 156px; height: 116px; border: 3px solid #433e3d; }
.bloc-cdc .detailAnnonces a { font-size: 16px; color: #fff; font-weight: normal; line-height: 15px; }
.bloc-cdc .blocPiecesBien { color: #b1b0b0; font-size: 14px; }
.bloc-cdc .blocPrixBien { font-size: 24px; color: #fff; }
.bloc-cdc .blocNumPhoto, .bloc-cdc .blocNumPhotoBg, .bloc-cdc .blocTxtRefBien, .bloc-cdc .blocDetailBien, .bloc-cdc .blocSurfaceBien { display: none; }
.bg-biens #selectionAnnonces_1, .bg-biens #selectionAnnonces_2, .bg-biens #selectionAnnonces_3 {width:370px!important; margin:0 auto; display:block!important;}

.bg-bloc { background: url($$_$$images/bg_txt_index.gif) top left no-repeat #4b4b41; width: 473px; padding-bottom:15px; border: 1px solid #4b4b41; margin-top: 10px; }
.t-bloc { color: #fff; font-size: 20px; padding: 15px 10px 0 110px; margin:0; }
.txt-bloc { width: 438px; margin: 0 auto; text-align: justify; font-size: 14px; line-height: 22px; padding-top: 10px; }
.txt-bloc a.btn_savoir { background: #b90065; color: #fff; border: 1px solid #c20e71; line-height: 28px; padding: 0 20px; float: right; font-size: 12px; }
.txt-bloc a.btn_savoir:hover {background:#df037b;}
.txt-bloc a:hover span {color:#fff!important;}
.txt-bloc #Editeur img {width:100%; height:auto;}


.btn-index { margin-top: 10px; }
.btn-index a { float: left; display: block; margin-right: 13px; }
.btn-index .last-btn { background: url($$_$$images/btn_cinq.gif) no-repeat; height: 181px; width: 181px; display: block; color: #fff; margin-right: 0; font-size: 20px; text-align: center; }
.btn-index .last-btn span { padding-top: 60px; display: block; }

.bg-foot { width: 100%; text-align: center; border-top: 1px solid #c20e71; padding: 35px 0; color: #fff; background:#b90065; }
.bg-foot a { color: #fff; }
.bg-foot a:hover { color: #26201f; }

.ttl-pages { font-size: 20px; text-transform: uppercase; margin-bottom: 10px; }

#txt_int table {margin:30px 0;}
#txt_int table tr td {width:190px; padding:0 20px; vertical-align:top;}
#txt_int h2 {font-size:18px; color:#fff; margin:25px 0 5px 0;}
#txt_int ul li {margin:3px 0;}
#txt_int .red_txt {font-weight:bold; color:#e63094;}
#txt_int .bloc_accroche {padding:20px; background:#b90065; border:1px solid #e63094; color:#fff; margin:20px 0;}
#txt_int .bloc_accroche h3 {font-size:20px; font-weight:normal; margin:0;}
#txt_int .bloc_accroche a{color: #fff;}
#txt_int a.cta { background: #b90065; color: #fff; border: 1px solid #e63094; line-height: 28px; padding: 0 20px; display:block; text-align:center; width:250px; font-size: 12px; }
#txt_int a.cta:hover {background:#e63094;}
#txt_int #photo_content {float:right; margin:-52px -10px 10px 10px;}

/* RETOUR HAUT */
.retourHaut { float:right;margin:5px 0 0 0;padding:0; font-weight:bold; }
.retourHaut a { text-decoration:none; }


.encart_recrutement{float: right;border: 1px solid #e63094;padding: 20px;color: #fff;background: #b90065;}
.encart_recrutement a{color: #fff;}

#rssActu{float: right;}
#rssActu a {
background: url('/z/webagency/slagence_X_V4/images/rss/rss.png') no-repeat;
color: #DC682B;
display: block;
font-size: 12px;
font-weight: bold;
height: 30px;
padding: 5px 0 0 30px;
}