/* Vanessa $$DYN:ID3:NOFOOTER$$ */


/* GENERAL */

#BoiteMiniMoteur br{ display:none;}
#motteur #BoiteMiniMoteur {
    
    float: left;
    height: 38px;
    margin: 0 0 0 43px;
    width: 744px;
}
/* DIV */
.MiniDiv {padding:0;}

#MiniTypeTrans, 
#MiniTypeLoi,
#MiniTypeCommerce,
#MiniTypeActivite,
#MiniTypeBien,
#MiniSousTypeBien, 

#MiniChambres,
#MiniBudget,
#MiniBudgetTranche,
#MiniBudgetVac,
#MiniSurfaceTerrain,
#MiniPays,
#MiniRegion,
#MiniRegionEtr,
#MiniDep,
#MiniVilles,
#MiniQuartiers,
#MiniProximite,
#MiniRayon,
#MiniSituation,
#MiniReference,
#MiniChoixAffichage
{ overflow:hidden; width:224px; float:left; padding:9px 0 0 0;}
#MiniSurface {position:absolute; top:80px; left:19px; float: left;height: 30px;overflow: hidden;padding-top: 0;}
#MiniDivChampTextBudget {float: left;height: 28px;overflow: hidden;padding-top: 0;}
#MiniSurface #TitreMiniSurface,#MiniTypeBien #TitreMiniTypeBien,#MiniBudget #TitreMiniBudget{padding-top: 7px;}
#MiniDivChampTextBudget  #TitreMiniBudget{padding-top: 7px;}
#blocRecherche #MiniPieces{overflow:hidden; width:180px; float:left; padding:10px 0 0 0;}

#miniMoteur #MiniBouton{position:absolute; top:123px; right:31px; overflow:hidden;float: right; margin:0 0 0 6px; width:117px;}

#TitreMiniTypeTrans, 
#TitreMiniTypeLoi,
#TitreMiniTypeCommerce,
#TitreMiniTypeActivite,
#TitreMiniTypeBien,
#TitreMiniSousTypeBien, 
#TitreMiniPieces,
#TitreMiniChambres,
#TitreMiniBudget,
#TitreMiniBudgetTranche,
#TitreMiniBudgetVac,
#TitreMiniSurface,
#TitreMiniSurfaceTerrain,
#TitreMiniPays,
#TitreMiniRegion,
#TitreMiniRegionEtr,
#TitreMiniDep,
#TitreMiniVilles,
#TitreMiniQuartiers,
#TitreMiniProximite,
#TitreMiniRayon,
#TitreMiniSituation,
#TitreMiniReference,
#TitreMiniChoixAffichage{width:70px; color:#000; float:left; text-align:left;padding:0;font-size:11px; font-weight:normal; font-family:Arial,sans-serif;}
#TitreMiniChoixAffichage{ width:169px; padding:2px 0 10px; font-weight:bold; }
#MiniDivChoixAffichage{margin-top:2px;}
#blocRecherche .MiniLabe{color:#000; font-size:11px; font-family:tahoma;}
#motteur #MiniSelectTypeTrans, #motteur #MiniSelectTypeBien, #motteur #MiniSelectVilles,#motteur #TitreMiniTypeBien{position :relative; top:5px;}
#MiniSelectVilles{width:220px !important; height:28px;}
#motteur #MiniTypeBien{padding-bottom:5px;}
#MiniDivChoixAffichage .MiniLabel{ color:#000; margin:0 10px 0 0; font-size:11px;}
/* *+html #MiniDivChoixAffichage .MiniLabel{ margin:0 6px 0 0;}
*+html #MiniDivChoixAffichage .MiniLabel{ margin:0 6px 0 0;} */

/* div englobant les selects */
/*.MiniDivSelect{display:inline;}*/



#MiniSelectTypeTrans,
#MiniSelectTypeLoi,
#MiniSelectTypeCommerce, /* si idtt ventes commerces */
#MiniSelectTypeActivite, /* si idtt ventes commerces et type commerce */
#MiniSelectTypeBien,
#MiniSelectSousTypeBien,
#MiniSelectPieces,
#MiniSelectChambres,
#MiniSelectBudgetVente,/* si budget tranche */
#MiniSelectBudgetLoc,  /* si budget tranche */
#MiniSelectSurface,
#MiniSelectPays,
#MiniSelectRegEtr,/* si region etrangere */
#MiniSelectRegion,
#MiniSelectDep,
#MiniSelectVilles,
#MiniSelectQuartier,
#MiniSelectRayon,/* si rayon en liste deroulante */
#MiniSelectSituation
{width:135px; float:left; border:1px solid #9b9b9b; color:#7b7b7b; background:#fff;font-size:11px; height:28px; padding:5px;}
#MiniDivChampTextSurface{width:140px;float:left;}

.MoteurBouton input{width:116px;height:26px;margin-right:-8px;}

/* CHECKBOX*/
.MiniLabel{padding-left:0;}
.MiniCheckbox{border:none; color:#73716B; margin:0 2px 0 0; background:none; padding:0;}

#MiniDivCheckboxPieces,/* si pieces affichées en checkbox */
#MiniDivCheckboxChambres,/* si chambres affichées en checkbox */
#MiniDivCheckboxRayon/* si rayon affichée en checkbox */
{margin:0;}


/* INPUT CHAMPS TEXT */
.MiniInput{width:55px;height:21px; border:1px solid #9b9b9b; color:#7b7b7b; background:#fff; padding:2px;font-size:10px;margin:0;}
/* * html .MiniInput{width:42px;} */
.MiniInputTxt{font-size:10px; color:#000; display:none;} /* span après les champs input (ex : euros / m²) */
#miniMoteur #MiniChoixAffichage{padding:0; width:426px; border-bottom:2px solid #e3e3e3; position:absolute; top:1px; left:20px;}
#miniMoteur #MiniVilles{ padding:0; width:290px; margin-top:14px;}

#MiniLabelRayon1, #MiniLabelRayon2, #MiniLabelRayon3, #MiniLabelRayon4, #MiniLabelRayon5 { color: #000000; font-size:11px; font-family:tahoma;}
   


/* PIECES */
/* si pieces affichées en checkbox */
#MiniLabelPieces1,
#MiniLabelPieces2,
#MiniLabelPieces3,
#MiniLabelPieces4,
#MiniLabelPieces5
{padding:0; margin:0 0 0 5px;}

#MiniCheckboxPieces1,
#MiniCheckboxPieces2,
#MiniCheckboxPieces3,
#MiniCheckboxPieces4,
#MiniCheckboxPieces5
{margin:0px 2px 0 0;}

/* si pieces affichées en champs text min max */
#MiniInputPiecesMin,
#MiniInputPiecesMax
{margin:0; background:#fff; padding:3px; width:42px; color:#7B7B7B; font-weight: normal; border:1px solid #9C9C9C;}



/* BOUTON */
#MiniBoutonInput{margin-top:6px; float:right; color:#00a1c8;width:116px;height:26px;}
/*#MiniBouton a{float:right;margin:5px 0 0 0;width:80px;font-size:10px;}*/
.MiniSelect option{color:#7B7B7B; font-size:11px; font-family:tahoma; padding:0 0 0 3px;}




/*---*/
#blocRecherche .MiniDiv{width:195px;}
#blocRecherche{height:165px;position:relative;}
* html #blocRecherche{min-height:170px;}
.imputForm, .ListePieces, .ListeSituation{ border:1px solid #9C9C9C; color:#000000; font-size:11px;}
#blocRecherche .MiniTitre{ color:#000000; font-weight:normal;}

#blocRecherche #TitreMiniTypeTrans, 
#blocRecherche #TitreMiniTypeLoi,
#blocRecherche #TitreMiniTypeCommerce,
#blocRecherche #TitreMiniTypeActivite,
#blocRecherche #TitreMiniTypeBien,
#blocRecherche #TitreMiniPieces,
#blocRecherche #TitreMiniChambres,
#blocRecherche #TitreMiniBudget,
#blocRecherche #TitreMiniBudgetTranche,
#blocRecherche #TitreMiniBudgetVac,
#blocRecherche #TitreMiniSurface,
#blocRecherche #TitreMiniSurfaceTerrain,
#blocRecherche #TitreMiniPays,
#blocRecherche #TitreMiniRegion,
#blocRecherche #TitreMiniRegionEtr,
#blocRecherche #TitreMiniDep,
#blocRecherche #TitreMiniVilles,
#blocRecherche #TitreMiniQuartiers,
#blocRecherche #TitreMiniProximite,
#blocRecherche #TitreMiniRayon,
#blocRecherche #TitreMiniSituation,
#blocRecherche #TitreMiniReference{width:68px;}
#blocRecherche #TitreMiniChoixAffichage{width:190px;}
#blocRecherche #MiniRayon{ width:300px;}
#blocRecherche #MiniChoixAffichage{ width:340px;}
.rechercheBj {bottom: 0; display: block; height: 26px; line-height: 26px; position: absolute;right: 133px; }
.rechercheBj a{text-decoration:underline;color:#D63636; font-size:11px; font-family:tahoma;}
.rechercheBj a:hover{text-decoration:none;}

#blocRecherche #MiniBouton{ overflow:hidden;float: right; width:260px;position:absolute;bottom:0;right:0;}
#blocRecherche #MiniBoutonInput{ margin-top:0px;}


#blocRecherche #MiniBudget,#blocRecherche #MiniVilles,#MiniChoixAffichage{clear:left;}
#MiniBudget{padding-bottom:5px; padding-top:8px; float:right; width:235px;}
