@import "color";
// BG SOLO
$bg-uni:yes;

// PICTURE BG
$picture-bg:no;
$picture-bg-url:'../images/degrade_bg.png';
$picture-bg-repeat-horizontal:no;

// VAR SITE TYPO
$font-body:"AsapRegular",arial,sans-serif;
$font-title:"AsapRegular",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text:1.4em;
$font-size-title:1.6em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:normal;

// ARRONDI POUR LES EFFETS SUR LI > A:HOVER/FIL ARIANE/BOUTON
$arrondi:yes;

// VAR PARALLAX
// $START APPLY TO HEADER NAV TOO
$start-parallax:169;

// SLIDE SIZE PARALLAX
$size-slide-parallax:650;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS LIB
$arrow-btn:true;
@import "../../../slagence_X_V5/sources/scss/boutons/arthurimmo";

// SPRITE BLANC
@import "../../../slagence_X_V5/sources/scss/sprites/social-blanc";

// IMPORT TEMPLATE ARTHURIMMO
@import "../../../slagence_X_V5/sources/scss/templates/arthurimmo";

// IMPORT MODULE PUB LIB3
@import "../../../slagence_X_V5/sources/scss/pubs/lib3";

// IMPORT MODULE SOUS MENU
@import "../../../slagence_X_V5/sources/scss/sous_menu/lib1";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE
@import "../../../slagence_X_V5/sources/scss/ie";

///IMPORT SLIDER MOBILE
@import "../../../slagence_X_V5/sources/scss/extra/slidermobile.scss";

@font-face {
   font-family: 'brush_script_stdregular';
   src: url('../typo/brushscriptstd-webfont.eot');
   src: url('../typo/brushscriptstd-webfont.eot?#iefix') format('embedded-opentype'),
      url('../typo/brushscriptstd-webfont.woff') format('woff'),
      url('../typo/brushscriptstd-webfont.ttf') format('truetype'),
      url('../typo/brushscriptstd-webfont.svg#brush_script_stdregular') format('svg');
   font-weight: normal;
   font-style: normal;
}

.typo-brush {
    font-family: "brush_script_stdregular";
}
#liste-bloc-coordonnees .typo-brush {
    color: white;
}
.second-titre {
    font-size: 1.7em;
}
.bloc-detail-reference {
    padding-top: 20px;
}
.phrase-agences > span {
    color: #000;
}
#slide_estimation .premier-titre {
    font-size: 2.8em;
}
#slide_annonce .premier-titre {
    font-size: 2.8em;
}

.ttl_module_arthur {
    padding-bottom: 50px;
}

#slide_alerte {
    background: #1a1a1a;
}
#slide_agence {
    background-attachment: fixed;
}
#slide_services {
    min-height: 675px;
    padding-top: 70px;
    padding-bottom: 50px;
    .bloc-services {
        margin-top: 60px;
    }
}
#slide_estimation {
    background: url(../images/slides/bg_estimation.jpg) center 0 no-repeat fixed;
}
#slide_avis {
    background: url(../images/slides/bg_temoignages.jpg) center 0 no-repeat;
}
.blog-photo img {
    width: auto;
    max-height: 380px;
    margin: 0 auto;
}
#slide_module {
    background: url(../images/slides/bg_annonce.jpg) center 0 no-repeat;
}
#slide_annonce,
#slide_annonce2,
#slide_blog {
    background-color: $color-body;
}
.bloc-btn-agence {
    margin-top: 130px;
}
.slide_arthur {
    padding: 80px 0;
}
.slide_arthur2 {
    padding: 180px 0 100px 0;
}
#slide_annonce2 .module-homepage a:hover {
    text-decoration: none;
}
.nb-annonce-home {
    text-shadow: 1px 1px 1px #333;
    font-size: 4em;
}
.nb-annonce-home,
.nb-annonce-home > span {
    color: white;
}
.nb-annonce-home.high {
    color: #f89d21;
}

body section div:first-child + aside {
    margin-top: 180px;
}
body.avisclientv2 section div:first-child + aside {
    margin-top: 220px;
}
#slide_reseau .row-fluid + .row-fluid {
    margin-top: 100px;
}
.radius-20 {
    border-radius: 20px;
}
.phrase-recherche {
    font-size: .7em;
}
.phrase-recherche .xxsmallest {
    font-size: .8em;
}

.padding-bot-33 {
    padding-bottom: 33px;
}
[id^="ancre-"] {
    display: block;
    margin-top: -180px;
    padding-top: 180px;
}
.parallax-bloc {
    padding-top: 60px;
}
#slideagence-bloc-ville > * {
    display: block;
    width: 100%!important;
}
.detail-annonce .btn-contact-agence {
    border: none;&:hover {
        border: none;
    }
}
.bloc-garantie-home {
    position: absolute;
    bottom: -50px;
    left: 0;
}

.club-avantages {
    width: 92px;
    height: 24px;
    margin: 10px 5px 0 0;
    padding: 0;
    color: #fff;
    background: url(../images/club-avantages.png) no-repeat 0 0;
    font-size: .8em;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
        color: $color-action;
        text-decoration: none;
    }
}


// ------------- FINANCEMENT ------------- //

.financement {
    padding-bottom: 50px;
    .btn[type="submit"] {
        padding: 10px 50px;
    }
    .btn-action {
        border: 1px solid $color-action;
    }
    .btn-neutre:hover {
        box-shadow: none;
    }
    .btn-error {
        border-color: red;
        color: red;
        &.btn-action {
            color: $color-body;
            border-color: $color-action;
        }
    }
    .field-error {
        border-color: red;
    }
}

.form-heading {
    text-align: center;
    color: darken($color-body,45);
    text-transform: none;
    margin-top: 25px;
    margin-bottom: 10px;
}

.form-subheading {
    position: relative;
    text-align: center;
    margin-top: 80px;
    &:before {
        position: absolute;
        width: 100%;
        height: 1px;
        top: 50%;
        left: 0;
        content: "";
        background: darken($color-body,15);
    }
}

.form-subheading-ttl {
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    color: $color-font-body;
    border-radius: 40px;
    background-color: $color-body;
    box-shadow: inset 0 -2px rgba($color-primary, .1);
}







@media only screen and (max-width: 1024px) {
    #slide_agence {
        height: 650px;
    }
    #slide_temoignages,
    #slide_estimation {
        height: 400px;
    }
    .nomagence-header {
        height: 30px;
    }
    body section div:first-child + aside {
        margin-top: 0;
    }
}

@media only screen and (max-width: 768px) {
    .slideagence-coordonnees {
        display: none;
    }
    .ul-homepage-biens .bloc-moteur {
        position: static;
        width: auto;
        margin: 0;
    }
    .ul-homepage-biens .height-300 {
        height: 200px;
    }
    .slide_arthur2 {
        padding: 80px 0;
    }
    body section > aside:first-child {
        margin-top: 0;
    }
    #slide_estimation {
        position: static;
        background-attachment: scroll;
        background-position: center center!important;
    }
    #slide_reseau,
    #slide_estimation {
        padding: 30px 0;
    }
    .parallax-box-shadow {
        position: static;
        margin: 0;
    }
    .second-titre {
        font-size: 2em;
    }
    .bloc-btn-agence {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 767px) {
    #slide_agence,
    #slide_estimation,
    #slide_temoignages {
        height: auto;
    }
    .bloc_estim_home .margin-top-100 {
        margin: 20px 0 30px 0;
    }
    .parallax-bloc {
        padding-top: 20px!important;
    }
    #slide_agence,
    #slide_temoignages {
        padding-bottom: 20px;
    }
    .agence-idpublication > div {
        position: static!important;
    }
    #slide_services {
        h2 {
            font-size: 1.4em;
        }
        h3 {
            font-size: 1.2em;
        }
        .bloc-services {
            text-align: center;
        }
    }

    .financement {
        .btn {
            display: block;
            width: 100%;
            font-weight: normal;
            margin-bottom: 10px;
        }
    }

}

@media only screen and (max-width: 480px) {
    .slide_arthur,
    .slide_arthur2 {
        padding: 30px 0;
    }
    #slide_annonce .picture-responsive,
    #slide_annonce .img-homepage-extra {
        height: 250px;
        overflow: hidden;
    }
}



/*fix pour le multiple select*/
.ms-drop.top {
    top: auto;
    bottom: 0;
}
.ms-choice > div {
    width: 32px !important;
    height: 31px !important;
    background: url("/z/webagency/slagence_X_V5/images/pictos/arthurimmo/arrow-btn-down.png") no-repeat 0 center !important;
}

#bouton-telephonez-nous {
    padding: 5px 30px 5px 10px;
    color: #fff;
    background: url(/z/webagency/slagence_X_V5/images/pictos/arthurimmo/arrow-btn-white.png) no-repeat 95% center,-webkit-linear-gradient(top, $color-action,darken($color-action,10));
    background: url(/z/webagency/slagence_X_V5/images/pictos/arthurimmo/arrow-btn-white.png) no-repeat 95% center,-moz-linear-gradient(top, $color-action,darken($color-action,10));
    background: url(/z/webagency/slagence_X_V5/images/pictos/arthurimmo/arrow-btn-white.png) no-repeat 95% center,-o-linear-gradient(top, $color-action,darken($color-action,10));
    background: url(/z/webagency/slagence_X_V5/images/pictos/arthurimmo/arrow-btn-white.png) no-repeat 95% center,linear-gradient(to bottom, $color-action,darken($color-action,10));
    background-color: $color-action;
}


.cookie-banner {
background-color:#000; 
 color:#fff; 
}



/* ===============================================
== ESTIMATION V3 ==
=============================================== */

#estimation-app .subtitle,
#estimation-app label {
    font-weight: bold !important;
}

