/* CSS par defaut */
body
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#58595A;
	font-size:10px;
	margin:0px;
	background-image:url(../images/pxfond.jpg);
	background-repeat:repeat-x;
	background-position:top;
	background-color:#7A1519;
}


.nobr
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#58595A;
	font-size:12px;
	font-weight:bold;
	display:inline;
}

td
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#58595A;
}

a
{ 	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#d70006;
	text-decoration:underline;
}

a:hover
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#000000;
	text-decoration:none
}

a.ref{text-decoration:none;}

a.ref:hover{text-decoration:none;}

.general
{
	border:1px solid #FFFFFF;
	background-color:#DDDDDD;
}

.Drapeau {
	border:1px solid #58595B;
}

/*Banniere*/

.ban{
	background-image:url(../images/ban.jpg);
	background-repeat:no-repeat;
	font-size:10px;
	color:#FFFFFF;
}

.adressa{
	font-size:11px;
	font-weight:normal;
	color:#FFFFFF;
	padding-left:8px;
}

#TitreImogroup{
	font-size:18px;
	font-weight:bold;
	line-height:1em;
}

#VilleBan{
	font-style:italic;
	font-size:16px;
	font-weight:bold;
}

/* -------- menu haut-------  */
.bordureMenu
{
	border-top:1px solid #AEB1B4;
}

a.menuHaut 
{
	font-size:10px;
	font-weight:bold;
	color:#FFFFFF;
	display:block;
	width:100%;
	height:23px;
	text-align:center;
	padding-top:5px;
}

a.menuHaut:hover
{
	font-size:10px;
	font-weight:bold;
	color:#FFFFFF;
	text-align:center;
	background-color:#C20000;
	text-decoration:none;
}



.MozMenuHaut > a.menuHaut
{
	height:18px;
	padding-top:5px;
}

.sousMenuHorizontal
{
	background-color:#C20000;
	color:#FFFFFF;
	text-align:left;
	vertical-align:middle;
	width:100%;
	height:22px;
	padding-left:14px;
}

.sousMenuHorizontal a
{
	font-size:10px;
	color:#fff;
}

.sousMenuHorizontal a:hover
{
	font-size:10px;
	color:#E6E6E6;
}

.menuBas
{
	font-size:9px;
	color:#FFFFFF;
	background-color:#7A1519;
	text-align:center;
	vertical-align:middle;
}

.menuBas a
{
	font-size:9px;
	color:#FFFFFF;
}

.menuBas a:hover
{
	font-size:9px;
	color:#FFFFFF;
}




/* classes index */
.FondCdc
{
	background-image:url(../images/fondCdc.gif);
	background-repeat:repeat;
}

.titreCdc
{
	font-size:10px;
	font-weight:bold;
	letter-spacing:-1px;
	color:#FFFFFF;
	text-align:left;
	vertical-align:bottom;
	padding:0px 0px 5px 9px;
	background-image:url(../images/fondTitreCdc.jpg);
	background-repeat:no-repeat;
}

.Cdc
{
	background-image:url(../images/suiteFondCdc.gif);
	background-repeat:no-repeat;
	background-position:0% 100%;
}

.Cdc a
{
	color:#58595A;
	letter-spacing:-1px;
}

.Cdc a:hover
{
	color:#d70006;
}

.Cdc span
{
	color:#000000;
	font-weight:bold;
	letter-spacing:-1px;
}

.coupDeCoeur
{
	margin-top:12px;
}

.outils
{
	font-size:11px;
	text-align:left;
	vertical-align:bottom;
	padding:0px 0px 7px 26px;
	background-image:url(../images/puceoutils.gif);
	background-repeat:no-repeat;
	background-position:2px 100%;
}

.outils a
{
	color:#737479;
	font-weight:bold;
}

.outils a:hover
{
	color:#737479;
	font-weight:bold;
}

.notaire
{
	font-size:11px;
	text-align:left;
	vertical-align:bottom;
	padding:0px 0px 11px 26px;
	background-image:url(../images/pucenotaire.gif);
	background-repeat:no-repeat;
	background-position:2px 100%;
}

.notaire a
{
	color:#737479;
	font-weight:bold;
}

.notaire a:hover
{
	color:#737479;
	font-weight:bold;
}



.milieu
{
	padding-left:26px;
	padding-right:17px;
}


#Annuaire {
	background-image:url(../images/fondAnnuaire.jpg);
	background-repeat:no-repeat;
	width:537px;
	height:108px;
	text-align:left;
	padding-left:30px;
	vertical-align:middle;
	color:#ffffff;
	font-weight:bold;
	font-size:12px;
}

#Annuaire a 
{
	color:#ffffff;
	font-weight:bold;
	font-size:12px;
}
	
	
.BordureMoteur{
	background-color:#C8C8C8;
}

/* classes Index et petit moteur */
.titreMoteur
{
	font-size:12px;
	background-image:url(../images/fondTitreMoteur.gif);
	background-repeat:no-repeat;
	background-color:#DDDDDD;
	padding-left:13px;
	font-weight:bold;
}

.titrepage
{
	font-size:12px;
	background-image:url(../images/fondTitreMoteur.gif);
	background-repeat:no-repeat;
	background-position:right top;
	background-color:#C8C8C8;
	padding-left:13px;
	font-weight:bold;
}


.tabTitremini
{
	font-size:12px;
	font-weight:bold;
	color:#CB1F1F;
	background-color:#E6E6E6;
	vertical-align:middle;
	padding-left:11px;
}

.tabTitremini span
{
	color:#58595A;
	font-size:10px;
}

.tabFond2mini1
{
	padding-left:12px;
}

.tabFond2mini1 select
{
	font-size:11px;
	width:170px;
}

.TypeBien
{
	padding-left:11px;
}

.bien
{
	height:21px;
	width:168px;
}

.nombrePieces
{
	width:71px;
	height:21px;
}

.zonetexte 
{
	Border:1px solid #8B8A8A;
	height:18px;
	width:50px;
}

.ville
{
	border:1px solid #8B8A8A;
	height:18px;
	width:120px;
}

.minirechercher
{
	background-image:url(../images/fondMiniEnvoyer.gif);
	background-repeat:no-repeat;
	background-position:right;
	background-color:#DDDDDD;
	padding-right:5px;
}

.moteurRecherche
{
	background-color:#FFFFFF;
}

.moteurRecherche select
{
	background-image:url(../images/fondSelect.gif);
	background-repeat:repeat;
}

#carte span
{
	color:#000000;
	font-weight:bold;
}


.Agence{
	border-color: #7C1519; 
	border-width:2px; 
	border-style:solid;
}


/* classes recherche */
.texteAlert
{
	font-size:9px;
	color:#FFFFFF;
	text-align:right;
	line-height:10px;
	background-image:url(../images/recherche/fondAlerte.gif);
	background-repeat:repeat;
}

.texteAlert div
{
	margin:7px 10px 7px 10px;
}

.resultat
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	font-weight:bold;
	color:#595A5A;
	letter-spacing:-1px;
}

.resultat span
{
	font-size:16px;
	font-weight:bold;
	color:#791716;
	letter-spacing:-1px;
}

.retourRecherche
{
	font-size:10px;
	color:#FFFFFF;
	letter-spacing:-1px;
	background-image:url(../images/recherche/retour.gif);
	background-repeat:no-repeat;
	vertical-align:middle;
	padding-left:58px;
}

.retourRecherche a
{
	color:#FFFFFF;
}

.retourRecherche a:hover
{
	color:#FFFFFF;
}

.nbPieces a
{
	font-size:14px;
	font-weight:bold;
	color:#FF8C00;
}

.nbPieces a:hover
{
	font-size:14px;
	font-weight:bold;
	color:#FF8C00;
}

.prixRecherche
{
	font-size:14px;
	font-weight:bold;
	color:#FF8C00;
}

.descriptif
{
	padding:14px 15px 6px 11px;;
}

.photoRecherche
{
	padding-top:4px;
}

.telRecherche
{
	color:#000000;
	font-weight:bold;
}

.detailAnnonce td
{
	color:#FFFFFF;
}

.detailAnnonce a
{
	color:#FFFFFF;
}

.detailAnnonce a:hover
{
	color:#FF8C00;
}

.TitreDetailAnnonce
{
	color:#FFFFFF;
	font-size:16px;
	font-weight:bold;
}

.nomAgence
{
	font-size:11px;
	font-weight:bold;
	color:#FF8C00;
}

.trouvezAgence
{
	font-size:11px;
	font-weight:bold;
	color:#CB1F1F;
}

#cp
{
	width:170px;
}





/* -------- Annonces villes-------  */
#villes
{
	padding:17px;
}

#villes td
{
	font-size:9px;
	color:#58595A;
	text-align:center;
	font-weight:normal;
	vertical-align:top;
	padding:0px 5px 5px 5px;
}
	
#villes a
{
	font-size:9px;
	color:#58595A;
	text-decoration:none;
}

#villes a:hover
{
	font-size:9px;
	color:#58595A;
	text-decoration:underline;
}




		
/*TABLEAUX*/
.tabFond1{border-color: #B1161A; border-width:0; border-style:solid; padding:0px; color:#FFFFFF;}
.tabFond2{border-color: #B1161A; border-width:0px; border-style:solid; padding:0px; font-size:12px; color:#FFFFFF;}
.tabTitre{background-color:#E6E6E6; color: #CB1F1F; font-size: 12px; font-weight: bold; padding-left:11px; padding:3px;}
.tabTitre1{background-color:#B1161A; color: #FFFFFF; font-size: 11px; font-weight: bold;}
.tabCouleur{background-color: #B1161A; border-color:#B1161A; border-width:1px; border-style:solid; padding:2px; color:#FFFFFF;}
.tabcontenu
{
	padding-left:10px;
	padding:4px;
}






/* CLASSES MISE EN PAGE GUIDE PRATIQUE */
.txtTitre3
{
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color:#C20000;
}

.gras
{
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color:#C20000;
}

.encadre
{
	background-color: #C6C6C8;
	border-color: #C6C6C8;
	border-width:2px;
	border-style:solid;
	padding:2px;
	color:#000000;
}

/*Moteur */

.Err td{
color:#CB1F1F;
font-size:12px;
font-weight:bold;
}

.TitreRouge{
font-size:13px;
}

