// VARIABLES COLORS
$color-body:#474342;
$color-content:#aa804e;
$color-block:#474342;
$color-primary:#aa824e;
$color-secondary:#cca16e;
$color-action:#aa824e;
$color-important:#cca16e;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"white-opacity";

// COLOR FONT BODY DEFAULT
$color-font-body:#c5c5c5;