// VAR COLORS
$color-body:#fff;
$color-content:#fff;
$color-block:#fff;
$color-primary:#fff;
$color-secondary:#332826;
$color-action:#b2d322;
$color-btn-action:#000;
$color-important:#d9d9d9;
$color-nav-footer:#382a22;
// COLOR PUB
$color-pub:"black";
// COLOR FONT BODY DEFAULT
$color-font-body:#382a22;
// COLOR SOUS MENU
$color-sous-menu:$color-body;