// VAR COLORS
$color-body      : #383637;
$color-content   : #00282e;
$color-block     : #302f2f;
$color-primary   : #383637;
$color-secondary : #383637;
$color-action    : #eeeeee;
$color-important : #e52622;
$color-nav-footer: #fff;

// COLOR PUB
$color-pub       : "white";

// COLOR FONT BODY DEFAULT
$color-font-body : #fff;


// COLOR SOUS MENU
$color-sous-menu:$color-important;

// COLOR ROUGE
$color-bleu:#e52622;

// COLOR GRIS
$color-gris:#595657;

// COLOR SVG PUB
$color-svg-pub:#00282e;
$color-svg-pub-hover:#fff;
$color-tertiary:#595657;
