// VAR COLORS
$color-body:#000;
$color-content:#fff;
$color-block:#1b1818;
$color-primary:#000;
$color-secondary:#141414;
$color-action:#0063b7;
$color-important:#0063b7;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#fff;

$color-dark: #000;