// VAR COLORS
$color-body:#fff;
$color-content:#dadada;
$color-block:#F4F1F1;
$color-primary:#f35228;
$color-secondary:#dad7d7;
$color-action:#003964;
$color-important:#dad7d7;
$color-nav-footer:#fff;

$color-black:#000;
$color-blue:#003964;
$color-grey:#003964;

// COLOR CDC
$color-heart:#d80317;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#444;
