/* CSS Document */

/* Redefinitions des balises HTML */ 
	*{margin:0;padding:0;font-size:12px;font-family:Arial, Verdana, Helvetica, sans-serif;color:#000;}
	img{border:0}
	.clear{clear:both;}
	a{text-decoration:underline;outline:none;color:#000;}
	a:hover{color:#D6083B ;text-decoration:none;}
	hr{display:none;}
	ul,ol{list-style:none;}
	select option{padding:0;}
	table{ margin:0 auto; padding:0;}
		/* --------Modification AR PLAN SITE-------- */    
	body{background: #fff; margin-top:-3px;}
	/* Effet bordure (espace 5px) entre BG menu et bande BG site */ 
	#header{width:993px; margin:0 auto;position:relative; height:156px;}
	#global{position:relative;width:993px; margin:0 auto;}


/* ----------------------------------------PAGE ACCUEIL---------------------------------------- */	   
   
/* --------LOGO AGENCE-------- */ 
	#LogoAgence {float:left; display:inline; width:372px; padding:30px 0 0 25px; margin:0;}
	#LogoAgence img{ display:block; margin:0 auto;}
/* --------DRAPEAUX LANGUES FRANCAIS ET ANGLAIS-------- */ 		
/* Mettre en DISPLAY:NONE si pas d'option Anglais */ 
	#Drapeaux {position:absolute; top:5px; right:0px;}
	#Drapeaux img {padding-right:0px;}

/* --------TEXTE ACCUEIL--------*/ 
	#textAccueil { position:relative; float:right; display:inline; width:556px; padding:15px 0 0 0; display:block; right:5px;}
/* Modification TITRE texte d'accueil */ 
	#textAccueil h1{letter-spacing:-1px; font-size:17px; font-weight:bold;color:#000; padding:0 0 2px 0;}
	#textAccueil h1 strong{color:#000; font-size:20px;}
/* Modification CORPS texte d'accueil */ 
	#textAccueil p{ text-align:justify; font-size:11px;  color:#000; line-height:22px; display:block; padding:0 0 10px 0;}
	#textAccueil p strong{ color:#000;}
	#textAccueil a{ text-decoration:none; color:#000;}
	#textAccueil a:hover{text-decoration:underline; color:#000;}
    #textAccueil .Address{height:20px; padding:7px 0 3px 0; text-align:center; width:567px; background:#5E7EC7; float:left; color:#fff; font-size:12px; font-weight:bold;}



/* ----- Moteur -----*/
	h2.TitrePage,.titreInfosLegales{ color:#D6083B; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}

/* --------MENU + FLUX RSS-------- */
/* Modification COULEUR + TAILLE fond MENU */
	#remplissageMenu{ width:100%; background:#000; min-height:44px;}		
	#menuFlux{width:984px; background:#000; height:44px; border-left:5px solid #fff; border-right:4px solid #fff; margin:0 auto;}
	#menu {float:right; display:inline; padding:0; position:relative; z-index:2; height:44px;}
	#menu ul{ display:inline; margin:0 0 0 6px; list-style-type:none;}
	#menu li{ float:left; font-size:15px; padding:0 1px; position:relative;}
	#menu ul li.MenuSep{ color:#fff; padding-top:13px;}
	/* Modification COULEUR TEXTE MENU */ 
	#menu a{ margin-top:6px; float:left; line-height:32px; padding:0 10px 0 9px; height:32px;  font-weight:bold; color:#fff; text-decoration:none;font-size:14px;}
	#menu a:hover{ color:#000; background:#fff; font-size:14px;padding:0 10px 0 9px;line-height:32px;height:32px; }		
/* Modification FLUX RSS */ 		
	#fluxRss{float:left; display:inline; padding:15px 25px 5px 0; }
	#fluxRss a{ text-decoration:none; background:url(../images/puce_rss.gif) 0 0 no-repeat; font-size:10px;  color:#FFF; margin:0 0 5px 10px; padding:1px 5px 6px 20px;}
	#fluxRss a:hover{ font-size:10px; text-decoration:underline;}
	#fluxRss img{float:left; display:inline; vertical-align:middle;}


/* --------CONTENU SITE = ZONE DU MILIEU-------- */
/* Modification COULEUR ARRIERE PLAN CONTENU SITE */ 	
	#milieu{width:984px;padding:24px 0 3px 0px; min-height:250px;background:#FFF; border-left:4px solid #FFF; border-right:5px solid #FFF;_border-right:5px solid #FFF; margin:0 auto; position:relative; z-index:1;}
/* Positionnement bandeau image */ 
	#visuel{float:left; display:inline; width:709px; margin:0; padding:0; height:243px;}		
/* Modification COULEUR BORDURE IMAGE */ 		
	#visuel img{border:7px solid #6c6f70;}
 

/*--------POSITIONNEMENT MINI MOTEUR-------- */ 
	.miniMoteur{float:right;display:inline;width:220px;padding:0 0 0 42px;position:relative;background:url(../images/fontTitreMoteur.gif) 0 2px no-repeat;}		
/* Modification TITRE RECHERCHE */ 		
	.miniMoteur h2{font-size:18px; font-weight:bold; color:#000;padding:12px 0 0 0;}
/* A NOTER !!!! Pour styliser les champs + bouton mini moteur VOIR == MINI_MOTEUR.CSS */ 


/* ----------- 3 COUPS DE COEUR ------------- */ 
	
	#blocBas #coupCoeur{float:left;display:inline;width:715px;margin:22px 0 20px 0; }

/* ----------- LISTE TRANSACTIONS AGENCE ------------- */ 
	#blocBas .nbrTransaction{float:right;width:209px; margin:50px 10px 0 0; height:236px; overflow:auto; display:inline;}

/* Modification COULEUR "AUJOURD'HUI" */ 	
	#blocBas .nbrTransaction h3{font-size:13px;font-weight:bold;padding:1px 0;color:#000; }
/* Modification COULEUR TYPE TRANSACTION */ 	
	#blocBas .nbrTransaction h4{width:167px;font-weight:bold;font-size:13px;color:#000;padding:10px 0 0 0;}
	#blocBas .nbrTransaction ul{list-style-type:none;margin:0 0 10px 3px; line-height:16px;}
/* Modification COULEUR TYPE DE BIEN */ 
	#blocBas .nbrTransaction ul *{font-size:11px;color:#000;}
	#blocBas .nbrTransaction ul a:hover{text-decoration:none;color:#FE8499;}


/* -----------INCLUDE BAS------------- */ 

/* Modification COULEUR BANDE COORDONNEES */ 
	.CoordonneesAgence {font-size:12px; background:#000; height:27px; text-align:center; padding-top:13px; color:#fff; font-weight:bold; }	
/* Modification BG footer portefeuille + menu secondaire */
	.footerPosition{background:#fff; width:985px; padding-bottom:15px; margin:0 auto; border-left:4px solid #fff; border-right:4px solid #fff;}
	
	.porteFeuille{float:left;width:610px;padding-left:30px;}
/* ARRIERE PLAN FOOTER */
	#footer{ background:#fff; margin:0 auto; padding:0 0 0 1px;}
				
/* Modification couleur 2 TITRES FOOTER */ 
	#footer h4{font-size:11px;font-weight:bold;background:url(../images/puce.gif) 22px 3px no-repeat;padding:4px 0 4px 55px;margin:17px 0 0 0;line-height:19px;}
/* titre gauche : Notre portefeuille immobilier */
	#footer .porteFeuille h4{font-size:12px; color:#fff;}
/* titre droite : www.urldusite.com */
	#footer .menuSecondaire h4{font-size:12px; color:#D6083B;text-transform:uppercase;}
	#footer .menuSecondaire a{}
	#footer .menuSecondaire a:hover{ text-decoration:underline;color:#D6083B;}		
/* Modification couleur LISTE DES VILLES */ 
	.porteFeuille .ListeVilles{width:520px;text-align:justify;line-height:13px;border:0;color:#fff; padding:4px 0 0 5px;}
	.ListeVilles *{color:#fff; font-size:12px;font-weight:normal;}
	.ListeVilles a{color:#fff;text-decoration:none;}
	.ListeVilles a:hover{ color:#fff; text-decoration:underline;}

/* Modification couleur MENU SECONDAIRE FOOTER (droite) */
	.menuSecondaire *{font-size:11px;}
	.menuSecondaire{float:left;width:980px;font-size:12px;color:#000;}
	.menuSecondaire p{padding:3px 0 0 5px; color:#000; text-align:justify; width:879px; padding-left:22px;}
	.menuSecondaire p a{font-size:11px;color:#000;text-decoration:none;}
	.menuSecondaire p a:hover{font-size:11px; color:#FE8499;text-decoration:underline;}
	span.sepSep{ color:#000;}



/* ----------------------------------------AUTRES PAGES DU SITE---------------------------------------- */

/* Page En Construction */
	#EnConstruction{margin-top:70px; text-align:center;}


/* PAGE PLAN DU SITE = incl_plan-site.htm */  
	ul#Plan *{text-decoration: none; font-weight: bold;}
	ul#Plan{padding: 0 8em; width:423px; margin:0 auto;position:relative;top:-25px;}
	ul#Plan li.plan{ color:#D6083B; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;border-bottom:none;}
	ul#Plan li.MenuSep{display:none;}
	ul#Plan li{padding: 0.2em 0; border:none;}
	ul#Plan .plan{padding: 0.2em 0;background:none;}
	ul#Plan li a{ background:none;color:#000;padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #000 ; text-transform:uppercase;}
	ul#Plan li a:hover{color:#fff;padding-left:10px; height:19px;font-size: 12px; background:#000;}
    ul#Plan a span.nbAnn:hover{color:#fff;;}

/* Outils */
	ul#Outils *{text-decoration: none; font-weight: bold;}
	ul#Outils{padding: 2em 8em; width:400px; margin:0 auto;}
	ul#Outils li.list{padding: 0.2em 0px;background:none; margin:2px 0; border:none;}
	ul#Outils li a{color:#000;padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #000 ; text-transform:uppercase;}
	ul#Outils li a:hover{color:#fff;padding-left:10px; height:19px;font-size: 12px; background:#000;}
	#Outils li.titrePageOutils{ color:#D6083B; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}
	#Outils a:hover{color:#000 ;}

/*PAGES ESTIMATION + CONTACT + MESSAGE == TABLEAUX FORMULAIRES*/
	.tabFond1{border-color:#00AA00; border-width:0; border-style:solid; padding:2px; font-family:Arial, Helvetica, sans-serif; width:100%;}
	 textarea {width:600px; height: 100px;border:1px solid #000;margin: 0 0 0 3px; padding:2px;}
	.tabFond2{border-color:#00AA00; border-width:1px; border-style:solid; padding:2px; font-size:14px; font-family:Arial, Helvetica, sans-serif;}
	#milieu .tabTitre{background:#000; color:#FFF; font-size:14px; font-weight: bold; font-family:Arial, Helvetica, sans-serif;height:25px;padding:3px; text-align:center; text-transform:uppercase;}
	#milieu .tabTitre *{color:#FFF; font-size: 14px;}
	.tabPrint{color:#5C5E5D; font-size: 13px; font-family:Arial, Helvetica, sans-serif; border:1px solid #00AA00;}
	.tabFond1 td input{margin:3px;border:1px solid #000 ; padding:2px;}
	.tabFond1 td input.BoutonFormRecherche{float:right;width:120px;height:25px;border:none;}
	select.imputForm{border:1px solid #000 ;margin:0 0 4px 3px;}
	select.imputForm option{padding:0 0 0 3px;}
	.tabFond1 table{ width:100%;}
	 input.imputForm{border:1px solid #000; padding:2px; margin: 0 0 6px 0;}
	 input.boutonEnvoi{float:right;width:120px;height:25px;}
	strong.messageNomAgence,
	strong.estimationNomAgence{ color:#D6083B; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase; display:block;}
	/*Résolution Bug IE8 = donner une taille aux bouton pour éviter tout décallage*/
	.tabFond1 .boutonEnvoi {float:right;width:120px;height:25px; border:none;}
	.tabFond1 .BoutonFormContact {float:right;border:0;width:120px;height:25px;}
	.MoteurBouton  {overflow:hidden; padding:0 0 6px 0;}
	.MoteurBouton input {float:right;width:120px;height:25px;}
	td #ChampsBouton input {float:right;margin-right:12px;width:120px;height:25px;}
	#AgenceContact form table#FormContact td#ChampsBouton input{width:120px;height:25px;}	

/* GUIDE PRATIQUE = ACCES VIA LE LIEN DANS LA PAGE OUTILS*/
	span.txtTitre3{ display:block; width:870px; color:#FFF; background:#000; font-size:16px; font-weight:bold; padding:3px 5px; margin:10px 3px 3px 0;}
	span.gras{ display:block; width:882px; color:#FFF; background:#000; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;}
	td.encadre{background-color:#FFF; border-color:#AAA; border-width:2px; border-style:solid; padding:3px; color:#000; margin:0 0 0 -4px;}
	p.grasnews{ display:block; width:882px; color:#FFF; background:#000; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;}

	/* coup de coeur*/
	* html .div-cdc{ height:260px;}
	.div-cdc{width:230px; min-height:260px;float:left; background:#000; margin:0 4px 0 0; border:2px solid #000 ;}
	.div-cdc *{ color:#000;}
	.div-cdc .photo-cdc img{ border:1px solid #fff;width:220px;height:130px;background:url(../images/bg_Img_Cdc.gif);margin:3px 2px 3px 4px; display:block;}
	.div-cdc a span.ville-cdc{font-weight:bold;display:block; color:#D6083B;  font-size:14px;}
	.div-cdc a span.ville-cdc a:hover{color:#D6083B;}
	.div-cdc .contenu-cdc a *{color:#fff;font-weight:bold; text-transform:capitalize;}
	.div-cdc .contenu-cdc a:hover *{color:#D6083B;}
	.div-cdc .typebien-cdc{}
	.div-cdc .contenu-cdc{font-size:14px;padding:0 6px 4px 6px;}
	.div-cdc .contenu-cdc *{color:#fff;}
	.div-cdc .contenu-cdc a{ text-decoration:none;}
	.div-cdc .contenu-cdc a:hover{color:#D6083B;}
	.div-cdc .descriptif-cdc{min-height:30px; color:#fff; margin:5px 0;}
	* html .divc2c .descriptif-cdc{height:30px;}
	p.espace-cdc{display:none;}
	.div-cdc p.prix-cdc{font-weight:bold;font-size:14px; color:#fff;}
 
 
/* Mentions Legales */
	#MentionsLegales a{color:#D6083B;}
	#MentionsLegales h2 {display:block; width: 99%;background:#000; font-size: 14px; color:#FFF;font-weight: bold;letter-spacing: 0;padding:3px 0 3px 8px;margin: 10px 0;text-align: left;text-transform: none;font-family: Arial; text-transform: none;}
/* Details */
    #AgenceContact form table#FormContact td#ChampsBouton #ChampsObligatoires{clear:both;}
	
/
	
/*Recherche*/

    #RechPagesHaut .rechLiensPages a span, #RechPagesBas .rechLiensPages a span{color:#000;}
	#RechercheContainer #AlerteEmail #AlerteForm input.alerte{color:#000; border:1px solid #000;}
	#RechercheContainer #AlerteEmail #AlerteForm input.alerteBt{cursor:pointer;}
	#RechHaut form#Tri select optgroup,#RechHaut form#Tri select option{padding:0 0 0 3px;}
	#RechResultat .blocAnnonce .detailAnn{border-top:1px solid #D6083B;}
/*detail*/

    #AgenceContact #CguFormulaire a{color:#000; text-decoration:underline;}	
    #AgenceContact #CguFormulaire a{text-decoration:none;}
	#AgenceContact form table#FormContact td#ChampsMessage textarea,#AgenceContact form table#FormContact td#ChampsNom input, #AgenceContact form table#FormContact td#ChampsPrenom input, #AgenceContact form table#FormContact td#ChampsTelephone input, #AgenceContact form table#FormContact td#ChampsEmail input{color:#000;}	