
*{ font-size: 12px; }
body { margin: 0; padding:0; background: #ebfacd; text-align:center; }
div,td { font-family: Arial; font-size:12px; color: #000; }
img { border:none; display: inline; padding-top:12px;}
table  { border-collapse: collapse; border-spacing: 0;border:none; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; font-size: 11px; }
a { text-decoration: none; color: #465502; }
a:hover { text-decoration: none; color: #f80203; }
p { margin:10px 0; }

.clear { clear: both; }
/*----- decoupage -------*/

#bg-reap { width: 100%; background: url($$_$$images/bg_body.gif) repeat-x #ebfacd; }
#bg-b { background: url($$_$$images/bg_b.jpg) top center no-repeat; padding-bottom: 150px; }

#wrap { position: relative; width: 960px; text-align: left; margin: 0 auto; }
.flag { position: absolute; top: 5px; right: 0; }
.flag a { background: none; width: 30px; height: 30px; line-height: 30px; color: #fff; display: block; text-align: center; }
.flag a:hover { background: #4f4f51; }

.logo { float: left;}
.jgl { float: right; padding-top: 88px; }

.border-all { border: 1px solid #485702; }
.bord-bot { border-bottom: 1px solid #485702; }
.bord-top { border-top: 1px solid #485702; }

#content { position: relative; width: 958px; margin: 0 auto;background: url($$_$$images/pix.png); }
.ttl-search { position: absolute; top: 18px; left: 50px; color: #fff; font-size: 18px; font-family: Myriad Pro, Arial; z-index: 99;}

#bg-mot { position: absolute; top: 0; left: 0; width: 260px; height: 371px; background: url($$_$$images/bg_moteur.png) no-repeat;z-index: 9; }
#main-mot { position: absolute; top: 75px; left: 50px; width: 170px; }

#navigue { width: 940px; margin: 0 auto; min-height: 400px; padding: 15px 0; }

.menu-fr, .menu2-fr  { height: 40px; text-align: center; background: #fff; position: relative; width:958px;}
.menu-fr ul, .menu2-fr ul { margin: 0; padding: 0; }
.menu-fr ul li, .menu2-fr ul li { text-align: center; display: inline-block; *float: left; }
.menu-fr ul li a { font-size: 18px; line-height: 40px; padding: 0 115px; font-family: Myriad Pro, Arial; text-transform: uppercase; }
.menu2-fr ul li a { font-size: 18px; line-height: 43px; padding: 0 110px; font-family: Myriad Pro, Arial; text-transform: uppercase; }

.menu-fr ul li ul { display: none; position: absolute; top: 40px; z-index: 9999999; border: 1px solid #485702; border-top: none; }
.menu-fr ul li:hover ul { display: block; background: #fff; }
.menu-fr ul li ul li { display: block; }
.menu-fr ul li ul li a { display: block; line-height: 30px; text-align: left; }

#flash { height: 370px; overflow: hidden; }

a.fancyvideo {float:right; padding:5px 15px; background:#fd6400; font-size:14px; color:#fff; margin:5px 35px 0 0;}
a.fancyvideo:hover {background:#495901;}
#video {display:none;}
#qr_code{float: left;padding-left:35px;}

.link-foot { text-align: center; color: #4D5D30; font-size: 22px; font-family: Myriad Pro, Arial; padding: 50px 0; font-weight:bold;}
.coords { text-align: center; margin-bottom: 60px; color: #465700; font-size: 17px; font-family: Myriad Pro, Arial; }

.ttl-pages { font-size: 20px; color: #0c5f01; font-family: Myriad Pro, Arial; text-transform: uppercase; }


.menu-fr ul li .vencss span{font-size: 20px; font-weight:bold;}

#MapMicrosoft{ display:none !important;}

/*-----------------------*/
