#FluxRSS{}
#FluxRSS a{color:#fff;}
#RssPicto{display:block;position:absolute;margin:0 0 0 -20px;}
#FluxRSS h1{color:#465502;font-size:20px;padding:20px 0 0 100px;}
#FluxRSS h2{color:#fff;font-size:12px;padding:0 0 0 100px;}
#FluxRSS h3{color:#465502;font-size:16px;padding:40px 0 0 0;}
#FluxCtn{width:100%;vertical-align:top;}
#FluxLiens{padding:0 30px 0 100px;}
.rss_lien_ctn{padding:10px 0;border-bottom:1px solid #333;}
.rss_lien_ctn p{font-size:12px;}
.rss_lien_ctn a{display:block;float:left;height:16px;margin:2px 5px 0 0;}
.rss_lien_ctn a.voir_ann{font-weight:normal;padding:0 0 0 17px;}
.rss_lien_ctn a.voir_ann img{display:block;position:absolute;margin:0 0 0 -17px;}
.rss_lien_ctn a.rss_lien{width:62px;}
.rss_lien_ctn a.rss_xml{background:url('z/webagency/slagence_X_V4/images/rss/rss_picto.png') left no-repeat;width:48px;}
.rss_lien_ctn a.rss_netvibes{background:url('z/webagency/slagence_X_V4/images/rss/rss_netvibes.gif') left no-repeat;}
.rss_lien_ctn a.rss_igoogle{background:url('z/webagency/slagence_X_V4/images/rss/rss_igoogle.gif') left no-repeat;}
.rss_lien_ctn a.rss_monyahoo{background:url('z/webagency/slagence_X_V4/images/rss/rss_monyahoo.gif') left no-repeat;}
.rss_lien_ctn a.rss_wikio{display:none;background:url('z/webagency/slagence_X_V4/images/rss/rss_wikio.gif') left no-repeat;}
#FluxAide{width:275px;vertical-align:top;padding:40px 0 0 0;}
#FluxAide h4{font-size:14px;color:#000;}
#FluxAide h5{width:125px;overflow:hidden;background:#465502;text-align:center;color:#fff;font-weight:bold;padding:7px 0; margin: 0;}
#FluxDef{background:#465502;border:none;padding:25px 15px;color:#fff;}
#FluxDef p{text-align:justify;}
#FluxDef p.sep{height:1px;border-top:1px solid #333;margin:20px 0;}
#FluxDef a{display:block;margin:2px 0;}
#FluxDef a.agregateur{padding:2px 0 2px 70px;}
#FluxDef a.netvibes{background:url('z/webagency/slagence_X_V4/images/rss/rss_netvibes.gif') left no-repeat;}
#FluxDef a.igoogle{background:url('z/webagency/slagence_X_V4/images/rss/rss_igoogle.gif') left no-repeat;}
#FluxDef a.monyahoo{background:url('z/webagency/slagence_X_V4/images/rss/rss_monyahoo.gif') left no-repeat;}
#FluxDef a.wikio{display:none;background:url('z/webagency/slagence_X_V4/images/rss/rss_wikio.gif') left no-repeat;}
#FluxDef a.navigateur{padding:2px 0 2px 25px;}
#FluxDef a.ie7{background:url('z/webagency/slagence_X_V4/images/rss/rss_ie7.gif') left no-repeat;}
#FluxDef a.firefox{background:url('z/webagency/slagence_X_V4/images/rss/rss_firefox.gif') left no-repeat;}
#FluxDef a.safari{background:url('z/webagency/slagence_X_V4/images/rss/rss_safari.gif') left no-repeat;}
#FluxDef a.opera{background:url('z/webagency/slagence_X_V4/images/rss/rss_opera.gif') left no-repeat;}
#FluxDef .si_nav{margin:15px 0 0 0;}
#FluxDef .lien_xml{backgroundurl('z/webagency/slagence_X_V4/images/rss/rss_picto.png.gif') left no-repeat;padding:0 0 0 55px;}