// VAR COLORS
$color-body      : #ffffff;
$color-content   : #002f36;
$color-block     : #d4d4d4;
$color-primary   : #ffffff;
$color-secondary : #fd7b17;
$color-action    : #fd7b17;
$color-important : #595958;
$color-nav-footer: #595958;

// COLOR PUB
$color-pub       : "white";

// COLOR FONT BODY DEFAULT
$color-font-body : #000;

