/* CSS Document */
.tabTitre {
  background: #C30033;
  color: #fff;
}
.BoiteAnnonce {
	display: block;
	width: 100%;
	border:1px solid #aaa;
	background-color: #F2F6F9;
	text-align:left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.Colonne1 {
	position:relative;
	width: 47%;
	float: left;
	padding-top: 3px;
	color: #fff;
}
.Colonne2 {
	color: #fff;
	width: 49%;
	float: left;
	text-align: right;
	padding-top: 3px;
	padding-right: 1%;
}
.Ligne1 {
  width: 100%;
	background-color: #C30033;
	overflow: hidden;
	margin: 10px 0px 0px 0px;
 } 
.AlerteGratuit {
	width:100%;
} 
 .AlerteGratuit a {
	font-size: 1.1em;
	display: block;
	float: left;
	font-weight: bold;
	color : #C30033;
}

.AlerteGratuit a:hover {
	font-size: 1.1em;
	display: block;
	float: left;
	font-weight: bold;
	color : #C30033;
	text-decoration:underline;
}
.AlerteEmail a{
	font-weight: bold;
	font-size: 1.3em;
	color: #C30033;
	text-decoration: underline;
	float: left;
	padding-right: 10px;
}

.AlerteEmail a:hover{
	font-size: 1.3em;
	font-weight: bold;
	color : #5D5C5C;
	display: block;
	text-decoration: underline;
	padding-right: 10px;
}
.ColonneDescriptif {
	padding-top: 10px;
	margin-left:25px;
	text-align: left;
	float: left;
	color: #5d5c5c;
$$IF!:8:FORM:IDTT$$
	width: 40%;
$$END$$
$$IF=:8:FORM:IDTT$$
	width: 35%;
$$END$$
}
.ColonnePicto {
	padding-top: 10px;
	margin-left:10px;
	color: #5d5c5c;
	float: left;
	vertical-align: top;
	text-align: left;
$$IF!:8:FORM:IDTT$$
	width: 30%;
$$END$$
$$IF=:8:FORM:IDTT$$
	width: 20%;
$$END$$
}
.RechercheTelephoneTel{
font-size: 10px;
}
.contenuBoutonLegende input
	{
	background-color:#C30033;
	color:#FFFFFF;
	border:1px solid #BABDBE;
	font-weight:bold;
	}
.ContenuPopup {
	text-align:left;
	width:95%;
	font-weight:bold;
	color:#656A6E;
}
.DescrTitre {
	color:#CC0000;
	font-weight:bold;
}	
.BoitePubAlerte {
	border: 1px solid #BABDBE;
	color : #5D5C5C;
	margin-top: 12px;
	padding: 5px 5px 10px 5px;
	background-color: #fff;
}
.RechercheVisuelsPhoto img {
	width: 150px;
	height :100px;
	padding:0;
	margin: 0;
	border:1px solid #BABDBE;
}