/* LISTE AGENCE */
.blocAgence {float:left;position:relative;margin:5px 10px 10px 0;padding:5px;width:300px;height:300px;background:#fff;text-align:center;}
.blocAgence h2 {font-size:12px;color:#b44037;padding:0;margin:0;width:250px;}
.blocAgence .photoAgence {margin:5px 0 5px 0;padding:0;width:250px;}
.blocAgence .infosAgence {margin:0;padding:0;text-align:left;}
.blocAgence .infosAgence li {margin:5px 0 5px 3px;width:250px;}
.blocAgence .infosAgence a {background:#b44037;text-decoration:none;padding:2px;color:#fff;}
.blocAgence .infosAgence a:hover {background:#242424;color:#fff;}
.blocAgence .publicAgence {position:absolute;margin:0;padding:0;color:#242424;display:none;}
.blocAgence .knowMore {position:absolute;bottom:0;text-align:center;font-size:12px;font-weight:bold;padding:3px;margin:0 0 5px 0;background:#b44037;color:#fff;text-decoration:none;}
.blocAgence .effetKnow {background:#242424;color:#fff;}
/* POPUP INFOS */
#popupInfos {position:absolute;width:400px;height:400px;top:0;left:0;background:red;z-index:100000;display:none;}
.blocNoPhoto {background:url('/z/webagency/slagence_X_V4/images/recherche/sans_photo.jpg') 50% 50% no-repeat;}
/* PAGE AGENCE */
#AgImmo_Ctn h3 {clear:both;font-size:30px;color:#fff;float:left;font-family: "typomenu",sans-serif;font-weight:normal;}
#AgImmo_Ctn h3 a {clear:both;display:block;font-size:20px;font-weight:normal;}
.geolocInfo {margin:5px 0 5px 0;padding:0;}
/* RECHERCHE AFFICHAGE ONGLETS */ 
#Tri_Ctn {float:left;font-size:12px;color:#fff;}
#Tri_Ctn .miniForm {font-size:12px;width:200px;}
#RechPagesHaut {margin-top:10px;border-bottom: 1px dotted #bbb;height:25px;}
#RechPagesBas {clear:both;margin;5px 0 5px 0;border-top: 1px dotted #bbb;height:25px;padding-top:10px;} 
.listeAgPages a, #RechPagesBas a {padding:4px;background:#000;color:#fff;text-decoration:none;margin:0 1px 0 1px;} 
.listeAgPages a:hover, #RechPagesBas a:hover {color:#fff;background:#00A8E3;}
.listeAgPages .actif, #RechPagesBas .actif {background:color:#fff;background:#00A8E3;font-weight:bold;}
.pageCourante, #RechPagesBas .pageCourante {float:left;background:url('/z/webagency/slagence_X_V4/images/recherche/picto_page.gif') left no-repeat;padding:1px 0 1px 22px;color:#fff;margin:0 0 0 10px;}
.rechLiensPages {float:right;margin:0;padding:0;}
.listeAgPages {float:right;}
/* CADRE AGENCE */
.cadreAgence {clear:both;margin:0 0 10px 0;padding:0;}
.cadreAgence .indexAg {color:#fff;font-family: "typomenu",sans-serif;font-size:24px;margin:10px 0 10px 0;}
.cadreAgence .photoAg {background:#fff;text-align:center;padding:5px;}
.cadreAgence .infosAg p {color:#fff;font-size:12px;margin:2px 0 2px 0;}
.cadreAgence .quiAg h4 {color:#fff;font-family: "typomenu",sans-serif;font-size:24px;margin:10px 0 10px 0;font-weight:normal;}
.cadreAgence .quiAg p {color:#fff;padding:0;margin:0;}
.cadreAgence .plusAg {margin:10px 0 0 0;float:right;clear:both;}
.cadreAgence .plusAg label {clear:both;background: #D94D42;padding: 3px;font-family: "typomenu",sans-serif;font-size:20px;font-weight: normal;}
.cadreAgence #infosAg_nom {font-size:30px;color:#fff;font-family: "typomenu",sans-serif;margin:10px 0 0 0;clear:both;}
/* MAP */
#MapMicrosoft {clear:both;display:block;background:#fff;border:1px solid #999;padding:10px;margin:10px 0 10px 0;}
#MapHead h3 {font-size:18px;color:#00A8E3;margin:0 0 10px 0;padding:0 0 5px 0;border-bottom:1px dotted #999;}
/* 14 REMPLACEMENTS NECESSAIRES */
.pinPays{width:68px;height:32px;background:url('/z/webagency/slagence_X_V4/images/cartos/bleu_pin_pays.png') no-repeat 0 0 !important;}
.pinReg{width:52px;height:30px;background:url('/z/webagency/slagence_X_V4/images/cartos/bleu_pin_region.png') no-repeat 0 0 !important;}
.pinDep{width:52px;height:31px;background:url('/z/webagency/slagence_X_V4/images/cartos/bleu_pin_departement.png') no-repeat 0 0 !important;}
.pinVil{width:52px;height:36px;background:url('/z/webagency/slagence_X_V4/images/cartos/bleu_pin_ville.png') no-repeat 0 0 !important;}
.pinQrt{width:44px;height:35px;background:url('/z/webagency/slagence_X_V4/images/cartos/bleu_pin_quartier.png') no-repeat 0 0 !important;}
.pinAnn{width:44px;height:34px;background:url('/z/webagency/slagence_X_V4/images/cartos/bleu_pin_annonce.png') no-repeat 0 0 !important;}
.pinAgn{width:44px;height:34px;background:url('/z/webagency/slagence_X_V4/images/cartos/bleu_pin_agence.png') no-repeat 0 0 !important;}
/* PAGE AGENCE IMMO */
#AgImmoVitrine_Ctn img {display:block;clear:both;display:none;}
#AgImmoVitrine_Ctn div {display:none;height:0;width:0;}
#AgImmoMentions {color:#fff;font-size:12px;}
/* DROITE */
#AgImmoDroite{margin:0;padding:0;}
#AgImmo_Ctn h2 {border-bottom:1px dotted #BBBBBB;font-size:16px;font-weight:100;margin:0 0 3px;padding:0 0 3px;}
#AgImmo_Ctn #AgImmo_nom {color:#fff;font-family: "typomenu",sans-serif;font-size:40px;margin:10px 0 10px 0;font-weight:normal;}
#AgImmoDroite p, #AgImmoDroite p * {font-size:1em;line-height:18px;}
#AgImmoDroite p .contact {display:block;}
#AgImmoDroite p{margin-bottom:10px;}
#AgImmo_Ctn h4 {border-bottom:1px dotted #BBBBBB;color:#00A8E3;font-size:16px;font-weight:normal;margin:10px 0 3px;padding:0 0 3px;}
#AgImmoDroite .AgImmoContact a, #AgImmoDroite .AgImmoEstimation a {background:#00A8E3;color:#FFFFFF;display:block;float:left;font-weight:bold;margin:0 5px 0 0;padding:5px 10px;text-decoration:none;}
#AgImmoDroite ul {list-style:none outside none;text-decoration:none;}
#AgImmoDroite ul li {margin:0 0 0 5px;padding:2px 12px;}
#AgImmoServices li {color:#fff;}
/* HORAIRES */
#Horaires div {margin:5px auto 0;width:80%;border-bottom:dotted #999999 1px;}
#Horaires .jour {text-align:left;width:100px;padding:5px 10px;}
#Horaires .lundi {margin-top:10px;}
#Horaires .heuresAM, #Horaires .heuresPM {text-align:center;width:150px;padding:5px 10px;}
#Horaires .clear{border:none;font-size:0px;height:0px;}
#Horaires div p {float:left;margin:0;}
#Horaires p.comments {padding:1em 0;text-align:center;}
/* PORTEFEUILLE*/
ul#AgImmoPortefeuille li.typeTransac {background:none repeat scroll 0 0 transparent;margin:15px 0 0;}
ul#AgImmoPortefeuille li ul li.subList {background:url("/z/webagency/slagence_X_V3/images/pictos/fleche_blanche_small.gif") no-repeat 0 4px ;border-bottom:1px dotted #BBBBBB;padding:4px 12px;}
ul#AgImmoPortefeuille li ul li.subList a{color:#fff;}