<section id="editorial-news" class="editorial news" ng-if="news && news.length !== 0">
	<hr />
	<h3 class="header">
		Actualit&eacute;s sur le march&eacute; immobilier
	</h3>

	<div class="row" ng-repeat="chunk in news">
		<div class="col-md-6" ng-repeat="article in chunk">
			<article class="block">
				<div class="thumb">
					<a ng-href="{{ article.url }}" target="_blank">
						<img class="img-responsive" ng-src="{{ article.images.medium }}" alt="{{ article.title }}" />
					</a>
				</div>
				<header class="title">
					<a ng-href="{{ article.url }}" target="_blank">{{ article.title }}</a>
				</header>
				<div class="publication-date" ng-if="false">Publi&eacute; le {{ article.created_at | date: 'mediumDate' }}</div>
				<div class="content" ng-bind-html="article.body | limitWords"></div>
				<footer>
					<a class="readmore" ng-href="{{ article.url }}" target="_blank">Lire la suite...</a>
				</footer>
			</article>
		</div>
		<div class="col-md-6" ng-if="$last">
			<article class="ad">
				<div id="div-gpt-ad-pave-bas">
					<script>
						avatag.push({ type: 'boxLoaded', data: { id: 'div-gpt-ad-pave-bas' } });
					</script>
				</div>
			</article>
		</div>
	</div>
</section>
