<div id="estimation-app-row">
	<div id="estimation-form-container">
		<form id="estimation-form" class="basic estimation" name="$ec.estimationForm" novalidate>
			<page-title layout="basic"></page-title>

			<text name="address" model="$ec.formData.location.address" label="Adresse" ng-attr-placeholder="{{$ec.getLocationPlaceholder()}}" class="required">
				<div id="addressSuggestions" class="suggestions-list observable"></div>
			</text>

			<div class="form-group map" ng-show="false">
				<map map="minimap" bind="address" initAutoSuggest="false" initMap="false"></map>
			</div>

			<startpoint layout="basic"></startpoint>
		</form>
	</div>
	<link type="text/css" rel="stylesheet" href="{{$ec.getAgencyUrlCss()}}">
</div>
