<div class="basic startpoint">
	<div class="ui vertically padded stackable two column grid">
		<div class="column">
			<div class="form-group no-margin">
				<div class="spaced-bottom text-center">
					<popup text="Nos estimations sont calcul&eacute;es en comparant votre bien &agrave; des biens similaires vendus dans votre secteur ce qui nous permet de vous fournir une estimation rapide et bas&eacute;e sur les vrais prix de l&#145;immobilier."></popup>
				</div>

				<a class="btn btn-block btn-estimate btn-primary tagClick"
				   ng-href="{{ redirectOnline }}"
				   ng-click="$ec.validateLocation($event)"
				   data-ava-id="estiOnline"
				>
					{{ $ec.form.estimateOnline }}
				</a>
			</div>
		</div>
		<div class="column">
			<div class="form-group no-margin">
				<div class="spaced-bottom text-center">
					<popup text="Ne soyez plus livr&eacute; &agrave; vous-m&ecirc;me et confiez l&#145;estimation de votre bien, gratuitement, &agrave; un professionnel."></popup>
				</div>

				<a class="btn btn-block btn-estimate btn-secondary tagClick"
				   ng-href="{{ redirectPro }}"
				   ng-click="$ec.validateLocation($event)"
				   data-ava-id="estiPro"
				>
					{{ $ec.form.estimateAgency }}
				</a>
			</div>
		</div>
	</div>
</div>
