// VAR COLORS
$color-body      : #fff;
$color-content   : #000000;
$color-block     : #004650;
$color-primary   : #000000;
$color-secondary : #009eb8;
$color-tertiary:#FFF;
$color-action    : #009eb8;
$color-important : #fbb014;
$color-nav-footer: #fff;

// COLOR PUB
$color-pub       : "white";

// COLOR FONT BODY DEFAULT
$color-font-body : #000;

// COLOR BLEU
$color-bleu:#009eb8;

// COLOR VERT
$color-vert:#247c2d;
