body {	background:#fff;	font-family:Verdana, Arial, Helvetica, sans-serif; padding:0; margin:0;	}
br.c1 {clear: both;}

#Cadre { padding:0; border:0px solid #fff; margin:20px auto; height:693px; width:969px;	background:#fff;}
#ColonneGauche { padding:0;	position:relative; height:693px; width:132px;	float:left;	background:#fff url(../images/bg_gauche.gif) no-repeat; }
	
#ColonneCentre {	
	padding:0; 
	height:693px;
	width:606px;
	float:left;
	background:#9d0718;}
	
#ColonneDroite {	
	padding:0; 
	height:693px;
	width:231px;
	float:left;
	position:relative;
	background:#fff url(../images/bg_droite.gif) no-repeat;}
	
ul#Menu {
	position:absolute; 
	top:264px; left:10px; 
	width:78px;
	margin:0; border:0; padding:0;
	list-style:none;
	line-height:18px;}

ul#Menu li {
	font-size:10px;
	color:#fff;
	font-weight:bold;
	border:0;
	padding:0;
	display:inline; }

ul#Menu li a { 
	color:#fff;
	display:block;
	text-decoration:none; }

ul#Menu li a:hover {
	color:#380c11;
	text-decoration:underline; }
	
#Flash{	
	height:266px;
	width:606px;
	background:#fff url(../images/flash.gif) no-repeat; }

#Contenu{	
	height:204px;
	width:606px;
	color:#fff;
	font-size:10px;
	text-align:justify;
	overflow: scroll;
	overflow-x: hidden;
	scrollbar-arrow-color: #ff203c;
	scrollbar-base-color: #55272c;
	scrollbar-dark-shadow-color: #000;
	scrollbar-track-color: #40070d;
	scrollbar-face-color: #000;
	scrollbar-shadow-color: #000;
	scrollbar-highlight-color: #55272c;
	scrollbar-3d-light-color: #40070d;
	 }

#Contenu a{	
	color:#000;
	font-size:10px;
	text-decoration:underline;
	 }
	 
#Contenu a:hover{	
	color:#380c11;
	font-size:10px;
	text-decoration:none;
	 }
	 
#Contenu a.download{	
	color:#000;
	font-size:10px;
	font-weight:bold;
	 }
	 
#Contenu a.download:hover{	
	color:#380c11;
	font-size:10px;
  font-weight:bold;
  text-decoration:none;
	}
	 
#Contenutdl{
	width:800px;
	margin:auto;
	color:#fff;
	font-size:10px;
	text-align:justify;
	background:url(../images/tdl/fond.jpg) no-repeat;
	 }

#Contenutdl a{	
	color:#feee92;
	font-size:10px;
	 }
	 
#Contenutdl a:hover{	
	color:#fee34d;
	font-size:10px;
	 }
	 
#Contenutdl a.download{	
	color:#febf00;
	font-size:10px;
	 }
	 
#Contenutdl a.download:hover{	
	color:#fedf2e;
	font-size:10px;
	 }
	 
ul#MenuHorizontal { 
	width:500px;
	margin:0; border:0; padding:0;
	list-style:none;
	float:right;}

ul#MenuHorizontal li {
	font-size:10px;
	color:#fff;
	font-weight:bold;
	border:0;
	padding-right:10px;
	float:right; }

ul#MenuHorizontal li a { 
	color:#380c11;
	text-decoration:underline; }

ul#MenuHorizontal li a:hover {
	color:#55272c;
	display:block;
	text-decoration:none; }

#Contenu h1{
	font-size:11px;
	color:#000;
	 }
	 
#Contenu h2{
	font-size:11px;
	color:#fff;
	 }
	 
#SousContenu{	
	/*padding:25px 10px 0 130px;*/
	padding: 0;
	color:#fff;
	font-size:10px;
	font-weight:bold;
	position:relative;
	text-align:left;
	/*height:180px;
	width:466px; */
	height:205px;
	width:606px;
	background:#fff url(../images/sous_contenu.gif) no-repeat; }
	
#form_news {
 width: 500px;
 margin: 0 auto;
}

.MailingNews {
	color:#ce0000;
	font-size:10px;
	padding:0;
  margin-left:10px;
	height:14px;
	background-color:#40070d;
	border:0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	width:120px;
}
	
.Test{ /* formulaire newsletter */
 padding:0;
 margin:0;
 position: relative;
 top: 4px;
 /*position:absolute;
 margin-left:135px;
 top:25px;*/
}

.bottom_ban {
	margin: 0;
	padding: 0;
	margin: 0 auto;
	margin-top: 25px;
	width: 480px;
}
.bottom_ban a img {
	border:0;
}
	
#Promo {
	position:absolute; 
	top:233px; left:33px; 
	margin:0; border:0; padding:0;
}

#Drapeaux {
	position:absolute;
	color:#787377;
	font-size:10px;
	text-align:center;
	top:375px; left:60px; 
	margin:0; border:0; padding:0;
}

#Drapeaux img {
 padding:6px;
 border:0;
}

#divpub { position:absolute; top:455px; left:50px; }
#divpub a img { border:0; }

#divpubhidden { position:absolute; left:-170px; }
#divpubhidden a img { border:1px solid #000; }

#LinksBas{
 width:1005px;
	font-size:10px; display:block;
	margin:auto;
	color:#86101e;
	}

#LinksBas a{
 color:#000;
 text-decoration:none;
	}

#LinksBas a:hover{
 color:#ce0000;
 text-decoration:underline;
	}

#LinksBas ul{
	list-style:none;
	padding-right:3px;
	 }

#LinksBas ul li{
float:left;
padding-right:6px;
	 }

#LinksBas ul.endorsement li { margin-top: 15px; }
#LinksBas ul.endorsement li a img { border:0; }

.Mailing{
	color:#ce0000;
	font-size:10px;
	padding:0;
  margin-left:10px;
  position:absolute;
  top:25px;
	height:14px;
	background-color:#40070d;
	border:0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	width:120px;
}

.oldconcert { font-style: oblique; color: #40070d; }
#Contenu .oldconcert h1 { color: #670d17; }

.titreplayer { color: #40070d; font-size: 9px; font-weight: bold; line-height: 15px; margin-bottom: -2px; }
#Menu marquee { margin-top: 4px; }


/* Line up */

.lineup_gauche { width: 126px; float: left;}

.lineup_droite { width: 430px; float: left; margin-left: 15px; margin-top: 0; margin-bottom: 30px;}

#Espace {width:580px;}

/* FIN line up */

.Clear { clear: both; }

/* portfolio */
.portfolioImg { float: left; width: 150px; height: 113px; margin: 0 15px 15px 0; }
a.portfolioImg { border: 2px solid #40070d; }
a.portfolioImg:hover { border: 2px solid #55272c; }
a.portfolioImg img { border:0; }

/* FIN portfolio */

/* links */
dl dt { color: #fff; }
dl dd { padding-bottom: 5px; }
dl dd em { font-style: normal; color: #afafaf; font-size: 8px; margin-left: 5px; background-color: #5a5864; display: block-inline; padding: 0 2px;}

.Liste_links_left { width: 47%; float: left; }
.Liste_links_right { width: 47%; float: left; margin-left: 2%; }

/* END links */


/* page pro.htm */
.managementLeft { width: 120px; float: left; }
.managementLeft img, .managementRight img { border: 0; }
.managementRight { width: 415px; margin-left: 10px; float: left; }

/* END page pro.htm */
