// VAR COLORS
$color-body:#fff;
$color-content:#f3f3f3;
$color-block:#f2f2f2;
$color-primary:#fff;
$color-secondary:#2c4890;
$color-action:#acacaa;
$color-important:#23282b;
$color-nav-footer:#2c4890;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#7a7a7a;