// VAR COLORS
$color-body:#fff;
$color-content:#1a1a1a;
$color-block:#f1f1f1;
$color-primary:#b0dfd6;
$color-secondary:#37465e;
$color-action:#122b45;
$color-important:#b0dfd6;
$color-nav-footer:#122b45;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#122b45;