// VAR COLORS
$color-body:#0e151d;
$color-content:#000;
$color-block:#0A0A0A;
$color-primary:#0e151d;
$color-secondary:#1B222A;
$color-action:#cda153;
$color-important:#232323;
$color-nav-footer:#cda153;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#fff;