// VAR COLORS
$color-body:#dcd3c4;
$color-content:#1a1a1a;
$color-block:#514839;
$color-primary:#514839;
$color-secondary:#514839;
$color-action:#fff;
$color-important:#A60E16;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#333;