// VAR COLORS
$color-body:#9e9c9d;
$color-content:#e8e8e8;
$color-block:#fff;
$color-primary:#575556;
$color-secondary:#3b3c3e;
$color-action:#b4111b;
$color-important:#b4111b;
$color-nav-footer:#fff;
// COLOR PUB
$color-pub:"white";
// COLOR FONT BODY DEFAULT
$color-font-body:#000;
// COLOR SOUS MENU
$color-sous-menu:$color-block;