.opinionsystem_bloc {
	max-width: 260px;
}

.opinionsystem_logo {
	width: 35px;
	display: inline-block;
}

.opinionsystem_bloc .opinionsystem_graph {
	width: 190px; 
	height: 20px; 
	display: inline-block;
	line-height: 20px; 
	border: 1px solid transparent; 
	cursor: pointer; 
	background-color: transparent;
}

.opinionsystem_bloc .opinionsystem_logo_rating {
	margin: 2px 5px 2px 2px;
}

.opinionsystem_bloc .opinionsystem_star_off {
	text-align: left; 
	display: inline-block; 
	width: 90px; 
	height: 16px; 
	background-image: url(/z/webagency/slagence_X_V5/images/referencement/opinionsystem/star_off_64.png);
	background-size: auto 16px; 
	background-repeat: no-repeat; 
	vertical-align: top; 
	margin-top: 2px;
}

.opinionsystem_bloc .opinionsystem_star_on {
	display: inline-block; 
	height: 16px; 
	background-image: url(/z/webagency/slagence_X_V5/images/referencement/opinionsystem/star_on_64.png); 
	background-size: auto 16px;
	background-position: left top; 
	background-repeat: no-repeat; 
	width: 88%;
}

.opinionsystem_bloc .opinionsystem_avis {
	margin: 0 0 0 3px; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-style: normal; 
	font-size: 70%; 
	text-decoration: underline; 
	vertical-align: top; 
	line-height: 20px; 
	color: #000000;
}

/* Containers */
.opinionsystem_container .opinionsystem_logo {
	display: none;
}
.opinionsystem_container.opinionsystem_container_center .opinionsystem_bloc {
	margin: 0 auto;
}
.opinionsystem_container .opinionsystem_bloc .opinionsystem_avis {
	color: white;
	text-decoration: underline;
	font-size: 80%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.opinionsystem_container.opinionsystem_temoignage .opinionsystem_avis,
.opinionsystem_container.opinionsystem_bandeau .opinionsystem_avis {
	color: black;
}
.opinionsystem_graph:hover {
	border: 1px #bbb solid;
	background-color: #eee;
}

/* Responsive */
@media only screen and (max-width: 767px) {
	.opinionsystem_container.opinionsystem_bandeau .opinionsystem_bloc {
		margin: 0 auto;
	}
}