// VAR COLORS
$color-body:#ABDA36;
$color-content:#f3f3f3;
$color-block:#6A9B05;
$color-primary:#445715;
$color-secondary:#6A9B05;
$color-action:#fff;
$color-important:#571523;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;