// VAR COLORS
$color-body:#2e3641;
$color-content:#2e3641;
$color-block:#f9f9f9;
$color-primary:#fff;
$color-secondary:#2e3641;
$color-action:#e7393c;
$color-important:#e7393c;
$color-nav-footer:#888888;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:white;
$color-font-body-ancien:#535353;
$color-block-fonce:#ececec;