/* CSS Document */
/* Redefinitions des balises HTML */ 
	*{margin:0;padding:0;font-size:12px;font-family:Arial, Verdana, Helvetica, sans-serif;color:#000;}
	img{border:0}
	.clear{clear:both;}
	a{text-decoration:underline;outline:none;color:#686868;}
	a:hover{color:#B4C6D4;text-decoration:none;}
	hr{display:none;}
	select option{padding:0;}
	table{ margin:0 auto; padding:0;}
	table tr td,
	table tr td p
	#milieu table tbody tr td{ padding:5px 0px; text-align:justify; text-align:left;}
	* html input.alerte{ background:#FFFFFF;}
	/* --------Modification AR PLAN SITE-------- */    
	body{background:#fff;margin-top:-3px;}
	/* Effet bordure (espace 5px) entre BG menu et bande BG site */ 
	#header{width:993px; margin:10px auto 7px auto;position:relative;}
	#global{position:relative;width:993px; margin:0 auto;padding:0 0 5px 0;}


/* ----------------------------------------PAGE ACCUEIL---------------------------------------- */	   
   
/* --------LOGO AGENCE-------- */ 
	#LogoAgence { float:left; display:inline; width:301px; padding:0 0 20px 0;margin:12px 0 0 0;}
	#LogoAgence img{ display:block; margin:0 auto;}


/* --------DRAPEAUX LANGUES FRANCAIS ET ANGLAIS-------- */ 		
/* Mettre en DISPLAY:NONE si pas d'option Anglais */ 
	#Drapeaux {position:absolute; top:116px; left:7px;}
	#Drapeaux img {padding-right:8px;}

/* --------TEXTE ACCUEIL--------*/ 
	#textAccueil { position:relative; float:right; display:inline; width:640px; padding:20px 0 5px 9px; display:block; right:5px;font-family:Arial;}
/* Modification TITRE texte d'accueil */ 
	#textAccueil h1{ font-size:18px; font-weight:bold;color:#0D60A4; padding:0 0 4px 0;}
/* Modification CORPS texte d'accueil */ 
	#textAccueil p{ text-align:justify; font-size:12px;  color:#000; line-height:16px; display:block;}
	#textAccueil p strong{ color:#0D60A4;}
	#textAccueil a{ text-decoration:none; color:#000;}
	#textAccueil a:hover{ text-decoration:underline; color:#AAAAAB;}

/* LOGOS: FNAIM & SIA */
	#Partners{ display:none; position:absolute; top:0px; right:0px; width:62px; float:left; text-align:center;}
	#Partners span img{text-align:center; padding:2px 0;}

/* --------MARQUEE DEFILANTE-------- */
/* Modification COULEUR  MARQUEE */ 	
	#RefMarqueNavig{height:31px; float:left; display:inline;color:#fff; font-size:10px;width:641px;background:#B7C8D8;margin:0 4px 0 47px;}
	#RefMarqueNavig *{color:#fff;}
	#RefMarque{ width:565px; height:31px; float:right; display:inline;color:#fff; font-size:10px;width:550px;background-color:#FFF;margin:0 -1px 0 0; padding:0 4px 0 0;}
	#RefMarqueNavig marquee{width:630px;margin:0;padding:0; color:#fff; padding:8px 5px 8px 5px;}
	#RefMarque marquee a {color:#fff;}
	#RefMarque marquee a strong {color:#fff;}
	#RefMarque marquee a:hover {color:#AAAAAB;}
	#RefMarqueNavig2{background:none;}

/* ----- Moteur -----*/
	h2.TitrePage,.titreInfosLegales{ color:#0D60A4; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}

/* --------MENU + FLUX RSS-------- */
/* Modification COULEUR + TAILLE fond MENU */
	#remplissageMenu{ width:100%; background:#B4C6D4; min-height:44px;}		
	#menuFlux{width:984px; background:#005494; height:44px; border-left:5px solid #FFF; border-right:4px solid #FFF; border-top:1px solid #fff;margin:0 auto;}
	#menu {float:right; display:inline; padding:14px 10px 0 0; position:relative; z-index:2;}
	#menu ul{ display:inline; margin:0 0 0 6px; list-style-type:none;}
	#menu li{ float:left; font-size:15px; padding:0 5px; position:relative; height:30px;}
	
	.sous_menu{position:absolute; top:30px; left:-2px; display:none;width:132px;}
	.sous_menu1{display:block;width:335px; margin-left:25px;}
	.sous_menu1 a{margin-top:2px;}
	.sous_menu a{background:#fff;color:#fff;display:block;padding:5px 0 5px 4px;border-bottom:1px solid #fff;}
	.sous_menu a.offre{border-top:1px solid #fff;}
	.sous_menu a{color:#fff;}
	#menu ul li.MenuSep{ color:#fff;}
	/* Modification COULEUR TEXTE MENU */ 
	#menu a{ font-weight:bold;color:#fff; text-decoration:none;font-size:13px;}
	#menu a:hover{color:#B4C6D4;}		
/* Modification FLUX RSS */ 		
	#fluxRss{float:left; display:inline; padding:15px 25px 5px 0; }
	#fluxRss a{ background:url(../images/puce_rss.gif) 0 0 no-repeat; font-size:10px; text-decoration:underline; color:#FFF; margin:0 0 5px 10px; padding:1px 5px 6px 20px;}
	#fluxRss a:hover{ font-size:10px; text-decoration:none;color:#B4C6D4;}
	#fluxRss img{float:left; display:inline; vertical-align:middle;}


/* --------CONTENU SITE = ZONE DU MILIEU-------- */
/* Modification COULEUR ARRIERE PLAN CONTENU SITE */ 	
	#milieu{width:984px;padding:24px 0 3px 0px; min-height:250px;background:#fff; border-left:4px solid #fff; border-right:5px solid #fff;margin:0 auto; position:relative; z-index:1;}
	
/* Positionnement bandeau image */ 
	#blocGauche{float:left; width:715px;}		
	#blocdroite{float:left; width:203px;padding:0 0 0 50px;background:url(../images/fontTitreMoteur.gif) 0 -5px no-repeat;}		
	#visuel{padding:0 0 10px 0;}		
	
/* Modification COULEUR BORDURE IMAGE */ 		
	#visuel img{border:7px solid #B6C7D7;}
/* ----------- 3 COUPS DE COEUR ------------- */ 
	#coupCoeur{padding:0 0 15px 0; }

/*--------POSITIONNEMENT MINI MOTEUR-------- */ 
	.miniMoteur{position:relative;}		
/* Modification TITRE RECHERCHE */ 		
	.miniMoteur h2{font-size:18px; font-weight:bold; color:#0D60A4;padding:0 0 0 0;}
/* A NOTER !!!! Pour styliser les champs + bouton mini moteur VOIR == MINI_MOTEUR.CSS */ 


/* ----------- LISTE TRANSACTIONS AGENCE ------------- */ 
    .nbrTransaction{width:209px;height:265px;}
	#blocBas .nbrTransaction{padding:0 10px 0 0;}
/* Modification COULEUR "AUJOURD'HUI" */ 	
	#blocBas .nbrTransaction h3{font-size:13px;font-weight:bold;padding:1px 0;color:#0D60A4;}
/* Modification COULEUR TYPE TRANSACTION */ 	
	#blocBas .nbrTransaction h4{width:167px;font-weight:bold;font-size:13px;padding:10px 0 0 0;}
	#blocBas .nbrTransaction h4 a{width:167px;font-weight:bold;font-size:13px;color:#0D60A4;padding:10px 0 0 0;}
	#blocBas .nbrTransaction ul{list-style-type:none;margin:0 0 10px 3px; line-height:16px;}
/* Modification COULEUR TYPE DE BIEN */ 
	#blocBas .nbrTransaction ul *{font-size:11px;color:#0D60A4;}
	#blocBas .nbrTransaction ul a:hover{text-decoration:none;color:#686868;}

/*la page pieces a fournir*/
    
	#piece{width:600px;margin:0 auto;}
	#piece h2{font-size:12px;font-family:Arial, Verdana, Helvetica, sans-serif;padding:0 0 23px 0;width:412px;margin:0 auto;}
	#piece h2 span{padding:0 0 0 20px;}
	dl.dossier dt span{padding:0 0 0 110px;}
	#piece p{width:90px;margin:0 auto;padding:0 0 20px 0;font-size:12px;font-family:Arial, Verdana, Helvetica, sans-serif;font-weight:bold;}
	#piece b{font-size:12px;font-family:Arial, Verdana, Helvetica, sans-serif;font-weight:bold;padding:0 300px 10px 114px;}
	#piece strong{padding:0 0 10px 0;}
	
	dl.condidat,dl.cautionner{padding:0 0 40px 0;}
	dl.dossier{padding:0 0 20px 0;}
    dl.condidat dt,dl.cautionner dt{font-size:12px;font-family:Arial, Verdana, Helvetica, sans-serif;font-weight:bold;text-decoration:underline;padding:0 0 20px 11px;}
    dl.condidat dd.idem{padding:0 0 0 26px;font-weight:bold;}
	dl.condidat dd,dl.cautionner dd{font-size:12px;font-family:Arial, Verdana, Helvetica, sans-serif;padding:0 0 10px 11px;}	
    dl.condidat dd span,dl.cautionner dd span{margin:0 10px 0 0;}
	dl.dossier dt{width:395px;margin:0 auto;font-size:12px;font-family:Arial, Verdana, Helvetica, sans-serif;font-weight:bold;padding:0 0 20px 0;text-decoration:none;}
    dl.dossier dd{padding:0 0 10px 10px;}
	dl.dossier span.euro{margin:0 0 0 70px;}
	
/* -----------INCLUDE BAS------------- */ 

/* Modification COULEUR BANDE COORDONNEES */ 
	.CoordonneesAgence {font-size:12px; background:#005494; height:27px; text-align:center; padding-top:13px; color:#fff; font-weight:bold;}	
/* Modification BG footer portefeuille + menu secondaire */
	.footerPosition{background:#0162AF; position:relative;width:985px; border-left:4px solid #FFF; border-right:4px solid #FFF; padding-bottom:15px; margin:0 auto;}
	* html .footerPosition{width:986px; border-left:5px solid #FFF; border-right:3px solid #FFF; padding-bottom:15px; margin:0 auto;}
	.porteFeuille{float:left;width:632px;padding-left:8px;}
/* ARRIERE PLAN FOOTER */
	#footer{ background:#B4C6D4; margin:0 auto; padding:0 0 0 1px;}
	#cnxtag{display:none;}	
		
/* Modification couleur 2 TITRES FOOTER */ 
	#footer h4{font-size:11px;font-weight:bold;background:url(../images/puce.gif) 3px 1px no-repeat;padding:4px 0 1px 30px;margin:17px 0 0 0;line-height:19px;}
/* titre gauche : Notre portefeuille immobilier */
	#footer .porteFeuille h4{font-size:12px; color:#fff;}
/* titre droite : www.urldusite.com */
	#footer .menuSecondaire h4{font-size:12px; color:#fff;padding-left:32px;width:700px;}
	#footer .menuSecondaire a{}
	#footer .menuSecondaire a:hover{ text-decoration:underline;color:#B4C6D4;}		
/* Modification couleur LISTE DES VILLES */ 
	.porteFeuille .ListeVilles a:hover *{color:#B4C6D4;}
	.porteFeuille .ListeVilles{width:520px;text-align:justify;line-height:13px;border:0;color:#4595D4; padding:4px 0 0 5px;}
	.ListeVilles *{color:#4595D4; font-size:12px;font-weight:normal;}
	.ListeVilles a{color:#4595D4;text-decoration:none;}
	.ListeVilles a:hover{color:#B4C6D4;text-decoration:underline;}
   
/* Modification couleur MENU SECONDAIRE FOOTER (droite) */
	.menuSecondaire{float:left;width:975px;font-size:12px;color:#000;padding:0 0 0 10px;}
	.menuSecondaire p{padding:3px 0 0 5px; color:#4595D4; text-align:justify; width:972px}
	.menuSecondaire p a{font-size:11px;color:#4595D4;text-decoration:none;}
	.menuSecondaire p a:hover{font-size:11px;color:#B4C6D4 ;text-decoration:underline;}
	span.sepSep{ color:#4595D4;}



/* ----------------------------------------AUTRES PAGES DU SITE---------------------------------------- */

/* Page En Construction */
	#EnConstruction{margin-top:70px; text-align:center;}


/* PAGE PLAN DU SITE = incl_plan-site.htm */  
	.ul#Plan *{text-decoration: none; font-weight: bold;}
	ul#Plan{padding: 0 8em; width:400px; margin:0 auto;position:relative;top:-25px;}
	ul#Plan li.plan{ color:#0D60A4; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;border-bottom:none;}
	ul#Plan li.MenuSep{display:none;}
	ul#Plan li{padding: 0.2em 0; border:none;}
	ul#Plan .plan{padding: 0.2em 0;background:none;}
	ul#Plan li a{ background:none;color:#000;padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #0D60A4; text-transform:uppercase;}
	ul#Plan li a:hover{color:#FFF;padding-left:10px; height:19px;font-size: 12px; background:#686868 ;border:1px solid #000;}


/* Outils */
	.ul#Outils *{text-decoration: none; font-weight: bold;}
	ul#Outils{padding: 2em 8em; width:400px; margin:0 auto;}
	ul#Outils li.list{padding: 0.2em 0px;background:none; margin:2px 0; border:none;}
	ul#Outils li a{color:#000;padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #0D60A4 ; text-transform:uppercase;}
	ul#Outils li a:hover{color:#fff;padding-left:10px; height:19px;font-size: 12px;background:#686868;border: 1px solid #000;}
	#Outils li.titrePageOutils{ color:#0D60A4; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}
	#Outils a:hover{color:#0D60A4 ;}

/*PAGES ESTIMATION + CONTACT + MESSAGE == TABLEAUX FORMULAIRES*/
	.tabFond1{border-color:#00AA00; border-width:0; border-style:solid; padding:2px; font-family:Arial, Helvetica, sans-serif; width:100%;}
	 textarea {width:600px; height: 100px;border:1px solid #0D60A4;margin: 0 0 0 3px;}
	.tabFond2{border-color:#0D60A4; border-width:1px; border-style:solid; padding:2px; font-size:14px; font-family:Arial, Helvetica, sans-serif;}
	.tabTitre{background:#686868; color:#000; font-size:14px; font-weight: bold; font-family:Arial, Helvetica, sans-serif;height:25px;padding:3px; text-align:center; text-transform:uppercase;}
	.tabTitre *{color:#fff; font-size: 14px;}
	.tabPrint{color:#5C5E5D; font-size: 13px; font-family:Arial, Helvetica, sans-serif; border:1px solid #0D60A4;}
	.tabFond1 td input{margin:3px;border:1px solid #0D60A4 ;}
	.tabFond1 td input.BoutonFormRecherche{float:right;width:120px;height:25px;border:none;}
	select.imputForm{border:1px solid #0D60A4 ;margin:0 0 0 3px;}
	input.boutonEnvoi{float:right;width:120px;height:25px;}
	input.imputForm{border:1px solid #0D60A4;}
	.tabFond1 table{ width:100%;}
	strong.messageNomAgence,
	strong.estimationNomAgence{ color:#0D60A4; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase; display:block;}
	
/*Résolution Bug IE8 = donner une taille aux bouton pour éviter tout décallage*/
	.tabFond1 .boutonEnvoi {float:right;border:1px solid #fff;width:120px;height:25px; margin-right:-1px;}
	.tabFond1 .BoutonFormContact {float:right;border:0;width:120px;height:25px;margin-right:-1px;}
	.MoteurBouton input {float:right;width:120px;height:25px;}
	td #ChampsBouton input {float:right;margin-right:12px;width:120px;height:25px;}
	#AgenceContact form table#FormContact td#ChampsBouton input{width:120px;height:25px;}
	div.MoteurProximite span.Cp i a{color:#000;}
	
/*montion legal*/
     #MentionsLegales p.notaBene a.demandeInfos{color:#0D60A4;}
     #MentionsLegales p.notaBene a.demandeInfos:hover{color:#686868;}
/* coup de coeur*/
	* html .div-cdc{ height:260px;}
	.div-cdc{width:230px; min-height:260px;float:left; background:#B6C7D7; margin:0 4px 0 0; border:2px solid #B6C7D7;}
	.div-cdc *{ color:#000;}
	.div-cdc .photo-cdc img{width:220px;height:139px;background:url(../images/bg_Img_Cdc.gif);padding:5px 2px 3px 5px;}
	.div-cdc a span.ville-cdc{font-weight:bold;display:block; color:#0D60A4; }
	.div-cdc a span.ville-cdc a:hover{color:#686868;}
	.div-cdc .contenu-cdc a *{color:#0D60A4;font-weight:bold; text-transform:capitalize;}
	.div-cdc .contenu-cdc a:hover *{color:#686868;text-decoration:underline;}
	.div-cdc .typebien-cdc{}
	.div-cdc .contenu-cdc{padding:0 6px 4px 6px; color:#fff;}
	.div-cdc .contenu-cdc *{color:#5f768c;}
	.div-cdc .contenu-cdc a{ text-decoration:none;}
	.div-cdc .contenu-cdc a:hover{color:#686868; text-decoration:underline;}
	.div-cdc .descriptif-cdc{min-height:30px;color:#5f768c;}
	.surface-cdc{color:#5f768c;}
	* html .divc2c .descriptif-cdc{height:30px;}
	.div-cdc p.prix-cdc{font-weight:bold;font-size:14px; color:#0D60A4;}
 
 
/* Mentions Legales */
	#MentionsLegales{}
	#MentionsLegales h2 {display:block; width: 99%;background:#686868; font-size: 14px; color:#fff;font-weight: bold;letter-spacing: 0;padding:3px 0 3px 8px;margin: 10px 0;text-align: left;text-transform: none;font-family: Arial; text-transform: none;}
/*Recherche*/
    #RechHaut #RechHautCtn h2, #RechHaut #RechHautCtn h2 span#NbAnnSelection,
	#RechHaut #RechHautCtn h2 span,
	#RechHaut #RechHautCtn h1,
	#RechHaut #RechHautCtn h1 span,
	#RechercheContainer #AlerteEmail #AlerteEmailCtn h4{color:#0D60A4;}
	#RechercheContainer #AlerteEmail #AlerteForm input.alerte{border:1px solid #0D60A4 ;color:#000;}
	#RechercheContainer .dicoImmo a{color:#0D60A4;}
	#RechercheContainer .dicoImmo a:hover{color:#686868;}
	#RechHaut #RechHautCtn #RechHautLiens a:hover{color:#686868;}
	#RechResultat .blocAnnonce .detailAnn .ajoutSelection a:hover,
	#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .contactAnn a:hover,
	#RechercheContainer .RetourHaut a:hover,
	#RechResultat .blocAnnonce .detailAnn a.lienDetail:hover,
	#RechHaut #CalculetteFinanciere a{color:#0D60A4;}
	#RechHaut #CalculetteFinanciere a:hover{color:#686868;}
	#RechercheContainer a:hover{color:#0D60A4;}
	#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .metro_Ctn .metro{color:#fff;}
	#RechHaut #RechHautCtn #RechHautLiens a.rss:hover{color:#0D60A4;}
	#RechHaut #RechHautCtn #RechHautLiens a.rss{color:#686868;}
	#RechercheContainer #AlerteEmail #AlerteForm input.alerteBt{background:#0D60A4;}
	#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .prix,
	#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .ville,
	#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .libelle,
	#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .prix sup{color:#0D60A4;}
/*detail*/
	#DetailAnnonce #LiensRetour a{color:#0D60A4;}
	#DetailAnnonce #LiensRetour a:hover{color:#0D60A4;}
	#DetailAnnonce #Titre td#TypeTransaction,
	#DetailAnnonce #Titre td#Ref_Ctn{background:#0D60A4;}
	#AgenceContact td.detail_form_col2 {background:#fff;}
	#AgenceContact #CguFormulaire a,#DetailAnnonce .RetourHaut a,#RechHaut #RechHautCtn #RechHautLiens a{color:#0D60A4; text-decoration:underline;}
	#AgenceContact #CguFormulaire a:hover,#DetailAnnonce .RetourHaut a:hover{color:#686868;}
	#AgenceContact .coords_agence p.adresseAgence ,#AgenceContact .coords_agence p.faxAgence{color:#0D60A4;}
	#AgenceContact form table#FormContact td#ChampsNom input, #AgenceContact form table#FormContact td#ChampsPrenom input, #AgenceContact form table#FormContact td#ChampsTelephone input,
	#AgenceContact form table#FormContact td#ChampsEmail input,#AgenceContact form table#FormContact td#ChampsMessage textarea,#Annonce_Ctn table#InfosPrix td.infosVille .metro_Ctn em{color:#000;border:1px solid #0D60A4;}
	


