/* Generale */
*{ font-family:Verdana, Arial, Helvetica, sans-serif;  margin:0 auto;}
body{ background:url(../images/body_bg.gif) repeat-x #7F7F7F;}
img{ border:none;}
li{ list-style:none;}
p{}
a{ color:#000; text-decoration:underline;}
a:hover{ text-decoration:none;}

/* Classes */
.Clear{ clear:both;}


/* Globale */
#global{ position:relative;width:981px;}

/* Top > Adresse */
#top{ background:#E27E1C; height:10px;}
#top a{ color:#959595; text-decoration:underline;}
#top a:hover{ color:#FFFFFF;}
#top p{ display:none; float:left; margin:0 3px 0 0;}

/* Top > Marquee */
#top marquee { display:none; float:left; width:270px; font-size:10px;}
#top marquee a{ color:#959595; text-decoration:underline;}
#top marquee a:hover{ color:#FFF;}

/* Header */
#header #headerMenu{ background:#636363; float:left; width:276px; height:256px; border-right:2px solid #636363; font-family:Verdana, Arial, Helvetica, sans-serif; border-bottom:2px solid #4A4A4A;  border-top:2px solid #4A4A4A;}

#header{ clear:both; border-bottom:0px;}
#header #headerTop{color:#FFFFFF; font-weight:bold; padding:1px 0 0 0;}
* html #header #headerTop{margin:0 0 2px 0; height:100px;}
*+html #header #headerTop{margin:0 0 2px 0; height:130px;}

/* Header > Logo */
#header #headerTop #logoLeft{ position:relative;}
#header #headerTop #logoLeft img{ position:absolute; top:0; left:0;}

/* Header > Adresse */
#header #headerTop ul.logoCenter {margin:14px 10px 10px 10px;  text-align:right; font-size:11px; float:right; padding:14px 0;}
* html #header #headerTop ul.logoCenter{margin:12px 5px 10px 10px;}
#header #headerTop ul.logoCenter li{ line-height:15px;}
#header #headerTop ul.logoCenter li.HeaderLink{ margin:10px 0 0 0; float:right;}
#header #headerTop ul.logoCenter li a{color:#636363; display:block; background:#F0F0F0; border:1px solid #E27E1C; padding:3px 3px; text-decoration:none; text-transform:uppercase; width:270px; text-align:center; float:left;}
#header #headerTop ul.logoCenter li a:hover{color:#E27E1C; display:block; border:1px solid #E27E1C; background:#F0F0F0;}

/* Header > Onglet Mise-à-jour + Annonces */
#header #headerTop #logoRight { display:none;background:#f2f2f2; padding:0 10px 0 0; float:left; width:329px!important; width:328px; height:106px!important; height:110px;}
#header #headerTop #logoRight ul.logoAnnonces{ margin:13px 0 15px 0; text-align:right; font-size:10px; float:right;}
#header #headerTop #logoRight ul.logoAnnonces li{ line-height:12px;}
#header #headerTop #logoRight ul.logoAnnonces li a{ color:#363636;}
#header #headerTop #logoRight ul.logoAnnonces li a:hover{ text-decoration:underline;}


/* Header > Banniere */
#header #headerBanner{ float:left;}
#header #headerBanner img{ border-bottom:2px solid #4A4A4A;  border-top:2px solid #4A4A4A;}
* html #header #headerBanner{ height:250px;}
*+html #header #headerBanner{ height:250px;}

/* Global > Langues */
#langues{ display:none; position:absolute; top:118px; left:738px;}
* html #langues{ left:778px;}
#langues ul.langues{}
#langues ul.langues li{ display:inline;}


/* Menu */
#global #menu { position:absolute; top:150px; left:680px; font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; z-index:99999;}
* html #global #menu{ left:700px; top:150px;}
*+html #global #menu{ left:720px;}
#global #menu ul.menu{ float:right;}
#global #menu li{ margin:0 0 0 15px;}
* html #menu li{ margin:0; padding:0;}

#global #menu li.MenuSepClass{ margin:10px 0;}
* html #global #menu li.MenuSepClass{ margin:10px 0; text-align:center;}
#global #menu li.MenuSepClass img{width:227px;height:1px;}
#global #menu li a{color:#fff;font-weight:bolder; font-size:14px; padding:3px 0 0 10px;text-decoration:none; display:block;width:217px;height:20px}

#global #menu li a:hover{color:#E27E1E; background:#6B6B6B;}
* html #menu li a{ padding:0; text-decoration:none;}
* html #menu li a:hover{ padding:0px 0px;}

#headerMenu p.rubrique{ position:absolute; top:381px; left:720px; font-size:9px; color:#FFF; width:250px; text-align:right; z-index:99999;}
* html #header #headerMenu p.rubrique{ top:382px; left:722px; font-size:9px;}
#headerMenu p.rubrique span { color:#FFFFFF; text-decoration:underline; font-size:9px;}

/* Contenu */
#content{ background:#F0F0F0;}
* html #content{ margin:-4px 0 0 0;}
*+html #content{ background:#F1F1F1;}
#content p{font-size:11px;}

/* Contenu > ContentLeft */
#content #contentLeft{ width:424px; border-left:2px solid #F1F1F1; margin:0 2px 0 0; float:left; background:#F1F1F1; position:relative;top:0;}
* html #content #contentLeft{ background:#F1F1F1;}
#content #contentLeft h3{ border-top:4px solid #E36F00; background:#E27E1C; padding:8px 9px 14px 9px;margin:0 0 0 -2px; font-size:18px; font-weight:bolder; color:#FFFFFF; width:410px}
* html #content #contentLeft h3{position:relative; width:408px; border:none; border-top:4px solid #E36F00; margin-top:-1px;}
#conten #contentLeft p{}

/* Contenu > Coups de Coeur */
#content #contentLeft #CoupDeCoeur{ background:#F1F1F1; border:none;}
#content #contentLeft #CoupDeCoeur #div_C2C .divc2c{color:#787878; font-size:11px; background:#E3DCD6; padding:11px 4px 15px 4px;zoom:1; border-bottom:1px solid #F1F1F1; border-top:2px solid #F1F1F1; float:left; width:418px;}
* html #content #contentLeft #CoupDeCoeur #div_C2C .divc2c{ width:416px; border-bottom:1px solid #F1F1F1;}
#content #contentLeft #CoupDeCoeur #div_C2C .divc2c .PhotoCdc a img.photo_cdc{ width:180px; height:126px;border:1px solid #999999; float:left; margin:0 6px 0 0;}
#content #contentLeft #CoupDeCoeur #div_C2C .divc2c span.Sep{ background:#E27E1E; height:128px; width:8px; float:left; margin:0 6px 0 0;}
#content #contentLeft #CoupDeCoeur #div_C2C .divc2c  h4{line-height:20px;}
* html #content #contentLeft #CoupDeCoeur #div_C2C .divc2c  h4{ line-height:19px; }

#content #contentLeft #CoupDeCoeur #div_C2C .divc2c  p{color:#787878; font-size:11px; margin:0 0 3px 0;}
* html #content #contentLeft #CoupDeCoeur #div_C2C .divc2c  p{ margin:0 0 4px 0;}

#content #contentLeft #CoupDeCoeur #div_C2C .divc2c  p span{color:#787878; font-size:11px;}
#content #contentLeft #CoupDeCoeur #div_C2C .divc2c  span.price{ color:#787878; font-size:14px;}
#content #contentLeft #CoupDeCoeur #div_C2C .divc2c .donne  a ,#content #contentLeft #CoupDeCoeur #div_C2C .divc2c  a  span{ font-size:18px;color:#E27E1E; text-decoration:none;}
#content #contentLeft #CoupDeCoeur #div_C2C .divc2c .donne  a.sav{font-size:14px; color:#000; text-decoration:none;}
#content #contentLeft #CoupDeCoeur #div_C2C .divc2c .donne .DescriptifCdc{ font-family:Verdana, Arial, Helvetica, sans-serif; color:#000;}
#content #contentLeft #CoupDeCoeur #div_C2C .divc2c .donne  a.savoir{font:11px arial;margin:5px 0 0 0;color:#E27E1E;text-decoration:underline;}
#content #contentLeft #CoupDeCoeur #div_C2C .divc2c a:hover{text-decoration:none;}
#content #contentLeft #CoupDeCoeur #div_C2C .divc2c .donne{width:206px;float:left; min-height:130px;}

/* Contenu > ContentRight */
#content #contentRight{ float:left; width:553px; padding-bottom:10px; background:#F0F0F0;}
* html  #content #contentRight{ background:#F1F1F1; margin-top:-1px;}
*+html #global #content #contentRight{ background:#F1F1F1;}

/* Contenu > Search */
#content #contentRight #search{ height:241px; background:url(../images/photo_moteur.jpg) #F1F1F1 right no-repeat;}
* html #content #contentRight #search{ height:236px; background:url(../images/photo_moteur.jpg) #F1F1F1 right no-repeat;}

/* Contenu > Search  > Moteur */
#content #contentRight #search #moteur{ width:271px; float:left; margin:0 5px 0 0; padding:6px 0 0 4px;}
#content #contentRight #search #moteur a.plus{ color:#E27E1D; display:block; margin:-20px 0 0 0; padding:0 0 0 20px;}
#content #contentRight #search #moteur a.plus:hover{ color:#E27E1D; text-decoration:none;}
#content #contentRight #search #moteur h2{ font-weight:bolder; font-size:18px; padding:2px; margin:0 0 8px 4px; color:#DC007E;}
#content #contentRight #search #moteur h2 span.moteurNoir{ font-size:18px; color:#000;}

.boutonPad{margin:0 0 0 10px;}
#content #contentRight #search #moteur a{ height:37px; background:url(../img/bouton_noir.gif) no-repeat; padding:2px 11px 7px 16px; float:left; width:100px; text-decoration:underline;}
#content #contentRight #search #moteur a:hover{color:#FFF;background:url(../img/bouton_gris.gif) no-repeat; text-decoration:none;}


/* Contenu > Home */
#content #contentRight #home{padding:7px 0 7px 12px; background:#F1F1F1;}
*+html #global #content #contentRight #home{ background:#F1F1F1;}
#content #contentRight #home h3{ color:#DC007E; font-weight:bold; font-size:18px;}
#content #contentRight #home h3 span{ color:#7E7E7E; font-size:18px;}
#content #contentRight #home p{ font-size:11px; text-align:justify; margin:0 0 12px 0; padding:0 10px 0 0; line-height:20px;}
#content #contentRight #home p a{color:#86d40e; text-decoration:underline;}
#content #contentRight #home p a:hover{ text-decoration:none;}
#content #contentRight #home a.savoirPlus{background:#DB017C; padding:5px 4px; font-size:11px; float:right; color:#FFFFFF; font-weight:bold; text-decoration:underline; margin:0 10px 0 0;}
#content #contentRight #home a.savoirPlus:hover{ color:#FFF; text-decoration:none;}


/* Footer */
#footer{min-height:30px;  background:#E27E1C; border-top:4px solid #E36F00; padding:17px 10px 0 0; margin-top:1px;}
* html #footer {height:30px;} 

/* Footer > Portefeuille */
#footer #portefeuille { width:168px; float:left; margin:0 6px 0 0 ; color:#c8c7c7; display:none;}
/*
#footer #portefeuille h4{ font-size:12px; color:#fff; padding:0 0 10px 0; border-bottom:1px solid #c8c7c7; margin:0 0 14px 0;}
#footer #portefeuille ul{ margin:0 0 0 -40px!important; margin:0;}
#footer #portefeuille ul li{ color:#c8c7c7; font-size:11px; line-height:14px;}
#footer #portefeuille a{ text-decoration:none; color:#c8c7c7; text-decoration:underline;}
#footer #portefeuille a:hover{ color:#FFFFFF;}
*/

/* Footer > RSS */ 
#footer #rss{ width:306px; float:left; margin:0 6px 0 0; display:none;}
/*
#footer #rss h4{ font-size:12px; color:#fff; padding:0 0 10px 28px; border-bottom:1px solid #c8c7c7; margin:0 0 14px 0;}
#footer #rss ul{ margin:0 0 0 -40px!important; margin:0;}
#footer #rss ul li{ color:#c8c7c7; font-size:11px; line-height:14px!important; line-height:10px; margin:5px 0;}
#footer #rss ul li a{ display:block; text-decoration:none; color:#c8c7c7; text-decoration:underline; background:url(../images/footer_rss_plus.gif) left no-repeat; padding:5px 0 5px 32px; margin:0 0 0 25px;}
#footer #rss ul li a:hover{ color:#FFFFFF;}
*/

/* Footer > footerLinks */
#footer #footerLinks{width:540px; float:right; height:30px;}
#footer #footerLinks{ color:#999999;}
#footer #footerLinks ul{ font-size:11px; padding:0 0 11px 11px; margin:0 0 16px 0;}
* html #footer #footerLinks ul{margin:0 0 8px 0;}
#footer #footerLinks ul li{ color:#fff; display:inline; font-weight:bold; margin:0 3px;}
#footer #footerLinks ul li a{ color:#fff; text-decoration:none;}
#footer #footerLinks ul li a:hover{ text-decoration:underline;}
#footer #footerLinks .ListeVilles{ font-size:11px; color:#a2a2a2; text-align:justify; padding-left:11px;}
#footer #footerLinks .ListeVilles a{color:#a2a2a2; font-weight:lighter;}
* html #footer #footerLinks .ListeVilles a{ font-weight:lighter;}
#footer #footerLinks .ListeVilles a:hover{ color:#fff;}








/* Mentions Legales */
#content #MentionsLegales{ margin:0 auto;}
#content #MentionsLegales hr .n1{display:none;}
#content #MentionsLegales h2{ font-size:14px; background:#E27E1C; color:#F2F2F2; padding:2px 5px; text-transform:uppercase; border-top:3px solid #E36F00;}

/* Outils */
.ul#Plan *,.ul#Outils *{text-decoration: none; font-weight: bold; padding:100px; border:none;}
ul#Plan,ul#Outils{padding: 2em 25em;border-top:none; width:300px;}
ul#Plan li.planLi{ color:#262626;}
ul#Plan li,ul#Outils li.list{padding: 0.2em 0; border:none;}
ul#Plan li.plan{padding: 0.2em 0;color:#262626; border-bottom:none;}
ul#Plan li a,ul#Outils li a{color:#262626;padding-left:35px;height:19px;font-size: 12px;padding-top:6px;margin:0;background: url(../images/print_fleche-01.gif) 8px  no-repeat;}
ul#Plan li a:hover,ul#Outils li a:hover{color:#262626; padding-left:35px; height:19px;font-size: 12px; text-decoration:underline;}
ul#Plan .resultCtn .subListTitle{color:#262626;}

/* annonces dans carte visite agence */
#Annonces01 .ann_transac{color:#1E3B1A;}/*Agence immobiliere*/
#Portefeuille01 a.typeTransac {color:#1E3B1A;}
#CV h1{ border-top:3px solid #E36F00;background:#E27E1C; color:#FFF;}
#CV #CvFoot,#CV #CvFoot #Links{background:#E27E1C; color:#FFF;}
#CV #CvFoot #Links a,#CV #CvFoot #Links a.message,#CV #CvFoot #Links a.estimation{padding:3px 10px;border-right:1px solid #1E1E1E; color:#1E1E1E;}
#CV #CvFoot #Links a:hover{background:#1E1E1E; color:#A0DD42;}
#CV #Agence{background:#fff;}
#CV #Agence #Coordonnees *{color:#1E1E1E;}
#CV #Agence #Coordonnees label.cv_respag{display:none;}
#ListeAgencesImmobilieres .cadreAgence .coordsAgence p span.responsable{display:none;}
#CV .linkOut a{background: url(../images/puceAgence.gif) 3px 3px no-repeat; padding: 0 0 0 15px; margin:0 10px 0 0;}
#CV #Agence #Img_Ctn{background: url(../images/sans_photo_01.jpg) no-repeat #FECE94 2px 2px;}
#Portefeuille01 h3{color:#1E1E1E;}
#Portefeuille01 a.typeTransac{color:#1E1E1E;}
#Portefeuille01 a.typeBien{color:#1E1E1E;}
#Portefeuille01 a.typeBien .nbAnn{color:#1E1E1E;}

#Annonces01 .ann_descr span{color:#1E1E1E;}
#Annonces01 .ann_descr a{color:#1E1E1E;}
#Annonces01 .ann_ctn a.ann_pht:hover em span{color:#1E1E1E; text-decoration:underline;}

#CV p#TxtPublic { color:#1E1E1E; text-align:justify; font-size:11px; padding:5px 0;}
#CV #MentionCV { padding:10px;}
#CV #CvFoot #Links { border-right:none;}

#Edition{ margin-left:214px; width:745px; height:65px;}
#Edition h3{ font-weight:bold; text-decoration:underline; font-size:13px;}
#Edition ul{ margin:2px 0;}
#Edition ul li{ background:url(../images/print_fleche-01.gif) no-repeat left; padding:0 0 0 22px; margin:4px 0 2px 0;}
#Edition ul li a{ vertical-align:top;}

/* Estimation */
.tabFond1 { text-align:left; text-align:left;}
.tabFond1 td {}
.tabFond1 table { }
.tabTitre, .tabTitre *{ width:100%; background:#E27E1C; color:#F2F2F2; padding:3px 0; border-top:3px solid #E36F00;}
.tabTitre strong{color:#F2F2F2; font-size:14px; text-transform:uppercase;}
.messageNomAgence, .estimationNomAgence { font-size:18px; padding:10px 0; margin-bottom:10px; color:#DB017C;}

#CguFormulaire { padding:10px 50px;}
#CguFormulaire a {}
#CguFormulaire a:hover {}

textarea.imputForm, textarea.imputForm *{ height:100px; width:300px; font-size:11px; margin:0 auto;}
select.imputForm, select.imputForm *{ margin:0 auto; width:150px}
.boutonEnvoi, .BoutonFormContact{ background:none; border:none;}


/* Contact */
.tabFond1 #CguFormulaire a{ color:#6E071A; text-decoration:underline;}
.tabFond1 #CguFormulaire a:hover{ color:#FFFFFF;}

/* Moteur */
div,span{font-size: 11px;font-family: Arial, Helvetica, Verdana, sans-serif;}

/* Recherche */
#RechercheWrap{ padding:10px 20px;}
#RechercheWrap #RechercheContainer #RechResultat{ margin:auto; padding:0 0 0 80px;}
#RechResultat{ margin:0 auto;}
#RechResultat .blocAnnonce{ height:410px;}
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .prix { color:#EB0505;}
#RechResultat .blocAnnonce_wrap { width:360px; padding-bottom:100px; margin:15px 5px;}
* html #RechResultat .blocAnnonce_wrap {padding-bottom:0px; margin:5px}
#RechResultat .blocAnnonce_wrap .blocAnnonce{}
#RechResultat .blocAnnonce_wrap .detail {background:#FF007F;}
* html #RechResultat .blocAnnonce_wrap .detail {)background:#E36F00; height:16px;}
*+html #RechResultat .blocAnnonce_wrap .detail {)background:#E36F00; height:16px;}
#RechResultat .blocAnnonce_wrap .blocAnnonce .photo a{ width:348px; height:300px;}
#RechResultat .blocAnnonce_wrap .blocAnnonce .photo a img{ width:348px; height:300px;}
#RechResultat .blocAnnonce_wrap .blocAnnonce .descr{ width:320px; margin:auto;}
#RechResultat .blocAnnonce_wrap .blocAnnonce .descr p.prix{ color:#E36F00;}

/* Detail */
#content #DetailAnnonce{ margin:-14px 0 -10px 0;}
* html #content #DetailAnnonce{ margin-top:-1px;}
*+html #content #DetailAnnonce{ padding:8px 5px;}
/*Page partenaires*/
#partenaires h1{font-weight:bold; text-align:center; padding:10px 0; font-size:20px; color:#DB017C;}

