$$REM$$/*====================================================================
//// <summary>Fichier CSS À DÉMUTUALISER POUR CHAQUE SITE</summary>
//// <remarks>
//// <para>Pour plus de rapidité, intégrer les macros du fichier 'all_global_macros.css'</para>
//// </remarks>
//// <update date="2010-02-16" author="lisbonne.siriphol">Création</update>
====================================================================*/$$END$$

<!--#include virtual="styles/all_global_macros.htm" -->



#HeaderTxt p {color:#405DB9; font-size:12px;}
#PortefeuilleAccueil ul li a {color:#405DB9;}
.selectionDescr p {color:#405DB9;}
.selectionIndex_Ctn {height:275px;}

ul#Menu li a {font-weight:bold;}

#FilAriane span, #FilAriane * {color:#FFEC6C;}

#MoteurAccueil .titreParagraphe, #NouveautesAccueil .titreParagraphe span, #NouveautesAccueil .titreParagraphe a {color:#FFEC6C;}

/*moteur*/
#Moteur * {font-weight:bold;}
#Moteur .moteurTable ul li, #Moteur .moteurTable ul li strong {color:#405DB9;}
#Moteur p, #Moteur span, #Moteur .moteurTable .col2, #Moteur .moteurTable ul li#nb_pieces, #Moteur .moteurTable ul li#nb_chambres, #Moteur .moteurTable ul li#InputSurfaceTerrain {color:#FFEC6C;}
.miniTitre {font-weight:bold;}

/*recherche*/
.blocAnnonce {background:none;}
td.descrAnn_Ctn * {font-weight:bold;color:#FFEC6C;}
.descr {font-size:14px;}
td.contactAnn_ctn *, .contactAnn .nom, .contactAnn .ctc {color:#fff;}

/*detail */
#Annonce_Ctn td#ColonneGauche {background:none; border:none;}
#Annonce_Ctn td#ColonneDroite {background:#8D9FDC;}

/* outils*/
#Outils .accordion_content {background:#8D9FDC;}
#Outils h3 {background:#7089DC;}
.accordion_content .inputText {border:1px solid #FFFFFF;}

/*bouton*/

#MiniBouton .boutonSubmit {background:#FFEC6C; color:#152C78;}

#FooterBottom_Ctn {background:#FFEC6C;}
#Coordonnees * {color:#FFEC6C; font-weight:bold;}

/* agence */
#AgImmo_Ctn * {font-weight:bold; font-size:12px;}