// VAR COLORS
$color-body:#D3BE9E;
$color-content:#f3f3f3;
$color-block:#d3be9e;
$color-primary:#FFF;
$color-secondary:#88032d;
$color-action:#6F0014;
$color-important:#000;
$color-nav-footer:#6F0014;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#404040;