// VAR COLORS
$color-body:#fff;
$color-content:#fff;
$color-block:#fff;
$color-primary:#000;
$color-secondary:#000;
$color-action:#a80000;
$color-important:#a80000;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;