/* 20071010 by Lisbonne WebAgency SeLoger.com */
/* print_annonce.htm mutualise */

/*========= classes generales =========*/
*{font: 12px/normal arial,verdana,helvetica,serif; color: #000; margin:0; padding: 0; border: none;}
body{text-align: center; padding: 20px; background: url($$_$$images/bg_Body.gif);}
h1,h2,h3,h4,h5,h6{color: #901c2b; font-weight: bold;}
h1{font-size: 20px;}
h2{font-size: 18px;}
h3{font-size: 14px;}
h5{font-size: 11px;}
h6{font-size: 11px; border-bottom: 2px solid #aaaaaa; padding: 5px 0 3px 0; margin: 0 0 3px 0;}
span{font-size: 16px; color: #474747; font-weight: bold;}
ul, li{list-style: none;}
li{float: left; width: 190px;}
.clear{clear:both;}
.clearLeft{clear:left;}
.left{float: left;}
.right{float: right; text-align: right;}

/*========= top annonce =========*/
.idtt{color: #fff; padding: 3px 8px; background-color: #6e6e6e; font-weight: bold;}
.cdcExclu{color: #fff; padding: 3px 8px; margin: 0 0 0 5px; background: url(../images/print_fond-cdc.gif) 0 0 repeat-x #7d0000; font-weight: bold;}

/*========= conteneur annonce =========*/
#PrintAnnonce{width: 600px; padding: 2px; margin: auto; text-align: left; background: #fff; border: 1px solid #ccba0e;}
/* image max width: 600px */
#PrintAnnonce #BandeauPrint{margin: 0 0 2px 0;}

/*========= infos annonces =========*/
#PrintAnnonce #Ctn{border: 1px solid #ccba0e; padding: 10px;}
#PrintAnnonce #Ctn #InfosTop{border-top: 2px solid #dbe3e7; border-bottom: 2px solid #dbe3e7; padding: 5px 0; margin: 5px 0 10px 0;}

/*========= photos annonce =========*/
#PrintAnnonce #Ctn #Photo_Ctn{float: left; width:253px; background: #f4ec9e; border: none; padding: 5px;}
#PrintAnnonce #Ctn #Photo_Ctn img{width:253px;}
/* 8 photos suivantes */
#PrintAnnonce #Ctn #Photo_Ctn #MiniPhoto_Ctn{padding: 5px 0 0 0;}
#PrintAnnonce #Ctn #Photo_Ctn #MiniPhoto_Ctn img{width:60px; height: 45px;}

/*========= descriptif annonce =========*/
#PrintAnnonce #Ctn #Ctn_Annonce{float: right; width: 300px;}
#PrintAnnonce #Ctn #Ctn_Annonce #MajRef{background: #f4ec9e; padding: 5px;}
#PrintAnnonce #Ctn #Ctn_Annonce #Descriptif{text-align: justify; padding: 5px 0;}

/*========= infos complementaires =========*/
#PrintAnnonce #Ctn #InfosComp{margin: 5px 0;}

/*========= details agence =========*/
#PrintAnnonce #Ctn #DetailAgence{margin: 5px 0; padding: 5px 10px; border: 4px solid #ccba0e; background-color: #f4ec9e;}
#PrintAnnonce #Ctn #DetailAgence *{font-weight: bold; color: #2e2e2e; font-size: 12px;}

/*========= fiche visite =========*/
table, td{border-collapse: collpase; font-size: 11px;}
input.size1{width: 130px; border:1px solid #000; margin: 1px 0; height: 16px;}
input.size2{width: 450px; border:1px solid #000; margin: 1px 0; height: 16px;}
textarea{border:1px solid #000; margin: 1px 0; height: 50px; width: 450px;}
.td1{width: 170px; text-align: right; padding: 0 5px 0 0;}
.td2{padding: 0 15px 0 0;}

/*========= imprimer =========*/
#Imprimer{background: #9e9e9e; border: 1px solid #dbe3e7; padding: 5px; text-align: center;}
#Imprimer input{width: 200px; height: 30px; background: url($$_$$images/fd_btnprint.gif) no-repeat; font-size: 14px; color: #4f4d54; font-weight: bold; cursor: pointer; line-height: 30px; text-transform: uppercase; }<!-- ID3x v3.00 - X9 - 00.006.882 - none - 11/10/2007 14:02:04 - styles\print_annonce.css -->
