@font-face {
    font-family: 'osp-dindin';
    src: url('$$_$$styles/typos/osp-din-webfont.eot');
    src: url('$$_$$styles/typos/osp-din-webfont.eot?#iefix') format('embedded-opentype'),
         url('$$_$$styles/typos/osp-din-webfont.woff') format('woff'),
         url('$$_$$styles/typos/osp-din-webfont.ttf') format('truetype'),
         url('$$_$$styles/typos/osp-din-webfont.svg#osp-dindin') format('svg');
    font-weight: lighter;
    font-style: normal;

}

body { margin:0;padding:0; text-align:center; background: #fff;font-family: 'osp-dindin',Arial,sans-serif; }
div,td { font-family: 'osp-dindin',Arial,sans-serif;font-size:15px;color:#00763C;}
img { border:none;display:inline;}
table  { border-collapse:collapse;border-spacing:0;}
td, th { padding:0;}
form { padding:0;margin:0;}
input, select { vertical-align:middle;}
a { text-decoration:none; color:#00763c;}
a:hover { text-decoration: none; color: #b9c09f;}
p { margin:10px 0;font-family: 'Arial',sans-serif;}

.clear { clear:both;}
.fleft { float:left;}
.fright { float:right;}

.fonts { font-family: 'osp-dindin',Arial,sans-serif; }

/*================================================*/

.bloc-rs { position: fixed; top: 220px; left: 2px; }
.bloc-rs .pictos { width: 25px; height: 32px; overflow: hidden; display: block; background: url($$_$$images/pictos.gif) no-repeat; }
.bloc-rs .pic-fb { background-position: 0 0; }
.bloc-rs .pic-fb:hover { background-position: -25px 0; }
.bloc-rs .pic-tw { background-position: 0 -32px; }
.bloc-rs .pic-tw:hover { background-position: -25px -32px; }
.bloc-rs .pic-in { background-position: 0 -64px; }
.bloc-rs .pic-in:hover { background-position: -25px -64px; }
.bloc-rs .pic-p { background-position: 0 -96px; }
.bloc-rs .pic-p:hover { background-position: -25px -96px; }
.bloc-rs .pic-yt { background-position: 0 -128px; }
.bloc-rs .pic-yt:hover { background-position: -25px -128px; }
.bloc-rs .pic-gplus { background-position: 0 -160px; }
.bloc-rs .pic-gplus:hover { background-position: -25px -160px; }
.bloc-rs .pic-rss { background-position: 0 -192px; }
.bloc-rs .pic-rss:hover { background-position: -25px -192px; }

.backhome {background:#00763c; border-radius:3px; padding:5px 15px; color:#b9c0a0; font-size:20px;}

#wrapper { width: 100%; background: url($$_$$images/bg.gif) repeat-x /*#f3f0eb*/ #fff; }
#wrap { position: relative; width: 960px; text-align: left; margin: 0 auto; }

.link-top { height: 19px; text-align: right; font-size: 11px; color: #00763c; line-height:25px; }
.link-top > * {padding:0 3px;}
#NbAnnPanier { color: #b9c09f;}
.link-top img { vertical-align: middle; display: inline-block; }

.logo { height: 105px; overflow: hidden; }
.coords { font-size: 22px; padding-top: 12px; text-align:right; line-height:26px; color:#B9C09F;}
.coords span { color: #00763c; }

.mn { position: relative; z-index: 999; margin: 16px 0 7px 0; height:47px; }
.mn ul { margin: 0; padding: 0; text-align:center;}
.mn ul li { display:inline-block; list-style: none; position:relative;}
.ie7 .mn ul li {display:inline; zoom:1;}
.mn ul li a { position: relative; font-size: 24px; text-transform: uppercase; display: block; padding: 15px 65px; color: #b9c09f; }
.mn ul li a:hover, .mn ul li:hover > a { color: #00763c;}
.mn ul li ul {left:0; right:0; display: none; position: absolute; background: #fff; top:55px; padding: 5px 0; z-index: 999; -webkit-box-shadow: 0 1px 1px 1px #b9c09f;  -moz-box-shadow: 0 1px 1px 1px #b9c09f; box-shadow: 0 1px 1px 1px #b9c09f; text-align:left; white-space:nowrap;}
.ie7 .mn ul li ul, .ie8 .mn ul li ul {border-left:1px solid #b9c09f; border-right:1px solid #b9c09f; border-bottom:1px solid #b9c09f;}
.mn ul li:hover ul { display: block; }
.mn ul li ul li {display:block; height: 25px; border-bottom: 1px solid #b9c09f; margin: 0 20px; padding: 5px 0; }
.ie7 .mn ul li ul li {display:block;}
.mn ul li ul li a { text-transform: none; text-align: left; font-size: 20px; line-height: 25px; color: #b9c09f; padding: 0 0 0 8px; }
.mn ul li ul li a:hover { color: #00763c; }

.mn ul li:hover ul li ul{ display: none; position: absolute; background: #fff; top:0px; right:-210px;padding: 5px 0; z-index: 999; -webkit-box-shadow: 0 1px 1px 1px #b9c09f;  -moz-box-shadow: 0 1px 1px 1px #b9c09f; box-shadow: 0 1px 1px 1px #b9c09f; text-align:left;}
.ie7 .mn ul li ul li ul, .ie8 .mn ul li ul li ul{border-left:1px solid #b9c09f; border-right:1px solid #b9c09f; border-bottom:1px solid #b9c09f;}
.mn ul li ul li:hover ul{ display: block; }

.mn ul li ul li ul li {width:200px;}



#navigue { padding:100px 0 15px 0; min-height: 450px; }
#navigue h1 {font-size:35px;}
#navigue h2 {font-size:25px;}

#navigue ul li {font-family: 'Arial',sans-serif;}

#txt-index h1 {font-size:15px;font-family: 'Arial',sans-serif;}
#txt-index p.small {font-size:12px; font-style:italic;color:#B9C0A0;}

/*slides*/
#flash { width: 960px; height: 420px; position: relative; margin-bottom: 5px; }
#flash #slides .slides_container { width:960px; height:420px; display:none; }
#flash #slides .slides_container .bloc-slide { width:960px; height:420px; display:block; position: relative; }
#flash .pagination { display: block; margin:5px 0 0 0; text-align:center; padding-left:0;}
#flash .pagination li { list-style: none; display:inline-block; margin:0 5px;}
.ie7 #flash .pagination li {display:inline; zoom:1; }
#flash .pagination a { background: url($$_$$images/arrow.gif) no-repeat; display: block; width: 7px; height: 6px; overflow: hidden; font-size: 0; }
#flash .pagination .current a { background-position: 0 -6px; }
#slides {position:absolute; top:0;}
#flash .prev, #flash .next { display: none; }
#flash #slides .slides_container .bloc-slide .txt-g { position: absolute; top: 363px; left:8px; color: #fff; text-transform: none; font-size:48px; text-shadow: 0 0 5px #000; }
#flash #slides .slides_container .bloc-slide .txt-g span { text-transform: none; }
#flash #slides .slides_container .bloc-slide .txt-p { position: absolute; top: 390px; right: 50px; color: #00763c; font-size: 22px; }
#flash #slides .slides_container .bloc-slide .txt-p.white_txt {color:#fff;}
/*fin slides*/




/* BLOC MOTEUR */
#Nav_Moteur {position:absolute;z-index:10;width:960px;height:72px;background:url('$$_$$images/degrade_moteur.png') no-repeat;padding:0;margin:0;left:0;}
#Nav_Moteur h1 {margin:15px 0 0 15px;padding:0;font-size:18px;color:#2c2c2c; font-weight:normal;}
#Nav_Moteur h1 span {font-size:9px;font-style:italic;color:#787878;}
	/* SEARCH */
#Mini_Moteur 	.blocMoteur {position:relative;z-index:100;display:block;height:50px;margin:0 0 0 0;padding:0;}
	#Mini_Moteur .loupeSearch {float:left;display:block;background:url('$$_$$images/loupe_search.png');width:34px;height:42px;margin:4px 8px 0 15px;}
	#Mini_Moteur .blocSelectSearch {float:left;position:relative;margin:24px 0 0 15px;}
	#Mini_Moteur .marg-select { margin-left: 37px; }
	#Mini_Moteur .blocSelectSearch select { -webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;border:1px solid #b9bcbe;background:#fff; width: 205px; height: 30px;font-size:13px;color:#00763C; padding: 5px;}
	#Mini_Moteur .btnSearch {float:left;display:block;width:213px;height:38px;background:url('$$_$$images/btn_rechercher_$$FORM:LANG$$.gif') no-repeat;background-position:0 0;margin:24px 0 0 15px;}

/* MORE CRITERES */
.moreCriteres {position:relative;z-index:8;margin:0 auto;background:url('$$_$$images/bg_criteres.png') no-repeat;width:700px;top:70px;left:135px;background-position:center bottom;}
.moteurCriteres {background:#fff;position:relative;margin:0 0 0 1px;padding:20px 5px 0 5px;display:none;}



.plusCriteres {position:relative;width:135px;background:url('$$_$$images/fleche_criteres.png') no-repeat;background-position:0 center;margin:0 auto;padding:10px 0 10px 25px;font-size:14px;font-style:italic;font-weight: normal;color:#00763c;text-decoration:none;}
.plusCriteres a {text-decoration:none;color:#00763c;text-decoration:none;}
/*fin criteres*/

.bg-btn { margin-top: 25px; width: 190px; height: 203px; background: url($$_$$images/bg_btn.png) no-repeat; }
.btn { padding-top: 35px; }
.btn ul { margin: 0; padding: 0; }
.btn li { list-style-type: none; position: relative; display: block; }
.btn a { display: block; height: 48px; background-repeat: no-repeat; }
.btn a:hover { position: relative; display: block; background-position: 0 -48px; }

#mer, #camp { display: none; }

#menu-new,#menu-mer, #menu-camp {height:60px;display: block; color: #fff; font-size: 24px; text-indent: 20px; line-height: 60px;letter-spacing:2px;}
.en #menu-new, .en #menu-mer, .en #menu-camp {font-size:21px;}
#menu-new { background: url($$_$$images/bg_onglet.png) no-repeat ; }
#menu-mer, #menu-camp { background: url($$_$$images/bg_onglet.png) no-repeat 0 -48px; }

.bloc-cdc {height: 200px; margin-top:30px; }

.bloc { width: 235px; padding-top: 18px; }
.bloc + .bloc {margin-left:6px;}
.marg-left  { margin-left: 30px; }
.ttl-bloc { font-size: 22px; color: #00763c; }
.ttl-bloc span { letter-spacing: -5px; }

.bg_bloc {background:#b9c09f; height: 80px; padding: 10px; width: 210px;}
.bg_bloc:hover { background:#00763c; }
.txt_bloc {font-size: 14px; color: #fff; }


.bg-footer { width: 100%;  text-align: center; margin-top: -10px; padding: 10px 0 50px 0; }
#wrap_footer  span { color: #b9c09f; }
#wrap_footer {width:960px; margin:0 auto; font-size: 15px; color: #00763c; position:relative;font-family: 'Arial',sans-serif;}

.logo_fnaim {position:absolute; top:2px; left:57px;}
.logo_fephs {position:absolute; top:2px; right:82px;}
.mobile {position:absolute; top:65px; left:400px; text-align:left; line-height:24px;}
.mobile img {float:left; margin-right:5px;}
#wrap_footer .mobile span {color:#00763C;}
/* RETOUR HAUT */
.retourHaut { float:right;margin:5px 0 0 0;padding:0;font-size:11px;font-weight:bold; }
.retourHaut a { text-decoration:none; }

/*====== Add CSS =====*/
.ttl-page { text-transform: uppercase; font-size: 24px; margin-bottom: 10px; color: #00763c; display:none;}
#navigue .boutonComparaison, #navigue .boutonTout {background:#B9C0A0; color:#00763C;}
#navigue .boutonComparaison:hover, #navigue .boutonTout:hover {background:#a5ae86;}
#filAriane, #filAriane a {color:#B9C09F;}


/*====== Modif listing annonce =====*/

.blocSurfaceDetails, .quartier  {display:none;}

.infoprix img  {display:none;}

#RechHautV2 .ulLeft li.recherche-biens-vendus{display: none;}

