@import "color";
// BG SOLO
$bg-uni: yes;

// PICTURE BG OU DEGRADE CSS BG COLOR PRIMARY vs SECONDARY vs BLOCK > SI NO ALL = BG BODY UNI
$picture-bg: no;
$picture-bg-url: "../images/dark_wall.png";
$picture-bg-repeat-horizontal: no;

// SIZE SCROLLING
$height-scrolling: 300;

// SIZE NAVIGATION
$height-navigation: 0;

// VAR SITE TYPO
//$font-body: "Roboto", Arial, sans-serif;
//$font-title: "Roboto", Arial, sans-serif;
$font-body: "Verdana", sans-serif;
$font-title: "Helvetica Neue",Helvetica,Arial,sans-serif;

$font-icon: "icomoon";

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text: 1.6em;
$font-size-title: 1.6em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title: uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title: 700;

// ARRONDI POUR LES EFFETS SUR LI > A:HOVER/FIL ARIANE/BOUTON
$arrondi: no;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT TEMPLATE
@import "../../../slagence_X_V5/sources/scss/templates/helsinki";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";

// IMPORT MODULE SOUS MENU
@import "../../../slagence_X_V5/sources/scss/sous_menu/lib1";

// IMPORT ICON PERSO
@import "../fonts/icomoon/style.css";


/* ==========================================================================
== VARIABLES ==
========================================================================== */

$wrapsize: 1170px;


/* ==========================================================================
== GLOBAL ==
========================================================================== */

.container {
    width: auto;
    max-width: $wrapsize;
    @media only screen and (max-width : ($wrapsize + 30px)) {
        padding-right: 15px;
        padding-left: 15px;
    }
}

h1 {
    color: $color-action;
}
h2 {
    color: $color-vente;
}
.jaune{
    color: $color-location;
}
.vert {
    color: $color-vert;
}
.bleu {
    color: $color-vente;
}
.mauve {
    color: $color-deco-01;
}

a {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    &:focus,
    &:hover,
    &:active {
        text-decoration: none;
    }
}

.size-picture-container {
    height: 100%;
}

.row-table {
    display: table;
    width: 100%;
    height: 100%;
    table-layout: fixed;
    &:before,
    &:after {
        content: none;
    }
    @media (max-width:767px) {
        display: block;
    }
     > [class*="span"] {
        display: table-cell;
        float: none;
        height: 100%;
        margin-left: 0;
        padding-left: 2.127659574468085%;
        vertical-align: top;
        background-clip: content-box;
        &:first-child {
            padding-left: 0;
        }
        &.align-mid {
            vertical-align: middle;
        }
        @media (max-width:767px) {
            padding-left: 0;
        }
    }
}

.mandat-banner {
    position: relative;
    display: block;
    max-width: 728px;
    height: 90px;
    margin: 0 auto;
    padding-right: 50px;
    color: $color-font-body;
    background: url("../images/pub/bg-mandat.gif") center center no-repeat;
    font-size: 1.25em;
    line-height: 90px;
    text-align: right;
    text-transform: uppercase;
    strong {
        color: $color-action2;
        -webkit-transition: color .3s ease;
        transition: color .3s ease;
    }
    &:focus,
    &:hover,
    &:active {
        color: $color-font-body;
        strong {
            color: $color-font-body;
        }
    }
}

.has-deco {
    position: relative;
    &:before {
        position: absolute;
        width: 100%;
        max-width: $wrapsize;
        height: 4px;
        top: 0;
        right: 0;
        left: 0;
        content: "";
        margin: 0 auto;
        background: $color-deco-01;
        background: -moz-linear-gradient(left, $color-deco-01 0%, $color-deco-01 25%, $color-deco-02 25%, $color-deco-02 50%, $color-deco-03 50%, $color-deco-03 75%, $color-deco-04 75%, $color-deco-04 100%);
        background: -webkit-linear-gradient(left, $color-deco-01 0%,$color-deco-01 25%,$color-deco-02 25%,$color-deco-02 50%,$color-deco-03 50%,$color-deco-03 75%,$color-deco-04 75%,$color-deco-04 100%);
        background: linear-gradient(to right, $color-deco-01 0%,$color-deco-01 25%,$color-deco-02 25%,$color-deco-02 50%,$color-deco-03 50%,$color-deco-03 75%,$color-deco-04 75%,$color-deco-04 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-deco-01', endColorstr='$color-deco-04',GradientType=1 );
    }
}

.list-icons {
    color: $color-font-body;
    li + li {
        margin-top: 25px;
    }
    [class*="aito-icon-"] {
        margin-right: 5px;
        vertical-align: middle;
        color: $color-light;
        font-size: 1.5em;
    }
}

.list-links {
    li + li {
        border-top: 1px solid $color-light;
    }
    a {
        display: block;
        padding: 5px 0;
    }
}

a.social-item {
    display: inline-block;
    padding: 8px 3px;
    &:focus,
    &:hover,
    &:active {
        color: $color-action;
    }
}

.align-textop {
    vertical-align: text-top;
}

.bg-form {
    margin-top: 15px;
    padding: 20px;
    border: 8px solid lighten($color-light,15);
    background-color: $color-primary;
    -webkit-box-shadow: 0 0 15px 0 rgba($color-black,.08);
    box-shadow: 0 0 15px 0 rgba($color-black,.08);
}

dd {
    margin: 0;
}



/* ==========================================================================
== FORMS ==
========================================================================== */

select,
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    height: auto;
    padding: 8px;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    &:focus {
        border-color: $color-action;
        outline: none;
    }
}

input[type="checkbox"] {
    margin-top: 6px;
    &:focus {
        border-color: $color-action;
        outline: none;
    }
}



/* ==========================================================================
== BOUTONS ==
========================================================================== */

.btn {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    vertical-align: middle;
    border: 0;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
    &:hover {
        text-decoration: none;
    }
     + .btn {
        margin: 0;
    }
}

@mixin btn-theme($colorbtn) {
    background-color: $colorbtn;

    @include lightnessColor($colorbtn,no);
    &:focus,
    &:hover,
    &:active {
        background-color: darken($colorbtn,8);

        @include lightnessColor($colorbtn,no);
    }
}
.btn-action {
    @include btn-theme($color-action);
}
.btn-action2 {
    @include btn-theme($color-action2);
}
.btn-important {
    @include btn-theme($color-important);
}
.btn-neutre {
    @include btn-theme($color-nav-footer);
}
.btn-disabled {
    @include btn-theme($color-secondary);
    &.is-active {
        @include btn-theme($color-important);
    }
}
.btn-vente {
    @include btn-theme($color-secondary);
    &.is-active {
        @include btn-theme($color-vente);
    }
}
.btn-location {
    @include btn-theme($color-secondary);
    &.is-active {
        @include btn-theme($color-location);
    }
}
.btn-neuf {
    @include btn-theme($color-secondary);
    &.is-active {
        @include btn-theme($color-neuf);
    }
}

.btn-vert {
    @include btn-theme($color-vert);
}
.btn-jaune {
    @include btn-theme($color-deco-02);
}
.btn-mauve {
    @include btn-theme($color-neuf);
}
.btn-bleu {
    @include btn-theme($color-vente);
}

.btn-block {
    display: block;
    width: 100%;
     + .btn-block {
        margin-top: 5px;
    }
}



/* ==========================================================================
== HEADER ==
========================================================================== */

.header {
    border-top: 4px solid $color-action;
    background-color: $color-primary;
}

.header-top {
    [class*="aito-icon-"] {
        color: $color-light;
        font-size: 1.25em;
        -webkit-transition: color .3s ease;
        transition: color .3s ease;
    }
}

.header-tools {
    text-align: right;
}
.header-tools-item {
    display: inline-block;
    padding: 7px 10px;
    vertical-align: middle;
    color: $color-font-body;
    [class*="aito-icon-"],
    span {
        vertical-align: middle;
    }
    &:focus,
    &:hover,
    &:active {
        color: $color-action;
        [class*="aito-icon-"] {
            color: $color-action;
        }
    }
    &:last-child {
        padding-right: 0;
    }
}

.header-main {
    padding-top: 10px;
    padding-bottom: 10px;
}



/* ==========================================================================
== SWITCHER DEVISE ==
========================================================================== */

.currency {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
}
.currency-label {
    position: absolute;
    top: -1px;
    right: 0;
    bottom: 0;
    left: 0;
    &:before {
        position: relative;
        float: right;
        z-index: 50;
        content: "XPF";
        margin-top: 3px;
        margin-right: 8px;
        color: $color-primary;
        font-size: .85em;
    }
    &:after {
        content: ">";
    }
}
input.currency-checkbox {
    position: relative;
    width: 80px;
    height: 25px;
    z-index: 5;
    margin: 0;
    background-color: $color-primary;
    -webkit-box-shadow: inset -40px 0 0 $color-font-body, inset 0 0 0 1px $color-font-body;
    box-shadow: inset -40px 0 0 $color-font-body, inset 0 0 0 1px $color-font-body;
    line-height: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: box-shadow .15s;
    -webkit-transition: -webkit-box-shadow .15s;
    transition: -webkit-box-shadow .15s;
    transition: box-shadow .15s;
    transition: box-shadow .15s, -webkit-box-shadow .15s;
    &::-ms-check {
        display: none;
    }
    &:focus {
        outline: none;
    }
    &:checked {
        -webkit-box-shadow: inset 40px 0 0 $color-action, inset 0 0 0 1px $color-action;
        box-shadow: inset 40px 0 0 $color-action, inset 0 0 0 1px $color-action;
         + .currency-label:before {
            float: left;
            content: "\20AC";
            margin-top: 2px;
            margin-left: 15px;
            font-size: 1.15em;
        }
    }
}



/* ==========================================================================
== MENU ==
========================================================================== */

.menu-principal {
    height: auto;
    margin-top: 30px;
    font-size: 1em;
    font-weight: normal;
    line-height: normal;
    text-align: right;
     > li {
         > a {
            padding: 10px 20px;
            line-height: normal;
            &:focus,
            &:hover,
            &:active {
                color: $color-action;
            }
            &.menu-sub-on {
                color: $color-primary;
                -webkit-transition: none;
                transition: none;
            }
        }
        &:focus,
        &:hover,
        &:active {
            background-color: transparent;
        }
        &:last-child a {
            padding-right: 0;
        }
        &.menu-sub-container > a {
            padding-right: 10px;
        }
    }
}

.menu-sub-container {
    position: relative;
     > a:after {
        content: "\e5c5";
        font-family: $font-icon;
    }
}
.menu-sub {
    right: 0;
    left: 0;
}

.btn-navbar {
    padding: 25px;
    color: $color-font-body;
    border: 0;
    background: none;
    filter: none;
    text-shadow: 0;
    font-size: 1.6em;

    -webkit-filter: none;
    [class*="aito-icon-"] {
        display: block;
    }
    &:focus,
    &:hover,
    &:active {
        color: $color-action;
    }
}

.menu-responsive {
    display: none;
    &.in {
        display: block;
    }
}



/* ==========================================================================
== HOMEPAGE ==
========================================================================== */

.aside-ttl {
    font-size: 2.25em;
    text-align: center;
    text-transform: uppercase;
}

.aside-content {
    position: relative;
    z-index: 2;
}

.aside-slider {
    position: relative;
    overflow: hidden;
    padding: 100px 0;
    text-align: center;
    .carousel {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        .owl-stage-outer,
        .owl-stage,
        .owl-item,
        .carousel-item {
            height: 100%;
        }
    }
    .carousel-item {
        width: 100%;
        background-repeat: no-repeat;
        background-position: center left;
        background-size: cover;
    }
}

.aside-moteur {
    padding: 50px 0;
}

.aside-mandat {
    padding: 20px 0;
    background-color: $color-secondary;
}

.aside-estimation {
    position: relative;
    background: url("../images/pub/bg-estimation.jpg") center bottom no-repeat;
    background-size: cover;
     > .container {
        padding-top: 90px;
        padding-bottom: 90px;
    }
    .aside-ttl {
        color: $color-primary;
    }
    .estimation-deco {
        position: absolute;
        right: 50px;
        bottom: -30px;
        z-index: 1;
    }
}

.aside-module {
     > .container {
        overflow: hidden;
        padding-top: 90px;
        padding-bottom: 90px;
    }
}

.aside-txthome {
    background: url("../images/pub/bg-txthome.jpg") center center no-repeat;
    background-size: cover;
     > .container {
        padding-top: 90px;
        padding-bottom: 90px;
    }
}

.aside-blog {
     > .container {
        padding-top: 90px;
        padding-bottom: 90px;
    }
}



/* ==========================================================================
== MOTEUR ==
========================================================================== */

.moteur-avantage {
    padding: 10px 25px;
    border: 8px solid lighten($color-light,15);
    background-color: $color-primary;
    -webkit-box-shadow: 0 0 15px 0 rgba($color-black,.08);
    box-shadow: 0 0 15px 0 rgba($color-black,.08);
    select,
    input[type="text"],
    input[type="checkbox"] {
        position: relative;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        &:focus {
            outline: none;
        }
    }
    select,
    input[type="text"] {
        width: 100%;
        height: auto;
        padding: 8px 16px;
        border-color: $color-action;
        border-radius: 0;
        line-height: normal;
        -webkit-transition: border-color .3s ease;
        transition: border-color .3s ease;
        &:focus {
            border-color: $color-font-body;
        }
    }
    input[type="checkbox"] {
        width: 15px;
        height: 15px;
        margin-top: 0;
        margin-right: 5px;
        cursor: pointer;
        vertical-align: text-top;
        background-color: $color-primary;
        -webkit-box-shadow: inset 0 0 0 1px $color-light;
        box-shadow: inset 0 0 0 1px $color-light;
        -webkit-transition: background-color .15s;
        transition: background-color .15s;
        &:checked {
            background-color: $color-action;
            background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTYuNCwxTDUuNywxLjdMMi45LDQuNUwyLjEsMy43TDEuNCwzTDAsNC40bDAuNywwLjdsMS41LDEuNWwwLjcsMC43bDAuNy0wLjdsMy41LTMuNWwwLjctMC43TDYuNCwxTDYuNCwxeiINCgkvPg0KPC9zdmc+DQo=);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 65% 65%;
            -webkit-box-shadow: inset 0 0 0 1px $color-action;
            box-shadow: inset 0 0 0 1px $color-action;
        }
        &::-ms-check {
            display: none;
        }
    }
    .control-group {
        margin-bottom: 20px;
        white-space: initial;
    }
}

.moteur-toggle {
    display: none;
    padding: 15px;
    color: $color-font-body;
    font-size: 1.05em;
    text-align: center;
}

.Mini_Transaction,
.Mini_Biens {
    position: relative;
    margin-bottom: 20px;
    font-size: .8em;
    &:before {
        position: absolute;
        left: 13px;
        z-index: 5;
        color: $color-light;
        font-family: $font-icon;
        font-size: 1.4em;
        line-height: 50px;
    }
    &:after {
        position: absolute;
        width: 23px;
        height: 48px;
        top: 1px;
        right: 1px;
        content: "\e5c5";
        margin: auto;
        pointer-events: none;
        background-color: $color-secondary;
        font-family: $font-icon;
        font-size: 1.4em;
        line-height: 45px;
        text-align: center;
    }
    .control-group {
        margin-bottom: 0;
    }
    select {
        height: 50px;
        padding: 0 25px 0 40px;
        line-height: 50px;
        text-transform: uppercase;
        font-size: 1rem;
        option {
            text-transform: none;
        }
        &::-ms-expand {
            display: none;
        }
    }
}
.Mini_Ref .control-group {
        margin-bottom: 16px;
}
.Mini_Transaction {
    &:before {
        content: "\e901";
    }
}
.Mini_Biens {
    &:before {
        content: "\e900";
    }
}

.Mini_Localisation {
    label {
        font-size: .8em;
    }
    svg .mini-maparea {
        cursor: pointer;
        path,
        text {
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
        }
        &.is-active {
            path {
                fill: $color-action;
            }
            &[data-zone="04"] {
                text {
                    fill: $color-primary;
                }
            }
        }
    }
}

.minimoteur-slider-range {
    .ui-slider-horizontal {
        height: 4px;
        margin-top: 15px;
        border: 0;
        background-color: $color-light;
        .ui-slider-handle {
            top: -7px;
            cursor: pointer;
            border-radius: 50%;
            &.ui-state-active {
                border: 0;
                background-color: $color-action;
            }
        }
        .ui-widget-header {
            background-color: $color-action;
        }
    }
}



/* ==========================================================================
== EXTRA ==
========================================================================== */

.extra {
    height: 100%;
    max-height: 523px;
    .owl-stage-outer,
    .owl-stage,
    .owl-item,
    .extra-item {
        height: 523px;
    }
    .owl-nav {
        position: absolute;
        width: 100%;
        top: 40%;
         > * {
            display: inline-block;
            padding: 5px 0;
            cursor: pointer;
            color: $color-primary;
            background-color: rgba($color-black,.5);
            font-size: 2em;
            -webkit-transition: background-color .3s ease;
            transition: background-color .3s ease;
            &.owl-prev {
                float: left;
            }
            &.owl-next {
                float: right;
                margin-right: 1px;
            }
            &:focus,
            &:hover,
            &:active {
                background-color: rgba($color-black,.8);
            }
        }
    }
}

.extra-item {
    position: relative;
    display: block;
    color: $color-primary;
    &:focus,
    &:hover,
    &:active {
        color: $color-primary;
        .extra-bar {
            background-color: darken($color-vente,10);
        }
    }
}

.extra-img {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 465px;
}

.extra-content {

}

.extra-bar {
    padding: 5px 20px;
    background-color: $color-vente;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
}
.extra-typetransaction {
    display: block;
    font-size: 1.25em;
    text-transform: uppercase;
}
.extra-prix {
    float: right;
    font-size: 1.25em;
}

.extra-exclu {
    position: absolute;
    display: none;
    right: 20px;
    bottom: 100px;
    font-size: 11rem;
}
.extra-cdc {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 5rem;
}



/* ==========================================================================
== MODULE ==
========================================================================== */

.module-header {
    overflow: hidden;
    margin-bottom: 50px;
}
.module-ttl {
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 4px solid $color-important;
    font-size: 1.875em;
}
.module-nav {
    float: right;
}

.module {
    display: none;
    margin: 0 -10px;
    &.is-active {
        display: block;
        width: auto;
    }
    &:after {
        display: table;
        clear: both;
        content: "";
    }
    .owl-nav {
        position: absolute;
        width: 100%;
        top: 27%;
         > * {
            display: inline-block;
            padding: 5px 0;
            cursor: pointer;
            color: $color-primary;
            background-color: rgba($color-black,.5);
            font-size: 2em;
            -webkit-transition: background-color .3s ease;
            transition: background-color .3s ease;
            &.owl-prev {
                float: left;
                margin-left: 10px;
            }
            &.owl-next {
                float: right;
                margin-right: 10px;
            }
            &:focus,
            &:hover,
            &:active {
                background-color: rgba($color-black,.8);
            }
        }
    }
}

.module-row {
     + .module-row {
        margin-top: 35px;
    }
}

.module-item {
    float: left;
    width: 33.33%;
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
}
.module-item-box {
    position: relative;
    display: block;
    color: $color-primary;
    background-color: $color-primary;
    -webkit-box-shadow: 0 0 15px 0 rgba($color-black,.08);
    box-shadow: 0 0 15px 0 rgba($color-black,.08);
    &:focus,
    &:hover,
    &:active {
        color: $color-primary;
        .module-img {
            &:before,
            &:after {
                visibility: visible;
                opacity: 1;
            }
            &:after {
                top: 50%;
            }
        }
    }
}

.module-img {
    position: relative;
    min-height: 215px;
    overflow: hidden;
    border-bottom: 4px solid $color-important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    &:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        visibility: hidden;
        content: "";
        opacity: 0;
        background-color: rgba($color-black,.5);
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
    }
    &:after {
        position: absolute;
        top: 55%;
        left: 50%;
        visibility: hidden;
        content: "\e902";
        opacity: 0;
        color: $color-primary;
        font-family: $font-icon;
        font-size: 3em;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }
}

.module-idtt-1 {
    .module-img {
        border-color: $color-location;
    }
}
.module-idtt-2 {
    .module-img {
        border-color: $color-vente;
    }
}
.module-idtt-9 {
    .module-img {
        border-color: $color-neuf;
    }
}

.module-ville {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 1.25em;
    text-transform: uppercase;
    text-shadow: 2px 0 5px #000;
}
.module-infos {
    overflow: hidden;
    padding: 15px;
    color: $color-font-body;
}
.module-spec {
    float: right;
    font-size: 0.9em;
}
.module-prix {
    float: left;
    font-size: 0.9em;
    font-weight: 700;
}
.module-surf {
    margin-left: 7px;
    padding-left: 8px;
    border-left: 1px solid darken($color-secondary,20);
}
.module-nbpieces {
    display: block;
    min-height: 24px;
}

.module-exclu {
    position: absolute;
    right: 5px;
    bottom: -75px;
    font-size: 11rem;
    display: none;
}
.module-cdc {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 2.5rem;
}



/* ==========================================================================
== TEXT HOME ==
========================================================================== */

.txthome-left {
    text-align: center;
}

.txthome-ttl,
.txthome-ssttl {
    font-size: 2.25em;
}

.txthome-ssttl {
    text-transform: none;
}



/* ==========================================================================
== BLOG ==
========================================================================== */

.blog {
    margin-top: 60px;
    margin-bottom: 60px;
}

.blog-item {
    color: $color-font-body;
    &:focus,
    &:hover,
    &:active {
        color: $color-important;
        .blog-img {
            &:before,
            &:after {
                visibility: visible;
                opacity: 1;
            }
            &:after {
                top: 50%;
            }
        }
    }
}

.blog-img {
    position: relative;
    height: 295px;
    border-bottom: 4px solid $color-important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    &:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        visibility: hidden;
        content: "";
        opacity: 0;
        background-color: rgba($color-black,.5);
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
    }
    &:after {
        position: absolute;
        top: 55%;
        left: 50%;
        visibility: hidden;
        content: "\e902";
        opacity: 0;
        color: $color-primary;
        font-family: $font-icon;
        font-size: 3em;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }
}

.blog-ttl {
    margin-top: 10px;
    font-size: 1.25em;
    font-weight: normal;
}



/* ==========================================================================
== FOOTER ==
========================================================================== */

.footer {
    margin-top: 30px;
    padding-top: 50px;
    color: $color-light;
    background-color: $color-secondary;
    &.margin-top-0 {
        margin-top: 0;
    }
    a {
        color: $color-light;
        &:focus,
        &:hover,
        &:active {
            color: $color-font-body;
        }
    }
}

.footer-video {    
    margin-top: 30px;
    color: $color-light;
    background-color: $color-secondary;
}

.footer-ttl {
    margin-bottom: 10px;
    color: $color-font-body;
    font-size: 1em;
    font-weight: normal;
    text-transform: uppercase;
}

.footer-bottom {
    margin-top: 40px;
    padding: 20px 0;
    color: $color-light;
    background-color: $color-font-body;
    a:focus,
    a:hover,
    a:active {
        color: $color-primary;
    }
}

.footer-bottom-video {    
    padding: 20px 0;
    color: $color-light;
    background-color: $color-font-body;    
}



/* ==========================================================================
== PAGES INTERNES ==
========================================================================== */

.inside {
    padding-top: 30px;
    background: url("../images/pub/bg-inside.jpg") center top no-repeat;
}



/* ==========================================================================
== RECHERCHE ==
========================================================================== */

#recherche-moteur {
    float: right;
}
#recherche-listing {
    margin-left: 0;
}

.breadcrumb {
    padding: 0;
    border: 0;
    background: none;
    filter: none;
    a {
        display: block;
        color: $color-light;
        &:focus,
        &:hover,
        &:active {
            color: $color-font-body;
        }
    }
    li + li {
        margin-left: 8px;
        padding-left: 8px;
        border-left: 1px solid lighten($color-light,10);
    }
}

.recherche-top {
    margin: 50px 0;
    a {
        color: $color-light;
        &:focus,
        &:hover,
        &:active {
            color: $color-font-body;
        }
    }
    select {
        height: auto;
        padding: 5px;
        border-radius: 0;
        &:focus {
            border-color: $color-action;
            outline: none;
        }
    }
}

.recherche-ttl {
    display: inline-block;
    border-bottom: 4px solid $color-important;
    font-size: 1.875em;
}

.bouton-comparer-selection-detail,
.bouton-supprimer-selection-detail {
    img {
        margin-right: 5px;
        vertical-align: text-top;
    }
}

.pagination {
    ul > li {
        a,
        span {
            padding: 10px 16px;
        }
    }
}

.ann-item {
    margin-bottom: 35px;
    background-color: $color-primary;
    -webkit-box-shadow: 0 0 15px 0 rgba($color-black,.08);
    box-shadow: 0 0 15px 0 rgba($color-black,.08);
}
.ann-ttl {
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}
.ann-img {
    position: relative;
    overflow: hidden;
    color: $color-primary;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    &[class*="span"] {
        background-clip: initial;
    }
    &:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        visibility: hidden;
        content: "";
        opacity: 0;
        background-color: rgba($color-black,.5);
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
    }
    &:after {
        position: absolute;
        top: 55%;
        left: 50%;
        visibility: hidden;
        content: "\e902";
        opacity: 0;
        color: $color-primary;
        font-family: $font-icon;
        font-size: 3em;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }
    &:focus,
    &:hover,
    &:active {
        color: $color-primary;
        &:before,
        &:after {
            visibility: visible;
            opacity: 1;
        }
        &:after {
            top: 50%;
        }
    }
}
.ann-ville {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 1.25em;
    text-transform: uppercase;
}
.ann-exclu {
    position: absolute;
    right: 5px;
    bottom: -75px;
    font-size: 11rem;
}
.ann-cdc {
    position: absolute;
    bottom: 15px;
    left: 20px;
    font-size: 2.5rem;
}
.ann-body {
    position: relative;
    padding: 20px;
}
.ann-fav {
    float: right;
    margin-top: 10px;
    cursor: pointer;
    font-size: 2.5rem;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    &:focus,
    &:hover,
    &:active {
        color: $color-important;
    }
}
.ann-share {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    color: $color-font-body;
    font-size: 2.5rem;
    &:focus,
    &:hover,
    &:active {
        color: $color-important;
    }
}

.bg-marche {
    background-image: url('../images/pub/bg-marche.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 5px;
    height: 370px;
    width: 100%;
}

/* ==========================================================================
== DETAIL ==
========================================================================== */

.share-wrap {
    position: absolute;
    border: 8px solid $color-light;
    background-color: $color-primary;
    text-align: left;
    padding: 20px;
    width: 100%;
    margin-top: 15px;
    z-index: 10;
    a {
        display: block;
        padding: 5px 10px;
        margin-bottom: 2px;
    }

}

.detail-top {
    overflow: hidden;
    margin-bottom: 50px;
}

.detail-ttl,
.detail-px {
    font-size: 1.875em;
}

.detail-px {
    float: right;
    font-weight: 700;
}

.detail-tools {
    text-align: center;
    position: relative;
}
.detail-tools-item {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    border-radius: 50%;
    color: $color-primary;
    background-color: $color-important;
    font-size: 1.4em;
    line-height: 40px;
    text-align: center;
    &:focus,
    &:hover,
    &:active {
        color: $color-light;
        background-color: $color-secondary;
    }
}

.detail-gallery {
    position: relative;
}
.detail-gallery-infos {
    padding: 5px 20px;
    color: $color-primary;
    background-color: $color-vente;
}
.detail-gallery-exclu {
    position: absolute;
    right: 20px;
    bottom: 100px;
    z-index: 10;
    color: $color-primary;
    font-size: 11rem;
}
.detail-gallery-cdc {
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 10;
    color: $color-primary;
    font-size: 3rem;
}

.detail-carousel {
    .owl-nav {
        position: absolute;
        width: 100%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
         > * {
            display: inline-block;
            padding: 5px 0;
            cursor: pointer;
            color: $color-primary;
            background-color: rgba($color-black,.5);
            font-size: 2em;
            -webkit-transition: background-color .3s ease;
            transition: background-color .3s ease;
            &.owl-prev {
                float: left;
            }
            &.owl-next {
                float: right;
            }
            &:focus,
            &:hover,
            &:active {
                background-color: rgba($color-black,.8);
            }
        }
    }
}
.detail-carousel-item {
    min-height: 550px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.detail-carousel-count {
    position: absolute;
    top: 10px;
    left: 10px;
    color: $color-primary;
    [class*="aito-icon"] {
        margin-right: 5px;
        vertical-align: text-bottom;
        font-size: 1.5em;
    }
}

#form-contact-agence {
    margin-top: 15px;
    padding: 20px;
    border: 8px solid lighten($color-light,15);
    background-color: $color-primary;
    -webkit-box-shadow: 0 0 15px 0 rgba($color-black,.08);
    box-shadow: 0 0 15px 0 rgba($color-black,.08);
}
.detail-contact-toggle {
    display: none;
}

.detail-desc {
    margin-top: 50px;
}
.detail-desc-ttl {
    display: inline-block;
    margin-bottom: 15px;
    border-bottom: 4px solid $color-important;
    font-size: 1.875em;
}

.detail-infos {
    overflow: hidden;
    color: $color-light;
}
.detail-infos-item {
    float: left;
    width: 48%;
    margin-right: 2%;
    padding: 5px 0;
    border-bottom: 1px solid $color-light;
}

.dpe-bloc-chiffre {
    background-color: $color-secondary;
}

.detail-simi-ttl {
    display: inline-block;
    border-bottom: 4px solid $color-important;
    font-size: 1.875em;
}


.detail-tools {
    .detail-tools-item {
        &.bouton-ajouter-selection-detail{
            background-color: $color-neuf;
        }
        &.bouton-video-imprimer{
            background-color: $color-location;
        }
        &.bouton-envoyer-ami {
            background-color: $color-vert;
        }
        &.bouton-share {
            background-color: $color-vente;
        }
    }
}
/* ==========================================================================
== COULEURS DES UNIVERS  ==
========================================================================== */

@mixin univers($colorunivers) {
    h1,
    h2 {
      color: $colorunivers;
    }

    .moteur-avantage select,
    .moteur-avantage input[type="text"] {
        border-color: $colorunivers;
    }
    .moteur-avantage input[type="checkbox"]:checked {
        background-color: $colorunivers;
        box-shadow: inset 0 0 0 1px $colorunivers;
    }
    .typo-action,
    .typo-important {
        color: $colorunivers;
    }
    h2.jaune {
    	color: $color-deco-02;
    }
    .detail-tools-item,
    .btn-action,
    .btn-important {
        background-color: $colorunivers;
    }
    .minimoteur-slider-range .ui-slider-horizontal .ui-widget-header,
    .detail-gallery-infos {
        background-color: $colorunivers;
    }
    .Mini_Localisation svg .mini-maparea.is-active path {
        fill: $colorunivers;
    }
    .pagination ul > .active > a,
    .pagination ul > .active > span {
        border-color: $colorunivers;
        background-color: $colorunivers;
    }
    .detail-desc-ttl,
    .detail-simi-ttl,
    .module-img {
        border-color: $colorunivers;
    }
}

.univers-idtt-1,
.univers-idtt-4 {
    @include univers($color-location);
}
.univers-idtt-2,
.univers-idtt-8 {
    @include univers($color-vente);
}
.univers-idtt-9 {
    @include univers($color-neuf);
}

/*Modification couleur estimation*/

.circle-estimation {

}
.btn-yellow {
    @include btn-theme($color-light);
}
.btn-red {
    @include btn-theme($color-location);
}

/*Modification couleur agence,contact.htm */

.noir {
    color: $color-nav-footer;
}
.ctc-map-venir {
    color: $color-important;
    border: 2px solid $color-important;
}
.ctc-map-venir:hover {
    background-color: $color-important;
}

.icon-v5-googleplus-2 {
    color: #db4a39;
}
.icon-v5-twitter-2 {
    color: #00aced;
}
.icon-v5-facebook-2 {
    color: #3b5998;
}

/* ==========================================================================
== MEDIA QUERIES ==
========================================================================== */

@media (max-width:1170px) {
    // ------------- MENU ------------- //

    .menu-principal {
         > li {
             > a {
                padding-right: 10px;
                padding-left: 10px;
            }
        }
    }


    // ------------- HOMEPAGE ------------- //

    .aside-estimation {
        .aside-ttl,
        .pagination-centered {
            text-align: left;
        }
    }


    // ------------- MODULE ------------- //

    .module {
        .module-item {
            width: 50%;
        }
    }
}



@media (min-width: 980px) {
    // ------------- MENU ------------- //

    .menu-responsive.in {
        display: none;
    }
}



@media (max-width:979px) {
    // ------------- HEADER ------------- //

    .header-top {
        background-color: $color-secondary;
    }


    // ------------- MENU ------------- //

    .menu-responsive {
        margin-top: 15px;
         > li {
             > a {
                display: block;
                margin: 3px 0;
                padding: 5px 10px;
                color: $color-nav-footer;
                background-color: $color-secondary;
                text-transform: uppercase;
                &:focus,
                &:hover,
                &:active {
                    color: $color-action;
                }
            }
        }
    }

    .menu-sub {
        margin: 0;
        ul li a {
            margin: 2px 0;
            padding: 5px 25px;
            color: $color-nav-footer;
            border: 0;
            background-color: $color-secondary;
            text-transform: uppercase;
            &:focus,
            &:hover,
            &:active {
                color: $color-action;
                background-color: $color-secondary;
            }
        }
        div.padding-15 {
            padding: 0;
        }
        .menu-sub-bg {
            display: none;
        }
    }


    // ------------- HOMEPAGE ------------- //

    .aside-slider {
        h1 {
            font-size: 1em;
        }
    }

    .aside-moteur {
        padding: 20px 0;
        .row-table > [class*="span"] {
            display: block;
            width: 100%;
            padding: 0;
        }
    }


    // ------------- MOTEUR ------------- //

    .moteur-avantage {
        margin-bottom: 20px;
        padding: 0;
    }

    .moteur-content,
    .moteur-ttl {
        display: none;
    }

    .moteur-content {
        &.is-open {
            display: block;
            padding: 0 15px 15px 15px;
        }
    }

    .moteur-toggle {
        display: block;
    }


    // ------------- RECHERCHE ------------- //

    #recherche-moteur,
    #recherche-listing {
        float: none;
        width: 100%;
    }

    .recherche-top {
        margin-top: 0;
        margin-bottom: 20px;
        [class*="span"].recherche-top-ttl {
            float: left;
        }
    }

    .recherche-ttl {
        font-size: 1.4em;
    }

}



@media (max-width:767px) {

    // ------------- GENERAL ------------- //

    .row-table {
         > [class*="span"] {
            padding-left: 0;
        }
    }

    .list-icons {
        li {
             + li {
                margin-top: 10px;
            }
        }
    }


    // ------------- BOUTONS ------------- //

    body .btn {
        padding: 10px;
    }


    // ------------- HEADER ------------- //

    .header {
        position: relative;
        padding: 0;
        .logo {
            margin: 0;
            img {
                float: none;
                width: auto;
                max-width: 60%;
            }
        }
    }

    .header-tools-item {
        padding: 5px;
        [class*="aito-icon-"] {
            display: block;
            font-size: 1.5em;
        }
    }


    // ------------- SWITCHER DEVISE ------------- //

    .currency {
        float: left;
        margin: 3px 0 0 0;
    }


    // ------------- MENU ------------- //

    .btn-navbar {
        position: absolute;
        top: 0;
        right: 10px;
        z-index: 5;
    }


    // ------------- HOMEPAGE ------------- //

    .aside-ttl {
        font-size: 1.75em;
    }

    .aside-slider {
        padding: 20px 0 70px 0;
        h1 {
            font-size: .75em;
        }
    }

    .aside-moteur {
        padding-top: 0;
        #Mini_Moteur {
            margin-top: -30px;
        }
    }

    .aside-estimation {
         > .container {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .aside-ttl,
        .pagination-centered {
            text-align: center;
        }
        .estimation-deco {
            max-width: 250px;
            right: 0;
            bottom: -20px;
            left: 0;
            margin: 0 auto;
        }
        .btn {
            width: 100%;
             + .btn {
                margin-top: 10px;
            }
        }
    }

    .aside-module {
         > .container {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }

    .aside-txthome {
         > .container {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    .aside-blog {
         > .container {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .btn {
            width: 100%;
        }
    }


    // ------------- MOTEUR ------------- //

    #Mini_Moteur {
        display: block;
        input,
        select {
            font-size: inherit;
        }
        label {
            margin-bottom: 3px;
            text-align: inherit;
        }
    }

    .moteur-avantage {
        border-width: 4px;
    }


    // ------------- EXTRA ------------- //

    .extra {
        height: auto;
        min-height: 250px;
        margin-top: 20px;
        .owl-stage-outer,
        .owl-stage,
        .owl-item,
        .extra-item {
            height: auto;
            min-height: 250px;
        }
        .extra-img {
            height: 250px;
        }
        .owl-nav {
            top: 35%;
        }
    }

    .extra-exclu {
        bottom: 70px;
        font-size: 6rem;
    }


    // ------------- MODULE ------------- //

    .module-header {
        margin-bottom: 20px;
    }
    .module-ttl {
        display: block;
        margin-bottom: 15px;
        font-size: 1.25em;
        text-align: center;
    }
    .module-nav {
        float: none;
        text-align: center;
        .btn {
            width: 32%;
            font-size: .9em;
        }
    }

    .module-mobile {
        .module-item {
            width: 100%;
        }
    }

    .module-row {
         + .module-row {
            margin-top: 0;
        }
    }
    .module-prix,
    .module-spec {
        float: none;
        text-align: center;
    }


    // ------------- TEXT HOME ------------- //

    .txthome-right {
        text-align: center;
    }

    .txthome-ttl,
    .txthome-ssttl {
        font-size: 1.75em;
    }


    // ------------- BLOG ------------- //

    .blog {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .blog-ttl {
        font-size: 1em;
    }

    .blog-img {
        height: 165px;
    }


    // ------------- FOOTER ------------- //

    .footer-bottom {
        .pagination-right {
            text-align: center;
        }
    }


    // ------------- RECHERCHE ------------- //

    .recherche-top {
        select {
            width: 100px;
            font-size: inherit;
        }
    }

    #recherche-resultats-listing {
        .ann-item {
            margin-bottom: 15px;
        }
        .ann-body {
            overflow: hidden;
            padding: 10px 15px;
            p {
                float: left;
                padding: 0;
                font-size: .9em;
                 ~ p {
                    float: right;
                }
            }
        }
        .ann-img {
            min-height: 165px;
            border-bottom: 4px solid $color-important;
        }
    }


    // ------------- DETAIL ------------- //

    .zone-fil-vente-prest {
        display: none;
    }

    .detail-top {
        margin-bottom: 15px;
    }

    .detail-ttl,
    .detail-px,
    .detail-desc-ttl,
    .detail-simi-ttl {
        float: none;
        font-size: 1.25em;
        text-align: center;
    }

    .bloc-detail-reference {
        color: $color-light;
        text-align: center;
    }

    .detail-carousel-item {
        min-height: 230px;
    }
    .detail-gallery-infos {
        .h3-like {
            display: none;
        }
    }

    .detail-desc {
        margin-top: 20px;
    }

    .bloc-detail-reference {
        text-align: left;
    }

    .detail-infos-item {
        float: none;
        width: 100%;
    }

    #form-contact-agence {
        padding: 0;
    }
    .detail-contact-body {
        display: none;
        &.is-open {
            display: block;
            padding: 15px;
        }
    }
    .detail-contact-ttl {
        display: none;
    }
    .detail-contact-toggle {
        display: block;
        padding: 15px;
        color: $color-font-body;
    }
}


@media (max-width:480px) {
    // ------------- MODULE ------------- //

    .module {
        margin: 0;
        .module-item {
            float: none;
            width: 100%;
            padding: 0;
        }
    }

    .module-prix {
        float: left;
        font-size: 1em;
    }

    .module-spec {
        float: right;
        font-size: .8em;
    }


    // ------------- TEXT HOME ------------- //

    .aside-txthome {
        .btn {
            width: 100%;
            margin-bottom: 5px;
        }
    }
}


