/* CSS POUR FORMULAIRES CONTACT, ESTIMATION */
/* LISTE AGENCE */
#FormContactListeAgences {margin: 20px 100px;}
#FormContactListeAgences h1 {font-size: 16px;color: #6080af;}
#FormContactListeAgences h2 {color: #666666;font-size: 1.2em;padding: 5px 0;}
#FormContactListeAgences ul {border-top: 1px dotted #BBBBBB;margin: 10px 0;}
#FormContactListeAgences ul li {border-bottom: 1px dotted #BBBBBB;padding: 5px 0; list-style-type: none; }
/* FORMULAIRE ESTIMATION */
/* LISTE AGENCE */
#FormContactAgence h1 {font-size: 16px;color: #6080af;}
#conteneur_form{margin: 10px auto;width:450px;}
#FormContactAgence p {padding: 3px 0;}
#FormContactAgence .pointillesBas { border-bottom: 1px dotted #BBBBBB; margin: 5px 0; padding: 5px 0;}
#FormContactAgence .col1 {padding: 5px 10px 5px 5px;text-align: right;float:left;width:150px;}
#FormContactAgence .col2 {float:left;padding: 5px 0;text-align: left;vertical-align: middle;}
#FormContactAgence .inputText, #FormContactAgence .inputSelect, #FormContactAgence .inputTextarea {background: #fff;border: 1px solid #6282b1; color:#858585;font-size: 12px;width: 250px; padding:0;}
/* BAS MOTEUR */
.obligatoire {color: #6080af;font-size: 11px;font-weight: normal}
.pointillesHaut {border-top: 1px dotted #BBBBBB;}
.pointillesHaut p{display:block; float:left;}
.inputSubmit {background:#23285f;border: medium none;color: #6282b1;cursor: pointer;font-size: 16px;font-weight: bold; margin: 5px 0 10px 0; padding: 3px 20px 5px; display:block;float:right}
/* MESSAGE ERREUR*/
.attention {background: url('/z/webagency/slagence_X_V4/images/pictos/erreur.png') no-repeat left center;color: #FF0000;font-size: 14px;font-weight: bold;padding: 4px 20px;}
.erre {color: #FF0000;font-weight: normal;}
.error {clear:left;color:#FF0000; display:block;background: url('/z/webagency/slagence_X_V4/images/pictos/erreur.png') no-repeat; padding:2px 0 0 20px;}
/* FORMULAIRE OK */
#FormContactAgence .bouton_ctn {padding: 5px 0 0;text-align: right;}

.inputSelect option{ margin-left:3px;}
