
/*------CSS definitive--*/
body { margin: 0; padding:0; background: url($$_$$images/skin/bg_01.jpg) repeat; text-align:center;font-family: arial; }
#global{ width:100%; background: url($$_$$images/skin/test.jpg) repeat-x -146px 0;}
div,td {  font-size:12px; color: #858585; }
img { border:none; display: inline; }
table  { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; }
a { text-decoration: none; color: #3a3c6f; }
a:hover {text-decoration: underline; }
p { margin:10px 0;}
*{margin:0; padding:0 }
ul{list-style-type:none}
.clear1 { clear: left;height:0; }
.clear2, .clear { clear: both;height:0; }
/*----- decoupage -------*/

#wrapper { width: 980px; margin: 0 auto; text-align: left;}
#logo { float:left; width: 256px; margin:15px 0 20px 0;}

#flag { width: 180px; float:right; height:37px;}
#flag a{ float:right; margin-top:11px;}
.txt-change { float:left; color: #6282B1; font-size: 10px; width: 100px; padding-top: 20px; }
.img-flag { padding-top: 10px; }
.fleche-top { color: #6282B1; font-size: 10px; }

#navigue { padding: 60px 15px 30px; }

#bloc-moteur { padding-top: 14px; width:650px; float:right; position:relative;}
#bloc-moteur a{color:#cacaca;float: right;text-decoration: underline;margin-top: 20px; display:none;}
#bloc-moteur a:hover{text-decoration: none;}

.txt-content { font-size: 12px; text-align:justify; padding: 0 15px;}
.txt-content span{ font-size:18px; color:#3a3c6f; display:block; padding:0 0 11px 0;}
.txt-content a{ font-size:12px; text-decoration:underline;}
.txt-content a:hover{ text-decoration:none;}
.pt1 { background: url($$_$$images/skin/bg-decouvert.gif) no-repeat; width: 234px; height: 140px; font-size: 18px; font-weight: bold; text-align:center;line-height: 34px; float:left; }
.pt1 a { font-size: 18px; font-weight: bold; text-align:center; color: #fff; text-decoration:underline; }

.img-cdc { float:left; width: 234px; padding-left: 6px; }

#alerte-content {background:#e2e2e2 url($$_$$images/skin/arobase.png) no-repeat 15px 8px; width: 464px; height: 90px; float:left;border:1px solid #fff;margin:20px 0 16px 16px;}
.link-alerte { padding-left: 110px; font-size: 16px; color: #000; padding-top: 10px; line-height:22px;}
.link-alerte a { color: #3a3c6f; text-decoration:underline; line-height: 18px; }

#visite-content {width: 449px; height: 90px; float:right; margin-top: 20px; margin-right: 24px; background:#e2e2e2; border:1px solid #fff;}
.photo-visite { float:left; width: 131px; padding-left: 10px; }

.link-visite { float:left; width: 285px; font-size: 16px; color: #000; padding-left: 15px; padding-top: 10px; line-height:22px;}
.link-visite a { color: #3a3c6f; text-decoration:underline; line-height: 22px; }

#bas-content { background:#819bc1 url($$_$$images/skin/bg-iphone.gif) no-repeat; width: 980px; height: 51px; margin:0 auto; padding-bottom:13px; border-bottom:1px solid #fff;}

.mobile {height: 73px; padding-right: 25px; width: 285px; float:left; margin-top: 2px; position:relative;}
.content-iphone {padding-left: 0; }

.txt { font-size: 18px; color: #ababab; }
.txt2 { float:right; width: 660px;font-size: 16px; padding-top:13px;}
.txt3 { float:left; width: 260px;padding-left: 40px; font-size: 16px;}
.txt2 a, .txt3 a { color: #fff; }
.txt2 a:hover, .txt3 a:hover { text-decoration:underline;}

#footer { width: 980px; margin: 0 auto; text-align:left; padding: 15px 0 25px; }

.footer-left { float:left; width: 205px; color: #686868;}
.footer-center { float:left; width: 184px; padding-left: 55px; color: #686868; }
.footer-right {color: #686868; width:auto; text-align:center;}
.footer-right .bar{ margin:0 12px;}

.ttl-foot, .ttl-foot a { font-weight: normal; color: #fff; }
.footer-left a, .footer-center a, .footer-center a { color: #686868; font-size: 11px; text-decoration:underline; }
.footer-left a:hover, .footer-center a:hover { color: #fff; }

#portefeuille { font-size: 11px; }

#hd-menu ul li:hover ul{display: block;}
#hd-menu ul li ul li{float: none;}

.img-ss { position:absolute; top: 80px; right: -160px; }

#hd-menu { width:980px; float:left; position:relative; z-index:10; height: 51px;margin:0 auto;background: url($$_$$images/skin/menu_bg.gif) no-repeat; }
#hd-menu ul { margin:0 auto; padding:0; list-style-type:none; }
#hd-menu li { float:left; position:relative; padding: 15px 0;border-left:1px solid #474a78;border-right:1px solid #23264c;}
#hd-menu li a { display:block;text-decoration:none; font-size: 17px;color:#6282b1; text-align:center; padding: 0 16px;}
#hd-menu li a:hover, #hd-menu li.hover a { text-decoration:none; color:#fff; text-align:center; }
#hd-menu li ul { position:absolute; left:0; top:53px; padding:15px 0; display:none; background:url('$$_$$images/skin/fond.png');}
#hd-menu li li { float:none; padding:0 5px; }
#hd-menu li li a, #hd-menu li.hover li a { display:inline; color:#fff; background:none; font-size: 16px; font-weight: bold; line-height: 34px;padding:0; }
#hd-menu li li a:hover, #hd-menu li.hover li a:hover { background:none; color:#6282B1; text-decoration:none; }

#hd-menu li li.mn-level3 { float:left; width:200px; margin:0 5px 5px 5px; padding:0; border-right: 2px solid #292929; }
#hd-menu li li ul { margin:0; padding:0; display:inline;  position:relative; top:auto;}
#hd-menu .mn-level2 li {position:static;}

#hd-menu li li{display: inline;}
#hd-menu li li a{font-family: arial;display: block; float: left; width: 200px; margin: 0 20px;text-align: left;}
#hd-menu li li a:hover{text-align: left;}

#bloc-cdc { width:960px; height: 175px; margin:20px auto 0; }

.accordion_content { background: #252525; }
#adresse { padding: 25px 0; text-align:center; }

#content{ background:#f6f7f8;}

#containerMenu { list-style-type: none; }

#flag .menuLangue .txtLi, #flag .menuLangue .menuLangueBg, #flag .menuLangue .menuList, #flag .menuLangue .arrowDown { margin: 0; line-height: 25px; color: #6282B1; font-size: 10px; list-style-type: none; }
#flag .menuLangue .txtLi{margin: 6px 10px 0 0; color:#fff;}
#flag .menuLangue{margin:0;padding:0;}
#flag .menuLangue .arrowDown{margin-top:5px;}
#flag .menuLangue .menuLangueBg{margin-left: 5px;}

.ttl_page, #alerte-content,#visite-content, .txt, .txt2, .txt3  { font-family:Arial, Helvetica, sans-serif;}
.txt2, .txt3,.txt{font-size: 16px;line-height: 22px; }
#alerte-content,#visite-content{font-size: 18px;}

.ttl_page{font-size: 24px; color:#151D55;}
.firstLien {color:#6282B1;}
#hd-menu ul li ul .imageBien {position:absolute;top:30px;right:20px;width:180px;height:120px;z-index:1;opacity:1;}
#hd-menu ul li ul .imageBien img {width:180px;height:120px;}
/* RETOUR HAUT */
.retourHaut {float:right;margin:5px 0 0 0;padding:0;font-size:11px;font-weight:bold;}
.retourHaut a {color:#6282B1;text-decoration:none;}
#hd-menu .bordno{ border-left:none;}
#hd-menu .bordno1{ border-right:none;}
.iphonepic{ position:absolute; right:23px; top:-12px; z-index:9999;}
.clr01{ color:#6282b1;}
.clr02{ color:#fff;}
.adresse span{ color:#819bc1; font-size:16px;}
.alert011{color:#3a3c6f; font-size:16px;}
.alert012{color:#5a5b5b; font-size:16px;}
.rechbien{ position:absolute; top:-27px; left:0; font-size:20px; color:#fff;}
.portefeuilleVilles {float:right;text-align:left;width: 740px;}
.portefeuilleVilles h3{ display:inline;}
.portefeuilleVilles h3 a{ display:block; text-decoration:underline; margin-bottom:5px; font-size:11px;}
.portefeuilleVilles a{ color:#fff; font-size:10px; font-family:tahoma, Arial;}
.portefeuilleVilles span{ color:#fff;}