/*$$REM$$====================================================================================
//// <summary>Fichier CSS 2 site "PACK AVANTAGE 2"</summary>
//// <remarks>
//// <para>Fichier css appelé par head mutualisé</para>
//// <para>Sert pour toutes modifs démutualisées</para>
//// <para>Liste des macros générales pour faciliter la customisation des sites</para>
//// <para>A démutualiser pour chaque site</para>
//// </remarks>
//// <update date="2010-02-16" author="lisbonne.siriphol">Création</update>
====================================================================================$$END$$*/


$$REM$$ /* ============================================================================================
 ////////////////////////////////////// MACROS GENERALES PERSOS //////////////////////////////////////
============================================================================================= */$$END$$
<!--#include virtual="styles/all_global_macros.htm" -->


/*---------------- home page -----------------*/

ul#Menu {float: left;padding: 20px 0 0;}

a#AccueilSite {color:#fff;}

#TopHeader_Ctn {background: none repeat scroll 0 0 #e0191b;}

.selectionDescr p strong {font-size:13px;font-family:Comic Sans MS;}
#PortefeuilleAccueil ul li a {color:#000000;}
.selectionDescr .selectionSurface {color:#000000;}
.selectionDescr .selectionNbPieces {color:#000000;}
.selectionDescr .selectionVille a {font-size:13px;font-family:Comic Sans MS;font-weight:bold;}
.selectionDescr .selectionPrix {font-family:Comic Sans MS;}
.selectionDescr .selectionDetail a {font-family:Comic Sans MS;}

#HeaderTxt h2 {font-size: 18px;font-family:Comic Sans MS;font-weight:bold;}
#HeaderTxt p {font-size:13px;}

.miniTitre {font-size:13px;font-family:Comic Sans MS;}

#PortefeuilleAccueil h4 a {font-size:13px;font-family:Comic Sans MS;font-weight:bold;}
#MoteurAccueil .titreParagraphe {font-size:18px;color:#fff;font-family:Comic Sans MS;font-weight:bold;}
#NouveautesAccueil .titreParagraphe span {font-size:18px;color:#fff;font-family:Comic Sans MS;font-weight:bold;}
#NouveautesAccueil .titreParagraphe a {font-size:14px;color:#fff;font-family:Comic Sans MS;font-weight:bold;}

ul#Menu li a {font-family:Comic Sans MS;font-weight:bold;}

#PortefeuilleAccueil h6 span {color: #000000;}

/*---------------- page gestion -----------------*/

#gestion h2 {font-size:18px;font-weight:bold;}
#gestion h3 {font-size:16px;}
#gestion p {font-size:13px;}
#gestion strong {font-size:13px;}

/*---------------- page recherche ventes + loc -----------------*/

#Moteur .moteurTable ul li {color: #000000;}
#Moteur .moteurTable ul li#nb_pieces, #Moteur .moteurTable ul li#nb_chambres, #Moteur .moteurTable ul li#InputSurfaceTerrain {color:#fff;}
#Moteur .moteurTable ul li strong {color: #000000;}


/*---------------- page resultats ventes + loc -----------------*/

#RechPagesHaut .rechLiensPages a, #RechPagesBas .rechLiensPages a {color:#000000;}
#RechPagesHaut .rechLiensPages a span, #RechPagesBas .rechLiensPages a span {color:#000000;}
.descr {color:#000000;}
.prox_ctn .prox {color:#000000;}

/*---------------- page détail annonces -----------------*/

#InfosPrincipales p {color:#000000;}
#InfosComp_Ctn #InfosComp p {color:#000000;}
#Descriptif .txtDescriptif {color:#000000;}
#AgenceContact p.adresseAgence span {color:#000000;}
#AgenceContact p.faxAgence {color:#000000;}

#Form_Ctn table td p {color:#000000;}
#ChampsObligatoires {color:#787878;}
#CguFormulaire {color:#787878;}
#CguFormulaire a {color: #000000;}
#AgenceMentions h6 {color: #000000;}
#AgenceMentions p {color:#787878;}

#Outils th {color:#000000;}
#Outils .outil1 {background-color: #808080;}
#Outils .outil2 {background-color: #808080;}
#Outils .outil3 {background-color: #808080;}
#Outils .outil4 {background-color: #808080;}
.accordion_content .inputText {background: none repeat scroll 0 0 #fff;}

#Outils strong {color: #FFFFFF;}

ul#Menu li a {margin:0 5px 0 0;}