// VARIABLES COLORS
$color-body:#e6e0dc;
$color-content:#f96300;
$color-block:#303030;
$color-primary:#303030;
$color-secondary:#f96300;
$color-action:#f96300;
$color-important:#a09893;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black-opacity";

// COLOR FONT BODY DEFAULT
$color-font-body:#6f6c6b;
$color-noir:#000;
