// VAR COLORS
$color-body:#fff;
$color-content:#fff;
$color-block:#f4f4f4;
$color-primary:#fff;
$color-secondary:#0b0d0f;
$color-action:#cf1555;
$color-important:#0b0d0f;
$color-nav-footer:#0b0d0f;
$color-slogan: #3e3e3f;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#808080;
