// VAR COLORS
$color-body:#fff;
$color-content:#f3f3f3;
$color-block:#f2f2f2;
$color-primary:#fff;
$color-secondary:#811453;
$color-action:#6b6e70;
$color-important:#811453;
$color-nav-footer:#811453;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#6b6e70;