<p id="CNILPart1">Vos informations sont trait&eacute;es par notre soci&eacute;t&eacute; afin de vous contacter dans le but de r&eacute;aliser une estimation de votre bien. Pour exercer vos droits conform&eacute;ment &agrave; la loi &laquo; Informatique et Libert&eacute;s &raquo;, <a>cliquez-ici</a></p>
<p id="CNILPart2" style="display: none">Vous disposez d&#145;un droit d&#145;acc&egrave;s, de rectification et, pour des motifs l&eacute;gitimes, d&#145;opposition aux informations qui vous concernent que vous pouvez exercer <a id="emailAgencyOnline">en nous contactant</a>.</p>

<!-- Je mets du javascript ici parce que je ne parviens pas à avoir accès au controller de la page principale (ContactController).
    Cette page est injectée dynamiquement dans la page principale (contact.html) et il n'est pas possible d'avoir accès aux méthodes du controller de la page
    de principal.
      -->
<script>
    $("#estimation-sidebar > #CNILPart1 > a").click(function () {
        $("#estimation-sidebar > #CNILPart2").toggle();
        $("#estimation-sidebar > #CNILPart1 > a").remove();
    });

    $(document).ready(function() {
        var mailSubjectOnline = '?subject=Droit d\'accès, de rectification et d\'opposition';
        $("#emailAgencyOnline").attr("href", "mailto:" + _confContactMail + mailSubjectOnline);
    });
</script>