// VAR COLORS
$color-body      : #fff;
$color-content   : #fff;
$color-block     : #f1f1f1;
$color-primary   : #fff;
$color-secondary : #33416e;
$color-action    : #33416e;
$color-important : #016dae;
$color-nav-footer: #333;

// COLOR PUB
$color-pub       : "white";

// COLOR FONT BODY DEFAULT
$color-font-body : #333;

