// VAR COLORS
$color-body:#fff;
$color-content:#fff;
$color-block:#fff8f1;
$color-primary:#fff;
$color-secondary:#9bd5df;
$color-action:#9bd5df;
$color-important:#9bd5df;
$color-nav-footer:#9bd5df;

// COLOR PERSO
$color-exclu: #d40d37;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#05213b;
