// VAR COLORS
$color-body:#ffffff;
$color-content:#1a1a1a;
$color-block:#F4F4F4;
$color-primary:#F4F4F4;
$color-secondary:#EFEFEF;
$color-action:#1c4789;
$color-important:#079D57;
// $color-important:#014c3b;
$color-nav-footer:#1c4789;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;