/* $$DYN:ID3:NOFOOTER$$ */
div, span, .ListeVilles, .Marquee { font-family: Arial, Helvetica, sans-serif !important; }
.TableDetail { width: 100%; border: none; }
.TotalAnnonce { border: none; background: none; width: 95%; margin-left: 20px; }
.BoiteAnnonce { border: none; background: none; padding: 0; }
.DetailBack a { color: #79a252; font-size: 12px; }
.DetailBack a:hover { color: #468547; text-decoration: none; font-size: 12px; } 
/* Titre */
.DetailLibelleetPrix { background: #01481E; border: 1px solid #79a252; padding: 5px 0; }
.DetailLibelle { color: #FFFFCB; font-weight: bold; font-size: 12px; text-transform: uppercase; }
.DetailSurface { color: #FFFFCB; font-weight: bold; font-size: 12px; margin-left: 20px; }
.DetailPrixFranc { color: #FFFFCB; }
.DetailPrix { font-size: 12px; font-weight: bold; color: #FFFFCB; margin-left: 20px; }
.DetailPhotoGdformat img { border: 2px solid #468547; }
.DetailPhotoPtformat td { padding: 2px; }
.DetailPhotoPtformat img { border: 1px solid #468547; }
.DetailVisuels360, .DetailExclusif, .DetailSituation, .DetailFraicheurLib, .DetailRefAnnonceLib, .DetailProxLib, .DetailAgence strong { color: #468547; }
.DetailInfoComplementaire { border: none; background-color: #7bb675; }
.DetailInfoComplementaire td { color: #004500; padding: 3px; border: none; line-height: 16px; }
.DetailInfoTitre { background: #468547; height: 25px; line-height: 25px; text-align: center; margin: 0; color: #fff; padding: 0; text-transform: uppercase; font-size: 12px; }
.DetailImprimer { border-bottom: 1px solid #468547; text-align: center !important; }
.DetailImprimer a { display: block; text-align: center; width: 250px; height: 30px; line-height: 30px; color: #fff; text-transform: uppercase; margin: 0 auto; font-size: 10px; background: #468547; font-weight: bold; text-decoration: none; border: 1px solid #1d7a21; }
.DetailImprimer a:hover { color: #fff; }
.DetailFormulaire td { padding: 2px 5px; }
.DetailFormulaireLib { color: #fff; background:#468547; border: 1px solid #79a252; font-size: 12px; }
.DetailFormulaireForm { text-align: center; border: none; }
.DetailAgence { padding-bottom: 15px; }
.DetailAgence a { color:#ABD389; }
.DetailFormulaire input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin-bottom: 2px;
	border: 1px solid #79b472;
}

.DetailFormulaire .btn {
	margin-top: 15px;
}
.DetailFormulaire .btn input {
	width: 150px;
	height: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #006633;
	font-size: 10px;
	font-weight: bold;
	background: #bacca3;
	border: none !important;
}
