// VAR COLORS
$color-body:#032143;
$color-content:#1a1a1a;
$color-block:#032143;
$color-primary:#032143;
$color-secondary:#5685af;
$color-action:#256eb1;
$color-important:#0077af;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#fff;