// VAR COLORS
$color-body:#fff;
$color-content:#f3f3f3;
$color-block:#f2f0f0;
$color-primary:#ffffff;
$color-secondary:#4c4b4d;
$color-action:#8750a0;
$color-important:#4c4b4d;
$color-nav-footer:#4c4b4d;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#332b27;

// ICONE COUP DE COEUR
$color-icone-cdc:#8750a0;

// COLOR ORANGE
$color-gris:#b3b2b2;
