// VAR COLORS
$color-body:#cccccc;
$color-content:#cccccc;
$color-block:#fff;
$color-primary:#cccccc;
$color-secondary:#fa6400;
$color-action:#fa6400;
$color-important:#fff;
$color-nav-footer:#000;
// COLOR PUB
$color-pub:"white";
// COLOR FONT BODY DEFAULT
$color-font-body:#000;
// COLOR SOUS MENU
$color-sous-menu:$color-block;