#minimoteur{margin:0; padding:0}
#BoiteMiniMoteur p { margin: 0; padding: 0; }
#BoiteMiniMoteur br{display: none;}

.MiniDiv{display: block !important;clear:both;height: 20px;padding: 5px 0 !important;}
.MiniTitre {clear: both;margin:3px 0 0 0;color: #fff; font-size: 11px;width: 120px; float: left;height: 20px;line-height: 20px;}
.MiniSelect {font-family: Tahoma; color:#666;float: left; background: #fff; border: solid 1px #9b9b9b; font-size: 11px;width: 140px;}
.MiniInputTxt{display: none;}

#MiniInputBudgetMin,
#MiniInputBudgetMax,
#MiniInputSurfaceMin,
#MiniInputSurfaceMax
{font-family: Tahoma; color:#666; background: #fff; border: solid 1px #9b9b9b; font-size: 11px;width: 60px; float: left;}

#MiniInputProximite1,
#MiniInputProximite2
{font-family: Tahoma; color:#666; background: #fff; border: solid 1px #9b9b9b; font-size: 11px;width: 60px; float: left;margin-right: 10px;}
#MiniInputProximite3 {display:none;}

#MiniInputBudgetMin,
#MiniInputSurfaceMin
{ margin-right: 10px;}
#MiniInputBudgetMax,#MiniInputSurfaceMax{*margin-top: -14px;}
#MiniBouton{text-align: right;margin-top: 10px;}
#MiniBoutonInput{width:106px; height: 25px;}

