	/*mini moteur1*/
#BoiteMiniMoteur { position: relative; width: 575px; }
.BoiteMiniMoteur br { display: none; }
.BoiteMiniMoteur p.MiniTitre { font-family: Arial, Helvetica, sans-serif; color: #fff; text-align: left; line-height: 14px; _line-height: 20px; width: 75px; float:left; }

.BoiteMiniMoteur #MiniTypeTrans, .BoiteMiniMoteur #MiniTypeBien, .BoiteMiniMoteur #MiniBudget, #MiniTypeLoi,
#MiniTypeCommerce,
#MiniTypeActivite,
#MiniSousTypeBien, 
#MiniPieces,
#MiniChambres,
#MiniSurfaceTerrain,
#MiniPays,
#MiniRegion,
#MiniRegionEtr,
#MiniDep,
#MiniVilles,
#MiniQuartiers,
#MiniProximite,
#MiniRayon,
#MiniSituation,
#MiniReference,
#MiniSurface,
#MiniBouton { float: left; width: 190px; text-align: left; }

.BoiteMiniMoteur .MiniSelect { width: 105px; background-color: #fff; color: #7b7b7b; font-size: 10px; margin-top: 10px; }
.MiniSelect { border: 1px solid #9c9c9c; }
#MiniDivChampTextBudget { width: 30px; }

#MiniSelectTypeTrans, #MiniSelectTypeBien { float:left; width: 105px; margin-top: 10px; }
.MiniInput { width: 100px; margin-top: 10px; }
#TitreMiniBudget { width: 75px; float:left; }
#MiniDivChampTextBudget { float:right; width: 105px; }

#MiniChoixAffichage { width: 300px; float: left;  }
#MiniDivChoixAffichage { width: 120px; margin-top: 10px; float: left; }
#TitreMiniChoixAffichage { font-weight: bold; color: #fff; width: 150px; }
.MiniLabel { background: #515151; padding: 5px; }

#MiniBoutonInput { width: 116px; height: 26px; position: absolute; top: 80px;  right:0; }
.Patientez { display:  none; }

.MiniInputTxt { display: none; } /* span après les champs input (ex : euros / m²) */
	/* fin mini moteur1*/




	/*mini moteur2*/
#main-engin .BoiteMiniMoteur { width: 936px;height: 50px; }
#main-engin .BoiteMiniMoteur br { display: none; }
#MiniDiv { float: left; width: 225px; }
#main-engin .BoiteMiniMoteur p.MiniTitre { font-family: Arial, Helvetica, sans-serif; color: #fff; text-align: left; padding-top: 5px;width: 100px; float:left; }
#main-engin .BoiteMiniMoteur #MiniTypeTrans, #main-engin .BoiteMiniMoteur #MiniTypeBien, #main-engin #MiniBouton { float: left; width: 225px; text-align: left; }
#main-engin .BoiteMiniMoteur #MiniBouton { width: 400px; text-align: right; }
#main-engin .BoiteMiniMoteur #MiniBouton input { float: right; margin-right: 12px; }
#main-engin .BoiteMiniMoteur .MiniSelect { width: 105px; background-color: #fff; color: #7b7b7b; font-size: 11px; margin-top: 10px; }
#main-engin .MiniSelect { border: 1px solid #9c9c9c; }
#main-engin #MiniDivChampTextBudget { width: 30px; }

#main-engin #MiniSelectTypeTrans, #main-engin #MiniSelectTypeBien, #main-engin #MiniSelectVilles { float:left; width: 105px; font-size: 11px; color: #7b7b7b; }
#main-engin .MiniInput { display:none; }
#main-engin #TitreMiniBudget { display:none; }
#main-engin #MiniDivChampTextBudget { display:none; }

#main-engin #MiniBouton #MiniBoutonInput { width: 116px; height: 26px; position:absolute; top: 8px; right: 0; }

#main-engin .MiniInputTxt{ display: none; } /* span après les champs input (ex : euros / m²) */

#main-engin #MiniSurfaceTerrain, #main-engin #MiniSelectSurface, #main-engin #TitreMiniSurface, #main-engin #MiniTypeActivite, #main-engin #MiniBudget, #main-engin #MiniTypeCommerce, #main-engin #MiniChambres , #main-engin #TitreMiniChoixAffichage, #main-engin #TitreMiniSurfaceTerrain, #main-engin #MiniDivSelectSousTypeBien, #main-engin #TitreMiniSousTypeBien , #main-engin #TitreMiniChambres, #main-engin #MiniTypeActivite, #main-engin #TitreMiniTypeCommerce, #main-engin #MiniSelectTypeCommerce { display:none; }
#main-engin #MiniTypeCommerce, #main-engin #MiniTypeActivite, #main-engin #MiniSousTypeBien, #main-engin #MiniPieces, #main-engin #MiniChambres, #main-engin #MiniPays, #main-engin #MiniRegion, #main-engin #MiniRegionEtr, #main-engin #MiniDep, #main-engin #MiniQuartiers, #main-engin #MiniProximite, #main-engin #MiniRayon, #main-engin #MiniSituation, #main-engin #MiniReference, #main-engin #MiniSelectBudgetVente { display:none; }
#main-engin .BoiteMiniMoteur #MiniBudget, #main-engin #MiniTypeLoi { display:none; }
#metrecarreterrain, #main-engin #MiniRayon #MiniDivSelectRayon,  #main-engin #TitreMiniRayon { display: none; }
#main-engin #MiniSelectBudgetLoc { display:none; }
#main-engin #TitreMiniPieces { display:none; }
#main-engin #MiniSelectPieces { display:none; }

#main-engin #MiniVilles { width: 240px; float: right; padding-right: 240px !important; }

#main-engin #TitreMiniVilles { width: 120px;  }
#main-engin #MiniDivSelectVilles { margin: 0; padding: 0; }


#main-engin #MiniChoixAffichage {position: absolute;top:2;right:150px; display: block; width: 100px; height: 45px; overflow: hidden; }
#main-engin #MiniDivChoixAffichage { width: 120px; margin-top: 5px;padding:0;background: none;}
#main-engin #MiniDivChoixAffichage .MiniLabel{display: block;background: none; line-height: 15px;height: 20px; width: 100px;padding:0; margin:0;overflow: hidden;}
