/* 20071127 / Programme de popularite Century Immobilier */
#PopCentury{color: #990000;}
#PopCentury *{color: #990000;}
#PopCentury .clear{clear: both;}
#PopCentury{background: #fff7ef; border: 1px solid #990000; margin: 10px 0; padding: 10px;}
#PopCentury a{text-decoration: underline; font-weight: normal;}
#PopCentury a:hover{color: #ebab00; text-decoration: none;}
#PopCentury img.logo{display: block; float: left;}
#PopCentury p.urlCtnt{float: right; width: 600px; text-align: justify;}
#PopCentury p.urlCtnt span{display: block; background: url($$-$$images/fleche_titres.gif) -2px -1px no-repeat; padding: 0 0 0 13px; font-weight: bold; font-size: 1.1em;}