@import "color";
// BG SOLO
$bg-uni:yes;

// PICTURE BG
$picture-bg:no;
$picture-bg-url:'../images/degrade_bg.png';
$picture-bg-repeat-horizontal:no;

// SIZE PICTURE AREA : FULLSCREEN OR NOT
$height-container:900;

// VARIABLE SITE TYPO
$font-body:"PT Sans",verdana,sans-serif;
$font-title:"PT Serif",serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST > FONT-SIZE-TEXT
$font-size-text:1.6em;
$font-size-title:1.8em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:normal;

// HAUTEUR PHOTOS LISTING (235px par défaut)
$listing-img-height:400px;

// ARRONDI POUR LES EFFETS SUR LI HOVER/FIL ARIANE/BOUTON
$arrondi:yes;

// BORDER EFFECT ON NAV
$border-nav:yes;

// TYPE MENU : FLAT = COLOR BANNER BEHIND, NO FLAT = SHAPE OR NOT
// LINK TO VAR ID3X >>> MENU_TYPE
$type-menu:no-flat;

// STYLE NAV : IF YES = SHAPE BEHIND WORD, IF NO SHAPE BEHIND WORD ON HOVER
$shape:no;

// MARGIN UNDER NAV FIXE
$margin-top-under-nav-fixe:120;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS
@import "../../../slagence_X_V5/sources/scss/boutons/lib1";

// IMPORT TEMPLATE LONDRES
@import "../../../slagence_X_V5/sources/scss/templates/londres";

// IMPORT MODULE ANNONCES2
@import "../../../slagence_X_V5/sources/scss/modules/annonces18";

// IMPORT MODULE PUB LIB3
@import "../../../slagence_X_V5/sources/scss/pubs/lib3";

// IMPORT PUB
@import "../../../slagence_X_V5/sources/scss/pubs/mobilefirst";

// IMPORT DETAIL MOBILEFIRST
@import "../../../slagence_X_V5/sources/scss/recherche/mobilefirst";

// SPRITE BLANC
@import "../../../slagence_X_V5/sources/scss/sprites/social-blanc";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";


//---------------------------------------------------------------------------------------------
//		PERSO IMCO35
//---------------------------------------------------------------------------------------------

//---------------------------------------------------------------------------------------------
//		GENERAL
//---------------------------------------------------------------------------------------------

	//---------------------------------------------------------------------------------------------
	//		CONTAINER
	//---------------------------------------------------------------------------------------------

.container {
   	width: auto;
   	max-width: 1280px;
   	@media only screen and (max-width : 1310px) {
       padding-left: 15px;
       padding-right: 15px;
   }
}

	//---------------------------------------------------------------------------------------------
	//		ANIM
	//---------------------------------------------------------------------------------------------

/* ----------------------------------------------
 * Generated by Animista on 2018-5-25 10:20:25
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-in-2-ccw
 * ----------------------------------------
 */
@-webkit-keyframes rotate-in-2-ccw {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    opacity: 1;
  }
}
@keyframes rotate-in-2-ccw {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    opacity: 1;
  }
}

.rotate-in-2-ccw {
	-webkit-animation: rotate-in-2-ccw 2.5s infinite alternate ;
	        animation: rotate-in-2-ccw 2.5s infinite alternate ;
}


	//---------------------------------------------------------------------------------------------
	//		MENU & NAV
	//---------------------------------------------------------------------------------------------

.logo img {
	margin-top: -50px;
	-webkit-animation: rotate-in-2-ccw 2.5s infinite alternate ;
	        animation: rotate-in-2-ccw 2.5s infinite alternate ;
	@media only screen and (max-width : 767px) {
		margin-top: 0px;
		width: 30% !important;
	}
}

.navigation {
	height: 70px;
}

.menu-principal {
	line-height: 70px;
	>li {
		padding: 0 20px;
		>a {
			&:after {
				display: block;
	            content: "";
	            width: 0%;
	            height: 2px;
	            background-color: $color-primary;
	            margin-top: 10px;
	            -webkit-transition: all .7s ease;
	            		transition: all .7s ease;
			}
			&:hover {
				color: $color-important;
				&:after {
					background-color: $color-important;
					width: 40%;
				}
			}
		}
	}
}

//---------------------------------------------------------------------------------------------
//		LISTING PA
//---------------------------------------------------------------------------------------------

	//---------------------------------------------------------------------------------------------
	//		SOUS TYPE BIEN
	//---------------------------------------------------------------------------------------------

.annonce-soustypebien {
	display: none;

}

//---------------------------------------------------------------------------------------------
//		INDEX
//---------------------------------------------------------------------------------------------

	//---------------------------------------------------------------------------------------------
	//		MODULE PA
	//---------------------------------------------------------------------------------------------

.module-annonces-img {
	background-size: contain;
}