/* Stéphanie $$DYN:ID3:NOFOOTER$$ */
/* =================== */
$$IF!:8:FORM:IDTT$$
.ColonneDroite {
	padding-left: 10px;
	padding-bottom:10px;
	margin: 0px;
	float: left;
}
.RechercheVisuelsPhotoImg{
display: block;
height:83px;
width:120px;
overflow:hidden;
}
.RechercheVisuelsPhotoLien {
	display: none;
}
.RechercheVisuelsPhoto {
	display: block;
	float: left;
	color: #000000;	
}
.RechercheVisuelsPhotoImg img {
  padding: 0px;
	margin: 0px;
	border: 0px;
}
.BoiteContenu {
	display: block;
	padding: 0px;
	margin: 0px;
	background-image:url($$_$$images/result-fd.gif);
	background-repeat:no-repeat;
	background-position: bottom right;
	border: 1px solid #f1b624;
	border-bottom:0;
}
}
.RechercheExclusif{
position:absolute;
top:0;
left:307px;
z-index:1;
}
a.LienPhoto{
font-size:11px;
color: #000;
}

$$END$$
$$IF=:8:FORM:IDTT$$
.RechercheExclusif{
position:absolute;
top:0;
left:0;
z-index:5;
}
.ColonneDroite {
	padding-left: 10px;
	margin: 0px;
	padding-bottom:5px;
	background:transparent;
	}
div.RechercheTelephone {
	display: inline;
	border-collapse: collapse; 
}
div.RechercheRefAnnonce {
	display: inline;
	border-collapse: collapse; 
}
.RechercheVisuelsPhoto {
	display: block;
	float: left;
	color : #000000;
}
.RechercheVisuelsPhotoLien {
	display: none;
}
.RechercheVisuelsPhotoImg{
display: block;
height:190px;
width:321px;
overflow:hidden;
}
.RechercheVisuelsPhoto{
height:190px;
width:321px;
overflow:hidden;
}
.RechercheVisuelsPhotoImg img {
  padding: 0px;
	margin: 0px;
	border: 0px;
}
.BoiteContenu {
	display: block;
	padding: 0px;
	margin: 0px;
	background-image:url($$_$$images/result-fd.gif);
	background-repeat:no-repeat;
	background-position: bottom right;
	border: 1px solid #f1b624;
	border-bottom:0;
}
$$END$$
#TableResultatAnn{
width:700px;
background-image:url($$_$$/images/fond-resultat.jpg);
background-repeat:no-repeat;
background-color:#fff;
border: 1px solid #EAA627;
}
#TabFondResultat{
width:700px;
}
#TabFondResultat select{
color:#0c4ba3;
}
#TabFondResultat input{
color:#fff;
}
#TabFondResultat td{
padding:5px;
}
.BoiteAnnonce {
	display: block;
	width: 325px;
	background-color:transparent;
	padding: 0px;
	color: #56AB17;
}

.ColonneGauche {
	margin:0;
	padding:0px;
	float:left;
	background:transparent;
}

.BoiteAnnonce img{


}

#BlocFooterAnn{
margin-bottom:15px;
}
.FooterAnnonce {
	display: block;
	clear: both;
	background-color: #ffffff;
}
.FooterInfo {
display:block;
}
table#TabFondResultat a#LienplusInfo,table#TabFondResultat a#LienplusInfo:visited{
color:#EAA627;
font-size:0.85em;
}
table#TabFondResultat a.RecherchePanierLien,table#TabFondResultat a.RecherchePanierLien:visited{
color:#EAA627;
font-size:0.85em;
padding-left:5px;
}
table#TabFondResultat a.RecherchePanierLien:hover{
color:#EAA627;
font-size:0.85em;
padding-left:5px;
}
#BoiteNavigationHaut a{
color:#b056C5;
}
#boitenavigationbas a{
color:#b056C5;
}
.FooterPanier {
float: left;
}
.FooterPanier a{
padding-top: 4px;
padding-right: 5px;
}
.RecherchePlusInfo img {
	display: none;
}
.RecherchePlusInfo {
	padding-top: 4px;
	padding-left: 5px;
}
.RechercheLibelle {
  
	padding-top: 5px;
	padding-bottom: 2px;
	font-family:  Arial, Helvetica, sans-serif; 
	font-weight: bold;
	font-size: 14px;
	font-style: normal;
	color: #b056C5;
}
#TextVil a{
color:#b056C5;
}

div.RechercheLibelle {
display:block;
	
}
div.RechercheCodePostal {
display:inline;

}
div.RechercheSituation {
display:inline;
	
}
.RechercheCodePostal {
	height : 22px;
	padding-top: 5px;
	padding-bottom: 2px;
	font-family: Arial, Helvetica, sans-serif; 
	font-weight: bold;
	font-size: 12px;
	color: #242271;
	text-transform: uppercase;
}
.RechercheSituationVille {
	font-family:  Arial, Helvetica, sans-serif; 
	font-weight: bold;
	font-size: 12px;
	color: #242271;
	text-transform: uppercase;
}
.RechercheSituationCP {
	display: none;
}
.RechercheDescriptif {
	display: none;
	visibility: hidden;	
}

.RecherchePrix {
	color: #b056c5;
	font-family: Arial, Helvetica, sans-serif, Verdana;
	font-style: normal;
	font-size: 11px;
	display: block;
	text-align: left;
}
div.RecherchePrix {
	display: inline;
	border-collapse: collapse; 
}
div.RechercheHonoraires {
	display: inline;
	border-collapse: collapse; 
}
.RecherchePrix * {
	font-style: inherit !important;
	font-weight: inherit !important;
}
.RechercheHonoraires {
	display: block;
	color: #242271;
	font-family: Arial, Helvetica, sans-serif, Verdana;
	font-style: normal;
	font-size: 11px;
	display: block;
	text-align: left;
}
.RechercheTelephone {
	display: block;
	color: #242271;
	font-family: Arial, Helvetica, sans-serif, Verdana;
	font-style: normal;
	font-size: 11px;
	text-align: left;
}

.recherchetelephonetitrecontact {
	display: none;
}
.RecherchePrixFranc {
	display: none;
}
.RechercheBoiteNeuf {
	
	display:none;
	font-size:11px;
	color:#000;

}
.RechercheTelephone * {
	font-style: inherit !important;
	font-weight: inherit !important;
}
.PubAlerte {
	display:block;
	font-size:11px;
padding-left:10px;
padding-top:10px;
	
}
.BoitePubAlerte{
border:1px solid #F69833;
}
.PubAlerte a{
	font-size:11px;
	color:#F69833;
}
.RecherchePlanLocalite img {
	display: none;
}
.BoitePhraseRecherche {
	display: inline;
}		
.RechercheProximite {
	display: none;
}
.RechercheProximite img {
	display: none;
}
.RecherchePanier img {
	display: none;
	text-align: right;
}
.RechercheVisuels360 {
}
.RechercheRefAnnonce {
 	font-size: 10px;
	font-family: Verdana, Myriad, Arial, Helvetica, sans-serif; 
	font-style: normal;
	color:#000000;
}
.RechercheDtFraicheur{
	display: none;
	visibility: hidden;
	}
.RechercheHaut{
	display: none;
	visibility: hidden;
}
.RecherchePlanLocalite {
	display: none;
	visibility: hidden;
}
.RecherchePlan {
	display: none;
	visibility: hidden;
}
.RechercheSituation .RechercheSituationLien {
	display: none;
	visibility: hidden;
}

.RechercheSituation2 {
	display: none;
	visibility: hidden;
}
.RechercheFinancement {
	display: none;
	visibility: hidden;
}
.RechercheLocRenvoiVente {
	display: none;
	visibility: hidden;
}
.RechercheSituation .RechercheSituationProximite {
	display: none;
	visibility: hidden;
}
.PlanLien a {
	color: #00329C;	
}
.PlanLien a:hover {
	color: #66CC99;	
}
.RechercheEstaraLien {
	display: none;
	visibility: hidden;
}
.RechercheSurface {

	display: none;
	visibility: hidden;
}
.RechercheChatLien {
	display: none;
	visibility: hidden;
}
.DescrTitre{
color:#000;
font-weight:bold;
}
.DescrTxt{
color:#000;
}
.Prix{
padding-left:20px;
display:block;
margin-top:10px;
}
.Francs{
color:#0c4ba3;
font-size:12px;
}
.InfosCompl{
padding:10px;
margin-bottom: 10px;
}
TitreDescriptif{
display:block;
}
.Proximite{
padding-left:24px;
padding-top:10px;
}
