// VAR COLORS
$color-body:#eeeeee;
$color-content:#7c7e7d;
$color-block:#f7f7f7;
$color-primary:#7c7e7d;
$color-secondary:#000;
$color-action:#7c7e7d;
$color-important:#d2da2e;
$color-nav-footer:#fff;
// COLOR PUB
$color-pub:"white";
// COLOR FONT BODY DEFAULT
$color-font-body:#000;
