/* CSS POUR AGENCE, AGENCES */
/* MAP */
#AgImmo_Ctn h3 {font-size:20px;color:#b5a16e;margin:0;padding:0;}
#MapMicrosoft {display:block;background:#fff;border:1px solid #999;padding:10px;margin:10px 0 10px 0;}
#MapHead h3 {font-size:18px;color:#999;margin:0 0 10px 0;padding:0 0 5px 0;border-bottom:1px dotted #999;}
.geolocInfo {background:url('/z/webagency/slagence_X_V4/images/cartos/noir_info.gif') no-repeat;margin:10px 0 0 0;padding:5px 0 0 30px;height:23px; font-size:11px;}
/* TRI & MULTI */
#RechPagesHaut {margin-top:10px;border-bottom:1px dotted #bbb;height:25px;padding-bottom:5px;}
.listeAgPages {float:right;}
.listeAgPages a {float:left;padding:4px;background:#bbb;color:#fff;text-decoration:none;margin:0 1px 0 1px;}
.listeAgPages a:hover {color:#fff;background:#b5a16e;}
.listeAgPages .actif {background:color:#fff;background:#b5a16e;font-weight:bold;}
.pageCourante {float:left;background:url(/z/webagency/slagence_X_V4/images/recherche/picto_page.gif) left no-repeat;padding:1px 0 1px 22px;margin:4px 0 0 10px;}
#Tri_Ctn {float:left;}
/* INPUT */
.miniForm {background:#fff;border:1px solid #d3d3d3;font-size:11px;padding:3px;margin:0 0 0 3px;}
.miniBouton {padding:3px;font-size:11px;font-weight:bold;;color:#fff;background:#b5a16e;width:auto;margin:0 0 0 5px;cursor:pointer;}
/* LISTE AGENCES */
.cadreAgence {border:none;background: #42250d; display:block;width:100%;margin:10px 0 10px 0;}
.retourHaut {float:right;margin-top:10px;}
/* GESTION DES PIN */
/* POUR CHANGER LA COULEUR */
/* COULEUR DISPO : bleu, bleuturquoise, gris, noir, orange, orange, vertpomme, violet*/
/* 14 REMPLACEMENTS NECESSAIRES */
.pinPays{width:68px;height:32px;background:url('/z/webagency/slagence_X_V4/images/cartos/noir_pin_pays.png') no-repeat 0 0 !important;}
.pinReg{width:52px;height:30px;background:url('/z/webagency/slagence_X_V4/images/cartos/noir_pin_region.png') no-repeat 0 0 !important;}
.pinDep{width:52px;height:31px;background:url('/z/webagency/slagence_X_V4/images/cartos/noir_pin_departement.png') no-repeat 0 0 !important;}
.pinVil{width:52px;height:36px;background:url('/z/webagency/slagence_X_V4/images/cartos/noir_pin_ville.png') no-repeat 0 0 !important;}
.pinQrt{width:44px;height:35px;background:url('/z/webagency/slagence_X_V4/images/cartos/noir_pin_quartier.png') no-repeat 0 0 !important;}
.pinAnn{width:44px;height:34px;background:url('/z/webagency/slagence_X_V4/images/cartos/noir_pin_annonce.png') no-repeat 0 0 !important;}
.pinAgn{width:44px;height:34px;background:url('/z/webagency/slagence_X_V4/images/cartos/noir_pin_agence.png') no-repeat 0 0 !important;}
/* LISTE */
.indexAg {display:block;margin:10px 10px 5px 10px;}
.photoAg {float:left;margin:10px;text-align:center;width:300px; height:200px; position:relative;}
.photoAg a{width:100%}
.photoAg a .snsphotos{width:100%}
.photoAg p {margin-top:10px;}
.infosAg {float:left;margin:10px 10px 10px 30px;width:25%;}
.infosAg p {margin:3px;}
.plusAg {display:block;margin:10px;}
.plusAg a {font-size:16px; text-transform:uppercase;}
.quiAg {float:left;margin:10px 10px 10px 50px;width:40%;}
/* CSS POUR AGENCES */
#AgImmo_Ctn {margin:20px 0;}
#AgImmo_Ctn h3{color:#b5a16e;font-size:1.3em;font-weight:normal; display:none;}
#AgImmo_Ctn h3 a {display:block;float:right;text-decoration:underline;font-size:11px;}
/* COL GAUCHE */
#AgImmoGauche{float:left;width:300px;}
#AgImmoVitrine_Ctn {display:none;}
#AgImmoVitrine_Ctn img{display:none;margin:auto;}
/* MAP */
#MapMicrosoft {background:#FFFFFF;border:1px solid #D3D3D3;padding:10px;}
#MapMicrosoft #MapHead * {color:#999999;}
#AgImmoGauche #MapMicrosoft .geolocInfo {background:url('/z/webagency/slagence_X_V4/images/cartos/noir_info.gif') no-repeat ;color:#999999;margin-top:5px 0;padding:0 0 0 30px;height:40px;}
#AgImmoMentions h6 {font-size:17px;font-weight:normal; text-transform:uppercase; margin:0; padding:0 0 5px 0;}
#AgImmoMentions p {color:#999999;font-size:12px;text-align:justify; margin:0; font-family:arial; text-transform:uppercase; padding:0 0 15px 0;}
/* DROITE */
#AgImmoDroite{float:left;margin:0 0 0 30px;width:65%;}
#AgImmo_Ctn h2, #AgImmo_Ctn h4 { display: block;
    font-family: "Times New Roman",Times,serif;
    font-size: 30px;
    font-weight: normal;
    padding: 0px;
    position: relative;
    text-transform: uppercase; color:#DF7300;}
#AgImmoDroite p, #AgImmoDroite p * {font-size:1em;line-height:18px;}
#AgImmoDroite p label{display: block;}
#AgImmoDroite p .contact {display:block;}
#AgImmoDroite p{margin-bottom:10px; color:#fff;}
#AgImmoDroite .AgImmoContact a, #AgImmoDroite .AgImmoEstimation a {background:#b5a16e;color:#000;display:block;float:left;font-weight:bold;margin:0 5px 0 0;padding:5px 10px;text-decoration:none;}
#AgImmoDroite ul {list-style:none outside none;text-decoration:none;}
#AgImmoDroite ul li {margin:0 0 0 5px;padding:2px 12px;}
/* HORAIRES */
#Horaires  {margin:5px auto 0;width:80%;border-bottom:dotted #999999 1px; display:none;}
#Horaires .jour {text-align:left;width:100px;padding:5px 10px;}
#Horaires .lundi {margin-top:10px;}
#Horaires .heuresAM, #Horaires .heuresPM {text-align:center;width:150px;padding:5px 10px;}
#Horaires .clear{border:none;font-size:0px;height:0px;}
#Horaires div p {float:left;margin:0;}
#Horaires p.comments {padding:1em 0;text-align:center;}
/* PORTEFEUILLE*/
#AgImmoDroite ul {padding:0; margin:0;}
ul#AgImmoPortefeuille li.typeTransac {background:none repeat scroll 0 0 transparent;margin:0px 0 0; padding:0; }
ul#AgImmoPortefeuille li.typeTransac a {font-size:30px; margin-top:10px;}
ul#AgImmoPortefeuille li ul li.subList {border-bottom:0px dotted #BBBBBB;padding:4px 0px; }
ul#AgImmoPortefeuille li ul li.subList a{color:#fff;}
/* PERSO ROME */
#AgImmo_Ctn h4, #AgImmo_Ctn h3 {color: #DF7300;}
.listeAgPages .actif, #AgImmoDroite .AgImmoContact a, #AgImmoDroite .AgImmoEstimation a {background: #DF7300; font-family: "Times New Roman",Times,serif;
    font-size: 16px;
 
    text-transform:uppercase;
    font-weight: normal; color:#fff;}
#AgImmoDroite {width: 62%;}

.ero-previewArea *{color: #000;}
.descGeolocEmail a:hover{color: #000; text-decoration: underline;}

/*autre*/
#textPrincipal{ text-align:justify;}
#textPrincipal h3{font-size:19px;display:block;}