
/*------CSS definitive--*/
body { margin: 0; padding:0; background: #2f2f2f; text-align:center;font-family: arial; }
div,td {  font-size:12px; color: #fff; }
img { border:none; display: inline; }
table  { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; }
a { text-decoration: none; color: #8a7132; }
a:hover { color: #fff; text-decoration: none; }
p { margin:10px 0;}
*{margin:0; padding:0 }
ul{list-style-type:none}
.clear { clear: both; }
/*----- decoupage -------*/

#main-wrapper { background:url($$_$$images/skin/bg_body.jpg) repeat-x #1d1d1d; } 
#wrap { width: 975px; margin: 0 auto; text-align:left; position:relative; }
.logo { float: left; width: 123px; padding-top: 20px; }
.maselection {margin-top: 10px;  border-bottom: 1px solid #252525; color: #8A7132; font-size: 14px; font-weight:bold; padding-bottom:5px;}
.left-foot .maselection a {color:#8A7132;}
.maselection span{color: #fff;}
.slogan { float:left; width: 701px; padding-left: 25px; padding-top: 20px; }
.lang { float:right; width: 100px; padding-top: 76px; text-transform:uppercase; font-size: 14px; color: #947935; }
.version {color: #8a7132; font-family:"Times New Roman", Times, serif; font-size: 17px; padding-right: 20px; text-align:right; text-transform:uppercase; }
.version strong { color: #fff; font-family:"Times New Roman", Times, serif; font-size: 12px; font-weight: normal; text-transform:uppercase; padding-right:15px;}


.menu { width: 960px; margin:0 auto; height: 50px; padding-top: 19px; position:relative; }
.ie9 .menu, .ie8 .menu {height:51px;}
.ie7 .menu {height: 54px;}
.menu ul { margin: 0; padding: 0; text-align:center;}
.menu ul li { list-style-type: none; display:inline; margin:0 31px; height:51px; padding:20px 0;}
.ie9 .menu ul li {padding:21px 0;}
.ie7 .menu ul li {float:left; padding:5px 0;}
.menu ul.en li { margin: 0 28px; }
.menu ul.it li, .menu ul.nl li, .menu ul.pt li, .menu ul.ru li { margin: 0 20px; }
.menu ul li a { line-height:45px; color: #fff; font-size: 16px; font-family:"Times New Roman", Times, serif; text-transform:uppercase; padding:17px 0 5px 0; }
.menu > ul > li > a:hover, .menu > ul > li:hover > a {border-bottom:2px solid #8a7131;}

.menu ul li ul { display: none; position: absolute; z-index: 1000; background: url($$_$$images/skin/bg_ss.png) repeat; top: 68px; left:0; text-align:center; width: 960px; height: 260px;}
.menu ul li ul li, .menu ul.en li ul li, .menu ul.it li ul li, .menu ul.nl li ul li, .menu ul.pt li ul li, .menu ul.ru li ul li {margin:0; height:auto; float:none; display:inline-block; padding:0;}
.ie7 .menu ul li ul li, .ie7 .menu ul.en li ul li {float:left; margin:0 5px;}
.menu ul li ul li .pic-ss a {height: 30px; border-bottom: 5px solid #8a7132; padding-bottom: 10px; width: 292px; display:block; }
.menu ul.nl li ul li .pic-ss a {font-size:14px;}
.menu ul li ul li a, .ie9 .menu ul li ul li a  {padding:0;  height: auto; line-height: 22px;}
.menu ul li:hover ul { display: block; }

.ss-left { padding: 0 15px; } 
.ss-center, .ss-right { padding: 15px; width: 321px; text-align:justify; color: #fff; }
.ss-center p, .ss-right p{clear: both;}
.menu ul li ul li.ss-text {float:none; display:block; margin:-30px 0 0 220px; color:#ceced3;}
.menu ul li ul li.ss-text strong {color:#b5a16e;}
.vendre-ss-center, .vendre-ss-right, .vendre-ss-left { padding: 15px 10px; width: 293px; text-align:justify; color: #fff; }
.fistp {margin:0;}

.ttl-ss { font-size: 17px; color: #b5a16e; }
.link-ss a { color: #fff; font-size: 11px; }

.btn_ctc {padding:5px 10px; background:#8A7132; color:#fff; text-align:center;}

/*fin-sous-menu*/


.bg-photo { background:url($$_$$images/skin/bg_photo.jpg) no-repeat; width: 975px; height: 355px; text-align:center; }
.bg-photo img { padding-top: 15px; }

#main-moteur { background: #1f1f1f; border: 1px solid #3b3b3b; width: 957px; height: 50px; margin: 8px auto; text-align:left; }
.ttl-recherche { background: #000; margin-top: 7px; margin-left: 8px; width: 182px; height: 35px; line-height: 35px; font-size: 16px; color: #fff; float:left; text-align:center; }
#bloc-moteur { float: left; width: 755px; position:relative; padding-left: 2px; padding-top: 7px; }

.txt-content { float:left; width: 250px; line-height: 34px; text-align:right; padding: 40px 50px 7px; }
.right-txt { float: left; width: 500px; color: #fff; border-left: 7px solid #1f1f1f; line-height: 18px; padding: 0 45px 15px; margin-top: 15px; line-height: 14px; }
.bloc-cdc { background: #1f1f1f; border: 1px solid #3b3b3b; width: 960px; height: 160px; margin: 10px 0; }

.bloc-cdc { margin: 15px auto; }
.ttl-alert { font-family: "Times New Roman", Times, serif; text-transform:uppercase; font-size: 18px; text-indent: 15px; padding-top: 4px; }
.ie .ttl-alert { font-family: "Times New Roman", Times, serif; text-transform:uppercase; font-size: 18px; text-indent: 15px; padding-top: 6px; }
.bg-alert p { width: 270px; color: #fff; padding-left: 15px; padding-top: 4px; line-height: 16px; }
.bg-agences p { width: 320px; color: #fff; padding-left: 15px; padding-top: 4px; line-height: 16px; }

.bg-alert { background:url($$_$$images/skin/bg_alert.gif) no-repeat; width: 476px; height: 114px; float:left; margin-left: 4px; }
.bg-agences { background:url($$_$$images/skin/bg_agence.gif) no-repeat; width: 474px; height: 114px; float:right; padding-right: 2px; }

.bt-savoir { width: 150px; height: 23px; background: #8a7132; font-family: "Times New Roman", Times, serif; text-align:center; line-height: 23px; margin-left: 15px; }
.bt-savoir a { color: #000; font-size: 16px; }
.bt-savoir a:hover { color: #fff; }

#footer { background:url($$_$$images/skin/bg_footer.jpg) repeat-x #2f2f2f; }
.footer { width: 975px; margin: 0 auto; text-align:left; background:url($$_$$images/skin/bg-foot.jpg) no-repeat; height: 255px; }

.left-foot { float:left; width: 250px; padding-top: 30px; padding-left: 35px; }
.center-foot { float:left; width: 150px; padding-top: 30px; padding-left: 50px; }
.right-foot { float:left; width: 195px; padding-top: 30px; padding-left: 45px; }

.ttl-foot { font-size: 14px; font-weight: bold; color: #8a7132; border-bottom: 1px solid #252525; padding-bottom: 5px; }
.pic-rss { background:url($$_$$images/skin/pic-rss.gif) no-repeat; padding-left: 38px; margin-top: 35px; }

.pic-tab { float:right; width: 250px; padding-top: 30px; }
.pic-tab img { padding-bottom: 6px; }

.link-footer { text-align:center; color: #666666; padding-top: 15px; }
.link-footer a { color: #666666; padding: 0 10px; }
.link-footer a:hover { color: #fff; }

.left-foot a, .center-foot a, .right-foot a { color: #fff; display:block; }
.left-foot a:hover, .center-foot a:hover, .right-foot a:hover { color: #8a7132; }

#Plan_Ctn a { color: #fff; border-bottom: 1px dotted #fff; }
#Plan_Ctn a:hover { color: #8a7132; }
#Plan_Ctn ul { padding-left: 20px; }

#navigue { min-height: 450px; background: #000; padding: 15px 10px; width: 940px; margin:0 auto; }

.ttl_page {font-size: 22px; color:#8a7132; font-family:"Times New Roman", Times, serif; }
.firstLien {color:#fff;}

#content { padding-bottom: 20px; }

#head_agenceliste {position:relative;}
.logo_member {position:absolute; right:10px; top:-36px;}

/* RETOUR HAUT */
.retourHaut {float:right;margin:5px 0 0 0;padding:0;font-size:11px;font-weight:bold;}
.retourHaut a {color:#8a7132;text-decoration:none;}
/*FOOTER REFERENCEMENT*/
.leftreffooter{float:left;}
.conteneurfoot{margin:auto;width:960px;}
.contentblocklink{float:right;margin-bottom:10px;}
.blockcol{float:left;margin-left:30px;text-align:left;}
.footerlink h4{color:#fff; font-weight:normal;margin:0;padding:0;margin-top:10px;font-size:1.2em;}
.footerlink{float:none;}
.footerlink a{display:block;font-size:0.8em;color:#ccc;}
