<!--#include virtual="styles/macros_path.htm" -->
body { margin: 0; padding:0; background: #1a171b; text-align:center; }
div,td { font-family: Arial, Helvetica, sans-serif; font-size:12px; color: #ccc; }
img { border:none; display: inline; }
table  { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; }
a { text-decoration: none; color: #e2001a; }
a:hover { color: #fff; text-decoration: none; }
p { margin:10px 0; }

.clear1 { clear: left; }
.clear2, .clear { clear: both; }

/*----- decoupage -------*/

#wrap { position: relative; width: 1000px; text-align: left; margin: 0 auto; background: url($$_$$images/bg_main.gif) top no-repeat; }
.logo { position: absolute; top: 0; left: 0; z-index: 9; float: none; width: 228px; margin-bottom: 0; }
.flag { position: absolute; top: 10px; right: 0; z-index: 9; }
.flag a { float: left; padding-right: 8px; }

#bg-top { border-bottom: none; height: 114px; overflow: hidden; }

.vide { float: left; width: 228px; }

.menu { height: 53px;overflow: hidden; float: right; padding-top: 44px; text-align: right; width: auto!important; line-height: 53px; }
.menu ul { margin: 0; padding: 0; }
.menu li { list-style-type: none; display: inline-block; text-align: right; }
.menu a,.menu_en a { font-size: 14px; color: #fff; text-transform: uppercase; display: inline-block; padding: 0 10px; font-weight: normal; font-family: Arial, Helvetica, sans-serif; }
.menu a:hover { color: #e2001a; background: url($$_$$images/bg_over.gif) repeat-x; text-decoration: none; }

.menu, .menu_en { float: right; width: auto; }

#main-content { width: 1000px; border-bottom: 1px solid #e2001a; padding-bottom: 15px; }
#navigue { width: 1000px; min-height: 400px; padding-top: 120px; background: url("$$_$$images/flash_int.jpg") top center no-repeat;}

#flash { position: relative; height: 376px; width: 1000px; margin-top: 15px; }
#bg-mot { position: absolute; background: url($$_$$images/bg_minimoteur.png) no-repeat; width: 270px; height: 280px; top: 163px; right: 27px; }
#bloc-mot { width: 252px; top: 175px; left: 710px; position: absolute; z-index: 6; }

/*minimoteur*/
#bg-mot { position: absolute; background: url($$_$$images/bg_minimoteur.png) no-repeat; width: 270px; height: 255px; top: 165px; right: 27px;}
#bloc-mot { width: 252px; top: 170px; left: 710px; position: absolute; z-index: 6; height: auto; }
.miniDiv { display: inline; height: auto; margin: 3px 0; }
.miniTitre { font-size: 11px; width: 104px; color: #fff; font-family: Arial; }
#MiniTypeTransaction { margin-bottom: 10px; display: block; }
.elargir {position: absolute; bottom: -30px; left: 0; text-decoration: underline; color: #e2001a;font-weight: normal;font-family: Arial;font-size: 11px;}
.patientez { display: none; }
#MiniVilles { border-bottom: 1px solid #fff; }
#MiniBouton .boutonSubmit { bottom: -40px; }
.miniDivSelect label { font-size: 11px; color: #fff; }

#MiniReference { display: none; }

#main-mot a:hover {color:#606060; text-decoration: underline;}

.foto-agc { position: absolute; top: 47px; left: 521px; }

.bg-onglet { background: url($$_$$images/bg_onglet_news.gif) no-repeat; height: 45px; }

.btn { height: 31px; overflow:hidden; padding-top: 6px; }
.btn ul { margin: 0; padding: 0; }
.btn li { list-style-type: none; position: relative; float: left; }
.btn a { display: block; height: 31px; background-repeat: no-repeat; }
.btn a:hover { position: relative; display: block; background-position: 0 -31px; }

#new, #cdc { display: none; }

#menu-new,#menu-cdc, #menu-exclu { width:133px;height:31px;display: block; }

#menu-new.fr { background: url($$_$$images/onglet_new_fr.gif) no-repeat 0 -31px;}
#menu-exclu.fr { background: url($$_$$images/onglet_exclus_fr.gif) no-repeat; }
#menu-cdc.fr { background: url($$_$$images/onglet_cdc_fr.gif) no-repeat 0 -31px; }
#menu-new.en { background: url($$_$$images/onglet_new_en.gif) no-repeat ;}
#menu-exclu.en { background: url($$_$$images/onglet_exclus_en.gif) no-repeat 0 -31px; }
#menu-cdc.en { background: url($$_$$images/onglet_cdc_en.gif) no-repeat 0 -31px; }

/*CDC*/
#bloc-cdc { float: left; width: 675px; padding: 0; }
.selectionIndex_Ctn { float: left; width: 210px; margin-right: 5px; height: auto; }
.selectionPhoto_ctn { width: 175px; height: 175px; border:1px solid #e2001a; }
.selectionPhoto_ctn, .selectionPhoto_ctn a.selectionPhoto .selectionPhotoImg { width: 175px; height: 175px; }
a.selectionPhoto { width: 175px; height: 175px; }
#bloc-cdc .nbPhotos_ctn { display: none; }
.selectionDetail { display: none; }
.selectionDescr { width: 210px; margin: 0 auto; font-size: 11px; color: #606060; }
.selectionDescr p { margin: 0; padding: 0; font-size: 11px; }
.selectionDescr p strong { font-size: 11px; font-weight: normal; }
.selectionDescr .selectionVille a { font-size: 11px; }

.selectionDescr .selectionVille, .selectionDescr .selectionVille * { color: #e2001a; font-weight: normal; }
.selectionDescr .selectionPrix { font-weight: bold; font-size: 14px; color: #e2001a; }

.main-txt { float: right;  width: 270px; padding-right: 0px; margin-top: 10px; font-size: 11px; text-align: left; margin-right: 27px; }
.main-txt p, .selectionDescr .selectionSurface, .selectionDescr .selectionNbPieces { color: #fff; }
.main-txt strong {font-weight: bold; color: #e2001a; font-size: 12px; text-align: left; text-transform: uppercase; }
.main-txt div { width: 270px; padding-left: 25px; text-align: justify; }

.footer { width: 1000px; text-align: center; margin: 10px auto 25px; font-size: 11px; color: #e2001a; font-weight: normal; font-family: Tahoma; }
.footer a { font-size: 11px; font-weight: normal; color: #e2001a; }
.footer a:hover { color: #fff; }
.realisation { color: #e2001a; }


/*IE8*/
.BoutonFormContact, .BoutonFormRecherche, .boutonEnvoi, td#ChampsBouton input { width: 130px; height:31px; }
.titrePageOutils { display: none; }

/*autres*/
.ttl-pages { font-size: 18px; color: #e2001a; text-transform: uppercase; margin-bottom: 10px; text-shadow: none; }
#Plan_Ctn .planSite { display: none; }
#Plan_Ctn #plan li { border-bottom: 1px solid #e2001a; padding: 5px 0; }
.VE_Pushpin_Popup_Title {color :#000000;}
.VE_Pushpin_Popup_Body a { color: #444; }
.VE_Pushpin_Popup_Body a:hover { color: #000; }
.descGeolocAdresse {color :#000000;}
.descGeolocTel {color :#000000;}
.descGeolocEmail a {color :#000000;}
.descGeolocDetail a {color :#000000;}
#RechAffichage a {color: #787878;}

/*ADD CSS*/
#AgImmoDroite .AgImmoContact a, #AgImmoDroite .AgImmoEstimation a, .accordion_content .inputCalcul, #AlerteEmail #AlerteForm input.alerteBt { background: #e2001a; }
#Outils h3, #AgImmo_Ctn h2 { color: #e2001a; }

#Annonce_Ctn td#ColonneGauche { border: none; }
.accordion_content .inputResult, #MapMicrosoft .geolocInfo, #AgImmo_Ctn h3 { color: #606060; }
.blocAnnonce, #RechPagesHaut .rechLiensPages a.actif, #RechPagesBas .rechLiensPages a.actif, #RechPagesHaut .rechLiensPages a:hover, #RechPagesBas .rechLiensPages a:hover, #AlerteEmail, #RechHautPictoResult, #Annonce_Ctn td#ColonneDroite { border: none; background: #4a4b4a; }
.contactAnn { background: #1a171b; }

#Coords .col2 a { color: #000000;}

#RechPagesHaut .listeAgPages a.actif, #RechPagesBas .listeAgPages a.actif, #RechPagesHaut .listeAgPages a:hover, #RechPagesBas .listeAgPages a:hover { background: #474a49; }
.agImmoPortefeuille h4, #Outils h3, #AgImmo_Ctn h2 { color: #e2001a; }

.bloc-btn { margin-top: 20px; }

.bg-news { float: left; background: url($$_$$images/bg_new.png) no-repeat; width: 328px; height: 82px; font-weight: bold; }
.bg-mob { float: left; background: url($$_$$images/bg_mob.png) no-repeat; width: 320px; height: 82px; margin-left: 15px; font-weight: bold; }
.bg-mailto { float: right; background: url($$_$$images/bg_mailto.png) no-repeat; width: 321px; height: 82px; font-weight: bold; }

.bg-news div { width: 185px; padding: 8px 0 0 130px; color: #1a171b; font-size: 11px; }
.bg-news div strong { color: #fff; }
.bg-news div p { color: #1a171b; font-size: 11px; }
.bg-news div p a { text-align: right; text-decoration: underline; color: #1a171b; display: block; }

.bg-mob div { width: 245px; padding: 8px 0 0 65px; color: #e2001a; }
.bg-mob div p { color: #fff; padding-left: 45px; display: block; }

.bg-mailto div { width: 225px; padding: 8px 0 0 75px; color: #fff; }
.bg-mailto div strong { color: #fff; }
.bg-mailto div p a { color: #1a171b; }

.bg-news div p a:hover, .bg-mailto div p a:hover { color: #fff; }

#Moteur .alerteNumber {margin-top:0;}
#MapMicrosoft {background:none;}

table.detailsAnn {background:#fff;}

#Moteur h4.typeBienImmoEntreprise {display: none;}