// VAR COLORS
$color-body:#FFF;
$color-content:#1a1a1a;
$color-block:#fafafa;
$color-primary:#FFF;
$color-secondary:#1d3200;
$color-action:#8a9992;
$color-important:#1d3200;
$color-nav-footer:#1d3200;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#1d3200;

// COLOR SOUS MENU
$color-sous-menu:$color-primary;

// ICONE COUP DE COEUR
$color-icone-cdc:#8a9992;
