/* $$DYN:ID3:NOFOOTER$$ */
.BoiteMiniMoteur { width: 200px; margin: 0 auto; }
.BoiteMiniMoteur br { display: none; }

#BoiteMiniMoteur select { background: #fff; border: 1px solid #a6a5a5; color: #001c4c; width: 200px; margin-bottom: 1px; font-size: 10px; }
.BoiteMiniMoteur div, .BoiteMiniMoteur span { color:#4384b6; font-family: Arial, Helvetica, sans-serif; font-size: 11px;}
.MiniDiv { height: 35px; overflow: hidden; text-align: center !important; }
.MiniDiv p.MiniTitre{ width: 200px; color: #fff; margin: 1px 0; text-align: left; font-weight: normal; }

.MiniDivChampText { width: 200px; text-align: left; }
.MiniDivChampText .MiniInputTxt { display: none; }
.MiniDiv input#MiniBoutonInput { margin-left:45px; padding-top: 1px; width: 134px; height: 21px; margin-top: 5px; }

#MiniTypeBien p { margin: 0; padding: 0; }


/* phrase de chargement des div */
.Patientez{ display: none; }

#PatientezTypeActivite,
#PatientezTypeBien,
#PatientezSousTypeBien,
#PatientezPays,
#PatientezRegion,
#PatientezRegionEtr,
#PatientezDep,
#PatientezVilles,
#PatientezQuartiers
{ display: none; }