$$REM$$
====================================================================

//// <summary>Fichier css par défaut pour : agence-immobiliere.htm</summary>
//// <remarks>
//// <para>Fichier appelé par : /slagence_X_V2/agence-immobiliere.htm</para>
//// </remarks>
//// <update date="2008-05-30" author="lisbonne.siriphol">Update et corrections</update>
//// <update date="2008-01-14" author="lisbonne.siriphol">Création v1</update>

====================================================================
$$END$$

/* carte_visite.htm */
#CV{margin: 0; padding: 0; border: none;}
#CV *{margin: 0; padding: 0; border: none; color:#5C5E5D;}
#CV .clear{clear:both;}
#CV .linkOut{text-align: right; margin: 0.5em 0;}
#CV .linkOut a{background: url($$_$$img/picto_fleche_01.gif) left no-repeat; padding: 0 0 0 15px; color:#AF0C11;}
/**/
#CV h1{position: relative; font-size: 1.8em; color:#FFF; background:#AF0C11; padding: 0.3em 0.8em;}
* html #CV #Agence{height:300px;}
#CV #Agence{padding: 1em; background:none; min-height:300px;}
#CV #Agence #Img_Ctn{position: relative; float: left; background: url($$-$$images/sans_photo_01.jpg) no-repeat #bbc8d9;}
#CV #Agence #Img_Ctn #Vitrine{width: 200px; height: 130px; border: 5px solid #AF0C11; background: url($$_$$images/agences/$$FORM:IDP$$.jpg) no-repeat;}
#CV #Agence #Coordonnees{position: relative; float: left; padding: 0 1em;}
#CV #Agence #Coordonnees *{color:#AF0C11;}
#CV #Agence #Coordonnees h2{font-size: 1.5em; color:#AF0C11;}
#CV #Agence #Coordonnees p{padding:3px 0 0 0; color:#000;}
#CV #Agence #Coordonnees p strong{font-weight: normal; color:#AF0C11;}
#CV #Agence #Coordonnees p span{font-weight: bold; color:#AF0C11;}
#CV #Agence #Coordonnees p.cv_adresse,
#CV #Agence #Coordonnees p.cv_adresse strong { color:#2F2F2F;}
#CV #Agence #Coordonnees p .cv_respag,
#CV #Agence #Coordonnees p .cv_tel{ color:#2F2F2F;}


#CV #Agence #Coordonnees p {color:#000;padding:3px 0 0;}
#CV #Agence #Coordonnees p strong {color:#000;font-weight:normal;}

/* texte public SAISS */
#CV #Agence #TxtPublic{color:#000; text-align: justify; padding:10px 5px;}

/* Liens footer carte de visite */
#CV #CvFoot{height: 21px; overflow: hidden; background:#AF0C11;}
#CV #CvFoot *{color: #FFF; text-decoration: none; font-weight: bold;}
#CV #CvFoot #Links{float: left;background:#AF0C11;}
#CV #CvFoot #Links a{ color:#FFF;display: block; float: left; padding: 0.3em 1em; border-right: 1px solid #FFF;}
#CV #CvFoot #Links a:hover{background:#2F2F2F; color:#AF0C11;}
#CV #CvFoot #Links a.message{}
#CV #CvFoot #Links a.estimation{}

/* Portefeuille agence : incl_portefeuille01.htm */
#Portefeuille01{ position: relative; border:none;}
#Annonces01 h3,
#Portefeuille01 h3{ display:block; font-weight:bolder; font-size:16px; background:#AF0C11; color:#FFF; padding:5px!important;text-transform:uppercase; border:none;}
#Portefeuille01 a{padding: 5px 0; font-weight: bold; line-height: 1.6em; background: none;}
#Portefeuille01 a.typeTransac{font-size: 1.2em; color:#AF0C11; text-decoration:none;}
#Portefeuille01 a.typeBien{font-size: 0.9em; margin: 0 0 0 30px; color:#000; text-decoration:underline; font-weight:normal;}
#Portefeuille01 a.typeBien:hover{text-decoration:none; color:#000;}
#Portefeuille01 .nbAnn{Color:#000;}
#Portefeuille01 .nbAnn:hover{ color:#000;}		


/* annonces dans carte visite agence = QUAND PRESTATION DE REFERENCEMENT ! */
#Annonces01 .ann_transac{color:#AF0C11;}
#Annonces01 .ann_descr span{color:#AF0C11;}
#Annonces01 .ann_descr a{color:#AF0C11;}
#Annonces01 .ann_ctn a.ann_pht:hover em span{color:#AF0C11;}

/* Agence immo*/
#agenceImmo *{ color:#000;}
#agenceImmo{ color:#000;}
#agenceImmo a{color:#AF0C11;}
* html #agenceImmo img{ display:block; width:400px; border:2px solid #AF0C11; margin:5px 25px; float:left;}
#agenceImmo img{ display:block; width:400px; border:2px solid #AF0C11; margin:5px 35px; float:left;}
#agenceImmo h3{ font-size:16px; color:#FFF; background:#AF0C11; padding:3px 5px; margin:10px 0; display:block; width:961px; text-transform:uppercase;}
#agenceImmo h4{font-size:14px; margin:0 0 10px; padding:0 0 5px; margin:10px 0 0 0; color:#A60E16;}
#agenceImmo p{ color:#000; margin:0 0 10px 0;}

#MentionCV{color:#000; text-align:justify; font-size:10px;}