/* Redefinitions des balises HTML */ 
*{margin:0;padding:0;font-size:12px;font-family:Verdana, Arial, Helvetica, sans-serif;color:#35363b;}
img{border:0}
.clear{clear:both;}
a{text-decoration:underline; outline:none; color:#35363b;}
a:hover{color:#AF0C11; text-decoration:none;}
hr{display:none;}
input,
textarea,
option{ color:#35363b;}
select{ color:#35363b; border:1px solid #DFCEA2;}
table{margin:0 auto;}
table tr td,
table tr td p
#milieu table tbody tr td{padding:5px 0px; text-align:left;}
* html input.alerte{background:#FFFFFF;}

/* --------Modification AR PLAN SITE-------- */    
body{background:#FFF; color:#2F2F2F;}
#global{position:relative; width:993px; margin:0 auto; color:#2C4A93;}

/* Effet bordure (espace 5px) entre BG menu et bande BG site */ 
#header{ position:relative; width:993px; margin:0 auto; background:#FFF;}


/* --------LOGO AGENCE-------- */
* html #LogoAgence { float:left; display:inline; width:328px; padding:0px 0 4px 0; margin:0 10px 0px 0px;}
#LogoAgence { float:left; display:inline; width:308px; padding:0px 0 4px 0px; margin:0 25px 0px 20px;}
#LogoAgence img{ display:block; float:left;}

/* --------DRAPEAUX LANGUES FRANCAIS ET ANGLAIS-------- */ 		
/* Mettre en DISPLAY:NONE si pas d'option Anglais */ 
* html #Drapeaux{ display:block; position:absolute; top:106px; right:0px; z-index:10;}
* html #Drapeaux img {margin-right:5px; padding:1px;}

#Drapeaux { display:block; position:absolute; top:106px; right:0px; z-index:10;}
#Drapeaux img {margin-right:5px; padding:1px;}


/* --------TEXTE ACCUEIL--------*/ 
* html #textAccueil{ display:block; position:relative; width:525px; padding:0 0 0 15px; right:9px; float:left;}
#textAccueil { position:relative; float:left; width:520px; padding:0 0 0 9px; display:block; right:9px;}
/* Modification TITRE texte d'accueil */ 
#textAccueil h1{ font-size:20px; font-weight:bold; text-transform:capitalize; color:#fc9219; padding:13px 0 6px 0; letter-spacing:normal; text-align:left;}
#textAccueil h1 span{ font-size:20px; font-weight:bold; text-transform:none; color:#fc9219; padding:0 0 4px 0; letter-spacing:normal;}
#textAccueil h4{ color:#fc9219; font-weight:bold; font-size:16px; padding:0;}
/* Modification CORPS texte d'accueil */ 
#textAccueil p{ text-align:justify; font-size:11px; color:#000; display:block; padding:41px 0 0 0; line-height:16px;}
#textAccueil p strong{ color:#fc9219;}
#textAccueil a{ text-decoration:underline; color:#fc9219;}
#textAccueil a:hover{ text-decoration:none; color:#fc9219;}

/* LOGOS: FNAIM & SIA */
* html #Partners{ display:none; position:absolute; top:20px; right:-114px; width:62px; float:left; text-align:center;}
#Partners{ display:none; position:absolute; top:20px; right:-94px; width:62px; float:left; text-align:center;}
#Partners span img{text-align:center; padding:2px 0;}

/* --------MARQUEE DEFILANTE-------- */
/* Modification COULEUR  MARQUEE */ 	
* html #RefMarqueNavig{width:550px;background:none; height:0px;}
* html #RefMarque{width:550px; float:right; margin:0 5px 0 0;}
* html #RefMarque marquee{width:550px;}
#RefMarqueNavig{ width:566px; height:0px; float:left;color:#FFF; font-size:10px;background:none;margin:0 4px 0 0;}

#RefMarque{ width:566px; height:31px; float:left; display:inline;color:#FFF; font-size:10px;background-color:#97CA01;margin:0 -1px 0 0; padding:0 4px 0 0;}
#RefMarque marquee{width:556px;margin:0; color:#FFF; padding:8px 5px 8px 5px; font-size:11px;}
#RefMarque marquee a {color:#FFF; text-decoration:underline; font-size:11px;}
#RefMarque marquee a strong {color:#FFF; font-weight:normal;}
#RefMarque marquee a:hover {color:#FFF; text-decoration:none;}

/* ----- Moteur -----*/
h2.TitrePage{ width:984px; margin:0 auto; color:#AF0C11; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}

/* --------MENU + FLUX RSS-------- */
/* Modification COULEUR + TAILLE fond MENU */
#remplissageMenu{ width:100%; background:#FFF; min-height:44px;}		
* html #menuFlux{width:984px; background:#af0c11; height:44px;  border-left:4px solid #FFF;  border-right:4px solid #FFF; margin:0 auto;}
#menuFlux{width:984px; background:#af0c11; height:44px; border-left:4px solid #FFF;  border-right:4px solid #FFF; margin:0 auto;}
#menu {float:right; display:inline; padding:14px 8px 11px 0;}
#menu ul{ display:inline; margin:0 0 0 0px;}
#menu li{ display:inline;color:#FFF; font-size:11px; padding:0;}
#menu ul li.MenuSep{ color:#FFF; font-size:10px;}
/* Modification COULEUR TEXTE MENU */ 
* html #menu a{color:#FFF;}
* html #menu a:hover{color:#fb9620; text-decoration:none;}		

#menu a{ font-weight:bold;color:#FFF; text-decoration:none;font-size:11px; padding:3px 0; text-transform:uppercase;}
#menu a:hover{color:#fb9620; background:none;}		
/* Modification FLUX RSS */ 		
#fluxRss{float:left; display:inline; padding:15px 25px 0px 10px;}
#fluxRss a{ font-size:10px; text-decoration:none; color:#FFF; margin:0 0 0 4px; background:url(../images/puce_rss.png) left no-repeat;}
#fluxRss a:hover{ font-size:10px; text-decoration:underline;color:#FFF;}
#fluxRss img{float:left; display:inline; vertical-align:middle; }
#cnxtag{display:none;}

/* --------CONTENU SITE = ZONE DU MILIEU-------- */
/* Modification COULEUR ARRIERE PLAN CONTENU SITE */ 	
* html #milieu{height:400px;background:#FFF; border-left:4px solid #FFF;  border-right:4px solid #FFF;}
#milieu{width:984px;padding:24px 0 3px 0px; min-height:450px;background:#FFF; border-left:4px solid #FFF;  border-right:4px solid #FFF; margin:0 auto;}
/* Positionnement bandeau image */ 
#visuel{float:left; display:inline; width:654px; margin:0 0 10px 0; padding:0;}		
/* Modification COULEUR BORDURE IMAGE */ 		
#visuel img{border:7px solid #af0c11; float:left;}
 

/*--------POSITIONNEMENT MINI MOTEUR-------- */ 
.miniMoteur{float:right;display:inline;width:220px;padding:0 0 0 42px;position:relative;background:url(../images/fontTitreMoteur.gif) 5px 2px no-repeat;}		
/* Modification TITRE RECHERCHE */ 		
.miniMoteur h2{font-size:18px; font-weight:bold; color:#fb9620;padding:12px 0 0 0;}
/* A NOTER !!!! Pour styliser les champs + bouton mini moteur VOIR == MINI_MOTEUR.CSS */ 


/* ----------- 3 COUPS DE COEUR ------------- */ 
#blocBas #coupCoeur{float:left;display:inline;width:715px;margin:0 50px 5px 0; }

/* ----------- LISTE TRANSACTIONS AGENCE ------------- */ 
#blocBas .nbrTransaction{float:right;width:200px; height:244px; margin:3px 10px 0 0; overflow:auto;}
/* Modification COULEUR "AUJOURD'HUI" */
	#blocBas .nbrTransaction h3{font-size:13px;font-weight:bold;padding:1px 0;color:#2c2c34;}
/* Modification COULEUR TYPE TRANSACTION */
#blocBas .nbrTransaction h4 {width:167px;font-weight:bold;font-size:13px;color:#2c2c34;padding:10px 0 0 0; text-decoration:none;}
#blocBas .nbrTransaction h4 a{font-weight:bold; font-size:12px;color:#2c2c34; text-decoration:none;}
#blocBas .nbrTransaction ul{list-style-type:none;margin:0 0 10px 3px; line-height:16px;}
/* Modification COULEUR TYPE DE BIEN */
#blocBas .nbrTransaction ul *{font-size:11px;color:#2c2c34;}
#blocBas .nbrTransaction ul * a:hover{ text-decoration:none;color:2c2c34;}


/* -----------INCLUDE BAS------------- */ 

/* Modification COULEUR BANDE COORDONNEES */ 
.CoordonneesAgence {font-size:12px; background:#2c2c34; height:27px; text-align:center; padding-top:13px; color:#FFF; font-weight:bold;}	
/* Modification BG footer portefeuille + menu secondaire */
.footerPosition{background:#af0c11; position:relative;width:984px; border-left:4px solid #FFF;  border-right:4px solid #FFF; padding-bottom:15px; margin:auto;}
.porteFeuille{float:left;width:610px;padding-left:18px; padding-top:0;}
.porteFeuilleEN{float:left;display:block;padding-left:0px;}
/* ARRIERE PLAN FOOTER */
#footer{ background:#FFF; margin:0 auto; padding:0 0 0 1px;}
		
		
/* Modification couleur 2 TITRES FOOTER */ 
 #footer h4{font-size:12px;font-weight:bold;background:url(../images/puce.gif) left center no-repeat;padding:2px 0 1px 25px;margin:17px 0 0 0;line-height:19px;}
/* titre gauche : Notre portefeuille immobilier */
 #footer .porteFeuille h4{font-size:11px; color:#FFF; margin-left:4px;}
/* titre droite : www.urldusite.com */
 #footer .menuSecondaire h4{font-size:11px; color:#FFF; margin-left:4px;}
 #footer .menuSecondaire a{font-size:11px;color:#D78688;text-decoration:none;}
 #footer .menuSecondaire a:hover{font-size:11px;color:D78688;text-decoration:underline;}
		
/* Modification couleur LISTE DES VILLES */ 
.porteFeuille .ListeVilles{width:520px;text-align:justify;line-height:13px;border:0;color:#D78688; padding:4px 0 0 5px;}
.porteFeuille .ListeVilles *{color:#D78688; font-size:11px;font-weight:normal;}
.porteFeuille .ListeVilles a{font-size:11px;color:#D78688;text-decoration:none;}
.porteFeuille .ListeVilles a:hover{font-size:11px;color:#D78688;text-decoration:underline;}
.porteFeuille .ListeVilles a strong:hover{color:#D78688;}

/* Modification couleur MENU SECONDAIRE FOOTER (droite) */
/* FR */
.menuSecondaire{float:left;width:335px;font-size:12px;color:#D78688; padding-top:0;}
.menuSecondaire p{padding:3px 0 0 5px; color:#D78688; text-align:justify;}
.menuSecondaire p a{font-size:11px;color:#D78688;text-decoration:none;}
.menuSecondaire p a:hover{font-size:11px;color:#D78688;text-decoration:underline;}
.menuSecondaire span.sepSep{ color:#D78688;}

/* EN */
.menuSecondaireEN{float:left; font-size:12px;color:#D78688; padding:5px 10px;}
#footer .menuSecondaireEN h4{font-size:12px; color:#FFF; font-weight:bold;}
.menuSecondaireEN p{padding:3px 0 0 5px; color:#D78688; text-align:justify; font-size:11px;}
.menuSecondaireEN p a{font-size:11px;color:#D78688;text-decoration:none;}
.menuSecondaireEN p a:hover{font-size:11px;color:#D78688;text-decoration:underline;}
.menuSecondaireEN span.sepSep{ color:#D78688;}




/* ----------------------------------------AUTRES PAGES DU SITE---------------------------------------- */

/* Page En Construction */
#EnConstruction{margin-top:70px; text-align:center;}


/* PAGE PLAN DU SITE = incl_plan-site.htm */  
.ul#Outils *, .ul#Plan *{text-decoration: none; font-weight: bold;}
ul#Outils, ul#Plan{padding:10px 0 60px 0; width:400px; margin:0 auto;}

ul#Plan li.plan{ color:#FFF; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}
ul#Outils li.list, ul#Plan li.planMenu, ul#Plan li.planLocs, ul#Plan li.planVentes{ border-bottom:none; color:#AF0C11;}
ul#Plan li.MenuSep{display:none;}
ul#Plan li{padding: 0.2em 0; border:none;}
ul#Plan .plan{padding: 0.2em 0;background:none;}
ul#Outils li a, ul#Plan li a{color:#FFF; background:#AF0C11;padding:6px 0 0 10px;height:19px;font-size: 12px; border: 1px solid #AF0C11; text-transform:uppercase;}
ul#Outils li a:hover, ul#Plan li a:hover{color:#000;padding-left:10px; height:19px;font-size: 12px; background:#FB9620; border: 1px solid #AF0C11;}

/* Outils */
#Outils li.titrePageOutils{ color:#AF0C11; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}

/*PAGES ESTIMATION + CONTACT + MESSAGE == TABLEAUX FORMULAIRES*/
.tabFond1{border-color:#00AA00; border-width:0; border-style:solid; padding:2px; font-family:Verdana, Arial, Helvetica, sans-serif; width:100%;}
 textarea {width:600px; height: 100px;}
.tabFond2{border-color:#00AA00; border-width:1px; border-style:solid; padding:2px; font-size:14px; font-family:Verdana, Arial, Helvetica, sans-serif;}
.tabTitre{ width:100%; background:#AF0C11; color:#fff; font-size:14px; font-weight: bold; font-family:Verdana, Arial, Helvetica, sans-serif;height:25px;padding:3px; text-align:center; text-transform:uppercase;}
.tabTitre *{color:#FFF; font-size: 14px;}
.tabPrint{color:#5C5E5D; font-size: 13px; font-family:Verdana, Arial, Helvetica, sans-serif; border:1px solid #00AA00;}
.tabFond1 td input{margin:3px; border:1px solid #AF0C11;}
.tabFond1 td textarea{border:1px solid #AF0C11;}
.tabFond1 table{ width:100%;}
strong.messageNomAgence,
strong.estimationNomAgence{ color:#AF0C11; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase; display:block;}
.tabFond1 select.imputForm{border:1px solid #AF0C11;}
/*Résolution Bug IE8 = donner une taille aux bouton pour éviter tout décallage*/
.boutonEnvoi { width:120px; height:26px; float:right;}
.BoutonFormContact { width:120px; height:26px; float:right; border:none;}
.MoteurBouton input { width:120px; height:26px; float:right;}
td #ChampsBouton input {float:right; width:120px; height:26px;}
.tabFond1 input.BoutonFormRecherche { float:right; width:120px; height:26px; border:none;}		
#MiniBoutonInput{ width:173px; height:31px;}

/* GUIDE PRATIQUE = ACCES VIA LE LIEN DANS LA PAGE OUTILS*/
span.txtTitre3{ display:block; width:870px; color:#FFF; background:#DFCEA2; font-size:16px; font-weight:bold; padding:3px 5px; margin:10px 3px 3px 0;}
/* td.encadre span.gras{ display:block; width:882px; color:#FFF; background:#DFCEA2; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;} */
td.encadre{background-color:#FFF; border:2px solid #AAA; padding:3px; color:#2F2F2F030; margin:0 0 0 -4px;}
.encadre .grasnews{ display:block; width:882px; color:#FFF; background:#DFCEA2; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;}
.encadre p .gras{ color:#FFF; background:#DFCEA2; display:block; font-weight:bold; text-transform:uppercase; padding:2px 3px;}
.encadre p{ color:#2F2F2F;}

/* coup de coeur*/
* html .div-cdc{ height:264px;}
.div-cdc{width:230px; min-height:260px;float:left; background:#FFF; margin:0 4px 0 0; border:2px solid #af0c11;}
.div-cdc * a{ text-decoration:underline;} 
.div-cdc * a:hover{ text-decoration:none; color:#AF0C11;} 
.div-cdc *{ color:#35363b;}
.div-cdc .photo-cdc img{width:220px;height:139px;background:url(../images/bg_Img_Cdc.gif);padding:5px 2px 3px 5px;}
.div-cdc a span.ville-cdc{font-weight:bold;display:block; color:#35363b; font-size:14px;}
.div-cdc .typetransaction-cdc{color:#35363b; font-weight:bold; font-size:14px; text-transform:capitalize;}
.div-cdc .typebien-cdc{color:#AF0C11; font-weight:bold; font-size:14px;}
.div-cdc .nbpiece-cdc, .surface-cdc{font-weight:bold; color:#35363b; font-size:14px;}
.div-cdc .contenu-cdc{padding:0 6px 4px 6px;}
.div-cdc .contenu-cdc *{color:#35363b;}
.div-cdc .contenu-cdc a{text-decoration:underline;}
.div-cdc .contenu-cdc a:hover{text-decoration:none; color:#AF0C11;}
.div-cdc .descriptif-cdc{min-height:30px; font-size:11px; color:#000; text-align:justify; text-transform:lowercase;}
* html .divc2c .descriptif-cdc{height:30px;}
.div-cdc p.prix-cdc{font-weight:bold;display:block; color:#35363b; font-size:14px;}
 
 
/* Mentions Legales */
#MentionsLegales{ color:#000;}
#MentionsLegales h2 {display: block; width: 99%; background:#AF0C11; font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color:#fff;font-weight: bold;letter-spacing: 0;padding:3px 0 3px 8px;margin: 10px 0;text-align: left;text-transform: none;}