/* $$DYN:ID3:NOFOOTER$$ */
/* =================== */
.Colonne1 {}
.BoiteMoteurClassic {border: none; margin:0; padding: 0; width:100%; font-family:Verdana, Arial, Helvetica, sans-serif;}
.BoiteMoteurClassic select{color:#fff; border:2px solid #AF0C11;}
.TitreBoiteMoteurClassic{display: none;}
span{font-family:Verdana, Arial, Helvetica, sans-serif;}

.MoteurTypeDeBien{}
.TitreTypeDeBien,
.TitreMoteurListeVille,
.TitreMoteurInvestir,
.TitreMoteurSituation,
.TitreNombreDeChambres,
.TitreMoteurMeuble,
.TitreMoteurNbPersonnes,
.TitreMoteurPays,
.TitreSousTypeDeBien,
.TitreMoteurEquipement,
.TitreMoteurCritereSup,
.TitreMoteurViager,
.TitreNombreDePieces,
.TitreMoteurSurface,
.TitreMoteurReferencement,
.TitreMoteurBudget,
.TitreMoteurBudgetVac,
.TitreMoteurProximite,
.TitreMoteurSurfaceTerrain{
	display: block;
	width: 99%;
	background:#AF0C11;
	text-transform:uppercase;
	text-align:left;
	font-size: 14px;	
	color:#FFF;
	font-weight: bold;
	letter-spacing: 0;
	padding:3px 0 3px 8px;
	margin: 10px 0;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
}

.FormulaireTypeDeBien,
.MoteurPieces,
.MoteurSurface,
.MoteurSurfaceTerrain,
.MoteurReference,
.MoteurBudget,
.MoteurReference,
.MoteurListeVilles,
.MoteurProximite,
.MoteurInvestir,
.MoteurMeuble,
.MoteurEquipement,
.MoteurBudgetVac,
.MoteurChambres,
.MoteurPreliste,
.MoteurSurfaceTerrain,
.MoteurNbPersonnes,
.MoteurSituation,
.MoteurPays,
.MoteurViager,
.MoteurListeVille,
.MoteurCarte,
.MoteurCritereSup,
.MoteurRayon{padding: 0 0 15px 0; color:#000; font-size: 12px; text-align:left; font-family:Verdana, Arial, Helvetica, sans-serif;}
#MoteurRayon .MoteurRayon span { font-family:Verdana, Arial, Helvetica, sans-serif; color:#000}
/* type de bien */
.FormulaireTypeDeBien label{width: 200px; color:#000;}

/* nombre de pieces */
.MoteurPieces label{margin: 0 5px 0 0; color:#000;}

/* budget */
.MoteurBudget select{color:#AF0C11; border:1px solid #AF0C11;}

/* Liste Ville  */
.MoteurListeVilles select{ border:1px solid #AF0C11; color:#000; background:#fff; height: 18px;padding-left:2px;}

/* surface */
.MoteurSurfaceTerrain input.imputForm,.MoteurSurface input.imputForm,.MoteurBudget input.imputForm,.MoteurReference input{width: 100px; border:1px solid #AF0C11; color: #000; background:#fff; height: 18px;padding-left:2px;}


/* proximite */
.ZoneSaisie {
	display: block;
	font-style: normal;
	font-size: 10px;
	letter-spacing: 0;
	text-align: left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#000;
}
.MoteurProximite input.imputForm{width: 350px; border:1px solid #AF0C11; color:#000; background:#fff; height: 18px; margin-bottom: 20px; margin-left:30px;padding-left:2px;}
.MoteurBouton{clear:both;padding:20px 0;}
.MoteurListeVilles select{margin: 5px 0 0 0; width: 210px;}


/* #include virtual="/moteur/incl_moteur_proximite.htm" */
div.MoteurProximite span.ZoneSaisie{display: block;font-family:Verdana, Arial, Helvetica, sans-serif; color:#000;}
div.MoteurProximite input{width: 300px; margin: 1px 5px 1px 0;}
div.MoteurProximite br{display: none;}
div.MoteurProximite span.Cp{display: block; font-family:Verdana, Arial, Helvetica, sans-serif;}
div.MoteurProximite span.Cp i{font-style: normal;}
div.MoteurProximite span.Cp i a{color: #000; margin: 0 3px;}
div.MoteurProximite span.Cp i a:hover{ color:#000;}

