body { margin: 20px 0; padding: 0; background: url(../images/bg.gif) repeat-x #626262; }
div, td { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #5c1106; }
a { text-decoration: none; color: #5c1106;}
a:hover { text-decoration: underline; }
img { border: none; }
input, select { vertical-align: middle; }
form { margin: 0; padding: 0; }
p { margin: 0; padding: 0; }
table { border: none; border-collapse: collapse; }

#wrapper { position:relative; width:1000px; overflow: hidden; background-color:#efe6d4; }
#wrapper2 { margin:1px; }
#header { position:relative;  width:998px; overflow:hidden; background:url(../images/bgheader.gif) no-repeat; }
#logo { position: absolute; width:445px; height:176px; top:4px; left:14px; }
#txt { font-size: 12px; color: #eadec6; padding-top:15px; padding-bottom:25px; }
#txt span { font-size: 12px; color: #eadec6; font-weight:bold; }
#txt a { font-size: 12px; color: #eadec6; font-weight:bold; }
#txt a:hover{text-decoration: none; color: #aa8b7e;}

#content { position:relative; width: 998px; overflow:hidden; background-color:#e8dbc1; }
#menu { background:url(../images/bgmenu.gif) repeat-y; }
#menu ul { list-style-type:none; margin:0; padding-top:56px; padding-left:15px; }
#menu ul li{padding:5px 0;}
#menu a { font-size: 20px; color: #f0e5d1; line-height:35px; }
#menu a:hover{text-decoration: none; color: #aa8b7e;}
#menu img { padding-right:13px; }
#content2 { background: url(../images/bg_main.gif); }
#accueil {  position:relative; width: 737px; overflow:hidden; }
#accueil .main {  padding: 65px 24px 24px 37px; background:url(../images/bgcontent.gif) no-repeat; }
#txt2 span { font-size: 22px; color: #5c1106; }
#txt2 p{padding: 5px 20px 10px 0; text-align: justify; line-height: 15px;}
#photo { padding-top:48px; font-size: 12px; color: #5c1106; font-style:italic; }
#photo img { border: 2px solid #fff; width: 260px; height: 190px; }

#footer { position:relative; height: 46px; overflow: hidden; overflow:hidden; background:url(../images/bgfooter.gif) no-repeat; }
#footer td { vertical-align: top; padding-top: 15px; }
.txt { font-size: 12px; color: #ede2d2; }
.txt a { font-size: 12px; color: #ede2d2; text-decoration: none; }
.txt a:hover{text-decoration: none; color: #aa8b7e;}


/* page intro*/
#intro { position:relative; width:998px; height:375px; overflow:hidden; background:url(../images/bg_intro.gif) no-repeat; }
.photointro { width: 589px; text-align: right; padding-top: 32px; }
.photointro img { margin-left: 1px; }
#menuintro { padding-left: 19px; padding-top: 54px; padding-bottom: 0px;}
#menuintro ul { list-style-type:none; margin:0; }
#menuintro ul li { text-align: left; }
#menuintro a { font-size: 22px; color: #460800; line-height:33px; margin-left: 12px; }
#menuintro a:hover {text-decoration: none; color: #9c735f; }

/* plan  et outils*/
h1 { color: #5c1106; font-size: 22px; font-weight: normal; margin: 0; }
#plan, #Outils { margin: 50px 0 40px 125px; font-size: 12px; }
#plan ul, #Outils ul {
	margin: 0;
	padding: 0;
	width: 420px;
	list-style-type: none;
}
#plan ul li, #Outils ul li {
	border-bottom: 1px solid #5c1106;
	padding: 3px 25px 3px 65px;
	background: url(../images/puce.gif) 25px 2px no-repeat;
	font-weight: bold;
}
#plan ul li  a, #Outils a { color: #5c1106; }
#plan ul li  a:hover, #Outils a:hover { color: #c6aa95; text-decoration: none; }
#plan .first, #Outils .first { border-top: 1px solid #5c1106; }
/*recherche photos*/
.tabFond2 td { font-size: 11px; padding: 5px; }
.tabFond1 .selection, .tabFond2 .selection { color: #fff; font-size: 12px; }
.tabFond1 table { text-align: left; }
.tabFond1 .tabFond2, .tabFond2 { background-color: #c6aa95; }
	/*ligne 1*/
#boitephraserecherche, #boitetri, #boitelegende { background-color: #c6aa95; }
.tabFond1 .tabFond2 .soustitre a, .tabFond1 .tabFond2 .soustitre { color: #fff; }
	/*ligne 2*/
#boitenavigationbas, #boitenavigationhaut {	margin: 15px 0;	padding: 5px; border-bottom: 2px solid #e8dbc1;	background: #000; }
#boitenavigationbas .texte, #boitenavigationhaut td { color: #fff; }
#boitenavigationbas a, #boitenavigationhaut a { color: #fcae48; }
	/*ligne 3*/
#boiteannonce1, #boiteannonce2, #boiteannonce3 { background-color: #c6aa95; }
#boiteannonce2 .tabTitre b { color: #e8dbc1; }
#boiteannonce2 .tabFond1 .tabTitre, .tabTitre {	padding-left: 5px; background: #5c1106;	color: #e8dbc1;	font-size: 12px; line-height: 20px;	border-bottom: 2px solid #e8dbc1; }
	/*ligne 4*/
#boitepubalerte1, #boitepubalerte2 { background-color: #d1bbab; }
#boitepubalerte1 td, #boitepubalerte2 td { color: #5c1106; }
#boitepubalerte1 a, #boitepubalerte2 a { color: #5c1106; }
h3 { color: #5c1106; }
	/*autres*/
#boitelegende .soustitre img { margin-bottom: 5px; }

/* guide */
.txtTitre3 { color: #fff; font-weight: bold; font-size: 12px; text-align: left; }
.gras {
	padding: 2px 5px 2px 20px;
	background: url(../images/fdgras.gif) 0 5px no-repeat;
	color: #5c1106;
	font-weight: bold;
}
.gras u { text-decoration: none; }
	/* ---- table extérieure ---- */
.encadre {
	border: 1px solid #e5dad1;
	padding: 5px;
	background: #c6aa95;
	line-height: 14px;
}
.encadre .gras {
	padding: 0;
	margin-bottom: 5px;
	border: none;
	background: #c6aa95;
	color: #ffffff;
	line-height: 12px;
}
.encadre a { color: #030e77; }
.encadre a:hover { color: #ffffff; }
    /* ---- table intérieure ---- */
.table_news strong { color: #5c1106; }
.table_news, .encadre table {
	border-top: 1px solid #c6aa95;
	border-left: 1px solid #c6aa95;
	border-bottom: none;
	border-right: none;
	background: #9ca7bb;
}
.table_news td, .encadre td {
	border-bottom: 1px solid #c6aa95;
	border-right: 1px solid #c6aa95;
	border-left: none;
	border-top: none;
	background: #e5dad1;
	font-size: 10px;
	padding: 5px;
}   
.table_news .gras {
	padding: 3px 5px;
	margin: 0;
	background: #ffce89;
	color: #ffffff;
	line-height: 12px;
}

/* estimation.htm / message.htm */
.main table.tabFond1{width:90%; margin:auto;}
.main table.tabFond1 td table td{padding: 2px 0;}
strong.messageNomAgence,
strong.estimationNomAgence{display: none;}

/* formulaires */
input.imputForm, select{border: 1px solid #5c1106; color: #5c1106; background: #fff; height: 17px;  font-size: 11px;}
textarea, textarea.imputForm{border: 1px solid #5c1106; color: #5c1106; background: #fff; width: 75%; height: 70px;}

/* guides */
.main table{width:100%;}
.txtTitre3 {font-size: 18px;	font-style: normal; font-weight: bold;	color:#5c1106;}
.main table td,
.main table td p{padding: 5px 0;}
.main table td table{margin:auto; border-collapse: collapse;}
.main table td table td{padding: 5px; }
.main table td table td p{padding: 5px; border: none;}
td.encadre{background:#be9f8a; margin 10px 0; border: 1px solid #5c1106;}
.gras{font-size: 16px; font-weight: bold; color:#5c1106;}
h5{color:#5c1106; font-size: 16px;}
.table_news{border: 1px solid #5c1106; border-collapse: collapse; margin: 0 0 20px 0; background: #be9f8a;}
.table_news td{border: 1px solid #5c1106;}

/* print_annonce.htm */
#PrintAnnonce{width: 560px; margin auto; background: url(../images/print_annonce.jpg) 0 0 no-repeat #ebdfc8; border: #5c1106 solid 1px; padding: 190px 10px 10px 10px;}
#PrintAnnonce img{width: 400px; height: 250px; border: #fff solid 4px; margin: 10px 0;}
#PrintAnnonce #PrintAnnonceInfos{font-size: 13px;}
#PrintAnnonce #PrintAnnonceDetails{text-align: justify; font-size: 13px;}
#PrintAnnonce ul#PrintAnnonceDetailsComp{text-align: left; font-size: 11px; padding: 15px 0; }
#PrintAnnonce ul#PrintAnnonceDetailsComp li{list-style:square inside;}
#PrintAnnonce #PrintAnnonceDetailsAgence{text-align: left; font-size: 12px; padding: 15px 0; }
/**/