BODY {
	SCROLLBAR-FACE-COLOR: #ffcc33; SCROLLBAR-SHADOW-COLOR: #663399; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR: #663399; SCROLLBAR-DARKSHADOW-COLOR: #663399
}
A:link {
	COLOR: #663399
}
A:visited {
	COLOR: #996bc7
}
A:hover {
	COLOR: #996bc7
}
H5 {
	COLOR: #603890; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10px; FONT-WEIGHT: normal; LETTER-SPACING: -1px
}
H6 {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.lien {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
A.gras:link {
	COLOR: #603890; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.gras:visited {
	COLOR: #603890; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.grasouli:link {
	COLOR: #603890; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.grasouli:visited {
	COLOR: #603890; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.soulign:link {
	COLOR: #603890; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
A.soulign:visited {
	COLOR: #603890; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
.jaune {
	COLOR: #ffcc33; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.viograsit {
	COLOR: #663399; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-STYLE: italic; FONT-WEIGHT: bold
}
.viogras {
	COLOR: #663399; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.viopetit {
	COLOR: #663399; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 7pt; FONT-WEIGHT: normal
}
.viopetitit {
	COLOR: #663399; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-STYLE: italic; FONT-WEIGHT: bold
}
.mauvegras {
	COLOR: #63398c; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-STYLE: normal; FONT-WEIGHT: bold
}
.mauve {
	COLOR: #63398c; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-STYLE: normal
}
.noirgras {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.noir {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: normal
}
.noirp {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 7pt; FONT-WEIGHT: bold
}
