// VAR COLORS
$color-body:#727375;
$color-content:#fff;
$color-block:#696a6c;
$color-primary:#3d3e40;
$color-secondary:#727375;
$color-action:#6cc560;
$color-important:#3d3e40;
$color-nav-footer:#c8c9cb;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#fff;