// VAR COLORS
$color-body:#fff6e6;
$color-content:#fff;
$color-block:#fff1da;
$color-primary:#fff1da;
$color-secondary:#01301f;
$color-action:#006941;
$color-important:#e7d2af;
$color-nav-footer:#006941;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#002f1d;