<inputs label="Standing de la maison" class="required standing">
	<radio model="$ec.formData.standing" value="'medium'" icon="star">Moyen</radio>
	<radio model="$ec.formData.standing" value="'good'" icon="stars-2">Bon</radio>
	<radio model="$ec.formData.standing" value="'great'" icon="stars-3">Tr&egrave;s bon</radio>
</inputs>

<inputs label="Qualit&eacute; de l'emplacement (proche transport, zone d'emploi, &eacute;cole...)" class="required location-quality">
	<radio model="$ec.formData.locationQuality" value="'medium'" icon="star">Moyen</radio>
	<radio model="$ec.formData.locationQuality" value="'good'" icon="stars-2">Bon</radio>
	<radio model="$ec.formData.locationQuality" value="'great'" icon="stars-3">Tr&egrave;s bon</radio>
</inputs>

<inputs label="Caract&eacute;ristiques ext&eacute;rieurs" class="characteristics wrapFlexExt" separate="true">
	<checkbox model="$ec.formData.house.ownership" value="true">Mitoyennet&eacute;</checkbox>
	<checkbox model="$ec.formData.house.equipment.pool" value="true">Piscine</checkbox>
	<checkbox model="$ec.formData.house.equipment.tennis" value="true">Tennis</checkbox>
</inputs>

<controls>
	<prev state="online.general"></prev>
	<next state="online.house.surface"></next>
</controls>
