<number model="$ec.formData.surface" form="$ec.estimationForm"
        label="Surface habitable de la maison"
        placeholder="ex : 150" class="required surface surfaceWidth" unit="m"></number>
<number model="$ec.formData.house.lot" form="$ec.estimationForm"
        label="Surface terrain (b&acirc;ti de la maison inclus)"
        placeholder="ex : 200" class="required lot surfaceWidth" unit="m"></number>

<label>Surface secondaire</label>
<div class="row row-stackable">
	<div class="col-xs-6">
		<div class="form-group">
			<checkbox model="$ec.formData.house.garage.included" value="true" open>Garage</checkbox>
			<number model="$ec.formData.house.garage.surface" form="$ec.estimationForm"
			        placeholder="ex : 15" class="surface expandable" input-class="input-sm" unit="m" prefix="de"
			        ng-if="$ec.formData.house.garage.included"></number>
		</div>
	</div>

	<div class="col-xs-6">
		<div class="form-group">
			<checkbox model="$ec.formData.house.veranda.included" value="true" open>V&eacute;randa</checkbox>
			<number model="$ec.formData.house.veranda.surface" form="$ec.estimationForm"
			        placeholder="ex : 12" class="surface expandable" input-class="input-sm" unit="m" prefix="de"
			        ng-if="$ec.formData.house.veranda.included"></number>
		</div>
	</div>
</div>

<div class="row row-stackable">
	<div class="col-xs-6">
		<div class="form-group terrace">
			<checkbox model="$ec.formData.terraceFloor.included" value="true" open>Terrasse &agrave; un &eacute;tage</checkbox>
			<number model="$ec.formData.terraceFloor.surface" form="$ec.estimationForm"
			        placeholder="ex : 10" class="surface expandable" input-class="input-sm" unit="m" prefix="de"
			        ng-if="$ec.formData.terraceFloor.included"></number>
		</div>
	</div>

	<div class="col-xs-6">
		<div class="form-group">
			<checkbox model="$ec.formData.house.outbuilding.included" value="true" open>D&eacute;pendance</checkbox>
			<number model="$ec.formData.house.outbuilding.surface" form="$ec.estimationForm"
			        placeholder="ex : 20" class="surface expandable" input-class="input-sm" unit="m" prefix="de"
			        ng-if="$ec.formData.house.outbuilding.included"></number>
		</div>
	</div>
</div>

<controls>
	<prev state="online.house.details"></prev>
	<next state="online.house.state"></next>
</controls>
