/* --------------- debut style de la carte ---------------- */

#lacarte {
  width: 766px;
  height: 674px;
  margin: 0 auto 0 auto;
}
.carte{
	border:10px solid #fff;
}


/* --------------- fin  style de la carte ----------------- */
