// VARIABLES COLORS
$color-body:#2d3981;
$color-content:#89744d;
$color-block:#36449a;
$color-primary:#fbf3e9;
$color-secondary:#2a3577;
$color-action:#636fbe;
$color-important:#ffcd03;
$color-nav-footer:#353f87;

// COLOR PUB
$color-pub:"white-opacity";

// COLOR FONT BODY DEFAULT
$color-font-body:#fff;