// VARIABLES COLORS
$color-body:#53514E;
$color-content:#89744d;
$color-block:#2a2a2a;
$color-primary:#393734;
$color-secondary:#201E1B;
$color-action:#DBE5EA;
$color-important:#201E1B;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#fff;