
div, td, .Marquee, .ListeVilles { font-family: Arial, Helvetica, sans-serif !important; }

.BoiteAnnonce {
	border: none;
}

.DetailLibelleetPrix {
	background: url($$_$$/images/px_fond_recherche2.jpg) repeat-x #BB0000;
	height: 24px;
	margin-bottom: 6px;
}

.DetailLibelleetPrix .DetailLibelle {
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: normal;
	line-height: 24px;
}

.DetailLibelleetPrix .DetailPrix, .DetailLibelleetPrix .DetailSurface {
	color: #fff;
	font-size: 12px;
	line-height: 24px;
	margin-left: 20px;
}
.DetailPrix { font-weight: bold; }

img.DetailPhotoGdformat {
	border: 1px solid #ac0003 !important;
}

.DetailPhotoPtformat img {
	border: 1px solid #ac0003 !important;
}

.DetailInfoComplementaire {
	border: none !important;
}
.DetailInfoTitre {
	background-color: #ac0003 !important;
	height: 20px;
	line-height: 20px;
	padding: 0 8px;
	color: #fff;
	font-size: 9px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: normal;
	width: auto;
}
.DetailInfoComplementaire table {
	border-top: 1px solid #890003;
	border-left: 1px solid #890003;
}
.DetailInfoComplementaire td {
	border-bottom: 1px solid #890003;
	border-right: 1px solid #890003;
}

.DetailImprimer {
	text-align: center !important;
	border-bottom: 1px solid #dc0608 !important;
}

.DetailImprimer a {
	display: block;
	width: 200px;
	margin: 0 auto;
	height: 27px;
	line-height: 27px;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 9px;
	font-weight: bold;
	background: url($$_$$/images/bg_btnprint.gif) no-repeat;
	border-bottom: none !important;
}

.DetailFormulaire table td {
	padding: 2px;
}

.DetailFormulaire input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin-bottom: 2px;
	border: 1px solid #ac0003;
}

.DetailFormulaire .Coord, .DetailFormulaire .Precisions {
	background-color: #ac0003;
	height: 20px;
	line-height: 20px;
	padding: 0 8px;
	color: #f87e6f;
	margin: 0;
	text-align: center !important;
}

.DetailFormulaire .btn {
	margin-top: 15px;
}

.DetailFormulaire .btn input {
	width: 160px;
	height: 27px;
	line-height: 27px;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 9px;
	font-weight: bold;
	background: url($$_$$/images/bg_btnprint.gif) no-repeat;
	border: none !important;
}
#DetailAgence strong { color: #ac0003; }
.DetailBack a { font-size: 13px; color: #000; }
.DetailBack a:hover { color: #e92d2a; }