// VAR COLORS
$color-body      : #fff;
$color-content   : #fff;
$color-block     : #fafafa;
$color-primary   : #fff;
$color-secondary : #2e2a26;
$color-action    : #c7b58c;
$color-important : #2e2a26;
$color-nav-footer: #2e2a26;
$color-highlight : #58747B;

// COLOR PUB
$color-pub       : "white";

// COLOR FONT BODY DEFAULT
$color-font-body : #2e2a26;

