// VAR COLORS
$color-body:#eee;
$color-content:#eee;
$color-block:#fff;
$color-primary:#2f99d3;
$color-secondary:#035c93;
$color-action:#2f99d3;
$color-important:#035c93;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#333;