
a{ color:#515151; outline:none;}
.bloc{background-repeat:repeat-x;background-color:#1B1B1B; margin-bottom:0;}
.mobile{height:91px;padding-top:0; display:block; background-color: #000; width:217px; padding-left:12px; }
.txt-mobile .link-portable{width:170px; color:#7b7b7b; padding:12px 0 0px;}
.txt-mobile{padding-top:5px; background-position: 134px 2px;}
.mobile strong {color:#ffff80;}

#top , #top_detail { height:33px;}
*+html .logo{display:block; width:242px; margin-left:-6px; position:relative; height:55px;}
.logo{display:block; width:242px; margin-left:-6px; position:relative; height:70px;}
a.logo img{ display:block; margin:0 0 15px 0;padding-left:18px;}
#wrapdroite{ padding:0;}
#menu { background:url($$_$$images/bg_menu.gif) 0 0 repeat-x; margin:0 0 1px; padding:11px 0 12px;}
#menu li a { padding:9px 5px 5px; color:#fefe77; font-size:12px; font-weight:bold; letter-spacing:0;}
#menu li a:hover{ color:#fff;}
#flash{background:#fff;}
#boite_selection{ background:#fff;overflow:hidden;}
#content { padding:28px 0px 0;}
.bloc{ position:relative; padding:16px 0 0 22px;}
*+html .bloc{height:173px; position:relative; padding:15px 0 0 22px; border-bottom:1px solid #fff;}
*+html  .btadr a.situer{white-space:nowrap;}
.bloc p.agence{ padding-bottom:0;}
.bloc h6{margin-bottom:3px; margin-left:-2px; position:relative;}
.bloc p strong{color:#ffff80;}
.bloc .tel{color:#ffff80; font-size:12px; font-weight:bold; padding:0 0 0 0;}
.bloc .socaf{color:#fff; font-size:11px; padding:10px 0 0 0; font-family:tahoma,sans-serif;}
.bloc .socafImg{position:absolute; top:99px; right:51px; display:block;}
.bloc .btadr{margin-top:4px; padding-bottom:0}
.bloc .btadr .mail{background-position:0 -3px;}
.selectionDescr .selectionTxt{display:none;}
#boite_selection .selectionDescr .selectionVille, .selectionDescr .selectionVille *{line-height:12px; padding-bottom:5px;}
/* doc utiles */

#docutil {min-height:400px;}
#docutil ul li {list-style: square inside; margin-left:260px;}

#edito {padding:15px 20px 3px; top:20px; right:45px;}
#edito h2 {color: #FFFFFF;font-size: 12px; font-weight:bold; padding:0 0 5px;}
#edito p.accueil {line-height:18px; color: #FFFFFF;font-size: 12px; font-weight:normal; padding-bottom:2px;}
#edito p.link {padding-top:0;}
#edito p.link a{font-size:11px; color:#FFFFFF; font-family:tahoma,sans-serif; font-weight:bold;}
#edito .offres {margin:14px 0 1px -2px; position:relative; width:232px; height:91px; background:url($$_$$images/offres.png) 0 0 no-repeat; text-align:center;}
#edito .offres p.first{text-align:center; font-size:15px; font-weight:bold; color:#e0e0e0; padding:10px 0 0 0; line-height:16px;}
#edito .offres p.second {text-align:center; font-size:15px; font-weight:bold; color:#e0e0e0; padding:6px 0 0 0;}
#edito .offres p span{ font-size:15px; font-weight:bold; color:#fdfd7f;}
#edito .offres p span.demeures{ font-size:11px; font-weight:bold; color:#fdfd7f;}
#edito p.honor{position:relative; left:-22px;color:#fdfd7f; font-family:BaskervilleOldFaceRegular,arial,sans-serif; font-size:15px;}
#edito p.honor img{display:block;}
/*footer*/
#footer_detail{padding:18px 0 20px 0;}
#footer_detail .col3 .menufoot, #footer_detail .col3 .menufoot *, .footer .col2 a{ color:#fff;}
.footer .col2 {width:auto;}
.footer .col3 .menufoot, .footer .col3 .menufoot *{font-family:tahoma,sans-serif;}
.footer .col3{padding:10px 0 0 0; width:auto; margin-right:22px;}
.footer .col2  p{padding:9px 0 5px 21px; color:#fff; font-size:11px; font-weight:bold; font-family:tahoma,sans-serif;}
.footer .col2 a, .footer .col1 a{ color:#fff; font-size:11px;}
.footer .col2 a:hover, .footer .col1 a:hover{text-decoration:none;}

.footer .col1 a:hover{ text-decoration:underline;}
.footer .col1, #footer .col2, #footer .col3{ height:auto;}
.footer .adresse{ padding:7px 0 0 0; border-top:1px solid #3D3D3D; margin:8px 0 0 0;}
.footer .adresse, .footer .adresse div, .footer .adresse div a{ color:#fff; font-size:11px;}
.portefeuilleVilles a{ font-size:11px; font-family:tahoma; font-weight:normal; text-decoration:none;}

.footer .col2 h3, .footer .col1 h6{margin:0 0 8px;}
.footer .col1 h6, .footer .col1 h6 span{text-transform:capitalize; font-size:12px; font-weight:bold;color:##202020;}
.footer .col2 h3 a, .footer .col1 h6 span{color:##202020; text-decoration:none;}
.footer .col2 .rss { display:block; background:url($$_$$images/picto_rss.png) no-repeat 0 0; padding:4px 0 2px 32px;}

/*page moteur*/
#Moteur .moteurTable ul li{ color:#fff;}
#wrapper2 #Moteur .inputSelect{width:246px;}
#Moteur .col2 .inputText{width:82px;}
#Moteur .moteurTable ul li{color:#fff; background:#000;}
#Moteur #RechDetaillee .col3 strong{color:#fefe52;}
#Moteur #cp1, #Moteur #cp2, #Moteur #cp3, #Moteur #cp4{width:240px;}
#col1 #InputSurfaceTerrain p,#Moteur .col1 .inputTextSpan{color:#fff;}
#wrapper2 #Moteur .col1 .inputText{width:66px;}
#MiniRayon .miniTitre{color:#FFFF80;}


/* mini_moteur */
#wrapgauche #MiniTypeTransaction{display:none;}
.miniTitre,.miniDivSelect label{color:#fff;}
select.miniSelect{height:17px;}
.afficher *{color:#fff; font-family:verdana,sans-serif; font-size:11px;}
.afficher{color:#fff; background:url($$_$$images/picto_afficher.gif) 0 50% no-repeat; padding:0 0 0 8px;}
.afficher a{color:#fefe52; text-decoration:none; font-weight:bold;}
.afficher a:hover{ text-decoration:underline;}
.minimoteur{padding:24px; 0 0 22px;margin-bottom:5px;}
#MiniBudget{ padding-top:1px !important;}
#MiniVilles{ padding-top:4px !important;}
#MiniGeolocalisation{padding-top:5px !important; width:174px;}
#MiniGeolocalisation #MiniLabelCarte{margin-right:74px;}
*+html #MiniGeolocalisation #MiniLabelCarte{margin-right:58px;}
#MiniBouton{padding:0px 0 7px !important;margin-top:-1px; position:relative;z-index:999;}
#MiniBouton .boutonSubmit{display:block;}
/* block alert */
#wrapgauche .alert{ cursor:pointer; color:#7b8181;margin:12px 0 0 -18px; position:relative; width:217px; height:64px; background:url($$_$$images/alert.jpg) 0 0 no-repeat;}
#wrapgauche .alert p.first{float:left; font-style:italic; margin:9px 0 0 62px; font-size:14px; font-weight:arial,sans-serif; font-size:14px; color:#fff;}
#wrapgauche .alert p.first span{color:#fefe52; font-size:14px;}
#wrapgauche .alert p.second{margin:0 0 0 72px; font-size:11px; font-weight:arial,sans-serif; color:#7b8181;}
/*agence*/
#AgImmo_Ctn h3{color:#202020;}
#AgImmo_Ctn .cadreAgence {background:#6d6d6d;}
.VE_Pushpin_Popup_Title, .descGeolocTel, .agImmoVitrine_Td1 .rcs {color:#fefe52;}
#AgImmoDroite .AgImmoContact a, #AgImmoDroite .AgImmoEstimation a { color:#fefe52; background:url($$_$$images/bg_menu.gif) 0 0 repeat-x;}
#AgImmoDroite .AgImmoContact a:hover, #AgImmoDroite .AgImmoEstimation a:hover { color:#fff; }
.VE_Pushpin_Popup_Title, .descGeolocTel, .agImmoVitrine_Td1 .rcs{color:#000;}
#AgImmoMentions p{ color:#000;}
.descGeolocUrl a:hover{text-decoration:underline; color:#000;}
#AgImmoDroite p label a{ color:#515151;}
/*page outils*/
.accordion_content{ background:#FFF;}
#Outils h3{ background:url($$_$$images/bg_menu.gif) 0 0 repeat-x; color:#fefe52; font-weight:normal;}
#Outils .accordion_content .inputCalcul{background:url($$_$$images/bg_menu.gif) 0 0 repeat-x; color:#fefe52;font-weight:normal; }
#Outils strong, .accordion_content .inputCalcul{color:#202020; }
.accordion_content .inputResult{ border-color:#9C9C9C; color:#202020}
.accordion_content .inputText, .accordion_content .inputCalcul, .accordion_content .inputResult{font-weight:normal;}
#AgImmo_Ctn h4, ul#AgImmoPortefeuille li.typeTransac a{ color:#202020;}

/*contact*/
#CguFormulaire,.obligatoire{ color:#000;}
#CguFormulaire a{ color:#202020;}
#FormContactAgence .inputText{font-weight:normal;}
#FormContactAgence .inputSelect option{font-size:12px;}
/*moteur*/
#Moteur h3 strong{ color:#202020;}
.moteurComment{ color:#202020;}
#Moteur h4 { color: #000;}
#RechDetaillee .col3 strong {color:#fff;}
#MiniDivCheckboxRayon{white-space:nowrap; word-spacing:-2px;}
#Moteur .moteurAlerte .col2{color:#D4D4D4;}
/*alerte mail*/
#AlerteEmail h3, #AlerteEmail #AlerteForm *{ color:#fff;}
#AlerteEmail #AlerteForm input.alerteBt{ background:#CDCDCD; color:#000;}
.dicoImmo *{ color:#000;}
#Moteur .moteurAlerte .col2 strong,#Moteur .alerteInfo h2,#Moteur .moteurAlerte  h2{color:#FEFE52;}
#Moteur .alerteInfo p,#Moteur .alerteInfo p strong,#Moteur .alerteInfo p:last-child,#Moteur .moteurAlerte .col1 h4{color:#fff;}
#Moteur .alerteInfo p:last-child{border-bottom:1px dotted #fff;}
#wrapper3 .ttl-pages{display:none;}
#wrapper3 #content_detail .ttl-pages {display:block;border-bottom: 1px dotted #000000;font-size:16px;font-weight: normal; margin-top: 10px;padding: 5px 0; text-align: left; text-transform: uppercase;}
#Moteur .moteurTable td{background:#515151;}
#Moteur .moteurAlerte .col1{padding:20px 10px 0;}
#wrapper3 #Moteur  .alerteNumber span{color:#000;}
#Moteur .moteurAlerte .moteurComment,#Moteur .moteurAlerte span{color:#D4D4D4;}
#Moteur .moteurComment{padding:0 0 6px;}
#wrapper2 #Moteur .moteurTable td{background:none;}
/*detail*/
#AgenceContact p.urlAgence a{ color:#fff;}
.ad-gallery .ad-nav .ad-thumbs{background:#515151;}
.ad-gallery .ad-back{background:url($$_$$images/ad_scroll_back.png) 0 0 no-repeat #515151;}
.ad-gallery .ad-forward{background:url($$_$$images/ad_scroll_forward.png) 0 0 no-repeat #515151;}
#DetailAnnonce h3, #DetailAnnonce h4,#AgenceContact strong{ color:#fefe52;}
 #Annonce_Ctn td#ColonneDroite{ background:#515151; padding:5px; }
#Annonce_Ctn td#ColonneGauche{ background:none; border:none; }
#content_detail{ padding-left:4px;}
.photoTitre, #DetailAnnonce h4, #ChampsObligatoires,.photoNbr,#FancyBox_Ctn a.fancyBox,#Outils a,#AutresVisuels .autresVisuels_bg a{color:#000;}
.photoTitre a,#Prix span,#AgenceContact span,#AgenceMentions p,#AgenceContact h4,#ColonneDroite #CguFormulaire ,#ColonneDroite #Form_Ctn table td p,#ColonneDroite #Form_Ctn table td span,#DetailAnnonce #ColonneDroite  #FormContact h4{color:#fff;}
#AgenceMentions h6,#MapMicrosoft #MapHead h4,#ChampsObligatoires,#ColonneDroite #CguFormulaire a{color:#fefe52;}
.similaire a,.similaire a span{color:#fefe52;}
#LiensRetour a.acc,#LiensRetour a.retour{color:#000;}
#DetailAnnonce h5,.similaire p{color:#fff;}
#DetailAnnonce td#ColonneDroite h4,#ChampsObligatoires{border-bottom:1px dotted #fff;}
#ColonneGauche .photo_ctn{border:none;}
#DetailAnnonce  #InfosPrincipales #Libelle,#DetailAnnonce  #InfosPrincipales #Ville,#DetailAnnonce  #InfosPrincipales #Prix,#DetailAnnonce  #InfosPrincipales #RefAnnonce{border-bottom:none; display:block;background:url($$_$$images/bg_menu.gif) 0 0 repeat-x; font-size: 12px; color:#fefe52; padding:5px 0 5px 8px;}
#Glossaire_Ctn *{color:#000;}
#InfosPrincipales p,#InfosComp_Ctn #InfosComp p{background:url($$_$$images/fleche_blanche_small.gif) 0 50% no-repeat;}
.similaire_ctn{background:#515151;}
/*recherche*/
#RechAffichage #RechAffichageListe p, #RechAffichage #RechAffichageCarte p, #RechAffichage #BiensVendus p, #RechAffichage a:hover { color:##fefe52;}
#MapMicrosoft #MapHead ul *{color:#fefe52;}
.descrAnn_Ctn p,.descrAnn_Ctn p strong{color:#fff;}
#content .prix ,#content .ville ,#content .libelle,.contactAnn .nom{color:#fefe52;}
.contactAnn{background:#515151;}
#content .prix *{color:#fff;}
.descr, .prox_ctn .quartier, .prox_ctn .prox, .metro_Ctn, .surface, .terrain, .contactAnn .tel, .contactAnn a{ color:#fff;}
#RechPagesHaut .rechLiensPages a, #RechPagesBas .rechLiensPages a{ background:#EDEAE9;}
#RechAffichage a{color:#fff;}
#RechAffichage #RechAffichageListe p, #RechAffichage #RechAffichageCarte p, #RechAffichage #BiensVendus p, #RechAffichage a:hover{color:#fefe52;}
.descrAnn_Ctn .prix,.descrAnn_Ctn .ville,.descrAnn_Ctn .libelle{color:#FEFE52;}
.prix sup,#AlerteEmail .note{color:#fff;}
.photo_ctn{border:none;}
#AlerteEmail #AlerteForm input.alerteBt{color:#FEFE52; background:url($$_$$images/bg_menu.gif) 0 0 repeat-x; font-weight:normal;}
#RechHautLiens a{color:#515151;}
#AlerteEmail h4,#AlerteEmail h3 span,#Wrap h1{color:#FEFE52;}
#Plan_Ctn h2{ color:#000;}

#MentionsLegales h2{color:#fefe52;}
#MentionsLegales h2 ,.titreInfosLegales,#Plan_Ctn h1{display:block; width: 99%;background:url($$_$$images/bg_menu.gif) 0 0 repeat-x; font-size: 12px; color:#fefe52;  letter-spacing: 0;padding:5px 0 5px 8px;margin: 10px 0;text-align: left;text-transform: none;font-family: tahoma,sans-serif; text-transform: none;}
.descrAnn_Ctn .contactAnn{width:145px; background:#515151 !important;}
.descrAnn_Ctn .contactAnn .nom{font-size:11px;}
#RechHautPictoResult{background:#515151;}
/* Carte de page recherche */
 #MapContent #MapNiveauZoom h4,#MapMicrosoft #MapHead ul li{color:#606060;}
 .blocAnnonce_wrap .blocAnnonce table td.colDroite .descr p{background:none; border-bottom:1px solid #606060; line-height:28px; margin-bottom:0;}
 form#Tri #Tri_Ctn{position:absolute; right:0;}
 #RechHautLiens{position:relative;}
 #MapContent #MapNiveauZoom p{color:#000;}
 #listeann .ad table .descGeoloc .prixGeoloc{color:#000;}
 #listeann .ad table .descGeoloc span,#listeann .ad table .descGeoloc .villeGeoloc,#listeann .ad table .descGeoloc .libelleGeoloc,#listeann .ad table .descGeoloc .surfaceGeoloc{color:#606060;}
 #listeann .ad table .descGeoloc *{color:#606060;}
 #listeann .ad table .descGeoloc .lienGeoloc a{color:#000;}
 form#Tri select.triBiensVendus{width:149px;}
.contenTxt{ padding:20px 10px;}
.contenTxt ul{ list-style:none;}
.contenTxt ul li a{ text-decoration: underline;}
.contenTxt ul li a:hover{ text-decoration:none;}
#MapContent #MapNiveauZoom h4, #MapMicrosoft #MapHead ul li {color:#eb7700;}


#wrapgauche {background:url($$_$$images/wrapLeft_px.gif) 0 0 repeat-x #000; padding-top:4px;}
/* envoi à un ami */
#EnvoiAmi .col1,td.memoriser{color:#fff;}

/* page pud */*
#bloc_annonces_gauche{margin-right:10px; width:60%;}
#bloc_annonces_gauche .entete_pud_annonce,#bloc_annonces_gauche a,#FormContactAgence .inputText, #FormContactAgence .inputSelect, #FormContactAgence .inputTextarea {color:#515151;}
#bloc_agence_droite select.miniSelect {border:1px solid #515151;}
#bloc_agence_droite #MiniMoteur_Ctn *{color:#515151;}
.bloc_pud_annonce_x3{margin:5px 2px 10px; width:176px; border:1px solid #000;}




#bloc_agence_droite #contact a,#bloc_agence_droite .titre_partager a{color:#515151;}
.agImmoPortefeuille_Ctn {    width: 189px;
}



#boite_selection .selectionIndex {
    margin: 0;
    padding: 7px 0 46px 4px;
}