<div class="main startpoint form-group no-margin">
    <div class="row row-stackable">
        <div class="col-xs-12">
            <div class="form-group no-margin">
                <a class="btn btn-block btn-estimate btn-primary tagClick"
                   ui-sref="online.general"
                   ng-click="$ec.validateLocation($event)"
                   data-ava-id="estiOnline">
                    {{ $ec.form.estimateOnline }}
                </a>
            </div>
        </div>
    </div>
</div>
