// VAR COLORS
$color-body:#E6E6E6;
$color-content:#860924;
$color-block:#f4f4f4;
$color-primary:#f4f4f4;
$color-secondary:#dfcea2;
$color-action:#860924;
$color-important:#dfcea2;
$color-nav-footer:#393c3d;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#393c3d;