// VAR COLORS
$color-body:#fff;
$color-content:#1a1a1a;
$color-block:#f5f5f5;
$color-primary:#fff;
$color-secondary:#f5f5f5;
$color-action:#d02027;
$color-important:#1e285b;
$color-nav-footer:#1e285b;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#4c4a44;