// VAR COLORS
$color-body:#000;
$color-content:#1a1a1a;
$color-block:#2e2e2e;
$color-primary:#000000;
$color-secondary:#2e2e2e;
$color-action:#fd893c;
$color-important:#fd893c;
$color-nav-footer:#999;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#e9e9e9;