// VARIABLES COLORS
$color-body:#fff;
$color-content:#989898;
$color-block:#F1F1F1;
$color-primary:#CBCBCB;
$color-secondary:#58585A;
$color-action:#000;
$color-important:#979797;
$color-nav-footer:#000;
$color-prix:#FFFB00;
$color-cdc:#c30001;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;