// VAR COLORS
$color-body:#fff;
$color-content:#404041;
$color-block:#e7e7e7;
$color-primary:#e7e7e7;
$color-secondary:#7F7F7F;
$color-action:#d20023;
$color-important:#7F7F7F;
$color-nav-footer:#747474;
// COLOR PUB
$color-pub:"black";
// COLOR FONT BODY DEFAULT
$color-font-body:#747474;
// COLOR SOUS MENU
$color-sous-menu:$color-block;