@import "color";
// BG SOLO
$bg-uni:yes;

// PICTURE BG
$picture-bg:no;
$picture-bg-url:'../images/degrade_bg.png';
$picture-bg-repeat-horizontal:no;

// SIZE PICTURE AREA : FULLSCREEN OR NOT
$height-container:540;

// VARIABLE SITE TYPO
$font-body:"proxima-nova",verdana,sans-serif;
$font-title:"futura-pt-condensed",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST > FONT-SIZE-TEXT
$font-size-text:1.3em;
$font-size-title:2.2em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:bold;

// ARRONDI POUR LES EFFETS SUR LI HOVER/FIL ARIANE/BOUTON
$arrondi:yes;

// BORDER EFFECT ON NAV
$border-nav:yes;

// TYPE MENU : FLAT = COLOR BANNER BEHIND, NO FLAT = SHAPE OR NOT
// LINK TO VAR ID3X >>> MENU_TYPE
$type-menu:no-flat;

// STYLE NAV : IF YES = SHAPE BEHIND WORD, IF NO SHAPE BEHIND WORD ON HOVER
$shape:no;

// MARGIN UNDER NAV FIXE
$margin-top-under-nav-fixe:170;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS
@import "../../../slagence_X_V5/sources/scss/boutons/lib1";

// IMPORT TEMPLATE LONDRES
@import "../../../slagence_X_V5/sources/scss/templates/londres";

// IMPORT MODULE ANNONCES2
@import "../../../slagence_X_V5/sources/scss/modules/annonces2";

// IMPORT MODULE PUB LIB3
@import "../../../slagence_X_V5/sources/scss/pubs/lib3";

// SPRITE BLANC
@import "../../../slagence_X_V5/sources/scss/sprites/social-blanc";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";

//--------------------------------------------------------------------------------------
//    PERSO CIBLEPRO
//--------------------------------------------------------------------------------------


/* AUTRES TEMPLATE */

.container {
    width: 1280px;
    @media only screen and (max-width : 1280px) {
        width: 960px
    }
}

.cookie-banner {
  background-color: $color-primary;
  color: $color-nav-footer;
}

.text_cookies .button_submit {
  background-color: $color-action !important;
}


.icon-v5-heart:before{ color:$color-icone-cdc;}
.icon-v5-heart.opacity-4{opacity:1;}

//--------------------------------------------------------------------------------------
//    MENU & NAV
//--------------------------------------------------------------------------------------

.logo img {
  padding: 4px 2px;
}

@media only screen and (max-width : 767px) {
header .logo img {
width: 30%;
}
}

@media only screen and (max-width : 767px) {
.h1-index {
font-size:1.00em;
}
}

.menu-principal {padding-top:50px;}

.menu-principal>li>a {
padding: 8px 2px;
font-size:0.75em;
background-color:transparent;
&:hover {
color:$color-action;
background-color:$color-secondary;
}
}

@media only screen and (max-width : 1300px) {
.menu-principal>li>a {
padding: 8px 1px;
font-size : 0.60em;
}
}

@media only screen and (max-width : 970px) {
.menu-principal>li>a {
padding: 8px 1px;
font-size : 0.50em;
}
}

@media only screen and (max-width : 850px) {
.menu-principal>li>a {
padding: 8px 1px;
font-size : 0.40em;
}
}

@media only screen and (max-width : 850px) {
.h1-index {
font-size : 0.95em;
}
}

body > section > div > div.row-fluid.margin-top-20.margin-bottom-20 > div > div:nth-child(1) > div > div > div:nth-child(1) > div > div > h2 {
font-size : 1.20em;
}

.navigation {
  border-bottom:3px solid $color-action;
}


//--------------------------------------------------------------------------------------
//    INDEX
//--------------------------------------------------------------------------------------


.height-220  {height: 270px;}

//--------------------------------------------------------------------------------------
//    PAGE AGENCE
//--------------------------------------------------------------------------------------

body > section > div > div > div > div > div.span12 > div.row-fluid.bloc-agence.bloc-agence-top > div > div:nth-child(1) > div:nth-child(2) > div > div > p > span.streetadress {display:none;}

body > section > div > div > div > div > div.span12 > div.row-fluid.bloc-agence.bloc-agence-top > div > div:nth-child(1) > div:nth-child(2) > div > div > p > span.postalCode {display:none;}

body > section > div > div > div > div > div.span12 > div.row-fluid.bloc-agence.bloc-agence-top > div > div:nth-child(1) > div:nth-child(2) > div > div > p > span.addressLocality {display:none;}


#Mini_Moteur > div:nth-child(5) > div.row-fluid.titre-section-refine {display:none;}
#Mini_Moteur > div:nth-child(6) > div.row-fluid.titre-section-refine {display:none;}

//--------------------------------------------------------------------------------------
//    PAGE CONTACT
//--------------------------------------------------------------------------------------

#ctc-content > div.row-fluid.ctc-agence.margin-top-30 > div.span6.ctc-infos-agence.typo-action > div.row-fluid > div.span8.ctc-coord-agence > span.ctc-adresse-agence {display:none;}

#ctc-content > div.row-fluid.ctc-agence.margin-top-30 > div.span6.ctc-infos-agence.typo-action > div.row-fluid > div.span8.ctc-coord-agence > span.ctc-cp-agence {display:none;}

#ctc-content > div.row-fluid.ctc-agence.margin-top-30 > div.span6.ctc-infos-agence.typo-action > div.row-fluid > div.span8.ctc-coord-agence > span.ctc-ville-agence {display:none;}


#ctc-content > a {display:none;}

#map-osm {display:none;}

#ctc-content > h3 {display:none;}

//--------------------------------------------------------------------------------------
//    PAGE RECHERCHE
//--------------------------------------------------------------------------------------

@media only screen and (max-width: 767px){
.prix-annonce, .prix-honoraires-charges {
    color:$color-nav-footer;
}
}
