@font-face {
	font-family: 'OpenSans-Light';
	src: url('$$_$$styles/typos/opensanslight.eot');
	src: url('$$_$$styles/typos/opensanslight.eot?#iefix') format('embedded-opentype'),
			 url('$$_$$styles/typos/opensanslight.woff') format('woff'),
			 url('$$_$$styles/typos/opensanslight.ttf') format('truetype'),
			 url('$$_$$styles/typos/opensanslight.svg#opensanslight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('$$_$$styles/typos/opensansregular.eot');
	src: url('$$_$$styles/typos/opensansregular.eot?#iefix') format('embedded-opentype'),
			 url('$$_$$styles/typos/opensansregular.woff') format('woff'),
			 url('$$_$$styles/typos/opensansregular.ttf') format('truetype'),
			 url('$$_$$styles/typos/opensansregular.svg#opensansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*------CSS definitive--*/
body { margin: 0; padding:0; background: url($$_$$images/skin/bg.jpg) repeat-x #2e2e2e; text-align:center; font-family: arial; }
div,td {  font-size:12px; color: #fff; font-family: 'OpenSans-Light', Arial, sans-serif; }
img { border:none; display: inline; }
table  { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; }
a { text-decoration: none; color: #53ac27; }
a:hover { color: #53ac27; text-decoration: none; }
p { margin:10px 0;}
*{margin:0; padding:0 }
ul{list-style-type:none}
.clear { clear: both; }
/*----- decoupage -------*/

#wrapper { width: 960px; margin: 0 auto; text-align:left; position:relative; }
.logo { float: left; width: 443px; margin-left:-14px;}
.right-top { float:right; width: 510px; padding-top: 21px; }
.flag { text-align:right; padding-right: 13px; padding-bottom: 8px; }
.flag img { padding-left: 2px; }

.menu { width: 960px; background: #000; height: 55px; }
.menu ul { margin: 0; padding:0;  text-align:center;}
.menu ul li { display:inline-block; list-style-type: none; height: 55px; }
.ie7 .menu ul li {float:left;}
.menu ul li a { display:block; color: #fff; font-size: 20px; height: 55px; line-height: 50px; padding: 0 24px; font-family: 'OpenSans-Light', Arial, sans-serif; }
.ie7 .menu ul li a {padding:0 28px;}
.menu ul li a:hover { background: #53ac27; display:block; }
.menu ul.en li a { padding: 0 34px; }

.bg-alert { background:url($$_$$images/skin/bg_alert.gif) no-repeat; width: 471px; height: 100px; float:left; }
.bg-agc { background:url($$_$$images/skin/bg_agc.gif) no-repeat; width: 471px; height: 100px; float:right; }
#bloc-cdc { padding: 10px 0; }

.txt-content { float:left; width: 200px; color: #53ac27; line-height:27px; text-align:center; font-size: 25px; padding: 10px 50px 7px; }
.txt-content strong { color: #fff; font-weight: normal; font-size: 30px; }
.right-txt { float: left; text-align:justify; width: 600px; color: #fff; border-left: 9px solid #2a2a2a; line-height: 18px; padding: 0 0 0 45px; margin-top: 20px; font-size: 13px; font-family: Arial, Helvetica, sans-serif; }

.ctc-alert { padding-left: 110px; padding-top: 14px; color: #53ac27; font-size: 14px; }
.ctc-alert strong { font-weight: normal; font-size: 14px; }
.ctc-alert a { color: #fff; }
.ctc-alert a:hover { color: #53ac27; }


.btn { height: 30px; overflow:hidden; padding: 20px 0 0 20px; }
.btn ul { margin: 0; padding: 0; }
.btn li { list-style-type: none; position: relative; float: left; margin-right:3px; }
.btn a { display: block; height: 30px; background-repeat: no-repeat; font-size: 16px; }
.btn a:hover { position: relative; display: block; background-position: 0 -30px; }

#new { display: none; }

#menu-new, #menu-cdc { width: 228px; height:30px;display: block; color: #fff; font-size: 16px; text-align: center; line-height: 30px; }

#menu-new { background: url($$_$$images/skin/bg_onglet.gif) no-repeat; }
#menu-cdc { background: url($$_$$images/skin/bg_onglet.gif) no-repeat 0 -30px; }

#bloc-cdc { margin-bottom: 25px; }


#footer { background: #111111; border: 1px solid #070707; width: 960px; height: 63px; position:relative; margin: 10px 0 0 0; }
.bloc-mobile { float:left; width: 230px; background:url($$_$$images/skin/pic-tel.gif) left center no-repeat; margin-left: 20px; margin-top: 14px; padding-left: 35px; height: 35px; color: #fff; font-size: 14px; line-height: 16px; }
.bloc-mobile span { color: #53ac27; }

.bloc-rss { background:url($$_$$images/skin/pic-rss.gif) right center no-repeat; float:right; width: 275px; padding-right: 45px; margin-right: 16px; margin-top: 14px; text-align:right; color: #fff; font-size: 14px; line-height:16px;}
.bloc-rss a, .bloc-reseau a, .bloc-reseau { color: #53ac27; font-size: 14px; line-height: 18px; }
.bloc-reseau a:hover, .bloc-rss a:hover { text-decoration:underline; }
.pic-fb { position:absolute; top: 15px; left: 0; }

.bloc-reseau { float:left; width: 185px; position:relative; padding-top: 15px; padding-left: 95px; }
.bloc-reseau img { padding-right: 5px; }

.content-txt { font-size: 16px; }
.content-txt strong { color: #53ac27; font-weight: normal; }

.l-foot { float:left; width: 420px; }
.l-foot h6 { display: none; }
.l-foot h4 a, .l-foot ul li a { color: #74797f; font-size: 12px; } 
.r-foot { float:right; width: 500px; padding-top: 12px; text-align:right; padding-right: 10px; }
.link-foot, .link-foot a { text-align:right; color: #fff; }
.link-foot a:hover { color: #53ac27; }
.nom-agc { color: #fff; font-size: 14px; }
.nom-agc strong { color: #53ac27; font-weight: normal; }

#bloc-moteur { width: 619px; height: 82px; }

.portefeuilleVilles, .portefeuilleVilles a, .portefeuilleVilles h3 { font-size: 12px; font-weight: normal; color: #74797f; }

#navigue { min-height: 350px; padding: 15px; } 

.ttl-gestion { font-size: 18px; color: #53ac27; }

.ttl_pages {font-size: 24px; color:#53ac27;font-family: 'OpenSans-Light', Arial, sans-serif; }
.firstLien {color:#53ac27;}

/* RETOUR HAUT */
.retourHaut {float:right;margin:5px 0 0 0;padding:0;font-size:11px;font-weight:bold;}
.retourHaut a {color:#53ac27;text-decoration:none;}

#Plan_Ctn a { border-bottom: 1px dotted #5c5c5c; color: #fff; font-size: 14px; }
#Plan_Ctn a:hover { color: #53ac27; }

#DOMWindow { background: #fff!important; }
.txtLi { color: #4b4b4b; font-size: 11px!important; }