// VARIABLES COLORS
$color-body:#2e2e2e;
$color-content:#111;
$color-block:#fff;
$color-primary:#fff;
$color-secondary:#cf124a;
$color-action:#cf124a;
$color-important:#d8f187;
$color-nav-footer:#cf124a;

// COLOR PUB
$color-pub:"white-opacity";

// COLOR FONT BODY DEFAULT
$color-font-body:#fafafa;
