/* CSS POUR MOTEUR, MINIMOTEUR */
/* MINI MOTEUR */
.ajaxLoader {width:100%;text-align:center;}
.miniDiv {float:left;clear:both;margin:0 auto 10px 25px;padding:0;width:300px;}
.miniDivInfos {clear:both;width:100%;margin-top:5px;font-weight:9px;}
.miniBlocTitre {float:left;text-align:right;width:37%;font-size:11px;line-height:12px;padding-top:2px;color:#6b645b;}
.miniBlocSelection {float:left;text-align:left;margin-left:5px;width:60%;line-height:12px;}
.miniBlocSelectionImage {float:left;text-align:center;margin-left:5px;width:60%;line-height:12px;}
.miniForm, .miniFormInput {width:242px;background:#ffffff;border:1px solid #ccc;font-size:11px;}
.miniForm  option{padding-left:3px;}
.miniFormInput {width:80px;float:left;margin-right:10px;}
.miniBouton {padding:5px;font-size:16px;font-weight:normal;margin:10px 0 0 0;color:#6b645b;background:#00A8E3;width:100%;}
.divOff {display:none;}
#Mini_texte {display:none;}
.miniTitre {font-family:'typomenu';text-decoration:none;}
/* MOTEUR */
#Moteur{float:left;margin:20px 0 0 0;width:100%;}
.moteurMargin{margin:15px 0 0 0;color:#6b645b;}
.moteurComment{color:#ccc}
#Moteur h1{font-size:30px; font-family:'typomenu'; color: #614b3a;font-weight:normal;}
#Moteur h2{font-weight:normal;font-size:13px;color:#614b3a;}
#Moteur h3{font-weight:normal;font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#614b3a;border-bottom:1px solid #6b645b;padding:0 0 5px 0;}
#Moteur h3 strong{font-weight:normal;color:#6b645b;}
#Moteur h4{font-weight:normal;font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#614b3a;padding:0 0 5px 0;}
#Moteur .moteurTable{width:98%;}
#Moteur .moteurTable td{width:100%;vertical-align:top;}
#Moteur .moteurTable .col1{width:32%;padding:20px 0 0 0;}
#Moteur .moteurTable .col2{width:32%;padding:20px 0 0 3%;}
#Moteur .moteurTable .col3{width:30%;padding:20px 0 0 3%;}
#Moteur .moteurTable ul li{padding:5px;margin:2px 0;background:#242424;}
#Moteur .moteurTable ul li#idtypebien_1{margin:0;}
#Moteur .moteurTable ul li#idtypebien_2{margin:2px 0 0 0;}
#Moteur .moteurTable ul li#nb_pieces,
#Moteur .moteurTable ul li#nb_chambres,
#Moteur .moteurTable ul li#InputSurfaceTerrain{padding:5px 5px 5px 20px;background:#242424;margin:0;}
#Moteur .moteurTable ul li#InputSurfaceTerrain{margin:-2px 0 0 0;}
#Moteur .inputText{padding:1px 2px;margin-top:3px;color:#614b3a;}
#Moteur .inputSelect{font-weight:normal;color:#lightGrey;font-size:12px;padding:0 0 0 5px;background:#ececec;border:1px solid #ccc;}
#Moteur .inputTextarea{font-weight:normal;margin:0 0 10px 0;padding:1px 2px;}
#Moteur .inputText,
#Moteur .inputTextarea{border:1px solid #ccc;color:#lightGrey;font-size:12px;background:#ececec;}
#Moteur .inputText{width:93px;}
#Moteur .inputSelect{width:300px;}
#Moteur .inputTextSpan{padding:0 5px;}
#Moteur #ref_ann{padding:0 0 20px 0;border-bottom:1px solid #6b645b;}
#Moteur #ref_ann .inputText{width:300px;}

#Moteur #champLibreVille #cp1,
#Moteur #champLibreVille #cp2,
#Moteur #champLibreVille #cp3,
#Moteur #champLibreVille #cp4{display:block;width:218px;margin:0 0 5px 0;}
#Moteur #MoteurVilles.miniDiv{height:50px;}
#Moteur #MoteurVilles li{display:block;float:left;width:30%;padding:5px;margin:2px 1% 2px 0;}
#Moteur #MoteurBouton{text-align:right;}
#Moteur #MoteurBouton .inputSubmit{padding:5px;font-size:16px;font-weight:normal;margin:10px 0 0 0;color:#6b645b;background:#614b3a;width:auto;}
#Moteur .alerteBtModif{cursor:pointer;border:none;font-size:16px;font-weight:normal;padding:3px 20px 5px 20px;*padding:3px 20px;}
#Moteur .preValid{padding:20px 0;}
#Moteur .preValid a{font-weight:normal;text-decoration:underline;margin:0 35px 0 0;cursor:pointer;}
#Moteur .preValid a:hover{text-decoration:none;}
/* PERSO BERLIN */
#Mini_Send {display:none;}