@font-face {
	font-family: 'Amaranth';
	src: url('$$_$$styles/typocss/amaranthwebfont.eot');
	src: url('$$_$$styles/typocss/amaranthwebfont.eot?#iefix') format('embedded-opentype'),
			 url('$$_$$styles/typocss/amaranthwebfont.woff') format('woff'),
			 url('$$_$$styles/typocss/amaranthwebfont.ttf') format('truetype'),
			 url('$$_$$styles/typocss/amaranthwebfont.svg#amaranthwebfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'BebasRegular';
    src: url('$$_$$styles/typocss/BebasNeue.eot');
    src: url('$$_$$styles/typocss/BebasNeue.eot?#iefix') format('embedded-opentype'),
         url('$$_$$styles/typocss/BebasNeue.woff') format('woff'),
         url('$$_$$styles/typocss/BebasNeue.ttf') format('truetype'),
         url('$$_$$styles/typocss/BebasNeue.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*------CSS definitive--*/
body { margin: 0; padding:0; background: #070707; text-align:center;font-family: arial; }
div,td {  font-size:12px; color: #fff; }
img { border:none; display: inline; }
table  { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; }
a { text-decoration: none; color: #eb6318; }
a:hover { color: #fff; text-decoration: none; }
p { margin:10px 0;}
*{margin:0; padding:0 }
ul{list-style-type:none}
.clear { clear: both; }
/*----- decoupage -------*/

#main-wrapper { background:url($$_$$images/skin/bg.gif) repeat-x #070707; }
#wrapper-top { width: 960px; margin: 0 auto; text-align:left; position:relative; }

.bg-top { background:url($$_$$images/skin/bg_top.jpg) no-repeat; width: 960px; height: 140px; overflow:hidden; }

.logo { float:left; width: 183px; margin-top:2px; }
.adresse-top { float:left; width: 335px; text-align:center; font-size: 18px; padding-left: 170px; font-family: 'Amaranth'; }
.adresse-top a { color: #fff; }
.adresse-top a:hover { color: #eb6318; }

.flag { position:absolute; top: 7px; right: 0; }

.photo-g { width: 960px; height: 960px; height: 378px; margin: 0 auto; text-align: left; position:relative; }
.bg-flash { float: left; width: 778px; padding-top: 3px; position:relative; }

.menu { width: 960px; min-height: 53px; background: #000; clear: both; }
.menu ul { margin: 0; padding: 0; }
.menu li { float: left; list-style-type: none; position: relative; }
.menu li ul {display: none;position: absolute;z-index: 999;background: #000;}
.menu li:hover ul {display: block;}
.menu a { display: block; color:#ffffff; padding: 0 10px; text-align:center; line-height: 53px; text-decoration:none; font-size: 20px; text-transform:uppercase; font-family: 'Amaranth'; text-shadow: 1px 1px 1px #363a3b; }

.menu .en a { padding: 0 16px; }
.menu a:hover { color: #eb6318; position:relative; }

#bloc-moteur { width: 620px; height: 53px; text-align:left; position:absolute; left: 70px; bottom: 20px; }

.bg-estim { float:right; width: 182px; height: 378px; background:url($$_$$images/skin/bg_estim.gif) no-repeat; margin-top: 3px; }

#content { width: 960px; margin: 0 auto; text-align:left; }
.txt-acc { font-size: 15px; }

.txt-alert { font-size: 18px; text-transform:uppercase; color: #363a3b; font-family: 'BebasRegular'; padding-top: 15px; padding-left: 120px; }
.txt-alert a { color: #eb6318; text-decoration:underline; }
.txt-alert a:hover { color: #fff; }

.txt-decouvert { font-size: 18px; text-transform:uppercase; color: #363a3b; font-family: 'BebasRegular'; padding-top: 15px; padding-left: 190px; }
.txt-decouvert a { color: #eb6318; text-decoration:underline; }
.txt-decouvert a:hover { color: #fff; }

.bloc-alerte { background:url($$_$$images/skin/bg_alert.gif) no-repeat; width: 472px; height: 92px; float: left; }
.bloc-decouvert { background:url($$_$$images/skin/bg_decouvert.gif) no-repeat; width: 472px; height: 92px; float: right; }

.bloc-sociaux { background: #000; width: 951px; height: 65px; border: 4px solid #2e2e2e; margin-top: 15px; position:relative; }

.bloc-twit { float:left; width: 255px; position:relative; }
.txt-twit { padding-top: 12px; padding-left: 55px; color: #a2a3a4; font-family: 'BebasRegular'; text-transform:uppercase; font-size: 24px; line-height: 22px; }
.txt-twit a { color: #d9dcd6; }
.txt-twit a:hover { color: #fff; }

.pic-twit { position:absolute; top: 12px; right: 0; }
.pic-fb { position:absolute; top: 7px; right: 0; } 

.bloc-appart { padding-left: 30px; padding-top: 165px; }
.link-appart { width: 124px; height: 23px; text-align:center; background: #eb6318; line-height: 23px; margin-bottom: 10px; }
.link-appart a { text-transform:uppercase; font-size: 16px; font-family: 'Amaranth'; color: #fff; }

#navigue { min-height: 350px; padding: 15px 0; }

.content-mobile { float: left; width: 270px;background:url($$_$$images/skin/pic_mobile.png) right no-repeat; height: 66px; padding-right: 15px; }
.pic-mobile { padding-top: 12px; padding-left: 33px; color: #d9dcd6; font-family: 'BebasRegular'; text-transform:uppercase; font-size: 24px; line-height: 22px; }

.bloc-rss { float: left; width: 365px; background:url($$_$$images/skin/pic-rss.png) right no-repeat; height: 66px; }
.pic-rss { padding-top: 12px; padding-left: 55px; color: #d9dcd6; font-family: 'BebasRegular'; text-transform:uppercase; font-size: 24px; line-height: 22px; }
.pic-rss a { color: #d9dcd6; }
.pic-rss a:hover { color: #fff; }

.bloc-cdc { padding-bottom: 20px; }

#footer { width: 960px; margin: 0 auto; text-align:left; }
.foot-left { color: #fff; width: 200px; float:left; font-size: 11px; font-family: Tahoma, Geneva, sans-serif; }
.foot-center { color: #fff; width: 120px; float:left; font-size: 11px; font-family: Tahoma, Geneva, sans-serif; padding-left: 45px; }
.foot-right { color: #fff; width: 500px; float: right; font-size: 11px; font-family: Tahoma, Geneva, sans-serif; }
.foot-right a { color: #fff; font-size: 11px; font-family: Tahoma, Geneva, sans-serif; }

.txt-l a, .txt-c a, .txt-r a, .txt-l, .txt-c, .txt-r { font-size: 11px; color: #6f7273; font-size: 11px; font-family: Tahoma, Geneva, sans-serif; }
.coordo-foot { padding: 25px 0 50px; color: #fff; text-align:center; font-size: 11px; font-weight: bold; }
.coordo-foot a { color: #eb6318; text-decoration:underline; }
.portefeuilleVilles, .portefeuilleVilles h3, .portefeuilleVilles a { color: #6f7273; font-size: 11px; font-weight: normal; }

.ttl-foot { font-weight: bold; }
#main-foot { background:url($$_$$images/skin/bg_foot.gif) repeat-x #070707; }

#Plan_Ctn a { color: #fff; border-bottom: 1px dotted #fff; text-transform:uppercase; }
#Plan_Ctn a:hover { color: #eb6318; }

.ttl_pages { color: #eb6318; font-family: 'Amaranth'; text-transform:uppercase; font-size: 24px; }

/* RETOUR HAUT */
.retourHaut {float:right;margin:5px 0 0 0;padding:0;font-size:11px;font-weight:bold;}
.retourHaut a {color:#eb6318;text-decoration:none;}
/*FOOTER REFERENCEMENT*/
.leftreffooter{float:left;}
.conteneurfoot{margin:auto;width:970px;}
.contentblocklink{float:right;margin-bottom:10px;}
.blockcol{float:left;margin-left:30px;text-align:left;}
.footerlink h4{color:#fff; font-weight:normal;margin:0;padding:0;margin-top:10px;font-size:1.2em;}
.footerlink{float:none;}
.footerlink a { display:block;font-size:0.8em;color:#ccc;}

#DOMWindow { background: #fff!important; }
.page-int ul { padding-left: 15px; }
.page-int li { list-style-type: square; }

#Expertise h2 { text-align:center; padding: 10px 0; color: #eb6318; font-size: 20px; font-family: 'Amaranth'; }
#Expertise h3 { border-bottom: 1px dotted #fff; font-size: 16px; font-family: 'Amaranth'; margin: 10px 0; }
#Expertise h4 { padding: 10px 0; color: #eb6318; }
#Expertise ul { padding-left: 20px; }
#Expertise td { padding: 10px; }