// VAR COLORS
$color-body:#fff;
$color-content:#fff;
$color-block:#cecece;
$color-primary:#fff;
$color-secondary:#1614b1;
$color-action:#c12a07;
$color-important:#c12a07;
$color-nav-footer:#525252;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#525252;