/* ++++++++++++++++++++++++++++++++++++++++++++++ GÉNÉRAL ++++++++++++++++++++++++++++++++++++++++++++++  */
#HeaderTxt h2 {color:#e4352e;}
#HeaderTxt p {color:#3e3d40;}
#Coordonnees_Ctn {border-bottom:1px solid #fff; border-top:1px solid #fff;}
#Footer_Ctn {background-color:#fff;}
#Footer h3 a, #Footer h3 a strong {color:#e4352e;}
#Footer h3 {border-bottom:1px dotted #e4352e;}
#Footer a {color:#3e3d40;}


/* ++++++++++++++++++++++++++++++++++++++++++++++ ACCEUIL ++++++++++++++++++++++++++++++++++++++++++++++  */
/* --- Portefeuille --- */
#PortefeuilleAccueil h4 a {color:#e4352e;}
#PortefeuilleAccueil ul li a {color:#3e3d40;}
#PortefeuilleAccueil ul li {border-bottom:1px dotted #3e3d40;}
#PortefeuilleAccueil h6 {color:#e4352e;}
#PortefeuilleAccueil h6 span {color:#3e3d40;}
/* --- mini moteur --- */
#MiniBouton .boutonSubmit {background-color:#e4352e;}
#MoteurAccueil {border:none;}
/* --- nouveautés --- */
.selectionDescr .selectionSurface, .selectionDescr .selectionNbPieces {color:#bebbc4;}

/* +++++++++++++++++++++++++++++++++++++++++++ NOTRE AGENCE +++++++++++++++++++++++++++++++++++++++++++  */
#MapMicrosoft #MapHead * {color:#e4352e;font-weight:bold;}
#MapMicrosoft .geolocInfo {color:#e4352e;}
#MapMicrosoft {border:1px solid #e4352e;}
#AgImmoDroite .AgImmoContact a, #AgImmoDroite .AgImmoEstimation a {background-color:#e4352e;}
#AgImmo_Ctn h2, #AgImmo_Ctn h4 {color:#bebbc4; border-bottom:1px dotted #bebbc4;}



/* +++++++++++++++++++++++++++++++++++++++++ MOTEUR, RECHERCHE +++++++++++++++++++++++++++++++++++++++++  */
#Moteur .moteurTable ul li#nb_pieces, #Moteur .moteurTable ul li#nb_chambres {color:#e4352e;}
#Moteur #MoteurBouton .inputSubmit {color:#e4352e;}
.moteurComment, #Moteur h3, .col2 p, #Moteur .inputTextSpan {color:#bebbc4;}

/* +++++++++++++++++++++++++++++++++++++++++ RECHERCHE, BASIC +++++++++++++++++++++++++++++++++++++++++  */
#RechHautPictoResult {background-color:#e4352e;}
#AlerteEmail #AlerteForm input.alerteBt {background-color:#e4352e; border:1px solid #fff;}
.contactAnn *, .contactAnn .ctc, .contactAnn .nom{color:#3e3d40;}

/* +++++++++++++++++++++++++++++++++++++++++ DETAIL, SENTO +++++++++++++++++++++++++++++++++++++++++  */
.ad-gallery .ad-back {background: url("$$_$$images/ad_scroll_back.png") no-repeat scroll 0 0 #3e3d40; border-left:1px solid #bebbc4;border-top:1px solid #bebbc4;}
.ad-gallery .ad-forward {background: url("$$_$$images/ad_scroll_forward.png") no-repeat scroll 0 0 #3e3d40; border-right:1px solid #bebbc4; border-top:1px solid #bebbc4;}
.ad-gallery .ad-nav .ad-thumbs {border-bottom:1px solid #bebbc4; border-top:1px solid #bebbc4;}
.similaire_ctn {background-color:#e4352e;}
#ChampsBouton .inputSubmit {background-color:#e4352e; border:1px solid #fff;}
#Annonce_Ctn td#ColonneGauche {border:none; background:none;}



/* +++++++++++++++++++++++++++++++++++++++++ CONTACT +++++++++++++++++++++++++++++++++++++++++  */
#FormContactAgence .inputSubmit {background-color:#e4352e;}


/* +++++++++++++++++++++++++++++++++++++++++ GESTION +++++++++++++++++++++++++++++++++++++++++  */
#ImmoRub h2 {border-bottom:none;}
#ImmoRub h4 {color:#bebbc4; border-bottom:1px dotted #bebbc4;}

/* +++++++++++++++++++++++++++++++++++++++++ ESTIMATION +++++++++++++++++++++++++++++++++++++++++  */
#FormContactAgence h1 {color:#bebbc4;}
#FormContactAgence .pointillesBas {border-bottom: 1px dotted #bebbc4;}

/* +++++++++++++++++++++++++++++++++++++++++ OUTILS +++++++++++++++++++++++++++++++++++++++++  */
.accordion_content {background-color:#3e3d40; border-bottom:1px solid #bebbc4; border-left:1px solid #bebbc4; border-right:1px solid #bebbc4;}
#Outils h3 {background-color:#e4352e; border:1px solid #bebbc4;}
.accordion_content .inputCalcul {background-color:#e4352e;}
.accordion_content .inputResult {color:#e4352e;}

/* ==========
rouge: #e4352e
gris:  #3e3d40
rose pale: #bebbc4
========== */