// VAR COLORS
$color-body      : #fff;
$color-content   : #fff;
$color-block     : #f4f4f4;
$color-primary   : #fff;
$color-secondary : #01040a;
$color-action    : #c41d18;
$color-important : #01040a;
$color-nav-footer: #0f0f0f;
$color-black     : #000;
$color-white     : #fff;
$color-facebook  : #3b5998;

// COLOR PUB
$color-pub       : "white";

// COLOR FONT BODY DEFAULT
$color-font-body : #0f0f0f;

