@import "color";

// LARGEUR DU SITE
$sitewrap: 1170px;

// REQUIS MAIS NE SERT PAS
$bg-uni: yes;
$picture-bg: yes;
$picture-bg-url:'';
$picture-bg-repeat-horizontal: no;

// VAR SITE TYPO
$font-body:"Source Sans Pro",verdana,sans-serif;
$font-title:"Muli",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text:1.85em;
$font-size-title:1.9em;

// TYPE TITLE (NONE, UPPERCASE...)
$type-title: uppercase;

// WEIGHT (BOLD, NORMAL, 700, 300...)
$weight-title: normal;

// ARRONDI (YES / NO)
$arrondi: yes;

// IMPORT ALL
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";

// IMPORT TEMPLATE MOBILEFIRST
@import "../../../slagence_X_V5/sources/scss/templates/mobilefirstv2";

// IMPORT RECHERCHE MOBILEFIRST
@import "../../../slagence_X_V5/sources/scss/recherche/mobilefirst";

// IMPORT MOTEUR MOBILEFIRST (SUR RECHERCHE)
// SEULEMENT SI RECHERCHE AUTRE QUE MF
//@import "../../../slagence_X_V5/sources/scss/moteur/mobilefirst";

// IMPORT DETAIL MOBILEFIRST
@import "../../../slagence_X_V5/sources/scss/detail/mobilefirst";

// IMPORT AGENCE MOBILEFIRST
@import "../../../slagence_X_V5/sources/scss/agence/mobilefirst";

// IMPORT BOUTONS
@import "../../../slagence_X_V5/sources/scss/boutons/mobilefirst";

// IMPORT MODULE SOUS MENU
@import "../../../slagence_X_V5/sources/scss/sous_menu/lib1";

// IMPORT POPUP
// @import "../../../A_ID3X/jouanin_55569/css/featherlight.css";

// IMPORT PUB
@import "../../../slagence_X_V5/sources/scss/pubs/mobilefirst";

// IMPORT MODULE EXTRA
@import "../../../slagence_X_V5/sources/scss/extra/extra2";

// IMPORT MODULE ANNONCES
@import "../../../slagence_X_V5/sources/scss/modules/annonces18";


//------------------------------------------------------------------------------------------------------------------------------------
//		PERSO JOUANIN
//------------------------------------------------------------------------------------------------------------------------------------

//------------------------------------------------------------------------------------------------------------------------------------
//		GENERAL
//------------------------------------------------------------------------------------------------------------------------------------

.typo-block {
  color: $color-block;
}

	//------------------------------------------------------------------------------------------------------------------------------------
	//		ANIM
	//------------------------------------------------------------------------------------------------------------------------------------

/* ----------------------------------------------
 * Generated by Animista on 2018-5-16 10:25:57
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}


/**
 * ----------------------------------------
 * animation swirl-in-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
            transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    opacity: 1;
  }
}
@keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
            transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    opacity: 1;
  }
}


.scale-in-center {
	-webkit-animation: scale-in-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.swirl-in-fwd {
	-webkit-animation: swirl-in-fwd 1s ease-out 1.5s both;
	        animation: swirl-in-fwd 1s ease-out 1.5s both;
}


.margin-top-167 {
  margin-top: 167px;
  @media only screen and (max-width : 767px)  {
    margin-top: auto;
  }
}

	//------------------------------------------------------------------------------------------------------------------------------------
	//		MENU & NAV
	//------------------------------------------------------------------------------------------------------------------------------------

.logo img {
  width: 300px;
  height: 120px;
  max-height: 120px;
  @media only screen and (max-width : 767px)  {
      max-width: 200px;
  }
}

ul.menu-principal > li.menu-estimation > a, ul.menu-principal > li.menu-recrutement > a {
	background: $color-important;
	@include border-radius (4px);
	&:hover {
		color: $color-primary;
	}
}

//------------------------------------------------------------------------------------------------------------------------------------
//		INDEX
//------------------------------------------------------------------------------------------------------------------------------------

	//------------------------------------------------------------------------------------------------------------------------------------
	//		VISUEL
	//------------------------------------------------------------------------------------------------------------------------------------

.topmodule-big .slidermf {
    height: 660px;
    @media only screen and (max-width : 979px) {
      height: 250px;
    }
}

.slogan-visuel {
	position: absolute;
    top: 190px;
    z-index: 1500;
    right: 10%;
    background-color: rgba($color-primary,0.7);
    padding: 10px;
    img {
    	margin-top: -90px;
    }
}


.scrollto {
    position: absolute;
    width: 100%;
    bottom: 180px;
    left: 0;
    text-align: center;
    z-index: 1500;
}
.scrollto-btn {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 45px;
    color: $color-nav-footer;
    border: 3px solid $color-nav-footer;
    border-radius: 15px;
    &:before {
        content: "|";
        font-size: .9em;
        font-weight: bold;
    }
    [class*="icon-"] {
        position: absolute;
        display: block;
        left: -50%;
        font-size: 3em;
        line-height: 0;
        -webkit-animation: scrollto-anim .5s infinite alternate linear;
                animation: scrollto-anim .5s infinite alternate linear;
    }
    &:hover {
        color: $color-nav-footer;
        text-decoration: none;
    }
}
@keyframes scrollto-anim {
    from {
        bottom: -20px;
    }
    to {
        bottom: -15px;
    }
}

  //------------------------------------------------------------------------------------------------------------------------------------
  //    MINI MOTEUR
  //------------------------------------------------------------------------------------------------------------------------------------

.moteurmf-tabs a[href="/estimation,immobiliere.htm"] {
  background-color: $color-important;
  color: $color-primary;
  a:hover {
    background-color: $color-important-dark-5;
  }
}

	//------------------------------------------------------------------------------------------------------------------------------------
	//		TTL SEO
	//------------------------------------------------------------------------------------------------------------------------------------

.section-h1 {
	background: $color-body;
	h1 {
		margin-bottom: 10px;
	}
}

.section .footer-social {
	border: none;
	margin-top: 20px;
}

.module-annonces .owl-carousel .owl-prev, .module-annonces .owl-carousel .owl-next, .owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {
  color: $color-important !important;
}

	//------------------------------------------------------------------------------------------------------------------------------------
	//		AVIS
	//------------------------------------------------------------------------------------------------------------------------------------

.service {
	padding: 0rem 3rem;
}

.valeurs {
margin: 0 auto;
height: 40px;
  li {
    text-align: center;
    width: 100% !important;
  }
}
// .live-infos {
//   height: 5px;
//   overflow: hidden;
//   position: relative;
// }

// ul.valeurs{
//   position: absolute;
//   top: 0;
//   width: 100%;
//   list-style-type: none;
//   padding: 0;
//   margin: 0;
// }
// ul.valeurs li{
//   line-height: 5px;
//   font-weight: normal;
// }


//------------------------------------------------------------------------------------------------------------------------------------
//		AGENCE
//------------------------------------------------------------------------------------------------------------------------------------

	//------------------------------------------------------------------------------------------------------------------------------------
	//		HEADER
	//------------------------------------------------------------------------------------------------------------------------------------

.agence-mobilefirst .agence-header.agence-header-banner {
	display: none;
}

//------------------------------------------------------------------------------------------------------------------------------------
//    IMMO
//------------------------------------------------------------------------------------------------------------------------------------

  //------------------------------------------------------------------------------------------------------------------------------------
  //    VENDRE
  //------------------------------------------------------------------------------------------------------------------------------------

.bg-vendre-content {
  background-image: url('../images/immo/bg-vendre.jpg');
  background-size: cover;
  height: 265px;
  background-position-x: -220px;
  >article {
    background-color: rgba($color-primary, 0.8);
      padding: 20px;
  }
}

.bg-vendre-1 {
  background-image: url('../images/immo/vendre-1.png');
  background-size: contain;
  height: 200px;
  background-repeat: no-repeat;
}

.bg-vendre-2 {
  background-image: url('../images/immo/vendre-2.png');
  background-size: contain;
  height: 200px;
  background-repeat: no-repeat;
}

.bg-vendre-3 {
  background-image: url('../images/immo/vendre-3.png');
  background-size: contain;
  height: 200px;
  background-repeat: no-repeat;
}

  //------------------------------------------------------------------------------------------------------------------------------------
  //    PRESTIGE
  //------------------------------------------------------------------------------------------------------------------------------------

.orbit-picture {
  border: none;
}

.ttl-prestige {
  background: $color-prestige;
  color: $color-primary;
  padding: 20px;
}

.div.slider-nav span {
  z-index: 40 !important;
}




// -- CONSULTANTS
// --------------------------------

.consultant {
    text-align: center;
    font-size: .875em;
    line-height: 1.2;
    background-color: $color-content;
    margin: 2rem 0 4rem 0;
    padding: 2rem;
}

.consultant-img {
    display: inline-block;
    width: 85%;
    height: 85%;
    border-radius: 50%;
    border: 1rem solid $color-body;
    overflow: hidden;
    margin-top: -5rem;
    @media (max-width: 767px) {
        width: 20rem;
        height: 20rem;
    }
}