/* CSS Document */

/* Redefinitions des balises HTML */ 
	*{margin:0;padding:0;font-size:12px;font-family:Arial, Verdana, Helvetica, sans-serif;color:#fff;}
	img{border:0}
	.clear{clear:both;}
	a{text-decoration:underline; outline:none; color:#fff;}
	a:hover{color:#C9CFC3 ;text-decoration:none;}
	hr{display:none;}
	ul,ol{list-style:none;}
	select option{padding:0;}
	table{ margin:0 auto; padding:0;}
	

	/* --------Modification AR PLAN SITE-------- */    
	body{background:#103476;}
	/* Effet bordure (espace 5px) entre BG menu et bande BG site */ 
	#global{position:relative;width:993px; margin:0 auto;background:#3a5890;}
	#header{width:100%;margin:0; padding:0;}
	#contHeader{width:993px; margin:0 auto;position:relative; height:150px;}
	#milieu{width:984px;padding:24px 0 3px 0px; min-height:250px;  margin:0 auto; position:relative; z-index:1;}



/* ----------------------------------------PAGE ACCUEIL---------------------------------------- */	   
   
/* --------LOGO AGENCE-------- */ 
	#LogoAgence {float:left; display:inline; width:425px; padding:12px 0 0 0; margin:0 6px 0 0;}
	#LogoAgence img{ display:block; margin:0 auto;}
/* --------DRAPEAUX LANGUES FRANCAIS ET ANGLAIS-------- */ 		
/* Mettre en DISPLAY:NONE si pas d'option Anglais */ 
	#Drapeaux {position:absolute; bottom:0px; right:0px;}
	#Drapeaux img {padding-right:6px;}
	#Drapeaux img.drapRight {padding-right:0px;}

/* --------TEXTE ACCUEIL--------*/ 
	#textAccueil { position:relative; float:right; display:inline; width:556px; padding:20px 0 0 0; display:block; right:5px;}
/* Modification TITRE texte d'accueil */ 
	#textAccueil h1{letter-spacing:-1px; font-size:19px; font-weight:bold; color:#C9CFC3 ; padding:0 0 9px 0;}
	#textAccueil h1 strong{color:#fff; font-size:20px;}
/* Modification CORPS texte d'accueil */ 
	#textAccueil p{ text-align:justify; font-size:12px;  color:#fff; line-height:22px; display:block; padding:0 0 10px 0;}
	#textAccueil p strong{ color:#C9CFC3;}
	#textAccueil a{ text-decoration:none; color:#fff;}
	#textAccueil a:hover{text-decoration:underline; color:#fff;}
    #textAccueil .Address{height:20px; padding:7px 0 3px 0; text-align:center; width:567px; background:#5E7EC7; float:left; color:#bfbfbf; font-size:12px; font-weight:bold;}
    


/* ----- Moteur -----*/
	h2.TitrePage,.titreInfosLegales{ color:#C9CFC3; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}

/* --------MENU + FLUX RSS-------- */
/* Modification COULEUR + TAILLE fond MENU */
	#remplissageMenu{ width:100%;  min-height:44px; background:#bfbfbf; overflow:hidden;}		
	#menuFlux{background:#fff; width:984px; height:44px; border-left:5px solid #fff; border-right:4px solid #fff; margin:0 auto;}
	#menuFlux #menu {float:right; display:inline; padding:0; position:relative; z-index:2; height:44px; }
	#menuFlux #menu ul{ display:inline; margin:0 0 0 6px; list-style-type:none;}
	#menuFlux #menu li{ float:left;  padding:0 1px; position:relative;}
	#menuFlux #menu ul li.MenuSep{ color:#103476; padding-top:13px;}
	/* Modification COULEUR TEXTE MENU */ 
	#menuFlux #menu a{ margin-top:6px; float:left; line-height:32px; padding:0 21px 0 20px; height:32px; font-weight:bold;  color:#103476; text-decoration:none; font-size:14px;}
	#menuFlux #menu a:hover{ color:#fff; background:#103476;}		
/* Modification FLUX RSS */ 		
	#fluxRss{float:left; display:inline; padding:15px 25px 5px 0; }
	#fluxRss a{ background:url(../images/puce_rss.gif) 0 0 no-repeat; font-size:10px;  color:#bfbfbf; margin:0 0 5px 10px; padding:1px 5px 6px 20px;}
	#fluxRss a:hover{ font-size:10px; text-decoration:none; text-decoration:underline;}
	#fluxRss img{float:left; display:inline; vertical-align:middle;}


/* --------CONTENU SITE = ZONE DU MILIEU-------- */
/* Modification COULEUR ARRIERE PLAN CONTENU SITE */ 	
/* Positionnement bandeau image */ 
	#visuel{float:left; display:inline; width:715px; margin:0; padding:0;}		
/* Modification COULEUR BORDURE IMAGE */ 		
	#visuel img{border:7px solid #bfbfbf ;}
 

/*--------POSITIONNEMENT MINI MOTEUR-------- */ 
	.miniMoteur{float:right;display:inline;width:220px;padding:0 0 0 42px;position:relative;background:url(../images/fontTitreMoteur.gif) 0 2px no-repeat;}		
/* Modification TITRE RECHERCHE */ 		
	.miniMoteur h2{font-size:18px; font-weight:bold; color:#C9CFC3;padding:12px 0 0 0;}
/* A NOTER !!!! Pour styliser les champs + bouton mini moteur VOIR == MINI_MOTEUR.CSS */ 


/* ----------- 3 COUPS DE COEUR ------------- */ 
	
	#blocBas #coupCoeur{float:left;display:inline;width:715px;margin:22px 0 15px 0; }

/* ----------- LISTE TRANSACTIONS AGENCE ------------- */ 
	
	* html #blocBas .nbrTransaction{ width:209px; height:267px;}
	#blocBas .nbrTransaction{float:right; width:209px; margin:1px 10px 0 0; height:271px; overflow:auto; display:inline;}

/* Modification COULEUR "AUJOURD'HUI" */ 	
	#blocBas .nbrTransaction h3{font-size:13px;font-weight:bold;padding:1px 0;color:#C9CFC3; }
/* Modification COULEUR TYPE TRANSACTION */ 	
	#blocBas .nbrTransaction h4{width:167px;font-weight:bold;font-size:13px;color:#fff;padding:10px 0 0 0;}
	#blocBas .nbrTransaction h4 a{color:#fff;}
	#blocBas .nbrTransaction ul{list-style-type:none;margin:0 0 10px 1px; line-height:16px;}
/* Modification COULEUR TYPE DE BIEN */ 
	#blocBas .nbrTransaction ul *{font-size:11px;color:#A7A7A7;}
	#blocBas .nbrTransaction ul a:hover{text-decoration:none;}


/* -----------INCLUDE BAS------------- */ 

/* Modification COULEUR BANDE COORDONNEES */ 
	.CoordonneesAgence {font-size:12px;background:#fff; height:27px; text-align:center; padding-top:13px; color:#103476; font-weight:bold;}	
	.CoordonneesAgence .encodemail { color:#103476; text-decoration:none;}	
	.CoordonneesAgence .encodemail:hover{text-decoration:underline;}	
/* Modification BG footer portefeuille + menu secondaire */
	.footerPosition{background:#103476;  width:995px; padding-bottom:15px; margin:0 auto;}
	
	.porteFeuille{float:left;width:610px;padding-left:30px;}
/* ARRIERE PLAN FOOTER */
	#footer{  margin:0 auto; padding:0 0 0 1px; background:#bfbfbf; overflow:hidden;}
				
/* Modification couleur 2 TITRES FOOTER */ 
	#footer h4{font-size:11px;font-weight:bold;background:url(../images/puce.gif) 20px 3px no-repeat;padding:4px 0 4px 46px;margin:17px 0 0 0;line-height:19px;}
/* titre gauche : Notre portefeuille immobilier */
	#footer .porteFeuille h4{font-size:12px; color:#fff;}
/* titre droite : www.urldusite.com */
	#footer .menuSecondaire h4{font-size:12px; color:#fff;}
	#footer .menuSecondaire a{}
	#footer .menuSecondaire a:hover{ text-decoration:underline;}		
/* Modification couleur LISTE DES VILLES */ 
	.porteFeuille .ListeVilles{width:520px;text-align:justify;line-height:13px;border:0;color:#bfbfbf; padding:4px 0 0 5px;}
	.ListeVilles *{color:#bfbfbf; font-size:12px;font-weight:normal;}
	.ListeVilles a{color:#bfbfbf;text-decoration:none;}
	.ListeVilles a:hover{ color:#C9CFC3; text-decoration:underline;}

/* Modification couleur MENU SECONDAIRE FOOTER (droite) */
	#footer .menuSecondaire * {color:#fff; font-size:12px;}
	.menuSecondaire{float:left;width:980px;font-size:12px;color:#fff;}
	.menuSecondaire p{padding:3px 0 0 5px; color:#fff; text-align:justify; width:879px; padding-left:46px;}
	.menuSecondaire p a{font-size:11px;color:#56524F;text-decoration:none;}
	.menuSecondaire p a:hover{font-size:11px;color:#fff;text-decoration:underline;}
	span.sepSep{ color:#fff; padding:0 2px;}



/* ----------------------------------------AUTRES PAGES DU SITE---------------------------------------- */

/* Page En Construction */
	#EnConstruction{margin-top:70px; text-align:center;}


/* PAGE PLAN DU SITE = incl_plan-site.htm */  
	ul#Plan *{text-decoration: none; font-weight: bold;}
	ul#Plan{padding: 0 8em; width:423px; margin:0 auto;position:relative;top:-25px;}
	ul#Plan li.plan{ color:#C9CFC3; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;border-bottom:none;}
	ul#Plan li.MenuSep{display:none;}
	ul#Plan li{padding: 0.2em 0; border:none;}
	ul#Plan .plan{padding: 0.2em 0;background:none;}
	ul#Plan li a{ color:#fff; padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #fff ; text-transform:uppercase; background:none;}
	ul#Plan li a:hover{color:#103476; padding-left:10px; height:19px;font-size: 12px; background:#fff;}


/* Outils */
	ul#Outils *{text-decoration: none; font-weight: bold;}
	ul#Outils{padding: 2em 8em; width:400px; margin:0 auto;}
	ul#Outils li.list{padding: 0.2em 0px;background:none; margin:2px 0; border:none;}
	ul#Outils li a{  color:#fff; padding-left:10px; height:19px; font-size: 12px;padding-top:6px; border: 1px solid #fff ; text-transform:uppercase;}
	ul#Outils li a:hover{color:#103476; padding-left:10px; height:19px;font-size: 12px; background:#fff;}
	#Outils li.titrePageOutils{ color:#C9CFC3; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}
	#Outils a:hover{color:#fff ;}

/*PAGES ESTIMATION + CONTACT + MESSAGE == TABLEAUX FORMULAIRES*/
	.tabFond1{border-color:#00AA00; border-width:0; border-style:solid; padding:2px; font-family:Arial, Helvetica, sans-serif; width:100%;}
	 textarea {width:600px; height: 100px;border:1px solid #fff; margin: 0 0 0 3px; padding:2px; color:#103476;}
	.tabFond2{border-color:#00AA00; border-width:1px; border-style:solid; padding:2px; font-size:14px; font-family:Arial, Helvetica, sans-serif;}
	#milieu .tabTitre{background:#fff; color:#103476; font-size:14px; font-weight: bold; font-family:Arial, Helvetica, sans-serif;height:25px;padding:3px; text-align:center; text-transform:uppercase;}
	#milieu .tabTitre *{color:#103476; font-size: 14px;}
	.tabPrint{color:#5C5E5D; font-size: 13px; font-family:Arial, Helvetica, sans-serif; border:1px solid #00AA00;}
	.tabFond1 td input{margin:3px;border:1px solid #C9CFC3 ; padding:2px; color:#103476;}
	.tabFond1 td input.BoutonFormRecherche{float:right;width:120px;height:25px;border:none;}
	select.imputForm{border:1px solid #fff ;margin:0 0 2px 3px; color:#103476; height:20px;}
	select.imputForm option{padding:0 0 0 3px; color:#103476;}
	.tabFond1 table{ width:100%;}
	 input.imputForm{border:1px solid #C9CFC3; padding:2px;}
	 input.boutonEnvoi{float:right;width:120px;height:25px;}
	strong.messageNomAgence,
	strong.estimationNomAgence{ color:#C9CFC3; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase; display:block;}
	/*Résolution Bug IE8 = donner une taille aux bouton pour éviter tout décallage*/
	.tabFond1 .boutonEnvoi {float:right;width:120px;height:25px; border:none;}
	.tabFond1 .BoutonFormContact {float:right;border:0;width:120px;height:25px;}
	.MoteurBouton  {overflow:hidden; padding:0 0 6px 0;}
	.MoteurBouton input {float:right;width:120px;height:25px;}
	td #ChampsBouton input {float:right;margin-right:12px;width:120px;height:25px;}
	#AgenceContact form table#FormContact td#ChampsBouton input{width:120px;height:25px;}	
     input.imputForm {margin:0 0 6px 0;}
/*rss*/
    #RechHaut #RechHautCtn #RechHautLiens a.rss{color:orange;}

     
	/* coup de coeur*/
	
	* html .div-cdc{ height:271px;}
	.div-cdc{width:230px; min-height:271px;float:left; background:#fff; margin:0 4px 4px 0; border:2px solid #bfbfbf ;}
	.div-cdc *{ color:#fff;}
	.div-cdc .photo-cdc img{width:220px;height:130px;background:url(../images/bg_Img_Cdc.gif);padding:5px 2px 3px 5px;}
	.div-cdc a span.ville-cdc{font-weight:bold;display:block; color:#103476; }
	.div-cdc a span.ville-cdc a:hover{color:#fff;}
	.div-cdc .contenu-cdc a *{color:#103476;font-weight:bold; text-transform:capitalize;}
	.div-cdc .contenu-cdc a:hover *{color:#fff;}
	.div-cdc .typebien-cdc{}
	.div-cdc .contenu-cdc{padding:0 6px 4px 6px;}
	.div-cdc .contenu-cdc *{color:#103476; }
	p.espace-cdc{font-weight:bold; font-size:14px;}
	p.espace-cdc .nbpiece-cdc,p.espace-cdc .surface-cdc{font-size:14px;}
	.div-cdc .contenu-cdc a{ text-decoration:none;}
	.div-cdc .contenu-cdc a:hover{color:#fff;}
	.div-cdc .descriptif-cdc{min-height:30px; color:#000; font-size:11px; padding:4px 0; text-transform:lowercase;}
	* html .divc2c .descriptif-cdc{height:30px;}
	.div-cdc p.prix-cdc{font-weight:bold;font-size:14px; color:#103476;}
    .selectionNouveau{top:5px; left:5px;}
 
/* Mentions Legales */
	
	#MentionsLegales{}
	#MentionsLegales h2 {display:block; width: 99%;background:#fff; font-size: 14px; color:#103476; font-weight: bold;letter-spacing: 0;padding:3px 0 3px 8px;margin: 10px 0;text-align: left;text-transform: none;font-family: Arial; text-transform: none;}
/* Details */
    #AgenceContact form table#FormContact td#ChampsBouton #ChampsObligatoires{clear:both;}
	#Galerie #previewPane #FancyBox_Ctn2 table#FancyBox td#FancyBox_Col1 #FancyBox_Ctn{padding:7px 0 0 0;}
	
/* page accueil*/	

    #accueil{width:90%; margin:0 auto; font-size:12px; font-family:arial,sans-serif;}
    #accueil h1{font-size:18px; font-family:arial,sans-serif; color:#fff; padding: 0 0 6px 0;}
    #accueil h1 strong{font-size:23px; color:#fff;}
    #accueil p{padding:0 0 10px 0;line-height:18px;}
    #accueil p strong{padding:0 0 10px 0; color:#fff; }
    #accueil ul{list-style:none; width:271px; padding:0; margin:0 0 0 30px;}
    #accueil li{background:url(../images/picto_fleche_02.gif) 0 2px no-repeat; padding:0 0 4px 15px;}
	
/*Recherche*/

    #RechPagesHaut .rechLiensPages a span, #RechPagesBas .rechLiensPages a span{color:#C9CFC3;}
	#RechercheContainer #AlerteEmail #AlerteForm input.alerte{color:#103476; border:1px solid #fff;}	
	#RechHaut form#Tri select option,#RechHaut form#Tri select optgroup{padding:0 0 0 3px; color:#103476;}
	#RechHaut form#Tri select,#RechHaut form#Tri select optgroup option {color:#103476;}
	#RechercheContainer #AlerteEmail #AlerteForm input.alerteBt{cursor:pointer; background:#fff; color:#103476;}
	#RechHaut #RechHautCtn h2 span{color:#C9CFC3;}
	#RechResultat .blocAnnonce .detailAnn{border-top:1px solid #fff;}
	
	
/*detail*/
    #AgenceContact #CguFormulaire a:hover{text-decoration:none; color:#C9CFC3;}
    #AgenceContact #CguFormulaire a{ color:#C9CFC3 ;text-decoration:underline;}	
    #Galerie #galleryContainer{border:15px solid  #C9CFC3; top:5px;}
	#TitreContact a#AgenceMentions em span{ color:#000 !important;}
    #Galerie #previewPane #grandeimage table td img{border:15px solid  #C9CFC3;}
	#AgenceContact form table#FormContact td#ChampsMessage textarea,#AgenceContact form table#FormContact td#ChampsNom input, #AgenceContact form table#FormContact td#ChampsPrenom input, #AgenceContact form table#FormContact td#ChampsTelephone input, #AgenceContact form table#FormContact td#ChampsEmail input{color:#103476; background:#fff;}	