// VAR COLORS
$color-body:#fff;
$color-content:#050608;
$color-block:#f2f2f2;
$color-primary:#ffffff;
$color-secondary:#ffffff;
$color-action:#025d6d;
$color-important:#025d6d;
$color-nav-footer:#025d6d;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#012c33;

// COLOR SOUS MENU
$color-sous-menu:$color-primary;