/* Redefinitions des balises HTML */ 
*{margin:0;padding:0;font-size:12px;font-family:Arial, Helvetica, sans-serif;color:#030303;}
img{border:0}
.clear{clear:both;}
a{text-decoration:underline; color:#A80056;}
a:hover{color:#A80056; text-decoration:none;}
hr{display:none;}
p{ color:#030303;}
input{ color:#737373; background:#FFF;  margin-right:5px;}
textarea, select{ color:#737373; background:#FFF; border:1px solid #686868;}
option{ color:#818181; background:#FFF; padding:0 0 0 4px;}
table{margin:0 auto;}
* html input.alerte{background:#FFFFFF;}
.imputForm { margin:5px 0; border:1px solid #686868; padding:0 0 0 4px;}
.imputForm option{ color:#737373; padding:0 0 0 4px;}

/* --------Modification AR PLAN SITE-------- */    
body{background:#dfd9d2; color:#030303;}

/* Effet bordure (espace 5px) entre BG menu et bande BG site */ 
#header{ position:relative; width:983px; border-left:4px solid #dfd9d2; border-right:4px solid #dfd9d2; margin:0 auto;  background:#dfd9d2; z-index:0; }

#global{position:relative; width:993px; margin:0 auto; color:#2C4A93;}

   
/* --------LOGO AGENCE-------- */
#LogoAgence { float:left; display:inline; width:368px; padding:0; margin:10px 30px 0px 0px;}
#LogoAgence img{ display:block; margin:0px;}


/* --------DRAPEAUX LANGUES FRANCAIS ET ANGLAIS-------- */ 		
/* Mettre en DISPLAY:NONE si pas d'option Anglais */ 
* html #Drapeaux{ display:none; position:absolute; top:127px; right:0px; z-index:99;}
* html #Drapeaux img {margin-right:0px; border:1px solid #FFF;}
* html #Drapeaux img:hover {border:1px solid #991424;}

#Drapeaux { display:none; position:absolute; top:125px; right:0px; z-index:99;}
#Drapeaux img {margin-right:0px; border:1px solid #FFF;}
#Drapeaux img:hover {border:1px solid #991424;}


/* --------TEXTE ACCUEIL--------*/ 
* html #textAccueil{ display:block; position:relative; text-align:center; width:586px; padding:44px 0 0 0; margin:0 0 0 -8px; right:0px; float:left;}
#textAccueil { position:relative; float:left; width:584px; padding:44px 0 0 0; display:block; right:0px; z-index:0;}
/* Modification TITRE texte d'accueil */ 
#textAccueil h1{ font-size:16px; font-weight:bold; text-align:center;color:#a80056; padding:0 0 4px 10px; letter-spacing:normal; text-align:left;}
* html #textAccueil h1{ font-size:16px; font-weight:bold; text-align:center;color:#a80056; padding:8px 0 4px 20px; letter-spacing:normal; text-align:left;}
#textAccueil h1 span{ font-size:15px; font-weight:bold; text-transform:none; color:#a80056; padding:0 0 4px 0; letter-spacing:normal;}
#textAccueil h4{ color:#000000; font-weight:bold; font-size:14px; padding:0;}
/* Modification CORPS texte d'accueil */ 
* html #textAccueil p {padding:0 0 5px 20px; color:#666666; line-height:18px;}
#textAccueil p{ text-align:justify; font-size:11px; color:#666666; display:block; padding:0 0 0px 10px; line-height:17px;  text-align:left; font-weight:normal;}
#textAccueil p strong{ color:#666666; }
#textAccueil p span{ font-size:11px; text-transform:uppercase; margin:5px 0; color:#a7a7a7;}
#textAccueil a{ text-decoration:underline; color:#a80056;}
#textAccueil a:hover{ text-decoration:none; color:#a80056;}

/* LOGOS: FNAIM & SIA */
#Partners{ display:none; position:absolute; top:0px; right:0px; width:62px; float:left; text-align:center;}
#Partners span img{text-align:center; padding:2px 0;}

/* --------MARQUEE DEFILANTE-------- */
/* Modification COULEUR  MARQUEE */ 	
* html #RefMarqueNavig{width:535px;background:#b1b1b0; margin-bottom:1px; display:none;}
* html #RefMarque{width:530px; float:right; margin:0 5px 0 0;}
* html #RefMarque marquee{width:560px;}
#RefMarqueNavig{ width:535px; float:right; color:#FFF; font-size:12px;background:#b1b1b0; margin-bottom:1px; padding:8px 25px; font-weight:bold; text-align:center; display:none;}

#RefMarque{ width:566px; height:31px; float:left; display:inline;color:#FFF; font-size:10px;background-color:#97CA01;margin:0 -1px 0 0; padding:0 4px 0 0;}
#RefMarque marquee{width:556px;margin:0; color:#FFF; padding:8px 5px 8px 5px; font-size:11px;}
#RefMarque marquee a {color:#FFF; text-decoration:underline; font-size:11px;}
#RefMarque marquee a strong {color:#FFF; font-weight:normal;}
#RefMarque marquee a:hover {color:#FFF; text-decoration:none;}

/* ----- Moteur -----*/
h2.TitrePage,
.titreInfosLegales{ color:#A80056; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}

/* --------MENU + FLUX RSS-------- */
/* Modification COULEUR + TAILLE fond MENU */
#remplissageMenu{ width:100%; background:#cdc8c2; min-height:44px;}		
* html #menuFlux{width:983px; background:#a80056; height:44px;  border-left:4px solid #dfd9d2;  border-right:4px solid #dfd9d2; margin:0 auto;}
#menuFlux{width:983px; background:#a80056; height:44px; border-left:4px solid #dfd9d2;  border-right:4px solid #dfd9d2; margin:0 auto;}
#menu {float:right; display:inline; padding:14px 10px 11px 0;}
#menu ul{ display:inline; margin:0 0 0 6px;}
#menu li{ display:inline;color:#030303; font-size:15px; padding:0 2px;}
#menu ul li.MenuSep{ color:#030303;}
/* Modification COULEUR TEXTE MENU */ 
* html #menu a{color:#030303;}
* html #menu a:hover{color:#CDC8C2;}		

#menu a{ font-weight:bold;color:#030303; text-decoration:none;font-size:14px; padding:3px;}
#menu a:hover{color:#CDC8C2; background:none;}		
/* Modification FLUX RSS */ 		
#fluxRss{float:left; display:none; padding:15px 25px 0px 10px; }
#fluxRss a{ font-size:11px; text-decoration:none; color:#FFF; margin:0 0 0 4px}
#fluxRss a:hover{ font-size:11px; text-decoration:underline;color:#FFF;}
#fluxRss img{float:left; display:inline; vertical-align:middle; }


/* --------CONTENU SITE = ZONE DU MILIEU-------- */
/* Modification COULEUR ARRIERE PLAN CONTENU SITE */ 	
* html #milieu{width:975px; height:400px;background:#dfd9d2;  margin:0 auto;padding:27px 4px 14px 4px;}
#milieu{width:983px; padding:27px 0 14px 0; min-height:450px;background:#dfd9d2; border-left:4px solid #dfd9d2;  border-right:4px solid #dfd9d2; margin:0 auto;}
/* Positionnement bandeau image */ 

#blocHaut{ width:100%; overflow:hidden;}

#visuel{ float:left; display:inline; width:709px;  padding:0; margin-bottom:10px;}		
/* Modification COULEUR BORDURE IMAGE */ 		
#visuel img{border:7px solid #a80056; float:left;}
 

/*--------POSITIONNEMENT MINI MOTEUR-------- */ 
.miniMoteur{float:right;display:inline;width:220px;padding:0 0 0 42px;position:relative;background:url(../images/fontTitreMoteur.gif) 5px 2px no-repeat;}		
/* Modification TITRE RECHERCHE */ 		
.miniMoteur h2{font-size:18px; font-weight:bold; color:#a80056; padding:12px 0 0 0;}
/* A NOTER !!!! Pour styliser les champs + bouton mini moteur VOIR == MINI_MOTEUR.CSS */ 


/* ----------- 3 COUPS DE COEUR ------------- */ 
* html #blocBas {height:250px;}
* html #blocBas #coupCoeur{float:left;display:inline;width:715px;margin:0 40px 5px 0;}
#blocBas #coupCoeur{float:left;display:inline;width:715px;margin:0 50px 5px 0;}

/* ----------- LISTE TRANSACTIONS AGENCE ------------- */ 
#blocBas .nbrTransaction{float:left; width:190px; height:230px; margin:35px 0 0 0; overflow:auto;}
/* Modification COULEUR "AUJOURD'HUI" */
#blocBas .nbrTransaction h3{font-size:13px;font-weight:bold;padding:1px 0;color:#a80056;}
/* Modification COULEUR TYPE TRANSACTION */
#blocBas .nbrTransaction h4 {width:167px;font-weight:bold;font-size:13px;color:#a80056;padding:10px 0 0 0; text-decoration:none;}
#blocBas .nbrTransaction h4 a{font-weight:bold; font-size:12px;color:#a80056; text-decoration:none;}
#blocBas .nbrTransaction ul{list-style-type:none;margin:0 0 10px 3px; line-height:16px; color:#666666;}
/* Modification COULEUR TYPE DE BIEN */
#blocBas .nbrTransaction ul *{font-size:11px;color:#666666;}
#blocBas .nbrTransaction ul * a:hover{ text-decoration:none;color:#666666;}


/* -----------INCLUDE BAS------------- */ 

/* Modification COULEUR BANDE COORDONNEES */ 
.CoordonneesAgence {font-size:12px; background:#a80056; height:27px; text-align:center; padding-top:13px; color:#000; font-weight:bold;}
.CoordonneesAgence a{font-size:12px; color:#000; text-decoration:underline;}
.CoordonneesAgence a:hover{text-decoration:none; color:#000;}
/* Modification BG footer portefeuille + menu secondaire */
.footerPosition{background:#666666; width:983px; border-left:4px solid #dfd9d2;  border-right:4px solid #dfd9d2; padding-bottom:15px; margin:auto;}
.porteFeuille{float:left;width:610px;padding-left:18px; padding-top:0;}
.porteFeuilleEN{float:left;display:block;padding-left:0px;}
/* ARRIERE PLAN FOOTER */
#footer{ background:#bab6b1; margin:0 auto; padding:;}
		
		
/* Modification couleur 2 TITRES FOOTER */ 
 #footer h4{font-size:12px;font-weight:bold;background:url(../images/puce.gif) left center no-repeat;padding:2px 0 1px 25px;margin:10px 0 0 0;line-height:19px; color:#e0a489;}
/* titre gauche : Notre portefeuille immobilier */
 #footer .porteFeuille h4{font-size:12px; color:#a80056; margin-left:4px;}
/* titre droite : www.urldusite.com */
 #footer .menuSecondaire h4{font-size:12px; color:#a80056; margin-left:4px;}
 #footer .menuSecondaire a{font-size:11px;color:#b3b3b3;text-decoration:none;}
 #footer .menuSecondaire a:hover{font-size:11px;color:#b3b3b3;text-decoration:underline;}
		
/* Modification couleur LISTE DES VILLES */ 
.porteFeuille .ListeVilles{width:520px;text-align:justify;line-height:13px;border:0;color:#A80056; padding:4px 0 0 5px;}
.porteFeuille .ListeVilles *{color:#b3b3b3; font-size:12px;font-weight:normal;}
.porteFeuille .ListeVilles a{font-size:11px;color:#b3b3b3;text-decoration:none;}
.porteFeuille .ListeVilles a:hover{font-size:11px;color:#b3b3b3;text-decoration:underline;}
.porteFeuille .ListeVilles a strong:hover{color:#b3b3b3;}

/* Modification couleur MENU SECONDAIRE FOOTER (droite) */
/* FR */
.menuSecondaire{float:left;width:335px;font-size:12px;color:#b3b3b3; padding-top:0;}
.menuSecondaire p{padding:3px 0 0 5px; color:#b3b3b3; text-align:justify;}
.menuSecondaire p a{font-size:11px;color:#b3b3b3;text-decoration:none;}
.menuSecondaire p a:hover{font-size:11px;color:#b3b3b3;text-decoration:underline;}
.menuSecondaire span.sepSep{ color:#b3b3b3;}

/* EN */
.menuSecondaireEN{float:left; font-size:12px;color:#b3b3b3; padding:0px 16px}
#footer .menuSecondaireEN h4{font-size:12px; color:#a80056; font-weight:bold;}
.menuSecondaireEN p{padding:3px 0 0 25px; color:#b3b3b3; text-align:justify; font-size:12px;}
.menuSecondaireEN p a{font-size:11px;color:#b3b3b3;text-decoration:none;}
.menuSecondaireEN p a:hover{font-size:11px;color:#b3b3b3;text-decoration:underline;}
.menuSecondaireEN span.sepSep{ color:#b3b3b3;}




/* ----------------------------------------AUTRES PAGES DU SITE---------------------------------------- */

/* Page En Construction */
#EnConstruction{margin-top:70px; text-align:center;}


/* PAGE PLAN DU SITE = incl_plan-site.htm */  
.ul#Plan *{text-decoration: none; font-weight: bold;}
ul#Plan{padding:10px 0 60px 0; width:400px; margin:0 auto;}
ul#Plan li.plan { color:#A80056; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase; border-bottom:none;}
ul#Plan li.plan planMenu,
ul#Plan li.plan planLocs,
ul#Plan li.plan planVentes{ border-bottom:none; color:#A80056; text-align:center; text-transform:uppercase;}
ul#Plan li.MenuSep{display:none;}
ul#Plan li a span.nbAnn{ color:#E5E0CF; text-transform:lowercase; font-weight:bold;}
ul#Plan li{padding: 0.2em 0; border:none;}
ul#Plan .plan{padding: 0.2em 0;background:none;}
ul#Plan li a{color:#A80056; background:#CDC8C2;padding:6px 0 0 10px;height:19px;font-size: 12px; border: 1px solid #A80056; text-transform:uppercase;}
ul#Plan li a:hover{color:#FFF;padding-left:10px; height:19px;font-size: 12px; background:#A80056; border: 1px solid #A80056;}

/* Outils */
.ul#Outils *{text-decoration: none; font-weight: bold;}
ul#Outils{padding: 2em 8em; width:400px; margin:0 auto;}
ul#Outils li.list{padding: 0.2em 0px;background:none; margin:2px 0; border:none;}
ul#Outils li a{color:#A80056; background:#CDC8C2;padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #A80056; text-transform:uppercase;}
ul#Outils li a:hover{color:#FFF; border: 1px solid #A80056;padding-left:10px; height:19px;font-size: 12px; background:#A80056;}
#Outils li.titrePageOutils{ color:#A80056; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}


/*PAGES ESTIMATION + CONTACT + MESSAGE == TABLEAUX FORMULAIRES*/
.tabFond1{border-color:#737373; border-width:0; border-style:solid; padding:2px; font-family:Arial, Helvetica, sans-serif; width:100%;}
 textarea {width:600px; height: 100px;}
.tabFond2{border-color:#00AA00; border-width:1px; border-style:solid; padding:2px; font-size:14px; font-family:Arial, Helvetica, sans-serif;}
.tabTitre{ width:100%; background:#A80056; color:#fff; font-size:14px; font-weight: bold; font-family:Arial, Helvetica, sans-serif;height:25px;padding:3px; text-align:center; text-transform:uppercase;}
.tabTitre *{color:#FFF; font-size: 14px;}
.tabPrint{color:#5C5E5D; font-size: 13px; font-family:Arial, Helvetica, sans-serif; border:1px solid #737373;}
.tabFond1 td input{margin:3px;}
.tabFond1 td textarea{border:1px solid #737373;}
.tabFond1 table{ width:100%;}
strong.messageNomAgence,
strong.estimationNomAgence{ color:#A80056; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase; display:block;}

/*Résolution Bug IE8 = donner une taille aux bouton pour éviter tout décallage*/
.boutonEnvoi { width:120px; height:26px; float:right;}
.BoutonFormContact { width:120px; height:26px; float:right; border:none;}
.MoteurBouton input { width:120px; height:26px; float:right; border:none;}
td #ChampsBouton input {float:right; width:120px; height:26px;}
.tabFond1 input.BoutonFormRecherche { float:right; width:120px; height:26px; border:none;}		
#MiniBoutonInput{ width:166px; height:27px; border:none;}

/* GUIDE PRATIQUE = ACCES VIA LE LIEN DANS LA PAGE OUTILS*/
span.txtTitre3{ display:block; width:870px; color:#FFF; background:#A80056; font-size:16px; font-weight:bold; padding:3px 5px; margin:10px 3px 3px 0;}
/* td.encadre span.gras{ display:block; width:882px; color:#FFF; background:#A80056; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;} */
td.encadre{background-color:#FFF; border:2px solid #AAA; padding:3px; color:#A80056; margin:0 0 0 -4px;}
.encadre .grasnews{ display:block; width:882px; color:#FFF; background:#A80056; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;}
.encadre p .gras{ color:#FFF; background:#A80056; display:block; font-weight:bold; text-transform:uppercase; padding:2px 3px;}
.encadre p{ color:#A80056;}

/* coup de coeur*/
* html .div-cdc{ height:264px;}
.div-cdc{width:225px; min-height:260px; background:#a80056; float:left; margin:0 3px 0 0; border:1px solid #cdcdcc;padding:5px 2px 3px 5px;}
.div-cdc *{ color:#FFF;}

.div-cdc .photo-cdc img{width:220px;height:139px;background:url(../images/bg_Img_Cdc.gif); border:1px solid #666666; padding:0;}
.div-cdc a span.ville-cdc{font-weight:bold;display:block; color:#e1a4c3; font-size:14px;}
.div-cdc .typetransaction-cdc{color:#e0a489; font-weight:bold; font-size:14px; text-transform:capitalize;}
.div-cdc .typebien-cdc{color:#A80056; font-weight:bold; font-size:14px; text-decoration:none;}
.div-cdc .nbpiece-cdc, .surface-cdc{font-weight:bold; color:#000; font-size:14px;}
.div-cdc .contenu-cdc{padding:0 6px 4px 6px;}
.div-cdc .contenu-cdc *{color:#000; text-decoration:none;}
.div-cdc .contenu-cdc a{}
.div-cdc .contenu-cdc a:hover{color:#000; text-decoration:none;}
.div-cdc .contenu-cdc a span{}
.div-cdc .descriptif-cdc{min-height:30px; font-size:11px; color:#dfd9d2; text-align:justify; text-transform:lowercase; text-decoration:none;}
* html .divc2c .descriptif-cdc{height:30px;}
.div-cdc p.prix-cdc{font-weight:bold;display:block; color:#010101; font-size:14px; text-decoration:none;}
 
 
/* Mentions Legales */
#MentionsLegales{ color:#A80056;}
#MentionsLegales h2 {display: block; width: 99%; background:#A80056; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color:#fff;font-weight: bold;letter-spacing: 0;padding:3px 0 3px 8px;margin: 10px 0;text-align: left;text-transform: none;}


/* Detail */
#AgenceContact form table#FormContact td#ChampsBouton #ChampsObligatoires{clear:both;}
#Galerie #previewPane #grandeimage a#AgrandirPhoto { color:#FF0000; text-decoration:underline;}
#Galerie #previewPane #grandeimage a#AgrandirPhoto:hover {text-decoration:none;}


/* Recherche */ 
#RechHaut #RechHautCtn #RechHautLiens a,
#RechHaut #RechHautCtn h1,
#RechHaut #RechHautCtn h2,
#RechHaut #RechHautCtn h2 span,
#RechHaut form#Tri *{color:#030303;}
#RechercheContainer #AlerteEmail #AlerteForm input.alerte{border:1px solid #A80056; color:#312E32;}
#RechercheContainer a{color:#FFCC00; text-decoration:none;}
#RechHaut #RechHautCtn #RechHautLiens a.rss{color:#F0720B; text-decoration:none;}
#RechercheContainer a:hover{color:#A80056; text-decoration:underline;}
#RechHaut #RechHautCtn #RechHautLiens a.rss:hover{color:#F0720B; text-decoration:underline;}
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .contactAnn p.ctc{ color:#000; background:url(../images/red_bg.gif) repeat-x center; padding:2px; font-weight:bold; text-transform:uppercase; font-size:11px;}
#RechHaut form#Tri select {color:#030303;}
#RechHaut form#Tri select option {color:#030303;}
#RechHaut form#Tri select optgroup{ color:#030303;}
#RechercheContainer .dicoImmo *{ color:#030303;}
#RechercheContainer #AlerteEmail #AlerteEmailCtn *,
#RechercheContainer #AlerteEmail #AlerteEmailCtn h3{ color:#030303;}
#RechercheContainer #AlerteEmail #AlerteEmailCtn h3 span{ color:#000;}
#RechercheContainer #AlerteEmail #AlerteEmailCtn h4{ color:#A80056;}

#RechPagesHaut .rechLiensPages a,
#RechPagesBas .rechLiensPages a,
#RechPagesHaut .rechLiensPages a span,
#RechPagesBas .rechLiensPages a span {color:#A80056;}

#RechPagesHaut .rechLiensPages a:hover,
#RechPagesBas .rechLiensPages a:hover,
#RechPagesHaut .rechLiensPages a:hover span,
#RechPagesBas .rechLiensPages a:hover span{color:#FFF; text-decoration:none;}
#RechercheContainer .RetourHaut a{color:#000; text-decoration:none;}

#RechercheContainer #AlerteEmail #AlerteForm input.alerte{ background:#FFF;}