/* CSS Document */

/* TITRES au dessus de chaques champs : transaction + type bien + budget + selection des villes */
.MiniTitre{ color:#666666; padding:8px 0 3px 0;font-size:11px;}

/* Styles CHAMPS SELECT : type transaction + type bien + select villes */
.MiniSelect{ width:185px; border:1px solid #686868; color:#737373; font-size:10px; height:18px;}
.MiniSelect option{ color:#737373; font-size:10px; padding-left:3px;}

/* Styles CHAMPS INPUT : budget + surface */
.MiniInput{ width:80px; border:1px solid #686868; color:#737373; font-size:10px; height:15px; margin:0; padding:2px 2px 0 2px;}

/* BOUTON VALIDATION : Lancer votre recherche */
#MiniBoutonInput{ margin:15px 0 0 0; width:165px; height:24px;}



.MiniInputTxt{ display:none; height:5px;}
#BoiteMiniMoteur br{ display:none; }




