/* $$DYN:ID3:NOFOOTER$$ */
/*redéfinir la police par défaut*/
div, td, .Marquee, .ListeVilles {
	font-family: Verdana, Arial, Helvetica, sans-serif !important;
}
/*pour centrer le contenu*/
#ConteneurAnn {
	width: 100%;
	text-align: center;

}

.RecherchePlusInfo {vertical-align: bottom;  }


.RechercheVisuelsPhoto {width:486px; height:360px; border: none;}

/*tâtonner avec les marges left/right pour centrer la boite annonce, utiliser le _margin hack pour ie6*/
.BoiteAnnonce {
	border: 1px solid #6b3c2b !important;
	margin: 7px 3px;
	_margin: 5px 3px;
	padding: 0;
}
/*régler la hauteur de ligne1 pour modifier celle de la photo si nécessaire*/
.ligne1 {
	height: 360px !important;

}
/*mettre un height et déterminer le top en fonction de la hauteur de ligne 1 pour caler au pixel près*/
/*ici top = height de ligne1 - height de fd_recherche_prix soit top = 110 - 25 = 85px*/
/*enlever le padding haut et bas*/
.fd_recherche_prix {
	height: 25px;
	line-height: 25px;
	top: 335px;
	background-color: #c4a185!important;
	padding: 0 15px !important;
}
.fd_recherche_prix .RecherchePrix, .fd_recherche_prix .RecherchePrixEuro {
	color: #fff!important;
}
/*ligne libéllé*/
.ligne2 {
	padding: 8px 0;
	background-color: #865e4e;
	border-top: 2px solid #6b3c2b;
}
.ligne2 .RechercheLibelle {
	color: #fff;
}
.ligne2 .RechercheSituationVille {
	color: #ffffff;
}
/*ligne descriptif*/
/*changer le height en fonction du contenu, height ligne3 = height RechercheDescriptif + height liens*/
.ligne3 {
	margin: 0 auto !important;
	height: 150px !important;
}
.ligne3 .RechercheRefAnnonce {
	font-weight: bold;
	font-style: normal;
	color: #734938;
}
/*changer le height en fonction du contenu*/
.ligne3 .RechercheDescriptif {
	padding: 0 5px;
	color: #865e4e;	
	height: 100px !important;
}
/*positionné en absolute, il faut tâtonner pour trouver le top de Icones, top sensiblement égal au height de RechercheDescriptif*/
.ligne3 .Icones {
	background: #b68670;
	top: 103px !important;
	width: 100% !important;
	padding: 2px 0;
}
.ligne3 .Icones a {
	text-decoration: none !important;
	color: #51271e!important;
	font-size: 10px;
	font-weight: normal !important;
}
/* Alerte */
/*mettre un width en px et tâtonner avec margin-left pour aligner avec BoiteAnnonce*/
.BoitePubAlerte {
	border: 1px solid #a78265!important;
	background-color: #ddb99d !important;
	width: 95% !important;
	margin-left: 0 auto;
	_margin-left: 0;
}
.AlerteIcone {
	padding: 7px 0;
	_padding: 5px 0;
	width: 45px !important;
	background-color: #ddb99d;
	text-align: center;
}
/*changer padding-left pour centrer le texte*/
.BoitePubAlerte {
	border: 1px solid #a78265!important;
	background: #ddb99d !important;
	width: 96% !important;
	margin: 0 auto;
	_margin-left: 0;
}
.AlerteIcone {
	padding: 7px 0;
	_padding: 5px 0;
	width: 45px !important;
	background-color: #ddb99d;
	text-align: center;
}

.AlerteGratuit {
	padding-left: 50px !important;
	line-height: 12px;
	color: #ffffff !important;
}
.AlerteGratuit a {
	color: #151d58 !important;
	text-decoration: none;
}
.AlerteGratuit a:hover {
	color: #151d58 !important;
}
/* Pagination */
/*mettre un width en px et tâtonner avec margin-left pour aligner avec BoiteAnnonce*/
.NbPages {
	background-color: #a2ac5a;
	padding: 3px 0;
	width: 97% !important;
	margin-left: 7px;
	_margin-left: 0;
	margin: 10px 0;
}
.NbPagesNb { color: #e8eaf6; font-weight: bold; }
.NbPagesLiens { color: #4d2821; }
.NbPagesLiens a { color: #e8eaf6; font-weight: bold; }