$$REM$$ /*====================================================================================
//// <summary>Page detail annonce "SENTO"</summary>
//// <remarks>
//// <para>Fichier css appelé par slagence_x_v3/detail/sento.htm</para>
//// <para>Méthode : 1) déclaration macros par défaut / 2) include fichier de macros mutualisé / 3) inlude fichier demacros démutualisé</para>
//// <para>Toute modification CSS de ce fichier devra être effectuée dans votre "commun.css"</para>
//// <para>Liste des macros générales pour faciliter la customisation des sites</para>
//// <para>Interdiction formelle de démutualiser ce css, car les updates ne pourront pas s'appliquer aux sites qui le feront</para>
//// </remarks>
//// <update date="2010-06-30" author="lisbonne.siriphol">Création XV3</update>
//// <update date="2009-04-15" author="lisbonne.siriphol">Livraison pour mise en prod, mais pas eu le temps de faire un crash test</update>
//// <update date="2009-02-11" author="lisbonne.siriphol">Création</update>
====================================================================================*/ $$END$$

$$REM$$ /* ============================================================================================
 //////////////////////////////////// MACROS CHEMIN DES REPERTOIRES ///////////////////////////////////
============================================================================================= */$$END$$
<!--#include virtual="styles/macros_path.htm" -->

$$REM$$ /* ===============================================================================================================
 /////////////////////////// MACROS PAR DEFAUT (modifiables dans votre styles/all_global_macros.htm)//////////////////////////
================================================================================================================ */$$END$$
$$REM$$ /* ==============================>> galerie photo  <<================================ */ $$END$$
$$REM$$ /* bg galerie (sento only) */ $$END$$										$$A:DET_GALERIE_BG=#fff$$
$$REM$$ /* sans photo */ $$END$$																$$A:DET_GALERIE_THUMBS_BG=@@PATH_IMG_SENTO@@/galerie/thumb_bg.png$$				$$REM$$ /* ici ne mettre que l'adresse de l'image */$$END$$		 	
$$REM$$ /* hauteur galerie (sento only) */ $$END$$							$$A:DET_GALERIE_HEIGHT=266px$$
$$REM$$ /* largeur photo (sento only) */ $$END$$								$$A:DET_PHOTO_WIDTH=400px$$
$$REM$$ /* hauteur photo (sento only) */ $$END$$								$$A:DET_PHOTO_HEIGHT=300px$$
$$REM$$ /* sans photo */ $$END$$																$$A:DET_SANS_PHOTO=url(@@PATH_IMG_DET@@/sans_photo.jpg) 50% 50% no-repeat$$
$$REM$$ /* sans photo ann similaires */ $$END$$ 								$$A:similairePhoto=url(@@PATH_IMG_RECH@@/sans_photo.jpg) 50% 50% no-repeat$$

$$REM$$ /* ============================================================================================
 ////////////////////////////////////// MACROS GENERALES PERSOS //////////////////////////////////////
============================================================================================= */$$END$$
<!--#include virtual="styles/detail_dpe.css" -->
<!--#include virtual="styles/macros_outils.htm" -->
<!--#include virtual="styles/macros_bookmarks.htm" -->
<!--#include virtual="styles/macros_cdc.htm" -->
<!--#include virtual="styles/macros_pictos.htm" -->
<!--#include virtual="styles/macros_recherche.htm" -->
<!--#include virtual="styles/all_global_macros.htm" -->


#DetailAnnonce{margin: 15px auto;}
	#DetailAnnonce .clear{clear: both; height:0; overflow: hidden;}
	#DetailAnnonce td{border-collapse: collapse; vertical-align: top;}
	#DetailAnnonce h3{background:none; color: $$TXT_TITRE_RUBRIQUE$$; font-size: 14px;}/* */
	#DetailAnnonce h4{background:none; color: $$TXT_TITRE_RUBRIQUE$$; font-weight: normal; border-bottom: $$BORDER_POINTILLES$$; padding: 5px 0; margin: 10px 0 5px 0;} /* titre infos */
	#DetailAnnonce h5{background:none; color: $$TXT_PRINCIPAL$$; font-weight: normal; padding: 5px 0;} /* titre infos */


/*========================================= page erreur ===========================================*/
#Erreur_Ctn{width: $$FORMULAIRE_INFOBULLE_WIDTH$$; height: $$FORMULAIRE_INFOBULLE_HEIGHT$$; margin: 100px auto; overflow: hidden; background: url($$FORMULAIRE_ERREUR_BG$$) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$FORMULAIRE_ERREUR_BG$$', sizingMethod='scale');}
	#Erreur_Ctn #Erreur{margin: 20px 15px 0 50px;}
		#Erreur_Ctn #Erreur *{color: $$TXT_FOND_BLANC$$;}
			#Erreur_Ctn #Erreur p{padding: 0 0 3px 0;}
			#Erreur_Ctn #Erreur p.confirm{font-size: 16px; font-weight: bold; color: $$TXT_ERREUR$$;}
			#Erreur_Ctn #Erreur p a{font-weight: normal; text-decoration: underline;}
			#Erreur_Ctn #Erreur p a:hover{text-decoration: none;}


/* ============================== PAGE ERREUR + SI REF : portefeuille annonces ============================== */
.portefeuilleAnn{margin: 10px 0 0 0; padding: 15px 0; border-top: $$BORDER_POINTILLES$$;}
	.portefeuilleAnn *{color: $$TXT_PRINCIPAL$$;}
		.portefeuilleAnn p{padding: 0 0 5px 0;}
		.portefeuilleAnn a{display: block; float: left; width: 30%; padding: 1px 0; margin: 0 1% 0 0; overflow: hidden; font-weight: normal; text-decoration: underline;}
		.portefeuilleAnn a span{font-size: 10px;}
		.portefeuilleAnn a:hover{text-decoration: none;}

/* ============================== retour haut ============================== */
.retourHaut{padding: 10px 0; text-align: right;}
	.retourHaut *{color: $$TXT_LIEN$$; font-size: 10px;}
		.retourHaut a{text-decoration: underline;}
		.retourHaut a:hover{text-decoration: none;}

/* ============================== liens haut ============================== */
#LiensRetour{}
	#LiensRetour *{background: none;}
		#LiensRetour a{padding: 0 18px 0 0; text-decoration: underline;}
		#LiensRetour a:hover{text-decoration: none;}
		#LiensRetour a.retour{}
		#LiensRetour a.acc{}


/*========================================= table conteneur annonce ===========================================*/
#Annonce_Ctn{width: 100%; margin: 10px auto;}/* table */
	#Annonce_Ctn td#ColonneGauche{border: $$DET_BORDER_ANN$$; width: 700px; background: $$DET_BG_ANN$$;} /* espace entre colonnes */
	#Annonce_Ctn td.spacer{width: 10px;} /* espace entre colonnes */
	#Annonce_Ctn td#ColonneDroite{border: $$DET_BORDER_ANN$$; background: $$DET_BG_ANN$$;} /* espace entre colonnes */



$$REM$$ /* ================== table conteneur infos annonces (sur 2 colonnes) =====================
================== on utilise les table car moins dangereux selon les navigateurs ================= */ $$END:REM$$
.infosannonce_ctn{width: 100%;}
.infosannonce_ctn td{padding: 10px;}
	.infosannonce_ctn .col1{/*width:$$DET_PHOTO_WIDTH$$;*/}
	.infosannonce_ctn .col2{width: 300px;}


/* ==============================// conteneur fancy box + galerie photo //============================== */
.photo_ctn{}
.photoTitre{border-bottom: $$BORDER_POINTILLES$$; padding: 5px 0 3px 0; margin: 10px 0 5px 0;}
.photoNbr{float: left; color: $$TXT_LIEN$$; font-weight: bold;}


#SansPhoto{position: relative; background: $$DET_SANS_PHOTO$$; height: 213px;}
/* ============================== cdc, exclu, promo, nouveau ============================== */
#SansPhoto #CoupDeCoeur{position:absolute; z-index: 500; top: 10px; right: 10px; width: $$CDC_WIDTH$$; height: $$CDC_HEIGHT$$; background: url($$CDC_PICTO$$) 0 0 no-repeat !important;background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$CDC_PICTO$$', sizingMethod='scale'); }
#SansPhoto #Exclusif{position:absolute; width: $$EXCLUSIF_WIDTH$$; height: $$EXCLUSIF_HEIGHT$$; z-index:500; background: url($$EXCLUSIF_PICTO$$) 0 0 no-repeat !important;background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$EXCLUSIF_PICTO$$', sizingMethod='scale'); }
#SansPhoto #Promo{position: absolute; margin: 50px 0 0 -10px; width: $$PROMO_WIDTH$$; height: $$PROMO_HEIGHT$$; z-index:500; background: url($$PROMO_PICTO$$) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$PROMO_PICTO$$', sizingMethod='scale'); }
#SansPhoto #Nouveau{position: absolute; width: $$NOUVEAU_WIDTH$$; height: $$NOUVEAU_HEIGHT$$; z-index:500; background: url($$NOUVEAU_PICTO$$) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$NOUVEAU_PICTO$$', sizingMethod='scale'); }
#SansPhoto #Expertise{position: absolute; width: $$EXPERTISE_WIDTH$$; height: $$EXPERTISE_HEIGHT$$; z-index:500; background: url($$EXPERTISE_PICTO$$) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$EXPERTISE_PICTO$$', sizingMethod='scale'); }
$$REM$$ /* balises img only sur fiches visites */ $$END$$
#SansPhoto #CoupDeCoeur img,
#SansPhoto #Exclusif img,
#SansPhoto #Promo img,
#SansPhoto #Nouveau img{display: none;}


/* ==============================// fancy box //============================== */
#FancyBox_Ctn{float: right;}
#FancyBox_Ctn .fancyBoxPicto{float: left; width: 16px; height: 16px; margin: 0 5px 0 0;
															background: url($$FANCYBOX_PICTO$$) 0 0 no-repeat !important;
															background: none;
															filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=true, sizingMethod=scale, src='$$FANCYBOX_PICTO$$');
}
#FancyBox_Ctn a.fancyBox{display: none;}
#FancyBox_Ctn a#FancyBox1{display: inline; font-weight: normal; font-size: 11px; text-decoration: underline;}
#FancyBox_Ctn a#FancyBox1:hover{text-decoration: none;}



/*========================================= galerie photo special SENTO ===========================================*/
#container{width: $$DET_PHOTO_WIDTH$$;position:relative; /*overflow: hidden; border: 1px solid #eee;*/}

#container #gallery{margin: auto;}
/* conteneur général */
.ad-gallery {/*width: $$DET_PHOTO_WIDTH$$;*/}
/* conteneur grande image */
.ad-gallery .ad-image-wrapper{width: $$DET_PHOTO_WIDTH$$; height: $$DET_PHOTO_HEIGHT$$; position: relative; overflow: hidden; border: 1px solid $$DET_GALERIE_BG$$; background: $$DET_GALERIE_BG$$;}
.ad-gallery .ad-image-wrapper .ad-image {position: absolute; overflow: hidden; top: 0; left: 0; z-index: 9;}
/* conteneur et fond descriptif grande image */
.ad-gallery .ad-image-wrapper .ad-image .ad-image-description{
        position: absolute; bottom: 0px; left: 0px; padding: 7px; text-align: left; width: 100%; z-index: 2;
        background: url(/z/webagency/slagence_X_V3/detail/img_sento/galerie/opa75.png);}
* html .ad-gallery .ad-image-wrapper .ad-image .ad-image-description {background: none;
        filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=true, sizingMethod=scale, src='opa75.png');}
.ad-gallery .ad-image-wrapper .ad-image .ad-image-description .ad-description-title {display: block;}
/* loading photo */
.ad-gallery .ad-image-wrapper .ad-loader{position: absolute; z-index: 10; top: 48%; left: 48%;}

$$REM$$
/* =============on cache, car marche sur tout sauf sur IE============== */
/* fleche precedente */ 
.ad-gallery .ad-image-wrapper .ad-prev {display: block; position: absolute; left: 0; top: 0; width: 30px; height: $$DET_PHOTO_HEIGHT$$; *height: 1000px; cursor: pointer; z-index: 100;}
.ad-gallery .ad-image-wrapper .ad-prev, .ad-gallery .ad-image-wrapper .ad-next {/* Or else IE will hide it */ background: none;)\9}
.ad-gallery .ad-image-wrapper .ad-prev .ad-prev-image,
.ad-gallery .ad-image-wrapper .ad-next .ad-next-image {background: url(/z/webagency/slagence_X_V3/detail/img_sento/galerie/ad_prev.png) no-repeat; width: 30px; height: 30px; display: none; position: absolute; margin: 135px 0 0 0; /* debugg ie */ top: 0; left: 0; z-index: 101;}
/* fleche suivante */    
.ad-gallery .ad-image-wrapper .ad-next {display: block; position: absolute; right: 0; top: 0; width: 30px; height: $$DET_PHOTO_HEIGHT$$; *height: 1000px; cursor: pointer; z-index: 100;}
.ad-gallery .ad-image-wrapper .ad-next .ad-next-image {background: url(/z/webagency/slagence_X_V3/detail/img_sento/galerie/ad_next.png) no-repeat; width: 30px; height: 30px; right: 0; left: auto;}
/* =========================== */
$$END:REM$$

/* ligne info visible en permanence, mais pour le coup on cache */
.ad-gallery .ad-controls {height: 5px;}
/* numéro photo */.ad-gallery .ad-info{display: none; float: left; font-size: 10px;}
/* diaporama */.ad-gallery .ad-slideshow-controls{display: none;float: right;}
.ad-gallery .ad-slideshow-controls .ad-slideshow-start, .ad-gallery .ad-slideshow-controls .ad-slideshow-stop{display: none;padding-left: 5px; cursor: pointer;}
.ad-gallery .ad-slideshow-controls .ad-slideshow-countdown{display: none;padding-left: 5px; font-size: 0.9em;}
.ad-gallery .ad-slideshow-running .ad-slideshow-start{display: none;cursor: default; font-style: italic;}
/* conteneur vignettes */
.ad-gallery .ad-nav {width: $$DET_PHOTO_WIDTH$$; height: 130px;  position: relative; background: $$DET_GALERIE_THUMBS_BG_COLOR$$;}
.ad-gallery .ad-forward, .ad-gallery .ad-back {position: absolute; top: 0; height: 130px; z-index: 10; background: $$DET_GALERIE_THUMBS_BG_COLOR$$;}
	.ad-gallery .ad-back {display: block; cursor: pointer; left: 0; width: 20px; background: url(/z/webagency/slagence_X_V3/detail/img_sento/galerie/ad_scroll_back.png) 0 0 no-repeat $$DET_GALERIE_THUMBS_BG_COLOR$$;}
	.ad-gallery .ad-forward {display: block; cursor: pointer; right: -3px; /* correction décalage */ width: 20px; background: url(/z/webagency/slagence_X_V3/detail/img_sento/galerie/ad_scroll_forward.png) 0 0 no-repeat $$DET_GALERIE_THUMBS_BG_COLOR$$;}
	.ad-gallery .ad-nav .ad-thumbs{display: block; height: 130px; width: 402px; overflow: hidden; background: $$DET_GALERIE_THUMBS_BG_COLOR$$;}
	.ad-gallery .ad-thumbs .ad-thumb-list{float: left; width: 10000px; list-style: none; padding: 5px 20px 0 20px;}
        .ad-gallery .ad-thumbs li{display: block; float: left;}
          .ad-gallery .ad-thumbs li a{display: block; width: 118px; padding: 10px 0; margin: 0 1px; background: url($$DET_GALERIE_THUMBS_BG$$) 50% 50% no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$DET_GALERIE_THUMBS_BG$$', sizingMethod='scale');}
            .ad-gallery .ad-thumbs li a img,
            .ad-gallery .ad-thumbs li a.ad-active img{display: block; margin: auto;}
/* Can't do display none, since Opera won't load the images then */
.ad-preloads {position: absolute; left: -9000px; top: -9000px;}


/* ============================== cdc, exclu, promo, nouveau ============================== */
#container #CoupDeCoeur{position:absolute; z-index: 400; margin: 10px 0 0 350px; width: $$CDC_WIDTH$$; height: $$CDC_HEIGHT$$; background: url($$CDC_PICTO$$) 0 0 no-repeat !important;background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$CDC_PICTO$$', sizingMethod='scale'); }
#container #Exclusif{position:absolute; width: $$EXCLUSIF_WIDTH$$; height: $$EXCLUSIF_HEIGHT$$; z-index:400; background: url($$EXCLUSIF_PICTO$$) 0 0 no-repeat !important;background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$EXCLUSIF_PICTO$$', sizingMethod='scale'); }
#container #Promo{position: absolute; margin: 50px 0 0 -10px; z-index: 600; width: $$PROMO_WIDTH$$; height: $$PROMO_HEIGHT$$; z-index:500; background: url($$PROMO_PICTO$$) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$PROMO_PICTO$$', sizingMethod='scale'); }
#container #Nouveau{position: absolute; width: $$NOUVEAU_WIDTH$$; height: $$NOUVEAU_HEIGHT$$; z-index:400; background: url($$NOUVEAU_PICTO$$) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$NOUVEAU_PICTO$$', sizingMethod='scale'); }
#container #Expertise{position: absolute; width: $$EXPERTISE_WIDTH$$; height: $$EXPERTISE_HEIGHT$$; z-index:400; background: url($$EXPERTISE_PICTO$$) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$EXPERTISE_PICTO$$', sizingMethod='scale'); }
$$REM$$ /* balises img only sur fiches visites */ $$END$$
#container #CoupDeCoeur img,
#container #Exclusif img,
#container #Promo img,
#container #Nouveau img{display: none;}

/* //===============================// autres visuels (pdf, lien video, 360 visite virtuelle) //===============================// */
#AutresVisuels{}
/* liens */
	#AutresVisuels .autresVisuels_bg a{display: block; float: left; clear: left; font-weight: normal; padding: 4px 0; margin: 0 0 0 3px; text-decoration: none;}
	#AutresVisuels .autresVisuels_bg a:hover{text-decoration: underline;}
/* pictos */
	#Picto_VisiteVirtuelle,
	#Picto_LienExterne,
	.picto_Pdf,
	#Picto_LienVideo{display: block; float: left; cursor: pointer; width: 16px; height: 16px; margin: 0 5px 0 0;}
/* pictos > images */
	#Picto_VisiteVirtuelle{background: url($$PICTO_VISITE_VIRTUELLE$$) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$PICTO_VISITE_VIRTUELLE$$', sizingMethod='scale');}
	#Picto_LienExterne{background: url($$PICTO_LIEN_EXTERNE$$) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$PICTO_LIEN_EXTERNE$$', sizingMethod='scale');}
	.picto_Pdf{background: url($$PICTO_PDF$$) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$PICTO_PDF$$', sizingMethod='scale');}
	#Picto_LienVideo{background: url($$PICTO_LIEN_VIDEO$$) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$PICTO_LIEN_VIDEO$$', sizingMethod='scale');}
/* liens */
	#AutresVisuels #Pdf p a{}
	#AutresVisuels #LienVideo p a{}
	#AutresVisuels #LienExterne p a{}
	#AutresVisuels #VisiteVirtuelle p a{}


/* ============================== descriptif annonce ============================== */
#Descriptif{}
#Descriptif .titreDescriptif{;}
#Descriptif .txtDescriptif{font-size: 13px; line-height: 17px; text-align: justify;}
#Descriptif .txtDescriptifTerrain{padding: 13px 0 0 0;} /* 11.10.2010 c/o Lisbonne */
	
	
/* ============================== infos annonce ============================== */
#InfosPrincipales{margin: 0; padding: 0;}	
	#InfosPrincipales h3{margin: 10px 0 0 0;}
	#InfosPrincipales p{padding: 1px 0 1px 12px; margin: 0 0 0 10px; background: $$PICTO_FLECHE$$;}
	
/* informations spécifiques */
#Libelle{}
#Transaction{}
#Surface{}
#SurfaceTerrain{}
#Ville{}
#Quartier{}
#Prox{}
/* informations spécifiques metro */
.metro_ctn{}
.metro,
.rer,
.tcl{padding: 3px 15px 3px 0;}
.picto_metro{float: left; clear: left; width: 19px; height: 19px; margin: 0 4px 0 0; background: url($$PICTO_METRO$$) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$PICTO_METRO$$', sizingMethod='scale');}
.picto_rer{float: left; clear: left; width: 19px; height: 19px; margin: 0 4px 0 0; background: url($$PICTO_RER$$) 0 0 no-repeat !important; background: none; 		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$PICTO_RER$$', sizingMethod='scale');}
.picto_tcl{float: left; clear: left; width: 18px; height: 18px; margin: 0 5px 0 0; background: $$PICTO_TCL$$;}

/* informations spécifiques prix */	
#Prix{}
#Prix span{color: $$TXT_TITRE_RUBRIQUE$$;}
#Rente{}
#RefAnnonce{}
#MajAnn{}
	
/* ============================== infos complémentaires ============================== */
#InfosComp_Ctn{}
	#InfosComp_Ctn h4{}
	#InfosComp_Ctn #InfosComp{}
	#InfosComp_Ctn #InfosComp p{padding: 1px 0 1px 12px; margin: 0 0 0 10px; background: $$PICTO_FLECHE$$;}


/* ============================================ outils ============================================ */
#Outils{}
#Outils h4{}
#Outils a{display: block; float: left; padding: 4px 0; text-decoration: underline;}
#Outils a:hover{text-decoration: none;}
.selection_ok{padding: 4px 0; color: $$TXT_SECONDAIRE$$;}
/* pictos outils */
#Picto_PermalienBloc,
#Picto_AjoutSelection,
#Picto_EnvoiAmi,
#Picto_Imprimer,
#Picto_VoirSelection,
#Picto_Selection_Ok{display: block; float: left; cursor: pointer; width: 16px; height: 16px; margin: 0 5px 0 0;}
/**/
#Picto_AjoutSelection{background: url($$OUTIL_AJOUT_SELECTION$$) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$OUTIL_AJOUT_SELECTION$$', sizingMethod='scale');}
#Picto_EnvoiAmi{background: url($$OUTIL_ENVOI_AMI$$) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$OUTIL_ENVOI_AMI$$', sizingMethod='scale');}
#Picto_Imprimer{background: url($$OUTIL_IMPRIMER$$) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$OUTIL_IMPRIMER$$', sizingMethod='scale');}
#Picto_VoirSelection{background: url($$OUTIL_VOIR_SELECTION$$) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$OUTIL_VOIR_SELECTION$$', sizingMethod='scale');}
#Picto_Selection_Ok{background: url($$OUTIL_SELECTION_OK$$) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$OUTIL_SELECTION_OK$$', sizingMethod='scale');}
#Picto_PermalienBloc{background: url($$OUTIL_PERMALIEN$$) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$OUTIL_PERMALIEN$$', sizingMethod='scale');}
/**/

#PermaLienBloc {margin:2px 0 0 0;}
#PermalienBloc input {display:none;margin:5px;padding:5px;border:$$BORDER_SECONDAIRE$$;width:200px;}
#PermalienBloc span {padding:5px 0 0 0;cursor:pointer;color:$$TXT_LIEN$$;text-decoration:underline;}
#PermalienBloc span:hover {text-decoration:none;}

/*================================// bookmark social / partage d'annonces //================================*/
#Bookmarks{}
#Bookmarks a{display: block; float: left; margin: 0 7px 5px 0; width: 18px; height: 18px;}
/**/
a#Facebook{background: $$FACEBOOK$$;}
a#Wikio{background: $$WIKIO$$;}
a#Technorati{background: $$TECHNORATI$$;}
a#Google{background: $$GOOGLE$$;}
a#MySpace{background: $$MYSPACE$$;}
a#Yahoo{background: $$YAHOO$$;}
a#Twitter{background: $$TWITTER$$;}
a#Livespace{background: $$LIVESPACE$$;}
a#Scoopeo{background: $$SCOOPEO$$;}
a#Mailto{margin: 2px 7px 0 0; width: 16px; height: 14px; overflow: hidden; background: url($$MAILTO$$) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$MAILTO$$', sizingMethod='scale');}


/* //===============================// tableau biens neufs //===============================// */
table.programmesNeufs{width: 100%; background: $$TXT_SECONDAIRE$$; border-top: $$BORDER_PRINCIPAL$$; border-bottom: $$BORDER_PRINCIPAL$$; margin: 5px 0;}
	table.programmesNeufs td{padding: 5px 0; border-bottom: $$BORDER_POINTILLES$$; text-align: center; vertical-align: middle;}
	table.programmesNeufs td.ttlBien{border-bottom: $$BORDER_POINTILLES$$; font-weight: bold;}
	table.programmesNeufs td.ttl{font-weight: bold; border: none; padding: 5px 0 0 0;}
	table.programmesNeufs td.sttl{font-weight: normal; padding: 0 0 0 5px;}


/* //===============================// calendrier locations vacances //===============================// */
#CalendrierLocationsVacances{}
#CalendrierLocationsVacances h4{text-align: center;}
/**/
#CalendrierLegende{}
#CalendrierLegende p{display: block; float: left; margin: 0 20px 0 5px;}
#CalendrierLegende p.dispo{margin: 0; border: $$DET_BORDER_ANN$$; height: 11px; width: 11px;}
#CalendrierLegende p.nonDispo{margin: 0; background: #ffbcb7; border: 1px solid #f00; height: 11px; width: 11px;}
/**/
#CalendrierLocationsVacances .nonDispo{background: #ffbcb7; color: #f00;}
/* marque le début et la fin des périodes de disponibilités, un peu gadget donc on s'en sert pas */
#CalendrierLocationsVacances .finResa{}
#CalendrierLocationsVacances .debutResa{}
/* tableau mois */
#CalendrierLocationsVacances .calendrierMois{display: block; float: left; width: 190px; height: 185px; margin: 10px 10px 0 10px; padding: 0 5px 5px 5px; border: $$DET_BORDER_ANN$$;}
#CalendrierLocationsVacances .calendrierMois table{width: 100%;}
#CalendrierLocationsVacances .calendrierMois td{text-align: center; vertical-align: middle; height: 20px; padding: 0;/*cursor: pointer;*/}



/* ==============================// annonces similaires //============================== */
td#AnnSimilaire{}
.similaire_ctn{float: left; width: 185px; height: 240px; margin: 0 15px 0 0; overflow: hidden; background: $$BG_SECONDAIRE$$; border: $$BORDER_SECONDAIRE$$;}
.similaire{padding: 5px;}
/* =========== nb photos =========== */
	.nbPhotos_ctn{position: absolute; margin: 116px 0 0 0; width: 175px;}
	.nbPhotos_ctn *{text-decoration: none; font-weight: normal; color: #fff;} $$REM$$ /* pas couleur dynamique ici, on force blanc sur fond noir */ $$END$$
	.nbPhotos_ctn .nbPhotosBg{background: #000; width: 175px; height: 24px; filter:alpha(opacity=60);	-moz-opacity:0.7;	-khtml-opacity: 0.6; opacity: 0.6;}
	.nbPhotos_ctn a.nbPhotos{display: block; position: absolute; bottom: 0; padding: 0;}
	.nbPhotos_ctn a.nbPhotos em{display: block; float: left; width: 25px; height: 18px; background: url($$PICTO_NB_PHOTOS$$) 0 0 no-repeat !important;}
	.nbPhotos_ctn a.nbPhotos span{display: block; float: left; padding: 2px 0 0 3px; color: #fff;}
	.nbPhotos_ctn a.nbPhotos span strong{font-weight: bold; color: #fff;} $$REM$$ /* pas couleur dynamique ici, on force blanc sur fond noir, mais possibilité d'affiner avec la couleur de son choix */ $$END$$
	.nbPhotos_ctn a.nbPhotos:hover span,
	.nbPhotos_ctn a.nbPhotos:hover span strong{color: $$TXT_LIEN$$;}
/* =========== photos =========== */
	.similairePhoto{display: block; height: 140px; width: 175px; margin: 0 0 5px 0;
			background: $$RECH_SANS_PHOTO$$;
	}
	.similairePhoto a{display: block; height: 140px; width: 175px;}
	$$E:IMMOBW:ANNONCE:ALIAS:DETAIL:REP:1:REP:2:~NOSTAT:1$$
	$$B:IMMOBW:ANN:ALIAS:SIMILAIRE::QRY:LANG:::ADD:ci=+DETAIL_CODEINSEE+&idtt=+DETAIL_IDTYPETRANSACTION+&idtypebien=+DETAIL_IDTYPEBIEN+&nb_pieces=+DETAIL_NB*PIECES+&rayon=5::d_dt_crea:~NOSTAT:1$$
	$$BIF:SIMILAIRE$$
	$$DO:1:4$$	
		$$IF:SIMILAIRE:IDPHOTO$$
			.similaire a#SimilairePhoto$$SIMILAIRE:I$${background: url($$SIMILAIRE:C175URL0$$) 50% 50% no-repeat;}
		$$END$$
		$$REM$$ /*==================
			> 21.04.2011 c/o Lisbonne
			> on enleve le sans photo avec le logo provenant de selogerpro
			> il s'avere que les prestas (ou plutot Pyxicom) creent toujours les images
		============================
		$$IF0:SIMILAIRE:IDPHOTO$$
			$$IF=:TRUE:SIMILAIRE:SI_LOGO$$
				.similaire a#SimilairePhoto$$SIMILAIRE:I$${background: url('$$SIMILAIRE:URLLOGO$$') 50% 40% no-repeat #fff;}
			$$END:SI_LOGO$$			
		$$END:IDPHOTO$$
		*/$$END:REM$$
	$$LOOP$$
	$$BFIN$$
	.similairePhoto a img{display: block; height: 140px; width: 175px; overflow:hidden;}
	.similaire{font-size: 11px; text-decoration: none;}
	.similaire p{}
	.similaire a,
	.similaire a span{color: $$TXT_LIEN$$; font-weight: bold;}
	.similaire a:hover{}
/* lien detail annonce */
	.similaire p.similaireDetail{text-align: right;}
	.similaire p.similaireDetail a{text-decoration: underline;}
	.similaire p.similaireDetail a:hover{text-decoration: none;}


/* ============================================ glossaire ============================================ */
#Glossaire_Ctn{margin: 10px 0; padding: 10px 0 0 0; border-top: $$BORDER_POINTILLES$$;}
#Glossaire_Ctn *{font-weight: normal; font-size: 10px; padding: 0; background: none; color: $$TXT_SECONDAIRE$$;}
#Glossaire_Ctn p{}



/*========================================= colonne droite : infos agence ===========================================*/
td#ColonneDroite{} /* cf ligne 65 */
/* conteneur des infos de droite */
#InfosAgence{padding: 10px;}
/* ================================ coordonnées agence ================================ */
#AgenceContact{}
/* titre */
#AgenceContact h4{}
/* logo agence (à démutualiser) */
#AgenceContact img#DetailLogoAgence{display: block;}
/* coordonnées agence */
#AgenceContact *{font-weight: bold;}
#AgenceContact strong{color: $$TXT_LIEN$$;}
#AgenceContact p.adresseAgence{margin: 0 0 2px 0;}
#AgenceContact p.emailAgence{display: none;}/* caché pour ne pas fausser les stats contact */
#AgenceContact p.emailAgence a{}
#AgenceContact p.urlAgence a{}
#AgenceContact p.urlAgence a:hover{text-decoration: underline;}
#AgenceContact p.telAgence{}
#AgenceContact p.faxAgence{margin: 0 0 5px 0;}
#AgenceContact p.ctcAgence{}
/* contacts services ventes, locs, locs vac, comm */
#CtcVentesAgence,
#CtcLocsAgence,
#CtcLocsVacAgence{padding: 10px 0 0 0;}
#AgenceContact p.respSpecial{}
#AgenceContact p.telSpecial,
#AgenceContact p.telSpecial span{color: $$TXT_LIEN$$;}
/* contacts promoteurs neuf */
#AgenceContact .ctc_neuf{margin: 10px 0 0 0;}
#AgenceContact .ctc_neuf *{font-weight: bold;}
#AgenceContact .ctc_neuf .ctc_neuf_titre{color: $$TXT_LIEN$$; border-bottom: $$BORDER_POINTILLES$$; padding: 0 0 5px 0; margin: 0 0 5px 0;}
#AgenceContact .ctc_neuf .ctc_neuf_ctn{}
/* texte agence (à démutualiser) */
#AgenceContact .texte_agence{clear: both; margin: 15px 0 0 0;}
#AgenceContact .texte_agence p{text-align: justify; font-weight: normal;}



/* ================================ formulaire de contact ================================ */
#FormContact{margin: 20px 0 0 0;}
	#FormContact h4{}
/* formulaire */
	#Form_Ctn table{width: 100%;}
	#Form_Ctn table td{font-size: 11px; padding: 2px 0;}
	#Form_Ctn table td *{font-size: 11px;}
	#Form_Ctn table td p{padding: 1px 2px;}
	#Form_Ctn table td span{color: $$TXT_LIEN$$;}
/* erreur */
#Form_Ctn .erre{color: $$TXT_ERREUR$$; font-weight: normal; vertical-align: middle;}
#Form_Ctn .erre .pictoErre{float: left; height: 16px; width: 16px; margin: 0 5px 15px 0;
																								background: url($$PICTO_ERREUR$$) 0 0 no-repeat !important;
																								background: none;
																								filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$PICTO_ERREUR$$', sizingMethod='scale');
}
/* champs input */
#Form_Ctn .inputText,
#Form_Ctn .inputTextarea{width: 99%; border: $$INPUT_BORDER$$; color: $$INPUT_COLOR_TXT$$; font-size: 12px; background: $$INPUT_BG$$;}
/* bouton */
#ChampsBouton{text-align: right; padding: 5px 0 0 0;}
#ChampsBouton .inputSubmit{cursor: pointer; border: none; font-size: 16px; font-weight: bold; padding: 3px 20px 5px 20px; *padding: 3px 20px; background: $$BOUTON_BG1$$; color: $$BOUTON_TXT$$; margin: 5px 0 0 0;}
/**/
#ChampsNom{width: 35%;}
#ChampsPrenom{}
#ChampsTelephone{}
#ChampsEmail{}
#ChampsReference{}
#ChampsMessage{}
/**/
#ChampsObligatoires{text-align: left; font-size: 10px; padding: 5px 0; border-bottom: $$BORDER_POINTILLES$$;}
/* cgu form */
#CguFormulaire{text-align: justify; color: $$TXT_SECONDAIRE$$; font-weight: normal; font-size: 9px; margin: 2px 0 0 0; padding: 5px 0; border: none;}
	#CguFormulaire *{color: $$TXT_SECONDAIRE$$; font-weight: normal; font-size: 9px; text-decoration: none;}
	#CguFormulaire a{text-decoration: underline;}
	#CguFormulaire a:hover{text-decoration: none;}


$$REM$$
/* ==============================// message envoye ok  //============================== */$$END:REM$$
.formulaireOk{background: url($$FORMULAIRE_OK_BG$$) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$FORMULAIRE_OK_BG$$', sizingMethod='scale');}
#Formulaire_InfoBulle_Ctn{width: $$FORMULAIRE_INFOBULLE_WIDTH$$; height: $$FORMULAIRE_INFOBULLE_HEIGHT$$; margin: 100px auto; overflow: hidden;}
#Formulaire_InfoBulle_Ctn #Formulaire_InfoBulle{margin: 22px 15px 0 50px;}
#Formulaire_InfoBulle_Ctn #Formulaire_InfoBulle *{color: $$TXT_FOND_BLANC$$;}
#Formulaire_InfoBulle_Ctn #Formulaire_InfoBulle p{padding: 0;}
#Formulaire_InfoBulle_Ctn #Formulaire_InfoBulle p.confirm{font-size: 16px; font-weight: bold; color: $$TXT_TITRE_RUBRIQUE$$;}
#Formulaire_InfoBulle_Ctn #Formulaire_InfoBulle p.lien{}
#Formulaire_InfoBulle_Ctn #Formulaire_InfoBulle p.lien a{font-weight: normal; text-decoration: underline;}
#Formulaire_InfoBulle_Ctn #Formulaire_InfoBulle p.lien a:hover{text-decoration: none;}
#Formulaire_InfoBulle_Ctn #Formulaire_InfoBulle p.desole{font-size: 11px;}


$$REM$$
/* ================================ carte géoloc annonce ================================ */
/* === attention : ce css contredit celui de styles/BingMap.css === */$$END:REM$$
#MapMicrosoft{float: none; display: block; background: none; padding: 0; margin: 20px 0 0 0; border: none;}
#MapMicrosoft #MapHead h4{color: $$TXT_TITRE_RUBRIQUE$$;}
.pinAnn{display: none;}


$$REM$$
/* ==============================// mentions légales //============================== */$$END:REM$$
#AgenceMentions{color: $$TXT_SECONDAIRE$$; font-weight: normal; margin: 10px 0 0 0;}
#AgenceMentions *{color: $$TXT_SECONDAIRE$$; font-weight: normal; font-size: 9px; text-align: justify;}
#AgenceMentions h6{color: $$TXT_PRINCIPAL$$; padding: 3px 0 0 0;}
#AgenceMentions p{}


/* ============================== retour haut (situé en bas de page)============================== */
.retourHaut{padding: 5px 0 20px 0; text-align: right;}
.retourHaut *{font-size: 10px;}
.retourHaut a{}
.retourHaut a:hover{}

/* BAISSE DE PRIX*/
#det_box_evolprix{width:100%;}
#det_box_evolprix h4{font-weight:bold; display:block; margin:5px;}
#det_evolprix{color:#000;width:100%;}
#det_evolprix table{background:#ffffff;width:100%;}
#det_evolprix table th{color:#000;width:25%; padding:5px;}
#det_evolprix table td{color:#000;}