$$REM$$/*====================================================================
//// <summary>Fichier CSS À DÉMUTUALISER POUR CHAQUE SITE</summary>
//// <remarks>
//// <para>Pour plus de rapidité, intégrer les macros du fichier 'all_global_macros.css'</para>
//// </remarks>
//// <update date="2010-02-16" author="lisbonne.siriphol">Création</update>
====================================================================*/$$END$$

<!--#include virtual="styles/all_global_macros.htm" -->
#TopHeader marquee, #TopHeader marquee *, #FooterBottom, #FooterBottom *, #Coordonnees, #Coordonnees *, #MiniBouton .boutonSubmit, #Moteur #MoteurBouton .inputSubmit, .accordion_content .inputCalcul, #AgImmoDroite .AgImmoContact a, #AgImmoDroite .AgImmoEstimation a, #FormContactAgence .inputSubmit{ color:#000;}
.accordion_content .inputText, #FormContactAgence .inputText, #FormContactAgence .inputSelect, #FormContactAgence .inputTextarea, #Moteur .inputText, #Moteur .inputSelect, #Moteur .inputTextarea{ background:#000; border-color:#1E2224;}
.accordion_content .inputText{ border-color:#fff;}
.selectionIndex_Ctn{border-color:#1E2224;}
.miniDivSelect select option, form#Tri select optgroup, form#Tri select option{ padding:0 0 0 4px;}
.selectionIndex_Ctn{ height:290px;}
#Coordonnees *{ font-weight:bold; font-size:13px;}
#Coordonnees .agenceVille{ text-transform:uppercase;}