// VAR COLORS
$color-body:#fff;
$color-content:#fff;
$color-block:#e8e8e8;
$color-primary:#537faf;
$color-secondary:#e01920;
$color-action:#e01920;
$color-important:#e01920;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#262938;
