// VAR COLORS
$color-body:#fff;
$color-content:#1a1a1a;
$color-block:#fff;
$color-primary:#fff;
$color-secondary:#4c4c4c;
$color-action:#828282;
$color-important:#ad0008;
$color-nav-footer:#828282;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#333333;
