/* CSS POUR SELECTION ANNONCES, DETAIL ANNONCES */
#selectionAnnonces_1 {width:100%;margin:10px 0 0 0;}
.detailAnnonces, .detailAnnoncesRef {float:left;position:relative;width:186px;background:#f2f2f2;height:315px;margin:10px 2px 0 3px;text-align:center;padding:18px;border:1px solid #fff;}
.detailAnnoncesRef {min-height:285px;}
.detailAnnonces a, .detailAnnoncesRef a {text-decoration:none;}
.blocPhoto {width:100%;margin-top:5px;height:130px;position:relative;}
.blocPhoto img {width:175px;height:130px;}
.blocNoPhoto {background:url('$$_$$images/sans_photo.jpg') 50% 50% no-repeat;width: 100%;height: 100%;}
.blocNumPhoto, .blocNumPhotoBg {position:relative;color:#fff;display:block;width:169px;margin:0 0 0 6px;padding:3px;z-index:100;margin-top:-28px;height:22px;}
.blocNumPhotoBg {background:#000;filter:alpha(opacity=60);-moz-opacity:0.7;-khtml-opacity:0.6;opacity:0.6;}
.blocNumPhoto .picto {float:left;width:30px;margin-right:5px;padding-top:4px;}
.blocNumPhoto .libelle {float:left;display:block;text-align:left;padding-top:2px;line-height:22px;}
.blocTypeBien, .blocVilleBien, .blocSurfaceBien, .blocPiecesBien, .blocTxtRefBien, .blocPrixBien, .blocDetailBien {clear:both;display:block;margin:8px 0 0 8px;font-size:12px;color:#353334;text-align:center;font-weight:normal;}
.blocVilleBien, .blocPrixBien {margin:4px 0 0 8px;font-size:12px;}
.blocPrixBien {font-size:14px;}
.blocSurfaceBien, .blocPiecesBien, .blocTxtRefBien {margin-top:4px;font-size:12px;font-weight:normal;color:#636162;}
.blocDetailBien {bottom:7px;left:68px;;text-decoration:underline; }
.blocPhotosPlus {position:relative;width:170px;background:red;z-index:100;padding:5px;}
.siLogo {width:175px;height:130px;margin-left:6px;}
/* COUP DE COEUR, EXCLU, NOUVEAU, PROMO LISTING ANNONCES */
.blocPhotoExclusif {position:absolute;width:120px;height:70px;background:url('/z/webagency/slagence_X_V4/images/bandeaux/exclusif_$$IF:FORM:LANG$$$$FORM:LANG$$$$END$$$$IF0:FORM:LANG$$fr$$END$$.png') 0 0 no-repeat !important;z-index:500;left:6px; display:none;}
.blocPhotoCoupCoeur {position:absolute;left:135px;top:5px;width:44px;height:46px;background:url('/z/webagency/slagence_X_V4/images/bandeaux/coupdecoeur.png') 0 0 no-repeat !important;z-index:500; display:none;}
.blocPhotoNouveau {display:none;position:absolute;width:85px;height:50px;background:url('/z/webagency/slagence_X_V4/images/bandeaux/nouveau_$$IF:FORM:LANG$$$$FORM:LANG$$$$END$$$$IF0:FORM:LANG$$fr$$END$$.png') 0 0 no-repeat !important;z-index:500;left:6px; display:none;}
.blocPhotoPromo {position:absolute;top:100px;left:100px;width:60px;height:60px;background:url('/z/webagency/slagence_X_V4/images/bandeaux/promo_$$IF:FORM:LANG$$$$FORM:LANG$$$$END$$$$IF0:FORM:LANG$$fr$$END$$.png') 0 0 no-repeat !important;z-index:500; display:none;}
.blocPhotoLoue{display:block;position:absolute;top: 1px;     left: 17px;width:119px;height:100px;background:url('$$_$$images/filtres/louer_$$IF:FORM:LANG$$$$FORM:LANG$$$$END$$$$IF0:FORM:LANG$$fr$$END$$.png') 0 0 no-repeat;z-index:500;}
/* SENTO */
#LiensRetour {float:left;display:block;clear:both;width:100%;}
.retourPrecedente, .retourAccueil {float:left;margin:0 15px 10px 0;}
#Annonce_Ctn {float:none;width:100%;margin:5px 0 0 0;}
#photoDesc_ctn {float:left;width:620px;margin:0;padding:0;}
.infosAnnonce_ctn {float:left;width:100%;background: none;padding:0px;margin-right:0;}
.moreAnnonce_ctn {float:none;width:100%;background: none;padding:0px; min-height: 305px !important; }
#DetailAnnonce a {
font-family: arial;
font-size: 12px;
text-transform: none; text-decoration:underline;
margin: 0;}

#selection_annonces a  {color: #7DB537;
font-family: 'ArialNarrowBold';
font-size: 14px;
text-transform: uppercase; text-decoration:underline;
margin: 0;}



#main #MapInteret a {font-size:9px;}
.photoNbr {font-weight:bold;color:#353334;padding:5px;float:left;}
.photoZoom {float:right;padding:5px;}
.zoomPicto {display:none;}
.textePicto {float:left; text-decoration:underline;}
.photo_ctn {float:left;width:620px;margin-top:5px;}
#photoMore {background:#F2F2F2; height:34px;margin-bottom:5px; padding:5px 15px 0 15px;}
#InfosPrincipales {float:right;width:280px; color:#636162;margin-top:5px;}
#infosAgence {color:#636162;margin-top:25px;text-align:left;}
#InfosPrincipales h4, #FormContact h4, #infosAgence h4, #InfosComp_Ctn h4, #Outils h4, #Bookmarks h4, #Descriptif h4, #annoncesSim h4, #zoneDPE h4, #AutresVisuels h4, #zoneLots h4, #POI h4 {
    font-family: 'OpenSansCondensedBold',Arial;
    font-size: 16px;
    padding:0 0 5px 0;
    margin: 5px 0 10px 0;
    text-transform: uppercase; border-bottom:10px solid #f2f2f2; }
#infosAgence h4 span {font-weight:normal; font-size:16px; display:block;}
#InfosPrincipales h3, #infosAgence h3 {color: #636162;
font-family: 'ArialNarrowBold';
font-size: 14px; text-transform:uppercase;
margin: 0;}

#InfosPrincipales h3.prixTransactionInfos {font-size: 20px; margin:5px 0;}
#InfosPrincipales p, #infosAgence p {font-size:12px;margin:2px 0 2px 0px;}
#InfosComp_Ctn, #Outils, #Bookmarks, #Descriptif, #zoneDPE, #annoncesSim, #AutresVisuels {margin-top:15px;}
#Descriptif {width:620px;}
#Descriptif p {margin-top:5px;}
 
#annoncesSim h4 {font-weight:bold;}
#Outils h4 {margin-bottom:5px;}
#InfosComp_Ctn ul {margin:5px;padding:0;}
#InfosComp_Ctn li {margin:2px 0 2px 0; list-style-type: none;}
#InfosPrincipales h3.referenceTransactionInfos {font-weight:normal; font-size:12px; color:#636162; font-family:arial; text-transform:none;}
/* METRO */
.metro_Ctn {clear:both;margin-top:5px;}
.picto_metro {float:left;}
.metro {float:left;margin-top:3px;margin-left:6px;}
/* OUTILS */
.outils_bg {margin:2px 0 2px 13px;}
.outils_bg a {color:#353334;}
.pictoAjoutSelectionOK {display:block;float:left;background:url('/z/webagency/slagence_X_V4/images/detail/outil_selection_ok.png') 0 0 no-repeat;width:16px;height:16px;margin:0 5px 0 0;}
#Picto_AjoutSelection {display:block;float:left;background:url('/z/webagency/slagence_X_V4/images/detail/outil_ajout_selection.png') 0 0 no-repeat;width:16px;height:16px;margin:0 5px 0 0;}
#Picto_EnvoiAmi {display:block;float:left;background:url('/z/webagency/slagence_X_V4/images/detail/outil_envoi_ami.png') 0 0 no-repeat;width:16px;height:16px;margin:0 5px 0 0;}
#Picto_Imprimer {display:block;float:left;background:url('/z/webagency/slagence_X_V4/images/detail/outil_imprimer.png') 0 0 no-repeat;width:16px;height:16px;margin:0 5px 0 0;}
#Picto_PermalienBloc {display:block;float:left;background:url('/z/webagency/slagence_X_V4/images/detail/outil_permalien.png') 0 0 no-repeat;width:16px;height:16px;margin:0 5px 0 0;}
#Picto_VoirSelection {display:block;float:left;background:url('/z/webagency/slagence_X_V4/images/detail/outil_voir_selection.png') 0 0 no-repeat;width:16px;height:16px;margin:0 5px 0 0;}

/* BOOKMARKS */
#Bookmarks {width:100%}

#Bookmarks > div  {width:80px; float:left;}
#Bookmarks #Twitter {margin-left:10px;width: 100px;}
#Bookmarks #PinIt {margin-left:0;}

#Bookmarks #GooglePlus {width:62px;}

/* SIM */
#annoncesSim {margin-top:20px;}
/* DPE */
#emissionG {margin-left:20px;}
#consoE, #emissionG {float:left;width:45%;padding:0px;}
#consoE h5, #emissionG h5 {font-size:11px;margin:0 0 5px 0;}
.diagramme{position:relative;background:#fff;border:0px solid #eee;padding:0px;height:290px;}
.diagLettre{position:absolute;color:#fff;font-size:16px;font-weight:bold;left:150px;width:45px;height:20px;text-align:center;background:url('/z/webagency/slagence_X_V4/images/pictos/diag-fleche.gif') 0 0 no-repeat;}
.diagA{top:5px}
.diagB{top:25px}
.diagC{top:47px}
.diagD{top:70px}
.diagE{top:95px}
.diagF{top:116px}
.diagG{top:139px}
.diagH{top:192px}
.diagI{top:214px}
.bilanConso{color: #636162;
font-family: 'ArialNarrowBold';
font-size: 14px;
text-transform: uppercase;
margin: 0;}
.notes{clear:both;font-size:9px;text-align:justify;color:#636162;}
/* BLOC CONTACT */
#Form_Ctn {margin-top:10px;}
#FormContact {margin-top:30px;}
#AgenceMentions {margin-top:15px;padding:0;}

#AgenceMentions h6 {color: #636162;
font-family: 'ArialNarrowBold';
font-size: 14px;
text-transform: uppercase;text-align:left; margin:10px 0 0 0; padding:0;}
#AgenceMentions p, #MapMicrosoft p {margin:2px 0 2px 0;}
.rowForm {clear:both;margin:0 0 0px 0;padding:0;text-align:center;}
.label {float:left;width:75px;text-align:left;display:block; }
.error {color:#ff0000;}
.field {float:left;text-align:left;display:block;width:185px;}
.inputText, .inputTextarea {background: white;
border: 1px solid lightGrey;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
font-size: 12px;
width: 200px;
margin-left: 0px;
color: #6D6B6C;
padding: 5px 0px 5px 5px;
font-family: arial; }
.inputSubmit {background: url(/z/webagency/A_Nexi/cisimmob73_31998/images/bt_acces.gif) no-repeat;
width: 136px;
height: 32px;
text-transform: uppercase;
border: none;
font-size: 13px;
line-height: 32px;
font-family: 'ArialNarrowBold';
color: white;
text-indent: 5px;
text-align: left;
margin-top: 5px;
margin-right: 0;
cursor: pointer;}

.estimer {width: 308px; height: 36px;position:relative; margin:0 auto;}
#DetailAnnonce-2 .estimer.demanderens strong {font-size:14px;}

.btn-tel-sento  {background: url($$_$$images/bt_calcul.gif) no-repeat; width: 183px; height: 32px; color: #fff; text-transform: uppercase; font-size: 13px; line-height: 32px; text-indent: 10px; display: block; font-family: 'ArialNarrowBold'; margin-bottom:5px; cursor:pointer;}
#numero-telephonez-nous-detail {font-size:17px;}

.demanderens strong {line-height:24px;}
.estimer a{
font-size: 13px; color:#fff;
font-family: 'ArialNarrowBold';
display: block;
font-weight: normal;
}
.legal, #AgenceMentions p, #MapMicrosoft p, #Glossaire_Ctn {font-size:12px;color:#a2a6a7;margin-top:0px;}
#MapMicrosoft{float:none;display:block;margin:0;margin-top:0px;border-bottom:1px dotted #636162;background:none;border:none;padding:0;}
#MapMicrosoft #MapHead h4 {color:#353334;}
#MapMicrosoft #MapHead p {color:#999;}
/* COUP DE COEUR, EXCLU, NOUVEAU, PROMO SUR SUR SENTO*/
.blocPhotoExclusifSento {position:absolute;width:120px;height:70px;background:url('/z/webagency/slagence_X_V4/images/bandeaux/exclusif_$$IF:FORM:LANG$$$$FORM:LANG$$$$END$$$$IF0:FORM:LANG$$fr$$END$$.png') 0 0 no-repeat !important;z-index:500; display:none;}
.blocPhotoCoupCoeurSento {position:absolute;left:340px;top:5px;width:44px;height:46px;background:url('/z/webagency/slagence_X_V4/images/bandeaux/coupdecoeur.png') 0 0 no-repeat !important;z-index:500; display:none;}
.blocPhotoNouveauSento {display:none;position:absolute;width:85px;height:50px;background:url('/z/webagency/slagence_X_V4/images/bandeaux/nouveau_$$IF:FORM:LANG$$$$FORM:LANG$$$$END$$$$IF0:FORM:LANG$$fr$$END$$.png') 0 0 no-repeat !important;z-index:500; display:none;}
.blocPhotoPromoSento {position:absolute;top:100px;left:100px;width:60px;height:60px;background:url('/z/webagency/slagence_X_V4/images/bandeaux/promo_$$IF:FORM:LANG$$$$FORM:LANG$$$$END$$$$IF0:FORM:LANG$$fr$$END$$.png') 0 0 no-repeat !important;z-index:500; display:none;}
/* PICTOS AUTRES VISUELS */
.picto_Pdf {background:url('/z/webagency/slagence_X_V4/images/pictos/picto_pdf.png') no-repeat;width:16px;height:16px;float:left;margin:5px 5px 0 0;}
.Picto_VisiteVirtuelle {background:url('/z/webagency/slagence_X_V4/images/pictos/picto_visite_virtuelle.png') no-repeat;width:16px;height:16px;float:left;margin:5px 5px 0 0;}
.Picto_LienExterne {background:url('/z/webagency/slagence_X_V4/images/pictos/picto_lien_externe.png') no-repeat;width:16px;height:16px;float:left;margin:5px 5px 0 0;}
.Picto_LienVideo {background:url('/z/webagency/slagence_X_V4/images/pictos/picto_lien_video.png') no-repeat;width:16px;height:16px;float:left;margin:5px 5px 0 0;}
.txt_picto {font-size:11px;margin-top:5px;padding-top:5px;}
/* SANS PHOTO */
#SansPhoto {background:url('$$_$$images/detail/sans_photo.jpg') 50% 50% no-repeat;height:213px;border:1px solid #ccc;}
/* ERREUR */
.pictoErre {color:#ff0000;margin:5px 0 5px 0;}
/* FIXING NO PHOTO > LOGO */
.noPhotoLogo, .noPhotoLogoSimilaires {background:#fff;text-align:center;display:table-cell;vertical-align:middle;}
.noPhotoLogo img{display: none;}
.noPhotoLogoSimilaires {height:130px;}
.noPhotoLogoSimilaires img {height:auto;width:auto;}
/* LOTS */
#zoneLots h4{} /* voir à la ligne 49 avec les autres h4 */
#zoneLots .programmesNeufs{width: 100%;margin: 10px 0;}
#zoneLots .programmesNeufs thead td{font-weight: bold;padding: 3px;}
#zoneLots .programmesNeufs tbody td{border-bottom: solid 1px #666;padding: 3px;}

.fai {font-family: 'ArialNarrowBold';
font-size: 13px;
text-transform: uppercase;
font-weight: normal; }


#Filtres {position:absolute; right:50px; top:10px;}
#Filtres span {vertical-align:middle;  font-family: 'ArialNarrowBold';font-size: 11px;font-weight: normal; text-transform: uppercase;}
#Filtres .Prestige {background:url('/z/webagency/slagence_X_V4/images/filtres/439.png') 0 0 no-repeat;width:20px;}
#Filtres .UnFiltre { padding-left:28px; float:left;background-repeat: no-repeat; background-position: top left;line-height: 25px;margin-left:10px;}

#fancybox-loading {display: none;}