/* CSS Document */

/* TITRES au dessus de chaques champs : transaction + type bien + budget + selection des villes */
.MiniTitre{ color:#fff; padding:4px 0 3px 0;font-size:11px;font-weight:bold;}

/* Styles CHAMPS SELECT : type transaction + type bien + select villes */
.MiniSelect{ width:185px; border:1px solid #EFBB30; color:#228EAC;font-size:11px; height:20px;}

/* Styles CHAMPS INPUT : budget + surface */
.MiniInput{ width:86px;border:1px solid #EFBB30; color:#228EAC; font-size:11px; height:17px; margin:0 ; display:inline; padding:0;}

/* BOUTON VALIDATION : Lancer votre recherche */
#MiniBoutonInput{ margin:15px 0 0 0;}



.MiniInputTxt{ display:none; height:5px;}
#BoiteMiniMoteur br{ display:none; }




