$$REM$$/*====================================================================
//// <summary>Fichier CSS À DÉMUTUALISER POUR CHAQUE SITE</summary>
//// <remarks>
//// <para>Pour plus de rapidité, intégrer les macros du fichier 'all_global_macros.css'</para>
//// </remarks>
//// <update date="2010-02-16" author="lisbonne.siriphol">Création</update>
====================================================================*/$$END$$

<!--#include virtual="styles/all_global_macros.htm" -->
a{}
#Header{position:relative;}
#Header .fnaim{position:absolute; right:5px; top:10px; display:none;}
#TopHeader marquee, #TopHeader marquee *, #Coordonnees, #Coordonnees *, #FooterBottom, #FooterBottom *{ color:#e2e3e2;}
.miniDivSelect select option, form#Tri select option, form#Tri select optgroup{ padding:0 0 0 4px;}
#Moteur .inputText, #Moteur .inputSelect, #Moteur .inputTextarea, #Moteur .inputSelect option, #Form_Ctn .inputText, #Form_Ctn .inputTextarea, .accordion_content .inputText, .accordion_content .inputResult, #FormContactAgence .inputText, #FormContactAgence .inputSelect, #FormContactAgence .inputTextarea{ background:#E2E3E2; color:#272727;}
.contactAnn, #Annonce_Ctn td#ColonneGauche{ background:#fff;}
.similaire_ctn, #Annonce_Ctn td#ColonneDroite{ background:#EFF4DE;}
#FilAriane span{color:#272727;}
/**
#PortefeuilleAccueil h4 a,#Moteur .moteurTable ul li,#Moteur .moteurTable ul li strong{color:#e2e3e2;}
*/
#Moteur .inputSelect{width:284px;}
#PortefeuilleAccueil h6 span{ color:#000;}
/* page recherche */
.contactAnn, #Annonce_Ctn td#ColonneGauche{background:#E2E3E2;}
.contactAnn .ctc{color:#272727;}
.prix,.prix sup,.ville,.libelle{color:#E2E3E2;}


/* expertise */
#expertise{width:1000px; margin:0 auto; margin: 10px 0;}
#expertise h2 {border-bottom: 1px dotted #272727; color:#272727; font-size: 1.8em; font-weight: 100; margin: 0 0 3px; padding: 0 0 3px; }
#expertise ul{margin:0 0 10px 20px;}
#expertise ul li{margin:5px 0; font-size:12px;}
#expertise p{ font-size:12px; padding:0 0 10px; line-height:26px;}
#expertise p img{ margin-right:10px;}
#Visuel_Ctn, #AlerteEmail{ background:#BFBFBF;}

.clear{clear:both;}

/* moteur */
.castle img{width:311px; display:block; margin:10px auto; border:1px solid #7F7F7F; }
#FormContactAgence_Ctn{position:relative;}
#FormContactAgence_Ctn .home{position:absolute; width:360px; display:block; left:50px; top:8px;}
#FormContactAgence{margin-left:400px;}
#MiniVilles{ display:none;}