
	*{font-family: arial,sans-serif; font-size:12px; color:#000; margin:0; padding:0; border:none;}

/* General */
	body{color:#000; margin:0;}
	a{color:#3948F9;text-decoration:none;outline:none;}
	a:hover{color:#3995FC;text-decoration:underline;outline:none;}
	ul{list-style-type:none;}
	img{border:none;}
	table td{ padding:2px 0;}
	.Clear{clear:both; font-size:0;line-height:0;}
	select { border:1px solid #CCCCCC;}
	/* ---------------------------------------Style page--------------------------------------- */
	    #Global{width:1003px;margin:0 auto;background:url(../images/bg_acceuil.jpg) 0 143px no-repeat;}
		#global{width:970px;margin:0 auto; padding:0; position:relative;}
		#header{ width:936px; height:223px;margin:0 auto; position:relative;}
		#Header{ width:936px; height:228px;margin:0 auto; position:relative;}
		#Header .logo{margin:0 auto;width:316px;margin:0 auto;padding:10px 0 0 0;}
		#header .logo{margin:0 auto;width:316px;margin:0 auto;padding:26px 0 7px 0;}
		* html .logo{margin:0 auto;width:316px;margin:0 auto;padding:26px 0 60px 0;}
		.marque{width:911px;margin:0 auto;} 
		* html .marque{width:911px;margin:19px auto 0 auto;} 
		
		#RefMarqueNavig{display:none;}
		#AnnoncesDefilantes{width:911px;margin:0 auto;float:left;} 
		#AnnoncesDefilantes a,#AnnoncesDefilantes a strong{color:#7C7F9C;font-size:11px;font-weight:normal;font-family:tahoma,sans-serif;text-transform:capitalize;} 
		 marquee{color:#7C7F9C;font-size:11px;font-weight:normal;font-family:tahoma,sans-serif;text-transform:capitalize;} 
		#content{ width:936px; background: url(../images/img_decor.jpg) 0 0 no-repeat; height:466px;padding:0;position:relative;margin:0 auto;}
   
		#content a.english{ position:absolute; top:15px; left:20px; padding:3px 0 6px 29px; color:#8cbbd6; font-size:11px; background:url(../images/dpEnglish.gif) no-repeat;}
		#content a.francais{ position:absolute; top:15px; left:20px; padding:3px 0 6px 29px; color:#8cbbd6; font-size:11px; background:url(../images/drap_fr.gif) no-repeat;}
		#navLangue { margin:0; padding:0;}
	    #navLangue li { text-align:center; line-height:27px;margin:0; padding:3px 0 0 0;}
	    #navLangue li a{width:116px; height:27px; background:#0E1241;color:#fff;font-size:11px; text-decoration:none; display:block; font-weight:bold;}
	    #navLangue li a.Ln{ background:#CCFFCC;}
	    #navLangue li a:hover{ background:#fff;color:#000;}
	    #navLangue li a.Ln:hover{ background:#E6FFE6;}
	    #interNavig li{ float:left; padding:0 5px 0 0;}
	    #interNavig li a{ text-decoration:underline; font-size:11px;}
	    #interNavig li a:hover{ text-decoration:none;}
		img.visual{position:absolute;left:120px;top:102px;border:1px solid #fff;}
		img.snpi{position:absolute;right:31px;bottom:99px;}
	    #motteur{height:31px; background: #000; width:926px; padding:0 5px 0 5px;margin:0 auto;}
	    #motteur p{ font-family:tahoma,sans-serif; font-size:11px; font-weight:normal; color:#FFFFFF; padding:9px 0 0 0;width:546px;margin:0 auto;}
	    #motteur p span{ font-family:tahoma,sans-serif; font-size:11px;color:#3990FB;}
                
	  
	  
/*contenuDecline*/
		#contentDec{ width:926px;padding:12px 5px 14px 5px;position:relative;min-height:453px;margin:0 auto;background:#fff;}
		* html #contentDec{height:453px;}
		#contentDec1{ width:914px; background:#FFFFFF;  padding:5px 15px 14px 15px;position:relative;}
		#contentOmbre{background:url(../images/bg_ombre.png) 0 0 repeat-y; _background:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src='/z/webagency/A_Pyxicom/fidimmo_2009/images/bg_ombre.png', sizingMethod='scale');width:970px;margin:0 auto;}

		#contentDec #DetailAnnonce table{ width:100%;} 
	    * html #contentDec{ height:400px;}
	   .positionIndex{position:absolute; bottom:47px; right:21px;}
	   .positionNav{position:absolute; top:3px; right:0px;}
	    #contentLeft{float:left; width:573px;padding:0 8px 0 15px;}
		#BlocCdc{overflow:hidden;margin-bottom:14px;float:left;}
		#BlocCdc .contenu-cdc {height:106px;}
	    .div-cdc {float:left;margin:0 7px 0 0;width:184px;}
		.photo-cdc img{ width:182px; height:112px; border:1px solid #242A99;}
		.div-cdc .typetransaction-cdc{color:#1E269A; text-transform: capitalize;}
		.div-cdc .ville-cdc {color:#000;}
		.div-cdc .descriptif-cdc {color:#000; margin:3px 0;font-size:11px;font-family:arial;}
		.div-cdc .typebien-cdc, .div-cdc .typetransaction-cdc, .div-cdc p.prix-cdc{font-weight:bold;font-size:11px;}
		.espace-cdc span.nbpiece-cdc,.espace-cdc span.surface-cdc{font-size:11px;}
		.div-cdc a{ color:#1E269A; text-decoration:none;}
		.div-cdc a:hover span{ color:#192070; text-decoration:underline;}	
        p.prix-cdc{color:#1E269A;}		
		.blocRecherche{ width:600px;}
		.castle img{width:319px;height:177px;margin-top:12px; border:1px solid #031657;}
		
		
		#contentRight{ float:left; width:322px;}
		#contentRight h2, #contentLeft h2{position:relative;margin-left:-2px;font-size:25px; font-weight:bold; font-family:Georgia,serif; padding:0 0 8px 0; letter-spacing:-1px;color:#242A99;}
		#contentRight p{color:#000000; font-weight:normal; text-align:justify; padding:0 0 19px 0;font-size:11px;font-family:arial,sans,serif;}
		#contentRight p.visuel{ padding:0;}
		#contentRight span{color:#242A99;font-size:11px;font-weight:bold;font-family:arial,sans-serif;}
		.savoirPlus{ display:block; padding:4px 0 14px 0; font-weight:normal;color:#3995FC;}
		.agence,b{font-weight:bold;font-size:11px;font-family:arail,sans-serif;color:#3995FC;}
		
		

/* Main Menu */
		#nav1{ width:936px; padding:0; position:absolute; top:181px;left:0; height:43px;background:#000;} 
		#nav1 ul{padding:0;margin:0 0 0 50px;}
	    #nav1 ul li{ float:left;margin:0 0 0 18px;display:inline;}	 	
		#nav1 ul li a{color:#fff; font-size:11px; font-weight:bold; text-transform:uppercase; text-decoration:none; display:block; float:left;padding:10px 20px;margin-top:4px;text-align:center;}		
	    #nav1 ul li a:hover{ color:#3544eb;background:#fff;}
/* Main Menu accueil*/
        
		#nav2{ width:936px; padding:0; position:absolute;left:17px; top:185px; height:43px;background:#000;} 
		#nav2 ul{padding:0;margin:0 0 0 50px;}
	    #nav2 ul li{ float:left;margin:0 0 0 18px;display:inline;}	 	
		#nav2 ul li a{color:#fff; font-size:11px; font-weight:bold; text-transform:uppercase; text-decoration:none; display:block; float:left;padding:10px 20px;margin-top:4px;text-align:center;}		
	    #nav2 ul li a:hover{ color:#3544eb;background:#fff;}
		
	    

/* Footer */
		#Footer{ margin:0 auto;color:#3544eb; width:936px; text-align:center; padding:0 0 15px 0; position:relative;clear:both;height:140px;}
		#FooterIndex{margin:0 auto; color:#3544eb; width:936px; text-align:center; padding:10px 0 75px 0; position:relative;}
		#FooterIndex *{color:#3544eb;}
		#FooterIndex ul{ padding:0 0 10px 232px;}
		#FooterIndex ul li{ float:left ; display:block; font-weight: bold;}
		#FooterIndex ul li.separateur{ padding:0 11px; padding-top:2px ;}
		#FooterIndex a{color:#3544eb;  text-decoration:none; font-size:11px;}
		#FooterIndex a:hover{color:#000; text-decoration:underline;}
		#FooterIndex p{ font-size:11px;}
		
/*Portefeuille*/
	
		#Portefeuille {width:180px;float:left;padding:16px 0 0 10px;text-align:left;}
		#Portefeuille .annonces{text-align:left;height:68px;overflow:auto;}
		#Portefeuille h1{padding:0 0 8px 0;font-weight:normal;font-size:11px;font-family:tahoma;}
		#Portefeuille h3{display:none;}
		#Portefeuille h4 a{font-weight:normal;color:#000;}
		#Portefeuille ul li a{color:#3995FC;font-size:11px;font-weight:normal;font-family:tahoma,sans-serif;}
		#Portefeuille ul li a:hover{color:#3948F9;}
/*REF*/		
		#Ref{width:264px;float:left;text-align:left;padding:16px 10px 0 50px;}
		#Ref h3{padding:0 0 25px 0;font-size:11px;font-weight:bold;font-family:tahoma,sans-serif;color:#262997;}
		#Ref li {margin:0 0 5px 0;}
		#Ref li a{color:#3995FC;font-size:11px;font-family:tahoma,sans-serif;}
/*RSS*/		
		#Villes *{color:#3544EB;}
		#RSS{float:left;height:100%;width:420px;padding:0;margin:0;text-align:left;}
		#RSS #Villes{padding:16px 0 0 0;color:#3544EB;font-size:11px;font-family:arial,sans-serif;}
	    #RSS #Villes   a{color:#3544EB;padding:0 2px 0 0;font-size:11px;font-family:arial,sans-serif;}
		#RSS #Villes   a:hover{color:#3995FC;}
		#RSS #Villes  span{color:#000;}
		#Villes  {color:#3995FC;}
		#RSS #Villes   li{padding:0 0 0 2px;}
	    
/*Portefeuille1*/
        
	    #Portefeuille1 {padding:16px 0 0 0;width:422px;}
	    #Portefeuille1 a{font-size:11px;font-family:tahoma,sans-serif;font-weight:normal;}
	    .ListeVilles a{padding:0;margin:-6px 0 0 0;color:#3948F9;width:377px;font-size:11px;font-family:tahoma,sans-serif;font-weight:normal;}
		.ListeVilles  a strong{color:#3948F9;text-decoration:underline;font-weight:normal;font-size:11px;}
		.ListeVilles  strong:hover{color:#3995FC;}
		
/* Pages mutualisee*/

/* Bug IE8*/
		.BoutonFormContact,.BoutonFormRecherche {height:26px; width:116px; float:right;}

/*Pages formulaires*/
	  .messageNomAgence, .estimationNomAgence{border:0px; font-family:arial; font-size:18px; text-transform:uppercase; color:#192070; padding:0 0 10px 0; font-weight:bold;}
	  .tabFond1{border-color:#192070; border-width:0; border-style:solid; width:100%;}
	  .tabFond1 td{padding:2px;}
	  .tabFond2{border-color:#192070; border-width:1px; border-style:solid; padding:2px; font-size:12px;}
	  .tabFond1 .tabTitre{background: url(../images/bg_fond_01.jpg) repeat-x; color:#fff; font-size: 12px; text-transform:uppercase; font-weight: bold; padding:7px 0 7px 8px;}
	  .tabTitre *{color:#fff; font-size: 14px; text-transform:uppercase;}
	  .tabPrint{color:#000; font-size: 13px; border:1px solid #192070;}
	  .boutonEnvoi{float:right;width:117px;height:26px;margin-right:-2px;}

	  .tabFond1 table{width:100%;}
	  .tabFond1 .imputForm{border:1px solid #3995FC;color:#000;margin:0 0 0 2px;display:inline;height:22px;}
	  .tabFond1 textarea.imputForm{height:100px;width:600px;border:1px solid #3995FC;color:#000;}
	  .tabFond1 textarea{border:1px solid #3995FC;color:#000;margin-left:4px;}
		.tabFond1 select.imputForm{width:150px;}
	  .BoutonFormContact{ float: right;width:116px;height:26px;margin-right:-2px;}
	   p.grasnews{font-size:16px;font-weight:bold; margin:0 0 5px; padding:3px 5px; display:block; color:#FFFFFF; background:#192070;}
	   #CguFormulaire{background:#fff; border:0px; padding:10px; text-align:left; color:#000000;}

/*Agence immobiliere*/

	   #CV h1,#CV #CvFoot,#CV #CvFoot #Links{background: #192070;}
	   #CV #CvFoot #Links a.message,#CV #CvFoot #Links a.estimation{padding:4px 10px;border-right:1px solid #fff;background: #192070;}
	   #CV #CvFoot #Links a.message:hover,#CV #CvFoot #Links a.estimation:hover{ background:#000;color:#fff;}
	   #CV #CvFoot #Links a:hover{background:#192070;color:#3995FC;}
	   #CV #CvFoot #Links a:hover *{color:#fff;}
	   #CV #Agence{background:#ffffff;}
	   #CV #Agence #Coordonnees *{color:#000;}
	   #CV #Agence #Coordonnees a{ color:#3544EB;}
	   #CV #Agence #Coordonnees a:hover{ color:#3995FC;}
	   #CV .linkOut a{background: url(../images/print_fleche-02.gif) 3px 5px no-repeat; padding: 0 0 0 15px;color:#192070;}
	   #CV .linkOut a:hover{color:#3995FC;}
	   #CV #Agence #Img_Ctn #Vitrine{border:2px solid #E7E7E7;}
	   #Portefeuille01 a.typeBien{color:#3544EB;}
	   #Portefeuille01 a.typeBien:hover{color:#3995FC;}
	   #Portefeuille01 a.typeBien *{color:#192070;font-weight:normal;}
	   #Portefeuille01 a.typeTransac{color:#192070;}
	   #CV #Agence #TxtPublic { color: #000000; width:100%;}
	   #CV { padding:10px 0 0 0;}
	   #CV #MentionCV{text-align:justify;}
	   #CV #Agence #Coordonnees h2{color:#192070;}
	   #CV #Agence #Coordonnees label.cv_tel span,
	   #CV #Agence #Coordonnees label.cv_respag span,
	   #CV #Agence #Coordonnees label.cv_fax span,#CV #Agence #Coordonnees label.cv_email span,
	   #CV #Agence #Coordonnees label.cv_url span{color:#192070;}
	    
	

	   
	   
/* PAGE PLAN DU SITE = incl_plan-site.htm */  
	   .ul#Plan *{text-decoration: none; font-weight: bold;}
	   ul#Plan{padding: 0 8em; width:400px; margin:0 auto;position:relative;top:-25px;}
	   ul#Plan li.plan{ color:#192070; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;border-bottom:none;}
	   ul#Plan li.MenuSep{display:none;}
	   ul#Plan li{padding: 0.2em 0; border:none;}
	   ul#Plan .plan{padding: 0.2em 0;background:none;}
	   ul#Plan li a{ background:none;color:#192070;padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #3995FC; text-transform:uppercase;}
	   ul#Plan li a:hover{color:#FFF;padding-left:10px; height:19px;font-size: 12px; background:#192070 ;border:1px solid #3995FC;}


/* Outils */
	  .ul#Outils *{text-decoration: none; font-weight: bold;}
	  ul#Outils{padding: 2em 8em; width:400px; margin:0 auto;}
	  ul#Outils li.list{padding: 0.2em 0px;background:none; margin:2px 0; border:none;}
	  ul#Outils li a{color:#192070;padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #3995FC ; text-transform:uppercase;}
	  ul#Outils li a:hover{color:#fff;padding-left:10px; height:19px;font-size: 12px;background:#192070;border: 1px solid #3995FC;}
	  #Outils li.titrePageOutils{ color:#192070; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}
	  #Outils a:hover{color:#3995FC ;}
	 
	  .grasnews{ font-weight: bold; font-size:12px; color:#0171BB;}
	  .txtTitre3{font-weight: bold; font-size:14px; color:#0171BB;font-weight:bold;}
	  .gras{font-weight: bold;color:#0171BB;}
	  .gras em{ color:#0171BB;}
	   h4{font-weight: bold; font-size:12px; color:#111111;}
	   h5{font-weight: bold; font-size:11px; color:#111111;}
	  .encadre {background-color:#192070;border:3px solid #fff;color:#fff;padding:2px 10px;}
	  .encadre p{ color:#FFFFFF; width:850px;}

	

/*Page alerte*/	
	   #PageAlert font{color:#83508f;}
	   #PageAlert td{text-align:left;}
	   #PageAlert strong{color:#83508f;}
	   #PageAlert a{font-size:14px; font-weight:bold; color:#83508f; display:block; margin-left:50px; padding-left:20px; width:400px; line-height:14px; height:14px;}
	   #PageAlert a:hover{width:400px; line-height:14px; height:14px; font-size:14px; color:#fff; text-decoration:none; display:block; margin-left:50px; padding-left:20px;}
	

/*MentionsLegales*/
       #MentionsLegales h2{ color:#192070;}

/*contenTxt*/
	  #contenTxt{ padding:4px 0 0 0;}
	  #contenTxt h2{font-size:20px; font-weight:normal; font-family:Arial; padding:0 0 6px 0; color:#0476C2;}
	  #contenTxt p{ text-align:justify; padding:0 0 10px 0;}
	  #contenTxt p.titre{ text-align:center;}

	
	
	
	
	
/*detail*/
	 td#ColonneGauche #ColonneGauche_Ctn{width:430px;}
	 td#ColonneDroite #InfosComp_Ctn h3 span, td#ColonneDroite #TitreForm h5 { color:#FFFFFF;}
     #AgenceContact form table#FormContact td#ChampsBouton input{width:117px;height:26px;margin:0 12px 0 0;}
	 #AgenceContact td.detail_form_col2{background:#fff;border:1px solid #000;}
	 #AgenceContact form table#FormContact td#ChampsNom input,
	 #AgenceContact form table#FormContact td#ChampsPrenom input,
	 #AgenceContact form table#FormContact td#ChampsTelephone input,
	 #AgenceContact form table#FormContact td#ChampsEmail input,
	 #AgenceContact form table#FormContact td#ChampsMessage textarea{color:#000;border:1px solid #3995FC;}
	 #AgenceContact #CguFormulaire a{color:#00A9F6;text-decoration:underline;}
	 #AgenceContact #CguFormulaire a:hover,#RechercheContainer .dicoImmo a:hover{color:#00A9F6;text-decoration:none;}
	 #RechercheContainer .dicoImmo a{color:#192070;}
	 #Galerie,#Annonce_Wrap{border:1px solid #000;}
	 #DetailAnnonce .RetourHaut a:hover{color:#3995FC;}
	 

	 #AgenceContact .coords_agence p.urlAgence a:hover
	 ,#DetailAnnonce #LiensRetour a.prev:hover
	 ,#DetailAnnonce #LiensRetour a.acc:hover{color:#3995FC;}
	 

/*RECHERCHE*/
	 #RechercheContainer #AlerteEmail #AlerteForm input.alerteBt { cursor:pointer;}
	 #RechResultat .blocAnnonce .descr a.nbPhoto:hover { text-decoration:underline;}
	 


/*contact*/
	 input { margin:0 4px;}


	 #RechResultat .blocAnnonce .descr .prix{ font-size:14px;}
	 #RechResultat .blocAnnonce .descr .libelle{ line-height:13px;}
	 #RechResultat .blocAnnonce .ajoutSelection{height:15px; margin:4px 0 0 0;}
	 #RechResultat .blocAnnonce_wrap .detail{ height:auto;}
	 * html #RechResultat .blocAnnonce_wrap .detail a:hover{ background:#0171BB; color:#FFFFFF;}
	 #RechercheContainer #AlerteEmail #AlerteForm input.alerte{color:#000;}
	 #RechHaut #RechHautCtn #RechHautLiens a.rss{color:#3995FC;}
	 #RechHaut #RechHautCtn #RechHautLiens a.rss:hover{color:#192070;}
     #RechHaut #RechHautCtn h1 span{color:#0171BB;}
	 #RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .contactAnn_ctn,#RechResultat .blocAnnonce{border:1px solid #000;}
     #RechResultat .blocAnnonce .detailAnn .ajoutSelection a:hover
	 ,#RechResultat .blocAnnonce .detailAnn a.lienDetail:hover
	 ,#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .contactAnn a:hover
	 ,#RechercheContainer .RetourHaut a:hover,
	 #RechHaut #RechHautCtn #RechHautLiens a.modifier:hover,
	 #RechHaut #RechHautCtn #RechHautLiens a.selection:hover,
	 #RechHaut #RechHautCtn #RechHautLiens a.alerte:hover{color:#3995FC;}
	 #RechHaut #RechHautCtn h2 span{color:#192070;}
	 /*defiscalisation*/
	 #defi{ width:650px; margin:auto;}
	 #defi table{ border:1px solid #000;}
	 #defi table td{ height:50px; border:1px solid #000;}

/*notre agence*/
     #agenceImmo p{ padding:10px 0 5px 0;font-family:arial,sans-serif;}
     #agenceImmo a strong{color:#3948F9;font-family:arial,sans-serif;}
     #agenceImmo a strong:hover{color:#3995FC;}

/*immobiliér sur Marne*/
    
	 #ContainPud h1{color:#242A99;}
	 #Annonces01 a,#ContPudLiens p.PudLiens a{color:#3995FC;}
	 #Annonces01 a:hover,#ContPudLiens p.PudLiens a:hover{color:#1E269A;}
	 div#SubTitle h1{color:#242A99;}

/*Montion legal*/
   
    #MentionsLegales h2{ background:url(../images/bg_fond_01.jpg) repeat-x 0 0;color:#FFFFFF;display:block;font-family:Arial;font-size:14px;font-weight:bold;letter-spacing:0;margin:10px 0;padding:3px 0 3px 8px;text-align:left;text-transform:none;width:99%;}
/* ----- Moteur -----*/
h2.TitrePage{ color:#192070; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}






/*PudForm1*/
#PudForm1 #MiniTypeTrans, #PudForm1 #MiniBudget{width:96%;}





     
     