// VAR COLORS
$color-body:#FFF;
$color-content:#0186cd;
$color-block:#f5f5f5;
$color-primary:#FFF;
$color-secondary:#a1c74d;
$color-action:#697173;
$color-important:#b8bbbe;
$color-nav-footer:#697173;
// COLOR PUB
$color-pub:"white";
// COLOR FONT BODY DEFAULT
$color-font-body:#232626;
// COLOR SOUS MENU
$color-sous-menu:$color-block;


// ICONE COUP DE COEUR
$color-icone-cdc:#697173;
