// VAR COLORS
$color-body:#ded7d1;
$color-content:#1a1a1a;
$color-block:#fff;
$color-primary:#1f2224;
$color-secondary:#ded7d1;
$color-action:#8d112b;
$color-important:#8d112b;
$color-nav-footer:#ded7d1;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#323232;

// COLOR SOUS MENU
$color-sous-menu:$color-primary;

$color-promotion:#0c2450;
$color-administration:#4f234e;