// VAR COLORS
$color-body:#d1d2d4;
$color-content:#F7F8F7;
$color-block:#fff;

// $color-primary:#F7F8F7;
$color-primary:#dcdde0;

$color-secondary:#292523;

// $color-action:#60471b;
// $color-action:#9D7556;
// $color-important:#f9de8b;

$color-action:#6F7072;
$color-important:#565759;
$color-nav-footer:#000;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;