$$REM$$
====================================================================

//// <summary>Fichier css par défaut pour : liste-agences-immobilieres.htm</summary>
//// <remarks>
//// <para>Fichier appelé par : /slagence_X_V2/liste-agences-immobilieres.htm</para>
//// </remarks>
//// <update date="2008-01-17" author="lisbonne.siriphol">Création v1</update>

====================================================================
$$END$$

.page_agenceliste #txt_agenceliste {margin-bottom:40px;}
.page_agenceliste #txt_agenceliste p {font-size:14px;}
.page_agenceliste #txt_agenceliste p a:hover {color:#fff;}
.page_agenceliste #MapMicrosoft {width:350px; float:right; height:519px;}
.page_agenceliste #ListeAgencesImmobilieres {width:500px; float:left;}
.page_agenceliste #ListeAgencesImmobilieres .cadreAgence {width:475px; margin-top:0;}
.page_agenceliste #ListeAgencesImmobilieres .links  {margin-bottom:1em;}

 
 
#ListeAgencesImmobilieres{padding: 0; margin: 0; border: none; font-size: 1em; }
#ListeAgencesImmobilieres *{padding: 0; margin: 0; border: none; }
#ListeAgencesImmobilieres .clear{clear:both; height: 0; }
/**/
#ListeAgencesImmobilieres .cadreAgence{margin: 1em 0 0 0; padding: 1em; background: #fff; border: 1px solid #c4a249; }
#ListeAgencesImmobilieres .cadreAgence .img_Ctn{float: left; background: url($$_$$images/sans_photo_01.jpg) no-repeat; }
$$B:IMMOBW:AGENCES:ALIAS:LISTEAG$$
$$BIF:LISTEAG$$
$$DO$$
#ListeAgencesImmobilieres .cadreAgence .img_Ctn #Img$$LISTEAG:IDPUBLICATION$${display: block; border: 2px solid #c4a249; width: 200px; height: 130px; background:url($$_$$images/agences/$$LISTEAG:IDPUBLICATION$$.jpg) 0 0 no-repeat; }
$$LOOP$$
$$BFIN$$
/**/
#ListeAgencesImmobilieres .cadreAgence .coordsAgence{float: left; padding: 0 1em; }
#ListeAgencesImmobilieres .cadreAgence .coordsAgence h2{font-size: 1.2em; font-weight: bold; }
#ListeAgencesImmobilieres .cadreAgence .coordsAgence p{padding: 0.4em 0 0 0; }
#ListeAgencesImmobilieres .cadreAgence .coordsAgence p strong{font-weight: normal; }
#ListeAgencesImmobilieres .cadreAgence .coordsAgence p span{font-weight: bold; }


#ListeAgencesImmobilieres .links .links_Ctn{float: right; }
#ListeAgencesImmobilieres .links .links_Ctn *{color: #fff; text-decoration: none; font-weight: bold; }
#ListeAgencesImmobilieres .links .links_Ctn a{display: block; float: left; padding: 0.3em 1em; }
#ListeAgencesImmobilieres .links .links_Ctn a:hover{text-decoration:underline; }
#ListeAgencesImmobilieres .links .links_Ctn a.plus{}
#ListeAgencesImmobilieres .links .links_Ctn a.message{}

.coordsAgence h2 {padding: 0; margin:0; font-weight:bold; color:#98821e; text-align:left; font-size:14px; }