// VARIABLES COLORS
$color-body:#E8E8E8;
$color-content:#0050a5;
$color-block:#ECECEE;
$color-primary:#0055a0;
$color-secondary:#9b9b9b;
$color-action:#0055a0;
$color-important:#0055a0;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"white";

$color-exclu:#bc0606;

// COLOR FONT BODY DEFAULT
$color-font-body:#000;