// VAR COLORS
$color-body:#f7852a;
$color-content:#fff;
$color-block:#555;
$color-primary:#555;
$color-secondary:#555;
$color-action:#f7852a;
$color-important:#555;
$color-nav-footer:#f7852a;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#555;
