#BoiteMiniMoteur { width:100%; margin: auto; padding:0 0 10px 0;margin:0;}
#BoiteMiniMoteur select{background:#fff; }
#BoiteMiniMoteur form{margin:0; padding:0;}

.MiniDiv { padding: 0;margin:0; height: 50px; width: 100%; text-align: center !important; }

.MiniTitre{ width: 70px;color: #525252; float: left; padding: 13px 0 0 5px;  text-align: left; font-size:11px; margin:0 0 14px 0;}


#MiniChoixAffichage { border-top: solid 1px #fff; }
#TitreMiniChoixAffichage { width: 210px; display: block; font-weight: bold; }
#MiniLabelChoixAffichage1, #MiniLabelChoixAffichage2 { width: 210px; float: left; text-align: left; }

.Patientez{display: none;}

.MiniDivSelect{display:block; float: left; margin: 0px 0 0  5px;padding: 5px;}

.MiniSelect{width:135px; height: 27px; float:left; border: 1px solid #dadada; background:#fff; line-height:27px; color:#7b7b7b; font:11px verdana; padding:3px;}
.MiniSelect option {color:#7b7b7b; font:11px verdana; font-weight:normal;}

.MiniCheckbox{border: 12px solid #b2b2b2; color: #7b7b7b; margin: 2px 2px 0 0; background: #dadada; padding:6px;}

#MiniDivCheckboxPieces,
#MiniDivCheckboxChambres,
#MiniDivCheckboxRayon
{margin: 5px 0 0 0; float:right;}

.MiniDivChampText{float:right;}
.MiniInput{width:66px; border: 1px solid #dadada; color: #7b7b7b; margin: 2px 0 0 0; background: #fff; }
.MiniInputTxt{ display: none; }

#MiniDivChampTextPieces,
#MiniDivChampTextChambres,
#MiniDivChampTextBudget,
#MiniDivChampTextBudgetVac,
#MiniDivChampTextSurface,
#MiniDivChampTextSurfaceTerrain,
#MiniDivChampTextProx,
#MiniDivChampTextRef
{float:left;padding:0px 0 0 9px; }

#MiniLabelPieces1,
#MiniLabelPieces2,
#MiniLabelPieces3,
#MiniLabelPieces4,
#MiniLabelPieces5
{padding:0; margin:0 0 0 5px;}

#MiniCheckboxPieces1,
#MiniCheckboxPieces2,
#MiniCheckboxPieces3,
#MiniCheckboxPieces4,
#MiniCheckboxPieces5
{margin:0px 2px 0 0;}

#MiniInputPiecesMin,
#MiniInputPiecesMax
{width:60px}

#MiniInputBudgetMin,
#MiniInputBudgetMax
{width:45px; border: 1px solid #dadada; background: #fff; font-size: 11px; padding: 6px;}

#MiniInputSurfaceMin,
#MiniInputSurfaceMax
{width:45px; border: 1px solid #dadada; background: #fff; font-size: 11px; padding: 6px;}

#MiniBoutonInput{ width: 103px; height: 39px; float: right;margin-right: 20px; }

#MiniTypeTrans{background: #dbd9c9;display: block;border-bottom: solid 1px #fff;}
#MiniSelectTypeTrans{font-weight: bold;}
#MiniDivSelectTypeTrans{background:#none;margin: 7px 0 0  8px;}