/*------CSS definitive--*/
body { margin: 0; padding:0; background: url($$_$$images/wrap_bot.gif) repeat; text-align:center; }
div,td { font-family: Arial, Helvetica, sans-serif; font-size:12px; color: #000000; }
img { border:none; display: inline; }
table  { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; }
a { text-decoration: none; color: #c1022b; }
a:hover { color: #c1022b; text-decoration: none; }
p { margin:10px 0;}

.clear1 { clear: left; }
.clear2 { clear: both; }
/*----- decoupage -------*/

#wrap-top { background:url($$_$$images/bg-top-head.gif) repeat-x; height: 22px; }
.retour-acc { width: 1000px; margin: 0 auto; text-align:left; padding-top: 3px; }
.acc { background:url($$_$$images/puce-acc.gif) no-repeat; padding-left: 25px; color: #fff; font-weight: bold; }
#wrapper { width: 100%; background: url($$_$$images/wrap_top.gif) top repeat; }
#wrap { background:url($$_$$images/repeat.png) repeat-y; width: 1014px; margin: 0 auto; text-align:left; }
#main { position: relative; width: 1003px; text-align: left; margin: 0 auto; }

#drap {position: absolute;right: 0; top: -20px; z-index: 100; }
#drap a {display:block; float: right;width:14px; height: 14px; overflow: hidden;margin:0 3px;}
#drap a.fr {background: url($$_$$images/fr.png);}
#drap a.en {background: url($$_$$images/en.png);}
#drap a:hover, #drap a#on {background-position: 0 -14px;}
#drap a#on:hover {background-position: 0 0; }

#bloc-left-content { background: #fff; border: 2px solid #cbcbcb; margin-left: 15px; position:relative; }

.bg-logo { background: url($$_$$images/bg_logo.jpg) no-repeat; height: 190px; overflow: hidden; }
#img_voeux {display:block; margin:10px 0 0 15px;}

.logo { width: 264px; height: 120px; margin: 0 auto; padding-top: 15px; }

.menu-fr, .menu-en { background: url($$_$$images/bg_menu.gif) no-repeat; width: 1020px; height: 40px; text-align: center; }
.menu-fr ul, .menu-en ul {margin: 0; padding: 0; list-style-type: none; }
.menu-fr ul li, .menu-en ul li {list-style-type: none; float:left; padding:3px 0;}
.menu-fr ul li a, .menu-en ul li a { display:block; font-size: 14px; color: #fff; line-height:33px; background: url($$_$$images/sep_menu.gif) right no-repeat; margin-right:1px; padding:0 28px; text-transform: uppercase; }
.menu-fr ul li a:hover, .menu-en ul li a:hover {background:#4f4f4f;}
.menu-fr ul li.on a, .menu-en ul li.on a {background:#c0002a; color:#fff;}

.menu-fr ul li ul, .menu-en ul li ul { display: none; position: absolute; z-index: 99; background: #202121; text-align: left; }
.menu-fr ul li:hover ul, .menu-en ul li:hover ul { display: block;}
.menu-fr ul li ul li, .menu-en ul li ul li { float: none; display: block;}
.menu-fr ul li ul li a, .menu-en ul li ul li a {text-transform: none; padding: 2px 15px; background:none; display:block;}


.ie9 .menu-fr li a{padding: 0 22px !important;}
.ie9 .menu-en li a{padding: 0 22px !important;}

#main-content { width: 1003px; padding-bottom: 10px; }
#navigue { width: 960px; margin: 0 auto; padding: 20px 0; min-height: 610px; }

#left { float: left; width: 470px; }
#main-mot { width: 458px; margin-left: 12px; }
#moteur-index { width: 340px; margin: 0 auto; position: relative; }
.plus-crit a { position: absolute; bottom: 20px; left: 0; color: #9b9b9b; font-weight: bold; text-decoration: underline; }

.photo-acc { float:left; width: 125px; padding-right: 15px; padding-top: 0px; margin-left: 25px; margin-top: 15px; }
.color { font-weight: normal; color: #97a718; }

.txt-acc { width: 255px; float:left; padding-top: 15px; }
.txt-acc p{margin:0 0 10px 0;}
.link-acc { font-weight: bold; color: #c1022b; text-align: left; display: block; font-size: 11px; }
.link-acc a { text-decoration: underline; }

.pic-lien { float: left; padding-top: 15px; padding-left: 35px; }
.pic-lien a { background: url($$_$$images/pic_liste.png) no-repeat; line-height: 20px; padding-left: 25px; text-decoration: underline; display: block; color: #000; padding-bottom: 10px; }
.pic-rss a { background: url($$_$$images/pic_rss.png) no-repeat; padding-left: 45px; line-height: 45px; display: block; text-decoration: none; font-weight: bold; color: #000; }

#right { float: right; width: 518px; height:810px; overflow: hidden; }

.selectionIndex_Ctn { float: left; width: 250px; height: 250px; background: url($$_$$images/bg_cdc.png) no-repeat; position: relative; border: none; }
.selectionPhotoImg, .selectionPhoto_ctn { width: 240px; height: 240px; background:url($$_$$images/sans-photo-bg.gif) no-repeat; }
a.selectionPhoto { margin: 4px !important; }
.selectionPhoto_ctn { border: none; }
.selectionPhoto_ctn .nbPhotos_ctn{ display:none;}
.nbPhotos_ctn a.nbPhotos span, .nbPhotos_ctn a.nbPhotos em { display: block; }
#right .nbPhotos_ctn .nbPhotosBg { width: 236px; height: 55px; position:absolute; top: 79px; left: 4px; }
.selectionDescr { position:absolute; top: 193px; left: 8px; background:url($$_$$images/bg-desc-index.png) no-repeat; width:225px; height:50px; padding-left:10px; }
.selectionDescr .selectionNbPieces, .selectionDescr .selectionSurface, .selectionDescr .selectionPrix, .selectionDescr .selectionDetail a { display: none; }
.selectionDescr .selectionVille a { font-size: 11px; color: #fff; }
.selectionDescr .selectionVille a strong { font-size: 11px; color: #c1022b; }

#page_int h1 {font-size:18px;}
#page_int h2 {font-size:16px; color:#c1002a;}

#footer { background: url($$_$$images/bg-footer.gif) repeat-x; }
#bloc-ttl { width: 960px; margin: 0 auto; padding: 15px 0 0; text-align:center; border-top: 1px solid #3d3d3d; }

#bloc-foot { width: 952px; margin: 0 auto; padding: 25px 0; text-align:left; }
.left-foot { float: left; width: 203px; padding-right: 45px; }
.ttl-foot, .ttl-foot a { color: #fff; font-weight: bold; font-size: 11px; }
.right { text-align: right; }
.link-left { padding-top: 15px; }
.link-left, .link-left a { color: #cbc0c0; font-size: 11px; }

.center-foot { float: left; width: 210px; }
.link-center { padding-top: 10px; }
.link-center a { color: #4a4a4a; display: block; text-decoration: underline; font-size: 11px; line-height:0; padding-top: 10px; }

.right-foot { float: left; width: 480px; }
.portef { padding-top: 15px; color: #4a4a4a; font-size: 11px; text-align: justify; }

.link-left a:hover, .link-center a:hover, .ttl-foot a:hover { color: #fff; }
.coords { color: #fff; font-size: 11px; font-family: Tahoma, Geneva, sans-serif; text-align:center; }

.miniDiv { display: inline; height: auto; margin: 3px 0; }
.miniTitre { font-size: 11px; width: 130px; color: #fff; padding-bottom: 14px; }
#MiniTypeTransaction { margin-bottom: 10px; display: block; }
.elargir {position: absolute; bottom: -30px; left: 0; text-decoration: underline; color: #fff;}
.patientez { display: none; }
select.miniSelect { margin-bottom: 10px; }
.realisation { color: #FFF; }

ul#Plan li a { font-size: 12px; }
.mobile { background:url($$_$$images/bg_mobile.png) no-repeat; width: 176px; height: 185px; position:absolute; top: 765px; left: 285px; }
.txt-mobile { padding-left: 6px; color: #FFF; font-size: 15px; }
.url-mobile { color: #fff; font-size: 20px; text-decoration:underline; padding-left: 25px; padding-top: 10px; }

/*-----------------*/

/*css int*/
#Moteur #MoteurBouton { border-top: 1px solid #708089; }
#RechAffichage { border-bottom: 1px solid #708089; }
#Outils h3 { background: #c1022b; color: #fff; border: 1px solid #c1022b }
#FormContactAgence .inputText, #FormContactAgence .inputSelect, #FormContactAgence .inputTextarea, #Form_Ctn .inputText, #Form_Ctn .inputTextarea { color: #000;border: solid 1px #5b5d5f;background:#fff; }
#FormContactAgence .col1 {color:#000;}
.accordion_content .inputCalcul, #AlerteEmail #AlerteForm input.alerteBt { background: #c1022b; }
#MapMicrosoft #MapHead p.criteres, #MapMicrosoft .geolocInfo { color: #101d24; }

/*IE8*/
.BoutonFormContact, .BoutonFormRecherche, .boutonEnvoi, td#ChampsBouton input { width: 145px; height:41px; }
.titrePageOutils { display: none; }

#Moteur .moteurTable ul li {background: none;color: #000; list-style-type: none; }
#Moteur .inputText, #Moteur .inputSelect, #Moteur .inputTextarea{border: solid 1px #5b5d5f; background: #fff; color: #000; }
.contactAnn {background: #222322!important; color: #fff; }
#Moteur h2 { color: #c1022b; }
#Moteur h1 { display: none; }

#Annonce_Ctn td#ColonneGauche {border: none; background: none; }
#Annonce_Ctn td#ColonneDroite,.similaire_ctn  {border: none; background: #c1022b;}
#RechPagesHaut .rechLiensPages a, #RechPagesBas .rechLiensPages a { background: #b4b4b4; }

#MapMicrosoft #MapHead h4 {color:#fff !important;}
#DetailAnnonce h4{ padding-left: 5px; border: none;color:#c1022b; }
#ColonneGauche h4{background: none;}

#Outils .accordion_content { background: #ececec; }

#DetailAnnonce h3,#Prix span {color: #c1022b;}

#fd-mot { width: 348px; padding-left: 75px; position:relative; }


#FormContactAgence h1 {color: #c1022b;}
#Moteur #ref_ann .inputText { color: #000; }
#RssPicto{display: none;}
#AgImmoVitrine_Ctn,#photo_agence {border-color: #fff;}
#AgImmoDroite a,#AgImmo_Ctn h4,ul#AgImmoPortefeuille li.typeTransac a {font-weight: bold; color: #c1022b;}

#Moteur h3,#Moteur #ref_ann,#Moteur #MoteurBouton  {border-color: #70777c;}

#RechAffichage #RechAffichageListe p, #RechAffichage #RechAffichageCarte p, #RechAffichage #BiensVendus p {color: #fff; padding:0;margin-top:7px;}

#AlerteEmail {background: #e4e4e4;border: solid 1px #bfbfbf;}

.photo_ctn, .blocAnnonce {border:none;}
.photo_ctn a.photo { background: url($$_$$images/bg_foto.jpg) no-repeat; }
.contactAnn a,.contactAnn .nom,.contactAnn .ctc {color: #fff;}
#RechPagesHaut .rechLiensPages a.actif, #RechPagesBas .rechLiensPages a.actif, #RechPagesHaut .rechLiensPages a:hover, #RechPagesBas .rechLiensPages a:hover {color:#fff}

.patientez { display: none; }
#AgenceContact strong,#AgenceContact strong,#CguFormulaire *,#AgenceMentions *,#ColonneDroite h6 {color:#fff;}

#titre_recherche, #titre_mentions,#bloc_agence #MiniMoteur_Ctn, #bloc_agence_droite #MiniMoteur_Ctn  {border-color: #fff;}

#AgImmoDroite .AgImmoContact a, #AgImmoDroite .AgImmoEstimation a { background: #c1022b; }

.similaire_ctn { height: 250px!important; }
#RechHautLiens { padding: 25px 0; }

#RechAffichage #RechAffichageListe, #RechAffichage #RechAffichageCarte, #RechAffichage #BiensVendus { background: #b4b4b4; }
#RechAffichage a { color: #fff; }
#RechAffichage,#RechPagesHaut { border-bottom: 1px solid #687075; }
#AgImmoVitrine_Ctn, #photo_agence { border: none; }
#Moteur .inputText strong, #Moteur .inputSelect strong, #Moteur .inputTextarea strong, #Moteur .moteurTable ul li strong { font-weight: normal; color: #000; }

.similaire a, .similaire a span {color: #fff;}
#main-mot .plus-crit a { bottom: 25px; left: 0; }

.photo_wrap .nbPhotos_ctn .nbPhotosBg { width: 175px; }
.ad-gallery .ad-image-wrapper, .ad-gallery .ad-nav .ad-thumbs, #Annonce_Ctn td#ColonneDroite, .similaire_ctn { background-color: #e5e5e5; }
.ad-gallery .ad-thumbs .ad-thumb-list {padding-top:0;}
#RechAffichage, #RechPagesHaut { border-bottom: none; }
.agImmoVitrine_Td1 { width: 200px; }
.agImmoVitrine { width: 300px; height: 200px; }

.ttl-txt { font-size: 12px; font-weight: bold; color: #000; }

.ttl-txt2 { font-size: 11px; font-weight: bold; color: #000; }

#MiniBouton .boutonSubmit, #Moteur #MoteurBouton .inputSubmit { width: 143px; height: 35px; font-size: 0; background: url($$_$$/images/minirechercher_$$FORM:LANG$$.png) no-repeat ; }

#Wrap #Ctn *{color : #000;}
.blocAnnonce, td#ColonneDroite { border: 1px solid #bfbfbf!important; background: #e4e4e4 !important; }

.ttl-pages { font-size: 18px; color: #c1022b; font-weight: bold; text-transform:uppercase; }

#AgImmoDroite a, #AgImmo_Ctn h4, ul#AgImmoPortefeuille li.typeTransac a { padding-top: 25px; }

#AlerteEmail h3, #AlerteEmail #AlerteForm label, #AlerteEmail #AlerteForm * { color: #fff; }
#AlerteEmail #AlerteForm input.alerte, #MapMicrosoft #MapHead h4, .similaire a, .similaire a span { color: #000 !important; }

#MiniBouton .boutonSubmit, #Moteur #MoteurBouton .inputSubmit, #ChampsBouton .inputSubmit { font-size: 0; width: 145px; height: 41px; }
#MiniBouton .boutonSubmit { float:right !important; margin-top: 10px; }
#Plan_Ctn h1 { display: none; }
.miniDivSelect label { color: #fff; }

.agImmoPortefeuille_Ctn { background: #d9d9d9; border: 1px solid #b4b4b4; }
#FormContactListeAgences ul li { list-style-type: none; }
#RechPagesHaut .listeAgPages a, #RechPagesBas .listeAgPages a { background: #c2c2c2; }
.ad-gallery .ad-back, .ad-gallery .ad-forward {  background-color: #e5e5e5; }

#AgenceContact strong, #AgenceContact strong, #CguFormulaire *, #AgenceMentions *, #ColonneDroite h6 { color: #000; }

input.miniInput, input.miniInputMin, input.miniInputMax, .miniDivSelect select, .miniDivSelect select * { width: 175px; }

.cadreAgence { background: #e4e4e4; border: 1px solid #bfbfbf; }

.dicoImmo *, .dicoImmo { color: #FFF; }

#InfosPrincipales p { background:url($$_$$images/pictos/fleche_blanche_small.gif) 0 4px no-repeat; }
#Moteur .moteurTable ul { margin: 0; padding: 0; }
#Moteur .moteurTable ul li#nb_pieces, #Moteur .moteurTable ul li#nb_chambres, #Moteur .moteurTable ul li#InputSurfaceTerrain { margin: 0; padding: 0; }
#AlerteEmail h3, #AlerteEmail #AlerteForm label, #AlerteEmail #AlerteForm * { color: #000; }
#FormContactAgence .inputSubmit { width: 145px; height: 41px; font-size: 0; }

#sans_photo { background:url($$_$$detail/img_commun/sans_photo.jpg) no-repeat; }

.inputSubmit, #ChampsBouton .inputSubmit,#FormContactAgence .inputSubmit {background: #c1022b; height: 30px; font-size: 16px;color: #fff;}

.portefeuilleVilles h3, .portefeuilleVilles, .portefeuilleVilles a{color: #5f5f5f; font-size: 11px; display: inline; }
.portefeuilleVilles h3{margin:0;font-weight: normal;color: #5f5f5f;}

.dicoImmo *, .dicoImmo { color: #000; }

#FluxDef { background: #dfdfdf; border: 1px solid #c1022b; }

#nom_ag{background: none;}
#titre_recherche{border:none;}
#bloc_agence #MiniMoteur_Ctn{border:none;color: #000;}
#bloc_agence #MiniMoteur_Ctn .miniTitre{border:none;color: #000;}
#bloc_agence #MiniMoteur_Ctn .miniInputMin, #bloc_agence #MiniMoteur_Ctn .miniInputMax{width: 80px;margin:0 5px;}

#MentionsLegales h2 { background: none; color: #c1022b; font-size: 16px; font-weight: bold; }
#navigue .accordion_content .inputCalcul { background: #c1022b; }

#navigue #FormContactAgence .inputSubmit, #navigue #ChampsBouton .inputSubmit, #navigue #Moteur #MoteurBouton .inputSubmit { background: #c1022b; color: #fff; font-size: 16px; width: 130px; height: 30px; }

/*------------------------------------------------------------*/

/*page moteur*/

#Moteur h2 {font-size:18px; font-weight:normal; }
#Moteur h1 {font-size: 18px; color: #c1022b; font-weight: bold; text-transform:uppercase;}
#Moteur h4 {font-size:14px; font-weight:normal; font-style:italic; color:#000;}
#Moteur h3 {font-size:14px; font-weight:normal; font-style:italic; color:#000;}


#Moteur .moteurTable ul { list-style:none;}
#Moteur .inputText, #Moteur .inputSelect {padding:5px; }
#Moteur td.col3 {display:none;}
#Moteur td.col1 ul li {background:#e5e5e5;}
#Moteur td.col1 ul li#nb_pieces, #Moteur td.col1 ul li#nb_chambres {background:#f2f2f2;}
#Moteur p {color:#838383;}

#Moteur .moteurTable .col1, #Moteur .moteurTable .col2 { padding: 0 10px 0 0; }

#MiniBouton .boutonSubmit {border:none;}

#ref_ann {margin:0; padding:0;}

.selectionNouveau {display:none;}
.coupdecoeur{display:none;}

#MiniBouton {height: 40px;width: 100%;display: block !important;clear: both;}
#MiniBoutonInput{position: static;}
.ttl { font-weight: bold; font-size: 12px; color: #c1022b; text-decoration:underline; }
.ul-gestion, ul-gestion a { list-style-type: square; color: #c1022b; }
.bt-gestion { background: #c1022b; width: 200px; height: 40px; margin: 0 auto; text-align:center; line-height: 18px; border: 3px solid #fff; box-shdow: 2px #8f8f8f; }
.bt-gestion a { color: #fff; text-align:center; font-weight: bold; }

#right .selectionIndexCDC, #right .selectionIndexExclusif { display: none; }
.nbPhotos_ctn .nbPhotosBg { display: none; }
.contactAnn .tel { color: #fff; }
#LiensRetour a.acc { color: #C1022B; }
#Dpe .diagramme { height: 270px; }
#Ctn-envami { background: #1b1c1c; }
.pointillesBas, td.col1 { color: #fff; }

.bienvenduCheck { padding: 0 0 0 17px; background:url("/z/webagency/slagence_X_V3/recherche/img_commun/bienvendu_check.gif") no-repeat scroll 5px 1px transparent; }
table.detailsAnn td { line-height: 10px; }

#AlerteEmail, #AlerteEmail *{margin:0;}

#ImmoAnn h2 {height:45px;}
#ImmoAnn .pictoResults {height:45px;}
.blocAnn {background:none;border: solid 1px #B4B4B4;}


#titre_accueil {font-size: 14px; text-align:left;}
#Descriptif  h1 {font-size: 14px;}
#Descriptif .titreDescriptif {font-size: 12px; color: #000000}
.ttl-pages h1 {font-size: 14px;}
#titre_syndic {font-size: 12px;}
#titre_gestion {font-size: 12px;}
#titre_syndic_bis{font-size: 12px;}
.titre_agence h1{font-size: 12px;margin-top: 0px;}
.selectionDescr .selectionTxt{display: none;}
#AgImmoDroite p, #AgImmoDroite p *{padding: 0;}
#Horaires{display: none;}
.cadreAgence .indexAg{display: none;}
a.agImmoVitrine_Ctn1{border:1px solid #808080;}

#tablecontactListeAg ul li{border-bottom: 1px dotted #C1022B;padding: 5px 0; list-style:none;}

#tablecontactListeAg  ul {border-top: 1px dotted #C1022B; margin: 10px 0;}
#formContact td { padding:2px 0;}
#formContact td span{ color:red;}
#formContact td.col1{ padding: 5px 10px 5px 5px;text-align: right; color:#000;}
#formContact td select.inputSelect{ width:250px; border:1px solid #5B5D5F;}
#formContact td input.imputForm, #formContact td textarea.imputForm { width:247px;  border:1px solid #5B5D5F;}

#prg_neufs{font-size: 14px;color:#C1002A;padding-left:250px;margin-top:-15px;}
#lots_neufs {font-size:12px;color:#C1002A;}
#rens{font-size:11px;color:#C1002A;}


#etudiants{}
#etudiants .bandeau{margin: -13px 0 30px 1px;}
#etudiants .contenu{display: block; width: 960px; margin: 0 auto 30px auto; padding: 20px 0;border: solid 1px #6f767c; border-left: none; border-right: none;}
#etudiants .contenu h1{margin:0; font-size: 26px; color: #c3002c; text-transform: uppercase; font-weight: normal;}
#etudiants .contenu a{text-decoration: underline;}
#etudiants .contenu a:hover{text-decoration: none;}