/* -------- Classes standards -------  */
body{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#414A53; background:url(../images/bckgrd.jpg) no-repeat #656a6e; margin:0 auto;}

td{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#414A53;}

a{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#DF8838; text-decoration:none;}

a:hover{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#DC1624; text-decoration:none;}

*{margin:0px; padding:0px;}






/* -------- Base du site -------  */
.langues{background-color:#000000;}
.langues a{color:#ccc; font-weight:bold;}
.langues a:hover{color:#fff; font-weight:bold;}
.fondMenu{background:url(../images/fondMenu.jpg) no-repeat;}
.agences p{margin-top:12px; width:265px; text-align:center;}
.agences a{font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#fff;}
.agences a:hover{font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#ff9933;}
.menu a{display:block; height:46px; background:url(../images/puceMenu.gif) no-repeat center bottom; line-height:35px; font-family:Arial, Helvetica, sans-serif; color:#fff; font-weight:bold; font-size:14px;}
.menu a:hover{display:block; height:46px; background:url(../images/puceMenu.gif) no-repeat center bottom; line-height:35px; font-family:Arial, Helvetica, sans-serif; color:#222023; font-weight:bold; font-size:14px;}
.texteDef{background:url(../images/puceMarq.gif) no-repeat 0 6px; padding-left:15px;}
.texteDef marquee{font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#999999; width:630px;}
.texteDef a{font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#999999;}
.texteDef a:hover{font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#DF8838;}
.msj{font-family:verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#999999;}
.titreRecrut{background:url(../images/fondRecr.jpg) no-repeat;}
.titreRecrut p{margin:5px 0 0 12px; font-size:18px; color:#fff; font-weight:bold;}
.titreRecrut1 p{margin:0px 0 0 12px; font-size:18px; color:#fff; font-weight:bold;}
.plusCrt p{margin:15px 7px 0 0;}
.plusCrt a{font-weight:bold; color:#000; text-decoration:underline;}
.plusCrt a:hover{font-weight:bold; color:#5E9AE5; text-decoration:underline;}
.fondfooter{background:url(../images/fondBas.jpg) no-repeat; font-size:11px; color:#FFFFFF;}
.fondfooter a{font-size:11px; color:#FFFFFF; text-decoration:none;}
.fondfooter a:hover{font-size:11px; color:#FFFFFF; text-decoration:underline;}
.adresse{margin:12px 0 0 23px;}
.agence{margin:4px 0 0 23px;}
.menuBas{margin:9px 0 0 23px;}
.fondGauche{background:url(../images/fondGauche.jpg) repeat-y;}







/* -------- puce -------  */
.recherche{position:absolute; top:0; left:214px; z-index:2;}
.recrutement{position:absolute; top:305px; left:214px; z-index:2;}





/* ------- liste agences ------- */
.liste_agences_info{color:#999999;}
.liste_agences_nom{color:#201E21;font-weight:bold;}
.liste_agences_lien{color:#999999;font-weight:bold;}
.liste_agences_lien:hover{color:#B20216;}


/* ------- carte visite verte------- */
.CartevisiteVerte a{text-decoration:none; color:#B7C843;font-weight:bold;text-decoration:underline;}
.CartevisiteVerte a:hover{text-decoration:none; color:#B7C843;font-weight:bold;}
.carteVisiteVerte {color:#B7C843;font-weight:bold;}

/* ------- carte visite orange------- */
.CartevisiteOrange a{text-decoration:none; color:#DF8937;font-weight:bold;}
.CartevisiteOrange a:hover{text-decoration:none; color:#DF8937;font-weight:bold;}
.carteVisiteOrange {color:#DF8937;font-weight:bold;}

/* ------- carte visite bleu------- */
.CartevisiteBleu a{text-decoration:none; color:#7399E2;font-weight:bold;}
.CartevisiteBleu a:hover{text-decoration:none; color:#7399E2;font-weight:bold;}
.carteVisiteBleu {color:#7399E2;font-weight:bold;}

/* ------- carte visite orange------- */
.CartevisiteRouge a{text-decoration:none; color:#B20215;font-weight:bold;}
.CartevisiteRouge a:hover{text-decoration:none; color:#B20215;font-weight:bold;}
.carteVisiteRouge {color:#B20215;font-weight:bold;}


/* -------- moteur -------  */
.moteur{background:url(../images/fondMoteur.jpg) no-repeat; font-size:10px; color:#000000;}
.proximite{width:46px; height:14px; border:1px solid #000; font-size:10px; color:#000000; margin-top:5px;}
.budget{width:58px; height:14px; border:1px solid #000; font-size:10px; color:#000000;}
.budget1{width:54px; height:14px; border:1px solid #000; font-size:10px; color:#000000;}
.form{width:152px; height:17px !important; height:14px; border:1px solid #000; font-size:10px; color:#000000;}





/* -------- Cdc ---------- */
.titreCdc{font-weight:bold; font-size:20px; color:#99cc33;}
.cdc1{background-color:#D0010E; border:1px solid #ccc;}
.cdc3{background-color:#F88A2B; border:1px solid #ccc;}
.cdc2{background-color:#5E9AE5; border:1px solid #ccc;}
.cdc4{background-color:#B1C930; border:1px solid #ccc;}
.cdc a{font-weight:bold; color:#FFFFFF;}
.cdc a:hover{font-weight:bold; color:#FFFFFF;}





/* -------- Annonces villes -------  */
#Villes{text-align:left; vertical-align:top; margin-top:6px; text-align:center; margin:0 auto; width:1000px;}

#Villes td{font-weight:normal; font-size:10px; color:#320505;}

#Villes strong{font-weight:normal;}

#Villes a{font-size:10px; color:#320505; font-weight:normal; text-decoration:underline;}

#Villes a:hover{font-size:10px; color:#320505; font-weight:normal; text-decoration:none;}





/* -------- TABLEAUX -------  */
.tabFond1{border-color:#DF8838; border-width:0; border-style:solid; padding:2px; color:#000000;}

.tabFond2{border-color:#DF8838; border-width:1px; border-style:solid; padding:2px; color:#000000;}

.tabTitre{background-color:#F4EEE5; color:#1F1E23; font-weight:bold; padding-left:3px;}

.tabCouleur{background-color:#F4EEE5; border-color:#DF8838; border-width:1px; border-style:solid; padding:2px; color:#1F1E23;}





/* -------- GUIDE PRATIQUE -------  */
.txtTitre3{font-style:normal; font-weight:bold; color:#1F1E23;}

.gras{font-style:normal; font-weight:bold; color:#1F1E23;}

.encadre{background-color:#F4EEE5; border-color:#DF8838; border-width:3px; border-style:solid; padding:2px; color:#000;}
