#CV h1 { margin:0; color: #117bb7; font-size: 18px; text-transform: uppercase; font-weight: bold; }
#CV #Agence{margin:0;background: none; border: 1px solid #2c8dc4; padding: 10px;}
#CV #Agence #Img_Ctn {
    float: left;
    width: 200px;
    height: 130px;
    border: 1px solid #2c8dc4;
    background: url($$_$$/images/sans_photo_01.jpg) no-repeat;
    text-align: center;
}

#CV #Agence #Img_Ctn #Vitrine {
    width: 200px;
    height: 130px;
    border: none;
    background: url($$_$$/images/agences/$$FORM:IDP$$.jpg) no-repeat;
    margin: 0 auto;
}

#CV #Agence #Coordonnees {float: left;padding: 0 20px;color: #002412;}
#CV #Agence #Coordonnees h2{font-size: 14px;color: #117bb7;margin:0;}
#CV #Agence #Coordonnees p{margin: 0;padding: 0.4em 0;}
#CV #Agence #Coordonnees p strong{font-weight: normal;}
#CV #Agence #Coordonnees p span{font-weight: bold;}
#CV #Agence #TxtPublic {text-align: justify;padding: 10px 0; color: #002412; }

#CV #Agence .clear {clear: left;}

#CV #CvFoot {clear: both;background: #2c8dc4;height: 25px;overflow: hidden; margin: 0 0 20px 0;}
#CV #CvFoot #Links {float: left;margin:0;padding: 0 10px;}
#CV #CvFoot #Links a{display: block;float: left; color: #fff; line-height:25px;font-size: 12px;padding: 0 20px; font-weight: bold; }
#CV #CvFoot #Links a:hover {color: #117bb7;text-decoration: none; background-color:#FFF; }

#MentionCV{text-align: justify; font-size: 10px;}
.linkOut {text-align: left;margin-bottom: 20px; font-size: 14px; }

#CV #Portefeuille01 {padding: 1em 0; }
#CV #Portefeuille01 h3 {font-size: 14px;color: #117bb7;}
#CV #Portefeuille01 a {padding: 5px 0;font-weight: bold;color: #002412;}
#CV #Portefeuille01 a:hover { color: #117bb7; }
#CV #Portefeuille01 a.typeBien {margin: 0 0 0 30px;}

.ann_descr span{color: #333;}
.ann_transac{color: #000;}