/*------CSS definitive--*/
body { margin: 0; padding:0; background: #73bbe5; text-align:center; }
div,td { font-family: Arial, Helvetica, sans-serif; font-size:11px; color: #002412; }
img { border:none; display: inline; }
table  { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; }
a { text-decoration: none; color: #117bb7; }
a:hover { color: #000; text-decoration: none; }
p { margin:10px 0;}
h1 {font-size: 18px; }

.clear1 { clear: left; }
.clear2 { clear: both; }
/*----- decoupage -------*/

#wrap { width: 100%; background: url(../images/bg_wrap.gif) repeat-x #fff; }
#wrap2 { margin: 0 auto; width: 1024px; text-align:left; }
#main { position: relative; width: 1000px; text-align: left; margin: 0 auto; float:left; }
.logo-orpi { position: absolute; top: 26px; right: 0px; }

.logo { text-align:center; height: 123px; }

.bord { float:left; width: 12px; }

.ttl-ann { font-family: "Times New Roman", Times, serif; font-size: 20px; color:#000; padding: 10px; }
.ttl-ann h1 {font-size: 22px; }

.coords { position:absolute; top: 85px; right: 10px; text-align:right; color: #4a84ff; }

#fnaim{background: url(../images/fnaim.gif) no-repeat; display: block; width: 112px; height: 88px; float: right;}

#bloc-update { height: 22px; width: 1000px; }
.update { float: left; width: 144px; padding-top: 4px; }
#AnnoncesDefilantes { float: left; width: 850px; padding-top: 2px; }


#flash { height: 158px; overflow: hidden; }

#menu-fr, #menu-en { width: 1000px; text-align: center; }
#menu-fr a { height: 48px; line-height: 48px; text-transform: uppercase; color: #000; font-size: 12px; font-family:"Times New Roman", Times, serif; text-transform:uppercase; display: inline-block; padding: 0 12px; text-shadow: 1px 1px 1px white; }

#menu-en a { height: 48px; line-height: 48px; text-transform: uppercase; color: #000; font-size: 14px; font-family:"Times New Roman", Times, serif; text-transform:uppercase; display: inline-block; padding: 0 8px; text-shadow: 1px 1px 1px white; }

#menu-fr a:hover, #menu-en a:hover { color: #000; background: url(../images/roll.gif) repeat-x; }

#mn1{background: url(../images/roll.gif) repeat-x; background-position:0 -48px;}
#sm1{position: absolute; background: #f8cc82;top:350px; left: 0;}
#menu-en #sm1{left: 0;}

#sm2{position: absolute; background: #f8cc82;top:350px; left: 430px;}

#wrap-content { width: 1000px; }
#main-content { width: 1000px; background: url(../images/reap_content.gif) repeat-y; padding-bottom: 25px; margin-top: 3px; }
#navigue { width: 960px; margin: 0 auto; padding: 20px 0; min-height: 400px; }

#left { float: left; width: 671px; }
.div-cdc { float: left; width: 192px; padding-right: 27px; }
.photo-cdc img { width: 190px; height: 95px; border: 1px solid #000; }
.contenu-cdc { width: 190px; }
.contenu-cdc p { margin: 0; padding: 0; }
.contenu-cdc a { color: #474747; font-weight: bold; color: #000; }
.ville-cdc { font-weight: normal; }
.prix-cdc { color: #474747; font-size: 14px; font-weight: bold; }

.txt-acc { width: 645px; text-align: justify; padding-top: 25px; line-height: 16px; }
.txt-acc .bienv { font-weight: bold; font-size: 12px; }
.txt-acc a { text-decoration: underline; font-weight: bold; }
.bienv strong { color: #117bb7; }



#Map{height: 171px !important; border: 1px solid #FFF; width: 294px !important;margin: auto auto;  }

#right { float: left; width: 329px; }
#main-mot { width: 275px; margin: 0 auto; padding: 20px 0 25px 0; position: relative; }
.link-mot { position: relative; bottom: 45px; left: 30px; color: #002412; text-decoration: underline; }
#right .photo-acc { border: 1px solid #000; }

#main-foot { width: 100%; background: url(../images/bg_footer.gif) repeat-x #73bbe5; }
#footer { width: 1000px; text-align: center; margin: 0 auto; padding: 15px 0; color: #1b537a; height: 158px; }
.link-footer { color: #1b537a; }
.link-footer a { color: #1b537a; text-decoration:none; }
.link-footer a:hover { color: #000; text-decoration:none; }

.dern-ann { color: #1b537a; }
.dern-ann a { color: #1b537a; text-decoration:underline; }
.dern-ann a:hover { color: #000; text-decoration:underline; }


/*-----------------*/

/*liste produits*/
#Portefeuille01 h3, #Annonces01 h3 { display: none; }

#prod { text-align:center;}
#prod strong { color: #275d81; font-weight: bold; float:left; }
#prod a:hover { color: #000; }
#prod #Portefeuille01 br { display: none; }
#prod #Portefeuille01 .typeTransac { color: #275d81; font-weight: normal; } 
#prod #Portefeuille01 .typeBien { margin: 0; }
#Portefeuille01 a.typeBien { color: #275d81; }
#Portefeuille01 a.typeTransac { color: #275d81; }

/* Page formulaire */
.tabTitre { font-size: 14px; color:#117bb7; border-bottom: 1px solid #2c8dc4; line-height: 25px; }
.estimationNomAgence,.messageNomAgence{ color:#117bb7;font-size: 16px; }
table table td .imputForm { margin: 5px 0 ; }

.tabFond1 span.choix{padding: 10px; background: #117bb7; margin: 20px;font-size: 14px;font-weight: bold;}
.tabFond1 span.choix em {font-size: 11px; font-weight:normal; }
.tabFond1 span.choix input{margin-top: -2px;}

/*IE8*/
.BoutonFormContact, .BoutonFormRecherche, .boutonEnvoi, td#ChampsBouton input { width: 128px; height:39px; }
.titrePageOutils { display: none; }

/*pud_annonces*/
#Annonces01 .ann_ctn { background: url(../img/ann01_fd_01.gif) no-repeat; }
#Annonces01 .ann_ctn .ann_fd { display: none;}

/*liste villes*/
.ListeVilles, .ListeVilles a, .ListeVilles a strong { color: #214e6d; font-weight: normal; text-align: center; font-size: 11px; }
.ListeVilles a:hover, .ListeVilles a:hover strong { color: #214e6d; }

/*marquee*/
#AnnoncesDefilantes, #AnnoncesDefilantes a {color: #000; font-size: 11px; }
#AnnoncesDefilantes h1{display: inline; font-weight: normal; margin:0;padding:0;font-size: 11px;}

/*autres*/
.ttl-pages { color: #117bb7; font-size: 18px; text-transform: uppercase; font-weight: bold; }
ul#Plan li.plan { display: none; }

.bg-tarif { background-color: #4d90c3; width: 135px; height: 20px; line-height: 20px; text-align:center; margin-top: 20px; }
a.bg-tarif2 { background-color: #4d90c3; width: 175px; height: 20px; line-height: 20px; text-align:center; padding: 7px; }
#RechResultat .blocAnnonce table.detailsAnn * { color: #FFF; text-decoration:none; font-weight: bold; }

#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .descr { padding-bottom: 10px; }

#Annonce_Ctn table#InfosPrix td h6 .link-glossaire .bg-tarif2{ width: 175px; height: 20px; line-height: 20px; text-align:center; padding: 7px; color:#fff; font-size: 14px; }
#Annonce_Ctn table#InfosPrix td h6 * { font-size: 16px; }

#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .vac { color: #117bb7; }

.left-gloss { float:left; width: 600px; }
.right-gloss { float:right; width: 165px; }

.link-glossaire { position:absolute; top: 100px; right: 25px; z-index: 100; }


.mobile{width: 153px; height: 145px;padding:15px 90px 5px 10px; background: url(../images/picto_mobile.gif) no-repeat;float: left;margin-left: 50px;}
.facebook{width: 153px; height: 145px;padding:15px 90px 5px 10px; background: url(../images/picto_facebook.gif) no-repeat;float: left;}
.mobile h2,.facebook h2{color: #117BB7;font-size: 14px; margin:0;}

.alertemail{font-size: 16px; text-align: center; font-weight: bold;margin-bottom: 10px;}

.ttl-page { background: url(../images/pic-ttl.gif) no-repeat 0 0; padding-left: 20px; color: #117bb7; font-weight: bold; line-height: 15px; display: block; }


.fcommun{font-size: 14px; font-weight: bold;}


/*------------------------------------------------------------*/
.pagevente h1 {font-size: 14px; }

#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .contactAnn a.url, #AgenceContact .urlAgence a{display:none;}
