/*$$REM$$====================================================================================
//// <summary>Fichier CSS 2 site "PACK AVANTAGE 2"</summary>
//// <remarks>
//// <para>Fichier css appelé par head mutualisé</para>
//// <para>Sert pour toutes modifs démutualisées</para>
//// <para>Liste des macros générales pour faciliter la customisation des sites</para>
//// <para>A démutualiser pour chaque site</para>
//// </remarks>
//// <update date="2010-02-16" author="lisbonne.siriphol">Création</update>
====================================================================================$$END$$*/


$$REM$$ /* ============================================================================================
 ////////////////////////////////////// MACROS GENERALES PERSOS //////////////////////////////////////
============================================================================================= */$$END$$
<!--#include virtual="styles/all_global_macros.htm" -->

/* ---------- index ---------- */
#HeaderTxt p {color: #3A859C;}
#TopHeader_Ctn {background: none repeat scroll 0 0 #A6276B;}
#Header_Ctn {border-bottom: 1px solid #A6276B;}
#PortefeuilleAccueil h6 span , .selectionDescr .selectionVille, .selectionDescr .selectionVille *, .selectionDescr .selectionDetail a, .selectionDescr .selectionPrix, #FilAriane span, #PortefeuilleAccueil h4 a    {color: #fff;}
#MoteurAccueil {border-bottom: 1px dotted #fff;}
.titreParagraphe , #PortefeuilleAccueil h4, #PortefeuilleAccueil ul li  {border-bottom: 1px dotted #fff;}
#PortefeuilleAccueil h6 {color: #75B2C5;}
.selectionDescr .selectionTxt {color: #fff;}
#HeaderTxt h2 {color: #75B2C5;}
/* ---------- recherche,basic ---------- */
.prix, .ville, .libelle, .majAnn .fraicheur, .majAnn .reference, .contactAnn .ctc , .dicoImmo *  {color: #fff;}
.contactAnn {background: none repeat scroll 0 0 #75B2C5;}
#RechHautLiens, #RechPagesBas  {border-bottom: 1px dotted #fff;}
.dicoImmo {border-bottom: 1px dotted #fff; border-top: 1px dotted #fff;}

/* ---------- detail,sento ---------- */
#DetailAnnonce h4 {border-bottom: 1px dotted #fff; color: #fff;}
#Annonce_Ctn td#ColonneGauche, #Annonce_Ctn td#ColonneDroite {border: 1px solid #fff;}
.similaire_ctn {background: none repeat scroll 0 0 #75B2C5; border: 1px solid #fff;}
#AgenceContact strong, #CguFormulaire, #AgenceMentions *, #Glossaire_Ctn *, .photoNbr, #FancyBox_Ctn a#FancyBox1, #DetailAnnonce h3, #Prix span   {color: #fff;}
#Form_Ctn .inputText, #Form_Ctn .inputTextarea {background: none repeat scroll 0 0 #fff;}
#AgenceContact p.urlAgence a, #Outils a {color: #75B2C5;}
#Glossaire_Ctn {border-top: 1px dotted #fff;}
.photoTitre {border-bottom: 1px dotted #fff;}
.ad-gallery .ad-nav .ad-thumbs {background: none repeat scroll 0 0 #fff;}
.ad-gallery .ad-back {background: url("/z/webagency/slagence_X_V3/detail/img_sento/galerie/ad_scroll_back.png") no-repeat scroll 0 0 #fff;}
.ad-gallery .ad-forward {background: url("/z/webagency/slagence_X_V3/detail/img_sento/galerie/ad_scroll_forward.png") no-repeat scroll 0 0 #fff;}
#FancyBox_Ctn a#FancyBox1 {font-weight:bold; font-size: 15px;}
/* ---------- outils,calculette ---------- */
#Outils h3 {background: none repeat scroll 0 0 #A6276B;}
.accordion_content .inputText, .accordion_content .inputResult {background: none repeat scroll 0 0 #fff;}
#Outils strong {color: #fff;}

/* ---------- contact,agence ---------- */
#FormContactAgence .inputText, #FormContactAgence .inputSelect, #FormContactAgence .inputTextarea {background: none repeat scroll 0 0 #fff;}
#FormContactAgence .pointillesBas {border-bottom: 1px dotted #fff;}

/* ---------- moteur,recherche ---------- */
#Moteur .moteurTable ul li#nb_pieces, #Moteur .moteurTable ul li#nb_chambres, #Moteur .moteurTable ul li#InputSurfaceTerrain { background: none repeat scroll 0 0 #065F7B;}
#Moteur .inputText, #Moteur .inputSelect, #Moteur .inputTextarea {background: none repeat scroll 0 0 #fff;}

/* ---------- agence,immobiliere ---------- */
#AgImmo_Ctn h2, #AgImmo_Ctn h4 { border-bottom: 1px dotted #fff;}
#AgImmoMentions p {color: #fff;}
ul#AgImmoPortefeuille li ul li.subList {border-bottom: 1px dotted #fff;}











