/* $$DYN:ID3:NOFOOTER$$ */

.BoiteMoteurClassic { background: none; padding: 0; border: none; width: 600px; margin-left:20px; }


.BoiteMoteurClassic span{background: #0658a0 !important; font-weight: bold; color: white !important;margin-top: 20px;}

.MoteurBudget select{margin-bottom: 10px;float: left;}

.LabelMoteurListeVille span{background: white !important; color: #0658a0 !important;}