// VAR COLORS
$color-body:#fff;
$color-content:#E8F2F8;
$color-block:#fff;
$color-primary:#fff;
$color-secondary:#006ab3;
// $color-action:#fecc00;
$color-action:#009EE0;
$color-important:#006ab3;
$color-nav-footer:#006ab3;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#006ab3;