// VARIABLES COLORS
$color-body:#c0c0c0;
$color-content:#c0c0c0;
$color-block:#fff;
$color-primary:#f12b35;
$color-secondary:#315758;
$color-action:#f12b35;
$color-important:#315758;
$color-nav-footer:#fff;

// COLOR PICTO
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#333;