/*$$REM$$====================================================================================
//// <summary>Fichier CSS 2 site "PACK AVANTAGE 2"</summary>
//// <remarks>
//// <para>Fichier css appelé par head mutualisé</para>
//// <para>Sert pour toutes modifs démutualisées</para>
//// <para>Liste des macros générales pour faciliter la customisation des sites</para>
//// <para>A démutualiser pour chaque site</para>
//// </remarks>
//// <update date="2010-02-16" author="lisbonne.siriphol">Création</update>
====================================================================================$$END$$*/


$$REM$$ /* ============================================================================================
 ////////////////////////////////////// MACROS GENERALES PERSOS //////////////////////////////////////
============================================================================================= */$$END$$
<!--#include virtual="styles/all_global_macros.htm" -->

#Header_Ctn {
    background: none repeat scroll 0 0 #A2ADED;
  border-bottom: 0px solid #3D4A59;}
