// VAR COLORS
$color-body      : #fff;
$color-content   : #fff;
$color-block     : #8d8d9a;
$color-primary   : #767588;
$color-secondary : #59586e;
$color-action    : #767588;
$color-important : #59586e;
$color-nav-footer: #767588;

// COLOR PUB
$color-pub       : "white";

// COLOR FONT BODY DEFAULT
$color-font-body : #333;

