@font-face {
	font-family: 'GillSansMT';
	src: url('$$_$$styles/typos/gil_____.eot');
	src: url('$$_$$styles/typos/gil_____.eot?#iefix') format('embedded-opentype'),
			 url('$$_$$styles/typos/gil_____.woff') format('woff'),
			 url('$$_$$styles/typos/gil_____.ttf') format('truetype'),
			 url('$$_$$styles/typos/gil_____.svg#gil_____') format('svg');
	font-weight: normal;
	font-style: normal;
}

body { margin:0;padding:0; text-align:center; background: #fff; }
div,td { font-family: Arial;font-size:12px;color:#4d4d4d;}
img { border:none;display:inline;}
table  { border-collapse:collapse;border-spacing:0;}
td, th { padding:0;}
form { padding:0;margin:0;}
input, select { vertical-align:middle;}
a { text-decoration:none;color:#001d3f;}
a:hover { text-decoration: none; color: #00a0da;}
p { margin:10px 0;}

.clear { clear:both;}
.fleft { float:left;}
.fright { float:right;}

.fonts { font-family: 'GillSansMT'; }

/*================================================*/

#wrapper { position: relative; width: 1000px; text-align: left; margin: 0 auto; }

#bloc-head { border-bottom: 1px solid #c8c8c8; }

#bloc-mn { width: 865px; }
.coords { width: 500px; padding-top: 18px; font-weight: bold; }
.coords strong { color: #009bd5; border-bottom: 1px solid #3365a1; padding-bottom: 5px; display: block; margin-bottom: 5px; font-size: 14px; }

#ban { width: 539px; background:url("$$_$$images/bg_ban.gif") no-repeat; height:94px; position:relative; }
#ban #pub {width:468px; height:60px; position:relative; top:14px; left:38px;}

.flag { width: 45px; text-align: center; padding-top: 17px; }
.flag a { display: block; padding-bottom: 8px; }

.mn { float: right; height: 50px; margin-top: 15px; }
.mn ul { margin: 0; padding: 0; }
.mn li { float: left; list-style: none; }
.mn a { background: #073060; display: block; height: 50px; line-height: 50px; text-transform: uppercase; color: #fff; padding: 0 16px; margin-right: 3px; font-weight: bold; }
.ie9 .mn a {padding:0 14px;}
.mn a:hover { background: #00a0da; }

#main-content { border-bottom: 1px solid #dbdbdb; padding: 15px 0 0; min-height: 400px; }

#bg-trait { background: url($$_$$images/bg_trait.gif) top no-repeat; }
#left { width: 700px; }

.btn { height: 31px; overflow:hidden; }
.btn ul { margin: 0; padding: 0; }
.btn li { list-style-type: none; position: relative; float: left; margin-left: 3px; }
.btn a { display: block; height: 31px; background-repeat: no-repeat; }
.btn a:hover { position: relative; display: block; background-position: 0 -31px; }

#cdc { display: none; }

#menu-new { width:130px;height:31px;display: block; }
#menu-cdc { width:156px;height:31px;display: block; }

#menu-new.fr { background: url($$_$$images/onglet_exclus_fr.gif) no-repeat; }
#menu-cdc.fr { background: url($$_$$images/onglet_cdc_fr.gif) no-repeat 0 -31px; }
#menu-new.en { background: url($$_$$images/onglet_exclus_en.gif) no-repeat ;}
#menu-cdc.en { background: url($$_$$images/onglet_cdc_en.gif) no-repeat 0 -31px; }

#bloc-cdc { width: 660px; height: 190px; padding: 10px 0 0 2px; }

#right { width: 270px; margin-right: 27px; }
#bg-mot { background: url($$_$$images/bg_moteur.gif) no-repeat; width: 270px; height: 256px; }
#bloc-moteur { width: 255px; margin: 0 auto; padding-top: 10px; position: relative; }
#bloc-moteur a { position: absolute; left: 0; top: 225px; font-size: 11px; color: #009bd5; }
#bloc-moteur a strong { text-decoration: none; font-size: 14px;}

.bg-bienv{ background: url($$_$$images/bg_bienv.gif) no-repeat; width: 665px; height: 32px; line-height: 25px; font-style: italic; text-indent: 15px; color: #fff; font-size: 18px; margin-top: -15px; }
.bg-bienv strong { color: #00a0da; font-weight: normal; }

.txt-index { width: 900px; padding-left: 20px; text-align: justify; }
.txt-index a { color: #4d4d4d; font-weight: bold; text-decoration: underline; }

.ph-agc { padding-top: 10px; padding-left: 10px; }
.desc-coordo { padding-left: 15px; padding-top: 10px; }
.link-coordo { background:url($$_$$images/puce-coordo.gif) no-repeat; height: 15px; padding-left: 20px; line-height: 15px; margin-top: 20px; margin-left: 15px; }
.link-coordo a { color: #fff; font-size: 16px; }
.link-coordo a:hover { color: #00a0da; }

.coord-index { background:url($$_$$images/bg_adresse.gif) no-repeat; width: 238px; height: 398px; float:left; margin: 0 6px; }
.desc-coordo { color: #fff; font-size: 16px; }
.desc-coordo strong { color: #fff; font-size: 20px; font-weight: normal; }
.desc-coordo span { color: #00a0da; }

.foot { padding: 10px 0 20px 0; }
.l-foot { width: 560px; padding: 10px 0 0 20px; font-weight: bold; line-height: 24px; font-size: 11px; color: #001d3f; }
.l-foot a.o-col { color: #4d4d4d; }

.r-foot { background: url($$_$$images/bg_mob.gif) no-repeat; width: 324px; height: 58px; }
.r-foot div { text-align: right; padding: 13px 55px 0 0; font-weight: bold; font-size: 11px; color: #8196b0; }
.r-foot div strong, .txt-index a:hover { color: #00a0da; }
/*====== Add CSS =====*/
.ttl_page { color: #00a0da; text-transform: uppercase; font-size: 18px; margin-bottom: 10px; font-weight: normal; }

/* RETOUR HAUT */
.retourHaut { float:right;margin:5px 0 0 0;padding:0;font-size:11px;font-weight:bold; }
.retourHaut a { text-decoration:none; }

#Plan_Ctn a { border-bottom: 1px dotted #073060; line-height: 18px; }


/* contenu */
.page-int  h2{color: #009bd5;padding-bottom: 5px;display: block;margin-bottom: 5px;font-size: 14px;}
.page-int  h3{color: #073060; font-size: 14px;}
.page-int .align-right{float: right; margin-left: 20px;}
.page-int .pdf{background: url($$_$$images/pdf.gif) no-repeat left center; font-weight: bold; font-size: 16px; padding-left: 50px;line-height: 40px;display: block;}
.page-int .pdf:hover{text-decoration: underline;}
.btn-extranet{float: right;margin-top: -43px;}