a { color: #BB3322; text-decoration: none; }
a:hover { text-decoration: underline; }
body { margin: 0; background: #FFFFFF; }
div, td {
	color: #67666B;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
form { margin: 0; padding: 0; }
h1, p.selection {
	margin: 10px 0;
	color: #BB3322;
	font-size: 18px;
	font-weight: normal;
}
ol.gras,ul.gras,li.gras{
list-style-type:none;
color:#666;
line-height:17px;
}

li{font-weight:normal;}

h4 { margin: 0 0 15px 0; color: #FFFFFF; font-size: 13px; }
img, #table100 #boitelegende, #table100 #boitetri { border: none; }
.clear {
	width: 100%;
	clear: both;
	position: relative;
	height: 1px;
	overflow: hidden;
}
table.lois,table.lois td{
border:1px solid #ccc;
border-collapse:collapse;
padding:2px;
}
.reddish{
color: #BB3322;
}
.encadre {
	border: 1px solid #CAD8EC;
	padding: 5px 10px;
	background: #E4EBF5;
	font-size: 10px;
	font-weight: bold;
}
.encadre .gras { padding: 3px 0; background: none; color: #5382BF; }
.encadre table {
	border: none;
	border-bottom: 1px solid #CAD8EC;
	border-left: 1px solid #CAD8EC;
	background: #BDC3CE;
}
.encadre td, .table_news td {
	border-left: 1px solid #CAD8EC;
	border-bottom: 1px solid #CAD8EC;
	border-top: none;
	border-right: none;
	font-size: 10px;
	font-weight: bold;
}
.gras, .liste_agences_nom {
	padding-left: 20px;
	color: #BB3322;
	background: url(../images/ico_fleche.gif) no-repeat;
	font-weight: bold;
	font-size: 12px;
}
.imputForm {
	border: 1px solid #A5ACB2;
	padding: 2px 0;
	margin-bottom: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.lien1 {
	padding-right: 5px;
	color: #BB3322;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
}
.LienRefMarquee, .tabFond1 a, .txtTitre3, .texte2 { color: #5382BF; }
.liste_agences_lien {
	border-left: 1px solid #5382BF;
	border-right: 1px solid #5382BF;
	padding: 0 3px;
	margin-bottom: 2px;
	color: #BB3322;
	font-size: 11px;
	font-weight: bold;
}
.RefMarquee { margin-bottom: 7px; color: #9CA4B0; }
.selection { color: #BB3322; font-size: 14px; font-weight: bold; }
.tabFond2 .tabTitre {
	padding: 0 5px;
	border: none;
	background: none;
	font-size: 11px;
}
.table_news .gras {
	padding: 3px;
	background: #5382BF;
	color: #FFFFFF;
	font-size: 11px;
}
.table_news, .encadre td {
	border: none;
	border-top: 1px solid #CAD8EC;
	border-right: 1px solid #CAD8EC;
	background: #FFFFFF;
}
.tabTitre {
	padding: 3px 5px 3px 20px;
	border-bottom: 1px solid #CAD8EC;
	background: url(../images/ico_fleche.gif) no-repeat 0 5px;
	color: #BB3322;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
}
.TabTitreMini { color: #FFFFFF; font-weight: bold; }
.TabTitreMini2 { color: #4E6A97; font-weight: bold; }
.texte1 {
	color: #7290B6;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.02em;
}
#emprunt_calculer, #mens_calculer, #nbmens_calculer {
	border-left: 1px solid #B1C5E3;
	border-top: 1px solid #B1C5E3;
	border-bottom: 1px solid #426FA9;
	border-right: 1px solid #426FA9;
	padding: 0 15px;
	background: #5382BF;
	color: #FFFFFF;
}
#footer { width: 750px; background: #BB3322; position: relative; }
#footer .wrap {
	padding: 3px 20px;
	color: #FFFFFF;
	font-weight: bold;
	text-align: left;
	letter-spacing: 0.02em;
}
#footer a { color: #FFFFFF; }
#header {
	width: 750px;
	position: relative;
	height: 270px;
	overflow: hidden;
}
#lignetitreannonce .tabTitre {
	padding: 5px;
	border-bottom: 1px solid #CAD8EC;
	border-top: none;
	border-left: none;
	border-right: none;
	background: #E4EBF5;
	color: #5382BF;
}
#lignetitreannonce .TitreRouge { color: #BB3322; }
#main { width: 749px; position: relative; }
#main #content { width: 560px; float: right; position: relative; }
#content #content2 {
	padding: 10px 0;
	width: 540px;
	margin: 0 10px;
	position: relative;
}
#main #left {
	width: 180px;
	float: left;
	text-align: left;
	position: relative;
}
#main .cdc { width: 180px; margin: 0 0 10px 0; position: relative; }
#main .cdcv { width: 180px; margin: 0 0 10px 0; position: relative; }
#main .cdc .desc { padding: 5px; color: #5C5B60; font-size: 10px; }
#main .cdc .desc .prix a { color: #BB3322; font-size: 11px; }
#main .cdc .desc .type {
	font-family: tahoma, Arial, sans-serif;
	font-weight: bold;
}
#main .cdc .desc a { 	
  color: #BB3322;
	font-weight: bold;
	font-family:Arial, sans-serif;
	 }
	 #main .cdc .desc a.lienv { 	
  color: #BB3322;
	font-weight: bold;
	font-family:  Arial, sans-serif;
	font-size:10px;
	 }
#main .cdc .photo {
	width: 180px;
	position: relative;
	height: 125px;
	overflow: hidden;
}
#main .cdc .photov {
	width: 180px;
	position: relative;
	height: 150px;
	overflow: hidden;
	
}
#main .cdc .photo .cadre {
	width: 180px;
	position: absolute;
	left: 0;
	top: 100px;
	height: 25px;
	overflow: hidden;
	z-index: 2;
}
#main .cdc .photo .image {
	width: 180px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
#menu {
	width: 750px;
	position: relative;
	height: 32px;
	overflow: hidden;
}
#menu a {
	width: 100%;
	padding-top: 2px;
	display: block;
	background: #BB3322;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	height: 32px;
	overflow: hidden;
}
#menu a:hover { background: #5382BF; text-decoration: none; }
#menuplus{

}
#menuplus a {
	width: 100%;
	display: block;
	background: #BB3322;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	height: 15px;
	overflow: hidden;
}
#menuplus a:hover { background: #5382BF; text-decoration: none; }
#menu2 {
	width: 748px;
	text-align: left;
	position: absolute;
	left: 1px;
	top: 270px;
	z-index: 3;
}
#menu2 a {
	padding: 0 10px 0 5px;
	color: #FFFFFF;
	font-weight: bold;
	line-height: 22px;
	height: 22px;
}
#menu2 a:hover { text-decoration: none; }
#moteur {
	width: 379px;
	background: url(../images/moteur_fd.jpg) repeat-x;
	height: 280px;
	overflow: hidden;
	position: relative;
}
#moteur #moteur2 { width: 280px; margin-top: 30px; position: relative; }
#plan a {
	padding-left: 20px;
	color: #5B5B60;
	background: url(../images/ico_fleche.gif) no-repeat;
	font-size: 12px;
	line-height: 18px;
}
#plan a:hover {
	padding-left: 20px;
	color: #8A8A92;
	background: url(../images/ico_fleche.gif) no-repeat;
	font-size: 12px;
	line-height: 18px;
	text-decoration: underline;
}
#plan a.lien1 {
	margin-left: 10px;
	padding-left: 20px;
	color: #8A8A92;
	background: url(../images/ico_fleche2.gif) no-repeat;
	font-size: 12px;
	line-height: 18px;
}
#plan a.lien1:hover {
	margin-left: 10px;
	padding-left: 20px;
	color: #8A8A92;
	background: url(../images/ico_fleche2.gif) no-repeat;
	font-size: 12px;
	line-height: 18px;
}
#plan td { color: #5382BF; font-size: 12px; font-weight: bold; }
#sm1 a, #sm2 a, #sm3 a {
	float: left;
	display: block;
	min-width: 60px;
	height: 22px;
}
#sm1 div { margin-left: 50px; }
#sm1, #sm2, #sm3 {
	width: 748px;
	display: none;
	background: #5382BF;
	text-align: left;
	position: absolute;
	left: 0;
	top: 0;
	height: 23px;
	overflow: hidden;
}
#sm2 div { margin-left: 100px; }
#sm2_1 {
	width: 160px;
	display: none;
	position: absolute;
	left: 100px;
	top: 22px;
}
#sm2_1 a, #sm3_1 a {
	width: 158px;
	padding: 0px 5px;
	border-left: 2px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-right: 2px solid #FFFFFF;
	display: block;
	background: #5382BF;
	color: #FFFFFF;
	text-align: left;
}
#sm2_1 a.first, #sm3_1 a.first { border-top: 1px solid #FFFFFF; }
#sm3 div { margin-left: 150px; }
#sm3_1 {
	width: 160px;
	display: none;
	position: absolute;
	left: 150px;
	top: 22px;
}
#table100{
width:97%;
margin:0;

}
#table100 #boitenavigationhaut a, #table100 #boitenavigationbas a { color: #FFFFFF; font-weight: normal; }
#table100 #boitenavigationhaut td, #table100 #boitenavigationbas td { padding: 2px 3px; color: #FFFFFF; }
#table100 #boitenavigationhaut, #table100 #boitenavigationbas { border: none; background: #BB3322; }
#table100 .tabFond2 { border: 1px solid #CAD8EC; }
#wrapper { width: 750px; position: relative; }
#smtools {
	width: 160px;
	border-top: 1px solid #BB3322;
	position: absolute;
	height: 120px;
	left: 570px;
	top: 217px;
	visibility: hidden;
	z-index: 4;
}
#smtools a {
	font-weight: bold;
	display: block;
	width: 160px;
	border-bottom: 1px solid #BB3322;
	border-left: 1px solid #BB3322;
	border-right: 1px solid #BB3322;
	color: #66656a;
	background: #FFFFFF;
	line-height: 18px;
	height: 18px;
	text-decoration: none;
}
#smtools a:hover {
	color: #BB3322;
	text-decoration: none;
}
#smtools span { padding: 0 5px; }
#intro {}
#introsuite {visibility: hidden;display: none; }
#centre {
padding:0 4px 0 4px ;
margin:0;
}
#gauche{
padding-left:1px;
}