// VAR COLORS
// $color-body:#373D42; // gris noir
$color-body:#D0D6DB;
$color-content:#1a1a1a;
// $color-block:#282C30; // gris noir
$color-block:#fff;
$color-primary:#000000;
$color-secondary:#282C30;
$color-action:#D10024;
$color-important:#000000;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#373D42;