@import "color";
// BG SOLO
$bg-uni:yes;

// PICTURE BG OU DEGRADE CSS BG COLOR PRIMARY vs SECONDARY vs BLOCK > SI NO ALL = BG BODY UNI
$picture-bg:yes;
$picture-bg-url:'../images/dark_wall.png';
$picture-bg-repeat-horizontal:no;

// SIZE SCROLLING
$height-scrolling:auto;

// SIZE NAVIGATION
$height-navigation:80;

$margin-top-under-nav-fixe:130;

// VAR SITE TYPO
$font-body:"proxima-nova",arial,sans-serif;
$font-title:"open-sans",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text:1.5em;
$font-size-title:2.0em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:normal;

// ARRONDI POUR LES EFFETS SUR LI > A:HOVER/FIL ARIANE/BOUTON
$arrondi:yes;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS LIB2
@import "../../../slagence_X_V5/sources/scss/boutons/lib6";

// IMPORT PUB LIB BOITE
@import "../../../slagence_X_V5/sources/scss/pubs/lib1";

// IMPORT PUB LIB2
@import "../../../slagence_X_V5/sources/scss/pubs/lib5";

// IMPORT TEMPLATE PARIS
@import "../../../slagence_X_V5/sources/scss/templates/helsinki";

// IMPORT MODULE ANNONCES11
@import "../../../slagence_X_V5/sources/scss/modules/annonces15";

// IMPORT MODULE EXTRA
@import "../../../slagence_X_V5/sources/scss/extra/extra5";

//@import "../../../slagence_X_V5/sources/scss/moteur/mobilefirst";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";

// IMPORT MODULE SOUS MENU ORPI
@import "../../../slagence_X_V5/sources/scss/sous_menu/lib1";


//-------------------------------------------------------------------
//        GLOBAL
//-------------------------------------------------------------------

.box-shadow { box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.7); }

.arrow-wrap {
	 width: 60px;
	 height: 60px;
	 position:absolute;
	 left:50%;
	 bottom:-35px;
	 z-index:125;
	 margin-left:-30px;
	 background: #414141;
	 padding: 7px 5px;
	 border-radius:50%;
	 font-size:0.4em;
	 text-align: center;
}

.arrow {
	 display: inline-block;
	 position:relative;
	 border-style: solid;
	 border-width: 10px 10px 0 10px;
	 border-color: #ffffff transparent transparent transparent;
	 &:after {
		  content:'';
		  position:absolute;
		  top:-13px;
		  left:-10px;
		  width: 0px;
		  height: 0px;
		  border-style: solid;
		  border-width: 10px 10px 0 10px;
		  border-color: #414141 transparent transparent transparent;
	 }
}

.sub-arrow {
	 position: absolute;
	 left: 50px;
	 bottom: -12px;
	 z-index: -1;
	 border-style: solid;
	 border-width: 1.5em 1.5em 0 1.5em;
}

h1, .h1-like {
	 font-size: 2.0em;
}

hr, .hr-like {
	 border-color: #b3b3b3;
	 border-width: 3px 0 0;
}

.logo-presentation {padding-left: 260px;}

.txt-agence {
	 font-size: 1.1em;
}

.coord-agence {font-size:1.2em;}

.agence-telephonez-nous {width:170px;}

.wrap-map {
	 height: 635px;
	 overflow: hidden;
}

.txt-big { font-size: 1.2em; }

.ancre {
	 padding-top: 180px;
	 margin-top: -180px;
}

.video-responsive {
	 max-width: 100%;
	 height: auto;
}



//-------------------------------------------------------------------
//        COLORS
//-------------------------------------------------------------------

.color-bleu-oralia { color: $color-bleu-oralia; }
.color-vert-oralia { color: $color-vert-oralia; }
.color-orange-oralia { color: $color-orange-oralia; }
.color-rose-oralia { color: $color-rose-oralia; }
.color-vertfonce-oralia { color: $color-vertfonce-oralia; }
.color-gris-oralia { color: $color-gris-oralia; }
.color-grisclair-oralia { color: $color-grisclair-oralia; }
.color-light { color: $color-font-body-light; }
.bg-map { background-color: $color-bgmap; }


//-------------------------------------------------------------------
//       BACKGROUNDS
//-------------------------------------------------------------------

.bg-inside {
	 background-image:url('../images/inside/inside_scrolling.jpg');
	 background-color:$color-body;
	 background-position:top center;
	 background-attachment:fixed;
	 background-repeat:no-repeat;
}

.bg-inside-syndic {
	 background-image:url('../images/metiers/metiers-syndic.jpg');
	 background-color:$color-body;
	 background-position:top center;
	 background-repeat:no-repeat;
}

.bg-inside-pourquoi {
	 background-image:url('../images/metiers/metiers-pourquoi.jpg');
	 background-color:$color-body;
	 background-position:top center;
	 background-repeat:no-repeat;
}

.bg-inside-gestion {
	 background-image:url('../images/metiers/metiers-gestion.jpg');
	 background-color:$color-body;
	 background-position:top center;
	 background-repeat:no-repeat;
}

.bg-inside-transaction {
	 background-image:url('../images/metiers/metiers-transaction.jpg');
	 background-color:$color-body;
	 background-position:top center;
	 background-repeat:no-repeat;
}

.bg-inside-services {
	 background-image:url('../images/metiers/metiers-services.jpg');
	 background-color:$color-body;
	 background-position:top center;
	 background-repeat:no-repeat;
}

.bg-inside-approche {
	 background-image:url('../images/metiers/metiers-approche.jpg');
	 background-color:$color-body;
	 background-position:top center;
	 background-repeat:no-repeat;
}

.bg-inside-style {
	 background-image:url('../images/metiers/metiers-style.jpg');
	 background-color:$color-body;
	 background-position:top center;
	 background-repeat:no-repeat;
}

.bg-bleu-oralia { background: $color-bleu-oralia; }
.bg-vert-oralia { background: $color-vert-oralia; }
.bg-orange-oralia {	background: $color-orange-oralia; }
.bg-rose-oralia { background: $color-rose-oralia; }
.bg-vertfonce-oralia { background: $color-vertfonce-oralia; }
.bg-gris-oralia { background: $color-gris-oralia; }
.bg-grisclair-oralia { background: $color-grisclair-oralia; }


//-------------------------------------------------------------------
//        HOME PAGE
//-------------------------------------------------------------------

.top-index-btn {
	 text-align: right;
	 padding: 15px 0;
	 & > * {
		  display: inline-block;
		  vertical-align: middle;
		  text-align: right;
		  margin-left: 5px;
	 }
}

.logo-home { margin-top: 100px; }

.mini-moteur {
	 @include background-image(linear-gradient(top, #f8f8f8 0%, #e0e0e0 100%));
	 border: 1px solid #e0e0e0;
}

.btn.bouton-rechercher-moteur {
	 padding-top: 4px;
	 padding-bottom: 4px;
	 background: #006139 none repeat scroll 0 0;
	 border: 1px solid #ccc;
	 color: #FFF;
	 &:hover {
		  background-color:#00482a;
	 }
}

// OPERATION ORALIA

.margin-bottom-neg-57 {
	margin-bottom: -57px;
}

.op-deco {
	 position: absolute;
	 top: 40px;
	 // top: 100px;
	 // max-width: 500px;
}
.op-deco-int {
	 position: fixed;
	 top: 246px;
	 bottom: auto;
	 &.op-deco-01 { top:290px;  }
}
// .op-deco-01 { left: 20px; }
.op-deco-02 { right: 200px; z-index: 999; }


.op-mobile {
	text-align: center;
}

.pastille-op {
	 position: absolute;
	 top: 5px; right: 5px;
	 z-index: 500;
}

.op-tablet-home {
	display: none;
}


@media (min-width: 1790px) {
	.op-tablet-home { display: none; }
 	 aside.aside-home-1 {
 		 padding-bottom: 200px;
 	 }
}


@media (max-width: 1790px) {
    // .op-deco { display: none; }
    .op-deco-top { display: none; }
}

@media (max-width: 1280px) {
	.op-deco {
		// max-width: 300px;
	}
	.op-deco-02 {
		right: -20px;
	}
}

@media (max-width: 1280px) {
	.op-deco {
		// max-width: 230px;
	}
	.op-deco-02 {
		right: -20px;
	}	
}

@media (max-width: 768px) {
	.op-deco {
		display: none;
	}
}

@media (max-width: 414px) {
	.op-deco {
		display: none;
	}
}

.btn-transac {
	 background-color: $color-rose-oralia;
	 color: $color-body;
	 border: 0;
	 &:hover {
		  background-color: darken($color-rose-oralia,15);
	 }
}

.bg-inside > .container {
	 position: relative;
	 z-index: 5;
}




//-------------------------------------------------------------------
//        MENU HOME PAGE
//-------------------------------------------------------------------

.bloc-index {
	 & > div {
		  transition: all .3s;
		  position: relative;
		  cursor: pointer;
		  &:hover { box-shadow: none; }
	 }
	 & > a {
		  transition: all .3s;
		  display: block;
		  &:hover { box-shadow: none; }
	 }
}

.bloc-index-sub {
	 display: none;
	 min-width: 100%;
	 vertical-align: top;
	 position: absolute;
	 bottom: 160px;
	 left: 0;
	 padding: 20px;
	 text-align: left;
}

.sub-links {
	 display: table-cell;
	 vertical-align: top;
	 & a {
		  display: block;
		  padding: 3px 10px;
		  color: $color-body;
		  white-space: pre;
		  transition: background-color .3s;
		  &:hover {
				text-decoration: none;
		  }
	 }
	 & a + a {
		  margin-top: 3px;
	 }
}

.sub-links-menu-metiers {
	 display: table-cell;
	 vertical-align: top;
	 & a {
		  display: block;
		  padding: 3px 10px;
		  color: #000;
		  white-space: pre;
		  transition: background-color .3s;
		  &:hover {
				text-decoration: none;
		  }
	 }
	 & a + a {
		  margin-top: 3px;
		  margin-left: 3px;
	 }
}

.mn-copro,
#sub-copro {
	 border: 1px solid darken($color-bleu-oralia,10%);
}
#sub-copro {
	 background-color: $color-bleu-oralia;
	 & .sub-links a {
		  background-color: lighten($color-bleu-oralia,3%);
		  &:hover {
				background-color: darken($color-bleu-oralia,3%);
		  }
	 }
	 & .sub-arrow {
		  border-color: $color-bleu-oralia transparent transparent transparent;
	 }
}

.mn-gestion,
#sub-gestion {
	 border: 1px solid darken($color-vert-oralia,10%);
}
#sub-gestion {
	 background-color: $color-vert-oralia;
	 & .sub-links a {
		  background-color: lighten($color-vert-oralia,3%);
		  &:hover {
				background-color: darken($color-vert-oralia,3%);
		  }
	 }
	 & .sub-arrow {
		  border-color: $color-vert-oralia transparent transparent transparent;
	 }
}

.mn-location,
#sub-location {
	 border: 1px solid darken($color-orange-oralia,10%);
}
#sub-location {
	 background-color: $color-orange-oralia;
	 & .sub-links a {
		  background-color: lighten($color-orange-oralia,3%);
		  &:hover {
				background-color: darken($color-orange-oralia,3%);
		  }
	 }
	 & .sub-arrow {
		  border-color: $color-orange-oralia transparent transparent transparent;
	 }
}

.mn-transac,
#sub-transac {
	 border: 1px solid darken($color-rose-oralia,20%);
}
#sub-transac {
	 background-color: $color-rose-oralia;
	 & .sub-links a {
		  background-color: lighten($color-rose-oralia,3%);
		  &:hover {
				background-color: darken($color-rose-oralia,3%);
		  }
	 }
	 & .sub-arrow {
		  border-color: $color-rose-oralia transparent transparent transparent;
	 }
}

.mn-oralia,
#sub-oralia {
	 border: 1px solid darken($color-vertfonce-oralia,10%);
}
#sub-oralia {
	 background-color: $color-vertfonce-oralia;
	 & .sub-links a {
		  background-color: lighten($color-vertfonce-oralia,3%);
		  &:hover {
				background-color: darken($color-vertfonce-oralia,3%);
		  }
	 }
	 & .sub-arrow {
		  border-color: $color-vertfonce-oralia transparent transparent transparent;
	 }
}

.mn-agence,
#sub-agence {
	 border: 1px solid darken($color-gris-oralia,10%);
}
#sub-agence {
	 background-color: $color-gris-oralia;
	 & .sub-links a {
		  background-color: lighten($color-gris-oralia,3%);
		  &:hover {
				background-color: darken($color-gris-oralia,3%);
		  }
	 }
	 & .sub-arrow {
		  border-color: $color-gris-oralia transparent transparent transparent;
	 }
}

.sub-annonce {
	 display: table-cell;
	 vertical-align: top;
	 padding-left: 20px;
	 & a {
		  display: block;
		  position: relative;
		  width: 250px;
		  height: 186px;
		  background-size: cover;
		  background-repeat: no-repeat;
		  border-width: 5px;
		  border-style: solid;
		  & .sub-annonce-ttl {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				padding: 5px;
				color: $color-body;
				font-size: .9em;
				line-height: 1.2;
				background-color: rgba(0, 0, 0, 0.6);
		  }
	 }
}

#sub-location a { border-color: lighten($color-orange-oralia,5%); }
#sub-transac a { border-color: lighten($color-rose-oralia,5%); }

.menu-responsive > ul > li a {
	 font-weight: normal;
	 font-size: 1.2em;
}

.list-perso {
	 background-color: $color-body;
	 opacity: .7;
	 color: $color-content;
	 padding-left: 1.4em;
	 padding-top: .5em;
	 padding-bottom: .5em;
	 text-indent: -1.4em;
	 font-size: 1.4em;
	 li  {
		  margin: .6em 0;
		  line-height: 1.4;
	 }
}

.list-perso-2 {
	 font-size: 1.2em;
	 padding-left: 1.2em;
	 text-indent: -1.2em;
	 li {
		  margin: .5em 0;
		  line-height: 1.4;
	 }
}


//-------------------------------------------------------------------
//        MENU INTERNE
//-------------------------------------------------------------------

.menu-principal, .menu-responsive {
	 > li > a {
		  padding: 0px 4px;
		  font-size:0.70em;
	 }
	 .menu-copro {
		  a:hover {
				background-color:$color-bleu-oralia;
		  }
	 }
	 .menu-gestion {
		  a:hover {
				background-color:$color-vert-oralia;
		  }
	 }
	 .menu-location {
		  a:hover, .menu-sub-on, .menu-sub  {
				background-color:$color-orange-oralia;
		  }
		  .menu-sub a {
				border-bottom-color: darken($color-orange-oralia, 5%);
				&:hover {
					 background-color: darken($color-orange-oralia, 5%);
				}
		  }
	 }
	 .menu-transaction {
		  a:hover, .menu-sub-on, .menu-sub {
				background-color:$color-rose-oralia;
		  }
		  .menu-sub a {
				border-bottom-color: darken($color-rose-oralia, 10%);
				&:hover {
					 background-color: darken($color-rose-oralia, 5%);
				}
		  }
	 }
	 .menu-pourquoi {
		  a:hover, .menu-sub-on, .menu-sub {
				background-color:$color-vertfonce-oralia;
		  }
		  .menu-sub a {
				border-bottom-color: darken($color-vertfonce-oralia, 10%);
				&:hover {
					 background-color: darken($color-vertfonce-oralia, 5%);
				}
		  }
	 }
	 .menu-espaceclient {
		  a:hover, .menu-sub-on, .menu-sub-perso {
				background-color:$color-vertfonce-oralia;
		  }
	 }

	 .menu-agence {
		  a:hover {
				background-color:$color-gris-oralia;
		  }
	 }
}

.menu-responsive {
	 > ul > li {
		  padding: 0;
	 }
	 > ul > li > a {
		  font-size: 1em;
		  text-transform: uppercase;
		  color: $color-nav-footer;
		  padding: 10px;
		  &:hover {
				color: $color-body;
		  }
	 }
	 .menu-sub {
		  margin-top: 0;
	 }
	 .menu-sub-on {
		  color: $color-body;
	 }
}

li.menu-copro.bg-bleu-oralia a {
	 color:$color-primary;
}

li.menu-gestion.bg-vert-oralia a {
	 color:$color-primary;
}

li.menu-location.bg-orange-oralia a {
	 color:$color-primary;
}

li.menu-transaction.bg-rose-oralia a {
	 color:$color-primary;
}

li.menu-pourquoi.bg-vertfonce-oralia a {
	 color:$color-primary;
}

li.menu-agence.bg-gris-oralia a {
	 color:$color-primary;
}



//-------------------------------------------------------------------
//        FORM EXTRANET
//-------------------------------------------------------------------

#form-extranet {
	 display: none;
	 position: absolute;
	 right: 5px;
	 top: 55px;
	 background-color: darken($color-body, 4%);
	 padding: 15px;
}

.menu-principal #form-extranet,
.menu-responsive #form-extranet{
	 display: block;
	 position: static;
	 background: none;
	 padding: 0;
}



//-------------------------------------------------------------------
//        BLOCS SERVICES HOME PAGE
//-------------------------------------------------------------------

.service-bloc {
	 display: block;
	 background-color: #f3f3f1;
	 border-bottom-width: 6px;
	 border-bottom-style: solid;
	 padding: 20px;
	 text-align: center;
	 color: $color-font-body;
	 transition: background-color .3s;
	 &.service-bloc-location {
		  border-bottom-color: $color-orange-oralia;
		  &:hover { background-color: $color-orange-oralia; }
	 }
	 &.service-bloc-oralia {
		  border-bottom-color: $color-vertfonce-oralia;
		  &:hover { background-color: $color-vertfonce-oralia; }
	 }
	 &.service-bloc-transac {
		  border-bottom-color: $color-rose-oralia;
		  &:hover { background-color: $color-rose-oralia; }
	 }
	 &.service-bloc-copro {
		  border-bottom-color: $color-bleu-oralia;
		  &:hover { background-color: $color-bleu-oralia; }
	 }
	 &:hover {
		  color: $color-body;
		  text-decoration: none;
	 }
	 & [class^="service-picto-"] {
		  display: block;
		  height: 130px;
		  background-repeat: no-repeat;
		  background-position: center center;
	 }
	 & .service-picto-coloc { background-image: url("../images/services/coloc.png"); }
	 & .service-picto-espaceclient { background-image: url("../images/services/espaceclient.png"); }
	 & .service-picto-epaiement { background-image: url("../images/services/epaiement.png"); }
	 & .service-picto-estimation { background-image: url("../images/services/estimation.png"); }
	 & .service-picto-avis { background-image: url("../images/services/avis.png"); }
	 & .service-picto-numero { background-image: url("../images/services/numero.png"); }
	 & .service-picto-convoc { background-image: url("../images/services/convoc.png"); }
	 & .service-picto-rapport { background-image: url("../images/services/rapport.png"); }
	 & .service-picto-numerique { background-image: url("../images/services/numerique.png"); }

	 &:hover .service-picto-coloc {  background-image: url("../images/services/coloc-hover.png"); }
	 &:hover .service-picto-espaceclient {  background-image: url("../images/services/espaceclient-hover.png"); }
	 &:hover .service-picto-epaiement {  background-image: url("../images/services/epaiement-hover.png"); }
	 &:hover .service-picto-estimation {  background-image: url("../images/services/estimation-hover.png"); }
	 &:hover .service-picto-avis {  background-image: url("../images/services/avis-hover.png"); }
	 &:hover .service-picto-numero {  background-image: url("../images/services/numero-hover.png"); }
	 &:hover .service-picto-convoc {  background-image: url("../images/services/convoc-hover.png"); }
	 &:hover .service-picto-rapport {  background-image: url("../images/services/rapport-hover.png"); }
	 &:hover .service-picto-numerique {  background-image: url("../images/services/numerique-hover.png"); }

	 & .service-bloc-txt {
		  display: block;
		  line-height: 1.2;
		  min-height: 40px;
		  font-size: 1em;
	 }

	 & .syndic-bloc-txt {
		  display: block;
		  line-height: 1.2;
		  min-height: 30px;
		  font-size: 0.8em;
	 }

	 & .services-bloc-txt {
		  color:#000;
		  display: block;
		  line-height: 1.2;
		  min-height: 50px;
		  font-size: 0.8em;
	 }
}



//-------------------------------------------------------------------
//        BLOCS GRP HOME PAGE
//-------------------------------------------------------------------

.grp-bloc {
	 display: block;
	 text-align: center;
	 background-color: $color-body;
	 border-bottom-width: 6px;
	 border-bottom-style: solid;
	 transition: all .3s;
	 & .grp-bloc-picto {
		  display: block;
		  text-align: center;
		  padding: 5px;
	 }
	 &.grp-bloc-copro {
		  border-bottom-color: $color-bleu-oralia;
		  & .grp-bloc-picto { background-color: $color-bleu-oralia; }
		  &:hover { background-color: $color-bleu-oralia; }
	 }

	 &.grp-bloc-gestion {
		  border-bottom-color: $color-vert-oralia;
		  & .grp-bloc-picto { background-color: $color-vert-oralia; }
		  &:hover { background-color: $color-vert-oralia; }
	 }
	 &.grp-bloc-location {
		  border-bottom-color: $color-orange-oralia;
		  & .grp-bloc-picto { background-color: $color-orange-oralia; }
		  &:hover { background-color: $color-orange-oralia; }
	 }
	 &.grp-bloc-transac {
		  border-bottom-color: $color-rose-oralia;
		  & .grp-bloc-picto { background-color: $color-rose-oralia; }
		  &:hover { background-color: $color-rose-oralia; }
	 }
	 & .grp-bloc-txt {
		  padding: 10px;
		  line-height: 1.2;
		  font-size: .95em;
		  min-height: 87px;
	 }

	 & .services-bloc-txt {
		  padding: 10px;
		  line-height: 1.2;
		  font-size: .95em;
		  min-height: 70px;
	 }

	 &:hover {
		  color: $color-body;
		  text-decoration: none;
	 }
	 &:hover .color-orange-oralia { color: $color-body; }
	 &:hover .color-rose-oralia { color: $color-body; }
}



//-------------------------------------------------------------------
//        ASIDES HOME PAGE
//-------------------------------------------------------------------

aside[class*="aside-home-"] {
	 border-bottom: 6px solid #414141;
	 &:last-child {
		  border-bottom: 0;
	 }
}

.aside-home-1 {
	 background-color: $color-body;
	padding-bottom: 50px;
}

.aside-home-2,
.aside-home-3 {
	 padding-top: 80px;
	 padding-bottom: 150px;
}

.aside-home-4,
.aside-home-5 {
	 padding: 50px 0;
}


//-------------------------------------------------------------------
//        MAP AGENCES
//-------------------------------------------------------------------

.map-agence {
	 position: relative;
}

.map-marker {
	 position: absolute;
	 width: 15px;
	 height: 15px;
	 background: url("../images/maps/map-marker.png") center center no-repeat;
}

.map-siege {
	 position: absolute;
	 width: 20px;
	 height: 20px;
	 background: url("../images/maps/map-siege.png") center center no-repeat;
}

.map-agence .tooltip-inner {
	 background-color: $color-action;
	 color: $color-body;
	 border: 1px solid darken($color-action, 5%);
	 padding: 10px;
	 font-size: 1.1em;
}

.map-agence .tooltip.top > .tooltip-arrow { border-top: 5px solid darken($color-action, 5%); }
.map-agence .tooltip.right > .tooltip-arrow { border-right: 5px solid darken($color-action, 5%); }
.map-agence .tooltip.bottom > .tooltip-arrow { border-bottom: 5px solid darken($color-action, 5%); }
.map-agence .tooltip.left > .tooltip-arrow { border-left: 5px solid darken($color-action, 5%); }



//-------------------------------------------------------------------
//        BLOCS GRP HOME PAGE
//-------------------------------------------------------------------

.menu-sub-bg-copro {background:$color-bleu-oralia;}
.menu-sub-bg-gestion {background:$color-vert-oralia;}
.menu-sub-bg-loc {background:$color-orange-oralia;}
.menu-sub-bg-transac {background:$color-rose-oralia;}
.menu-sub-bg-pq {background:$color-vertfonce-oralia;}



//-------------------------------------------------------------------
//        PAGE CHOISIR ORALIA
//-------------------------------------------------------------------

[class*="pub-cadre-"] {
	 background-repeat: no-repeat;
	 background-color: #eee;
	 background-position: center center;
}

.pub-cadre-oralia {	background-image: url('../images/pub/pub-quisommes.png'); }
.pub-cadre-qui { background-image: url('../images/pub/pub-quisommes.png'); }
.pub-cadre-reseau { background-image: url('../images/pub/pub-reseau.png'); }
.pub-cadre-services { background-image: url('../images/pub/pub-services.png'); }
.pub-cadre-approche { background-image: url('../images/pub/pub-approche.png'); }
.pub-cadre-recrutement { background-image: url('../images/pub/pub-recrutement.png'); }
.pub-cadre-style { background-image: url('../images/pub/pub-style.png'); }

.zone-pub{ height:260px; }
.zone-pub p {min-height:75px;}



//-------------------------------------------------------------------
//        PERSO RESULTAT DE RECHERCHE
//-------------------------------------------------------------------

.bouton-selection-annonces-location {
	 color:$color-orange-oralia;
	 background:$color-block;
	 &:hover {
		  color:$color-orange-oralia;
	 }
}

.creer-alerte-email-location  {
	 color:$color-block;
	 background:$color-orange-oralia;
	 border: 1px solid #E48E00;
	 &:hover {
		  background:#E48E00;
		  border: 1px solid #E48E00;
	 }
}

.bouton-raz-location {
	 color:$color-block;
	 background:$color-orange-oralia;
	 border: 1px solid #E48E00;
	 &:hover {
		  background:#E48E00;
		  border: 1px solid #E48E00;
	 }
}

.bouton-rechercher-location  {
	 color:$color-block;
	 background:$color-orange-oralia;
	 border: 1px solid #E48E00;
	 &:hover {
		  background:#E48E00;
		  border: 1px solid #E48E00;
	 }
}

.nb-annonces-location {
	 color:$color-orange-oralia;
}

.h2-title-moteur-location {
	 color:$color-orange-oralia;
}

.bouton-change-location {
	 background:$color-orange-oralia;
	 border:1px solid darken($color-orange-oralia,10);
	 &:hover {
		  background:darken($color-orange-oralia,10);
	 }
}

.recherche-annonces-lien-location .typo-action {
	 color:$color-orange-oralia;
}

.picto-alerte-recherche-location {
	 color:$color-orange-oralia;
}

.alerte-recherche-location{
	 color:$color-orange-oralia;
}

.bouton-alerte-moteur2-location {
	 background:$color-orange-oralia;
	 border:1px solid darken($color-orange-oralia,10);
	 &:hover {
		  background:darken($color-orange-oralia,10);
	 }
}

.breadcrumb-location {
	 background:$color-orange-oralia;
	 border:1px solid darken($color-orange-oralia,10);
}

.bouton-selection-annonces-vente  {
	 color:$color-rose-oralia;
	 background:$color-block;
	 &:hover {color:$color-rose-oralia;
	 }
}

.creer-alerte-email-vente   {
	 color:$color-block;
	 background:$color-rose-oralia;
	 border: 1px solid #d9486c;
	 &:hover {
		  background:#d9486c;
		  border: 1px solid #d9486c;
	 }
}

.bouton-raz-vente    {
	 color:$color-block;
	 background:$color-rose-oralia;
	 border: 1px solid #d9486c;
	 &:hover {
		  background:#d9486c;
		  border: 1px solid #d9486c;
	 }
}

.bouton-rechercher-vente   {
	 color:$color-block;
	 background:$color-rose-oralia;
	 border: 1px solid #d9486c;
	 &:hover {
		  background:#E74D74;
		  border: 1px solid #d9486c;
	 }
}

.nb-annonces-vente {
	 color:$color-rose-oralia;
}

.h2-title-moteur-vente {
	 color:$color-rose-oralia;
}

.bouton-change-vente {
	 background:$color-rose-oralia;
	 border:1px solid darken($color-rose-oralia,10);
	 &:hover {
		  background:darken($color-rose-oralia,10);
	 }
}

.recherche-annonces-lien-vente .typo-action {
	 color:$color-rose-oralia;
}

.picto-alerte-recherche-vente {
	 color:$color-rose-oralia;
}

.alerte-recherche-vente{
	 color:$color-rose-oralia;
}

.bouton-alerte-moteur2-vente {
	 background:$color-rose-oralia;
	 border:1px solid darken($color-rose-oralia,10);
	 &:hover {
		  background:darken($color-rose-oralia,10);
	 }
}

.breadcrumb-vente {
	 background:$color-rose-oralia;
	 border:1px solid darken($color-rose-oralia,10);
}

	//-------------------------------------------------------------------
	//        RECHERCHE MOBILE
	//-------------------------------------------------------------------

.recherche-sidebar {
	position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: $color-action;
	line-height: 7vh;
    .btn-sidebar {
    	display: inline-block !important;
    	width: 48vw;
    	border: none;
    	@include border-radius (0px);
    	background-color: transparent;
    	&:first-child {
    		border-right: solid 1px $color-content;
    	}
    }
}
.recherche-sidebar-vente{
background-color: $color-rose-oralia;
}


.recherche-sidebar-location{
background-color:$color-orange-oralia;
}

.rechercher-vente{
background-color: $color-rose-oralia !important;
margin-top: 20px;
}

.rechercher-location{
background-color: $color-orange-oralia !important;
margin-top: 20px;
}

		//-------------------------------------------------------------------
		//        AFFICHAGE MOTEUR
		//-------------------------------------------------------------------

#Filter_Show {
	position: absolute;
	top: 0;
	left: 0;	
	width: 100%;
	height: 100%;
	background-color: $color-body;
}	

@media only screen and (max-width : 767px) {
	#Mini_Moteur {
		display: block !important;
	}
}
#Close_Filter {
	position: absolute;
    top: 0;
    right: 1rem;
    padding: 0.8rem;
    color: $color-font-body;
    font-size: 1.2em;
	color: $color-body;
    z-index: 1500;
}

.close-filter-vente{
background-color: $color-rose-oralia;
}

.close-filter-location{
background-color: $color-orange-oralia;
}

.filter-mobile{
margin-top: 50px;
}

.control-group>select, .control-group>select>.saisie-suggest{
height: 50px;
}

.control-group>div>.saisie-suggest{
height: 50px;
}

.control-group>#idtypebien{
margin-top: 10px;
}

.filter-rechercher{
height:40px;
}
		//-------------------------------------------------------------------
		//        AFFICHAGE ALERTE
		//-------------------------------------------------------------------

#Alerte_Show {
	position: absolute;
	top: 0;
	left: 0;	
	width: 100%;
	height: 100%;
	background-color: $color-body;
	.bg-block-gradient {
		background-color: transparent;
		background-image: none;
		border: none;
		box-shadow: none;		
	}
}	

#Close_Alerte {
	position: absolute;
    top: 0;
    right: 1rem;
    padding: 0.5rem;
    color: $color-font-body;
    font-size: 2em;
}

.Close-alerte-vente {
background-color: $color-rose-oralia;
}

.Close-alerte-location {
background-color: $color-orange-oralia;
}

//-------------------------------------------------------------------
//        PAGE AGENCE
//-------------------------------------------------------------------

.bloc-agence-top .row-fluid[itemprop="address"] .span6:first-child {
	 display: none;
}

.bloc-agence-top .row-fluid[itemprop="address"] .span6 {
	 margin: 0;
	 width: 100%;
}


//-------------------------------------------------------------------
//       PERSO PAGE DETAIL
//-------------------------------------------------------------------

.detail-bloc-agence {
	 background: $color-rose-oralia;
	 color: #fff;
}

.detail-annonce-location .btn-action-no-gradient  {
	 background:$color-orange-oralia;
	 border:1px solid darken($color-orange-oralia,10);
}

.detail-annonce-location .typo-action  {
	 color:$color-orange-oralia;
}

.zone-galerie-location .btn-action {
	 background:$color-orange-oralia;
	 border:1px solid darken($color-orange-oralia,10);
}

.zone-galerie-location .btn-action-no-gradient {
	 background:$color-orange-oralia;
	 border:1px solid darken($color-orange-oralia,10);
}

.zone-galerie-location .typo-action  {
	 color:$color-orange-oralia;
}

.zone-galerie-location a  {
	 color:$color-orange-oralia;
}

.zone-galerie-location .detail-border-titre {
	 border-left: 4px solid $color-orange-oralia;
}

.zone-galerie-location .theme-default .nivo-directionNav a {
	 background-color:$color-orange-oralia !important;
}

.zone-fil-location .breadcrumb a {
	 color: $color-orange-oralia;
}

.detail-annonce-vente .btn-action-no-gradient  {
	 background:$color-rose-oralia;
	 border:1px solid darken($color-rose-oralia,10);
}

.detail-annonce-vente .typo-action  {
	 color:$color-rose-oralia;
}

.zone-galerie-vente .btn-action {
	 background:$color-rose-oralia;
	 border:1px solid darken($color-rose-oralia,10);
}

.zone-galerie-vente .btn-action-no-gradient {
	 background:$color-rose-oralia;
	 border:1px solid darken($color-rose-oralia,10);
}

.zone-galerie-vente .typo-action  {
	 color:$color-rose-oralia;
}

.zone-galerie-vente a  {
	 color:$color-rose-oralia;
}

.zone-galerie-vente .detail-border-titre {
	 border-left: 4px solid $color-rose-oralia;
}

.zone-galerie-vente .theme-default .nivo-directionNav a {
	 background-color:$color-rose-oralia !important;
}

.zone-fil-vente .breadcrumb a {
	 color: $color-rose-oralia;
}

a.bouton-ajouter-selection-detail {
	 color:$color-primary;
}

.bouton-realisation {
	 background-color:$color-rose-oralia;
	 &:hover {
		  background-color: darken($color-rose-oralia,5%);
	 }
}


//-------------------------------------------------------------------
//       FIL ARIANE
//-------------------------------------------------------------------

.breadcrumb {
	 background: #FFF linear-gradient(to bottom, #FFF 0%, #FFF 100%) repeat-x scroll 0 0;
	 border: 1px solid #FFF;
	 border-radius: 4px;
	 color: #000;
	 font-size: 1em;
	 list-style: outside none none;
	 margin: 0;
	 padding: 6px;
}

.breadcrumb a{
	 font-size: 1em;
}

.icon-v5-arrow-right-6::before {
	 color: #B3B3B3;
}



//-------------------------------------------------------------------
//        MEDIA QUERIES
//-------------------------------------------------------------------

@media only screen and (min-width: 1280px) {
	.hidden-laptop {
		display: none !important;
	}
}

@media only screen and (min-width: 768px) {
	 .btn-navbar.hidden-tablet-landscape { display: none!important; }
}

@media only screen and (max-width: 767px) {

	 .xxbiggest {
		  font-size: 2em;
		  line-height: 1;
	 }

	 .txt-big,
	 .big,
	 .list-perso,
	 .list-perso-2 { font-size: 1em; }

	 [class*="aside-home-"] { padding: 20px 0 40px 0; }
	 [class*="aside-home-"] .absolute.background-center { position: absolute; }
	 .nav-collapse { width: auto!important; }

	 .service-bloc { padding: 5px; }
	 .service-bloc [class^="service-picto-"] {
		  height: 50px;
		  background-size: contain;
		  margin: 10px 0;
	 }

	 .txt-big img.pull-left {
		  float: none;
		  margin: 15px 0;
	 }
}


//-------------------------------------------------------------------
//       COULEUR PICTO COUP DE COEUR
//-------------------------------------------------------------------
.icon-v5-heart:before{ color:$color-icone-cdc; }
.icon-v5-heart.opacity-4{ opacity:1; }


//-------------------------------------------------------------------
//       PERMET DE CACHER DEUX BOUTONS DU LISTING AGENCES
//-------------------------------------------------------------------
.bouton-biens-agence-496476 {display:none;}
.bouton-estimation-agence-496476 {display:none;}


