// VARIABLES COLORS
$color-body:#f7f7f7;
$color-content:#f7f7f7;
$color-block:#DEDEDE;
$color-primary:#FFF;
$color-secondary:#801415;
$color-action:#e4ae0f;
$color-important:#881c1d;
$color-nav-footer:#333333;

// COLOR PUB
$color-pub:"black-opacity";

// COLOR FONT BODY DEFAULT
$color-font-body:#333333;

// ICONE COUP DE COEUR
$color-icone-cdc:#881c1d;