// VAR COLORS
$color-body:#b2bbcf;
$color-content:#1e1e1e;
$color-block:#909090;
$color-primary:#1e1e1e;
$color-secondary:#97d700;
$color-action:#303030;
$color-important:#97d700;
$color-nav-footer:#fff;
// COLOR PUB
$color-pub:"white";
// COLOR FONT BODY DEFAULT
$color-font-body:#000;
// COLOR SOUS MENU
$color-sous-menu:$color-block;

