// VAR COLORS
$color-body:#cfd8dc;
$color-content:#fff;
$color-block:#fff;
$color-primary:#fff;
$color-secondary:#7998a9;
$color-action:#7998a9;
$color-important:#942922;
$color-nav-footer:#000;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;