
.BoiteMiniMoteur .MiniDiv,
.BoiteMiniMoteur,
.BoiteMiniMoteur p.MiniTitre 
{height: 30px; line-height: 30px;margin:0;padding:0;_line-height: 11px;_padding-top: 5px;}

.Patientez{ display: none; }
.BoiteMiniMoteur br { display: none; }
.BoiteMiniMoteur .MiniDiv {width: 140px;margin:0;float:left;}

.BoiteMiniMoteur p.MiniTitre{display: none;}
.BoiteMiniMoteur .MiniDivSelect, 
.BoiteMiniMoteur .MiniDivChampText
{width: 140px; float: left;}

.BoiteMiniMoteur .MiniDivSelect .MiniSelect{width: 130px;}

#MiniSelectVilles{width: 165px;}
#MiniVilles{width: 180px;}

#MiniReference{width: 130px;}
#TitreMiniReference{width: 70px; float: left;display: block;}
#MiniDivChampTextRef{width: 40px;}
#MiniInputRef{width: 40px;}

#MiniBouton{width: 133px;}
#MiniBoutonInput { width: 133px; height: 26px; }


/* spécificité accueil */

#main-engin .BoiteMiniMoteur .MiniDiv,
#main-engin .BoiteMiniMoteur,
#main-engin .BoiteMiniMoteur p.MiniTitre 
{height: 40px; line-height: 40px;margin:0;padding:0;_line-height: 11px;_padding-top: 5px;}

#MiniDivBudgetTranche{_padding-top:0px;}