$$REM$$----- liste des macros générales qui customisent la page de recherche -----$$END:REM$$
<!--#include virtual="/styles/recherche_macros_light.css" -->
<!--#include virtual="/styles/recherche_macros_site.css" -->

/* ============================== resultats annonces basic ============================== */

#RechResultat{}
/* message d'attente lors du vidage du panier */
#RechResultat #Loading{background: $$LIGHT_LOADING$$; height: 60px; font-weight: bold; color: $$LIGHT_COLORTXT2$$; text-align: center;}

/* bloc annonce */
#RechResultat .blocAnnonce{text-align: left; border: none; margin: 0 0 30px 0; background: $$LIGHT_BG_BLANC$$;}
/* typeBien */
#RechResultat .blocAnnonce .typeBien_Ctn{position: relative; background: $$LIGHT_BG02$$; padding: 3px;}
#RechResultat .blocAnnonce .typeBien_Ctn *{color: #fff !important; font-weight: bold;}
#RechResultat .blocAnnonce .typeBien_Ctn .typeBien{font-size: 18px; padding: 0 3px;}
#RechResultat .blocAnnonce .typeBien_Ctn .typeBien *{font-size: 18px;}
/* infos */
#RechResultat .blocAnnonce table.detailsAnn{width: 100%;}
#RechResultat .blocAnnonce table.detailsAnn td{padding: 0px; vertical-align: top;}
#RechResultat .blocAnnonce table.detailsAnn *{color: $$LIGHT_COLORTXT2$$;}

/* photo conteneur */
#RechResultat .blocAnnonce table.detailsAnn td.photo_wrap{width: $$BASIC_LIGHT_PHOTO_WIDTH$$;}
#RechResultat .blocAnnonce table.detailsAnn td.photo_wrap .photo_ctn {position: relative; width: $$BASIC_LIGHT_PHOTO_WIDTH$$;}


/* photo */
#RechResultat .blocAnnonce table.detailsAnn td.photo_wrap .photo_ctn{position: relative; z-index: 100;}
#RechResultat .blocAnnonce table.detailsAnn td.photo_wrap .photo_ctn a{display: block;}
#RechResultat .blocAnnonce table.detailsAnn td.photo_wrap .photo_ctn a.photo{display: block; position: relative; width: $$BASIC_LIGHT_PHOTO_WIDTH$$; border: $$LIGHT_BORDER01$$; height: $$BASIC_LIGHT_PHOTO_HEIGHT$$; margin: 0 0 5px 0; background: $$LIGHT_SANS_PHOTO$$;}
#RechResultat .blocAnnonce table.detailsAnn td.photo_wrap .photo_ctn a.photo img{display: block; width: $$BASIC_LIGHT_PHOTO_WIDTH$$; height: $$BASIC_LIGHT_PHOTO_HEIGHT$$; z-index: 150;}

#RechResultat .blocAnnonce table.detailsAnn td.photo_wrap .photo_ctn a.photo em{display: none;}
#RechResultat .blocAnnonce table.detailsAnn td.photo_wrap .photo_ctn a.photo:hover{_background: none;}
#RechResultat .blocAnnonce table.detailsAnn td.photo_wrap .photo_ctn a.photo:hover em{display: block; position: absolute; top: -180px; left: -1px; border: $$LIGHT_BORDER01$$; z-index:10; cursor: pointer;}
#RechResultat .blocAnnonce table.detailsAnn td.photo_wrap .photo_ctn a.photo:hover em img{display: block; border: $$BASIC_LIGHT_PHOTO_BORDER_ROLLOVER$$; z-index:10; cursor: pointer;}

#RechResultat .blocAnnonce table.detailsAnn td.photo_wrap .photo_ctn a.nbVisuels{font-weight: normal; color: $$LIGHT_COLORTXT1$$; padding: 2px 10px; background : $$LIGHT_PICTO_FLECHE_01$$; text-decoration: underline;}
#RechResultat .blocAnnonce table.detailsAnn td.photo_wrap .photo_ctn a.nbVisuels *{font-weight: normal; color: $$LIGHT_COLORTXT1$$; text-decoration: underline;}
#RechResultat .blocAnnonce table.detailsAnn td.photo_wrap .photo_ctn a.nbVisuels:hover,
#RechResultat .blocAnnonce table.detailsAnn td.photo_wrap .photo_ctn a.nbVisuels:hover *,{text-decoration: none;}

/* si_exclusif */
#RechResultat .blocAnnonce table.detailsAnn td.photo_wrap .photo_ctn .exclusif{position: absolute; width: $$EXCLUSIF_WIDTH$$; height: $$EXCLUSIF_HEIGHT$$; background: url($$EXCLUSIF_PICTO$$) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$EXCLUSIF_PICTO$$', sizingMethod='scale'); z-index:1;}
/* si_coupdecoeur */
#RechResultat .blocAnnonce table.detailsAnn td.photo_wrap .photo_ctn .coupdecoeur{position: absolute; top:10px; right:10px; width: $$CDC_WIDTH$$; height: $$CDC_HEIGHT$$; background: url($$CDC_PICTO$$) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$CDC_PICTO$$', sizingMethod='scale'); z-index:2;}
/* si_promo (update 02.02.2009) */
#RechResultat .blocAnnonce table.detailsAnn td.photo_wrap .photo_ctn .promo{position: absolute; top: 0; left: 0; width: $$PROMO_WIDTH$$; height: $$PROMO_HEIGHT$$; background: url($$PROMO_PICTO$$) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$PROMO_PICTO$$', sizingMethod='scale'); z-index:1;}

/* conteneur infos annonce */
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn{}

/* prix */
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .prix{float: left; font-size: 22px; font-weight: bold; color: $$LIGHT_COLORTXT1$$; background: $$LIGHT_PICTO_FLECHE_01$$; padding: 3px 0 3px 25px;}
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .prix *{color: $$LIGHT_COLORTXT1$$;}
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .prix sup{font-weight: normal;}
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .prix .rente{font-size: 14px;}

/* prix charges, honoraires et garantie */
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .prix .prixCharges {}
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .prix .prixCharges .charges,
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .prix .prixCharges .honoraires,
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .prix .prixCharges .garantie{font-size: 10px; color: $$LIGHT_COLORTXT2$$;}
/**/
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .maj{float: right; color: $$LIGHT_COLORTXT2$$; text-align: right; padding: 3px 0; font-size: 11px;}
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .maj *{color: $$LIGHT_COLORTXT2$$; font-size: 11px;}
/**/
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn{position: relative; z-index: 10; clear: both; color: $$LIGHT_COLORTXT2$$; background: $$LIGHT_LIGNE_POINTILLES$$; padding: 3px 0px 0 0;}
/* libelle */
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .libelle{font-size: 20px; font-weight: bold; color: $$LIGHT_COLORTXT1$$; background: $$LIGHT_PICTO_FLECHE_01$$; padding: 0 0 0 25px;}
/* surface */
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .surface{font-size: 11px; font-weight: bold; color: $$LIGHT_COLORTXT2$$; padding: 0 0 0 25px;}
/* surface terrain */
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .terrain{font-size: 11px; font-weight: bold; color: $$LIGHT_COLORTXT2$$; padding: 0 0 0 25px;}
/* ville */
#RechResultat .texte_bien_liste2bis{font-size: 14px;}
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .ville{font-size: 16px; font-weight: bold; color: $$LIGHT_COLORTXT1$$; background: $$LIGHT_PICTO_FLECHE_01$$; padding: 0 0 0 25px;}
/* update 18.02.2009 > ajout infos locs vacances */
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .vac{font-weight: bold; font-size: 14px; background: $$LIGHT_PICTO_FLECHE_01$$; padding: 1px 0 0 25px;}
/**/
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .quartier{font-size: 11px; font-weight: bold; color: $$LIGHT_COLORTXT2$$; padding: 0 0 0 25px;}
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .descr{font-size: 13px; font-weight: normal; color: $$LIGHT_COLORTXT2$$; padding: 5px 0 0 25px; text-align: justify; background: $$LIGHT_PICTO_DESCR$$; min-height: 20px; _height: 20px; word-wrap: break-word;}
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .prox{font-size: 11px; font-weight: bold; color: $$LIGHT_COLORTXT2$$; padding: 0 0 0 25px; background: $$LIGHT_PICTO_PROX$$;}
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .metro_Ctn{padding: 5px 0 0 0;}
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .metro_Ctn *{font-size: 11px; font-weight: bold; color: $$LIGHT_COLORTXTMETRO$$; font-style: normal;}
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .metro_Ctn .metro{float: left; padding: 5px 25px; background: $$LIGHT_PICTO_METRO$$;}
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .metro_Ctn .rer{float: left; padding: 5px 25px; background: $$LIGHT_PICTO_RER$$;}
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .metro_Ctn .tcl{float: left; padding: 5px 25px; background: $$LIGHT_PICTO_TCL$$;}
/* contact annonce */
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .contactAnn{position: absolute; top: 10px; right: 0; _right: 5px;}
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .contactAnn_bg{}
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .contactAnn_ctn{background: $$LIGHT_BG01$$; border: $$LIGHT_BORDER01$$; padding: 10px;}
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .contactAnn *{color: $$LIGHT_COLORTXT1$$;}
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .contactAnn p{z-index: 500; padding: 2px 10px 2px 25px; font-weight: bold;}
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .contactAnn a:hover{}
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .contactAnn p.ctc{font-size: 10px; padding: 2px 0; color: $$LIGHT_COLORTXT2$$;}
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .contactAnn p.nom{padding: 2px 0;}
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .contactAnn p.tel{background: $$LIGHT_PICTO_AGENCE_TEL$$;}
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .contactAnn p.tel span{display: none;}
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .contactAnn p.mail{background: $$LIGHT_PICTO_AGENCE_MAIL$$;}
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .contactAnn p.mail *{color: $$LIGHT_COLORTXT1$$;}
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .contactAnn a.url{display: block; background: $$LIGHT_PICTO_AGENCE_URL$$; padding: 2px 10px 2px 25px;}
/* 2009-10-22 : incl_ref_tags */
#RechResultat .blocAnnonce table.detailsAnn td.tags_ctn{filter : alpha(opacity=60); -moz-opacity : 0.6; opacity : 0.6;}
#RechResultat .blocAnnonce table.detailsAnn td.tags_ctn *{font-size: 10px; font-weight: normal; text-decoration: none;}
#RechResultat .blocAnnonce table.detailsAnn td.tags_ctn .tags{clear: both; border: $$LIGHT_BORDER01$$; padding: 5px; text-align: justify;}
#RechResultat .blocAnnonce table.detailsAnn td.tags_ctn .tags strong{}
#RechResultat .blocAnnonce table.detailsAnn td.tags_ctn .tags a{text-transform:lowercase;}
#RechResultat .blocAnnonce table.detailsAnn td.tags_ctn .tags a:hover{text-decoration: underline;}
/**/
#RechResultat .blocAnnonce .detailAnn{background: $$LIGHT_BG01$$; padding: 5px 10px;}
#RechResultat .blocAnnonce .detailAnn *{color: $$LIGHT_COLORTXT2$$; font-size: 11px; font-weight: bold;}
/* selection annonce */
#RechResultat .blocAnnonce .detailAnn .ajoutSelection{float: left}
#RechResultat .blocAnnonce .detailAnn .ajoutSelection a{color: $$LIGHT_COLORTXT1$$; background: $$LIGHT_PICTO_FLECHE_01$$; padding: 1px 0 1px 10px;}
#RechResultat .blocAnnonce .detailAnn .ajoutSelection a:hover{}
#RechResultat .blocAnnonce .detailAnn .ajoutSelection .selectionOk{color: $$LIGHT_COLORTXT_SELECTION_OK$$; background: $$LIGHT_PICTO_FLECHE_02$$; padding: 1px 0 1px 10px;}
/* suppression annonce */
#RechResultat .blocAnnonce .detailAnn .supprimerSelection{float: left}
#RechResultat .blocAnnonce .detailAnn .supprimerSelection a{color: $$LIGHT_COLORTXT1$$; background: $$LIGHT_PICTO_FLECHE_01$$; padding: 1px 0 1px 10px;}
#RechResultat .blocAnnonce .detailAnn .supprimerSelection a:hover{}
/* lien detail */
#RechResultat .blocAnnonce .detailAnn a.lienDetail{display: block; float: right; color: $$LIGHT_COLORTXT1$$; padding: 1px 0 1px 10px; margin: 0 5px 0 0; background: $$LIGHT_PICTO_FLECHE_01$$;}
#RechResultat .blocAnnonce .detailAnn a.lienDetail:hover{}
