@font-face {
	font-family: 'OpenSans-Light';
	src: url('$$_$$styles/typos/opensanslight.eot');
	src: url('$$_$$styles/typos/opensanslight.eot?#iefix') format('embedded-opentype'),
			 url('$$_$$styles/typos/opensanslight.woff') format('woff'),
			 url('$$_$$styles/typos/opensanslight.ttf') format('truetype'),
			 url('$$_$$styles/typos/opensanslight.svg#opensanslight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('$$_$$styles/typos/opensans-semibold-webfont.eot');
    src: url('$$_$$styles/typos/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('$$_$$styles/typos/opensans-semibold-webfont.woff') format('woff'),
         url('$$_$$styles/typos/opensans-semibold-webfont.ttf') format('truetype'),
         url('$$_$$styles/typos/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
		
body { margin: 0; padding:0; background: #000; text-align:center; }
div,td { font-family: 'open_sanssemibold', Arial, Helvetica, sans-serif; font-size:12px; color: #fff; }
img { border:none; display: inline; }
table  { border-collapse: collapse; border-spacing: 0;border:none; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; font-size: 11px; }
a { text-decoration: none; color: #ecb429; }
a:hover { text-decoration: none; color: #fff; }
p { margin:10px 0; }

.clear { clear: both; }
.fleft { float: left; }
.fright { float: right; }

/*----------------------------------------------------*/

.wrap { width: 960px; margin: 0 auto; text-align: left; position: relative; }

.headerimg { background-position: center top; background-repeat: no-repeat; width:100%; height:433px;position:absolute; }
#headerimg1{background: url($$_$$images/photo1.jpg) no-repeat center center;}
#headerimg2{background: url($$_$$images/photo2.jpg) no-repeat center center;}
#headerimg3{background: url($$_$$images/photo3.jpg) no-repeat center center;}
#headerimg4{background: url($$_$$images/photo4.jpg) no-repeat center center;}

.bg-head { width: 100%; background: url($$_$$images/bg_head.gif) repeat-x; height: 171px; position: fixed; z-index: 99999; top: 0; left: 0; }
.logo { height: 118px; overflow: hidden; padding-top: 5px; }
.logo a {margin-top:2px; display:block;}
#bloc-moteur { width: 590px; margin-left: 35px; padding-top: 22px; position: relative; }

#link_suivi {margin-right:5px;color: #000;font-size: 18px;}
#link_suivi:hover {color:#F29000;}
.flag { position: absolute; top: 26px; right: 0; }
.flag a { float: left; padding-left: 3px; }

.mn { height: 48px; position: relative; }
.mn ul { margin: 0; padding: 0; }
.mn ul li { float: left; list-style-type: none; position:relative;}
.mn ul li a { font-size: 16px; font-family:"open_sanssemibold",Arial,sans-serif; text-transform: uppercase; color: #000; padding: 0 16px; display: block; line-height: 48px; }
.mn ul li a:hover, .mn ul li:hover > a { background: #000; color: #ff6700; }

.mn ul li ul { display: none; position: absolute; z-index:10; background: url($$_$$images/bg_ssmenu.gif) top left no-repeat #1d1f23; opacity: 0.90; top: 48px; text-align: left; left:0; right:-50px; padding:20px;}
.mn ul li ul li { float: none; display: block;}
.mn ul li ul li a {text-transform: none; color:#fff; text-align:left; display:block; font-size: 14px; padding:5px 0; line-height: normal;}
.mn ul li ul li a:hover { background:none; color: #ff6700; }
.mn ul li:hover ul { display: block; }


.bg-head .langue { width: 100px; padding-top: 80px; }
.bg-head .langue a { background: url($$_$$images/bg_lg.gif) no-repeat; line-height: 23px; text-align: center; float: left; display: block; font-size: 10px; color: #fff; width: 23px; margin-right: 2px; }
.bg-head .langue a:hover { color: #b3a56e; }

#bg-color { background: #000; border-bottom: 1px solid #000; height: 433px; margin-top: 171px; }
#bg-img { height: 433px; overflow: hidden; }

#txt_home { font-size: 16px; text-align: center; padding-top: 25px; color:#000; }
#txt_home a:hover {color:#ECB429; text-decoration:underline;}

#content { width: 100%; background: #fff; }
#navigue { min-height: 400px; padding: 185px 10px 25px 10px; background:#151515; }

#wrapper { background: #fff; width: 100%; }
#bg-content { padding: 30px 0 45px 0; }
.ttl-select { text-align: center; font-size: 16px; color:#000;}
.ttl-select strong { display: block; font-size: 20px; text-transform: uppercase; font-weight: normal; }

a.view { font-size: 15px; font-style: italic; position: absolute; top: 60px; right: 0px; color: #000; text-decoration: underline; font-family:"OpenSans-Light",Arial,sans-serif;}
a.view:hover { color: #ECB429; }
#bloc-cdc { height: 165px; margin-top: 20px; }

.bg-estim-fr { background: url($$_$$images/bg_estim_fr.gif) no-repeat; height: 160px; }
.bg-estim-en { background: url($$_$$images/bg_estim_en.gif) no-repeat; height: 160px; }
.main-estim { width: 435px; padding: 18px 0 0 355px; color: #ff6700; font-size: 26px; text-transform: uppercase; line-height: 28px; font-family:"OpenSans-Light",Arial,sans-serif;}
.main-estim strong { display: block; }
.main-estim a { float: left; color: #000; background: #ff6700; line-height: 40px; width: 200px; text-align: center; font-size: 16px; text-transform: uppercase; margin-right: 8px; margin-top: 15px; }
.main-estim a:hover { color: #fff; }

.wrap-foot { width: 100%; background: #000; padding: 15px 0; margin: 0 auto; border-top: 1px solid #151515; }

.main-foot { color: #ff6700; font-size: 12px; text-transform: uppercase; width: 1070px; text-align: center; margin: 0 auto; font-family:"OpenSans-Light",Arial,sans-serif;}
.main-foot a { color: #ff6700; }
.main-foot a:hover { color: #fff; }
.pic-rss { background: url($$_$$images/pic_rss.gif) no-repeat; line-height: 15px; padding-left: 22px; margin-right: 15px; }
.pic-fb { background: url($$_$$images/pic_fb.gif) no-repeat; line-height: 15px; padding-left: 22px; margin-right: 15px; }
.pic-tw { background: url($$_$$images/pic_tw.gif) no-repeat; line-height: 15px; padding-left: 22px; }

.ttl-pages { color: #ed6e00; font-size: 20px; text-transform: uppercase; margin-bottom: 10px; }
#txt_int h2 {font-weight:normal; font-size:16px; color:#ff6700;}
#txt_int ul li strong {font-weight:normal; color:#ff6700;}
#txt_int ul li {margin:10px 0;}
.datas td,.data th {color:#000;}
