@import "color";
// BG SOLO
$bg-uni:yes;

// PICTURE BG OU DEGRADE CSS BG COLOR PRIMARY vs SECONDARY vs BLOCK > SI NO ALL = BG BODY UNI
$picture-bg:yes;
$picture-bg-url:'../images/dark_wall.png';
$picture-bg-repeat-horizontal:no;

// SIZE SCROLLING
$height-scrolling:800;

// SIZE NAVIGATION
$height-navigation:150;

$margin-top-under-nav-fixe:150;

// HAUTEUR PHOTOS LISTING (235px par défaut)
$listing-img-height:400px;

// VAR SITE TYPO
$font-body:"Source Sans Pro",verdana,sans-serif;
$font-title:"Oswald",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text:1.4em;
$font-size-title:1.7em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:normal;

// ARRONDI POUR LES EFFETS SUR LI > A:HOVER/FIL ARIANE/BOUTON
$arrondi:no;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS LIB2
@import "../../../slagence_X_V5/sources/scss/boutons/lib2";

// IMPORT PUB LIB BOITE
@import "../../../slagence_X_V5/sources/scss/pubs/lib1";

// IMPORT PUB LIB5
@import "../../../slagence_X_V5/sources/scss/pubs/lib5";

// IMPORT TEMPLATE PARIS
@import "../../../slagence_X_V5/sources/scss/templates/helsinki";

// IMPORT MODULE ANNONCES5
@import "../../../slagence_X_V5/sources/scss/modules/annonces18";

// IMPORT MODULE EXTRA
@import "../../../slagence_X_V5/sources/scss/extra/extra5";

// IMPORT DETAIL MOBILEFIRST
@import "../../../slagence_X_V5/sources/scss/recherche/mobilefirst";


// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";

.titre-pub, .titre-extra {
color:$color-primary;
}

.container {
    width: auto;
    max-width: 1280px;
    @media only screen and (max-width : 1310px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.module-annonces-homepage .height-180 {
    height: 265px;
}

#PopContact {
	position: fixed;
    right: 0;
    bottom: 0;
    width: 20rem;
    text-align: center;
    font-weight: bold;
    background-color: $color-action;
    padding: 20px;
    @include border-top-radius(8px);
    color: $color-nav-footer;
	z-index: 1500;
}


//------------------------------------------------------------------------------------------------
//      PERSO SPI33000
//------------------------------------------------------------------------------------------------

//------------------------------------------------------------------------------------------------
//      GENERAL
//------------------------------------------------------------------------------------------------

    //------------------------------------------------------------------------------------------------
    //      MARGIN -- PADDING
    //------------------------------------------------------------------------------------------------

.padding-40 {
    padding: 40px;
    @media only screen and (max-width : 768px) {
        padding: auto;
    }
}


    //------------------------------------------------------------------------------------------------
    //      BACKGROUND
    //------------------------------------------------------------------------------------------------

.bg-block {
    background-color: $color-block;
}

.bg-body {
    background-color: $color-body;
}

    //------------------------------------------------------------------------------------------------
    //      ANIMATION
    //------------------------------------------------------------------------------------------------

/* ----------------------------------------------
 * Generated by Animista on 2019-1-23 11:46:47
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.7s both;
	        animation: scale-up-center 0.7s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-1-23 11:49:57
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-hor-right
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-hor-right {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
}
@keyframes scale-up-hor-right {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
}

.scale-up-hor-right {
	-webkit-animation: scale-up-hor-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-hor-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}



    //------------------------------------------------------------------------------------------------
    //      MENU & NAV
    //------------------------------------------------------------------------------------------------

.navigation {
	background-color: $color-primary;
}

.menu-principal {    
    >li {
        background:none;    
        padding: 0px 30px;
        border: none;
        margin-top: 70px;
        @media only screen and (max-width : 1280px) {
            // padding: 0 4px;
        }
        &:hover {
            background:none;
        }
        >a {   
            line-height: 20px;         
            &:after {
                display: block;
                content: "";
                width: 0%;
                height: 2px;
                background-color: $color-primary;
                margin-top: 10px;
                -webkit-transition: all .7s ease;
                        transition: all .7s ease;
             }
             &:hover {
                color: $color-nav-footer;               
                &:after { 
                    background-color: $color-nav-footer; 
                    width: 50%;
                }
             }
        }
    }
}

li.menu-tel {
    font-size: 1.6em;
    >a:after {
        &:hover {
            width: 0%;
        }
    }
}

//------------------------------------------------------------------------------------------------
//      INDEX
//------------------------------------------------------------------------------------------------

    //------------------------------------------------------------------------------------------------
    //      MOTEUR
    //------------------------------------------------------------------------------------------------

.homepage-video {
	width: 100%;
    margin-top: -100px;
}

.form-inline{ 
    margin-left: 35px;
    select {
        height:50px;
        border:none;            
    }
}

.saisie-suggest {
    height: 50px !important;    
    border:none !important;    
}

.bouton-rechercher-moteur {
    height: 50px;
    line-height: 40px;
}

.form-inline .opacity-9 {
    opacity: 0.5;
}

    //------------------------------------------------------------------------------------------------
    //      SERVICE SEO
    //------------------------------------------------------------------------------------------------

.bg-gestion {
	background-image: url('../images/bg-gestion.png');
}

.bg-estimez {
	background-image: url('../images/bg-estimez.png');
}

.aside-txt-home .bg-primary {
    // @include background-image(linear-gradient($color-body 40%, $color-block 40%, $color-block));
    background-color: $color-block;
}

    //------------------------------------------------------------------------------------------------
    //      MODULE -- TXT
    //------------------------------------------------------------------------------------------------

.aside-home-2 {
	margin-top: 80px;
}

.aside-home-2 .bg-secondary{
    background-color: $color-body;
}

    //------------------------------------------------------------------------------------------------
    //      EXTRA
    //------------------------------------------------------------------------------------------------

.aside-extra .typo-white {
    color: $color-font-body;
}

.aside-extra .bg-secondary {
	background-color: $color-block;
}

.bg-poly-blue {
	margin-top: 40px;
}

//------------------------------------------------------------------------------------------------
//      LISTING PA
//------------------------------------------------------------------------------------------------

    //------------------------------------------------------------------------------------------------
    //      SSTYPE BIEN
    //------------------------------------------------------------------------------------------------

.annonce-soustypebien {
    display: none;
}

.recherche-mobilefirst .annonce-tag-baisse {
    display: none;
}

/* .bouton-raz {
    background-color: $color-reinit;
    color: $color-nav-footer;
    border: none;
    &:hover {
        background-color: darken($color-reinit,10);
    }
}*/

//------------------------------------------------------------------------------------------------
//      DETAIL PA
//------------------------------------------------------------------------------------------------

    //------------------------------------------------------------------------------------------------
    //      VISUEL
    //------------------------------------------------------------------------------------------------

.vertical-pano {
    background-color: $color-block;
}