// VAR COLORS
$color-body:#f1f1f1;
$color-content:#f1f1f1;
$color-block:#fff;
$color-primary:#fff;
$color-secondary:#094293;
$color-action:#094293;
$color-important:#f39a19;
$color-nav-footer:#094293;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#333;
