body { margin: 0 auto; padding:0; background: url(../images/bg.gif) repeat-x #fff; text-align:center; }
div,td { font-family: Arial, Helvetica, sans-serif; font-size:11px; color: #363636; }
img { border:none; display: inline; }
table  { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; }
a { text-decoration: none; color: #c1cc30; }
a:hover { color: #000; text-decoration: none; }
p { margin:10px 0;}

.clear1 { clear: left; }
.clear2 { clear: both; }
/*-----  -------*/

#wrap { position: relative; width: 981px; text-align: left; margin: 0 auto; }

#bloc-top { width: 981px; height: 29px; line-height: 29px; background: #646567; }
.coords { float: left; width: 582px; padding-left: 8px; color: #c0cb2f; font-size: 10px; }
.coords strong { text-decoration: underline; }
#marq { float: right; padding-right: 8px; width: 380px; height: 29px; line-height: 29px; overflow: hidden; }

#bloc-logo { background: url(../images/bg_logo.gif) no-repeat; height: 111px; overflow: hidden; width: 981px; }
.logo { float: left; width: 517px; }
.coord { float: right; text-align: center; width: 200px; padding-right: 60px; padding-top: 20px; font-size: 10px; line-height: 16px; }
.coord strong { color: #c0cc30; font-weight: normal; text-decoration: underline; }

#flash { float: left; width: 703px; height: 256px; }
.bloc-menu { float: left; background: url(../images/bg_menu.gif) no-repeat; width: 278px; height: 256px; position: relative; }
.menu { padding-top: 10px; }
.menu ul { margin: 0; padding: 0; } 
.menu li { list-style-type: none; }
.menu a { font-size: 14px; font-weight: bold; text-transform: uppercase; line-height: 20px; _line-height: 6px; text-indent: 27px; display: block; }
.menu .first { padding-bottom: 15px; _padding-bottom: 20px;}

.here { position: absolute; right: 8px; bottom: 5px; font-size: 10px; color: #fff; }
.here strong { text-decoration: underline; font-weight: normal; }

#main-content { width: 981px; position: relative; }
#navigue { width: 960px; margin: 0 auto; min-height: 400px; padding: 20px 0; }

#left { float: left; width: 427px; }
.global-cdc { background: url(../images/bg_cdc.gif) no-repeat; height: 150px; margin-bottom: 4px; width: 427px; float: left; }
.photo-cdc { float: left; width: 215px; padding: 10px 0 0 5px; }
.photo-cdc img { width: 186px; height: 126px; border: 1px solid #858585; }
.contenu-cdc { float: left; width: 200px; padding-top: 10px; }
.contenu-cdc p { margin: 0; padding: 0; }
.contenu-cdc a { font-size: 20px; }
.descriptif-cdc, .espace-cdc { color: #fff; }
.prix-cdc { color: #000; font-size: 14px; font-weight: bold; }

#center { float: left; width: 276px; }
#main-center { width: 255px; margin: 0 auto; }
.ttl-search { height: 50px; line-height: 50px; font-size: 22px; font-weight: bold; color: #646567; }
.ttl-search strong { color: #c1cc30; }

.txt-acc { text-align: justify; }
.ttl-txt { font-size: 22px; font-weight: bold; color: #646567; text-align: left; letter-spacing: -1px; }
.ttl-txt strong { color: #c1cc30; }

.sav-plus a { background: #646567; padding: 8px 20px; text-decoration: underline; float: right; }

#right { float: left; width: 278px; }

#footer { background: #646567; height: 40px; line-height: 40px; text-align: left; margin: 5px auto 25px; width: 981px; }
.left-foot { float: left; width: 200px; padding-left: 15px; font-weight: bold; color: #c1cc30; }

.right-foot { float: right; width: 550px; padding-right: 15px; text-align: right; font-weight: bold; color: #c1cc30; }

.selectionIndexCDC { position: absolute; right: 27px; }

/*-----------------*/

/* Page formulaire */
.tabTitre{font-size: 14px; color:#c1cc30;background: #646567; line-height: 25px; }
.estimationNomAgence,.messageNomAgence{ color:#c1cc30;font-size: 16px; }

/*IE8*/
.BoutonFormContact, .BoutonFormRecherche, .boutonEnvoi, td#ChampsBouton input { width: 134px; height: 29px;}
.titrePageOutils { display: none; }

/*page alerte*/
#PageAlert { border-bottom: 1px solid #646567; border-top: 1px solid #646567; padding: 15px 0; }
#PageAlert font { color: #646567; }
#PageAlert td { text-align: left; }
#PageAlert strong { color: #646567; }
#PageAlert a { font-size: 14px; font-weight: bold; color: #646567; display: block; margin-left: 50px; padding-left: 20px; background: url(../images/arrow3.gif) no-repeat; line-height: 14px; height: 14px; }
#PageAlert a:hover { line-height: 14px; height: 14px; background-position: 0 -14px; font-size: 14px; color: #c1cc30; text-decoration: none; display: block; margin-left: 50px; padding-left: 20px; }

/*pud_annonces*/
#Annonces01 .ann_ctn { background: url(../img/ann01_fd_01.gif) no-repeat; }
#Annonces01 .ann_ctn .ann_fd { display: none;}
p.nom{display: none;}

/*marquee*/
#AnnoncesDefilantes, #AnnoncesDefilantes a { color: #c0cb2f; font-size: 10px; }

/*autres*/
.ttl-pages { color: #c1cc30; font-size: 18px; text-transform: uppercase; font-weight: bold; }
ul#Plan li.plan { display: none; }

.contenu-agence strong { font-size:12px; color: #c0cc30; }

#logo-fnaim { position: absolute; top: 60px; right: 5px; }

/*------------------------------------------------------------*/