// VAR COLORS
$color-body:#fff;
$color-content:#fafafa;
$color-block:#fafafa;
$color-primary:#fff;
$color-secondary:#ca0225;
$color-action:#a0001c;
$color-important:#ca0225;
$color-nav-footer:#a0001c;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#333;
// COLOR PERSO
$color-menu:#3b4374;