<div class="bottom-xs-affiner-estimation-pro visible-xs" ng-if="!loading && $ec.formData.contact.refineWithPro === $ec.refineWithProValues.no && $resultFootertCtrl.isShow">
    <controls ng-if="!loading && $ec.formData.contact.refineWithPro === $ec.refineWithProValues.no" class="">
        <next state="pro.credentials" text="Affiner cette estimation avec un professionnel" class="col-xs-12"></next>
    </controls>
</div>


<div id="resultsFooter" ng-if="$resultFootertCtrl.isShow" class="resultFooterBack">

    <div id="estimation-form-container-eligible-agencie" class="">

        <div class="eligible-agencie-bloc">

            <div class="row angle-down-icon">
                <i class="angle down icon"></i>
            </div>

            <section id="estimate-pro-en-avant" class="editorial news ng-scope">
                <h1 class="header title">ALLER PLUS LOIN</h1>
                <p class="text-align-center">avec des sp&eacute;cialistes du secteur</p>
                <div class="hidden-xs">
                    <controls ng-if="!loading && $ec.formData.contact.refineWithPro === $ec.refineWithProValues.no" class="">
                        <next state="pro.credentials" text="Affiner cette estimation avec un professionnel" class="col-md-8 col-md-offset-2 col-xs-12"></next>
                    </controls>
                </div>

                <br />
                <p class="text-align-center">Nous vous pr&eacute;sentons les professionnels du secteur de votre bien, susceptibles de vous rappeler</p>
                <br />
                <div class="row ng-scope">

                    <div class="col-md-6 ng-scope eligible-agencie" ng-repeat="EligibleAgencie in $resultFootertCtrl.EligibleAgencies.result track by $index">
                        <article>
                            <div class="row row-bloc">
                                <div class="col-md-4 col-xs-4 column-image frame">
                                    <img class="col-md-12" src="{{EligibleAgencie.urlLogo}}">
                                </div>
                                <div class="col-md-8 col-xs-8 column-description-parent">
                                    <div class="column-description">
                                        <div class="article-pro-name">{{EligibleAgencie.nom}}</div>
                                        <div class="article-pro-addresse">{{EligibleAgencie.adresse}}</div>

                                        <div class="stars" ng-if="EligibleAgencie.AvisImmoNbr > 0">
                                            <i class="fa fa-star" ng-repeat="i in [] | range: EligibleAgencie.AvisImmoNote"></i>
                                            <i class="fa fa-star-o" ng-repeat="i in [] | range: (5 - EligibleAgencie.AvisImmoNote)"></i>
                                        </div>
                                        <div class="nbr-avis" ng-if="EligibleAgencie.AvisImmoNbr > 0">{{EligibleAgencie.AvisImmoNbr}} avi<span ng-if="EligibleAgencie.AvisImmoNbr>1">s</span></div>
                                        <span ng-if="EligibleAgencie.NbrBienVendu > 0">{{EligibleAgencie.NbrBienVendu}} bien<span ng-if="EligibleAgencie.NbrBienVendu >1">s</span> vendu<span ng-if="EligibleAgencie.NbrBienVendu >1">s</span></span>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
            <br />
            <div class="text-afficher-all-pro">
                <span ng-if="$resultFootertCtrl.EligibleAgencies.result.length < 4 || !$resultFootertCtrl.isAllEligibleAgencies" ng-click="GetAllEligibleAgencies()">+ Afficher tous les professionnels recommand&eacute;s</span>
            </div>
            <br />
            <div class="text-titre-indicatif">
                <span>Cette liste est donn&eacute;e &agrave; titre indicatif. Vous serez contact&eacute; par une s&eacute;lection de ces professionnels de votre secteur.</span>
            </div>
            <br />

        </div>

    </div>

</div>
