<!--#include virtual="styles/all_global_macros.htm" -->
body { margin: 0; padding:0; background: #252525; text-align:center; }
div,td { font-family: Helvetica, Arial, sans-serif; font-size:12px; color: #fff; }
img { border:none; display: inline; }
table  { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; }
a { text-decoration: none; color: #f36523; }
a:hover { text-decoration: underline; }
p { margin:10px 0; }

.clear1, .clear { clear: left; }
.clear2 { clear: both; }
.fleft { float: left; }
.fright { float: right; }
/*----- decoupage -------*/

#wrap { position: relative; width: 940px; text-align: left; margin: 0 auto; }

.flag { position: absolute; top: 28px; right: 18px; }
.flag a { display: block; width: 24px; height: 17px; display: block; overflow: hidden; }
.flag a.fr { background: url($$_$$images/flag_fr.gif); }
.flag a.en { background: url($$_$$images/flag_en.gif); }
.flag a.es { background: url($$_$$images/flag_es.gif); }
.flag a.it { background: url($$_$$images/flag_it.gif); }
.flag a.pt { background: url($$_$$images/flag_pt.gif); }
.flag a.nl { background: url($$_$$images/flag_nl.gif); }

.flag a:hover, .flag a#on { background-position: 0 -17px; }
.flag a#on:hover { background-position: 0 0; }

.logo-p { float: left; padding: 30px 148px 0 0; }
.logo-g { float: left; margin-right:150px; width:250px; margin-top:10px; }

/*menu*/
.bloc-menu { float: left; width: 770px; }
.menu-fr, .menu-en, .menu-es, .menu-it, .menu-nl, .menu-pt { margin-top: 25px; height: 43px; line-height: 43px; }
.menu-fr ul, .menu-en ul, .menu-es ul, .menu-it ul, .menu-nl ul, .menu-pt ul { margin: 0; padding: 0; }
.menu-fr li, .menu-en li, .menu-es li, .menu-it li, .menu-nl li, .menu-pt li { float: left; list-style-type: none; }

.menu-fr a { font-size: 14px; font-weight: bold; color: #fff; text-shadow: 1px 1px 1px #000; display: block; padding: 0 8px; height: 42px; line-height: 42px; border-top: 1px solid #252525; }
.menu-en a { font-size: 14px; font-weight: bold; color: #fff; text-shadow: 1px 1px 1px #000; display: block; padding: 0 4px; height: 42px; line-height: 42px; border-top: 1px solid #252525; }
.menu-es a { font-size: 14px; font-weight: bold; color: #fff; text-shadow: 1px 1px 1px #000; display: block; padding: 0 2px; height: 42px; line-height: 42px; border-top: 1px solid #252525; }
.menu-it a { font-size: 13px; font-weight: bold; color: #fff; text-shadow: 1px 1px 1px #000; display: block; padding: 0 2px; height: 42px; line-height: 42px; border-top: 1px solid #252525; }
.menu-nl a { font-size: 11px; font-weight: bold; color: #fff; text-shadow: 1px 1px 1px #000; display: block; padding: 0 0px; height: 42px; line-height: 42px; border-top: 2px solid #252525; }
.menu-pt a { font-size: 13px; font-weight: bold; color: #fff; text-shadow: 1px 1px 1px #000; display: block; padding: 0 3px; height: 42px; line-height: 42px; border-top: 1px solid #252525; }

.menu-fr a:hover, .menu-en a:hover, .menu-es a:hover, .menu-it a:hover, .menu-nl a:hover, .menu-pt a:hover { color: #f36523; text-decoration: none; border-top: 1px solid #f36523; }
.menu-fr ul li ul, .menu-en ul li ul, .menu-es ul li ul, .menu-it ul li ul, .menu-nl ul li ul, .menu-pt ul li ul { display: none; position: absolute; }
.menu-fr ul li:hover ul, .menu-en ul li:hover ul, .menu-es ul li:hover ul, .menu-it ul li:hover ul, .menu-nl ul li:hover ul, .menu-pt ul li:hover ul { display: block; background: url($$_$$images/bg_ssmenu.png) no-repeat; width: 129px; height: 71px; }
.menu-fr ul li ul li, .menu-en ul li ul li, .menu-es ul li ul li, .menu-it ul li ul li, .menu-nl ul li ul li, .menu-pt ul li ul li { float: none; height: 30px; }
.menu-fr ul li ul li a, .menu-en ul li ul li a, .menu-es ul li ul li a, .menu-it ul li ul li a, .menu-nl ul li ul li a, .menu-pt ul li ul li a {text-align: left; text-transform: none; text-indent: 10px; border:none;}
.menu-fr ul li ul li a:hover, .menu-en ul li ul li a:hover, .menu-es ul li ul li a:hover, .menu-it ul li ul li a:hover, .menu-nl ul li ul li a:hover, .menu-pt ul li ul li a:hover { border: none; }
/*fin menu*/

.bloc-reseau { float: right; width: 160px; padding-top: 33px; }
.bloc-reseau ul { margin: 0; padding: 0; }
.bloc-reseau li { float: left; line-height: 25px; list-style-type: none; padding-left: 5px; font-size: 12px; color: #fff; text-shadow: 1px 1px 1px #000; }

#flash { height: 272px; overflow: hidden; }

#navigue { width: 940px; min-height: 400px; padding-bottom: 20px; border-top: 1px solid #6e6e6e; padding-top: 10px; }

/*CDC*/
#bloc-cdc { float: left; width: 720px; }

.selectionIndex_Ctn { float: left; width: 220px; margin-right: 10px; height: auto; }
.selectionPhoto_ctn { width: 220px; height: 130px; }
.selectionPhoto_ctn, .selectionPhoto_ctn a.selectionPhoto .selectionPhotoImg { width: 220px; height: 130px; }
a.selectionPhoto { width: 220px; height: 130px; }
.nbPhotos_ctn { display: none; }
.selectionDescr .selectionSurface, .selectionDescr .selectionNbPieces { color: #fff; }
.selectionDetail { display: none; }
.selectionDescr { width: 220px; margin: 0 auto; font-size: 11px; }
.selectionDescr p { margin: 0; padding: 0; font-size: 11px; }
.selectionDescr p strong { font-size: 11px; font-weight: normal; }
.selectionDescr .selectionVille a { font-size: 11px; }

.selectionDescr .selectionVille, .selectionDescr .selectionVille * { color: #fff; font-weight: bold; }
.selectionDescr .selectionPrix { font-weight: bold; font-size: 14px; color: #fff; }

.link-voir a { line-height: 32px; font-size: 11px; padding-left: 5px; font-style: italic; }

.bg-onglet { height: 55px; }

.btn { height: 31px; overflow:hidden; padding-top: 5px; }
.btn ul { margin: 0; padding: 0; }
.btn li { list-style-type: none; position: relative; float: left; }
.btn a { display: block; height: 31px; background-repeat: no-repeat; }
.btn a:hover { position: relative; display: block; background-position: 0 -31px; }

#exclu, #cdc { display: none; }

#menu-new, #menu-cdc, #menu-exclu { width:110px;height:31px;display: block; padding-right: 5px; }

#menu-new.fr { background: url($$_$$images/onglet_new_fr.gif) no-repeat ;}
#menu-exclu.fr { background: url($$_$$images/onglet_exclus_fr.gif) no-repeat 0 -31px; }
#menu-cdc.fr { background: url($$_$$images/onglet_cdc_fr.gif) no-repeat 0 -31px; }

#menu-new.en { background: url($$_$$images/onglet_new_en.gif) no-repeat ;}
#menu-exclu.en { background: url($$_$$images/onglet_exclus_en.gif) no-repeat 0 -31px; }
#menu-cdc.en { background: url($$_$$images/onglet_cdc_en.gif) no-repeat 0 -31px; }

#menu-new.it { background: url($$_$$images/onglet_new_it.gif) no-repeat ;}
#menu-exclu.it { background: url($$_$$images/onglet_exclus_it.gif) no-repeat 0 -31px; }
#menu-cdc.it { background: url($$_$$images/onglet_cdc_it.gif) no-repeat 0 -31px; }

#menu-new.nl { background: url($$_$$images/onglet_new_nl.gif) no-repeat ;}
#menu-exclu.nl { background: url($$_$$images/onglet_exclus_nl.gif) no-repeat 0 -31px; }
#menu-cdc.nl { background: url($$_$$images/onglet_cdc_nl.gif) no-repeat 0 -31px; }

#menu-new.es { background: url($$_$$images/onglet_new_es.gif) no-repeat ;}
#menu-exclu.es { background: url($$_$$images/onglet_exclus_es.gif) no-repeat 0 -31px; }
#menu-cdc.es { background: url($$_$$images/onglet_cdc_es.gif) no-repeat 0 -31px; }

#menu-new.pt { background: url($$_$$images/onglet_new_pt.gif) no-repeat ;}
#menu-exclu.pt { background: url($$_$$images/onglet_exclus_pt.gif) no-repeat 0 -31px; }
#menu-cdc.pt { background: url($$_$$images/onglet_cdc_pt.gif) no-repeat 0 -31px; }

/*fin CDC*/

#bloc-mot { float: right; background: url($$_$$images/bg_minimoteur.gif) no-repeat; width: 218px; height: 265px; margin-top: 10px; }
#main-mot { width: 195px; margin: 0 auto; }
.ttl-mot { font-size: 16px; color: #f36523; text-shadow: 1px 1px 1px black; }
.miniDiv { padding: 3px 0 !important; display: inline-block; }
.miniTitre { font-size: 11px; float: none; width: 90px; }
.miniDivSelect { float: none; width: 100px; }
#MiniGeolocalisation .miniTitre { float: left; width: 80px; }
#MiniDivGeolocalisation label { float: left; width: 50px; font-size: 11px; }
#MiniDivGeolocalisation { float: left; width: 110px; }

.patientez { display: none; }
select.miniSelect { width: 189px; background: #fff; border: 3px solid #6d6d6d; font-size: 11px; color: #7c7876; }
input.miniInputMin, input.miniInputMax{border: 3px solid #6d6d6d; width: 70px;font-size: 11px; color: #7c7876;}
#MiniDivChampTextBudget{width: 180px;}
#MiniBouton .boutonSubmit, #Moteur #MoteurBouton .inputSubmit { width: 102px; height: 31px;font-size:0px; background: url($$_$$/images/minirechercher_$$FORM:LANG$$.png) no-repeat ; margin-left: 85px; }

#main-index { width: 940px; border-top: 1px solid #6e6e6e; padding-top: 13px; margin-top: 10px; }

.left { width: 220px; }
#center { float: left; width: 460px; margin-left: 20px; }

.ttl-index { font-size: 16px; font-weight: normal; text-shadow: 1px 1px 1px black; line-height: 50px; }
.ttl-indexnl { font-size: 12px; }
.ttl-indexes { font-size: 14px; }

.left .blocactu { border-bottom: 1px solid #6e6e6e; font-size: 11px; padding-bottom: 30px;margin:10px 0;height: 56px; }
.left .blocactu a.titre_a { font-size: 13px; font-weight: normal; color: #f36523; display: block; }
.left .blocactu a.titre_a:hover { background: #f36523; text-decoration: none; color: #000; }
.left .blocactu .marg-left { margin: 0 10px 0 0;float:left; }
.left .blocactu .txtactu{float: left;width: 150px;font-size: 11px;}
.left .link-art { border: none; }
.left .link-art a { font-size: 10px; font-style: italic; }
.left .link-art a:hover { background: none; color: #fff; }

/*footer*/
.footer { width: 940px; text-align: left; margin: 0 auto; border-top: 1px solid #6e6e6e; padding: 25px 0; }
.link-foot { float: left; width: 700px; }
.link-foot { float: left; width: 700px; font-style: italic; color: #fff; text-shadow: 1px 1px 1px black; font-size: 11px; }
.link-foot a { font-style: italic; color: #fff; text-shadow: 1px 1px 1px black; font-size: 11px; }

.logo-foot { float: right; width: 230px; text-align: right; }
.logo-foot a { display: inline-block; }

/*autres*/
.ttl-pages { color: #f36523; font-size: 18px; text-transform: uppercase; text-shadow: 1px 1px 1px black; }

#Plan_Ctn .planSite { display: none; }

.blocAnnonce { background: none; }
#Moteur .moteurTable ul li { background: none; list-style-type: none; }
#AlerteEmail #AlerteForm input.alerte { background: #fff; color: #000; }
.photo_ctn a.photo { background: url($$_$$images/sans_photo.gif) no-repeat; }

#Annonce_Ctn td#ColonneGauche { background: none; border: none; }
#Form_Ctn .inputText, #Form_Ctn .inputTextarea { background: #fff; color: #000; }

#RechAffichage a { color: #000; }

/*pages*/
.page-int { text-align: justify; line-height: 18px; }
.page-bold { font-weight: bold; color: #f36523; }
td.col1 { color: #000 !important;}
#Wrap #Ctn * { color: #f36523; }
.cadreAgence { background: #343434; border: none !important; }

.surface a {color:#fff;}
.descrAnn {margin:0 0 0 0; padding:0 0 0 25px;}
.descrAnn a {color:#fff;}
.descrAnn a:hover {text-decoration:none;}

.miniDivSelect label { padding: 0 !important; }
#MiniDivGeolocalisation label { width: 52px; }


/* fix cédric */
#Wrap #Ctn .inputSubmit{background: #000;}
#Moteur .moteurTable ul {margin-left: 0px;padding-left: 0px;}
#Moteur td.col1{color: #fff !important;}
#Moteur #ref_ann,.majAnn .reference,#RefAnnonce {display: none;}
.ad-gallery .ad-thumbs .ad-thumb-list{margin-top:0;}
.ad-gallery .ad-forward, .ad-gallery .ad-back,.ad-gallery .ad-nav .ad-thumbs  {background-color: #252525;}
#FancyBox_Ctn a.fancyBox,#FancyBox_Ctn a#FancyBox1 {font-size: 13px;font-weight:bold;}

.majAnn .fraicheur,#MajAnn {display: none;}

.ad-gallery .ad-back {background: url($$_$$images/ad_scroll_back.png) 0 0 no-repeat #252525;}
.ad-gallery .ad-forward {background: url($$_$$images/ad_scroll_forward.png) 0 0 no-repeat #252525;}

#FormContactListeAgences li,#FormContactListeAgences ul{list-style: none;}
#FormContactListeAgences ul li{display: block;background: #343434;padding:10px; border: none; margin: 5px 0;cursor:pointer;}
#FormContactListeAgences ul li h2{font-size: 16px;font-weight: normal;}
#FormContactListeAgences .ag_photo, #FormContactListeAgences .ag_texte{float: left;}
#FormContactListeAgences .ag_texte{margin: 10px 0 0 30px;}
#FormContactListeAgences ul {border:none;}


#FormContactAgence_Ctn td.col1 {color: #fff !important;}

#BiensVendus{display: none;}


#ActuEditeur h2{font-size: 14px; font-weight: normal; color: #f36523; }
#ActuEditeur p{font-size: 12px;}
#ActuEditeur .blocactu{margin:10px 0; border-bottom: 1px solid #6e6e6e; }

/*texte liste agences*/
#AgImmo_Ctn h3{display:none;}

/*
.left .blocactu { border-bottom: 1px solid #6e6e6e; font-size: 11px; padding-bottom: 15px;margin:10px 0;height: 56px; }
.Left .blocactu a { font-size: 14px; font-weight: normal; color: #f36523; display: block; text-transform:uppercase;}
.left .blocactu a:hover { background: #f36523; text-decoration: none; color: #000; }
.left .blocactu .marg-left { margin: 0 10px 0 0;float:left; }
.left .blocactu .txtactu{float: left;width: 150px;}
.left .link-art { border: none; }
.left .link-art a { font-size: 10px; font-style: italic; }
.left .link-art a:hover { background: none; color: #fff; }
*/

.descrAnn_Ctn h2 {font-weight: normal; font-size:12px; }

#jestimo { height: 100px; overflow: hidden; background: url('$$_$$media/background_jestimo.png') repeat scroll 0% 0% transparent; margin-top:5px; border:1px solid; border-color:#F36523; border-radius:5px; padding-left:400px; padding-top:5px; padding-bottom:5px; padding-right:10px; font:Arial, Helvetica, sans-serif; font-size:11px; color:#FFF; font-weight:bold; vertical-align:middle; line-height:3; }
#conditions {font-family:Arial, Helvetica, sans-serif; color:#FFF; font-size:10px;}
#conditions a{font-family:Arial, Helvetica, sans-serif; color:#FFF; font-size:10px; text-decoration:none;}
#conditions a:hover {font-family:Arial, Helvetica, sans-serif; color:#FFF; font-size:10px; text-decoration:underline;}
.tooteclair {position:absolute;left:508px;top:639px;}


