// VAR COLORS
$color-body:#69A7BC;
$color-content:#1a1a1a;
$color-block:#f4f4f4;
$color-primary:#FFF;
$color-secondary:#000;
$color-action:#5b5b5b;
$color-important:#303030;
$color-nav-footer:#393c3d;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#3f4040;