/* $$DYN:ID3:NOFOOTER$$ */
/* =================== */

 

input[type=checkbox] {
 background-color: darkGray;
 border: 4px inset black;
}


.BoiteMoteurCompakt div{
	font-style: normal;
	font-size: 9pt;
	color: #0D0435;
	padding: 0px;
	margin: 4px;
	border-width: 1px;
}


/* moteurs */

.MoteurBudget {
	padding: 0px;
	margin: 0px;	
}

.MoteurBudget div {
	display: block;
	background-color: rgb(236, 239, 243);
	border-color: rgb(167, 175, 196);
	padding: 5px;
	margin: 5px;
	border-style: solid;
	border-width: 3px;
}

.MoteurInvestir {
	padding: 0px;
	margin: 0px;	
}

.MoteurInvestir div {
	display: block;
	background-color: rgb(236, 239, 243);
	border-color: rgb(167, 175, 196);
	padding: 5px;
	margin: 5px;
	border-style: solid;
	border-width: 3px;
}

.MoteurMeuble {
	padding: 0px;
	margin: 0px;	
}

.MoteurMeuble div {
	display: block;
	background-color: rgb(236, 239, 243);
	border-color: rgb(167, 175, 196);
	padding: 5px;
	margin: 5px;
	border-style: solid;
	border-width: 3px;
}

.MoteurEquipement {
	padding: 0px;
	margin: 0px;	
}

.MoteurEquipement div {
	display: block;
	background-color: rgb(236, 239, 243);
	border-color: rgb(167, 175, 196);
	padding: 5px;
	margin: 5px;
	border-style: solid;
	border-width: 3px;
}


.MoteurBudgetVac {
	padding: 0px;
	margin: 0px;	
}

.MoteurBudgetVac div {
	display: block;
	background-color: rgb(236, 239, 243);
	border-color: rgb(167, 175, 196);
	padding: 5px;
	margin: 5px;
	border-style: solid;
	border-width: 3px;
}



.MoteurProximite div {
	display: block;
	background-color: rgb(236, 239, 243);
	border-color: rgb(167, 175, 196);
	padding: 5px;
	margin: 5px;
	border-style: solid;
	border-width: 3px;	
}


.MoteurChambres {
	padding: 0px;
	margin: 0px;	
}

.MoteurChambres div {
	display: block;
	background-color: rgb(236, 239, 243);
	border-color: rgb(167, 175, 196);
	padding: 5px;
	margin: 5px;
	border-style: solid;
	border-width: 3px;
}


.MoteurPreliste {
	display: block;
	background-color: rgb(236, 239, 243);
	border-color: rgb(167, 175, 196);
	padding: 5px;
	margin: 5px;
	border-style: solid;
	border-width: 3px;
}


.MoteurTypeDeBien {
	padding: 0px;
	margin: 0px;	
}

.MoteurTypeDeBien div {
	display: block;
	background-color: rgb(236, 239, 243);
	border-color: rgb(167, 175, 196);
	padding: 5px;
	margin: 5px;
	border-style: solid;
	border-width: 3px;
}


.MoteurTypeDeBien label{
	
}
.MoteurInvestir label{
		
}

.MoteurSurface {
	padding: 0px;
	margin: 0px;	
}

.MoteurSurface div {
	display: block;
	background-color: rgb(236, 239, 243);
	border-color: rgb(167, 175, 196);
	padding: 5px;
	margin: 5px;
	border-style: solid;
	border-width: 3px;
}


.MoteurPieces {
	padding: 0px;
	margin: 0px;	
}

.MoteurPieces div {
	display: block;
	background-color: rgb(236, 239, 243);
	border-color: rgb(167, 175, 196);
	padding: 5px;
	margin: 5px;
	border-style: solid;
	border-width: 3px;
}

.MoteurListeVilles {
	padding: 0px;
	margin: 0px;	
}

.MoteurListeVilles div {
	display: block;
	background-color: rgb(236, 239, 243);
	border-color: rgb(167, 175, 196);
	padding: 5px;
	margin: 5px;
	border-style: solid;
	border-width: 3px;
}

.MoteurNbPersonnes {
	padding: 0px;
	margin: 0px;	
}

.MoteurNbPersonnes div {
	display: block;
	background-color: rgb(236, 239, 243);
	border-color: rgb(167, 175, 196);
	padding: 5px;
	margin: 5px;
	border-style: solid;
	border-width: 3px;
}

.MoteurSituation {
	padding: 0px;
	margin: 0px;	
}

.MoteurSituation div {
	display: block;
	background-color: rgb(236, 239, 243);
	border-color: rgb(167, 175, 196);
	padding: 5px;
	margin: 5px;
	border-style: solid;
	border-width: 3px;
}

.MoteurPhoto {
	font-family: Myriad, Arial, Helvetica, sans-serif, verdana; 
	font-style: normal;
	font-size: 9pt;
	color: #0D0435;
	padding-left: 30px;
	background-image: url($$_$$img/Compakt_Moteur_photomoteur.gif);
	background-repeat: no-repeat;
	background-position: 2px 2px;
	height: 20px;
	width: 100%;
}


.ZoneSaisie {
	display: block; 
	font-style: bold;
	font-size: 10px;
	letter-spacing: 0.2em;
	text-align: left;
}


MoteurProximite a {
	background-color: rgb(236, 239, 243);
	border-color: rgb(82, 106, 142);
	padding: 0px;
	margin: 2px;
	border-style: solid;
	border-width: 1px;
	display: block;
	
	 
	font-style: bold;
	font-size: 10px;
	letter-spacing: 0.2em;
	text-align: left;
}

.TitreMoteurListeVille {
	display: block;
	background-color: rgb(167, 175, 196);
	font-style: bold;
	font-size: 11px;
	letter-spacing: 0.2em;
	padding-left: 20px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 2px;
	margin-top: 0px;
	margin-bottom: 2px;
	text-align: right;
	text-transform: lowercase;
}

.TitreMoteurInvestir {
	display: block;
	background-color: rgb(167, 175, 196);
	
	 
	font-style: bold;
	font-size: 11px;
	letter-spacing: 0.2em;
	padding-left: 20px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 2px;
	margin-top: 0px;
	margin-bottom: 2px;
	text-align: right;
	text-transform: lowercase;
}
.TitreMoteurSituation {
	display: block;
	background-color: rgb(167, 175, 196);
	
	 
	font-style: bold;
	font-size: 11px;
	letter-spacing: 0.2em;
	padding-left: 20px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 2px;
	margin-top: 0px;
	margin-bottom: 2px;
	text-align: right;
	text-transform: lowercase;
}
.TitreNombreDeChambres {
	display: block;
	background-color: rgb(167, 175, 196);
	
	 
	font-style: bold;
	font-size: 11px;
	letter-spacing: 0.2em;
	padding-left: 20px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 2px;
	margin-top: 0px;
	margin-bottom: 2px;
	text-align: right;
	text-transform: lowercase;
}
.TitreMoteurMeuble {
	display: block;
	background-color: rgb(167, 175, 196);
	
	 
	font-style: bold;
	font-size: 11px;
	letter-spacing: 0.2em;
	padding-left: 20px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 2px;
	margin-top: 0px;
	margin-bottom: 2px;
	text-align: right;
	text-transform: lowercase;
}
.TitreMoteurNbPersonnes {
	display: block;
	background-color: rgb(167, 175, 196);
	
	 
	font-style: bold;
	font-size: 11px;
	letter-spacing: 0.2em;
	padding-left: 20px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 2px;
	margin-top: 0px;
	margin-bottom: 2px;
	text-align: right;
	text-transform: lowercase;
}
.TitreMoteurPays {
	display: block;
	background-color: rgb(167, 175, 196);
	
	 
	font-style: bold;
	font-size: 11px;
	letter-spacing: 0.2em;
	padding-left: 20px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 2px;
	margin-top: 0px;
	margin-bottom: 2px;
	text-align: right;
	text-transform: lowercase;
}

.MoteurPays {
	padding: 0px;
	margin: 0px;	
}

.MoteurPays div {
	display: block;
	background-color: rgb(236, 239, 243);
	border-color: rgb(167, 175, 196);
	padding: 5px;
	margin: 5px;
	border-style: solid;
	border-width: 3px;
}

.MoteurViager {
	padding: 0px;
	margin: 0px;	
}

.MoteurViager div {
	display: block;
	background-color: rgb(236, 239, 243);
	border-color: rgb(167, 175, 196);
	padding: 5px;
	margin: 5px;
	border-style: solid;
	border-width: 3px;
}

.MoteurReference {
	padding: 0px;
	margin: 0px;	
}

.MoteurReference div {
	display: block;
	background-color: rgb(236, 239, 243);
	border-color: rgb(167, 175, 196);
	padding: 5px;
	margin: 5px;
	border-style: solid;
	border-width: 3px;
}



.MoteurFraicheur {
	padding-left: 30px;
	background-image: url($$_$$img/Compakt_Moteur_data.gif);
	background-repeat: no-repeat;
	background-position: 2px 2px;
	height: 20px;
	width: 100%;
}

.MoteurHandicape {	
	padding-left: 30px;
	background-image: url($$_$$img/Compakt_Moteur_handicape.gif);
	background-repeat: no-repeat;
	background-position: 2px 2px;
	height: 20px;
}

.MoteurCarte {
	display: block;
	background-color: rgb(236, 239, 243);
	border-color: rgb(167, 175, 196);
	padding: 5px;
	margin: 5px;
	border-style: solid;
	border-width: 3px;	 		
}

.MoteurCritereSup {
	padding: 0px;
	margin: 0px;	
}

.MoteurCritereSup div {
	display: block;
	background-color: rgb(236, 239, 243);
	border-color: rgb(167, 175, 196);
	padding: 5px;
	margin: 5px;
	border-style: solid;
	border-width: 3px;
}


.MoteurCritereSup label {
	display: block;
	border: none;
	
}

.TitreBoiteMoteurCompakt {
	padding-top: 4px;
	font-style: bold;
	font-size: 12pt;
	color: #0D0435;
	text-transform: lowercase;
	letter-spacing : 2px;
	display: block;
	text-align: center;
	}
	
#MoteurTypeDeBien .TitreTypeDeBien {
	display: block;
	background-color: rgb(167, 175, 196); 
	font-style: bold;
	font-size: 11px;
	letter-spacing: 0.2em;
	padding-left: 20px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 2px;
	margin-top: 0px;
	margin-bottom: 2px;
	text-align: right;
	text-transform: lowercase;
}

.MoteurTypeDeBien label{
		float: left;
}

.TitreMoteurEquipement {
	display: block;
	background-color: rgb(167, 175, 196);
	font-style: bold;
	font-size: 11px;
	letter-spacing: 0.2em;
	padding-left: 20px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 2px;
	margin-top: 0px;
	margin-bottom: 2px;
	text-align: right;
	text-transform: lowercase;
}
.TitreMoteurCritereSup {
	display: block;
	background-color: rgb(167, 175, 196); 
	font-style: bold;
	font-size: 11px;
	letter-spacing: 0.2em;
	padding-left: 20px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 2px;
	margin-top: 0px;
	margin-bottom: 2px;
	text-align: right;
	text-transform: lowercase;
}

.TitreMoteurViager {
	display: block;
	background-color: rgb(167, 175, 196);
	
	 
	font-style: bold;
	font-size: 11px;
	letter-spacing: 0.2em;
	padding-left: 20px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 2px;
	margin-top: 0px;
	margin-bottom: 2px;
	text-align: right;
	text-transform: lowercase;
}
.TitreMoteurViager:first-letter {
	text-transform: uppercase;
}
#MoteurPieces .TitreNombreDePieces {
	display: block;
	background-color: rgb(167, 175, 196);
	font-style: bold;
	font-size: 11px;
	letter-spacing: 0.2em;
	padding-left: 20px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 2px;
	margin-top: 0px;
	margin-bottom: 2px;
	text-align: right;
	text-transform: lowercase;
}
.UnOuPlusieurs {
	display: none;
	visibility: hidden;
}
.MoteurFormulaireCarte {
	width: 100%;
	display: block;
	padding-left: 20px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}
.TitreMoteurSurface {
	display: block;
	background-color: rgb(167, 175, 196);
	font-style: bold;
	font-size: 11px;
	letter-spacing: 0.2em;
	padding-left: 20px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 2px;
	margin-top: 0px;
	margin-bottom: 2px;
	text-indent :2px;
	text-align: right;
	text-transform: lowercase;
}
.TitreMoteurReferencement {
	display: block;
	background-color: rgb(167, 175, 196);
	
	 
	font-style: bold;
	font-size: 11px;
	letter-spacing: 0.2em;
	padding-left: 20px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 2px;
	margin-top: 0px;
	margin-bottom: 2px;
	text-align: right;
	text-transform: lowercase;
}
.TitreMoteurBudget {
	display: block;
	background-color: rgb(167, 175, 196);
	
	 
	font-style: bold;
	font-size: 11px;
	letter-spacing: 0.2em;
	padding-left: 20px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 2px;
	margin-top: 0px;
	margin-bottom: 2px;
	text-align: right;
	text-transform: lowercase;
}
.TitreMoteurBudgetVac {
	display: block;
	background-color: rgb(167, 175, 196);
	
	 
	font-style: bold;
	font-size: 11px;
	letter-spacing: 0.2em;
	padding-left: 20px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 2px;
	margin-top: 0px;
	margin-bottom: 2px;
	text-align: right;
	text-transform: lowercase;
}
.RechercheHonoraires {
	display: block;
	background-image: url($$_$$img/Compakt_Moteur_prix.gif);
	background-repeat: no-repeat;
	background-position: 5px 2px;
	background-color: rgb(167, 175, 196);
	border-
	border-style: dashed;
	border-width: 1px;
	color: #526A8E;
	 
	
	font-weight: bold;
	font-size: 11px;
	display: block;
	padding-left: 20px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: right;
}

.MoteurBouton {
	text-align: center;
}