/* Stéphanie $$DYN:ID3:NOFOOTER$$ */
/* =================== */

.BoiteAnnonce {
	display: block;
	width: 325px;
	background-color: #ffffff;
	padding: 0px;
	color: #225871;
	border: 1px;
	border-style: solid;
	border-color: #1B4059;
	font-family: Verdana, Myriad, Arial, Helvetica, sans-serif; 
}

$$IF!:8:FORM:IDTT$$
.BoiteContenu {
	display: block;
	padding: 0px;
	margin: 0px;
}

.ColonneGauche {
	position:relative;
	margin-right: 4px;
	padding: 0px;
	height:110px;
	float: left;
	width: 133px;
}

.ColonneDroite {
	margin: 0px;
	display: inline;
	}
	
.RechercheVisuelsPhotoImg img {
	display: block;
	width: 133px;
  padding: 0px;
	margin: 2px;
	border: 0px;
	border-color: #C0D919;
	border-style: solid;
}

.RechercheDescriptif {
	display: none;
	visibility: hidden;	
}
$$END$$

$$IF=:8:FORM:IDTT$$
.BoiteContenu {
	display: block;
	padding: 0px;
	margin: 0px;
}

.ColonneGauche {
	position:relative;
	margin: 0px;
	padding: 0px;
	height:190px;
	width: 325px;
}

.ColonneDroite {
	padding: 0px;
	margin: 0px 0px 6px 4px;
	width: 321px;
	clear: both;
}

.RechercheDescriptif {
margin: 7px 0px 7px 0px;
font-style: italic;
}
$$END$$


.RechercheBoitePrestige {
	height: 190px;
	width: 325px;
}

.RechercheBoitePrestige img {
	height: 190px;
	width: 325px;
}

.RechercheExclusif {
	padding: 0px;
	margin: 0px;
	width: 26px;
	height: 80px;
	background-image: url($$_$$img/diapo_exclusif.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	float: right;
	
}

.RechercheExclusif span {
	display: none;
	visibility: hidden;	
}

.FooterAnnonce {

	height: 25px;
	font-size: 10px;
	font-style: normal;
	color: #FFFFFF;
	clear: both;
	background-image: url($$_$$img/diapo_footer.gif);
	background-repeat: repeat;
	background-position: 0px 0px;
}

.FooterInfo {
	text-align: center;
}

.FooterPanier {
	float: right;
}

.RecherchePlusInfo img {
	display: none;
	visibility: hidden;
}

.RecherchePlusInfoLien {
	color: #fff;
	text-align: center;
}

.RecherchePlusInfo {
	padding-top: 5px;
	font-weight: bold;
}

.RechercheLibelle {
	height : 22px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-weight: bold;
	font-size: 11px;
	font-style: normal;
	color: #0A3654;
	text-transform: uppercase;
	text-decoration: underline;
	display: inline;
}

.RechercheCodePostal {
	display: inline;
}

.RechercheSituationVille .RechercheSituationCP {
	font-size: 11px;
	font-style: normal;
	color: #000;
	text-transform: uppercase;
}


.RechercheBoitePrestigePhoto {
	display: none;
	visibility: hidden;	
}

.RecherchePrix {
	display: block;
	color: #225871;
	font-style: normal;
	font-size: 11px;
	font-weight: bold;
	display: block;
	text-align: left;
}

div.RecherchePrix {
	display: inline;
	border-collapse: collapse; 
}

div.RechercheHonoraires {
	display: inline;
	border-collapse: collapse; 
}


.RecherchePrix * {
	font-style: inherit !important;
	font-weight: inherit !important;
}

.RechercheHonoraires {
	display: block;
	color: #407C98;
	font-style: normal;
	font-size: 10px;
	text-align: left;
}

.RechercheTelephone {
	display: block;
	color: #225871;
	font-style: normal;
	font-size: 11px;
	text-align: left;
}

.recherchetelephonetitrecontact {
	display: none;
	visibility: hidden;
}

.RecherchePrixFranc {
	display: none;
	visibility: hidden;
}

.RechercheBoiteNeuf {
	display: none;
	visibility: hidden;
}


.RechercheTelephone * {
	font-style: inherit !important;
	font-weight: inherit !important;
}

.PubAlerte {
	display: none;
	visibility: hidden;
}

.RecherchePlanLocalite img {
	display: none;
}

.Legende {
	display: none;
	visibility: hidden;
}

.BoitePhraseRecherche {
	display: none;
	visibility: hidden;
}	
	
.RechercheProximite {
	display: none;
	visibility: hidden;
}

.RechercheProximite img {
	display: none;
}

.RecherchePanier {
	padding-top: 4px;
	padding-right: 5px;
}

.RecherchePanier span{
	color: #56AB17;
	font-weight: bold;
	text-decoration: underline;
}

.RecherchePanier img {
	display: none;
	text-align: right;
}

.RechercheVisuels360 {
	display: none;
	visibility: hidden;
}

.RechercheRefAnnonce {
 	font-size: 10px;
	font-style: normal;
	color: #225871;
}

.RechercheDtFraicheur{
	display: none;
	visibility: hidden;
	}
	
.RechercheHaut{
	display: none;
	visibility: hidden;
}

.RecherchePlanLocalite {
	display: none;
	visibility: hidden;
}

.RecherchePlan {
	display: none;
	visibility: hidden;
}

.RechercheSituation .RechercheSituationLien {
	display: none;
	visibility: hidden;
}

.RechercheSituationCodePostal {
	display: none;
	visibility: hidden;
}

.RechercheSituation2 {
	display: none;
	visibility: hidden;
}

.RechercheFinancement {
	display: none;
	visibility: hidden;
}

.RechercheLocRenvoiVente {
	display: none;
	visibility: hidden;
}

.RechercheSituation .RechercheSituationProximite {
	display: none;
	visibility: hidden;
}

.PlanLien a {
	color: #00329C;	
}

.PlanLien a:hover {
	color: #66CC99;	
}

.RechercheEstaraLien {
	display: none;
	visibility: hidden;
}

.RechercheSurface {
	display: none;
	visibility: hidden;
}

.RechercheChatLien {
	display: none;
	visibility: hidden;
}

.RechercheVisuelsPhoto {
	display: block;
	float: left;
	overflow: hidden;
	color : #000000;
}

.RechercheVisuelsPhotoLien {
	display: none;
	visibility: hidden;	
}

/*  Pour agrandir la photo des annonces si clic */
.montrer {
	display:block;
	visibility:visible;
	position:absolute;
	/* top: -10px; */
}
.Montrer img {
	padding:0;
	border:1px solid #000;
}
.cacher {
	display:none;
	visibility:hidden;
} 

/* Fin de agrandir la photo des annonces si clic */