#BoiteMiniMoteur { width:175px; margin: auto; text-align:left; }

#BoiteMiniMoteur select{background:#fff; border: 1px solid #9c9c9c; }
.Patientez{display: none;}

.MiniDiv { padding: 0; text-align: center !important; }

.MiniTitre{ width:175px; color: #000000; float: left; padding: 0; text-align:left; font-size:11px;}

#TitreMiniTypeTrans, 
#TitreMiniTypeLoi,
#TitreMiniTypeCommerce,
#TitreMiniTypeActivite,
#TitreMiniTypeBien,
#TitreMiniSousTypeBien, 
#TitreMiniPieces,
#TitreMiniChambres,
#TitreMiniBudget,
#TitreMiniBudgetTranche,
#TitreMiniBudgetVac,
#TitreMiniSurface,
#TitreMiniSurfaceTerrain,
#TitreMiniPays,
#TitreMiniRegion,
#TitreMiniRegionEtr,
#TitreMiniDep,
#TitreMiniVilles,
#TitreMiniQuartiers,
#TitreMiniProximite,
#TitreMiniRayon,
#TitreMiniSituation,
#TitreMiniReference, 
#TitreMiniChoixAffichage {
 width: 175px; color: #000; float: left; padding: 2px 0 0 0; text-align: left; font-size:11px;margin: 14px 0 0 0;
}

#TitreMiniChoixAffichage { padding-bottom: 10px; font-weight: normal; }

.MiniDivSelect{display:inline;}

.MiniSelect{width: 175px; float:left; border: 1px solid #fff; color: #525252; margin: 2px 0 0 0; background: #fff;}

#MiniSelectTypeTrans,
#MiniSelectTypeLoi,
#MiniSelectTypeCommerce, 
#MiniSelectTypeActivite,
#MiniSelectTypeBien,
#MiniSelectSousTypeBien,
#MiniSelectPieces,
#MiniSelectChambres,
#MiniSelectBudgetVente,
#MiniSelectBudgetLoc,  
#MiniSelectSurface,
#MiniSelectPays,
#MiniSelectRegEtr,
#MiniSelectRegion,
#MiniSelectDep,
#MiniSelectVilles,
#MiniSelectQuartier,
#MiniSelectRayon,
#MiniSelectSituation

{width:174px;color:#000; font-size:11px;}
.MiniDivCheckbox{}
.MiniLabel{padding-left:11px;color:#000;}
.MiniCheckbox{border: 11px solid #fff; color: #000; margin: 2px 2px 0 0; background: #fff; padding:6px;}

#MiniDivCheckboxPieces,
#MiniDivCheckboxChambres,
#MiniDivCheckboxRayon
{margin: 5px 0 0 0; float:right;}

.MiniDivChampText{float:right;}
.MiniInput{width:62px; border: 1px solid #fff; color: #525252; margin: 2px 0 0 0; background: #fff; padding:2px;}
.MiniInputTxt{ display: none; }

#MiniDivChampTextPieces,
#MiniDivChampTextChambres,
#MiniDivChampTextBudget,
#MiniDivChampTextBudgetVac,
#MiniDivChampTextSurface,
#MiniDivChampTextSurfaceTerrain,
#MiniDivChampTextProx,
#MiniDivChampTextRef
{float:left;padding:0px 0 0 20px}

#MiniLabelPieces1,
#MiniLabelPieces2,
#MiniLabelPieces3,
#MiniLabelPieces4,
#MiniLabelPieces5
{padding:0; margin:0 0 0 5px;}

#MiniCheckboxPieces1,
#MiniCheckboxPieces2,
#MiniCheckboxPieces3,
#MiniCheckboxPieces4,
#MiniCheckboxPieces5
{margin:0px 2px 0 0;}

#MiniInputPiecesMin,
#MiniInputPiecesMax
{width:60px}

#metrecarreterrain { display: none; }

#MiniInputBudgetMin,
#MiniInputBudgetMax
{width:62px; border: 1px solid #fff; background: #fff; font-size: 11px; color: #525252; }

#MiniInputSurfaceMin,
#MiniInputSurfaceMax
{width:62px; border: 1px solid #fff; background: #fff; font-size: 11px; color: #525252;}

#MiniBoutonInput{ width: 175px; height: 33px; float: right; padding-bottom: 15px; }
#MiniDivChoixAffichage{ padding: 0 0 11px 0;}