div, span {
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.BoiteMoteurClassic {
	border: none;
}
.MoteurBudget, .MoteurBouquet, .MoteurRente, .MoteurInvestir, .MoteurMeuble, .MoteurEquipement, .MoteurBudgetVac, .MoteurProximite, .MoteurPreliste, .MoteurTypeDeBien, .MoteurSurface, .MoteurSurfaceTerrain, .MoteurPieces, .MoteurNbPersonnes, .MoteurSituation, .MoteurPays, .MoteurViager, .MoteurReference, .MoteurListeVilles, .MoteurCarte, .MoteurCritereSup {
	display:block;
	color: #767769;
	clear:both;
}
.TitreMoteurListeVille, .TitreMoteurInvestir, .TitreMoteurProximite, .TitreMoteurSituation, .TitreNombreDeChambres, .TitreMoteurMeuble, .TitreMoteurNbPersonnes, .TitreMoteurPays, .TitreTypeDeBien, .TitreSousTypeDeBien, .TitreMoteurEquipement, .TitreMoteurCritereSup, .TitreMoteurViager, .TitreNombreDePieces, .TitreMoteurSurface, .TitreMoteurReferencement, .TitreMoteurBudget, .TitreMoteurRente, .TitreMoteurBouquet, .TitreMoteurBudgetVac {
	display: block;
	background: #fff;
	color: #3b3b3b;
	font-style: bold;
	font-size:18px;
	height: 25px;
	line-height: 25px;
	text-indent: 10px;
	letter-spacing: 0em;
	padding:0;
	font-family:  Helvetica, Arial,sans-serif;
	margin: 10px 0px;
	border-bottom: solid 1px #f0f0f0;
	text-transform: uppercase;
}
.MoteurTypeDeBien label, .MoteurInvestir label, .MoteurCritereSup label, .MoteurSousTypeDeBien label {
	float: left; margin-right:10px; background:#f0f0f0; padding:8px; width:132px;
}
.MoteurTypeDeBien label:hover, .MoteurInvestir label:hover, .MoteurCritereSup label:hover, .MoteurSousTypeDeBien label:hover {
	float: left; margin-right:10px; background:#ffffff; padding:8px; width:132px;
}
.TitreBoiteMoteurClassic {
	display: none;
}
.ZoneSaisie {
	display: block;
	color: #767769;
	font-style: bold;
	font-size: 1.1em;
	letter-spacing: 0.2em;
	text-align: left;
}
MoteurProximite a {
	display: block;
	color: #767769;
	font-style: bold;
	font-size: 1.1em;
	letter-spacing: 0.2em;
	text-align: left;
}
.MoteurBouton {
	text-align: right;
}
.MoteurBouton input {/*float: none;*/
	width: 175px;
	height: 33px;
}

.MoteurRayon {padding:15px 0;}