// VAR COLORS
$color-body:#fff;
$color-content:#d8d9da;
$color-block:#f4f4f4;
$color-primary:#808080;
$color-secondary:#000;
$color-action:#dd2222;
$color-important:#dd2222;
$color-nav-footer:#000;
// COLOR PUB
$color-pub:"white";
// COLOR FONT BODY DEFAULT
$color-font-body:#000;
// COLOR SOUS MENU
$color-sous-menu:$color-block;
// COLOR NOUVEAUTE
$color-blue:#2b62c6;
$color-vert:#50bd3b;

