/* Template Initial 1 / Développement 2009 // WebAgency SeLoger ~ Jérôme B.*/

				*{font-family: arial, verdana,helvetica, sans-serif; font-size: 11px; color: #787878; margin:0; padding: 0; border: none;}

/* Général */
				body {color:#000; margin: 0;	background:#FFF;}
				a {font-weight: bold; color: #00a0c6;}
				a:hover {text-decoration: none;}
				
				#Top{height: 13px; overflow: hidden; width: 1000px; padding: 15px 15px 15px 15px; margin:auto; background:#1c4188; color:#fff;}
				
				#Top h1 {float:left; color:#fff; font-size:1em; margin-right:0px; font-weight: normal;}
				#picto_social {float:right; margin-top:-9px;}
				#picto_social a {float:left;}
				#picto_social a + a   {margin-left:5px;}
				#Top #AnnoncesDefilantes marquee { overflow: hidden; float:right; width: 465px; font-size:1em; color:#fff;}
				#Top #AnnoncesDefilantes a strong {color:#3fb5f5; font-size:1em; font-weight: normal;}
				#Top #AnnoncesDefilantes a {color:#3fb5f5; font-size:1em; font-weight: normal;}
				#Drapeaux {display:none;position:absolute; top:10px; left:650px; }
				
				#Global {position: relative; padding: 15px; margin:auto; width: 1000px; text-align: left; background: #fff; border: 0;}
				
				#Header {height:80px;}
				#Header img { border:0; position:absolute; top:40px; }
				#Header h1 {display:none;}
				#Header h2 {font-size:16px; position:absolute; top:40px; left:420px; color:#006db8;}
				#Header #Ref {padding-top:30px; float:right; text-align:right; list-style:none;}
				#Header #Ref a {color:#d4d4d4; text-decoration:none; font-size:0.9em;}
				#Header #Ref a:hover {color:#000; text-decoration:none; font-size:0.9em;}
				
/* Main Menu */
				#TopMenuPlace {
								height:35px;
								margin:0; border:0; padding:0.25em 0;
								}
				ul#Menu {
								background:#fff;
								position:absolute;
								top:105px; left:15px; 
								width:985px; height:35px;
								margin:0; border:0; padding:0 0 0 15px;
								font-size:small; 
								list-style:none;}
				ul#Menu li {
								font-family:century; verdana, arial,helvetica, sans-serif;
								margin:0;	padding:0 0.3em 0 0; border:0;
								float:left;}
								
				ul#Menu li a { color:#000; 
								display:block;
								font-weight: normal;
								padding:0.6em 1em;
								margin:auto;
								border-bottom:3px solid #000;
								text-decoration:none;
								font-size:1.3em; text-align:center;}
								
				ul#Menu li a:hover { background:#3fb5f5; border-bottom:3px solid #60cffd; color:#fff;}
				
/* Second Menu */
				ul#Menu2 {
								background:#fff;
								position:absolute;
								top:0px; left:710px;
								width:300px; height:35px;
								margin:0; border:0; padding:0 0 0 15px;
								font-size:small; 
								list-style:none;}
				ul#Menu2 li {
								font-family:century; verdana, arial,helvetica, sans-serif;
								margin:0;	padding:0 0.3em 0 0; border:0;
								float:left;}
								
				ul#Menu2 li a { color:#787878; 
								display:block;
								font-weight: normal;
								padding:0.6em 1em;
								border-bottom:2px solid #000;
								margin:auto;
								text-decoration:none;
								font-size:1.3em; text-align:center;}
								
				ul#Menu2 li a:hover { background:#3fb5f5; border-bottom:2px solid #60cffd; color:#fff;}
				
/* Sous Menu */
				#sub-menu1 {
				  position: absolute;
				  top: 141px;
				  left: 106px;
				  border-bottom: 5px solid #000;
				}
				
				#sub-menu2 {
				  position: absolute;
				  top: 141px;
				  left: 183px;
				  border-bottom: 5px solid #000;
				}
				
				#sub-menu1 #sm1, #sub-menu2 #sm2 {
				    position: relative;
				    display: none;
				    background:#fff;
				    padding: 10px;
				}
				
				#sub-menu1 #sm1 a, #sub-menu2 #sm2 a {
				    font-weight: bold;
				    color: #000;
				    text-decoration: none;
				    padding:10px;
				    font-size: 11px;
				}
				
				#sub-menu1 #sm1 a:hover, #sub-menu2 #sm2 a:hover {
				    color: #3fb5f5;
				    text-decoration: none;
				}
				
/* Bande photo + Moteur */				
				
				#Vide {height:45px; }
				
				#Ban {height:230px; padding:4px 0 0 0; margin-bottom:5px; border-bottom:1px dotted #949494; }
				#Ban img {float:left; border:1px solid #454444; margin:0 25px 0 0;}
				#Ban h1 {color:#000; font-size:1.4em; font-weight: bold;}
				#Ban h2 {color:#3fb5f5;  font-size:1em; font-weight: bold;}
				#minimoteur {width:280px; float:left; margin:auto; padding:0;}
				
				#idtb_2 {display:none;}
				
				#Contenu {background:#fff; padding:0 0 10px 0;  border-bottom:1px dotted #949494; }
				#Contenu h1 {float:left; color:#000; font-size:1.2em; font-weight: bold;padding:6px 0 0 0;}
				
				.Clear {
							 clear: both;
							 font-size:0.1em;
							 }
/* CDC */								 
				.PhotoCdc img{height:115px; width:202px; border:2px solid #e8e8e8;margin:auto;}
				.DescriptifCdc {color:#787878;}
				.Cdc {float:left; width:202px; margin:10px 30px 0 0px;}
				.Cdc a {color:#00a0c6; font-size:1.5em; text-decoration: none; font-weight: bold;}
				
/* Contenu */
				#BlocCdc {float:left; background:#fff; }
				#BlocAgence {float:left; background:#fff; width:292px; padding: 10px 0 0 10px;}
				#BlocAgence img{display:block;}

/* Footer */
				#Footer { width: 1000px; padding: 15px 15px 15px 15px; margin:auto; background:#1c4188; color:#fff;}
				#Footer h1 {color:#fff; font-weight:bold; padding: 0 0 5px 0;}
				#Portefeuille {float:left; width:213px; padding: 0 5px 5px 5px;}
				#Portefeuille a {color:#c8c7c7; font-weight:normal;}
				#RSS {float:left; width:263px; padding: 0 5px 5px 5px;}
				#RSS a {color:#c8c7c7; font-weight:normal;}
				#RSS ul {list-style:none;}
				#RSS ul li {padding-bottom:5px;}
				#Villes {float:right; width:493px; padding: 0 5px 5px 5px;}
				#Villes a {color:#c8c7c7; font-weight:normal;}
				#Villes h1 a {color:#fff; font-weight:bold; }
				.ListeVilles a strong {color:#c8c7c7; font-weight:normal; text-decoration:none;}

/*page Partenaire*/
				.Partenaire h1 {font-size: 18px; display:inline;}
				.Partenaire h2 {}
				
/*page Agence*/
				.Agence p {margin-bottom:10px;}
				.Agence h1 {font-size: 18px; display:inline;}
				.Agence h2 {font-size: 18px; text-align:center;color:#1C4188;margin-bottom:15px;}
				.titlleagence {font-weight: bold; text-align:center;}
				.Partenaire h2 {}
				
/*page formulaire*/
				.tabFond1 { background: none; width:1000px; }
				.tabFond1 td { text-align:left; font-size: 11px; padding: 4px 0 4px 10px; margin:0 0 4px 0;  }
				.tabFond1 table { }
				.tabTitre strong{position: relative; font-size: 1.4em; color: #fff; background: #1c4188; }
				.tabTitre {background: #1c4188; }
				.messageNomAgence, .estimationNomAgence { display:none; }
				#CguFormulaire { background: #fff; border: 0px; padding: 10px; text-align: left; color: #adadad; }
				#CguFormulaire a { color: #000; text-decoration: underline; }
				#CguFormulaire a:hover { color: #fff; text-decoration: none; }
				.imputForm {  }
				textarea.imputForm { width:250px; height:100px; }
				select.imputForm { width:200px; }
				.BoutonFormContact,
				.boutonEnvoi {background:#fff; padding:5px; margin-top:5px; color:#1c4188; font-size:18px; font-weight:bold;}

/*page alerte*/
				#PageAlert { border-bottom: 1px solid #83508f; border-top: 1px solid #83508f; padding: 15px 0; }
				#PageAlert font { color: #83508f; }
				#PageAlert td { text-align: left; }
				#PageAlert strong { color: #83508f; }
				#PageAlert a { font-size: 14px; font-weight: bold; color: #83508f; display: block; margin-left: 50px; padding-left: 20px; width: 400px; line-height: 14px; height: 14px; }
				#PageAlert a:hover { width: 400px; line-height: 14px; height: 14px; font-size: 14px; color: #fff; text-decoration: none; display: block; margin-left: 50px; padding-left: 20px; }

/*IE8*/
				.BoutonFormContact, .BoutonFormRecherche { height: 27px; width: 113px; }
/**/

/* Moteur */
				div,span{
				font-size: 11px;
				font-family: Arial, Helvetica, Verdana, sans-serif;
				}
				
				.imputForm, select { background:#e8e8e8; border:#d4d4d4 solid 1px; height:18px; width:100px; }
				.MoteurListeVilles select { background:#e8e8e8; border:#d4d4d4 solid 1px; height:18px; width:290px; margin-bottom:15px;}
				.ZoneSaisie, .Cp {  }
				.BoiteMoteurClassic {border:0px; background:#fff; }
				
				.MoteurSurface, 
				.MoteurBudget, 
				.MoteurProximite, 
				.MoteurListeVille, 
				.MoteurSousTypeDeBien,
				.MoteurListeVilles,
				.MoteurPieces,
				.MoteurRayon span,
				.MoteurSurfaceTerrain,
				.MoteurReference,
				.MoteurCritereSup 
				{padding:10px 10px 10px 10px; font-size:11px; color:#7b7b7b;}
				.FormulaireTypeDeBien
				{padding:10px 10px 0 0; font-size:11px; color:#7b7b7b;}
				label {margin: 0 30px 0 0; font-size:11px;}
				label input {margin: 0 6px 0 0;}
				.MoteurRayon label {  }
				.MoteurTypeDeBien,
				.MoteurPieces,
				.MoteurChambres,
				.MoteurSurface,
				.MoteurBudget,
				.MoteurProximite,
				.MoteurReference,
				.MoteurEquipement 
				{padding:10px; font-size:11px; color:#7b7b7b;}
				.TitreTypeDeBien,
				.TitreNombreDePieces,
				.TitreMoteurSurface,
				.TitreMoteurBudget,
				.TitreMoteurProximite,
				.TitreMoteurListeVille,
				.TitreSousTypeDeBien,
				.TitreMoteurNbPersonnes,
				.TitreMoteurBudgetVac,
				.TitreMoteurEquipement,
				.TitreMoteurSituation,
				.TitreMoteurInvestir,
				.TitreNombreDeChambres,
				.TitreMoteurReferencement,
				.TitreMoteurCritereSup  
				{border:0px; font-family:arial; font-size:18px; text-transform: uppercase; color:#454444; background:#fff; padding:0 0 10px 0;}
				#MoteurBouton {margin:10px; padding:10px; float:left; background:#3fb5f5; }
				.MoteurBouton Input {color:#1c4188; font-weight:bold; font-size:18px; width:350px;}
				.Cp a {  } 
				.MoteurSurfaceTerrain span {  }
				.MoteurBudget select { }
				.MoteurInvestir label, .MoteurEquipement {  }
				.MoteurCritereSup LABEL { }
				
/*page plan*/
				#Plan li {list-style:none;}
				#Plan li h1 { border:0px; font-family:arial; font-size:18px; text-transform: uppercase; color:#454444; background:#fff; padding:0 0 10px 0; }
				#Plan h2 { border:0px; font-family:arial; font-size:16px; text-transform: uppercase; color:#454444; background:#fff; padding:10px 0 10px 0; }
				#Plan h3 { border:0px; font-family:arial; font-size:14px; text-transform: uppercase; color:#454444; background:#fff; padding:10px 0 10px 0; }
				#Plan li a { border:0px; font-family:arial; font-size:13px; text-transform: uppercase; color:#00a1c8; background:#fff;  }
				#PageAlert font { color: #83508f; }
				#PageAlert td { text-align: left; }
				#PageAlert strong { color: #83508f; }
				#PageAlert a { font-size: 14px; font-weight: bold; color: #83508f; display: block; margin-left: 50px; padding-left: 20px; width: 400px; line-height: 14px; height: 14px; }
				#PageAlert a:hover { width: 400px; line-height: 14px; height: 14px; font-size: 14px; color: #fff; text-decoration: none; display: block; margin-left: 50px; padding-left: 20px; }

#video_agence {width:1000px; text-align:center;}