/* CSS POUR MOTEUR, MINIMOTEUR */
/* MINI MOTEUR */
#bloc-moteur .ajaxLoader {width:100%;text-align:center;}
#bloc-moteur .miniDiv {float:none;margin:0;padding:0;width:auto;display: inline;}
#bloc-moteur .miniDivInfos {clear:both;width:100%;margin-top:5px;font-weight:9px;}
#bloc-moteur .miniBlocTitre { display: none; }
#bloc-moteur .miniBlocSelection {float:left;text-align:left;margin-left:0px;width:auto;line-height:12px;}
#bloc-moteur .miniBlocSelectionImage {float:left;text-align:center;margin-left:0px;width:60%;line-height:12px;}
#bloc-moteur .miniForm, #bloc-moteur .miniFormInput {background:#e2e2e2;border:1px solid #656363;font-size:11px;height: 25px; padding: 0px;margin:8px 10px; color: #000; }
#bloc-moteur .miniFormInput {width:80px;float:left;margin-right:10px;}
#bloc-moteur .miniBouton {margin:0; background: url($$_$$images/minirechercher_$$FORM:LANG$$.png) no-repeat; width: 116px; height: 41px; font-size: 0; border: none; }
#bloc-moteur .divOff {display:none;}
#bloc-moteur #Mini_Send {float:right;position:relative;top:0;right:0;margin:0 0 0 20px;}
#bloc-moteur #Mini_Moteur{height: 30px;}

#bloc-moteur #Mini_Suggest{float:left;position:relative;padding:4px;margin:0 0 0 20px; background: #e7e7e7;}
#bloc-moteur #Mini_Biens{ }

/* MOTEUR */
#Moteur{margin:20px 0 0 0;}
.moteurMargin{margin:15px 0 0 0;}
.moteurComment{color:#999}
#Moteur h1{font-weight:bold;}
#Moteur h2{font-weight:bold;font-size:13px;}
#Moteur h3{font-weight:normal;font-size:12px;color:#5a5b5b;border-bottom:1px solid #dfe1e1;padding:0 0 5px 0;}
#Moteur h3 strong{font-weight:bold;color:#d1181e;}
#Moteur h4{font-style:italic;color:#d1181e;}
#Moteur .moteurTable{width:940px;}
#Moteur .moteurTable td{width:940px;vertical-align:top;}
#Moteur .moteurTable .col1{width:313px;padding:20px 0 0 0px;}
#Moteur .moteurTable .col2{width:313px;;padding:20px 0 0 10px;}
#Moteur .moteurTable .col3{width:300px;;padding:20px 0 0 10px;}
#Moteur .moteurTable ul li{padding:5px;margin:2px 0;background:#eff1f1; color: #5a5b5b; list-style-type: none; }
#Moteur .moteurTable ul li#idtypebien_1{margin:0;}
#Moteur .moteurTable ul li#idtypebien_2{margin:2px 0 0 0;}
#Moteur .moteurTable ul li#nb_pieces,
#Moteur .moteurTable ul li#nb_chambres,
#Moteur .moteurTable ul li#InputSurfaceTerrain{padding:5px 5px 5px 20px;background:#eff1f1;margin:0;}
#Moteur .moteurTable ul li#InputSurfaceTerrain{margin:-2px 0 0 0;}
#Moteur .inputText{padding:1px 2px;margin-top:3px;}
#Moteur .inputSelect{font-weight:normal;color:#d1181e;;font-size:12px;padding:0 0 0 5px;background:#eff1f1;border:1px solid #ccc;}
#Moteur .inputTextarea{font-weight:bold;margin:0 0 10px 0;padding:1px 2px;}
#Moteur .inputText,
#Moteur .inputTextarea{border:1px solid #dfe1e1;color:#5a5b5b;font-size:12px;background:#eff1f1;}
#Moteur .inputText{width:100px;}
#Moteur .inputSelect{width:300px;}
#Moteur .inputTextSpan{padding:0 5px;}
#Moteur #ref_ann{padding:0 0 20px 0;border-bottom:1px solid #dfe1e1;}
#Moteur #ref_ann .inputText{width:300px;}
#Moteur #cp1,
#Moteur #cp2,
#Moteur #cp3,
#Moteur #cp4{display:block;width:280px;margin:0 0 5px 0;}
#Moteur #MoteurVilles.miniDiv{height:50px;}
#Moteur #MoteurVilles li{display:block;float:left;width:30%;padding:5px;margin:2px 1% 2px 0;}
#Moteur #MoteurBouton{text-align:right;}
#Moteur #MoteurBouton .inputSubmit{padding:10px 20px;font-size:16px;font-weight:bold;margin: 0;color:#fff;background:#d1181e;width:auto;cursor:pointer;border:none;margin-top: -300px;}
#Moteur .alerteBtModif{cursor:pointer;border:none;font-size:16px;font-weight:bold;padding:3px 20px 5px 20px;*padding:3px 20px;}
#Moteur .preValid{padding:20px 0;}
#Moteur .preValid a{font-weight:bold;text-decoration:underline;margin:0 35px 0 0;cursor:pointer;}
#Moteur .preValid a:hover{text-decoration:none;}
#RechDetaillee ul, #RechDetaillee li{margin:0;padding:0;}