// VAR COLORS
$color-body      : #e6e6e6;
$color-content   : #ffffff;
$color-block     : #D9D9D9;
$color-primary   : #191919;
$color-secondary : #b3bdac;
$color-action    : #9CAE00;
$color-important : #c2d410;
$color-nav-footer: #c2d410;

// COLOR PUB
$color-pub       : "white";

// COLOR FONT BODY DEFAULT
$color-font-body : #666666;

