/* =================== */
.TotalAnnonce {
	text-align: left; 
	padding-top: 5px;
	margin-left: 3px;
	_width:98%;
}
.TitreAnnonce {  
	text-align: left; 
}
.BoiteAnnonce {
	border-width: 0px;
}

.DetailLibelleetPrix {
	background-color: #8C6B62;
	color: #fff;
}

.DetailInfoTitre{
 background:none;
 color:#FFF;
 padding: 0;
 margin:5px 5px;
}

.DetailInfoComplementaire{
 background-color: #8C6B62;
 border:1px solid #FFF; 
 color:#FFF;
}

.DetailInfoComplementaire td{
 color:#FFF;
 font-weight:bold;
}

.DetailFormulaireLib {
color:#E83B00;
}

.DetailAgence {
line-height:22px;
}
.DetailImprimer {
	border-bottom:1px solid #8C6B62;
}

.DetailFormulaire {
text-align:center;
width:100%;
}

.DetailFormulaire td{
padding:3px 8px;
}

