// VAR COLORS
$color-body:#fff;
$color-content:#fff;
$color-block:#fff;
$color-primary:#bfbfbf;
$color-secondary:#adadad;
$color-action:#d20023;
$color-important:#515151;
$color-nav-footer:#fff;
// COLOR PUB
$color-pub:"white";
// COLOR FONT BODY DEFAULT
$color-font-body:#747474;

$color-violet:#8d1586;

