// VAR COLORS
$color-body:#fff;
$color-content:#272727;
$color-block:#f0f0f0;
$color-primary:#1a171b;
$color-secondary:#464646;
$color-action:#f4ac00;
$color-important:#464646;
$color-nav-footer:#fff;
// COLOR PUB
$color-pub:"white";
// COLOR FONT BODY DEFAULT
$color-font-body:#464646;