// VAR COLORS
$color-body:#ffffff;
$color-content:#ffffff;
$color-block:#EAEAEC;
$color-primary:#133c6a;
$color-secondary:#fff;
$color-action:#61a830;
$color-important:#133c6a;
$color-nav-footer:#133c6a;



// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#000306;
