// VARIABLES COLORS
$color-body:#66635f;
$color-content:#89744d;
$color-block:#3c3b3d;
$color-primary:#3c3b3d;
$color-secondary:#494748;
$color-action:#e21f26;
$color-important:#e21f26;
$color-nav-footer:#fff;

$color-typo-action:#c5c5c5;

// COLOR PUB
$color-pub:"white-opacity";

// COLOR FONT BODY DEFAULT
$color-font-body:#fff;