/* CSS Document */

/* Redefinitions des balises HTML */ 
*{margin:0;padding:0;font-size:12px;font-family:Arial, Verdana, Helvetica, sans-serif;color:#fef6e2;}
img{border:0}
.clear{clear:both;}
a{text-decoration:underline;outline:none;color:#f8c70b;}
a:hover{color:#fedb83;text-decoration:none;}
hr{display:none;}
select option{padding:0;}
table{ margin:0 auto; padding:0;}
table tr td,
table tr td p
#milieu table tbody tr td{ padding:5px 0px; text-align:justify; text-align:left;}
* html input.alerte{ background:#fef6e2;}
/* --------Modification AR PLAN SITE-------- */    
body{background:url(../images/pixel_body.gif) #000 repeat-x ;margin-top:-3px;}
/* Effet bordure (espace 5px) entre BG menu et bande BG site */
#header{width:993px; margin:20px auto 0 auto;}

#global{position:relative;width:993px; margin:0 auto;}


/* ----------------------------------------PAGE ACCUEIL---------------------------------------- */	   
   
/* --------LOGO AGENCE-------- */ 
#LogoAgence { float:left; display:inline; width:368px; padding:0 0 20px 0;}
#LogoAgence img{ display:block; margin:0 auto; border:3px solid #fedb83;}


/* --------DRAPEAUX LANGUES FRANCAIS ET ANGLAIS-------- */ 		
/* Mettre en DISPLAY:NONE si pas d'option Anglais */ 
#Drapeaux {position:absolute; top:109px; left:140px;}
#Drapeaux img {padding-right:10px;}

/* --------TEXTE ACCUEIL--------*/ 
#textAccueil { position:relative; float:right; display:inline; width:560px; padding:0 0 5px 0; display:block;}
/* Modification TITRE texte d'accueil */ 
#textAccueil h1{ font-size:18px; font-weight:bold;color:#fedb83; padding:0 0 4px 0;}
/* Modification CORPS texte d'accueil */ 
#textAccueil p{ text-align:justify; font-size:12px;  color:#fef6e2; line-height:16px; width:500px; display:block;}
#textAccueil p strong{ color:#fef6e2;}
#textAccueil a{ text-decoration:none; color:#f8c70b;}
#textAccueil a:hover{ text-decoration:underline; color:#fedb83;}

/* LOGOS: FNAIM & SIA */
#Partners{ display:none; position:absolute; top:0px; right:0px; width:62px; float:left; text-align:center;}
#Partners span img{text-align:center; padding:2px 0;}

/* --------MARQUEE DEFILANTE-------- */
/* Modification COULEUR  MARQUEE */ 	
#RefMarqueNavig{ width:565px; height:31px; float:right; display:inline;color:#fedb83; font-size:10px;width:width:550px;background:none;margin:0 4px 0 0;}
#RefMarque{ width:565px; height:31px; float:right; display:inline;color:#fedb83; font-size:10px;width:width:550px;background-color:#898270;margin:0 4px 0 0; padding:0 4px 0 0;}
#RefMarque marquee{width:555px;margin:0;padding:0; color:#fedb83; padding:8px 5px 8px 5px;}
#RefMarque marquee a {color:#fedb83;}
#RefMarque marquee a strong {color:#fedb83;}
#RefMarque marquee a:hover {color:#fedb83;}

/* ----- Moteur -----*/
h2.TitrePage{ color:#f8c70b; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}

/* --------MENU + FLUX RSS-------- */
/* Modification COULEUR + TAILLE fond MENU */
#remplissageMenu{ width:100%; background:#fedb83; min-height:44px;}		
#menuFlux{width:984px; background:#f8c70b; height:44px; border-left:5px solid #000; border-right:5px solid #000; border-top:1px solid #000;margin:0 auto;}
#menu {float:right; display:inline; padding:14px 10px 11px 0;}
#menu ul{ display:inline; margin:0 0 0 6px;}
#menu li{ display:inline;color:#898270; font-size:15px; padding:0 2px;}
#menu ul li.MenuSep{ color:#898270;}
/* Modification COULEUR TEXTE MENU */ 
#menu a{ font-weight:bold;color:#000; text-decoration:none;font-size:13px;}
#menu a:hover{color:#fff;}		
/* Modification FLUX RSS */ 		
#fluxRss{float:left; display:inline; padding:15px 25px 0px 10px; }
#fluxRss a{ font-size:10px; text-decoration:underline; color:#898270; margin:0 0 0 4px}
#fluxRss a:hover{ font-size:10px; text-decoration:none;color:#000;}
#fluxRss img{float:left; display:inline; vertical-align:middle; }


/* --------CONTENU SITE = ZONE DU MILIEU-------- */
/* Modification COULEUR ARRIERE PLAN CONTENU SITE */ 	
#milieu{width:985px;padding:24px 0 3px 0px; min-height:250px;background:#000; border-left:5px solid #000; border-right:4px solid #000; margin:0 auto;}
/* Positionnement bandeau image */ 
#visuel{float:left; display:inline; width:654px; margin:0 5px 10px 5px; padding:0;}		
/* Modification COULEUR BORDURE IMAGE */ 	
#visuel img{border:none;}	
/*#visuel img{border:7px solid #898270;}*/
 

/*--------POSITIONNEMENT MINI MOTEUR-------- */ 
.miniMoteur{float:right;display:inline;width:220px;padding:0 0 0 42px;position:relative;background:url(../images/fontTitreMoteur.gif) 0 2px no-repeat;}		
/* Modification TITRE RECHERCHE */ 		
.miniMoteur h2{font-size:18px; font-weight:bold; color:#f8c70b;padding:12px 0 0 0;}
/* A NOTER !!!! Pour styliser les champs + bouton mini moteur VOIR == MINI_MOTEUR.CSS */ 


/* ----------- 3 COUPS DE COEUR ------------- */ 
#blocBas #coupCoeur{float:left;display:inline;width:715px;margin:0 50px 15px 0;height:271px; }

/* ----------- LISTE TRANSACTIONS AGENCE ------------- */ 
#blocBas .nbrTransaction{float:right;width:210px; margin:0 10px 0 0;}
/* Modification COULEUR "AUJOURD'HUI" */ 	
#blocBas .nbrTransaction h3{font-size:13px;font-weight:bold;padding:1px 0;color:#fedb83;}
/* Modification COULEUR TYPE TRANSACTION */ 	
#blocBas .nbrTransaction h4{width:167px;font-weight:bold;font-size:13px;color:#fff;padding:10px 0 0 0;}
#blocBas .nbrTransaction ul{list-style-type:none;margin:0 0 10px 3px; line-height:16px;}
/* Modification COULEUR TYPE DE BIEN */ 
#blocBas .nbrTransaction ul *{font-size:11px;color:#fef6e2;}
#blocBas .nbrTransaction ul a:hover{text-decoration:none;color:#fedb83;}


/* -----------INCLUDE BAS------------- */ 

/* Modification COULEUR BANDE COORDONNEES */ 
.CoordonneesAgence {font-size:12px; background:#898270; height:27px; text-align:center; padding-top:13px; color:#fef6e2; font-weight:bold;}	
/* Modification BG footer portefeuille + menu secondaire */
.footerPosition{background:#000; position:relative;width:984px; border-left:5px solid #000; border-right:5px solid #000; padding-bottom:15px; margin:auto;}
.porteFeuille{float:left;width:610px;padding-left:39px;}
/* ARRIERE PLAN FOOTER */
#footer{ background:#fedb83; margin:0 auto; padding:0 0 0 1px;}
		
		
/* Modification couleur 2 TITRES FOOTER */ 
 #footer h4{font-size:11px;font-weight:bold;background:url(../images/puce.gif) no-repeat;padding:4px 0 1px 33px;margin:17px 0 0 0;line-height:19px;}
/* titre gauche : Notre portefeuille immobilier */
 #footer .porteFeuille h4{font-size:12px; color:#f8c70b;}
/* titre droite : www.urldusite.com */
 #footer .menuSecondaire h4{font-size:12px; color:#f8c70b;}
 #footer .menuSecondaire a{ text-decoration:underline;}
 #footer .menuSecondaire a:hover{ text-decoration:none;}
		
/* Modification couleur LISTE DES VILLES */ 
.porteFeuille .ListeVilles{width:520px;text-align:justify;line-height:13px;border:0;color:#f8c70b; padding:4px 0 0 5px;}
.ListeVilles *{color:#fef6e2; font-size:11px;font-weight:normal;}
.ListeVilles a{color:#fef6e2;text-decoration:none;}
.ListeVilles a:hover{color:#f8c70b;text-decoration:underline;}

/* Modification couleur MENU SECONDAIRE FOOTER (droite) */
.menuSecondaire{float:left;width:305px;font-size:12px;color:#fef6e2;}
.menuSecondaire p{padding:3px 0 0 5px; color:#fff; text-align:justify;}
.menuSecondaire p a{font-size:12px;color:#fef6e2;text-decoration:none;}
.menuSecondaire p a:hover{font-size:12px;color:#fff;text-decoration:underline;}
span.sepSep{ color:#f8c70b;}



/* ----------------------------------------AUTRES PAGES DU SITE---------------------------------------- */

/* Page En Construction */
#EnConstruction{margin-top:70px; text-align:center;}

/* PAGE PLAN DU SITE = incl_plan-site.htm */  
.ul#Plan *{text-decoration: none; font-weight: bold;}
ul#Plan{padding: 2em 8em;}
ul#Plan li.plan{ color:#f8c70b; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}
ul#Plan li.MenuSep{display:none;}
ul#Plan li{padding: 0.2em 0; border-bottom: 1px solid #898270;background:url(../images/puce.gif) 0px 3px no-repeat;}
ul#Plan .plan{padding: 0.2em 0; border-bottom: 1px solid #898270;background:none;}
ul#Plan li a{color:#fef6e2;padding-left:30px;height:19px;font-size: 12px;padding-top:6px;}
ul#Plan li a:hover{color:#fff;padding-left:30px; height:19px;font-size: 12px;}

/* Outils */
.ul#Outils *{text-decoration: none; font-weight: bold;}
ul#Outils{padding: 2em 8em;}
ul#Outils li.list{padding: 0.2em 0; border-bottom: 1px solid #898270;background:url(../images/puce.gif) 0px 3px no-repeat;}
ul#Outils li a{color:#fef6e2;padding-left:30px;height:19px;font-size: 12px;padding-top:6px;}
ul#Outils li a:hover{color:#fff;padding-left:30px; height:19px;font-size: 12px;}
#Outils li.titrePageOutils{ color:#f8c70b; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}

/*PAGES ESTIMATION + CONTACT + MESSAGE == TABLEAUX FORMULAIRES*/
.tabFond1{border-color:#898270; border-width:0; border-style:solid; padding:2px; font-family:Arial, Helvetica, sans-serif; width:100%;}
 textarea {color:#898270; width:600px; height: 100px;}
.tabFond2{border-color:#898270; border-width:1px; border-style:solid; padding:2px; font-size:14px; font-family:Arial, Helvetica, sans-serif;}
.tabTitre{background:#898270; color:#fff; font-size:14px; font-weight: bold; font-family:Arial, Helvetica, sans-serif;height:25px;padding:3px; text-align:center; text-transform:uppercase;}
.tabTitre *{color:#fff; font-size: 14px;}
.tabPrint{color:#5C5E5D; font-size: 13px; font-family:Arial, Helvetica, sans-serif; border:1px solid #898270;}
.tabFond1 td input{margin:3px;}
.tabFond1 table{ width:100%;}
strong.messageNomAgence,
strong.estimationNomAgence{ color:#f8c70b; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase; display:block;}
select.imputForm option{color:#898270;}
select.imputForm {color:#898270;}
input {color:#898270;}

/*Résolution Bug IE8 = donner une taille aux bouton pour éviter tout décallage*/
.boutonEnvoi {float:right;}
.BoutonFormContact {float:right;}
.MoteurBouton input {float:right;}
td #ChampsBouton input {float:right;}		

/* GUIDE PRATIQUE = ACCES VIA LE LIEN DANS LA PAGE OUTILS*/
span.txtTitre3{ display:block; width:870px; color:#fef6e2; background:#898270; font-size:16px; font-weight:bold; padding:3px 5px; margin:10px 3px 3px 0;}
span.gras{ display:block; width:882px; color:#fef6e2; background:#898270; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;}
td.encadre{background-color:#898270; border-color:#fef6e2; border-width:2px; border-style:solid; padding:3px; color:#000; margin:0 0 0 -4px;}
p.grasnews{ display:block; width:882px; color:#fef6e2; background:#898270; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;}

/* coup de coeur*/
* html .div-cdc{ height:260px;}
.div-cdc{width:230px; min-height:260px;float:left; background:#1c1b17; margin:0 4px 0 0; border:1px solid #E9CA3E;}
.div-cdc *{ color:#898270;}
.div-cdc .photo-cdc img{width:220px;height:139px;background:url(../images/bg_Img_Cdc.gif);padding:5px 2px 3px 5px;}
.div-cdc a span.ville-cdc{font-weight:bold;display:block; color:#fedb83; }
.div-cdc .typetransaction-cdc{text-transform:capitalize; color:#898270;}
.div-cdc .typebien-cdc{}
.div-cdc .contenu-cdc{padding:0 6px 4px 6px;}
.div-cdc .contenu-cdc *{color:#fef6e2;}
.div-cdc .contenu-cdc a{ text-decoration:none;}
.div-cdc .contenu-cdc a:hover{color:#898270;}
.div-cdc .descriptif-cdc{min-height:30px;}
* html .divc2c .descriptif-cdc{height:30px;}
.div-cdc p.prix-cdc{font-weight:bold;font-size:14px; color:#f8c70b;}
 
 
/* Mentions Legales */
#MentionsLegales{}
#MentionsLegales h2 {display: block; width: 99%;background:#898270; font-size: 14px; color:#fff;font-weight: bold;letter-spacing: 0;padding:3px 0 3px 8px;margin: 10px 0;text-align: left;text-transform: none;font-family: Arial; text-transform: none;}
/*page recherche*/
#RechResultat .blocAnnonce table.detailsAnn td.photo_wrap .photo_ctn a.nbVisuels,
#RechResultat .blocAnnonce table.detailsAnn td.photo_wrap .photo_ctn a.nbVisuels span{color: #898270;}