$$REM$$
/*
====================================================================

//// <summary>Liste macros générales de votre site agences</summary>
//// <remarks>
//// <para>Démutualiser ce fichier pour modifier vos propres paramètres</para>
//// <para>Possibilité de créer de nouvelles macros si cela vous est nécessaire, ce fichier n'est pas exhaustif</para>
//// </remarks>
//// <update date="2008-10-09" author="lisbonne.siriphol">Création</update>

====================================================================
*/
$$END$$

/* 

$$REM$$
>> MACROS GÉNÉRALES (attention au chemin des fichiers)
====================================================================================
 ///////////////////////////// listez ici vos macros  /////////////////////////////
====================================================================================
$$END$$

$$REM$$ ================================>> 1/ COULEURS TEXTES PAGE <<================================ $$END$$
$$REM$$ ==>> couleur liens top + prix + type bien + ville et cp ... $$END$$ 			$$A:LIGHT_COLORTXT1=#fedb83$$
$$REM$$ ==>> couleur autres textes en bleu $$END$$																$$A:LIGHT_COLORTXT2=#898270$$


$$REM$$ ================================>> 2/ COULEURS BG ET BORDERS <<================================ $$END$$
$$REM$$ ==>> Tous les bg blanc $$END$$																	$$A:LIGHT_BG_BLANC=#1c1b17$$
$$REM$$ ==>> border du bg blanc $$END$$																	$$A:LIGHT_BORDER_CLAIR=1px solid #fedb83$$

$$REM$$ ==>> bg couleur grise $$END$$																		$$A:LIGHT_BG01=#000$$
$$REM$$ ==>> border photos annonces + champs formulaires $$END$$				$$A:LIGHT_BORDER01=1px solid #fef6e2$$

$$REM$$ ==>> bg bande LIBELLE $$END$$																		$$A:LIGHT_BG02=#f8c70b$$
$$REM$$ ==>> border bande LIBELLE $$END$$																$$A:LIGHT_BORDER02=1px solid #1c1b17$$

*/


/* ================================ formulaire de contact / bas de page ================================ */
/* Couleur du BG du formulaire en bas de page */ 
#AgenceContact td.detail_form_col2{background:#1c1b17;}

