$$REM$$
/*
====================================================================

//// <summary>Liste de macros générales pour faciliter la customisation des sites agences</summary>
//// <remarks>
//// <para>Possibilité de démutualiser ce fichier pour modifier vos propres paramètres</para>
//// <para>Possibilité de créer de nouvelles macros si cela vous est nécessaire, ce fichier n'est pas exhaustif</para>
//// </remarks>
//// <update date="2008-10-16" author="lisbonne.siriphol">Création</update>

====================================================================
*/
$$END$$

/* 


$$REM$$
>> MACROS GÉNÉRALES (attention au chemin des fichiers)
====================================================================================
 ///////////////////////////// listez ici vos macros  /////////////////////////////
====================================================================================
$$END$$



$$A:PATH_IMG_SITE=@@_@@img$$



$$REM$$ ================================>> 1/ COULEURS TEXTES PAGE <<================================ $$END$$

$$REM$$ ==>> TEXTE ROUGE sur la page $$END$$ 			      	$$A:LIGHT_COLORTXT1=#fedb83$$
$$REM$$ ==>> TEXTE BLEU sur la page$$END$$								$$A:LIGHT_COLORTXT2=#898270$$
$$REM$$ ==>> couleur LIBELLE ANNONCE $$END$$							$$A:LIGHT_COLORTXT3=#fef6e2$$
$$REM$$ ==>> couleur FLUX RSS (orange)$$END$$							$$A:LIGHT_COLORRSS=#f8c70b$$
$$REM$$ ==>> lien chiffres nb page$$END$$									$$A:LIGHT_NBPAGE_COLOR=#fedb83$$
$$REM$$ ==>> metro et rer $$END$$													$$A:LIGHT_COLORTXTMETRO=#1c1b17$$
$$REM$$ ==>> annonce séléctionnée (gris)$$END$$						$$A:LIGHT_COLORTXT_SELECTION_OK=#1c1b17$$



$$REM$$ ================================>> 2/ COULEURS BG ET BORDERS  <<================================ $$END$$

$$REM$$ ==>> bg blanc / fond cadre annonce $$END$$											$$A:LIGHT_BG_BLANC=#1c1b17$$
$$REM$$ ==>> bg nb pages + contact + bande plus d'infos$$END$$					$$A:LIGHT_BG01=#000$$
$$REM$$ ==>> border boite annonce + boite contact + photo$$END$$				$$A:LIGHT_BORDER01=1px solid #fedb83$$

$$REM$$ ==>> bg picto nb annonces + nb page select + libelle$$END$$			$$A:LIGHT_BG02=#f8c70b$$
$$REM$$ ==>> border picto nb annonces + nb page select$$END$$						$$A:LIGHT_BORDER02=1px solid #1c1b17$$


$$REM$$ ================================>> pictos divers <<================================ $$END$$
$$REM$$ ==>> fleche couleur site$$END$$									$$A:LIGHT_PICTO_FLECHE_01=url(@@PATH_IMG_SITE@@/picto_fleche_01.gif) left no-repeat$$





*/