/*$$REM$$====================================================================================
//// <summary>Fichier CSS 2 site "PACK AVANTAGE 2"</summary>
//// <remarks>
//// <para>Fichier css appelé par head mutualisé</para>
//// <para>Sert pour toutes modifs démutualisées</para>
//// <para>Liste des macros générales pour faciliter la customisation des sites</para>
//// <para>A démutualiser pour chaque site</para>
//// </remarks>
//// <update date="2010-02-16" author="lisbonne.siriphol">Création</update>
====================================================================================$$END$$*/


$$REM$$ /* ============================================================================================
 ////////////////////////////////////// MACROS GENERALES PERSOS //////////////////////////////////////
============================================================================================= */$$END$$
<!--#include virtual="styles/all_global_macros.htm" -->

#TopHeader_Ctn {background: none repeat scroll 0 0 #760000;}
a#AccueilSite {color: #FCB73A;}
body {background: none repeat scroll 0 0 #760000;}


#Agence2 img {background: url("/z/webagency/A_ID3X/sudstperol_31116/images/agences/photo2.jpg") no-repeat scroll transparent;
							border: 1px solid #fff; width:300; height:300;}
							
#HeaderTxt h2 { font-size: 18px;}
#HeaderTxt p { font-size: 14px}
							
#HeaderTxt {
    padding: 10px -1px 0px 56px;
}

#Logo {
    width: 0;
}

#FormContactAgence .inputText, #FormContactAgence .inputSelect, #FormContactAgence .inputTextarea {color: #000000;}
#Moteur .inputText, #Moteur .inputSelect, #Moteur .inputTextarea {color: #000000;}
#Form_Ctn .inputText, #Form_Ctn .inputTextarea {color: #000000;}

#AlerteEmail #AlerteForm input.alerte {border: 1px solid #fff;}

#Visuel_Ctn td {border: 1px solid #FFFFFF;}

ul#Menu li a {border: 1px solid #FFFFFF;}

#logopart {margin: -19px 0 0 -101px; position: absolute;}
  
 #Ctn_Haut {margin: 0px 0px 0px 0px;}
 
 #Menu_Ctn {padding: 30px 0 20px;}

.fnaim {margin: 14px;}

#PortefeuilleAccueil h6, span, a {font-size: 14px;}

#PortefeuilleAccueil h4 a {font-weight:bold;}

#ImmoRub ul li { font-size: 14px;}
#ImmoRub h4 { font-size: 2em;}
#ImmoRub h2 {font-size: 2.5em;}
#ImmoRub p {font-size:14px;}
