// VARIABLES COLORS
$color-body:#21baed;
$color-content:#eee;
$color-block:#002337;
$color-primary:#002337;
$color-secondary:#21baed;
$color-action:#fff;
$color-important:#21baed;
$color-nav-footer:#fff;

// COLOR PICTO
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#fff;