// VAR COLORS
$color-body:#fff;
$color-content:#404041;
$color-block:#fff;
$color-primary:#0E294B;
$color-secondary:#021732;
$color-action:#0E294B;
$color-important:#548DD4;
$color-nav-footer:#fff;
// COLOR PUB
$color-pub:"white";
// COLOR FONT BODY DEFAULT
$color-font-body:#0E294B;
// COLOR SOUS MENU
$color-sous-menu:$color-block;