/*~~~~~~~~~~~~~~~~~~~~Style dedie WagR~~~~~~~~~~~~~~~~~~~~*/

/* Texte defilant */

.MarqueeContent
{
	width:100%;
	text-align:center;
}

.Marquee
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	margin:auto;
}


.Marquee a
{
	font-size:10px;
}

.Marquee a:hover
{
	font-size:10px;
}

/* Liste des villes */

.ListeVillesContent
{
	width:100%;
	text-align:center;
}

.ListeVilles
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	margin:auto;
	text-align:center;
	width:701px;
}


.ListeVilles a
{
	font-size:10px;
}

.ListeVilles a:hover
{
	font-size:10px;
}
/* $$DYN:ID3:NOFOOTER$$ */
/*#pictures {vertical-align:top;  height:151px; width:221px; float:left;}*/
#pictures img{display:block; width:200px;  }
p.ensemble{float:left; width:300px; text-align:justify; width:477px;}
#pictures {display:inline;float:left;height:151px;margin:0 17px;vertical-align:top;}