// VAR COLORS
$color-body:#fff;
$color-content:#1a1a1a;
$color-block:#F2F2F2;
$color-primary:#755363;
$color-secondary:#F2F2F2;
$color-action:#B90064;
$color-important:#D6D700;
$color-nav-footer:#fff;


// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#4c4a44;