/* CSS POUR MOTEUR, MINIMOTEUR */
/* MINI MOTEUR */
#bloc-moteur .ajaxLoader {width:100%;text-align:center;}
#bloc-moteur .miniDiv {float:none;margin:0;padding:0;width: 242px; }
#bloc-moteur .miniBlocTitre { text-align:left; font-size:14px; padding: 10px 0 3px 0; color: #fff; display: block; clear: both; }
#bloc-moteur .miniBlocSelection {text-align:left;width:auto;line-height:12px;}
#bloc-moteur .miniBlocSelectionImage {line-height:12px;}
#bloc-moteur .miniForm, #bloc-moteur .miniFormInput {margin:0; background:#fff;width: 242px;border:1px solid #000;font-size:11px; padding:5px 3px;color:#77757f; float:left; }
#bloc-moteur #MiniInputBudgetMax{float:left;width: 111px; }
#bloc-moteur .miniForm option{ padding-left:3px; }
#bloc-moteur .miniFormInput { width: 110px;float:left; height:16px; margin: 0 2px 0 0; }
#bloc-moteur .miniBouton { margin: 0;border:none;font-size: 0; background: url($$_$$images/minirechercher_$$FORM:LANG$$.gif) no-repeat;cursor: pointer;width: 242px; height: 44px; }
#bloc-moteur .divOff {display:none; }
#bloc-moteur #Mini_Send { position:relative; width: 242px; margin: 0 auto; clear: both; }

/* MINIMOT RECHERCHE */
#minimot_rech #Mini_Budget {margin-top:-8px;}
#minimot_rech .miniDiv { float: left; margin-right: 15px; }
#minimot_rech #Mini_Budget input {background:#fff; padding:3px; border:1px solid #fff; width: 50px; margin-right: 5px; }
#minimot_rech #Mini_Budget .miniBlocTitre {display:block; float:none; padding:0 0 3px 5px;}
#minimot_rech .miniBlocSelection, #minimot_rech .miniDiv {width:auto;}
#minimot_rech .miniForm {width:200px;}
#minimot_rech #Mini_Bouton {font-size:16px; background:#ec7404; padding:5px 15px; height:auto; margin-top:5px; color: #fff; border: none; width:110px; }
#minimot_rech .miniBlocTitre { display: none; }
#minimot_rech .miniForm, #minimot_rech .miniFormInput {margin:0; background:#fff;width: 200px;border:1px solid #666;font-size:11px; padding: 3px;color:#77757f; float:left; }
#minimot_rech #Mini_Transaction, #minimot_rech #Mini_Biens, #minimot_rech #Mini_Villes { margin-top: 10px; }
/* MOTEUR */
#Moteur{margin:20px 0 0 0;}
.moteurMargin{margin:15px 0 0 0;}
.moteurComment{color:#666}
#Moteur h1{font-weight:bold;}
#Moteur h2{font-weight:bold;font-size:13px;}
#Moteur h3{font-weight:normal;font-size:12px;color:#333;border-bottom:1px solid #ec7404;padding:0 0 5px 0;}
#Moteur h3 strong{font-weight:bold;color:#ec7404;}
#Moteur h4{font-style:italic;color:#ec7404;}
#Moteur .moteurTable{width:98%;}
#Moteur .moteurTable td{width:100%;vertical-align:top;}
#Moteur .moteurTable .col1{width:32%;padding:20px 0 0 0;}
#Moteur .moteurTable .col2{width:32%;padding:20px 0 0 3%;}
#Moteur .moteurTable .col3{width:30%;padding:20px 0 0 3%;}
#Moteur .moteurTable ul { margin: 0; padding: 0; }
#Moteur .moteurTable ul li{padding:5px;margin:2px 0;background:#ececec; list-style-type: none; }
#Moteur .moteurTable ul li#idtypebien_1{margin:0;}
#Moteur .moteurTable ul li#idtypebien_2{margin:2px 0 0 0;}
#Moteur .moteurTable ul li#nb_pieces,
#Moteur .moteurTable ul li#nb_chambres,
#Moteur .moteurTable ul li#InputSurfaceTerrain{padding:5px 5px 5px 20px;background:#cbcdce;margin:0;}
#Moteur .moteurTable ul li#InputSurfaceTerrain{margin:-2px 0 0 0;}
#Moteur .inputText{padding:1px 2px;margin-top:3px;}
#Moteur .inputSelect{font-weight:normal;color:#ec7404;font-size:12px;padding:0 0 0 5px;background:#ececec;border:1px solid #ccc;}
#Moteur .inputTextarea{font-weight:bold;margin:0 0 10px 0;padding:1px 2px;}
#Moteur .inputText,
#Moteur .inputTextarea{border:1px solid #ccc;color:#000;font-size:12px;background:#ececec;}
#Moteur .inputText{width:100px;}
#Moteur .inputSelect{width:300px;}
#Moteur .inputTextSpan{padding:0 5px;}
#Moteur #ref_ann{padding:0 0 20px 0;border-bottom:1px solid #ec7404;}
#Moteur #ref_ann .inputText{width:300px;}
#Moteur #cp1,
#Moteur #cp2,
#Moteur #cp3,
#Moteur #cp4{display:block;width:280px;margin:0 0 5px 0;}
#Moteur #MoteurVilles.miniDiv{height:50px;}
#Moteur #MoteurVilles li{display:block;float:left;width:30%;padding:5px;margin:2px 1% 2px 0;}
#Moteur #MoteurBouton{text-align:right;}
#Moteur #MoteurBouton .inputSubmit{padding:5px;font-size:16px;font-weight:bold;margin:10px 0 0 0;color:#fff;background:#ec7404;width:auto; border: none; cursor:pointer;}
#Moteur .alerteBtModif{cursor:pointer;border:none;font-size:16px;font-weight:bold;padding:3px 20px 5px 20px;*padding:3px 20px;}
#Moteur .preValid{padding:20px 0;}
#Moteur .preValid a{font-weight:bold;text-decoration:underline;margin:0 35px 0 0;cursor:pointer;}
#Moteur .preValid a:hover{text-decoration:none;}
.miniTitre {margin:0 0 5px 0;color:#fff;}
#Mini_Geoloc {height:34px;}
#MiniLabelListe, #MiniLabelCarte {float:left;color:#fff;}
#Mini_Geoloc .miniBlocTitre {text-align: left;margin:0 0 5px 0;}
/*#Mini_Suggest .miniBlocTitre {display:none;}*/
/* MOTEUR COMMERCE */
h3.comselec {
    border-bottom: 1px solid #E01276;
    color: #333333;
    font-size: 12px;
    font-weight: normal;
    padding: 0 0 5px;
}
h2.selecsoustitre {
    font-size: 13px;
    font-weight: bold;
}
#MoteurBouton .inputSubmit {
    background: url("/z/webagency/A_Pyxicom/interimm17_31268/images/minirechercher_fr.gif") no-repeat scroll 0 0 transparent;
    border: medium none;
    font-size: 0;
    height: 44px;
    margin: 10px 0 0;
    padding: 5px;
    width: 142px;
}
ul li.comlist {
    background: none repeat scroll 0 0 #ECECEC;
    list-style-type: none;
    margin: 2px 0;
    padding: 5px;
}