// VAR COLORS
$color-body:#404041;
$color-content:#404041;
$color-block:#faf9f6;
$color-primary:#8c8c8e;
$color-secondary:#59595B;
$color-action:#000;
$color-important:#ffef1a;
$color-nav-footer:#fff;
// COLOR PUB
$color-pub:"white";
// COLOR FONT BODY DEFAULT
$color-font-body:#000;
// COLOR SOUS MENU
$color-sous-menu:$color-block;

// COLOR PERSO
$color-jauneperso:#ffef1a;