/*$$REM$$====================================================================================
//// <summary>Fichier CSS 2 site "PACK AVANTAGE 2"</summary>
//// <remarks>
//// <para>Fichier css appelé par head mutualisé</para>
//// <para>Sert pour toutes modifs démutualisées</para>
//// <para>Liste des macros générales pour faciliter la customisation des sites</para>
//// <para>A démutualiser pour chaque site</para>
//// </remarks>
//// <update date="2010-02-16" author="lisbonne.siriphol">Création</update>
====================================================================================$$END$$*/


$$REM$$ /* ============================================================================================
 ////////////////////////////////////// MACROS GENERALES PERSOS //////////////////////////////////////
============================================================================================= */$$END$$
<!--#include virtual="styles/all_global_macros.htm"-->
#Header_Ctn{background:#d2d2d2;border-bottom: 1px solid #BCBBBB;}
#TopHeader_Ctn, #FooterBottom_Ctn{background:#000000;color: #FFFFFF !important;}
#AccueilSite {color: #FFFFFF !important;border-right: 1px solid #FFFFFF;padding-right: 14px;}
.selectionIndex_Ctn {background:#E2E2E2;border: 1px solid #cdcdcd;}
ul#Menu li a:hover {background:#FF3B00;}
ul#Menu li a,ul#Menu li a:hover, #TopHeader marquee , #TopHeader marquee *, #Coordonnees *,#FooterBottom *{color: #FFFFFF;}
#HeaderTxt h2, .majAnn, .majAnn *, .contactAnn .ctc {color:#000000;}
#HeaderTxt p {color: #3E3D40;}
#Coordonnees .agenceNom, .encodemail {color: #FF3B00!important;}
#Logo {padding:0 14px 0 0;}
ul#Menu li a {background:#9D9D9D;padding: 10px 17px;}
#FilAriane span {color: #939393;}
.titreParagraphe, #NouveautesAccueil .titreParagraphe span {color: #ff3b00;}
#NouveautesAccueil .titreParagraphe a {color:#030303;}
.selectionDescr .selectionVille, .selectionDescr .selectionVille * {color: #FF3B00!important;}
.selectionDescr .selectionNbPieces, .selectionDescr .selectionSurface, .dicoImmo *{color:#7D7D7D;}
.selectionDescr .selectionPrix {color: #010101;font-weight: bold;}
.selectionDescr .selectionDetail a {color:#FF3B00;}
#Footer_Ctn {background:#D2D2D2;}
#Footer h3 a, #Footer h3 a strong, #PortefeuilleAccueil h4 a, #PortefeuilleAccueil h6 span, #PortefeuilleAccueil h6 {color:#FF3B00;}
#PortefeuilleAccueil ul li a {color:#5A5A5A;}
#Menu_Ctn {padding-top: 12px;}
#PortefeuilleAccueil ul li a:hover {color:#FF3B00;}
.moteurComment, #CguFormulaire, #AgenceMentions *, #Glossaire_Ctn *{color:#000000;}
.accordion_content .inputCalcul, .inputSubmit {color:#FFFFFF !important;}
select, option, input, textarea {color:#000000!important;}
#Outils h3 {color: #FFFFFF;}
.accordion_content .inputText, .accordion_content .inputResult{background:#FFFFFF;}
/* page d'accueil - bloc nouveautes agrandir la taille */ 
.selectionIndex_Ctn{ width:213px;border:1px solid #bfbfbf;}
.selectionPhoto_ctn{width:203px; border:1px solid #bfbfbf; margin:0 auto;}
.selectionIndex_Ctn .nbPhotos_ctn .nbPhotosBg {width:203px;}
a.selectionPhoto{width:215px;height:135px;}
a.selectionPhoto .selectionPhotoImg {height:100%;width:100%;}
#NouveautesAccueil {width:666px;}
.selectionDescr .selectionVille a {font-size:12px;font-weight: bold;}
.selectionDescr p strong{font-size:12px;}
.selectionIndex_Ctn .selectionIndexCDC {margin: 5px 0 0 161px;}
/* mini moteur acceuil reduire la taille */
input.miniInput, input.miniInputMin, input.miniInputMax, .miniDivSelect select, .miniDivSelect select *{color:#7d7d7d; width:169px;}
.miniTitre{width:103px;}
#MiniMoteur_Ctn #MiniBouton .boutonSubmit{width:169px;height:37px;color:#fff!important;background:#ff3b00;}

#MiniMoteur_Ctn #MiniBouton{ text-align:center; margin-left:66px;}
#MoteurAccueil .titreParagraphe {width:282px;}
#NouveautesAccueil .titreParagraphe {width:659px;}
#AgImmoMentions p {color: #3E3D40;}
 .detail_pud a {color: #FF3B00;}
 #FormContactAgence .inputSubmit {background:#FF3B00;}
 #AlerteEmail {background:#D2D2D2;line-height: 21px;padding: 14px;}
 #Form_Ctn .inputText, #Form_Ctn .inputTextarea {background:#FFFFFF;}
 #Annonce_Ctn td#ColonneGauche {background:none;}
 #CguFormulaire * {color:#FF3B00;}
 #Ctn-envami .inputText, #Ctn-envami  .inputTextarea {background:#FFFFFF;color:#FF3B00;}
 #sans_photos {background: url($$_$$images/sans_photo.jpg) no-repeat  50% 50% #FFFFFF;}
 #FluxAide h5 {bcolor:#FFFFFF;}
 #Moteur .inputSelect {width:287px;}
 .blocAnnonce {background:#E2E2E2;}
 .contactAnn {background:#D8D8D8;}
 .selectionDescr .selectionTxt {color:#7D7D7D;}
select option{padding-left:5px;}