$$REM$$
====================================================================

//// <summary>Fichier css par défaut pour : slagence_X_V2/mentions.htm</summary>
//// <remarks>
//// <para>CSS appelé à l'intérieur même de mentions.htm</para>
//// </remarks>
//// <update date="2007-11-12" author="lisbonne.siriphol">Création v1</update>

====================================================================
$$END$$

#MentionsLegales *{margin: 0; padding: 0; border: none;}
#MentionsLegales{width: 95%; margin: auto; font-size: 0.9em;}
#MentionsLegales hr{margin: 1em 0; border: 1px solid #fff;}
#MentionsLegales hr.n1{}
#MentionsLegales hr.n2{}
#MentionsLegales hr.n3{}
#MentionsLegales hr.n4{}
#MentionsLegales a{font-weight: bold; font-size: 1.1em; text-decoration:underline; color:#838383;}
#MentionsLegales a:hover{ color: #fff; }
#MentionsLegales p{padding: 0 0 1.1em 0; text-align: justify;}
#MentionsLegales p.notaBene {font-style: italic; margin: 1em 0;}
#MentionsLegales p.notaBene a.demandeInfos{}
#MentionsLegales p.notaBene a.demandeInfos:hover{}
#MentionsLegales strong{font-size: 1.1em;}
#MentionsLegales h2{margin: 1em 0 0.3em 0; font-size: 1.4em; color:#838383; text-align:left;}
#MentionsLegales h3{margin: 1em 0 0.3em 0; font-size: 1.1em; text-align:left;}
#MentionsLegales h3 a{}
#MentionsLegales h3 a:hover{ }
#MentionsLegales ul,
#MentionsLegales li{list-style:none; text-align:left;}
#MentionsLegales ul li strong{font-weight: normal; text-decoration: underline;}

