// VAR COLORS
$color-body:#FFF;
$color-content:#1a1a1a;
$color-block:#fafafa;
$color-primary:#FFF;
$color-secondary:#000;
$color-action:#666666;
$color-important:#fdeff5;
$color-nav-footer:#000;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;

// COLOR SOUS MENU
$color-sous-menu:$color-primary;

// ICONE COUP DE COEUR
$color-icone-cdc:#fdeff5;
