body{ background-repeat:repeat; background-color:none; background:url($$_$$images/bg_continue.jpg);}
#wrapper1{ background:url($$_$$images/bg_body.jpg) repeat-x 0 21px;}
/**a, #AgenceMentions p, #Glossaire_Ctn p{ color:#fff;}**/
.bloc{background-repeat:repeat-x;background-color:#fff; margin-bottom:0;}
ul{ list-style:none;}
#top, #top *{ color:#fff;}
.mobile{ background-color:#fff; height:81px; overflow:hidden; width:200px; padding-left:29px;}
.mobile strong, .txt-mobile{color:#007282;}
.txt-mobile .link-portable{ color:#000;}

#boite_selection .selectionDescr .selectionDetail a { color:#FCFCFC;}
.bloc .btadr{ padding:0;overflow:hidden;}
#top , #top_detail { height:33px;}
a.logo img{ display:block; position:absolute;top:-6px; left:5px;}
#wrapper3{ position:relative;}
#wrapdroite{ padding:0;}
#wrapdroite_detail{ padding-top:60px;}
#menu { margin:0; padding:6px 0 12px;}
#menu li a { padding:7px 8px 7px; font-size:16px;}
#menu li a:hover{ background:#007282; color:#fff;}
#boite_selection{overflow:hidden;}
#content { padding:28px 10px 0;}
.bloc{ padding:17px 0 10px 20px;}
.bloc p strong, #boite_selection .selectionDescr p strong { color:#ffe700;}
#wrapper2{ position:relative;}
.selectionDescr .selectionTxt{ display:none;}
/** minimoteur**/
.minimoteur{ margin:112px 0 0 0;}
*+html .minimoteur{ margin:120px 0 0 0;}
.clear{ font-size:1%; line-height:0; overflow:hidden;}
*+html .miniTitre{ padding:0 0 2px;overflow: hidden;}
*+html .miniDiv{ height:33px;}
#MiniBouton .boutonSubmit{ text-indent:0;}
#edito{right: 40px;top: 40px;}
#edito p {color: #D4D4D4;font-size: 10px;font-weight:900;}
#edito a{font-size:11px; letter-spacing:1px;}
/*footer*/
#footer_detail{padding:18px 0 20px 0;}
#footer_detail .col3 .menufoot, #footer_detail .col3 .menufoot *, .footer .col2 a{ color:#fff;}
.footer .col1{ width:232px;margin-left:20px;}
.footer .col2 a, .footer .col1 a{ color:#4D7378; font-size:11px;}
.footer .col2 a:hover, .footer .col1 a:hover{text-decoration:none;}
.footer .col1, #footer .col2, #footer .col3{ height:auto;}
.footer .col1 h4 a{ text-decoration:none;}
.footer .adresse{ padding:14px 0 0 0; border-top:1px solid #FFE700; margin:18px 0 0 0;}
.footer .adresse, .footer .adresse div, .footer .adresse div a{ color:#fff; font-size:11px;}

.portefeuilleVilles, .portefeuilleVilles a, .url a{ font-size:11px; font-family:tahoma; font-weight:normal; text-decoration:none; color:#4D7378;}

.footer .col2 h3, .footer .col1 h6{ margin:0 0 8px;}

.footer .col3 .menufoot, .footer .col1 h3{ padding:0 0 10px;}
.footer .col1 h6, .footer .col1 h6 span{ display:none;}
.footer .col1 h3,.footer .col2 h3 a, .footer .col1 h6 span{ color:#fff; text-decoration:none;font-size:11px;}
.footer .col2 .rss { display:block; background:url($$_$$images/picto_rss.png) no-repeat 0 0; padding:4px 0 2px 32px;}
ul.pfa_idtt2 li { padding:0; line-height:12px;}



/*page moteur*/
#Moteur .moteurTable ul li{ color:#fff;}



/*agence*/
#AgImmo_Ctn .cadreAgence {background:#6d6d6d;}
#AgImmo_Ctn h3, .VE_Pushpin_Popup_Title, .descGeolocTel, .agImmoVitrine_Td1 .rcs {color:#007282;}
#AgImmoDroite .AgImmoContact a, #AgImmoDroite .AgImmoEstimation a { background:#007282; color:#fff;}
#AgImmoMentions p{ color:#000;}
/*page outils*/
.accordion_content{ background:#FFF;}
#Outils {padding: 20px 12%}
#Outils h3{color:#fff;}
#Outils strong{ color:#007282;}
.accordion_content .inputResult{ border-color:#9C9C9C;}
#AgImmo_Ctn h4, ul#AgImmoPortefeuille li.typeTransac a{ color:#007282;}

/*contact*/
#CguFormulaire{ color:#000;}
#CguFormulaire a{ color:#007282;}

/*moteur*/
#Moteur h3 strong{ color:#007282;}
.moteurComment{ color:#007282;;}
#Moteur h4 { color: #000;}
#RechDetaillee .col3 strong {color:#fff;}

/*alerte mail*/
/**#AlerteEmail h3, #AlerteEmail #AlerteForm *{ color:#fff;}**/
#AlerteEmail #AlerteForm input.alerteBt{ background:url($$_$$images/menu_fd.gif) repeat-x 0 0; color:#fff;}
.dicoImmo *{ color:#000;}

/*detail*/
.photoNbr{ color:#fff;}
#Annonce_Ctn td#ColonneGauche, #Annonce_Ctn td#ColonneDroite{ background:#7DC8D3; border: 1px solid #003941; }
#content_detail{ padding-left:4px;}
#SansPhoto{ border:1px solid #000;}
#AgenceContact strong {color :#fff;}
#AgenceContact strong { color: #fff;}


/**#InfosComp_Ctn #InfosComp p, #InfosPrincipales p{background:url($$_$$images/picto_fleche.gif) no-repeat 0 4px;color:#fff;}**/
/**#Descriptif .txtDescriptif {color:#fff;}**/
#InfosPrincipales .metro_Ctn{ color:#000;}
.ad-gallery .ad-image-wrapper{ background:#7DC8D3;}
/*recherche*/
#Moteur .inputTextSpan{ padding:0 3px;}
#Moteur .inputText{ width:93px; color:#7B7B7B;}
#InputSurfaceTerrain .inputText{ width:72px;}
#InputSurfaceTerrain  .inputTextSpan{ color:#fff;}
#Moteur .moteurTable ul li#nb_pieces, #Moteur .moteurTable ul li#nb_chambres, #Moteur .moteurTable ul li#InputSurfaceTerrain{ padding-left:10px;}
#InputSurfaceTerrain p{ color:#fff;}
#Moteur .moteurTable .col3 { padding-left:10px}
#Moteur .moteurTable .col2{ width: 37%;padding-left:10px;}
#Moteur .inputSelect{width: 220px; color:#7B7B7B;}
#Moteur .inputSelect option, #FormContactAgence .inputSelect, #FormContactAgence .inputSelect option, #FormContactAgence .inputText, #FormContactAgence .inputMessage{color:#7B7B7B; font-weight:normal;}
#Moteur #cp1, #Moteur #cp2, #Moteur #cp3, #Moteur #cp4{width: 213px;}
#listeann .ad table .descGeoloc *{ color:#000;}
.liensAnn .lienDetail a {color: #fff;}

.prix {color: #fff;}
#RechAffichage #RechAffichageListe p, #RechAffichage #RechAffichageCarte p, #RechAffichage #BiensVendus p, #RechAffichage a:hover { color:#fff;}
#RechAffichage a {color:#40B1C1;}
#MapMicrosoft #MapHead ul *, #RechHautLiens a{color:#007282;}
form#Tri select option, form#Tri select optgroup{ padding:0 0 0 10px;}
/**.prix , .ville , .libelle{color:#FFF200;}**/
/**.descr, .prox_ctn .quartier, .prox_ctn .prox, .metro_Ctn, .surface, .terrain, .contactAnn .tel, .contactAnn a{ color:#fff;}**/
.contactAnn .nom{ color:#ffe700;}
.contactAnn { background:#40B1C1;}
#RechPagesHaut .rechLiensPages a, #RechPagesBas .rechLiensPages a{ background:#EDEAE9;}
#Plan_Ctn h2{ color:#000;}
#MentionsLegales h2{color:#007282;}

.contenTxt{ padding:20px 10px;}
.contenTxt ul{ list-style:none;}
.contenTxt ul li a{ text-decoration: underline;}
.contenTxt ul li a:hover{ text-decoration:none;}
#wrapgauche {background:#fff;}

#MapContent #MapNiveauZoom h4, #MapContent #MapNiveauZoom p{color:#007282;}
#FormContactAgence td.col1{ color#000;}
#Wrap h1, td.col1, td.memoriser, #FluxAide h4, #FluxRSS a{ color:#fff;}
#FluxRSS a.voir_ann{ color:#007282;}

#bloc_annonces{ width:60%;}
#FormContactAgence td.col1{ color:#000;}
#FormContactAgence label{ float:left;}
