/* CSS Document */
/* Redefinitions des balises HTML */ 
	*{margin:0;padding:0;font-size:12px;font-family:Arial, Verdana, Helvetica, sans-serif;color:#000;}
	img{border:0}
	.clear{height:0;font-size:0;clear:both;overflow:hidden;}
	a{text-decoration:underline;outline:none;color:#b80000 ;}
	a:hover{color:#565655 ;text-decoration:none;}
	hr{display:none;}
	select option{padding:0;}
	table{ margin:0 auto; padding:0;}
	* html input.alerte{ background:#f7f7f7;}
	/* --------Modification AR PLAN SITE-------- */    
	body{background:#fff; margin-top:-3px;}
	/* Effet bordure (espace 5px) entre BG menu et bande BG site */ 
	#header{width:993px; margin:0 auto 2px auto;position:relative; overflow:hidden}
	#global{position:relative;width:993px; margin:0 auto;}


/* ----------------------------------------PAGE ACCUEIL---------------------------------------- */	   
   
/* --------LOGO AGENCE-------- */ 
	#LogoAgence { float:left; display:inline; width:308px; padding:3px 0 3px 69px;margin:5px 0 0 0px;}
	#LogoAgence img{ display:block; margin:0 auto;}


/* --------DRAPEAUX LANGUES FRANCAIS ET ANGLAIS-------- */ 		
/* Mettre en DISPLAY:NONE si pas d'option Anglais */ 
	#Drapeaux {position:absolute; top:130px; left:5px;}
	#Drapeaux img {padding-right:8px;}

/* --------TEXTE ACCUEIL--------*/ 
	#textAccueil { position:relative; float:right; display:inline; width:453px; padding:50px 0 0 9px; display:block; right:5px;}
/* Modification TITRE texte d'accueil */ 
	#textAccueil h1{ font-size:18px; font-weight:bold;color:#b80000 ; padding:0 0 4px 0;}
/* Modification CORPS texte d'accueil */ 
	#textAccueil p{ text-align:justify; font-size:12px;  color:#000; line-height:22px; display:block; padding:0 0 10px 0;}
	#textAccueil p strong{ color:#b80000 ;}
	#textAccueil a{ text-decoration:none; color:#b80000 ;}
	#textAccueil a:hover{ text-decoration:underline; color:#b80000 ;}

/* LOGOS: FNAIM & SIA */
	#Partners{ display:none; position:absolute; top:0px; right:0px; width:62px; float:left; text-align:center;}
	#Partners span img{text-align:center; padding:2px 0;}
	#GlobHeader{clear:both;}

/* --------MARQUEE DEFILANTE-------- */
/* Modification COULEUR  MARQUEE */ 	
	#RefMarqueNavig{ width:564px; float:right; display:inline;color:#b80000 ;background:none;margin:0 4px 0 0;}
	#RefMarqueNavig img{ float:left;}
	#RefMarqueNavig p{ color:#f7f7f7; font-size:14px; padding:10px 0 10px 0;}
	#RefMarque{ width:564px; float:right; display:inline;color:#b80000 ; font-size:10px;background-color:#f7f7f7;margin:0 -1px 0 0; padding:0 4px 0 0;}
	#RefMarque marquee{width:555px;margin:0;padding:0; color:#b80000 ; padding:8px 5px 8px 5px;}
	#RefMarque marquee a {color:#b80000 ;}
	#RefMarque marquee a strong {color:#b80000 ;}
	#RefMarque marquee a:hover {color:#565655;}

/* ----- Moteur -----*/
	h2.TitrePage{ color:#646567; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}

/* --------MENU + FLUX RSS-------- */
/* Modification COULEUR + TAILLE fond MENU */
	#remplissageMenu{ width:100%; background:#c3c3c3 ; min-height:44px;}		
	#menuFlux{width:984px; background:#b80000 ; height:44px; border-left:5px solid #fff; border-right:4px solid #fff; border-top:1px solid #fff;margin:0 auto;}
	#menu {float:right; display:inline; padding:14px 10px 0 0; position:relative; z-index:2;}
	#menu ul{ display:inline; margin:0 0 0 6px; list-style-type:none;}
	#menu li{ float:left; font-size:15px; padding:0 5px; position:relative; height:30px;}
	
	.sous_menu{position:absolute; top:30px; left:-2px; display:none;width:132px;}
	.sous_menu1{display:block;width:335px; margin-left:25px;}
	.sous_menu1 a{margin-top:2px;}
	.sous_menu a{background:#b80000 ;color:#b80000 ;display:block;padding:5px 0 5px 4px;border-bottom:1px solid #fff;}
	.sous_menu a.offre{border-top:1px solid #f7f7f7;}
	.sous_menu a{color:#f7f7f7;}
	#menu ul li.MenuSep{ color:#f7f7f7;}
	/* Modification COULEUR TEXTE MENU */ 
	#menu a{ font-weight:bold;color:#f7f7f7; text-decoration:none;font-size:13px; background:}
	#menu a:hover{ color:#fff ; text-decoration:underline;}		
/* Modification FLUX RSS */ 		
	#fluxRss{float:left; display:inline; padding:15px 25px 5px 0; }
	#fluxRss a{ background:url(../images/puce_rss.gif) 0 0 no-repeat; font-size:10px; text-decoration:underline; color:#f7f7f7; margin:0 0 5px 10px; padding:1px 5px 6px 20px;}
	#fluxRss a:hover{ font-size:10px; text-decoration:none; color:#fff;}
	#fluxRss img{float:left; display:inline; vertical-align:middle;}


/* --------CONTENU SITE = ZONE DU MILIEU-------- */
/* Modification COULEUR ARRIERE PLAN CONTENU SITE */ 	
	#milieu{width:984px;padding:24px 0 3px 0px; min-height:250px;background:#fff; border-left:4px solid #fff; border-right:5px solid #fff;_border-right:5px solid #fff; margin:0 auto; position:relative; z-index:1;}
/* Positionnement bandeau image */ 
	#visuel{float:left; display:inline; width:654px; margin:0 0 10px;float:left;}		
/* Modification COULEUR BORDURE IMAGE */ 		
	#visuel img{border:7px solid #b80000  ;}
 

/*--------POSITIONNEMENT MINI MOTEUR-------- */ 
	.miniMoteur{float:right;display:inline;width:220px;padding:0 0 0 42px;position:relative;background:url(../images/fontTitreMoteur.gif) 0 2px no-repeat;}		
/* Modification TITRE RECHERCHE */ 		
	.miniMoteur h2{font-size:18px; font-weight:bold; color:#b80000 ;padding:12px 0 0 0;}
/* A NOTER !!!! Pour styliser les champs + bouton mini moteur VOIR == MINI_MOTEUR.CSS */ 


/* ----------- 3 COUPS DE COEUR ------------- */ 
	#blocBas #coupCoeur{float:left;display:inline;width:715px;margin:0 0 15px 0; }

/* ----------- LISTE TRANSACTIONS AGENCE ------------- */ 
	#blocBas .nbrTransaction{display:inline;float:right;padding:0 0 0 42px;position:relative;width:220px;}
/* Modification COULEUR "AUJOURD'HUI" */ 	
	#blocBas .nbrTransaction h3{font-size:13px;font-weight:bold;padding:1px 0;color:#000; }
/* Modification COULEUR TYPE TRANSACTION */ 	
	#blocBas .nbrTransaction h4{width:167px;font-weight:bold;font-size:13px;color:#b80000 ;padding:10px 0 0 0;}
	#blocBas .nbrTransaction ul{list-style-type:none;margin:0 0 10px 3px; line-height:16px;}
/* Modification COULEUR TYPE DE BIEN */ 
	#blocBas .nbrTransaction ul *{font-size:11px;color:#656565;}
	#blocBas .nbrTransaction ul a:hover{text-decoration:none;color:#565655 ;}


/* -----------INCLUDE BAS------------- */ 

/* Modification COULEUR BANDE COORDONNEES */ 
	.CoordonneesAgence {font-size:12px; background:#b80000 ; height:27px; text-align:center; padding-top:13px; color:#f7f7f7; font-weight:bold;}	
/* Modification BG footer portefeuille + menu secondaire */
	.footerPosition{background:#fff; width:985px; border-left:4px solid #fff; border-right:4px solid #fff; padding-bottom:15px; margin:0 auto;}
	
	.porteFeuille{float:left;width:610px;padding-left:30px;}
/* ARRIERE PLAN FOOTER */
	#footer{ background:#c3c3c3 ; margin:0 auto; padding:0 0 0 1px;}
		
		
/* Modification couleur 2 TITRES FOOTER */ 
	#footer h4{font-size:11px;font-weight:bold;background:url(../images/puce.gif) 29px 3px no-repeat;padding:4px 0 4px 55px;margin:17px 0 0 0;line-height:19px;}
/* titre gauche : Notre portefeuille immobilier */
	#footer .porteFeuille h4{font-size:12px; color:#b80000 ;}
/* titre droite : www.urldusite.com */
	#footer .menuSecondaire h4{font-size:12px; color:#b80000 ;}
	#footer .menuSecondaire a{}
	#footer .menuSecondaire a:hover{ text-decoration:underline;color:#565655;}		
/* Modification couleur LISTE DES VILLES */ 
	.porteFeuille .ListeVilles{width:520px;text-align:justify;line-height:13px;border:0;color:#000; padding:4px 0 0 5px;}
	.ListeVilles *{color:#000; font-size:12px;font-weight:normal;}
	.ListeVilles a{color:#000;text-decoration:none;}
	.ListeVilles a:hover{color:#565655;text-decoration:underline;}

/* Modification couleur MENU SECONDAIRE FOOTER (droite) */
	.menuSecondaire{float:left;width:980px;font-size:12px;color:#000;}
	.menuSecondaire p{padding:3px 0 0 5px; color:#000; text-align:justify; width:830px; padding-left:30px;}
	.menuSecondaire p a{font-size:12px;color:#000;text-decoration:none;}
	.menuSecondaire p a:hover{font-size:12px;color:#b80000  ;text-decoration:underline;}
	span.sepSep{ color:#000;}



/* ----------------------------------------AUTRES PAGES DU SITE---------------------------------------- */

/* Page En Construction */
	#EnConstruction{margin-top:70px; text-align:center;}


/* PAGE PLAN DU SITE = incl_plan-site.htm */  
	ul#Plan *{text-decoration: none; font-weight: bold;}
	ul#Plan{padding: 0 8em; width:423px; margin:0 auto;position:relative;top:-25px;}
	ul#Plan li.plan{ color:#646567; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;border-bottom:none;}
	ul#Plan li.MenuSep{display:none;}
	ul#Plan li{padding: 0.2em 0; border:none;}
	ul#Plan .plan{padding: 0.2em 0;background:none;}
	ul#Plan li a{ background:none;color:#b80000 ;padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #646567  ; text-transform:uppercase;}
	ul#Plan li a:hover{color:#f7f7f7;padding-left:10px; height:19px;font-size: 12px; background:#b80000 ;}


/* Outils */
	ul#Outils *{text-decoration: none; font-weight: bold; unicode-bidi:}
	ul#Outils{padding: 2em 8em; width:400px; margin:0 auto;}
	ul#Outils li.list{padding: 0.2em 0px;background:none; margin:2px 0; border:none;}
	ul#Outils li a{color:#b80000 ;padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #646567  ; text-transform:uppercase;}
	ul#Outils li a:hover{color:#f7f7f7;padding-left:10px; height:19px;font-size: 12px; background:#b80000 ;}
	#Outils li.titrePageOutils{ color:#646567; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}
	#Outils a:hover{color:#565655 ;}

/*PAGES ESTIMATION + CONTACT + MESSAGE == TABLEAUX FORMULAIRES*/
	.tabFond1{border-color:#00AA00; border-width:0; border-style:solid; padding:2px; font-family:Arial, Helvetica, sans-serif; width:100%;}
	 textarea {width:600px; height: 100px;border:1px solid #000 ;margin: 0 0 0 3px; color:#646567}
	.tabFond2{border-color:#00AA00; border-width:1px; border-style:solid; padding:2px; font-size:14px; font-family:Arial, Helvetica, sans-serif;}
	.tabTitre{background:#b80000 ; color:#f7f7f7; font-size:14px; font-weight: bold; font-family:Arial, Helvetica, sans-serif;height:25px;padding:3px; text-align:center; text-transform:uppercase;}
	.tabTitre *{color:#f7f7f7; font-size: 14px;}
	.tabPrint{color:#5C5E5D; font-size: 13px; font-family:Arial, Helvetica, sans-serif; border:1px solid #00AA00;}
	.tabFond1 td input{margin:3px;border:1px solid #000  ; color:#646567}
	.tabFond1 td input.BoutonFormRecherche{float:right;width:120px;height:25px;border:none;}
	select.imputForm{border:1px solid #000  ;margin:0 0 0 3px; color:#646567}
	.tabFond1 table{ width:100%;}
	 input.imputForm{border:1px solid #000 ; color:#646567; margin:0 0 4px;}
	 input.boutonEnvoi{float:right;width:120px;height:25px;}
	strong.messageNomAgence,
	strong.estimationNomAgence{ color:#646567; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase; display:block;}
	/*Résolution Bug IE8 = donner une taille aux bouton pour éviter tout décallage*/
	.tabFond1 .boutonEnvoi {float:right;width:120px;height:25px; border:none}
	.tabFond1 .BoutonFormContact {float:right;border:0;width:120px;height:25px;}
	.MoteurBouton input {float:right;width:120px;height:25px;}
	td #ChampsBouton input {float:right;margin-right:12px;width:120px;height:25px;}
	#AgenceContact form table#FormContact td#ChampsBouton input{width:120px;height:25px;}	

/* GUIDE PRATIQUE = ACCES VIA LE LIEN DANS LA PAGE OUTILS*/
	span.txtTitre3{ display:block; width:870px; color:#f7f7f7; background:#b80000 ; font-size:16px; font-weight:bold; padding:3px 5px; margin:10px 3px 3px 0;}
	span.gras{ display:block; width:882px; color:#f7f7f7; background:#b80000 ; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;}
	td.encadre{background-color:#f7f7f7; border-color:#AAA; border-width:2px; border-style:solid; padding:3px; color:#000; margin:0 0 0 -4px;}
	p.grasnews{ display:block; width:882px; color:#f7f7f7; background:#b80000 ; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;}

	/* coup de coeur*/
	* html .div-cdc{ height:260px;}
	.div-cdc{width:230px; min-height:260px;float:left; background:#f7f7f7 ; margin:0 4px 0 0; border:2px solid #b80000  ;}
	.div-cdc *{ color:#000;}
	.div-cdc .photo-cdc img{width:220px;height:130px;background:#f7f7f7 ;margin:5px 3px 3px 4px; border:1px solid #000000}
	.div-cdc a span.ville-cdc{font-weight:bold;display:block; color:#b80000 ;  }
	.div-cdc a span.ville-cdc a:hover{color:#565655;}
	.div-cdc .contenu-cdc a *{color:#b80000 ;font-weight:bold; text-transform:capitalize;}
	.div-cdc .contenu-cdc a:hover *{color:#646567;}
	.div-cdc .typebien-cdc{}
	.div-cdc .contenu-cdc{padding:0 6px 4px 6px;}
	.div-cdc .contenu-cdc *{color:#000;}
	.div-cdc .contenu-cdc a{ text-decoration:none;}
	.div-cdc .contenu-cdc a:hover{color:#b80000 ;}
	.div-cdc .descriptif-cdc{min-height:30px;}
	* html .divc2c .descriptif-cdc{height:30px;}
	.div-cdc p.prix-cdc{font-weight:bold;font-size:14px; color:#b80000 ;}
 
 
/* Mentions Legales */
	
	#MentionsLegales h2 {display:block; width: 99%;background:#b80000 ; font-size: 14px; color:#f7f7f7;font-weight: bold;letter-spacing: 0;padding:3px 0 3px 8px;margin: 10px 0;text-align: left;text-transform: none;font-family: Arial; text-transform: none;}
.titreInfosLegales{
color:#646567 ;
font-size:18px;
font-weight:bold;
text-align:center;
text-transform:uppercase;}
/*Recherche*/
/*bureaux et commerce*/
#RechercheContainer #AlerteEmail #AlerteForm input.alerte{border-color:#000; color:#646567;}
/*detail*/
#RechPagesHaut .rechLiensPages a span, #RechPagesBas .rechLiensPages a span{color:#b80000 ;}

	
/* page accueil*/	

   #accueil{width:90%; margin:0 auto; font-size:12px; font-family:arial,sans-serif;}
   #accueil p{padding:0 0 10px 0;line-height:18px;}
   #accueil p strong{padding:0 0 10px 0; color:#b80000 ; }
   #blockHaut{overflow:hidden; clear:both}
   