/* 20071010 by Lisbonne WebAgency SeLoger.com */
/* print_annonce.htm mutualise */

/*========= classes generales =========*/
*{font: 12px/normal arial,verdana,helvetica,serif; color: #000; margin:0; padding: 0; border: none;}
body{text-align: center; padding: 20px; background:#fff;}
h1,h2,h3,h4,h5,h6{color: #b80000  ; font-weight: bold;}
h1{font-size: 20px;}
h2{font-size: 18px;}
h3{font-size: 14px;}
h5{font-size: 11px;}
h6{font-size: 11px; border-bottom: 2px solid #b80000  ; padding: 5px 0 3px 0; margin: 0 0 3px 0;}
span{font-size: 16px; color: #646567; font-weight: bold;}
ul, li{list-style: none;}
li{float: left; width: 190px;}
.clear{clear:both;}
.clearLeft{clear:left;}
.left{float: left;}
.right{float: right; text-align: right;}

/*========= top annonce =========*/
.idtt{color:#f7f7f7; padding: 3px 8px; background:#b80000 ; font-weight: bold;}
.cdcExclu{color:#f7f7f7; padding: 3px 8px; margin: 0 0 0 5px; background:#b80000  ; font-weight: bold;}
#UrlBase a{color:#b80000 ; font-weight:bold;}
#UrlBase a:hover{text-decoration:none;color:#000;}
/*========= conteneur annonce =========*/
#PrintAnnonce{width: 600px; padding: 2px; margin: auto; text-align: left; background:#fff; border: 1px solid #b80000 ;}
/* image max width: 600px */
#PrintAnnonce #BandeauPrint{margin: 0 0 2px 0;}

/*========= infos annonces =========*/
#PrintAnnonce #Ctn{border: 2px solid #b80000  ; padding: 10px;background:#fffFFF;}
#PrintAnnonce #Ctn #InfosTop{border-top: 2px solid #b80000  ; border-bottom: 2px solid #b80000  ; padding: 5px 0; margin: 5px 0 10px 0;}

/*========= photos annonce =========*/
#PrintAnnonce #Ctn #Photo_Ctn{float: left; width:253px; background:#b80000 ; border: 1px solid #b80000 ; padding: 5px;}
#PrintAnnonce #Ctn #Photo_Ctn img{width:253px;}
/* 8 photos suivantes */
#PrintAnnonce #Ctn #Photo_Ctn #MiniPhoto_Ctn{padding: 5px 0 0 0;}
#PrintAnnonce #Ctn #Photo_Ctn #MiniPhoto_Ctn img{width:60px; height: 45px;}

/*========= descriptif annonce =========*/
#PrintAnnonce #Ctn #Ctn_Annonce{float: right; width: 300px;}
#PrintAnnonce #Ctn #Ctn_Annonce #MajRef{background:#b80000 ; padding: 5px;}
#PrintAnnonce #Ctn #Ctn_Annonce #MajRef h5{color:#f7f7f7;}
#PrintAnnonce #Ctn #Ctn_Annonce #Descriptif{text-align: justify; padding: 5px 0;}

/*========= infos complementaires =========*/
#PrintAnnonce #Ctn #InfosComp{margin: 5px 0;}

/*========= details agence =========*/
#PrintAnnonce #Ctn #DetailAgence{margin: 5px 0; padding: 5px 10px; border: 1px solid #b80000  ; background:#b80000 ;}
#PrintAnnonce #Ctn #DetailAgence *{font-weight: bold; color:#f7f7f7; font-size: 12px;}

/*========= fiche visite =========*/
table, td{border-collapse: collpase; font-size: 11px;}
input.size1{width: 130px; border:1px solid #000  ; margin: 1px 0; height: 16px; color:#646567}
input.size2{width: 450px; border:1px solid #000  ; margin: 1px 0; height: 16px; color:#646567}
textarea{border:1px solid #000  ; margin: 1px 0; height: 50px; width: 450px; color:#646567}
.td1{width: 170px; text-align: right; padding: 0 5px 0 0;}
.td2{padding: 0 15px 0 0;}

/*========= imprimer =========*/
#Imprimer{background:#b80000 ; border: 1px solid #b80000  ; padding: 5px; text-align: center;}
#Imprimer input{width: 150px; height: 30px; background:#f7f7f7; padding: 5px; font-size: 14px; color:#b80000  ; font-weight: bold; cursor: pointer;}