// VAR COLORS
$color-body:#fff;
$color-content:#818181;
$color-block:#fff;
$color-primary:#fff;
$color-secondary:#180b81;
$color-action:#fb0006;
$color-important:#170a7e;
$color-nav-footer:#444;

$color-other:#90B2D5;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#393c3d;