$$REM$$/*====================================================================
//// <summary>Fichier CSS À DÉMUTUALISER POUR CHAQUE SITE</summary>
//// <remarks>
//// <para>Pour plus de rapidité, intégrer les macros du fichier 'all_global_macros.css'</para>
//// </remarks>
//// <update date="2010-02-16" author="lisbonne.siriphol">Création</update>
====================================================================*/$$END$$

<!--#include virtual="styles/all_global_macros.htm" -->

ul#Menu li a {font-weight:bold;}

.contactAnn {background:#fff;}

#Annonce_Ctn td#ColonneGauche {background:none; border:none;}
#Form_Ctn .inputText, #Form_Ctn .inputTextarea {background:#fff;}

.accordion_content {background:none;}