// VAR COLORS
$color-body:#fff;
$color-content:#f1f1f1;
$color-block:#f5f5f7;
$color-primary:#fff;
$color-secondary:#1a4f9d;
$color-action:#1a4f9d;
$color-important:#021c3e;
$color-nav-footer:#1a4f9d;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#011126;

// ICONE COUP DE COEUR
$color-icone-cdc:#1a4f9d;
