// VAR COLORS
$color-body:#fafafa;
$color-content:#f8f1eb;
$color-block:#fafafa;
$color-primary:#47444f;
$color-secondary:#1ea435;
$color-action:#474450;
$color-important:#126620;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black-opacity";

// COLOR FONT BODY DEFAULT
$color-font-body:#0e1133;