@import "color";

// LARGEUR DU SITE
$sitewrap: 1170px;

// AGRANDISSEMENT HAUTEUR SLIDER (0 par défaut, doit être  > 500px)
// NE FONCTIONNE PAS SI MF_MOTEUR_TYPE = 2
$slider-height: 930px;

// HAUTEUR PHOTOS LISTING (235px par défaut)
$listing-img-height:400px;

// REQUIS MAIS NE SERT PAS
$bg-uni: yes;
$picture-bg: yes;
$picture-bg-url:'';
$picture-bg-repeat-horizontal: no;

// VAR SITE TYPO
$font-body:"Arial",verdana,sans-serif;
$font-title:"Arial",verdana,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text:1.6em;
$font-size-title:2.0em;

// TYPE TITLE (NONE, UPPERCASE...)
$type-title: none;

// WEIGHT (BOLD, NORMAL, 700, 300...)
$weight-title: normal;

// ARRONDI (YES / NO)
$arrondi: yes;

// IMPORT ALL
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";

// IMPORT TEMPLATE MOBILEFIRST
@import "../../../slagence_X_V5/sources/scss/templates/mobilefirstv2";

// IMPORT RECHERCHE MOBILEFIRST
@import "../../../slagence_X_V5/sources/scss/recherche/mobilefirst";

// IMPORT MOTEUR MOBILEFIRST (SUR RECHERCHE)
// SEULEMENT SI RECHERCHE AUTRE QUE MF
//@import "../../../slagence_X_V5/sources/scss/moteur/mobilefirst";

// IMPORT DETAIL MOBILEFIRST
@import "../../../slagence_X_V5/sources/scss/detail/mobilefirst";

// IMPORT AGENCE MOBILEFIRST
@import "../../../slagence_X_V5/sources/scss/agence/mobilefirst";

// IMPORT BOUTONS
@import "../../../slagence_X_V5/sources/scss/boutons/mobilefirst";

// IMPORT MODULE SOUS MENU
@import "../../../slagence_X_V5/sources/scss/sous_menu/lib1";


// IMPORT MODULE PUB LIB1
@import "../../../slagence_X_V5/sources/scss/pubs/lib1";

// IMPORT MODULE EXTRA
@import "../../../slagence_X_V5/sources/scss/extra/extra23";

// IMPORT MODULE ANNONCES
@import "../../../slagence_X_V5/sources/scss/modules/annonces9";


//---------------------------------------------------------------------------------------------
//   VIDEO RESPONSIVE KILDA
//---------------------------------------------------------------------------------------------
@media only screen and (max-width : 767px) {
.slidermf-video {
    width: 100%;
    height: auto;
    bottom:5px;
}
}

@media (max-width: 979px) {
.topmodule-col .slidermf, .topmodule-big .slidermf, .has-suggestions .slidermf {
    height: 185px;
    min-height: 0;
}
}

.slidermf-video {
    bottom: -22px;
}




//------------------------------------------------------------------------------------------------
//		PERSO LUBERON
//------------------------------------------------------------------------------------------------

//------------------------------------------------------------------------------------------------
//		GENERAL
//------------------------------------------------------------------------------------------------

	//------------------------------------------------------------------------------------------------
	//		COLOR
	//------------------------------------------------------------------------------------------------

.typo-nav-footer {
	color: $color-nav-footer;
}

	//------------------------------------------------------------------------------------------------
	//		BTN
	//------------------------------------------------------------------------------------------------

.btn-action {
	background-color: $color-important;
	color: $color-font-body;
	&:hover {
		background-color: $color-important-dark-10;
		color: $color-font-body;
	}
}

	//------------------------------------------------------------------------------------------------
	//		MENU & NAV
	//------------------------------------------------------------------------------------------------

.header-top {
	background-color: $color-secondary;
	.social-link-fb {
		background-color: $color-secondary;
	}
}

.header-main {
	@include border-navigation(196px, 46px, $color-body);
	background-color: $color-primary;
}

.logo img {
	max-width: 780px;
	max-height:150px;
	@media only screen and (max-width : 768px) {
		max-width: 250px;
	}
}

.menu a {
	color: $color-font-body;
	font-size: 1.2em;
	transition: all 0.7s ease;
	background-color: $color-body;
	&:after {
		display: block;
		content: "";
		background-color: $color-body;
		height: 2px;
		width: 0%;
	}
	&:hover {
		color: $color-font-body;
		transition: all 0.7s ease;
		&:after {
			transition: all 0.7s ease;
			display: block;
			content: "";
			background-color: $color-font-body;
			height: 2px;
			width: 50%;
		}
	}
}

	//------------------------------------------------------------------------------------------------
	//		FOOTER
	//------------------------------------------------------------------------------------------------

.footer-list a {
	color: $color-primary;
}

//------------------------------------------------------------------------------------------------
//		INDEX
//------------------------------------------------------------------------------------------------

	//------------------------------------------------------------------------------------------------
	//		POP UP
	//------------------------------------------------------------------------------------------------

#PopRecrut {
	position: absolute;
	right: 0;
	top: 250px;
	background-color: $color-primary;
	color: $color-secondary;;
	text-align: center;
	padding: 2rem;
	@include border-left-radius (8px);
}


.recrut {
	position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    text-align: center;
    top: 0;
    left: 0;
    font-size: 4rem;
    padding: 6rem;
    z-index: 1500;
    > p {
    	position: relative;
    	background: $color-primary;
	    color: $color-nav-footer;
	    max-width: 540px;
	    margin-left: 35.2vw;
	    margin-top: 30vh;
	    padding: 5rem;
	    @include border-radius (10px);
	    line-height: 1.2em;
    }
}

.hide {
    display: none !important;
}

.close {
	position: absolute;
    top: -3rem;
    right: -3rem;
    background-color: $color-secondary;
    padding: 1rem;
    color: $color-font-body;
    width: 70px;
    @include border-radius (100px);
	cursor: pointer;
}

	//------------------------------------------------------------------------------------------------
	//		TTL
	//------------------------------------------------------------------------------------------------

.slidermf-ttl {
	background-color: rgba($color-primary,0.7);
	border-bottom: solid 1px $color-secondary;
	padding: 20px;
	color: $color-secondary;
}

.bandeau {
	position: absolute;
    top: -305px;
    left: 0;
    display: none;
}

	//------------------------------------------------------------------------------------------------
	//		MOTEUR
	//------------------------------------------------------------------------------------------------

.moteurmf.moteurmf-1 {
	background-color: $color-secondary;
}

.moteurmf-body {
	background-color: transparent;
}

.moteurmf-toggle {
	display: none;
}

	//------------------------------------------------------------------------------------------------
	//		MODULE
	//------------------------------------------------------------------------------------------------

.img-homepage {
	@include border-radius(8px);
}

	//------------------------------------------------------------------------------------------------
	//		PUB
	//------------------------------------------------------------------------------------------------

.pub-estimation-rond {

}

.encart-pub-boite {
	background-color: $color-important;
	background-size: cover;
	height: 110px !important;
	@include border-radius(8px);
}

.zone-pub {
	height: 260px;
	@include border-radius(8px);
	@media only screen and (max-width : 414px) {
		height: auto;
	}
}

//------------------------------------------------------------------------------------------------
//		LISTING PA
//------------------------------------------------------------------------------------------------

	//------------------------------------------------------------------------------------------------
	//		REFINER
	//------------------------------------------------------------------------------------------------

.recherche-mobilefirst .moteur-mobilefirst.has-bg {
	background-color: $color-secondary;
}

.moteur-mobilefirst-toggle {
	display: none;
}

.moteur-mobilefirst-more #Mini_Pieces, .moteur-mobilefirst-more #Mini_Chambres {
	display: none;
}

div.span11.ellipsis {color:$color-secondary;}

div.hidden-phone.span1.pagination-centered > span {color:$color-secondary;}

	//------------------------------------------------------------------------------------------------
	//		BTN
	//------------------------------------------------------------------------------------------------

.recherche-mobilefirst .annonce-tag {
	font-size: 1em;
}

.recherche-mobilefirst .annonce-tag-exclu {
	background-color: $color-important;
}

	//------------------------------------------------------------------------------------------------
	//		PRIX
	//------------------------------------------------------------------------------------------------

.recherche-mobilefirst .annonce-prix {
	// color: $color-font-body;
}

.annonce-ville .typo-action {
	color: $color-important;
}

//------------------------------------------------------------------------------------------------
//		DETAIL PA
//------------------------------------------------------------------------------------------------

	//------------------------------------------------------------------------------------------------
	//		PRIX
	//------------------------------------------------------------------------------------------------

.detail-mobilefirst .detail-prix {
	// color: $color-font-body;
}

	//------------------------------------------------------------------------------------------------
	//		FORM
	//------------------------------------------------------------------------------------------------

.detail-contact {
	a {
		// color: $color-nav-footer;
	}
	.typo-action {
		// color: $color-nav-footer;
	}
}

	//------------------------------------------------------------------------------------------------
	//		INFOS
	//------------------------------------------------------------------------------------------------

.detail-mobilefirst .detail-sign-val {
	color: $color-nav-footer;
}

ul.breadcrumb > li > a > span {
	color: $color-nav-footer;
}

ul.breadcrumb > li > span.typo-important {
	// color: $color-nav-footer;
	font-weight: bold;
}

.ville {color: $color-nav-footer;}

.mf-icon-arrow-right {color: $color-nav-footer;}
.mf-icon-arrow-left {color: $color-nav-footer;}

.detail-mobilefirst .detail-tag-exclu {
    background-color: $color-important;
}

//------------------------------------------------------------------------------------------------
//		LISTING AGENCES
//------------------------------------------------------------------------------------------------


.adresse-estimation {text-transform: uppercase;}

	//------------------------------------------------------------------------------------------------
	//		LISIBILITE
	//------------------------------------------------------------------------------------------------

.detail-agence-liste .typo-action, .detail-agence-liste a {
	// color: $color-font-body;
}

div.row-fluid.display-none.zone-biens-agence.blocOpen.searchDone > div {background-color:$color-secondary;}

div.row-fluid.display-none.zone-biens-agence.searchDone.blocOpen > div > div {color:$color-important;}

	//------------------------------------------------------------------------------------------------
	//		BTN
	//------------------------------------------------------------------------------------------------

@media only screen and (max-width : 768px) {
	.detail-agence-liste .btn-neutre {
		margin-bottom: 20px;
	}
}
//------------------------------------------------------------------------------------------------
//		FORM ESTI --  ACQUEREUR
//------------------------------------------------------------------------------------------------

	//------------------------------------------------------------------------------------------------
	//		BTN
	//------------------------------------------------------------------------------------------------

.circle-estimation, .circle-estimation-action {
	background-image: none;
	background-color: $color-important;
}

hr, .hr-like {
	border: solid 1px $color-important;
}

.bouton-estimation:hover, .bouton-estimation:focus, .bouton-estimation:active {
	background-color: $color-important;
}

.zone-message-agence textarea, .zone-message-agence select, .zone-message-agence input:not([type="submit"]) {
    border-color: #000;
}

//------------------------------------------------------------------------------------------------
//		FORM CTC
//------------------------------------------------------------------------------------------------

	//------------------------------------------------------------------------------------------------
	//		BTN
	//------------------------------------------------------------------------------------------------

.bouton-envoyer-message-agence {
	background-image: none;
	background-color: $color-important;
}

.annonce-tag annonce-tag-exclu{
color: #fff;
}
