// VAR COLORS
$color-body:#000000;
$color-content:#000000;
$color-block:#111111;
$color-primary:#000000;
$color-secondary:#333333;
$color-action:#e5b65a;
$color-important:#e5b65a;
$color-nav-footer:#fff;
// COLOR PUB
$color-pub:"white";
// COLOR FONT BODY DEFAULT
$color-font-body:#ffffff;