// VAR COLORS
$color-body:#3e3e40;
$color-content:#3e3e40;
$color-block:#d4d4d6;
$color-primary:#fff;
$color-secondary:#d50912;
$color-action:#d50912;
$color-important:#ec1e22;
$color-nav-footer:#000;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#fff;