// VARIABLES COLORS
$color-body:#333333;
$color-content:#89744d;
$color-block:#2a2a2a;
// $color-primary:#7a6a58;
// $color-secondary:#000;

$color-primary:#685948;
$color-secondary:#555;

$color-action:#ffffff;
$color-important:#5bb43f;
$color-nav-footer:#fff;

$color-marron:#1D1D1D;

// COLOR PUB
$color-pub:"white-opacity";

// COLOR FONT BODY DEFAULT
$color-font-body:#fff;