@import "color";
// BG SOLO
$bg-uni:yes;

// PICTURE BG OU DEGRADE CSS BG COLOR PRIMARY vs SECONDARY vs BLOCK > SI NO ALL = BG BODY UNI
$picture-bg:yes;
$picture-bg-url:'../images/dark_wall.png';
$picture-bg-repeat-horizontal:no;

// SIZE SCROLLING
$height-scrolling:745;

// SIZE NAVIGATION
$height-navigation:77;

// VAR SITE TYPO
$font-body:"proxima-nova",verdana,sans-serif;
$font-title:"futura-pt-condensed",arial,sans-serif;
$font-deco:"open-sans",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text:1.3em;
$font-size-title:2.4em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:normal;

// ARRONDI POUR LES EFFETS SUR LI > A:HOVER/FIL ARIANE/BOUTON
$arrondi:no;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS LIB2
@import "../../../slagence_X_V5/sources/scss/boutons/lib2";

// IMPORT PUB LIB BOITE
@import "../../../slagence_X_V5/sources/scss/pubs/lib1";

// IMPORT PUB LIB5
@import "../../../slagence_X_V5/sources/scss/pubs/lib5";

// IMPORT TEMPLATE PARIS
@import "../../../slagence_X_V5/sources/scss/templates/helsinki";

// IMPORT MODULE ANNONCES5
@import "../../../slagence_X_V5/sources/scss/modules/annonces5";

// IMPORT MODULE EXTRA
@import "../../../slagence_X_V5/sources/scss/extra/extra5";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";

// IMPORT MODULE SOUS MENU ORPI
@import "../../../slagence_X_V5/sources/scss/sous_menu/lib1";

// PERSO OR089007

// NAV

.menu-principal>li>a {
	padding: 0px 17px;
}

.menu-principal>li.dropdown {
	display:none;
}

.aside-txt-home {
	margin-top:-10px;
}

.slogan-index {
	font-family:$font-deco;
	font-size: 3.5em;
}

// ENCART PA
.aside-home-2 {
	background:$color-content;
}

.hover-infos-bien .bg-black {
	background:$color-primary;
}

.hover-infos-bien {
	color:$color-font-body;
}


// ENCART PUB
.height-500 {
	border-top: solid 30px $color-content;
}
.titre-pub {
	color: $color-action;
	background: $color-content;
	padding: 10px;
	font-size: 1.2em;
}

// CONTENU 
	// CONTACT
.bg-contact {
	background-image:url('../images/bg-contact.jpg');
	background-repeat:no-repeat;
	padding:20px;
}
	// ALERTE
.bg-alerte-immo {
	background-image:url('../images/bg-contact.jpg');
	background-repeat:no-repeat;
	padding:20px;
}

	// LISTING
		// ALERTE
.bloc-top-alerte-email {
	position:relative
}

.bloc-top-alerte-email .creer-alerte-email {
	position: absolute;
	width: 320px;
	right: 0;
}


		// MASQUER BIEN VENDU
.tab-recherche {
	display:none;
}

		// MISE EN VALEUR BIEN
.recherche-annonces .typo-action {
	font-weight: bold;
	font-size: 2.0em;
}

.baisse-de-prix {
	font-size: 1.0em;
}

		// BTN
.btn-nouveau, .btn-exclusif {
	font-weight: bold;
	font-size: 1.0em;
	text-transform:uppercase;
}

.recherche-annonces .height-370 {height:auto;}

// RESPONSIVE
@media only screen and (max-width : 767px) {
		.slogan-index {
			margin-bottom:0px;	
		}
		.height-scrolling #Mini_Moteur { 
			margin-top: 0px; 	
		}
	}