// VAR COLORS
$color-body:#d8d8da;
$color-content:#f3f3f3;
$color-block:#99042F;
$color-primary:#BFBFC1;
$color-secondary:#99042F;
$color-action:#8C8C8E;
$color-important:#d8d8da;
$color-nav-footer:#99042F;

$color-mot:#fff;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#474747;