*{margin:0;padding:0;}
p{ padding-bottom:4px; margin-bottom:3px;}
h2{ color:#FEFB98;}
body{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 12px;
		color:#000;
		margin:0px;
		background:url(../images/fond.gif) repeat-x;
		padding:0px;
		text-align:center;
		font-size:12px;

}
b,strong.messageNomAgence{ color:#FFF400;}
td ,p{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 12px;
		color:#fff;}
td{	text-align:left;}	

table td small, table td font{ color:#000; font-size:12px;}
a{ 	
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 12px;
		color:#FFF400;
		text-decoration:none;
		font-weight: normal;
		
}

a:hover{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 12px;
		color:#FEFDCC;
		text-decoration:none;
		font-weight: normal;
}



/* ---------------------------------------Style page--------------------------------------- */
#page{width:992px;margin:0 auto; text-align:left;background:url(../images/fond_page.gif) repeat;}
#header{ width:992px;}
#banniere{width:980px; float:left;}
#FondLogo{ background:url(../images/fond_banniere.jpg) repeat-y; height:92px; position:relative;}
#logo{ position:absolute; top:2px; left:4px;}
#drapeaux{ position:absolute; height:14px; width:184px; right:0; top:1px;}
#fnaim{ position:absolute; right:12px; top:24px;}
#drapeaux img{ padding-left:1px;}
/*--menu--*/
#menu{ height:18px; background:#FFF400; text-align:right; padding-top:4px;}
#menu a{ color:#0066E8; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; font-weight:bold; padding-left:13px; margin-right:6px; background: url(../images/fleche_off.gif) 0 3px no-repeat;}
#menu a:hover{ color:#7CB7F3;padding-left:13px; margin-right:6px; background: url(../images/fleche_on.gif) 0 3px no-repeat;}
/*-- contenu--*/
#contenu{ background: url(../images/fondcontenu.gif) repeat-y; width:992px;}
#milieu{width:980px;border-left:#E2E2E0 1px solid;height:265px;}
#anime{ float:left; height:265px; width:582px; position:relative;}
#AnimationFlash{height:265px; width:582px; position: absolute; top:0; left:0;z-index:1;}
#SousMenu1{ position:absolute; background:#FEFB98; z-index:4; top:0; left:150px;  filter:alpha(opacity=70);-moz-opacity:0.7;opacity: 0.7;}
#SousMenu1 a{ font-weight:bold; font-size:10px; color:#0000FF; padding:0 8px;}
#SousMenu1 a:hover{font-weight:bold; font-size:10px; color:#0000FF; text-decoration:underline;}
/*--minimoteur--*/
#moteur{ float:left;height:265px; width:397px; background:url(../images/fondmoteur.gif) no-repeat; text-align:left;}
.retait{ margin-left:150px;}
#TitreMoteur{ height:60px;}
#TitreMoteur p{color:#397FC3; font-size:15px;font-weight:bold; background:url(../images/picto_moteur.jpg) 26px 10px no-repeat; padding:20px 0 0 69px; line-height:20px; margin-top:6px;}

/*-contenu--*/
#ContenuNav{background:url(../images/fondcontenu.jpg) repeat-x #3357AB; width:960px; padding:10px;}
#ContenuAccueil{ background:url(../images/fondcontenu.jpg) repeat-x #3357AB; width:980px;}
#TxtAccueil{ float:left; height:208px; width:672px; border-right:1px #FFF400 dashed; text-align:left; }
#TxtAccueil p{ font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; font-weight:bold; background:url(../images/puce_txtaccueil.gif) 26px 10px no-repeat; padding:22px 10px 0 80px; line-height:16px; color:#fff; text-align:justify;}
#TxtAccueil  a{ color:#FFF400; font-weight:bold; text-decoration: none; padding-left:80px; font-size:10px;}
#TxtAccueil a:hover{ color:#FFF400; font-weight:bold; text-decoration: underline;font-size:10px;}


#adresse{ float:left; height:208px; width:307px;}
#adresse h2{ margin:40px 0 0 40px; padding:0; height:41px; width:210px; background:url(../images/petitlogo.gif) no-repeat;}
#adresse p{ font-family:Verdana, Arial, Helvetica, sans-serif; color:#fff; text-align:right; font-size:10px; font-weight:bold; padding-right:90px; background:url(../images/puce_adresse.gif) 70px 0 no-repeat; margin:40px 0 0 0; line-height:20px; }
#TraitBlanc{ width:980px; height:10px; background: #fff; border-left:#E2E2E0 1px solid;}

/* --------------------------------------- Annonces villes--------------------------------------- */
#villes{ background:url(../images/fondville.jpg) repeat-x;width:936px; height:30px; color:#fff; padding:15px 22px 0 22px;}
#villes a {
		font-family:Arial, Helvetica, sans-serif;
		font-size: 11px;
		color:#FFF400;
		font-weight:normal;
		text-decoration: none;
}

#villes a:hover{
		font-family:Arial, Helvetica, sans-serif;
		font-size: 11px;
		color: #FFF400;
		text-decoration:underline;
		
}


/*---  se loger--*/
#seloger{ background:url(../images/footer.jpg) no-repeat; height:29px; color:#3A60B3; text-align:right; width:962px; padding:4px 30px 0 0; font-weight:bold; font-size:10px;}

#seloger a {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 10px;
		color:#3A60B3;
		font-weight: bold;
		text-decoration: none;
}

#seloger a:hover{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size:10px;
		color:#3A60B3;
		text-decoration: none;
		font-weight: bold;
}  


/*-refmarque-*/
#refmarque{height:15px;background:#4E6AA9;}
#refmarque Marquee{ height:15px;color:#fff; background:#4E6AA9; font-size:10px; text-align:center;font-weight:normal; padding:0 10px; width:960px;}
#refmarque Marquee strong{font-weight:normal;}
#refmarque a{color:#fff;font-size:10px;}
#refmarque a:hover{color:#fff;}

#OmbreDroite{width:12px; float:left;}
.clear{clear:both;}




/*--Moteur de recherche--*/
.minimot input{ margin-bottom:2px;}
.tabFond2mini{ font-size:10px;color:#386A93;}
.tabTitremini{
		font-family:Arial, Helvetica, sans-serif;
		font-size:10px;
		color:#386A93;

	

}
.piece{font-family:Arial, Helvetica, sans-serif;
		font-size:10px;
		color:#386A93;
		width:80px; height:16px;
		border:1px solid #899AB7;
		background:#DBEAFA;
		margin-bottom:2px;
		
}
.typeBien{
		font-family:Arial, Helvetica, sans-serif;
		font-size:10px;
		color:#386A93;
		width:178px; height:18px;
		background:#DBEAFA;
		border:1px solid #899AB7;
		margin-bottom:2px;
		
}

.budget{
		font-family:Arial, Helvetica, sans-serif;
		font-size:10px;
		color:#96113C;
		background:#DBEAFA;
		width:40px;height:16px;
		border:1px solid #899AB7;
		
}

.proximite{
		font-family:Arial, Helvetica, sans-serif;
		font-size:10px;
		color:#96113C;
		width:56px; height:16px;
		background:#DBEAFA;
		border:1px solid #899AB7;
		
}

a.minilien{ font-size:10px;}
a.minilien:hover{ font-size:10px;}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.tabFond1{border-color:#97133B; border-width:0; border-style:solid; padding:2px; font-family:Arial, Helvetica, sans-serif; color:#ffffff;}
.tabFond1 td{ padding:2px;}
.tabFond2{border-color:#97133B; border-width:1px; border-style:solid; padding:2px; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#ffffff;}
.tabTitre{background:#4E6AA9; color: #fff; font-size: 11px; font-weight: bold; font-family:Arial, Helvetica, sans-serif;}
.tabCouleur{background-color:#97133B; border-color:#97133B; border-width:1px; border-style:solid; padding:2px; color: #ffffff ;}

.txtTitre3 {
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		font-style: normal;
		font-weight: bold;
		color:#4E6AA9;
}
.messageNomAgence{ color:#4E6AA9;}
.encadre {
		
		background:#91A3CA;
		border: #91A3CA 2px solid;
		padding:2px;}
.encadre p{color:#fff;}
	

.titrePage{
		color:#880246;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		line-height:22px;
}

.TitreMoteur{font-size:12px; color:#fff; font-weight:bold; text-align:left; margin-top:20px; margin-bottom:20px;}
/************** Classe Page Print-annonce-----------------*/
.LogoPrint{ background:#FFF2E5; border:1px solid #FFFBF8;}
.tabPrint
{
	border:1px solid #FFFBF8;
	padding:4px;
}

.tabPrint2 
{
	
	border:1px solid #FFF2E5;
}

.tabPrint2 td
{
	padding:2px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

#CguFormulaire{ color:#fff;}

/*page en dure--*/
#ContenuPage p{ text-align:justify; font-size:12px; padding:0 10px;}
#ContenuPage p span{ color:#6BB465; font-weight:bold;}
#agence h2{ font-size:14px; padding-bottom:10px; color:#FFFFFF;}
/*-- montage--*/
#EnConstruction{ padding:10px 0 60px 0;}
/*-- EN CONSTRUCTION--*/
#EnConstruction{font-weight:bold; color:#FFFFFF;}
#EnConstruction h5{ font-size:16px; color:fff;}
#EnConstruction a{ font-weight: bold; color:#FFF400;}
#EnConstruction a:hover{ font-weight: bold; color:#FEFB98;}

/*--mention--*/
#MentionsLegales ul,
#MentionsLegales li{list-style:none; color:#FFFFFF;}
#MentionsLegales ul li strong{font-weight: normal; text-decoration: underline; color:#FFFFFF;}

/*--outils--*/
ul#Outils *{text-decoration: none; font-size: 12px; font-weight: bold;}
ul#Outils{margin: 20px 100px; list-style: none; border-top: 1px solid #97a9bd;}
ul#Outils li a{display: block; margin: 0 15px;}
ul#Outils li a:hover{color: #FEFDCC;}
ul#Outils li{padding: 3px 0;}
ul#Outils li.list{border-bottom: 1px solid #97a9bd;}
ul#Outils li.list ul li.sousListe{padding: 3px 0 3px 50px; border-top: 1px dashed #97a9bd;}
/*--plan--*/
ul#Plan *{text-decoration: none; font-size: 1em; font-weight: bold;}
ul#Plan{padding: 2em 8em; list-style: none;}
ul#Plan li .sousmenuplan{ margin-left:20px;}
ul#Plan li.plan,
ul#Plan li.planAnnonces{border-bottom: 1px solid #97a9bd; font-size: 1.4em; color:#FFFFFF;}
ul#Plan li.planAnnonces{margin: 2em 0 0 0;}
ul#Plan li{padding: 0.3em 0; border-bottom: 1px solid #97a9bd;}
ul#Plan li a{display: block;}
ul#Plan li a:hover{color: #FEFDCC;}
ul#Plan span.nbAnn{font-size: 0.9em;}
ul#Plan li ul{margin: 0 0 0 25px;}
ul#Plan li ul li.subListTitle{border: none;}
ul#Plan li ul li.subList{border-top: 1px dashed #97a9bd; border-bottom: none;}
ul#Plan li ul li.subListVilles{width: 31%; float: left; position : relative; padding: 1em 0 0.5em 0; margin: 0 1em 0 0; }