<number model="$ec.formData.apartment.charges"
        label="Charges de copropri&eacute;t&eacute; mensuelles"
        placeholder="ex : 200"
        class="required charges" icon="euro"></number>

<inputs label="Vue" class="required view">
	<radio model="$ec.formData.apartment.view" value="'medium'" icon="star">Vis-&agrave;-vis</radio>
	<radio model="$ec.formData.apartment.view" value="'good'" icon="stars-2">D&eacute;gag&eacute;e</radio>
	<radio model="$ec.formData.apartment.view" value="'great'" icon="stars-3">D'exception</radio>
</inputs>

<inputs label="Agencement" class="required agency">
	<radio model="$ec.formData.apartment.agency" value="'medium'" icon="star">Moyen</radio>
	<radio model="$ec.formData.apartment.agency" value="'good'" icon="stars-2">Normal</radio>
	<radio model="$ec.formData.apartment.agency" value="'great'" icon="stars-3">Optimis&eacute;</radio>
</inputs>

<inputs label="Commodit&eacute;s" class="elevator">
	<checkbox model="$ec.formData.apartment.elevator" value="true">Ascenseur</checkbox>
	<checkbox model="$ec.formData.apartment.topFloor" value="true">Dernier &eacute;tage</checkbox>
</inputs>

<controls>
	<prev state="online.general"></prev>
	<next state="online.apartment.building"></next>
</controls>
