<div class="form-group parking-places">
	<label for="parkingPlaces">Combien de stationnement poss&eacute;dez-vous ?</label>
	<select id="parkingPlaces" name="parkingPlaces"
	        class="form-control"
	        data-width="100%"
	        title="S&eacute;lectionnez"
	        ng-model="$ec.formData.apartment.parking.total"
	>
		<option value="0">0</option>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
	</select>
</div>

<div class="form-group parking-places"
     ng-repeat="i in $ec.range($ec.formData.apartment.parking.total) track by $index"
>
	<label for="parkingPlace-{{ $index }}">Stationnement {{ $index + 1 }}</label>
	<select id="parkingPlace-{{ $index }}" name="parkingPlace"
	        class="form-control"
	        data-width="100%"
	        title="S&eacute;lectionnez"
	        ng-model="$ec.formData.apartment.parking.places['parking-' + $index]"
	>
		<option value="" disabled>S&eacute;lectionnez</option>
		<option value="box">Box</option>
		<option value="exterior">Parking ext&eacute;rieur</option>
		<option value="interior">Parking int&eacute;rieur</option>
	</select>
</div>

<controls>
	<prev state="online.apartment.state"></prev>
	<next state="online.contact"></next>
</controls>
