<number model="$ec.formData.surface"
        label="Surface habitable de l'appartement"
        placeholder="ex : 150" class="required surface surfaceWidth" unit="m"></number>

<label>Surface ext&eacute;rieur</label>
<div class="row row-stackable">
	<div class="col-xs-6">
		<div class="form-group">
			<checkbox model="$ec.formData.apartment.garden.included" value="true">Jardin privatif</checkbox>
			<number model="$ec.formData.apartment.garden.surface"
			        placeholder="ex : 15" class="surface expandable" input-class="input-sm" unit="m" prefix="de"
			        ng-if="$ec.formData.apartment.garden.included"></number>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="form-group">
			<checkbox model="$ec.formData.apartment.balcony.included" value="true">Balcon ou Loggia</checkbox>
			<number model="$ec.formData.apartment.balcony.surface"
			        placeholder="ex : 10" class="surface expandable" input-class="input-sm" unit="m" prefix="de"
			        ng-if="$ec.formData.apartment.balcony.included"></number>
		</div>
	</div>
</div>

<div class="row row-stackable">
	<div class="col-xs-6">
		<div class="form-group">
			<checkbox model="$ec.formData.terraceFloor.included" value="true">Terrasse</checkbox>
			<number model="$ec.formData.terraceFloor.surface"
			        placeholder="ex : 17" class="surface expandable" input-class="input-sm" unit="m" prefix="de"
			        ng-if="$ec.formData.terraceFloor.included"></number>
		</div>
	</div>
</div>

<controls>
	<prev state="online.apartment.building"></prev>
	<next state="online.apartment.state"></next>
</controls>
