<!-- Cette page est une copie de location.html,
     pour éviter le pb de redirection automatique (Rewritting) de location.html, on l'a renommée par locationSlLci.html
    (location.html peut être enlevée) by SLB -->
<h1 id="estimation-title" class="title" ng-if="!$ec.showFormData">>
	Pour estimer votre bien il nous faut enregistrer les caract&eacute;ristiques de votre bien. Pour cela il vous faut quitter le mode de navigation priv&eacute;e.
</h1>

<div ng-if="$ec.showFormData">
	<dismissible-input name="country" model="$ec.formData.location.country" label="Pays"></dismissible-input>
	<dismissible-input name="region" model="$ec.formData.location.region" label="R&eacute;gion"></dismissible-input>
	<dismissible-input name="department" model="$ec.formData.location.department" label="D&eacute;partement"></dismissible-input>
	<dismissible-input name="city" model="$ec.formData.location.city" label="Ville"></dismissible-input>

	<text name="address" model="$ec.formData.location.address" label="Adresse" ng-attr-placeholder="{{$ec.getLocationPlaceholder()}}" class="required">
		<div id="addressSuggestions" class="suggestions-list always-on-top observable"></div>
	</text>

	<div class="form-group map">
		<map map="minimap" bind="address"></map>
	</div>

	<startpoint></startpoint>
</div>
