// VAR COLORS
$color-body:#eff1f2;
$color-content:#fff;
$color-block:#fff;
$color-primary:#fff;
$color-secondary:#4E5754;
$color-action:#4E5754;
$color-important:#A41220;
$color-nav-footer:#000;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;