$$REM$$
====================================================================

//// <summary>Fichier css par défaut pour : slagence_X_V2/mentions.htm</summary>
//// <remarks>
//// <para>CSS appelé à l'intérieur même de mentions.htm</para>
//// </remarks>
//// <update date="2007-11-12" author="lisbonne.siriphol">Création v1</update>

====================================================================
$$END$$

#MentionsLegales *{margin: 0; padding: 0; border: none;}
#MentionsLegales{width: 100%; margin: auto; font-size: 11px;}
#MentionsLegales hr{margin: 1em 0; border: 1px solid #c5c4c4;}
#MentionsLegales hr.n1{}
#MentionsLegales hr.n2{}
#MentionsLegales hr.n3{}
#MentionsLegales hr.n4{}
#MentionsLegales a{font-weight: bold; font-size: 12px; text-decoration:underline;}
#MentionsLegales a:hover{text-decoration:none;}
#MentionsLegales p{padding: 0 0 1.1em 0; text-align: justify;}
#MentionsLegales p.notaBene {font-style: italic; margin: 1em 0;}
#MentionsLegales p.notaBene a.demandeInfos{}
#MentionsLegales p.notaBene a.demandeInfos:hover{}
#MentionsLegales strong{font-size: 1.1em;}
#MentionsLegales h2{margin: 1em 0 0.3em 0; font-size:14px; font-weight:bold; color: #f15f00; background: url($$_$$images/arrow_orange.gif) no-repeat; padding-left: 20px; line-height: 20px; }
#MentionsLegales h2 a{text-decoration: none; color: #f15f00;}
#MentionsLegales h3{margin: 1em 0 0.3em 0; font-size: 1.1em;}
#MentionsLegales h3 a{text-decoration: none; color: #f15f00;}
#MentionsLegales h2 a:hover, #MentionsLegales h3 a:hover{ color: #000;}
#MentionsLegales ul,
#MentionsLegales li{list-style:none;}
#MentionsLegales ul li strong{font-weight: normal; text-decoration: underline;}


#entreprise #MentionsLegales h2{color: #457a9c; background: url($$_$$images/arrow_blue1.gif) no-repeat; }
#entreprise #MentionsLegales h2 a,#entreprise #MentionsLegales h3 a{color: #233e61;}