body{margin:0; padding:0;background: url($$_$$images/skin/bg_body.jpg) repeat-x #0047b9;font-size: 12px;font-family: Arial; color: #000; }
img{border: none;}
a { color: #000; text-decoration: none; }
ul { list-style:none;}
.wrap { width: 960px; margin:0 auto; text-align: left; }
.noli { margin:0; padding:0; list-style-type: none;}
.clear { clear: both;}

#calc-estim { background: #fff; width: 960px; margin: 0 auto; }

#bloc-cdc { padding: 15px 0; }
.txt-top { color: #818382; font-size: 11px; width: 500px; padding-left: 45px; }
.txt-top a { color: #0047b9; text-decoration: underline; }

#header {background: #fff;padding:0 38px;}
/*#header.index { height: 555px; }*/
#header.index { height: auto; }
#content{ background: #fff; box-shadow : 0 0 5px #e3e3e3; }
#navigue { padding: 15px; min-height: 350px; }

#logo{float: left; width: 292px; }
#top-head { float:right; width: 590px; }
#topmenu{float: left;margin-left: 295px; height: 48px; overflow: hidden; } /* Margin à adapter en fonction du nombre de menu */
#topmenu li{float: left; display: block;}
#topmenu a{display:table-cell;vertical-align:middle;width:65px;height: 48px;padding:0 7px 10px 2px; overflow:hidden; background: url($$_$$images/skin/bg_topmenu.gif) no-repeat;text-align: center; color: #fff;font-family: Century Gothic; font-size: 11px; text-transform: uppercase; text-decoration: none; text-shadow: 1px 1px 1px #333;}
#topmenu a:hover{background-position: 0 -50px;}

#photo-g { float: left; width: 587px; height: 202px; }
.bienvenu { font-size: 14px; font-weight: bold; color: #0047b9; }

.bg-reseau { float: left; background: url($$_$$images/skin/bg_reseau.png) no-repeat; width: 60px; height: 50px; text-align: center; }
.bg-reseau img { padding-top: 3px; }
.bg-reseau a { padding: 0 2px; }
.bg-flag { float: left; background: url($$_$$images/skin/bg_flag.png) no-repeat; width: 79px; height: 50px; text-align: center; margin-left: 8px; line-height: 50px; }
.bg-flag img { padding-top: 10px; }
.bg-flag a { padding: 0 3px; }

#m_main{background:url($$_$$images/skin/bg_menu.png) no-repeat;width: 885px; height: 43px;position: relative;z-index:1200;}
#m_main li{float: left; display: block;}
#m_main a{display: block; height: 39px; line-height: 39px;color: #fff;font-family: 'Century Gothic'; font-size: 18px; text-decoration: none; text-shadow: 1px 1px 1px #333; padding:0 9px; margin: 0 14px;} /* adapter le padding en fonction du nombre de menu */
#m_main a:hover{background: #0047b9;}
#m_main ul ul{display: none;position: absolute; top: 39px;margin-left: 19px;background: #c9c9c9 url($$_$$images/skin/bg_sousmenu.gif) no-repeat; min-height: 176px;border-right: solid 5px #ffffff;border-left: solid 5px #ffffff;border-bottom: solid 5px #ffffff;
-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
padding: 10px 45px; }
#m_main ul li ul.on{display: block;}
#m_main ul ul h2{font-size: 16px; font-family:'BitstreamVeraSansRoman',Arial,sans-serif;font-weight: bold; color:#0047b9;margin:15px 0;}
#m_main ul ul h2.notop{margin-top:0;}
#m_main ul ul a{font-family: arial;font-size: 12px; text-shadow: none; color: #252525; text-decoration: underline;display: block; height: auto; line-height: 18px; padding:0 0 0 10px; margin:0;background: url($$_$$images/skin/puce.png) no-repeat left center;}
#m_main ul ul a:hover{background: url($$_$$images/skin/puce.png) no-repeat left center;text-decoration: none;}
#m_main ul ul .liens{float: left;}
#m_main ul ul .description{float: left;width: 306px;text-align: justify;color:#252525;font-size: 11px;margin-left: 30px;line-height: 16px;}
#m_main ul ul .description .cadre{border: solid 3px #ffffff;}
#m_main .desc-menu { width: 306px;text-align: justify;color:#252525;font-size: 11px;line-height: 16px; }

/*SOUS MENU ESTIMATION*/
.liens #FormContactListeAgences{margin:0;overflow:auto;height:215px;position:relative;width:319px;}
.liens #FormContactListeAgences h2{font-size:13px; margin:0;}
.liens #FormContactListeAgences .listeags{display:block;position:relative;top:0;margin:0;background:none; padding:0; border:none;font-size:10px;}
.liens #FormContactListeAgences .listeags li{padding:0;display:block;width:100%;float:none;}

.bg-link-bottom { background: #762518; margin: 0; padding: 0; overflow:hidden; }
#main-coordo { background: #fff; width: 960px; margin: 0 auto; }

/*bloc-moteur*/
#wrap-mot { position:relative;z-index:10;padding: 10px 0; float:left; width: 587px; overflow:hidden; }
#bloc-moteur { float:left; width: 280px; padding-left: 15px; position:relative; }
.ttl-mot { text-transform:uppercase; font-size: 18px; color: #762518; border-bottom: 1px dotted #959595; }

.link-crit {position:absolute;left:365px;top:20px;height:169px;width:330px;z-index:5;}
.bouton-link {margin:0;padding:0;position:absolute;z-index:5;left:219px;top:0;background:url('$$_$$images/skin/plus_crit_fr.png') no-repeat;width:51px;height:169px;}
.content-link {margin:0;padding:0;position:absolute;z-index:5;width:269px;height:169px;background:url('$$_$$images/skin/degrade_moteur_slide.png') repeat-x;top:0;left:-40px;}
.txt-acc a { color: #fff; }
.txt-acc strong { font-size: 14px; }

/*footer*/


.bloc-outil { float: left; background:url($$_$$images/skin/bg_out.gif) no-repeat; width: 438px; height: 86px; }
.bloc-estim { float: left; background: url($$_$$images/skin/bg_estim.gif) no-repeat; width: 436px; height: 86px; }

.espace-out { padding: 7px 0 0 15px; width: 340px; }
.espace-out a { font-size: 11px; color: #fff; line-height: 8px; }

.main-foot { width: 885px; margin: 0 auto; padding: 30px 0; }
.main-foot2 { width: 910px; margin: 0 auto; }
.bloc-foot { float: left; width: 290px; margin-right: 4px; }
.main-foot .marg-none { margin: 0; }
.ttl-foot { color: #fff; font-family:'Century Gothic',Arial,sans-serif; line-height: 20px; height: 20px; margin-bottom: 5px; }
.ttl-foot span { padding-right: 5px; font-size: 15px; }

.bloc-foot .link-calc, .bloc-foot .link-estim, .bloc-foot .link-iphone { background: url($$_$$images/skin/pic_calc.png) right no-repeat; display: block; font-size: 11px; text-decoration: none; color: #000; padding: 0px 60px 20px 0; }
.bloc-foot .link-estim { background: url($$_$$images/skin/pic_estim.png) right no-repeat; }
.bloc-foot .link-iphone { background: url($$_$$images/skin/pic_iphone.png) right no-repeat; }

.bloc-foot div { color: #fff; font-size: 11px; }

.bloc-link { padding: 15px 10px; margin-top: 20px; }
.main-link { float: left; width: 275px; padding-right: 15px; }
.main-link strong { font-size: 14px; display: block; padding-bottom: 20px; color: #fff; }
.main-link a { display: block; color: #fff; text-decoration: none; font-size: 14px; }

.coords { padding-top: 15px; font-size: 14px; line-height: 18px; }
.coords, .coords a { color: #0047b9; text-align: center; padding-bottom: 35px; }
.coords div { font-size: 11px; }
.coords div a { text-decoration: none; }

.main-link a:hover, .bloc-foot .link-calc:hover, .bloc-foot .link-estim:hover, .bloc-foot .link-iphone:hover, .coords div a:hover { text-decoration: underline; }

/*Autres*/
.ttl_page { font-size: 18px; color: #0047b9; margin: 0; padding: 0; }
/* RETOUR HAUT */
.retourHaut {float:right;margin:5px 0 0 0;padding:0;font-size:11px;font-weight:bold;}
.retourHaut a {color:#0047b9;text-decoration:none;}
/*FOOTER REFERENCEMENT*/
.leftreffooter{float:left;}
.conteneurfoot{margin:auto;width:960px;}
.contentblocklink{float:right;margin-bottom:10px;}
.blockcol{float:left;margin-left:30px;text-align:left;}
.footerlink h4{color:#fff; font-weight:normal;margin:0;padding:0;margin-top:10px;font-size:1.2em;}
.footerlink{float:none;}
.footerlink a{display:block;font-size:0.8em;color:#ccc;}
.h5-like{font-size:1.2em;}
