// VAR COLORS
$color-body:#fff;
$color-content:#fff;
$color-block:#fff;
$color-primary:#030303;
$color-secondary:#f85e22;
$color-action:#f85e22;
$color-important:#f85e22;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;
$color-gris:#424439;
$color-gris-2:#272822;