@import "color";
// BG SOLO
$bg-uni:no;

// PICTURE BG
$picture-bg:yes;
$picture-bg-url:'../images/degrade_bg.png';
$picture-bg-repeat-horizontal:no;

// SIZE PICTURE AREA : FULLSCREEN OR NOT
$height-container:460;

// VAR SITE TYPO
$font-body:"Source Sans Pro",verdana,sans-serif;
$font-title:"Open Sans Condensed",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text:1.6em;
$font-size-title:1.8em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:normal;

// ARRONDI POUR LES EFFETS SUR LI > A:HOVER/FIL ARIANE/BOUTON
$arrondi:yes;

// BORDER EFFECT ON NAV
$border-nav:no;

// TYPE MENU : FLAT = COLOR BANNER BEHIND, NO FLAT = SHAPE OR NOT
// LINK TO VAR ID3X >>> MENU_TYPE
$type-menu:flat;

// STYLE NAV : IF YES = SHAPE BEHIND WORD, IF NO SHAPE BEHIND WORD ON HOVER
$shape:no;

// MARGIN UNDER NAV FIXE
$margin-top-under-nav-fixe:0;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS LIB
@import "../../../slagence_X_V5/sources/scss/boutons/lib4";

// IMPORT TEMPLATE LONDRES
@import "../../../slagence_X_V5/sources/scss/templates/londres";

// IMPORT MODULE SOUS MENU LIB1
@import "../../../slagence_X_V5/sources/scss/sous_menu/lib1";

// IMPORT MODULE ANNONCES1
@import "../../../slagence_X_V5/sources/scss/modules/annonces1";

// IMPORT MODULE EXTRA2
@import "../../../slagence_X_V5/sources/scss/extra/extra13";

// IMPORT MODULE PUB LIB2
@import "../../../slagence_X_V5/sources/scss/pubs/lib2";

@import "../../../slagence_X_V5/sources/scss/multiple-select.scss";

// SPRITE BLANC
@import "../../../slagence_X_V5/sources/scss/sprites/social-blanc";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT CHOSEN
@import "../../../slagence_X_V5/sources/scss/ie";


//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//		PERSO ADMINSITRA
//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------

//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//		GENERAL
//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------

	//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	//		CONTAINER
	//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.container {
	width:1280px;
	padding: 0 20px;
	@media only screen and (max-width : 1280px) {
		width:940px;
	}
}

	//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	//		MENU & NAV
	//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.menu-principal>li>a {
	padding: 15px 22px;
	@include box-shadow(inset 1px 2px 7px -4px $color-secondary);
	@media only screen and (max-width : 1280px) {
		padding: 15px 4px;
	}
	&:hover  {
		background-color: $color-important;
		color:$color-primary;
		@include box-shadow(inset 1px 2px 7px -4px $color-secondary-dark-20);
	}
}

//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//		INDEX
//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------

	//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	//		MINI MOTEUR
	//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------

/*
#Mini_Biens, #Mini_Villes, #Mini_Bouton {
	margin:0px;	
}

.form-inline{ 
	margin-left: 35px;
	select {
		height:40px;
		border:none;
		border-left: solid 1px $color-secondary;			   
	    border-radius: 0;
	}
	.padding-10 {
		padding:0px;
	}
}

#idtypebien {
	border-right: solid 1px $color-secondary;			
}

.saisie-suggest {
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
    height: 40px !important;    
    border:none !important;
}

.bouton-rechercher-moteur {
	height: 40px;
	line-height: 30px;
	@include border-radius (0px);
	box-shadow:none;
	border:none;
}

.bg-mini-moteur {
	background:transparent;
}*/


	//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	//		MODULE ANNONCES
	//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.module-annonces-homepage {
	height: 400px;
}
.module-villes-annonces  {
	line-height: initial;	
}

	//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	//		SERVICES
	//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.zone-pub {
	background: $color-block;
	padding: 10px;
}

	//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	//		ENCART PA
	//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------

body > section > div > div > div > hr {
	display:none;
}

.ligne-titre {
	margin-top:20px;
}

.module-annonces-homepage {
	background: $color-block;	
	padding: 10px;
	.pagination-left {
		text-align:center;
	}
}

.module-homepage hr {
	display:none;
}

@media only screen and (max-width : 767px) {
	.module-annonces-homepage {
		background:$color-block !important;		
		color:$color-nav-footer !important;		
	}
	.homepage-bloc-type-bien-transaction .bg-white {
		background:$color-block !important;		
	}
}

.owl-theme .owl-nav [class*=owl-] {
	background:$color-important !important;		
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background:$color-important !important;			
}

.owl-theme .owl-dots .owl-dot span {
	background:$color-action !important;				
}

	//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	//		PUB FULL - 2EME SERVICES
	//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.bg-pub-bottom {
	background:#EBEAE7;
	box-shadow:none;
	.zone-pub {
		margin-left:-20px !important;
	}
}

//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//		LISTING PA
//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------

	//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	//		ENCART ALERT
	//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.bloc-top-alerte-email p {
	display: none;
}

//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//		DETAIL PA
//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------

	//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	//		VISUEL
	//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.vertical-pano {
	background:$color-block;
}