html, body {
  width: 100%;
  height: 100%;
}

body {
	background-color: white;
}

@font-face
{
	font-family: '__Titillium Web_5';
	src: url('/z/webagency/A_id3x/barth/poi/fonts/titillium-regular-webfont.eot');
	src: local('☺'), url('/z/webagency/A_id3x/barth/poi/fonts/titillium-regular-webfont.woff') format('woff'), url('/z/webagency/A_id3x/barth/poi/fonts/titillium-regular-webfont.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Titillium Web_5_semi_bold';
	src: url('/z/webagency/A_id3x/barth/poi/fonts/titillium-semibold-webfont.eot');
	src: local('☺'), url('/z/webagency/A_id3x/barth/poi/fonts/titillium-semibold-webfont.woff') format('woff'), url('/z/webagency/A_id3x/barth/poi/fonts/titillium-semibold-webfont.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face
{
	font-family: '__Titillium Web_5_bold';
	src: url('/z/webagency/A_id3x/barth/poi/fonts/titillium-semibold-webfont.eot');
	src: local('☺'), url('/z/webagency/A_id3x/barth/poi/fonts/titillium-semibold-webfont.woff') format('woff'), url('/z/webagency/A_id3x/barth/poi/fonts/titillium-semibold-webfont.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

input[type="checkbox"]{
	display:none;
}

.invisible{
	display: none;
}

/*Pour cacher les liens et bouton de google */
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}

.gm-svpc{
	margin-top: 2px;
	margin-left: 2px;
	box-shadow: none !important;
}

.gmnoprint.gm-bundled-control{
	background: rgba(255, 255, 255, 1) none repeat scroll 0 0 !important;
	border-color: #c0c0c0;
	border-style: solid;
	border-width: 1px;
	height: 32px;
	width: 32px;
}

.poi{
	width: 100%;
}

.gmap3{
	float:left;
	display: inline-block;
}


.accordion {
  display: inline-block;
  float: left;
  height: 100%;
}

.sous_categorie, .sous_categorie_selected{
	height: 30px;
	display : block;
}

.styleInfoWindow{
	width: 200px;
	overflow: hidden;
}