.gmap3{
	width: -moz-calc(100% - 277px);
    width: -webkit-calc(100% - 277px);
    width: calc(100% - 277px);
	height: 100%;
}

.catTitle *{
	text-decoration:none; 
	font-size: 16px;
	color: #FFFFFF;
	text-indent: 26px;
	font-family: '__Titillium Web_5';
}

#catCommercesTitle *{
	background-color: #7BC3DA;
}
#catCultureTitle *{
	background-color: #C9B7E7
}
#catEducationTitle *{
	background-color: #FF8761
}
#catLoisirsTitle *{
	background-color: #FFC400
}
#catPetiteEnfanceTitle *{
	background-color: #38A4DD
}
#catSanteTitle *{
	background-color: #6DC7BE
}
#catServicePublicTitle *{
	background-color: #E78BAA
}
#catTourisme2Title *{
	background-color: #98C87D
}
#catTransportTitle *{
	background-color: #8CA3BD
}

.sous_categorie{
    padding-right: 10px;
}

.sous_categorie_selected{
	background-color: #fff;
    padding-right: 10px;
}

#catCommercesContent div:hover{
	color: #7BC3DA;
}
#catCultureContent div:hover{
	color: #C9B7E7
}
#catEducationContent div:hover{
	color: #FF8761
}
#catLoisirsContent div:hover{
	color: #FFC400
}
#catPetiteEnfanceContent div:hover{
	color: #38A4DD
}
#catSanteContent div:hover{
	color: #6DC7BE
}
#catServicePublicContent div:hover{
	color: #E78BAA
}
#catTourisme2Content div:hover{
	color: #98C87D
}
#catTransportContent div:hover{
	color: #8CA3BD
}

.nombrePresent{
	margin-top: 5px;
	background-color: #C0C0C0;
	color: #fff;
	border-radius: 15px;
	/*font-weight: 600;*/
	width: 21px;
	height: 21px;
	font-size: 8pt;
	float: right;
	line-height: 21px;
	text-align: center;
	font-family: '__Titillium Web_5_semi_bold';
	margin-left: 30px;
}

.nombrePresent2#nombre_banque, .nombrePresent2#nombre_bar, .nombrePresent2#nombre_boucherie, .nombrePresent2#nombre_boulangerie, .nombrePresent2#nombre_poste, .nombrePresent2#nombre_marche, .nombrePresent2#nombre_presse, .nombrePresent2#nombre_restaurant,.nombrePresent2#nombre_superette, .nombrePresent2#nombre_supermarche{
	margin-top: 5px;
	background-color: #fff;
	color: #7BC3DA;
	border-radius: 15px;
	/*font-weight: 600;*/
	width: 20px;
	height: 20px;
	font-size: 8pt;
	float: right;
	line-height: 19px;
	text-align: center;
	font-family: '__Titillium Web_5_semi_bold';
	margin-left: 30px;
	border-width:1px;
	border-style:solid;
	border-color:#7BC3DA;
}

.nombrePresent2#nombre_bibliotheque, .nombrePresent2#nombre_monument, .nombrePresent2#nombre_theatre{
	margin-top: 5px;
	background-color: #fff;
	color: #C9B7E7;
	border-radius: 15px;
	/*font-weight: 600;*/
	width: 20px;
	height: 20px;
	font-size: 8pt;
	float: right;
	line-height: 19px;
	text-align: center;
	font-family: '__Titillium Web_5_semi_bold';
	margin-left: 30px;
	border-width:1px;
	border-style:solid;
	border-color:#C9B7E7;
}

.nombrePresent2#nombre_college, .nombrePresent2#nombre_maternelle, .nombrePresent2#nombre_primaire, .nombrePresent2#nombre_ens_superieur, .nombrePresent2#nombre_lycee{
	margin-top: 5px;
	background-color: #fff;
	color: #FF8761;
	border-radius: 15px;
	/*font-weight: 600;*/
	width: 20px;
	height: 20px;
	font-size: 8pt;
	float: right;
	line-height: 19px;
	text-align: center;
	font-family: '__Titillium Web_5_semi_bold';
	margin-left: 30px;
	border-width:1px;
	border-style:solid;
	border-color:#FF8761;
}

.nombrePresent2#nombre_casino, .nombrePresent2#nombre_cinema, .nombrePresent2#nombre_parc, .nombrePresent2#nombre_plage, .nombrePresent2#nombre_sport{
	margin-top: 5px;
	background-color: #fff;
	color: #FFC400;
	border-radius: 15px;
	/*font-weight: 600;*/
	width: 20px;
	height: 20px;
	font-size: 8pt;
	float: right;
	line-height: 19px;
	text-align: center;
	font-family: '__Titillium Web_5_semi_bold';
	margin-left: 30px;
	border-width:1px;
	border-style:solid;
	border-color:#FFC400;
}

.nombrePresent2#nombre_creche, .nombrePresent2#nombre_ludotheque{
	margin-top: 5px;
	background-color: #fff;
	color: #38A4DD;
	border-radius: 15px;
	/*font-weight: 600;*/
	width: 20px;
	height: 20px;
	font-size: 8pt;
	float: right;
	line-height: 19px;
	text-align: center;
	font-family: '__Titillium Web_5_semi_bold';
	margin-left: 30px;
	border-width:1px;
	border-style:solid;
	border-color:#38A4DD;
}

.nombrePresent2#nombre_hopital, .nombrePresent2#nombre_med_generaliste, .nombrePresent2#nombre_med_specialiste, .nombrePresent2#nombre_pharmacie{
	margin-top: 5px;
	background-color: #fff;
	color: #6DC7BE;
	border-radius: 15px;
	/*font-weight: 600;*/
	width: 20px;
	height: 20px;
	font-size: 8pt;
	float: right;
	line-height: 19px;
	text-align: center;
	font-family: '__Titillium Web_5_semi_bold';
	margin-left: 30px;
	border-width:1px;
	border-style:solid;
	border-color:#6DC7BE;
}

.nombrePresent2#nombre_caf, .nombrePresent2#nombre_cpam, .nombrePresent2#nombre_gendarmerie, .nombrePresent2#nombre_mairie, .nombrePresent2#nombre_pole_emploi, .nombrePresent2#nombre_police, .nombrePresent2#nombre_impot_entreprise, .nombrePresent2#nombre_impot_particulier{
	margin-top: 5px;
	background-color: #fff;
	color: #E78BAA;
	border-radius: 15px;
	/*font-weight: 600;*/
	width: 20px;
	height: 20px;
	font-size: 8pt;
	float: right;
	line-height: 19px;
	text-align: center;
	font-family: '__Titillium Web_5_semi_bold';
	margin-left: 30px;
	border-width:1px;
	border-style:solid;
	border-color:#E78BAA;
}

.nombrePresent2#nombre_camping, .nombrePresent2#nombre_hotel, .nombrePresent2#nombre_tourisme{
	margin-top: 5px;
	background-color: #fff;
	color: #98C87D;
	border-radius: 15px;
	/*font-weight: 600;*/
	width: 20px;
	height: 20px;
	font-size: 8pt;
	float: right;
	line-height: 19px;
	text-align: center;
	font-family: '__Titillium Web_5_semi_bold';
	margin-left: 30px;
	border-width:1px;
	border-style:solid;
	border-color:#98C87D;
}

.nombrePresent2#nombre_aeroport, .nombrePresent2#nombre_bus, .nombrePresent2#nombre_autolib, .nombrePresent2#nombre_gare_ferroviaire, .nombrePresent2#nombre_location_velo, .nombrePresent2#nombre_metro, .nombrePresent2#nombre_parking, .nombrePresent2#nombre_parking_velo, .nombrePresent2#nombre_rer, .nombrePresent2#nombre_taxi, .nombrePresent2#nombre_essence, .nombrePresent2#nombre_ferry, .nombrePresent2#nombre_tramway, .nombrePresent2#nombre_velib{
	margin-top: 5px;
	background-color: #fff;
	color: #8CA3BD;
	border-radius: 15px;
	/*font-weight: 600;*/
	width: 20px;
	height: 20px;
	font-size: 8pt;
	float: right;
	line-height: 19px;
	text-align: center;
	font-family: '__Titillium Web_5_semi_bold';
	margin-left: 30px;
	border-width:1px;
	border-style:solid;
	border-color:#8CA3BD;
}

.miniature{
	margin-top: 7px;
	padding-left: 30px;
	margin-right: 7px;
}

.miniature2{
	margin-top: 7px;
	padding-left: 30px;
	margin-right: 7px;
}

.miniatureTitle{
	padding-left: 7px;
	margin-right: 7px;
}

.miniatureTitle2{
	padding-left: 7px;
	margin-right: 7px;
}

/* all accordion styles below here */
.accordion dl {
  width: 277px;
  font-family: "proxima-nova", "helvetica neue", helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-transition-duration: 350ms;
  -o-transition-duration: 350ms;
  -webkit-transition-duration: 350ms;
  transition-duration: 350ms;
}

.accordion dl dt a {
  position: relative;
  width: 277px;
  height: 37px;
  display: block;
  line-height: 40px;
  cursor: pointer;
}
.accordion dl dt.active a, .accordion dl dt:hover a {
  background-color: #507BA2;
}

.accordion dl dd {
  background-color: #F0F0F0;
  color: #656565;
  padding-bottom: 7px;
  font-size: 12px;
  display: none;
  height: -moz-calc(100vh - 343px);
  height: -webkit-calc(100vh - 343px);
  height: calc(100vh - 343px);
  overflow:auto;
}
.accordion dl dd.active {
  display: block;
}

.accordion dl dd p {
  line-height: 1.4;
}

.gmnoprint.gm-bundled-control{
	margin-left: 5px !important;;
}