/* CSS Document */
/* Redefinitions des balises HTML */ 
	*{margin:0;padding:0;font-size:12px;font-family:Verdana, Helvetica, sans-serif;color:#000;}
	img{border:0}
	.clear{clear:both;}
	a{text-decoration:underline;outline:none;color:#c5071b;}
	a:hover{color:#c5071b;text-decoration:none;}
	hr{display:none;}
	select option{padding:0;}
	table{ margin:0 auto; padding:0;}
	* html input.alerte{ background:#FFFFFF;}
	/* --------Modification AR PLAN SITE-------- */    
	body{margin-top:-3px;}
	/* Effet bordure (espace 5px) entre BG menu et bande BG site */ 
	#header{width:993px; margin:10px auto 7px auto;position:relative;}
	#global{position:relative;width:993px; margin:0 auto;}


/* ----------------------------------------PAGE ACCUEIL---------------------------------------- */	   
   
/* --------LOGO AGENCE-------- */ 
	#LogoAgence { float:left; display:inline; padding:0 0 20px 0;margin:20px 0 0 0;}
	#LogoAgence img{ display:block; margin:0 auto;}


/* --------DRAPEAUX LANGUES FRANCAIS ET ANGLAIS-------- */ 		
/* Mettre en DISPLAY:NONE si pas d'option Anglais */ 
	#Drapeaux {position:absolute; top:130px; left:7px; display:none;}
	#Drapeaux img {padding-right:8px;}

/* --------TEXTE ACCUEIL--------*/ 
	#textAccueil { position:relative; float:right; display:inline; width:563px; padding:12px 0 5px 9px; display:block; right:5px;}
/* Modification TITRE texte d'accueil */ 
	#textAccueil h1{ font-size:18px; font-weight:bold;color:#c5071b; padding:0 0 4px 0;}
/* Modification CORPS texte d'accueil */ 
	#textAccueil p{ text-align:justify; font-size:12px;  color:#000; line-height:16px; display:block;}
	#textAccueil p strong{ color:#000;}
	#textAccueil a{ text-decoration:none; color:#c5071b; font-weight:bold;}
	#textAccueil a:hover{ text-decoration:underline; color:#c5071b;}

/* LOGOS: FNAIM & SIA */
	#Partners{ display:none; position:absolute; top:0px; right:0px; width:62px; float:left; text-align:center;}
	#Partners span img{text-align:center; padding:2px 0;}

/* --------MARQUEE DEFILANTE-------- */
/* Modification COULEUR  MARQUEE */ 	
	#RefMarqueNavig{ width:565px; height:31px; float:right; display:inline;color:#555557; font-size:10px;background:none;margin:0 4px 0 0;}
	#RefMarque{ width:565px; height:31px; float:right; display:inline;color:#555557; font-size:10px;width:550px;background-color:#FFF;margin:0 -1px 0 0; padding:0 4px 0 0;}
	#RefMarque marquee{width:555px;margin:0;padding:0; color:#555557; padding:8px 5px 8px 5px;}
	#RefMarque marquee a {color:#555557;}
	#RefMarque marquee a strong {color:#555557;}
	#RefMarque marquee a:hover {color:#AAAAAB;}

/* ----- Moteur -----*/
h2.TitrePage,.titreInfosLegales{ color:#c5071b; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}

/* --------MENU + FLUX RSS-------- */
/* Modification COULEUR + TAILLE fond MENU */
	#remplissageMenu{ width:100%; background:#fff; min-height:44px;}		
	#menuFlux{width:984px; background:#c5071b; height:44px; border-left:5px solid #c5071b; border-right:4px solid #c5071b;margin:0 auto;}
	#menu {float:right; display:inline; padding:12px 4px 0 0; position:relative; z-index:2;}
	#menu ul{ display:inline; margin:0 0 0 6px; list-style-type:none;}
	#menu li{ float:left; font-size:15px; padding:0 2px; position:relative; height:30px;}
	
	.sous_menu{position:absolute; top:30px; left:-2px; display:none;width:132px;}
	.sous_menu1{display:block;width:335px; margin-left:25px;}
	.sous_menu1 a{margin-top:2px;}
	.sous_menu a{background:#fff;color:#fff;display:block;padding:5px 0 5px 4px;border-bottom:1px solid #fff;}
	.sous_menu a.offre{border-top:1px solid #fff;}
	.sous_menu a{color:#fff;}
	#menu ul li.MenuSep{ color:#fff;}
	/* Modification COULEUR TEXTE MENU */ 
	#menu a{ font-weight:bold;color:#FFF; text-decoration:none;font-size:13px; padding:8px 10px;}
	#menu a:hover{color:#C5071B; background:#F0C1C6;}		
/* Modification FLUX RSS */ 		
	#fluxRss{float:left; display:inline; padding:15px 0 5px 8px; }
	#fluxRss a{ color:#F0C1C6; text-decoration: none; font-size:10px;}
	#fluxRss a:hover{ color:#FFFFFF; text-decoration:none;}
	#fluxRss img{float:left; display:inline; vertical-align:middle; margin:0 4px 0 0;}


/* --------CONTENU SITE = ZONE DU MILIEU-------- */
/* Modification COULEUR ARRIERE PLAN CONTENU SITE */ 	
	#milieu{width:984px;padding:24px 0 3px 0px; min-height:250px;background:#fff; border-left:4px solid #fff; border-right:5px solid #fff;margin:0 auto; position:relative; z-index:1;}
	#blocHaut{ width:100%; overflow:hidden;}
/* Positionnement bandeau image */ 
	#visuel{float:left; display:inline; width:709px; margin:0 0 10px 0; padding:0;}		
/* Modification COULEUR BORDURE IMAGE */ 		
	#visuel img{border:7px solid #c5071b;}
 

/*--------POSITIONNEMENT MINI MOTEUR-------- */ 
	.miniMoteur{float:right;display:inline;width:220px;padding:0 0 0 42px;position:relative;background:url(../images/fontTitreMoteur.gif) 0 0 no-repeat;}		
/* Modification TITRE RECHERCHE */ 		
	.miniMoteur h2{font-size:18px; font-weight:bold; color:#c5071b;padding:12px 0 0 0;}
/* A NOTER !!!! Pour styliser les champs + bouton mini moteur VOIR == MINI_MOTEUR.CSS */ 


/* ----------- 3 COUPS DE COEUR ------------- */ 
	#blocBas #coupCoeur{float:left;display:inline;width:715px;margin:0 0 15px 0; }

/* ----------- LISTE TRANSACTIONS AGENCE ------------- */ 
	#blocBas .nbrTransaction{float:right;width:209px; margin:0 10px 0 0; height:260px; overflow:auto;}
/* Modification COULEUR "AUJOURD'HUI" */ 	
	#blocBas .nbrTransaction h3{font-size:13px;font-weight:bold;padding:1px 0;color:#c5071b;}
/* Modification COULEUR TYPE TRANSACTION */ 	
	#blocBas .nbrTransaction h4{width:167px;font-weight:bold;font-size:13px;padding:10px 0 0 0;}
	#blocBas .nbrTransaction h4 a{width:167px;font-weight:bold;font-size:13px;color:#A0001C;padding:10px 0 0 0;}
	#blocBas .nbrTransaction ul{list-style-type:none;margin:0 0 10px 3px; line-height:16px;}
/* Modification COULEUR TYPE DE BIEN */ 
	#blocBas .nbrTransaction ul *{font-size:11px;color:#FF0000;}
	#blocBas .nbrTransaction ul a:hover{text-decoration:none;color:#FF0000;}

/*la page pieces a fournir*/
    
	#piece{width:600px;margin:0 auto;}
	#piece h2{font-size:12px;font-family:Verdana, Helvetica, sans-serif;padding:0 0 23px 0;width:412px;margin:0 auto;}
	#piece h2 span{padding:0 0 0 20px;}
	dl.dossier dt span{padding:0 0 0 110px;}
	#piece p{width:90px;margin:0 auto;padding:0 0 20px 0;font-size:12px;font-family:Verdana, Helvetica, sans-serif;font-weight:bold;}
	#piece b{font-size:12px;font-family:Verdana, Helvetica, sans-serif;font-weight:bold;padding:0 300px 10px 114px;}
	#piece strong{padding:0 0 10px 0;}
	
	dl.condidat,dl.cautionner{padding:0 0 40px 0;}
	dl.dossier{padding:0 0 20px 0;}
    dl.condidat dt,dl.cautionner dt{font-size:12px;font-family:Verdana, Helvetica, sans-serif;font-weight:bold;text-decoration:underline;padding:0 0 20px 11px;}
    dl.condidat dd.idem{padding:0 0 0 26px;font-weight:bold;}
	dl.condidat dd,dl.cautionner dd{font-size:12px;font-family:Verdana, Helvetica, sans-serif;padding:0 0 10px 11px;}	
    dl.condidat dd span,dl.cautionner dd span{margin:0 10px 0 0;}
	dl.dossier dt{width:395px;margin:0 auto;font-size:12px;font-family:Verdana, Helvetica, sans-serif;font-weight:bold;padding:0 0 20px 0;text-decoration:none;}
    dl.dossier dd{padding:0 0 10px 10px;}
	dl.dossier span.euro{margin:0 0 0 70px;}
	
/* -----------INCLUDE BAS------------- */ 

/* -----------INCLUDE BAS------------- */ 

/* Modification COULEUR BANDE COORDONNEES */ 
.CoordonneesAgence {font-size:12px; background:#c5071b; height:27px; text-align:center; padding-top:13px; color:#fff; font-weight:bold; border-bottom:1px solid #fff;}	
/* Modification BG footer portefeuille + menu secondaire */
.footerPosition{background:#c5071b; position:relative;width:984px; border-left:5px solid #c5071b; border-right:5px solid #c5071b; padding-bottom:15px; margin:auto;}
.porteFeuille{float:left;width:625px;padding-left:20px;}
/* ARRIERE PLAN FOOTER */
#footer{ background:#fff; margin:0 auto; padding:0 0 0 1px;}
		
		
/* Modification couleur 2 TITRES FOOTER */ 
 #footer h4{font-size:11px;font-weight:bold;background:url(../images/puce.gif) no-repeat;padding:4px 0 1px 33px;margin:17px 0 0 0;line-height:19px;}
/* titre gauche : Notre portefeuille immobilier */
 #footer .porteFeuille h4{font-size:12px; color:#fff;}
/* titre droite : www.urldusite.com */
 #footer .menuSecondaire h4{font-size:12px; color:#fff;}

		
/* Modification couleur LISTE DES VILLES */ 
.porteFeuille .ListeVilles{width:520px;text-align:justify;line-height:13px;border:0;color:#fff; padding:4px 0 0 5px;}
.ListeVilles *{color:#fff; font-size:12px;font-weight:normal;}
.ListeVilles a{color:#fff;text-decoration:none;}
.ListeVilles a:hover{color:#fff;text-decoration:underline;}

/* Modification couleur MENU SECONDAIRE FOOTER (droite) */

.menuSecondaire{float:left;width:960px;font-size:11px;color:#fff;padding:0 12px 0 12px;}



#footer .menuSecondaire p{padding:3px 0 0 5px; color:#fff; text-align:justify; font-size:11px;}
#footer .menuSecondaire p a{font-size:11px;color:#fff;text-decoration:none;}
#footer .menuSecondaire p a:hover{font-size:11px;color:fff;text-decoration:underline;}
span.sepSep{ color:#fff; padding:0 2px;}




/* ----------------------------------------AUTRES PAGES DU SITE---------------------------------------- */

/* Page En Construction */
	#EnConstruction{margin:70px 0 70px 0; text-align:center;}
	#EnConstruction h5 { color:#8B805D;}


/* PAGE PLAN DU SITE = incl_plan-site.htm */  
	.ul#Plan *{text-decoration: none; font-weight: bold;}
	ul#Plan{padding: 0 8em; width:500px; margin:0 auto;position:relative;top:-25px;}
	ul#Plan li.plan{ color:c5071b; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;border-bottom:none;}
	ul#Plan li.MenuSep{display:none;}
	ul#Plan li{padding: 0.2em 0; border:none;}
	ul#Plan .plan{padding: 0.2em 0;background:none;}
	ul#Plan li a{ background:none;color:#c5071b;padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #c5071b; text-transform:uppercase;}
	ul#Plan li a:hover{color:#fff;padding-left:10px; height:19px;font-size: 12px; background:#c5071b ;border:1px solid #000;}


/* Outils */
	.ul#Outils *{text-decoration: none; font-weight: bold;}
	ul#Outils{padding: 2em 8em; width:500px; margin:0 auto;}
	ul#Outils li.list{padding: 0.2em 0px;background:none; margin:2px 0; border:none;}
	ul#Outils li a{color:#c5071b;padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #c5071b; text-transform:uppercase;}
	ul#Outils li a:hover{color:#fff;padding-left:10px; height:19px;font-size: 12px;background:#c5071b;border: 1px solid #000;}
	#Outils li.titrePageOutils{ color:#c5071b; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}


/*PAGES ESTIMATION + CONTACT + MESSAGE == TABLEAUX FORMULAIRES*/
	.tabFond1{border-color:#00AA00; border-width:0; border-style:solid; padding:2px; font-family:Verdana, Helvetica, sans-serif; width:100%;}
	 textarea {width:600px; height: 100px;border:1px solid #000;margin: 0 0 0 3px;}
	.tabFond2{border-color:#8B805D; border-width:1px; border-style:solid; padding:2px; font-size:14px; font-family:Verdana, Helvetica, sans-serif;}
	.tabTitre{background:#c5071b; color:#000; font-size:14px; font-weight: bold; font-family:Verdana, Helvetica, sans-serif;height:25px;padding:3px; text-align:center; text-transform:uppercase;}
	.tabTitre *{font-size: 14px; color:#fff;}
	.tabPrint{color:#5C5E5D; font-size: 13px; font-family:Verdana, Helvetica, sans-serif; border:1px solid #000;}
	.tabFond1 td input{margin:3px;border:1px solid #000 ;}
	.tabFond1 td input.BoutonFormRecherche{float:right;width:120px;height:25px;border:none;}
	select.imputForm{border:1px solid #000 ;margin:0 0 0 3px;}
	input.boutonEnvoi{float:right;width:120px;height:25px;}
	input.imputForm{border:1px solid #000; margin:2px 0;}
	.tabFond1 table{ width:100%;}
	strong.messageNomAgence,
	strong.estimationNomAgence{ color:#c5071b; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase; display:block;}
	
/*Résolution Bug IE8 = donner une taille aux bouton pour éviter tout décallage*/
	.tabFond1 .boutonEnvoi {float:right;border:1px solid #fff;width:120px;height:25px; margin-right:-1px;}
	.tabFond1 .BoutonFormContact {float:right;border:0;width:120px;height:25px;margin-right:-1px;}
	.MoteurBouton input {float:right;width:120px;height:25px;}
	td #ChampsBouton input {float:right;margin-right:12px;width:120px;height:25px;}
	#AgenceContact form table#FormContact td#ChampsBouton input{width:120px;height:25px;}
	

/* GUIDE PRATIQUE = ACCES VIA LE LIEN DANS LA PAGE OUTILS*/
	span.txtTitre3{ display:block; width:97%; color:#FFF; background:#555557; font-size:16px; font-weight:bold; padding:3px 5px; margin:10px 3px 3px 0;}
	span.gras{ display:block; width:882px; color:#FFF; background:#555557; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;}
	span.gras p{color:#FFF;}
	span.gras span.gras{padding:3px 0;}
	td.encadre{background-color:#FFF; border-color:#AAA; border-width:2px; border-style:solid; padding:3px; color:#000; margin:0 0 0 -4px;}
	p.grasnews{ display:block; width:882px; color:#FFF; background:#555557; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;}

	/* coup de coeur*/
	* html .div-cdc{ height:260px;}
	.div-cdc{width:230px; min-height:260px;float:left; background:#fff; margin:0 4px 0 0; border:2px solid #C5071B;}
	.div-cdc *{ color:#000;}
	.div-cdc .photo-cdc img{width:220px;height:139px;background:url(../images/bg_Img_Cdc.gif); margin:5px 2px 3px 4px; border:1px solid #000;}
	.div-cdc a span.ville-cdc{font-weight:bold;display:block; color:#C5071B; }
	.div-cdc a span.ville-cdc a:hover{color:#C5071B;}
	.div-cdc .contenu-cdc a *{color:#c5071b;font-weight:bold; text-transform:capitalize;}
	.div-cdc .contenu-cdc a:hover *{color:#c5071b;text-decoration:underline;}
	.div-cdc .typebien-cdc{}
	.div-cdc .contenu-cdc{padding:0 6px 4px 6px;}
	.div-cdc .contenu-cdc *{color:#000;}
	.div-cdc .contenu-cdc a{ text-decoration:none;}
	.div-cdc .contenu-cdc a:hover{color:#30FAE4;}
	.div-cdc .descriptif-cdc{min-height:30px;}
	* html .divc2c .descriptif-cdc{height:30px;}
	.div-cdc p.prix-cdc{font-weight:bold;font-size:14px; color:#c5071b;}
 
 
/* Mentions Legales */
	#MentionsLegales h2 {display:block; width: 99%;background:#c5071b; font-size: 14px; color:#fff;font-weight: bold;letter-spacing: 0;padding:3px 0 3px 8px;margin: 10px 0;text-align: left;text-transform: none;font-family: Verdana; text-transform: none;}



/*detail*/
#AgenceContact form table#FormContact td#ChampsBouton #ChampsObligatoires{ clear:both;}	

	


