$$REM$$/*====================================================================
//// <summary>Fichier CSS À DÉMUTUALISER POUR CHAQUE SITE</summary>
//// <remarks>
//// <para>Pour plus de rapidité, intégrer les macros du fichier 'all_global_macros.css'</para>
//// </remarks>
//// <update date="2010-02-16" author="lisbonne.siriphol">Création</update>
====================================================================*/$$END$$

<!--#include virtual="styles/all_global_macros.htm" -->
#TopHeader_Ctn{ background:#9D0D16;}
#TopHeader marquee, #TopHeader marquee *, #Coordonnees, #Coordonnees *, #FooterBottom, #FooterBottom *{ color:#fff;}

#estimationEnLigne{background: url("$$_$$images/vignette-estimation.jpg") no-repeat 50% 50%;height: 301px;margin:5px 5px 5px 5px; position:relative; width:381px;}
#estimationEnLigne .maison, #estimationEnLigne .appartement{ position:absolute; left:15px;background:#9D0D16;color: #FFFFFF;display: block;font-weight: bold;width: 155px;padding: 12px 5px;}
#estimationEnLigne .maison { top:187px;}
#estimationEnLigne .appartement{top:229px;}
#Outils .outil4{ display:none;}
.accordion_content .inputText, .accordion_content .inputResult{ background:#fff;}
.miniDivSelect select option, form#Tri select option, form#Tri select optgroup{ padding:0 0 0 4px;}

#Menu li {position:relative;}
#Menu li:hover > a {background:#9a181d;}
#Menu li ul {display:none; position:absolute; left:5px; top:35px; background:#9a181d; padding:10px; z-index:10; width:219px; text-align:left;}
.ie9 #Menu li ul {top:33px;}
#Menu li ul li {float:none; display:block;}
#Menu li ul li a {background:none; text-align:left;}
#Menu li:hover > ul {display:block;}