// VAR COLORS
$color-body:#404041;
$color-content:#404041;
$color-block:#faf9f6;
$color-primary:#404041;
$color-secondary:#000;
$color-action:#0e7a99;
$color-important:#0e9f41;
$color-nav-footer:#fff;
// COLOR PUB
$color-pub:"white";
// COLOR FONT BODY DEFAULT
$color-font-body:#000;
// COLOR SOUS MENU
$color-sous-menu:$color-block;