// VAR COLORS
$color-body:#000;
$color-content:#1a1a1a;
$color-block:#333333;
$color-primary:#7f00ff;
$color-secondary:#333;
$color-action:#ffff7f;
$color-important:#5700CC;
$color-nav-footer:#ffff7f;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#FFF;