@import "color";
// BG SOLO
$bg-uni:yes;

// PICTURE BG OU DEGRADE CSS BG COLOR PRIMARY vs SECONDARY vs BLOCK > SI NO ALL = BG BODY UNI
$picture-bg:no;
$picture-bg-url:'../images/dark_wall.png';
$picture-bg-repeat-horizontal:no;

// SIZE SCROLLING
$height-scrolling:500;

// SIZE NAVIGATION
$height-navigation:35;

// MARGIN TOP UNDER NAV FIXE
$margin-top-under-nav-fixe:200;

// VAR SITE TYPO
$font-body:"proxima-nova",verdana,sans-serif;
$font-title:"open-sans",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text:1.3em;
$font-size-title:1.9em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:normal;

// ARRONDI POUR LES EFFETS SUR LI > A:HOVER/FIL ARIANE/BOUTON
$arrondi:yes;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS LIB2
@import "../../../slagence_X_V5/sources/scss/boutons/lib6";

// IMPORT PUB LIB BOITE
@import "../../../slagence_X_V5/sources/scss/pubs/lib1";

// IMPORT PUB LIB6
@import "../../../slagence_X_V5/sources/scss/pubs/lib6";

// IMPORT TEMPLATE PARIS
@import "../../../slagence_X_V5/sources/scss/templates/helsinki";

// IMPORT MODULE ANNONCES3
@import "../../../slagence_X_V5/sources/scss/modules/annonces3";

// IMPORT MODULE EXTRA
@import "../../../slagence_X_V5/sources/scss/extra/extra2";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";

// IMPORT MODULE SOUS MENU
@import "../../../slagence_X_V5/sources/scss/sous_menu/lib1";


// PERSO MENU

.menu-principal {
	position: absolute;
	left: 0;
	right: 0;
	top: auto;
	font-size: 1.05em; 
	height:38px; 
	background-color: $color-greydark;
}

.menu-principal > li { border: none; }

.menu-principal > li > a {
	padding-left: 15px;
	padding-right: 15px;
	text-transform: none; 
	border-bottom: 3px solid transparent;
	&:hover {
		background-color: $color-important-dark-5;
		border-color: $color-action;
		color: $color-action;
	}
}

// PERSO HEADER
.logo { background: url("../images/bg-head.png") center center no-repeat; }
@media (max-width: 940px) {
	.logo { background: none; }
}

.titre-milieu-menu-under h1{ display: none; }
.titre-milieu-menu-under {margin-top:438px;}
.pub-estimation { background-image: url(../images/pub/lib6/picto-estimation.jpg); }

// RESPONSIVE
@media only screen and (max-width: 1023px) {
.titre-milieu-menu-under {margin-top:8px;}

}