// VARIABLES COLORS
$color-body:#fff;
$color-content:#3e3e3e;
$color-block:#414040;
$color-primary:#fff;
$color-secondary:#3e3e3e;
$color-action:#8f9092;
$color-important:#d10f18;
$color-nav-footer:#3e3e3e;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#7c7c7c;
