$$REM$$/*====================================================================
//// <summary>Fichier CSS À DÉMUTUALISER POUR CHAQUE SITE</summary>
//// <remarks>
//// <para>Pour plus de rapidité, intégrer les macros du fichier 'all_global_macros.css'</para>
//// </remarks>
//// <update date="2010-02-16" author="lisbonne.siriphol">Création</update>
====================================================================*/$$END$$

<!--#include virtual="styles/all_global_macros.htm" -->


body {background:url("$$_$$/images/bg_site.gif") repeat-x #fff;}
#Wrap, #Header_Ctn, #Ctn {background:none;}
#Header_Ctn {border:none;}
#Logo a img {margin-left:35px;}

#HeaderTxt {padding:10px 35px 10px 0;}
#HeaderTxt h2 {color:#172982;}
#HeaderTxt p {color:#1A54A0;}

ul#Menu li a {padding:10px 27px;margin:0;}
ul#Menu .outils {margin-right:6px;}

#PortefeuilleAccueil h6, #PortefeuilleAccueil h6 span, #PortefeuilleAccueil ul li a {color:#fff;}
#PortefeuilleAccueil h4 a {color:#F18700;}

.miniTitre {color:#172982;}

.selectionDescr .selectionVille a, .selectionDescr .selectionPrix, .selectionDescr .selectionDetail, .selectionDescr .selectionVille, .selectionDescr .selectionVille *, .selectionDescr .selectionTxt {color:#fff;}

#Moteur h3 {color:#1A54A0;}
#Moteur .moteurTable .col2, #Moteur .inputTextSpan {color:#1A54A0;}
#Moteur .inputText, #Moteur .inputSelect, #Moteur .inputTextarea, #Moteur .inputSelect option, #FormContactAgence .inputText, #FormContactAgence .inputSelect, #FormContactAgence .inputTextarea, #FormContactAgence .inputSelect option {color:#fff;}

#Annonce_Ctn td#ColonneGauche {background:none;}
#Annonce_Ctn td#ColonneGauche * {color:#172982;}
#Annonce_Ctn td#ColonneDroite {background:#F18700;}
#Form_Ctn .inputText, #Form_Ctn .inputTextarea {color:#fff;}

.titreParagraphe h3 { margin: 0; font-size: inherit; color: inherit; display: inline;}

#RechPagesHaut .pageCourante, #RechPagesBas .pageCourante, form#Tri #Tri_Ctn, .portefeuilleAnn p {color:#1A54A0;}

#AgImmoDroite *, ul#AgImmoPortefeuille * {color:#1B54A0;}

#FormContactAgence td.col1, #FormContactAgence p {color:#1A55A0;}

#Outils .accordion_content {background:none;}
#Outils .accordion_content, #Outils th, #Outils label, .accordion_content em {color:#1B54A0;}
.accordion_content .inputCalcul, .accordion_content .inputText, .accordion_content .inputResult {color:#fff;}

#Footer a {color:#172982;}

.info_bloc span, .infos_count, .annonce_bloc, #bloc_quartier * {color:#182982;}

table.detailsAnn td *, .contactAnn .ctc, .contactAnn .nom {color:#fff;}

#txt_agc h1 {font-weight:normal; font-size:16px; color:#172982; margin:20px 0 5px 0;}
#txt_agc h2 {font-weight:normal; font-size:14px; color:#4d4f9b; margin:10px 0 5px 0; border:none;}

#MentionsLegales * {color:#172982;}