// VARIABLES COLORS
$color-body:#f7f7f7;
$color-content:#89744d;
$color-block:#f2f2f2;
$color-primary:#f7f7f7;
$color-secondary:#002d40;
$color-action:#00415d;
$color-important:#ebb800;
$color-nav-footer:#00415d;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-seo:#767E80;
$color-font-body:#2A3234;
