body { margin: 0; padding: 0; background: #3a3a3a url(../images/bg_body.gif) repeat-x; text-align: center; }
div, td { font-size: 11px; color: #000; font-family: Verdana, Arial, Helvetica, sans-serif; }
table  { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
input, select { vertical-align: middle; }
a { color: #000; text-decoration: none; }
a:hover { color: #021b38; text-decoration: none; }
img { border: none; display: inline; }
form { margin: 0; padding: 0; }
p { margin: 5px 0; }
/**/
#wrapper { position: relative; width: 999px; margin: 0 auto; }
#header { width: 999px; height: 262px; overflow: hidden; background: url(../images/bg_header.gif) repeat-x; }
#lang { width: 248px; height: 19px; overflow: hidden; float: left; text-align: center; }
#lang ul { margin: 0 0 0 5px; padding: 0; list-style-type: none; }
#lang li { width: 26px; height: 19px; overflow: hidden; position: relative; float: left; margin: 0 4px; } 
#lang a { display: block; }
#lang a:hover { top: -19px; position: relative; }
#infos1 { width: 751px; height: 19px; overflow: hidden; float: right; background-color: #020202; text-align: center; }
#infos1 #infos2 { width: 730px; margin: 0 auto; }
#infos2 div { color: #737373; font-size: 10px; line-height: 20px; }
#infos2 #maj { width: 150px; float: left; text-align: left; }
#infos2 #marquee { width: 580px; float: right; text-align: left; }
#header-flash { width: 999px; height: 175px; overflow: hidden; }
#alert-insert { width: 248px; height: 68px; overflow: hidden; float: left; background: url(../images/bg_alert.gif) right no-repeat; text-align: left; }
#alert-insert p { margin: 0 15px; color: #fff; line-height: 11px; }
#alert-insert strong { color: #02b6f1; }
#alert-insert a { color: #02b6f1; text-decoration: underline; }
#menu { width: 751px; height: 68px; overflow: hidden; float: right; background: url(../images/bg_menu.gif) repeat-x; text-align: center; }
#menu #tab-menu { width: 751px; height: 68px; overflow: hidden; }
#menu #tab-menu td { background: url(../images/spacer_menu.gif) no-repeat; padding: 15px 10px 5px 10px; text-align: left; vertical-align: top; }
#menu #tab-menu p, #menu #tab-menu p a { font-size: 9px; line-height: 9px; color: #9e9e9e; font-weight: normal; margin: 0; }
#menu #tab-menu a { font-weight: bold; color: #393939; font-size: 11px; line-height: 14px; }
#menu #tab-menu a:hover { color: #02b6f1; }
#sm1 a { height: 22px; }
#sm1 { width: 130px; display: none; background: #fff; border-bottom: 3px solid #02b6f1; text-align: left; position: relative; overflow: hidden; }
#sousmenufr { width: 130px; text-align: left; position: absolute; left: 330px; top: 223px; z-index: 50; }
#sousmenuen { width: 130px; text-align: left; position: absolute; left: 320px; top: 223px; z-index: 50; }
#sousmenude { width: 115px; text-align: left; position: absolute; left: 330px; top: 223px; z-index: 50; }
#sousmenues { width: 140px; text-align: left; position: absolute; left: 320px; top: 223px; z-index: 50; }
#sousmenuit { width: 120px; text-align: left; position: absolute; left: 354px; top: 223px; z-index: 50; }
#sousmenunl { width: 130px; text-align: left; position: absolute; left: 345px; top: 223px; z-index: 50; }
#sousmenupt { width: 130px; text-align: left; position: absolute; left: 340px; top: 223px; z-index: 50; }
#sousmenufr a, #sousmenuen a, #sousmenude a, #sousmenuit a, #sousmenues a, #sousmenunl a, #sousmenupt a { padding-left: 14px; color: #393939; line-height: 15px; height: 15px; font-weight: bold; }
#sousmenufr a:hover, #sousmenuen a:hover, #sousmenude a:hover, #sousmenuit a:hover, #sousmenues a:hover, #sousmenunl a:hover, #sousmenupt a:hover { text-decoration: none; color: #02b6f1; }
#main { width: 999px; background: url(../images/bg_main.gif) repeat-x #d3d3d3; }
#main #left-content { width: 248px; float: left; text-align: right; }
#main #left-navcontent1 { width: 748px; float: left; text-align: center; }
#main #left-navcontent2 { width: 710px; text-align: left; padding: 25px 0; margin: 0 auto; }
#main #right-navcontent { width: 251px; float: right; }
#left-content #contact1 { width: 230px; height: 477px; overflow: hidden; background: url(../images/bg_left.gif) repeat-x; float: right; }
#contact1 #contact2 { width: 222px; margin: 0 auto; text-align: left; padding-top: 28px; padding-bottom: 12px; }
#contact2 .contact { padding: 10px; text-align: left; font-size: 10px; line-height: 12px; }
#contact2 .contact a { color: #018ab5; font-weight: bold; padding-left: 10px; background: url(../images/arrow_contact.gif) 0 4px no-repeat; }
#contact2 .contact a:hover { color: #02b6f1; }
#contact2 .photo-contact { width: 221px; height: 87px; overflow: hidden; background: url(../images/bg_photoagency1.gif) no-repeat; text-align: center; margin-bottom: 10px; }
#contact2 .photo-contact img { width: 209px; height: 87px; overflow: hidden; margin: 0 auto; }
.spacer { width: 100%; background: url(../images/border.gif) repeat-x; font-size: 1px; height: 2px; }
#main #right-content { width: 751px; text-align: center; float: right; background: url(../images/bg_search.gif) repeat-x #ddd; }
#nav-content1 { width: 500px; vertical-align: top; text-align: center; }
#nav-content2 { width: 480px; text-align: left; padding-top: 20px; margin: 0 auto; }
#cdc1 { width: 251px; background: url(../images/bg_bloc_cdc.gif) bottom no-repeat #ccc; vertical-align: top; }
#cdc2 { width: 251px; background: url(../images/bg_bloc_cdctop.gif) no-repeat; text-align: left; }
#cdc3 { width: 232px; height: 477px; overflow: hidden; padding-left: 7px; }
.voir { font-size: 9px; display: block; margin-left: 85px; margin-bottom: 9px; }
a.voir span { color: #018ab5; text-decoration: underline; }
.photo-cdc { width: 225px; height: 134px; overflow: hidden; background: url(../images/bg_cdc.gif) no-repeat; text-align: left; margin-top: 8px; }
.photo-cdc img { margin-top: 1px; margin-left: 6px; }
.descriptive-cdc { padding: 0 6px; text-align: left; font-size: 10px; }
.descriptive-cdc a.libelle-cdc { color: #018ab5; font-size: 13px; }
.descriptive-cdc a span { color: #018ab5; text-decoration: underline; }
#footer { position: relative; width: 999px; background: url(../images/bg_footer.gif) repeat-x #00214e; border-bottom: 3px solid #272727; margin: 0 auto 10px auto; text-align: center; }
#left-footer { width: 248px; float: left; text-align: left; line-height: 12px; color: #054083; font-size: 11px; padding: 8px 0 10px 0; }
#left-footer strong { color: #02b6f1; font-size: 11px; }
#inter { width: 500px; height: 40px; overflow: hidden; float: left; background: url(../images/bg_inter.gif) repeat-x; }
#right-footer { width: 251px; float: right; text-align: left; line-height: 12px; color: #054083; font-size: 9px; padding: 19px 0 10px 0; }
#right-footer-nav { float: right; text-align: left; line-height: 12px; color: #054083; padding-bottom: 5px; padding-top: 11px; font-size: 11px; }
#right-footer span, #right-footer-nav span  { color: #fff; }
#right-footer span a, #right-footer-nav span a { color: #02b6f1; }
#right-footer a, #right-footer-nav a { color: #054083; }
#right-footer a:hover, #right-footer span a:hover, #right-footer-nav a:hover, #right-footer-nav span a:hover { color: #fff; }
#snpi { position: absolute; top: -12px; left: 13px; }
#villes { width: 979px; background: url(../images/bg_villes.gif) repeat-x; padding: 15px 0 10px 0; margin: 0 auto; }
#villes .ListeVilles, #villes .ListeVilles a { color: #054083; text-align: left; }
#villes .ListeVilles a:hover { color: #fff; }
#villes .ListeVilles strong { font-weight: normal; }
/*moteur*/
#bloc-engine { position: absolute; top: 262px; left: 248px; width: 500px; height: 520px; overflow: hidden; z-index: 50; }
#bloc-engine #search { width: 100%; height: 240px; overflow: hidden; background: url(../images/bg_search.gif) repeat-x; text-align: center; }
.bloc-engine { width: 470px; margin: 0 auto; text-align: left; padding-top: 28px; }
#left-search { width: 280px; float: left; text-align: left; }
#right-search { width: 190px; float: left; text-align: left; color: #7a7a7a; }
.transaction { margin: 0; }
.transaction span { color: #018ab5; text-decoration: underline; }
#link-search { width: 190px; height: 30px; overflow: hidden; background: url(../images/bg_link_search.gif) left no-repeat; text-align: left; margin-bottom: 12px; line-height: 22px; }
#link-search span { font-size: 9px; color: #018ab5; text-decoration: underline; }
#right-search ul { margin: 0; padding: 0; list-style-type: none; }
#right-search li { line-height: 14px; padding-left: 8px; color: #7a7a7a;}
#right-search li a { color: #7a7a7a;}
#bloc-engine #bloc-engine2 { width: 100%; height: 280px; overflow: hidden; background: url(../images/bg_geoloc.gif) repeat-x #dedede; text-align: center; }
#geoloc { width: 234px; float: left; }
#geoloc_moteur_dyn02{ width: 235px;}
#geoloc_moteur_dyn02 *{}
#geoloc_moteur_dyn02 p{ margin: 2px 0;}
#geoloc_moteur_dyn02 p.idtt_ctn, #geoloc_moteur_dyn02 p.idtypebien_ctn, #geoloc_moteur_dyn02 p.villes_ctn{ color: #3c3c3c; font-size:11px; text-align:left;}
#geoloc_moteur_dyn02 p.bt_ctn{ text-align:right;}
#geoloc_moteur_dyn02 select.idtt, #geoloc_moteur_dyn02 select.typeBien , #geoloc_moteur_dyn02 select.villesAnn{ width:235px; color: #a7a7a7; font-size: 11px; background-color: #fff; border: 1px solid #e1e1e1; font-size:10px; margin-bottom:2px; _margin-bottom:0;}
#geoloc_moteur_dyn02 select.villesAnn { margin-bottom: 5px; _margin-bottom: 2px;}
#pres { width: 219px; float: right; font-size: 10px; }
#pres span { color: #018ab5; text-decoration: underline; }
#pres a { display: block; float: right; font-weight: bold; text-decoration: underline; }
#pres p { margin: 5px 0 5px 0; }
/*guide*/
#MenuGuide { 
	text-align: left; 
}
#MenuGuide table { 
	margin: 0 auto; 
}
#MenuGuide a {
	font-weight: bold;
	color: #000; 
	text-decoration: none; 
	line-height: 20px; 
}

#MenuGuide a:hover { 
	color: #02b6f1; 
}

#MenuGuide td { 
	text-align: left; 
}

#PageDossiers table { 
	margin: 0 auto; 
	width: 100%; 
}

#PageDossiers p { 
	margin: 5px 0; 
}

#PageDossiers td { 
	padding: 2px 5px; 
}

.txtTitre3, .grasnews { 
	color: #006FBE;
	font-size: 12px; 
	text-align: left; 
}

.gras {
	padding-left: 15px;
	background: url(../images/arrow1.gif) 0 6px no-repeat;
	color: #fff;
	font-weight: bold;
	display: block;
	line-height: 16px;
	font-size: 14px;
}

.gras u { 
	text-decoration: none; 
}

.encadre {
	border: none;
	padding: 5px;
	background: #006FBE;
	line-height: 14px;
}

.encadre table {
	width: 100%;
}

.encadre .gras {
	padding: 0;
	margin-bottom: 5px;
	border: none;
	background: #006FBE;
	color: #fff;
	line-height: 11px;
	font-size: 11px;
}

.encadre a { 
	color: #030e77; 
}

.encadre a:hover { 
	color: #fd8801; 
}

.table_news strong { 
	color: #0051a7; 
}

.table_news, .encadre table {
	border-top: 1px solid #006FBE;
	border-left: 1px solid #006FBE;
	border-bottom: none;
	border-right: none;
	background: #9ca7bb;
}

.table_news td, .encadre td {
	border-bottom: 1px solid #006FBE;
	border-right: 1px solid #006FBE;
	border-left: none;
	border-top: none;
	background: #fff;
	font-size: 10px;
	padding: 5px;
}
   
.table_news .gras {
	padding: 3px 5px;
	margin: 0;
	background: none;
	color: #fff;
	line-height: 12px;
}
	/*page formulaire*/
.tabFond1 { background: none; width: 100%; }
.tabFond1 td { padding: 2px 2px; }
.tabTitre { font-size: 10px !important; height: 20px; color: #fff; margin: 0; padding: 0; text-align: center; background: url(../images/bg_tab.gif) repeat-x; text-transform: uppercase; }
.tabTitre strong { font-size: 10px !important; height: 20px; color: #fff; margin: 0; padding: 0; text-align: center; text-transform: uppercase; font-weight: normal; }
.messageNomAgence, .estimationNomAgence { font-size: 14px; text-align: center; color: #0051a7; margin: 0; padding: 5px; font-weight: bold; display: block; }
.tabFond1 .Input { margin-bottom: 2px; }
#CguFormulaire { background: #fff; padding: 10px; text-align: left; color: #0051a7; }
#CguFormulaire a { color: #000; text-decoration: underline; }
#CguFormulaire a:hover { color: #0051a7; text-decoration: none; }
	/*page alerte*/
#PageAlert td { text-align: left; }
#PageAlert strong { color: #000; }
#PageAlert a { font-size: 14px; font-weight: bold; color: #0951a3; display: block; margin-left: 50px; padding-left: 20px; background: url(../images/arrow_alert.gif) 0 4px no-repeat; width: 300px; }
#PageAlert a:hover { font-size: 14px; color: #02264e; text-decoration: none; display: block; margin-left: 50px; }

.bt_ctn input { width:126px; height:38px; text-align: right; float: none; }
.BoutonFormContact { width:130px; height:22px; }
.boutonEnvoi { width:130px; height:22px; }
