<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="cmd" value="E:\base-svn\work\template\webagency\slagence_X_V5\sources\generate.debug-batch.bat" />    
    <add key="path" value="E:\base-svn\work\template\webagency" />    
    <add key="tags" value="scss" />
    <add key="afficherFenetre" value="0" />
  </appSettings>  
</configuration>