// VAR COLORS
$color-body:#fff;
$color-content:#1a1a1a;
$color-block:#eee;
$color-primary:#0c0498;
$color-secondary:#9fc7e0;
$color-action:#0077af;
$color-important:#9fc7e0;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#333;