/* CSS Document */

/* Redefinitions des balises HTML */ 
*{margin:0;padding:0;font-size:12px;font-family:Arial, Verdana, Helvetica, sans-serif;color:#000;}
img{border:0}
.clear{clear:both;}
a{text-decoration:underline;outline:none;color:#fff;}
a:hover{color:#fff;text-decoration:none;}
hr{display:none;}
select option{padding:0;}
table{ margin:0 auto; padding:0;}
table tr td,
table tr td p
#milieu table tbody tr td{ padding:5px 0px; text-align:justify; text-align:left;}
* html input.alerte{ background:#FFFFFF;}
/* --------Modification AR PLAN SITE-------- */    
body{background:#FE0103 repeat-x ;margin-top:-3px;}
/* Effet bordure (espace 5px) entre BG menu et bande BG site */ 
#header{width:993px; margin:10px auto 7px auto;position:relative;}

#global{position:relative;width:993px; margin:0 auto;}


/* ----------------------------------------PAGE ACCUEIL---------------------------------------- */	   
   
/* --------LOGO AGENCE-------- */ 
#LogoAgence { float:left; display:inline; width:368px; padding:0 0 20px 0;margin:5px 0 0 30px;}
#LogoAgence img{ display:block; margin:0 auto;}


/* --------DRAPEAUX LANGUES FRANCAIS ET ANGLAIS-------- */ 		
/* Mettre en DISPLAY:NONE si pas d'option Anglais */ 
#Drapeaux {position:absolute; top:100px; left:5px;}
#Drapeaux img {padding-right:8px;}

/* --------TEXTE ACCUEIL--------*/ 
#textAccueil { position:relative; float:right; display:inline; width:563px; padding:12px 0 5px 9px; display:block; right:5px;}
/* Modification TITRE texte d'accueil */ 
#textAccueil h1{ font-size:18px; font-weight:bold;color:#FFF; padding:0 0 4px 0;}
/* Modification CORPS texte d'accueil */ 
#textAccueil p{ text-align:justify; font-size:14px;  color:#FFF; line-height:16px; display:block;}
#textAccueil p strong{ color:#FFF;}
#textAccueil a{ text-decoration:none; color:#FFF;}
#textAccueil a:hover{ text-decoration:underline; color:#FFF;}

/* LOGOS: FNAIM & SIA */
#Partners{ display:none; position:absolute; top:0px; right:0px; width:62px; float:left; text-align:center;}
#Partners span img{text-align:center; padding:2px 0;}

/* --------MARQUEE DEFILANTE-------- */
/* Modification COULEUR  MARQUEE */ 	
#RefMarqueNavig{ width:565px; height:31px; float:right; display:inline;color:#fff; font-size:10px;width:550px;background:none;margin:0 4px 0 0;}
#RefMarque{ width:565px; height:31px; float:right; display:inline;color:#fff; font-size:10px;width:550px;background-color:#FFF;margin:0 -1px 0 0; padding:0 4px 0 0;}
#RefMarque marquee{width:555px;margin:0;padding:0; color:#fff; padding:8px 5px 8px 5px;}
#RefMarque marquee a {color:#fff;}
#RefMarque marquee a strong {color:#fff;}
#RefMarque marquee a:hover {color:#fff;}

/* ----- Moteur -----*/
h2.TitrePage{ color:#000; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}

/* --------MENU + FLUX RSS-------- */
/* Modification COULEUR + TAILLE fond MENU */
#remplissageMenu{ width:100%; background:#fff !important; min-height:44px;}		
#menuFlux{width:983px; background:#fff; height:44px; border-left:5px solid #fff; border-right:4px solid #fff; border-top:1px solid #fff;margin:0 auto;}
#menu {float:right; display:inline; padding:14px 10px 11px 0;}
#menu ul{ display:inline; margin:0 0 0 6px;}
#menu li{ display:inline;color:#99CCFF; font-size:15px; padding:0 2px;}
#menu ul li.MenuSep{ color:#000;}
/* Modification COULEUR TEXTE MENU */ 
#menu a{ font-weight:bold;color:#000; text-decoration:none;font-size:13px;}
#menu a:hover{color:#FE0103;}		
/* Modification FLUX RSS */ 		
#fluxRss{float:left; display:inline; padding:15px 25px 0px 0; }
#fluxRss a{ font-size:10px; text-decoration:underline; color:#000; margin:0 0 0 4px}
#fluxRss a:hover{ font-size:10px; text-decoration:none;color:#FE0103;}
#fluxRss img{float:left; display:inline; vertical-align:middle; }

/* --------CONTENU SITE = ZONE DU MILIEU-------- */
/* Modification COULEUR ARRIERE PLAN CONTENU SITE */ 	
#milieu{width:985px;padding:24px 0 3px 0px; min-height:250px;background:#FE0103; border-left:4px solid #FE0103; border-right:5px solid #FE0103; margin:0 auto;}
/* Positionnement bandeau image */ 
#visuel{float:left; display:inline; width:654px; margin:0 0 10px 0; padding:0;}		
</* Modification COULEUR BORDURE IMAGE */ 		
#visuel img{border:0px solid #fff;margin-left:2px;}
 

/*--------POSITIONNEMENT MINI MOTEUR-------- */ 
.miniMoteur{float:right;display:inline;width:220px;padding:0 0 0 42px;position:relative;background:url(../images/fontTitreMoteur.gif) 4px 2px no-repeat;}		
/* Modification TITRE RECHERCHE */ 		
.miniMoteur h2{font-size:18px; font-weight:bold; color:#000;padding:12px 0 0 0;}
/* A NOTER !!!! Pour styliser les champs + bouton mini moteur VOIR == MINI_MOTEUR.CSS */ 


/* ----------- 3 COUPS DE COEUR ------------- */ 
#blocBas #coupCoeur{float:left;display:inline;width:715px;margin:0 48px 15px 2px; }

/* ----------- LISTE TRANSACTIONS AGENCE ------------- */ 
#blocBas .nbrTransaction{float:right;width:209px; margin:0 10px 0 0;}
#blocBas .nbrTransaction span{font-size:16px;font-weight:bold;}
#blocBas .nbrTransaction p{font-size:16px;}
/* Modification COULEUR "AUJOURD'HUI" */ 	
#blocBas .nbrTransaction h3{font-size:13px;font-weight:bold;padding:1px 0;color:#000;}
/* Modification COULEUR TYPE TRANSACTION */ 	
#blocBas .nbrTransaction h4{width:167px;font-weight:bold;font-size:13px;color:#fff;padding:10px 0 0 0;}
#blocBas .nbrTransaction ul{list-style-type:none;margin:0 0 10px 3px; line-height:16px;}
/* Modification COULEUR TYPE DE BIEN */ 
#blocBas .nbrTransaction ul *{font-size:11px;color:#000;}
#blocBas .nbrTransaction ul a:hover{text-decoration:none;color:#000;}


/* -----------INCLUDE BAS------------- */ 

/* Modification COULEUR BANDE COORDONNEES */ 
.CoordonneesAgence {font-size:12px; background:#fff; height:27px; text-align:center; padding-top:13px; color:#000; font-weight:bold;}	
/* Modification BG footer portefeuille + menu secondaire */
.footerPosition{background:#FE0103; position:relative;width:985px; border-left:4px solid #FE0103; border-right:4px solid #FE0103; padding-bottom:15px; margin:auto;}
.porteFeuille{float:left;width:610px;padding-left:30px;}
/* ARRIERE PLAN FOOTER */
#footer{background:#fff; margin:0 auto; padding:0 0 0 1px;}
		
		
/* Modification couleur 2 TITRES FOOTER */ 
 #footer h4{font-size:11px;font-weight:bold;background:url(../images/puce.gif) 5px 3px no-repeat;padding:4px 0 1px 30px;margin:17px 0 0 0;line-height:19px;}
/* titre gauche : Notre portefeuille immobilier */
 #footer .porteFeuille h4{font-size:12px; color:#fff;}
/* titre droite : www.urldusite.com */
 #footer .menuSecondaire h4{font-size:12px; color:#000;}
 #footer .menuSecondaire a{}
 #footer .menuSecondaire a:hover{ text-decoration:underline;}		
/* Modification couleur LISTE DES VILLES */ 
.porteFeuille .ListeVilles{width:520px;text-align:justify;line-height:13px;border:0;color:#000; padding:4px 0 0 5px;}
.ListeVilles *{color:#000; font-size:12px;font-weight:normal;}
.ListeVilles a{color:#000;text-decoration:none;}
.ListeVilles a:hover{color:#5D5D5F;text-decoration:underline;}

/* Modification couleur MENU SECONDAIRE FOOTER (droite) */
.menuSecondaire{float:left;width:980px;font-size:12px;color:#000;}
.menuSecondaire p{padding:3px 0 0 5px; color:#000; text-align:justify;}
.menuSecondaire p a{font-size:12px;color:#000;text-decoration:underline;}
.menuSecondaire p a:hover{font-size:12px;color:#fff;text-decoration:none;}
span.sepSep{ color:#000;}



/* ----------------------------------------AUTRES PAGES DU SITE---------------------------------------- */

/* Page En Construction */
#EnConstruction{margin-top:70px; text-align:center;}


/* PAGE PLAN DU SITE = incl_plan-site.htm */  
.ul#Plan *{text-decoration: none; font-weight: bold;}
ul#Plan{padding: 0 8em; width:400px; margin:0 auto;position:relative;top:-25px;}
ul#Plan li.plan{ color:#000; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;border-bottom:none;}
ul#Plan li.MenuSep{display:none;}
ul#Plan li{padding: 0.2em 0; border:none;}
ul#Plan .plan{padding: 0.2em 0;background:none;}
ul#Plan li a{ background:none;color:#fff;padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #000; text-transform:uppercase;}
ul#Plan li a:hover{color:#FFF;padding-left:10px; height:19px;font-size: 12px; background:#000;}


/* Outils */
.ul#Outils *{text-decoration: none; font-weight: bold;}
ul#Outils{padding: 2em 8em; width:400px; margin:0 auto;}
ul#Outils li.list{padding: 0.2em 0px;background:none; margin:2px 0; border:none;}
ul#Outils li a{color:#fff;padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #000; text-transform:uppercase;}
ul#Outils li a:hover{color:#FFF;padding-left:10px; height:19px;font-size: 12px; background:#000;}
#Outils li.titrePageOutils{ color:#000; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}
#Outils a:hover{color:#000;}

/*PAGES ESTIMATION + CONTACT + MESSAGE == TABLEAUX FORMULAIRES*/
.tabFond1{border-color:#00AA00; border-width:0; border-style:solid; padding:2px; font-family:Arial, Helvetica, sans-serif; width:100%;}
 textarea {width:600px; height: 100px;border:1px solid #000;}
.tabFond2{border-color:#00AA00; border-width:1px; border-style:solid; padding:2px; font-size:14px; font-family:Arial, Helvetica, sans-serif;}
.tabTitre{background:#fff; color:#000; font-size:14px; font-weight: bold; font-family:Arial, Helvetica, sans-serif;height:25px;padding:3px; text-align:center; text-transform:uppercase;}
.tabTitre *{color:#000; font-size: 14px;}
.tabPrint{color:#5C5E5D; font-size: 13px; font-family:Arial, Helvetica, sans-serif; border:1px solid #00AA00;}
.tabFond1 td input{margin:3px;border:1px solid #000;}
select.imputForm{border:1px solid #000;}
.tabFond1 table{ width:100%;}
strong.messageNomAgence,
strong.estimationNomAgence{ color:#000; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase; display:block;}
/*Résolution Bug IE8 = donner une taille aux bouton pour éviter tout décallage*/
.tabFond1 .boutonEnvoi {float:right;border:1px solid #fff;width:112px;height:23px;}
.tabFond1 .BoutonFormContact {float:right;border:0;width:112px;height:23px;}
.MoteurBouton input {float:right;width:120px;height:25px;}
td #ChampsBouton input {float:right;margin-right:12px;width:112px;height:23px;border:1px solid #000;}
td input.BoutonFormRecherche{border:none;float:right;}		

/* GUIDE PRATIQUE = ACCES VIA LE LIEN DANS LA PAGE OUTILS*/
span.txtTitre3{ display:block; width:870px; color:#000; background:#fff; font-size:16px; font-weight:bold; padding:3px 5px; margin:10px 3px 3px 0;}
span.gras{ display:block; width:882px; color:#000; background:#fff; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;}
td.encadre{background-color:#FFF; padding:3px; color:#000; margin:0 0 0 -4px;}
p.grasnews{ display:block; width:882px; color:#000; background:#fff; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;}

/* coup de coeur*/
* html .div-cdc{ height:260px;}
.div-cdc{width:230px; min-height:260px;float:left; background:#fff; margin:0 4px 0 0; border:1px solid #000;}
.div-cdc *{ color:#000;}
.div-cdc .photo-cdc img{width:220px;height:139px;background:url(../images/bg_Img_Cdc.gif);padding:5px 2px 3px 5px;}
.div-cdc a span.ville-cdc{font-weight:bold;display:block; color:#fff; }
.div-cdc .typetransaction-cdc{text-transform:capitalize; color:#000;}
.div-cdc .typebien-cdc{}
.div-cdc .contenu-cdc{padding:0 6px 4px 6px;}
.div-cdc .contenu-cdc *{color:#000;}
.div-cdc .contenu-cdc a{ text-decoration:none;color:#fff;font-weight:bold;}
.div-cdc .contenu-cdc a:hover{color:#000;}
.div-cdc .contenu-cdc a span.ville-cdc{color:#fe0103;font-weight:bold;}
.div-cdc .contenu-cdc a span.ville-cdc:hover{color:#000;font-weight:bold;}
.div-cdc .contenu-cdc a span.typetransaction-cdc{color:#000;font-weight:bold;}
.
.div-cdc .descriptif-cdc{min-height:30px;}
* html .divc2c .descriptif-cdc{height:30px;}
.div-cdc p.prix-cdc{font-weight:bold;font-size:14px; color:#fe0103;}
 
 
/* Mentions Legales */
#MentionsLegales{}
#MentionsLegales h2 {display:block; width: 99%;background:#fff; font-size: 14px; color:#000;font-weight: bold;letter-spacing: 0;padding:3px 0 3px 8px;margin: 10px 0;text-align: left;text-transform: none;font-family: Arial; text-transform: none;}
/*Recherche*/
#RechercheContainer #AlerteEmail #AlerteForm input.alerte{border:1px solid #000;}
#RechercheContainer .dicoImmo a:hover{color:#fff;}
#RechHaut #RechHautCtn #RechHautLiens a:hover{color:#fff;}
#RechResultat .blocAnnonce .detailAnn .ajoutSelection a:hover,
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .contactAnn a:hover,
#RechercheContainer .RetourHaut a:hover{}
#RechHaut #RechHautCtn #RechHautLiens a.rss:hover{color:#000;}
/*detail*/
#DetailAnnonce #LiensRetour a.prev:hover,#DetailAnnonce #LiensRetour a:hover{color:#fff;}
#AgenceContact #CguFormulaire a, #DetailAnnonce .RetourHaut a{text-decoration:underline;}
#AgenceContact #CguFormulaire a, #DetailAnnonce .RetourHaut a:hover{text-decoration:none;color:#000 !important;}
#DetailAnnonce #Titre td#TypeTransaction,
#DetailAnnonce #Titre td#Ref_Ctn{background:#000;}
#AgenceContact td.detail_form_col2 {background:#fff;}
#AgenceContact #CguFormulaire a,#DetailAnnonce .RetourHaut a{color:#000;}
#AgenceContact #CguFormulaire a:hover,#DetailAnnonce .RetourHaut a:hover{color:#fff !important;}
#AgenceContact .coords_agence p.adresseAgence ,#AgenceContact .coords_agence p.faxAgence{color:#fff;}
#AgenceContact form table#FormContact td#ChampsNom input, #AgenceContact form table#FormContact td#ChampsPrenom input, #AgenceContact form table#FormContact td#ChampsTelephone input,
 #AgenceContact form table#FormContact td#ChampsEmail input,#AgenceContact form table#FormContact td#ChampsMessage textarea,#Annonce_Ctn table#InfosPrix td.infosVille .metro_Ctn em{color:#000;}


