// VARIABLES COLORS
$color-body:#dedddd;
$color-content:#dedddd;
$color-block:#fff;
$color-primary:#fad837;
$color-secondary:#4949d7;
$color-action:#0000ff;
$color-important:#0000ff;
$color-nav-footer:#0000ff;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;

$color-primary-old:#ffff07;
$color-secondary-old:#3737a1;
