// VAR COLORS
// $color-body:#A4A2A2;
$color-body:#111111;
$color-content:#c9c9c9;
$color-block:#eee;
$color-primary:#000;
$color-secondary:#8a8888;
$color-action:#7e0f09;
$color-important:#333;
$color-nav-footer:#fff;
// COLOR PUB
$color-pub:"white";
// COLOR FONT BODY DEFAULT
$color-font-body:#fff;
// COLOR SOUS MENU
$color-sous-menu:$color-block;