/* Vanessa $$DYN:ID3:NOFOOTER$$ */
/* =================== */
/* GENERAL */
#BoiteMiniMoteur { position: relative; width:180px; margin: auto; height: 266px; overflow: hidden;}
#BoiteMiniMoteur p { margin: 0; padding: 0; }
#BoiteMiniMoteur br { display: none; }
/*.MiniDiv { height: 35px; }*/

.MiniTitre { color: #000; background: url($$-$$images/puce_mot.gif) no-repeat center left; text-indent: 15px; font-weight: bold;height: 25px;line-height: 25px;}
.MiniDivSelect{}
.MiniSelect { background: #fff; width: 180px; border: 1px solid #c8c8c8; color: #000; font-size: 10px; margin-bottom: 5px; }

#MiniDivChoixAffichage { width: 180px; color: #fff; padding-left: 45px; } 

#MiniInputBudgetMin, #MiniInputBudgetMax, #MiniInputSurfaceMin, #MiniInputSurfaceMax
{width:80px; _width:75px; border: 1px solid #c8c8c8; background: #fff; font-size: 11px; color: #000; font-size: 10px; }

*+html #MiniInputBudgetMin,
*+html #MiniInputBudgetMax, *+html #MiniInputSurfaceMin, *+html #MiniInputSurfaceMax
{width:80px; border: 1px solid #c8c8c8; background: #fff; font-size: 11px; color: #000; font-size: 10px; }

.MiniInputTxt { display: none; }

#MiniBoutonInput{ width: 147px; height: 31px; float:right; }

#MiniDivChoixAffichage { display: none; }
#TitreMiniChoixAffichage { display: none; }
#MiniChoixAffichage { display: none; }

#MiniInputProximite1{width:180px; border: 1px solid #c8c8c8; background: #fff; font-size: 11px; color: #000; font-size: 10px;margin-bottom: 10px;*margin-bottom:5px;}

#MiniInputProximite2,#MiniInputProximite3{display: none;}


