$$REM$$
====================================================================

//// <summary>Fichier css par défaut pour : incl_outils.htm</summary>
//// <remarks>
//// <para>Fichier appelé par : slagence_X_V2/incl_outils.htm</para>
//// </remarks>
//// <update date="2007-11-12" author="lisbonne.siriphol">Création v1</update>

====================================================================
$$END$$

ul#Outils *{text-decoration: none; font-size: 12px; font-weight: bold;}
ul#Outils{margin: 10px 50px; list-style: none; border-top: none; }
ul#Outils li a{display: block; margin: 0 15px; color:#000;}
ul#Outils li a:hover{color: #ed1c24; text-decoration:none;}
ul#Outils li{padding: 3px 0;}
ul#Outils li.list{border-bottom: 1px solid #b8b7b3;}
ul#Outils li.list ul li.sousListe{padding: 3px 0 3px 50px; border-top: 1px dashed #b8b7b3;}

/**/
