/* 2008.11.06 : mentions légales sur carte_visite.htm [Lisbonne] */
#C21_ML{font-size: 10px; text-align: justify; line-height: 11px; margin: 10px; padding: 10px 0 0 0; border-top: 1px solid #EBAB00; color: #555;}

