// VARIABLES COLORS
$color-body:#cdcbcc;
$color-content:#f1f1f1;
$color-block:#fff;
$color-primary:#141213;
$color-secondary:#010101;
$color-action:#000;
$color-important:#ee3a39;
$color-nav-footer:#ee3a39;

// COLOR PICTO
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;