/* $$DYN:ID3:NOFOOTER$$ */
div, span, .ListeVilles, .Marquee {
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
}

.TitreBoiteMoteurClassic {
    display: none;
}

.imputForm, select {
    font-size: 10px;
}

.ZoneSaisie {
    letter-spacing: normal;
}

.BoiteMoteurClassic {
    background: none;
    padding: 0;
    border: none;
}

.FormulaireTypeDeBien, .MoteurSurface, .MoteurBudget, .MoteurProximite, .MoteurListeVille, .MoteurSousTypeDeBien, .MoteurPieces, .MoteurReference, .ZoneSaisie, .Cp a, .MoteurRayon span, .MoteurRayon label, .LabelMoteurListeVille strong, .MoteurChambres label {
    color: white;
    font-size: 10px;
}

.MoteurTypeDeBien, .MoteurPieces, .MoteurSurface, .MoteurBudget, .MoteurProximite {
    background: none;
    margin-bottom: 15px;
    line-height: 16px;
}

.MoteurTypeDeBien {
	_padding-bottom: 5px;
}

.MoteurProximite {
	padding-bottom: 10px;
}

.TitreTypeDeBien, .TitreNombreDePieces, .TitreMoteurSurface, .TitreMoteurBudget, .TitreMoteurProximite, .TitreMoteurListeVille, .TitreSousTypeDeBien, .TitreMoteurReferencement, .TitreNombreDeChambres, .TitreMoteurSituation {
    display: block;
    background: #569403;
	height: 20px;
    line-height: 20px;
    color: white;
    padding-left: 10px;
    font-size: 11px;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    letter-spacing: normal;
    margin-bottom: 10px;
    border: none;
    text-transform: uppercase;
}
.TitreMoteurSituation { color:#FFFFFF; }
.MoteurBouton {
    padding-bottom: 15px;
}
.MoteurBouton input {
 width: 136px;
    height: 25px;
}

.NbAnnMoteurListeVille { color: #FFFFFF; }
.CPMoteurListeVille { color: #FFFFFF; }
.MoteurSituation label { color:#FFFFFF; }
