// VAR COLORS
$color-body:#f4f2ef;
$color-content:#fff;
$color-block:#c0b9b3;
$color-primary:#988b82;
$color-secondary:#6284a9;
$color-action:#5f81a6;
$color-important:#7085a0;
$color-nav-footer:#eaeaea;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#808084;