// VAR COLORS
$color-body:#fff;
$color-content:#1a1a1a;
$color-block:#FFF;
$color-primary:#b10000;
$color-secondary:#000;
$color-action:#b10000;
$color-important:#b10000;
$color-nav-footer:#000;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#4c4a44;
