@import "color";
// BG SOLO
$bg-uni:yes;

// PICTURE BG OU DEGRADE CSS BG COLOR PRIMARY vs SECONDARY vs BLOCK > SI NO ALL = BG BODY UNI
$picture-bg:no;
$picture-bg-url:'../images/dark_wall.png';
$picture-bg-repeat-horizontal:no;
$degrade-bg-primary:no;
$degrade-bg-secondary:no;
$degrade-bg-block:no;

// HEIGHT PUB - EXTRA
$height-extra:1510;
$height-pub:auto;

// PLACEMENT TOP CONTENT > UTILE SI PHOTO (TYPE SITE 1)
$placement-top-content:0;

// MARGIN CONTENT SI NAV FIXE
$margin-top-under-nav-fixe:110;

// MARGIN LOGO ABSOLUTE
$margin-logo-absolute:-30;

// SIZE NAVIGATION
$height-navigation:90;

// VAR SITE TYPO
$font-body:"Source Sans Pro",arial,verdana,sans-serif;
$font-title:"Source Sans Pro",arial,verdana,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text:1.4em;
$font-size-title:1.7em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:600;

// ARRONDI POUR LES EFFETS SUR LI > A:HOVER/FIL ARIANE/BOUTON
$arrondi:yes;

// BORDER EFFECT ON NAV
$border-nav:no;

// TYPE MENU : FLAT = COLOR BANNER BEHIND, NO FLAT = SHAPE OR NOT
// LINK TO VAR ID3X >>> MENU_TYPE
$type-menu:flat;

// STYLE NAV : IF YES = SHAPE BEHIND WORD, IF NO SHAPE BEHIND WORD ON HOVER
$shape:yes;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS LIB6
@import "../../../slagence_X_V5/sources/scss/boutons/lib1";

// IMPORT PUB LIB BOITE
@import "../../../slagence_X_V5/sources/scss/pubs/lib6";

// IMPORT TEMPLATE ROME
@import "../../../slagence_X_V5/sources/scss/templates/tokyo";

// IMPORT MODULE ANNONCES
@import "../../../slagence_X_V5/sources/scss/modules/annonces9";

// IMPORT MODULE EXTRA
@import "../../../slagence_X_V5/sources/scss/extra/extra18";

// SPRITE BLANC
@import "../../../slagence_X_V5/sources/scss/sprites/social-blanc";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";

// PERSO COSTIMMOBILIER

// FORM
textarea, input[type="text"], input[type="email"], input[type="tel"] {
	border:none;
	background:$color-primary-dark-5;
}

// BTN
.btn-secondary {
	background:$color-secondary;
	color:$color-primary;
	&:hover {
		background:$color-secondary-dark-5;
		color:$color-primary;
	}
}

// MENU & NAV

.logo img {
	margin-top:-3px;
}

.nav-social-menu {
	display:none;
}

.menu-principal {
	padding-top:20px;
	text-align: center;
}

.menu-principal>li>a {
	padding: 8px 10px;
	box-shadow:none;
	background:$color-primary-dark-5;
	&:hover {
		background:$color-important;
		color:$color-primary;
		box-shadow:none;
		@include border-radius (4px);
	}
}
.menu-principal>li.menu-accueil>a, .menu-principal>li.menu-souhait>a {
	background:none;
	&:hover {
		color:$color-nav-footer;
	}
}


.picto-house {
	display: block;
	background: url(../images/picto_home.png) center center no-repeat;
	width: 22px;
	height: 20px;
}

.menu-accueil, .menu-gerer, .menu-cost, .menu-estimer {
	border-right:1px solid $color-important;
}

.scrollToTop {
	@include border-radius (0px);
	background-color:$color-secondary;
}

// MINI MOTEUR
.bg-minimot {
	background: url('../images/content/hp/banner.jpg') center center no-repeat;
	height:243px;
	padding: 90px 0;
	box-shadow: none;
}

// ENCART PA
.bg-extra {
	height: auto;
	background:none;
}

.zone-annonce {
	border-top:3px solid $color-important;
}

.ligne-titre {
	margin-top: 20px;
	margin-bottom: 20px;
	color: $color-important;
	font-size: 1.2em;
}

.ligne-titre .btn-action, .module-homepage hr {
	display:none;
}

.module-annonces-homepage .h3-like {
	color:$color-important;
}

.homepage-bloc-prix-bien {
	font-weight:bold;
}

// PUB
.bg-pub-perso-mobile {
	background-image:url('../images/bg-mobile.jpg');
	background-position: center center;
	background-repeat:no-repeat;
	height:310px;
}

.bg-module-annonces {
	display:none;
}

.bg-pub {
	background:transparent;
}

hr, .hr-like {
	border: solid $color-action;
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0 30px;
	height: 0;
}

.pub-alerte {
	background-image:url('../images/pub/picto-alerte.jpg');
}
.pub-estimation {
	background-image:url('../images/pub/picto-estimation.jpg');
}
.pub-mobime {
	background-image:url('../images/pub/picto-mobile.jpg');
}

// FOOTER
.bg-secondary-footer {
	background:$color-important;
}

.texte-info-agences {
	text-transform:uppercase;
	font-weight:bold;
}




/* nexi */

.bg-light { background-color: $color-light; }

.texte-info-agences a:hover { color: $color-content; }

.btn-full {
	font-family:"franklin-gothic-urw",arial,verdana,sans-serif;
 	width: 100%;
 	padding: 15px;
 	font-size: 2em;
 	border-radius: 14px;
}

.mini-moteur input,.mini-moteur select {
  border: none;
  border-radius: 14px;
  padding: 10px;
  height: auto;
  text-transform: uppercase;
  font-weight: bold;
}

.bouton-rechercher-moteur {
	background:$color-important;
	border: none;
	border-radius: 14px;
	padding: 10px;
	height: auto;
	text-transform: uppercase;
	font-weight: bold;
}

.typo-h3{
 color: $color-gris;
 font-size: 2.2em;
}

.p-bg-gris{
	background: $color-grisclair;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	font-family:"franklin-gothic-urw",arial,verdana,sans-serif;
	font-size: 1.3em;
	border-radius: 4px;
}

.p-nobg { background: none; }

.bg-gerer { background: url(../images/content/gerer/perso-gestion.jpg) no-repeat 185px 292px; }

.titre-rose {
	background:$color-important;
	border-radius: 5px;
	padding: 10px 20px;
	text-transform: uppercase;
	font-weight: bold;
	color: $color-content;
	font-size: 1.8em;
}

.ul-gerer li {
	padding: 10px 20px;
	border-radius: 2px;
}

.ul-gerer li.li-gris {
	background: $color-grisclair;
	background: rgba(119, 119, 119, 0.09);
}


footer [class^="icon-v5-"] {
	display: inline-block;
	vertical-align: baseline;
	opacity: 1;
}

footer [class^="icon-v5-"]:before {
	display: block;
	content: "";
	width: 20px;
	height: 20px;
}

footer .icon-v5-plus-3:before { background-image: url("../images/pictos/picto-plus.png"); }
footer .icon-v5-info:before { background-image: url("../images/pictos/picto-info.png"); }
footer .icon-v5-responsive_blanc:before { background-image: url("../images/pictos/picto-mobile.png"); }

.border-right-rose{
 border-right: solid 2px $color-important;
}


@media only screen and (max-width: 767px) {
/*
	header.bg-primary {
		background:$color-nav-footer;
	}
	.logo img {
	opacity:0;
	}
	.logo {
		margin-right:0;
		background-image:url('../images/logo-smart.png');
		background-position:top center;
		background-repeat:no-repeat;
		height:74px;
		margin-left: -115px;
	}
	.bg-module-annonces {
		display:block;
	}
	.bg-minimot {
		background-image:url('../images/bg-motif-smart.gif');
		height:auto;
		box-shadow: none;
		margin-top: -129px;
		padding-top: 70px;
	}
	*/

	/* nexi */

	.logo img {
		width: auto !important;
 	 	float: none !important;
 	 	margin-top: 20px !important;
  }
  .btn-navbar {
   position: absolute;
   top:0;
   right:0;
   float: none;
   padding: 7px 10px !important;
     margin-top: 10px;
  }
	.bg-minimot {
	  height: auto;
	  background-size: cover;
  	padding: 70px 0;
  	margin-top: -60px;
  	margin-bottom: -50px;
	}
	.bouton-rechercher-moteur{
	 margin-top: 10px;
	}
  .navigation {
   background-image: url(../images/bg-top-mobile.gif);
   background-repeat: repeat-x;
  }
}

//--------------------------------------------------------------------------------------
//    AUTRES
//--------------------------------------------------------------------------------------

.padding-boutons {padding: 10px 2px 10px 1px;}

.btn-candidat-perso {
    margin-bottom: 20px;
    border:none;
    padding: 10px 8px 10px 6px;
    border-radius:8px;
    background:$color-important;
    font-weight: bold;
    font-size: 1.30em;
    color:$color-primary;
    &:hover {
    background:$color-important;
}
}
