// VAR COLORS
$color-body:#f2f2f2;
$color-content:#f2f2f2;
$color-block:#eacebf;
$color-primary:#fff;
$color-secondary:#912017;
$color-action:#912017;
$color-important:#000;
$color-nav-footer:#912017;
// COLOR PUB
$color-pub:"white";
// COLOR FONT BODY DEFAULT
$color-font-body:#000;
// COLOR SOUS MENU
$color-sous-menu:$color-block;