@import "color";
// BG SOLO
$bg-uni: yes;

// PICTURE BG OU DEGRADE CSS BG COLOR PRIMARY vs SECONDARY vs BLOCK > SI NO ALL = BG BODY UNI
$picture-bg: no;
$picture-bg-url: "../images/degrade_bg.png";
$picture-bg-repeat-horizontal: no;
$degrade-bg-primary: no;
$degrade-bg-secondary: no;
$degrade-bg-block: no;

// SIZE PICTURE AREA : FULLSCREEN OR NOT
$height-container: 950;

// SIZE NAVIGATION
$height-navigation: 70;
$margin-top-under-nav-fixe: 73;

// PLACEMENT TOP CONTENT
$placement-top-content: 80;

// VAR SITE TYPO
$font-body: "proxima-nova",verdana,sans-serif;
$font-title: "alternate-gothic-no-3-d",arial,sans-serif;
$font-slogan: "kepler-std",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text: 1.3em;
$font-size-title: 2.2em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title: uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title: normal;

// ARRONDI POUR LES EFFETS SUR LI > A:HOVER/FIL ARIANE/BOUTON
$arrondi: yes;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS LIB
@import "../../../slagence_X_V5/sources/scss/boutons/lib1";

// IMPORT TEMPLATE AMSTERDAM
@import "../../../slagence_X_V5/sources/scss/templates/amsterdam";

// IMPORT MODULE ANNONCES9
@import "../../../slagence_X_V5/sources/scss/modules/annonces9";

// IMPORT MODULE PUB LIB6
@import "../../../slagence_X_V5/sources/scss/pubs/lib6";

// SPRITE BLANC
@import "../../../slagence_X_V5/sources/scss/sprites/social-blanc";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";

// IMPORT MODULE EXTRA
@import "../../../slagence_X_V5/sources/scss/extra/extra4";

// IMPORT MODULE SOUS MENU
@import "../../../slagence_X_V5/sources/scss/sous_menu/lib1";


// PERSO SAPHI31

.table th,
.table td {
    padding: 12px;
}

.navigation {
    @include background-image(linear-gradient(bottom, $color-secondary-dark-5 0%, $color-secondary 60%));
    @include filter-gradient($color-secondary-dark-5,$color-secondary,vertical);
}
.ie8 .navigation,
.ie7 .navigation {
    background: $color-secondary;
    filter: none;
}


.menu-principal {
    font-size: 1.1em;
}
.menu-principal > li > a {
    color: $color-content;
    border-top: 2px solid $color-secondary;
    background: $color-secondary;
    font-size: 1.15em;
    &:hover {
        color: $color-content;
        border-top: 2px solid $color-important;
        background: $color-important;
    }
}
.menu-sub ul li a {
    font-size: 1.4em;
}

.typo-slogan {
    font-family: $font-body;
    font-size: 3.0em;
}
.slogan-index {
    margin-right: 27px;
}
.slogan-index .bg-white {
    background: none;
}

.module-homepage-extra .next-module {
    margin-top: 60px;
}
.nav-rotation {
    display: none;
}

.list-perso > li {
    padding-left: 60px;
    background: url(../images/Puce.gif) left top no-repeat;
}
.list-perso li + li {
    margin-top: 10px;
}


.pub-editeur,
.pub-estimation,
.pub-mobile {
    height: 120px;
}
.ie8 .pub-editeur,
.ie8  .pub-estimation,
.ie8  .pub-mobile {
    height: 120px;
    filter: none;

    -ms-filter: none;
}
.ie8  .pub-estimation {
    background: url(/z/webagency/slagence_X_V5/images/pub/lib6/picto-estimation.jpg) right top;
}
.ie8  .pub-mobile {
    background: url(/z/webagency/slagence_X_V5/images/pub/lib6/picto-mobile.jpg);
}


.horaires-agence {
    display: none;
}

.decalfooter {
    padding-right: 75px;
}


.iframe-responsive {
    position: relative;
    max-width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}
