// VAR COLORS
$color-body      : #fff;
$color-content   : #000;
$color-block     : #eee;
$color-primary   : #fff;
$color-secondary : #b1b1b1;
$color-action    : #606060;
$color-important : #606060;
$color-nav-footer: #7f7f7f;

// COLOR PUB
$color-pub       : "black";

// COLOR FONT BODY DEFAULT
$color-font-body : #000;

// COLOR SOUS MENU
$color-sous-menu : $color-block;
