/* Redefinitions des balises HTML */
*{margin:0;padding:0;font-size:11px;font-family:tahoma; color:#000;}
img{border:0}
.clear{clear:both;}
a{text-decoration:underline; outline:none; color:#196052;}
a:hover{text-decoration:none;}
hr{display:none;}
input,textarea,option{ color:#000; padding-left:2px;}
select{ color:#000; border:1px solid #000;}
table{margin:0 auto;}
#milieu table tbody tr td{text-align:left;}
#milieu table tbody tr td.tabTitre{text-align:center;}
* html input.alerte{background:#FFFFFF;}

/* --------Modification AR PLAN SITE-------- */
body{background:#dde997; color:#000;}

/* Effet bordure (espace 5px) entre BG menu et bande BG site */
#bgHeader{width:100%;}
#header{position:relative; width:988px; margin:0 auto; padding:0 0 5px 0; padding-left:3px solid #d0b493; padding-right:3px solid #d0b493;}
#header img.logoFnaim{position:absolute; top:50px; left:410px; width:86px; height:67px;}

#global{ width:994px; margin:0 auto; color:#000;}


/* --------LOGO AGENCE-------- */
#LogoAgence { float:left; display:inline; width:363px; padding:25px 0 0 10px;}
#LogoAgence img{ display:block; margin:0 auto;}


/* --------DRAPEAUX LANGUES FRANCAIS ET ANGLAIS-------- */
/* Mettre en DISPLAY:NONE si pas d'option Anglais */
#Drapeaux { display:block; position:absolute; top:10px; left:315px; z-index:10;}
#Drapeaux img {margin-right:5px; }
#Drapeaux img:hover {}

/* bloc groupama*/
#groupama{display:block; width:184px; position:absolute; top:-70px; right:5px; height:59px; z-index:99; }
#groupama p{ color:#427b70; font-size:10px; text-align:right; padding:0 0 3px 0; width:184px}
#groupama img{ display:block; }

/* --------TEXTE ACCUEIL--------*/
#textAccueil { position:relative; float:right; width:405px; padding:15px 195px 0 15px; display:block; z-index:1;}
#textAccueilen{ position:relative; float:right; width:405px; padding:15px 195px 0 15px; display:block;}
/* Modification TITRE texte d'accueil */
#textAccueil h1,#textAccueilen h1{ font-size:14px; font-weight:normal; text-transform:capitalize; color:#0a1f1b; padding:18px 0 0 0; letter-spacing:normal;}
#textAccueil h1 span,#textAccueilen h1 span{ font-size:24px; font-weight:bold; text-transform:none; color:#6d1843; padding:0 0 4px 0; letter-spacing:normal;}
#textAccueil h4,#textAccueilen h4{ color:#fff; font-weight:bold; font-size:17px; padding:0 0 6px 0;}
/* Modification CORPS texte d'accueil */
#textAccueil p,#textAccueilen p{ text-align:justify; font-size:11px; color:#000; line-height:11px; display:block; padding:0;}
#textAccueil a,#textAccueilen a{ text-decoration:none; color:#0a1f1b; padding-bottom:10px; font-size:11px;}
#textAccueil a:hover,#textAccueilen a:hover{ text-decoration:underline; color:#0a1f1b;}

/* LOGOS: FNAIM & SIA */
#Partners{ position:absolute; top:25px; right:7px; text-align:center;}
#Partners span img{text-align:center; padding:2px 0;}

/* --------MARQUEE DEFILANTE-------- */
/* Modification COULEUR  MARQUEE */
* html #RefMarqueNavig{width:700px;}

* html #RefMarque marquee{width:700px; margin:0;}
#RefMarqueNavig{ width:700px; height:0px; float:left; display:inline;color:#FFF; font-size:10px;background:none;margin:0 4px 0 0;}
#RefMarque{ width:700px; height:31px; float:left; display:inline;color:#d7d7d7; font-size:10px; background:#DBDBDB; margin:0 0 0 5px; padding:0 4px 0 0;}
* html #RefMarque{ width:700px;}
#RefMarque marquee{width:700px;margin:0; color:#d7d7d7; padding:8px 5px 8px 5px; font-size:11px;}
#RefMarque p{ font-size:12px; font-weight:bold; padding:8px 0 0 20px;}
#RefMarque marquee a {color:#d7d7d7; text-decoration:underline; font-size:11px;}
#RefMarque marquee a strong {color:#d7d7d7; font-weight:normal;}
#RefMarque marquee a:hover {color:#d7d7d7; text-decoration:none;}

/* ----- Moteur -----*/
h2.TitrePage{ display:none;}

/* --------MENU + FLUX RSS-------- */
/* Modification COULEUR + TAILLE fond MENU */
#remplissageMenu{ width:100%; min-height:44px; background:none;}
#menuFlux{width:994px; background:url(../images/px_menu.jpg) bottom repeat-x; margin:0 auto; position:relative;padding-bottom:4px;}
#menu {float:right; display:inline; background:#196052; height:46px}
#menu li{color:#FFFFFF;display:block;float:left;padding:0;}
#menu ul{display:block;}
#menu ul li.MenuSep{ color:#fff; padding:0;}
/* Modification COULEUR TEXTE MENU */
#menu a{ color:#FFFFFF; display:block; float:left; font-size:12px; font-weight:bold; margin:0; padding:17px 24px 18px 24px; text-decoration:none;}
#menu a:hover{text-decoration:none; background:#ffff00; color:#196052;}		
/* Modification FLUX RSS */
#fluxRss{float:left; display:inline; padding:12px 25px 0px 20px; }
#fluxRss a{ font-size:11px; text-decoration:none; color:#fff; margin:0 0 0 4px; padding:0 0 0 5px;}
#fluxRss a:hover{ font-size:11px; text-decoration:underline;}
#fluxRss img{float:left; display:inline; vertical-align:middle; }


/* --------CONTENU SITE = ZONE DU MILIEU-------- */
/* Modification COULEUR ARRIERE PLAN CONTENU SITE */
* html #milieu{height:250px;}
#milieu{width:984px;padding:24px 5px 10px 5px; min-height:250px; margin:0 auto; background:#f5f7e9;}
/*div contient visuel + mini moteur*/
#blocTop{ width:984px; overflow:hidden;}
/* Positionnement bandeau image */
#visuel{float:left; display:inline; width:715px; margin:0 20px 10px 0; padding:0;}		
/* Modification COULEUR BORDURE IMAGE */
#visuel img{border:7px solid #d4e19b; float:left;}


/*--------POSITIONNEMENT MINI MOTEUR-------- */
.miniMoteur{float:left;display:inline;width:225px;padding:0 0 0 0;position:relative;}		
/* Modification TITRE RECHERCHE */ 		
.miniMoteur h2,#blocBas .nbrTransaction h2{font-size:18px; font-weight:bold; color:#196052; background:#ffff00; padding:14px 0 10px 14px; }
#minimoteur{ padding: 0 0 0 15px}
/* A NOTER !!!! Pour styliser les champs + bouton mini moteur VOIR == MINI_MOTEUR.CSS */ 


/* ----------- 3 COUPS DE COEUR ------------- */
#blocBas { width:984px;}
#blocBas #coupCoeur{float:left;display:inline;width:715px;margin:0 20px 5px 0; }

/* ----------- LISTE TRANSACTIONS AGENCE ------------- */
#blocBas .nbrTransaction{float:left; width:225px; height:244px; padding:15px 0 0 0px; overflow:auto;}
/* Modification COULEUR "AUJOURD'HUI" */
#blocBas .nbrTransaction h3{display:none; font-size:13px;font-weight:bold;padding:1px 0 0 15px; color:#196052;}
/* Modification COULEUR TYPE TRANSACTION */
#blocBas .nbrTransaction h4 {width:200px;font-weight:bold;font-size:13px;color:#000;padding:10px 0 0 0; text-decoration:none;}
#blocBas .nbrTransaction h4 a{font-weight:bold; font-size:12px;color:#000; text-decoration:none; margin:15px;}
#blocBas .nbrTransaction ul{list-style-type:none;margin:0 0 10px 15px; line-height:16px;}
/* Modification COULEUR TYPE DE BIEN */
#blocBas .nbrTransaction ul *{font-size:11px;color:#196052;}
#blocBas .nbrTransaction ul * a:hover{ text-decoration:none;color:#196052;}


/* -----------INCLUDE BAS------------- */
/* Modification COULEUR BANDE COORDONNEES */
.CoordonneesAgence {font-size:12px; background:#fff; width:984px; height:27px; text-align:center; padding-top:13px; color:#196052; font-weight:bold; border-left:5px solid #f5f7e9; border-right:5px solid #f5f7e9; border-bottom:7px solid #f5f7e9;}
	.CoordonneesAgence a{ color:#196052; font-size:12px;}
/* Modification BG footer portefeuille + menu secondaire */
.footerPosition{ position:relative;width:994px;  padding:0; margin:0 auto 10px auto; background:#196052;}
.porteFeuille{float:left;width:410px;padding-left:18px; padding-top:10px;}
.porteFeuilleEN{float:left;display:block;padding-left:0px;}

/* ARRIERE PLAN FOOTER */
#footer{ background:none; margin:0 auto; padding:0;}

/* Modification couleur 2 TITRES FOOTER */
 #footer h4{font-size:12px;font-weight:bold;background:url(../images/puce.gif) left center no-repeat;padding:2px 0 1px 25px;line-height:19px;}
/* titre gauche : Notre portefeuille immobilier */
 #footer .porteFeuille h4{font-size:11px; color:#fff; margin-left:4px;}
/* titre droite : www.urldusite.com */
 #footer .menuSecondaire h4{font-size:11px; color:#196052; margin-left:4px;}
 #footer .menuSecondaire a{font-size:11px;color:#fff;text-decoration:none; }
 #footer .menuSecondaire  ul{ list-style:none; padding:11px 7px; text-align:center; }
 #footer .menuSecondaire  ul li{background:#1c6d5d; padding:9px 7px; display:inline; color:#fff; margin:0 2px; font-size:11px;}
  #footer .menuSecondaire  ul li.sepa{ background:none; padding:0; margin:0; }
  
 #footer .menuSecondaire a:hover{font-size:11px; text-decoration:underline;}

/* Modification couleur LISTE DES VILLES */
.porteFeuille .ListeVilles{width:520px;text-align:justify;line-height:13px;border:0;color:#6E2822; padding:4px 0 0 5px;}
.porteFeuille .ListeVilles *{color:#fff; font-size:11px;font-weight:normal;}
.porteFeuille .ListeVilles a{font-size:11px;color:#fff;text-decoration:none;}
.porteFeuille .ListeVilles a:hover{font-size:11px;color:#fff;text-decoration:underline;}
.porteFeuille .ListeVilles a strong:hover{color:#fff;}

/* Modification couleur MENU SECONDAIRE FOOTER (droite) */
/* FR */
.menuSecondaire{width:970px;font-size:12px;color:#fff; padding:5px 0 5px 18px; float:left;}
.menuSecondaire p{padding:3px 0 0 30px; color:#000;  font-size:11px;}
.menuSecondaire p a{font-size:11px; color:#000;text-decoration:none;}
#footer .menuSecondaire p span{ color:#fff;}
#footer .menuSecondaire p span a{ color:#fff;}
.menuSecondaire p a:hover{font-size:11px;text-decoration:underline;}
#footer .menuSecondaire span.sepSep{ color:#000;}

/* EN */
.menuSecondaireEN{float:left; font-size:12px;color:#d0808e; padding:5px 10px;}
#footer .menuSecondaireEN h4{font-size:12px; color:#fff; font-weight:bold;}
.menuSecondaireEN p{padding:3px 0 0 5px; color:#d0808e; text-align:justify;}
.menuSecondaireEN p a{font-size:11px;color:#000;text-decoration:none;}
.menuSecondaireEN p a:hover{font-size:11px;color:#d0808e;text-decoration:underline;}
.menuSecondaireEN span.sepSep{ color:#d0808e;}




/* ----------------------------------------AUTRES PAGES DU SITE---------------------------------------- */

/* Page En Construction */
#EnConstruction{margin-top:70px; text-align:center;}


/* PAGE PLAN DU SITE = incl_plan-site.htm */  
ul#Plan *{text-decoration: none; font-weight: bold;}
ul#Plan{padding:10px 0 60px 0; width:460px; margin:0 auto;}
ul#Plan li.plan{ color:#FFF; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}
ul#Plan li.planMenu,ul#Plan li.planVentes{ border-bottom:none; color:#196052;}
ul#Plan li.MenuSep{display:none;}
ul#Plan li{padding: 0.2em 0; border:none;}
ul#Plan .plan{padding: 0.2em 0;background:none;}
ul#Plan li a{color:#196052; background:#fff;padding:6px 0 0 10px;height:19px;font-size: 12px; border: 1px solid #196052; text-transform:uppercase;}
ul#Plan li a:hover{color:#FFF;padding-left:10px; height:19px;font-size: 12px; background:#196052; border: 1px solid #fff;}
ul#Plan li.voirTout a { color:#525252;}
ul#Plan li.voirTout a:hover{ color:#fff;}

/* Outils */
ul#Outils *{text-decoration: none; font-weight: bold;}
ul#Outils{padding: 2em 8em; width:400px; margin:0 auto;}
ul#Outils li.list{padding: 0.2em 0px;background:none; margin:2px 0; border:none;}
ul#Outils li a{color:#196052; background:#fff;padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #196052; text-transform:uppercase;}
ul#Outils li a:hover{color:#FFF; border: 1px solid #fff;padding-left:10px; height:19px;font-size: 12px; background:#196052;}
#Outils li.titrePageOutils{ color:#196052; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}

/*PAGES ESTIMATION + CONTACT + MESSAGE == TABLEAUX FORMULAIRES*/
.tabFond1{border-color:#00AA00; border-width:0; border-style:solid; padding:2px;  width:100%; width:550px;}

 textarea{width:350px; height: 100px;}
.tabFond2{border-color:#00AA00; border-width:1px; border-style:solid; padding:2px; font-size:14px; }
.tabTitre{ 
	background:#dfeb9f;
	border-bottom:1px solid #1e6255;
	text-transform:uppercase;
	text-align:left;
	font-size: 14px;	
	color:#1e6255;
	font-weight: normal;
	letter-spacing: 0;
	padding:5px;
	margin: 5px 0px 15px 0;
	font-family: Tahoma;}
.tabTitre *{color:#1e6255; font-size: 14px; font-weight: normal; text-align:left;}
.tabPrint{color:#5C5E5D; font-size: 13px;  border:1px solid #00AA00;}
.tabFond1 td input.imputForm, .tabFond1 td select, textarea.imputForm,input.imputForm{margin:3px 0; border:1px solid #dfeb9f; padding:5px;}
.tabFond1 td textarea{border:1px solid #dfeb9f;}
.tabFond1 table{ width:100%;}
strong.messageNomAgence,strong.estimationNomAgence,.titreInfosLegales{ display:none;}

/*Résolution Bug IE8 = donner une taille aux bouton pour éviter tout décallage*/
.boutonEnvoi { width:120px; float:right; height:26px;}
.BoutonFormContact { width:120px; height:26px; float:right; border:none;}
.MoteurBouton input { width:120px; height:26px; float:right; margin-right:25px;}
td #ChampsBouton input {float:right; width:120px; height:26px; margin-right:12px;}
.tabFond1 input.BoutonFormRecherche { float:right; width:120px; height:26px; border:none;}		
#MiniBoutonInput{ width:175px; height:22px;}

/* GUIDE PRATIQUE = ACCES VIA LE LIEN DANS LA PAGE OUTILS*/
span.txtTitre3{ display:block; width:870px; color:#FFF; background:#6E2822; font-size:16px; font-weight:bold; padding:3px 5px; margin:10px 3px 3px 0;}
/* td.encadre span.gras{ display:block; width:882px; color:#FFF; background:#6E2822; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;} */
td.encadre{background-color:#FFF; border:2px solid #AAA; padding:3px; color:#000030; margin:0 0 0 -4px;}
.encadre .grasnews{ display:block; width:882px; color:#FFF; background:#6E2822; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;}
.encadre p .gras{ color:#FFF; background:#6E2822; display:block; font-weight:bold; text-transform:uppercase; padding:2px 3px;}
.encadre p{ color:#000;}

/* coup de coeur*/
* html .div-cdc{ height:264px;}
.div-cdc{width:232px; min-height:260px; float:left; border:1px solid #d4e19b; margin:0 4px 0 0; background:#d4e19b;}
.div-cdc *{ color:#000;}
.div-cdc .photo-cdc img{width:220px;height:139px; border:1px solid #fff;}
.photo-cdc{padding:5px 0 3px 5px;}
.div-cdc a span.ville-cdc{font-weight:bold;display:block; color:#196052; font-size:14px;}
.div-cdc a span.typetransaction-cdc{color:#196052; font-weight:bold; font-size:14px; text-transform:capitalize; text-decoration:none;}
.div-cdc a span.typebien-cdc{color:#196052; font-weight:bold; font-size:14px; text-decoration:none;}
.div-cdc .nbpiece-cdc, .surface-cdc{color:#000; font-size:14px;}
.div-cdc .contenu-cdc{padding:0 6px 4px 6px;}
.div-cdc .contenu-cdc *{color:#000;}
.div-cdc .contenu-cdc a{ text-decoration:none;}
.div-cdc .contenu-cdc a:hover{text-decoration:underline;color:#196052;}
.div-cdc .descriptif-cdc{min-height:40px; font-size:11px; color:#000; text-align:justify; text-transform:lowercase;}
* html .divc2c .descriptif-cdc{height:40px;}
.div-cdc p.prix-cdc{font-weight:bold;display:block; color:#196052; font-size:14px;}
 
/* Mentions Legales */
#MentionsLegales{ color:#000;}
#MentionsLegales h2 {display: block; width: 99%; background:#196052; font-family:Arial, Helvetica, sans-serif; font-size: 14px; color:#fff;font-weight: bold;letter-spacing: 0;padding:3px 0 3px 8px;margin: 10px 0;text-align: left;text-transform: none;}

/*page detail*/
#AgenceContact td.detail_form_col2 { border:1px solid #000; padding:10px 20px;}
#Outils_Ctn {border:1px solid #000;margin:10px 0 0;padding:10px 20px;position:relative;}
#Galerie {background:#000 none repeat scroll 0 0;border:4px solid #000;}
#InfosAnnonce #InfosComp_Ctn #InfosComp p { background:#000; border:1px solid #fff; color:#FFFFFF; float:left; font-size:11px; font-weight:bold; padding:6px; position:relative; width:30%;}
#AgenceContact form table#FormContact td#ChampsBouton #ChampsObligatoires{clear:both;}
#Tri_Ctn select option,#Tri_Ctn select optgroup{ padding-left:2px;}
#Galerie #previewPane #FancyBox_Ctn2{ height:35px;}
#TitreContact a#AgenceMentions em span{ line-height:13px !important;}
#AgenceContact #CguFormulaire a ,#RechercheContainer .dicoImmo a{ color:#196052;}
#CguFormulaire {padding:20px; text-align:center;}
#RechercheContainer {padding:15px;}
#RechercheContainer #RechHautEnd {display:none;}
td#ColonneDroite form table#FormContact td#ChampsBouton #ChampsObligatoires{clear:both;}

/*page rresultat annonces*/
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .descr { color:#000;}
#RechercheContainer #AlerteEmail #AlerteForm input.alerteBt{ cursor:pointer;}
#RechPagesHaut .rechLiensPages a, #RechPagesBas .rechLiensPages a,#RechPagesHaut .rechLiensPages a span, #RechPagesBas .rechLiensPages a span { color:#000;}
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .contactAnn_ctn{ width:200px;}
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .metro_Ctn * { color:#000;}
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .prox{ background-position:0 3px; padding:5px 0 0 25px;}

/*texte agence immobilier*/
#TxtPublic h2{ padding:10px 0; text-align:center; color:#000; font-size:18px}
#TxtPublic p{ font-size:12px; color:#000;padding:10px 0;}
#TxtPublic p span{ font-weight:bold; color:#000;}
#TxtPublic ul{ padding:10px 0 10px 30px; list-style:none;}
#TxtPublic ul li{ padding:0 0 0 20px; background:url(../images/picto_fleche_01.gif) 4px 0 no-repeat; color:#000;}