// VAR COLORS
$color-body:#4e4e4f;
$color-content:#333333;
$color-block:#424242;
$color-primary:#66656a;
$color-secondary:#333333;
$color-action:#12814e;
$color-important:#12814e;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#fff;

$color-gris-clair:#7f7e84;

$color-rouge-ancien:#c10003;