// VARIABLES COLORS
$color-body:#FFF;
$color-content:#f1f1f1;
$color-block:#f5f6f7;
$color-primary:#fff;
$color-secondary:#FFF;
$color-action:#004B86;
$color-important:#94846d;
$color-nav-footer:#94846d;

// COLOR PICTO
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#001C33;