/* $$DYN:ID3:NOFOOTER$$ */
div, td, .Marquee, .ListeVilles, span { font-family: Verdana, Arial, Helvetica, sans-serif; }
span { font-size: 12px; }
.ContenuAnnonce { padding: 0; }
.contenuBoutonLegende { display: none; }
.Legende { font-family: Arial, Helvetica, sans-serif; border-bottom: 1px solid #0c2f8d; width: 950px; }
.Pasdannonce { color: #000; padding-left: 25px; }
.Titre0ann { font-weight: bold; font-size: 12px; color: #01344c; }
.NbAnnonces { color: #000; line-height: 16px; }
.BoutonLegende {}
.RechercheTri { display: none; }
.NbPages {
	text-align: right;
	background: none;
	border-bottom: none;
	padding: 0;
	width: 100% !important;
	margin: 0;
}
.NbPagesNb { color: #0c2f8d; font-weight: bold; }
.NbPagesLiens { color: #0c2f8d; }
.NbPagesLiens a { color: #6a6a6a; font-weight: bold; }
.montrer { display: none; }
.BoiteAnnonce {
	font-family: Verdana, Arial, Helvetica, sans-serif !important;
	margin: 5px 10px;
	_margin: 5px 8px;
	padding: 0;
	border: none;
	background: none;
}

.ligne1 {
	width: 204px;
	height: 154px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

.RechercheVisuelsPhoto {
	margin: 0;
	width: 204px;
	padding: 2px 0;
	text-align: center;
	background-color: #1b6b94;
}

.RechercheVisuelsPhoto img {
	width: 200px;
	height: 150px;
	border: none;
	margin: 0 auto;
}

.Icones, .RecherchePlusInfo, .RechercheProximite { display: none; visibility: hidden; }
.RetourFluxNormal { display: none; }
.ligne3 {
	margin: 5px 0;
	padding: 0;
	text-align: left;
	float: right;
	width: 230px;
}
.TitreAnnonce {
	display: block;
	padding : 0;
	margin : 0;
	background: none;
}
div.TitreAnnonce { margin-left: 0;}
div.RechercheLibelle {
	float: left;
	font-weight: normal;
	font-size: 12px;
	padding-left : 0;
	padding-top : 0;
	text-transform: uppercase;
	color: #0f39a9;
	display: inline;
	line-height: 18px;
}
div.RechercheLibelle a { color: #0f39a9; font-size: 12px; }
.RechercheSituation {
	float: none;
	text-align: left;
	color: #0f39a9;
	font-size: 12px;
	line-height: 18px;
	padding: 0;
	margin: 0;
}
div.TitreCP { display: none; }
.ligne4 {
	float: right;
	width: 230px;
}

.ligne5 { display: none; }

.ligne6 {
	width: 230px; 
	float: right;
	text-align: center;
}

.ligne6 .RechercheRefAnnonce {
	width: 230px;
	float: none !important;
	margin: 0 !important;
	text-align: left;
	color: #0f39a9;
	font-style: normal;
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}
.ligne6 .RecherchePrix {
	width: 230px;
	float: none;
	text-align: left;
	font-size:12px;
	font-weight:normal;
	color:#0f39a9;
	margin: 0;
	line-height: 18px;
}

.RecherchePrix .Fai { display: none; }

.BoitePhraseRecherche {
	background: none;
	line-height: 18px;
	padding: 0 8px;
	color: #0c2f8d;
	font-size: 12px;
	text-transform: none;
	font-weight: bold;
	margin: 0;
}
.RechercheSituationVille {
	width: 230px;
	color: #0f39a9;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	text-transform: capitalize;
	padding: 0;
	margin: 0;
}

.RechercheDescriptif {
	display: none;
}
.BoitePubAlerte {
	border: none !important;
	background-color: #000066 !important;
	width: 950px !important;
	margin: 0 auto;
}
.AlerteEmail {
	width: 15%;
	float: left;
	text-align: left;
}
.AlerteGratuit {
	float: left;
	width: 80%;
	color: #fff!important;
}
.AlerteEmail a{
	font-weight: bold;
	font-size: 1.3em;
	color: #fff !important;
	text-decoration: underline;
	float: right;
	padding-right: 10px;
}

.AlerteEmail a:hover{
	font-size: 1.3em;
	font-weight: bold;
	color : #1b58b3!important;
	display: block;
	text-decoration: underline;
	float: right;
	padding-right: 10px;
}

.AlerteGratuit a {
	font-size: 1.1em;
	display: block;
	float: left;
	font-weight: bold;
	color : #fff!important;
}

.AlerteGratuit a:hover {
	font-size: 1.1em;
	display: block;
	float: left;
	font-weight: bold;
	color : #1b58b3 !important;
}