// VAR COLORS
$color-body:#000;
$color-content:#f3f3f3;
$color-block:#1a1a1a;
$color-primary:#ffa519;
$color-secondary:#000;
$color-action:#ffa519;
$color-important:#23282b;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#d9d9d9;

// COLOR SOUS MENU
$color-sous-menu:$color-primary;

// ICONE COUP DE COEUR
$color-icone-cdc:#ffa519;