// VARIABLES COLORS
$color-body:#E2E8ED;
$color-content:#89744d;
$color-block:#fff;
$color-primary:#fff;
$color-secondary:#869FD4;
$color-action:#b4bdcb;
$color-important:#3d5ba6;
$color-nav-footer:#11349F;

// COLOR PUB
$color-pub:"black-opacity";

// COLOR FONT BODY DEFAULT
$color-font-body:#2a2a2a;