@font-face {
    font-family: 'ArialNarrowRegular';
    src: url('$$_$$styles/typos/arialn-webfont.eot');
    src: url('$$_$$styles/typos/arialn-webfont.eot?#iefix') format('embedded-opentype'),
         url('$$_$$styles/typos/arialn-webfont.woff') format('woff'),
         url('$$_$$styles/typos/arialn-webfont.ttf') format('truetype'),
         url('$$_$$styles/typos/arialn-webfont.svg#ArialNarrowRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body { margin:0;padding:0; text-align:center; background: #1e1e1e; }
div,td { font-family: Arial;font-size:12px;color:#fff;}
img { border:none;display:inline;}
table  { border-collapse:collapse;border-spacing:0;}
td, th { padding:0;}
form { padding:0;margin:0;}
input, select { vertical-align:middle;}
a { text-decoration:none;color:#545454;}
a:hover { text-decoration: none; color: #fcc200;}
p { margin:10px 0;}

.clear { clear:both;}
.fleft { float:left;}
.fright { float:right;}

.wrap { width: 940px; text-align: left; margin: 0 auto; position: relative; }

/*=================================================*/

#bg-head { background: url('$$_$$images/bg_head.gif') repeat-x; height: 173px; position: fixed; width: 100%; z-index: 999; top:0; }
.lg { position: absolute; top: 20px; left: 10px; z-index:15000; }

#bloc-mn { width: 705px; }
.trad { height: 38px; text-align: right; line-height: 50px; font-size: 14px; text-transform: uppercase; }
.ttl-search { background: url('$$_$$images/bg_ttl_search.gif') repeat-x; height: 15px; }
.ttl-search span { background: #0c0c0c; color: #5e5e5f; text-transform: uppercase; padding-right: 5px; font-size: 14px; font-family: 'ArialNarrowRegular', Arial; }

#main-mot { height: 58px; }
#bloc-moteur { padding-top: 10px; width:705px; }

.mn { height: 62px; position: relative; }
.mn ul { margin: 0; padding: 0; }
.mn li { float: left; list-style: none; padding: 0 17px; }
.mn .en li { padding: 0 26px; }
.mn a { line-height: 62px; font-size: 16px; text-transform: uppercase; display: block; font-family: 'ArialNarrowRegular', Arial; color: #fff; position: relative; }
.mn a:hover, .mn ul li:hover > a { background: url($$_$$images/bg_over.gif) center no-repeat; color: #79797a; }

.mn ul li ul { display: none; position: absolute; z-index: 1000; background: #535252; top: 62px; left: -200px; text-align: left; width: 960px; padding: 30px 0; }
.mn ul li:hover ul { display: block; }
.mn ul li ul li, .mn .en li ul li { float: none; display: block; line-height: normal; float:left; padding: 0 15px; }
.mn ul li ul li.ss-left a { font-weight: normal; text-transform: none; color: #ceced3; width: auto; padding: 0; text-align: left; display: block; font-size: 11px; height: 30px; line-height: 30px; background: url($$_$$images/puce-sous-menu.gif) 0 10px no-repeat; padding-left: 17px; }
.mn ul li ul li.ss-left a.Locaux { line-height:14px;}
.mn ul li ul li.ss-left a:hover { border: none; background:url($$_$$images/puce-sous-menu.gif) 0 10px no-repeat; padding-left: 17px; color: #fcc200; }
.mn ul li ul li .pic-ss a { color: #fcc200; font-size: 15px; font-family: 'ArialNarrowRegular', Arial; text-transform: uppercase; background: url($$_$$images/picts.gif) right no-repeat; display: inline-block; padding-right: 15px; line-height:normal; text-align:left;}
.mn ul li ul li span a { color: #fcc200; font-size: 15px; font-family: 'ArialNarrowRegular', Arial; text-transform: uppercase; background: url($$_$$images/picts.gif) right no-repeat; display: inline-block; padding-right: 15px; }
.mn ul li ul li a { border: none;padding:0;  height: auto; line-height: 10px; }
.mn ul li ul li a:hover {background: none;  border: none;}
.mn ul li ul li .pic-ss a:hover { color: #fff;  background: url($$_$$images/picts.gif) right no-repeat; }

.mn ul li ul#ss_louer li {width:150px;}
.mn ul li ul#ss_louer li:first-child {width:200px;}
.mn ul li ul#ss_louer li.ss-right2 {width:700px;}

.ss-left { padding: 0 15px; } 
.ss-center, .ss-right { padding: 10px; width: 202px; text-align:justify; color: #CECED3; }
.ss-center.ssprestige, .ss-right.ssprestige {width:320px;}
.mn img { border: 1px solid #000; }
.ss-right2 {width:650px;}
.ss-center p, .ss-right p{clear: both;}
.mn ul li ul li.ss-text {float:none; display:block; margin:-30px 0 0 220px; color:#ceced3;}
.mn ul li ul li.ss-text strong {color:#fcc200;}
.vendre-ss-center, .vendre-ss-right, .vendre-ss-left { padding: 15px 10px; width: 293px; text-align:justify; color: #fff; }
.vendre-ss-center p, .vendre-ss-right p, .vendre-ss-left p{clear: both;}

.ttl-ss { font-size: 16px; color: #000; font-family: 'ArialNarrowRegular', Arial; text-transform: uppercase; }
.ttl_des {font-size:14px; color:#ceced3; font-weight:bold;}
.mn span.ttl-menu { font-size: 16px; color: #000; font-family: 'ArialNarrowRegular', Arial; text-transform: uppercase; font-weight: normal; }
.ttl-ss strong {font-size:14px; color:#ceced3; text-transform: none; }
.link-ss a { color: #ceced3; font-size: 11px; font-family: Arial; }

.txt_sousmenu {color:#ceced3; font-size: 11px; }
/*fin sous menu*/

#wrapper { width: 100%; background: url($$_$$images/bg_wrapper.gif) bottom repeat-x #1e1e1e; padding-top: 171px; }
#navigue { min-height: 500px; padding: 15px 0; }

#wrap-index { width: 100%; height: 458px; margin: 0 auto; text-align:center; position: relative; }
#blackslide {position:absolute; width: 100%; height: 458px; z-index:10; background: url($$_$$images/transp.png) repeat; display:none;}
#header { height:450px; width: 940px; }
.headerimg { background-position: center top; background-repeat: no-repeat; width:100%!important; height:458px;position:absolute;}
.slideshow  {width:100%!important; margin:0 auto;}
#headerimg1 {background: url($$_$$images/photo1.jpg) no-repeat center center;}
#headerimg2 {background: url($$_$$images/photo2.jpg) no-repeat center center;}
#headerimg3 {background: url($$_$$images/photo3.jpg) no-repeat center center;}
#headerimg4 {background: url($$_$$images/photo4.jpg) no-repeat center center;}

.main-wrap { position: relative; height: 455px; width: 940px; text-align: left; margin: 0 auto; }
.f-txt { position: absolute; bottom: 185px; right: -10px; z-index: 99; }
.txt-index { position: absolute; background: url($$_$$images/bg_txt.png) repeat; width: 245px; bottom: 198px; right: 0; border-top: 1px solid #4a494d;  border-right: 1px solid #4a494d; border-left: 1px solid #4a494d; box-shadow: 0 0 5px #000; z-index: 99; }
.wrap-txt { width: 215px; margin: 0 auto; padding: 20px 0 5px 0; font-size: 11px; color: #cbc9c9; }
.wrap-txt h1 { color: #fcc200; font-weight: bold; font-size: 11px; }
.wrap-txt h2 { font-size: 11px; color: #cbc9c9; font-weight: normal; }
.wrap-txt a { color: #fff; text-decoration:underline; }

.main-content { position: relative; width: 940px; text-align: left; margin: 0 auto; }
.main-content .img-carre { text-align: center; padding: 74px 0; display: block; margin: 0 auto; }

.bg-footer { background: #1e1e1e; border-top: 1px solid #313131; padding: 10px 0; }
.l-foot { width: 585px; }
.link-f { background: url($$_$$images/lg_foot.gif) no-repeat; padding: 18px 0 18px 90px; font-family: 'ArialNarrowRegular', Arial; font-size: 14px; line-height: 25px; color: #545454; }
.link-f strong { font-size: 17px; font-weight: normal; color: #fff; }

.r-foot { width: 280px; padding: 15px 0; }
.rs-f {  }
.rs-f div { padding-bottom: 10px;font-family: 'ArialNarrowRegular', Arial; font-size: 15px; text-transform: uppercase; }
.rs-f div strong { color: #fcc200; font-weight: normal; }

/* COMMON CLASSES */
.break { clear:both; }
.seb {border:0px solid #fcc200; float:left; margin:0 20px 20px 0;}
.seb img {border:1px solid #fcc200; padding:5px;}

/* CONTROLS */
.btn { height:32px; width:32px; float:left; cursor:pointer; }
#back { background-image:url("$$_$$images/btn_back.png"); }
#next { background-image:url("$$_$$images/btn_next.png"); }
#control { background-image:url("$$_$$images/btn_pause.png"); }

/* HEADER HAVIGATION */
#headernav-outer { position:relative; top:400px; margin:0 auto; width:960px; }
#headernav { padding-left:864px; }

#nav{position: absolute; bottom: 20px; left: 48%;margin-left: 0;z-index:9999;z-index: 9999;}
#nav a{display: block;background: url($$_$$images/puce.png) no-repeat;width: 8px; height: 8px;overflow: hidden;float: left; margin: 4px; font-size: 0; z-index: 9999;}
#nav a.activeSlide{background-position: 0 -8px;}

/* RETOUR HAUT */
.retourHaut {float:right;margin:5px 0 0 0;padding:0;font-size:11px;font-weight:bold;}
.retourHaut a {color:#fcc200;text-decoration:none;}

/* PAGE VENDRE */
#page_vendre {width:890px; margin:20px auto;}
#page_vendre .colG {width:460px; float:left; padding-left:15px;}
#page_vendre .colD {width:395px; float:left;}
#page_vendre #btn_pdf {width:306px; height:57px; background:url($$_$$images/bg_btn_vendre.png) no-repeat; line-height:70px; padding-left:90px; display:block; font-weight:bold; font-size:12px; color:#fff; margin:10px 0 0 1px;}
#page_vendre .colD h1 {font-size:18px; color:#f2c200;}
#page_vendre .colD strong {background:#292929; padding:5px; font-size:14px; display:block; margin:25px 0;}
#page_vendre .colD h2 {font-size:14px; color:#fff; padding-bottom:10px; border-bottom:1px solid #2f2f2f; margin-bottom:0;}
#page_vendre .colD ul {padding:0; margin:10px 0 25px 0;}
#page_vendre .colD ul li {font-weight:bold; font-size:12px; color:#9b9797; list-style-type:square; list-style-position:inside;}

#txt_agence_liste {line-height:18px;}
#txt_agence_liste strong {color:#f2c200; display:block; margin:15px 0;}
#txt_agence_liste ul li {list-style-type:square;}
.ttl-page{background:url($$_$$images/bg_titre.gif) no-repeat; width:940px; height:44px; line-height:44px; margin:15px 0 10px 0; font-size:16px; color:#fcc200; text-transform: uppercase; font-family: 'ArialNarrowRegular', Arial;  padding-left:50px; font-weight:normal;}
.ttl-pg { background: url($$_$$images/arrow.gif) no-repeat 0 4px; padding-left: 15px; color: #fcc200; font-weight: bold; }


/* cacher FAI */
.prixDetailAnnonce sup, .fai { display: none; }