// VAR COLORS
$color-body      : #231f20;
$color-content   : #231f20;
$color-block     : #372e30;
$color-primary   : #F71F20;
$color-secondary : #F71F20;
$color-action    : #F71F20;
$color-important : #372e30;
$color-nav-footer: #fff;

// COLOR PUB
$color-pub       : "white";

// COLOR FONT BODY DEFAULT
$color-font-body : #fff;

