// VAR COLORS
$color-body:#fff;
$color-content:#f3f3f3;
$color-block:#f2f2f2;
$color-primary:#f2f2f2;
$color-secondary:#00478f;
$color-action:#00478f;
$color-important:#00478f;
$color-nav-footer:#00478f;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#000043;