// VAR COLORS
$color-body:#D7D7D7;
$color-content:#A0A0A0;
$color-block:#FFFFFF;
$color-primary:#A0A0A0;
$color-secondary:#333;
$color-action:#f63fa6;
$color-important:#f63fa6;
$color-nav-footer:#333;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#333;
