// VAR COLORS
$color-body:#fff;
$color-content:#fff;
$color-block:#ececec;
$color-primary:#fff;
$color-secondary:#a5a5a5;
$color-action:#7ac57e;
$color-important:#a5a5a5;
$color-nav-footer:#888888;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#535353;