// VAR COLORS
$color-body      : #fff;
$color-content   : #fff;
$color-block     : #fff;
$color-primary   : #fff;
$color-secondary : #0084c4;
$color-action    : #0084c4;
$color-important : #010101;
$color-nav-footer: #333;

// COLOR PUB
$color-pub       : "white";

// COLOR FONT BODY DEFAULT
$color-font-body : #333;

