	$$REM$$/*====================================================================
//// <summary>Fichier CSS À DÉMUTUALISER POUR CHAQUE SITE</summary>
//// <remarks>
//// <para>Pour plus de rapidité, intégrer les macros du fichier 'all_global_macros.css'</para>
//// </remarks>
//// <update date="2010-02-16" author="lisbonne.siriphol">Création</update>
====================================================================*/$$END$$

<!--#include virtual="styles/all_global_macros.htm" -->

/* accueil */ 

body {background: none repeat scroll 0 0 #fff;}

#PortefeuilleAccueil h4 a {color: #f6fe69;}
.selectionDescr .selectionVille a {color: #f6fe69;}
.selectionDescr .selectionVille, .selectionDescr .selectionVille * {color: #f6fe69;}
.selectionDescr p {color: #fff;}
.selectionDescr .selectionPrix, .selectionDescr .selectionDetail, .selectionDescr .selectionDetail a {color: #f6fe69;}
#PortefeuilleAccueil ul li a {color: #FFFFFF;}
#PortefeuilleAccueil h6 span {color: #fff;}
#PortefeuilleAccueil h6 {color: #f6fe69;}

/* ventes */

#Moteur .moteurTable ul li#idtypebien_1 {color: #fff;}
#Moteur .moteurTable ul li#idtypebien_2 {color: #fff;}
#Moteur .moteurTable ul li {color :#fff;}
#Moteur .moteurTable ul li#nb_pieces, #Moteur .moteurTable ul li#nb_chambres, #Moteur .moteurTable ul li#InputSurfaceTerrain {color :#000000;}
#Moteur .moteurTable ul li strong {color :#fff;}
#Moteur h3 {border-bottom: 1px solid #09570b;}
#Moteur #ref_ann {border-bottom: 1px solid #09570b;}

/* page résultats recherche d'annonces */

#FilAriane span {color: #000000;}

.moteurComment {color: #000000;}

.prix, .ville, .libelle {color: #f6fe69;}
.surface,.descr, .prox_ctn .prox, .terrain {color :#fff;}
#RechPagesHaut .rechLiensPages a.actif, #RechPagesBas .rechLiensPages a.actif, 
#RechPagesHaut .rechLiensPages a:hover, #RechPagesBas .rechLiensPages a:hover {color: #fff;}
.dicoImmo p{ color :#000000;}
.dicoImmo a {color : #09570b;}

/* Alerte mail */
#AlerteEmail h3 span {color: #f6fe69;}
#AlerteEmail h4 {color :#f6fe69;}
#AlerteEmail #AlerteForm input.alerteBt {border: 1px solid #000000;}

/* Détails annonce */

.photoNbr,#DetailAnnonce h4, #InfosPrincipales h3 {color :#f6fe69;}
#FancyBox_Ctn a#FancyBox1 {color :#fff;}
#InfosPrincipales p {color :#fff;}
#InfosComp_Ctn #InfosComp p, #Descriptif .txtDescriptif, #Outils a {color :#fff;}
#AgenceContact strong {color :#f6fe69;}
#AgenceContact p.adresseAgence, #AgenceContact p.faxAgence {color: #fff;}
#Form_Ctn table td p {color :#fff;}
#ChampsBouton .inputSubmit {border: 1px solid #000000;}

/* page notre agence */

#AgImmoMentions p {color :#000000;}

/* page estimation */ 

#CguFormulaire {color : #000000;}

/* page outils */

#Outils th, #Outils label, .accordion_content em  {color :#fff;}
.accordion_content .inputCalcul {border: 1px solid #000000;}
#Outils strong {color: #f6fe69;}
.accordion_content .inputText {color :#000000;}




/*#HeaderTxt p {color :#000000;}

#HeaderTxt h2 {color: #09570b;}

#MoteurAccueil .titreParagraphe {color: #09570b;}

#NouveautesAccueil .titreParagraphe span {color: #09570b;}

#NouveautesAccueil .titreParagraphe a {color :#09570b;}

.miniTitre {color: #515151;}

#FilAriane em {color: #09570b;}*/