// VAR COLORS
$color-body       : #fff;
$color-content    : #fff;
$color-block      : #f5f8fa;
$color-primary    : #fff;
$color-secondary  : #29235c;
$color-action     : #e94e1b;
$color-important  : #29235c;
$color-nav-footer : #000e1a;

$light-grey : #b8c3cc;
$white : #fff;

// COLOR PUB
$color-pub: 'black';

// COLOR FONT BODY DEFAULT
$color-font-body: #8a9299;

$color-tertiary : #39a7df;