// VAR COLORS
$color-body:#f7f7f7;
$color-content:#1a1a1a;
$color-block:#ededed;
$color-primary:#FFF;
$color-secondary:#a22139;
$color-action:#667685;
$color-important:#a22139;
$color-nav-footer:#667685;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#272d33;


// ICONE COUP DE COEUR
$color-icone-cdc:#a22139;
