/* $$DYN:ID3:NOFOOTER$$ */
div, td, .Marquee, .ListeVilles { font-family: Arial, Helvetica, sans-serif!important; }
.imputForm, select { font-size: 11px; margin-bottom: 3px; color: #000000; }
.ZoneSaisie, .Cp { letter-spacing: normal; color: #000066; }
.BoiteMoteurClassic { background: none; padding: 10px; border: none; }
.FormulaireTypeDeBien, .MoteurSurface, .MoteurBudget, .MoteurProximite, .MoteurListeVille, .MoteurSousTypeDeBien, .MoteurPieces, .MoteurSurfaceTerrain .MoteurRayon span { color: #000066; font-size: 12px; }
.TitreMoteurSurfaceTerrain { font-size: 12px; color: #000066; }
.MoteurTypeDeBien, .MoteurPieces, .MoteurSurface, .MoteurBudget, .MoteurProximite, .MoteurReference, .MoteurSurfaceTerrain { background: none; margin-bottom: 15px; line-height: 18px; font-size: 12px; }
.TitreTypeDeBien, .TitreNombreDePieces, .TitreMoteurSurface, .TitreMoteurBudget, .TitreMoteurProximite, .TitreMoteurListeVille, .TitreSousTypeDeBien, .TitreMoteurNbPersonnes, .TitreMoteurBudgetVac, .TitreMoteurEquipement, .TitreMoteurSituation, .TitreMoteurReferencement { display: block; height: 22px; background: none; padding-left: 10px; font-size: 14px; font-weight: bold; letter-spacing: normal; line-height: 22px; font-family: "Times New Roman", Times, serif; text-transform: none;  color:#002277; }
.MoteurBouton { padding-bottom: 15px;width: 131px; height: 21px; }
.Cp a { font-size: 11px; } 
.MoteurBudget select { float: none; width: 50px; }
.MoteurListeVilles select{color: black !important; width: auto;}

#MoteurPieces{
*padding-top: 10px;
}