/*------------ Page En Construction -----------------*/
#EnConstruction {text-align:center;}
#EnConstruction h5{font-size:17px; color:#DF0003; padding: 120px 0 15px 0; background:url($$_$$images/picto-construction.gif) center no-repeat;}
#EnConstruction a{font-weight:bold; color:#F39192;}
#EnConstruction a:hover{font-weight:bold; color:#DF0003;}
