.BandFlash{position:relative; width:1004px; z-index:0; margin-top:30px;}
#LogoFlash{position: absolute; top:18px; left:18px; z-index:50;}
/* HeaderBlanc */
#HeaderBlancFlash { height:17px; margin: auto; color: #5F8BCB; background: #fff url($$_$$images/FondBlanc.gif) repeat-x;} 
#HeaderBlancFlash img {position:absolute; left:151px; top:92px;}
#HeaderBlanc h1, #HeaderBlancFlash h1{
  position: absolute;
  left: 515px;
  top: 92px;
  font-size: 12px;
  color: #DF0003;
}

#HeaderBlanc h1 a, #HeaderBlancFlash h1 a{
  text-decoration:underline;
  color: #DF0003;
}
#BlocCDCIndex {width: 452px; margin:9px 16px 0 15px;}
.FondCDCIndex{width:220px; background:#DF0003; float:left; display:inline;}
.SepartCDC{width:12px; height:10px; float:left; display:inline;}
.SepartAnim{width:483px; height:10px;}
#HautCDCIndex{width:220px; height:8px; background:url($$_$$images/TopCdcIndex.gif) no-repeat;}
#BasCDCIndex{width:220px; height:8px; background:url($$_$$images/BottomCdcIndex.gif) no-repeat; overflow:hidden;}
#CDCIndex {margin:0 10px;}
#CDCIndex h1 {font-size: 13px; color: #fff; margin: 0 0 5px 0px; font-weight: bold;}
.AnimRegion{width:483px;}
#Centerindex {float: left; width: 483px; background: #F5F4F1; margin: 0px 10px 10px 10px;}

/* Bloc Cdc */
#CDCIndex h1 {font-size: 13px; color: #fff; font-weight: bold;}
#CDCIndex h2 {font-size: 11px; color: #fff; ont-weight: bold;height:30px;}
#CDCIndex h3 {font-size: 12px; color:#000; font-weight: bold;}
#CDCIndex h4 {font-size: 10px; color:#fff; margin: 0 0 0 9px; font-weight: normal;}
#CDCIndex span img {height: 2px; width: 200px; display: block; padding: 0; border: 0;}
#CDCIndex img { margin: 8px 0 0 0; width: 90px; height: 65px; border: 1px solid #fff; padding: 0;}
#CDCIndex a {color: #fff; font-size: 10px;}
#CDCIndex a:hover {color: #E1DDD4;}

/* descriptif express */
#CDCIndex .blocCDC a.photoCDC {position:relative;}
#CDCIndex .blocCDC a.photoCDC span {display:none;}
#CDCIndex .blocCDC a.photoCDC:hover {border: 0; text-decoration:none; z-index:500;}
#CDCIndex .blocCDC a.photoCDC:hover span {
	position: absolute; font-size: 11px; display: inline;	z-index: 500;  font-weight: normal;
    top: 10px; left: 0px; color: #000; width: 180px; padding: 10px 10px 10px 10px; margin: 0 !important 0 0 5px;
    margin:0px 10px 10px 8px; background: url($$_$$images/fond.gif) no-repeat top left #fff;	
	filter:alpha(opacity=95); -moz-opacity:0.97; opacity: 0.97; 
	cursor: pointer; border-bottom: 4px #666666 solid;
}

#Cdc a.Plus {color: #DF0003; font-size: 10px; background: url($$_$$images/bg_bouton_plus.png) left no-repeat; height: 14px; 
width: 211px; display: block; margin: 0 0px 0 10px; padding: 4px 0px 4px 0px; text-align: center;}

#Cdc a.Plus:hover { font-size: 10px; color: #424242;}

#menu {margin-left: 16px; height: 31px;	font-family: arial, sans-serif;
	$$IF=:DE$NL:FORM:LANG$$font-size:10px;$$END$$
	$$IF=:EN:FORM:LANG$$font-size:11px;$$END$$
	$$IF=:FR:FORM:LANG$$font-size:12px;$$END$$}

#menu li {text-align: left; display: block; background: #F39192; margin:2px 0 2px 0px; float: left;}

#menu li a,
#menu li a:link,
#menu li a:visited,
#menu li a:active {font-weight: bold; color: #DF0003; text-decoration: none; display: block; padding:3px 8px 3px 8px; margin:3px 0;}


/*-------------- Page Outils --------------*/
#Outils {width:100%; margin-left:10px;}
#Outils a {font-size: 11px; color:#DF0003; margin:8px 0 8px 10px; padding:0 0 0 15px; font-weight: normal; background:url($$_$$images/puce2.gif) left no-repeat;}
#Outils a:hover{font-size: 11px; color:#000; margin:8px 0 8px 10px; padding:0 0 0 15px; font-weight: normal; background:url($$_$$images/puce6.gif) left no-repeat;}

/*-------------- Bloc Annone --------------*/
#BlocAnnonces {position: relative; height: 27px; font-size: 11px; background: #fff;}
#BlocAnnonces span {position:absolute; top:7px; color: #565A5E; font-weight: normal; padding: 0 20px 0 0px; background: url($$_$$images/puce.gif) right no-repeat #fff;
	$$IF!:DE:FORM:LANG$$width:120px; left:153px;$$END$$
	$$IF=:DE:FORM:LANG$$width:140px; left:133px;$$END$$}
  
/*-------------- Bloc Mini-Moteur --------------*/ 
#Moteur .Rechercher, #Moteur2 .Rechercher {font-weight: bold;float: left; padding: 5px 5px 15px 5px;
  $$IF!:DE$NL:FORM:LANG$$width: 400px;$$END$$
  $$IF=:DE$NL:FORM:LANG$$width: 420px;$$END$$
}

#Moteur h1, #Moteur2 h1 {
  color: #DF0003;
  padding: 10px;
  $$IF=:NL:FORM:LANG$$font-size: 13px;$$END$$
  $$IF!:NL:FORM:LANG$$font-size: 14px;$$END$$
  font-weight: bold;
  float: left;
  background: url($$_$$images/puce2.gif) right no-repeat;
  padding-right: 15px;
}

#Moteur .ParametresType, #Moteur2 .ParametresType,
#Moteur .ParametresPieces, #Moteur2 .ParametresPieces,
#Moteur .ParametresSurface, #Moteur2 .ParametresSurface,
#Moteur .ParametresBudget, #Moteur2 .ParametresBudget,
#Moteur .ParametresVilles, #Moteur2 .ParametresVilles
{color: #fff; font-size: 10px; font-weight: bold; float:left; padding-left:16px; height:25px;
	$$IF=:FR$EN:FORM:LANG$$width: 280px;$$END$$
 	$$IF=:DE:FORM:LANG$$width: 340px;$$END$$
	$$IF=:NL:FORM:LANG$$width: 300px;$$END$$}
	
#Moteur .ParametresListe, #Moteur2 .ParametresListe {color: #fff; font-size: 10px; font-weight: bold; float:left; padding-left:16px; height:25px;
	$$IF=:FR$EN:FORM:LANG$$width: 280px;$$END$$
 	$$IF=:DE$NL:FORM:LANG$$width: 260px;$$END$$}

  
#Moteur a.Ven {background: url(../images/fleche_moteur.gif) #DF0003 center bottom no-repeat; float: left; color: #FFF; margin-left: 10px;
	$$IF!:DE$NL:FORM:LANG$$ padding:10px;$$END$$
	$$IF=:DE$NL:FORM:LANG$$ padding:10px 4px;$$END$$
	font-size: 11px; font-weight: bold; border-bottom: 2px solid #fff;}
	
#Moteur a.Loc {background:#fff; font-weight:bold; float:left; color:#DF0003; margin-left:10px; border-bottom: 2px solid #fff; font-size:11px;
	$$IF!:DE$NL:FORM:LANG$$ padding:10px;$$END$$
	$$IF=:DE$NL:FORM:LANG$$ padding:10px 4px;$$END$$}

#Moteur2 a.Loc {background:url(../images/fleche_moteur.gif) #DF0003 center bottom no-repeat; padding:10px; font-size:11px; font-weight:bold; float:left;
	color:#fff; margin-left:10px; border-bottom:2px solid #fff;}

#Moteur2 a.Ven {background:#fff; padding:10px; font-size:11px; font-weight:bold; float:left; color:#DF0003; margin-left:10px; border-bottom: 2px solid #fff;}

/*----------------- Page Carte ------------------*/
.TitreCarte{ margin:0px 15px;}
.TitreCarte h2{color:#FF9293; font-size:18px; font-weight:bold; margin-left:0}
.TitreCarte h5{color:#555656; font-size:11px; font-weight:bold; margin-left:10px}
.BlocCarte{margin:10px 15px; width:651px; background:url($$_$$images/FondCarte.gif) no-repeat;}
.CarteImg {padding:13px 0 13px 14px; position:relative;}
.TextCarte {width:230px; top:70px; left:410px; position:absolute;}
.TextCarte h5{font-size:12px; font-weight:normal; color:#555656; padding:0 0 20px 0; line-height:14px;}
.TextCarte h4{font-size:14px; font-weight:bold; color:#555656; line-height:12px;}
.TextCarte h4 a{font-size:11px; font-weight:bold; color:#FF0002; text-decoration:underline;}
.TextCarte h4 a:hover{font-size:11px; font-weight:bold; color:#F39192; text-decoration:underline;}
.TextCarte img{margin:5px 0 0 50px;}

/*------ Adresse Formulaire ---------*/
.AdressForm {text-align:center; font-size:14px; font-weight:bold; color:#565757;}
