// VAR COLORS
$color-body:#fff;
$color-content:#1a1a1a;
$color-block:#fff;
$color-primary:#fff;
$color-secondary:#560000;
$color-action:#b62525;
$color-important:#560000;
$color-nav-footer:#560000;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#560000;