// VAR COLORS
$color-body:#fafafa;
$color-content:#fafafa;
$color-block:#fff;
$color-primary:#fff;
$color-secondary:#ffa24d;
$color-action:#305094;
$color-important:#ffa24d;
$color-nav-footer:#444;

// COLOR PUB
$color-pub:"black-opacity";

// COLOR FONT BODY DEFAULT
$color-font-body:#444;