/* Redefinitions des balises HTML */ 
*{margin:0;padding:0;}
body {background-color:#820506;text-align:center;font-family:Arial, Helvetica, sans-serif; font-size:12px;}
a{text-decoration:none; color:#BF0302;}
a:hover{text-decoration:none; color:#800C0D;}
img{border:0}
h2{ color:#810A0B;}
/*base de site*/
#page{width:1000px;_height:812px; min-height:812px;margin:0 auto;text-align:left;background-color:#FFFFFF;text-align:left;}
#header{width:1000px;height:288px;position:relative;}
#contenu{width:985px;_height:524px;min-height:524px;padding:0 0 0 15px;}
#bas{width:992px;height:18px;display:table;padding:0 0 0 13px;font-weight:bold;font-size:11px;color:#BF0302;}
#bas a{color:#BF0302;}
#bas a:hover{color:#820506;}
#logo{position:absolute;top:15px;left:63px;}
#menu{width:1000px;height:35px;background:url(../images/pixelMenu.jpg) repeat-x;}
#menu ul{list-style-type:none;}
#menu li{width:125px;height:35px;float:left; text-align:center;line-height:32px;background:url(../images/separateur.jpg) no-repeat right;}
#menu li a{width:125px;height:35px;font-family:"Times New Roman", Times, serif;font-size:16px;color:#FFFFFF; line-height:32px;font-weight:bold;display:block;}
#menu li a:hover{background:url(../images/survol.jpg) no-repeat; color:#fff;}
#souMenu{width:1000px; height:34px; background:url(../images/pixelSoumenu.jpg) repeat-x;}
#miseajour{height:34px;font-size:10px;color:#FFFFFF;float:left; width:169px;}
#marquee{ width:709px; float:left; font-size:10px; color:#fff; margin-top:8px;}
#marquee a{ font-size:10px; color:#fff;}
#marquee a:hover{ font-size:10px; color:#FFC8C8; text-decoration:underline;}
#miseajour img{margin:11px 6px 0 6px;}
#dra{float: right; width:120px; text-align:center; margin-top:8px;}
#dra img{ line-height:22px; vertical-align:middle; margin:0 6px;}


#contenuGauche{width:677px;float:left;}
#contenuGauche #contHaut{width:678px;_height:226px;min-height:226px;}
#contenuGauche h3{width:595px;height:21px; background:url(../images/backFleche.jpg) no-repeat;padding:18px 0 0 53px; font-family:"Times New Roman", Times, serif;font-size:18px;color:#810A0B;}
.clear{clear:both;}
#photo{margin:28px 0 0 0; float:left; display:inline;}
#contHaut p{ width:218px;font-size:11px;color:#142C52;padding:27px 17px 0 17px; float:left;}
#nousituer{ width:232px;height:170px;float:left; margin:17px 0 0 0; display:inline;}
#nousituer #adresse{width:220px;height:125px; background:url(../images/pixelAdresse.jpg) repeat-x; border:solid 1px #FFC7C7; font-size:12px; font-weight:bold; color:#980405; padding:19px 0 0 10px;}
.sea{margin:17px 0 0 40px; float:left; display:inline;}
.fnaim{ margin:17px 0 0 5px; float:left; display:inline;}
#noussit{width:232px;height:24px; background:url(../images/backSituer.jpg) no-repeat;text-align:center; line-height:25px;}
#noussit a{font-size:12px;color:#F9F9F9;}
#noussit a:hover{color:#FFE700;}
#contenuGauche #contBas{width:678px;_height:251px;min-height:251px;margin:27px 0 0 0;}
.cdc{width:212px;height:197px;background:url(../images/backCdc.gif) no-repeat; margin:13px 6px 0 0;float:left;display:inline;}
#contenuDroit{width:307px; float:left;}
#recherche{width:303px; height:258px; background:url(../images/pixelRecherche.jpg) repeat-x; margin:5px 0 0 0;}
#recherche h3{ font-size:18px; color:#810A0B; padding:18px 0 0 12px;}
#rechercheDetaille{width:301px;height:48px; background:url(../images/pixelDetaillee.jpg) repeat-x; border:solid 1px #960305;}
#loupe{margin:10px 0 0 12px;float:left;display:inline;}
#rechercheDetaille span{margin:12px 0 0 17px; font-weight:bold; font-size:11px;color:#FFFFFF; float:left; display:inline; text-align:right;}
#rechercheDetaille span a{color:#FFFFFF;}
#rechercheDetaille span a:hover{color:#FFE700;}
#rechercheDetaille span img{margin:0 0 0 3px;}
#villes{width:256px;_height:143px;min-height:143px;background-color:#FFC8C8; border:solid 1px #FF9E9E;margin:13px 0 0 0;padding:27px 20px 0 25px;font-size:12px;color:#B73638;line-height:22px; font-weight:bold;}
#villes a { font-size:12px; color:#810A0B;}
#villes a:hover {font-size:12px; color:#C90606;}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.tabFond1{border-color:#97133B; border-width:0; border-style:solid; padding:2px; font-family:Arial, Helvetica, sans-serif; color:#000;}
.tabFond1 td{ padding:2px;}
.tabFond2{border-color:#97133B; border-width:1px; border-style:solid; padding:2px; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#820506;}
.tabTitre{background: url(../images/tabTitre.jpg) repeat-x; color: #fff; font-size: 11px; font-weight: bold; font-family:Arial, Helvetica, sans-serif;}
.tabCouleur{background-color:#97133B; border-color:#97133B; border-width:1px; border-style:solid; padding:2px; color: #820506;}

.txtTitre3 {
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		font-style: normal;
		font-weight: bold;
		color:#E0C880;
}
.encadre {
		
		background:#A10304;
		border: #7F0D0C 2px solid;
		padding:2px;}
.encadre p{color:#fff;}
/*--minimoeur--*/
.minimot input{ margin-bottom:10px;}
.tabFond2mini{ font-size:10px;color:#A34B4D;}
.tabTitremini{
		font-family:Arial, Helvetica, sans-serif;
		font-size:10px;
		color:#A34B4D;

	

}
.piece{font-family:Arial, Helvetica, sans-serif;
		font-size:10px;
		color:#96113C;
		width:80px; height:16px;
		border:1px solid #899AB7;
		background:#fff;
		margin-bottom:2px;
		
}
.typeBien{
		font-family:Arial, Helvetica, sans-serif;
		font-size:10px;
		color:#96113C;
		width:178px; height:18px;
		background:#fff;
		border:1px solid #899AB7;
		margin-bottom:2px;
		
}

.budget{
		font-family:Arial, Helvetica, sans-serif;
		font-size:10px;
		color:#96113C;
		background:#fff;
		width:40px;height:16px;
		border:1px solid #899AB7;
		
}

.proximite{
		font-family:Arial, Helvetica, sans-serif;
		font-size:10px;
		color:#96113C;
		width:50px; height:16px;
		background:#fff;
		border:1px solid #899AB7;
		
}
.minienvoyer{ background:url(../images/trait_jaune.gif)  left center no-repeat;}
.retait{ margin-right:12px;}
a.minilien{ font-size:10px; color:#fff;}
a.minilien:hover{ font-size:10px; color:#BDA43F;}
/*-- en construcction--*/
#EnConstruction{font-weight:bold; color:#A10304;}
#EnConstruction h5{ font-size:16px; color:#A10304;}
#EnConstruction a{ font-weight: bold; color:#EA0104;}
#EnConstruction a:hover{ font-weight: bold; color:#F48082;}

/*--outils--*/
ul#Outils *{text-decoration: none; font-size: 12px; font-weight: bold;}
ul#Outils{margin: 20px 100px; list-style: none; border-top: 1px solid #820506;}
ul#Outils li a{display: block; margin: 0 2px;color: #BA0305;}
ul#Outils li a:hover{color: #820506;}
ul#Outils li{padding: 3px 0;}
ul#Outils li.list{border-bottom: 1px solid #820506;}
ul#Outils li.list ul li.sousListe{padding: 3px 0 3px 50px; border-top: 1px dashed #820506;}

/*--plan--*/
ul#Plan *{text-decoration: none; font-size: 1em; font-weight: bold;}
ul#Plan{padding: 2em 8em; list-style: none;}
ul#Plan li.plan,
ul#Plan li.planAnnonces{border-bottom: 1px solid #820506; font-size: 1.4em; color:#820506;}
ul#Plan li.planAnnonces{margin: 2em 0 0 0;}
ul#Plan li{padding: 0.3em 0; border-bottom: 1px solid #820506;}
ul#Plan li .sousmenuplan{ margin-left:20px;}
ul#Plan li .sousmenuplan{ margin-left:20px;}
ul#Plan li a{display: block;margin: 0 2px; color: #BA0305;}
ul#Plan li a:hover{color: #820506;}
ul#Plan span.nbAnn{font-size: 0.9em;}
ul#Plan li ul{margin: 0 0 0 25px;}
ul#Plan li ul li.subListTitle{border: none;}
ul#Plan li ul li.subList{border-top: 1px dashed #820506; border-bottom: none;}
ul#Plan li ul li.subListVilles{width: 31%; float: left; position : relative; padding: 1em 0 0.5em 0; margin: 0 1em 0 0; }



