/* =================== */
.TableDetail

.TotalAnnonce {
	width: 690px;
	text-align: left;
	margin: 8px 0 0 8px;;
	padding: 0;
}

.TitreAnnonce {  
	text-align: left; 
}

.BoiteAnnonce {
	margin: 5px 0 0 0;
	width: 690px;
	border: 1px solid #d1e7fe;
	background: url($$_$$images/fond-detail.jpg) top left repeat-x #fff;
}

/* Ligne Titre Annonce */
.LigneTitreAnnonce {
	padding: 5px 0 0 0;
	margin: 0;
	border: none;
	width: 690px;
}

.InfosAnnonce, .InfosAnnonceVac {
	width: 100%;
	padding: 0;
	margin: -5px 0 0 0;
	text-align: left;
}

.DetailLibelleetPrix {
	background: url($$_$$images/fond-ligne1.jpg) repeat-x #0050a4;
	margin: 0;
	padding: 5px 0;
}
.DetailLibelleetPrix div{color: #fff;}
.DetailLibelle {
	font-size: 18px;
	text-align: left;
	font-weight: bold;
	padding-left: 5px;
}

.DetailPrix {
	float: right;
	margin: -20px 5px 0 0;
	font-size: 18px;
	font-weight: bold;
}

.DetailPrixFranc{
	display: none;
	visibility: hidden;

}

.DetailBack {
	display: block;
	text-align: right; 	
}

.DetailPhoto img{
	border: 5px solid #f7fcff;
}
.DetailPhotoPtformat table td{
	text-align: center;
}

.DetailVisuels360,
.DetailExclusif,
.DetailSituation,
.DetailFraicheur,
.DetailRefAnnonce,
.DetailProx{
	margin: 0 15px;
}
.DetailSituationCp{margin: 0 5px 0 0;}
.DetailSituation br{display: none;}

.DetailInfoComplementaire{
	border: none;
	width: 680px;
	margin: 5px 0;
	padding: 0;
}

.DetailInfoComplementaire table{
	width: 600px;
	margin: 0 0 0 15px;
}
.DetailInfoComplementaire li{
	margin:0;
	padding-bottom: 2px;
	display: block;
}

.DetailInfoTitre{
	background: url($$_$$images/fond-ligne1.jpg) repeat-x #dd521c;
	font-weight: bold;
	color:#fff;
}

.DetailAnnonce{
	margin: 0;
	background: #95abd0;
	padding: 0;
	width: 680px;
	font-weight: bold;
	color:#fff;
}
.DetailAgenceTxtPublic{display: none;text-align: justify; width: 95%;}
.DetailExclusif {
	font-weight: bold;
	font-size: 14px;
	font-style: italic;
	color: #D4000E;
}

.DetailDescriptif {
	padding: 5px;
}

.DetailAgence {
	display: block;
	width: 100%;
	padding: 0 15px;
	margin-top: 10px;
}
.DetailAgence strong{}
.DetailImprimer{
	display: block;
	width: 100%;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: center;
	border-bottom:1px solid #8498BF;
}

.DetailFormulaire{margin: 0;  padding: 0;}
.DetailFormulaire input{border: 1px solid #005792;}

.DetailFormulaireLib{
	display: block;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: center;
	border-bottom:1px solid #8498BF;
}

.DetailFormulaireForm {
	padding-left: 15px;
	padding-right: 3px;
	padding-bottom: 10px;
	margin-bottom: 5px;
	display: block;
	width: 100%;
}

.DetailHonoraires {
	display: block;
	background-repeat: no-repeat;
	background-position: 5px 2px;
	background-color: #E0E8F5;
	border-color: #1C2585;
	border-style: dashed;
	border-width: 1px;
	color: #526A8E;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	display: block;
	padding-left: 20px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: right;
}

.DetailTelephone {
	display: block;
	background-repeat: no-repeat;
	background-position: 5px 2px;
	background-color: #E0E8F5;
	border-color: #1C2585;
	border-style: dashed;
	border-width: 1px;
	color: #526A8E;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	padding-left: 20px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: right;
}
.DetailTelephone * {
	font-style: inherit !important;
	font-weight: inherit !important;
}

.DetailProx {
	display: block;
}

.DetailProximite img {
	display: none;
}

.DetailDtFraicheur{
	display: none;
	visibility: hidden;
}

.DetailRefAnnonceLib, .DetailFraicheurLib {
	display: inline;
	font-weight: bold;
}