// VAR COLORS
$color-body:#ffffff;
$color-content:#1a1a1a;
$color-block:#ffffff;
$color-primary:#12afd1;
$color-secondary:#22647a;
$color-action:#1a808f;
$color-important:#14c3e8;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;

//#427dcb