// VAR COLORS
$color-body:#fff;
$color-content:#4b494a;
$color-block:#f2f2f2;
$color-primary:#FFF;
$color-secondary:#4b494a;
$color-action:#4b494a;
$color-important:#c82526;
$color-nav-footer:#4b494a;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#2a2728;
