body 
{font-family:verdana, Arial, Helvetica, sans-serif;	font-size:11px;	color:#2F309D; background:#FFAC00;	margin:16px 0; text-align:center;}

td
{font-family:verdana, Arial, Helvetica, sans-serif; font-size:11px;	color:#2F309D;}

p
{margin:0; padding:0;}

a
{font-family:verdana, Arial, Helvetica, sans-serif;	font-size:11px;	color:#2F309D; text-decoration:underline;}

a:hover 
{font-family:verdana, Arial, Helvetica, sans-serif;	font-size:11px;	color:#12B5F0; text-decoration:underline;}

dl, dt, dd, ul, li {margin: 0; padding: 0; list-style-type: none;}

#Page{width:774px; margin:0 auto; text-align:right;}
#Corps{	width:760px; background-color:#FFFFFF; border:1px solid #41187A;}

/*----------------Header---------------*/
#Header{ width:760px; height:122px;	position:relative;	background:url(../images/FondLogo.jpg) no-repeat 221px 17px;}
.Drapeau{position:absolute;	top:-8px; left:226px; z-index:2;}
.Drapeau img{border:1px solid #2F309D; margin-right:8px;}
#Logo{position:absolute; top:-3px; left:-26px;}
#BandFlash{	position:absolute; top:0; right:0;}

/*------------Menu Horizontal--------------*/
#MenuHorz{width:760px; height:27px; background:url(../images/PxFdMenu.gif) repeat-x; text-align:right; position:absolute; top:95px; right:0;}
#MenuHorz dl{float:right; margin:0; padding:0;}
#MenuHorz dt{cursor: pointer; text-align:center; margin:0; line-height:26px; background:url(../images/FdMenuHorz.gif) no-repeat; font-size:12px;
			font-weight:bold; color:#FFF;}
.RubHorz1{width:206px; height:27px; text-align:center;}
#smenu1{display:none;}
#smenu1 li a{color:#000; text-align:center;	text-decoration: none; display: block; width:206px;	height:16px; border-bottom:1px solid #000000; background:#FFAC00; font-size:9px;}
#smenu1 li a:hover{background:#FFD680; color:#000; text-decoration:none; font-size:9px;}
.RubHorz2{width:164px; height:27px; display:block; text-align:center;}
#smenu2{display:none;}
#smenu2 li a{color:#000; text-align:center;	text-decoration: none; display: block;width:164px;	height:16px; border-bottom:1px solid #000000; background:#FFAC00; font-size:9px;}
#smenu2 li a:hover{background:#FFD680; color:#000; text-decoration:none; font-size:9px;}
.RubHorz3{width:196px; height:27px; display:block; text-align:center;}
#smenu3{display:none;}
#smenu3 li a{color:#000; text-align:center;	text-decoration: none; display: block; width:196px;	height:16px; border-bottom:1px solid #000000; background:#FFAC00; font-size:9px;}
#smenu3 li a:hover{background:#FFD680; color:#000; text-decoration:none; font-size:9px;}

#DivMiddle{width:760px;}

/*--------------- Bloc droite --------------*/
#BlocDrt{position:relative; width:217px; float:left; display:inline; height:2px;}

/*----------- Menu Vertival-----------------*/
#BlocMenu{width:202px; height:401px; position:absolute; background-color:#FFFFFF; border:1px solid #41187A; top:-34px; left:-12px;}

.Rubrique{position:absolute; top:6px; left:14px; line-height:26px; font-size:12px; font-weight:bold; color:#00B3EF; text-align:left;}

#MenuVert{width:201px; height:284px; text-align:left; position:absolute; top:50px; left:10px;}
.rubVert{margin:0 0 12px 0; padding:0; position:relative;}
.rubVert a{background:url(../images/FdMenuVert.jpg) no-repeat; height:20px; width:159px; display:block; padding:5px 0 0 42px; font-size:12px; font-weight:bold; color:#FFF;
			text-decoration:none;}
.rubVert a:hover{background:url(../images/FdMenuVert.jpg) no-repeat; height:20px; width:159px; font-size:12px; font-weight:bold; color:#FFF; text-decoration:none;}
.ssMenuVer{display:none; position:absolute; top:25px; left:0px; width:206px;}
.ssMenuVer li a{border-bottom:1px solid #000; color: #000; text-align:center; text-decoration: none; display: block; width:206px; height:15px; background:#FFAC00;
				font-size:9px; padding:0; font-weight:normal;}
.ssMenuVer li a:hover{background:#FFD680; color:#000; text-decoration:none; font-size:9px; width:206px; height:15px; display:block; font-weight:normal;}
					
/*------------ Bloc Membre -------------*/
#Membre{width:201px; position:absolute; top:341px; left:-22px;}
#Membre img{margin-right:18px; vertical-align:middle;}
#Membre span{font-size:13px; font-weight:bold; color:#2F309D;}
				
/*------------ Bloc Partenaire --------------*/
#BlocPart{width:202px; height:114px; position:absolute; background-color:#FFFFFF; border:1px solid #41187A; top:375px; left:-12px;}
#Part{position:absolute; top:5px; left:10px; font-weight:bold; font-size:13px; text-align:left;}
#Part img{margin:16px 40px;}
#AllPart{width:180px; text-align:right; font-size:10px; font-weight:normal;}
#AllPart a{color:#2F309D; text-decoration:underline;}
#AllPart a:hover{color:#00B3EF; text-decoration:underline;}

/*------------Contenu------------*/
#Contenu{width:543px; float:left; display:inline; z-index:0;}
#MiniHeight{float:left; width:0; height:509px; display:inline;}
#Vide{clear:both;}

					/*------------- Index ----------------*/

#BlocMoteur{width:288px; float:left; display:inline; margin-top:8px; text-align:left;}
#BlocText{width:230px; float:left; display:inline; text-align:justify; line-height:15px;}
#BlocText span{ display:block; text-align:right;}


/*----------------MiniMouteur---------------------*/
#BlocMiniMoteur{width:263px; background:url(../images/PxFdMinimoteur.gif) repeat-y;}
#TitreMiniMoteur{font-size:13px; font-weight:bold; margin-left:20px; height:18px;}
#MiniMoteur{width:225px; margin-left:20px; height:292px;}

/*----------------TextAccueil---------------------*/
.TitreBold{font-size:13px; font-weight:bold; margin:20px 0 10px 0;}
.Transversal{width:176px; text-align:center; margin-left:20px; font-weight:bold;}
.Transversal img{border:1px solid #4343A6; margin:3px 0;}

/*---------------Espace Pro-----------------*/
#BlocEspace{width:242px; height:134px; margin:6px 0 0 10px; border:2px solid #3A3AA2;}
#FormEspace{width:147px; margin:9px 0 0 7px; text-align:left; float:left; display:inline;}
#FormEspace span{font-size:13px; font-weight:bold;}
#FormEspace form{font-size:12px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; margin-top:3px; display:inline;}
.ZoneTxt{width:110px; height:16px; border:1px solid #656B6C; font-size:10px; color:#000; margin-bottom:5px;}
.botton{margin-left:30px;}
#PhotoEspace{width:78px; margin-top:12px; text-align:left; float:left; display:inline;}
#PhotoEspace img{border:1px solid #3A3AA2;}

/*-----------Footer--------------*/
#Footer{width:750px; height:20px; background:#2F309D; font-size:10px; color:#FFFFFF; text-align:right; line-height:20px; padding-right:10px;}
#Footer span{margin:0 6px;}
#Footer a{font-size:10px; color:#fff; text-decoration:none;}
#Footer a:hover{font-size:10px; color:#fff; text-decoration:underline;}

/*------------ Page En Construction -----------------*/
#EnConstruction h5{font-size:14px; color:#ED6900;}
#EnConstruction a{font-weight:bold;}
#EnConstruction a:hover{font-weight:bold;}

/*---------- classes de l'incl_moteur -------------*/
.tabMoteur{margin-top:8px;}
.tabTitremini{font-size:11px; line-height:18px;}
.PlusCritere{font-size:11px; padding-bottom:7px;}
.typeBien{font-size:11px; height:16px; width:206px; border:2px solid #7B7D7D; background-color:#FFFFFF; text-align:left;}
.Surface{font-size:11px; height:12px; width:46px; border:2px solid #7B7D7D; text-align:left;}
.budget{font-size:11px; height:12px; width:70px; border:2px solid #7B7D7D; text-align:left;}
.proximite{font-size:11px; height:14px; width:40px; border:2px solid #7B7D7D; text-align:left;}

/*-------------TABLEAUX---------------*/
.tabFond1{border-color:#AD1F07; border-width:0; border-style:solid; padding:2px; font-family:Arial, Helvetica, sans-serif;; color:#FFFFFF;}
.tabFond2{background-color:#FECD04; border-color:#1E445F; border-width:1px; border-style:solid; padding:2px; font-size:12px; font-family:Arial, Helvetica, sans-serif;color:#FFFFFF;}
.tabTitre{background:url(../images/PxFondVt.gif) repeat-x #D1591C; color:#FFF; font-weight:bold; font-size:13px; border:1px solid #FFC579;}
.tabCouleur{background-color:#8DA4B2; border-color:#AD1F07; border-width:1px; border-style:solid; padding:2px; color:#AD1F07;}


/*----------------- CLASSES MISE EN PAGE GUIDE PRATIQUE -------------------*/

.txtTitre3 {font-family:Arial, Helvetica, sans-serif; font-size:12px; font-style:normal; font-weight:bold; color:#AD1F07;}
.gras {font-family:Arial, Helvetica, sans-serif; font-size:12px; font-style:normal; font-weight:bold; color:#821705;}
.encadre {background-color:#FFC600; border-color:#AD1F07; border-width:1px; border-style:solid; padding:2px; color:#AD1F07;}	


/************** Classe Page Print-annonce-----------------*/

.tabPrint{border:1px solid #fff; padding:4px; background-color:#000; text-align:center;}
.tabPrint2 {background-color:#FEFEFE; border:1px solid #000000;}
.tabPrint2 td{padding:2px; font-family:Arial, Helvetica, sans-serif;}
