/* $$DYN:ID3:NOFOOTER$$ */

.RecherchePanier img,.RechercheProximite img {display:none;}
.RecherchePanier span,.RechercheProximite span {display:block;padding:2px 0 5px 0;}

.contenuBoutonLegende{display:none;}

.Ligne1 {
	background-color: #2F309D;
 } 
 
 .Colonne1{padding-bottom:3px;}
 
 .ColonnePhoto {
 margin-top:5px;
 margin-left:5px;
$$IF!:8:FORM:IDTT$$
	width: 30%;
$$END$$
$$IF=:8:FORM:IDTT$$
	width: 30%;
$$END$$
}

.ColonnePhoto img{
	border-color:#2F309D;
}

.ColonnePhotoExclusif {
$$IF!:8:FORM:IDTT$$
	width: 30%;
$$END$$
$$IF=:8:FORM:IDTT$$
	width: 30%;
$$END$$
}
.ColonneDescriptif {
$$IF!:8:FORM:IDTT$$
	width: 68%;
$$END$$
$$IF=:8:FORM:IDTT$$
	width: 68%;
$$END$$
}

.ColonnePicto {
	padding-top: 5px;
	margin: 0 0 0 5px;
	float: left;
	display:inline;
$$IF!:8:FORM:IDTT$$
	width: 100%;
$$END$$
$$IF=:8:FORM:IDTT$$
	width:100%;
$$END$$
}


.RechercheBoitePrestige{}

.rechercheboiteprestigelien img{width: 150px;
	height :100px;}

.Picto{float:left;display:inline;}

.RechercheDescriptif{text-align:justify;}

.RecherchePlan {display:none;}

.RechercheProximite,.RecherchePanier,.RecherchePlanLocalite{float:left;padding:0 5px 0 5px;text-decoration:underline;}

.RecherchePlanLocalite{padding:3px 5px 0 5px;}
.RecherchePlanLocalite img {display:none;}
.RecherchePlanLocalite span {display:inline;}

.RechercheTelephone {
	display: inline;
	float:right;
	padding:2px 2px;
	width: 200px;
	margin-right:10px;
}

.RechercheSituation,.RechercheLibelle {
	padding-left:5px;
}

.RechercheSituationProximite{float:left;margin-left:5px;}

/* Boite Alerte Email */

.AlerteEmail a{
	color: #1C2585;
}

.AlerteEmail a:hover {
	text-decoration:none;
	color:#00B3EF;
}

.AlerteGratuit a {
	color : #1C2585;
}

.AlerteGratuit a:hover {
	color:#00B3EF;
	text-decoration:none;
}

/*  Fin Boite Alerte Email */

.RecherchePlusInfo a {
	color: #00B3EF;	
	font-weight:bold;
}
.RecherchePlusInfo a:hover {
	font-weight:bold;
	color: #00B3EF;
	text-decoration: none;
}

.RechercheHautLien {
	padding-left:5px;
}
.NbPages{padding-bottom:5px;}
.NbPagesNb{float:left;}
.NbPagesLiens{float:right;}
