// VAR COLORS
$color-body:#262626;
$color-content:#262626;
$color-block:#1a1a1a;
$color-primary:#262626;
$color-secondary:#262626;
$color-action:#9b162e;
$color-important:#262626;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#8c8c8c;
