body {
	margin-left: 0px;
	margin-top: 0px;
	background-color:#E7EFF7;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
}

table.generale {
	border: 1px solid;
	border-color: #000000;
	vertical-align: top;
	text-align:center;	
}



p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	
}
td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#0066CB;
}


a
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#0D0A8F;
	text-decoration: none;
	
		}
a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#A4A3D5;
	text-decoration:none;
	
}

.titro
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#0066CB;
	
}
a.seloger{
	font:Verdana, Arial, Helvetica, sans-serif;
	color:#ffffff;
	font-size:10px;
	text-decoration:none;

}
a.seloger:hover{
	font:Verdana, Arial, Helvetica, sans-serif;
	color:#ffffff;
	font-size:10px;
	text-decoration:none;
}
.suite
{
	font:Verdana, Arial, Helvetica, sans-serif;
	color:#ffffff;
	font-size:10px;
}
 .suite1
{
	font:Verdana, Arial, Helvetica, sans-serif;
	color:#ffffff;
	font-size:10px;
	background-image:url(../images/footer.jpg);
}
   .adresse{
   font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#FFFFFF;
}
 .adresse1{
   font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#0B0A8C;
	
}

a.langues
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#0B0A8C;
	text-decoration: none;
	
		}
a.langues:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#0B0A8C;
	text-decoration:none;
	
}



.fonddroite
{
background-image:url(../images/pix_barre_droite.jpg);
}
.fond_menu
{
background-image:url(../images/pix_bas_menu.jpg);
}

/*TABLEAUX*/  

.tabFond1{ border-color:#0066CB; border-width:0; border-style:solid; padding:2px; font-family:Arial, Helvetica, sans-serif; color:#ffffff;}

.tabFond2{border-color: #0066CB; border-width:1px; border-style:solid; padding:2px; font-size:12px; font-family:Arial, Helvetica, sans-serif;  color:#ffffff;}

.tabTitre{background-color:#0066CB; color: #ffffff; font-size: 11px; font-weight: bold; font-family:Arial, Helvetica, sans-serif; }

.tabCouleur{background-color: #0066CB; border-color: #D3B867; border-width:1px; border-style:solid; padding:2px; color: #ffffff ;}


/* CLASSES MISE EN PAGE GUIDE PRATIQUE */
	
.txtTitre3 {

font-family: Arial, Helvetica, sans-serif;

font-size: 12px; 

font-style: normal; 

font-weight: bold; 

color: #000000;

}



.gras {

font-family: Arial, Helvetica, sans-serif;

font-size: 12px; 

font-style: normal; 

font-weight: bold; 

color:#0C0B8D;

}



.encadre {

background-color:#E0ECF8; 

border-color:#0669CE; 

border-width:2; 

border-style: solid; 

padding:2;
}
