/* CSS Document */
body{
		background-color:#A31713;
		margin:0px auto;
		font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
		color:#020202;
		text-align:center;
}

.h4nobr
{	
		font-family:Arial, Helvetica, sans-serif;
		font-size:11px; 
		font-weight:bold;
		color:#020202;
}

td{
		font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
		color:#020202;
}

a{ 	
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size: 11px;
		color:#A31713;
		text-decoration:none;
}

a:hover
{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size: 11px;
		color:#E7B875;
		text-decoration:none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Annonces villes~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#villes td
{
		font-family:Arial, Helvetica, sans-serif;
		font-size: 11px;
		color:#FFFFFF;
}

#villes a
{
		font-family:Arial, Helvetica, sans-serif;
		font-size: 11px;
		color:#FFFFFF;
		text-decoration: none;
}

#villes a:hover
{
		font-family:Arial, Helvetica, sans-serif;
		font-size: 11px;
		color:#E7B875;
		text-decoration: none;
}








/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Embres~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.ebmbreTop{
		background-image:url(../images/embre-top.gif);
		background-repeat:repeat-x;
}

.ebmbreBas{
		background-image:url(../images/embre-bas.gif);
		background-repeat:repeat-x;
}


.ebmbreG{
		background-image:url(../images/embre-gauche.gif);
		background-repeat:repeat-y;
}

.ebmbreD{
		background-image:url(../images/embre-droite.gif);
		background-repeat:repeat-y;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~MILIEU~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.fondDegrader{
		background-image:url(../images/degrader.gif);
		background-position:bottom;
		background-repeat:repeat-x;
}

.adre{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10px;
		font-weight:bold;
		color:#A31713;
		padding-top:12px;
		padding-right:10px;
}

#adre a{		
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10px;
		font-weight:bold;
		color:#A31713;
		text-decoration:none;
}

#adre a:hover{		
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10px;
		font-weight:bold;
		color:#FFF;
		text-decoration:none;
}

.adresse{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10px;
		color:#FFFFFF;
		padding-left:7px;
}

#en a{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:9px;
		font-weight:bold;
		color:#FFF;
		text-decoration:none;
}

#en a:hover{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:9px;
		font-weight:bold;
		color:#E7B978;
		text-decoration:none;
}

.fondSituer{
		background-image:url(../images/fond-situer.gif);
		background-repeat:no-repeat;
}

#situer a{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10px;
		font-weight:bold;
		color:#A31713;
		padding-left:24px;
		text-decoration:none;
}

#situer a:hover{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10px;
		font-weight:bold;
		color:#FFF;
		padding-left:24px;
		text-decoration:none;

}


.fondMenu{
		background-image:url(../images/fond-menu.gif);
		background-repeat:no-repeat;
		background-position:top left;
}


.fondTitre{
		background-image:url(../images/fond-titre.gif);
		background-repeat:no-repeat;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10px;
		font-weight:bold;
		line-height:9px;
		color:#FFF;
		padding-left:23px;
}

#rub a{
		background-image:url(../images/fond-rub.gif);
		background-repeat:no-repeat;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10px;
		font-weight:bold;
		line-height:11px;
		color:#FFF;
		padding-left:22px;
		display:block;
		text-decoration:none;
		
}

#rub a:hover{
		background-image:url(../images/fond-rub.gif);
		background-repeat:no-repeat;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10px;
		font-weight:bold;
		line-height:11px;
		color:#E7B978;
		padding-left:22px;
		display:block;
		text-decoration:none;
}

#menu a{
		background-image:url(../images/fond-rub.gif);
		background-repeat:no-repeat;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10px;
		font-weight:bold;
		line-height:11px;
		color:#FFF;
		padding-left:22px;
		display:block;
		text-decoration:none;
		
}

#menu a:hover{
		background-image:url(../images/fond-rub.gif);
		background-repeat:no-repeat;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10px;
		font-weight:bold;
		line-height:11px;
		color:#E7B978;
		padding-left:22px;
		display:block;
		text-decoration:none;
}


.cdc{
		background-image:url(../images/fons-cdc.gif);
		background-repeat:no-repeat;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		font-weight:bold;
		line-height:11px;
		color:#FFF;
		padding-left:22px;
		text-decoration:none;
}

.borderTab{
		border-left:2px solid #F8E4C3;
}

.fondSeloger{
		background-image:url(../images/fon-seloger.gif);
		background-repeat:no-repeat;
}

.urlPos{
		padding-left:20px;
}

.txtAgence{
		font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
		color:#020202;
		padding-left:2px;
		padding-top:20px;
}

.posAgence{
		padding-left:22px;
		padding-top:25px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Coup de coeur~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#info a{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10px;
		color:#020202;
		text-decoration:none;
}

#info a:hover{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10px;
		color:#E7B978;
		text-decoration:none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Seloger INDEX~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#seloger{ 
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px; 
		color:#FFF;
		padding-right:17px;
		padding-top:26px;
}

#seloger a{ 
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px; 
		color:#FFF;
		text-decoration:none;
}

#seloger a:hover{ 
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px; 
		color:#AD3028;
		text-decoration:none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Seloger NAV~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#selogerNav{ 
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10px; 
		color:#A31713;
		padding-right:17px;
}

#selogerNav a{ 
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10px; 
		color:#A31713;
		text-decoration:none;
}

#selogerNav a:hover{ 
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10px; 
		color:#FFF;
		text-decoration:none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~TABLEAUX-----------------------*/
table{
text-align:left;
}
.tabFond1{border-color:#E7B875; border-width:0; border-style:solid; padding:2px; color:#020202;}
.tabFond2{border:#E7B875 1px solid; padding:2px; font-size:12px; color:#020202;}
.tabFond10{border-color:#E7B875; background-color:#F8E4C3; border-width:4px; border-style:double; padding:2px; font-size:12px; color:#020202;}
.tabTitre{background-color:#A31713; color:#FFF; font-size: 11px; font-weight: bold;}
.tabCouleur{background-color:#A31713; border-color:#E7B875; border-width:1px; border-style:solid; padding:2px; color:#FFF;}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~CLASSES MISE EN PAGE GUIDE PRATIQUE ~~~~~~~~~~~~~~~~*/
.txtTitre3 {
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		font-weight: bold;
		color:#A31713;
}

.gras{
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		font-weight: bold;
		color:#A31713;
}

.encadre{
    text-align:left;
		background-color:#A31713;
		color:#FFF;
		border-width:1px;
		border-style:solid;
		border-color:#F8E4C3;
		padding:2px;
}

