// VARIABLES COLORS
$color-body:#e2dfcf;
$color-content:#fff;
$color-block:#eeeeee;
$color-primary:#f7f7f7;
$color-secondary:#004c82;
$color-action:#004c82;
$color-important:#00253a;
$color-nav-footer:#00194F;

$color-px-module:#FDC300;

// COLOR PUB
$color-pub:"black-opacity";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;
