$$REM$$/*====================================================================
//// <summary>Fichier CSS À DÉMUTUALISER POUR CHAQUE SITE</summary>
//// <remarks>
//// <para>Pour plus de rapidité, intégrer les macros du fichier 'all_global_macros.css'</para>
//// </remarks>
//// <update date="2010-02-16" author="lisbonne.siriphol">Création</update>
====================================================================*/$$END$$

<!--#include virtual="styles/all_global_macros.htm" -->

#TopHeader_Ctn {border:none; background: #fff; display:none;}



#Header { margin: auto;
    padding: 10px 20px 0 0;
    position: relative;
    text-align: left;
  width: 1000px;}

#Header_Ctn {background: url($$_$$/images/bg_head.png) 0 0 repeat-x;}
#HeaderTxt p {color:#000; }
#HeaderTxt strong {color:#000; }

ul#Menu li a{font-weight:bold; font-size:14px;}
.smenu{display:none; position:absolute; top:155px;left:252px;z-index:10; background:none; width:152px;text-align:left;}

#Visuel_Ctn {background:#000;}

#PortefeuilleAccueil ul li a:hover {color:#F9B400;}
#PortefeuilleAccueil h6 {display:none;}

.selectionIndex_Ctn {background:#444;}

#Menu_Ctn {background:#F9B400;}

#FormContactAgence .inputText, #FormContactAgence .inputSelect, #FormContactAgence .inputTextarea {background:#fff; color:#000;}

#Moteur .inputText, #Moteur .inputSelect, #Moteur .inputTextarea {background:#fff; color:#000;}

#Coordonnees_Ctn {background:#fff;}
#Coordonnees .agenceNom, #Coordonnees .agenceAdresse, #Coordonnees .agenceTel, #Coordonnees .agenceFax, #Coordonnees .agenceEmail, #Coordonnees .agenceCP, #Coordonnees em, #Coordonnees .agenceEmail .encodemail {color:#000;}

#FooterBottom, #FooterBottom a,#FooterBottom .realisation,#FooterBottom .sepSep {color:#000;}


/* detail */
#CguFormulaire, #AgenceMentions p {color:#000;}


#VisuelAccueil .photographe{float:right;}

.selectionNouveau,#container #Nouveau{display: none;}
.majAnn, .majAnn *{color:#eee;}

#PortefeuilleAccueil h4{padding: 10px 0 3px 0;}
.RechResultat .blocAnnonce .descrAnn_Ctn p.libelle{ display: none; }

