// VAR COLORS
$color-body:#fff;
$color-content:#fff;
$color-block:#fff;
$color-primary:#8b000d;
$color-secondary:#36352d;
$color-action:#99071e;
$color-important:#36352d;
$color-nav-footer:#fff;
// COLOR PUB
$color-pub:"white";
// COLOR FONT BODY DEFAULT
$color-font-body:#36352d;