// VARIABLES COLORS
$color-body:#eee;
$color-content:#eee;
$color-block:#fff;
$color-primary:#fff;
$color-secondary:#184992;
$color-action:#184992;
$color-important:#424143;
$color-nav-footer:#184992;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#424143;
