// VAR COLORS
$color-body:#fff;
$color-content:#1a1a1a;
$color-block:#fff;
$color-primary:#000;
$color-secondary:#e5e6e4;
$color-action:#b81e24;
$color-important:#dedede;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;