body { margin:0;padding:0; text-align:center; background: #fff; }
div,td { font-family: Arial, Helvetica, sans-serif;font-size:12px;color:#000;}
img { border:none;display:inline;}
table  { border-collapse:collapse;border-spacing:0;}
td, th { padding:0;}
form { padding:0;margin:0;}
input, select { vertical-align:middle;}
a { text-decoration:none;color:#6d071a;}
a:hover { text-decoration: none; color: #3a3939;}
p { margin:10px 0;}

.clear { clear:both;}
.fleft { float:left;}
.fright { float:right;}

.fonts { font-family: Arial,sans-serif; }

/*===========================================*/

#wrapper { background: url($$_$$images/bg_wrapper.gif) repeat-x  #fff; width: 100%; }
#wrap { position: relative; width: 972px; text-align: left; margin: 0 auto; }

#top-head { height: 173px; overflow: hidden; background:url($$_$$images/bg_top.jpg) repeat-x #fff; }

.acc-head { padding: 10px 20px 0 0; font-size: 11px; }
.logo { width: 180px; padding-left: 30px; }
#w-mot { width: 555px; padding-top: 38px; }

.trad { position:absolute; top: -5px; right: 15px; }

.slogan { position:absolute; left: 210px; width: 270px; top: 40px; }
.pic-phone { background:url($$_$$images/pic-phone.gif) no-repeat; width: 137px; padding-left: 40px; height: 33px; line-height: 33px; color: #fff; font-size:18px; float: left; font-family: Arial,sans-serif; margin: 0 0 0 110px; }

.pic-mail { background: url($$_$$images/pic_envelop.gif) no-repeat; padding-left: 45px; height: 33px; line-height: 33px; width: 210px; float: right; }
.pic-mail a { color: #fff; font-size: 14px; font-family: Arial,sans-serif;}
.pic-mail a:hover { text-decoration:underline; }

#main-mot { height: 114px; background: url($$_$$images/bg_main_mot.gif) no-repeat; overflow: hidden; margin-top: 8px; }
#bloc-moteur  { position: relative; margin-right: 15px; }
.ttl-bloc { color: #000; font-size: 18px; font-family: Arial,sans-serif;}

.mn { position: relative; height: 42px; z-index:20; }
.mn ul { margin: 0; padding: 0; text-align:center;}
.mn ul li { list-style: none; display:inline-block; height: 42px; }
.ie7 .mn ul li {display:inline; zoom:1;}
.mn ul li a { font-size: 14px; font-family: Arial,sans-serif; text-transform: uppercase; padding: 0 18px; line-height: 42px; display: block; color: #fff; font-weight:bold; }
.mn ul.en  li a  { padding: 0 22px;}
.mn ul li a:hover { color: #ffeb01; }



#navigue { padding: 15px 0; min-height: 450px; width: 960px; margin: 0 auto; }

#flash { height: 283px; overflow: hidden;}

#page_gestion .ttlgris {background:#000000;color:#fff; width:100%; display:block;text-align:center;font-size:18px; font-weight:bold; padding:10px 0;}
#page_gestion .subtitle {display:block;width:100%; text-align:center; font-size:16px; font-weight:bold;color:#6D071A;font-style:italic;}

.p-lg { width: 73px; padding:52px 13px 0 22px; }
.bienv { width: 205px; font-size: 19px; padding:10px 20px 10px 0; text-align:right; text-transform:uppercase; border-right:10px solid #6D071A; line-height:24px; margin-top:17px;}
.bienv strong { color: #b11117; display: block; font-size: 17px; font-weight: normal; }
.txt-index { width: 650px; padding: 0 0 0 25px; line-height: 18px; font-size:12px; position:relative; }

.link-savoir { position:absolute; bottom: 5px; right: 0; color: #fff; background: #6d071a; padding: 2px 15px; font-family: Arial,sans-serif; font-size: 15px; display: inline-block; }
.link-savoir a { color: #fff; }

#bloc-cdc { background: #fff; padding: 10px 0; width: 960px; margin:5px auto 10px auto; -moz-box-shadow: 0px 0px 6px #7e8182; -webkit-box-shadow: 0px 0px 6px #7e8182; box-shadow: 0px 0px 6px #7e8182; }

.bg-mailto, .bg-agc { background: url($$_$$images/bg_mailto.gif) no-repeat; width: 475px; height: 115px; }
.bg-mailto {margin-left:6px;}
.bg-agc { background: url($$_$$images/bg_agc.gif) no-repeat; margin-right:5px;}
.ttl-b { font-size: 16px; text-transform: uppercase; line-height: 32px; padding-left: 15px; }
.main-mail, .main-agc { width: 275px; padding: 5px 0 0 10px; color: #000; line-height: 18px; }
.main-agc { width: 335px; }

.main-mail a, .main-agc a { color: #fff; background: #6d071a; padding: 2px 15px; font-family: Arial,sans-serif; font-size: 15px; margin-top: 10px; display: inline-block; }

.w-foot { background: url($$_$$images/w_foot.gif) repeat-x #fff; width: 100%; margin: 12px auto; }
.m-foot { position: relative; text-align: left; width: 964px; margin: 0 auto; }
.bg-rs { background: url($$_$$images/bg_f.gif) no-repeat; height: 65px; }
.l-foot a { width: 280px; font-size: 12px; padding: 18px 0 0 45px; display: block; color: #fff; font-family: Arial,sans-serif; }
.c-foot { width: 230px; font-size: 12px; padding-top: 18px; color: #fff; padding-left: 25px; font-family: Arial,sans-serif; }
.r-foot { text-align: right; width: 350px; font-size: 14px; padding: 15px 15px 0 0; color: #fff; font-family: Arial,sans-serif; }
.r-foot strong { display: block; color: #fff; font-weight: normal; }

.link-f { text-align: center; color: #000; padding: 0 0 20px; }
.link-f a { color: #000; }

.l-foot a:hover, .link-f a:hover { color: #6D071A; }
.url-bot { font-weight: bold; text-align:center; }

.ttl-pages { color: #6d071a; font-size: 24px; margin-bottom: 10px; text-transform: uppercase; }

#RechHautV2 h1 {font-size: 26px;font-weight: bold;text-transform:uppercase;}

