// VARIABLES COLORS
$color-body:#000;
$color-content:#000;
$color-block:#2a2a2a;
$color-primary:#444;
$color-secondary:#222;
$color-action:#ccc;
$color-important:#999;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#fff;
