// VAR COLORS
$color-body:#fff;
$color-content:#f3f3f3;
$color-block:#f2f0f0;
$color-primary:#ffffff;
$color-secondary:#5754fe;
$color-action:#1e1b7a;
$color-important:#5754fe;
$color-nav-footer:#5754fe;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#3c332e;

// ICONE COUP DE COEUR
$color-icone-cdc:#1e1b7a;

// COLOR ORANGE
$color-gris:#b3b2b2;
