// VAR COLORS
$color-body:#e5e5e5;
$color-content:#ededed;
$color-block:#ededed;
$color-primary:#FFF;
$color-secondary:#ee7f01;
$color-action:#54575E;
$color-important:#ee7f01;
$color-nav-footer:#54575E;
// COLOR PUB
$color-pub:"white";
// COLOR FONT BODY DEFAULT
$color-font-body:#666666;
// COLOR SOUS MENU
$color-sous-menu:$color-block;

// ICONE NOUVEAU
$color-icone-cdc:#ee7f01;
