// VAR COLORS
$color-body:#f2f2f2;
$color-content:#404041;
$color-block:#fff;
$color-primary:#79408f;
$color-secondary:#8dc73f;
$color-action:#8dc73f;
$color-important:#79408f;
$color-nav-footer:#fff;
// COLOR PUB
$color-pub:"black";
// COLOR FONT BODY DEFAULT
$color-font-body:#404041;