/* $$DYN:ID3:NOFOOTER$$ */
div, td, span, .Marquee, .ListeVilles { font-family: Arial, Helvetica, sans-serif !important; }
.Legende { font-family: Arial, Helvetica, sans-serif; }
.Pasdannonce { color: #4d4d4d; padding: 0; }
.Titre0ann { font-weight: bold; font-size: 14px; color: #1866b4; }
.BoitePhraseRecherche { font-size: 12px; font-weight: bold; background: none !important; }
.NbAnnonces { color: #254891; }
.BoutonLegende {}
.RechercheTri { margin-bottom: 10px; }
.NbPages { background: none; height: 25px; line-height: 25px; padding: 3px 5px; margin: 10px 0; border: none; }
.NbPagesNb { color: #000; }
.NbPagesLiens { color: #1866b4; }
.NbPagesLiens a { color: #000; }
	/*pop up*/
.montrer { display: none; }
.BoiteAnnonce { background: none !important; border: none; margin: 5px 0; }
	/*Ligne*/
.Ligne1 { width: 960px; height: 60px; background: url($$_$$images/bg_ligne.gif) no-repeat; padding: 0; border-bottom: 1px solid #fff; }
.Ligne1 .Colonne1 { width: 60%; float: left; padding: 5px 0 0 10px; }
.Ligne1 .Colonne1 .RechercheLibelle, .RecherchePrix .RecherchePrixEuro { color: #0d467f; font-weight: bold; font-size: 14px; padding-left: 15px; background: url($$_$$images/arrow2.gif) 0 3px no-repeat; }
.Ligne1 .Colonne1 .RechercheSurface, .Ligne1 .Colonne1 .RechercheSituation { float: left; clear: left; padding-left: 0; color: #0d467f; font-size: 13px; font-weight:bold;   }
.RechercheSurface .RechercheSurfaceTerrain { font-style: italic; color: #0d467f; }
.RechercheSituation .RechercheSituationLien, .RechercheSituation .RechercheSituationCP {  color: #0d467f; font-size: 13px; font-weight:bold; }
.RechercheSituation .RechercheSituationVille, .RechercheSituation .RechercheSituationProximite, .Colonne2 .RechercheRefAnnonce {  color: #0d467f; font-size: 13px; font-weight:bold; }
.Colonne2 .RechercheRefAnnonce { padding-right:58px; }
.Ligne1 .Colonne2 { width: 30%; float: right; padding: 5px 10px 0 0; }
.Colonne2 .RecherchePrix , .Ligne2 .RecherchePrix .RecherchePrixRent, .Ligne2 .RecherchePrix .RecherchePrixFranc { font-style: italic; color: #0d467f; }
	/*ContenuAnnonce*/
.ContenuAnnonce { padding: 10px 0; margin: 0; background: url($$_$$images/bg_contenu_annonces.gif) repeat-y; }
	/*ColonnePhoto*/
.ColonnePhoto, .ColonnePhotoExclusif { width: 320px; margin: 0; padding: 0; text-align: center; }
.ColonnePhoto .RechercheVisuelsPhoto, .ColonnePhotoExclusif .RechercheVisuelsPhoto { text-align: center; }
.ColonnePhoto .RechercheVisuelsPhoto a.RechercheVisuelsPhotoLien, .ColonnePhotoExclusif .RechercheVisuelsPhoto a.RechercheVisuelsPhotoLien { color: #004798; padding: 0 0 5px 0; text-align: center; }
.RechercheVisuelsPhoto img { border: 1px solid #fff; width: 250px; height: 175px; margin: 0 15px 0 15px ; }
	/*Colonne déscriptif*/
.ColonneDescriptif { margin: 10px 0; text-align: left; float: left; width: 400px; padding: 0; }
.ColonneDescriptif .RechercheDescriptif { padding: 10px 20px 10px 35px; margin: 0; color: #2f2f2f; font-size: 11px; background: url($$_$$images/arrow6.gif) 10px 8px no-repeat; }
.ColonneDescriptif .RechercheDtFraicheur { padding: 0 10px 0 35px; margin: 0; background: url($$_$$images/arrow5.gif) 10px 0 no-repeat; line-height: 18px; }
.ColonneDescriptif .RechercheDtFraicheur .RechercheDtFraicheurLibelle { color: #0d467f; }
	/*colonne pictos*/
.ColonnePicto { width: 240px; float: left; margin: 10px 0; padding: 0; }
.ColonnePicto .RechercheTelephone { width: 100%; padding: 10px 0; margin: 0; text-align: left; float: left; border: none; }
.ColonnePicto .RechercheTelephone .recherchetelephonetitrecontact { color: #0d467f; padding: 10px 0 10px 25px; background: url($$_$$images/picto_contact.gif) 0 8px no-repeat; line-height: 18px; font-weight: normal; }
.ColonnePicto .RechercheTelephone .RechercheTelephoneTel { color: #0d467f; padding: 10px 0 10px 25px; background: url($$_$$images/picto_tel.gif) 0 8px no-repeat; line-height: 18px; font-weight: normal; }
.RecherchePlan { margin: 10px 0 5px 10px; padding: 0 2px; color: #000; }
.ColonnePicto .Picto { width: 100%; margin: 10px 0; float: left; }
.ColonnePicto .Picto div, .ColonnePicto .Picto .RecherchePlanLocalite { }
.recherchetelephonetitrecontact, .RechercheTelephoneTel, .RechercheProximite { color: #4d4d4d; }
.Metro { color: #000; }
	/* Finance */
.Finance { width: 960px; height: 30px; background: url($$_$$images/bg_finance.gif) no-repeat; line-height: 30px; padding: 0; border-top: 1px solid #fff; }
.Finance .RechercheHaut, .Finance .RecherchePlusInfo { background: url($$_$$images/arrow3.gif) 10px 5px no-repeat; }
.Finance .RechercheHaut a.RechercheHautLien { color: #004798; display: block; padding: 0 30px; }
.Finance .RechercheHaut a.RechercheHautLien:hover { color: #fff; display: block; text-decoration: none; padding: 0 30px; font-weight:bold; }
.Finance .RecherchePlusInfo { padding-right: 10px; }
.Finance .RecherchePlusInfo a { color: #004798; display: block; padding: 0 10px 0 30px; }
.Finance .RecherchePlusInfo a:hover { color: #fff; display: block; padding: 0 10px 0 30px; text-decoration: none; font-weight:bold; }
.Finance .RecherchePlusInfo .RecherchePlusInfoLien { padding-right: 2px; }
.Finance .RecherchePlusInfo .RecherchePlusInfoVille {  font-weight: bold; }
	/* alerte email */
.BoitePubAlerte {
	width: 100%;
	height: 60px;
	overflow: hidden;
	border: none;
	color : #fff !important;
	margin-top: 5px;
	padding: 0;
	background: url($$_$$images/bg_boxalert.gif) no-repeat;
}
.AlerteIcone{
display: block;
padding-left: 10px;
width:60px;
}
.AlerteEmail {	
	width: 100px;
	float: left;
	text-align: center;
	
	line-height: 40px;
}
.AlerteGratuit {
	float: left;
	width: 600px;
	color: #fff !important;
	padding: 0;
	margin: 0;
	font-size: 11px;
	padding-top: 10px;
}
.AlerteEmail a{
	font-weight: bold;
	font-size: 16px;
	color: #ecd539 !important;
	text-decoration: none;
	float: right;
	padding-right: 10px;
}

.AlerteEmail a:hover{
	font-size: 16px;
	font-weight: bold;
	color : #fff !important;
	display: block;
	text-decoration: none;
	float: right;
	padding-right: 10px;
}

.AlerteGratuit a {
	font-size: 11px;
	display: block;
	float: left;
	font-weight: bold;
	color : #ecd539 !important;
}

.AlerteGratuit a:hover {
	font-size: 11px;
	display: block;
	float: left;
	font-weight: bold;
	color : #fff !important;
	text-decoration: none;
}

.RechercheHonoraires { font-size:13; color:#0d467f; }

.RechercheVisuelsLien a {display:none; }





