// VAR COLORS
$color-body:#FFF;
$color-content:#f1f1f1;
$color-block:#fff;
$color-primary:#4f4f4f;
$color-secondary:#b7f44d;
$color-action:#000000;
$color-important:#b7f44d;
$color-nav-footer:#FFF;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#4d4d4d;


// COLOR SOUS MENU
$color-sous-menu:$color-primary;
