// VARIABLES COLORS
$color-body:#dadada;
$color-content:#dadada;
$color-block:#fff;
$color-primary:#fff;
$color-secondary:#4b5886;
$color-action:#1f2950;
$color-important:#22336f;
$color-nav-footer:#132450;

// COLOR PICTO
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;