// VAR COLORS
$color-body:#313131;
$color-content:#1a1a1a;
$color-block:#4b4b4b;
$color-primary:#4b4b4b;
$color-secondary:#313131;
$color-action:#9E9E9E;
$color-important:#bd0926;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#fff;