@import "color";

// LARGEUR DU SITE
$sitewrap: 1170px;

// AGRANDISSEMENT HAUTEUR SLIDER (0 par défaut, doit être  > 500px)
// NE FONCTIONNE PAS SI MF_MOTEUR_TYPE = 2
$slider-height: 630px;

// HAUTEUR PHOTOS LISTING (235px par défaut)
$listing-img-height:235px;

// REQUIS MAIS NE SERT PAS
$bg-uni: yes;
$picture-bg: yes;
$picture-bg-url:'';
$picture-bg-repeat-horizontal: no;

// VAR SITE TYPO
$font-body:"Lato",verdana,sans-serif;
$font-title:"Raleway",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text:1.6em;
$font-size-title:1.8em;

// TYPE TITLE (NONE, UPPERCASE...)
$type-title: uppercase;

// WEIGHT (BOLD, NORMAL, 700, 300...)
$weight-title: normal;

// ARRONDI (YES / NO)
$arrondi: yes;

// IMPORT ALL
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";

// IMPORT TEMPLATE MOBILEFIRST
@import "../../../slagence_X_V5/sources/scss/templates/mobilefirstv2";

// IMPORT RECHERCHE MOBILEFIRST
@import "../../../slagence_X_V5/sources/scss/recherche/mobilefirst";

// IMPORT MOTEUR MOBILEFIRST (SUR RECHERCHE)
// SEULEMENT SI RECHERCHE AUTRE QUE MF
//@import "../../../slagence_X_V5/sources/scss/moteur/mobilefirst";

// IMPORT DETAIL MOBILEFIRST
@import "../../../slagence_X_V5/sources/scss/detail/mobilefirst";

// IMPORT AGENCE MOBILEFIRST
@import "../../../slagence_X_V5/sources/scss/agence/mobilefirst";

// IMPORT BOUTONS
@import "../../../slagence_X_V5/sources/scss/boutons/mobilefirst";

// IMPORT MODULE SOUS MENU
@import "../../../slagence_X_V5/sources/scss/sous_menu/lib1";

// IMPORT PUB
@import "../../../slagence_X_V5/sources/scss/pubs/mobilefirst";

// IMPORT MODULE EXTRA
@import "../../../slagence_X_V5/sources/scss/extra/extra23";

// IMPORT MODULE ANNONCES
@import "../../../slagence_X_V5/sources/scss/modules/annonces18";


//---------------------------------------------------------------------------------------------
//   VIDEO RESPONSIVE KILDA
//---------------------------------------------------------------------------------------------
@media only screen and (max-width : 980px) {
	.slidermf-video {
	    width: 100%;
	    height: auto;
	    bottom:0px;
	}
}


//------------------------------------------------------------------------------------------------------------------------
//		PERSO MORDEFROY
//------------------------------------------------------------------------------------------------------------------------

//------------------------------------------------------------------------------------------------------------------------
//		GENERAL
//------------------------------------------------------------------------------------------------------------------------

	//------------------------------------------------------------------------------------------------------------------------
	//		ANIM
	//------------------------------------------------------------------------------------------------------------------------

/* ----------------------------------------------
 * Generated by Animista on 2019-8-22 11:23:56
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-90-cw
 * ----------------------------------------
 */

@-webkit-keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
@keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

.rotate-90-cw {
	-webkit-animation: rotate-90-cw 3.6s infinite alternate both;
	        animation: rotate-90-cw 3.6s infinite alternate both;
}

	//------------------------------------------------------------------------------------------------------------------------
	//		BTN
	//------------------------------------------------------------------------------------------------------------------------

.btn-important {
	color: $color-nav-footer;
}

	//------------------------------------------------------------------------------------------------------------------------
	//		CONTAINER
	//------------------------------------------------------------------------------------------------------------------------

.container-index {
   width: auto;
   max-width: 100% !important;
   padding-left: 5rem;
       padding-right: 5rem;
   @media only screen and (max-width : 1310px) {
       padding-left: 1rem;
       padding-right: 1rem;
   }
}

	//------------------------------------------------------------------------------------------------------------------------
	//		MENU & NAV
	//------------------------------------------------------------------------------------------------------------------------

.header-top {
	background-color: $color-secondary;
	border: none;
}

.header-main {
	background-color: $color-primary;
	border: none;
}

.header-top-agences, .header-top-agences a {
	background-color: $color-important;
	color: $color-nav-footer;
	&:hover {
		background-color: $color-important-dark-5;
	}
}

.menu-secondaire {
	background-color: $color-primary;
	@media only screen and (max-width : 414px) {
		min-height: 100vh;
	}
}

.logo.is-absolute img {
	margin-left: 20rem;
	@media only screen and (max-width : 1440px)  {
		margin-left: 0rem;
	}
}

.logo img {
	margin-left: 25rem;
	margin-right: -25rem;
	@media only screen and (max-width : 1440px)  {
		margin-left: 0rem;
		margin-right: 0rem;
	}
}

	//------------------------------------------------------------------------------------------------------------------------
	//		FOOTER
	//------------------------------------------------------------------------------------------------------------------------

.footer, .footer-main {
	background-color: $color-primary;
	color: $color-nav-footer;	
}

.footer-main a {
	color: $color-a-footer;
}

.footer-ttl {
	color: $color-nav-footer;
}

//------------------------------------------------------------------------------------------------------------------------
//		INDEX
//------------------------------------------------------------------------------------------------------------------------

	//------------------------------------------------------------------------------------------------------------------------
	//		TTL
	//------------------------------------------------------------------------------------------------------------------------

.slidermf-h1 {
	background-color: rgba($color-body,0.4);
	border-top: solid 1px $color-important;
	border-bottom: solid 1px $color-important;	
	padding: 1rem;
	@include border-radius(8px);
	h1 {
		font-size: 2.4em;
		text-transform: none;
	}
}

	//------------------------------------------------------------------------------------------------------------------------
	//		MOTEUR
	//------------------------------------------------------------------------------------------------------------------------

.moteurmf.moteurmf-1 {
	background-color: $color-primary;	
}

.moteurmf-body {
	background-color: transparent;
}

	//------------------------------------------------------------------------------------------------------------------------
	//		SEO
	//------------------------------------------------------------------------------------------------------------------------

.circle {  
  float: right;
  shape-outside: circle(50%);
  width: 400px;
  height: 400px;
  margin-left: 20px;
}

.ma-widget-feedback.ma-widget-feedback--small {
	width: 414px !important;
    margin-left: 140px !important;
    @media only screen and (max-width : 414px) {
    	width: 100vw !important;
    	margin-left: -15px !important;
    }
}

	//------------------------------------------------------------------------------------------------------------------------
	//		SERVICES
	//------------------------------------------------------------------------------------------------------------------------

.service-neutre {
	background-color: darken($color-block,5);
	&:hover {
		background-color: darken($color-block,10);
	}
}

.service-important .service-body {
	color: $color-nav-footer;
}

.service-ttl {
	    margin-top: 1rem;
}

	//------------------------------------------------------------------------------------------------------------------------
	//		EXTRA
	//------------------------------------------------------------------------------------------------------------------------

.extracity-item {
	padding: 4%;
}

.extracity-ttl{
	background-color: rgba($color-primary,0.7);
	@include border-radius (2rem);
	padding: 0.5rem;
}

	//------------------------------------------------------------------------------------------------------------------------
	//		PUB FULL -- EXTRA FORM
	//------------------------------------------------------------------------------------------------------------------------

#section-pubfull {
	.h1-like {
		display: none;
	}
	.typo-white {
		color: $color-font-body;
	}
}

//------------------------------------------------------------------------------------------------------------------------
//		RECHERCHE
//------------------------------------------------------------------------------------------------------------------------

	//------------------------------------------------------------------------------------------------------------------------
	//		REFINE
	//------------------------------------------------------------------------------------------------------------------------

.recherche-mobilefirst .moteur-mobilefirst.has-bg {
	background-color: $color-secondary;
}

//------------------------------------------------------------------------------------------------------------------------
//		DETAIL PA
//------------------------------------------------------------------------------------------------------------------------

	//------------------------------------------------------------------------------------------------------------------------
	//		FORM
	//------------------------------------------------------------------------------------------------------------------------

.detail-mobilefirst .detail-contact-form {
	background-color: $color-block-dark-10;
}

//------------------------------------------------------------------------------------------------------------------------
//		DETAIL AGENCE
//------------------------------------------------------------------------------------------------------------------------

	//------------------------------------------------------------------------------------------------------------------------
	//		FORM
	//------------------------------------------------------------------------------------------------------------------------

.agence-mobilefirst .agence-contact-form {
	background-color: $color-block-dark-10;
}