body { margin:0;padding:0; text-align:center; background: #d7dbde; }
div,td { font-family: Arial, Helvetica, sans-serif;font-size:12px;color:#3a3939;}
img { border:none;display:inline;}
table  { border-collapse:collapse;border-spacing:0;}
td, th { padding:0;}
form { padding:0;margin:0;}
input, select { vertical-align:middle;}
a { text-decoration:none;color:#b72016;}
a:hover { text-decoration: none; color: #3a3939;}
p { margin:10px 0;}

.clear { clear:both;}
.fleft { float:left;}
.fright { float:right;}

.fonts { font-family: Arial, Helvetica, sans-serif; }

/*===========================================*/

#wrapper { background: url($$_$$images/bg_wrapper.gif) repeat-x  #d3d7da; width: 100%; }
#wrap { position: relative; width: 972px; text-align: left; margin: 0 auto; }

#top-head { height: 190px; overflow: hidden; }

.acc-head { padding: 12px 10px 0 0; font-size: 11px; }
.acc-head a { color: #111112; font-size: 11px; }
.acc-head a:hover { color: #fff; text-decoration:underline; }
.logo { width: 353px; padding-top: 45px; }
#w-mot { width: 555px; padding-right: 25px; }

#main-mot { height: 114px; background: url($$_$$images/bg_main_mot.gif) no-repeat; overflow: hidden; margin-top: 15px; }
#bloc-moteur  { padding-top: 20px; position: relative; }
.ttl-bloc { font-size: 16px; color: #fff; }

.mn { position: relative; height: 55px; z-index:20; }
.mn ul { margin: 0; padding: 0; }
.mn li { list-style: none; float: left; height: 55px; }
.mn a { font-size: 16px; text-transform: uppercase; padding: 0 37px; line-height: 55px; display: block; color: #fff; }
.mn .en a  { padding: 0 44px;}
.mn a:hover { color: #050506; }


#navigue { padding: 15px 0; min-height: 450px; width: 960px; margin: 0 auto; }

#flash { height: 353px; overflow: hidden; width: 960px; background: #939499; text-align:center; }

.bienv { width: 300px; font-size: 24px; padding-top: 20px; text-align:right; padding-right: 25px; }
.bienv strong { color: #bb2216; display: block; font-size: 24px; font-weight: normal; }
.txt-index { width: 585px; border-left: 5px solid #7f8487; padding: 15px 0 15px 25px; color:#616467;}

#bloc-cdc { background: #e0e3e6; padding: 10px 0; width: 960px; margin: 10px auto; -moz-box-shadow: 0px 0px 6px #7e8182; -webkit-box-shadow: 0px 0px 6px #7e8182; box-shadow: 0px 0px 6px #7e8182; }

.bg-mailto, .bg-agc { background: url($$_$$images/bg_mailto.gif) no-repeat; width: 475px; height: 115px; }
.bg-mailto {margin-left:6px;}
.bg-agc { background: url($$_$$images/bg_agc.gif) no-repeat; margin-right:5px;}
.ttl-b { font-size: 16px; text-transform: uppercase; line-height: 32px; padding-left: 15px; color: #fff; }
.main-mail, .main-agc { width: 295px; padding: 5px 0 0 10px; color: #616467; line-height: 18px; }
.main-agc { width: 335px; }

.bloc-txt { padding: 10px 0; }

.main-mail a, .main-agc a { color: #fff; background: #b72016; padding: 2px 15px; font-size: 12px; margin-top: 10px; display: inline-block; }
.main-mail a:hover, .main-agc a:hover { text-decoration:underline; }

.w-foot { background: url($$_$$images/w_foot.gif) repeat-x #d7dbde; width: 100%; margin: 12px auto; }
.m-foot { position: relative; text-align: left; width: 964px; margin: 0 auto; }
.bg-rs { background: url($$_$$images/bg_f.gif) no-repeat; height: 65px; }
.l-foot a { width: 280px; font-size: 11px; padding: 18px 0 0 45px; display: block; color: #fff; }
.c-foot { width: 230px; font-size: 11px; padding-top: 18px; color: #fff; }
.r-foot { text-align: right; width: 385px; font-size: 14px; padding: 15px 15px 0 0; color: #fff; }
.r-foot strong { display: block; color: #89241d; font-weight: normal; font-size: 18px; }

.link-f { text-align: left; color: #666; padding: 10px 0; }
.link-f a { color: #666; }

.l-foot a:hover, .link-f a:hover { color: #fff; text-decoration:underline; }

.ttl-pages { color: #b72016; font-size: 24px; margin-bottom: 10px; text-transform: uppercase; }

#RechHautV2 h1 {font-size: 26px;font-weight: bold;text-transform:uppercase;}

