/* CSS Document */

/* Redefinitions des balises HTML */ 
	*{margin:0;padding:0;font-size:12px;font-family:Arial, Verdana, Helvetica, sans-serif;color:#fff;}
	img{border:0}
	.clear{clear:both;}
	a{text-decoration:underline;outline:none;color:#D61613;}
	a:hover{color:#D61613 ;text-decoration:none;}
	hr{display:none;}
	ul,ol{list-style:none;}
	select option{padding:0;}
	table{ margin:0 auto; padding:0;}
	
	* html input.alerte{ background:#fff;}
	/* --------Modification AR PLAN SITE-------- */    
	body{background: #3D2A0F; margin-top:-3px;}
	/* Effet bordure (espace 5px) entre BG menu et bande BG site */ 
	#header{width:993px; margin:0 auto;position:relative; height:148px;}
	#global{position:relative;width:993px; margin:0 auto;}


/* ----------------------------------------PAGE ACCUEIL---------------------------------------- */	   
   
/* --------LOGO AGENCE-------- */ 
	#LogoAgence {float:left; width:128px; padding:3px 60px 0 22px; margin:0;}
	#LogoAgence img{ display:block; margin:0 auto;}
/* --------DRAPEAUX LANGUES FRANCAIS ET ANGLAIS-------- */ 		
/* Mettre en DISPLAY:NONE si pas d'option Anglais */ 
	#Drapeaux {position:absolute; top:123px; right:5px;}
	#Drapeaux img.left {padding-right:6px;}

/* --------TEXTE ACCUEIL--------*/ 
	#textAccueil { position:relative; float:right; display:inline; width:566px; padding:20px 0 0 9px; display:block; right:5px;}
/* Modification TITRE texte d'accueil */ 
	#textAccueil h1{letter-spacing:-1px; font-size:17px; font-weight:bold;color:#D61613; padding:0 0 12px 0;}
	#textAccueil h1 strong{color:#D61613; font-size:20px;}
/* Modification CORPS texte d'accueil */ 
	#textAccueil p{ text-align:justify; font-size:12px;  color:#A7A7A7; line-height:22px; display:block; padding:0 0 12px 0;}
	#textAccueil p.reception{ text-align:justify; font-size:12px;  color:#A7A7A7; line-height:16px; display:block; padding:0 0 10px 0;}
	#textAccueil p strong{ color:#D61613;}
	#textAccueil a{ text-decoration:none; color:#D61613;}
	#textAccueil a:hover{text-decoration:underline; color:#fff;}
    .Address{line-height:18px; padding:31px 0 3px 24px; text-align:left; width:168px; color:#fff; font-size:12px; font-family:verdana,sans-serif; font-weight:bold;float:left;}
    #slogan{ width:591px; float:left;}
    #slogan p.immo{padding:24px 0 0 9px; line-height:35px; width:192px; color:#fff;float:left;font-size:17px; font-weight:bold; font-family:arial,sans-serif;}
    #slogan p.asurances{padding:32px 0 0 0;line-height:19px; width:143px; color:#fff;float:left; font-weight:bold; font-family:arial,sans-serif;}
    #slogan p.asurances span{width:115px; display:block; text-align:center;font-size:17px;}
    #slogan p.asurances span.credits{color:#D61613;}
    #slogan p.immo span{padding:0 0 5px 0; width:50px;color:#D61613;font-size:17px; font-weight:bold; font-family:arial,sans-serif;}
    #slogan p.slogan{ width:180px;float:left;margin:0 60px 0 0;}
    #slogan p.profess{font-size:22px; font-family:verdana,sans-serif; color:#D61613;}



/* ----- Moteur -----*/
	h2.TitrePage,.titreInfosLegales{ color:#D61613; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}

/* --------MENU + FLUX RSS-------- */
/* Modification COULEUR + TAILLE fond MENU */
	#remplissageMenu{ width:100%; background:#4B3B24; min-height:44px; margin:0 0 2px 0;}		
	#menuFlux{width:984px; background:#D61613; height:44px; border-left:5px solid #3D2A0F; border-right:4px solid #3D2A0F; margin:0 auto; position:relative;}
	#menu {padding:0; position:relative; height:44px;}
	#menu ul{margin:0; padding:0; list-style-type:none; text-align:center;}
	#menu ul li{display:inline; font-size:15px; padding:0 1px; position:relative;}
	#menu ul li.MenuSep{ color:#fff; padding-top:13px;}
	/* Modification COULEUR TEXTE MENU */ 
	#menu ul li a{font-weight:bold; line-height:43px; padding:5px; color:#fff; text-decoration:none;font-size:14px;}
	#menu ul li a:hover{ color:#D61613; background:#fff;}		
/* Modification FLUX RSS */ 		
	#fluxRss{position:absolute; display:inline; padding:5px; left:-2px; top:8px;}
	#fluxRss a{ background:url(../images/puce_rss.gif) 0 0 no-repeat; font-size:11px;  color:#8095B8; margin:0 0 5px 10px; padding:1px 5px 6px 20px; text-decoration:none;}
	#fluxRss a:hover{ font-size:11px; text-decoration:none; text-decoration:underline;}
	#fluxRss img{float:left; display:inline; vertical-align:middle;}


/* --------CONTENU SITE = ZONE DU MILIEU-------- */
/* Modification COULEUR ARRIERE PLAN CONTENU SITE */ 	
	#milieu{width:984px;padding:24px 0 3px 0px; min-height:250px;background:none; border-left:4px solid #3D2A0F; border-right:5px solid #3D2A0F;_border-right:5px solid #3D2A0F; margin:0 auto; position:relative; z-index:1;}
/* Positionnement bandeau image */ 
	#visuel{float:left; display:inline; width:715px; margin:0; padding:0;}		
/* Modification COULEUR BORDURE IMAGE */ 		
	#visuel img{border:7px solid #D61613 ;}
 

/*--------POSITIONNEMENT MINI MOTEUR-------- */ 
	.miniMoteur{float:right;display:inline;width:220px;padding:0 0 0 42px;position:relative;background:url(../images/fontTitreMoteur.gif) 0 2px no-repeat;}		
/* Modification TITRE RECHERCHE */ 		
	.miniMoteur h2{font-size:18px; font-weight:bold; color:#D61613;padding:12px 0 0 0;}
/* A NOTER !!!! Pour styliser les champs + bouton mini moteur VOIR == MINI_MOTEUR.CSS */ 


/* ----------- 3 COUPS DE COEUR ------------- */ 
	
	#blocBas #coupCoeur{float:left;display:inline;width:715px;margin:9px 0 15px 0; }

/* ----------- LISTE TRANSACTIONS AGENCE ------------- */ 
	#blocBas .nbrTransaction{float:right;width:209px; margin:42px 10px 0 0; height:212px; overflow:auto; display:inline;}

/* Modification COULEUR "AUJOURD'HUI" */ 	
	#blocBas .nbrTransaction h3{font-size:13px;font-weight:bold;padding:1px 0;color:#D61613; }
/* Modification COULEUR TYPE TRANSACTION */ 	
	#blocBas .nbrTransaction h4{width:167px;font-weight:bold;font-size:13px;color:#D61613;padding:10px 0 3px 0;}
	#blocBas .nbrTransaction h4 a{color:#D61613;}
	#blocBas .nbrTransaction ul{list-style-type:none;margin:0 0 10px 1px; line-height:16px;}
/* Modification COULEUR TYPE DE BIEN */ 
	#blocBas .nbrTransaction ul *{font-size:11px;color:#fff;}
	#blocBas .nbrTransaction ul a:hover{text-decoration:none; color:#D61613;}


/* -----------INCLUDE BAS------------- */ 

/* Modification COULEUR BANDE COORDONNEES */ 
	.CoordonneesAgence {font-size:12px; background:#D61613; height:27px; text-align:center; padding-top:13px; color:#fff; font-weight:bold;}	
	.CoordonneesAgence a{color:#fff; }	
/* Modification BG footer portefeuille + menu secondaire */
	.footerPosition{background:#3D2A0F; position:relative; width:985px; padding-bottom:15px; margin:0 auto; border-left:5px solid #3D2A0F; border-right:5px solid #3D2A0F; }
	
	.porteFeuille{float:left;width:610px;padding-left:30px;}
/* ARRIERE PLAN FOOTER */
	#footer{  margin:0 auto; padding:0 0 0 1px; background:#442F12;}
				
/* Modification couleur 2 TITRES FOOTER */ 
	#footer h4{font-size:11px;font-weight:bold;background:url(../images/puce.gif) 58px 3px no-repeat;padding:4px 0 4px 88px;margin:17px 0 0 0;line-height:19px;}
/* titre gauche : Notre portefeuille immobilier */
	#footer .porteFeuille h4{font-size:12px; color:#fff;}
/* titre droite : www.urldusite.com */
	#footer .menuSecondaire h4{font-size:12px; color:#D61613;}
	#footer .menuSecondaire *{color:#9E9587; font-size:11px;}
	#footer .menuSecondaire a:hover{ text-decoration:underline; color:#D61613;}		
/* Modification couleur LISTE DES VILLES */ 
	.porteFeuille .ListeVilles{width:520px;text-align:justify;line-height:13px;border:0;color:#fff; padding:4px 0 0 5px;}
	.ListeVilles *{color:#fff; font-size:12px;font-weight:normal;}
	.ListeVilles a{color:#fff;text-decoration:none;}
	.ListeVilles a:hover{ color:#fff; text-decoration:underline;}

/* Modification couleur MENU SECONDAIRE FOOTER (droite) */
	.menuSecondaire{float:left;width:980px;font-size:12px;color:#fff;}
	.menuSecondaire p{padding:3px 0 0 64px; color:#fff; text-align:justify; width:879px; }
	.menuSecondaire p a{font-size:12px;color:#FFB980;text-decoration:none;}
	.menuSecondaire p a:hover{font-size:12px;color:#D61613;text-decoration:underline;}
	span.sepSep{ color:#fff;}



/* ----------------------------------------AUTRES PAGES DU SITE---------------------------------------- */

/* Page En Construction */
	#EnConstruction{margin-top:70px; text-align:center;}


/* PAGE PLAN DU SITE = incl_plan-site.htm */  
	ul#Plan *{text-decoration: none; font-weight: bold;}
	ul#Plan{padding: 0 8em; width:423px; margin:0 auto;position:relative;top:-25px;}
	ul#Plan li.plan{ color:#D61613; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;border-bottom:none;}
	ul#Plan li.MenuSep{display:none;}
	ul#Plan li{padding: 0.2em 0; border:none;}
	ul#Plan .plan{padding: 0.2em 0;background:none;}
	ul#Plan li a{ background:none;color:#fff;padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #D61613 ; text-transform:uppercase;}
	ul#Plan li a:hover{color:#D61613;padding-left:10px; height:19px;font-size: 12px; background:#fff;}
	ul#Plan li.voirTout a{color:#D61613;}


/* Outils */
	ul#Outils *{text-decoration: none; font-weight: bold;}
	ul#Outils{padding: 2em 8em; width:400px; margin:0 auto;}
	ul#Outils li.list{padding: 0.2em 0px;background:none; margin:2px 0; border:none;}
	ul#Outils li a{color:#fff; padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #D61613 ; text-transform:uppercase;}
	ul#Outils li a:hover{color:#D61613;padding-left:10px; height:19px;font-size: 12px; background:#fff;}
	#Outils li.titrePageOutils{ color:#D61613; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}
	#Outils a:hover{color:#fff ;}

/*PAGES ESTIMATION + CONTACT + MESSAGE == TABLEAUX FORMULAIRES*/
	.tabFond1{border-color:#00AA00; border-width:0; border-style:solid; padding:2px; font-family:Arial, Helvetica, sans-serif; width:100%;}
	 textarea { color:#000; width:600px; height: 100px;border:1px solid #D61613;margin: 0 0 0 3px; padding:2px;}
	.tabFond2{border-color:#00AA00; border-width:1px; border-style:solid; padding:2px; font-size:14px; font-family:Arial, Helvetica, sans-serif;}
	#milieu .tabTitre{background:#D61613; color:#fff; font-size:14px; font-weight: bold; font-family:Arial, Helvetica, sans-serif;height:25px;padding:3px; text-align:center; text-transform:uppercase;}
	#milieu .tabTitre *{color:#fff; font-size: 14px;}
	.tabPrint{color:#5C5E5D; font-size: 13px; font-family:Arial, Helvetica, sans-serif; border:1px solid #00AA00;}
	.tabFond1 td input{margin:3px;border:1px solid #D61613 ; padding:2px; color:#000;}
	.tabFond1 td input.BoutonFormRecherche{float:right;width:120px;height:25px;border:none;}
	select.imputForm{border:1px solid #D61613 ;margin:0 0 4px 3px; color:#000; }
	select.imputForm option{padding:0 0 0 3px; color:#000;}
	.tabFond1 table{ width:100%;}
	input.imputForm{margin:0 0 5px 0; color:#000;}
	 input.imputForm{border:1px solid #D61613; padding:2px;}
	 input.boutonEnvoi{float:right;width:120px;height:25px;}
	strong.messageNomAgence,
	strong.estimationNomAgence{ color:#D61613; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase; display:block;}
	/*Résolution Bug IE8 = donner une taille aux bouton pour éviter tout décallage*/
	.tabFond1 .boutonEnvoi {float:right;width:120px;height:25px; border:none;}
	.tabFond1 .BoutonFormContact {float:right;border:0;width:120px;height:25px;}
	.MoteurBouton  {overflow:hidden; padding:0 0 6px 0;}
	.MoteurBouton input {float:right;width:120px;height:25px;}
	td #ChampsBouton input {float:right;margin-right:12px;width:120px;height:25px;}
	#AgenceContact form table#FormContact td#ChampsBouton input{width:120px;height:25px;}	

/* GUIDE PRATIQUE = ACCES VIA LE LIEN DANS LA PAGE OUTILS*/
	span.txtTitre3{ display:block; width:870px; color:#fff; background:#D61613; font-size:16px; font-weight:bold; padding:3px 5px; margin:10px 3px 3px 0;}
	span.gras{ display:block; width:882px; color:#fff; background:#D61613; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;}
	td.encadre{background-color:#fff; border-color:#AAA; border-width:2px; border-style:solid; padding:3px; color:#fff; margin:0 0 0 -4px;}
	p.grasnews{ display:block; width:882px; color:#fff; background:#D61613; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;}

	/* coup de coeur*/
	* html .div-cdc{ height:260px;}
	.div-cdc{width:230px; min-height:260px;float:left; background:#D61613; margin:0 4px 0 0; border:2px solid #D61613 ;}
	.div-cdc *{ color:#fff;}
	
	*+ html .div-cdc .photo-cdc img{margin:5px 0 0 0;}
	*+ html div.selectionNouveau,*+ html div.selectionIndexExclusif{position:relation; left:-3px;}
	
	*+ html .div-cdc {padding-left:3px; width:227px;}
	.div-cdc .photo-cdc img{width:220px;height:130px;background:url(../images/bg_Img_Cdc.gif);margin:5px 0 0 4px; border:1px solid #fff; display:block;}
	.div-cdc a span.ville-cdc{font-weight:bold;display:block; color:#fff;font-size:14px; }
	.div-cdc a span.ville-cdc a:hover{ text-decoration:underline;}
	.div-cdc .contenu-cdc a *{color:#fff;font-weight:bold; text-transform:capitalize; font-size:14px;}
	.div-cdc .contenu-cdc a:hover *{color:#fff;}
	.div-cdc .contenu-cdc{padding:6px 6px 4px 6px;}
	.div-cdc .contenu-cdc *{color:#fff;}
	.div-cdc .contenu-cdc a{ text-decoration:none;}
	.div-cdc .contenu-cdc a:hover{color:#D61613;}
	.div-cdc .descriptif-cdc{min-height:30px; color:#fff; padding:5px 0;}
	* html .divc2c .descriptif-cdc{height:30px;}
	.div-cdc p.prix-cdc{font-weight:bold;font-size:14px; color:#fff;}
	.div-cdc p.espace-cdc span.surface-cdc, .div-cdc p.espace-cdc span.nbpiece-cdc{display:none;}
 
 
/* Mentions Legales */
	#MentionsLegales p,#MentionsLegales strong ,#MentionsLegales ul *{ color:#fff;}
	#MentionsLegales{}
	#MentionsLegales h2 {display:block; width: 99%;background:#D61613; font-size: 14px; color:#fff;font-weight: bold;letter-spacing: 0;padding:3px 0 3px 8px;margin: 10px 0;text-align: left;text-transform: none;font-family: Arial; text-transform: none;}
	#MentionsLegales p.notaBene a.demandeInfos:hover{color:#fff;}
/* Details */
    #AgenceContact form table#FormContact td#ChampsBouton #ChampsObligatoires{clear:both;}
	
/* page accueil*/	

    #accueil{width:90%; margin:0 auto; font-size:12px; font-family:arial,sans-serif;}
    #accueil h1{font-size:18px; font-family:arial,sans-serif; color:#D61613; padding: 0 0 6px 0;}
    #accueil h1 strong{font-size:23px; color:#D61613;}
    #accueil p{padding:0 0 10px 0;line-height:18px;}
    #accueil p strong{padding:0 0 10px 0; color:#fff; }
    #accueil ul{list-style:none; width:271px; padding:0; margin:0 0 0 30px;}
    #accueil li{background:url(../images/picto_fleche_02.gif) 0 2px no-repeat; padding:0 0 4px 15px;}
	
/*Recherche*/

    #RechPagesHaut .rechLiensPages a span, #RechPagesBas .rechLiensPages a span{color:#D61613;}
	#RechercheContainer #AlerteEmail #AlerteForm input.alerte{color:#000; border:1px solid #D61613;}
	#RechHaut form#Tri select{color:#000;}
	#RechHaut form#Tri select optgroup option,#RechHaut form#Tri select option,#RechHaut form#Tri select optgroup {padding:0 0 0 3px;color:#000;}
	#RechercheContainer #AlerteEmail #AlerteForm input.alerteBt{ cursor:pointer; color:#fff;}
	#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .descr{width:367px;}
	#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .metro_Ctn .metro,#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .metro_Ctn .metro,#Annonce_Ctn table#InfosPrix td.infosVille .metro_Ctn .metro{color:#000;}
	#RechPagesHaut .rechLiensPages a span:hover, #RechPagesBas .rechLiensPages a span:hover{color:#fff;}
	#RechResultat .blocAnnonce .detailAnn{border-top:1px solid #D61613;}
	
/*detail*/
    #Galerie #galleryContainer{border:10px solid #D61613; top:10px;}
        #AgenceContact #CguFormulaire a{color:#D61613; text-decoration:underline;}	
    #AgenceContact #CguFormulaire a{text-decoration:none;}
	#AgenceContact form table#FormContact td#ChampsMessage textarea,#AgenceContact form table#FormContact td#ChampsNom input, #AgenceContact form table#FormContact td#ChampsPrenom input, #AgenceContact form table#FormContact td#ChampsTelephone input, #AgenceContact form table#FormContact td#ChampsEmail input{color:#000; background:#fff;}	
	#Galerie #previewPane #grandeimage table td img{border-color:#fff;}
	#Galerie #previewPane #largeImageCaption{color:#D61613;}
	