@import "color";
// BG SOLO
$bg-uni:yes;

// CHOIX UNIQUE // PICTURE BG OU DEGRADE CSS BG COLOR PRIMARY vs SECONDARY vs BLOCK > SI NO ALL = BG BODY UNI
$picture-bg:no;
$picture-bg-url:'../images/bg_moteur.jpg';
$picture-bg-repeat-horizontal:no;
$degrade-bg-primary:no;
$degrade-bg-secondary:no;
$degrade-bg-block:no;

// SIZE PICTURE AREA : FULLSCREEN OR NOT > UTILE SI PHOTO (TYPE SITE 1)
$height-container:500;

// PLACEMENT TOP CONTENT > UTILE SI PHOTO (TYPE SITE 1)
$placement-top-content:110;

// SIZE NAVIGATION
$height-navigation:62;

// VAR SITE TYPO
$font-body:"proxima-nova",verdana,sans-serif;
$font-title:"ff-good-headline-web-pro-con",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text:1.3em;
$font-size-title:2.4em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:none;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:normal;

// ARRONDI POUR LES EFFETS SUR LI > A:HOVER/FIL ARIANE/BOUTON
$arrondi:yes;

// BORDER EFFECT ON NAV
$border-nav:no;

// TYPE MENU : FLAT = COLOR BANNER BEHIND, NO FLAT = SHAPE OR NOT
// LINK TO VAR ID3X >>> MENU_TYPE
$type-menu:no-flat;

// STYLE NAV : IF YES = SHAPE BEHIND WORD, IF NO SHAPE BEHIND WORD ON HOVER
$shape:no;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS LIB1
@import "../../../slagence_X_V5/sources/scss/boutons/lib1";

// IMPORT PUB LIB BOITE
@import "../../../slagence_X_V5/sources/scss/pubs/lib1";

// IMPORT PUB LIB3
@import "../../../slagence_X_V5/sources/scss/pubs/lib6";

// IMPORT TEMPLATE PARIS
@import "../../../slagence_X_V5/sources/scss/templates/paris";

// IMPORT MODULE ANNONCES9
@import "../../../slagence_X_V5/sources/scss/modules/annonces9";

// IMPORT MODULE EXTRA
@import "../../../slagence_X_V5/sources/scss/extra/extra4";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";

// IMPORT MODULE SOUS MENU
@import "../../../slagence_X_V5/sources/scss/sous_menu/lib1";

// STYLES PERSO

.navigation {
/*background-image: url(../images/bg_navigation.png);*/
background-repeat: no-repeat;
background-position: center;
background-color:$color-primary;
border-top: 0px;
border-bottom: 0px;
margin-left:0px;
}
.menu-principal {
margin-top:40px;
}
.menu-principal>li  {
margin:0px;
padding:0px;
border-right:0px;
border-left:0px;
&:hover {
background:$color-primary;
}
}
.menu-principal>li>a {
padding:20px 17px 20px 17px;
border-bottom: 1px solid $color-primary-dark-20;
background:$color-primary-dark-10;
color:$color-font-body;
@include border-radius(4px);
&:hover {
background:$color-primary-dark-5;
color:$color-font-body;
@include border-radius(4px);
}
}
.nav-pills>li>a {
margin-right:0px;
}

.bloc-detail-reference {font-size:1.3em;}

.btn-langue{
font-family:$font-title;
font-size:1em;
border-top:0px;
border-right:0px;
border-left:0px;
border-bottom: 1px solid $color-primary-dark-20;
margin-top: -4px;
padding: 20px 10px 17px 10px;
line-height: 14px;
background:$color-primary-dark-10;
color:$color-font-body;
@include border-radius(4px);
&:hover {
background:$color-primary-dark-5;
color:$color-font-body;
@include border-radius(4px);
box-shadow:none;
}
}
.caret{
border-top:4px solid $color-nav-footer;
}
.menu-sub{
align:center;
@include opacity(0.9);
}
.menu-sub ul li a {
border-bottom: 1px solid $color-primary-dark-10;
&:hover {
background:$color-primary-dark-5;
}
}

.dropdown-menu {
box-shadow:none;
background: #fff;
text-align: left;
@include opacity(0.9);
}
.nav-pills .dropdown-menu {
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}
.dropdown-menu a {
font-family:$font-title;
font-size:0.9em;
border-bottom: 1px solid $color-primary-dark-10;

}
.dropdown-menu a:hover {
background: $color-primary-dark-5;
text-decoration: none;
}
.dropdown-menu.pull-right {
right: 0;
left: 0;
}

.pub-gi {background:url(../images/picto_gi.jpg) 0 0 no-repeat;}

.moteur-avantage{
background-image: url(../images/bg-moteur-horizontal.png);
border-color:transparent;
}

@media only screen and (max-width : 767px) {
	header .logo img {
	width: 50%;
	}
	.margin-top-under-nav-fixe {
	margin-top: 0px;
	}
	.navigation {
background-image:none;
background-color:$color-primary-light-20;
border-bottom: 5px solid $color-action;

}
}

/* .small, hidden-phone, quartier-annonce {display:none;} */

.menu-principal>li.menu-gi>a {background: none; padding: 0; border: 0;}