// VARIABLES COLORS
$color-body:#222;
$color-content:#89744d;
$color-block:#2a2a2a;
$color-primary:#fff;
$color-secondary:#000;
$color-action:#CAC5C2;
$color-important:#AF8B1B;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#c5c5c5;