/* ANNONCES */
#moduleRome {width:635px;position:relative;margin:0;padding: 0;height:100%;}
#moduleRome #flecheGauche { position:absolute;width:45px;height:45px;background:url('$$_$$images/module/gauche.png') no-repeat;background-position:center center; display:inline!important; z-index: 10; top: 100px; left: 20px; }
#moduleRome #flecheDroite { position:absolute; top:0;right: -12px;width:45px;height:45px;background:url('$$_$$images/module/droite.png') no-repeat;background-position:center center; display:inline!important; z-index: 10; top: 100px; }
#moduleRome ul {margin:0;padding:0;list-style:none;}
#moduleRome .annonceFlipping {float:left;position:relative;width:230px;height:230px;margin: 0 20px;margin-right:1px;padding:0;background:#fff;text-align:center; border: 4px solid #fff; }
#moduleRome .imageBackgroundRome {width:230px;height:230px;}
#moduleRome .imageBackgroundRome img {width:230px;height:230px;}
#moduleRome .logoRome {display:table-cell;vertical-align:middle;width:230px;height:230px;}
#moduleRome .blocNoPhoto {background:url('/z/webagency/slagence_X_V4/images/recherche/sans_photo.jpg') 50% 50% no-repeat;}
#moduleRome .contentAnnonceFlipping {position:absolute;z-index:100000;background:#070707;width:100%;height:100%;display:inline!important;top: 189px;;left:0;opacity:0.8; height: 40px; }
#moduleRome h1, #moduleRome .infoAnnonce {font-size:18px;font-family:arial,sans-serif;margin:15px 0 10px 0;padding:0;}
#moduleRome .infoAnnonce span {text-decoration:underline;color:#fff;}
#moduleRome #masqueModuleRome { position:relative;width: 535px;overflow:hidden;margin:0; margin: 6px 0 0 65px;height:240px; }
/* 2 */
#moduleRome2 {width:960px;position:relative;margin:0;padding:0;height:100%;}
#moduleRome2 #flecheGauche2 {float:left; position:absolute;width:20px;height:230px;background:url('$$_$$images/module/gauche.png') no-repeat;background-position:center center;}
#moduleRome2 #flecheDroite2 {float:left;position:absolute;top:0;right:0;width:20px;height:230px;background:url('$$_$$images/module/droite.png') no-repeat;background-position:center center;}
#moduleRome2 ul {margin:0;padding:0;list-style:none;}
#moduleRome2 .annonceFlipping {float:left;position:relative;width:230px;height:230px;margin-left:1px;margin-right:1px;padding:0;background:#fff;text-align:center;}
#moduleRome2 .imageBackgroundRome {width:230px;height:230px;}
#moduleRome2 .imageBackgroundRome img {width:230px;height:230px;}
#moduleRome2 .logoRome {display:table-cell;vertical-align:middle;width:230px;height:230px;}
#moduleRome2 .blocNoPhoto {background:url('/z/webagency/slagence_X_V4/images/recherche/sans_photo.jpg') 50% 50% no-repeat;}
#moduleRome2 .contentAnnonceFlipping {position:absolute;z-index:100000;background:#ef4d06;width:100%;height:100%;display:none;top:0;left:0;opacity:0.8;}
#moduleRome2 h1, #moduleRome .infoAnnonce {font-size:11px; color: #fff; font-family:arial,sans-serif;margin: 11px 0 10px 0 10px;padding:0 0 0 10px; line-height: 0; text-align: left; }
#moduleRome2 .infoAnnonce span {text-decoration:underline;color:#fff;}
#moduleRome2 #masqueModuleRome2 {position:relative;width:920px;overflow:hidden;margin:0;padding:0;height:230px;}
/* PICTOS */
.blocPhotoExclusif {position:absolute;left:0;width:120px;height:70px;background:url('/z/webagency/slagence_X_V4/images/bandeaux/exclusif_$$IF:FORM:LANG$$$$FORM:LANG$$$$END$$$$IF0:FORM:LANG$$fr$$END$$.png') 0 0 no-repeat;z-index:500; display:none; }
.blocPhotoCoupCoeur {position:absolute;left:165px;top:5px;width:44px;height:46px;background:url('/z/webagency/slagence_X_V4/images/bandeaux/coupdecoeur.png') 0 0 no-repeat;z-index:500; display:none; } 
.blocPhotoNouveau {position:absolute;left:0;width:85px;height:50px;background:url('/z/webagency/slagence_X_V4/images/bandeaux/nouveau_$$IF:FORM:LANG$$$$FORM:LANG$$$$END$$$$IF0:FORM:LANG$$fr$$END$$.png') 0 0 no-repeat;z-index:500; display:none; }
.blocPhotoPromo {position:absolute;top:100px;left:100px;width:60px;height:60px;background:url('/z/webagency/slagence_X_V4/images/bandeaux/promo_$$IF:FORM:LANG$$$$FORM:LANG$$$$END$$$$IF0:FORM:LANG$$fr$$END$$.png') 0 0 no-repeat;z-index:500; display:none; }

.infoprix { color: #7eff00!important; position:absolute; top: 16px; left: 135px; }
.infosavoir { display: none; }