// VARIABLES COLORS
$color-body:#333333;
$color-content:#f1f1f1;
$color-block:#1f1f1f;
$color-primary:#333333;
$color-secondary:#6b6767;
$color-action:#00a954;
//$color-action:#24692a;
$color-important:#6b6767;
$color-nav-footer:#fff;
$color-recherche-annonces:#2c2c2c;

// COLOR PICTO
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#999;

//COLOR A MOI
$color-nav:#545050;

$color-gradient-un:#6C6767;
$color-gradient-deux:#5A5656;
$color-gradient-trois:#575353;
$color-gradient-quatre:#454141;
