// VAR COLORS
$color-body:#fff;
$color-content:#1a1a1a;
$color-block:#f6f6f6;
$color-primary:#fff;
$color-secondary:#222222;
$color-action:#ff9328;
$color-important:#aba196;
$color-nav-footer:#aba196;
// COLOR SOUS MENU
// $color-sous-menu:#363636;
$color-sous-menu:#f6f6f6;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#222222;

$color-syndic:#f69900;
$color-gestion:#8dc114;
$color-transac:#00aae2;
$color-autre:#b7aca1;

$color-gestion-light-10:#A7DB2E;
$color-transac-light-10:#1AC4FC;
$color-autre-light-10:#D1C6BB;
