// VARIABLES COLORS
$color-body:#817f81;
$color-content:#383538;
$color-block:#383538;
$color-primary:#5a575a;
$color-secondary:#141315;
$color-action:#959389;
$color-important:#5a575a;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#fff;
$color-jaune:#ffff01;
$color-jaune-dark-10:#CCCC00;
$color-noir:#000;
$color-bleu:#0098fe;