@import "color";
// BG SOLO
$bg-uni:yes;

// PICTURE BG
$picture-bg:no;
$picture-bg-url:'../images/degrade_bg.png';
$picture-bg-repeat-horizontal:no;

// SIZE PICTURE AREA : FULLSCREEN OR NOT
$height-container:500;

// VARIABLE SITE TYPO
$font-body:"proxima-nova",verdana,sans-serif;
$font-title:"bebas-neue",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST > FONT-SIZE-TEXT
$font-size-text:1.4em;
$font-size-title:2.1em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:normal;

// ARRONDI POUR LES EFFETS SUR LI HOVER/FIL ARIANE/BOUTON
$arrondi:yes;

// BORDER EFFECT ON NAV
$border-nav:yes;

// TYPE MENU : FLAT = COLOR BANNER BEHIND, NO FLAT = SHAPE OR NOT
// LINK TO VAR ID3X >>> MENU_TYPE
$type-menu:no-flat;

// STYLE NAV : IF YES = SHAPE BEHIND WORD, IF NO SHAPE BEHIND WORD ON HOVER
$shape:yes;

// MARGIN UNDER NAV FIXE
$margin-top-under-nav-fixe:190;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS
@import "../../../slagence_X_V5/sources/scss/boutons/lib1";

// IMPORT TEMPLATE LONDRES
@import "../../../slagence_X_V5/sources/scss/templates/londres";

// IMPORT MODULE ANNONCES2
@import "../../../slagence_X_V5/sources/scss/modules/annonces2";

// IMPORT MODULE PUB LIB3
@import "../../../slagence_X_V5/sources/scss/pubs/lib1";

// SPRITE BLANC
@import "../../../slagence_X_V5/sources/scss/sprites/social-blanc";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";

// IMPORT MODULE SOUS MENU
@import "../../../slagence_X_V5/sources/scss/sous_menu/lib1";

.btn-action-no-gradient, .btn-action, .bloc-recherche-dessin {color: $color-secondary;}

// Mise en forme menu principal
.menu-principal {
line-height:40px;
font-size:1.6em;
li>a:hover {
background-color:$color-action;
}
}

// Header en fond navigation sur différents types de terminaux
@media only screen and (max-width : 999px) {
.navigation {
background-image:url(../images/fond_header_fnaim.png);
background-color:$color-primary;
}
}

@media only screen and (min-width : 1000px) and (max-width : 1024px) {
.navigation {
background-image:url(../images/fond_header_fnaim1024.png);
background-color:$color-primary;
}
}

@media only screen and (min-width : 1025px) and (max-width : 1280px) {
.navigation {
background-image:url(../images/fond_header_fnaim1280.png);
background-color:$color-primary;
}
}

@media only screen and (min-width : 1281px) and (max-width : 1366px) {
.navigation {
background-image:url(../images/fond_header_fnaim1366.png);
background-color:$color-primary;
}
}

@media only screen and (min-width : 1367px) and (max-width : 1680px) {
.navigation {
background-image:url(../images/fond_header_fnaim1680.png);
background-color:$color-primary;
}
}

@media only screen and (min-width : 1681px) {
.navigation {
background-image:url(../images/fond_header_fnaim1920.png);
background-color:$color-primary;
}
}

// Resize logo sur smartphones
@media only screen and (max-width : 767px) {
	header .logo img {
	width: 30%;
	}
}

// Certains h2-like en jaune
.typo-jaune {
color:$color-action-light-30;
}


// CORRECTION COLOR A
a {
color:$color-action-light-30;
}

// Correction taille police nom ville module annonce HP


// Suppression de la bordure bot module annonces HP
.module-annonces-homepage {
border-bottom-style:none;
&:hover {
border-bottom-style:none;
}
}

// Correction marge menu
nav.margin-bottom-10 {
margin-bottom:0;
}

// Correction  logo
header .logo {
margin-top:-10px;
margin-bottom:-10px;
img {
float:left;
}
}

// Correction couleur typo detail annonce et listing
.breadcrumb .typo-important {
color:$color-action-light-30;
}
.recherche-annonces-prix .typo-action {
color:$color-action-light-30;
}

.bloc-top-alerte-email .typo-action {
color:$color-action-light-30;
}
// Coordonnées HP plus gros
.texte-info-agences {
font-size:1.5em;
}

#texte-telephonez-nous-footer {
font-size:0.7em;
}

// Liens jaunes
.jaune {
color:$color-jaune;
&:hover {
color:$color-jaune-dark-10;
}
}

// Typo module annonces HP en plus visible 


.module-homepage {
.h2-like.typo-action {
color:$color-jaune;
}
p.typo-body>.bigger {
font-size:2em;
color:$color-jaune;
font-weight:bold;
}
}
.btn-action-no-gradient {
color:$color-nav-footer;
}