// VARIABLES COLORS
$color-body:#e5e5e5;
$color-content:#f1f1f1;
$color-block:#fff;
$color-primary:#fff;
$color-secondary:#9b9695;
$color-action:#00467d;
$color-important:#bcbd00;
$color-nav-footer:#354152;

$color-red:#ff0000;
$color-red-light-10:#FF1A1A;

$color-body-dark-10:#F2F2F2;

// COLOR PICTO
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;