/*$$REM$$====================================================================================
//// <summary>Fichier CSS 2 site "PACK AVANTAGE 2"</summary>
//// <remarks>
//// <para>Fichier css appelé par head mutualisé</para>
//// <para>Sert pour toutes modifs démutualisées</para>
//// <para>Liste des macros générales pour faciliter la customisation des sites</para>
//// <para>A démutualiser pour chaque site</para>
//// </remarks>
//// <update date="2010-02-16" author="lisbonne.siriphol">Création</update>
====================================================================================$$END$$*/


$$REM$$ /* ============================================================================================
 ////////////////////////////////////// MACROS GENERALES PERSOS //////////////////////////////////////
============================================================================================= */$$END$$
<!--#include virtual="styles/all_global_macros.htm" -->

#TopHeader_Ctn, #FooterBottom_Ctn{background:url(/z/webagency/A_ID3X/perrin_31288/images/bghead.gif) repeat;}
#Coordonnees_Ctn {background:none repeat scroll 0 0 #06530d;}
#HeaderTxt p, .contactAnn .ctc, .contactAnn .nom, .contactAnn .tel, .contactAnn .mail a, .liensAnn .ajoutSelection a, .lienDetail a {color:#fff;}
.selectionIndex_Ctn {border:none;}
#FooterBottom *, a#AccueilSite {color:#7ac142;}
a.selectionPhoto .selectionPhotoImg, #Annonce_Ctn td#ColonneGauche, #Annonce_Ctn td#ColonneDroite {border:none;}
#AlerteEmail #AlerteForm input.alerte, .similaire_ctn {background:none repeat scroll 0 0 #ffffff;}
#HeaderTxt {padding:10px 32px;}
#Header_Ctn {background:#06530d;height: 137px;}
.accordion_content .inputText {color: #000000;}
#AgImmoVitrine_Ctn {background: url($$_$$images/accueil.jpg) no-repeat 50% 50%;}