// VAR COLORS
$color-body:#fff;
$color-content:#f3f3f3;
$color-block:#f2f2f2;
$color-primary:#FFF;
$color-secondary:#00989b;
$color-action:#006c6e;
$color-important:#d5031c;
$color-nav-footer:#000;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;
