

/* CSS Document */
/* Redefinitions des balises HTML */ 
	*{margin:0;padding:0;font-size:12px;font-family: Tahoma;color:#fff;}
	img{border:0}
	.clear{clear:both;}
	a{text-decoration: none;outline:none;color:#FFFF42;}
	a:hover{color:#FFFF42;text-decoration: underline;}
	hr{display:none;}
	table{ margin:0 auto; padding:0;}
	* html input.alerte{ background:#FFFFFF;}
	/* --------Modification AR PLAN SITE-------- */    
	body{margin-top:-3px; background:#0059A3;}
	/* Effet bordure (espace 5px) entre BG menu et bande BG site */ 
	#header{width:993px; margin:0 auto;position:relative; background:#FEFFD7; overflow:hidden; height:128px;}
	#global{position:relative;width:993px; margin:0 auto;}


/* ----------------------------------------PAGE ACCUEIL---------------------------------------- */
   
/* --------LOGO AGENCE-------- */ 
	#LogoAgence { float:left; display:inline; width:400px; padding:0;margin:0;}
	#LogoAgence img{ display:block; margin:0 0 0 10px;}


/* --------MARQUEE DEFILANTE-------- */
/* Modification COULEUR  MARQUEE */ 	


/* --------DRAPEAUX LANGUES FRANCAIS ET ANGLAIS-------- */ 		
/* Mettre en DISPLAY:NONE si pas d'option Anglais */ 
	#Drapeaux {position:absolute;left:326px; bottom:4px;}
	#Drapeaux img {padding-right:8px;}
	#Drapeaux img.last{ padding:0;}

/* --------TEXTE ACCUEIL--------*/ 
	#textAccueil {float:right; display:inline; width:570px; display:block; padding:26px 14px 0 0;}
/* Modification TITRE texte d'accueil */ 
	#textAccueil h1{ font-size:17px; font-weight:bold; color:#00114A;}

/* Modification CORPS texte d'accueil */ 
	#textAccueil p{ text-align:justify; font-size:11px; padding:0 0 12px 0; display:block; color:#00114A;}
	#textAccueil p strong{ color:#00114A; font-size:11px;}
	#textAccueil a{ text-decoration:none; color:#FF8A00; font-weight:bold;}
	#textAccueil a:hover{ text-decoration:underline; color:#FF8A00;}

/* ----- Moteur -----*/
h2.TitrePage,.titreInfosLegales, .selectAgenceChoix, .envoiToutesAgences{ color:#FFFF42; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}

/* --------MENU + FLUX RSS-------- */
/* Modification COULEUR + TAILLE fond MENU */
	#remplissageMenu{ width:100%; background: none; min-height:44px;}		
	#menuFlux{width:993px; background:#1365B0; height:44px; margin:0 auto; border-bottom:4px solid #20016A;}
	#menu, #menuEn{float: left; display:inline;}
	#menu ul li, #menuEn ul li{color:#FFFFFF;display:block;float:left;font-size:15px;padding:0;}
	#menu ul, #menuEn ul{display:block;margin:0 0 0 8px;padding:4px 0 0;}
	#menu ul li.MenuSep, #menuEn ul li.MenuSep{ color:#fff; padding:7px 0 0 0;}
	/* Modification COULEUR TEXTE MENU */
	#menu ul li a{ color:#FFFFFF;display:block;float:left;font-size:12px;font-weight:bold;padding:10px 11px 12px;text-decoration:none;background:url(../images/separateur.gif) 0 0  no-repeat;}
	#menu ul li a:hover, #menu li.first a:hover, #menuEn ul li a:hover, #menuEn li.first a:hover{background:#291068;}
	#menu ul li.first a, #menuEn ul li.first a{ background:none;}
	
	#menuEn ul li a{ color:#FFFFFF;display:block;float:left;font-size:12px;font-weight:bold;padding:10px 15px 12px;text-decoration:none;background:url(../images/separateur.gif) 0 0  no-repeat;}

/* Modification FLUX RSS */ 		
	#fluxRss{float:left; display: inline; padding:15px 0 5px 8px; display:none;}
	#fluxRss a{ color:#072B0C; text-decoration: underline; font-size:10px;}
	#fluxRss a:hover{ color:#35633A; text-decoration:none;}
	#fluxRss img{float:left; display:inline; vertical-align:middle; margin:0 6px 0 0;}


/* --------CONTENU SITE = ZONE DU MILIEU-------- */
/* Modification COULEUR ARRIERE PLAN CONTENU SITE */ 	
	#milieu{width:984px;padding:24px 0 3px 0px; min-height:450px;background:#4286D6; border-left:4px solid #4286D6; border-right:5px solid #4286D6;margin:0 auto; position:relative; z-index:1;}
	* html #milieu{ height:450px;}
	
	#blocHaut{ width:100%; overflow:hidden;}
/* Positionnement bandeau image */ 
	#visuel{float:left; display:inline; width:709px; margin:0 0 10px 0; padding:0;}		
/* Modification COULEUR BORDURE IMAGE */ 		
	#visuel img{border:7px solid #FFFF42;}
 

/*--------POSITIONNEMENT MINI MOTEUR-------- */ 
	.miniMoteur{float:right;display:inline;width:225px;padding:0 0 0 36px;position:relative;}
/* Modification TITRE RECHERCHE */ 		
	.miniMoteur h2, #blocBas .nbrTransaction h2 {background:#FFFF42;color:#015AA1;font-size:18px;font-weight:bold;margin:0 0 4px -16px;padding:10px 0 10px 10px;width:210px;}
	#blocBas .nbrTransaction h3{ display:none;}
/* A NOTER !!!! Pour styliser les champs + bouton mini moteur VOIR == MINI_MOTEUR.CSS */ 


/* ----------- 3 COUPS DE COEUR ------------- */ 
	#blocBas #coupCoeur{float:left;display:inline;width:715px;margin:0 0 15px 0; }

/* ----------- LISTE TRANSACTIONS AGENCE ------------- */ 
	#blocBas .nbrTransaction{float:right;width:225px; padding:0 0 0 36px; height:230px; overflow:auto;}
/* Modification COULEUR "AUJOURD'HUI" */ 	
	#blocBas .nbrTransaction h3{font-size:13px;font-weight:bold;padding:1px 0 3px 0;color:#000;}
/* Modification COULEUR TYPE TRANSACTION */ 	
	#blocBas .nbrTransaction h4{width:167px;font-weight:bold;font-size:12px;padding:5px 0 0 0;}
	#blocBas .nbrTransaction h4 a{width:167px;font-weight:bold;font-size:12px;color:#fff;padding:10px 0 0 0;}
	#blocBas .nbrTransaction ul{list-style-type:none;margin:0 0 6px 0; line-height:16px;}
	#blocBas .nbrTransaction ul li a{ text-decoration:underline;}
/* Modification COULEUR TYPE DE BIEN */ 
	#blocBas .nbrTransaction ul *{font-size:11px;color:#fff;}
	#blocBas .nbrTransaction ul a:hover{text-decoration:none;color:#fff;}


/* -----------INCLUDE BAS------------- */ 

/* -----------INCLUDE BAS------------- */ 

/* Modification COULEUR BANDE COORDONNEES */ 
.CoordonneesAgence {font-size:11px; background:#1365B0;  text-align:center; padding:6px 0; color:#fff; border-bottom:3px solid #4286D6;}	
.CoordonneesAgence a{color:#fff; font-size:11px;}
/* Modification BG footer portefeuille + menu secondaire */
.footerPosition{background:#1365B0;width:993px; margin:auto;}
.porteFeuille{float:left;width:625px;padding-left:20px;}
/* ARRIERE PLAN FOOTER */
#footer{ background: none; margin:0 auto; padding:0 0 0 1px;}
		
		
/* Modification couleur 2 TITRES FOOTER */ 
 #footer h4{font-size:11px;font-weight:bold;background:url(../images/puce.gif) no-repeat;padding:4px 0 6px 33px;margin:12px 0 0 0;}
/* titre gauche : Notre portefeuille immobilier */
 #footer .porteFeuille h4{font-size:12px; color:#000;}
/* titre droite : www.urldusite.com */
 #footer .menuSecondaire h4{font-size:12px; color:#000; font-weight:bold;}

		
/* Modification couleur LISTE DES VILLES */ 
.porteFeuille .ListeVilles{width:520px;text-align:justify;line-height:13px;border:0;color:#000; padding:4px 0 0 5px;}
.ListeVilles *{color:#000; font-size:12px;font-weight:normal;}
.ListeVilles a{color:#000;text-decoration:none;}
.ListeVilles a:hover{color:#000;text-decoration:underline;}

/* Modification couleur MENU SECONDAIRE FOOTER (droite) */

.menuSecondaire{float:left;width:993px;font-size:11px;color:#fff;padding:8px 0 8px 0; background:#1365B0;border-top:4px solid #20016A;}



.menuSecondaire ul{padding:0; color:#2C3743; text-align:center; font-size:11px; list-style:none; overflow:hidden; width:750px; padding-left:190px;}
.menuSecondaire li { float: left;padding:10px 7px; background:#0059A3;font-size:11px; color:#FFFF42; font-weight: normal;}
/*.menuSecondaire li { float: left;padding:10px 7px; background:#0059A3;font-size:11px; color:#87B1D4; font-weight: normal;}*/
.menuSecondaire li.sep{ background:none;padding:10px 1px 10px 2px;}
.menuSecondaire li.realisation{ width:140px;}
.menuSecondaire li a{font-size:11px;color:#FFFF42;text-decoration:none;font-weight: normal;}
/*.menuSecondaire li a{font-size:11px;color:#87B1D4;text-decoration:none;font-weight: normal;}*/
.menuSecondaire li a:hover{font-size:11px;color:#87B1D4;text-decoration: none;}


/* ----------------------------------------AUTRES PAGES DU SITE---------------------------------------- */

/* Page En Construction */
	#EnConstruction{margin:70px 0 70px 0; text-align:center;}
	#EnConstruction h5 { color:#FFFF42;}


/* PAGE PLAN DU SITE = incl_plan-site.htm */  
	.ul#Plan *{text-decoration: none; font-weight: bold;}
	ul#Plan{padding: 0 8em; width:500px; margin:0 auto;position:relative;top:-25px;}
	ul#Plan li.plan{ color:#FFFF42; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;border-bottom:none;}
	ul#Plan li.MenuSep{display:none;}
	ul#Plan li{padding: 0.2em 0; border:none;}
	ul#Plan .plan{padding: 0.2em 0;background:none;}
	ul#Plan li a{ background:#FFFF42;color:#015AA1;padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #20016A; text-transform:uppercase;}
	ul#Plan li a:hover{color:#1A1465;padding-left:10px; height:19px;font-size: 12px; background:#FEFFD7 ;border:1px solid #20016A;}
	ul#Plan li.voirTout a{ color:#777475;}
	ul#Plan li.voirTout a:hover{ color:#fff;}
/* Outils */
	.ul#Outils *{text-decoration: none; font-weight: bold;}
	ul#Outils{padding: 2em 8em; width:500px; margin:0 auto;}
	ul#Outils li.list{padding: 0.2em 0px;background:none; margin:2px 0; border:none;}
	ul#Outils li a{color:#777475;padding-left:10px; background:FFFF42;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #20016A; text-transform:uppercase;}
	ul#Outils li a:hover{color:#1A1465;padding-left:10px; height:19px;font-size: 12px;background:#FEFFD7;border: 1px solid #20016A;}
	#Outils li.titrePageOutils{ color:#FFFF42; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}


/*PAGES ESTIMATION + CONTACT + MESSAGE == TABLEAUX FORMULAIRES*/
	.tabFond1{border-color:#00AA00; border-width:0; border-style:solid; padding:2px; font-family: Arial, Helvetica, sans-serif; width:100%;}
	 textarea {width:600px; height: 100px;margin: 3px 0 0 3px;border:1px solid #BDB9A3 ; color:#7F7F7F; padding:3px;}
	.tabFond2{border-color:#20016A; border-width:1px; border-style:solid; padding:2px; font-size:14px; font-family: Arial, Helvetica, sans-serif;}
	.tabTitre{background:#1365B0; color:#fff; font-size:12px; font-weight: bold; font-family: Tahoma, Helvetica, sans-serif; padding:10px; text-align:center; text-transform:uppercase; border-bottom:3px solid #feffd7;}
	.tabTitre *{font-size: 12px; color:#fff;}
	.tabPrint{color:#1A181C; font-size: 13px; font-family: Arial, Helvetica, sans-serif; border:1px solid #000;}
	.tabFond1 td input{margin:3px;border:1px solid #BDB9A3 ; color:#7F7F7F; padding:3px;background:#fff;}
	.tabFond1 td input#nbmens_calculer, .tabFond1 td input#mens_calculer, .tabFond1 td input#emprunt_calculer{ cursor:pointer; background:#1365B0; color:#87B1D4;}
	.tabFond1 td{ text-align:left;}
	.tabFond1 td input.BoutonFormRecherche{float:right;width:120px;height:25px;border:none;}
	select.imputForm{border:1px solid #BDB9A3 ;margin:0 0 0 3px; color:#7F7F7F; padding:3px;}
	select.imputForm option{ padding:0 0 0 4px;}
	select.imputForm option{color:#818181;}
	input.boutonEnvoi{float:right;width:120px;height:25px; padding:0; margin:0;}
	input.imputForm{border:1px solid #BDB9A3; margin:2px 0; color:#818181; padding:3px;}
	.tabFond1 table{ width:100%;}
	table{ width:99%;}
	strong.messageNomAgence,
	strong.estimationNomAgence{ color:#FFFF42; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase; display:block;}
	
/*Résolution Bug IE8 = donner une taille aux bouton pour éviter tout décallage*/
	.tabFond1 .boutonEnvoi {float:right;border:none;width:120px;height:25px; margin:0 0 0 -1px; padding:0;}
	.tabFond1 .BoutonFormContact {float:right;border:0;width:120px;height:25px;margin-right:-1px;}
	.MoteurBouton input {float:right;width:120px;height:25px;}
	td #ChampsBouton input {float:right;margin-right:12px;width:120px;height:25px;}
	#AgenceContact form table#FormContact td#ChampsBouton input{width:120px;height:25px;}
	

	


	/* coup de coeur*/
	* html .div-cdc{ height:265px;}
	.div-cdc{width:234px; min-height:265px;float:left; background:#FFFF42; margin:0 2px 0 0; border:1px solid #FFF;}
	.div-cdc *{ color:#000; font-size:11px; color:#4E4E4E;}
	 .div-cdc .photo-cdc{margin:2px 2px 3px 2px;}
	.div-cdc .photo-cdc img{width:228px;height:139px; border:1px solid #fff;}
	.div-cdc a span.ville-cdc{font-weight:bold;display:block; color:#000; font-size:11px; padding:6px 0 0 0;}
	.div-cdc a span.ville-cdc a:hover{color:#000;}
	.div-cdc .contenu-cdc a *{color:#015AA1;font-weight:bold; text-transform:capitalize; font-size:12px;}
	.div-cdc .contenu-cdc a:hover *{text-decoration:underline;}
	.div-cdc .contenu-cdc{padding:0 6px 4px 6px;}
	.div-cdc .contenu-cdc *{color:#000;}
	.div-cdc .contenu-cdc a{ text-decoration:none;}
	.div-cdc .contenu-cdc a:hover{color:#000;}
	.div-cdc .descriptif-cdc{ padding:4px 0 0 0 ;}
	.div-cdc p.prix-cdc{font-weight:bold;font-size:11px; color:#015AA1;}

 
/* Mentions Legales */
    #MentionsLegales{ width:99%;}
	#MentionsLegales h2 {display:block; width: 99%;background:#1365B0; border-bottom:2px solid #FFFF42; font-size: 14px; color:#fff;font-weight: bold;letter-spacing: 0;padding:3px 0 3px 8px;margin: 10px 0;text-align: left;text-transform: none;font-family: Arial, Helvetica, sans-serif; text-transform: none;}
    #MentionsLegales a { color:#FFFF42;}

/*detail*/
#AgenceContact form table#FormContact td#ChampsBouton #ChampsObligatoires{ clear:both;}
#AgenceContact td.detail_form_col2 h6, #AgenceContact .coords_agence p.urlAgence a, #TitreContact h6, #AgenceContact .coords_agence strong { color:#015AA1;}
#TitreContact a#AgenceMentions em span{ line-height:14px !important;}
#Galerie #previewPane #FancyBox_Ctn2 table#FancyBox td#FancyBox_Col1 #FancyBox_Ctn a#FancyBox1{ color:#00114A;}
#Galerie {background:none;}
#AgenceContact .coords_agence p.adresseAgence .agenceNom{color:#fff;}
#AgenceContact .coords_agence p.telAgence strong {color:#fff;}
#AgenceContact .coords_agence p.urlAgence a{color:#fff;}

/*recherche	*/
#RechercheContainer #AlerteEmail #AlerteForm input.alerteBt{ cursor:pointer; color:#FFFFFF;}
#RechHaut form#Tri select optgroup, #RechHaut form#Tri select option{ padding:0 0 0 4px; color:#7F7F7F;}
#RechHaut form#Tri select{ color:#7F7F7F;}
#RechPagesHaut .rechLiensPages a span, #RechPagesBas .rechLiensPages a span{ color:#015AA1;}

#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .contactAnn p.ctc{ color:#015AA1;}
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .prox{ padding:2px 0 2px 25px; }
/* liste agences immobilieres*/
#ListeAgencesImmobilieres .cadreAgence{ background:#1365B0; border:0px;}
#ListeAgencesImmobilieres .links{ background:#feffd7; font-size:11px;}
#ListeAgencesImmobilieres .links .links_Ctn *{ color:#251E6B; font-size:11px;}
#ListeAgencesImmobilieres .links .links_Ctn a.plus:hover, #ListeAgencesImmobilieres .links .links_Ctn a:hover{ background:#FEFFD7;}
#ListeAgencesImmobilieres .textAgence{ padding:20px;}
#ListeAgencesImmobilieres .textAgence p{ padding:0 0 10px 0; text-align:justify;}

#emprunt_calculer .imputForm{color:#fff;}