body { margin: 0; padding: 0; background: url(../images/bg_body.gif) repeat; text-align:center; }
div,td { font-family: Arial, Helvetica, sans-serif; font-size:11px; color: #83878a; }
img { border:none; display: inline; }
table  { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; }
a { text-decoration: none; color: #83878a; }
a:hover { text-decoration: underline; color: #239ade; }
p { margin: 0; padding: 0; }

.clear1 { clear: left; }
.clear2 { clear: both; }
/*--------------------------------------------*/

#wrap { width: 1016px; margin: 0 auto; text-align: left; background:url(../images/repeat_body.gif) repeat-y; }
#content { background-color: #FFFFFF; width: 1000px; float:left; }
#content2 { padding: 15px; }

.pucerecherche { position:absolute; top:130px; left: 50px; background:url(../images/puce_recherche.gif) no-repeat; width: 126px; height: 20px; }
.pucerecherche2 { padding-top: 3px; padding-left: 30px; }
.pucerecherche2 a { font-size: 12px; font-weight:bold; color: #64696d; }

.bdleft { width: 8px; float:left;  }
.bdright { width: 8px; float:left; }
.bgtop { background:url(../images/bg_top.gif) no-repeat; width: 1000px; }
.url { float:left; color: #fff; font-weight: bold; padding-top: 2px; padding-left: 10px; }
.url strong { color: #99eaff; }
.gest { float:right; font-weight: bold; color: #99eaff; padding-top: 2px; padding-right: 10px; }
#logo { float:left; width: 431px; height: 119px; padding-top: 4px; }
#photo { float:right; width: 569px; height: 119px; padding-top: 4px; }

#menu { width: 1000px; height: 50px; position:relative; }
#menu ul { margin: 0; padding: 0; list-style-type: none; }
#menu li { position: relative; height: 50px; overflow: hidden; float: left; }
#menu li a { display: block; background-repeat: no-repeat; height: 50px; overflow: hidden; }
#menu li a:hover { background-position: 0 -50px; position: relative; }
/*fr*/
#menu .mn1 { width: 84px; background-image: url(../images/mn1.gif); }
#menu .mn2 { width: 128px; background-image: url(../images/mn2.gif); }
#menu .mn3 { width: 72px; background-image: url(../images/mn3.gif); }
#menu .mn4 { width: 96px; background-image: url(../images/mn4.gif); }
#menu .mn5 { width: 88px; background-image: url(../images/mn5.gif); }
#menu .mn6 { width: 128px; background-image: url(../images/mn6.gif); }
#menu .mn7 { width: 124px; background-image: url(../images/mn7.gif); }
#menu .mn8 { width: 90px; background-image: url(../images/mn8.gif); }
#menu .mn9 { width: 114px; background-image: url(../images/mn9.gif); }
#menu .mn10 { width: 76px; background-image: url(../images/mn10.gif); }


#fondgeo { width: 591px; height: 40px; }
#fondgeo ul { margin: 0; padding: 0; list-style-type: none; }
#fondgeo li { position: relative; height: 40px; overflow: hidden; float: left; }
#fondgeo li a { display: block; background-repeat: no-repeat; height: 40px; overflow: hidden; color: #FFFFFF; text-decoration:none; font-size: 14px; font-weight: bold; padding-top: 7px; }
#fondgeo li a:hover { background-position: 0 -40px; position: relative; color: #FFFFFF; text-decoration:none; }

#fondgeo #fond1 { width: 235px; background-image: url(../images/fond1.gif); background-position: 0 -40px; }
#fondgeo #fond2 { width: 356px; background-image: url(../images/fond2.gif); }
#fondgeo strong { padding: 0 45px; }



#contenu { margin-top: 1px; background:url(../images/bg_content.jpg) no-repeat; width: 1000px; min-height: 400px; }
#left-content { float:left; width: 603px; background-color:#FFFFFF; margin-top: 12px; margin-left: 4px; _margin-left:0; }
#right-content { float:right; width: 380px; background:url(../images/bg_cdc.gif) repeat-x #FFFFFF; }
.bg-ttl-recherche { background:url(../images/bg_ttl_recherche.gif) no-repeat; width: 603px; height: 45px; }
.trouvez { font-size: 14px; color:#FFFFFF; font-weight: bold; padding-top:10px; padding-left: 40px; }
.bg-liste { background:url(../images/bg_recherceliste.gif) no-repeat; width: 222px; height: 31px; float:left; margin-left: 12px; _margin-left: 6px; }
.bg-carte { background:url(../images/bg_recherche_carte.gif) no-repeat; width: 222px; height: 31px; float:left; margin-left: 2px; }
.margeprix { color:#FFFFFF; font-weight: bold; font-size: 14px; text-align:center; padding-top: 9px; }
.bg-moteur {  width: 590px; background:url(../images/repeat_recherche.gif) repeat-y; }
.int-moteur { width: 580px; padding-left: 7px; }
.txt-acc { padding-top: 25px; padding-left: 15px; }
.ph-acc { float:left; width: 212px; }
.texte { float:left; padding-left: 10px; width: 340px; }
.separ { padding-top: 30px; padding-left: 10px; width: 287px; float:left; }
.separ strong { color: #1993d4; }

.separ2 { padding-top: 30px; padding-left: 10px; font-size:15px;}
.separ2 strong { color: #1993d4; }


.photo_cdc{display: block;}
.bg-ttl-cdc { background: url(../images/bg_cdc_ttl.gif) no-repeat; width: 364px; height: 38px; margin-top: 12px; margin-left: 8px; }
.coup { color:#FFFFFF; font-weight: bold; padding-top: 10px; padding-left: 35px; font-size: 14px; }
.photog { padding: 0 8px; }
.bg-libelle { background:url(../images/repeat_libelle.gif) repeat-y; width: 365px; padding-bottom: 15px; }
.fondlibelle { background:url(../images/bg_libelle.gif) no-repeat; width: 365px; margin-top:0; padding-top:0}
.maison { float:left; width: 170px; text-align:right; padding-top: 7px; padding-left: 5px; }
.maison a { font-size:14px; font-weight:bold; color: #64696d; }
.maison a strong  { font-size: 20px; }
a.lieu { color: #97a1aa; }
.desript { color: #FFFFFF; float:right; width: 145px; padding-right: 10px; padding-top: 15px; }
.immoalerte { background:url(../images/bg_immo.gif) no-repeat; width: 364px; height: 125px; margin-top: 5px; }
.txt-immo { color:#FFFFFF; padding-top: 10px; padding-left: 120px; width: 230px; }
.txt-immo strong { font-size: 18px; line-height: 35px; }
.txt-immo a { color: #FFFFFF; }
.fnaim { background:url(../images/bg_fnaim.gif) no-repeat; width: 364px; height: 125px; margin-top: 5px; margin-bottom:15px; }
#footer { background:url(../images/bg_footer.gif) no-repeat; width: 1016px; height: 80px; margin: 0 auto; }
.minilogo { float:left; width: 277px; padding-top: 2px; padding-left: 10px; }
.links-footer { padding-top: 40px; color:#FFFFFF; }
.links-footer a { color: #FFFFFF; }
.bienvenu { font-size: 12px; font-weight:bold; color: #c1c1c1; }
.bienvenu strong { font-size: 18px; color: #1993d4; }

.fondmini { background: url(../images/fond_mini.gif) no-repeat; width: 580px; position:relative; }
.spacemini { padding-left: 45px; padding-top: 5px; }
#miniliste { display: block; }
#minicarte { display: none; }

.carto-agence { width: 900px; height: 410px; padding: 15px 10px 10px 10px; margin-bottom: 20px; background-color: #a5a8ac; margin: 0 auto; }
.nous-situer { padding: 0 20px 5px 20px; border-bottom: 1px solid #696f77; margin-bottom: 5px; }
.nous-situer a { font-size: 14px; color: #696f77; display: block; width: 140px; height: 25px; line-height: 25px; padding-left: 35px; font-weight: bold; background: url(../images/arrow_locate.gif) 0 0 no-repeat; text-transform: uppercase; }
.nous-situer a:hover { color: #df0003; }

/* map/geoloc_moteur_dyn02.htm */
#geoloc_moteur_dyn02{ width: 500px; position: relative; padding-top: 10px; padding-left: 20px; }
#geoloc_moteur_dyn02 *{}
#geoloc_moteur_dyn02 p{ margin: 0 0 5px 0; line-height: 25px; font-size: 12px; font-weight: bold; color: #80878d; clear: both; }
#geoloc_moteur_dyn02 p.idtt_ctn,
#geoloc_moteur_dyn02 p.idtypebien_ctn,
#geoloc_moteur_dyn02 p.villes_ctn{ float: left; width: 80px; text-align: left; }
#geoloc_moteur_dyn02 p.bt_ctn{ text-align:right; }
/* listes deroulantes */
#geoloc_moteur_dyn02 select.idtt,
#geoloc_moteur_dyn02 select.typeBien,
#geoloc_moteur_dyn02 select.villesAnn{ width: 300px; float: right; border: 1px solid #a6a9b4; background-color: #fff; color: #676768; font-size: 11px; margin: 0 0 20px 0; }

/*-----------------*/

/*guide*/
#MenuGuide { 
	text-align: left; 
}
#MenuGuide table { 
	margin: 0 auto; 
}
#MenuGuide a {
	font-weight: bold;
	color: #868f96; 
	text-decoration: none; 
	line-height: 20px; 
}

#MenuGuide a:hover { 
	color: #1993d4; 
}

#MenuGuide td { 
	text-align: left; 
}

#PageDossiers table { 
	margin: 0 auto; 
	width: 100%; 
}

#PageDossiers p { 
	margin: 5px 0; 
}

#PageDossiers td { 
	padding: 2px 5px; 
}

.txtTitre3, .grasnews { 
	color: #1993d4; 
	font-weight: bold; 
	font-size: 13px; 
	text-align: left;
	font-variant: small-caps; 
}

.gras {
	padding: 2px 5px 2px;
	background: none;
	color: #1993d4;
	font-weight: bold;
}

.gras u { 
	text-decoration: none; 
}

.encadre {
	border: none;
	padding: 5px;
	background: #fff;
	line-height: 14px;
	border: 1px solid #868f96;
}

.encadre table {
	width: 100%;
}

.encadre .gras {
	padding: 0;
	margin-bottom: 5px;
	background: none;
	color: #1993d4;
	line-height: 12px;
}

.encadre a { 
	color: #3a3939; 
}

.encadre a:hover { 
	color: #3a3939; 
}

.table_news strong { 
	color: #1993d4; 
}

.table_news, .encadre table {
	border-top: 1px solid #868f96;
	border-left: 1px solid #868f96;
	border-bottom: none;
	border-right: none;
	background: #fff;
}

.table_news td, .encadre td {
	border-bottom: 1px solid #868f96;
	border-right: 1px solid #868f96;
	border-left: none;
	border-top: none;
	background: #fff;
	font-size: 10px;
	padding: 5px;
}
   
.table_news .gras {
	padding: 3px 5px;
	margin: 0;
	background: none;
	color: #fff;
	line-height: 12px;
}

	/*page formulaire*/
.tabFond1 { background: none; }
.tabFond1 td { padding: 2px 10px; }
.tabFond1 table { text-align: left; }
.tabTitre { font-size: 13px; height: 22px; color: #fff; margin: 0 0 10px 0; padding: 0; font-weight: bold; text-align: center; background: url(../images/bg_ttl.gif) repeat-x #868f96; border: 1px solid #868f96; }
.messageNomAgence, .estimationNomAgence { font-size: 18px; text-align: center; color: #1993d4; margin: 0; padding: 5px; font-weight: bold; display: block; }
.tabFond1 .Input { margin-bottom: 2px; }
#CguFormulaire { background: url(../images/bg_ttl.gif) repeat-x #868f96; border: 1px solid #868f96; padding: 10px; text-align: left; color: #fff; }
#CguFormulaire a { color: #fff; text-decoration: underline; }
#CguFormulaire a:hover { color: #fff; text-decoration: none; }
	/*page alerte*/
#PageAlert { border-bottom: 2px solid #868f96; border-top: 2px solid #868f96; padding: 15px 0; }
#PageAlert font { color: #868f96; }
#PageAlert td { text-align: left; }
#PageAlert strong { color: #868f96; }
#PageAlert a { font-size: 14px; font-weight: bold; color: #1993d4; display: block; margin-left: 50px; padding-left: 20px; background: url(../images/arrow3.gif) no-repeat; width: 400px; line-height: 14px; height: 14px; }
#PageAlert a:hover { width: 400px; line-height: 14px; height: 14px; background-position: 0 -14px; font-size: 14px; color: #868f96; text-decoration: none; display: block; margin-left: 50px; padding-left: 20px; }
/**/

/*map-google*/
#map-google { width: 920px; margin: 0 auto; border: 4px solid #4f5f93; background-color: #4f5f93; text-align: center; }
.nous-situer { color: #1993d4; font-weight: bold; text-transform: uppercase; font-size: 14px; padding-bottom: 15px; }

/*alerte email*/
#AlerteImmo * { color: #1993d4; }
#AlerteImmo{background: none; border: none; min-height: 400px; _height: 400px;}
#AlerteConfirmation  h4 { color: #787f85; }
#AlerteConfirmation  h2 { color: #787f85; }
#AlerteConfirmation  h5 { color: #787f85; }

#AlerteEmail h2 { color: #fff; }
#AlerteEmail h5 { color: #fff; }
#AlerteImmo #AlerteTitre01{background: url(/alerte/alerteimmo_titre_fond01.gif) 0 0 no-repeat;}
#AlerteImmo #AlerteTitre01 h5{ background: url(../images/alerteimmo_titre_fond02.jpg) no-repeat; }
#AlerteImmo #AlerteTitre01 h5 span{color: #fff; font-size: 18px; }

#AlerteImmo #AlerteConfirmation p.confirmation { color:#787f85; }

/*rechercher*/

#RechPagesHaut .rechLiensPages a,
#RechPagesBas .rechLiensPages a{ border: none; width: 19px; height: 17px !important; overflow: hidden; padding-top: 4px; }

#RechPagesHaut .rechLiensPages a.actif,
#RechPagesBas .rechLiensPages a.actif{ border: none; }
#RechPagesHaut .rechLiensPages a:hover,
#RechPagesBas .rechLiensPages a:hover{border: none; }

#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .prix { padding:3px 0 3px 10px; }
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .libelle, #RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .ville { padding:0 0 0 10px; }



*+html #RechHaut #RechHautCtn #RechHautLiens a { PADDING-LEFT: 25px; MARGIN: 0px 10px 0px 0px; font-size: 10px; }
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .contactAnn p.mail * { font-size: 9px; }

*+html #RechercheContainer #AlerteEmail #AlerteForm input.alerteBt { margin: 4px 0 0 250px; }
#RechercheContainer #AlerteEmail #AlerteForm input.alerteBt { border: 1px solid #1d1a63; }

*+html #RechHaut #RechHautCtn #RechHautLiens { width: 788px; }
*+html #RechHaut #RechHautCtn #RechHautLiens { margin:6px 0pt 0pt; padding:1px 0pt; } 

.selectAgenceChoix { padding-top: 35px; }

#map-google { width: 670px; margin: 0 auto; border: 10px solid #1993d4; background-color: #868f96; text-align: center; }
#RechercheContainer #AlerteEmail #AlerteForm input.alerteBt { border: 1px solid #1993d4; }


#RechPagesHaut .rechLiensPages a.actif, #RechPagesBas .rechLiensPages a.actif { border: 1px solid #1993d4; }
#RechPagesHaut .rechLiensPages a:hover, #RechPagesBas .rechLiensPages a:hover { border: 1px solid #1993d4; }

#RechResultat .blocAnnonce_wrap .blocAnnonce table td.colGauche .visuelsDispos a {background:transparent url(../recherche/img_panorama/picto_fleche_01.gif) no-repeat  left center; }

.TxtContenu {font-size: 12px; line-height:16px;}


.titre {font-size:19px;
padding: 0 20px 5px 30px;
background: url(../images/arrow_locate.gif) 0 0 no-repeat;
height: 21px;
line-height: 21px;
margin-bottom: 25px;
color : #1993D4;
border-bottom: 1px solid #1993D4;
}

ol li  { font-size:16px; color:#61686D; padding-bottom:30px;
 }
 
ol li span { font-size:12px; color:#83878a; line-height:16px;} 

.tablo td { border:none; margin: 10px 5px;  font-size: 12px; line-height:20px;}
.tablo {font-size: 12px; line-height:20px;}


/* PAGE DETAIL CORNER */

/* retrait de l'info quartier à la demande du client le 13.03.2009 */
td#ColonneDroite h3#Quartier {display:none; font-size: 11px; font-weight: normal;}
