$$REM$$
/*
====================================================================

//// <summary>Liste macros générales pour faciliter customisation des sites agences</summary>
//// <remarks>
//// <para>Possibilité de démutualiser ce fichier pour modifier vos propres paramètres</para>
//// <para>Possibilité de créer de nouvelles macros si cela vous est nécessaire, ce fichier n'est pas exhaustif</para>
//// </remarks>
//// <update date="2008-08-25" author="lisbonne.siriphol">Création</update>

====================================================================
*/
$$END$$

/* 

$$REM$$
>> MACROS GÉNÉRALES CORNER.HTM (attention au chemin des fichiers)
====================================================================================
 ///////////////////////////// detail_corner.css  /////////////////////////////
====================================================================================
$$END$$

$$REM$$=====================>> chemin des fichiers <<=====================$$END$$
$$A:PATH_IMG_CORNER=@@-@@detail/img_corner$$
$$A:PATH_IMG_GENERAL=@@-@@detail/img_general$$
$$A:PATH_IMG_SITE=@@_@@detail/img_corner$$				$$REM$$===========>> CHEMIN VERS VOTRE SITE <<===========$$END$$


$$REM$$=====================>> couleurs textes <<=====================$$END$$

$$A:COLORTXT1=#666$$      		$$REM$$===========>> textes divers <<===========$$END$$
$$A:COLORTXT2=#1993d4$$				$$REM$$===========>> titres sur fonds clairs<<===========$$END$$
$$A:COLORTXT3=#fff$$					$$REM$$===========>> titres sur fonds sombre <<===========$$END$$
$$A:COLORTXT_SELECTION_OK=#4c9d15$$				$$REM$$===========>> annonce selectionnee <<===========$$END$$
$$A:COLORTXT_ERREUR=#1993d4$$				$$REM$$===========>> erreur formulaire <<===========$$END$$


$$REM$$=====================>> bg et pictos divers <<=====================$$END$$
$$A:PICTO_FLECHE_01=url(@@PATH_IMG_SITE@@/picto_fleche_01.gif) left no-repeat$$		$$REM$$===========>> visible sur liens haut page <<===========$$END$$
$$A:PICTO_FLECHE_02=url(@@PATH_IMG_CORNER@@/picto_fleche_02.gif) 0 3px no-repeat$$ 	$$REM$$===========>> visible sur infos prix et formulaire <<===========$$END$$
$$A:PICTO_FLECHE_HAUT=url(@@PATH_IMG_SITE@@/picto_fleche_haut.gif) 0 5px no-repeat$$      $$REM$$===========>> retour en haut de page <<===========$$END$$
$$A:LIGNE_POINTILLES=url(@@PATH_IMG_CORNER@@/bg_pointilles.gif) 0 0 repeat-x$$
$$A:LIGNE_POINTILLES_BAS=url(@@PATH_IMG_CORNER@@/bg_pointilles.gif) bottom left repeat-x$$


$$REM$$=====================>> page erreur <<=====================$$END$$
$$A:ERREUR_WIDTH=210px$$
$$A:ERREUR_HEIGHT=170px$$
$$A:ERREUR_BG=@@PATH_IMG_CORNER@@/erreur_bg.png$$
$$A:ERREUR_PICTO=url(@@PATH_IMG_CORNER@@/erreur_picto.jpg) left no-repeat$$
$$A:ERREUR_COLOR_TXT1=#ce0000$$
$$A:ERREUR_COLOR_TXT2=#888$$


$$REM$$=====================>> onglets <<=====================$$END$$
$$A:ONGLET_HEIGHT=26px$$
$$A:ONGLET_WIDTH=161px$$
$$A:ONGLET_BG_OFF=url(@@PATH_IMG_SITE@@/onglet_off.gif) 0 0 no-repeat$$
$$A:ONGLET_BG_ON=url(@@PATH_IMG_CORNER@@/onglet_on.gif) 0 0 no-repeat$$




$$REM$$=====================>> styles colonne gauche et droite <<=====================$$END$$
$$A:COLONNE_GAUCHE_WIDTH=480px$$
$$A:COLONNE_PADDING=13px$$
$$A:COLONNE_SPACER=10px$$					$$REM$$====== espace entre les 2 colonnes ======$$END$$

















$$A:COLONNE_BORDER=1px solid #c8c8c8$$


$$REM$$=====================>> bookmark : lien social partage annonce <<=====================$$END$$
$$A:FACEBOOK=url(@@-@@images/bookmarks/facebook.gif) 0 0 no-repeat$$
$$A:GOOGLE=url(@@-@@images/bookmarks/google.gif) 0 0 no-repeat$$
$$A:LIVESPACE=url(@@-@@images/bookmarks/livespace.gif) 0 0 no-repeat$$
$$A:MYSPACE=url(@@-@@images/bookmarks/myspace.gif) 0 0 no-repeat$$
$$A:NETVIBES=url(@@-@@images/bookmarks/netvibes.gif) 0 0 no-repeat$$
$$A:SCOOPEO=url(@@-@@images/bookmarks/scoopeo.gif) 0 0 no-repeat$$
$$A:TECHNORATI=url(@@-@@images/bookmarks/technorati.gif) 0 0 no-repeat$$
$$A:TWITTER=url(@@-@@images/bookmarks/twitter.gif) 0 0 no-repeat$$
$$A:WIKIO=url(@@-@@images/bookmarks/wikio.gif) 0 0 no-repeat$$
$$A:YAHOO=url(@@-@@images/bookmarks/yahoo.gif) 0 0 no-repeat$$

$$A:MAILTO=@@-@@images/bookmarks/mailto.png$$
$$REM$$====== ! PNG DANS CSS, OBLIGATION DE DÉCLARER WIDHT ET HEIGHT (BUGG IE) ! ======$$END$$






$$REM$$
====================================================================================
 ///////////////////////////// exclu + cdc  /////////////////////////////
====================================================================================
$$END$$

===============>> picto exclusif
$$IF0:FORM:LANG$$$$A:EXCLUSIF_PICTO=@@PATH_IMG_GENERAL@@/exclusif_fr.png$$$$END$$
$$IF:FORM:LANG$$$$A:EXCLUSIF_PICTO=@@PATH_IMG_GENERAL@@/exclusif_@@FORM:LANG@@.png$$$$END$$
$$A:EXCLUSIF_WIDTH=165px$$
$$A:EXCLUSIF_HEIGHT=140px$$
$$REM$$====== ! PNG DANS CSS, OBLIGATION DE DÉCLARER WIDHT ET HEIGHT (BUGG IE) ! ======$$END$$

===============>> picto coup de coeur
$$A:CDC_PICTO=@@PATH_IMG_GENERAL@@/coupdecoeur.png$$
$$A:CDC_WIDTH=97px$$
$$A:CDC_HEIGHT=82px$$
$$REM$$====== ! PNG DANS CSS, OBLIGATION DE DÉCLARER WIDHT ET HEIGHT (BUGG IE) ! ======$$END$$


$$REM$$=====================>> photos <<=====================$$END$$
$$REM$$================>> grande photo <<================$$END$$
$$A:CADRE_PHT_BORDER=1px solid #cfcdcd$$
$$A:CADRE_PHT_BG=#fff$$
$$A:SANS_PHOTO=url(@@PATH_IMG_SITE@@/sans_photo.jpg) 0 0 no-repeat$$
$$A:SANS_PHOTO_HEIGHT=290px$$
$$A:PHOTO_WIDTH=410px$$ 					$$REM$$====== ! taille standard 400px ! ======$$END$$
$$A:PHOTO_HEIGHT=266px$$ 					$$REM$$====== ! taille standard 266px ! ======$$END$$
$$A:PHOTO_PICTO_FLECHE=url(@@PATH_IMG_CORNER@@/picto_fleche_photo.gif) 10px 3px no-repeat$$
$$REM$$================>> thumbs <<================$$END$$
$$A:THUMB_WIDTH=100px$$
$$A:THUMB_HEIGHT=70px$$
$$REM$$================>> chargement de la photo quand ton ordi rame <<================$$END$$


$$REM$$================>> diaporama <<================$$END$$
$$A:DIAPO_BORDER=20px solid #fff$$
$$A:DIAPO_CTN_WIDTH=$$      			$$REM$$====== ! à remplir si la largeur gauche bugge avec le diaporama ! ======$$END$$
$$A:DIAPO_WIDTH=400px$$
$$A:DIAPO_HEIGHT=266px$$
$$A:DIAPO_PICTO_FLECHE_WIDTH=24px$$
$$A:DIAPO_PICTO_FLECHE_GAUCHE=url(@@PATH_IMG_CORNER@@/arrow_left.gif) 5px center no-repeat #fff$$
$$A:DIAPO_PICTO_FLECHE_DROITE=url(@@PATH_IMG_CORNER@@/arrow_right.gif) 5px center no-repeat #fff$$
$$A:DIAPO_PICTO_FLECHE_GAUCHE_HOVER=url(@@PATH_IMG_CORNER@@/arrow_left_over.gif) 5px center no-repeat #fff$$
$$A:DIAPO_PICTO_FLECHE_DROITE_HOVER=url(@@PATH_IMG_CORNER@@/arrow_right_over.gif) 5px center no-repeat #fff$$

$$REM$$================>> autres visuels <<================$$END$$
$$A:AUTRES_VISUELS_BG=url(@@PATH_IMG_CORNER@@/autres_visuels_bg.jpg) 0 0 repeat-y #f7f7f7$$
$$REM$$====== ! on donne les memes dimensions a tous les .png ! ======$$END$$
$$A:AUTRES_VISUELS_PICTO_HEIGHT=65px$$
$$A:AUTRES_VISUELS_PICTO_WIDTH=62px$$
$$A:AUTRES_VISUELS_PICTO_PDF=@@PATH_IMG_CORNER@@/picto_pdf.png$$
$$A:AUTRES_VISUELS_PICTO_VISITE_VIRTUELLE=@@PATH_IMG_CORNER@@/picto_visite_virtuelle.png$$
$$A:AUTRES_VISUELS_PICTO_LIEN_VIDEO=@@PATH_IMG_CORNER@@/picto_lien_video.png$$
$$REM$$====== ! PNG DANS CSS, OBLIGATION DE DÉCLARER WIDHT ET HEIGHT (BUGG IE) ! ======$$END$$


$$REM$$================>> outils <<================$$END$$
$$REM$$====== ! on donne les memes dimensions a tous les .png ! ======$$END$$
$$A:OUTILS_PICTO_HEIGHT=45px$$
$$A:OUTILS_PICTO_WIDTH=62px$$
$$A:OUTILS_PICTO_AJOUT_SELECTION=@@PATH_IMG_CORNER@@/picto_ajout_selection.png$$
$$A:OUTILS_PICTO_SELECTION_OK=@@PATH_IMG_CORNER@@/picto_selection_ok.png$$
$$A:OUTILS_PICTO_VOIR_SELECTION=@@PATH_IMG_CORNER@@/picto_voir_selection.png$$
$$A:OUTILS_PICTO_ANNONCES_SIMILAIRES=@@PATH_IMG_CORNER@@/picto_annonces_similaires.png$$
$$A:OUTILS_PICTO_IMPRIMER=@@PATH_IMG_CORNER@@/picto_imprimer.png$$
$$A:OUTILS_PICTO_ENVOI_AMI=@@PATH_IMG_CORNER@@/picto_envoi_ami.png$$
$$A:OUTILS_PICTO_FINANCER_ACHAT=@@PATH_IMG_CORNER@@/picto_financer_achat.png$$
$$REM$$====== ! PNG DANS CSS, OBLIGATION DE DÉCLARER WIDHT ET HEIGHT (BUGG IE) ! ======$$END$$


$$REM$$=====================>> COLONNE DROITE <<=====================$$END$$

$$REM$$=====================>> titre descriptif + infos complementaires + <<=====================$$END$$
$$A:TITRE_DESCRIPTIF_BG=@@PATH_IMG_CORNER@@/titre_descr_bg.png$$
$$A:TITRE_INFOSCOMP_BG=@@PATH_IMG_SITE@@/titre_infoscomp_bg.gif$$
$$A:TITRE_CONTACT_BG=@@PATH_IMG_CORNER@@/titre_contact_bg.png$$
$$A:TITRE_FORM_BG=@@PATH_IMG_SITE@@/titre_form_bg.gif$$
$$A:TITRE_WIDTH=431px$$
$$A:TITRE_HEIGHT=54px$$
$$REM$$====== ! PNG DANS CSS, OBLIGATION DE DÉCLARER WIDHT ET HEIGHT (BUGG IE) ! ======$$END$$


$$REM$$=====================>> prix <<=====================$$END$$
$$A:PRIX_BG=@@PATH_IMG_SITE@@/prix_bg.gif$$
$$A:PRIX_HEIGHT=65px$$
$$A:PRIX_WIDTH=160px$$


$$REM$$=====================>> programmes neufs <<=====================$$END$$
$$A:NEUF_BG=#e4e4e4$$
$$A:NEUF_BORDER1=1px solid #888$$
$$A:NEUF_BORDER2=1px dashed #888$$


$$REM$$=====================>> infos complementaires <<=====================$$END$$
$$A:INFOSCOMP_PICTO=url(@@PATH_IMG_SITE@@/infoscomp_picto.gif) 0 4px no-repeat$$


$$REM$$=====================>> coordonnees agence <<=====================$$END$$
$$A:COORD_PICTO_ADRESSE=url(@@PATH_IMG_CORNER@@/picto_adresse.gif) 0 0 no-repeat$$
$$A:COORD_PICTO_EMAIL=url(@@PATH_IMG_CORNER@@/picto_email.gif) 0 1px no-repeat$$
$$A:COORD_PICTO_URL=url(@@PATH_IMG_CORNER@@/picto_url.gif) 0 0 no-repeat$$
$$A:COORD_PICTO_TEL=url(@@PATH_IMG_CORNER@@/picto_tel.gif) 0 0 no-repeat$$
$$A:COORD_PICTO_FAX=url(@@PATH_IMG_CORNER@@/picto_fax.gif) 0 0 no-repeat$$


$$REM$$=====================>> mentions legales <<=====================$$END$$
$$A:INFOBULLE_MENTIONS_WIDTH=335px$$
$$A:INFOBULLE_MENTIONS_HEIGHT=160px$$
$$A:INFOBULLE_MENTIONS_BG=@@PATH_IMG_CORNER@@/infobulle_mentions_bg.png$$
$$REM$$====== ! PNG DANS CSS, OBLIGATION DE DÉCLARER WIDHT ET HEIGHT (BUGG IE) ! ======$$END$$



$$REM$$=====================>> formulaire <<=====================$$END$$
$$REM$$====================================================================================
Recommandations pour un beau formulaire : conditionner les dimensions de vos bg ici
====================================================================================$$END$$
$$A:FORM_TABLE_WIDTH=398px$$
$$A:FORM_TD_HEIGHT=24px$$
$$A:FORM_INPUT_WIDTH=180px$$
$$A:FORM_INPUT_BG=url(@@PATH_IMG_CORNER@@/form_input_bg.gif) bottom center no-repeat$$
$$A:FORM_TEXTAREA_BG=url(@@PATH_IMG_CORNER@@/form_textarea_bg.gif) bottom center no-repeat$$
$$A:FORM_TEXTAREA_BG_HEIGHT=86px$$
$$A:FORM_TEXTAREA_WIDTH=380px$$
$$A:FORM_TEXTAREA_HEIGHT=70px$$


$$REM$$=====================>> message ok <<=====================$$END$$
$$REM$$====================================================================================
Recommandations pour un beau formulaire : conditionner les dimensions de vos bg ici
! PNG DANS CSS, OBLIGATION DE DÉCLARER WIDHT ET HEIGHT (BUGG IE) ! 
====================================================================================$$END$$
$$A:FORMULAIRE_OK_BG=@@PATH_IMG_SITE@@/message_ok_bg.gif$$
$$A:FORMULAIRE_OK_WIDTH=320px$$
$$A:FORMULAIRE_OK_HEIGHT=155px$$


*/