	/*mini moteur*/
.BoiteMiniMoteur { position: relative; width: 540px; }
.BoiteMiniMoteur br { display: none; }
.BoiteMiniMoteur p.MiniTitre { margin: 0 0 6px 0; font-family: Arial, Helvetica, sans-serif; color: #80878d; text-align: left; line-height: 15px; }
.BoiteMiniMoteur #MiniTypeTrans, .BoiteMiniMoteur #MiniTypeBien, .BoiteMiniMoteur #MiniBudget, .BoiteMiniMoteur #MiniVilles { float: left; width: 235px; text-align: left; padding-right: 35px; padding-bottom: 20px; }
.BoiteMiniMoteur #MiniBouton { width: 560px; text-align: right; }
.BoiteMiniMoteur #MiniBouton input { float: right; margin-right: 50px; padding-top: 10px; }
.BoiteMiniMoteur .MiniSelect { width: 210px; color: #80878d; font-size: 11px; border: 1px solid #80878d; }
