/* Template Initial 1 / Développement 2009 // WebAgency SeLoger ~ Jérôme B.*/

				*{font-family: arial, verdana,helvetica, sans-serif; font-size: 11px; margin:0; padding: 0; border: none;}

/* Général */
				body {color:#000; margin: 0; background:#dededd;}
				a {font-weight: bold; color: #780024;}
				a:hover {text-decoration: none;}
				p { color:#444444;}
				
				#wrapper { width:1100px; background:url(../images/bg_global.gif) repeat-y; margin:0 auto;}
	            				
				#Top{height:22px; background:#fff; width: 990px;overflow: hidden; padding: 0 5px; margin:auto; color:#fff;position:relative;}
				#Top #CornerLeft {background: url(../images/top_corner_left.gif) bottom no-repeat #323232; height:22px; width:9px; float:left;}
				#Top #Content {background: #323232; width:970px; float:left; height:22px; padding: 10px 0 0 0;}
				#Top #CornerRight {background: url(../images/top_corner_right.gif) bottom no-repeat #323232; height:22px; width:9px;float:left;}
				
				#Top h1 {float:left; color:#fff; font-size:1em; margin-right:0px; font-weight: normal;}
				#Top h1 a { color:#fff; text-decoration:none;}
				#Top #AnnoncesDefilantes marquee {overflow: hidden; float:left; width: 335px; font-size:1em; color:#fff;}
				#Top #AnnoncesDefilantes a strong {color:#fff; font-size:1em; font-weight: normal;}
				#Top #AnnoncesDefilantes a {color:#fff; font-size:1em; font-weight: normal; text-decoration:none;}
				#Drapeaux {position:absolute; top:4px; right:20px; }
				
				#Global {position: relative; padding:0px 5px 15px 5px; margin:auto; width: 990px; text-align: left; background: #fff; border: 0;}
				
				.logo { position:absolute;  left:120px; top:0; width:170px; height:96px;}
				.partenaire { position:absolute; top:35px; left:770px; }
				#Header {height:101px; position:relative; background: url(../images/header.jpg) no-repeat ; margin-top:0; padding-top:0; }
				#Header img {float:left; border:0;}
				#Header h1 {display:none;}
				#Header #Ref {padding-top:35px; float:right; text-align:right; list-style:none;}
				#Header #Ref a {color:#525252; text-decoration:none; font-size:0.9em;}
				#Header #Ref a:hover {color:#000; text-decoration:none; font-size:0.9em;}
				
				#Vide {height:35px; }
				
/* Main Menu */
				#TopMenuPlace {height:40px; margin:0; border:0; padding:0 0;}
				
				
				
				ul#Menu {background: url(../images/bg_menu.gif) repeat-x; position:absolute; top:100px; left:5px; width:990px; height:41px; margin:0; border:0; padding:0 0 0 0; font-size:small; list-style:none; }
				
				ul#Menu li#MenuCornerLeft {background: url(../images/menu_corner_left.gif) left no-repeat; height:41px; width:9px; float:left; padding:0; margin:auto; }
				
				ul#Menu li#MenuCornerRight {background: url(../images/menu_corner_right.gif) right no-repeat; height:41px; width:9px; float:right; padding:0; margin:auto;}
				
				ul#Menu li { font-family:century verdana, arial,helvetica, sans-serif;	padding:0 3px 2px 3px; border:0; float:left; margin-top:0; padding-top:0;}
								
				ul#Menu li a { color:#ab0900; display:block;  padding:12px 5px; margin:auto; text-decoration:none; font-size:12px; text-align:center; text-transform:uppercase; font-weight:normal;}
								
				ul#Menu li a:hover { background:#fff; font-weight:bold;}
				
				.sep-menu { margin-top:8px;}
							
				
/* Second Menu */
				ul#Menu2 { background:#fff; position:absolute; top:0px; left:770px; width:210px; height:35px; margin:0; border:0; padding:0 0 0 15px; font-size:small; list-style:none;}
				ul#Menu2 li { font-family:century verdana, arial,helvetica, sans-serif; margin:0;	padding:0 10px 0 30px; border:0; float:left;}
								
				ul#Menu2 li a { color:#787878; display:block; font-weight: normal; padding:0.6em 0; margin:auto; text-decoration:none; font-size:1.3em; text-align:center;}
								
				ul#Menu2 li a:hover { background:#fff; border-bottom:3px solid #454444;}
				
				
				
				
				
				
				
				


#Editeur { padding:15px 10px; height:400px;}
#Editeur h1 { color:#990D08; font-size:14px;}
#Editeur { font-size:12; color:#000;}
				
				
				
				
/* Bande photo + Moteur */				
				
				#Ban { padding:0 0 0 0; margin-bottom:5px; overflow:hidden; background: url(../images/bg_ban.gif) repeat-x;height:247px; margin:0;} 
				#Ban #flash{  padding:0 0 0 0; float:left; width:659px; height:190px; margin:15px 10px 0 12px; border:2px solid #fff;}
				#Ban img {float:left;  margin:10px 10px 0 12px;}
				#Ban h1 {color:#000; font-size:1.4em; font-weight: bold; background: url(../images/bg_minimot_haut.gif) no-repeat ; padding:0px;  margin:0 0 0 0; line-height:12px;height: 32px; overflow: hidden; width:280px;}
				
				#Ban h2 {color:#000; font-size:1.4em; font-weight: bold; background: url(../images/bg_minimot_bas.gif) no-repeat ; padding:0px;  margin:0 0 0 0; line-height:12px;height: 32px; overflow: hidden; width:280px;}				
				
				#Ban h1 span {color:#780024;  font-size:11px; font-weight: bold; background:none;}
				
				#minimoteur {width:280px; float:left; margin:0 0 0 0; padding:0; background: url(../images/bg_minimot.gif) repeat-y ; height:188px; }
				
				
				
				#Rechercher {float:left; margin:auto; padding:0; margin-top:12px; }
				#navigation h2 { font-size:16px; padding-left:15px;}
				#Contenu {background:#fff; padding:0 0 10px 0;   }
				#Contenu h1 {float:left; color:#000; font-size:1.2em; font-weight: bold;padding:6px 0 0 0;}
				
				
				.Clear {clear: both; font-size:0.1em;}

/* Carto */					 
				.CarteGeo { width: 440px; height:228px; border: 2px solid #e8e8e8; float:left; margin-left:1px;  }
				
				
/* CDC */					
			.PhotoCdc {height:125px; width:215px; background: url(../img/fond_cdc.png) no-repeat #fff;}			 
				.PhotoCdc img{height:109px; width:182px; border:0px;padding:8px 0 0 22px; }
				.DescriptifCdc {color:#000; width:200px;}
				.Cdc {float:left; width:190px; margin:10px 30px 0 0;}
				.Cdc h6{ font-size:14px; font-weight:normal; }
				* html .Cdc{ margin:10px 6px 0 0;}
				.Cdc a {color:#ab0900; font-size:13px; text-decoration: none; font-weight: bold;}
				.Cdc h5 a{ font-size:11px;  text-decoration:underline; font-weight: normal;}
				.Cdc h5 a:hover{ text-decoration:none;}
				.txt { margin-left:20px;}

				
/* Cdc */
   
 .div-cdc{width:215px;float:left; background: url(../img/fond_cdc.png) no-repeat #fff; color:#ab0900;} 
 .div-cdc .photo-cdc img{width:182px;height:109px;background:url(../images/bg_Img_Cdc.gif);padding:8px 0 0 22px;}
 .div-cdc .ville-cdc{font-weight:bold;display:block; color:#ab0900;}
 .div-cdc .typetransaction-cdc{text-transform:capitalize; color:#ab0900;}
 .div-cdc .typebien-cdc a{color:#ab0900;}
 .div-cdc .contenu-cdc{padding:5px 0 0 22px;}
 .div-cdc .contenu-cdc *{color:#000;}
 .div-cdc .contenu-cdc a{color:#ab0900;}
 .div-cdc .contenu-cdc a:hover{color:#ab0900;}
 .div-cdc .descriptif-cdc{min-height:55px;}
 * html .divc2c .descriptif-cdc{height:55px;}
 .div-cdc p.prix-cdc{font-weight:bold;font-size:14px;color:#ab0900;}
				
				
/* Contenu */
				#Left {float:left;width:696px; background:#fff; margin-top:20px; margin-left:10px;  }
				#Coord {float:left; width:190px; padding: 13px 5px 5px 5px; text-align:justify; margin:-10px 0 0 0; color:#444; margin-left:15px; font-size:12px;}
				#Coord a {color:#ab0900; text-decoration:none; font-weight:normal; font-size:12px; text-decoration:underline;}
				#Coord strong { color:#780024;}
				#MapGeo{ float:left; width:459px;}
				#MapGeo h1{ background:url(../images/pictoGeoTitre.gif) no-repeat #fff; padding:10px 0 10px 40px;}
				#MapGeo h1 span{ color:#33b3d1;}
				#Coord h1 {background: url(../img/picto_situer.gif) left no-repeat #cbb790; padding:10px 0 10px 40px;color:#780024;}
				#BlocCdc {float:left; background:#fff; padding-top:10px;}
				#zoneCdc { float:left; padding:0 0 0 0; margin:-5px 0 0 0;}
				#BlocCdc h1 {color:#780024; font-size:1.4em; font-weight: bold; background: #fff; padding:10px 0 10px 40px;}
				
				#BlocAgence {float:left; width:245px; padding: 10px 10px 10px 10px; text-align:justify; margin:0 0 0 5px; _height:571px; min-height:571px;}
				#BlocAgence h1 {background: url(../images/pictoBienvenue.gif) left no-repeat; font-size:14px; font-weight:bold; padding:5px 0 16px 40px; text-align:left; margin:5px 0 0 0; color:#780024;}
				#BlocAgence h1 span{ color:#780024; font-size:10px; font-weight:bold;}
				#BlocAgence a{ background:url(../images/pucLire.gif) no-repeat; padding:4px 0 4px 30px; text-decoration:underline; margin-left:0px;}
				#BlocAgence a:hover{ text-decoration:none;}
				#BlocAgence p{  color:#444444; line-height:15px; width:100%; margin-left:5px;}
				#BlocAgence p strong{  color:#000; }
				#BlocAgence img{display:block; margin:0 0 10px 5px;_margin-left: 0;}

/* Footer */
				#FooterGlobal { width:1100px;position:relative;} 
				#footerwrap{background:#fff;width: 1000px; height: 70px; margin:0 auto;}
				#Footer { width: 978px;   background: url(../images/bgFooter.gif) no-repeat; color:#fff; overflow:hidden; height:50px; margin:0 auto; }
				#Footer h1 {color:#fff; font-weight:bold; padding: 0 0 5px 0;  }
				#Villes {float:right; width:453px; padding: 20px 5px 5px 5px;}
				#Villes a {color:#c8c7c7; font-weight:normal;}
				#Villes h1 a {color:#fff; font-weight:bold; text-decoration:none }
				#Villes h1 a:hover{ text-decoration:underline;}

				.logo_footer { position:absolute; top:-8px; left:100px;}
				
				
/*page formulaire*/
/*page alerte*/
				#PageAlert { border-bottom: 1px solid #83508f; border-top: 1px solid #83508f; padding: 15px 0; }
				#PageAlert font { color: #83508f; }
				#PageAlert td { text-align: left; }
				#PageAlert strong { color: #83508f; }
				#PageAlert a { font-size: 14px; font-weight: bold; color: #83508f; display: block; margin-left: 50px; padding-left: 20px; width: 400px; line-height: 14px; height: 14px; }
				#PageAlert a:hover { width: 400px; line-height: 14px; height: 14px; font-size: 14px; color: #fff; text-decoration: none; display: block; margin-left: 50px; padding-left: 20px; }

/*IE8*/
				.BoutonFormContact  { height: 25px; width: 90px; }
				.BoutonFormRecherche {}
/**/


/*page plan*/
				#Plan li {list-style:none;}
				#Plan li h1 { border:0px; font-family:arial; font-size:18px;  color:#454444;  padding:0 0 10px 0; }
				#Plan h2 { border:0px; font-family:arial; font-size:16px;  color:#454444;  padding:10px 0 10px 0; }
				#Plan h3 { border:0px; font-family:arial; font-size:14px;  color:#454444;  padding:10px 0 10px 0; }
				#Plan li a { border:0px; font-family:arial; font-size:13px; text-decoration:none;     }
				#PageAlert font { color: #83508f; }
				#PageAlert td { text-align: left; }
				#PageAlert strong { color: #83508f; }
				#PageAlert a { font-size: 14px; font-weight: bold; color: #83508f; display: block; margin-left: 50px; padding-left: 20px; width: 400px; line-height: 14px; height: 14px; }
				#PageAlert a:hover { width: 400px; line-height: 14px; height: 14px; font-size: 14px; color: #fff; text-decoration: none; display: block; margin-left: 50px; padding-left: 20px; }
				.plan_sousmenu a{ margin-left:15px; text-decoration:none;}
				
				
/* GUIDE PRATIQUE  */
.txtTitre3{font-size:12px; font-style:normal; font-weight:bold; color:#1E4BA6;}
.gras{font-size:12px; font-style:normal; font-weight:bold; color:#1E4BA6;}
.encadre{background-color:#E8E8E8; border-color:#313131; border-width:3px; border-style:solid; padding:2px; color:#000;}

/*TABLEAUX*/
.tabFond1{border-color:#590222; border-width:0; border-style:solid; padding:2px; font-family:Verdana, Arial, Helvetica, sans-serif;}
.tabFond2{border-color:#590222; border-width:1px; border-style:solid; padding:2px; font-size:12px; font-family:Verdana, Arial, Helvetica, sans-serif;}
.tabTitre{background-color:#A40B05; color:#fff; font-size: 11px; font-weight: bold; font-family:Verdana, Arial, Helvetica, sans-serif;padding:3px;}
.tabTitre *{color:#fff; font-size: 11px;}
.tabPrint{color:#fff; font-size: 13px; font-family:Verdana, Arial, Helvetica, sans-serif; border:1px solid #590222;}
.tabFond1 td{ padding:3px 0 3px 2px;}
.ZoneSaisie{ color:#FF7D00;}
.imputForm{ border:1px solid #787878;}
/*outils*/
ul#Outils a{ background:url(../images/puceOutils.gif) 0 2px no-repeat; padding:0 0 0 15px; color:#00A0C6;}
ul#Outils a:hover{ color:#2B2A2A;}

/*agence*/




#RechHaut #RechHautCtn #RechHautPictoResult{border: none;}


#MiniBoutonInput { width:146px; height:30px;}
.MoteurBouton input { width:146px; height:30px;}

#RechResultat .blocAnnonce table.detailsAnn td.photo_wrap .photo_ctn a.nbVisuels { background:#E8E8E8;}


				/*####################

CONFIGURATION DES MENUS ET SOUS MENU

######################*/


/*ici on positionne les sous menu et menu en absolute et on initialise tout à la bonne hauteur à gauche et caché*/


/*tous les liens des menus et sous menu auront des caractéristiques similaires (hauteur, taille, typo etc...) surtout on met tout en display block*/
.sousmenu a,.soussousmenu a{display: block; font-weight: normal; text-decoration: none;height: 26px;line-height: 28px;font-size: 13px; font-family: Tahoma;overflow: hidden; text-align:center;}

/* ici on configure les menu : couleur type, image de fond et surtout la largeur = très important */
.sousmenu a{width: 184px;background: #f0f0f0 url(../images/bg_sm.gif) repeat-x; color: #000; text-align:center;}
.sousmenu a:hover{background-color: #6c1c1b; background-position: 0 -26px;color: #fff;}

/* ici on configure les sous menu : couleur type, image de fond et surtout la largeur = très important */
.soussousmenu a{width: 250px;background: #f0f0f0 url(../images/bg_sm.gif) repeat-x; color: #000; text-align:center;}
.soussousmenu a:hover{background-color: #6c1c1b; background-position:0 -26px;color: #fff;}



/*tous les liens des menus et sous menu auront des caractéristiques similaires (hauteur, taille, typo etc...) surtout on met tout en display block*/
.sousmenu4 a,.soussousmenu a{display: block; font-weight: normal; text-decoration: none;height: 26px;line-height: 28px;font-size: 13px; font-family: Tahoma;overflow: hidden; text-align:center;}

/* ici on configure les menu : couleur type, image de fond et surtout la largeur = très important */
.sousmenu4 a{width: 250px;background: #f0f0f0 url(../images/bg_sm.gif) repeat-x; color: #000; text-align:center;}
.sousmenu4 a:hover{background-color: #6c1c1b; background-position: 0 -26px;color: #fff;}


/*ici on positionne les menu et sous menu par rapport à la gauche */
#sm1{left: 95px; top: 140px; position: absolute;display: none;}
.ssm1{left : 276px;position: absolute;  top:140px; display: none;}
#sm2{left: 200px; top: 140px; position: absolute;display: none;}
.ssm2{left : 384px;position: absolute;  top:140px; display: none;}
#sm3{left: 352px; top: 140px; position: absolute;display: none;}
.ssm3{left : 534px;position: absolute;  top:140px; display: none;}
#sm4{left: 465px; top: 140px; position: absolute;display: none;}
.ssm4{left : 634px;position: absolute;  top:140px; display: none;}
#sm5{left: 569px; top: 140px; position: absolute;display: none;}
.ssm5{left : 734px;position: absolute;  top:140px; display: none;}
#sm6{left: 671px; top: 140px; position: absolute;display: none;}
.ssm6{left : 534px;position: absolute;  top:140px; display: none;}
#sm7{left: 775px; top: 140px; position: absolute;display: none;}




/* Ici on règle les hauteurs de positionnement des sous menus
A priori pas besoin d'y toucher
*/
#sm11,#sm21,#sm31,#sm41,#sm51,#sm61,#sm71,#sm81{top: 140px;}
#sm12,#sm22,#sm32,#sm42,#sm52,#sm62,#sm72,#sm82{top: 166px;}
#sm13,#sm23,#sm33,#sm43,#sm53,#sm63,#sm73,#sm83{top: 192px;}
#sm14,#sm24,#sm34,#sm44,#sm54,#sm64,#sm74,#sm84{top: 218px;}
#sm15,#sm25,#sm35,#sm45,#sm55,#sm65,#sm75,#sm85{top: 244px;}
#sm16,#sm26,#sm36,#sm46,#sm56,#sm66,#sm76,#sm86{top: 270px;}
#sm17,#sm27,#sm37,#sm47,#sm57,#sm67,#sm77,#sm87{top: 296px;}
#sm18,#sm28,#sm38,#sm48,#sm58,#sm68,#sm78,#sm88{top: 322px;}
#sm19,#sm29,#sm39,#sm49,#sm59,#sm69,#sm79,#sm89{top: 348px;}
#sm110,#sm210,#sm310,#sm410,#sm510,#sm610,#sm710,#sm810{top: 374px;}
#sm111,#sm211,#sm311,#sm411,#sm511,#sm611,#sm711,#sm811{top: 400px;}

/*Fin réglage des hauteurs*/


/*PLAN*/
#Plan li.sousmenuplan a { text-transform:lowercase; padding-left:20px;}


/*RECHERCHER*/
#RechResultat .blocAnnonce .typeBien_Ctn { background:#B50102; }
#RechResultat .blocAnnonce .typeBien_Ctn .typeBien { color:#fff;}