/* CSS Document */
body { margin: 13px 0; padding:0; background: url(../images/bg_body.gif) repeat-x #c5d4ea; text-align:center; }
table  { border-collapse: collapse; border-spacing: 0; }
img { border:none; display: inline; }
div, td { font-family: Arial, Helvetica, sans-serif; font-size:12px; color: #000; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; }
a { text-decoration: none; color: #000; }
a:hover { text-decoration: underline; }

.clear1 { clear: left; }
.clear2 { clear: both; }
p { margin: 10px 0; }


/*------------------*/
#wrap1 { width: 962px; text-align: center; margin: 0 auto; }
.brleft { float: left; width: 6px; }
.brright { float: left; width: 6px; }
#wrap2 { position: relative; float: left; width: 950px; background: #fff; text-align: left; padding-top: 4px; }
#top-head { width: 940px; background: url(../images/bg_top.gif) repeat-x; margin: 0 auto; }
.logo, .phones { float: left; margin-top:35px;}
.logo {margin-left:50px;}
.phones {margin-left:60px;}
.login { float:right; }
.amep { float: left; padding-top: 14px; margin-left:75px; height: 90px; }

#menu { position: absolute; width: 950px; background: url(../images/bg-menu.gif) repeat-x center 9px; height: 70px; top: 319px; _top: 287px; left: 0; z-index: 2; overflow: hidden; }
#menu ul { margin: 0; padding: 0; }
#menu li { list-style-type: none; float: left; }
#menu a { display: block; background-repeat: no-repeat; height: 70px; text-align: center; color: #faeb8e;}
#menu a:hover { display: block; background-repeat: no-repeat; background-position: 0 -70px; color: #7c5806; text-decoration: none;}

#menu .mn1 { background: url(../images/menu_120.png) no-repeat; width: 120px; }
#menu .mn2 { background: url(../images/menu_120.png) no-repeat; width: 120px; }
#menu .mn3 { background: url(../images/menu_120.png) no-repeat; width: 120px; }
#menu .mn4 { background: url(../images/menu_200.png) no-repeat; width: 200px; }
#menu .mn5 { background: url(../images/menu_150.png) no-repeat; width: 150px; }
#menu .mn6 { background: url(../images/menu_120.png) no-repeat; width: 120px; }
#menu .mn7 { background: url(../images/menu_120.png) no-repeat; width: 120px; }

#menu span { line-height: 70px; text-transform: uppercase; font-size: 12px; font-family: verdana; }

.haut-vide { height: 43px; *height: 46px;}

.min-height { float: left; width: 8px; height: 100px; }
#content { float: left; width: 660px; }
#navigue { width: 660px; padding: 10px 0; }
#vnt { float: left; background: url(../images/bg_cdc.gif) bottom repeat-x #fff; border: 1px solid #487ad2; width: 322px;height: 551px;}
.cdc-vnt { width: 238px; margin: 15px auto; *margin: 30px auto; padding: 0px 0;  }
.foto-vnt img { border: 3px solid #446c97; }

#loc { float: right; background: url(../images/bg_cdc.gif) bottom repeat-x #fff; border: 1px solid #487ad2; width: 322px;height: 551px;}

#cdcwrap{
margin-top: 10px;
}

#right { float: right; width: 273px;_margin-bottom: 10px; }
#mot-reap { background: url(../images/bg_mot_reap.gif) repeat-y; width: 273px; }
#bg_mot { background: url(../images/bg_mot.gif) no-repeat; width: 273px; }
#main-mot { width: 200px;height: 220px; margin: 0 auto; padding: 0 0 20px 0; }

#agc { background: url(../images/bg_ag.gif) no-repeat; width: 269px; margin: 0 auto; height: 249px; border: 2px solid #0b529f; }
.main-ag { width: 230px; margin: 0 auto; }
.coords { color: #073b7d; font-weight: bold; font-size: 11px; padding: 5px 0; }
.coords span a { color: #073b7d; }
.foto-agc img { border: 2px solid #51748c; }

#tst-h { margin-top: 20px; _margin-top: 0; }
#footer { background: url(../images/bg_footer.jpg) no-repeat; height: 121px; width: 950px; text-align: center; margin: 0 auto; }
.fnaim { float: left; width: 141px; margin: 0 auto; }
.links-foot { float: left; }
.links { padding: 20px 0 10px 0; color: #fff; }
.links a { color: #fff; }
.cords-foot { text-align: left; color: #fff; font-weight: bold; }
.cords-foot span a { color: #fff; }

 
/*-----------------*/

/*guide*/
#MenuGuide { 
	text-align: left; 
}
#MenuGuide table { 
	margin: 0 auto; 
}
#MenuGuide a {
	font-weight: bold;
	color: #000; 
	text-decoration: none; 
	line-height: 20px; 
}

#MenuGuide a:hover { 
	color: #487ad2; 
}

#MenuGuide td { 
	text-align: left; 
}

#PageDossiers table { 
	margin: 0 auto; 
	width: 100%; 
}

#PageDossiers p { 
	margin: 5px 0; 
}

#PageDossiers td { 
	padding: 2px 5px; 
}

.txtTitre3, .grasnews { 
	color: #5f87dd; 
	font-weight: bold; 
	font-size: 13px; 
	text-align: left;
	font-variant: small-caps; 
}

.gras {
	padding: 2px 5px 2px;
	background: none;
	color: #5f87dd;
	font-weight: bold;
}

.gras u { 
	text-decoration: none; 
}

.encadre {
	border: none;
	padding: 5px;
	background: #b5becc;
	line-height: 14px;
	border: 1px solid #707e96;
}

.encadre table {
	width: 100%;
}

.encadre .gras {
	padding: 0;
	margin-bottom: 5px;
	background: none;
	color: #fff;
	line-height: 12px;
}

.encadre a { 
	color: #3a3939; 
}

.encadre a:hover { 
	color: #3a3939; 
}

.table_news strong { 
	color: #fff; 
}

.table_news, .encadre table {
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-bottom: none;
	border-right: none;
	background: #b5becc;
}

.table_news td, .encadre td {
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	border-left: none;
	border-top: none;
	background: #b5becc;
	font-size: 10px;
	padding: 5px;
}
   
.table_news .gras {
	padding: 3px 5px;
	margin: 0;
	background: none;
	color: #fff;
	line-height: 12px;
}

	/*page formulaire*/
.tabFond1 { background: none; }
.tabFond1 td { padding: 2px 10px; }
.tabFond1 table { text-align: left; }
.tabTitre { font-size: 13px; height: 22px; color: #fff; margin: 0 0 10px 0; padding: 0; font-weight: bold; text-align: center; background: url(../images/bg_ttl.gif) repeat-x #004c9c; }
.messageNomAgence, .estimationNomAgence { font-size: 18px; text-align: center; color: #5f87dd; margin: 0; padding: 5px; font-weight: bold; display: block; }
.tabFond1 .Input { margin-bottom: 2px; }
#CguFormulaire { background: url(../images/bg_cgu.gif) repeat-x #ffad01; border: 1px solid #ffad01; padding: 10px; text-align: left; color: #000; }
#CguFormulaire a { color: #5f87dd; text-decoration: underline; }
#CguFormulaire a:hover { color: #000; text-decoration: none; }
	/*page alerte*/
#PageAlert {   padding: 15px 0; }
#PageAlert font { color: #487ad2; }
#PageAlert td { text-align: left; }
#PageAlert strong { color: #487ad2; }
#PageAlert a { font-size: 14px; font-weight: bold; color: #3972b9; display: block; margin-left: 50px; padding-left: 20px; background: url(../images/arrow3.gif) no-repeat; width: 200px; line-height: 14px; height: 14px; }
#PageAlert a { font-size: 14px; font-weight: bold; color: #3972b9; display: block; margin-left: 50px; padding-left: 20px; background: url(/images/arrow3.gif) no-repeat; width: 200px; line-height: 14px; height: 14px; }
over { width: 200px; line-height: 14px; height: 14px; background-position: 0 -14px; font-size: 14px; color: #8aa7e6; text-decoration: none; display: block; margin-left: 50px; padding-left: 20px; }
/**/

/*map-google*/
#map-google { width: 944px; margin: 0 auto; border: 4px solid #f1f1fc; background-color: #f1f1fc; text-align: center; }

/*autres*/
.envoie { font-size: 14px; color: #3350b0; }
.nature { font-size: 14px; color: #ae000d; font-weight: bold; }
.possibilte { border: 1px solid #333333; padding: 5px;}
.part1 { float:left; }
.part2 { float:right; }

/*alerte email*/
#AlerteImmo * { color: #052e67; }
#AlerteImmo{background: none; border: none; min-height: 400px; _height: 400px;}
#AlerteConfirmation  h4 { color: #000; }
#AlerteConfirmation  h2 { color: #000; }
#AlerteConfirmation  h5 { color: #000; }

#RechercheContainer #AlerteEmail,
#RechercheContainer #AlerteEmail #AlerteEmailCtn { width: 660px; }

#AlerteEmail h2 { color: #000; }
#AlerteEmail h5 { color: #000; }
#AlerteImmo #AlerteTitre01{background: url(../alerte/alerteimmo_titre_fond01.gif) 0 0 no-repeat;}
#AlerteImmo #AlerteTitre01 h5{ background: url(../images/alerteimmo_titre_fond02.jpg) no-repeat; }
#AlerteImmo #AlerteTitre01 h5 span{color: #fff; font-size: 18px; }

#AlerteImmo #AlerteConfirmation p.confirmation { color:#000; }

/*rechercher*/
#RechPagesHaut .rechLiensPages a,
#RechPagesBas .rechLiensPages a{ border: none; width: 19px; height: 17px !important; overflow: hidden; padding-top: 4px; color:#fff; }
#RechPagesHaut .rechLiensPages a.actif, #RechPagesBas .rechLiensPages a.actif{ border: none; color:#fff; }
#RechPagesHaut .rechLiensPages a:hover, #RechPagesBas .rechLiensPages a:hover{border: none; color:#ffe200; }

#RechResultat .blocAnnonce .detailAnn .ajoutSelection a { color: #fff; }
#RechResultat .blocAnnonce .detailAnn a.lienDetail { color: #fff; }


#RechResultat .blocAnnonce { border: 1px solid #052f69; }
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .prix { font-size: 14px; padding:3px 0pt 3px 10px; }
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .libelle { font-size: 14px; padding:3px 0pt 3px 10px; }
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .ville { font-size: 14px; padding:3px 0pt 3px 10px; }
#RechResultat .blocAnnonce .typeBien_Ctn .typeBien { font-size: 14px; }
#RechResultat .blocAnnonce .detailAnn { }
#RechercheContainer #AlerteEmail #AlerteForm input.alerteBt { border: 1px solid #ffb000; margin: 10px 0 0 105px; color: #0f69c1; }



/*----------------------------------------------------------------------------------*/

#RechHaut #RechHautCtn #RechHautLiens a { width:200px; }
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .descr { background:none; padding-left:0;  }




#detailwrap{
padding:0;
margin:0;

height: 536px;
*height: 576px;
_height: 572px;
overflow: hidden;

}


#pubIphoneFermer,.iphone-cab{display:block;}
#pubIphoneFermer{position:relative;text-align:left;z-index:7;left:7px;} /* position du bouton pour fermer le pop-up */
#pubIphoneContenu{position:absolute;top:0;margin:auto;left:40%;top:55%;} /* emplacement du pop-up */
#pubIphoneOpaque{background-color:black;display:block;height:100%;opacity:0.65;filter:alpha(opacity=30);position:absolute;top:0;left:0;width:100%;} /* pour faire joli quand le pop-up est présent */

#BoiteMiniMoteur {min-height: 0;}
#MiniSousTypeBien{display: none;}

.message{font-size: 18px; font-weight: bold; color: red;text-align: center;}