


.eg_formCenter {
	width: 70%;
	float: left;
	padding: 8px 15% 8px 15%; 
	margin: 4px 0px 4px 0px;
}

.eg_formCenterCt {
	float: left;
	width: 98%;
	padding: 4px 1% 4px 1%;
	border: 1px solid #ccc;
}


/* stats_plus */ 

.tabbasic .groupe {
	border-bottom: 1px solid #ccc;
	font-weight: bold;
}

.tabbasic .total {
	font-weight: bold;
	border-bottom: 1px dotted #ccc;
}

.tabbasic .total2 {
	font-weight: bold;
	border-top: 1px dotted #ccc;
	background-color:#EDF2F8;
}

/* annonce_edit */

.tabbasic {
	clear: both;
	width: 100%;
	margin: 7px 0px 5px 0px;
	padding: 0px 0px 7px 0px;
}

.tabbasic_soft {
	clear: both;
	width: 60%;
	margin: 7px 0px 5px 19%;
	padding: 0px 0px 7px 0px;
}





.tabbasic td, 
.tabbasic th,
.tabbasic_soft td{
	padding: 8px 4px 8px 4px;
}

.sstabbasic {
	clear: both;
	width: 100%;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-collapse: separate;
	border-spacing: 0px;
}

.sstabbasic td {
	padding: 0px 0px 4px 0px;
}


.tabentete, .tabbasic th {
	height: 25px;
	font-weight: bold;
	font-size: 14px;
	text-align: left;
	border: 0px;
}


.oblig_input {
	background-color: #f4ebe9;
}



.oblig_txt {
	color: #e7274d;
	font-style: italic;
	font-size: 11px;
} 

.oblig_txt div {
	float: left;
	background-color: #f4ebe9;
	width: 10px;
	height: 10px;
	font-size: 8px;
	line-height: 1px;
	border: 1px solid #ccc;
	margin: 0px 4px 0px 0px;
	display: inline;
}


.formoff,
*#ssav, 
*#link_mask {
	display: none;
}

.help {
	color: #2e4161;
	font-size: 11px;
}

*#compte_logo {
	float: left;
	text-align: center;
	border: 0px solid #ccc;
	padding: 0px 0px 0px 0px;
	margin: 10px 0px 10px 0px;
	width: 100%;
}






*#annonce_edit_px,
*#ann_edit_pxcession,
*#ann_edit_pxloyer,
*#montant_du_rapport,
*#px_rente,
*#px_droit_entree,
*#px_droit_au_bail,
*#honoraires,
*#px_charges,
*#annonce_edit_nbpiece,
*#annonce_edit_surface,
*#annonce_edit_nbpiece,
*#nb_chambres,
*#nb_personnes,
*#cp {
	width: 100px;
}


.tabint {
	padding: 0px 0px 8px 0px;
}

*#box_ann_ok {
	float: left;
	width: 100%;
}

*#box_ann_ok div{
	float: left;
	width: 32%;
}


*#edit_haut {
	clear: both;
	float: left;
	width: 100%;
	margin: 15px 0px 1px 0px;
}

*#edit_haut .left {
	float: left;
	width: 35%; 
	font-weight: bold;
} 

*#edit_haut .right {
	float: right;
	width: 63%; 
	text-align: right;
} 


.rech_headerann {
	cursor: default;
}

.annpdfedit {
	clear: both;
	float: left;
	width: 100%;
	margin: 0px 0px 5px 0px;
	padding: 0px 0px 5px 0px;
	border-bottom: 1px dotted #f0f3f5;
}

.histoerreurphoto {
	clear: both;
	float: left;
	width: 100%;
	margin: 5px 0px 5px 0px;
}

#trancheprix { 
	width: 296px; 
	margin: 0px 0px 20px 0px; 
	padding: 0px 0px 0px 0px;
}

#aff_trancheprix {
	font-weight: bold;
}

.comboCoex{
	width: 370px;
}
.autocomplete_coex{
    position: absolute;
    border: 1px solid darkgray;
    overflow-y: auto;
    max-height: 175px;
    padding: 3px;
    margin-left: 87px;
    margin-top: -3px;
    display: none;
    background: white;
	width: 362px;
}

.coex_liste{
	list-style: none;
	width:100%;
	cursor: default;
	display: inline-block;
}
.coex_liste:hover{
	background-color: dodgerblue;
    color: white;
}