.bloc_ann_ag {
	clear: both;
	width: 100%;
	float: left;
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 10px 0px;
	border: 1px solid #ccc;
	text-align: center;
}

.bloc_ann_ag .title,
.bloc_ann_ag .cnt {
	width: 95%;
	padding: 0px 0px 0px 0px;
	margin: 6px auto 4px auto;
	text-align: left;
}

.bloc_ann_ag .title {
	font-weight: bold;
	font-size: 14px;
}

.bloc_ann_ag .cnt {
	text-align: justify;
}

.bloc_ann_ag .cnt img {
	border: 2px solid #ccc;
	width: 110px;
	margin: 0px 6px 0px 2px;
	float: left;
}

.bloc_ann_ag .cnt span {
	float: right;
	margin: 6px 0px 4px 0px;
	padding: 0px 0px 0px 0px;
}