#diagGes, #diagDpe {
    border: 1px solid #CCCCCC;
    float: left;

    margin: 2px;

    position: relative;
    width: 205px;
    height: auto;
    padding: 25px 45px 10px 10px;
    width: auto !important;
}

#diagDpe.dpe_portrait, #diagGes.dpe_portrait {
    float: left;
}

#diagGes {
    float: right;
}

#det_dpe .title, .coordonnees .title {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 11px;
    font-weight: bold;
    margin: 5px;
}

.diagA span, .diagB span, .diagC span, .diagD span, .diagE span, .diagF span, .diagG span, .diagH span, .diagI span {
    color:white;
    font-size:12px;
    height:20px;
    padding-top:2px;
    text-align:center;
    width:42px;
    position: absolute;
    left: 0;
    top: 0;
}

.diagA img, .diagB img, .diagC img, .diagD img, .diagE img, .diagF img, .diagG img, .diagH img, .diagI img {
    position: absolute;
    left: -8px;
}

.diagA, .diagB, .diagC, .diagD, .diagE, .diagF, .diagG, .diagH, .diagI, .diag {
    position:absolute;
    top:37px;
    right:5px;
    width:30px;
    height:30px;
    float:right;
    text-align:right;
}

.diagB {top:59px;}
.diagC {top:83px;}
.diagD {top:105px;}
.diagE {top:127px;}
.diagF {top:151px;}
.diagG {top:175px;}
.diagH {top:197px;left: 200px;}
.diagI {top:220px;left: 200px;}

.diagND {
    width: 100%;
    background-color: #FFF;
    color: #F00;
    font-size: 22px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    padding: 15px 0;
    top: 85px;
    left: 0;
}
.coordonnees table {
    width: 100%;
}
.coordonnees td.dpe_portrait {
    text-align: left;
    width: 210px;
}
.coordonnees td.dpe_portrait .diagND {
    left: 0;
}
