.line_tab {clear: both; float: left; width: 100%; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;}
.title_tab {float: left; width: 60%; margin: 15px 0px 0px 0px; padding: 0px 0px 0px 0px; line-height: 18px; font-weight: bold;}
.title_tabfull {float: left; width: 100%; margin: 15px 0px 0px 0px; padding: 0px 0px 0px 0px; line-height: 18px; font-weight: bold;}
.list_nav_links {float: right; width: 31%; height: 26px; padding: 0px 0px 0px 0px; margin: 4px 0px 0px 0px; text-align: right;}
.list_nav_links_bottom {clear: both; float: left; width: 100%; height: 18px; padding: 0px 0px 0px 0px; margin: 4px 0px 0px 0px; text-align: right;}
.date_list {width: 50px; border-right: 1px solid #c0d1db;}

*#date_listcourt {width: 65px; border-right: 1px solid #c0d1db;}
*#liste_cp, *#liste_nbp {width: 38px;}
*#liste_status {width: 16px;}
*#liste_censure{width: 16px;}
*#liste_surf {width: 38px;}
*#liste_exclu {width: 45px;}
*#liste_detann {width: 35px; text-align: center;}
*#liste_detann_action { padding-right: 10px;width: 70px; text-align: center;}
*#liste_detann_imp {width: 55px; text-align: center;}
*#liste_ville {min-width: 80px;}
*#liste_nbph {width: 38px;}
*#liste_supp {width: 20px;}
*#liste_px {width: 69px;}
.list_ann_puce {width: 9px;}
*#liste_transac {min-width: 70px;}
*#liste_transaccourt {width: 70px;}
*#liste_typebiencourt {width: 98px;}

.canndiff {border-right: 1px solid #c0d1db; width: 40px;}
#canndiff_imfl{background:url("/z/portail/pol/engine/images/bg_immoflash.gif") repeat-x 0px 0px;}
.imfl_lyste{background-color:#B3F59D;}
.parutionp {border-right: 1px solid #c0d1db; width: 42px;}
.select_flash{border:1px solid red;}

#Valid_immoflash{float:right;}

*#liste_ref {min-width: 55px;}
*#ico {width: 30px;}

.ok{width:735px; height:54px; margin-top:10px; padding:15px 0 0 0; font-size:14px; font-weight:bold; text-align:center; background: #fff url("/z/portail/pol/engine/images/vignette_OK2.gif") no-repeat;}

.sepa_engine {clear: both; height: 1px; border-top: 1px solid #9ab6c7; width: 100%; float: left; margin: 4px 0px 4px 0px; font-size: 0px; line-height: 0px;}
*#ref_engine,
*#ref_modele {clear: both;float: left;width: 100%;margin: 6px 0px 0px 0px;font-weight: bold;}
*#ref_modele input,
*#ref_engine input{width: 100px;}

.list_see {clear: both;float: left;margin: 0px 0px 2px 4px !important;margin: 0px 0px 2px 2px;}
.list_see_g {float: left;width: 100%;}
.list_see a {font-size: 10px;text-decoration: none;}
.list_see a:hover {font-size: 10px;text-decoration: underline;}
*#legend_list {float: left;clear: both;width: 100%;padding: 0px 0px 0px 0px;margin: 10px 0px 10px 0px;font-size: 11px;}
*#legend_list div{float: left;margin: 0px 3px 0px 0px;}

*#legend_listcann {float: left;clear: both;width: 100%;padding: 0px 0px 0px 0px;margin: 0px 0px 10px 0px;font-size: 11px;}

*#wv_tdlist {background: #ffbe5f url("/z/portail/pol/engine/images/bg_webvisium.gif") repeat-x 0px 0px;color: #00486e;font-size: 11px;}
#if_tdlist{background: #ffbe5f url("/z/portail/pol/engine/images/bg_immoflash.gif") repeat-x 0px 0px;color: #fff;font-size: 10px;width:60px;}

.listan_cookies {
float: left;
height: 21px;
line-height: 21px;
cursor: pointer;
margin: 0px 2px 0px 0px;
background: #ffffff url("/z/portail/pol/engine/images/cookies_02.gif") repeat-x 0px 0px;

}

.listan_cookies .left {float: left;width: 15px;height: 21px;margin: 0px 6px 0px 0px;background: #ffffff url("/z/portail/pol/engine/images/cookies_01.gif") no-repeat 0px 0px;}

.listan_cookies .cnt {float: left;height: 21px;width: 112px;padding: 0px 11px 0px 0px;font-weight: bold;background: #ffffff url("/z/portail/pol/engine/images/cookies_020.gif") no-repeat top right;}

.listan_cookies_on {float: left;margin: 0px 2px 0px 0px;height: 21px;line-height: 21px;cursor: pointer;color: #ffffff;background: #ffffff url("/z/portail/pol/engine/images/cookies_02_on.gif") repeat-x 0px 0px;}

.listan_cookies_on .left {float: left;width: 15px;height: 21px;margin: 0px 6px 0px 0px;background: #ffffff url("/z/portail/pol/engine/images/cookies_01_on.gif") no-repeat 0px 0px;}

.listan_cookies_on .cnt {float: left;height: 21px;width: 112px;padding: 0px 11px 0px 0px;font-weight: bold;background: #ffffff url("/z/portail/pol/engine/images/cookies_020_on.gif") no-repeat top right;}


.actions_liste_annonce {
	cursor: pointer;
}

.actions_tooltip {
	display: none;
	position: absolute;
	z-index: 500;
	background-color: #FFF;
	border: 1px solid #a5cfe9;
	margin-top: -2px;
	margin-left: 15px;
	color: #1b4966;
	padding: 3px;
}

.pub-cell { border-left: 2px solid #c0d1db; }

.polepo-cell 
{
    position:relative;
    padding-bottom: 16px !important;
    height: 100%;
    display: inline-block;
}

.polepo-cell > .polepo-img
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.polepofield
{
    cursor:pointer;
    
}
#liste-annonce input[type="radio"].polepofield
{
    margin:0 !important;
}
