#polContent {
	width: 100%;
}

@media print {
	
	#polCnt {
		float: left;
	}
	
	#bnt_print,
	.list_nav_links_bottom,
	.info,
	#polHeader, 
	#polMenuGauche,
	#polMenu, 
	.tabengine, 
	.btn_engine, 
	#line_res, 
	.line_tab, 
	.list_nav_links,
	#pb_comp,
	#link_gpseloger,
	#info_lgl,
	.sign_err,
	#pol_onglets {
		display: none;
	}
	
	#lineh1 {
		width: 50%;	
		align: center;
	}
	
	#pol_baseline {
		width: auto;
	}
	
	*#pol_header {
		float: none;
	}
	
	#llegend_list {
		display: none;
	}
	
}