// VAR COLORS
$color-body      : #171719;
$color-content   : #242427;
$color-block     : #242427;
$color-primary   : #f58635;
$color-secondary : #f58635;
$color-action    : #78756f;
$color-important : #f0532a;
$color-nav-footer: #fff;

// COLOR PUB
$color-pub       : "white";

// COLOR FONT BODY DEFAULT
$color-font-body : #fff;

