@font-face {
	font-family: 'HelveticaNeueBold';
	src: url('$$_$$styles/typo/helveticaneuecyr-bold-webfont.eot');
	src: url('$$_$$styles/typo/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
			 url('$$_$$styles/typo/helveticaneuecyr-bold-webfont.woff') format('woff'),
			 url('$$_$$styles/typo/helveticaneuecyr-bold-webfont.ttf') format('truetype'),
			 url('$$_$$styles/typo/helveticaneuecyr-bold-webfont.svg#HelveticaNeueBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

body { margin: 0; padding:0; background: #fff; text-align:center; }
div,td { font-family: Arial, Helvetica, sans-serif; font-size:12px; color: #434343; }
img { border:none; display: inline; }
table  { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; }
a { text-decoration: none; color: #be3329; }
a:hover { color: #7b8181; text-decoration: none; }
p { margin:10px 0; }
ul {list-style:none;}
.clear2, .clear, .clear1 { clear: both; }

/*--------------------------------------------*/

#wrapper { background: url($$_$$images/skins/bg_body.gif) repeat-x #fff; width: 100% }
#wrap { width: 960px; margin: 0 auto; text-align:left; position:relative; }
.top-head { background: url($$_$$images/skins/bg-top.jpg) no-repeat; width: 960px; height: 142px; margin: 0 auto; text-align: left; }
#logo { position:absolute; top:0; left: 0; z-index: 10; }

.coord-top { font-size: 16px; font-weight: bold; font-style: italic; text-align:right; color: #162c81; font-family: 'HelveticaNeueBold',Arial,sans-serif; padding-top: 30px; padding-right: 15px; }
.coord-top strong { font-size: 30px; }

.hd-menu { width: 960px; height: 49px; position:relative; background:url($$_$$images/skins/bg-menu.gif) repeat-x; }
.hd-menu ul { margin: 0; padding:10px 0 0 0; text-align:center; }
.hd-menu li { list-style-type: none; display: inline-block; border-right: 1px solid #fff; padding-top: 9px; height: 28px; }
.hd-menu li a { color: #fff; height: 28px; line-height: 14px; font-size: 17px; padding: 0 8px; font-family: 'HelveticaNeueBold',Arial,sans-serif; text-transform: uppercase; } 
.hd-menu li a:hover { color: #162c81; }
.ie7 .hd-menu li { float:left; }
.ie7 .hd-menu li + li {margin-left:3px;} 
.bloc-mot { padding-left: 8px; height:196px;}
.flag { position:absolute; top: 10px; right: 10px; }
.flag img { padding-left: 3px; }

#cdc2 { float:left; width: 960px; padding-top: 10px; }
#bloc-moteur { float:right; width: 290px; padding-top:12px;}
.repeat-mot { background: url($$_$$images/skins/mot-repeat.gif) repeat-y; width: 290px; }
.bg-mot { background:url($$_$$images/skins/bg-mot.gif) no-repeat; width: 290px; position:relative; }
.bot-mot { background:url($$_$$images/skins/bot-mot.gif) no-repeat; width: 290px; height: 9px; }
.ttl-mot { font-size: 20px; font-weight: bold; padding: 5px 10px 10px; color: #fff; margin:0; }

.bg-txt { background: #c2c2c6; border-radius: 6px; box-shadow: 3px 0 6px 0 #e1e1e1; float:left; width: 640px; margin: 12px 0 15px; padding-bottom: 15px; }

.bloc-right { float: right; width: 303px; }
.bg-ctc { background:url($$_$$images/skins/bg_ctc.png) no-repeat; width: 323px; height: 118px; }

.ctc-titre strong { font-weight: bold; color: #162c81; font-size: 16px; }
.bg-ctc p { width: 120px; padding-left: 20px; padding-top: 15px; font-size: 11px; }
.bg-ctc a { color: #be3329; text-decoration:underline; }

.bg-estim { background:url($$_$$images/skins/bg_estim.png) no-repeat; width: 301px; height: 118px; margin-top: 12px; }
.bloc-estim { padding-top: 7px; padding-left: 110px; width: 170px; }

.bloc-estim-foot { float:left; width: 301px; padding-left: 65px; }
.bloc-adresse { float:left; width: 310px; padding-left: 10px; }
.bloc-ctc { float: left; width: 323px; }

.bloc-adresse { color: #fff; width: 215px; padding-top: 35px; padding-left: 60px; }
.bloc-adresse a { text-decoration:underline; color: #be3329; }
.bloc-adresse a:hover { text-decoration:underline; color: #fff; }

.bg-estim .bloc-estim .titr-estim { color: #162c81; font-size: 16px; font-weight: bold; }
.bg-estim .bloc-estim .titr-estim strong { color: #be3329; font-size:14px; }
.bloc-estim p { font-size: 11px; }

#main-footer { background: #8c8c94; height: 285px; }
#footer { width: 970px; margin: 0 auto; text-align:left; }
.left-foot { float:left; width: 320px; padding: 12px 0 0 0; }
.center-foot { float:left; width: 320px; padding: 12px 0 0 11px; }
.right-foot { float:left; width: 300px; padding: 12px 0 0 10px; }
.bg-abonnement { background:url($$_$$images/skins/bg-abonnement.png) no-repeat; width: 320px; height: 122px; }
.bg_alerte { background: url($$_$$images/skins/bg_alerte.png) no-repeat; width: 320px; height: 122px; }
.bg-version { background:url($$_$$images/skins/bg_version.png) no-repeat; width: 303px; height: 122px; }

.version { padding-top: 20px; padding-left: 130px; }
.decouvre { color: #162c81; width: 155px; padding-left: 130px; font-size: 11px; line-height: 12px; }

.alert-titre { font-weight: bold; font-size: 16px; color: #be3329; padding-top: 20px; padding-left: 17px; }
.alert-txt { padding-left: 17px; font-size: 11px; width: 240px; }
.alert-txt a { text-decoration:underline; color: #be3329; }

.ttl-abonne { padding-top: 20px; }
.bg-abonnement { padding-left: 17px;}
.bg-abonnement a { text-decoration:underline; color: #162c81; font-size: 12px; }

#min-height { min-height: 450px; float:left; width: 15px; }
#navigue { width: 930px; float:left; padding: 25px 0; }

.ttl-pages { font-size: 18px; font-weight: bold; color: #c72a09; text-transform: uppercase; }
.ttl-bien { font-size: 16px; font-weight: bold; color: #132a80; padding: 5px 20px; }
.img-txt { float:left; width: 290px; padding-left: 15px; }
.texte-accueil { float:right; width: 285px; font-size: 14px; color: #434343; padding-right: 20px; line-height:15px; }
.savoir { font-size: 11px; float:right; color: #be3329; text-decoration:underline; }

.footer2 { width: 960px; margin: 0 auto; text-align:left; padding: 15px 0; }
.left-foot2 { float: left; width: 175px; }
.center-foot2 { float: left; width: 320px; padding: 0 0 0 155px; }
.right-foot2 { float:left; width: 230px; padding-left:15px; }
.right-foot2 a { text-decoration:underline; }

.ttl-foot2 { font-size: 12px; color: #162c81; font-weight: bold; }
.center-foot2 a { color: #434343; display: block; line-height: 18px; }

.bg-link-foot { background: #162c81; height: 30px; overflow: hidden; }
.link-foot { width: 960px; margin: 0 auto; text-align:center; height: 30px; }
.link-foot, .link-foot a { color: #fff; line-height: 30px; }
.link-foot p a:hover { text-decoration:underline; }
.ie7 .link-foot p { margin: 0; }

#Plan_Ctn a { border-bottom: 1px dotted #be3329; line-height: 22px; }

.left-foot2 h6 { display: none; }
.left-foot2 ul, .left-foot2 li { margin: 0; padding: 0; list-style-type: none; }
.left-foot2 li a { color: #434343; text-decoration:underline; }
.footer2 .left-foot2 h4 a { color: #162c81; text-decoration:none; font-weight: normal; font-style: normal; }

.page-gestion h1 { font-size: 16px; color: #be3329; }
.page-gestion li { list-style-type: square; }

/*FOOTER REFERENCEMENT*/
.leftreffooter{float:left;}
.conteneurfoot{margin:auto;width:960px;}
.contentblocklink{float:right;margin-bottom:10px;}
.blockcol{float:left;margin-left:30px;text-align:left;}
.footerlink h4{color:#fff; font-weight:normal;margin:0;padding:0;margin-top:10px;font-size:1.2em;}
.footerlink{float:none;}
.footerlink a{display:block;font-size:0.8em;color:#ccc;}

#DOMWindow { background: #fff; border: 3px solid #be3329; }