@import "color";

// LARGEUR DU SITE
$sitewrap: 1170px;

// AGRANDISSEMENT HAUTEUR SLIDER (0 par défaut, doit être  > 500px)
// NE FONCTIONNE PAS SI MF_MOTEUR_TYPE = 2
$slider-height: 1010px;

// HAUTEUR PHOTOS LISTING (235px par défaut)
$listing-img-height:235px;

// REQUIS MAIS NE SERT PAS
$bg-uni: yes;
$picture-bg: yes;
$picture-bg-url:'';
$picture-bg-repeat-horizontal: no;

// VAR SITE TYPO
$font-body:"Source Sans Pro",verdana,sans-serif;
$font-title:"Raleway",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text:1.6em;
$font-size-title:1.8em;

// TYPE TITLE (NONE, UPPERCASE...)
$type-title: uppercase;

// WEIGHT (BOLD, NORMAL, 700, 300...)
$weight-title: normal;

// ARRONDI (YES / NO)
$arrondi: no;

// IMPORT ALL
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";

// IMPORT TEMPLATE MOBILEFIRST
@import "../../../slagence_X_V5/sources/scss/templates/mobilefirstv2";

// IMPORT RECHERCHE MOBILEFIRST
@import "../../../slagence_X_V5/sources/scss/recherche/mobilefirst";

// IMPORT MOTEUR MOBILEFIRST (SUR RECHERCHE)
// SEULEMENT SI RECHERCHE AUTRE QUE MF
//@import "../../../slagence_X_V5/sources/scss/moteur/mobilefirst";

// IMPORT DETAIL MOBILEFIRST
@import "../../../slagence_X_V5/sources/scss/detail/mobilefirst";

// IMPORT AGENCE MOBILEFIRST
@import "../../../slagence_X_V5/sources/scss/agence/mobilefirst";

// IMPORT BOUTONS
@import "../../../slagence_X_V5/sources/scss/boutons/mobilefirst";

// IMPORT MODULE SOUS MENU
@import "../../../slagence_X_V5/sources/scss/sous_menu/lib1";

// IMPORT PUB
@import "../../../slagence_X_V5/sources/scss/pubs/mobilefirst";

// IMPORT MODULE EXTRA
@import "../../../slagence_X_V5/sources/scss/extra/extra23";

// IMPORT MODULE ANNONCES
@import "../../../slagence_X_V5/sources/scss/modules/annonces18";



//---------------------------------------------------------------------------------------------
//   PERSO JRM92
//---------------------------------------------------------------------------------------------

//---------------------------------------------------------------------------------------------
//   GENERAL
//---------------------------------------------------------------------------------------------

.grayscale {
	filter: grayscale(1);
}

#PopEsti {
	position: fixed;
	top: 80px;
	right: 0;
	background-color: $color-important;
	@include border-left-radius (8px);
	color: $color-primary;
    font-size: 1.0em;
    padding: 0.8em;
}


 .bg-black-opacity {
   background-color: $color-dark;
   background-color: rgba($color-dark, .4);
   padding: 10px;
}

 .bg-white-opacity {
   background-color: $color-dark;
   background-color: rgba($color-body, .4);
   padding: 10px;
}

	//---------------------------------------------------------------------------------------------
	//   MENU & NAV
	//---------------------------------------------------------------------------------------------

.header-main {
	background-color: rgba($color-nav-footer,0.7);
	border: none;
}

.no-opacity {
	background-color: rgba($color-primary,1);
}

.menu {
	text-align: right;
	a {
		text-transform: none;
		color: $color-primary;
	}
}

.menu-scroll > li > a {
	color: $color-nav-footer;
}

.menu-principal > li.menu-vente  {
	border: solid 2px $color-secondary;
	background-color: $color-primary;
	> a {
		color: $color-nav-footer;
		&:hover {
			color: $color-important;
		}
	}
}

.menu-principal>li+li {
	margin-left: 0.5rem;
}

.menu-principal > li.menu-estimation {
	background-color: $color-important;
	border: solid 2px $color-important;
	a {
		color: $color-primary;
	}	
	&:hover {
		background-color: $color-important-dark-5;
		a {
			color: $color-primary;
		}		
	}
}

.menu-secondaire {
	background-color: rgba($color-nav-footer,0.9);
}


	//---------------------------------------------------------------------------------------------
	//   FOOTER
	//---------------------------------------------------------------------------------------------

.footer {
	background-color: $color-secondary;
	color: $color-action;
	.footer-ttl {
		color: $color-action;
	}
}

//---------------------------------------------------------------------------------------------
//   INDEX
//---------------------------------------------------------------------------------------------

	//---------------------------------------------------------------------------------------------
	//   VISUEL
	//---------------------------------------------------------------------------------------------

.slidermf {
	margin-top: -100px;
	@media only screen and (max-width : 768px) {
		margin-top: auto;
	}
}

	//---------------------------------------------------------------------------------------------
	//   TTL
	//---------------------------------------------------------------------------------------------

.slidermf-h1 {
	font-size: 2.2em;
	line-height: 2em;
	color: $color-primary;
	@media only screen and (max-width : 767px) {
		font-size: 1.2em;
	}
}

	//---------------------------------------------------------------------------------------------
	//   MOTEUR
	//---------------------------------------------------------------------------------------------

.moteurmf.moteurmf-1, .moteurmf-body {
	background-color: $color-primary;
}

.moteurmf-suggestions, .moteurmf-suggestions a {
	color: $color-important;
	&:hover {
		color: $color-important-dark-5;
	}
}

	//---------------------------------------------------------------------------------------------
	//   EQUIPE -- EXTRA
	//---------------------------------------------------------------------------------------------

.slider-container {    
    max-width: 100%;
    padding: 0;    
    margin: 0;
    overflow: hidden;    
    position:relative;    
}

.my-slider {
    position: relative;    
}

.slider-item {
    background: $color-body;    
    padding: 1.5rem .75rem;
    position: relative;    
    &:hover {
        // cursor: pointer;
    }
}

.controls {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 0;    
    background: #333;
    width: 100%;    
    top: 50%;
    transform: translatey(-50%);
    display: flex;
    align-items: center;    
    justify-content: space-between;
    &:focus {
        outline: none;
    }

    li:hover {
        cursor: pointer;        
    }
}

.card {
    text-align: center;    
    margin: 0 auto;
    max-width: 200px;       
    color: $color-font-body;;    
    padding-bottom: .75rem;
    font-family: $font-body;
    overflow: hidden;
    position: relative;    
    img {
        margin-bottom: .25rem;
    }
    
    h2 {
        margin: 0.8rem 0 .25rem;
        font-size: 0.8em;
    }
    p {
        margin: 0;
        padding: 0 .5rem;
        font-size: 0.7em;
    }
}

	//---------------------------------------------------------------------------------------------
	//   JESTIMO -- EXTRA
	//---------------------------------------------------------------------------------------------


	//---------------------------------------------------------------------------------------------
	//   PUB
	//---------------------------------------------------------------------------------------------

#section-pub {
	margin-top: -100px;
	@media only screen and (max-width : 768px) {
		margin-top: auto;
	}
}

//---------------------------------------------------------------------------------------------
//   IMMO
//---------------------------------------------------------------------------------------------

	//---------------------------------------------------------------------------------------------
	//   AGENTS
	//---------------------------------------------------------------------------------------------

.agent-ttl {
	background-color: rgba($color-primary,0.7);
    font-size: 1.6em;
    padding: 0.5em;
    position: absolute;
    width: 100%;
    top: 80%;
}

.immo-agents {
	height: 345px;
	margin-top: 10px;
}

	//---------------------------------------------------------------------------------------------
	//   SERVICES
	//---------------------------------------------------------------------------------------------

.services-content {
	height: 400px;
	@media only screen and (max-width : 768px) {
		height: auto;
	}
}

.services-inner i {
	font-size: 6em;
}


//---------------------------------------------------------------------------------------------
//   IMMO
//---------------------------------------------------------------------------------------------

	//---------------------------------------------------------------------------------------------
	//   LIST
	//---------------------------------------------------------------------------------------------

.list-immo {
	list-style: none;
    display: inline-block;	
}

#estimation-form > div > ui-view > ui-view > ui-view > controls > div {
	    margin-top: 285px !important;
}