/* CUSTOM */
.ui-icon {width:24px;height:24px;}
.ui-btn-icon-notext {width:30px;height:30px;}
.ui-icon-home-custom {
	background: url("../images/pictos/home-w-bd.png") no-repeat !important;
}
.ui-icon-back-custom {
	background: url("../images/pictos/left-w-bd.png") no-repeat !important;
}
.ui-icon-delete-custom {
	background: url("../images/pictos/close-w-bd.png") no-repeat !important;
}
.ui-icon-star-custom {
	background: url("../images/pictos/favplus-w-bd.png") no-repeat !important;
}
.ui-icon-check-custom {
	background: url("../images/pictos/coche-w-bd.png") no-repeat !important;
}
.ui-icon-AB-custom {
	background: url("../images/pictos/bot-w-bd.png") no-repeat !important;
	background:red;
}
.ui-icon-AR-custom {
	background: url("../images/pictos/right-w-bd.png") no-repeat !important;
}
.ui-icon-AR-custom-none {
	background:none;
}
.ui-icon-AL-custom {
	background: url("../images/pictos/left-w-bd.png") no-repeat !important;
}
.ui-icon-search-custom {
	background: url("../images/pictos/zoom-w-bd.png") no-repeat !important;
}
.ui-icon-facebook {
	background: url("../images/pictos/fb-w-bd.png") no-repeat !important;
}
.ui-icon-twitter {
	background: url("../images/pictos/twitt-w-bd.png") no-repeat !important;
}
.ui-icon-phone {
	background: url("../images/pictos/phone-w-bd.png") no-repeat !important;
}
.ui-icon-mail {
	background: url("../images/pictos/mail-w-bd.png") no-repeat !important;
}
.ui-icon-selection-custom {
	background: url("../images/pictos/select-w-bd.png") no-repeat !important;
}
.ui-icon-localiser-custom {
	background: url("../images/pictos/local-w-bd.png") no-repeat !important;
}
.ui-icon-trash-custom {
	background: url("../images/pictos/loop-w-bd.png") no-repeat !important;
}
.ui-icon-plus-custom {
	background: url("../images/pictos/plus-w-bd.png") no-repeat !important;
}
.ui-icon-forward-custom {
	background: url("../images/pictos/double-w-bd.png") no-repeat !important;
}
.ui-icon-rewind-custom {
	background: url("../images/pictos/doubleleft-w-bd.png") no-repeat !important;
}
.ui-icon-alert-custom {
	background: url("../images/pictos/alert-w-bd.png") no-repeat !important;
}
.ui-icon-tridwn-custom {
	background: url("../images/pictos/tridwn-w-bd.png") no-repeat !important;
}
.ui-icon-triup-custom {
	background: url("../images/pictos/triup-w-bd.png") no-repeat !important;
}
.ui-icon-agence-custom {
	background: url("../images/pictos/agence02-w-bd.png") no-repeat !important;
}
.ui-icon-infos-custom {
	background: url("../images/pictos/infos-w-bd.png") no-repeat !important;
}
.ui-icon-calcul-custom {
	background: url("../images/pictos/galerie-w-bd.png") no-repeat !important;
}
.ui-icon-share-custom {
	background: url("../images/pictos/partage-w-bd.png") no-repeat !important;
}
.ui-icon-estim-custom {
	background: url("../images/pictos/home-w-bd.png") no-repeat !important;
}
.ui-icon-expert-custom {
	background: url("../images/pictos/expert-w-bd.png") no-repeat !important;
}
.ui-btn-icon-left .ui-btn-inner .ui-icon, .ui-btn-icon-right .ui-btn-inner .ui-icon {margin-top:-12px;}
.ui-collapsible .ui-btn-icon-left .ui-icon, .ui-collapsible .ui-btn-icon-right .ui-icon {margin-top:-9px;}
.ui-btn-icon-left .ui-btn-inner .ui-icon-tridwn-custom, .ui-btn-icon-right .ui-btn-inner .ui-icon-tridwn-custom {margin-top:-9px;}
.ui-btn-icon-left .ui-btn-inner .ui-icon-triup-custom, .ui-btn-icon-right .ui-btn-inner .ui-icon-triup-custom {margin-top:-9px;}
.ui-icon-radio-on {width:18px;height:18px;}
.ui-icon-radio-off {width:18px;height:18px;}
.ui-icon-checkbox-on {	width:18px;height:18px;}
.ui-icon-checkbox-off {	width:18px;height:18px;}
.ui-icon-minus {width:18px;height:18px;background-color:rgba(0, 0, 0, 0.4) !important;}
.ui-icon-plus {width:18px;height:18px;background-color:rgba(0, 0, 0, 0.4) !important;}
.ui-icon-delete  {width:18px;height:18px;background-color:rgba(0, 0, 0, 0.4) !important;}
.ui-input-search .ui-btn-icon-notext  {width:24px;height:24px;}
.ui-input-search .ui-btn-up-a {border:0;}
.icon-plus {background:url('../images/pictos/plus-w-bd.png') no-repeat;margin-top:5px;height:24px;background-position:50% 50%;}
.icon-search {background:url('../images/pictos/zoom-w-bd.png') no-repeat;margin-top:5px;height:24px;background-position:50% 50%;}
.icon-agence {background:url('../images/pictos/agence02-w-bd.png') no-repeat;margin-top:5px;height:24px;background-position:50% 50%;}
.icon-infos {background:url('../images/pictos/infos-w-bd.png') no-repeat;margin-top:5px;height:24px;background-position:50% 50%;}
.icon-selection {background:url('../images/pictos/select-w-bd.png') no-repeat;margin-top:5px;height:24px;background-position:50% 50%;}