// VARIABLES COLORS
$color-body:#333333;
$color-content:#343135;
$color-block:#1a171b;
$color-primary:#1a171b;
$color-secondary:#4f4652;
$color-action:#18a8d4;
$color-important:#1fb8e6;
$color-nav-footer:#fff;

$color-violet:#4f4652;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#c5c5c5;