@font-face {
    font-family: 'OpenSansCondensedLightRegular';
    src: url('$$_$$styles/typocss/opensans-condlight-webfont.eot');
    src: url('$$_$$styles/typocss/opensans-condlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('$$_$$styles/typocss/opensans-condlight-webfont.woff') format('woff'),
         url('$$_$$styles/typocss/opensans-condlight-webfont.ttf') format('truetype'),
         url('$$_$$styles/typocss/opensans-condlight-webfont.svg#OpenSansCondensedLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansCondensedBold';
    src: url('$$_$$styles/typocss/opensans-condbold-webfont.eot');
    src: url('$$_$$styles/typocss/opensans-condbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('$$_$$styles/typocss/opensans-condbold-webfont.woff') format('woff'),
         url('$$_$$styles/typocss/opensans-condbold-webfont.ttf') format('truetype'),
         url('$$_$$styles/typocss/opensans-condbold-webfont.svg#OpenSansCondensedBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* GENERAL */
table,td{border-collapse:collapse;font-size:12px;}
body {font-family:arial,verdana;margin:0 auto;padding:0;font-size:12px; background:url($$_$$images/body-head.jpg) repeat-x #44464d;   }
body.accueil .photo{background:  url($$_$$images/bg.jpg) no-repeat top center; }


.clear {display:block;clear:both;}
div,td {  font-size:12px; color: #fff; }
img{border:none;}
p { margin: 10px 0; padding: 0; }

a{color: #fff;}
a:hover{text-decoration: none;}
h2 span{color: #000098;}
h1.ttl_page,#Moteur h1 {color: #A4A9BA;
    font-family: "OpenSansCondensedBold";
    font-size: 18px; text-transform:uppercase;}
.a_vert{color: #010095 !important;}
ul, li {list-style-type:none;}
/* structure globale */
.wrap,#siteMap{z-index:100;width: 960px; margin:0 auto; clear: both; position: relative;}
#bg-head { background:url($$_$$images/body-head.jpg) repeat-x #44464d; }
.accueil #bg-head { background:none; }
.coordo { position: absolute; top: 47px; left: 238px; text-transform:uppercase; }
.coordo strong { font-size: 18px; }

.plogo { position: absolute; top: 0; left: 235px; }

#m_top .menuLangue .txtLi { display: none; }

#b_content .wrap {z-index:2;}
#b_head{height: 130px;}
#b_head{height: 130px;position: fixed;top: 0; left:0; width: 100%; background:url($$_$$images/body-head.jpg) repeat-x #44464d; z-index:3000; }
#top-head {  z-index: 1000;   }
#b_head .wrap{border-bottom: solid 1px #707070;height: 126px;background:url($$_$$images/body-head.jpg) repeat-x #44464d; }


.accueil #top-head { }
.accueil #b_head .wrap{border: none;background: none; }

.accueil #b_head{background: none; }

#bh_left{float: left; padding-top: 15px; }
#bh_right{float: right;width: 750px; } /* ICI CHANGER LA LARGEUR EN FONCTION DE LA TAILLE DU MENU */
#m_top{position:relative;z-index:100;float:right;font-weight: bold; width:100px; font-size: 12px;margin:10px 0 32px 0;height: 32px; line-height: 26px; text-align: right;color: #a8a6a6;}
#m_top a{color: #a8a6a6;text-decoration: none;}
#m_top a:hover{text-decoration: underline;}
#m_top .suivi{background: url($$_$$images/suivi.png) no-repeat; padding-left: 20px;}
#m_top .sep{margin:0 10px;}

#m_top .menuLangue{margin:0;padding:0;}
#m_top .menuLangue .txtLi,
#m_top .menuLangue .menuLangueBg,
#m_top .menuLangue .menuList,
#m_top .menuLangue .arrowDown {margin:0;}
#m_top .menuLangue .arrowDown{margin-top:5px;}
#m_top .menuLangue .menuLangueBg{margin-left: 5px;}

#m_main {clear:both;z-index: 50;position:relative; }
#m_main ul,#m_main li{list-style:none;z-index:8000}
#m_main ul,#m_main li .error{color:red; display:block;}
#m_main ul{margin:0;padding:0;}

#m_main ul li{display: block;float: left; text-align: center; min-width: 180px;}
#m_main ul li a{display:  block; color: #fff; font-size: 20px; border-bottom: solid 2px #0000da;text-decoration: none;margin:0 30px; padding: 13px 0; text-transform:uppercase; font-family: "OpenSansCondensedBold"; }
#m_main ul li a:hover{background: #2d363d; }

#m_main ul li ul{display: none;position: absolute;z-index:7000; text-align: left;}
#m_main ul li ul.on{display: block;}
#m_main ul li ul li{display: block; float: none;background: #44464d;padding: 0 30px;border:solid 3px #2d363d; min-height: 200px;text-align: left;}
#m_main ul li ul li h3, #m_main ul li ul li h2, #m_main ul li ul li .ligneform span{color:#a4a9ba;text-decoration: none;font-family: "OpenSansCondensedBold";
    font-size: 18px; margin-top: 10px; text-transform:uppercase; }
#m_main .coords { font-size:11px; }
#m_main ul li ul li .bsm{float:left;color: #fff; }
#m_main ul li ul li .bordure{background: url($$_$$images/menu/sep.gif) center right no-repeat;}
#m_main ul li ul li .pad{padding: 5px 30px 0px 30px; min-height: 220px; }
#m_main ul li ul li .pad2{padding: 5px 20px 0px 20px; min-height: 100px;}
#m_main ul li ul li a{color:#fff; font-size: 14px;line-height: 18px; font-style: normal; border: none; margin:0; padding:0 0 0 15px;background: url($$_$$images/menu/puce.png) no-repeat  center left;}
#m_main ul li ul li a.encodemail{font-size: 9px; padding:0; background: none;}
#m_main ul li ul li a:hover{text-decoration: underline; border: none; background: url($$_$$images/menu/puce.png) no-repeat center left;}
#m_main ul li ul li .alaune{padding: 5px 0 5px 35px;}
#m_main ul li ul li .alaune a{margin-left: 20px; background: none;padding:0;line-height: 14px;}
#m_main ul li ul li .cdc{background: url($$_$$images/menu/picto.png) no-repeat 0 0; }
#m_main ul li ul li .new{background: url($$_$$images/menu/picto.png) no-repeat 0 -100px; }
#m_main ul li ul li .exclu{background: url($$_$$images/menu/picto.png) no-repeat 0 -200px; }
#m_main ul li ul li .photoagence{padding: 80px 5px 0 0;}
#m_main ul li ul li .photoagence a{border: solid 2px #474d4d; background: none; padding:0; margin:0;-moz-box-shadow: 0px 0px 6px #aaa; -webkit-box-shadow: 0px 0px 6px #aaa; box-shadow: 0px 0px 6px #555; }
#m_main ul li ul li .photoagence img{width: 190px; height: 126px;border: solid 6px #fff;display: block;}
#m_main ul li ul li .ligneform{background: url($$_$$images/menu/puce.png) no-repeat center left;padding-left: 10px; color:#a4a9ba;text-decoration: none;font-family: "OpenSansCondensedBold";
    font-size: 18px; margin-top: 30px; text-transform:uppercase;}
#m_main ul li ul li .ligneform .error{color:red;display:block;clear:left; font-size:11px;}
#m_main ul li ul li .ligneform .inputText{width: 120px; height: 16px; background:#fff; border: solid 1px #fff;float:right; padding:5px;}
#m_main ul li ul li .ligneform span{float:left;margin:3px 5px 0 0;}
#m_main ul li ul li .bsm .inputTextarea{background:#fff; border: solid 1px #fff;width: 280px; height: 82px;}
#m_main ul li ul li .bsm .inputSubmit { padding:5px; font-family: "OpenSansCondensedBold";
    font-size: 20px;  border:0px;   text-transform: uppercase;margin:10px 0 0 0;color:#010095;background:#fff;width:auto;cursor:pointer; }

#m_main ul li ul.ssmenuService{left: 460px !important;}

#b_cdc{height: 430px; width: 960px; margin: 0 auto; text-align: left; padding-top:130px;}
#b_cdc .wrap{position: static;}
#moduleOslo, #moduleOsloInterne {z-index:1;}
#b_cdcInterne {height:215px;margin-top: 130px;}
#b_cdcInterne .wrap {position:static;}
/*#b_content{min-height: 300px;background: #f0f0f0;padding: 20px 0;}*/
#b_content{min-height: 300px;padding: 50px 0 0 0;}

#b_topfoot{height: 70px; background: #44464d;border-bottom: solid 1px #fff;position: relative; display: none; }
#b_topfoot .wrap{padding-left: 50px; width: 910px;}
#b_topfoot .plus{display: block; height: 80px; width: 39px; position: absolute; top:-10px; left:50%;margin-left: -480px;}
#b_topfoot .group_mob,#b_topfoot .group_abonne,#b_topfoot .group_join,#b_topfoot .group_app{margin-top:8px;padding:0px 20px 0 40px;height: 62px;float: left;line-height: 62px;font-size: 11px; color: #fff; font-weight:bold;}
#b_topfoot .group_join{background: url($$_$$images/reseaux/rejoins_$$FORM:LANG$$.png) no-repeat;}
#b_topfoot .group_abonne{background: url($$_$$images/reseaux/abonne_$$FORM:LANG$$.png) no-repeat;}
#b_topfoot .group_mob{background: url($$_$$images/reseaux/version_$$FORM:LANG$$.png) no-repeat;}
#b_topfoot .group_app img{margin-top: 10px;}
#b_topfoot .a_res{display: block;float: left;width: 47px; height: 31px; overflow: hidden;background: url($$_$$images/reseaux/pictos.png) no-repeat;margin: 8px 5px 0 0;}
#b_topfoot .fb{background-position: 0 0;}
#b_topfoot .fb:hover{background-position: 0 -31px;}
#b_topfoot .tw{background-position: -47px 0;}
#b_topfoot .tw:hover{background-position: -47px -31px;}
#b_topfoot .rss{background-position: -94px 0;}
#b_topfoot .rss:hover{background-position: -94px -31px;}
#b_topfoot .mob{background-position: -141px 0;cursor: default;}
#b_topfoot .mob:hover{background-position: -141px -31px;}

#b_foot{min-height: 30px;}
#menu_foot{ text-align: center; padding-bottom: 25px; }
#menu_foot,#menu_foot a{color:#c3c4ca;font-size: 11px; font-weight: bold; text-decoration:none; }

#b_foot .wrap p, #b_foot .wrap p a { color: #c3c4ca; text-align:center; line-height: 20px; text-decoration:none; }

#siteMap #col_droite{float: right;}
#siteMap #col_gauche,
#siteMap #col_droite{
	background: url($$_$$images/bg_footer.png) repeat-x top left;border: none;
	border-top-right-radius:4px;-moz-border-radius-topright:4px;-webkit-border-top-right-radius:4px;
	border-top-left-radius:4px;-moz-border-radius-topleft:4px;-webkit-border-top-left-radius:4px;
}
#siteMap .titleListing a,#siteMap span.infos_count{color: #999;}

/* style de la page d'accueil */
#minimot{height: 117px;}

.accueil_gauche{float: left; width: 600px;margin: 20px 0; background: #E2E2E2; width:555px; padding: 10px 10px;}
.accueil_droite{float: right; width: 360px;margin: 20px 0 0 0;}
.accueil_gauche h2{ font-size: 24px; color: #000000; font-family: 'OpenSansCondensedLightRegular', Arial; margin: 4px 0 21px 0; padding: 0; }
.accueil_gauche p{line-height:15px; color: #44464d; }
.accueil_gauche .photo_accueil{float: left;background:#fff;-moz-box-shadow: 0px 0px 6px #aaa; -webkit-box-shadow: 0px 0px 6px #aaa; box-shadow: 0px 0px 6px #555; margin: 5px 15px 5px 5px; }
.accueil_gauche .photo_accueil img{display: block;margin: 4px; width:175px; height:162px;}
.accueil_gauche .texte_accueil {margin: 0 10px 0 0; line-height: 15px;}				/* régler ici le margin top pour centrer le texte verticalement si besoin */

#bloc_services{background: #e2e2e2 url($$_$$images/services/guillemet.png) top center no-repeat; width: 360px; height: 255px;}
#bloc_services h3{color:#2d2e2f;text-align: center; font-weight: normal; margin-top:0; font-size: 24px;padding-top: 20px; font-family: 'OpenSansCondensedLightRegular', Arial;}
#bloc_services .wrap_service{width: 326px; margin:0 auto;overflow:hidden;}
#bloc_services .wrap_service .droite, #bloc_services .wrap_service .gauche{position:relative;background: url($$_$$images/services/gauche.png);width: 28px; height: 124px;float: left;cursor: pointer;}
#bloc_services .wrap_service .droite{background: url($$_$$images/services/droite.png);}
#bloc_services .wrap_service .container {float:left;width:250px;height: 140px;overflow:hidden;position:relative;}
#bloc_services .wrap_service .content_service{position:absolute;width: 240px;height: 140px;float:left;list-style:none;margin:0;padding:10px;}
#bloc_services .wrap_service .content_service li{float:left;margin:0;padding:0;display: block;width: 230px;height: 124px;margin-right: 10px;}
#bloc_services .wrap_service .content_service li a{display: block; text-decoration: none;}
#bloc_services .wrap_service .content_service li strong{color:#010095;text-decoration:  underline;}
#bloc_services .wrap_service .content_service li p{color:#656565;padding-left: 80px;height: 85px;}
#bloc_services .wrap_service .content_service li p.bg-email{background: url($$_$$images/services/mail.png) no-repeat;}
#bloc_services .wrap_service .content_service li p.bg-estim{background: url($$_$$images/services/estim.png) no-repeat;}
#bloc_services .wrap_service .content_service li p.bg-calc{background: url($$_$$images/services/calc.png) no-repeat;}

/* RETOUR HAUT */
.retourHaut {float:right;margin:5px 0 0 0;padding:0;font-size:11px;font-weight:bold;}
.retourHaut a {color:#010095;text-decoration:none;}

/* fix langue*/
.menuLangueBg_ {margin-top:0 !important;}
.fleft,.fleft2 {float:left;margin:0;padding:0;}

.topmoteur { font-family:'OpenSansCondensedLightRegular', Arial; font-size: 20px;text-transform: uppercase;font-weight: normal; position: absolute; top: -35px; left: 0; }
.topmoteur a { color: #000098; }