// VAR COLORS
$color-body:#404041;
$color-content:#404041;
$color-block:#faf9f6;
$color-primary:#024181;
$color-secondary:#012f5d;
$color-action:#68A7E7;
$color-important:#0e9f41;
$color-nav-footer:#fff;
// COLOR PUB
$color-pub:"white";
// COLOR FONT BODY DEFAULT
$color-font-body:#000;
