body {
	padding: 0;
	margin: 0;
	background-color: white;
	text-align:  center;
}
div, td {
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td, th {
	padding: 0;
}
form {
	padding: 0;
	margin: 0;
}
input, select {
	vertical-align: middle;
}
a {
	text-decoration: none;
	color: #676666;
}
a:hover {
	text-decoration: underline;
	color: black;
}
img {
	border: none;
	display: inline;
}
p {
	
}
.clear-left {
	clear: left;
}
.clear-right {
	clear: right;
}
.clear-both {
	clear: both;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
/**/

.wrapper {
	width: 1000px;
	margin: 0 auto;
}
#header {
	height: 310px;
}
#menu {
	height: 35px;
	background: url(../images/bg_menu.gif) repeat-x;
}
#menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#menu ul li {
	position: relative;
	height: 35px;
	float: left;
	overflow: hidden;
}
#menu ul li a strong {
	display: none;
}
#menu ul li a {
	height: 35px;
	display: block;
	background-repeat: no-repeat;
	background-position: 0 0;
}
#menu ul li a:hover {
	position: relative;
	height: 35px;
	display: block;
	background-position: 0 -35px;
}
#menu ul li .menu01-fr {
	width: 106px;
	background-image: url(../images/menu_fr_01.gif);
}
#menu ul li .menu02-fr {
	width: 148px;
	background-image: url(../images/menu_fr_02.gif);
}
#menu ul li .menu03-fr {
	width: 105px;
	background-image: url(../images/menu_fr_03.gif);
}
#menu ul li .menu04-fr {
	width: 121px;
	background-image: url(../images/menu_fr_04.gif);
}
#menu ul li .menu05-fr {
	width: 136px;
	background-image: url(../images/menu_fr_05.gif);
}
#menu ul li .menu06-fr {
	width: 130px;
	background-image: url(../images/menu_fr_06.gif);
}
#menu ul li .menu07-fr {
	width: 155px;
	background-image: url(../images/menu_fr_07.gif);
}
#menu ul li .menu08-fr {
	width: 99px;
	background-image: url(../images/menu_fr_08.gif);
}
#menu ul li .menu01-en {
	width: 105px;
	background-image: url(../images/menu_en_01.gif);
}
#menu ul li .menu02-en {
	width: 136px;
	background-image: url(../images/menu_en_02.gif);
}
#menu ul li .menu03-en {
	width: 102px;
	background-image: url(../images/menu_en_03.gif);
}
#menu ul li .menu04-en {
	width: 117px;
	background-image: url(../images/menu_en_04.gif);
}
#menu ul li .menu05-en {
	width: 170px;
	background-image: url(../images/menu_en_05.gif);
}
#menu ul li .menu06-en {
	width: 133px;
	background-image: url(../images/menu_en_06.gif);
}
#menu ul li .menu07-en {
	width: 138px;
	background-image: url(../images/menu_en_07.gif);
}
#menu ul li .menu08-en {
	width: 99px;
	background-image: url(../images/menu_en_08.gif);
}
#infos {
	height: 30px;
	background: url(../images/bg_infos.gif) repeat-x;
}
#infos #tab-infos {
	width: 990px;
	margin: 0 auto;
}
#infos #tab-infos div {
	width: 30%;
	height: 30px;
	background-image: url(../images/arrow_infos.gif);
	background-repeat: no-repeat;
}
#infos #tab-infos .float-left {
	background-position: left center;
	text-align: left;
	padding-left: 15px;
	font-size: 10px;
	line-height: 30px;
}
#infos #tab-infos .float-left strong {
	background: url(../images/arrow_infos.gif) right center no-repeat;
	padding-right: 15px;
}
#infos #tab-infos .float-right {
	width: 120px;
	background-position: right center;
	text-align: right;
}
#infos #tab-infos .float-right div {
	width: 120px;
	background-position: left center;
}
#infos #tab-infos .float-right ul {
	width: 65px;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
}
#infos #tab-infos .float-right ul li {
	position: relative;
	width: 23px;
	overflow: hidden;
	text-align: center;
	padding-top: 7px;
}
#infos #tab-infos .float-right ul li a { display: block; }
#infos #tab-infos .float-right ul li a:hover { position: relative; left: -23px; }

#container {
	padding-bottom: 22px;
}
#nav-container {
	width: 1000px;
	padding: 15px 0;
	text-align: left;
}
.wrapper #left-container {
	width: 330px;
	float: left;
}
.wrapper #left-container .title-hot-offers {
	height: 61px;
	line-height: 55px;
	background: url(../images/picto_hot_offers.gif) 0 0 no-repeat;
	text-align: left;
	padding-left: 44px;
	margin: 13px 0 0 0;
	font-size: 18px;
	font-weight: bold;
}
.wrapper #left-container #div_C2C {
	width: 282px;
	height: 410px;
	overflow: hidden;
}
.wrapper #left-container .hot-offers {
	width: 282px;
	height: 205px;
	float: left;
	background: url(../images/pattern_hot_offers.gif) no-repeat;
}
.wrapper #left-container .hot-offers p {
	margin: 0;
}
.wrapper #left-container .hot-offers .hot-offers-photo {
	padding-top: 12px;
	margin:0;
}
.wrapper #left-container .hot-offers .hot-offers-photo img {
	border: 1px solid #929191;
}
.wrapper #left-container .hot-offers .hot-offers-label {
	padding: 5px 7px;
	text-align: left;
	margin: 0px;
	
}
.wrapper #left-container .hot-offers .hot-offers-label a {
	font-size: 12px;
	font-weight: bold;
}
.wrapper #left-container .hot-offers .hot-offers-label a.black-link {
	color: black;
}
.wrapper #left-container .hot-offers .hot-offers-label a.grey-link {
	color: #676768;
}
.wrapper #middle-container {
	width: 40px;
	height: 460px;
	background: url(../images/bg_middle.gif) no-repeat;
	float: left;
}
.wrapper #right-container {
	width: 630px;
	float: right;
}
.wrapper #right-container table.table-right-container {
	width: 100%;
}
.wrapper #right-container table.table-right-container td {
	vertical-align: top;
}
.wrapper #right-container table.table-right-container td.left-column {
	width: 290px;
}
.wrapper #right-container table.table-right-container td.spacer-column {
	width: 40px;
}
.wrapper #right-container table.table-right-container td.right-column {
	width: 300px;
}
.wrapper #right-container table.table-right-container td.min-height {
	height: 22px;
}
.wrapper #right-container table.table-right-container td#text-index {
	text-align: left;
}
.wrapper #right-container table.table-right-container td#text-index .srv {
	margin: 0 0 10px 0;
	line-height: 18px;
	font-weight: bold;
}
.wrapper #right-container table.table-right-container td#text-index .srv strong {
	font-size: 18px;
}
.wrapper #right-container table.table-right-container td#text-index div.float-left {
	width: 80px;
}
.wrapper #right-container table.table-right-container td#text-index div.float-left img {
	border: 1px solid #68696a;
}
.wrapper #right-container table.table-right-container td#text-index div.float-right {
	width: 200px;
}
.wrapper #right-container table.table-right-container td#search-engine {
	position: relative;
	width: 300px;
	text-align: center;
	background: url(../images/bg_engine.gif) repeat-x #feeea5;
}
.wrapper #right-container table.table-right-container td#engine-links {
	height: 48px;
	overflow: hidden;
	background: url(../images/bg_engine_link.gif) no-repeat #666768;
	padding: 0 17px 0 17px;
	text-align: right;
}
.wrapper #right-container table.table-right-container td#engine-links p{margin-top:10px;}
.wrapper #right-container table.table-right-container td#engine-links a {
	background: url(../images/arrow_engine_link.gif) right center no-repeat;
	color: #efc501;
	font-weight: bold;
	padding-right: 12px;
}
.wrapper #right-container table.table-right-container td#engine-links a:hover {
	color: white;
}
.wrapper #right-container table.table-right-container td#contact-index {
	background: url(../images/bg_contact.gif) bottom right no-repeat #cbcaca;
}
.wrapper #right-container table.table-right-container td#portefolio {
	background: url(../images/bg_portefolio.gif) repeat-x #feed9e;
}
.wrapper #right-container table.table-right-container td.left-column .title, .wrapper #right-container table.table-right-container td.right-column .title {
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	font-size: 20px;
	padding-left: 45px;
	background-repeat: no-repeat;
	background-position: 5px 0;
	text-align: left;
	margin: 5px 0;
}
.wrapper #right-container table.table-right-container td.right-column #engine-title {
	background-image: url(../images/picto_engine_title.gif);
}
.wrapper #right-container table.table-right-container td.left-column #contact-title {
	background-image: url(../images/picto_contact_title.gif);
	padding-left: 50px;
}
.wrapper #right-container table.table-right-container td.right-column #portefolio-title {
	background-image: url(../images/picto_portefolio_title.gif);
}
.wrapper #right-container table.table-right-container td.left-column .content {
	width: 260px;
	margin: 0 auto;
	font-size: 12px;
	text-align: center;
	padding-bottom: 20px;
}
.wrapper #right-container table.table-right-container td.left-column .content .paragraph {
	padding: 0 0 10px 63px;
	text-align: left;
	border-bottom: 1px solid #e2e1e1;
	margin: 0;
}
.wrapper #right-container table.table-right-container td.left-column .content .padding {
	padding: 10px 0 0 63px;
	border-bottom: none;
}
.wrapper #right-container table.table-right-container td.right-column .content {
	width: 260px;
	margin: 0 auto;
	text-align: left;
}
.wrapper #right-container table.table-right-container td.right-column .content ul.portefolio {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.wrapper #right-container table.table-right-container td.right-column .content ul.portefolio li {
	width: 260px;
	float: left;
	background: url(../images/arrow_portefolio.gif) 5px center no-repeat;
	text-indent: 25px;
	line-height: 24px;
	font-size: 12px;
}
#footer {
	background: url(../images/bg_footer.gif) repeat-x #2a2929;
}
#footer td {
	vertical-align: top;
	padding: 15px 0;
	text-align: center;
}
.wrapper #footer-contact {
	width: 415px;
}
.wrapper #footer-contact #tab-footer-contact {
	width: 400px;
	margin: 0 auto;
}
.wrapper #footer-contact #tab-footer-contact p {
	background: url(../images/arrow_footer_contact.gif) 0 5px no-repeat;
	padding: 0 12px;
	text-align: left;
	color: white;
	margin: 0;
}
.wrapper #footer-contact #tab-footer-contact a {
	color: white;
}
.wrapper #footer-contact #tab-footer-contact a:hover {
	color: #efc501;
}
.wrapper #footer-contact #tab-footer-contact .float-left strong {
	font-size: 14px;
}
.wrapper #footer-links {
	width: 565px;
	vertical-align: top;
	background-color: #d0cfcf;
}
.wrapper #footer-links p {
	margin: 0;
	text-align: right;
	padding: 0 12px;
}
.wrapper #footer-links a {
	color: black;
	background: url(../images/arrow_footer_link.gif) 0 5px no-repeat;
	padding: 0 30px 0 12px;
}
.wrapper #footer-links a:hover {
	color: #676666;
}
/*page formulaire*/
.BoutonFormContact, .BoutonFormRecherche {
	width: 160px !important;
	height: 28px !important;
}
.boutonEnvoi {
	width: 160px !important;
	height: 28px !important;
}
.tabFond1 {
	background: none;
	width: 1000px !important;
}
.tabFond1 td {
	padding: 2px;
}
.tabFond1 table {
	text-align: left;
}
.tabTitre {
	font-size: 11px;
	color: white;
	margin: 0 0 5px 0;
	padding: 0;
	font-weight: bold;
	text-align: center;
	background: url(../images/bg_tabtitre.gif) bottom repeat-x black;
	border-bottom: 2px solid #efc501;
	line-height: 25px;
}
.messageNomAgence, .estimationNomAgence {
	font-size: 16px;
	text-align: center;
	color: #000;
	margin: 0;
	padding: 5px;
	font-weight: normal;
	display: block;
}
.tabFond1 .Input {
	margin-bottom: 2px;
}
.selection {
	font-size: 16px;
	color: #001663;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	margin-bottom: 10px;
}
.selection a {
	color: #fec600;
}
.selection a:hover {
	color: #4b6586;
	text-decoration: none;
}
#CguFormulaire {
	background: #fec600;
	padding: 10px;
	text-align: justify;
	color: white;
	margin: 10px 0;
}
#CguFormulaire a {
	color: black;
	text-decoration: underline;
}
#CguFormulaire a:hover {
	color: #feec97;
	text-decoration: none;
}
/*guide*/
#MenuGuide {
	text-align: center;
	padding: 75px 0;
}
#MenuGuide table {
	margin: 0 auto;
	width: 700px;
}
#MenuGuide a {
	font-size: 12px;
	font-weight: bold;
	color: black;
	text-decoration: none;
	line-height: 20px;
}
#MenuGuide a:hover {
	font-size: 12px;
	color: #cbcaca;
}
#MenuGuide td {
	text-align: left;
	border-bottom: 1px solid #cbcaca;
}
#PageDossiers table {
	margin: 0 auto;
	width: 100%;
}
#PageDossiers p {
	margin: 5px 0;
}
#PageDossiers td {
	padding: 2px 5px;
}
.txtTitre3, .grasnews {
	color: #000;
	font-weight: bold;
	font-size: 13px;
	text-align: left;
	background: url(../images/arrow_4.gif) 0 0 no-repeat;
	padding: 2px 2px 2px 20px;
}
.gras {
	padding: 2px 2px 2px 30px;
	background: url(../images/arrow_2.gif) 10px 0 no-repeat;
	color: #efc501;
	font-weight: bold;
	font-size: 13px;
}
.gras u {
	text-decoration: none;
}
.encadre {
	border: 1px solid #fec600;
	padding: 5px;
	background: #fec600;
	line-height: 14px;
}
.encadre .gras {
	padding: 0;
	margin-bottom: 5px;
	border: none;
	background: #fec600;
	color: white;
	line-height: 12px;
}
.encadre a {
	color: #030e77;
}
.encadre a:hover {
	color: white;
}
.table_news strong {
	color: #001663;
}
.table_news, .encadre table {
	border-top: 1px solid #fec600;
	border-left: 1px solid #fec600;
	border-bottom: none;
	border-right: none;
	background: #9aa0a7;
}
.table_news td, .encadre td {
	border-bottom: 1px solid #fec600;
	border-right: 1px solid #fec600;
	border-left: none;
	border-top: none;
	background: #feec97;
	font-size: 10px;
	padding: 5px;
}
.table_news .gras {
	padding: 3px 5px;
	margin: 0;
	background: #ffce89;
	color: #001663;
	line-height: 12px;
}
/*agence immobiliere*/
#Portefeuille01 h3, #Annonces01 h3 {
	font-size: 14px;
	font-weight: normal;
	line-height: 19px;
	border-bottom: none;
	background: url(../images/bg_h3.gif) 0 0 no-repeat;
	padding: 0 0 0 30px;
	margin: 0 0 10px 0;
}
/*recherche général*/
#RechHaut #RechHautEnd, #RechercheContainer #AlerteEmail #AlerteEmailEnd {
	height: 25px;
}
#RechPagesHaut .rechLiensPages a, #RechPagesBas .rechLiensPages a {
	border: none;
	width: 19px;
	height: 17px !important;
	overflow: hidden;
	padding-top: 4px;
}
#RechPagesHaut .rechLiensPages a.actif, #RechPagesBas .rechLiensPages a.actif {
	border: none;
}
#RechPagesHaut .rechLiensPages a:hover, #RechPagesBas .rechLiensPages a:hover {
	border: none;
}
#RechercheContainer #AlerteEmail, #RechercheContainer #AlerteEmail #AlerteEmailCtn {
	width: 960px;
}
#RechercheContainer #AlerteEmail #AlerteForm input.alerteBt {
	border: none;
}
/*recherche basic*/
#RechResultat .blocAnnonce .detailAnn .ajoutSelection a, #RechResultat .blocAnnonce .detailAnn .supprimerSelection a, #RechResultat .blocAnnonce .detailAnn a.lienDetail {
	color: white;
}
#RechResultat .blocAnnonce .detailAnn .ajoutSelection a:hover, #RechResultat .blocAnnonce .detailAnn .supprimerSelection a:hover, #RechResultat .blocAnnonce .detailAnn a.lienDetail:hover {
	color: #efc501;
}
#RechercheContainer #AlerteEmail #AlerteEmailCtn h4, #RechercheContainer #AlerteEmail #AlerteEmailCtn h3 span {
	color: #efc501;
}
#RechercheContainer #AlerteEmail #AlerteForm *, #RechercheContainer #AlerteEmail #AlerteEmailCtn h3, #RechercheContainer #AlerteEmail .note {
	color: white;
}
/*alerte immo*/
#AlerteImmo {
	background: none;
	border: none;
	padding: 0;
}
#AlerteImmo #AlerteTitre01 {
	width: 960px;
	background: url(../img/alerteimmo_titre_fond01.gif) no-repeat;
}
#AlerteImmo #AlerteTitre01 h5 {
	background: none;
}
#AlerteImmo #AlerteTitre01 h5 span {
	color: #fff;
	font-weight: normal;
	text-transform: uppercase;
}
#AlerteImmo h2 {
	color: #efc501;
}
#AlerteImmo h4 {
	color: #3e3e3e;
}
#AlerteImmo #AlerteConfirmation p.confirmation {
	color: #000;
}
#AlerteImmo h5.retourAccueil a {
	color: #efc501;
}
/* detail corner*/
#DetailAnnonce {
	padding: 0;
}
td#ColonneGauche #ColonneGauche_Ctn #Outils #ListeOutils #AjoutSelection a, td#ColonneGauche #ColonneGauche_Ctn #Outils #ListeOutils #VoirSelection a, td#ColonneGauche #ColonneGauche_Ctn #Outils #ListeOutils #AnnoncesSimilaires a, td#ColonneGauche #ColonneGauche_Ctn #Outils #ListeOutils #Imprimer a, td#ColonneGauche #ColonneGauche_Ctn #Outils #ListeOutils #EnvoiAmi a, td#ColonneGauche #ColonneGauche_Ctn #Outils #ListeOutils #FinancerAchat a {
	color: #000;
}
#AgenceContact form table#FormContact td#ChampsBouton input, td#ChampsBouton input {
	width: 160px;
	height: 28px;
}
/*Editeur*/
#Editeur {
	color: #676666;
	text-align: justify;
}
#Editeur h1 {
	
}
#Editeur h1 span {
	
}
#Editeur h2 {
	
}
#Editeur h2 span {
	
}
#Editeur h3 {
	
}
#Editeur h3 span {
	
}
#Editeur p {
 margin-top:0; padding-top:0;
	line-height: 17px;

}
#Editeur p span {
	
}
#Editeur strong {

	color: black !important;
}
#Editeur a {
	color: #efc501;
	font-size: 12px;
	font-weight: bold;
	background: url(../images/arrow_next.gif) right center no-repeat;
	padding: 0 12px 0 0;
}
#Editeur a : hover {
	color: white;
}
#Editeur ul {
}
#Editeur li {
	
}
#Editeur span * {
	
}
#Editeur table, #Editeur td {
	
}

#txt_accueil p{ color:#676666; text-align:justify;}