* {
	font: 12px / normal Arial, Helvetica, sans-serif;
	color: black;
	margin: 0;
	padding: 0;
	border: none;
}
body {
	text-align: center;
	padding: 10px 20px 20px 20px;
	background: white;
}
h1, h2, h3, h4, h5, h6 {
	color: black;
	font-weight: bold;
}
h1 {
	font-size: 18px;
	font-weight: normal;
	color: #000;
}
h2 {
	font-size: 14px;
	font-weight: normal;
}
h3 {
	font-size: 14px;
}
h5 {
	font-size: 11px;
}
h6 {
	font-size: 12px;
	border: none;
	height: 22px;
	line-height: 22px;
	background: url($$_$$images/bg_h6.gif) no-repeat;
	padding: 0 0 0 15px;
	margin: 0 0 3px 0;
	color: #fff;
	font-weight: normal;
}
span {
	font-size: 14px;
	color: #fff;
	font-weight: normal;
}
ul, li {
	list-style: none;
}
li {
	float: left;
	width: 190px;
}
.clear {
	clear: both;
}
.clearLeft {
	clear: left;
}
.left {
	float: left;
	color: #fff;
}
.right {
	float: right;
	text-align: right;
	color: #fff;
}
#Urlbase {
	height: 20px;
	overflow: hidden;
	display: block;
	text-align: center;
	margin-bottom: 10px;
}
#Urlbase a {
	width: 200px;
	height: 20px;
	background: url($$_$$images/bg_urlbase.gif) no-repeat;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	line-height: 20px;
	display: block;
	margin: 0 auto;
	text-decoration: none;
	text-transform: uppercase;
}
.idtt {
	color: #fff;
	padding: 0;
	width: 200px;
	height: 25px;
	line-height: 25px;
	background: url($$_$$images/bg_idtt.gif) no-repeat;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.cdcExclu {
	color: #fff;
	padding: 0;
	width: 200px;
	height: 25px;
	line-height: 25px;
	background: url($$_$$images/bg_cdc_exclu.gif) no-repeat;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
#PrintAnnonce {
	width: 600px;
	padding: 2px;
	margin: auto;
	text-align: left;
	background: white;
	border: 2px solid #d0cfcf;
}
#PrintAnnonce #BandeauPrint {
	margin: 0 0 2px 0;
}
#PrintAnnonce #Ctn {
	border: none;
	padding: 10px;
}
#PrintAnnonce #Ctn #InfosTop {
	border: none;
	background-color: #efc501;
	padding: 10px 20px;
	margin: 5px 0 10px 0;
}
#PrintAnnonce #Ctn #Photo_Ctn {
	float: left;
	width: 253px;
	background-color: #c0c0c0;
	border: none;
	padding: 5px;
}
#PrintAnnonce #Ctn #Photo_Ctn img {
	width: 253px;
}
#PrintAnnonce #Ctn #Photo_Ctn #MiniPhoto_Ctn {
	padding: 5px 0 0 0;
}
#PrintAnnonce #Ctn #Photo_Ctn #MiniPhoto_Ctn img {
	width: 60px;
	height: 45px;
}
#PrintAnnonce #Ctn #Ctn_Annonce {
	float: right;
	width: 300px;
}
#PrintAnnonce #Ctn #Ctn_Annonce #MajRef {
	background-color: black;
	padding: 8px 5px;
}
#PrintAnnonce #Ctn #Ctn_Annonce #Descriptif {
	text-align: justify;
	padding: 5px 0;
}
#PrintAnnonce #Ctn #InfosComp {
	margin: 5px 0;
}
#PrintAnnonce #Ctn #DetailAgence {
	margin: 5px 0;
	padding: 5px 10px;
	border: none;
	background-color: #c0c0c0;
}
#PrintAnnonce #Ctn #DetailAgence * {
	font-weight: normal;
	color: #000;
	font-size: 12px;
	line-height: 16px;
}
table, td {
	border-collapse: collpase;
	font-size: 11px;
}
input.size1 {
	width: 130px;
	background: url($$_$$images/bg_input.gif) repeat-x #fff;
	border: 1px solid #7e7b7b;
	margin: 1px 0;
	height: 16px;
}
input.size2 {
	width: 450px;
	background: url($$_$$images/bg_input.gif) repeat-x #fff;
	border: 1px solid #7e7b7b;
	margin: 1px 0;
	height: 16px;
}
textarea {
	background: url($$_$$images/bg_input.gif) repeat-x #fff;
	border: 1px solid #7e7b7b;
	margin: 1px 0;
	height: 50px;
	width: 450px;
}
.td1 {
	width: 170px;
	text-align: right;
	padding: 0 5px 0 0;
}
.td2 {
	padding: 0 15px 0 0;
}
#Imprimer {
	background-color: #EFC501;
	border: none;
	padding: 10px;
	text-align: center;
}
#Imprimer input {
	width: 249px;
	height: 40px;
	background: url($$_$$images/bg_print.gif) 0 0 no-repeat;
	padding: 0 0 10px 0;
	font-size: 12px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	text-transform: uppercase;
	margin: 0;
}
