// VAR COLORS
$color-body:#fff;
$color-content:#f3f3f3;
$color-block:#f2f2f2;
$color-primary:#055ea2;
$color-secondary:#009D4F;
$color-action:#3891D5;
$color-important:#66CA00;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#7a7a7a;