body { margin: 0; padding: 0; background: #7d7d7d; text-align:center; }
div,td { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:11px; color: #000; }
img { border:none; display: inline; }
table  { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; }
a { text-decoration: none; color: #db001e; }
a:hover { text-decoration: underline; }
p { margin:10px 0;}
.clear1 { clear: left; }
.clear2 { clear: both; }

/*---------------------------*/
#wrapper { position: relative; width: 920px; text-align: left; margin: 0 auto; background: #fff; }
.coords { position: absolute; top: 60px; left: 144px; font-size: 10px; font-weight: bold; line-height: 10px; }
.coords a { color: #000; }
#top-head { background: url(../images/bg_top.gif) no-repeat; height: 132px; }
.logo { float: left; }
#menu { float: right; width: 557px; height: 46px; background: url(../images/bg_menu.gif) no-repeat; line-height: 46px; text-align: center; margin-top: 84px; margin-right: 10px; _margin-right: 5px; }
#menu a { color: #fff; font-size: 10px; font-weight: bold; }
#menu a:hover { color: #fdff5a; text-decoration: none; }

#main-content { width: 920px; background: url(../images/bg_index.gif) repeat-y; }
#navigue { width: 890px; margin: 0 auto; padding: 25px 0; background: #fff; }

.none { background: #fff; height: 20px; }

#left { float: left; width: 281px; }
#main-left { width: 262px; margin: 0 auto; }
.present { font-size: 10px; font-weight: bold; color: #db001e; padding: 20px 0 10px 0; }
.txt-acc { padding: 15px 0 30px 0; line-height: 12px; }
.txt-acc a { font-weight: bold; text-decoration: underline; }
.txt-acc a:hover { color: #000; }
#cartos { padding: 12px 0 20px 0; width:260px; height:330px; }
.cartos { width: 260px; height: 248px; border-right: 2px solid #404040; border-bottom: 2px solid #404040; }


#center { float: left; width: 356px; }
.cdc { width: 155px; float: left; padding: 0 5px 14px 15px; }
.cdc img { border: 1px solid #6f706b; }
.cdc a { color: #000; font-weight: bold; }
.lib-cdc { padding-top: 5px;  text-align: justify; line-height: 11px; }
.ref { text-align:left;}
#right { float: left; width: 283px; }
#main-right { width: 262px; margin: 0 auto; }
#mot { width: 220px; padding: 15px 0; margin: 0 auto; }
.txt-right { padding: 10px 0; }
.txt-right a { font-weight: bold; text-decoration: underline; }
.txt-right a:hover { color: #000; }

#footer { height: 42px; line-height: 42px; color: #fff; text-align: center; }
#footer a { color: #fff; }
#footer a:hover { color: #db001e; text-decoration: none; }

/*---------------------------------------*/

/*page formulaire*/
.tabFond1 {
    background: none;
}

.tabFond1 td {
    padding: 2px;
}

.tabFond1 table {
    text-align: left;
}

.tabTitre {
    font-size: 11px;
    color: #a80116;
    margin: 0 0 5px 0;
    padding: 0;
    font-weight: bold;
    text-align: center;
    background: #feff5a;
	line-height: 22px;
	border-right: 2px solid #404040;
	border-bottom: 2px solid #404040;
}

.messageNomAgence, .estimationNomAgence {
    font-size: 18px;
    text-align: center;
    color: #a80116;
    margin: 0;
    padding: 5px;
    font-weight: bold;
    display: block;
}

.tabFond1 .Input {
    margin-bottom: 2px;
}

#CguFormulaire {
    background: url(../images/bg_cgu.gif) repeat-x #79020e;
    padding: 5px 10px;
    text-align: left;
    color: #fff;
}

#CguFormulaire a {
    color: #fcff4b;
    text-decoration: underline;
}

#CguFormulaire a:hover {
    color: #fff;
    text-decoration: none;
}
/*guide*/
#MenuGuide {
    text-align: left;
}

#MenuGuide table {
    margin: 0 auto;
}

#MenuGuide a {
    font-weight: bold;
    color: #000;
    text-decoration: none;
    line-height: 20px;
}

#MenuGuide a:hover {
    color: #c5011b;
}

#MenuGuide td {
    text-align: left;
}

#PageDossiers table {
    margin: 0 auto;
    width: 100%;
}

#PageDossiers p {
    margin: 5px 0;
}

#PageDossiers td {
    padding: 2px 5px;
}

.txtTitre3, .grasnews {
    color: #000;
    font-weight: bold;
    font-size: 12px;
    text-align: left;
}

.gras {
    padding: 2px 5px 2px 15px;
    background: url(../images/Puce_Agence.gif) 0 3px no-repeat;
    color: #000;
    font-weight: bold;
}

.gras u {
    text-decoration: none;
}

.encadre {
    border: none;
    padding: 5px;
    background: #fffeca;
    line-height: 14px;
}

.encadre table {
    width: 100%;
}

.encadre .gras {
    padding: 0;
    margin-bottom: 5px;
    border: none;
    background: none;
    color: #000;
    line-height: 12px;
}

.encadre a {
    color: #030e77;
}

.encadre a:hover {
    color: #008593;
}

.table_news strong {
    color: #000;
}

.table_news, .encadre table {
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-bottom: none;
    border-right: none;
    background: #fffeca;
}

.table_news td, .encadre td {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    border-left: none;
    border-top: none;
    background: #fffeca;
    font-size: 10px;
    padding: 5px;
}

.table_news .gras {
    padding: 3px 5px;
    margin: 0;
    background: #ffce89;
    color: #008593;
    line-height: 12px;
}
/**/

	/*page alerte*/
#PageAlert { border-bottom: 1px solid #989191; border-top: 1px solid #989191; padding: 15px 0; }
#PageAlert font { color: #404040; }
#PageAlert td { text-align: left; }
#PageAlert strong { color: #404040; }
#PageAlert a { font-size: 14px; font-weight: bold; color: #000; display: block; margin-left: 50px; padding-left: 20px; background: url(../images/arrow3.gif) no-repeat; width: 400px; line-height: 14px; height: 14px; }
#PageAlert a:hover { width: 400px; line-height: 14px; height: 14px; background-position: 0 -14px; font-size: 14px; color: #c5011b; text-decoration: none; display: block; margin-left: 50px; padding-left: 20px; }

/*autres*/
.ListeVilles { color: #84917a; text-decoration: none; text-align: justify; }
.ListeVilles strong { font-size: 10px; color: #84917a; text-decoration: none; font-weight: normal; }
.ListeVilles a { color: #84917a; text-decoration: none; }

.nous-situer { color: #99c401; font-weight: bold; text-transform: uppercase; font-size: 14px; padding-bottom: 15px; }

#AnnoncesDefilantes { font-size: 10px; color: #875b00; }
#AnnoncesDefilantes a { font-size: 10px; color: #875b00; }
td#ColonneDroite #InfosComp_Ctn h3 span, td#ColonneDroite #TitreForm h5 { color: #fff; }

/*alerte email*/
#AlerteImmo * { color: #000; }
#AlerteImmo{background: none; border: none; min-height: 400px; _height: 400px;}
#AlerteConfirmation  h4 { color: #444444; }
#AlerteConfirmation  h2 { color: #444444; }
#AlerteConfirmation  h5 { color: #444444; }

#AlerteEmail h2 { color: #444444; }
#AlerteEmail h5 { color: #444444; }
#AlerteImmo #AlerteTitre01{background: url(/alerte/alerteimmo_titre_fond01.gif) 0 0 no-repeat;}
#AlerteImmo #AlerteTitre01 h5{ background: url(../images/alerteimmo_titre_fond02.jpg) no-repeat; }
#AlerteImmo #AlerteTitre01 h5 span{color: #fff; font-size: 18px; }

#AlerteImmo #AlerteConfirmation p.confirmation { color:#444444; }

/*recherche*/
#RechPagesHaut .rechLiensPages a,
#RechPagesBas .rechLiensPages a{ border: none; width: 19px; height: 17px !important; overflow: hidden; padding-top: 4px; }
#RechPagesHaut .rechLiensPages a.actif,
#RechPagesBas .rechLiensPages a.actif{ border: none; }
#RechPagesHaut .rechLiensPages a:hover,
#RechPagesBas .rechLiensPages a:hover{border: none; }

*+html #RechHaut #RechHautCtn #RechHautLiens a { width: 45%; text-indent: 30px; padding: 15px 0; margin: 0; }

/*-----------------------------------------------------------------------*/


