// VARIABLES COLORS
$color-body:#333333;
$color-content:#fff;
$color-block:#b0abab;
$color-primary:#b0abab;
$color-secondary:#000;
$color-action:#d6083b;
$color-important:#000;
$color-nav-footer:#000;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#fff;