// VAR COLORS
$color-body:#F2F2F2;
$color-content:#F2F2F2;
$color-block:#EDEBE8;
$color-primary:#666666;
$color-secondary:#fc730e;
$color-action:#fc730e;
$color-important:#666666;
$color-nav-footer:#FFF;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#666666;


// COULEUR PERSO
$color-perso:#b3b3b3;