// VAR COLORS
$color-body:#fff;
$color-content:#fff;
$color-block:#e5e7e7;
$color-primary:#fff;
$color-secondary:#a6b0c5;
$color-action:#0f2056;
$color-important:#07102f;
$color-nav-footer:#888888;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#535353;

// COLOR PERSO
$color-menu:#98a5c0;