// VAR COLORS
$color-body:#fff;
$color-content:#1a1a1a;
$color-block:#eae7de;
$color-primary:#00a1e4;
$color-secondary:#0069a6;
$color-action:#00a1e4;
$color-important:#1ABBFE;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#4c4a44;