.TableDetail{width:700px;margin-left:13px;}
.BoiteAnnonce {border-color:#CC9296;}
.DetailLibelleetPrix{background:#8B1820;
}
.DetailLibelle{color:#FFFFFF;}
.DetailSurface{color:#FFFFFF;}
.DetailPrix{color:#FFFFFF;}
.DetailInfoComplementaire{
	 background:none;
	color:#000000;
	border:1px solid #C58C90;
}
.DetailPhotoGdformat img{border:2px solid #C58C90;}
.DetailImprimer{border-bottom:1px solid #C58C90;}
.DetailInfoTitre{
 background:none;
 color:#4D4844;
 padding: 0;
 margin:5px 5px;
}
.DetailFormulaireForm{margin-left:100px;}
.DetailBack a{color:#8B1820; text-decoration:none;}
.DetailBack a:hover{color:#4D4844; text-decoration:underline;}
.DetailAgence strong{color:#4D4844;}
.DetailSituation{color:#4D4844}
.DetailFraicheurLib{color:#8B1820;}
.DetailRefAnnonce{color:#8E4D52;}
.DetailPhotoPtformat img{ border:1px solid #C58C90;}