
.BoiteAnnonce{width:930px; margin-left:10px; border:1px solid #8B1820; margin-right:10px;}
.fd_recherche_prix{top:140px;}
div.RecherchePrix {color:#FFFFFF; font-weight:bold;}


.RecherchePlusInfo a {color:#973117; text-decoration:underline;}
.RecherchePlusInfo a:hover{color:#8B1820; text-decoration:underline;}
.RecherchePanier a{color:#973117; text-decoration:underline;}
.RecherchePanier a:hover{color:#d17732; text-decoration:underline;}
.RechercheVisuels360 a{color:#973117; text-decoration:underline;}
.RechercheVisuels360 a:hover{color:#d17732; text-decoration:underline;}



.RecherchePrix2 {color:#FFFFFF;}
.RecherchePrixEuro{color:#FFFFFF;}
.RecherchePrixFranc{color:#FFFFFF;}
.ColonnePicto{
	width:210px; margin-left:20px;
	$$IF!:8:FORM:IDTT$$
		width: 40%;
	$$END$$
	$$IF=:8:FORM:IDTT$$
		width: 30%;
	$$END$$

	
	
	}
.Finance {
	display: block;
	padding-top:4px;
	height:25px;
	 background:#C58C90;
	color:#FFFFFF;
	margin-top:18px;
}
.Finance a{color:#FFFFFF; text-decoration:none;}
.Finance a:hover{color:#8B1820; text-decoration:underline;}
.RechercheRefAnnonce{color:#FFFFFF;}
.RechercheHautLien{color:#802C28; text-decoration:none;}
.RecherchePlusInfoLien a{color:#8B1820; text-decoration:none;}
.BoitePubAlerte{width:920px; border:1px solid #C58C90;color:#000000; margin-left:10px;}
.BoitePubAlerte a{color:#8B1820; text-decoration:none;}
.BoitePubAlerte a:hover{color:#C58C90; text-decoration:none;}
.Picto{padding-left:80px;}
.RechercheTelephone{color:#8B1820;margin-left:40px; border:1px solid #C58C90;}
.RechercheDescriptif{color:#000000; margin-left:30px;}
.RechercheDtFraicheurLibelle{color:#C58C90;margin-left:30px;}
.BoitePhraseRecherche{font-size:16px; font-weight:bold; color:#4C4743;margin-top:20px; margin-bottom:5px; text-align:left; padding-left:10px;}
.NbPagesLiens{display:block; text-align:middle; padding-top:25px;}
.NbPagesNb{margin-bottom:-20px; display:block;}
.NbAnnonces{color:#8B1820;height:30px; font-weight:bold; text-align:left;padding-left:10px;}
.Ville4{color:#802C28;}
.DescrTxt{font-size:11px;font-weight:normal;}
.ContenuPopup{font-size:11px; color:#802C28;}
.DescrTitre{color:#728F9E;}
.contenuBoutonLegende{text-align:left; padding-left:10px;}
.RechercheTri{text-align:left; padding-left:10px; margin-bottom:20px;margin-top:10px;}
.RechercheSituation {
	padding-left:20px;

	color:#FFFFFF;
}

.RechercheSituation span {
	color:#FFFFFF;
}
.RechercheSurface{
	display:inline;
}
.Ligne1 {
 	 width: 100%;
	overflow: hidden;
	background:#8B1820; 
	color:#FFFFFF;
 } 

.RechercheLibelle {
	display:inline;
	font-weight: bold;
	padding-left : 20px;
	color: #fff;
	text-transform: uppercase;
}
.RechercheVisuelsPhoto img{
	border:1px solid #C58C90;

}



.ColonnePhoto {
	padding: 0;
	margin: 0;
	float: left;
	text-align: left;
$$IF!:8:FORM:IDTT$$
	width: 20%;
$$END$$
$$IF=:8:FORM:IDTT$$
	width:200px;
$$END$$
}
.ColonnePhotoExclusif {
	padding: 0;
	margin: 0;
	float: left;
	text-align: left;
$$IF!:8:FORM:IDTT$$
	width: 20%;
$$END$$
$$IF=:8:FORM:IDTT$$
	width: 45%;
$$END$$
}
.ColonneDescriptif {
	padding-top: 10px;
	margin: 0;	
	text-align: left;
	float: left;
	color: #5d5c5c;
$$IF!:8:FORM:IDTT$$
	width: 40%;
$$END$$
$$IF=:8:FORM:IDTT$$
	width: 40%;
$$END$$
}

div.ColonnePicto{ width:297px;}
	.ColonnePhoto img{ width:150px; height:100px;}
	div.RechercheBoitePrestige{width:150px;}

