// VAR COLORS
$color-body:#fff;
$color-content:#1a1a1a;
$color-block:#f2f2f2;
$color-primary:#37363B;
$color-secondary:#2e3641;
$color-action:#37363B;
$color-important:#E96330;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#2e3641;