// VAR COLORS
$color-body:#d7d7d7;
$color-content:#d7d7d7;
$color-block:#fff;
$color-primary:#fff;
$color-secondary:#2b7645;
$color-action:#0d3f1c;
$color-important:#339a37;
$color-nav-footer:#000;
// COLOR PUB
$color-pub:"white";
// COLOR FONT BODY DEFAULT
$color-font-body:#000;
// COLOR SOUS MENU
$color-sous-menu:$color-block;