#Outils{padding: 20px 15%;}
#Outils #CalculettesPicto{position: absolute; width: 48px; height: 48px; margin: -7px 0 0 -50px; background: url(/z/webagency/slagence_X_V3/images/calculettes_picto.png) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/z/webagency/slagence_X_V3/images/calculettes_picto.png', sizingMethod='scale');}
#Outils h1{padding: 0; margin: 0;}
#Outils h3{position: relative; background: #aeb5bb; color: #ffffff; padding: 5px 0; margin: 15px 0 0 0; text-align: center; cursor: pointer; text-transform: uppercase;}
#Outils h3 span{position: absolute; display: block; top: 9px; right: 10px; width: 12px; height: 7px; background: url(/z/webagency/slagence_X_V3/images/calculettes_fleche.png) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/z/webagency/slagence_X_V3/images/calculettes_fleche.png', sizingMethod='scale');}
#Outils table{width: 100%;}
#Outils table,
#Outils td{border-collapse: collapse;}
#Outils td{padding: 3px 5px; vertical-align: top; text-align: left;}
#Outils th{padding: 6px 5px 0 0; vertical-align: top; text-align: right; width: 45%;}
#Outils strong{color: #ffffff;}
#Outils label{padding: 0 3px;}
.accordion_content{background: #0c0e1a; padding: 10px; border-bottom: 1px dotted #aeb5bb;}
.accordion_content em{display: block; font-size: 10px; font-style: normal; filter:alpha(opacity=60); -moz-opacity:0.7;	-khtml-opacity: 0.6; opacity: 0.6;}
.accordion_content .inputText,
.accordion_content .inputCalcul,
.accordion_content .inputResult	{font-weight: bold; font-size: 12px; padding: 2px 0; width: 120px; text-align: center;}
/**/
.accordion_content .inputText		{border: #292a31; color: #ffffff; background: #0c0e1a;}
.accordion_content .inputCalcul	{cursor: pointer; color: #fff; background: #aeb5bb; width: 122px; border: none;}
.accordion_content .inputResult	{border: 1px solid #ffffff; color: #ffffff; background: #0c0e1a;}
#Outils .accordion_content {overflow: hidden;}
#Outils .outil1{}
#Outils .outil2{}
#Outils .outil3{}
#Outils .outil4{}
<!-- ID3x v4.60 (1349) - X4 - 00.219.126 - none - 25/09/2015 10:32:53 - styles\outils_calculettes.css -->