// VAR COLORS
$color-body:#fff;
$color-content:#1a1a1a;
$color-block:#f1f1f1;
$color-primary:#636a6f;
$color-secondary:#5f5f62;
$color-action:#1e2983;
$color-important:#1e2983;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#302d31;