.module-homepage-extra {
  height:450px;
  background-color:#fff;
  background-color:rgba(255,255,255,0.8);
}
.module-annonces-homepage-extra {
	cursor:pointer;
	
}
.module-annonces-homepage-extra a {
	text-decoration:none;
}
.bloc-info  {
	@if $arrondi == yes {
		@include border-radius(5px);
	}
}
@media only screen and (max-width: 599px) {
	.img-homepage-extra {
		margin-top:10px;
		height:225px;
	}
	.module-annonces-homepage-extra .h2-like {
		font-size:1em;
	}
}
@media only screen and (max-width: 767px) {
  .module-homepage-extra {
    height:auto;
  }
	.module-annonces-homepage-extra * {
		text-align:center;
	}
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
	.img-homepage-extra {
		height:300px;
		width:400px;
		margin:0 auto;
	}
}