.extra-vendus {
    background-color:$color-block;
    border:1px solid $color-block-dark-20;   
}
.extra-vendus-ligne {
    @include lightnessColor($color-block,no);
    &:hover {
        background-color:$color-block-dark-10;
        @include lightnessColor($color-block-dark-10,no);    
    }
    &.odd {
        background-color:$color-block-dark-5;
        @include lightnessColor($color-block-dark-5,no);
        &:hover {
            background-color:$color-block-dark-15;
            @include lightnessColor($color-block-dark-15,no);    
        }
    }
}