/* CSS Document */
body
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#243966;
	background-color:#ECE6DD;
		
}

td 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#243966;
}

p
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#243966;
	padding-left:5px;
}
	
.h4nobr
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#0A246A;
	font-size:10px;
	font-weight:bold;
	text-align:center;
}

.Promethee
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#0A246A;
	font-size:12px;
	font-style:italic;
	text-align:center;
}

.Imobilier
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#0A246A;
	font-size:12px;
	font-weight:bold;
	text-align:center;
}

a
{
	color:#243966;
	text-decoration:none;
}

a:hover
{
	color:#FFFFFF;
	text-decoration:none;
}
.FondMilieu
{
	background-image:url(../images/Fond-pixel.jpg);
	background-color:#C3D0DA;
	border: 1px solid #000000;
}

.Baniere
{
	background-image:url(../images/baniere.jpg);
}

.TraitPixel
{
	background-image:url(../images/trait-pixel.gif);
}

.Adress
{
	color:#FFFFFF;
	text-align:left;
	vertical-align:bottom;
	padding-left:10px;
	padding-bottom:9px;
}

.Portable
{
	font-size:11px;
	color:#FFE400;			
}

.fnaim
{
	padding-top:5px;
	padding-right:5px;
}	

.Button
{
	background-image:url(../images/button-espace.gif);
}	

#Menu td
{
	background-image:url(../images/buton-menu.gif);
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFFFFF;
	font-weight:bold;
	padding-left:10px;
}	

#Menu a
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFFFFF;
	font-weight:bold;
	padding-left:10px;
}		

#Menu a:hover
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFC000;
	font-weight:bold;
	padding-left:10px;
}		

.PixelPresentationHaut
{
	background-image:url(../images/pixel-haut.gif);
}	

.PixelPresentationBas
{
	background-image:url(../images/pixel-bas.gif);
}		

.PixelPresentationDroite
{
	background-image:url(../images/pixel-droit.gif);
}		

.PixelPresentationGauche
{
	background-image:url(../images/pixel-gauche.gif);
}

.PixelPresentationMilieu
{
	background-image:url(../images/Pixel-milieu-presentation.gif);
	background-repeat:repeat-x;
	background-color:#B4BFD1;
}	

.Presentation
{
	padding-left:5px;
}

.TextAccueil
{
	padding-left:5px;
}

.Economie
{
	font-size:21px;
	font-weight:bold;
	color:#FFFFFF;
}


/* Classe SeLoger */

#seloger
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px; 
	background-image:url(../images/pixel-seloger.gif);
	border:1px solid #2F3555;
	color:#FEE400;
	padding-right:15px;
}
	
#seloger a
{ 
	font-size:10px; 
	color:#FEE400;
	text-decoration:underline;
}
	
#seloger a:hover
{ 
	font-size:10px; 
	color:#FFFFFF;
	text-decoration:underline;
}

/* classe coups de coeur */
td#FondPrix
{
	background-image:url(../images/fond-prix-cdc.jpg);
	background-repeat:repeat-x;
	border:2px solid #FEE400;
}

.PrixExp
{
	font-size:14px;
	font-weight:bold;
	color:#FFFFFF;
}

.Prix
{
	font-size:21px;
	font-weight:bold;
	color:#FFFFFF;
}
	
.Frais
{
	font-size:11px;
	font-weight:bold;
	color:#FFFFFF;
}

.BorderBlan
{
	border:1px solid #FFFFFF;
}

#Cdc
{
	font-size:12px;
	color:#083771;
	margin-left:5px;
}

#Cdc a
{
	font-size:12px;
	color:#083771;
}

#Cdc a:hover
{
	font-size:12px;
	color:#FFFFFF;
}

.Libelle
{
	vertical-align:top;
	text-align:left;
	padding-left:29px;
}

.BorderNoir
{
	border:1px solid #000000;
}

.BorderBas
{
	border-bottom:1px solid #000000;
}

/*TABLEAUX*/
.tabFond1{border-color:#0177F2; border-width:0; border-style:solid; padding:2px; color:#000000;}


.tabFond2{border-color:#0177F2; border-width:1px; border-style:solid; padding:2px; font-size:12px; color:#000000;}


.tabTitre{background-color:#0177F2; color:#ffffff; font-size: 11px; font-weight: bold; }


.tabCouleur{background-color:#0177F2; border-color:#CF0227; border-width:1px; border-style:solid; padding:2px; color: #000000 ;}
	
	




	
	
/* CLASSES MISE EN PAGE GUIDE PRATIQUE */
.txtTitre3 
	{
		font-style: normal;
		font-weight: bold;
		color:##000000;
	}

.gras
	{
		font-style: normal;
		font-weight: bold;
		color: #000000;
	}

.encadre 
	{
		background-color:#7DB5F0;
		border-color:#000000;
		color:#FFFFFF;
		border-width:2px;
		border-style:solid;
		padding:2px;
	}	

