// VARIABLES COLORS
$color-body:#f5e8d0;
$color-content:#f1f1f1;
$color-block:#E0D0B4;
$color-primary:#f5e8d0;
$color-secondary:#8B6E44;
$color-action:#800314;
$color-important:#800314;
$color-nav-footer:#8b6e44;

// COLOR PICTO
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#8b6e44;