// VAR COLORS
$color-body:#f4f4f4;
$color-content:#404041;
$color-block:#fefefe;
$color-primary:#474450;
$color-secondary:#f75555;
$color-action:#f75555;
$color-important:#f75555;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"white";
$color-perso-1:#c5c60f;
$color-perso-2:#4db9d8;
$color-perso-3:#298474;

// COLOR FONT BODY DEFAULT
$color-font-body:#474450;

// COLOR SOUS MENU
$color-sous-menu:$color-block;
$color-blog:#fef9f5;
