@import "color";
// BG SOLO
$bg-uni:no;

// PICTURE BG
$picture-bg:yes;
$picture-bg-url:'../images/degrade_bg.png';
$picture-bg-repeat-horizontal:no;

// SIZE PICTURE AREA : FULLSCREEN OR NOT
$height-container:350;

// VAR SITE TYPO
$font-body:"Source Sans Pro",verdana,sans-serif;
$font-title:"Montserrat",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text:1.4em;
$font-size-title:1.4em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:normal;

// ARRONDI POUR LES EFFETS SUR LI > A:HOVER/FIL ARIANE/BOUTON
$arrondi:no;

// BORDER EFFECT ON NAV
$border-nav:no;

// TYPE MENU : FLAT = COLOR BANNER BEHIND, NO FLAT = SHAPE OR NOT
// LINK TO VAR ID3X >>> MENU_TYPE
$type-menu:flat;

// STYLE NAV : IF YES = SHAPE BEHIND WORD, IF NO SHAPE BEHIND WORD ON HOVER
$shape:no;

// MARGIN UNDER NAV FIXE
$margin-top-under-nav-fixe:0;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS LIB
@import "../../../slagence_X_V5/sources/scss/boutons/lib8";

// IMPORT TEMPLATE LONDRES
@import "../../../slagence_X_V5/sources/scss/templates/londres";

// IMPORT MODULE SOUS MENU LIB1
@import "../../../slagence_X_V5/sources/scss/sous_menu/lib1";

// IMPORT MODULE ANNONCES
@import "../../../slagence_X_V5/sources/scss/modules/annonces9";

@import "../../../slagence_X_V5/sources/scss/multiple-select.scss";

// SPRITE BLANC
@import "../../../slagence_X_V5/sources/scss/sprites/social-blanc";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT CHOSEN
@import "../../../slagence_X_V5/sources/scss/ie";



//------------------------------
// 	GLOBAL 
//------------------------------

/* COULEUR DES HR */
hr, .hr-like {border-color: #cfcfcf;}

/* CORRECTIF TYPEKIT POUR LES FONT BOLD */
.bold {
font-weight:700;
}

/* COULEURS DE TYPO PERSO */
.typo-vert {
color:$color-perso-3;
}
.typo-gestion {
color:$color-perso-1;
}
.typo-syndic {
color:$color-perso-2;
}

.underline {
text-decoration:underline;
}


//------------------------------
// 	MENU & NAV
//------------------------------

/* MENU PRINCIPAL */
.menu-principal {
	margin-top:14px;
	text-align:center;
	> li > a {
	background-color: $color-primary-dark-5;
	background-image: none;
	filter: none;
	margin:0px 10px;
	padding:13px 14px;
	@include border-top-radius(6px);
	}
}

/* HAUTEUR DU BLOC DE NAV SOCIAL + PLACEMENT DU LOGO SUR DESKTOP */
@media only screen and (min-width: 1024px) {
.ligne-social-langue {height:43px;}
header .logo img { margin-left: 313px;}
}


//------------------------------
// 	MOTEUR & MODULE 
//------------------------------
.bouton-rechercher-moteur {
	text-transform: uppercase;
}
.module-homepage hr,
.hr-pub { 
	display: none; 
}

.bloc-moteur-module { 
	background-color: $color-block;
	border-bottom: 7px solid $color-action;
}	

.bloc-moteur-module-location { 
	background-color: #e8e8e8;
	border-bottom: 7px solid $color-action;
}	
.bloc-moteur-module-location .span6 {
 min-height: 380px;
}

.module-homepage h2 { text-transform: none; }

//------------------------------
// 	H1
//------------------------------
.slogan-index {
margin-bottom:60px;
text-shadow:none;
font-size:1.1em;
	>a.btn {font-weight:400; padding:3px 5px;}
		.btn+.btn {
		margin-right:3px;
		}
		.btn-action {
		margin-right:3px;
		}
}

//------------------------------
// 	PUBS
//------------------------------

/* GESTION DE L'AFFICAGE DU CONTENU DE PUB FULL PERSO */
.bg-pub-bottom > .container { width:100%; }

@media only screen and (min-width: 768px) {
.bg-pub-bottom .height-500 { height: 300px; margin-top:-20px;} 
.pub-full-estimation.margin-top-130 { margin-top: 40px; } 
.pub-full-estimation.pagination-right {text-align:center;}
.bg-pub-bottom {
background-color:$color-nav-footer;
background-image:url(../images/degrade_elience.png);
background-repeat:repeat-x;
background-position:0% 0%;
color:$color-font-body;
}
aside.bg-container-100.height-350 {
height:280px; background-color:$color-blog; margin-top:-72px;}
.margin-top-28{ margin-top:28px;}
}

/* PUB FULL */
.titre-pub { font-size: 1.3em; }

/* PICTO DE TRANSITION ENTRE SERVICE ET PUB FULL */
.picto-estim {
	margin-top: -65px;
}

/* MISE EN PAGE DES BLOCS DE SERVICE */
.pubrounded-perso { margin-top: 50px; color:$color-nav-footer; }
.pubrounded-perso img { 
	margin-top: -90px;
	margin-bottom: 10px;
}

.pubrounded-perso .btn {
	position: relative;
	bottom: -15px;
}	
.text-shadow-pub {
	@include text-shadow(6px 6px 6px rgba(0,0,0,0.8));}

.box-shadow-pub {
	@include box-shadow(6px 6px 6px rgba(0,0,0,0.8));}	
	
.font-15 {font-size:1.5em;}

.rounded-160-1, .rounded-160-2 {
    border-radius: 100px;
    box-shadow: 7px 4px 8px 0 rgba(0, 0, 0, 0.4);
    height: 160px;
    overflow: hidden;
    width: 160px;
}

.rounded-160-1 {
border-width:7px;
border-color:$color-perso-1;
border-style:solid;
}

.rounded-160-2 {
border-width:7px;
border-color:$color-perso-2;
border-style:solid;
}

/* BLOC GESTION */
.satisfait-gestion {
background-color:$color-perso-1;
color:$color-primary;
margin-left:40px;
margin-right:40px;
margin-top:-30px;
padding:7px;
font-size:1.1em;
position:relative;
z-index:50;
}

/* BLOC SYNDIC */
.satisfait-syndic {
background-color:$color-perso-2;
color:$color-primary;
margin-left:35px;
margin-right:35px;
margin-top:-30px;
padding:7px;
font-size:1.1em;
position:relative;
z-index:50;
}


/* CONFIG MODULE FULL PERSO HP */
@media only screen and (min-width: 1024px) {
.resize-modules-940 {
width:940px;
margin-right:auto;
margin-left:auto;
background-color:transparent;
}
}

/* GESTION DU PADDING BLOC ANNONCES ET SERVICE TABLETTE */
@media only screen and (max-width: 979px) and (min-width: 768px) {
.resize-modules-940 { padding:0px 10px;}
}
/* GESTION DU PADDING PUB FULL TABLETTE */
@media only screen and (max-width: 979px) and (min-width: 768px) {.bg-pub-bottom > .container {padding:0;}}



//------------------------------
// 	SMARTPHONE
//------------------------------
@media only screen and (max-width : 767px) { header .logo img { width:80%;}}

//------------------------------
// 	PAGE DETAIL
//------------------------------
.zone-galerie {
.bouton-video-imprimer, .bouton-envoyer-ami, .bouton-ajouter-selection-detail, .bouton-calculette {
	&:hover {
	background-color:lighten($color-action,22);
	}
}
}
.detail-bloc-agence {
background-color:$color-primary;
color:$color-nav-footer;
}

//------------------------------
// 	PAGE AGENCES
//------------------------------
h1.phrase-agences, h1.phrase-agences+hr {
display:none;
}

.hide-agence-527169, .hide-agence-463209 {
display:none;
}



//------------------------------
// 	BOUTONS
//------------------------------
// BTN PERSO 1
.btn-perso-1 {
	border:1px solid $color-perso-1;
		background-color:$color-perso-1;
		background-image:none;
		filter:none;
		color:$color-nav-footer;
	// HOVER
	&:hover {
		color:$color-perso-1;
		background-color:$color-nav-footer;
		background-image:none;
		filter:none;
	}
}


// BTN PERSO 2
.btn-perso-2 {
	border:1px solid $color-perso-2;
		background-color:$color-perso-2;
		background-image:none;
		filter:none;
		color:$color-nav-footer;
	// HOVER
	&:hover {
		color:$color-perso-2;
		background-color:$color-nav-footer;
		background-image:none;
		filter:none;
	}
}

// BTN PERSO 3
.btn-perso-3 {
	border:1px solid $color-perso-3;
		background-color:$color-perso-3;
		background-image:none;
		filter:none;
		color:$color-nav-footer;
	// HOVER
	&:hover {
		color:$color-perso-3;
		background-color:$color-nav-footer;
		background-image:none;
		filter:none;
	}
}

// BTN ACTION
.btn-action {
	border:1px solid $color-action;
	background-color:$color-action;
	background-image:none;
	filter:none;
	color:#fff;
	// HOVER
	&:hover {
		color:$color-action;
		background-color:#ffffff;
		background-image:none;
		filter:none;
	}
}

// BTN ESPACE CLIENT
.btn-action-reverse {
	@include border-radius (4px);
	background-color:#ffffff;
	background-image:none;
	filter:none;
	color:$color-action;
	// HOVER
	&:hover {
		color:darken ($color-action,5);
		background-image:none;
		filter:none;
	}
}

// BTN IMPORTANT
.btn-important {
	border:1px solid $color-important;
		background-color:$color-important;
		background-image:none;
		filter:none;
		color:#fff;
	// HOVER
	&:hover {
		color:$color-important;
		background-color:#ffffff;
		background-image:none;
		filter:none;
	}
}

// BTN NEUTRE
.btn-neutre {
		border:1px solid $color-block-dark-30;
		background-color:$color-block-dark-30;
		background-image:none;
		filter:none;
		color:#fff;
	// HOVER
	&:hover {
		color:$color-block-dark-20;
		background-color:#ffffff;
		background-image:none;
		filter:none;
	}
}

// BTN PRIMARY
.btn-primary {
	border:1px solid $color-primary;
		background-color:$color-primary;
		background-image:none;
		filter:none;
		color:#fff;
	// HOVER
	&:hover {
		color:$color-primary;
		background-color:#ffffff;
		background-image:none;
		filter:none;
	}
}




/* BTN GENERAL */
.btn {font-weight:700;}


//------------------------------
// 	PAGE GESTION 
//------------------------------
.side-menu {
font-size:1.3em;
color:$color-nav-footer;
	&:hover {
	color:$color-nav-footer;
	}
}
.padding-bottom-50 {
padding-bottom:50px;
}


div.perso{
background-color:#f75555;
color:#fff;
width: 920px;
padding:2px;

}

a{
color : #000;

}