@import "color";
// BG SOLO
$bg-uni:yes;

// PICTURE BG
$picture-bg:no;
$picture-bg-url:'../images/degrade_bg.png';
$picture-bg-repeat-horizontal:no;

// SIZE PICTURE AREA : FULLSCREEN OR NOT
$height-container:595;

// VARIABLE SITE TYPO
$font-body:"Source Sans Pro",verdana,sans-serif;
$font-title:"Open Sans Condensed",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST > FONT-SIZE-TEXT
$font-size-text:1.5em;
$font-size-title:1.8em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:bold;

// ARRONDI POUR LES EFFETS SUR LI HOVER/FIL ARIANE/BOUTON
$arrondi:yes;

// BORDER EFFECT ON NAV
$border-nav:yes;

// TYPE MENU : FLAT = COLOR BANNER BEHIND, NO FLAT = SHAPE OR NOT
// LINK TO VAR ID3X >>> MENU_TYPE
$type-menu:no-flat;

// STYLE NAV : IF YES = SHAPE BEHIND WORD, IF NO SHAPE BEHIND WORD ON HOVER
$shape:no;

// MARGIN UNDER NAV FIXE
$margin-top-under-nav-fixe:160;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS
@import "../../../slagence_X_V5/sources/scss/boutons/lib6";

// IMPORT TEMPLATE LONDRES
@import "../../../slagence_X_V5/sources/scss/templates/londres";

// IMPORT MODULE ANNONCES2
@import "../../../slagence_X_V5/sources/scss/modules/annonces3";

// IMPORT MODULE PUB LIB3
@import "../../../slagence_X_V5/sources/scss/pubs/lib3";

// SPRITE BLANC
@import "../../../slagence_X_V5/sources/scss/sprites/social-blanc";

// IMPORT MODULE SOUS MENU
@import "../../../slagence_X_V5/sources/scss/sous_menu/lib1";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";

//------------------------------------------------------------------------------------------
// 		PERSO FMI69003
//------------------------------------------------------------------------------------------


//------------------------------------------------------------------------------------------
// 		GENERAL
//------------------------------------------------------------------------------------------

	//------------------------------------------------------------------------------------------
	// 		BG SUPPL
	//------------------------------------------------------------------------------------------

.bg-picture {
	background-image:url('../images/bg-body.jpg');
	background-color:$color-body;
	background-position:center 90px;
	background-attachment:fixed;
}

	//------------------------------------------------------------------------------------------
	// 		MENU & NAV
	//------------------------------------------------------------------------------------------
.logo img {
	margin-top: -35px;
	@media only screen and (max-width : 767px) {
		margin-top: auto !important;
	}
}

.ligne-social-langue  {
	border-bottom:1px solid $color-secondary-dark-10;
}

.navigation {
	box-shadow:none;
	border-bottom: 1px solid $color-secondary;
}

.menu-principal {
    line-height: 70px;
	>li>a {
		padding: 8px 14px;
		&:hover {
			color:$color-secondary;
		}
	}
}

li.menu-estimation  a {
	color:$color-secondary;
}

.moteur-avantage {
    .mini-suggestions {
        margin: 0;
    }
}

.h1-index {
    margin-bottom: 20px;
}


//------------------------------------------------------------------------------------------
// 		INDEX
//------------------------------------------------------------------------------------------

	//------------------------------------------------------------------------------------------
	// 		VISUEL
	//------------------------------------------------------------------------------------------
.size-picture-container {
	box-shadow:none;
	margin-top:55px;
}

	//------------------------------------------------------------------------------------------
	// 		PUB
	//------------------------------------------------------------------------------------------
.hr-pub {
	display:none;
}
	
.zone-pub {
	background:$color-block;
	padding:10px;
}


.color-none { color: $color-font-body; }



//------------------------------------------------------------------------------------------
// 		LISTING PA
//------------------------------------------------------------------------------------------

	//------------------------------------------------------------------------------------------
	// 		VISUEL
	//------------------------------------------------------------------------------------------
	
.recherche-annonces .width-100-pourcent {
    width: auto;
}

.recherche-annonces .span8 {
	text-align:center;
}

.mini-suggestions a {
	color: $color-body;
}
//------------------------------------------------------------------------------------------
	// 		VISUEL
	//------------------------------------------------------------------------------------------