// VAR COLORS
$color-body:#fff;
$color-content:#fff;
$color-block:#d4d4d4;
$color-primary:#fff;
$color-secondary:#000;
$color-action:#e1020c;
$color-important:#e1020c;
$color-nav-footer:#000;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#4c4a44;