@font-face {
    font-family: 'BebasRegular';
    src: url('$$_$$styles/typocss/BebasNeue.eot');
    src: url('$$_$$styles/typocss/BebasNeue.eot?#iefix') format('embedded-opentype'),
         url('$$_$$styles/typocss/BebasNeue.woff') format('woff'),
         url('$$_$$styles/typocss/BebasNeue.ttf') format('truetype'),
         url('$$_$$styles/typocss/BebasNeue.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
		font-family: 'ArialRoundedMTBold';
		src: url('$$_$$styles/typocss/arialroundedmtbold.eot');
		src: url('$$_$$styles/typocss/arialroundedmtbold.eot?#iefix') format('embedded-opentype'),
				 url('$$_$$styles/typocss/arialroundedmtbold.woff') format('woff'),
				 url('$$_$$styles/typocss/arialroundedmtbold.ttf') format('truetype'),
				 url('$$_$$styles/typocss/arialroundedmtbold.svg#arialroundedmtbold') format('svg');
		font-weight: normal;
		font-style: normal;
}

/*------CSS definitive--*/
body { margin: 0; padding:0; background: #480C17; text-align:center;font-family: arial; }
div,td {  font-size:14px; color: #fff; }
img { border:none; display: inline; }
table  { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; }
a { text-decoration: none; color: #d4a511; }
a:hover { color: #fff; text-decoration: none; }
p { margin:10px 0;}
*{margin:0; padding:0 }
ul{list-style-type:none}
.clear1 { clear: left; }
.clear2, .clear { clear: both; }
/*----- decoupage -------*/

#wrapper { width: 960px; margin: 0 auto; text-align:left; position: relative; }
.logo { float: left; width: 170px; }
#bloc-moteur { float:right; width: 630px; padding-top: 55px; position:relative; }

#flash { height: 381px; overflow: hidden; }

#hd-menu { width:960px; position:relative; height: 53px; background: url($$_$$images/skin/bg_menu.gif) no-repeat; margin:0 auto; z-index:600;}
#hd-menu ul { margin:0 auto; padding:0; list-style-type:none; }
#hd-menu .en a { padding: 0 17px; }  
#hd-menu li { float:left; position:relative; height: 53px; background:url($$_$$images/skin/separ.gif) right no-repeat; }
#hd-menu li a { display:block; color:#FFF; font-family: 'ArialRoundedMTBold'; text-decoration:none; font-size: 22px; color:#6f2532; text-align:center; padding: 0 26px; height: 53px; line-height: 53px; }
#hd-menu li a:hover, #hd-menu li.hover a { text-decoration:none; color:#c5a71d; text-align:center; }
#hd-menu li ul { position:absolute; left:0; top:53px; padding:15px 0; display:none; background: #54131f;}
#hd-menu li li { float:none; padding:0 5px; }
#hd-menu li li a, #hd-menu li.hover li a { display:inline; color:#fff; background:none; font-size: 16px; font-weight: bold; line-height: 34px;padding:0; }
#hd-menu li li a:hover, #hd-menu li.hover li a:hover { background:none; color:#cda41e; text-decoration:none; }

#hd-menu li li.mn-level3 { float:left; width:200px; margin:0 5px 5px 5px; padding:0; border-right: 2px solid #292929; }
#hd-menu li li ul { margin:0; padding:0; display:inline;  position:relative; top:auto;}
#hd-menu .mn-level2 li {position:static; background: none; }

#hd-menu li li{display: inline;}
#hd-menu li li a{font-family: arial;display: block; float: left; width: 102px; margin: 0 20px;text-align: left;}
#hd-menu li li a:hover{text-align: left;}

#hd-menu ul li:hover ul{display: block;}
#hd-menu ul li ul li{float: none;}

.img-ss { position:absolute; top: 80px; right: -160px; }
#hd-menu ul li ul .imageBien {position:absolute;top:30px;right:20px;width:180px;height:120px;z-index:1;opacity:1; display:none;}
#hd-menu ul li ul .imageBien img {width:180px;height:120px;}

#content { background:url($$_$$images/skin/bg-content.jpg) repeat-y; width: 960px; }
.bg-pen  { background:url($$_$$images/skin/bg_pen.jpg) top right no-repeat; }

.txt-alert { width: 320px; text-transform:uppercase; color: #6f2532; font-size: 13px; font-family: 'BebasRegular'; padding-left: 85px; padding-top:8px; }
.txt-alert a { color: #000; text-decoration:underline; }
.txt-alert a:hover { color: #6F2532; }

.txt-alert2 { width: 237px; text-transform:uppercase; color: #6f2532; font-size: 13px; font-family: 'BebasRegular'; padding-left: 115px; padding-top: 10px; }
.txt-alert2 a { color: #000; text-decoration:underline; }
.txt-alert2 a:hover { color: #6F2532; }

.bg-visite { background:url($$_$$images/skin/bg_visite.png) no-repeat; width: 335px; height:68px; padding-bottom: 12px; }

.left-content { float:left; width:565px; padding: 15px; }
.txt-acc { font-size: 14px; color: #6f2532; text-align:justify; padding:10px; text-shadow:1px 1px 0 #e9e1c8;}

.right-content { float:right; width:340px; padding: 15px 15px 15px 0; }
.bg-alert { background:url($$_$$images/skin/bg_alerte.png) no-repeat; width:335px; height:68px; padding-bottom: 12px; margin-top:12px;}

.bg-mob { background:url($$_$$images/skin/bg_mob.png) no-repeat; width: 335px; height: 68px; padding-bottom: 12px; }
.txt-mob { padding-top: 23px; padding-left:28px; text-transform:uppercase; color: #6f2532; font-size: 18px; font-family: 'BebasRegular'; text-decoration:underline; }
.txt-mob strong { color: #000; font-size: 18px; font-family: 'BebasRegular'; font-weight: normal; text-decoration:underline; }

#navigue { padding: 25px 0; min-height: 350px; }
#flag { position: absolute; top: 0; right: 0; }

.bg-reso { background:url($$_$$images/skin/bg-reso.png) no-repeat; width:335px; height: 67px; padding-bottom: 12px; position:relative; }
.txt-reso { text-align:center; color: #6f2532; font-size: 18px; font-family: 'BebasRegular'; padding-top:11px; }
.txt-reso strong { text-align:center; color: #000; font-size: 18px; font-family: 'BebasRegular'; font-weight: normal; text-decoration:underline; }

#footer { width: 960px; margin: 0 auto; text-align:left; }
.footer-left { width: 205px; float:left; color: #9a6770; font-size: 11px; }
.footer-left a { color: #9a6770; }
.footer-left a:hover { color: #cca935; }
.ttl-foot, .ttl-foot a { color: #fff; font-weight: bold; }
.ttl-foot a:hover { color: #cca935; }

.footer-center { width: 195px; float: left; color: #fff; font-size: 11px; padding-left: 30px; line-height: 16px; }
.footer-center a { color: #9a6770; text-decoration:underline; display:block; }
.footer-center a:hover { color: #cca935; }
.ttl-foot { color: #fff; font-weight: bold; }

.coordo { text-align:center; padding: 35px 0 15px; color: #fff; font-size: 11px; font-weight: bold; font-family: Tahoma, Geneva, sans-serif; }

.footer-right { float:right; width: 480px; font-size: 11px; }

.link-fb { position:absolute; width: 50px; height: 50px; top: 8px; left: 19px; }
.link-twit { position:absolute; width: 50px; height: 50px; top: 8px; right: 17px; }

#containerMenu { list-style-type: none; }

#flag .menuLangue .txtLi, #flag .menuLangue .menuLangueBg, #flag .menuLangue .menuList, #flag .menuLangue .arrowDown { margin: 0; line-height: 25px; color: #c4a58e; font-size: 10px; list-style-type: none; }
#flag .menuLangue .txtLi{margin: 6px 10px 0 0;}
#flag .menuLangue{margin:0;padding:0;}
#flag .menuLangue .arrowDown{margin-top:5px;}
#flag .menuLangue .menuLangueBg{margin-left: 5px;}

.footer-right .portefeuilleVilles, .footer-right .portefeuilleVilles h3, .footer-right .portefeuilleVilles a { color: #9a6770; font-size: 11px; font-weight: normal; text-align:justify; }
.footer-right .portefeuilleVilles a:hover { color: #fff; }

.ttl-nav { color: #b30000; font-family: Georgia, "Times New Roman", Times, serif; font-style: italic; font-size: 16px; }

.ttl_page{font-size: 18px; color:#d4a511;}
.firstLien {color:#d4a511;}
/* RETOUR HAUT */
.retourHaut {float:right;margin:5px 0 0 0;padding:0;font-size:11px;font-weight:bold;}
.retourHaut a {color:#d4a511;text-decoration:none;}
/*FOOTER REFERENCEMENT*/
.leftreffooter{float:left;}
.conteneurfoot{margin:auto;width:960px;}
.contentblocklink{float:right;margin-bottom:10px;}
.blockcol{float:left;margin-left:30px;text-align:left;}
.footerlink h4{color:#fff; font-weight:normal;margin:0;padding:0;margin-top:10px;font-size:1.2em;}
.footerlink{float:none;}
.footerlink a{display:block;font-size:0.8em;color:#ccc;}

#Plan_Ctn a { color: #fff; border-bottom: 1px dotted #fff; line-height: 20px; }
#Plan_Ctn a:hover { color: #cba509; }

.left-services { float:left; width: 470px; }
.left-services div , .right-services div{ background: #fff; border-radius: 6px; background: #fff; padding: 10px; margin-bottom: 15px; color: #000; }
.ctc-service { font-size: 16px; color: #b30000; }
.right-services { float: right; width: 470px; }

#Plan_Ctn ul { padding-left: 35px; }

#DOMWindow { background: #6f2532!important; }
#twtr-widget-1 .twtr-doc, #twtr-widget-1 .twtr-hd a, #twtr-widget-1 h3, #twtr-widget-1 h4 { background: #cca618!important; }

#homesta h1 { font-size:18px; display:block; width:100%; text-align:center;}
#homesta h2 { font-size:16px; }