/* CSS POUR OUTILS */
/* CALCULATRICE */
#Outils{padding:0;margin:0;}
#CalculettesPicto {float:left;width:48px;height:48px;margin:0;background:url('/z/webagency/slagence_X_V4/images/calculettes_picto.png') 0 0 no-repeat !important;}
h1 {padding:10px 0 0 0;margin:5px 0 0 0;}
#Outils h1 {padding:0;margin:0;}
#Outils h3{font-size:12px;position: relative; background:#d46628;color:#fff;padding: 5px 0; margin: 15px 0 0 0;text-align: center; cursor: pointer; text-transform: uppercase;}
#Outils h3 span{position: absolute; display: block; top: 16px; right: 10px; width: 12px; height: 7px; background: url('/z/webagency/slagence_X_V4/images/calculettes_fleche.png') 0 0 no-repeat !important;}
#Outils table{width: 100%;}
#Outils table,
#Outils td{border-collapse: collapse;}
#Outils td{padding: 3px 5px; vertical-align: top; text-align: left;}
#Outils th{padding: 6px 5px 0 0; vertical-align: top; text-align: right; width: 45%;  }
#Outils strong{color:#d46628;}
#Outils label{padding: 0 3px;  }
.accordion_content{padding: 10px; border-bottom:1px solid #ccc;}
.accordion_content em{display: block; font-size: 10px;  font-style: normal; filter:alpha(opacity=60); -moz-opacity:0.7;	-khtml-opacity: 0.6; opacity: 0.6;}
.accordion_content .inputText,
.accordion_content .inputCalcul,
.accordion_content .inputResult	{font-weight: bold; font-size: 12px; padding: 2px 0; width: 120px; text-align: center;}
.accordion_content .inputText, .accordion_content .inputResult {color:#000000;background:#d3d3d3;}
.accordion_content .inputResult {border:1px solid #d46628;}
.accordion_content .inputCalcul	{cursor:pointer;color:#fff;background:#d46628;width:122px;border:none;}
#Outils .accordion_content {overflow: hidden;}