// VAR COLORS
$color-body:#ffffff;
$color-content:#ffffff;
$color-block:#fafafc;
$color-primary:#fff;
$color-secondary:#2a2d7c;
$color-action:#2a2d7c;
$color-important:#fff500;
$color-nav-footer:#2a2d7c;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#1a1c4d;

// ICONE COUP DE COEUR
$color-icone-cdc:#2a2d7c;

// COLOR ORANGE
$color-orange:#ff0000;
