/* CSS Document */
/* Redefinitions des balises HTML */ 
	*{margin:0;padding:0;font-size:12px;font-family:Verdana, Helvetica, sans-serif;color:#000;}
	img{border:0}
	.clear{clear:both;}
	a{text-decoration:underline;outline:none;color:#881B84;}
	a:hover{color:#C892C4;text-decoration:none;}
	hr{display:none;}
	select option{padding:0;}
	table{ margin:0 auto; padding:0;}
	table tr td,
	table tr td p
	#milieu table tbody tr td{ padding:5px 0px; text-align:justify; text-align:left;}
	* html input.alerte{ background:#d5d6d7;}
	/* --------Modification AR PLAN SITE-------- */    
	body{background:url(../images/pixelPrincipal.jpg) repeat-x #E4E4E4 ;margin-top:-3px;}
	/* Effet bordure (espace 5px) entre BG menu et bande BG site */ 
	#header{width:993px; margin:0 auto 7px auto;position:relative;}
	#GlobHeader{width:100%; background:#fff;}
	#global{position:relative;width:993px; margin:0 auto;padding:0 0 1px 0;}
    

/* ----------------------------------------PAGE ACCUEIL---------------------------------------- */	   
   
/* --------LOGO AGENCE-------- */ 
	#LogoAgence { float:left; display:inline; width:301px; padding:0 0 46px 0;margin:12px 0 0 0;}
	#LogoAgence img{ display:block; margin:0 auto;}


/* --------DRAPEAUX LANGUES FRANCAIS ET ANGLAIS-------- */ 		
/* Mettre en DISPLAY:NONE si pas d'option Anglais */ 
	#Drapeaux {position:absolute; top:112px; left:7px;}
	#Drapeaux img {margin-right:8px; display:inline;}

/* --------TEXTE ACCUEIL--------*/ 
	#textAccueil { position:relative; float:right; display:inline; width:563px; padding:10px 0 18px 9px; display:block; right:5px;font-family:Arial;}
/* Modification TITRE texte d'accueil */ 
	#textAccueil h1{ font-size:18px; font-weight:bold;color:#861A84; padding:0 0 4px 0;}
/* Modification CORPS texte d'accueil */ 
	#textAccueil p{ text-align:justify; font-size:12px;  color:#000; line-height:16px; display:block;}
	#textAccueil p strong{ color:#861A84;}
	#textAccueil a{ text-decoration:none; color:#861A84; display:block; text-align:right;}
	#textAccueil a:hover{ text-decoration:underline; color:861A84;}

/* LOGOS: FNAIM & SIA */
	#Partners{ display:none; position:absolute; top:0px; right:0px; width:62px; float:left; text-align:center;}
	#Partners span img{text-align:center; padding:2px 0;}

/* --------MARQUEE DEFILANTE-------- */
/* Modification COULEUR  MARQUEE */ 	
	#RefMarqueNavig{height:31px; float:right; display:inline;color:#fff; font-size:10px;width:563px;background:#000000;margin:0 4px 0 47px;}
	#RefMarqueNavig *{color:#fff;}
	#RefMarque{ width:565px; height:31px; float:right; display:inline;color:#fff; font-size:10px;width:550px;background-color:#d5d6d7;margin:0 -1px 0 0; padding:0 4px 0 0;}
	#RefMarqueNavig marquee{width:552px;margin:0;padding:0; color:#fff; padding:8px 2px 8px 4px;}
	#RefMarque marquee a {color:#fff;}
	#RefMarque marquee a strong {color:#fff;}
	#RefMarque marquee a:hover {color:#AAAAAB;}
	#RefMarqueNavig2{background:none;}

/* ----- Moteur -----*/
	h2.TitrePage,.titreInfosLegales{ color:#861A83; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}

/* --------MENU + FLUX RSS-------- */
    /* BG site : Bandes à gauche et à droite du menu */
		#remplissageMenu{ width:100%; background:#D5D6D7; min-height:44px; margin:1px 0 0 0;}		
/* Modification COULEUR + TAILLE fond MENU */
		#menuFlux{ position:relative; width:984px; background:url(../images/pixelMenu.gif) 0 0 repeat-x;; height:44px; border-left:5px solid #fff; border-right:5px solid #fff; border-bottom:1px solid #fff; margin:0 auto;}
		#menuFlux p.beluOmbre{ position:absolute; top:0; left:-12px;}
		#menu {float:right; display:inline; width:905px;}
		*html #menu {width:910px;}
		#menu ul{ height:35px;}
		#menu li{ height:34px; line-height:34px; list-style:none; float:left; padding:5px 0px;}
		#menu li.sep{ padding:0;}
		#menu li.sep img{ display:block;}
/* Modification COULEUR TEXTE MENU */ 
		#menu a{font-size:12px; color:#000; padding:10px 10px;margin-right:2px; display:inline; text-decoration:none; font-weight:bold;}
		#menu a:hover{color:#B338CD; background:#000;}		
/* Modification COULEUR SEPARATIONS ONGLETS MENU */ 
		#menu ul li.MenuSep{ color:#000; font-weight:normal; text-shadow:#CC0000; display:none;}

/* Modification FLUX RSS */ 		
		#fluxRss{float:left; display:inline; padding:15px 0 5px 10px; }
		#fluxRss a{font-size:10px; text-decoration:underline; color:#d5d6d7 ; margin:0px; padding:0px;}
		#fluxRss a:hover{ font-size:10px; text-decoration:none;color:#a5a6a6;}
		#fluxRss img{float:left; display:inline; vertical-align:middle;}


/* --------CONTENU SITE = ZONE DU MILIEU-------- */
/* Modification COULEUR ARRIERE PLAN CONTENU SITE */ 	
	#milieu{ overflow:hidden; width:984px;padding:24px 0 3px 0px; min-height:250px;background:#FFF ; border-left:4px solid #FFF ; border-right:5px solid #FFF ;margin:0 auto; position:relative; z-index:1;}
	
/* Positionnement bandeau image */ 
	#blocGauche{float:left; width:715px; }		
	#blocdroite{float:left; width:203px;padding:0 0 0 50px;background:url(../images/fontTitreMoteur.gif) 0 -5px no-repeat;}		
	#visuel{padding:0 0 10px 0;}		
	
/* Modification COULEUR BORDURE IMAGE */ 		
	#visuel img{border:7px solid #000;}
/* ----------- 3 COUPS DE COEUR ------------- */ 
	#coupCoeur{padding:0 0 15px 0; }

/*--------POSITIONNEMENT MINI MOTEUR-------- */ 
	.miniMoteur{position:relative;}		
/* Modification TITRE RECHERCHE */ 		
	.miniMoteur h2{font-size:18px; font-weight:bold; color:#861A84;padding:0 0 0 0;}
/* A NOTER !!!! Pour styliser les champs + bouton mini moteur VOIR == MINI_MOTEUR.CSS */ 


/* ----------- LISTE TRANSACTIONS AGENCE ------------- */ 
	 .nbrTransaction{float:right;width:209px;  position:relative; left:5px;}
/* Modification COULEUR "AUJOURD'HUI" */ 	
	 .nbrTransaction h3{font-size:13px;font-weight:bold;padding:1px 0;color:#000;}
/* Modification COULEUR TYPE TRANSACTION */ 	
	 .nbrTransaction h4{width:167px;font-weight:bold;font-size:13px;padding:10px 0 0 0;}
	 .nbrTransaction h4 a{width:167px;font-weight:bold;font-size:13px;color:#861A84;padding:10px 0 0 0;}
	 .nbrTransaction h4 a:hover{color:#C892C4;}
	 .nbrTransaction ul{list-style-type:none;margin:0 0 10px 3px; line-height:16px;}
/* Modification COULEUR TYPE DE BIEN */ 
	 .nbrTransaction ul *{font-size:11px;color:#861A84;}
	 .nbrTransaction ul a:hover{text-decoration:none;color:#C892C4;}


	
/* -----------INCLUDE BAS------------- */ 

/* Modification COULEUR BANDE COORDONNEES */ 
	.CoordonneesAgence {font-size:12px; background:url(../images/pixelMenu.gif) repeat-x; height:27px; text-align:center; padding-top:13px; color:#000 ; font-weight:bold;}	
/* Modification BG footer portefeuille + menu secondaire */
	.footerPosition{background:#000 url(../images/backgroundFooterBas.jpg) 0 40px no-repeat; position:relative;width:985px; border-left:4px solid #FFF; border-right:4px solid #FFF; padding-bottom:15px; margin:0 auto;}
	* html .footerPosition{width:986px; border-left:5px solid #fff; border-right:3px solid #fff; padding-bottom:15px; margin:0 auto;}
	.porteFeuille{float:left;width:490px;padding-left:8px; }
	* html .porteFeuille{float:left;width:600px;padding-left:8px;}
/* ARRIERE PLAN FOOTER */
	#footer{margin:0 auto; padding:0 0 0 1px;}
	#cnxtag{display:none;}	
		
/* Modification couleur 2 TITRES FOOTER */ 
	#footer h4{font-size:11px;font-weight:bold;background:url(../images/puce.gif) 3px 3px no-repeat;padding:4px 0 1px 30px;margin:17px 0 0 0;line-height:19px;}
/* titre gauche : Notre portefeuille immobilier */
	#footer .porteFeuille h4{font-size:12px; color:#871C84;}
/* titre droite : www.urldusite.com */
	#footer .menuSecondaire h4{font-size:12px; color:#871C84 ;padding-left:32px;width:335px;}
	#footer .menuSecondaire a{}
	#footer .menuSecondaire a:hover{ text-decoration:underline;color:#C892C4;}		
/* Modification couleur LISTE DES VILLES */ 
	.porteFeuille .ListeVilles a:hover *{color:#C892C4;}
	.porteFeuille .ListeVilles{width:460px;text-align:justify;line-height:13px;border:0;color:#fff ; padding:4px 0 0 5px;}
	.ListeVilles *{color:#fff ; font-size:11px;font-weight:normal;}
	.ListeVilles a{color:#fff ;text-decoration:none;}
	.ListeVilles a:hover{color:#C892C4;text-decoration:underline;}
   
/* Modification couleur MENU SECONDAIRE FOOTER (droite) */
	.menuSecondaire{float:left;width:335px;font-size:12px;color:#fff;padding:0 0 0 10px;}
	.menuSecondaire *{font-size:11px;}
	* html .menuSecondaire{width:325px;padding:0;}
	.menuSecondaire p{padding:3px 0 0 5px; color:#fff ; text-align:justify;}
	.menuSecondaire p a{font-size:11px;color:#fff ;text-decoration:none;}
	.menuSecondaire p a:hover{font-size:11px;color:#C892C4 ;text-decoration:underline;}
	span.sepSep{ color:#fff ;}



/* ----------------------------------------AUTRES PAGES DU SITE---------------------------------------- */

/* Page En Construction */
	#EnConstruction{margin-top:70px; text-align:center;}


/* PAGE PLAN DU SITE = incl_plan-site.htm */  
	.ul#Plan *{text-decoration: none; font-weight: bold;}
	ul#Plan{padding: 0 8em; width:400px; margin:0 auto;position:relative;top:-25px;}
	ul#Plan li.plan{ color:#861A83; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;border-bottom:none;}
	ul#Plan li.MenuSep{display:none;}
	ul#Plan li{padding: 0.2em 0; border:none;}
	ul#Plan .plan{padding: 0.2em 0;background:none;}
	ul#Plan li a{ background:none;color:#000;padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #000; text-transform:uppercase;}
	ul#Plan li a:hover{color:#C791C2 ;padding-left:10px; height:19px;font-size: 12px; background:#000 ;border:1px solid #000;}


/* Outils */
	ul#Outils *{text-decoration: none; font-weight: bold;}
	ul#Outils{padding: 2em 8em; width:400px; margin:0 auto;}
	ul#Outils li.list{padding: 0.2em 0px;background:none; margin:2px 0; border:none;}
	ul#Outils li a{color:#000;padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #000 ; text-transform:uppercase;}
	ul#Outils li a:hover{color:#C791C3 ;padding-left:10px; height:19px;font-size: 12px;background:#000;border: 1px solid #000;}
	#Outils li.titrePageOutils{ color:#861A83; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}
	#Outils a{color:#861A83 ;}
	#Outils a:hover{color:#C791C3;}

/*PAGES ESTIMATION + CONTACT + MESSAGE == TABLEAUX FORMULAIRES*/
	.tabFond1{border-color:#00AA00; border-width:0; border-style:solid; padding:2px; font-family:Arial, Helvetica, sans-serif; width:100%;}
	 textarea {width:600px; height: 100px;border:1px solid #000;margin: 0 0 0 3px; background:#EDEDED;}
	.tabFond2{border-color:#000; border-width:1px; border-style:solid; padding:2px; font-size:14px; font-family:Arial, Helvetica, sans-serif;}
    .tabTitre{background:#262626; color:#FFF; font-size: 11px; font-weight: bold;padding:3px; font-family:Arial, Helvetica, sans-serif;}
	.tabTitre *{color:#FFF ; font-size: 14px;}
	.tabPrint{color:#5C5E5D; font-size: 13px; font-family:Arial, Helvetica, sans-serif; border:1px solid #000;}
	.tabFond1 td input{margin:3px;border:1px solid #000; background:#EDEDED;}
	.tabFond1 td input.BoutonFormRecherche{float:right;width:120px;height:25px;border:none;}
	select.imputForm{border:1px solid #000 ;margin:0 0 0 3px; background:#EDEDED;}
	input.boutonEnvoi{float:right;width:215px;height:25px;}
	input.imputForm{border:1px solid #000;background:#EDEDED;}
	.tabFond1 table{ width:100%;}
	strong.messageNomAgence,
	strong.estimationNomAgence{ color:#841881; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase; display:block;}
	
/*Résolution Bug IE8 = donner une taille aux bouton pour éviter tout décallage*/
	.tabFond1 .boutonEnvoi {float:right;border:1px solid #d5d6d7;width:215px;height:25px; margin-right:-1px;}
	.tabFond1 .BoutonFormContact {float:right;border:0;width:215px;height:25px;margin-right:-1px;}
	.MoteurBouton input {float:right;width:215px;height:26px;}
	td #ChampsBouton input {float:right;margin-right:12px;width:120px;height:25px;}
	#AgenceContact form table#FormContact td#ChampsBouton input{width:215px;height:25px;}
	div.MoteurProximite span.Cp i a{color:#000;}
	
/*montion legal*/
     #MentionsLegales p.notaBene a.demandeInfos{color:#881B84;}
     #MentionsLegales p.notaBene a.demandeInfos:hover{color:#C892C4;}
/* coup de coeur*/
	* html .div-cdc{ height:260px;}
	.div-cdc{width:232px; min-height:260px;float:left; background:#000; margin:0 4px 0 0; border:1px solid #fff;}
	.div-cdc *{ color:#fff;}
	.div-cdc .photo-cdc img{width:220px;height:139px;background:url(../images/sans_photo_cdc.jpg);padding:5px 2px 3px 5px;}
	.div-cdc a span.ville-cdc{font-weight:bold;display:block; color:#861A83; }
	.div-cdc a span.ville-cdc a:hover{color:#C690C3;}
	.div-cdc .contenu-cdc a *{color:#861A83;font-weight:bold; text-transform:capitalize;}
	.div-cdc .contenu-cdc a:hover *{color:#C690C3;text-decoration:underline;}
	.div-cdc .typebien-cdc{}
	.div-cdc .contenu-cdc{padding:0 6px 4px 6px; color:#d5d6d7;}
	.div-cdc .contenu-cdc *{color:#fff;}
	.div-cdc .contenu-cdc a{ text-decoration:none;}
	.div-cdc .contenu-cdc a:hover{color:#C690C3; text-decoration:underline;}
	.div-cdc .descriptif-cdc{min-height:30px;color:#fff;}
	.surface-cdc{color:#fff;}
	* html .divc2c .descriptif-cdc{height:30px;}
	.div-cdc p.prix-cdc{font-weight:bold;font-size:14px; color:#861A83;}
 
 
/* Mentions Legales */
	#MentionsLegales{}
	#MentionsLegales h2 {display:block; width: 99%;background:#262626; font-size: 14px; color:#fff;font-weight: bold;letter-spacing: 0;padding:3px 0 3px 8px;margin: 10px 0;text-align: left;text-transform: none;font-family: Arial; text-transform: none;}
/*Recherche*/
    #RechHaut #RechHautCtn h2, #RechHaut #RechHautCtn h2 span#NbAnnSelection,
	#RechHaut #RechHautCtn h2 span,
	#RechHaut #RechHautCtn h1,
	#RechHaut #RechHautCtn h1 span,
	#RechercheContainer #AlerteEmail #AlerteEmailCtn h4{color:#861A83;}
	#RechercheContainer #AlerteEmail #AlerteForm input.alerte{border:1px solid #000 ;color:#000; background:#EDEDED;}
	#RechercheContainer .dicoImmo a{color:#841581;}
	#RechercheContainer .dicoImmo a:hover{color:#C892C4;}
	#RechHaut #RechHautCtn #RechHautLiens a:hover{color:#C892C4;}
	#RechResultat .blocAnnonce .detailAnn .ajoutSelection a:hover,
	#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .contactAnn a:hover,
	#RechercheContainer .RetourHaut a:hover,
	#RechResultat .blocAnnonce .detailAnn a.lienDetail:hover{color:#C791C2;}
	#RechHaut #CalculetteFinanciere a{color:#861A83;}
	#RechHaut #CalculetteFinanciere a:hover{color:#C892C4;}
	#RechercheContainer a:hover{color:#C791C2;}
	#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .metro_Ctn .metro{color:#000;}
	#RechHaut #RechHautCtn #RechHautLiens a.rss:hover{color:#C791C2;}
	#RechHaut #RechHautCtn #RechHautLiens a.rss{color:#f66301;}
	#RechercheContainer #AlerteEmail #AlerteForm input.alerteBt{background:#000;}
	#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .prix,
	#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .ville,
	#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .libelle,
	#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .prix sup{color:#861A83;}
	#RechPagesHaut .rechLiensPages a span, #RechPagesBas .rechLiensPages a span{color:#000;}
/*detail*/
	#DetailAnnonce #LiensRetour a{color:#871C84;}
	#DetailAnnonce #LiensRetour a:hover{color:#C892C4;}
	#DetailAnnonce #Titre td#TypeTransaction,
	#DetailAnnonce #Titre td#Ref_Ctn{background:#000;}
	#AgenceContact td.detail_form_col2 {background:#fff;}
	#AgenceContact #CguFormulaire a,#DetailAnnonce .RetourHaut a,#RechHaut #RechHautCtn #RechHautLiens a{color:#871C84; text-decoration:underline;}
	#AgenceContact #CguFormulaire a:hover,#DetailAnnonce .RetourHaut a:hover{color:#C892C4;}
	#AgenceContact .coords_agence p.adresseAgence ,#AgenceContact .coords_agence p.faxAgence{color:#000;}
	#AgenceContact form table#FormContact td#ChampsNom input, #AgenceContact form table#FormContact td#ChampsPrenom input, #AgenceContact form table#FormContact td#ChampsTelephone input,
	#AgenceContact form table#FormContact td#ChampsEmail input,#AgenceContact form table#FormContact td#ChampsMessage textarea,#Annonce_Ctn table#InfosPrix td.infosVille .metro_Ctn em{color:#000;border:1px solid #000;}
	


