body { margin: 0; padding:0; background: #2b2b2b; text-align:center; color: #fff; font-family: Arial, Helvetica, sans-serif; }
div,td { font-size:12px; }
img { border:none; display: inline; }
table  { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; }
a { text-decoration: none; color: #ee7f01; }
a:hover { color: #979899; text-decoration: none; }
p { margin:10px 0; }

.clear1 { clear: left; }
.clear2, .clear { clear: both; }
.fleft { float: left; }
.fright { float: right; }
.strong {font-weight: bold;}

/*----------------------------------------------------*/

#wrapper { width: 100%; background:url($$_$$images/skin/bg_body.jpg) repeat-x #7c7c7e; }

#main { position: relative; width: 960px; text-align: left; margin: 0 auto; }

#barreMenu { width: 100%; left:0; top:0; z-index:999;}
.limit-head { height: 170px; overflow: auto;width: 960px; margin:0 auto;}

.bloc-head { height: 60px; overflow: hidden; }
.langues, .langues a { color: #b5b7b8; padding-top: 35px; }

.bloc-reseau { padding-top: 24px; }
.bloc-reseau .pictos { display: inline-block; background: url($$_$$images/skin/pictos.png) no-repeat; overflow: hidden; width: 29px; height: 24px; overflow: hidden; }

.bloc-reseau .pic-acc { background-position: 0 0; }
.bloc-reseau .pic-acc:hover { background-position: 0 -24px; }
.bloc-reseau .pic-panier { background-position: -34px 0; }
.bloc-reseau .pic-panier:hover { background-position: -34px -24px; }
.bloc-reseau .pic-rss { background-position: -62px 0; }
.bloc-reseau .pic-rss:hover { background-position: -62px -24px; }
.bloc-reseau .pic-ctc { background-position: -96px 0; }
.bloc-reseau .pic-ctc:hover { background-position: -96px -24px; }
.bloc-reseau .pic-fb { background-position: -140px 0; }
.bloc-reseau .pic-fb:hover { background-position: -140px -24px; }
.bloc-reseau .pic-tw { background-position: -170px 0; }
.bloc-reseau .pic-tw:hover { background-position: -170px -24px; }


.minilogo { position:absolute; top: 20px; left: 75px; }

.bloc-logo { height: 110px;width: 960px; margin:0 auto; overflow: hidden; position:relative; }


.menu { width: 550px; background: url($$_$$images/skin/bg_menu.png) repeat-x; padding-top: 5px; }
.menu ul { margin: 0; padding: 0; }
.menu li { float: left; list-style-type: none; }
.menu li+li {margin-left:102px;}
.menu li strong { font-size: 20px; text-shadow: 1px 1px 1px #000; font-family: Georgia, "Times New Roman", Times, serif; font-weight: normal; }
.menu a { display: block; text-shadow: 1px 1px 1px #000; }

#main-content { width: 960px; }

#navigue { width: 960px; background: #2a2a2a; }
#main-navigue { width: 930px; margin: 0 auto; padding: 15px 0; min-height: 600px; }

.fond-deco { background: url($$_$$images/skin/bg_txt.png) no-repeat; width: 310px; height: 400px; position:absolute; top:0; left:0; }

.ttl-accueil { font-size: 12px; color: #ee7f01; font-family: Georgia, "Times New Roman", Times, serif; margin-top:0;}
.ttl-accueil strong { font-size: 20px; color: #fff; }
.espace-txt { padding: 15px; color: #fff; width: 215px; font-size:11px; }
.espace-txt a { color: #fff; text-decoration:underline; }
#bloc-flash { padding-top: 11px; }

#flash { width: 660px; height: 400px; overflow: hidden; position: relative; }
.bg-txt { position: absolute; top: 0; left: 0; background: url($$_$$images/skin/bg_txt.png) no-repeat; height: 400px; width: 310px; }
.txt-index { width: 212px; padding: 0 0 0 13px; text-align: justify; }
.ttl-index { font-family: Georgia, "Times New Roman", Times, serif; color: #e4af0d; font-weight: bold; font-size: 16px; }
.ttl-index strong { display: block; color: #fff; font-size: 20px; }

#exclu, #new, #bloc-cdc-produit { height: 243px; overflow: hidden; }
#menu-new {margin-left:30px;}
#menu-exclu {margin-left:-15px;}
#main-mot { background:#2a2a2a; width: 290px; height: 408px; margin:0; padding:0;}
#bloc-mot { width: 267px; margin: 0 auto; padding-top: 10px; }
.btn a { color: #fff; }
.bloc-cdc { width: 660px; background: url($$_$$images/skin/bg-cdc.gif) repeat-x #2a2a2a; height: 274px; }
.ttl-cdc { font-size: 12px; float:left; padding: 5px 0 0 45px; font-family: Georgia, "Times New Roman", Times, serif; }
.btn ul { margin: 0; padding: 0; }
.btn li { list-style-type: none; float: left; padding-left: 45px; }
.content-titre { padding-left: 15px; padding-top: 5px; }

.bloc-appli { width: 290px; }
.bg-appli { background: url($$_$$images/skin/bg_appli.gif) repeat-x; height: 126px; margin-bottom: 8px; width: 290px; position: relative; }
.main-appli { width: 260px; margin: 0 auto; }
.main-appi img { float: left; }
.txt-appli { width: 133px; font-size: 10px; color: #fff; text-align: justify; font-weight: normal; }
.txt-appli strong { font-family: Georgia, "Times New Roman", Times, serif; font-weight: normal; font-size: 18px; display: block; color: #ee7f01; padding: 10px 0; }

.txt-appli span { color: #fff; font-weight: normal; }

.link-appli { position: absolute; top: 85px; left: 100px; }

.bg-agc { background: url($$_$$images/skin/bg_agc.gif) repeat-x; height: 126px; }
.bg-agc a { cursor: pointer; }
.main-agc { position: relative; width: 270px; margin: 0 auto; }
.txt-agc { width: 127px; font-size: 12px; color: #fff; font-family: Georgia, "Times New Roman", Times, serif; padding-left: 10px; }
.txt-agc strong { font-family: Georgia, "Times New Roman", Times, serif; font-weight: normal; font-size: 18px; display: block; color: #7eff00; padding: 10px 0; }
.txt-agc span { font-weight: normal; color: #fff; }
.txt-agc a { text-decoration: underline; }
.img-agc { padding-top: 9px; }
.img-agc img { padding-left: 20px; }

.link-agc { position: absolute; top: 80px; left: 112px; }

#wrapper-foot { background: #292929; }
#main-foot { width: 960px; padding: 15px 0; margin: 0 auto; text-align:left; }
.left-foot { width: 280px; color: #97999a; font-size: 11px; padding-right:20px;}
.left-foot h6 { display: none; }
.left-foot h4 a { display:block; border-bottom: 1px solid #97999A; }
.left-foot ul { margin: 0; padding: 0; list-style-type: none; }
.center-foot { width: 300px; }
.right-foot { width: 300px; text-align:right; padding-left: 40px; }
.ttl-foot, .ttl-foot a { color: #97999a; font-size: 14px!important; }
.ttl-border { border-bottom: 1px solid #97999a; padding-bottom: 14px; }

.left-foot a, .center-foot a, .right-foot a { color: #97999a; font-size: 12px; }
.link-foot-canter { line-height: 20px; }

.langues a:hover, .left-foot a:hover, .center-foot a:hover, .right-foot a:hover { color: #ee7f01; }

/*ADD CSS*/
.ttl-pages { font-size: 18px; font-weight: bold; color: #ee7f01; font-family: Georgia, "Times New Roman", Times, serif; font-weight: normal; text-transform:uppercase; }

#moduleBerne .titreModule { font-family: Georgia, "Times New Roman", Times, serif;}
#moduleBerne .actifSpan { font-family: Georgia, "Times New Roman", Times, serif;}

/*FOOTER REFERENCEMENT*/
.leftreffooter{float:left;}
.conteneurfoot{margin:auto;width:960px;}
.contentblocklink{float:right;margin-bottom:10px;}
.blockcol{float:left;margin-left:30px;text-align:left;}
.footerlink h4{color:#fff; font-weight:normal;margin:0;padding:0;margin-top:10px;font-size:1.2em;}
.footerlink{float:none;}
.footerlink a{display:block;font-size:0.8em;color:#ccc;}

#Plan_Ctn a { border-bottom: 1px dotted #ee7f01; margin-left: 35px; line-height: 22px; }