// VAR COLORS
$color-body:#373536;
$color-content:#1a1a1a;
$color-block:#eae7de;
$color-primary:#edede5;
$color-secondary:#836aac;
$color-action:#9e89c1;
$color-important:#9e89c1;
$color-nav-footer:#000;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#fff;

$color-cdc:#836aac;
$color-nouveau:#9e89c1;