// VAR COLORS
$color-body:#9E928A;
$color-content:#fff;
$color-block:#f8f8f8;
$color-primary:#fff;
$color-secondary:#f08100;
$color-action:#f7a800;
$color-important:#503a37;
$color-nav-footer:#232017;

$color-menu:#8c8c8c;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#453736;