$$REM$$/*====================================================================
//// <summary>Fichier CSS À DÉMUTUALISER POUR CHAQUE SITE</summary>
//// <remarks>
//// <para>Pour plus de rapidité, intégrer les macros du fichier 'all_global_macros.css'</para>
//// </remarks>
//// <update date="2010-02-16" author="lisbonne.siriphol">Création</update>
====================================================================*/$$END$$

<!--#include virtual="styles/all_global_macros.htm" -->

/* ======================================= top header ============================================= */
#TopHeader_Ctn{background: url($$_$$images/topheader_bg.jpg) 0 0 repeat-x #bcc5c8; border-bottom: none;}
#TopHeader{}
/* marquee */
#TopHeader marquee,
#TopHeader marquee *{color: #fff;}
