// VAR COLORS
$color-body:#fff;
$color-content:#f3f3f3;
$color-block:#e4c8d2;
$color-primary:#ffffff;
$color-secondary:#401d2b;
$color-action:#401d2b;
$color-important:#401d2b;
$color-nav-footer:#401d2b;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#4d3942;

// ICONE COUP DE COEUR
$color-icone-cdc:#401d2b;
