/* CSS Document */

/* Redefinitions des balises HTML */ 
*{margin:0;padding:0;font-size:11px;font-family:Arial, Verdana, Helvetica, sans-serif;color:#000;}
img{border:0}
.clear{clear:both;}
a{text-decoration:underline;outline:none;color:#006666; }
a:hover{color:#003219;text-decoration:none; }
hr{display:none;}
select option{padding:0;}
table{ margin:0 auto; padding:0;}
table tr td,
table tr td p
#milieu table tbody tr td{ padding:5px 0px; text-align:justify; text-align:left;}
* html input.alerte{ background:#fff;}

/* --------Modification AR PLAN SITE-------- */    

/* --------BG site + header-------- */ 
body{background:#FFFFAE; padding:0;margin:0;}


/*#global{position:relative;width:995px; margin:0 auto;padding:0;}*/
#header{width:985px; margin:0 auto;padding:10px 0 0 0; position:relative;}

/* ----------------------------------------PAGE ACCUEIL---------------------------------------- */	   
   
/* --------LOGO AGENCE-------- */ 
#LogoAgence { position:relative;z-index:5;float:left; display:inline;margin:0;padding:0;width:405px;height:100px }
#LogoAgence img{ display:block;margin:15px 0 0 10px;}
#LogoAgence p {font-weight:bold; text-align:center;}


/* --------DRAPEAUX LANGUES FRANCAIS ET ANGLAIS-------- */ 		
/* Mettre en DISPLAY:NONE si pas d'option Anglais */ 
#Drapeaux {position:absolute; top:138px; left:0px;margin:0; padding:0;z-index:10; width:100px;}
#Drapeaux img {padding-right:10px;}
.fnaim{position:absolute; top:111px; left:350px;}


/* --------TEXTE ACCUEIL--------*/ 
#textAccueil {float:right; width:565px;padding:0;margin-bottom:10px;}
/* Modification TITRE texte d'accueil */ 
#textAccueil h1{ font-size:17px; font-weight:bold;color:#000; padding:0;margin-bottom:10px;}
/* Modification CORPS texte d'accueil */ 
#textAccueil p{ text-align:justify; font-size:12px;color:#000;line-height:24px;margin:0 15px 0px 0;}
#textAccueil p strong{ color:#000;}
#textAccueil a{ text-decoration:none; color:#5C5E5D;}
#textAccueil a:hover{ text-decoration:underline; color:#5C5E5D;}


/* --------LOGOS: FNAIM & SIA--------*/
#Partners{ width:62px;height:95px; float:right; text-align:center;display:none;}
#Partners span img{text-align:center; padding:2px 0;}


/* --------MARQUEE DEFILANTE-------- */
/* Modification COULEUR  MARQUEE */ 	
#RefMarqueeNavig{width:565px; height:33px; float:right; background:none; margin:0; padding:0; border-bottom:3px solid #FFFFAE}
#RefMarquee{width:565px; height:33px; float:right; font-size:10px; background:#006666; margin:0; padding:0; border-bottom:3px solid #FFFFAE}
#RefMarquee marquee{width:545px;margin:0;color:#fff; padding:8px 5px 8px 5px;}
#RefMarquee marquee a {color:#fff;}
#RefMarquee marquee a strong {color:#fff;}
#RefMarquee marquee a:hover {color:#000;}

/* --------MENU + FLUX RSS-------- */
/* BG site : Bandes à gauche et à droite du menu */
#remplissageMenu{ width:100%; background:#003219; min-height:44px;}		
/* Modification COULEUR + TAILLE fond MENU */
#menuFlux{width:985px; background:#006666; height:44px; border-left:5px solid #FFFFAE; border-right:5px solid #FFFFAE; margin:0 auto;}
#menu {float:right; display:inline; padding:14px 10px 11px 0;}
#menu ul{ display:inline; margin:0 0 0 6px;}
#menu li{ display:inline;color:#99CCFF; font-size:15px; padding:0 1px;}
/* Modification COULEUR TEXTE MENU */ 
#menu a{ font-weight:bold;color:#FFFFAE; text-decoration:none;font-size:13px;}
#menu a:hover{color:#fff;}		
/* Modification COULEUR SEPARATIONS ONGLETS MENU */ 
#menu ul li.MenuSep{ color:#FFFFAE; font-weight:bold;}
/* Modification FLUX RSS */ 		
#fluxRss{float:left; display:inline; padding:15px 0px 0px 10px; }
#fluxRss a{ font-size:10px; text-decoration:underline; color:#FFFFAE; margin:0 0 0 4px}
#fluxRss a:hover{ font-size:10px; text-decoration:none;color:#FFFFAE;}
#fluxRss img{float:left; display:inline; vertical-align:middle; }



/* --------CONTENU SITE = ZONE DU MILIEU-------- */
/* Modification COULEUR ARRIERE PLAN CONTENU SITE */ 	
#milieu{width:975px;padding:7px 5px; min-height:250px;background:#fff; border-left:5px solid #FFFFAE; border-right:5px solid #FFFFAE; margin:3px auto;}
/* Positionnement bandeau image */ 
#visuel{float:left; padding:0 0 10px 0px; width:695px;}		
/* Modification COULEUR BORDURE IMAGE */ 		
#visuel img{border:5px solid #006666;}
 
.contenu h1 {background:#006666;color:#FFFFFF;font-size:1.8em;padding:0.3em 0.8em;}
.contenu h2{ font-size:16px; color:#003219; padding:0.3em 0.8em;}
.contenu h3{ font-size:14px; padding:0.3em 0.8em; color:#006666;}
.contenu p{ font-size:12px; padding:0 0.8em 10px 0.8em;}
.contenu ul{ padding:10px; margin:0; list-style-type:none;}
.contenu ul li{ padding:2px 20px; font-size:12px; background:url(../images/puce_contennu.gif) 10px 8px no-repeat;} 
.contenu span{ color:#006666;}
.contenu a{ color:#006666;}
/*--------POSITIONNEMENT MINI MOTEUR-------- */ 
.miniMoteur{float:right; width:220px;padding:0 0 0 42px;position:relative;background:url(../images/fontTitreMoteur.gif) 0 2px no-repeat;}		
/* Modification TITRE RECHERCHE */ 		
.miniMoteur h2{font-size:18px; font-weight:bold; color:#000;padding:12px 0 0 0;}
/* A NOTER !!!! Pour styliser les champs + bouton mini moteur VOIR == MINI_MOTEUR.CSS */ 


/* ----------- 3 COUPS DE COEUR ------------- */ 
#blocBas #coupCoeur{float:left; width:695px; padding:0 0 0 0; }
* html .div-cdc{ height:260px;}
/* Modification BACKGROUND + BORDER CDC */ 
.div-cdc{width:220px; min-height:260px;float:left; background:#fff; margin:0 4px 0 0; border:1px solid #006666;}
/* Modification couleur générale du texte du CDC */ 
.div-cdc *{ color:#003219;}
.div-cdc .contenu-cdc *{color:#5C5E5D;}
/* Modification photo CDC */ 
.div-cdc .photo-cdc img{width:220px;height:139px;background:url(../images/bg_Img_Cdc.gif);padding:5px 2px 3px 5px;}
/* Modification couleur TRANSACTION + TYPE DE BIEN  */ 
.div-cdc .typetransaction-cdc{font-size:13px; font-weight:bold; text-transform:uppercase; color:#000;}
.div-cdc .typebien-cdc{font-size:13px;text-transform:uppercase; font-weight:bold; color:#000;}
/* Modification couleur VILLE  */ 
.div-cdc a span.ville-cdc{font-weight:bold;display:block; color:#000; }
/* Modification couleur DESCRIPTIF  */
.div-cdc .descriptif-cdc{min-height:30px; color:#5C5E5D;}
* html .divc2c .descriptif-cdc{height:30px; color:#003219;}
/* Modification couleur PRIX */
.div-cdc p.prix-cdc{font-weight:bold;font-size:14px; color:#000;}

.div-cdc .contenu-cdc{padding:0 6px 4px 6px;}
.div-cdc .contenu-cdc a{ text-decoration:none;}
.div-cdc .contenu-cdc a:hover{color:red;}

ul#Outils li a:hover{color:#006666}
/* ----------- LISTE TRANSACTIONS AGENCE ------------- */ 
#blocBas .nbrTransaction{float:right;width:210px; padding:5px 0 0 0;}
/* Modification COULEUR "AUJOURD'HUI" */ 	
#blocBas .nbrTransaction h3{font-size:13px;font-weight:bold;padding:1px 0;color:#000;}
/* Modification COULEUR TYPE TRANSACTION */ 	
#blocBas .nbrTransaction h4{width:167px;font-weight:bold;font-size:13px;color:#003219;padding:10px 0 0 0;}
#blocBas .nbrTransaction ul{list-style-type:none;margin:0 0 10px 3px; line-height:16px;}
/* Modification COULEUR TYPE DE BIEN */ 
#blocBas .nbrTransaction ul *{font-size:11px;color:#000;}
#blocBas .nbrTransaction ul a{color:#003219;text-decoration:underline;}
#blocBas .nbrTransaction ul a:hover{text-decoration:none;color:#000;}
.nbrTransaction h4 a{color:#003219;font-size:12px;font-weight:bold;text-decoration:none}
.nbrTransaction h4 a:hover{color:#003219;text-decoration:underline}
.div-cdc{height:268px;overflow:hidden}
/* -----------INCLUDE BAS------------- */ 

/* Modification COULEUR BANDE COORDONNEES */ 
.CoordonneesAgence {font-size:12px; background:#006666;border-bottom:3px solid #FFFFAE; height:27px; text-align:center; padding-top:13px; color:#fff; font-weight:bold;}	
/* Modification BG footer portefeuille + menu secondaire */
.CoordonneesAgence a{font-size:12px;color:#fff;text-transform:uppercase;text-decoration:none}
.CoordonneesAgence a:hover{text-decoration:underline}
.footerPosition{background:#006666; position:relative; width:985px; border-left:5px solid #FFFFAE; border-right:5px solid #FFFFAE; padding-bottom:15px; margin:0 auto;}
.porteFeuille{float:left;width:610px;padding-left:39px;}
/* ARRIERE PLAN FOOTER */
#footer{background:#003219; padding:0;}
		
		
/* Modification couleur 2 TITRES FOOTER */ 
 #footer h4{font-size:11px;font-weight:bold;background:url(../images/puce.gif) no-repeat 5px 0;padding:1px 0 5px 33px;margin:17px 0 0 0;line-height:19px;}
/* titre gauche : Notre portefeuille immobilier */
 #footer .porteFeuille h4{font-size:12px; color:#000;}
/* titre droite : www.urldusite.com */
 #footer .menuSecondaire h4{font-size:12px; color:#000;}

		
/* Modification couleur LISTE DES VILLES */ 
.porteFeuille .ListeVilles{width:520px;text-align:justify;line-height:13px;border:0;color:#FFFFAE; padding:4px 0 0 5px;}
.ListeVilles *{color:#FFFFAE; font-size:11px;font-weight:normal;}
.ListeVilles a{color:#FFFFAE;text-decoration:none;}
.ListeVilles a:hover{color:#FFFFAE;text-decoration:underline;}

/* Modification couleur MENU SECONDAIRE FOOTER (droite) */
.menuSecondaire{float:left;width:305px;font-size:12px;color:#FFFFAE;}
.menuSecondaire p{padding:3px 0 0 5px; color:#FFFFAE; text-align:justify;}
.menuSecondaire p a{font-size:11px;color:#FFFFAE;text-decoration:underline;}
.menuSecondaire p a:hover{text-decoration:none;color:#FFFFAE;}
.ListeVilles  span.sepSep{ color:#000;}



/* ----------------------------------------AUTRES PAGES DU SITE---------------------------------------- */

/* Page En Construction */
#EnConstruction{margin-top:70px; text-align:center;}


/* PAGE PLAN DU SITE = incl_plan-site.htm + Outils */  
ul#Plan,ul#Outils{padding:0 8em 2em 8em; width:400px; margin:0 auto;}
ul#Plan li.MenuSep{display:none;}
ul#Plan li.plan{border:none;}
ul#Plan li,ul#Outils li.list{padding: 5px 0; border-bottom: 1px solid #003219; font-weight:bold; text-align:left; text-transform:uppercase;}
ul#Plan li a,ul#Outils li a{margin:0 0 0 5px ;color:#006666; padding-left:15px;height:19px;font-size: 12px;padding-top:6px; text-transform:uppercase;background:url(../img/picto_fleche_01.gif) 0px 7px no-repeat;}
ul#Plan li a:hover,ul#Outils li a:hover{color:#003219;}
ul#Outils li.titrePageOutils,ul#Plan .plan{ color:#006666; font-size:18px; font-weight:bold; text-transform:uppercase;}


/* ----- PAGE MOTEUR,CLASSIC.HTM -----*/
h2.TitrePage{ color:#006666; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}

/*PAGES ESTIMATION + CONTACT + MESSAGE == TABLEAUX FORMULAIRES*/
.tabFond1{border-color:#00AA00; border-width:0; border-style:solid; padding:2px; font-family:Arial, Helvetica, sans-serif; width:100%;}
 textarea {width:600px; height: 100px;}
.tabFond2{border-color:#00AA00; border-width:1px; border-style:solid; padding:2px; font-size:14px; font-family:Arial, Helvetica, sans-serif;}
.tabTitre{background:#006666; color:#FFFFAE; font-size:14px; font-weight: bold; font-family:Arial, Helvetica, sans-serif;height:25px;padding:3px; text-align:center; text-transform:uppercase;}
.tabTitre *{color:#FFFFAE; font-size: 14px;}
.tabPrint{color:#5C5E5D; font-size: 13px; font-family:Arial, Helvetica, sans-serif; border:1px solid #00AA00;}
.tabFond1 td input{margin:3px;}
.tabFond1 table{ width:100%;}
strong.messageNomAgence,
strong.estimationNomAgence{ color:#006666; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase; display:block;}
#Titre tr{background:#006666}

/*Résolution Bug IE8 = donner une taille aux bouton pour éviter tout décallage*/
		.boutonEnvoi {width:120px;height:26px; float:right;}
		.BoutonFormContact {width:120px;height:26px; float:right;}
		.MoteurBouton input {width:120px;height:26px; float:right;}
		td #ChampsBouton input {width:120px;height:26px;border:none; float:right;}
		input .BoutonFormRecherche {width:120px; height:26px; float:right;}
		

/* GUIDE PRATIQUE = ACCES VIA LE LIEN DANS LA PAGE OUTILS*/
span.txtTitre3{ display:block; width:870px; color:#FFF; background:#006666; font-size:16px; font-weight:bold; padding:3px 5px; margin:10px 3px 3px 0;}
span.gras{ display:block; width:882px; color:#FFF; background:#006666; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;}
td.encadre{background:#FFF; border-color:#AAA; border-width:2px; border-style:solid; padding:3px; color:#000; margin:0 0 0 -4px;}
p.grasnews{ display:block; width:882px; color:#FFF; background:#006666; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;}
 
 #RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .contactAnn_ctn{background:#fff}
/* Mentions Legales */

#MentionsLegales{}
#MentionsLegales h2 {display: block; width: 99%;	 background:#006666; font-size: 14px; color:#FFFFAE;font-weight: bold;letter-spacing: 0;padding:3px 0 3px 8px;margin: 10px 0;text-align: left;text-transform: none;font-family: Arial; text-transform: none;}



.BoiteMoteurClassic label input{margin-right:2px;}

.prixSiPromo {display:none;}

#RechResultat .blocAnnonce table.detailsAnn td.photo_wrap .photo_ctn .coupdecoeur {position: absolute; top:0px; left:0px;background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$CDC_PICTO$$', sizingMethod='scale'); z-index:2;}

