// VAR COLORS
$color-body      : #0a090a;
$color-content   : #fff;
$color-block     : #fff;
$color-primary   : #31393f;
$color-secondary : #1a181b;
$color-action    : #a1a6ab;
$color-important : #31393f;
$color-nav-footer: #fff;


// COLOR PUB
$color-pub       : "white";

// COLOR FONT BODY DEFAULT
// $color-font-body : #4d4f52;
$color-font-body : #a1a6ab;

