/* --------------------------------------------------------------------- */
/* -- PAGE DETAIL
/* --------------------------------------------------------------------- */

.detail-mobilefirst {

    /* ------------------------------------- */
    /* -- GLOBAL
    /* ------------------------------------- */

    .detail-main {
        margin-top: 4rem;
        border-bottom: 0;
    }

    .detail-ariane {
        border-bottom: 0;
    }

    .detail-ssttl {
        padding-bottom: 0;
        border-bottom: 0;
        font-family: $font-title;
        font-size: .8125em;
        font-weight: 700;
        color: $color-block;
        letter-spacing: .15em;
        text-transform: uppercase;
    }


    /* ------------------------------------- */
    /* -- HEADING
    /* ------------------------------------- */

    .detail-header {
        display: table;
        width: 100%;
        margin-bottom: 4rem;
        h1 {
            font-weight: normal;
            text-transform: none;
            font-size: 1.62em;
        }
        .bloc-detail-telephone {
            min-width: 250px;
             > div {
                padding: 2rem;
                cursor: pointer;
                background-color: $color-secondary;
                font-size: 1.25em;
                color: $color-block;
                text-align: center;
            }
        }
    }

    .detail-header-col {
        display: table-cell;
        vertical-align: middle;
        &:not(:first-child) {
            padding-left: 3rem;
        }
    }

    .detail-prix {
        margin-top: 0;
        font-family: $font-body;
        font-size: 1.75em;
        color: $color-block;
    }

    .detail-ref {
        margin-top: .75rem;
        padding-bottom: 0;
        opacity: 1;
    }

    .detail-specs {
        margin-top: 1rem;
        li {
            display: inline-block;
            vertical-align: middle;
            color: $color-block;
            &:not(:first-of-type) {
                margin-left: 1rem;
                padding-left: 1.25rem;
                border-left: 1px solid lighten($color-secondary,5);
            }
        }
    }

    .detail-widgets {
        margin-top: 2rem;
    }
    .detail-widget-item {
         > a {
            color: $color-action;
            &:focus,
            &:hover,
            &:active {
                color: $color-block;
            }
        }
    }

    .detail-panier {
        position: static;
    }


    /* ------------------------------------- */
    /* -- GALERIE
    /* ------------------------------------- */

    .galerie {
        position: relative;
        .slick-list,
        .slick-track {
            height: 100%;
        }
    }

    .galerie-inner {
        display: table;
        table-layout: fixed;
        width: 100%;
    }

    .galerie-main,
    .galerie-thumbs {
        display: table-cell;
        vertical-align: top;
        height: 580px;
    }

    .galerie-main {
        position: relative;
        .slick-arrow {
            position: absolute;
            z-index: 50;
            top: 50%;
            cursor: pointer;
            text-shadow: 0 0 1px $color-body;
            font-size: 3em;
            color: $color-block;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            &.slick-arrow-left {
                left: 0;
            }
            &.slick-arrow-right {
                right: 0;
            }
        }
    }
    .galerie-main-item {
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .galerie-thumbs {
        width: 295px;
        padding-left: .5rem;
        .slick-slide {
            height: 190px;
        }
    }
    .galerie-thumbs-item {
        height: 190px;
        opacity: 1;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        transition: opacity .3s ease;
        & + .galerie-thumbs-item {
            margin-top: .5rem;
        }
        &:focus,
        &:hover,
        &:active {
            opacity: .8;
        }
    }

    .galerie-tag-3d {
        position: absolute;
        bottom: 2rem;
        left: 1.5rem;
        font-size: 2em;
        color: $color-block;
    }


    /* ------------------------------------- */
    /* -- DESCRIPTIF
    /* ------------------------------------- */

    .detail-desc-ttl {
        font-family: $font-title;
        line-height: 1.1;
        font-size: 2.25em;
        color: $color-block;
        span {
            display: block;
            color: $color-action;
        }
    }

    .detail-desc-txt,
    .detail-desc-prix {
        color: $color-content;
    }

    .detail-bareme {
        float: none;
    }

    .detail-visite,
    .detail-sign,
    .detail-lots,
    .detail-dispo {
        margin-top: 5rem;
    }

    /*
    .detail-sign-list {
        > li {
            width: 25%;
            padding: 3rem;
            min-height: 130px;
            margin-left: 0;
            text-align: center;
            border: 1px solid rgba($color-font-body,.3);
            &:nth-child(2n) {
                margin-left: 0;
            }
        }
    }
    .detail-sign-attr,
    .detail-sign-val {
        float: none;
        width: auto;
        overflow: visible;
        white-space: inherit;
        text-overflow: inherit;
        line-height: 1.2;
    }
    .detail-sign-attr {
        font-family: $font-title;
        font-size: .8125em;
        font-weight: 700;
        color: $color-block;
        letter-spacing: .15em;
        margin-bottom: 1rem;
        text-transform: uppercase;
    }
    .detail-sign-val {
        text-align: center;
        padding-left: 0;
    }
    */

    .detail-dpe {
        margin-top: 5rem;
        .bg-white {
            padding: 1.5rem;
        }
    }


    /* ------------------------------------- */
    /* -- SIDEBAR
    /* ------------------------------------- */

    .detail-contact {
        position: relative;
        z-index: 500;
        border-radius: 0;
        margin-top: -7rem;
        margin-right: -.1rem;
        background-color: $color-secondary;
        @include lightnessColor($color-secondary,no);
    }

    .detail-contact-nav {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    .detail-contact-nav-item {
        display: table-cell;
        vertical-align: middle;
        padding: 2rem 1.5rem;
        background-color: lighten($color-secondary,5);
        color: $color-font-body;
        font-family: $font-title;
        font-size: .8125em;
        font-weight: 700;
        letter-spacing: .15em;
        text-transform: uppercase;
        text-align: center;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        &:focus,
        &:hover,
        &:active {
            color: $color-block;
        }
        &.active {
            background-color: $color-secondary;
            color: $color-block;
        }
    }

    .detail-contact-form {
        background-color: $color-secondary;
        @include lightnessColor($color-secondary,no);
    }

    .detail-contact-tab {
        display: none;
        &.active {
            display: block;
        }
    }



    /* ------------------------------------- */
    /* -- SERVICES
    /* ------------------------------------- */

    .service-arthprestige {
        display: table;
        width: 100%;
        margin-top: 4rem;
        padding-bottom: 4rem;
        border-bottom: 1px solid $color-secondary;
    }

    .service-arthprestige-icon,
    .service-arthprestige-ttl,
    .service-arthprestige-cta {
        display: table-cell;
        vertical-align: middle;
    }

    .service-arthprestige-icon {
        font-size: 2em;
        color: $color-block;
    }

    .service-arthprestige-ttl {
        font-family: $font-title;
        font-size: .8125em;
        font-weight: 700;
        letter-spacing: .15em;
        text-transform: uppercase;
        line-height: 1.4;
        span {
            display: block;
            color: $color-block;
        }
    }

    .service-arthprestige-cta {
        background-color: $color-secondary;
        color: $color-block;
        font-size: 1.2em;
        width: 40px;
        height: 40px;
        text-align: center;
        border-radius: 50%;
    }


    /* ------------------------------------- */
    /* -- LEGAL
    /* ------------------------------------- */

    .detail-legal {
        .accordion-group {
            background-color: $color-secondary;
            border-color: lighten($color-secondary,10);
            color: $color-action;
        }
        .accordion-inner {
            background-color: $color-secondary;
            border-top-color: lighten($color-secondary,10);
            color: $color-action;
        }
        .accordion-heading a {
            color: $color-action;
        }
    }

}


/* --------------------------------------------------------------------- */
/* -- MEDIAS QUERIES
/* --------------------------------------------------------------------- */

@media (max-width:1170px) {

    /* -------------------------------------------*/
    /* -- [1170] PAGE DETAIL */
    /* -------------------------------------------*/

    .detail-mobilefirst {


        /* ------------------------------------- */
        /* -- [1170] HEADING
        /* ------------------------------------- */

        .detail-header {
            display: block;
            width: auto;
        }

        .detail-header-col {
            display: block;
            width: auto;
            margin-bottom: 1.5rem;
            &:not(:first-child) {
                padding-left: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }

        .detail-prix,
        .detail-ref {
            text-align: left;
        }


        /* ------------------------------------- */
        /* -- [1170] DESCRIPTIF
        /* ------------------------------------- */

        .detail-desc {
            margin-top: 0;
        }

        .detail-desc-content-left {
            &[class*="span"] {
                width: 100%;
                margin-top: 2rem;
                margin-bottom: 1rem;
            }
        }

        .detail-desc-ttl {
            font-size: 1.5em;
            span {
                display: inline;
            }
        }

        .detail-desc-content-right {
            &[class*="span"] {
                width: 100%;
                margin-left: 0;
            }
        }

        /*
        .detail-sign-list {
            > li {
                width: 100%;
                padding: 1rem;
                min-height: 0;
                text-align: left;
            }
        }

        .detail-sign-attr {
            float: left;
            margin-bottom: 0;
        }

        .detail-sign-val {
            float: right;
        }
        */

    }
}

@media (max-width:767px) {

    .detail-mobilefirst {

        /* -------------------------------------------*/
        /* -- [768] GLOBAL */
        /* -------------------------------------------*/

        .detail-main {
            margin-top: 0;
        }


        /* -------------------------------------------*/
        /* -- [768] HEADER */
        /* -------------------------------------------*/

        .detail-header {
            margin-bottom: 0;
            .detail-header-col {
                float: none;
                width: auto;
            }
        }

        .detail-specs {
            .hidden-phone + li {
                margin-left: 0;
                padding-left: 0;
                border-left: 0;
            }
        }

        /* -------------------------------------------*/
        /* -- [768] GALERIE */
        /* -------------------------------------------*/

        .galerie-inner,
        .galerie-main {
            display: block;
        }

        .galerie-main {
            height: 200px;
        }

        .galerie-thumbs {
            display: none;
        }

        /* -------------------------------------------*/
        /* -- [768] SIDEBAR */
        /* -------------------------------------------*/

        .detail-contact {
            margin-top: 0;
        }

        .detail-contact-nav {
            display: none;
        }

        #detail-form {
            background-color: $color-secondary;
        }

        .detail-form-nav {
            .btn {
                font-size: .75em;
                font-weight: bold;
            }
        }

    }
}
