.module14 {
  .nav-tabs {
    @include border (bottom, 5px, $color-action);
          > li {
              padding:20px 20px;
  			  border-radius:3px 3px 0 0;
          }
      }
      .bouton-module-14 {
          cursor:pointer;
  		color:$color-action;
          &.actif-tab {
              background:$color-action;      
  			color:$color-body;
          }
  		&.inactif-tab {
              box-shadow:none;          
          }
  		&:hover {
  		background:$color-action;      
  			color:$color-body;
  		}
    }
}
.module14-annonces {
    display:none;
    background-color:$color-block;
	[class*="span"]:first-child {
		border-left:0;
	}
	[class*="span"] {
		margin-left:0; 
		border-left:1px solid $color-body;		
	}
    .span3 {        
        width:25%
    }
	 .span4 {        
        width:33.3333%
    }
}

.module14-annonces > .row-fluid > [class*="span"]:hover {@include box-shadow(0 2px 5px 0 rgba(0, 0, 0, 0.2));}
