/* $$DYN:ID3:NOFOOTER$$ */

div, td, .Marquee, .ListeVilles { font-family: Verdana, Arial, Helvetica, sans-serif !important; }
.imputForm, select { font-size: 11px; margin-bottom: 3px; color: #1a1a1a; }
.ZoneSaisie { letter-spacing: normal; }
.BoiteMoteurClassic { background: none; padding: 10px; border: none; }
.FormulaireTypeDeBien, .MoteurSurface, .MoteurBudget, .MoteurProximite, .MoteurListeVille, .MoteurSousTypeDeBien, .MoteurPieces, .MoteurRayon span { color: #1a1a1a; font-size: 11px; }
.MoteurTypeDeBien, .MoteurPieces, .MoteurSurface, .MoteurBudget, .MoteurProximite { background: none; margin-bottom: 15px; line-height: 18px; }
.TitreTypeDeBien, .TitreNombreDePieces, .TitreMoteurSurface, .TitreMoteurBudget, .TitreMoteurProximite, .TitreMoteurListeVille, .TitreSousTypeDeBien, .TitreMoteurNbPersonnes, .TitreMoteurBudgetVac, .TitreMoteurEquipement, .TitreMoteurSituation { display: block; height: 20px; background-color: #E4E4E4; border-bottom: 1px solid #A3A3A1; color: #898989; padding-left: 20px; font-size: 13px; font-weight: bold; letter-spacing: normal; line-height: 20px;margin-bottom:10px; text-transform:none;}
.MoteurBouton { padding-bottom: 15px; }
.BoitePhraseRecherche { font-family: Arial; font-size: 20px; color: #979797; font-weight: bold; border-bottom: 3px solid #632669; margin-bottom:10px; background: none !important; 

