/* GENERAL */
table,td{border-collapse:collapse;font-size:12px;}
body {font-family:arial,verdana;margin:0 auto;padding:0;background: #858f98;font-size:12px;}
.clear {display:block;clear:both;height:0;}
img{border:none;}

a{color: #b80000;}
a:hover{text-decoration: none;}
h2 span{color: #b80000;}
h1.ttl_page,#Moteur h1 {color: #fff;font-size: 22px;}
.a_vert{color: #b80000 !important;}
ul, li {list-style-type:none;}

.coordo-top { position: absolute; text-align:center; font-size:14px; font-weight: bold; color: #fff; top: 15px; left: 325px; }
/* structure globale */
.wrap,#siteMap{z-index:100;width: 960px; margin:0 auto; clear: both; position: relative;}
#b_content .wrap {z-index:2;}
#b_head{height: 130px;}
#b_head .wrap{border-bottom: solid 1px #707070;height: 130px;}
#bh_left{float: left;}
#bh_right{float: right;width: 650px;} /* ICI CHANGER LA LARGEUR EN FONCTION DE LA TAILLE DU MENU */
#m_top{position:relative;z-index:100;float:right;font-weight: bold; font-size: 12px;margin:10px 0 32px 0;height: 32px; line-height: 26px; text-align: right;color: #a8a6a6;}
#m_top a{color: #a8a6a6;text-decoration: none;}
#m_top a .txtFlag{color:#fff;}
#m_top a:hover{text-decoration: underline;}
#m_top .suivi{background: url($$_$$images/suivi.png) no-repeat; padding-left: 20px;}
#m_top .sep{margin:0 10px;}

#m_top .menuLangue{margin:0;padding:0;}
#m_top .menuLangue .txtLi,
#m_top .menuLangue .menuLangueBg,
#m_top .menuLangue .menuList,
#m_top .menuLangue .arrowDown {margin:0;}
#m_top .menuLangue .arrowDown{margin-top:5px;}
#m_top .menuLangue .menuLangueBg{margin-left: 5px;}
.menuList { background: #c3c2c2!important; }
.onLi { background: #b80000!important; }

#m_main{clear:both;z-index: 50;position:relative;}
#m_main ul,#m_main li{list-style:none;z-index:8000}
#m_main ul,#m_main li .error{color:red; display:block;}
#m_main ul{margin:0;padding:0;}

#m_main ul li{display: block;float: left;}
#m_main ul li a{display:  block; color: #fff; font-size: 18px; font-style:italic; border-bottom: solid 2px #b80000;text-decoration: none;margin:0 22px; padding: 16px 0;}
#m_main ul li a:hover{background: #b80000;}

#m_main ul li ul{display: none;position: absolute;z-index:7000;margin-left:-307px;}
#m_main ul li ul.on{display: block;left:71px;}
#m_main ul li ul li{display: block; float: none;background: #fff;padding: 0px;border:solid 4px #b80000; width: 830px; min-height: 200px;}
#m_main ul li ul li h2{color:#b80000;text-decoration: underline;font-size: 18px;text-transform: uppercase;text-align: center;}
#m_main ul li ul li h3{color:#b80000;text-decoration: underline;font-size: 14px;margin-top: 30px;}
#m_main ul li ul li .bsm{float:left;color: black;}
#m_main ul li ul li .bordure{background: url($$_$$images/menu/sep.gif) center right no-repeat;}
#m_main ul li ul li .pad{padding: 5px 40px 0px 40px; min-height: 220px;}
#m_main ul li ul li .pad2{padding: 5px 20px 0px 20px; min-height: 100px;}
#m_main ul li ul li a{color:#000; font-size: 12px;line-height: 20px; font-style: normal; border: none; margin:0; padding:0 0 0 15px;background: url($$_$$images/menu/puce.gif) no-repeat  center left;}
#m_main ul li ul li a:hover{text-decoration: underline; background: url($$_$$images/menu/puce.gif) no-repeat center left;}
#m_main ul li ul li .alaune{padding: 5px 0 5px 35px;}
#m_main ul li ul li .alaune a{margin-left: 20px; background: none;padding:0;line-height: 14px;}
#m_main ul li ul li .cdc{background: url($$_$$images/menu/picto.gif) no-repeat 0 0; }
#m_main ul li ul li .new{background: url($$_$$images/menu/picto.gif) no-repeat 0 -100px; }
#m_main ul li ul li .exclu{background: url($$_$$images/menu/picto.gif) no-repeat 0 -200px; }
#m_main ul li ul li .photoagence{padding: 30px 10px 0 0;}
#m_main ul li ul li .photoagence a{border: solid 2px #474d4d; background: none; padding:0; margin:0;-moz-box-shadow: 0px 0px 6px #aaa; -webkit-box-shadow: 0px 0px 6px #aaa; box-shadow: 0px 0px 6px #555; }
#m_main ul li ul li .photoagence img{width: 190px; height: 126px;border: solid 6px #fff;display: block;}
#m_main ul li ul li .ligneform{background: url($$_$$images/menu/puce.gif) no-repeat center left;padding-left: 10px; margin: 6px 0;font-size: 10px; color:#000}
#m_main ul li ul li .ligneform .error{color:red;display:block;clear:left;}
#m_main ul li ul li .ligneform .inputText{width: 120px; height: 16px; background:#ebebeb; border: solid 1px #b8b8b8;float:right;}
#m_main ul li ul li .ligneform span{float:left;margin:3px 5px 0 0;}
#m_main ul li ul li .bsm .inputTextarea{background:#ebebeb; border: solid 1px #b8b8b8;width: 162px; height: 82px;}
#m_main ul li ul li .bsm .inputSubmit{background: url($$_$$images/bg_bouton.gif) no-repeat; text-align: center; color: #fff; border:0; width: 112px; height: 19px; line-height: 19px;text-transform: uppercase; font-size: 10px;cursor: pointer;}

#b_cdc{height: 430px;}
#b_cdc .wrap{position: static;}
#moduleOslo, #moduleOsloInterne {z-index:1;}
#b_cdcInterne {height:215px;}
#b_cdcInterne .wrap {position:static;}
#b_content{min-height: 300px;padding: 34px 0;}

#b_topfoot{height: 70px; background: #c3c2c2;border-bottom: solid 1px #fff;position: relative;clear: both;}
#b_topfoot .wrap{padding-left: 50px; width: 910px;}
#b_topfoot .plus{display: block; height: 80px; width: 39px; position: absolute; top:-10px; left:50%;margin-left: -480px;}
#b_topfoot .group_mob,#b_topfoot .group_abonne,#b_topfoot .group_join,#b_topfoot .group_app{margin-top:8px;padding:0px 20px 0 60px;height: 62px;float: left;line-height: 62px;font-size: 11px; color: #6e6e6e; font-weight:bold;}
#b_topfoot .group_join{background: url($$_$$images/reseaux/rejoins.png) no-repeat;}
#b_topfoot .group_abonne{background: url($$_$$images/reseaux/abonne.png) no-repeat;}
#b_topfoot .group_mob{background: url($$_$$images/reseaux/version.png) no-repeat;}
#b_topfoot .group_app img{margin: 0 5px; }
#b_topfoot .a_res{display: block;float: left;width: 47px; height: 31px; overflow: hidden;background: url($$_$$images/reseaux/pictos.png) no-repeat;margin: 8px 5px 0 0;}
#b_topfoot .fb{background-position: 0 0;}
#b_topfoot .fb:hover{background-position: 0 -31px;}
#b_topfoot .tw{background-position: -47px 0;}
#b_topfoot .tw:hover{background-position: -47px -31px;}
#b_topfoot .rss{background-position: -94px 0;}
#b_topfoot .rss:hover{background-position: -94px -31px;}
#b_topfoot .mob{background-position: -141px 0;cursor: default;}
#b_topfoot .mob:hover{background-position: -141px -31px;}



#b_foot{min-height: 30px;}
#menu_foot{background: #b80000;border: solid 1px #b80000; border-top: none;height: 30px; line-height: 30px;margin-bottom: 20px;text-align: center;
    border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px;
    border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px;
     -moz-box-shadow: 2px 2px 4px #000;
    -webkit-box-shadow: 2px 2px 4px #000;
    box-shadow: 2px 2px 4px #000;
    }
#menu_foot,#menu_foot a{color:#dee8b7;font-size: 11px; font-weight: bold;}

#menu_foot2 {color: #313131;text-align: justify;font-size:11px;}
#menu_foot2 a{color: #313131;}
#menu_foot2 a:hover{color: #000;}

#siteMap #col_droite{float: right;}
#siteMap #col_gauche,
#siteMap #col_droite{
    background: url($$_$$images/bg_footer.png) repeat-x top left;border: none;
    border-top-right-radius:4px;-moz-border-radius-topright:4px;-webkit-border-top-right-radius:4px;
    border-top-left-radius:4px;-moz-border-radius-topleft:4px;-webkit-border-top-left-radius:4px;
}
#siteMap .titleListing a,#siteMap span.infos_count{color: #999;}


/* style de la page d'accueil */
#minimot{height: 117px;}

.accueil_gauche{float: left; width: 600px;margin: 20px 0;}
.accueil_droite{float: right; width: 360px;margin: 20px 0;}
.accueil_gauche h1{font-style: italic; font-size: 18px;}
.accueil_gauche p{line-height:18px;}
.accueil_gauche .photo_accueil{float: left;background:#fff;-moz-box-shadow: 0px 0px 6px #aaa; -webkit-box-shadow: 0px 0px 6px #aaa; box-shadow: 0px 0px 6px #555; margin: 5px 30px 5px 5px; }
.accueil_gauche .photo_accueil img{display: block;margin: 4px;}
.accueil_gauche .texte_accueil{margin: 40px 40px 0 0;}
.texte_accueil a { color: #fff; }		/* régler ici le margin top pour centrer le texte verticalement si besoin */

#bloc_services{background: #c4c7c9 url($$_$$images/services/guillemet.png) top center no-repeat; width: 360px; height: 240px;}
#bloc_services h3{color:#2d2e2f;text-align: center;font-style: italic;font-weight: normal; font-size: 18px;padding-top: 20px;}
#bloc_services .wrap_service{width: 326px; margin:0 auto;overflow:hidden;}
#bloc_services .wrap_service .droite, #bloc_services .wrap_service .gauche{position:relative;background: url($$_$$images/services/gauche.png);width: 28px; height: 124px;float: left;cursor: pointer;}
#bloc_services .wrap_service .droite{background: url($$_$$images/services/droite.png);}
#bloc_services .wrap_service .container {float:left;width:250px;height: 140px;overflow:hidden;position:relative;}
#bloc_services .wrap_service .content_service{position:absolute;width: 240px;height: 140px;float:left;list-style:none;margin:0;padding:10px; background: #e2e2e2; }
#bloc_services .wrap_service .content_service li{float:left;margin:0;padding:0;display: block;width: 230px;height: 124px;margin-right: 10px;}
#bloc_services .wrap_service .content_service li a{display: block; text-decoration: none;}
#bloc_services .wrap_service .content_service li strong{color:#b80000;text-decoration:  underline;}
#bloc_services .wrap_service .content_service li p{color:#656565;padding-left: 80px;height: 85px;}
#bloc_services .wrap_service .content_service li p.bg-email{background: url($$_$$images/services/mail.png) no-repeat;}
#bloc_services .wrap_service .content_service li p.bg-estim{background: url($$_$$images/services/estim.png) no-repeat;}
#bloc_services .wrap_service .content_service li p.bg-calc{background: url($$_$$images/services/calc.png) no-repeat;}


/* RETOUR HAUT */
.retourHaut {float:right;margin:5px 0 0 0;padding:0;font-size:11px;font-weight:bold;position:relative; top:757px;}
*+html .retourHaut {position:relative;top:835px;}
.retourHaut {position:relative;top:700px\9;}
.retourHaut a {color:#b80000;text-decoration:none;}


/* fix langue*/
.menuLangueBg_ {margin-top:0 !important;}
.fleft,.fleft2 {float:left;margin:0;padding:0;}

#wrapper-bg { background: url($$_$$images/bg.jpg) repeat-x #858f98; }
#wrapper-bg2 { background: url($$_$$images/bg2.jpg) repeat-x #858f98; }
#moduleOslo .prixAnnonce { color: #b80000 !important; }
#moduleOsloInterne .contentAnnonceInterne { background: #b80000!important; }

/*footer*/
.bloc-link-foot { background: url($$_$$images/bg_link_foot.gif) no-repeat; width: 809px; margin: 0 auto; padding-bottom: 30px; }

.left-foot { float: left; width: 155px; padding-left: 20px; margin-right: 100px; }
.right-foot { width: 485px; float: left; }
.ttl-foot { color: #838484; font-size: 11px; font-weight: bold; border-bottom: 1px solid #838484; padding-bottom: 5px; padding-top: 15px; margin-bottom: 10px; }

.left-foot ul li a { color: #838484; font-size: 11px; list-style-type: disc!important; text-decoration: none; background: url($$_$$images/puce_noir.gif) 0 5px no-repeat; padding-left: 10px; margin: 0; }
.right-foot a { font-size: 11px; color: #777a7c; display: block; text-decoration: none; }

.savoir-ctc { padding-right: 100px; text-align:right; }
.image-acc { text-align: left; padding-left: 300px; }

#bloc_agence_droite #Mini_Moteur,#bloc_agence_droite #titre_recherche{display: none;}

.blocAgenceDefilement h3, .blocAgenceDefilement img {display:none;}

/*autre*/

#textAg{background:#fff; border:1px solid #CCCCCC; display:block; margin:10px 0;width:936px; padding:5px 12px;}
.listHabita li{ list-style:disc;}


