#CV{margin: 0; padding: 0; border: none;width:650px;}
#CV *{margin: 0; padding: 0; border: none;}
#CV .clear{clear:both;}
#CV .linkOut{text-align: right; margin: 0.5em 0; }
#CV .linkOut a{background: none; padding: 0 0 0 15px;color:#770a60; background: url($$_$$images/arrow2.gif) 0 5px no-repeat; font-size: 13px; }
/**/
#CV h1{ height: 30px; line-height: 30px; font-size: 14px; color: #af067e; background: url($$_$$images/bg_boitealerte.gif) repeat-x #ffedb6; padding: 0 0.8em; border: 1px solid #fff;}
#CV #Agence{padding: 1em; background: #ffedb6; border-left: 1px solid #fff; border-right: 1px solid #fff;}
#CV #Agence #Img_Ctn{ width: 200px; float: left; background: url($$_$$images/sans_photo.gif) no-repeat #ffedb6; text-align: center;}
#CV #Agence #Img_Ctn #Vitrine{width: 200px; height: 130px; border: 2px solid #ffedb6; background: url($$_$$images/agences/311521.jpg) no-repeat; margin: 0 auto;}
#CV #Agence #Coordonnees{ width: 380px; float: left; padding: 0 1em;}
#CV #Agence #Coordonnees h2{font-size: 1.5em; color: #ff7521;}
#CV #Agence #Coordonnees a { color:#0f0f0f;}
#CV #Agence #Coordonnees p{padding: 0.4em 0; color: #0f0f0f;}
#CV #Agence #Coordonnees p strong{font-weight: normal;}
#CV #Agence #Coordonnees p span{font-weight: bold;}
#CV #Agence #TxtPublic{text-align: justify;}
#CV #CvFoot{ height: 30px; line-height: 30px; background: url($$_$$images/bg_boitealerte.gif) bottom repeat-x #ffedb6; overflow: hidden; border: 1px solid #fff;}
#CV #CvFoot *{color: #af067e; text-decoration: none; font-weight: bold; font-size: 14px; }
#CV #CvFoot #Links{float: left; border-right: none; background: none;}
#CV #CvFoot #Links a{display: block; float: left; padding: 0 1em; border-right: none; border-left: none; }
#CV #CvFoot #Links a:hover{background: #ff6b00; color:#fff;}
#CV #CvFoot #Links a.message{}
#CV #CvFoot #Links a.estimation{}
/* incl_portefeuille01.htm */
#Portefeuille01{padding: 1em 0;}
#Portefeuille01 h3{font-size: 1.4em; border-bottom: 1px solid #bfbfbf; padding: 0 0 5px 0; margin: 0 0 10px 0;}
#Portefeuille01 a{padding: 5px 0; font-weight: bold;}
#Portefeuille01 a.typeTransac{}
#Portefeuille01 a.typeBien{margin: 0 0 0 30px;}
#Portefeuille01 .nbAnn{}