body { margin: 0; padding: 0; background: #fff; text-align: center; }
div, td { font-size: 13px; color: #0f0f0f; font-family: Arial, Helvetica, sans-serif; }
p:first-letter{font-variant:small-caps;}
li:first-letter{font-variant:small-caps;}
table  { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
input, select { vertical-align: middle; }
a { text-decoration: none; color: #0f0f0f; }
a:hover { text-decoration: none; }
img { border: none; display: inline; }


.clear1 { clear: left; }
.clear2 { clear: both; }
	/*strcucture*/
#marquee1 { width: 898px; height: 16px; overflow: hidden; background: url(../images/bg_marquee.gif) no-repeat; text-align: right; margin: 0 auto; }
#marquee2 { padding: 0 30px 0 330px; text-align: left; color: #ff701f; }
#wrapper1 { width: 898px; position: relative; background: url(../images/bg_wrapper1.gif) repeat-y; text-align: center; margin: 0 auto; }
#wrapper2 { width: 898px; background: url(../images/bg_wrapper2.gif) bottom no-repeat; text-align: left; }
#flash { width: 853px; height: 279px; overflow: hidden; margin: 0 auto; }
#lang { position: absolute; top: 40px; right: 25px; text-align: right; }
#contact { width: 853px; height: 30px; overflow: hidden; background-color: #af067e; text-align: center; margin: 1px auto; font-size: 13px; color: #fff; line-height: 30px; }
#contact a { font-size: 13px; color: #fff; }
#contact a:hover { font-size: 13px; color: #ffeb48; }
#contact span { font-size: 15px; font-weight: bold; }
#menu { width: 853px; height: 41px; overflow: hidden; background-color: #d27d00; margin: 0 auto 1px auto; }
#menu ul { margin: 0; padding: 0; list-style-type: none; }
#menu li { height: 41px; overflow: hidden; float: left; }
#menu span { display: none; }
/*menu fr*/
#menu a.menu1fr { width: 59px; height: 41px; overflow: hidden; background: url(../images/menu1_fr.gif) no-repeat; display: block; }
#menu a.menu1fr:hover { width: 59px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu2fr { width: 82px; height: 41px; overflow: hidden; background: url(../images/menu2_fr.gif) no-repeat; display: block; }
#menu a.menu2fr:hover { width: 82px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu3fr { width: 76px; height: 41px; overflow: hidden; background: url(../images/menu3_fr.gif) no-repeat; display: block; }
#menu a.menu3fr:hover { width: 76px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu4fr { width: 68px; height: 41px; overflow: hidden; background: url(../images/menu4_fr.gif) no-repeat; display: block; }
#menu a.menu4fr:hover { width: 68px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu5fr { width: 91px; height: 41px; overflow: hidden; background: url(../images/menu5_fr.gif) no-repeat; display: block; }
#menu a.menu5fr:hover { width: 91px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu6fr { width: 77px; height: 41px; overflow: hidden; background: url(../images/menu6_fr.gif) no-repeat; display: block; }
#menu a.menu6fr:hover { width: 77px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu7fr { width: 82px; height: 41px; overflow: hidden; background: url(../images/menu7_fr.gif) no-repeat; display: block; }
#menu a.menu7fr:hover { width: 82px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu8fr { width: 95px; height: 41px; overflow: hidden; background: url(../images/menu8_fr.gif) no-repeat; display: block; }
#menu a.menu8fr:hover { width: 95px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu9fr { width: 68px; height: 41px; overflow: hidden; background: url(../images/menu9_fr.gif) no-repeat; display: block; }
#menu a.menu9fr:hover { width: 68px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu10fr { width: 90px; height: 41px; overflow: hidden; background: url(../images/menu10_fr.gif) no-repeat; display: block; }
#menu a.menu10fr:hover { width: 90px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu11fr { width: 65px; height: 41px; overflow: hidden; background: url(../images/menu11_fr.gif) no-repeat; display: block; }
#menu a.menu11fr:hover { width: 65px; height: 41px; background-position: 0 -41px; display: block; }
/*menu en*/
#menu a.menu1en { width: 48px; height: 41px; overflow: hidden; background: url(../images/menu1_en.gif) no-repeat; display: block; }
#menu a.menu1en:hover { width: 48px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu2en { width: 74px; height: 41px; overflow: hidden; background: url(../images/menu2_en.gif) no-repeat; display: block; }
#menu a.menu2en:hover { width: 74px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu3en { width: 68px; height: 41px; overflow: hidden; background: url(../images/menu3_en.gif) no-repeat; display: block; }
#menu a.menu3en:hover { width: 68px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu4en { width: 91px; height: 41px; overflow: hidden; background: url(../images/menu4_en.gif) no-repeat; display: block; }
#menu a.menu4en:hover { width: 91px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu5en { width: 93px; height: 41px; overflow: hidden; background: url(../images/menu5_en.gif) no-repeat; display: block; }
#menu a.menu5en:hover { width: 93px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu6en { width: 107px; height: 41px; overflow: hidden; background: url(../images/menu6_en.gif) no-repeat; display: block; }
#menu a.menu6en:hover { width: 107px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu7en { width: 66px; height: 41px; overflow: hidden; background: url(../images/menu7_en.gif) no-repeat; display: block; }
#menu a.menu7en:hover { width: 66px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu8en { width: 57px; height: 41px; overflow: hidden; background: url(../images/menu8_en.gif) no-repeat; display: block; }
#menu a.menu8en:hover { width: 57px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu9en { width: 115px; height: 41px; overflow: hidden; background: url(../images/menu9_en.gif) no-repeat; display: block; }
#menu a.menu9en:hover { width: 115px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu10en { width: 69px; height: 41px; overflow: hidden; background: url(../images/menu10_en.gif) no-repeat; display: block; }
#menu a.menu10en:hover { width: 69px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu11en { width: 65px; height: 41px; overflow: hidden; background: url(../images/menu11_en.gif) no-repeat; display: block; }
#menu a.menu11en:hover { width: 65px; height: 41px; background-position: 0 -41px; display: block; }
/*menu de*/
#menu a.menu1de { width: 59px; height: 41px; overflow: hidden; background: url(../images/menu1_de.gif) no-repeat; display: block; }
#menu a.menu1de:hover { width: 59px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu2de { width: 94px; height: 41px; overflow: hidden; background: url(../images/menu2_de.gif) no-repeat; display: block; }
#menu a.menu2de:hover { width: 94px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu3de { width: 89px; height: 41px; overflow: hidden; background: url(../images/menu3_de.gif) no-repeat; display: block; }
#menu a.menu3de:hover { width: 89px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu4de { width: 77px; height: 41px; overflow: hidden; background: url(../images/menu4_de.gif) no-repeat; display: block; }
#menu a.menu4de:hover { width: 77px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu5de { width: 63px; height: 41px; overflow: hidden; background: url(../images/menu5_de.gif) no-repeat; display: block; }
#menu a.menu5de:hover { width: 63px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu6de { width: 103px; height: 41px; overflow: hidden; background: url(../images/menu6_de.gif) no-repeat; display: block; }
#menu a.menu6de:hover { width: 103px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu7de { width: 75px; height: 41px; overflow: hidden; background: url(../images/menu7_de.gif) no-repeat; display: block; }
#menu a.menu7de:hover { width: 75px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu8de { width: 57px; height: 41px; overflow: hidden; background: url(../images/menu8_de.gif) no-repeat; display: block; }
#menu a.menu8de:hover { width: 57px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu9de { width: 72px; height: 41px; overflow: hidden; background: url(../images/menu9_de.gif) no-repeat; display: block; }
#menu a.menu9de:hover { width: 72px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu10de { width: 57px; height: 41px; overflow: hidden; background: url(../images/menu10_de.gif) no-repeat; display: block; }
#menu a.menu10de:hover { width: 57px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu11de { width: 107px; height: 41px; overflow: hidden; background: url(../images/menu11_de.gif) no-repeat; display: block; }
#menu a.menu11de:hover { width: 107px; height: 41px; background-position: 0 -41px; display: block; }
/*menu it*/
#menu a.menu1it { width: 75px; height: 41px; overflow: hidden; background: url(../images/menu1_it.gif) no-repeat; display: block; }
#menu a.menu1it:hover { width: 75px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu2it { width: 89px; height: 41px; overflow: hidden; background: url(../images/menu2_it.gif) no-repeat; display: block; }
#menu a.menu2it:hover { width: 89px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu3it { width: 99px; height: 41px; overflow: hidden; background: url(../images/menu3_it.gif) no-repeat; display: block; }
#menu a.menu3it:hover { width: 99px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu4it { width: 79px; height: 41px; overflow: hidden; background: url(../images/menu4_it.gif) no-repeat; display: block; }
#menu a.menu4it:hover { width: 79px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu5it { width: 66px; height: 41px; overflow: hidden; background: url(../images/menu5_it.gif) no-repeat; display: block; }
#menu a.menu5it:hover { width: 66px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu6it { width: 87px; height: 41px; overflow: hidden; background: url(../images/menu6_it.gif) no-repeat; display: block; }
#menu a.menu6it:hover { width: 87px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu7it { width: 75px; height: 41px; overflow: hidden; background: url(../images/menu7_it.gif) no-repeat; display: block; }
#menu a.menu7it:hover { width: 75px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu8it { width: 58px; height: 41px; overflow: hidden; background: url(../images/menu8_it.gif) no-repeat; display: block; }
#menu a.menu8it:hover { width: 58px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu9it { width: 74px; height: 41px; overflow: hidden; background: url(../images/menu9_it.gif) no-repeat; display: block; }
#menu a.menu9it:hover { width: 74px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu10it { width: 105px; height: 41px; overflow: hidden; background: url(../images/menu10_it.gif) no-repeat; display: block; }
#menu a.menu10it:hover { width: 105px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu11it { width: 46px; height: 41px; overflow: hidden; background: url(../images/menu11_it.gif) no-repeat; display: block; }
#menu a.menu11it:hover { width: 46px; height: 41px; background-position: 0 -41px; display: block; }
/*menu ru*/
#menu a.menu1ru { width: 65px; height: 41px; overflow: hidden; background: url(../images/menu1_ru.gif) no-repeat; display: block; }
#menu a.menu1ru:hover { width: 65px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu2ru { width: 93px; height: 41px; overflow: hidden; background: url(../images/menu2_ru.gif) no-repeat; display: block; }
#menu a.menu2ru:hover { width: 93px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu3ru { width: 80px; height: 41px; overflow: hidden; background: url(../images/menu3_ru.gif) no-repeat; display: block; }
#menu a.menu3ru:hover { width: 80px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu4ru { width: 78px; height: 41px; overflow: hidden; background: url(../images/menu4_ru.gif) no-repeat; display: block; }
#menu a.menu4ru:hover { width: 78px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu5ru { width: 65px; height: 41px; overflow: hidden; background: url(../images/menu5_ru.gif) no-repeat; display: block; }
#menu a.menu5ru:hover { width: 65px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu6ru { width: 86px; height: 41px; overflow: hidden; background: url(../images/menu6_ru.gif) no-repeat; display: block; }
#menu a.menu6ru:hover { width: 86px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu7ru { width: 86px; height: 41px; overflow: hidden; background: url(../images/menu7_ru.gif) no-repeat; display: block; }
#menu a.menu7ru:hover { width: 86px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu8ru { width: 69px; height: 41px; overflow: hidden; background: url(../images/menu8_ru.gif) no-repeat; display: block; }
#menu a.menu8ru:hover { width: 69px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu9ru { width: 69px; height: 41px; overflow: hidden; background: url(../images/menu9_ru.gif) no-repeat; display: block; }
#menu a.menu9ru:hover { width: 69px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu10ru { width: 71px; height: 41px; overflow: hidden; background: url(../images/menu10_ru.gif) no-repeat; display: block; }
#menu a.menu10ru:hover { width: 71px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu11ru { width: 91px; height: 41px; overflow: hidden; background: url(../images/menu11_ru.gif) no-repeat; display: block; }
#menu a.menu11ru:hover { width: 91px; height: 41px; background-position: 0 -41px; display: block; }
/*menu pt*/
#menu a.menu1pt { width: 63px; height: 41px; overflow: hidden; background: url(../images/menu1_pt.gif) no-repeat; display: block; }
#menu a.menu1pt:hover { width: 63px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu2pt { width: 88px; height: 41px; overflow: hidden; background: url(../images/menu2_pt.gif) no-repeat; display: block; }
#menu a.menu2pt:hover { width: 88px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu3pt { width: 91px; height: 41px; overflow: hidden; background: url(../images/menu3_pt.gif) no-repeat; display: block; }
#menu a.menu3pt:hover { width: 91px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu4pt { width: 95px; height: 41px; overflow: hidden; background: url(../images/menu4_pt.gif) no-repeat; display: block; }
#menu a.menu4pt:hover { width: 95px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu5pt { width: 64px; height: 41px; overflow: hidden; background: url(../images/menu5_pt.gif) no-repeat; display: block; }
#menu a.menu5pt:hover { width: 64px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu6pt { width: 81px; height: 41px; overflow: hidden; background: url(../images/menu6_pt.gif) no-repeat; display: block; }
#menu a.menu6pt:hover { width: 81px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu7pt { width: 89px; height: 41px; overflow: hidden; background: url(../images/menu7_pt.gif) no-repeat; display: block; }
#menu a.menu7pt:hover { width: 89px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu8pt { width: 76px; height: 41px; overflow: hidden; background: url(../images/menu8_pt.gif) no-repeat; display: block; }
#menu a.menu8pt:hover { width: 76px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu9pt { width: 66px; height: 41px; overflow: hidden; background: url(../images/menu9_pt.gif) no-repeat; display: block; }
#menu a.menu9pt:hover { width: 66px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu10pt { width: 62px; height: 41px; overflow: hidden; background: url(../images/menu10_pt.gif) no-repeat; display: block; }
#menu a.menu10pt:hover { width: 62px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu11pt { width: 78px; height: 41px; overflow: hidden; background: url(../images/menu11_pt.gif) no-repeat; display: block; }
#menu a.menu11pt:hover { width: 78px; height: 41px; background-position: 0 -41px; display: block; }
/*menu nl*/
#menu a.menu1nl { width: 66px; height: 41px; overflow: hidden; background: url(../images/menu1_nl.gif) no-repeat; display: block; }
#menu a.menu1nl:hover { width: 66px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu2nl { width: 97px; height: 41px; overflow: hidden; background: url(../images/menu2_nl.gif) no-repeat; display: block; }
#menu a.menu2nl:hover { width: 97px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu3nl { width: 79px; height: 41px; overflow: hidden; background: url(../images/menu3_nl.gif) no-repeat; display: block; }
#menu a.menu3nl:hover { width: 79px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu4nl { width: 95px; height: 41px; overflow: hidden; background: url(../images/menu4_nl.gif) no-repeat; display: block; }
#menu a.menu4nl:hover { width: 95px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu5nl { width: 64px; height: 41px; overflow: hidden; background: url(../images/menu5_nl.gif) no-repeat; display: block; }
#menu a.menu5nl:hover { width: 64px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu6nl { width: 81px; height: 41px; overflow: hidden; background: url(../images/menu6_nl.gif) no-repeat; display: block; }
#menu a.menu6nl:hover { width: 81px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu7nl { width: 89px; height: 41px; overflow: hidden; background: url(../images/menu7_nl.gif) no-repeat; display: block; }
#menu a.menu7nl:hover { width: 89px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu8nl { width: 76px; height: 41px; overflow: hidden; background: url(../images/menu8_nl.gif) no-repeat; display: block; }
#menu a.menu8nl:hover { width: 76px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu9nl { width: 66px; height: 41px; overflow: hidden; background: url(../images/menu9_nl.gif) no-repeat; display: block; }
#menu a.menu9nl:hover { width: 66px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu10nl { width: 62px; height: 41px; overflow: hidden; background: url(../images/menu10_nl.gif) no-repeat; display: block; }
#menu a.menu10nl:hover { width: 62px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu11nl { width: 78px; height: 41px; overflow: hidden; background: url(../images/menu11_nl.gif) no-repeat; display: block; }
#menu a.menu11nl:hover { width: 78px; height: 41px; background-position: 0 -41px; display: block; }
/*menu es*/
#menu a.menu1es { width: 49px; height: 41px; overflow: hidden; background: url(../images/menu1_es.gif) no-repeat; display: block; }
#menu a.menu1es:hover { width: 49px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu2es { width: 102px; height: 41px; overflow: hidden; background: url(../images/menu2_es.gif) no-repeat; display: block; }
#menu a.menu2es:hover { width: 102px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu3es { width: 96px; height: 41px; overflow: hidden; background: url(../images/menu3_es.gif) no-repeat; display: block; }
#menu a.menu3es:hover { width: 96px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu4es { width: 103px; height: 41px; overflow: hidden; background: url(../images/menu4_es.gif) no-repeat; display: block; }
#menu a.menu4es:hover { width: 103px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu5es { width: 59px; height: 41px; overflow: hidden; background: url(../images/menu5_es.gif) no-repeat; display: block; }
#menu a.menu5es:hover { width: 59px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu6es { width: 85px; height: 41px; overflow: hidden; background: url(../images/menu6_es.gif) no-repeat; display: block; }
#menu a.menu6es:hover { width: 85px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu7es { width: 86px; height: 41px; overflow: hidden; background: url(../images/menu7_es.gif) no-repeat; display: block; }
#menu a.menu7es:hover { width: 86px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu8es { width: 53px; height: 41px; overflow: hidden; background: url(../images/menu8_es.gif) no-repeat; display: block; }
#menu a.menu8es:hover { width: 53px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu9es { width: 72px; height: 41px; overflow: hidden; background: url(../images/menu9_es.gif) no-repeat; display: block; }
#menu a.menu9es:hover { width: 72px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu10es { width: 89px; height: 41px; overflow: hidden; background: url(../images/menu10_es.gif) no-repeat; display: block; }
#menu a.menu10es:hover { width: 89px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu11es { width: 59px; height: 41px; overflow: hidden; background: url(../images/menu11_es.gif) no-repeat; display: block; }
#menu a.menu11es:hover { width: 59px; height: 41px; background-position: 0 -41px; display: block; }
/*menu cn*/
#menu a.menu1cn { width: 65px; height: 41px; overflow: hidden; background: url(../images/menu1_cn.gif) no-repeat; display: block; }
#menu a.menu1cn:hover { width: 65px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu2cn { width: 93px; height: 41px; overflow: hidden; background: url(../images/menu2_cn.gif) no-repeat; display: block; }
#menu a.menu2cn:hover { width: 93px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu3cn { width: 80px; height: 41px; overflow: hidden; background: url(../images/menu3_cn.gif) no-repeat; display: block; }
#menu a.menu3cn:hover { width: 80px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu4cn { width: 78px; height: 41px; overflow: hidden; background: url(../images/menu4_cn.gif) no-repeat; display: block; }
#menu a.menu4cn:hover { width: 78px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu5cn { width: 65px; height: 41px; overflow: hidden; background: url(../images/menu5_cn.gif) no-repeat; display: block; }
#menu a.menu5cn:hover { width: 65px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu6cn { width: 86px; height: 41px; overflow: hidden; background: url(../images/menu6_cn.gif) no-repeat; display: block; }
#menu a.menu6cn:hover { width: 86px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu7cn { width: 86px; height: 41px; overflow: hidden; background: url(../images/menu7_cn.gif) no-repeat; display: block; }
#menu a.menu7cn:hover { width: 86px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu8cn { width: 69px; height: 41px; overflow: hidden; background: url(../images/menu8_cn.gif) no-repeat; display: block; }
#menu a.menu8cn:hover { width: 69px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu9cn { width: 114px; height: 41px; overflow: hidden; background: url(../images/menu9_cn.gif) no-repeat; display: block; }
#menu a.menu9cn:hover { width: 114px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu10cn { width: 74px; height: 41px; overflow: hidden; background: url(../images/menu10_cn.gif) no-repeat; display: block; }
#menu a.menu10cn:hover { width: 74px; height: 41px; background-position: 0 -41px; display: block; }
#menu a.menu11cn { width: 43px; height: 41px; overflow: hidden; background: url(../images/menu11_cn.gif) no-repeat; display: block; }
#menu a.menu11cn:hover { width: 43px; height: 41px; background-position: 0 -41px; display: block; }
/*sous menu*/
#sm1, #sm2, #sm3, #sm4, #sm5, #sm6 { display: none; background: url(../images/bg_sousmenu.gif) bottom repeat-x #fff066; text-align: left; position: relative; border-left: 1px solid #d27d00; border-right: 1px solid #d27d00; padding: 10px; }
#sm1 a, #sm2 a, #sm3 a, #sm4 a, #sm5 a, #sm6 a { padding: 0 10px; color: #790b62; font-size: 10px; font-weight: bold; line-height: 16px; text-transform: uppercase; }
#sm1 a:hover, #sm2 a:hover, #sm3 a:hover, #sm4 a:hover, #sm5 a:hover, #sm6 a:hover { text-decoration: none; color: #932c7d; padding: 0 0 0 20px; }

#sm6 ul { margin: 0; padding: 0; list-style-type: none; }
#sm6 .level1 a { display: block; height: 20px; line-height: 20px; text-decoration: none; color: #790b62; cursor: pointer; }
#sm6 .level1 ul { display: none; }
#sm6 .level1 li { width: 160px; height: 20px; overflow: hidden; margin: 0; }
#sm6 .level1 li a { display: block; padding-left: 5px; text-decoration: none; color: #000; line-height: 20px; font-weight: bold; font-size: 11px; }
#sm6 .level1 li a:hover { color: #043468; }
/*fr*/
#sousmenu1fr { text-align: left; position: absolute; left: 82px; top: 353px; z-index: 3; }
#sousmenu2fr { text-align: left; position: absolute; left: 164px; top: 353px; z-index: 3; }
#sousmenu3fr { text-align: left; position: absolute; left: 240px; top: 353px; z-index: 3; }
#sousmenu4fr { text-align: left; position: absolute; left: 308px; top: 353px; z-index: 3; }
#sousmenu5fr { text-align: left; position: absolute; left: 399px; top: 353px; z-index: 3; }
#sousmenu6fr { text-align: left; position: absolute; left: 653px; top: 353px; z-index: 3; }
/*en*/
#sousmenu1en { text-align: left; position: absolute; left: 71px; top: 353px; z-index: 3; }
#sousmenu2en { text-align: left; position: absolute; left: 145px; top: 353px; z-index: 3; }
#sousmenu3en { text-align: left; position: absolute; left: 213px; top: 353px; z-index: 3; }
#sousmenu4en { text-align: left; position: absolute; left: 304px; top: 353px; z-index: 3; }
#sousmenu5en { text-align: left; position: absolute; left: 397px; top: 353px; z-index: 3; }
#sousmenu6en { text-align: left; position: absolute; left: 397px; top: 353px; z-index: 3; }
/*de*/
#sousmenu1de { text-align: left; position: absolute; left: 81px; top: 353px; z-index: 3; }
#sousmenu2de { text-align: left; position: absolute; left: 175px; top: 353px; z-index: 3; }
#sousmenu3de { text-align: left; position: absolute; left: 264px; top: 353px; z-index: 3; }
#sousmenu4de { text-align: left; position: absolute; left: 341px; top: 353px; z-index: 3; }
#sousmenu5de { text-align: left; position: absolute; left: 404px; top: 353px; z-index: 3; }
#sousmenu6de { text-align: left; position: absolute; left: 404px; top: 353px; z-index: 3; }
/*it*/
#sousmenu1it { text-align: left; position: absolute; left: 97px; top: 353px; z-index: 3; }
#sousmenu2it { text-align: left; position: absolute; left: 186px; top: 353px; z-index: 3; }
#sousmenu3it { text-align: left; position: absolute; left: 285px; top: 353px; z-index: 3; }
#sousmenu4it { text-align: left; position: absolute; left: 364px; top: 353px; z-index: 3; }
#sousmenu5it { text-align: left; position: absolute; left: 430px; top: 353px; z-index: 3; }
#sousmenu6it { text-align: left; position: absolute; left: 430px; top: 353px; z-index: 3; }
/*pt*/
#sousmenu1pt { text-align: left; position: absolute; left: 85px; top: 353px; z-index: 3; }
#sousmenu2pt { text-align: left; position: absolute; left: 173px; top: 353px; z-index: 3; }
#sousmenu3pt { text-align: left; position: absolute; left: 264px; top: 353px; z-index: 3; }
#sousmenu4pt { text-align: left; position: absolute; left: 359px; top: 353px; z-index: 3; }
#sousmenu5pt { text-align: left; position: absolute; left: 423px; top: 353px; z-index: 3; }
#sousmenu6pt { text-align: left; position: absolute; left: 423px; top: 353px; z-index: 3; }
/*nl*/
#sousmenu1nl { text-align: left; position: absolute; left: 88px; top: 353px; z-index: 3; }
#sousmenu2nl { text-align: left; position: absolute; left: 185px; top: 353px; z-index: 3; }
#sousmenu3nl { text-align: left; position: absolute; left: 264px; top: 353px; z-index: 3; }
#sousmenu4nl { text-align: left; position: absolute; left: 359px; top: 353px; z-index: 3; }
#sousmenu5nl { text-align: left; position: absolute; left: 423px; top: 353px; z-index: 3; }
#sousmenu6nl { text-align: left; position: absolute; left: 423px; top: 353px; z-index: 3; }
/*es*/
#sousmenu1es { text-align: left; position: absolute; left: 71px; top: 353px; z-index: 3; }
#sousmenu2es { text-align: left; position: absolute; left: 173px; top: 353px; z-index: 3; }
#sousmenu3es { text-align: left; position: absolute; left: 269px; top: 353px; z-index: 3; }
#sousmenu4es { text-align: left; position: absolute; left: 372px; top: 353px; z-index: 3; }
#sousmenu5es { text-align: left; position: absolute; left: 431px; top: 353px; z-index: 3; }
#sousmenu6es { text-align: left; position: absolute; left: 431px; top: 353px; z-index: 3; }
/*cn*/
#sousmenu1cn { text-align: left; position: absolute; left: 87px; top: 353px; z-index: 3; }
#sousmenu2cn { text-align: left; position: absolute; left: 180px; top: 353px; z-index: 3; }
#sousmenu3cn { text-align: left; position: absolute; left: 260px; top: 353px; z-index: 3; }
#sousmenu4cn { text-align: left; position: absolute; left: 338px; top: 353px; z-index: 3; }
#sousmenu5cn { text-align: left; position: absolute; left: 403px; top: 353px; z-index: 3; }
#sousmenu6cn { text-align: left; position: absolute; left: 403px; top: 353px; z-index: 3; }
/*ru*/
#sousmenu1ru { text-align: left; position: absolute; left: 87px; top: 353px; z-index: 3; }
#sousmenu2ru { text-align: left; position: absolute; left: 180px; top: 353px; z-index: 3; }
#sousmenu3ru { text-align: left; position: absolute; left: 260px; top: 353px; z-index: 3; }
#sousmenu4ru { text-align: left; position: absolute; left: 338px; top: 353px; z-index: 3; }
#sousmenu5ru { text-align: left; position: absolute; left: 403px; top: 353px; z-index: 3; }
#sousmenu6ru { text-align: left; position: absolute; left: 403px; top: 353px; z-index: 3; }
/**/
#content1 { width: 853px; background: url(../images/bg_content1.gif) repeat-y; margin: 0 auto; }
#content2 { width: 853px; background: url(../images/bg_content2.gif) no-repeat; }
#minheight-index { width: 23px; height: 400px; float: left; }
#content-index { width: 820px; float: left; }
#minheight { width: 130px; height: 400px; float: left; }
#content { width: 700px; float: left; text-align: left; padding: 25px 0; }

#left { width: 426px; float: left; text-align: left; }
#intro { width: 320px; padding-top: 11px;padding-left:90px; text-align: left; padding-bottom: 25px; }
#intro a {font-weight:bold; }
#intro a:hover{font-weight:bold;text-decoration:underline;}

.text1 { width: 200px; float: left; text-align: justify; line-height: 13px; }
.title1 { background: url(../images/bg_title1.gif) repeat-y; padding-left: 12px; border-bottom: 1px solid #770a60; color: #950776; font-weight: bold; line-height: normal; margin: 0 0 10px 0; }
.title1 span { font-size: 20px; color: #ff7521; line-height: normal; }
.locate { width: 103px; float: right; text-align: right; padding-top: 20px; }
.locate a.liste_agences_lien { background: url(../images/arrow_locate.gif) 0 2px no-repeat; padding-left: 15px; line-height: 11px; color: #b23087; font-weight: bold; }
.locate a.liste_agences_lien:hover { color: #ff7821; text-decoration: none; }
.text2 { text-align: justify; margin: 10px 0; }
#cdc { width: 426px; }
.cdc-photo { width: 210px; height: auto; overflow: hidden; float: left; text-align: left; }
.cdc-photo img { border: 2px solid #af067e; }
.cdc-descriptive { width: 195px; float: right; text-align: justify; line-height: 15px; }
.cdc-descriptive a .libelle1 { color: #780a61; }
.cdc-descriptive a .libelle2 { color: #ad0f7f; }
.cdc-descriptive a:hover { text-decoration: none; color: #ff7522; }
.title-cdc { background: url(../images/bg_title2.gif) repeat-y; border-bottom: 1px solid #ff7621; color: #ff7522; font-weight: bold; padding: 8px 0 0 15px; margin: 2px 0; text-transform: uppercase; text-align: left; }
#right1 { width: 378px; float: right; background: url(../images/spacer.gif) left top no-repeat; text-align: left; }
#right2 { padding-left: 20px; text-align: left; }
#search1 { width: 358px; background: url(../images/bg_search1.gif) repeat-y; }
#search2 { width: 358px; background: url(../images/bg_search2.gif) no-repeat; }
#search3 { width: 358px; background: url(../images/bg_search3.gif) bottom no-repeat; }
#min-search { width: 30px; float: left; height: 250px; }
#tab-search { width: 300px; float: left; text-align: left; padding: 23px 0 34px 0; }
#services { padding-left: 11px; text-align: left; }
#tools { padding-left: 20px; padding-bottom: 10px; }
.title-services { background: url(../images/bg_title1.gif) repeat-y; padding: 2px 0 2px 15px; text-align: left; margin: 0; font-weight: bold; text-transform: uppercase; border-bottom: 1px solid #af067e; color: #760a5f; }
#tools ul { width: 230px; margin: 10px 0 10px 5px; padding: 0; list-style-type: none; }
#tools li { width: 230px; float: left; background: url(../images/arrow_tools.gif) 0 2px no-repeat; text-align: left; padding-left: 10px; }
#tools li a { color: #93047b; }
#tools li a:hover { color: #ff6c01; }
#tools img { width: 63px; margin-top: 10px; }
#alert { width: 341px; height: 56px; overflow: hidden; background: url(../images/bg_alert.gif) no-repeat; display: block; text-align: left; }
#alert span { display: block; padding-left: 95px; padding-top: 15px; color: #ad0f7f; }
a#alert:hover span { color: #ff6c01; }
#footer { width: 898px; height: 35px; overflow: hidden; background: url(../images/bg_footer.gif) no-repeat; text-align: center; margin: 0 auto; }
#footer span { font-size: 10px; color: #af067e; display: block; padding-right: 45px; padding-top: 5px; }
#footer a { color: #af067e; font-size: 10px; }
#footer a:hover { color: #ff7521; }
	/*guide*/
#MenuGuide { 
	text-align: left; 
}
#MenuGuide table { 
	margin: 0 auto; 
}
#MenuGuide a {
	font-weight: bold;
	color: #62064f; 
	text-decoration: none; 
	line-height: 20px;
	font-size: 12px;
}

#MenuGuide a:hover { 
	color: #f7971e; 
}

#MenuGuide td { 
	text-align: left; 
}

#PageDossiers table { 
	margin: 0 auto; 
	width: 100%; 
}

#PageDossiers p { 
	margin: 5px 0; 
}

#PageDossiers td { 
	padding: 2px 5px; 
}

.txtTitre3 { 
	color: #ff7521; 
	font-weight: bold; 
	font-size: 12px; 
	text-align: left; 
}
.grasnews { font-weight: bold; font-size: 12px; color: #950776; }
.gras {
	padding: 2px 5px 2px 15px;
	background: url(../images/bg_title1.gif) 0 4px no-repeat;
	color: #950776;
	font-weight: bold;
}

.gras u { 
	text-decoration: none; 
}

.encadre {
	border: none;
	padding: 5px;
	background: #ffec4f;
	line-height: 14px;
}

.encadre table {
	width: 100%;
}

.encadre .gras {
	padding: 0;
	margin-bottom: 5px;
	border: none;
	background: #ffec4f;
	color: #950776;
	line-height: 12px;
}

.encadre a { 
	color: #030e77; 
}

.encadre a:hover { 
	color: #950776; 
}

.table_news strong { 
	color: #ff7521; 
}

.table_news, .encadre table {
	border-top: 1px solid #ffec4f;
	border-left: 1px solid #ffec4f;
	border-bottom: none;
	border-right: none;
	background: #9ca7bb;
}

.table_news td, .encadre td {
	border-bottom: 1px solid #ffec4f;
	border-right: 1px solid #ffec4f;
	border-left: none;
	border-top: none;
	background: #fff;
	font-size: 10px;
	padding: 5px;
}
   
.table_news .gras {
	padding: 3px 5px;
	margin: 0;
	background: #ffce89;
	color: #950776;
	line-height: 12px;
}
	/*page formulaire*/
.tabFond1 { background: none; width: 100%; }
.tabFond1 td { padding: 2px 10px; }
.tabFond1 table { text-align: left; }
.tabTitre { font-size: 16px; height: 25px; color: #fff; margin: 0 0 10px 0; padding: 0; font-weight: bold; text-align: center; background: url(../images/bg_tab.gif) repeat-x; }
.messageNomAgence, .estimationNomAgence { font-size: 18px; text-align: center; color: #ff7521; margin: 0; padding: 5px; font-weight: bold; display: block; }
.tabFond1 .Input { margin-bottom: 2px; }
#CguFormulaire { background: url(../images/bg_boitealerte.gif) bottom repeat-x; padding: 10px; text-align: left; color: #af067e; }
#CguFormulaire a { color: #fff; text-decoration: underline; }
#CguFormulaire a:hover { color: #fff; text-decoration: none; }
	/*page alerte*/
#PageAlert td { text-align: left; }
#PageAlert strong { color: #ff7521; }
#PageAlert a { font-size: 14px; font-weight: bold; color: #950776; display: block; margin-left: 50px; padding-left: 20px; background: url(../images/bg_title1.gif) 0 4px no-repeat; }
#PageAlert a:hover { font-size: 14px; color: #ff7521; text-decoration: none; display: block; margin-left: 50px; }
/**/
.nav { line-height: 16px; }
.left-nav { width: 510px; float: left; text-align: left; padding-bottom: 10px; }
.right-nav { width: 180px; float: right; text-align: right; padding-bottom: 10px; }
.nav strong { color: #770a60; }
.nav ul { margin: 5px 0 10px 0; padding: 0; list-style-type: square; }
.nav li { line-height: 16px; margin-left: 15px; }
.main-title1 { font-size: 18px; font-weight: bold; color: #ff7521; margin: 0; text-align: center; display: block; text-transform: uppercase; }
.main-title2 { font-size: 12px; font-weight: bold; text-align: center; display: block; }
.nav-title1 { background: url(../images/bg_title3.gif) repeat-y; padding-left: 15px; color: #af067e; font-weight: bold; font-size: 15px; border-bottom: 1px solid #af067e; margin: 24px 0 12px 0; }
.tab-nav1 { width: 97%; background: #ff9309 url(../images/bg_boitealerte.gif) bottom repeat-x; border: 1px solid #fff; padding: 0; text-align: center; padding: 10px 0; margin: 5px 0 0 0; }
.tab-nav2 { width: 97%; margin: 0 auto; text-align: center; color: #770a60; font-size: 12px; }
.tab-nav2 span, .tab-nav2 strong { font-size: 13px; font-weight: bold; }
.tab-nav2 .white, .tab-nav2 a { color: #af067e; }
.nav table { width: 97%; margin: 0 auto; }
.nav td  { vertical-align: top; text-align: center; padding: 4px; }
.nav td img, .right-nav img { border: 2px solid #ffd910; }
.in-tab { width: 130px; background: url(../images/bg_boitealerte.gif) bottom repeat-x; padding: 5px 0; text-align: center; color: #af067e; margin: 0 auto; height: 75px;  }
.in-tab strong { display:block; margin-bottom:2px; font-size: 12px; color: #770a60; }

.nav-back { text-align: right; margin: 2px 0; }
.nav-back a { font-size: 14px; color: #ff7521; font-variant: small-caps; font-weight: bold; }
.nav-link { margin-left: 50px; }
.nav-link a { font-weight: bold; font-size: 12px; color: #770a60; }
.nav-link a:hover { color: #ff7521; text-decoration: none; }
.nav-link ul { margin: 0 0 0 15px; padding: 0; list-style-type: none; }
.nav-link li li { background: url(../images/arrow3.gif) 0 6px no-repeat; padding-left: 10px; }
.nav-link .list-link1 { font-weight: bold; font-size: 14px; color: #770a60; }
.nav-link .list-link2 { color: #000; text-transform: uppercase; background: none; }
.nav-link .list-link2 a { text-transform: none; }
.nav-link .list-link1 a {font-weight: bold; font-size: 14px; color: #770a60; }

.tab1 { background-color: #af067e; font-size: 12px; color: #fff; font-weight: bold; }
.tabrappel { width:96%; padding: 20px; text-align: center;background-color: #af067e; font-size: 12px; color: #fff; font-weight: bold; }
.tabrappel a{color: white;}

.nav-title3 { color: #af067e; font-weight: bold; font-size: 18px;  margin: 24px 0 12px 0; text-decoration:underline }
	
	.photocognac{width: 100%;}
	.photocognac td{margin:0;padding:0}
	.photocognac td img{border: none;}
	
div.tabrappel{background:#fff;}
#immobilier td{padding:5px;font-size:11px;}

.charente strong { color: #770a60; }
.charente span {color:#000; font-weight:bold;}
.charente p {color: #770a60;}
.charente a{color: #770a60; text-decoration:underline;}
.charente2 {font-size: 18px; font-weight: bold; color: #ff7521; margin: 0; text-align: center; display: block; text-transform: uppercase;}

.BoutonFormContact, .MoteurBouton input, .boutonEnvoi { width:103px; height:22px;}

#gestion {text-align:center; margin-bottom:200px;}
#gestion span {font-size:20px; font-weight:bold; color:#AF067E; line-height:24px;}