/* $$DYN:ID3:NOFOOTER$$ */
div, td, .Marquee, .ListeVilles { font-family: Arial, Helvetica, sans-serif; }
.ContenuAnnonce { padding: 0; }

.Legende { font-family: Arial, Helvetica, sans-serif; }
.Pasdannonce { color: #0f0f0f; padding: 0; }
.Titre0ann { font-weight: bold; font-size: 14px; color: #ff7521; }
.BoitePhraseRecherche { font-size: 12px; font-weight: bold; background: none !important; }
.NbAnnonces { color: #7c0000; }
.BoutonLegende {}
.RechercheTri { margin-bottom: 10px; }
.NbPages { background: none; height: 25px; line-height: 25px; padding: 3px 5px; margin: 10px 0; border-bottom: 1px solid #ff7521; text-align: right; }
.NbPagesNb { color: #af067e; font-weight: bold; }
.NbPagesLiens { color: #af067e; }
.NbPagesLiens a { color: #ff7521; font-weight: bold; }
.montrer { 
	position:absolute;
	z-index:10;
	top:-20px;
	left:20px;
	width:220px;
	background-color:#eec0de;
	text-align:center;
	border:1px solid #fcf3d9;
	padding:3px;
 }
.montrer img { border: none; }
.ContenuPopup { font-weight: normal; color: #7c0000; }
.Ville1 { color: #790b62; font-weight: bold; }
.DescrTitre { color: #790b62; padding-left: 15px; font-size: 14px; background: url($$_$$images/arrow1.gif) 0 5px no-repeat; } 
.close1 { font-size: 10px; }
.BoiteAnnonce { background: #fadef0; border: none; margin: 5px 0; }
	/*Ligne1 colonne1*/
.Ligne1 { background: url($$_$$images/bg_ligne.gif) bottom repeat-x; padding: 5px 0; border-bottom: none; }
.Colonne1 { width: 60%; float: left; padding-left: 10px; }
.RechercheLibelle { padding-left: 15px; font-size: 14px; background: url($$_$$images/arrow1.gif) 0 2px no-repeat; }
.RechercheLibelle, .RecherchePrixEuro{ color: #fff; font-weight: bold; font-size: 14px; }
.RechercheSurface, .RechercheSituation { float: left; clear: left; padding-left: 0; color: #fff; }
.RechercheSurfaceTerrain { font-style: italic; color: #fff; }
.RechercheSituationLien, .RechercheSituationCP { color: #fff; }
.RechercheSituationVille, .RechercheSituationProximite, .RechercheRefAnnonce { font-weight: bold; color: #fff14a; }
.Colonne2 { width: 30%; float: right; padding-right: 10px; }
.RecherchePrix, .RecherchePrixRent, RecherchePrixFranc { font-style: italic; color: #fff; }
	/*ColonnePhoto*/
.ColonnePhoto, .ColonnePhotoExclusif { margin: 5px; text-align: center; $$IF!:8:FORM:IDTT$$width: 200px;$$END$$$$IF=:8:FORM:IDTT$$width: 300px;$$END$$ }
.RechercheVisuelsPhoto a { }
a.RechercheVisuelsPhotoLien { padding: 0 0 5px 0; text-align: center; }
.RechercheVisuelsPhoto img { border: none; width: 200px; height: 150px; }
	/*Colonne déscriptif*/
.ColonneDescriptif { margin: 0; text-align: left; float: right; padding-top: 20px; $$IF!:8:FORM:IDTT$$width: 470px;$$END$$$$IF=:8:FORM:IDTT$$width: 320px;$$END$$}
.RechercheDescriptif { margin: 0 10px; }
.RechercheDtFraicheurLibelle { color: #b23087; font-weight: bold; }
.RechercheDtFraicheur { margin: 0 10px; }
	/*colonne pictos*/
.ColonnePicto { width: 570px; float: left; margin-left: 5px; }
.RechercheTelephone { width: 350px; margin: 0; }
.RecherchePlan { margin: 10px 0 5px 0; padding: 0 2px; color: #b23087; }
.Picto { margin: 5px 0; float: right; width: 220px; }
.Picto div { float: left; padding-right: 5px;}
.recherchetelephonetitrecontact, .RechercheTelephoneTel, .RechercheProximite { color: #b23087; }
.RechercheTelephone { width: 200px; text-align: left; font-size: 12px; font-weight: bold; border: none; float: left; }
.Metro { color: #b23087; }
/* Finance */
.Finance { background: url($$_$$images/bg_ligne.gif) bottom repeat-x; border: none; height: 30px; line-height: 30px; padding: 0 5px; }
.RechercheHautLien { color: #fff; padding-left: 15px; background: url($$_$$images/arrow1.gif) 0 2px no-repeat; }
.RechercheHautLien a:hover { color: #fff; text-decoration: none; }
.RecherchePlusInfo { padding-right: 10px; }
.RecherchePlusInfo a { color: #fff; }
.RecherchePlusInfo a:hover { color: #fff; text-decoration: none; }
.RecherchePlusInfoLien { padding-left: 15px; background: url($$_$$images/arrow1.gif) 0 2px no-repeat; }
.RecherchePlusInfoLien a { color:#fff; }
.RecherchePlusInfoLien a:hover { color: #fff; text-decoration: none; }
.RecherchePlusInfoVille { color: #fff; font-weight: bold; }
/* alerte email */
.BoitePubAlerte {
	width: 100%;
	border: 1px solid #fff;
	color : #770a60 !important;
	margin-top: 5px;
	padding: 5px 0;
	background: url($$_$$images/bg_boitealerte.gif) bottom repeat-x;
}
.AlerteEmail {
	width: 20%;
	float: left;
	text-align: left;
	padding-top: 5px;
}
.AlerteGratuit {
	float: left;
	width: 75%;
	color: #770a60 !important;
}
.AlerteEmail a{
	font-weight: bold;
	font-size: 1.3em;
	color: #770a60 !important;
	text-decoration: underline;
	float: right;
	padding-right: 10px;
}

.AlerteEmail a:hover{
	font-size: 1.3em;
	font-weight: bold;
	color : #770a60 !important;
	display: block;
	text-decoration: underline;
	float: right;
	padding-right: 10px;
}

.AlerteGratuit a {
	font-size: 1.1em;
	display: block;
	float: left;
	font-weight: bold;
	color : #fff !important;
}

.AlerteGratuit a:hover {
	font-size: 1.1em;
	display: block;
	float: left;
	font-weight: bold;
	color : #770a60 !important;
}

