/* ici configuration */

.roundabout-holder,.roundabout-moveable-item {height: 160px; }   /* hauteur des vignettes */
.roundabout-moveable-item {width:300px;}											   /* largeur des vignettes */
.roundabout-moveable-item  img {width:300px;height:160px;}

.roundabout-moveable-item {;
	
	/* Style de la bordure autour des vignettes */
   /* pour des bords arrondis
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px;     
    fin bords arrondis */   
    
    /* Pour les ombres*/ 
    -moz-box-shadow: 5px 5px 8px #000;  
    -webkit-box-shadow: 5px 5px 8px #000;  
    box-shadow: 5px 5px 8px #000; 
    
    border:solid #fff 4px;
}


/* configuration du texte descriptif */

.roundabout-moveable-item .description{
	display: none;
	position: absolute;
	bottom: 0px;
	left:0px;	
	width: 100%;
	height: 100px;
	background: url(../carrousel/pix.png);	
	text-decoration: none;
}
.roundabout-moveable-item a:hover{text-decoration: none;}
.roundabout-moveable-item .description .description-text{padding: 10px;color: #fff;}

#carrouselobj .prix-cdc{color: red; font-size: 16px;font-weight: bold;}
#carrouselobj .descriptif-cdc{color: #fff;font-size: 12px;}
#carrouselobj .espace-cdc{float: right;}
#carrouselobj .typetransaction-cdc,#carrouselobj  .typebien-cdc,#carrouselobj .ville-cdc{font-size: 14px;font-weight: bold;}



/* ne pas modifier ci dessous */
.roundabout-moveable-item {cursor: pointer;position: relative;}
.roundabout-holder  { padding: 0;width: 100%; }

				
.roundabout-moveable-item  img {display:block; height:100%; width:100%;}
.roundabout-in-focus {cursor: auto;}
#carrouselobj, #carrouselobj li {list-style:none;margin:0  !important;padding:0 !important}

#carrouselobj{width:730px;}
 