// VAR COLORS
$color-body:#e2e2e2;
$color-content:#1a1a1a;
$color-block:#f4f4f4;
$color-primary:#f4f4f4;
$color-secondary:#333333;
$color-action:#8d8786;
$color-important:#bfdaf0;
$color-nav-footer:#393c3d;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#393c3d;