$$REM$$ /*====================================================================================
//// <summary>Fiche de visite (anciennement print_annonce)</summary>
//// <remarks>
//// <para>Méthode : 1) déclaration macros par défaut / 2) include fichier de macros mutualisé / 3) inlude fichier demacros démutualisé</para>
//// <para>Toute modification CSS de ce fichier devra être effectuée dans votre "commun.css"</para>
//// <para>Liste des macros générales pour faciliter la customisation des sites</para>
//// <para>Interdiction de démutualiser ce css, car les updates ne pourront pas s'appliquer aux sites qui le feront</para>
//// </remarks>
//// <update date="2010-08-13" author="lisbonne.siriphol">Création</update>
==================================================================================== */ $$END$$

$$REM$$ /* ============================================================================================
 //////////////////////////////////// MACROS CHEMIN DES REPERTOIRES ///////////////////////////////////
============================================================================================= */$$END$$
<!--#include virtual="styles/macros_path.htm" -->

$$REM$$ /* ===============================================================================================================
 /////////////////////////// MACROS PAR DEFAUT (modifiables dans votre styles/all_global_macros.htm)//////////////////////////
================================================================================================================ */$$END$$
<!--#include virtual="styles/macros_fiche_visite.htm" -->

$$REM$$ /* ============================================================================================
 ////////////////////////////////////// MACROS GENERALES PERSOS //////////////////////////////////////
============================================================================================= */$$END$$
<!--#include virtual="styles/detail_dpe.css" -->
<!--#include virtual="styles/macros_cdc.htm" -->
<!--#include virtual="styles/all_global_macros.htm" -->



/*======================================= general =============================================*/
*{font-family: verdana; font-size: 13px; color: $$FICHE_TXT$$; margin:0; padding: 0; border: none; background:#ececea;}
ul,li{list-style: none;}
table{width: 100%;}
table,td{border-collapse: collapse;}
a{}
a:hover{text-decoration: none;}$$REM$$
/* on ne met pas le bg site sur body, car on veut que la couleur de fin du footer ne soit pas coupée > voir #Ctn*/$$END:REM$$
body{background: #ececea; text-align: center; padding: 5px 0;}

/*======================================= titre =============================================*/
h1{color: $$FICHE_TXT_TITRE_RUBRIQUE$$; font-size: 14px;}
h4{color: $$FICHE_TXT_TITRE_RUBRIQUE$$; font-size: 11px; font-weight: normal; margin: 5px 0 0 0;}

/* ======================================= styles récurants ======================================= */
.clear{clear: both; height: 0;}


/* ======================================= conteneur ======================================= */
#Wrap{width: 720px; margin: auto; text-align: left;}


/* ======================================= head ======================================= */
#Header{padding: 0 0 5px 0;}
#Header h1{float: left; color: $$FICHE_TXT$$; padding: 2px 0 2px 22px; font-size: 12px;}
#Header h1 img{display: block; position: absolute; margin: -2px 0 0 -22px;}
#Header a{display: block; float: right; padding: 3px 0;}
#Header a.fermer{display: block; float: right; padding: 3px 15px 3px 0; margin: 0 0 0 20px; background: $$FICHE_PICTO_FERMER$$;}
.txt-footer { font-size: 16px; font-family: "Times New Roman", Times, serif; text-align:center; color: #91918f; font-style: italic; position:relative; }

/* ======================================= ctn ======================================= */
#Ctn{border: 0px; padding: 0 10px 10px 10px; background: #ececea;}

/* coordonnées */
#Coords{border-bottom: $$FICHE_BORDER_POINTILLES$$;}
#Coords .col1{width: 150px; vertical-align: center;}
#Coords .col1 img{display: block; margin: 0px auto; }
#Coords .col2{padding: 5px 10px;}
#Coords .col2 a{color: $$FICHE_TXT_TITRE_RUBRIQUE$$;}

/* ============================== cdc, exclu, promo, nouveau ============================== */
#CoupDeCoeur{display:none;}
#Exclusif{display:none;}
#Promo{display:none; }
#Nouveau{display:none; }
p.reference {font-size:14px; font-weight:normal; font-style:italic; font-family: Georgia, "Times New Roman", Times, serif; color:#737371; background:#f2bad3; color:#737371; padding: 2px 7px; margin:10px 0 0 0; display:inline;}
/* photo */
#Ann{margin: 10px 0 0 0;}
#Ann td{vertical-align: top;}
#Ann .col1{width: 290px;}
#Ann .col1 .photo_ctn{border: 0; background: none; min-height: 180px;}
#Ann .col1 .grandePhoto{width: 328px; display: block; margin: 5px 0;}
#Ann .col1 .petitePhoto{width: 160px; height: 105px; display: block; float: left; margin: 2px 2px 2px 2px;}
/* infos annonce */
#Ann .col2{padding: 0 0 0 10px;}
#Libelle,
#PrixAnn,
#RefAnnonce{font-size:27px; font-weight:normal; font-family: Georgia, "Times New Roman", Times, serif; margin:0 0 20px 0;}
#PrixAnn *{color: $$FICHE_TXT_TITRE_RUBRIQUE$$}
/* informations spécifiques metro */
.metro_ctn{}
.metro,
.rer,
.tcl{padding: 3px 15px 3px 0;}
.picto_metro{float: left; clear: left; width: 19px; height: 19px; margin: 0 4px 0 0;}
.picto_rer{float: left; clear: left; width: 19px; height: 19px;}
.picto_tcl{float: left; clear: left; width: 18px; height: 18px;}

/*  ============================== descriptif  ============================== */
#Descriptif{}
#Descriptif .titreDescriptif{display: none;}
#Descriptif .txtDescriptif{text-align: justify;}

.notes {background:#fff;}

/* ============================== infos complémentaires ============================== */
#InfosComp{padding: 5px 0; margin: 10px 0; border-top: $$FICHE_BORDER_POINTILLES$$; border-bottom: $$FICHE_BORDER_POINTILLES$$;}
#InfosComp h4{position: relative; margin: 0 0 3px 0;}
#InfosComp p{float: left; width: 220px; margin: 0 10px 0 0;}


/* ============================== bloc infos à écrire ============================== */
.blocInfos{border: $$FICHE_BORDER$$; margin: 3px 0 5px 0;}
.blocInfos td{padding: 2px 5px;}
.blocInfos td.paddingBas{padding: 2px 5px 6px 5px;}
.blocInfos input{background: none; border: none; border-bottom: $$FICHE_BORDER_POINTILLES$$; font-weight: bold; text-align: center;}
.blocInfos .size1{width: 180px;}
.blocInfos .size2{width: 50px;}
.blocInfos .size3{width: 110px;}
.blocInfos .size4{width: 100%;}
.blocInfos textarea{border: none; background: none; width: 100%; height: 100px;}