// VARIABLES COLORS
$color-body:#fff;
$color-content:#e1e1e1;
$color-block:#d8d8d8;
$color-primary:#a1a1a1;
$color-secondary:#bbb;
$color-action:#4c4c4c;
$color-important:#ff2109;
$color-nav-footer:#4c4c4c;

// COLOR PICTO
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#666;
$color-jaune:#fefe00;