// VAR COLORS
$color-body:#f7f7f7;
$color-content:#1a1a1a;
$color-block:#ffffff;
$color-primary:#9c9d9f;
$color-secondary:#545456;
$color-action:#7d7e80;
$color-important:#545456;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;

// COLOR SOUS MENU
$color-sous-menu:$color-primary;
