/*	===========================================  GÉNÉRAL	=========================================== */
#HeaderTxt h2 {color:#1e6cc1;}
#HeaderTxt p {color:#5f5f5f;}
#FilAriane span {color:#fff;}
#FlusRSS a.fluxRSS {color:#fff;}
#Coordonnees .agenceNom, #Coordonnees .agenceEmail a{color:#1e6cc1; font-weight:bold;}

/*	===========================================  ACCUEIL	=========================================== */
/* Portefeuille */
#PortefeuilleAccueil h4 a {color:#5f5f5f;}
#PortefeuilleAccueil h4 a:hover {color:#1e6cc1;}
#PortefeuilleAccueil ul li a {color:#1e6cc1;}
#PortefeuilleAccueil ul li a:hover {color: #5f5f5f;}
#PortefeuilleAccueil h6 {color:#5f5f5f;}
#PortefeuilleAccueil h6 span {color:#1e6cc1;}
#PortefeuilleAccueil ul li {border-bottom:1px dotted #1e6cc1;}

/* Mini-moteur */
#MiniBouton .boutonSubmit {color:#1e6cc1; border:1px solid #5f5f5f;}
/* Nouveautés */
.selectionDescr .selectionSurface,.selectionDescr .selectionNbPieces, .selectionDescr .selectionTxt {color:#000;}


/*	===========================================  MOTEUR, RECHERCHE	=========================================== */
#Moteur * {color:#fff;}
#Moteur .moteurTable ul li#nb_pieces, #Moteur .moteurTable ul li#nb_chambres {background-color:#1e6cc1; border-top:1px solid #fff;}
#Moteur #MoteurBouton .inputSubmit {color:#1e6cc1; border:1px solid #5f5f5f;}


/*	===========================================  RECHERCHE, BASIC	=========================================== */
#RechHautLiens a.rss {color:#fff;}
#RechHautPictoResult {background-color:#5f5f5f;}
#AlerteEmail #AlerteForm input.alerte {background-color:#1e6cc1; border:1px solid #fff;}
#AlerteEmail #AlerteForm input.alerteBt {color:#5f5f5f; border:1px solid #1e6cc1;}
#RechPagesHaut .rechLiensPages a:hover, #RechPagesBas .rechLiensPages a:hover {background-color:#fff; color:#1e6cc1;}
#RechPagesHaut .rechLiensPages a.actif, #RechPagesBas .rechLiensPages a.actif {background-color:#fff; color:#1e6cc1;}
#RechPagesHaut .rechLiensPages a:hover span, #RechPagesBas .rechLiensPages a:hover span {background-color:#fff; color:#1e6cc1;}

/*	===========================================  AGENCES, LISTE	=========================================== */
.cadreAgence h2 {color:#fff; text-decoration:underline;}
.cadreAgence {background-color:#5f5f5f;}
.agImmoPortefeuille_Ctn {background-color:#1e6cc1; border:1px solid #fff;}


/*	===========================================  CONTACT, ESTIMATION	=========================================== */
#FormContactAgence .inputSubmit {color:#1e6cc1; border:1px solid #5f5f5f;}

/*	===========================================  OUTILS, CALCULETTES	=========================================== */
.accordion_content {background: none; border-bottom:1px solid #fff; border-right:1px solid #fff; border-left:1px solid #fff;}
#Outils h3 {border:1px solid #fff;}
.accordion_content .inputCalcul {color:#1e6cc1; border:1px solid #5f5f5f;}



/*	===========================================  DETAIL, SENTO	=========================================== */
#ChampsBouton .inputSubmit {color:#5f5f5f; border:1px solid #1e6cc1;}
#Annonce_Ctn td#ColonneGauche {background:none; border:none;}
.ad-gallery .ad-nav .ad-thumbs {border-top:1px solid #fff; border-bottom:1px solid #fff;}
.ad-gallery .ad-back {border-left:1px solid #fff; border-top:1px solid #fff;}
.ad-gallery .ad-forward {border-right:1px solid #fff; border-top:1px solid #fff;}

/*	===========================================  AGENCE, IMMOBILIERE	=========================================== */
#AgImmoDroite .AgImmoContact a, #AgImmoDroite .AgImmoEstimation a {color:#1e6cc1; border:1px solid #5f5f5f;}
#MapMicrosoft #MapHead * {color:#1e6cc1; font-weight:bold;}
#MapMicrosoft .geolocInfo {color:#1e6cc1;}
#AgImmoDroite p, #AgImmoDroite p * {padding-top:10px; text-align:justify;}

/*COULEURS
gris: #5f5f5f
bleu: #1e6cc1

*/