body { margin: 0; padding-top: 26px; text-align: center; background:url(../images/bg_body.gif) repeat-x #7c1016; text-align:center; }
table  { border-collapse: collapse; border-spacing: 0; }
img { border: none; display: inline; }
div, td { font-family: Arial, Helvetica, sans-serif; font-size:12px; color: #010101; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; }
a { color: #910006; text-decoration: none; }
a:hover { color: #d49e00; }
p { margin: 10px 0; padding:0; }

	/*structure*/



.link-acc { text-align:center; background:url(../images/fd_acc.gif) no-repeat; width: 170px; height: 28px; color: #e8b807; font-size:14px; font-weight: bold; margin-left: 24px; }
.accue { padding-top: 6px; }
.accue a { font-size:14px; font-weight: bold; color: #e8b807; }
.ht-acc { width: 1000px; margin: 0 auto; text-align:left; padding-left: 25px; }

#wrap { background:url(../images/background_repeat.jpg) repeat-y; width: 1000px; margin: 0 auto; }
.bg-main { background:url(../images/bg_repeat.jpg) no-repeat; width: 1000px; }

#top { background:url(../images/bg_head.jpg) no-repeat; width: 990px; margin: 0 auto; }
#logo { float:left; width: 424px; padding-left: 10px; }
.adresse { text-align:left; padding-left: 190px; font-size:12px; font-weight: bold; float:left; width: 245px; *padding-top: 4px; _padding-top: 4px;  }
.adresse strong { color: #910006; }
.adresse img { padding-top: 2px; }
.phone { float:left; padding-left: 5px; *padding-top: 4px; _padding-top: 4px; }
.phone  strong { color:#920106; font-size:12px;  *padding-top: 4px; _padding-top: 4px; }
.pic-tel { float:left; *padding-top: 4px; _padding-top: 4px; }

#menu { width: 970px; height: 45px; position:relative; margin: 0 auto; background:url(../images/bg_menu.gif) repeat-x; }
#menu ul { margin: 0; padding: 0; list-style-type: none; }
#menu li { position: relative; height: 45px; overflow: hidden; float: left; }
#menu li a { display: block; background-repeat: no-repeat; height: 45px; overflow: hidden; }
#menu li a:hover { background-position: 0 -45px; position: relative; }
/*fr*/
#menu .mn1 { width: 111px; background-image: url(../images/mn1.gif); }
#menu .mn2 { width: 89px; background-image: url(../images/mn2.gif); }
#menu .mn3 { width: 96px; background-image: url(../images/mn3.gif); }
#menu .mn4 { width: 89px; background-image: url(../images/mn4.gif); }
#menu .mn5 { width: 101px; background-image: url(../images/mn5.gif); }
#menu .mn6 { width: 145px; background-image: url(../images/mn6.gif); }
#menu .mn7 { width: 87px; background-image: url(../images/mn7.gif); }
#menu .mn8 { width: 111px; background-image: url(../images/mn8.gif); }
#menu .mn9 { width: 141px; background-image: url(../images/mn9.gif); }

.mise { background-color: #8b8b8b; height: 23px; margin-left: 1px; }
.vous { padding: 5px; font-weight: bold; color: #c1c1c1; font-size: 12px; float:left; }
.vous strong { color: #e8b807; }

.jour { padding: 5px; font-weight: bold; color: #c1c1c1; font-size: 12px; float:right; }
.jour strong { color: #e8b807; }




.bg-top { height: 163px; overflow:hidden;}




#contenu { background:url(../images/bg_contnet.gif) repeat-x #ffffff;margin-left:1px;}
#content2 { text-align:left; padding: 15px;font-size: 12px;}
#content2 .entre{width:800px;text-align:justify;margin:0 auto;}
#content2 .entre h1{color:#910006;font-size:22px;}
#content2 .entre h2{color:#910006;font-size:14px;padding-top:10px;}
#flash { position:relative; padding: 8px 0; }

#cdc { float:left; width: 320px; padding-top: 20px; padding-left: 9px; position:relative; }
#cdc strong{ font-size:18px;}
.cdc { background:url(../images/bg_phcdc.gif) no-repeat; width: 288px; height: 232px; text-align:center; }
.cdc img { padding-top: 6px; padding-left: 4px; _padding-left: 2px }
.libelle { background:url(../images/pic_fleche.gif) no-repeat 10px 11px; text-align: left; padding-top: 12px; font-size:12px; font-weight: bold; }
.libelle a { padding-left: 30px; text-align:left; }

.prix { text-align:left; padding-left: 30px; }
.prix a { color: #910006; font-size: 20px; font-weight: bold; }

#exclu { float:left; width: 285px; padding-top: 20px; position:relative; }
.bg-conseil { background:url(../images/bg_conseille.gif) no-repeat; width: 202px; height: 21px; float:right; line-height:21px; }
.bg-conseil a { color: #910006; text-decoration:underline; padding-top: 4px; }

.bg-conseilbis { background:url(../images/bg_conseille_bis.gif) 100% 100% no-repeat; width: 170px; height: 21px; float:right; line-height:21px;display: none; }
.bg-conseilbis a { color: #910006; text-decoration:underline; padding: 4px 12px 0 0; }

.pic-cdc { position:absolute; top: 30px; left: 0; }
.pic-exclu { position:absolute; top: 30px; left: -20px; }

.mn-left { float: right; width: 320px; padding:22px 0 0 0; }


.phparin { float:left; width: 126px; height: 90px; padding-top: 4px; padding-left: 4px; overflow:hidden; }
.txtparin { float:right; width: 185px; padding-top: 10px; text-align:left; }
.desc-parin { text-align:left; color:#FFFFFF; line-height:13px; }

.parin { background:url(../images/bg_parrain.gif) no-repeat; width: 320px; height: 102px; }
.ajout { background:url(../images/bg_ajout.gif) no-repeat; width: 322px; height: 99px; margin-top:1px; }
.suivi { background:url(../images/bg_suivi.gif) no-repeat; width: 322px; height: 103px; }

#footer { background: url(../images/footer.jpg) no-repeat; width: 1000px; height: 76px; margin: 0 auto; text-align:left; }
.url { padding-top: 28px; padding-left: 15px; float:left; font-size: 18px; color:#FFFFFF; font-weight:bold; }
.link-footer { float:right; padding-top: 28px; padding-right: 20px; }
.link-footer a:hover { color: #670d12; }

.loge { width: 1000px; margin: 0 auto; text-align:right; color: #e8b807; padding-bottom:20px; }
.loge a { color: #e8b807; } 
#content2 a.voir{float:right;font-weight:bold;padding-top:15px;display:block;text-decoration:underline;}
#content2 a:hover.voir{text-decoration:none;}

#bgmoteur { background:url(../images/bg_ttl_recherche.gif) no-repeat; width: 309px; height: 58px; }
.repeat-moteur { background:url(../images/repeat_recherche.gif) repeat-y; width: 309px; height: 262px;position:absolute; top: 9px; left: 25px; }
.botom-moteur { background: url(../images/botom_recherche.gif) no-repeat left bottom ; width: 309px; }

.rapide { color: #910006; font-size: 19px; font-weight: bold; padding-left: -10px; padding-top: 20px; }
.inter-moteur { padding: 0 10px;height: 204px; }
.link-vente { background: url(../images/bg_vente.gif) no-repeat; width: 200px; height: 19px; color:#910006; margin-left: 95px; padding-bottom: 5px; }


.link-vente a { color: #910006; text-decoration:underline; }
.plus { padding-left: 25px; padding-top: 4px; color: #910006; font-size: 10px;height: 20px;overflow: hidden;position: absolute; top:235px; left:110px; }

	/*carto*/
.carto-agence { width: 910px; height: 410px; text-align: left; padding: 10px 20px; margin-bottom: 20px; background: url(../images/bg_carto_agences.gif) no-repeat; }
.nous-situer { margin-bottom: 5px; }
.nous-situer a { font-size: 14px; color: #2c2929; display: block; line-height: 25px; font-weight: bold; text-transform: uppercase; text-align:right; }
.nous-situer a:hover { color: #ce0000; }

	/*guide*/
#MenuGuide { 
	text-align: center;
	padding: 50px 0;
}
#MenuGuide table { 
	margin: 0 auto;
	width: 700px;
}
#MenuGuide a {
	font-size: 12px;
	font-weight: bold;
	color: #3a3c41; 
	text-decoration: none; 
	line-height: 20px;
}

#MenuGuide a:hover {
	font-size: 12px;
	color: #e4b106;
}

#MenuGuide td { 
	text-align: left;
	border-bottom: 1px solid #6a0000; 
}

#PageDossiers table { 
	margin: 0 auto; 
	width: 100%; 
}

#PageDossiers p { 
	margin: 5px 0; 
}


#PageDossiers td { 
	padding: 2px 5px; 
}

.txtTitre3, .grasnews { 
	color: #e6b207; 
	font-weight: bold; 
	font-size: 13px; 
	text-align: left;
	background: url(../images/arrow_4.gif) 0 0 no-repeat;
	padding: 2px 2px 2px 23px; 
}

.gras {
	padding: 2px 2px 2px 23px;
	background: url(../images/arrow_2.gif) 0 0 no-repeat;
	color: #91131a;
	font-weight: bold;
}

.gras u { 
	text-decoration: none; 
}

.encadre {
	border: 1px solid #8087bd;
	padding: 5px;
	background: #7b1016;
	line-height: 14px;
}
.encadre .gras {
	padding: 0;
	margin-bottom: 5px;
	border: none;
	background: #7b1016;
	color: #ffffff;
	line-height: 12px;
}
.encadre a { color: #030e77; }
.encadre a:hover { color: #ffffff; }
.table_news strong { color: #91131a; }
.table_news, .encadre table {
	border-top: 1px solid #7b1016;
	border-left: 1px solid #7b1016;
	border-bottom: none;
	border-right: none;
	background: #9aa0a7;
}
.table_news td, .encadre td {
	border-bottom: 1px solid #7b1016;
	border-right: 1px solid #7b1016;
	border-left: none;
	border-top: none;
	background: #e6b308;
	font-size: 10px;
	padding: 5px;
}   
.table_news .gras {
	padding: 3px 5px;
	margin: 0;
	background: #ffce89;
	color: #91131a;
	line-height: 12px;
}
	/*page formulaire*/
.page-title { font-weight: bold; color: #000; font-size: 20px; background: url(../images/arrow_title.gif) 10px 0 no-repeat; line-height: 20px; text-align: left; padding: 0 0 0 35px; margin: 0 0 15px 0; }
.tabFond1 { background: none; width: 100%; }
.tabFond1 td { padding: 3px 10px; font-size: 12px; }
.tabFond1 table { text-align: left; }
.tabTitre { font-size: 12px; color: #fff; margin: 0 0 10px 0; font-weight: normal; text-align: center; background: url(../images/bg_tab.gif) repeat-x #76181f; }
.messageNomAgence, .estimationNomAgence, .titreInfosLegales { font-size: 18px; text-align: center; color: #91131a; margin: 0; font-weight: bold; display: block; }
.tabFond1 .Input, .tabFond1 .imputForm { border: 1px solid #a7adb4; background: url(../images/bg_input.gif) repeat-x #fff; }
#CguFormulaire { background: #af4f54; border: none; padding: 10px; text-align: left; color: #000; border: 1px solid #4a4e54; }
#CguFormulaire a { color: #951007; text-decoration: underline; }
#CguFormulaire a:hover { color: #fff; text-decoration: none; }
.bond { color: #000; font-size: 16px; background: url(../images/arrow_bond.gif) 25px 0 no-repeat; line-height: 25px; text-align: left; padding-left: 60px; text-decoration: underline; }
.rightButton { width: 116px; height: 21px; background: url(../images/bg_rightButton.gif) no-repeat; color: #fff; font-size: 12px; text-align: center; display: block; padding-bottom: 2px; border: none; text-transform: uppercase; font-weight: bold; }
	/*page alerte*/
#PageAlert table { width: 100%; }
#PageAlert { padding: 15px 0; }
#PageAlert font { color: #302c2d; }
#PageAlert td { text-align: left; }
#PageAlert strong { color: #402c01; }
#PageAlert a { font-size: 14px; font-weight: bold; color: #670d12; display: block; margin-left: 50px; padding: 0 0 0 50px; background: url(../images/bg_alertlink.gif) no-repeat; width: 350px; line-height: 15px; height: 15px; text-transform: uppercase; letter-spacing: 5px; }
#PageAlert a:hover { color: #e8b808; text-decoration: none; }
	/*nous situer*/
#map-google { width: 600px; margin: 0 auto; border: 4px solid #302c2d; background-color: #fff; text-align: center; }
#map-google small { font-size: 12px; color: #302c2d; font-weight: bold; }
	/*recherche general*/
#RechPagesHaut .rechLiensPages a,
#RechPagesBas .rechLiensPages a{ border: none; width: 19px; height: 17px !important; overflow: hidden; padding-top: 4px; }
#RechPagesHaut .rechLiensPages a.actif,
#RechPagesBas .rechLiensPages a.actif{ border: none; }
#RechPagesHaut .rechLiensPages a:hover,
#RechPagesBas .rechLiensPages a:hover{border: none; }
#RechercheContainer #AlerteEmail,
#RechercheContainer #AlerteEmail #AlerteEmailCtn { width: 1000px; }
*+html #RechHaut #RechHautCtn #RechHautLiens{width: 950px; }
	/*recherche alerte email*/
#RechercheContainer #AlerteEmail,
#RechercheContainer #AlerteEmail #AlerteEmailCtn { width: 1000px; }
	/*alerte immo*/
#AlerteImmo { background: none; width: 945px; border: none; padding: 0; }
	/*alerte email*/
#AlerteImmo * { color: #270303; }
#AlerteImmo{background: none; border: none; min-height: 400px; _height: 400px;}
#AlerteConfirmation  h4 { color: #000; }
#AlerteEmail h2 { color: #000; }
#AlerteEmail h5 { color: #000; }
#AlerteImmo #AlerteTitre01{background: url(../alerte/alerteimmo_titre_fond01.gif) 0 0 no-repeat; }
#AlerteImmo #AlerteTitre01 h5{ background: url(../images/alerteimmo_titre_fond02.jpg) no-repeat; }
#AlerteImmo #AlerteTitre01 h5 span{color: #fff; font-size: 18px; }
#AlerteImmo #AlerteConfirmation p.confirmation { color:#000; }

	/*agence immobiliere*/
#Portefeuille01 h3,#Annonces01 h3{font-size: 1.4em; background: url(../images/bg_transac.gif) no-repeat; border-bottom: 1px solid #292722; padding: 0 0 0 25px; margin: 0 0 10px 0; color: #fff; line-height: 20px;}
	/*carto*/
.carto-agence { width: 700px; height: 410px; padding: 15px 10px 10px 10px; margin-bottom: 20px; background: url(../images/bg_carto_agences.gif) no-repeat; margin: 0 auto; }
.nous-situer { padding: 0 20px 5px 20px; border-bottom: 1px solid #696f77; margin-bottom: 5px; }
.nous-situer a { font-size: 14px; color: #696f77; display: block; width: 140px; height: 25px; line-height: 25px; padding-left: 15px; font-weight: bold; background: url(../images/arrow_locate.gif) 0 0 no-repeat; text-transform: uppercase; }
.nous-situer a:hover { color: #91131a; }
	/*agence immobiliere*/
	/* bloc annonce */
#Annonces01 .ann_ctn{ background: url(../img/ann01_fd_01.png) no-repeat; }
#Annonces01 .ann_ctn .ann_fd{ display: none;}

td#ColonneDroite form table#FormContact td#ChampsNom input, td#ColonneDroite form table#FormContact td#ChampsPrenom input, td#ColonneDroite form table#FormContact td#ChampsTelephone input, td#ColonneDroite form table#FormContact td#ChampsEmail input, td#ColonneDroite form table#FormContact td#ChampsMessage textarea { color:#000; }
.table {  text-align: center; vertical-align: middle; }

.tabFond1 .tabFond1 textarea.imputForm{
	width: 100%;
	height: 100px;
}


/*autre*/

.ttl-getion { background-color: #891b1a; height: 35px; font-size: 14px; font-weight: bold; color:#FFFFFF; text-align:center; padding: 15px 0 0 0; }
.gagnez { float:left; font-size:18px; color: #891b1a; font-weight: bold; padding-top: 20px; }
.txt-gest { float:right; text-align: left; }
.txt-gest ul li { list-style-type:square; padding-top: 8px; }
.txt-gest strong { color: #891b1a; }

.gagnez2 { float:left; color: #891b1a; font-size: 12px; font-weight: bold; padding-top: 10px; width: 240px; }
.right-gerer { background-color: #891b1a; padding: 10px; float:right; width: 600px; margin-top: 40px; }
.right-gerer ul li { color: #FFFFFF; list-style-type: square; }

.ttl-service { background: url(../images/bg_service.gif) repeat-x; height: 28px; text-align:left; padding: 7px 0 0 0; margin-top: 10px; }
.serv { padding-left: 25px; font-size: 14px; font-weight: bold; color:#FFFFFF; }
.ph-service img { background-color: #CCCCCC; padding: 3px; border: 1 px solid #666666; margin:5px; }
.ph-service { float:left; width: 275px; text-align:center; }
.equipe-serv { float:right; width: 655px;  }
.equipe-serv strong { font-weight: bold; font-size:12px; color: #891b1a; }

.personnel strong { font-size:12px; color: #891b1a; font-weight: normal; }

.para img{ border:1px solid #000; }
.rech { position:relative; font-size:18px; color:#910006; zoom:1; }
.rech h3{font-size:18px;}
.TitreBoiteMoteurClassic strong { display:none; }
#PageAlert .idtt_6 { display:none; }

/*detail */

td#ColonneDroite #InfosComp_Ctn, td#ColonneDroite h3#Surface{display:none;}
/*modif 9-11 */
.tabFond1 .Input, .tabFond1 .imputForm{ margin:3px 0;}

.stlienvend{color:#851e0d;text-decoration:underline;font-size:16px; }

.cv_respag{ display:none;}
.cv_url{ margin-top:40px;}
.nuevotxt01{font-size:18px; font-weight:bold;}
#CV #Agence{position:relative;}
.nuevotxt02{font-weight:bold;left:226px;position:absolute;top:137px;font-weight:bold;}
.nuevotxt02 a:hover{color:D49E00;}

#Portefeuille01 h3, #Annonces01 h3 {background:url("/z/webagency/A_Optiweb/conseiller//images/bg_ttl.gif") repeat-x scroll 0 0 #5C0000;}

#Portefeuille01{display:none;}

.nous-situer {background:url("../images/bg_situer.png") no-repeat scroll 42px 5px;}


.nous-situer a {background:url("../images/arrow_locate.png") no-repeat scroll 43px 8px transparent; height:27px;line-height:36px;padding-left:41px; color:#E8B807; width:120px;}
.nous-situer a:hover{ color:#fff;}

.vendre_page .parag00, .servpage .parag00, .ger .parag00{ width:620px; float:left;}
.vendre_page .p01{ margin-top:5px;}
.vendre_page .p03{ margin-top:4px}
.vendre_page img, .servpage img, .ger img{float:right; display:block; border:4px solid #851e0d; margin-top:25px;}
.vendre_page .img00{ margin:35px 58px 0 0;}
.vendre_page .img01{ margin:0 58px 0 0;}
.vendre_page .img02{ margin:28px 26px 0 0;}
.vendre_page .widsiz{ width:auto;}

.servpage .p01{ margin-top:10px}
.servpage .img00{ margin:16px 58px 0 0;}
.servpage .img01{ margin:0px 58px 0 0;}
.servpage .img011{ margin:30px 58px 0 0;}
.servpage .img02{ margin:0px 26px 0 0;}
.servpage .widsiz{ width:auto;}

ul#Outils {border-top:none;margin:13px 70px 70px;}
ul#Outils .titrePageOutils{ display:none;}
.stlienvend:hover{ color:#851e0d; text-decoration:none;font-size:16px;}

/**/
.contentNavig *{ font-size:13px; line-height:17px;}
.contentNavig .vendre_page a{ font-size:18px; font-weight:bold;}
.contentNavig strong.titre{ color:#851E0D; font-size:17px;}
.contentNavig .ger a{ font-size:18px; font-weight:bold;}
/**/
.votreRecherche{ position:relative; padding:0 0 73px 0;}
.votreRecherche img.clef1{ position:absolute; right:10px; top:0;}
.votreRecherche p{ width:500px; text-align:justify;}
.votreRecherche a{ font-weight:bold; text-decoration:underline;}
.votreRecherche ul li a:hover{}

#AgImmoDroite p {line-height:13px; padding:0;}
.cv_url{margin-top:0;}

ul#Outils {list-style: disc inside none;}
ul#Outils li a {display: inline;}


p.cv_resp{display: none;}
.cv_langues{display: none;}
#AgImmoPortefeuille{display: none;}

#Prox{display: none;}