// VAR COLORS
$color-body:#6e6b64;
$color-content:#7b7b6f;
$color-block:#616156;
$color-primary:#7b7b6f;
$color-secondary:#e8540e;
$color-action:#fa7a31;
$color-important:#fa7a31;
$color-nav-footer:#fff;
// COLOR PUB
$color-pub:"white";
// COLOR FONT BODY DEFAULT
$color-font-body:#fff;