@import "color";
// BG SOLO
$bg-uni:yes;

// PICTURE BG
$picture-bg:no;
$picture-bg-url:'../images/degrade_bg.png';
$picture-bg-repeat-horizontal:no;

// SIZE PICTURE AREA : FULLSCREEN OR NOT
$height-container:540;

// VAR SITE TYPO
$font-body:"Source Sans Pro",verdana,sans-serif;
$font-title:"Open Sans Condensed",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text:1.5em;
$font-size-title:1.8em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:normal;

// ARRONDI POUR LES EFFETS SUR LI > A:HOVER/FIL ARIANE/BOUTON
$arrondi:no;

// BORDER EFFECT ON NAV
$border-nav:no;

// TYPE MENU : FLAT = COLOR BANNER BEHIND, NO FLAT = SHAPE OR NOT
// LINK TO VAR ID3X >>> MENU_TYPE
$type-menu:flat;

// STYLE NAV : IF YES = SHAPE BEHIND WORD, IF NO SHAPE BEHIND WORD ON HOVER
$shape:no;

// MARGIN UNDER NAV FIXE
$margin-top-under-nav-fixe:0;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS LIB
@import "../../../slagence_X_V5/sources/scss/boutons/lib4";

// IMPORT TEMPLATE LONDRES
@import "../../../slagence_X_V5/sources/scss/templates/londres";

// IMPORT MODULE SOUS MENU LIB1
@import "../../../slagence_X_V5/sources/scss/sous_menu/lib1";

// IMPORT MODULE ANNONCES1
@import "../../../slagence_X_V5/sources/scss/modules/annonces9";

// IMPORT MODULE EXTRA2
@import "../../../slagence_X_V5/sources/scss/extra/extra13";

// IMPORT MODULE PUB LIB1
@import "../../../slagence_X_V5/sources/scss/pubs/lib1";

// IMPORT MODULE PUB LIB2
@import "../../../slagence_X_V5/sources/scss/pubs/lib2";

@import "../../../slagence_X_V5/sources/scss/multiple-select.scss";

// SPRITE BLANC
@import "../../../slagence_X_V5/sources/scss/sprites/social-blanc";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT CHOSEN
@import "../../../slagence_X_V5/sources/scss/ie";


//------------------------------------------------------------------------------------------------------------------
//		PERSO ALGIMMO35150
//------------------------------------------------------------------------------------------------------------------

//------------------------------------------------------------------------------------------------------------------
//		GENERAL
//------------------------------------------------------------------------------------------------------------------

	//------------------------------------------------------------------------------------------------------------------
	//		CONTAINER
	//------------------------------------------------------------------------------------------------------------------

.container {
	width:1280px;
	padding: 0 20px;
	@media only screen and (max-width : 1280px) {
		width:960px;
	}
}

/*.bg-picture {
	@include background-image(linear-gradient( $color-content 60%, $color-body));
}*/

	//------------------------------------------------------------------------------------------------------------------
	//		CONTAINER
	//------------------------------------------------------------------------------------------------------------------

@media only screen and (max-width : 767px) {
    header .logo img {
 	   width: 20% !important;
    }
    .size-picture-container {
    	background-image: url('../images/homepage/homepage_fullscreen_1.jpg');
    	background-repeat: no-repeat;
    	background-size: cover;
    }
}

.navigation {
	@include background-image(linear-gradient(-45deg, $color-block, $color-block 63%, $color-primary 63%, $color-primary));
}

.menu-principal {
	margin-top: 82px;
	>li>a {
		background-image: none;
		background-color: $color-primary;
		padding: 14px 20px;
	}
}



//------------------------------------------------------------------------------------------------------------------
//		INDEX
//------------------------------------------------------------------------------------------------------------------

	//------------------------------------------------------------------------------------------------------------------
	//		ENCART PA
	//------------------------------------------------------------------------------------------------------------------

.module-homepage {
	background: $color-block;
	padding: 10px;
	.height-190 {
		height: 240px;
	}
}

@media only screen and (max-width : 767px) {
	.module-annonces-homepage {
		background:$color-block !important;		
		color:$color-nav-footer !important;		
	}
	.homepage-bloc-type-bien-transaction .bg-white {
		background:$color-block !important;		
	}
}

.owl-theme .owl-nav [class*=owl-] {
	background:$color-important !important;		
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background:$color-important !important;			
}

.owl-theme .owl-dots .owl-dot span {
	background:$color-action !important;				
}

	//------------------------------------------------------------------------------------------------------------------
	//		ENCART SEO
	//------------------------------------------------------------------------------------------------------------------

.bg-seo {
	background: $color-block;
	padding: 10px;
}

	//------------------------------------------------------------------------------------------------------------------
	//		ENCART SERVICES
	//------------------------------------------------------------------------------------------------------------------

.pub {
	box-shadow: none;
	background: $color-block;
}

.pub-agence {
    background-image: url('../images/pub/agence.jpg');
    background-repeat: no-repeat;
}

.encart-pub-boite {
	background-size: cover;
	height: 115px;
}

//------------------------------------------------------------------------------------------------------------------
//		DETAIL PA
//------------------------------------------------------------------------------------------------------------------

	//------------------------------------------------------------------------------------------------------------------
	//		VISUEL
	//------------------------------------------------------------------------------------------------------------------

.vertical-pano {
	background: $color-block;
}