@import "color";
// BG SOLO
$bg-uni:yes;

// PICTURE BG OU DEGRADE CSS BG COLOR PRIMARY vs SECONDARY vs BLOCK > SI NO ALL = BG BODY UNI
$picture-bg:no;
$picture-bg-url:'../images/dark_wall.png';
$picture-bg-repeat-horizontal:no;

// SIZE SCROLLING
$height-scrolling:580;

// SIZE NAVIGATION
$height-navigation:120;

$margin-top-under-nav-fixe:160;

// VAR SITE TYPO
$font-body:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-title:"HelveticaNeueThin", "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text:1.4em;
$font-size-title:2em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:none;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:normal;

// ARRONDI POUR LES EFFETS SUR LI > A:HOVER/FIL ARIANE/BOUTON
$arrondi:no;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS LIB2
@import "../../../slagence_X_V5/sources/scss/boutons/lib5";

// IMPORT PUB LIB BOITE
@import "../../../slagence_X_V5/sources/scss/pubs/lib1";

// IMPORT PUB LIB6
@import "../../../slagence_X_V5/sources/scss/pubs/lib6";

// IMPORT TEMPLATE PARIS
@import "../../../slagence_X_V5/sources/scss/templates/helsinki";

// IMPORT MODULE ANNONCES13
@import "../../../slagence_X_V5/sources/scss/modules/annonces13";

// IMPORT MODULE EXTRA
@import "../../../slagence_X_V5/sources/scss/extra/extra4";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";

// IMPORT MODULE SOUS MENU
@import "../../../slagence_X_V5/sources/scss/sous_menu/lib1";

.typo-secondary { color: $color-secondary; }

.list-perso { margin-bottom: 20px; }

.list-perso li:before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 20px;
	background: url(../images/puce.png);
	margin-right: 10px;
	vertical-align: sub;
	margin-top: 7px;
}
.menu-principal {
	line-height: inherit;
}

.menu-principal > li > a {
	padding: 0 2px;
	font-family: $font-body;
	font-size: .9em;
}

.bg-moteur { border: 1px solid $color-action; }

.bg-logo-perso {
	background-image: url(../images/bg-logo-perso.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: $color-body;
}

.bg-logo-perso-color {
	background-image: url(../images/bg-logo-perso-color.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: $color-body;
}

.rond-pub { margin-top:70px; }
.titre-milieu { margin-top:0px; }

.rounded-200 {
	border: 10px solid darken($color-body,2);
	@include box-shadow(0 0 0 0);
}

.rounded-30 {
	overflow: hidden;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	width: 30px;
	height: 30px;
	border: 1px solid #f8f8f8;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
	padding-left:7px;
}

.bg-moteur-recherche-vente {
	background-image:url('../images/bg-moteur-recherche-vente.jpg');
	background-color:$color-body;
	background-repeat:no-repeat;
	background-position:top center;
}

.bg-moteur-recherche-vente-prest {
	background-image:url('../images/bg-moteur-recherche-vente-prest.jpg');
	background-color:$color-body;
	background-repeat:no-repeat;
	background-position:top center;
}

.bg-txt-cont {
	@include border-radius(4px);
	@include background-image(linear-gradient(left top, $color-block, $color-block-light-10));
	padding:10px;
}

.blocs-loueur {
	.rounded-200 {
		border-color: $color-primary;
		background-color: $color-action;
	}
	a:hover {
		text-decoration: none;
		.bg-important {
			background-color: lighten($color-important, 10%);
		}
	}
}

.ancre-recherche {
	padding-top: 160px;
	margin-top: -160px;
}

@media only screen and (max-width : 767px) {
	.bg-logo-perso { background-image: none; }
	.rond-pub { margin-top:20px; }
	.margin-top-under-nav-fixe { margin-top:10px; }
	.ligne-titre { text-align:center; }
}


h2, .h2-like {
    font-size: 1.55em;
}



