@font-face {
    font-family: 'BebasRegular';
    src: url('$$_$$styles/typocss/BebasNeue.eot');
    src: url('$$_$$styles/typocss/BebasNeue.eot?#iefix') format('embedded-opentype'),
         url('$$_$$styles/typocss/BebasNeue.woff') format('woff'),
         url('$$_$$styles/typocss/BebasNeue.ttf') format('truetype'),
         url('$$_$$styles/typocss/BebasNeue.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*------CSS definitive--*/
body { margin: 0; padding:0; background: #fff url($$_$$images/skin/background.jpg) bottom repeat-x; text-align:center;font-family: arial; }
div,td {  font-size:12px; color: #000; }
img { border:none; display: inline; }
table  { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; }
a { text-decoration: none; color: #1d7b3b; }
a:hover { color: #000; text-decoration: none; }
p { margin:10px 0;}
*{margin:0; padding:0 }
ul{list-style-type:none}
.clear1 { clear: left;height:0; }
.clear2, .clear { clear: both; }
/*----- decoupage -------*/

#wrapper { width: 960px; margin: 0 auto; text-align: left; }
#logo { float:left; width: 256px; }

#flag { width: 180px; float:right; }
.txt-change { float:left; color: #1d7b3b; font-size: 10px; width: 100px; padding-top: 20px; }
.img-flag { padding-top: 10px; }
.fleche-top { color: #1d7b3b; font-size: 10px; }

#navigue { padding: 60px 0 30px; position:relative;}
#pub_detail {position:absolute; right:22px; top:130px; z-index:5;}
#pub_detail img{width: 292px; height: auto;}
.ie7 #pub_detail {top:120px;}

#bloc-moteur { padding-top: 30px; width:590px; float:right; }
#bloc-moteur a{color:#cacaca;float: right;text-decoration: underline;margin-top: 20px; display: none; }
#bloc-moteur a:hover{text-decoration: none; }

#flash { padding-top: 15px; }

.txt-content { font-size: 11px; }
.txt-content strong { font-size: 16px; color: #1d7b3b; }
.suite { text-align:right; color: #1d7b3b; }
.suite a { color: #1d7b3b; text-decoration:underline; }
.pt1 { background: url($$_$$images/skin/bg-decouvert.gif) no-repeat; width: 234px; height: 140px; font-size: 18px; font-weight: bold; text-align:center;line-height: 34px; float:left; }
.pt1 a { font-size: 18px; font-weight: bold; text-align:center; color: #fff; text-decoration:underline; }

.img-cdc { float:left; width: 234px; padding-left: 6px; }

#alerte-content { background: url($$_$$images/skin/bg-alerte.gif) no-repeat; width: 472px; height: 92px; margin: 8px; }
#porte-content { background: url($$_$$images/skin/bg-porte.gif) no-repeat; width: 472px; height: 92px; margin: 8px; }
#mobile-content { background: url($$_$$images/skin/bg-mobile.gif) no-repeat; width: 472px; height: 92px; margin: 8px; }
.link-alerte { padding-left: 180px; font-size: 18px; color: #29559E; letter-spacing: -1px; padding-top: 10px; font-family: 'BebasRegular',Helvetica,sans-serif;  }
.link-alerte a { color: #fff; text-decoration:underline; line-height: 18px; }

.link-alerte1 { padding-left: 180px; font-size: 18px; color: #000; padding-top: 10px; font-family: 'BebasRegular',Helvetica,sans-serif;  }
.link-alerte1 a { color: #fff; text-decoration:underline; line-height: 18px; }

#estimation-content { background:url($$_$$images/skin/bg-estimation.gif) no-repeat; width: 472px; height: 92px; margin: 8px; }
.link-estimation { padding-left: 180px; font-size: 18px; color: #fff; padding-top: 22px; font-family: 'BebasRegular',Helvetica,sans-serif; }
.link-estimation a { color: #fff; text-decoration:underline; line-height: 18px; }

#visite-content {background: url($$_$$images/skin/bg-visite.png) no-repeat; width: 471px; height: 99px; float:right; margin-top: 20px; margin-left: 10px; }
.photo-visite { float:left; width: 131px; padding-left: 25px; }

.link-visite { float:left; width: 285px; font-size: 18px; color: #000; padding-left: 15px; padding-top: 10px; }
.link-visite a { color: #1d7b3b; text-decoration:underline; line-height: 22px; }

#bas-content { background: url($$_$$images/skin/bg-iphone.gif) no-repeat; width: 960px; height: 69px; }

.mobile { background: url($$_$$images/skin/pic-mbolile.png) right no-repeat; width: 49px; height: 67px; padding-right: 25px; width: 285px; float:left; margin-top: 6px; }
.content-iphone { padding-top: 10px; padding-left: 25px; }

.txt { font-size: 18px; color: #ababab; text-transform:uppercase; }
.txt2 { float:left; width: 280px; padding-top: 15px; padding-left: 45px; font-size: 18px; color: #ababab; text-transform:uppercase; }
.txt3 { float:left; width: 260px; padding-top: 15px; padding-left: 40px; font-size: 18px; color: #ababab; text-transform:uppercase; }
.txt2 a, .txt3 a { color: #ababab; }
.txt2 a:hover, .txt3 a:hover { color: #e04d09; }

#footer { width: 970px; margin: 0 auto; text-align:left; padding: 15px 0 25px; border-top: 2px solid #1d7c38; }

.footer-left { float:left; width: 150px; color: #686868; }
.footer-center { float:left; width: 184px; padding-left: 55px; color: #686868; }
.footer-right { float:right; width: 490px; color: #686868; }

.ttl-foot, .ttl-foot a { font-weight: bold; color: #000; }
.footer-left a, .footer-center a, .footer-center a { color: #000; font-size: 11px; text-decoration:underline; }
.footer-left a:hover, .footer-center a:hover { color: #1d7b3b; }

#portefeuille { font-size: 11px; }

#hd-menu ul li:hover ul{display: block;}
#hd-menu ul li ul li{float: none;}

.img-ss { position:absolute; top: 80px; right: -160px; }

#hd-menu-fr, #hd-menu-en { width:960px; padding-bottom: 10px; float:left; position:relative; z-index:10; height: 44px; background: url($$_$$images/skin/bg_menu.gif) repeat-x; margin:0 auto; }
#hd-menu-fr ul, #hd-menu-en ul { margin:0 auto; padding:0; list-style-type:none; }
#hd-menu-fr li, #hd-menu-en li { float:left; position:relative; height: 44px; line-height: 44px; border-right: 1px solid #45855a; }
#hd-menu-fr li a { display:block; color:#FFF; text-decoration:none; font-size: 24px; text-transform:uppercase; color:#ffffff; text-align:center; padding: 0 27px; font-family: 'BebasRegular', Helvetica, sans-serif; font-style: italic; text-shadow: 1px 1px 1px #000; }
#hd-menu-en li a { display:block; color:#FFF; text-decoration:none; font-size: 24px; text-transform:uppercase; color:#ffffff; text-align:center; padding: 0 30px; font-family: 'BebasRegular', Helvetica, sans-serif; font-style: italic; text-shadow: 1px 1px 1px #000; }
#hd-menu-fr li a:hover, #hd-menu-en li a:hover { text-decoration:none; color:#a9c2af; text-align:center; }

#bloc-cdc { width:960px; height: 175px; margin:20px 0 0 0; }

#content-left { float: left; width: 480px; padding-top: 15px; }
#content-right { float: right; width: 472px; padding-top: 15px; }

.accordion_content { background: #252525; }
#adresse { padding: 25px 0; text-align:center; color: #1d7c38; }

#containerMenu { list-style-type: none; }

#flag .menuLangue .txtLi, #flag .menuLangue .menuLangueBg, #flag .menuLangue .menuList, #flag .menuLangue .arrowDown { margin: 0; line-height: 25px; color: #1d7b3b; font-size: 10px; list-style-type: none; }
#flag .menuLangue .txtLi{margin: 6px 10px 0 0;}
#flag .menuLangue{margin:0;padding:0;}
#flag .menuLangue .arrowDown{margin-top:5px;}
#flag .menuLangue .menuLangueBg{margin-left: 5px;}

.ttl_page, #alerte-content,#visite-content, .txt, .txt2, .txt3  {font-family: 'BebasRegular', Helvetica, sans-serif;}
.txt2, .txt3,.txt{font-size: 24px;line-height: 22px; }
#alerte-content,#visite-content{font-size: 18px;}

.ttl_page{font-size: 24px; color:#1d7b3b;}
.firstLien {color:#1d7b3b;}
#hd-menu ul li ul .imageBien {position:absolute;top:30px;right:20px;width:180px;height:120px;z-index:1;opacity:1;}
#hd-menu ul li ul .imageBien img {width:180px;height:120px;}
/* RETOUR HAUT */
.retourHaut {float:right;margin:5px 0 0 0;padding:0;font-size:11px;font-weight:bold;}
.retourHaut a {color:#1d7b3b;text-decoration:none;}