$$REM$$
====================================================================

//// <summary>Fichier css par défaut pour : agence-immobiliere.htm</summary>
//// <remarks>
//// <para>Fichier appelé par : /slagence_X_V2/agence-immobiliere.htm</para>
//// </remarks>
//// <update date="2008-05-30" author="lisbonne.siriphol">Update et corrections</update>
//// <update date="2008-01-14" author="lisbonne.siriphol">Création v1</update>

====================================================================
$$END$$

/* carte_visite.htm */
		#CV{margin: 0; padding: 0; border: none;}
		#CV *{margin: 0; padding: 0; border: none; color:#000;}
		#CV .clear{clear:both;}
		#CV .linkOut{text-align: right; margin: 0.5em 0;}
		#CV .linkOut a{background: url($$_$$images/picto_fleche_01.gif) left 55% no-repeat; padding: 0 0 0 15px;color:#A4A4A4;}
		#CV .linkOut a:hover{color:#A4A4A4;}

		#CV h1{position: relative; font-size: 1.8em; color:#fff; background:#949494; padding: 0.3em 0.8em; margin:12px 0 0 0;}
		#CV #Agence{padding: 1em; background:none;}
		#CV #Agence #Img_Ctn{position: relative; float: left; background: url($$-$$images/sans_photo_01.jpg) no-repeat #bbc8d9;}
		#CV #Agence #Img_Ctn #Vitrine{width: 200px; height: 130px; border: 5px solid #949494; background: url($$_$$images/agences/$$FORM:IDP$$.jpg) no-repeat;}
		#CV #Agence #Coordonnees{position: relative; float: left; padding: 0 1em;}
		#CV #Agence #Coordonnees *{color:#fff;}
		#CV #Agence #Coordonnees h2{font-size: 1.5em;color:#BCB168;}
		#CV #Agence #Coordonnees p{padding:3px 0 0 0;color:#000 ;}
		#CV #Agence #Coordonnees p strong{font-weight:normal;color:#000 ;}
		#CV #Agence #Coordonnees p span{font-weight:bold;color:#000;}
		#CV #Agence #Coordonnees label.cv_respag{}
		#CV #Agence #Coordonnees label.cv_email a,#CV #Agence #Coordonnees label.cv_url a{color:#A4A4A4;}
		#CV #Agence #Coordonnees label.cv_email  span a:hover,#CV #Agence #Coordonnees label.cv_url span a:hover{color:#A4A4A4;}
		#CV #Agence #Coordonnees label.cv_tel,

		#CV #Agence #Coordonnees label.cv_respag{color:#A4A4A4;}
		#CV #Agence #Coordonnees label.cv_tel, #CV #Agence #Coordonnees label.cv_tel span, #CV #Agence #Coordonnees label.cv_respag,#CV #Agence #Coordonnees label.cv_fax{color:#A4A4A4 ;}
		#CV #Agence #Coordonnees label.cv_tel span,#CV #Agence #Coordonnees label.cv_respag span{color:#000;}
/* texte public SAISS */
		#CV #Agence #TxtPublic{color:#949494; text-align: justify;margin-top:10px;}

/* Liens footer carte de visite */
		#CV #CvFoot{background:#949494; height: 21px;overflow: hidden;}
		#CV #CvFoot *{color: #fff; text-decoration: none; font-weight:bold;}
		#CV #CvFoot a:hover *{color:#fff;}
		#CV #CvFoot #Links{float: left; border-right: 1px solid #fff; background:#A4A4A4;}
		#CV #CvFoot #Links a{ line-height:14px; color:#fff;display: block; float:left;padding: 0.3em 1em; border-right: 1px solid #fff; border-left: 1px solid #fff;background:#949494;}
		#CV #CvFoot #Links a:hover{background: #fff; color:;}
		#CV #CvFoot #Links a.message:hover{color:#fff; background:#A4A4A4;}
		#CV #CvFoot #Links a.estimation:hover{color:#fff; background:#A4A4A4;}

/* Portefeuille agence : incl_portefeuille01.htm */
		#Portefeuille01{padding: 1em 0; position: relative;}
		#Agence #Portefeuille01 h3{ font-size: 1.4em;  padding: 3px 0 3px 5px; margin: 0 0 10px 0; background: #949494;}
		#Portefeuille01 a{padding: 5px 0; font-weight: bold; line-height: 1.6em; background: none;}
		#Portefeuille01 a.typeTransac{font-size: 1.2em; color:#A4A4A4; text-decoration:underline;}
		#Portefeuille01 a.typeBien{font-size: 0.9em; margin: 0 0 0 30px; color:#949494;}
		#Portefeuille01 a.typeBien:hover{ color:#949494;}
		#Portefeuille01 .nbAnn{color:#949494;}		
		#Portefeuille01 a span.nbAnn:hover{color:#949494;}		

/* annonces dans carte visite agence = QUAND PRESTATION DE REFERENCEMENT ! */
		#Annonces01 .ann_transac{color:#A4A4A4;}
		#Annonces01 .ann_descr span{color:#A4A4A4;}
		#Annonces01 .ann_descr a{color:#A4A4A4;}
		#CV #Agence #Annonces01 h3{color:#fff; background:#A4A4A4; padding:3px 0 3px 5px;}
		#Portefeuille01 h3{color:#fff; background:#A4A4A4;}
		#Annonces01 .ann_ctn a.ann_pht:hover em span{color:#A4A4A4 ;}
		#milieu #CguFormulaire a:hover{color:#fff ;}

/*agence contenu*/
        #CV #Agence  #agenceImmo *{font-size:12px; font-family:arial,sans-serif;}
        #CV #Agence  #agenceImmo{margin:0;padding:10px 0 0 0; text-align:left;}
		#CV #Agence  #agenceImmo h2{font-size:14px; font-family:arial,sans-serif; margin:0 0 12px 0; color:#949494;}
		#CV #Agence  #agenceImmo  p,#CV #Agence  #coord  p{text-align:left;padding:0; font-size:14px; padding:0 0 10px 0; text-align:justify;}
		#CV #Agence  #agenceImmo  a.contact{color:#BCB168; font-size:12px; margin:10px 0 14px 0; display:block;}
		#CV #Agence  #coord  p{color:#A4A4A4;}
	
	 
		
		
		









