// VARIABLES COLORS
$color-body:#373d42;
$color-content:#89744d;
$color-block:#2a2a2a;
$color-primary:#373d42;
$color-secondary:#000;
$color-action:#e31a22;
$color-important:#e31a22;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#c5c5c5;