label.tags *{font-size: 10px; font-weight: normal;}
label.tags{font-size: 10px; float: left;border: 1px #143571 solid; padding: 5px; margin: 5px 0; text-align: justify;}
label.tags strong{}
label.tags a{font-size: 10px; text-transform:lowercase; text-decoration: none;}
label.tags a:hover{font-size: 10px; text-decoration: underline;}<!-- ID3x v4.00 - X10 - 00.004.619 - none - 29/02/2008 06:57:22 - styles\tags.css -->