/*-- DETAIL CLASSIC --*/
.TableDetail{margin:0 auto;}
div.TotalAnnonce{text-align: left; padding: 0; margin:0 auto; width: 770px;}

/* #include virtual= /detail/incl_detail_back.htm */
div.DetailBack{text-align: right; padding: 5px 0;}
div.DetailBack a{font-weight: bold; background: url($$_$$images/picto-fleche_07.gif) 0 5px no-repeat; padding: 3px 0 3px 15px;}
div.DetailBack a:hover{}

/* conteneur*/
div.BoiteAnnonce{background: #fff; border: 1px solid  #fff; color: #000;}
/**/
div.LigneTitreAnnonce{padding: 0; margin: 0;}
/* ligne haut */
div.LigneTitreAnnonce div.InfosAnnonce,
div.LigneTitreAnnonce div.InfosAnnonceVac{padding: 0; margin: 0; text-align: center;}
/**/
div.LigneTitreAnnonce div.InfosAnnonce div.DetailLibelleetPrix{padding: 3px 5px; margin: 0; background: url($$_$$images/fond-titre.jpg) bottom repeat-x #D0D7E9; color: #EE0001; height: 60px; overflow: hidden; text-align: left;}
/* #include virtual="/detail/incl_detail_libelle.htm */
div.LigneTitreAnnonce div.InfosAnnonce div.DetailLibelleetPrix div.DetailLibelle{padding: 0; margin: 0; font-size: 18px; color: #EE0001;}
/* #include virtual= /detail/incl_detail_surface.htm */
div.LigneTitreAnnonce div.InfosAnnonce div.DetailLibelleetPrix div.DetailSurface{color:#EE0001;}
/* #include virtual= /detail/incl_detail_prix.htm */
div.LigneTitreAnnonce div.InfosAnnonce div.DetailLibelleetPrix div.DetailPrix{padding: 0; margin: 0 0 0 3px; display: block; font-size: 18px; color:#EE0001}
div.LigneTitreAnnonce div.InfosAnnonce div.DetailLibelleetPrix div.DetailPrix div.DetailPrixFranc{display: inline; visibility: visible; font-size: 12px; color: #EE0001;}
/* end ligne haut */

/* #include virtual= /detail/incl_detail_descriptif.htm */
div.LigneTitreAnnonce div.InfosAnnonce div.DetailDescriptif{clear:both; font-size: 12px; line-height: 16px; padding: 10px 15px; text-align: justify; color: #182e51;}
div.LigneTitreAnnonce div.InfosAnnonce div.DetailDescriptif div.DetailDescriptifFrTitre{color: #182e51;}
/* #include virtual= /detail/incl_detail_photo.htm */
div.DetailPhoto{margin: 0 0 12px 0;}
div.DetailPhoto img{border: 4px solid #cad1e0;}/* si sans photo */
div.DetailPhoto div.DetailPhotoGdformat img.DetailPhotoGdformat{}
/* small pics */
div.LigneTitreAnnonce div.InfosAnnonce div.DetailPhoto div.DetailPhotoPtformat {margin:auto;}
div.LigneTitreAnnonce div.InfosAnnonce div.DetailPhoto div.DetailPhotoPtformat table{}
div.LigneTitreAnnonce div.InfosAnnonce div.DetailPhoto div.DetailPhotoPtformat table td{text-align: center;}

/* #include virtual= /detail/incl_detail_visuels360.htm */
div.LigneTitreAnnonce div.InfosAnnonce div.DetailVisuels360{}
div.LigneTitreAnnonce div.InfosAnnonce div.DetailVisuels360 a img{}
div.LigneTitreAnnonce div.InfosAnnonce div.DetailVisuels360 a:hover img{}
div.LigneTitreAnnonce div.InfosAnnonce div.DetailVisuels360 a span{}
div.LigneTitreAnnonce div.InfosAnnonce div.DetailVisuels360 a:hover span{}

/* #include virtual= /detail/incl_detail_exclusif.htm */
div.LigneTitreAnnonce div.InfosAnnonce div.DetailExclusif{width: 600px; font-style: normal; font-size: 16px;  font-weight: bold; color:#EE0001; background: url($$_$$images/fond-titre-secondaire.jpg) repeat-x #D0D7E9;  border: 1px solid #D0D7E9; margin: 15px auto;}

/* #include virtual= /detail/incl_detail_situation.htm */
div.LigneTitreAnnonce div.InfosAnnonce div.DetailSituation{display: block; color: #182e51; padding: 0 0 0 15px; text-align: left;}
div.LigneTitreAnnonce div.InfosAnnonce div.DetailSituation div.DetailSituationCp{display: inline; text-align: left; color: #182e51;}

/* #include virtual= /detail/incl_detail_dtfraicheur.htm */
div.LigneTitreAnnonce div.InfosAnnonce div.DetailFraicheur{color: #182e51; padding: 0 0 0 15px; text-align: left;}
div.LigneTitreAnnonce div.InfosAnnonce div.DetailFraicheur div.DetailFraicheurLib{display: inline; color: #182e51;}/* maj */

/* #include virtual= /detail/incl_detail_refannonce.htm */
div.LigneTitreAnnonce div.InfosAnnonce div.DetailRefAnnonce{color: #182e51; padding: 0 0 10px 15px; text-align: left;}
div.LigneTitreAnnonce div.InfosAnnonce div.DetailRefAnnonce div.DetailRefAnnonceLib{display: inline; color: #182e51;}

/* #include virtual= /detail/incl_detail_prox.htm */
div.LigneTitreAnnonce div.InfosAnnonce div.DetailProx{color: #182e51;}

/* #include virtual= /detail/incl_detail_infocomplementaire.htm */
div.LigneTitreAnnonce div.InfosAnnonce div.DetailInfoComplementaire{border: 1px solid #cad1e0; padding: 0 0 2px 0; margin: auto; width: 600px; text-align: center;}
div.LigneTitreAnnonce div.InfosAnnonce div.DetailInfoComplementaire div.DetailInfoTitre{padding: 5px 0; margin: auto; font-weight: bold; background: url($$_$$images/fond-titre-secondaire.jpg) repeat-x #D0D7E9; border: none; width: 600px; color:#EE0001;}
div.LigneTitreAnnonce div.InfosAnnonce div.DetailInfoComplementaire table{padding: 0; margin: 0;}
div.LigneTitreAnnonce div.InfosAnnonce div.DetailInfoComplementaire table td{padding: 0 0 0 10px; margin: 0; color: #182e51;}


/* #include virtual= /detail/incl_detail_progneuf.htm */
div.LigneTitreAnnonce div.InfosAnnonce div.DetailBoiteNeuf{display: block;}

/* #include virtual= /detail/incl_detail_annonce.htm */
div.LigneTitreAnnonce div.InfosAnnonce div.DetailAnnonce{color:#182e51;}
table.DetailBoiteNeufAppartement .tabTitre{text-align: center; border-bottom: 1px solid #fff;	padding: 0 5px; color: #f00;}
table.DetailBoiteNeufAppartement .tabTitre strong, .tabTitre b{font-size: 16px; font-weight: bold; color:#EE0001; }
/* CALENDRIER LOC VAC : #include virtual= /detail/incl_detail_cal.htm */

/* #include virtual= /detail/incl_detail_imprimer.htm */
div.LigneTitreAnnonce div.DetailImprimer{border: none;}
div.LigneTitreAnnonce div.DetailImprimer a{display: block; margin: auto; background: url($$_$$images/fond-titre-secondaire.jpg) repeat-x #D0D7E9; border: 1px solid #D0D7E9;  color:#EE0001; font-size: 14px; padding: 5px 10px; width: 300px; }
div.LigneTitreAnnonce div.DetailImprimer a:hover{color:#EE0001;text-decoration:none;}

/* #include virtual= /detail/incl_detail_agence.htm */
div.LigneTitreAnnonce div.DetailAgence{border-top: 1px solid #bccee3; padding: 20px 0; margin : 15px; color: #182e51;text-align:center;}
div.LigneTitreAnnonce div.DetailAgence strong.AfficheUrl{color: #182e51;} /* en un clic... */
div.LigneTitreAnnonce div.DetailAgence a{font-weight: bold; color: #182e51;}
div.LigneTitreAnnonce div.DetailAgence a:hover{}
div.LigneTitreAnnonce div.DetailAgence strong{color: #182e51;}
div.LigneTitreAnnonce div.DetailAgence div.DetailAgenceTxtPublic{display: none;}

/* #include virtual= /detail/incl_detail_formulaire.htm */
div.LigneTitreAnnonce div.DetailFormulaire{margin: 0; padding: 0; color:#182e51;}
div.LigneTitreAnnonce div.DetailFormulaire div.DetailFormulaireLib{color:#d40e0e; font-size: 14px; font-weight: bold; margin: 0 15px; padding: 0;}
/* start form */
div.DetailFormulaire div.DetailFormulaireForm{margin: 0 auto; padding: 0; width: 640px; color:#182e51;}
div.DetailFormulaire div.DetailFormulaireForm form{text-align: left; margin: 0; padding: 0;}
div.DetailFormulaire div.DetailFormulaireForm form table.DetailFormulaire{margin: 3px 0; padding: 0; }
div.DetailFormulaire div.DetailFormulaireForm form table.DetailFormulaire td{margin: 0; padding: 0;}
div.DetailFormulaire div.DetailFormulaireForm form table.DetailFormulaire td table{margin: 0; padding: 0;}
div.DetailFormulaire div.DetailFormulaireForm form table.DetailFormulaire td table td{padding: 5px; color:#182e51;}
div.DetailFormulaire div.DetailFormulaireForm form table.DetailFormulaire td table td.Coord{padding: 5px 0; background: url($$_$$images/fond-titre-secondaire.jpg) repeat-x #D0D7E9; border: 1px solid #D0D7E9; text-align: center; font-weight: bold; font-size: 14px; color:#EE0001;}
div.DetailFormulaire div.DetailFormulaireForm form table.DetailFormulaire td table td.Precisions{padding: 5px 0; background: url($$_$$images/fond-titre-secondaire.jpg) repeat-x #D0D7E9; border: 1px solid #D0D7E9; text-align: center; font-weight: bold; font-size: 14px; color:#EE0001;}
div.DetailFormulaire div.DetailFormulaireForm form table.DetailFormulaire td table td input{border: 1px solid #194375; color: #194375; background: #f2f6fa; width: 200px; font-weight: bold; font-size: 12px;}
div.DetailFormulaire div.DetailFormulaireForm form table.DetailFormulaire td table td.btn input{width: 150px;  float: right; background: url($$_$$images/fond-titre-secondaire.jpg) repeat-x #D0D7E9; border: 1px solid #D0D7E9; color:#EE0001; cursor: pointer;}
div.DetailFormulaire div.DetailFormulaireForm form table.DetailFormulaire td table td.Msg{padding: 0; margin: 0; text-align: center;}
div.DetailFormulaire div.DetailFormulaireForm form table.DetailFormulaire td table td.Msg textarea{border: 1px solid #194375; background: #f2f6fa; width: 550px; color: #194375; font-family: arial, sans-serif; font-size: 12px; font-weight: bold; margin: auto;}