// VAR COLORS
$color-body:#4d4d4d;
$color-content:#f3f3f3;
$color-block:#ecdebb;
$color-primary:#4d4d4d;
$color-secondary:#ecdebb;
$color-action:#87918d;
$color-important:#87918d;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#fff;

$color-body-ancien:#747174;
$color-jaune-ancien:#cea54b;
$color-jaune-or:#ecdebb;
$color-body-logo:#6f6c63;

$color-block-ancien:#2f2b2a;