$$REM$$
====================================================================

//// <summary>Fichier css par défaut pour : agence-immobiliere.htm</summary>
//// <remarks>
//// <para>Fichier appelé par : /slagence_X_V2/agence-immobiliere.htm</para>
//// </remarks>
//// <update date="2008-05-30" author="lisbonne.siriphol">Update et corrections</update>
//// <update date="2008-01-14" author="lisbonne.siriphol">Création v1</update>

====================================================================
$$END$$

/* carte_visite.htm */
		#CV{margin: 0; padding: 0; border: none;}
		#CV *{margin: 0; padding: 0; border: none; color:#000;}
		#CV .clear{clear:both;}
		#CV .linkOut{text-align: right; margin: 0.5em 0;}
		#CV .linkOut a{background: url($$_$$images/picto_fleche_01.gif) left 55% no-repeat; padding: 0 0 0 15px;color:#46769e;}
		#CV .linkOut a:hover{color:#18527F;}

		#CV h1{position: relative; font-size: 1.8em; color:#FFD600; background:#46769e; padding: 0.3em 0.8em;}
		#CV #Agence{padding: 1em; background:none;}
		#CV #Agence #Img_Ctn{position: relative; float: left; background: url($$-$$images/sans_photo_01.jpg) no-repeat #bbc8d9;}
		#CV #Agence #Img_Ctn #Vitrine{width: 200px; height: 130px; border: 5px solid #46769e; background: url($$_$$images/agences/$$FORM:IDP$$.jpg) no-repeat;}
		#CV #Agence #Coordonnees{position: relative; float: left; padding: 0 1em;}
		#CV #Agence #Coordonnees *{color:#000;}
		#CV #Agence #Coordonnees h2{font-size: 1.5em;color:#46769e ;}
		#CV #Agence #Coordonnees p{padding:3px 0 0 0;color:#46769e ;}
		#CV #Agence #Coordonnees p strong{font-weight:normal;color:#46769e ;}
		#CV #Agence #Coordonnees p span{font-weight:bold;}
		#CV #Agence #Coordonnees label.cv_respag{}
		#CV #Agence #Coordonnees label.cv_email a,#CV #Agence #Coordonnees label.cv_url a{color:#46769e;}
		#CV #Agence #Coordonnees label.cv_email  span a:hover,#CV #Agence #Coordonnees label.cv_url span a:hover{color:#18527F;}
		#CV #Agence #Coordonnees label.cv_tel,

		#CV #Agence #Coordonnees label.cv_respag{color:#46769e;}
		#CV #Agence #Coordonnees label.cv_tel, #CV #Agence #Coordonnees label.cv_tel span, #CV #Agence #Coordonnees label.cv_respag,#CV #Agence #Coordonnees label.cv_fax{color:#46769e ;}
		#CV #Agence #Coordonnees label.cv_tel span,#CV #Agence #Coordonnees label.cv_respag span{color:#000;}
/* texte public SAISS */
		#CV #Agence #TxtPublic{color:#000; text-align: justify;margin-top:10px;}

/* Liens footer carte de visite */
		#CV #CvFoot{background:#46769e; height: 21px;overflow: hidden;}
		#CV #CvFoot *{color: #FFD600; text-decoration: none; font-weight:bold;}
		#CV #CvFoot a:hover *{color: #FFD600;}
		#CV #CvFoot #Links{float: left; border-right: 1px solid #fff; background:#46769e;}
		#CV #CvFoot #Links a{ color:#FFD600;display: block; float:left;padding: 0.3em 1em; border-right: 1px solid #FFD600; border-left: 1px solid #FFD600;background:#46769e;}
		#CV #CvFoot #Links a:hover{background:#fff; color:#46769e;}
		#CV #CvFoot #Links a.message:hover{color:#FFD600e; background:#18527F;}
		#CV #CvFoot #Links a.estimation:hover{color:#FFD600; background:#18527F;}

/* Portefeuille agence : incl_portefeuille01.htm */
		#Portefeuille01{padding: 1em 0; position: relative;}
		#Agence #Portefeuille01 h3{ font-size: 1.4em;  padding: 3px 0 3px 5px; margin: 0 0 10px 0; background: #46769e;}
		#Portefeuille01 a{padding: 5px 0; font-weight: bold; line-height: 1.6em; background: none;}
		#Portefeuille01 a.typeTransac{font-size: 1.2em; color:#000; text-decoration:none;}
		#Portefeuille01 a.typeBien{font-size: 0.9em; margin: 0 0 0 30px; color:#46769e;}
		#Portefeuille01 a.typeBien:hover{ color:#18527F;}
		#Portefeuille01 .nbAnn{color:#46769e;}		
		#Portefeuille01 a span.nbAnn:hover{color:#18527F;}		

/* annonces dans carte visite agence = QUAND PRESTATION DE REFERENCEMENT ! */
		#Annonces01 .ann_transac{color:#46769e;}
		#Annonces01 .ann_descr span{color:#46769e;}
		#Annonces01 .ann_descr a{color:#46769e;}
		#Annonces01 h3,#Portefeuille01 h3{color:#FFD600; background:#46769e;}
		#Annonces01 .ann_ctn a.ann_pht:hover em span{color:#46769e ;}
		#milieu #CguFormulaire a:hover{color:#18527F ;}

/*agence contenu*/
        #CV #Agence  #agenceImmo *{font-size:12px; font-family:arial,sans-serif;}
        #CV #Agence  #agenceImmo{margin:0;padding:10px 0 0 0; text-align:left;}
		#CV #Agence  #agenceImmo h2{font-size:20px; font-family:arial,sans-serif; margin:0 0 12px 0; color:#46769e;}
		#CV #Agence  #agenceImmo  p.collaboration{text-align:left;padding:0; font-size:12px;}
		#CV #Agence  #agenceImmo  p.number{text-align:left;padding:13px 0 15px 0; font-size:12px;}
		#CV #Agence  #agenceImmo  p.number span{font-size:15px;}
		#CV #Agence  #agenceImmo  p.notreAgence{text-align:left;padding:0 0 10px 0; font-size:20px;}
		#CV #Agence  #agenceImmo  p.notreAgence strong{font-size:20px;}
	 
		
		
		









