/* GENERAL */
*{margin:0;padding:0;border:none;}
ul,li{list-style:none;}
table,td{border-collapse:collapse;}
div,td { color: #fff; }
body {position:relative;font-family:arial,verdana;margin:0 auto;padding:0;background: #fff;font-size:12px;}
.clear {display:block;clear:both;height:0;}
a { text-decoration: none; color: #fff; }
a:hover { color: #fff; text-decoration: none; }
/* SOCIAL BLOC */

#wrapper { background: url($$_$$images/global/bg_body.jpg) repeat-x #a8282d; padding-bottom: 40px; }
.tel-footer {color:#000;}
#socialBloc {position:fixed;padding:3px 3px 0 3px;left:0;top:50%;z-index:10000000;border-top-right-radius:4px;-moz-border-radius-topright:4px;-webkit-border-top-right-radius:4px;border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px;border-top:2px solid #555;border-right:2px solid #555;border-bottom:2px solid #555;background:#2a2a2a;}
#socialBloc ul {margin:0 auto;padding:0;list-style-type:none;}
#socialBloc li {margin:0 auto;width:24px:height:24px;margin:2px 0 2px 0;padding:0;}
/* TOP */
#Header_Ctn {position:relative;z-index:5;margin:0;padding:0;height:37px;background: #982228;width:auto;}
#Header {z-index:10;margin:0 auto;width:960px;height:37px;font-size:11px;font-family:georgia,arial,verdana,sans-serif;font-style:italic;color:#787878;}
/* NAV */
#Nav_Ctn {position:relative;z-index:4;height:234px;background: #fff;}
	/* WARNING ======= PNG LOURD !!!!!! */
	#Nav_Fixer {position:relative;margin:0 auto;width:960px;height:234px;background:url('$$_$$images/global/halo_degrade.png') no-repeat;}
#Nav_Logo {display:block;height:108px;margin:0;padding:0;}
#Nav_Logo img {margin-top:35px;}
#Nav_Menu {position:relative;z-index:120;margin:0 auto;width:670px;height:38px;background:#982228; float:right; margin: 40px auto 0; }
#Nav_Menu ul li a { background: #982228; float:left; font-size: 16px; text-transform:uppercase; padding: 0 26px; font-family:Georgia, "Times New Roman", Times, serif; line-height: 38px; height: 38px; }
#Nav_Menu ul li a:hover { background: #da0647; }

#Nav_Menu li ul { position:absolute; left:0; top:53px; padding:15px 0; background: url($$_$$images/global/degrade_menu_langue.png) repeat-x #a20435;}
#Nav_Menu li li { float:none; padding:0 5px; }
#Nav_Menu li li a, #Nav_Menu li.hover li a { display:inline; color:#fff; background:none; font-size: 16px; font-weight: bold; line-height: 34px;padding:0; }
#Nav_Menu li li a:hover, #Nav_Menu li.hover li a:hover { background:none; color:#ef4d06; text-decoration:none; }

/* BLOC MOTEUR */
#Nav_Moteur {position:absolute;z-index:100;width:960px;height:111px;background:url('$$_$$images/global/degrade_moteur.png') no-repeat;padding:0;margin:0;left:0;}
#Nav_Moteur h1 {margin:15px 0 0 15px;padding:0;font-size:18px;color:#2c2c2c; font-weight:normal;}
#Nav_Moteur h1 span { display: none; }
	/* SEARCH */
	.blocMoteur {position:relative;z-index:100;display:block;height:50px;margin:0 0 0 0;padding:0;}
	.loupeSearch {float:left;display:block;background:url('$$_$$images/global/loupe_search.png');width:34px;height:42px;margin:4px 8px 0 15px;}
	.blocSelectSearch {float:left;position:relative;margin:5px 0 0 25px;height:30px;font-size:11px;color:#787878;}
	.blocSelectSearch .miniBlocSelection {float:left;margin:5px 0 0 10px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;border:2px solid #b9bcbe;background:#fff;}
	.btnSearch {float:left;display:block;width:102px;height:55px;background:url('$$_$$images/global/btn_rechercher-fr.png') no-repeat;background-position:0 0;margin:0 0 0 45px; }
/* CONTENT */
#Content_Fixer {margin:0 auto;width:960px;height:100%;}
#Content {width:940px;z-index:95;padding:80px 10px 10px 10px;}
/* FOOTER */
#Footer_Ctn {background: url($$_$$images/global/bg_footer.jpg) repeat-x #fff;background-position:top left;clear: both;}
#Footer {margin:0 auto;width:960px;z-index:90;height:100%;text-align:center;padding-top:30px;}
/* MENU */
.Menu_Ctn {position:relative;margin:0;padding:0;list-style-type:none;margin:0;padding:0;z-index:150;}
.Menu_Ctn li.men {float:left;margin:0;padding:0;height:38px; overflow:hidden; }

.liste li.men a {float:left;margin:0;padding:0;height:38px; background: #982228; }
.liste li.men a:hover {float:left;margin:0;padding:0;height:38px; background: #da0647; }

.liste li.men{padding: 0 14px;}
.listefr li.men{padding: 0 14px;}
.listefr li.men a { background: #982228; }
.listefr li.men a:hover { background: #da0647; }
.listeen li.men{padding: 0 32px;}
.titreNav { font-family:Georgia, "Times New Roman", Times, serif; font-weight: normal; font-size:18px;margin:7px 0 0 5px;padding:0;color:#fff; text-transform:uppercase;}
.titreNav a, .titre a:hover {color:#fff;text-decoration:none; font-family:Georgia, "Times New Roman", Times, serif; font-weight: normal; }
.titreNav a:hover {color:#fff;}
.onMenu {color:#fff;}
.subTitreNav {font-size:11px;color:#787878;margin:0px 0 0 5px;padding:0;width:105px; line-height:12px;}
/* FIX TAILLE BIG MENU + INFO MENU*/
.menuStyle {position:absolute;display:none;color:#787878;font-size:11px;z-index:120;
background:url('$$_$$images/global/degrade_menu_langue.png') repeat-x #a10435 ;width:auto;top:40px;min-width:175px;overflow:hidden; box-shadow: 3px 3px 3px #000; }
.menuStyle ul {list-style-type:none;margin:0;padding:0;width:100%;overflow:hidden;}
.menuStyle li {display:block;height:35px;line-height:35px;margin:0;padding:0 0 0 10px;font-size:10px;width:100%;}
.menuStyle a, .menuStyle a{text-decoration:none;}
.borderRadius {-moz-border-radius-bottomright:5px;border-bottom-right-radius:5px;-moz-border-radius-bottomleft:5px;border-bottom-left-radius:5px;}
/* MENU TOP */
#NbAnnPanier, .spanColore {color:#fff;}
.navBlocMini {float:right;margin:12px 10px 0 0;padding:0;}
.navBlocMini a, .nacBlocMini a:hover {text-decoration:none;color:#fff;}
.navBlocMini a:hover {color:#fff; text-decoration:underline; }
.separateurBlocMini {float:right;width:10px;margin:6px 10px 0 0;font-size:15px;}
.PericlesPicto {float:left;margin-right:5px;display:block;background:url('$$_$$images/global/picto_pericles.png') no-repeat;height:17px;width:14px;}
/* MENU ANNONCES */
#annoncesBlocLeft, #annoncesBlocRight {float:left;width:200px;padding:5px;margin:0;}
#annoncesBlocLeft h2, #annoncesBlocRight h2 {font-family:georgia,arial;font-size:16px;margin:3px;padding:0 0 5px 0;font-style:italic;color:#fff;font-weight:normal; text-transform:uppercase; }
#annoncesBlocLeft a, #annoncesBlocRight a {text-decoration:none;}
#annoncesBlocLeft ul, #annoncesBlocRight ul {margin-bottom:10px;padding:0;}
#annoncesBlocLeft li, #annoncesBlocRight li {height:35px;line-height:17px;padding:0 5px 0 5px;font-size:12px;margin:2px 0 2px 0;}
/* EFFECT LI */
.onLiBig {color:#fff;background:#fff;width:100%;font-size:12px;}
.onLi {background:#323232;}
.colorOffTxtLi {color:#fff;font-size:12px;}
.colorOnTxtLi {color:#fff; font-size:12px;}
/* INFOS FOOTER */
.blocFooterInfos {font-size:10px;float:right;}
.blocFooterInfos a, .blocFooterInfos a:hover {color:#fff;text-decoration:none;}
.realisation {color:#fff;}
/* LEFT CONTENT */
#leftContentSite, #rightContentSite {float:left;margin:10px 0 0 0;padding:0;font-size:12px;}
#leftContentSite .bloc50 {float:left;width:400px;height:100%;}
#leftContentSite .bloc50 h2 {margin:5px 0 5px 0;padding:5px;color:#787878;font-size:18px;font-style:italic;font-family:georgia,arial; font-weight:normal; display: none; }
#leftContentSite .bloc50 p {margin:5px 0 5px 0;padding:5px;text-align: left;}
#leftContentSite .bloc50 .zoneVideo {margin:5px 0 0 0;text-align:left;}
#leftContentSite .bloc50 .introAgence {margin:5px 0 5px 0;padding:5px 5px 5px 0;color:#787878;font-size:18px;font-style:italic;font-family:georgia,arial; font-weight:normal;}
#leftContentSite .bloc50 .contactAgence {margin:5px 0 0 0;padding:0;}
#leftContentSite .bloc50 .ligneInfoAgence {margin:0 0 3px 0;padding:0;font-size:12px;}
#leftContentSite .bloc50 .ligneInfoAgence span {margin:0;padding:0;}
#leftContentSite .bloc50 .ligneInfoAgence .labelLigne {color:#fff;}
/* RIGHTCONTENT */
#rightContentSite {margin-left:10px;width:340px;}
#rightContentSite .titreSocial {clear:both;width:100%;background:url('$$_$$images/global/degrade_right_content.png') repeat-x;background-position:center right;margin:10px 0 0 0;}
#rightContentSite h2 {background:#fff;width:auto;font-style:italic;font-family:georgia,arial;font-size:15px;color:#787878;padding:0 15px 0 0;margin:5px 0 5px 0;float:left;}
#rightContentSite .listeArticles {margin:0;padding:0;list-style-type:none;}
#rightContentSite .listeArticles li {margin:0 0 10px 10px;padding:0;}
#rightContentSite .listeArticles li a, #rightContentSite .listeArticles li a:hover {color:#fff;text-decoration:none;}
/* RETOUR HAUT */
.retourHaut {float:right;margin:5px 0 0 0;padding:0;font-size:11px;font-weight:normal;}
.retourHaut a {color:#fff;text-decoration:none;}
/* MORE CRITERES */
.moreCriteres {position:relative;z-index:1;margin:0 auto;background:url('$$_$$images/global/bg_criteres.png') no-repeat;width:700px;top:95px;left:0;background-position:center bottom;}
.moteurCriteres {background:#fff;position:relative;margin:0;padding:20px 5px 0 5px;height:35px;display:none;}
.plusCriteres {position:relative;width:200px;background:url('$$_$$images/global/fleche_criteres.png') no-repeat;background-position:0 85%;margin:0 auto;padding:15px 0 0 25px;font-size:13px;font-style:italic;height:19px;color:#a8282d;text-decoration:none;}
.plusCriteres a {text-decoration:none;color:#d9096e;text-decoration:none;}
/* ttl_page */
.ttl_page {font-size:25px;font-style:italic;font-family:georgia,arial; color:#fff; font-weight:normal; margin:20px 0 0 0;}

#bloc-menu { width: 540px; margin: 0 auto; height: 120px; display: block; float:right; position:relative; padding-top: 15px; }
#bloc-menu ul { margin: 0; padding: 0; }
#bloc-menu li { height: 120px; position: relative;  list-style-type: none; float: left; }
#bloc-menu a { display: block; height: 120px; text-align:center; }
#bloc-menu a:hover { position: relative; background-position: 0 -120px; }

#bloc-menu .mn { background: url($$_$$images/global/bt_on.png) no-repeat; width: 174px; }
.link-mn { font-family: Georgia, "Times New Roman", Times, serif; font-style: italic; font-size: 18px; padding-top: 30px; }
.txt-mn { width: 145px; padding-left: 15px; }

.pic1 { position: absolute; top: 0; left: 70px; }
.pic2 { position: absolute; top: 0; left: 240px; }
.pic3 { position: absolute; top: 0; left: 413px; }
.pic4 { position: absolute; top: 130px; left: 70px; }
.pic5 { position: absolute; top: 130px; left: 240px; }
.pic6 { position: absolute; top: 130px; left: 413px; }

.center-foot { float: left; width: 180px; text-align:left; }
.center-foot a { color: #a8282d; width: 180px; }
.link-foot p { color: #000; border-bottom: 1px solid #a8282d; width: 180px; }
.link-foot a { color: #000; border-bottom: 1px solid #a8282d; width: 180px; display: block; padding: 8px 0; }

.ttl-foot { background: url($$_$$images/global/bg-ttl-foot.gif) right no-repeat; color: #a8282d; font-family:Georgia, "Times New Roman", Times, serif; font-style: italic; padding-right: 100px; }
.mini-logo { float: right; color: #000; text-align:right; }
.mini-logo a { color: #000; text-align: right; text-decoration:none; }
.realisation { color: #000; }
#Footer .left-foot { float:left; width: 600px; }
#Footer .left-foot table{ width: 600px;}
#Footer .left-foot table tr{ width: 600px;}

#annoncesBlocLeft li, #annoncesBlocRight li { background: none; color: #fff; }

#Plan ul li { background: none; display: block; }

.menu-fr, .menu-en { width: 670px; background: #982228; height: 38px; text-align: left; float: right; margin-top: 40px; }
.menu-fr ul, .menu-en ul { margin: 0; padding: 0; }
.menu-fr li, .menu-en li { display: inline-block;*display: block; *float: left; list-style-type: none; text-align: right; height: 38px; }
.menu-fr a { color: #fff; font-size: 16px; line-height: 38px; height: 38px; display: block; padding: 0 25px; text-transform: uppercase; font-family: Georgia, "Times New Roman", Times, serif; }
.menu-en a { color: #fff; font-size: 16px; line-height: 38px; height: 38px;  display: block; padding: 0 41px; text-transform: uppercase; }
.menu-fr a:hover, .menu-en a:hover { background: #d90647; color: #fff; display: block; }
.menu-fr li ul, .menu-en li ul{display: none;position: absolute; background: url($$_$$images/global/degrade_menu_langue.png) repeat-x #a20435; width: 350px; z-index: 999; padding: 15px; margin:0; box-shadow: 3px 3px 3px black; -moz-border-radius:0px 10px 10px 0px; -webkit-border-bottom-right-radius: 10px; -khtml-border-bottom-right-radius: 10px;}
.menu-fr li:hover ul, .menu-en li:hover ul{display: block; }
.menu-fr li:hover ul li, .menu-en li:hover ul li{display: inline; text-align: left; background: none; height: auto;}
.left-ss, .right-ss { padding: 15px; }
.left-ss, .left-ss a { float:left; width: 218px; font-size: 11px; text-transform:inherit; margin:0; padding: 0; }
.right-ss, .right-ss a { float:right; width: 125px; font-size: 11px; text-transform:inherit; margin:0; padding: 0; }

.plan-menu li a { border-bottom: 1px dotted #fff; }
#Plan_Ctn ul {
    line-height: 20px;
    list-style: none outside none;
    margin: 0 auto;
    text-align: left;
    width: 650px;}
	
	#Footer .footerlink {clear: both;color: #787878;width: 960px;padding-top: 10px;}
	#Footer .footerlink a{ color:#787878;}
	
	.bloc50 .acc-txt{ line-height:20px;}
