/* CSS Document */

/* Moteur 
				div,span{
				font-size: 11px;
				font-family: Arial, Helvetica, Verdana, sans-serif;
				}
				
				.imputForm, select { background:#e8e8e8; border:#d4d4d4 solid 1px; height:18px; width:100px; }
				.MoteurListeVilles select { background:#e8e8e8; border:#d4d4d4 solid 1px; height:18px; width:290px; margin-bottom:15px;}
				.ZoneSaisie, .Cp {  }
				.BoiteMoteurClassic {border:0px; background:#fff; }
				
				.MoteurSurface, 
				.MoteurBudget, 
				.MoteurProximite, 
				.MoteurListeVille, 
				.MoteurSousTypeDeBien,
				.MoteurListeVilles,
				.MoteurPieces,
				.MoteurRayon span,
				.MoteurSurfaceTerrain,
				.MoteurReference,
				.MoteurCritereSup 
				{padding:10px 10px 10px 10px; font-size:11px; color:#7b7b7b;}
				.FormulaireTypeDeBien
				{padding:10px 10px 0 0; font-size:11px; color:#7b7b7b;}
				label {margin: 0 30px 0 0; font-size:11px;}
				label input {margin: 0 6px 0 0;}
				.MoteurRayon label {  }
				.MoteurTypeDeBien,
				.MoteurPieces,
				.MoteurChambres,
				.MoteurSurface,
				.MoteurBudget,
				.MoteurProximite,
				.MoteurReference,
				.MoteurEquipement 
				{padding:10px; font-size:11px; color:#7b7b7b;}
				.TitreTypeDeBien,
				.TitreNombreDePieces,
				.TitreMoteurSurface,
				.TitreMoteurBudget,
				.TitreMoteurProximite,
				.TitreMoteurListeVille,
				.TitreSousTypeDeBien,
				.TitreMoteurNbPersonnes,
				.TitreMoteurBudgetVac,
				.TitreMoteurEquipement,
				.TitreMoteurSituation,
				.TitreMoteurInvestir,
				.TitreNombreDeChambres,
				.TitreMoteurReferencement,
				.TitreMoteurCritereSup  
				{border:0px; font-family:arial; font-size:18px; text-transform: uppercase; color:#454444; background:#fff; padding:0 0 10px 0;}
				#MoteurBouton {margin:10px; padding:10px; float:left; background:#454444;}
				.MoteurBouton Input {color:#D8B34E; font-weight:bold; font-size:18px;}
				.Cp a {  } 
				.MoteurSurfaceTerrain span {  }
				.MoteurBudget select { }
				.MoteurInvestir label, .MoteurEquipement {  }
				.MoteurCritereSup LABEL { }
				*/
