'---- id3 formmail beta 1 / tonic 28012000
'--- #nom du champ : puis le type (ALL / EML / NBR) : mini (0 pour desactiver) : maxi (0 pour desactiver)
'ex: EMAIL:EML:1:255   ou  NOM:ALL:0:0 pour tout permettre
'- ALL tout, NBR des nombres slt, EML un email
'********
' puis lignes d'erreur: 3, la premiere pour la verif de forme, la deuxieme pour verif de mini puis maxi =)
#EMAIL_FROM:EML:1:0
Vous devez entrer votre adresse email
Email trop court pour être valide
Email trop trop long

#FORMESTIM_NOM:ALL:1:0
Vous devez entrer votre nom
Vous devez entrer votre nom
Vous devez entrer votre nom

#FORMESTIM_PRENOM:ALL:1:0
Vous devez entrer votre pr&eacute;nom
Vous devez entrer votre pr&eacute;nom
Vous devez entrer votre pr&eacute;nom

#FORMESTIM_TEL:NBR:1:0
Vous devez entrer votre num&eacute;ro de t&eacute;l&eacute;phone
Vous devez entrer votre num&eacute;ro de t&eacute;l&eacute;phone
Vous devez entrer votre num&eacute;ro de t&eacute;l&eacute;phone

#FORMESTIM_TYPEBIEN:ALL:1:0
Vous devez entrer un type de bien
Vous devez entrer un type de bien
Vous devez entrer un type de bien

#FORMESTIM_VILLE:ALL:1:0
Vous devez entrer la ville
Vous devez entrer la ville
Vous devez entrer la ville

#FORMESTIM_CP:ALL:1:0
Vous devez entrer le code postal
Vous devez entrer le code postal
Vous devez entrer le code postal