// VAR COLORS
$color-body      : #ffffff;
$color-content   : #ffffff;
$color-block     : #eaeae9;
$color-primary   : #da1931;
$color-secondary : #ffffff;
$color-action    : #5f6465;
$color-important : #da1931;
$color-nav-footer: #363a3b;

// COLOR PUB
$color-pub       : "white";

// COLOR FONT BODY DEFAULT
$color-font-body : #505355;

