.suggestion_list {
 position:relative;
 background: white;
 border: 1px solid #aaa;
 padding: 4px;
 margin: 0px 0px 0px 30px;
}

.suggestion_list ul {
	padding: 0;
	margin: 0;
 	list-style-type: none;
}

.suggestion_list a{
 padding:2px;
 text-decoration: none;
 color: navy;
}

*#autosuggest .selected {
 background-color: #00496e;
 color: #ffffff;
}

*#autosuggest .selected a {
 color: #ffffff;
}

.suggestion_list .noselected {
 background-color: #ffffff;
 color: #00496e;
}

.suggestion_list .noselected a {
 color: #00496e;
}

*#autosuggest {
	 display: none;
	 width: 280px;
	 clear: both;
	 float: left;
	 margin: 4px 0px 0px 0px;
	 right: 410px;
 }