 
.xdev {
	color: #f13000;
	font-style: italic;
	font-weight: bold;
	clear: both;
	border: 1px solid #f4ebe9;
	float: left;
	width: 100%;
	padding: 4px 0px 4px 0px;
	margin: 8px 0px 8px 0px;
	background-image: url("/z/portail/pol/i/bg_diag.gif"); 
}


.xdev span {
	float: left;
	width: 96%;
	margin: 0px 10px 0px 10px;
} 






.debugid3 {
	display: none;
}

.img_xedy {
	display: inline;
}

.smenuhid {
	display: block;
	background-color: white;
	margin: 10px 5px 5px 5px;
	background-image: url("/z/portail/pol/i/bg_diag.gif"); 
	font-size: 11px;
	padding: 4px;
}



.smenuhid .topmenu {
	margin: 0px;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	color:black;
	padding: 0px 0px 0px 0px;
}

.smenuhid .submenu a { 
	margin: 4px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size: 11px;
	color: black;
}

.smenuhid .submenu {
	margin: 8px 0px 8px 0px;
}

.submenu a,
.submenu a:visited {
	text-decoration: none;
	color: black;
}

.submenuhid, .submenuopenhid {
	background-color: white;
	margin: 8px 0px 8px 0px;
	padding: 0px 0px 0px 0px; 
	font-size: 11px;
	background-image: url("/z/portail/pol/i/bg_diag.gif"); 
	background-repeat : repeat; 
	background-position: 0% 0%;
	display: block;
}	

.submenuhid a,
.submenuopenhid a,
.submenuopen a:visited	 { 
	margin:4px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-size: 11px;
	color: black;
	text-decoration: none;
}

.smenuhid .submenuopen a,
.smenuhid .submenuopen a:visited
.submenuopenhid a:visited {
	color:#d2180c;
}

.cnt_rub_homehid {
	display: inline;
	background-image: url("/z/portail/pol/i/bg_diag.gif"); 
}