// VAR COLORS
$color-body:#50575d;
$color-content:#50575d;
$color-block:#faf9f6;
$color-primary:#50575d;
$color-secondary:#eb9c24;
$color-action:#de9729;
$color-important:#50575d;
$color-nav-footer:#fff;
// COLOR PUB
$color-pub:"white";
// COLOR FONT BODY DEFAULT
$color-font-body:#c3c3c3;
// COLOR SOUS MENU
$color-sous-menu:$color-block;