* { margin: 0; padding: 0; }
body { background: #a9c1e0 url(../images/bg_body.gif) repeat-x; }
div, td { font: normal 11px Verdana, Arial, Helvetica, sans-serif; color: #051a28; }
table  { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
input, select { vertical-align: middle; }
a {font-weight: bold; text-decoration: none;color: #064299;}
a:hover { text-decoration: none;color:#a9c1e0; }
img { border: none; display: inline; }
#wrapper { position: relative; width: 974px; margin-top: 10px; margin-bottom: 15px; }
#header1 { position: relative; width: 974px; height: 176px; overflow: hidden; background: url(../images/bg_header.gif) no-repeat; }
#header2 { padding: 8px 11px 0 11px; }
#logo { position: relative; width: 461px; float: left; }
#menu1 { width: 491px; float: right; }
#infos1 { width: 491px; height: 16px; overflow: hidden; line-height: 16px; background: url(../images/bg_marquee.gif) repeat-x; }
.RefMarquee { padding: 0 5px; color: #fff; }
.RefMarquee a { color: #fff; }
#menu2 { width: 491px; margin-top: 9px; }
.separ { width: 12px; }
#menu2 .menu1, #menu2 .menu2 { width: 162px; }
#menu2 .menu1 ul, #menu2 .menu2 ul { width: 154px; list-style-type: none; }
#menu2 .menu1 ul li, #menu2 .menu2 ul li { margin-bottom: 5px; }
#menu2 .menu1 a { position: relative; width: 154px; height: 17px; overflow: hidden; background: url(../images/bg_menu.gif) repeat-x; display: block; line-height: 15px; font-size: 12px; color: #fff; text-align: right; }
#menu2 .menu2 a { position: relative; width: 154px; height: 17px; overflow: hidden; background: url(../images/bg_menu.gif) repeat-x; display: block; line-height: 15px; font-size: 12px; color: #fff; text-align: left; }
#menu2 .menu1 a:hover, #menu2 .menu2 a:hover { position: relative; background: url(../images/bg_menu.gif) repeat-x; background-position: 0 -17px; display: block; color: #051a28; text-decoration: none; }
.menu1 span, .menu2 span { padding-right: 5px; padding-left: 5px; }
.biensTop { color: #064299; font-weight: bold; font-size: 11px; text-align: right; }
#flash { position: relative; width: 974px; height: 312px; overflow: hidden; background: url(../images/bg_flash.gif) no-repeat; }
#topflash { width: 952px; margin: 0 11px; }
#topflash td { color: #064299; font-size: 12px; line-height: 24px; }
.coordonnees { width: 752px; text-align: left;}
.menuflash { width: 200px; text-align: right; }
.menuflash a { color: #157dfe; font-weight: bold; font-size: 12px; }
#animationflash { padding: 5px 0 4px 0; }
#main { position: relative; width: 974px; background: url(../images/bg_main.gif) repeat-x; }
#content1 { padding-top: 4px; }
#content2 { background: #fff url(../images/bg_content.gif) bottom repeat-x; }
.borleft { background: url(../images/bg_borleft.gif) repeat-y; }
.borright { background: url(../images/bg_borright.gif) repeat-y; }
/*index*/
#moteur { width: 974px; }
#moteur td, #menu2 td { vertical-align: top; text-align: left; }
/*intro*/
.title-intro { width: 300px; height: 38px; overflow: hidden; background: url(../images/bg_ttlintro.gif) left no-repeat; }
.content-intro { height: 195px; background: url(../images/bg_intro.gif) bottom left repeat-y; }
.content-intro img { border: 1px solid #1d82fe; margin-top: 5px; margin-bottom: 5px; }
.footer-intro { height: 25px; overflow: hidden; background: url(../images/bg_lowerintro.gif) left no-repeat; }
/*rechercher*/
.title-rechercher { width: 343px; height: 38px; overflow: hidden; background: url(../images/bg_ttlrechercher.gif) left no-repeat; }
.content-rechercher { height: 155px; background: url(../images/bg_rechercher.gif) bottom left repeat-y; }
.content-moteur { padding: 0 14px 3px 14px; text-align: justify;}
.footer-rechercher { height: 25px; overflow: hidden; background: url(../images/bg_lowerrechercher.gif) left no-repeat; }
/* minimoteur */
.tabFond1Mini { width: 315px; margin-top: 27px; }
.tabFond1Mini td { vertical-align: top; text-align: left; font-size: 12px; padding-bottom: 10px; }
.tabFond1Mini .tabTitremini { width: 100px; }
.tabFond1Mini .tabFond2mini { width: 215px; }
.tabFond2mini .typeBien { width: 185px; }
.tabFond2mini .budget { width: 50px; }

/* alert index */
.alertindex {width:333px; height:66px; background:#064299; color:#fff;margin-left:5px;}
.alertindex a {color:#fff;}
.alertindex a:hover {color:#fff;text-decoration:underline;}

/*cdc*/
.title-cdc { width: 331px; height: 38px; overflow: hidden; background: url(../images/bg_ttlcdc.gif) left no-repeat; }
.content-cdc { height: 195px; background: url(../images/bg_cdc.gif) bottom left repeat-y; }
.cdc { width: 300px; margin-bottom: 5px; }
.cdc .cdc-photo { width: 130px; vertical-align: top; }
.cdc-photo img { border: 1px solid #1d82fe; }
.cdc .cdc-libelle { width: 170px; }
.footer-cdc { height: 25px; overflow: hidden; background: url(../images/bg_lowercdc.gif) no-repeat; }
.footer-intro a, .footer-rechercher a, .footer-cdc a { font-weight: bold; color: #157dfe; margin-right: 14px; }
h2 { margin-left: 20px; color: #064299; font-size: 14px; font-weight: bold; line-height: 38px; }
/*fin index*/
#portefeuilles1 { position: relative; width: 974px; background: url(../images/bg_portefeuilles1.gif) repeat-y; }
#portefeuilles2 { position: relative; width: 974px; background: url(../images/bg_portefeuilles2.gif) top no-repeat; }
#portefeuilles3 { position: relative; width: 974px; background: url(../images/bg_portefeuilles3.gif) bottom no-repeat; }
#portefeuilles3 td { vertical-align: top; text-align: left; padding: 5px 12px 12px 12px; }
#footer { width: 974px; height: 20px; overflow: hidden; background: url(../images/bg_footer.gif) no-repeat; line-height: 20px; margin-bottom: 15px; }
#footer .footer1 { width: 444px; text-align: left; padding-left: 15px; color: #fff; }
#footer .footer2 { width: 500px; text-align: right; padding-right: 15px; }
#footer a { color: #fff; }
/* plan  et outils*/
h1 { width: 950px; height: 26px; color: #064299; font-size: 14px; background: url(../images/bg_h1.gif) no-repeat; line-height: 26px; padding-left: 7px; margin: 0; }
.plan { width: 100%; margin: 10px 0;  }
.plan td { width: 50%; vertical-align: top; text-align: left; line-height: 20px; padding: 10px 20px; }
.plan ul { margin: 0 0 10px 0; padding: 0; list-style-type: none; line-height: 15px; }
.plan ul li { border-bottom: 1px solid #157dfe; padding: 5px 50px; }
.plan ul li a { color: #064299; font-weight: bold; font-size: 12px; text-decoration: none; }
.plan ul li a:hover { color: #157dfe; text-decoration: none; }
.plan .first, .Outils .first { border-top: 1px solid #157dfe; }
/*recherche photos*/
.tabFond2 td { font-size: 11px; padding: 5px; }
.tabFond1 .selection, .tabFond2 .selection { color: #212f90; font-size: 12px; }
.tabFond1 table { text-align: left; }
.tabFond1 .tabFond2, .tabFond2 { background-color: #fff; border: 1px solid #fff; }
	/*ligne 1*/
#boitephraserecherche, #boitetri, #boitelegende { background-color: #e6eff9; }
.tabFond1 .tabFond2 .soustitre a, .tabFond1 .tabFond2 .soustitre { color: #052e69; }
	/*ligne 2*/
#boitenavigationbas, #boitenavigationhaut {	margin: 15px 0;	padding: 5px; border-bottom: 2px solid #064299;	background: #000; }
#boitenavigationbas .texte, #boitenavigationhaut td { color: #00FFFF; }
#boitenavigationbas a, #boitenavigationhaut a { color: #fcae48; }
	/*ligne 3*/
#boiteannonce1, #boiteannonce2, #boiteannonce3 { background-color: #e6eff9; border: 1px solid #fff; }
#boiteannonce2 .tabTitre b { color: #064299; }
#boiteannonce2 .tabFond1 .tabTitre, .tabTitre {	padding-left: 5px; background: #9fc9ff;	color: #064299;	font-size: 12px; line-height: 20px;	border-bottom: 2px solid #064299; }
	/*ligne 4*/
#boitepubalerte1, #boitepubalerte2 { background-color: #064299; }
#boitepubalerte1 td, #boitepubalerte2 td { color: #fff; }
#boitepubalerte1 a, #boitepubalerte2 a { color: #fff; }
h3 { color: #fff; }
	/*autres*/
#boitelegende .soustitre img { margin-bottom: 5px; }
.messageNomAgence, .estimationNomAgence { color: #064299; font-size: 14px; }
/* guide */
.txtTitre3 { color: #fff; font-weight: bold; font-size: 12px; text-align: left; }
.gras {
	padding: 2px 5px 2px 20px;
	background: url(../images/picto_retour.gif) 0 1px no-repeat;
	color: #064299;
	font-weight: bold;
}
.gras u { text-decoration: none; }
	/* ---- table extérieure ---- */
.encadre {
	border: 1px solid #a2ccff;
	padding: 5px;
	background: #e8f2ff;
	line-height: 14px;
}
.encadre .gras {
	padding: 0;
	margin-bottom: 5px;
	border: none;
	background: #e8f2ff;
	color: #042d68;
	line-height: 12px;
}
.encadre a { color: #042d68; }
    /* ---- table intérieure ---- */
.table_news strong { color: #064299; }
.table_news, .encadre table {
	border-top: 1px solid #e8f2ff;
	border-left: 1px solid #e8f2ff;
	border-bottom: none;
	border-right: none;
	background: #9ca7bb;
}
.table_news td, .encadre td {
	border-bottom: 1px solid #e8f2ff;
	border-right: 1px solid #e8f2ff;
	border-left: none;
	border-top: none;
	background: #a2ccff;
	font-size: 10px;
	padding: 5px;
}   
.table_news .gras {
	padding: 3px 5px;
	margin: 0;
	background: #ffce89;
	color: #042d68;
	line-height: 12px;
}

#Outils {
	margin-left:50px;
}

.txtAgence p{padding:0 0 10px 0; text-align:justify;}