@import "color";
// BG SOLO
$bg-uni:yes;

// PICTURE BG OU DEGRADE CSS BG COLOR PRIMARY vs SECONDARY vs BLOCK > SI NO ALL = BG BODY UNI
$picture-bg:yes;
$picture-bg-url:'../images/dark_wall.png';
$picture-bg-repeat-horizontal:no;

// SIZE SCROLLING
$height-scrolling:750;

// SIZE NAVIGATION
$height-navigation:100;

$margin-top-under-nav-fixe:135;

// VAR SITE TYPO
$font-body:"Source Sans Pro",verdana,sans-serif;
$font-title:"Open Sans",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text:1.5em;
$font-size-title:1.5em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:normal;

// ARRONDI POUR LES EFFETS SUR LI > A:HOVER/FIL ARIANE/BOUTON
$arrondi:no;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS LIB2
@import "../../../slagence_X_V5/sources/scss/boutons/lib2";

// IMPORT PUB LIB BOITE
@import "../../../slagence_X_V5/sources/scss/pubs/lib1";

// IMPORT PUB LIB2
@import "../../../slagence_X_V5/sources/scss/pubs/lib3";

// IMPORT TEMPLATE PARIS
@import "../../../slagence_X_V5/sources/scss/templates/helsinki";

// IMPORT MODULE ANNONCES11
@import "../../../slagence_X_V5/sources/scss/modules/annonces14";

// IMPORT MODULE EXTRA
@import "../../../slagence_X_V5/sources/scss/extra/extra5";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";

// IMPORT MODULE SOUS MENU ORPI
@import "../../../slagence_X_V5/sources/scss/sous_menu/lib1";




.padding-top-30 {
	padding-top:30px;
}

.aside-home-2 {
	background-image:url('../images/homepage/homepage_scrolling_2.jpg');
	background-color:$color-body;
	background-position:top center;
	background-attachment:fixed;
	background-repeat:no-repeat;
}

.aside-home-3 {
	background-image:url('../images/homepage/homepage_scrolling_3.jpg');
	background-color:$color-body;
	background-position:top center;
	background-attachment:fixed;
	background-repeat:no-repeat;
}

.aside-home-4 {
	background-image:url('../images/homepage/homepage_scrolling_4.jpg');
	background-color:$color-body;
	background-position:top center;
	background-attachment:fixed;
	background-repeat:no-repeat;
}

.pub-left {
	width: 68%;
	text-align: right;
	top: 620px;
	right: 20px;
	background:$color-body;
	padding:10px;
	@include border-radius (4px);
}

.pub-right {
	width: 68%;
	text-align: left;
	top: 20px;
	left: 20px;
	background:$color-body;
	padding:10px;
	@include border-radius (4px);
}







// SCROLL ARROW

.arrow-wrap {
    width: 60px;
    height: 60px;
    position:absolute;
    left:50%;
    top:730px;
    z-index:125;
    margin-left:-30px;
    background: $color-primary;
    padding: 7px 5px;
    border-radius:50%;
    font-size:0.4em;
    text-align: center;
}

aside[class*="aside-home-"] .arrow-wrap {
    width: 60px;
    height: 60px;
    position:absolute;
    left:50%;
    bottom:-35px;
    z-index:125;
    margin-left:-30px;
    background: $color-autre;
    padding: 7px 5px;
    border-radius:50%;
    font-size:0.4em;
    text-align: center;
}

.arrow {
    display: inline-block;
    position:relative;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #ffffff transparent transparent transparent;
    &:after {
        content:'';
        position:absolute;
        top:-13px;
        left:-10px;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 10px 10px 0 10px;
        border-color: $color-autre transparent transparent transparent;
    }
}

.sub-arrow {
    position: absolute;
    left: 50px;
    bottom: -12px;
    z-index: -1;
    border-style: solid;
    border-width: 1.5em 1.5em 0 1.5em;
}

aside[class*="aside-home-"] {
    border-bottom: 6px solid $color-autre;
    &:last-child {
        border-bottom: 0;
    }
}

// END SCROLL









@media only screen and (max-width : 767px) {
        .titre-milieu {
			margin-top:0px;
		}
}


//-----------------------------------------------------------------------------
//	PERSO SEXTIUS
//-----------------------------------------------------------------------------

//-----------------------------------------------------------------------------
//	GENERAL
//-----------------------------------------------------------------------------
	//-----------------------------------------------------------------------------
	//	MISE EN FORME
	//-----------------------------------------------------------------------------
.margin-top-35 {
	margin-top:35px;
}
.container {
	width:1280px;
	@media only screen and (max-width : 1280px) {
	width:960px;
	}
}

.h1-index {
	margin-top:40px;
	@media only screen and (max-width : 767px) {
		background-image:url('../images/homepage/homepage_scrolling_1_mobi.jpg');
		background-size:cover;
		background-repeat: no-repeat;
	}
}

.bg-bloc-index {
	background-color:rgba($color-action,0.7);
}

.bg-bloc-index .btn-important {
	border: 1px solid $color-autre;
	 @include background-image(linear-gradient($color-autre, darken($color-autre,10)));
    background-color: $color-autre;
	background-repeat: repeat-x;
    color: $color-primary;
	&:hover {
		@include background-image(linear-gradient(darken($color-autre,10), $color-autre));
	}
}

.bg-bloc-autre  {
	background-color:rgba($color-primary,0.9);
}

.bloc-nav-left-fix {
	background:$color-autre;
}

.bg-inside {
	background-image:url('../images/inside/inside_scrolling.jpg');
	background-color:$color-body;
	background-position:top center;
	background-attachment:fixed;
	background-repeat:no-repeat;
}

	//-----------------------------------------------------------------------------
	//	MENU & NAV
	//-----------------------------------------------------------------------------
.navigation .logo img {
	position:absolute;		
}	
@media only screen and (max-width : 767px) {
	#Menu-bloc > div.span2.logo.padding-left-10.padding-right-10.margin-top-10 > div > a > span > img {
		width: 40%;
	}
}

/* ----------------------------------------------
 * Generated by Animista on 2017-5-29 10:28:55
 * http://animista.net
 * T: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes scale-up-center{0%{-webkit-transform:scale(.5);transform:scale(.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes scale-up-center{0%{-webkit-transform:scale(.5);transform:scale(.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}
@-webkit-keyframes rotate-scale-up{0%{-webkit-transform:scale(1) rotateZ(0);transform:scale(1) rotateZ(0)}50%{-webkit-transform:scale(2) rotateZ(180deg);transform:scale(2) rotateZ(180deg)}100%{-webkit-transform:scale(1) rotateZ(360deg);transform:scale(1) rotateZ(360deg)}}@keyframes rotate-scale-up{0%{-webkit-transform:scale(1) rotateZ(0);transform:scale(1) rotateZ(0)}50%{-webkit-transform:scale(2) rotateZ(180deg);transform:scale(2) rotateZ(180deg)}100%{-webkit-transform:scale(1) rotateZ(360deg);transform:scale(1) rotateZ(360deg)}}
@-webkit-keyframes rotate-hor-center{0%{-webkit-transform:rotateX(0);transform:rotateX(0)}100%{-webkit-transform:rotateX(-360deg);transform:rotateX(-360deg)}}@keyframes rotate-hor-center{0%{-webkit-transform:rotateX(0);transform:rotateX(0)}100%{-webkit-transform:rotateX(-360deg);transform:rotateX(-360deg)}}
@-webkit-keyframes tracking-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-700px);transform:translateZ(-700px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes tracking-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-700px);transform:translateZ(-700px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}
@-webkit-keyframes blink-2{0%{opacity:1}50%{opacity:.2}100%{opacity:1}}@keyframes blink-2{0%{opacity:1}50%{opacity:.2}100%{opacity:1}}

#Menu-bloc > div.span2.logo.padding-left-10.padding-right-10.margin-top-10 > div > a > span > img {
	-webkit-animation: rotate-hor-center 1s ease-in both;
	-moz-animation: rotate-hor-center 1s ease-in both;
	animation: rotate-hor-center 1s ease-in both;
}

.btn:hover {
	-webkit-animation: blink-2 0.9s both;
	-moz-animation: blink-2 0.9s both;
	animation: blink-2 0.9s both;
}


.menu-principal {
	font-size:0.9em;	
	>li {
		border-right:none;
		border-left:none;
		&:hover {
			background-color:$color-action;
			transition: all 0.3s linear 0s;
			}
		>a {
			padding:0px 6px;			
			
		}
	}
}

.menu-contact {
	margin-right:-60px;
}


//-----------------------------------------------------------------------------
//	INDEX
//-----------------------------------------------------------------------------

	//-----------------------------------------------------------------------------
	//	SRVICES
	//-----------------------------------------------------------------------------


.tracking-in-expand-fwd {
	-webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	-moz-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}	

.zone-pub {
	background-color:rgba($color-primary,0.9);
	padding:10px;
	height: 220px;
}

	//-----------------------------------------------------------------------------
	//	MODULE PA
	//-----------------------------------------------------------------------------
.ligne-titre {	
	text-align:center;
}

@media only screen and (max-width : 767px) {
	.module-homepage {
		margin-top:-50px;		
	}
}

.module-annonces-homepage {
	background:lighten($color-autre,10);
}

	//-----------------------------------------------------------------------------
	//	MOTEUR
	//-----------------------------------------------------------------------------
.aside-home-3 .mini-moteur {
	background-color:rgba($color-autre,0.7);
}


	//-----------------------------------------------------------------------------
	//	PUB FULL
	//-----------------------------------------------------------------------------
.pub-wordpress-helsinki {
	box-shadow:none;
	margin-top:150px;
	padding:10px;
	background-color:rgba($color-primary,0.7);
}

.titre-pub {
	font-size: 1.2em;
}


.photo-agence-annonces .height-130 {
	height:200px;
}



//-----------------------------------------------------------------------------
//	CONTENU
//-----------------------------------------------------------------------------

	//-----------------------------------------------------------------------------
	//	BG SUPPL
	//-----------------------------------------------------------------------------
.bg-qsn {
	background-image:url('../images/immo/bg-qsn.jpg');
	height:250px;
	padding:10px;
	margin-top: -53px;
}

.bg-lien {
	background-image:url('../images/immo/bg-lien.jpg');
	height:250px;
	padding:10px;
	margin-top: -53px;
}

.bg-pratique-t {
	background-image:url('../images/immo/bg-pratique-t.jpg');
	height:250px;
	padding:10px;
	margin-top: -53px;
}

.bg-pratique-l {
	background-image:url('../images/immo/bg-pratique-l.jpg');
	height:250px;
	padding:10px;
	margin-top: -53px;
}

.bg-pre-vente {
	background-image:url('../images/immo/bg-pre-vente.jpg');
	height:250px;
	padding:10px;
	margin-top: -53px;
}

.bg-biens-pre {
	background-image:url('../images/immo/bg-biens-pre.jpg');
	height:250px;
	padding:10px;
	margin-top: -53px;
}

.bg-esti {
	background-image:url('../images/immo/bg-esti.jpg');
	height:250px;
	padding:10px;
	margin-top: -53px;
}

.bg-engagement {
	background-image:url('../images/immo/bg-engagement.jpg');
	height:250px;
	padding:10px;
	margin-top: -53px;
}

.bg-gestion {
	background-image:url('../images/immo/bg-gestion.jpg');
	height:250px;
	padding:10px;
	margin-top: -53px;
}

.bg-invest {
	background-image:url('../images/immo/bg-invest.jpg');
	height:250px;
	padding:10px;
	margin-top: -53px;
}

.bg-info {
	background-image:url('../images/immo/bg-info.jpg');
	height:250px;
	padding:10px;
	margin-top: -53px;
}

.bg-services-vente {
	background-image:url('../images/immo/bg-services-vente.jpg');
	height:250px;
	padding:10px;
	margin-top: -53px;
}

.bg-recrutement {
	background-image:url('../images/immo/bg-recrutement.jpg');
	height:250px;
	padding:10px;
	margin-top: -53px;
}

	//-----------------------------------------------------------------------------
	//	ESTIMATION
	//-----------------------------------------------------------------------------
.adresse-estimation {
	display:none;
}

	//-----------------------------------------------------------------------------
	//	ESTIMATION
	//-----------------------------------------------------------------------------
.slideshow {
   width: 400px;
   height: 267px;
   overflow: hidden;
   border: 3px solid $color-autre;
}

.slideshow ul {
    /* 4 images donc 4 x 100% */
   width: 400%;
   height: 200px;
   padding:0; margin:0;
   list-style: none;
}
.slideshow li {
   float: left;
}

	//-----------------------------------------------------------------------------
	//	DIV SANS JS
	//-----------------------------------------------------------------------------

.toggle, /* 1 */
.toggle:not(:checked) ~ .toggled /* 2 */ {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.toggle2, /* 1 */
.toggle2:not(:checked) ~ .toggled2 /* 2 */ {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.toggle3, /* 1 */
.toggle3:not(:checked) ~ .toggled3 /* 2 */ {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.toggle4, /* 1 */
.toggle4:not(:checked) ~ .toggled4 /* 2 */ {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.toggle5, /* 1 */
.toggle5:not(:checked) ~ .toggled5 /* 2 */ {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.toggle6, /* 1 */
.toggle6:not(:checked) ~ .toggled6 /* 2 */ {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.toggle7, /* 1 */
.toggle7:not(:checked) ~ .toggled7 /* 2 */ {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.toggle8, /* 1 */
.toggle8:not(:checked) ~ .toggled8 /* 2 */ {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.toggle9, /* 1 */
.toggle9:not(:checked) ~ .toggled9 /* 2 */ {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

	//-----------------------------------------------------------------------------
	//	LISTING PA
	//-----------------------------------------------------------------------------

.type-bien-listing, .infos-bien {
	display:none;
}