/*$$REM$$====================================================================================
//// <summary>styles mutualisés "LAFORET 2009"</summary>
//// <remarks>
//// <para>Fichier à démutualiser au cas par cas</para>
//// <para>Sert à personnaliser le menu</para>
//// </remarks>
//// <update date="2009-05-28" author="lisbonne.siriphol">Création</update>
====================================================================================$$END$$*/

#CartoMicrosoft_Ctn #CartoMicrosoft{height:400px;}

.cadreAgence .img_Ctn .imgCadreAgence{display: block; border: 5px solid #ffe198; width: 190px; height: 120px;}