// VAR COLORS
$color-body:#695548;
$color-content:#f3f3f3;
$color-block:#EFCA90;
$color-primary:#695548;
$color-secondary:#d5b076;
$color-action:#000;
$color-important:#362215;
$color-nav-footer:#fff3e0;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#f2debd;