// VAR COLORS
$color-body:#fff;
$color-content:#fff;
$color-block:#962125;
$color-primary:#fff;
$color-secondary:#962125;
$color-action:#cc6a6a;
$color-important:#962125;
$color-nav-footer:#000;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;