// VAR COLORS
$color-body:#fff;
$color-content:#1a1a1a;
$color-block:#ffffff;
$color-primary:#FFF;
$color-secondary:#FFF;
$color-action:#01233f;
$color-important:#01203d;
$color-nav-footer:#002343;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;