// VAR COLORS
$color-body:#F5F5F5;
$color-content:#F5F5F5;
$color-block:#766d61;
$color-primary:#766d61;
$color-secondary:#333333;
$color-action:#424242;
$color-important:#f9e00f;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#60574c;