/* ------------------------------------------ GÉNÉRAL ------------------------------------------ */
#HeaderTxt h2 {color:#00141D;}
#Coordonnees_Ctn {border-bottom:1px solid #667A83;}
#TopHeader marquee, #TopHeader marquee *, a#AccueilSite {color:#8f8f8f;}


/* ------------------------------------------ ACCUEIL ------------------------------------------ */
#FilAriane span {color:#00141D;}
/* Portefeuille */
#PortefeuilleAccueil h4 a, #PortefeuilleAccueil h6 span {color:#8f8f8f;}
/* Nouveauté */
.selectionDescr .selectionTxt {color:#fff;}

/* ------------------------------------------ OUTILS, CALCULETTES ------------------------------------------ */
#Outils h3 {background-color:#00141D;}
.accordion_content .inputResult {background-color:#667A83;}


/* ------------------------------------------ AGENCE ------------------------------------------ */
.ero .ero-previewArea p, .descGeolocEmail a {color:#00141D;}
#MapMicrosoft .geolocInfo, #MapMicrosoft #MapHead * {color:#1A2E37;}

/* ------------------------------------------ RECHERCHE, BASIC ------------------------------------------ */
.contactAnn .nom, .contactAnn .ctc {color:#667A83;}
#AlerteEmail .note {color:#00141D;}
#RechHautPictoResult {background-color:#667A83;}
table.detailsAnn td * {color:#667A83;}
#RechPagesHaut .rechLiensPages a.actif, #RechPagesBas .rechLiensPages a.actif, #RechPagesHaut .rechLiensPages a:hover, #RechPagesBas .rechLiensPages a:hover, #RechPagesHaut .rechLiensPages a:hover span, #RechPagesBas .rechLiensPages a:hover span {color:#1A2E37;}

	
	
/* ------------------------------------------ DETAIL, SENTO ------------------------------------------ */
#Annonce_Ctn td#ColonneGauche {background:none;border: none;}
.ad-gallery .ad-back {background: url("$$_$$images/ad_scroll_back.png") no-repeat scroll 0 0 #1A2E37;}
.ad-gallery .ad-forward {background: url("$$_$$images/ad_scroll_forward.png") no-repeat scroll 0 0 #1A2E37;}
#CguFormulaire, #AgenceMentions p, #AgenceMentions p {color:#667A83;}
#CguFormulaire a {color:#667A83; font-weight:bold;}
#Form_Ctn .inputText, #Form_Ctn .inputTextarea {background-color:#667A83; color:#00141D;}
#FormContact h4, #AgenceContact h4 {color:#f2f2f2; text-transform:uppercase;}
.similaire_ctn {background-color:#1A2E37;}
	
.inputText, .inputTextarea{color:  #000;}