// VAR COLORS
$color-body:#fff;
$color-content:#1a1a1a;
$color-block:#edf0e5;
$color-primary:#edf0e5;
$color-secondary:#1B341E;
$color-action:#819a84;
$color-important:#998196;
$color-nav-footer:#819a84;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#4c4a44;