// VAR COLORS
$color-body:#111;
$color-content:#111;
$color-block:#333;
$color-primary:#231f20;
$color-secondary:#333;
$color-action:#a5cd39;
$color-important:#333;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#fff;

// COLOR SOUS MENU
$color-sous-menu:$color-block;