/*------CSS Lucas Immobilier--*/
 body{background-color: #FFFFFF; color:#002E60;}
a { text-decoration: none; color: #F49A12; }
a:hover { color: #000; text-decoration: none; }
#text-accueil p.savoir{font-weight:bold; color:#f89807; padding:15px 0 0 0;}
#text-accueil p.savoir a{color:#f89807;text-decoration: underline;}
#text-accueil p.savoir a:hover{text-decoration:none; color:#f89807;}
.espace-content{padding-bottom:0;}
.pic-estim {color:#F39911;}
.bg-mobile{margin-bottom:0;}
#main {border-bottom:none;}
#bg_spacer_footer{ border:1px solid #002E60; border-top:none;}
#titre_texte{ width:428px;}
.right-footer{width:480px;margin-left:0;}
.right-footer p, .right-footer p span{color:#F49A12;}
.right-footer, .right-footer a {color: #F49A12; font-weight:bold;}
.link-prestige, .link-prestige a{ color: #F6AE41;}
#bg_spacer_footer{width:998px;margin:0;}
.adresse #text_footer_gauche .data_footer_adresse a:hover{color: #f89807;} 
#footer {background-color:#002E60;}
#bg-link-top li a {color:#ffffff;}
#bg-link-top li a:hover{color:#f89807;}
.bg-estim{border-color:#002E60;}
.infos a{color:#F89807; font-weight:normal;}
.infos a:hover{font-weight:normal;}
.selectionDescr_t5 .selectionVille_t5 *{color:#002E60;}
.selectionDescr_t5 .selectionPrix_t5{color:#F89807;}

/*menu principal*/
#menu_fr a:hover span, #menu_en a:hover span{color:#ffffff;}
#menu_en a {padding: 0 49px;}
#menu_fr a {padding: 0 39px;}


.pic-estim {padding:7px 0 7px 15px;}
.bg-estim , .bg-mobile { width: 210px;}
.bg-estim p {padding:5px 0; color:#fff;}
.txt-mobile {padding:7px 0 0 0;}
.txt-mobile strong, .link-portable, .adresse #text_footer_gauche .data_footer_adresse, .adresse #text_footer_gauche .data_footer_adresse a {color:#fff;}

.selectionDescr_t5 p{ margin-left:7px; padding:4px 0 10px 0;}
select.miniSelect option, form#Tri select option{color:#002E60; font-size:11px; padding:0 0 0 2px;}
#Moteur h4 {font-weight:bold;}
form#Tri select, #AlerteEmail #AlerteForm input.alerte{ color:#002E60; border:1px solid #002E60;}
form#Tri select option, form#Tri select optgroup {padding-left:2px;color:#002E60;}
form#Tri select optgroup option{color:#002E60; padding:0 0 0 10px;}
#RechAffichage #RechAffichageListe p{padding:7px 0;}
#RechAffichage #RechAffichage a{padding:0;color:#fff;}
#RechAffichage a:hover,
#RechPagesHaut .rechLiensPages a.actif,
#RechPagesBas .rechLiensPages a.actif,
#RechPagesHaut .rechLiensPages a:hover,
#RechPagesBas .rechLiensPages a:hover{
	Color:#fff;
}


#ChampsBouton .inputSubmit{
	background: #002E60;
	font-size: 16px;
}

.similaire .fai, .similaire .sup1 {display:none;}