/* CSS Document */

/* Redefinitions des balises HTML */ 
	*{margin:0;padding:0;font-size:12px;font-family:Arial,Verdana,sans-serif;color:#666666;}
	img{border:0}
	.clear{clear:both;}
	a{text-decoration:underline;outline:none;color:#17637D;}
	a:hover{color:#666666 ;text-decoration:none;}
	hr{display:none;}
	ul,ol{list-style:none;}
	select option{padding:0;}
	table{ margin:0 auto; padding:0;}
	
	#milieu table tbody tr td{ padding:5px 0px; text-align:justify; text-align:left;}
	* html input.alerte{ background:#FFF;}
	/* --------Modification AR PLAN SITE-------- */    
	body{background:#F4B551 url(../images/px_body.jpg) 0 0 repeat-x;}
	/* Effet bordure (espace 5px) entre BG menu et bande BG site */ 
	#header{width:984px; margin:0 auto;position:relative;}
	#global{position:relative;width:993px; margin:0 auto;}
    #milieu{width:984px;padding:24px 0 3px 0px; min-height:250px;margin:0 auto; position:relative; z-index:1;}


/* ----------------------------------------PAGE ACCUEIL---------------------------------------- */	   
   
/* --------LOGO AGENCE-------- */ 
	#LogoAgence {float:left; display:inline; width:408px; padding:46px 0 0 0; margin:5px 0 0 0;}
	#LogoAgence img{}
	#LogoAgence p{ display:inline; margin:0 0 0 4px;}
/* Mettre en DISPLAY:NONE si pas d'option Anglais */ 
	#Drapeaux {position:absolute; bottom:0; left:470px;}
	#Drapeaux img {margin-right:3px; border:1px solid #17637D;}

/* --------TEXTE ACCUEIL--------*/ 
	#textAccueil { position:relative; float:right; display:inline; width:444px; padding:18px 0 0 0; display:block; right:5px;}
	* html #textAccueil { position:relative; right:0px;}
/* Modification TITRE texte d'accueil */ 
	#textAccueil h1{letter-spacing:-1px; font-size:17px; font-weight:bold;color:#17637D; padding:0 0 0 0;}
	#textAccueil h1 strong{color:#17637D; font-size:20px;}
/* Modification CORPS texte d'accueil */ 
	#textAccueil p{ text-align:justify; font-size:12px;  color:#666666;display:block; padding:5px 0 5px 0;}
	* html #textAccueil p{ text-align:justify; font-size:12px;  color:#666666;display:block; padding:5px 0 0 0;}
	#textAccueil p strong{ color:#17637D;}
	#textAccueil a{ text-decoration:none; color:#17637D;}
	#textAccueil a:hover{text-decoration:underline; color:#000;}
	#textAccueil #address{width:439px; height:36px; background:#B4AE80; padding:12px 0 0 10px; color:#17637d; font-size:11px; font-weight:bold; }
    #textAccueil ul{ margin:0 0 0 10px ;}
    #textAccueil ul li { background:url(../images/picto_fleche_02.gif) 0 6px  no-repeat; min-height:15px; padding:3px 0 0 10px; display:block; overflow:hidden; }
    * html #textAccueil ul li { height:15px;}
    #textAccueil a.infos {float:right; position:relative; top:-12px;  }
    * html #textAccueil a.infos {float:right; position:relative; top:-2px;  }


/* ----- Moteur -----*/
	h2.TitrePage{ color:#17637D; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}

/* --------MENU + FLUX RSS-------- */
/* Modification COULEUR + TAILLE fond MENU */
	#remplissageMenu{ width:100%; min-height:43px;}		
	#menuFlux{width:984px; background:url(../images/px_menu.jpg) 0 0  repeat-x; height:44px; margin:0 auto;}
	#menu {float:right; display:inline; padding:0; position:relative; z-index:2; height:44px;}
	#menu ul{ display:inline; margin:0 0 0 6px; list-style-type:none;}
	#menu li{ float:left; font-size:15px; padding:0 1px; position:relative;}
	#menu ul li.MenuSep{ color:#E9DF73; padding-top:13px;}
	/* Modification COULEUR TEXTE MENU */ 
	#menu a{ margin-top:6px; float:left; line-height:32px; padding:0 1px 0 17px; height:32px;  font-weight:bold; color:#E9DF73; text-decoration:none;font-size:13px;}
	#menu a:hover{ color:#17637D; background:#E9DF73;}		
/* Modification FLUX RSS */ 		
	#fluxRss{float:left; display:inline; padding:15px 25px 5px 0; }
	#fluxRss a{ background:url(../images/puce_rss.gif) 0 0 no-repeat; font-size:10px; text-decoration:underline; color:#FFF; margin:0 0 5px 10px; padding:1px 5px 6px 20px;}
	#fluxRss a:hover{ font-size:10px; text-decoration:none; text-decoration:none;}
	#fluxRss img{float:left; display:inline; vertical-align:middle;}


/* --------CONTENU SITE = ZONE DU MILIEU-------- */
/* Modification COULEUR ARRIERE PLAN CONTENU SITE */ 	
/* Positionnement bandeau image */ 
	#visuel{float:left; display:inline; width:715px; margin:0 0 26px 0; padding:0;}		
	* html #visuel{float:left; display:inline; width:715px; margin:0 0 0 0; padding:0;}		
/* Modification COULEUR BORDURE IMAGE */ 		
	#visuel img{border:2px solid #17637D ;}
 

/*--------POSITIONNEMENT MINI MOTEUR-------- */ 
	 .miniMoteur{float:right;display:inline;width:220px;padding:0 0 15px 42px;position:relative;background:url(../images/fontTitreMoteur.gif) 0 2px no-repeat;}		
	
/* Modification TITRE RECHERCHE */ 		
	.miniMoteur h2{font-size:18px; font-weight:bold; color:#17637D;padding:12px 0 0 0;}
/* A NOTER !!!! Pour styliser les champs + bouton mini moteur VOIR == MINI_MOTEUR.CSS */ 


/* ----------- 3 COUPS DE COEUR ------------- */ 
	#blocBas {width:984px; overflow:hidden;}
	#blocBas #coupCoeur{float:left;display:inline;width:715px;margin:0 0 15px 0; }

/* ----------- LISTE TRANSACTIONS AGENCE ------------- */ 
	#blocBas .nbrTransaction{position:relative; float:right;width:209px; margin:-4px 10px 0 0; height:259px; overflow:auto; display:inline;}

/* Modification COULEUR "AUJOURD'HUI" */ 	
	#blocBas .nbrTransaction h3{font-size:14px;font-weight:bold;padding:1px 0;color:#17637d; }
/* Modification COULEUR TYPE TRANSACTION */ 	
	#blocBas .nbrTransaction h4{width:167px;font-weight:bold;font-size:13px;color:#17637D;padding:10px 0 0 0;}
	#blocBas .nbrTransaction ul{list-style-type:none;margin:0 0 10px 3px; line-height:16px;}
/* Modification COULEUR TYPE DE BIEN */ 
	#blocBas .nbrTransaction ul *{font-size:10px;color:#666666;}
	#blocBas .nbrTransaction ul a:hover{text-decoration:none;color:#000;}


/* Modification COULEUR BANDE COORDONNEES */ 
		.CoordonneesAgence {font-size:11px; background:url(../images/px_menu.jpg) 0 0 repeat-x; height:27px; text-align:center; padding-top:13px; color:#E9DF73; font-weight:bold;}	
/* Modification BG footer portefeuille + menu secondaire */
		.footerPosition{ position:relative;width:995px; border-left:0px solid #fff; border-right:0px solid #fff; padding-bottom:0; margin:auto;}
		.porteFeuille{width:888px;margin:0 auto;}
		#footer .porteFeuille *{color:#17637D;}
/* ARRIERE PLAN FOOTER */
		#footer{ background:none; margin:0 auto; padding:0 0 0 1px; height:62px;}
/* Modification couleur 2 TITRES FOOTER */ 
		#footer h4{display:none; font-size:11px;font-weight:bold;background:none;padding:4px 0 1px 33px;margin:17px 0 0 0;line-height:19px;}
/* titre gauche : Notre portefeuille immobilier */
		#footer .porteFeuille h4{display:none; font-size:12px; color:#414141;}
/* titre droite : www.urldusite.com */
		#footer .menuSecondaire h4{ display:none;font-size:12px; color:#FFF; }

		
/* Modification couleur LISTE DES VILLES */ 
		#footer .porteFeuille .ListeVilles{width:888px;text-align:center;line-height:13px;border:0;color:#fff; padding:12px 0 0 0;}
		#footer .ListeVilles *{color:#6E8EFF; font-size:12px;font-weight:normal;}
		#footer .ListeVilles a{color:#6E8EFF;text-decoration:underline;}
		#footer .ListeVilles a:hover *{color:#fff;text-decoration:none;}

/* Modification couleur MENU SECONDAIRE FOOTER (droite) */
		.menuSecondaire *{font-size:11px; color:#E9DF73;}
		.menuSecondaire{font-size:11px;color:#E9DF73; text-align:center; line-height:45px;}
		.menuSecondaire p{color:#17637D; text-align:center;}
		.menuSecondaire ul li{background:url(../images/px_menu.jpg) 0 0 repeat-x; display:inline; padding:8px 7px 9px 7px; margin:0 1px; }
		.menuSecondaire ul li.situer{ margin:0 4px 0 2px; }
		* html .menuSecondaire ul li{background:url(../images/px_menu.jpg) 0 0 repeat-x; display:inline; padding:8px 7px 9px 7px; margin:0 2px; }
		.menuSecondaire ul li a{font-size:11px;color:#E9DF73;text-decoration:none;}
		.menuSecondaire ul li a:hover{font-size:11px;text-decoration:underline; color:#E9DF73;}
		span.sepSep{ color:#17637D;  }
		#underFooter{width:995px; margin:0 auto;}
        #footer .aigm{width:520px;  padding:12px 0 0 0; margin:0 auto;}
        #footer .aigm ul{text-align:center;}
        #footer .aigm ul li{float:left; padding:0 0 0 10px; display:iline;}
        #footer .aigm ul li a{ font-size:11px; font-weight:bold; margin:0 10px 0 0; text-decoration:none;}
        #footer .aigm ul li span.sepSep{color:#6E8EFF;}
        #footer .aigm ul li a:hover{color:#fff;text-decoration:underline;}




/* ----------------------------------------AUTRES PAGES DU SITE---------------------------------------- */

/* Page En Construction */
	#EnConstruction{margin-top:70px; text-align:center;}


/* PAGE PLAN DU SITE = incl_plan-site.htm */  
	ul#Plan *{text-decoration: none; font-weight: bold;}
	ul#Plan{padding: 0 8em; width:423px; margin:0 auto;position:relative;top:-25px;}
	ul#Plan li.plan{ color:#17637D; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;border-bottom:none;}
	ul#Plan li.MenuSep{display:none;}
	ul#Plan li{padding: 0.2em 0; border:none;}
	ul#Plan .plan{padding: 0.2em 0;background:none;}
	ul#Plan li a{ background:none;color:#17637D;padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #17637D ; text-transform:uppercase;}
	ul#Plan li a:hover{color:#E9DF73;padding-left:10px; height:19px;font-size: 12px; background:#17637D;}


/* Outils */
	ul#Outils *{text-decoration: none; font-weight: bold;}
	ul#Outils{padding: 2em 8em; width:400px; margin:0 auto;}
	ul#Outils li.list{padding: 0.2em 0px;background:none; margin:2px 0; border:none;}
	ul#Outils li a{color:#17637D;padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #17637D ; text-transform:uppercase;}
	ul#Outils li a:hover{color:#E9DF73;padding-left:10px; height:19px;font-size: 12px; background:#17637D;}
	#Outils li.titrePageOutils{ color:#17637D; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}
	#Outils a:hover{color:#666666 ;}

/*PAGES ESTIMATION + CONTACT + MESSAGE == TABLEAUX FORMULAIRES*/
	.tabFond1{border-color:#00AA00; border-width:0; border-style:solid; padding:2px; font-family:Arial, Helvetica, sans-serif; width:100%;}
	 textarea {width:600px; height: 100px;border:1px solid #17637D;margin: 0 0 0 3px; padding:2px;}
	.tabFond2{border-color:#00AA00; border-width:1px; border-style:solid; padding:2px; font-size:14px; font-family:Arial, Helvetica, sans-serif;}
	#milieu .tabTitre{background:#17637D; color:#FFF; font-size:14px; font-weight: bold; font-family:Arial, Helvetica, sans-serif;height:25px;padding:3px; text-align:center; text-transform:uppercase;}
	#milieu .tabTitre *{color:#E9DF73; font-size: 14px;}
	.tabPrint{color:#5C5E5D; font-size: 13px; font-family:Arial, Helvetica, sans-serif; border:1px solid #00AA00;}
	.tabFond1 td input{margin:3px;border:1px solid #17637D ; padding:2px;}
	.tabFond1 td input.BoutonFormRecherche{float:right;width:149px;height:29px;border:none;}
	select.imputForm{border:1px solid #17637D ;margin:0 0 0 3px;}
	select.imputForm option{padding:0 0 0 3px;}
	.tabFond1 table{ width:100%;}
	 input.imputForm{border:1px solid #17637D; padding:2px;}
	 input.boutonEnvoi{float:right;width:149px;height:29px;}
	strong.messageNomAgence,
	strong.estimationNomAgence{ color:#17637D; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase; display:block;}
	/*Résolution Bug IE8 = donner une taille aux bouton pour éviter tout décallage*/
	.tabFond1 .boutonEnvoi {float:right;width:149px;height:29px; border:none;}
	.tabFond1 .BoutonFormContact {float:right;border:0;width:149px;height:29px;}
	.MoteurBouton  {overflow:hidden; padding:0 0 6px 0;}
	.MoteurBouton input {float:right;width:149px;height:29px;}
	td #ChampsBouton input {float:right;margin-right:12px;width:149px;height:29px;}
	#AgenceContact form table#FormContact td#ChampsBouton input{width:149px;height:29px;}	
	.MoteurListeVilles select option{ padding:0 0 0 4px;}

/* GUIDE PRATIQUE = ACCES VIA LE LIEN DANS LA PAGE OUTILS*/
	span.txtTitre3{ display:block; width:870px; color:#FFF; background:#17637D; font-size:16px; font-weight:bold; padding:3px 5px; margin:10px 3px 3px 0;}
	span.gras{ display:block; width:882px; color:#FFF; background:#17637D; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;}
	td.encadre{background-color:#FFF; border-color:#AAA; border-width:2px; border-style:solid; padding:3px; color:#666666; margin:0 0 0 -4px;}
	p.grasnews{ display:block; width:882px; color:#FFF; background:#17637D; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;}

	/* coup de coeur*/
	* html .div-cdc{ height:280px;}
	.div-cdc{width:226px; min-height:280px;float:left; background:#E9DF73 url(../images/px_cdc.jpg) 0 0 repeat-x;padding:3px 0 3px 4px; margin:0 4px 0 0; border:2px solid #17637D ;}
	.div-cdc *{ color:#666666;}
	.div-cdc .photo-cdc img{overflow:hidden; width:220px;height:130px; border:1px solid #17627C; display:inline;}
	
	.div-cdc a span.ville-cdc{font-weight:bold;display:block; color:#17637D; }
	.div-cdc a span.ville-cdc a:hover{color:#000;}
	.div-cdc .contenu-cdc a *{color:#17637D;font-weight:bold; text-transform:capitalize; font-size:14px;}
	.div-cdc .contenu-cdc a:hover *{color:#000;}
	.div-cdc .typebien-cdc{}
	.div-cdc .contenu-cdc{padding:0 6px 4px 6px;}
	.div-cdc .contenu-cdc *{color:#666666;}
	.div-cdc .contenu-cdc a{ text-decoration:none;}
	.div-cdc .contenu-cdc a:hover{color:#17637D;}
	.div-cdc .descriptif-cdc{min-height:30px;}
	* html .divc2c .descriptif-cdc{height:30px;}
	.div-cdc p.prix-cdc{font-weight:bold;font-size:14px; color:#17637D;}
 
 
/* Mentions Legales */
	
	#MentionsLegales{}
	#MentionsLegales h2 {display:block; width: 99%;background:#17637D; font-size: 14px; color:#E9DF73;font-weight: bold;letter-spacing: 0;padding:3px 0 3px 8px;margin: 10px 0;text-align: left;text-transform: none;font-family: Arial; text-transform: none;}
/* Details */
    #AgenceContact form table#FormContact td#ChampsBouton #ChampsObligatoires{clear:both;}
	
/* page accueil*/	

    #accueil{width:90%; margin:0 auto; font-size:12px; font-family:arial,sans-serif;}
    #accueil h1{font-size:18px; font-family:arial,sans-serif; color:#17637D; padding: 0 0 6px 0;}
    #accueil h1 strong{font-size:23px; color:#17637D;}
    #accueil p{padding:0 0 10px 0;line-height:18px;}
    #accueil p strong{padding:0 0 10px 0; color:#666666; }
    #accueil ul{list-style:none; width:271px; padding:0; margin:0 0 0 30px;}
    #accueil li{background:url(../images/picto_fleche_02.gif) 0 2px no-repeat; padding:0 0 4px 15px;}
	
/*Recherche*/

    #RechPagesHaut .rechLiensPages a span, #RechPagesBas .rechLiensPages a span{color:#17637D;}
	#RechercheContainer #AlerteEmail #AlerteForm input.alerteBt{cursor:pointer;}
/*detail*/

    #AgenceContact #CguFormulaire a{color:#17637D; text-decoration:underline;}	
    #AgenceContact #CguFormulaire a{text-decoration:none;}
	#AgenceContact form table#FormContact td#ChampsMessage textarea,#AgenceContact form table#FormContact td#ChampsNom input, #AgenceContact form table#FormContact td#ChampsPrenom input, #AgenceContact form table#FormContact td#ChampsTelephone input, #AgenceContact form table#FormContact td#ChampsEmail input{color:#666666;}
	
/*gestion*/

    #gestion{min-height:245px;  margin:0 auto; padding:0 0 0 1px;}
    * html #gestion{height:350px;}
    #gestion p{margin:0 0 10px 0; text-align:justify;}
    #gestion p.gestion{color:#17637D; font-weight:bold;}
    #gestion p span{color:#17637D; font-weight:bold;}

/*partenairs*/

    #partenairs{ min-height:245px; }
    #partenairs img{text-align:center; }
    #partenairs p{margin:0 0 10px 0;}
    #partenairs p a{ margin:0 0 10px 0;}
    #partenairs p.group { margin:0 0 10px 0; width:150px; margin:0 auto;}


	