@font-face {
    font-family: 'robotolight';
    src: url('$$_$$styles/typos/roboto-light-webfont.eot');
    src: url('$$_$$styles/typos/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('$$_$$styles/typos/roboto-light-webfont.woff') format('woff'),
         url('$$_$$styles/typos/roboto-light-webfont.ttf') format('truetype'),
         url('$$_$$styles/typos/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

body { margin:0;padding:0; text-align:center; background: #e7e7e7; }
div,td { font-family: 'robotolight', Arial, sans-serif;font-size:12px;color:#5d5d5d;}
img { border:none;display:inline;}
table  { border-collapse:collapse;border-spacing:0;}
td, th { padding:0;}
form { padding:0;margin:0;}
input, select { vertical-align:middle;}
a { text-decoration:none;color:#c10003;}
a:hover { text-decoration: none; color: #5d5d5d;}
p { margin:10px 0;}

.clear { clear:both;}
.fleft { float:left;}
.fright { float:right;}

.h1-like {font-size:26px; color:#C10003; margin:10px 0 5px 0;}
.h2-like {font-size:24px; color:#5D5D5D; margin:10px 0 5px 0;}
.h3-like {font-size:22px; color:#5D5D5D; margin:10px 0 5px 0;}
.h4-like {font-size:20px; color:#5D5D5D; margin:10px 0 5px 0;}
.h5-like {font-size:18px; color:#5D5D5D; margin:10px 0 5px 0;}

/*===========================================*/

#wrapper { background: url($$_$$images/bg_wrapper.gif) repeat-x  #e7e7e7; width: 100%; padding-bottom: 15px; }
#wrap { position: relative; width: 960px; text-align: left; margin: 0 auto; }
.link-index a { position: absolute; top: 10px; right: 50px; font-size: 11px; }

#top-head { height: 190px; overflow: hidden; }
.coordo-top { color: #c10003; font-size: 18px; font-weight:bold; padding-top: 5px; padding-left:17px; width:850px;}
.coordo-top strong { font-size:30px; padding-left: 35px; position:absolute; margin-top:-8px; margin-left:47px;}

.acc-head { padding: 12px 10px 0 0; font-size: 11px; }
.acc-head a { color: #c10003; font-size: 11px; }
.acc-head a:hover { color: #fff; text-decoration:underline; }
.logo { width: 391px; padding-top: 45px; }

#w-mot { width: 540px; padding-top: 40px; }
#main-mot { height: 110px; background: url($$_$$images/bg_main_mot.gif) no-repeat; }
#bloc-moteur  { position: relative; }
.ttl-bloc { font-size: 16px; color: #c10003; margin-left:3px; }
.slogan {font-size:18px; font-weight:bold; color:#c10003; text-align:right; position:relative; top:-35px;}

.mn { position: relative; height: 55px; z-index:20; }
.mn ul { margin: 0; padding: 0; }
.mn ul li { list-style: none; float: left; height: 55px; position: relative; }
.mn ul li a { font-size: 15px; text-transform: uppercase; line-height: 55px; display: block; color: #fff; position: relative; height: 55px; padding:0 28px 0 17px;}
.mn ul li + li a {padding:0 7px;}
.mn .en a  { padding: 0 20px;}
.mn a:hover, .mn li:hover a { color: #fff; background: #b00300; }

.mn ul li ul { display: none; position: absolute; background: #b00300; top: 55px; text-align: left; width: auto; padding: 20px 15px; z-index: 3; min-width: 140px; left: 0; }
.mn ul li:hover > ul { display: block; }
.mn ul li ul li { float: none; display: block; border: none; background: none; height: 25px; }
.mn ul li ul li a { text-align: left;  color: #fff; display: block; font-size: 14px; line-height: 25px; text-transform: none; padding: 0; height: 25px; }
.mn ul.en li ul li a, .mn ul.it li ul li a { padding: 0; }
.mn ul li ul li a:hover { color: #c2c2c2; }
.mn ul li ul li:hover a { background: none; }

.mn ul li ul li ul {display:none; position: absolute; background: #b00300; top: -10px; text-align: left; width: auto; padding:10px 15px; z-index: 3; min-width: 180px; left: 140px;}
.mn ul li ul li:hover > ul {display:block;}



.bg-biens { background: #d3d3d3; padding:5px 0; text-align:center; width: 960px; border: 1px solid #aeaeae; line-height: 25px; color: #c10003; font-size: 25px; margin-top: 5px; font-weight:bold;}
.bg-biens strong { font-weight: bold; }

.bg-estim-fr, .bg-estim-en, .bg-estim-it { background: url($$_$$images/bg_estim_fr.gif) no-repeat; width: 960px; height: 160px; margin-top: 5px; }
.bg-estim-en { background: url($$_$$images/bg_estim_en.gif) no-repeat; }
 .bg-estim-it { background: url($$_$$images/bg_estim_it.gif) no-repeat; }
.main-estim { padding: 18px 0 0 418px; font-size: 25px; text-transform: uppercase; line-height: 26px; color: #5d5d5d; }
.main-estim strong { display: block; color: #c10003; font-size: 26px; font-weight: normal; }
.main-estim a { color: #fff; height: 38px; line-height: 38px; margin-right: 2px; font-size: 18px; text-transform: uppercase; background: #c10003; margin-top: 20px; float: left; display: block; width: 184px; text-align: center; }
.main-estim a:hover { color: #d3d3d3; }

#navigue { padding: 15px 0; min-height: 450px; width: 960px; margin: 0 auto; }

#flash { height: 353px; overflow: hidden; width: 960px; background: #d3d3d3; margin:0 auto; border: 1px solid #aeaeae;}
#flash img { left: 12px !important;  top: 13px !important;}

.bienv { width: 230px; font-size: 24px; padding-top: 13px; text-align: left; padding-left: 40px; color: #494848; }
.bienv strong { color: #c10003; display: block; font-size: 24px; font-weight: normal; }
.txt-index { width: 660px; border-left: 5px solid #c10003; padding: 0 0 0 25px; color:#5d5d5d; font-size: 14px; text-align:justify; margin:17px 0;}
.txt-index strong { font-weight: normal; color: #c10003; }
.txt-index p { margin: 0; }
.txt-index p.reussites {background:url($$_$$images/picto_reussite.png) left center no-repeat; padding-left:55px; margin-top:10px;}

#bloc-cdc { background: #d3d3d3; padding: 10px 0; width: 960px; margin: 0 auto; border: 1px solid #b0b0b0; }

.bg-mailto, .bg-agc { background: url($$_$$images/bg_mailto.gif) no-repeat; width: 476px; height: 115px; }

.bg-agc { background: url($$_$$images/bg_agc.gif) no-repeat;}
.ttl-b { font-size: 16px; text-transform: uppercase; line-height: 35px; padding-left: 15px; color: #fff; }
.main-mail, .main-agc { width: 295px; padding: 5px 0 0 10px; color: #5d5d5d; line-height: 18px; }
.main-agc { width: 335px; }

.bloc-txt { padding: 20px 0; }

.main-mail a, .main-agc a { color: #fff; background: #c10003; width: 123px; height: 24px; text-align:center; line-height: 22px; font-size: 14px; margin-top: 8px; display: inline-block; }
.main-mail a:hover, .main-agc a:hover { text-decoration:underline; }

.pic-mob { background:url($$_$$images/pic-mobile.gif) no-repeat; height: 60px; margin-top: 8px; padding-top: 8px; padding-left: 50px; float: left; width: 180px; margin-left: 20px; }
.pic-mob span { color: #c10003; font-size: 16px; }

.pic-sociaux { float:right; width:210px; padding-top: 15px; padding-right: 10px; }
.pic-sociaux.social-agc {float:none; width:auto; padding-top:5px; margin-bottom:20px;}
.pic-sociaux img { padding: 0 2px; }

.btn { height: 38px; overflow:hidden; padding: 10px 0 0 0; }
.btn ul { margin: 0; padding: 0; }
.btn li { list-style-type: none; position: relative; float: left; margin-right: 5px; }
.btn a { display: block; height: 38px; background-repeat: no-repeat; font-size: 16px; }
.btn a:hover { position: relative; display: block; background-position: 0 -38px; }

#exclu, #cdc { display: none; }

#menu-new,#menu-cdc, #menu-exclu { width: 163px;height:38px;display: block; color: #fff; font-size: 18px; text-align: center; line-height: 38px; }

#menu-new { background: url($$_$$images/bg_onglet.gif) no-repeat; }
#menu-exclu { background: url($$_$$images/bg_onglet.gif) no-repeat 0 -38px; }
#menu-cdc { background: url($$_$$images/bg_onglet.gif) no-repeat 0 -38px; color:#C10003; }

.main-agc a { float:left; margin-right: 7px; width: 98px; text-align:center; }

.w-foot { background: url($$_$$images/w_foot.gif) repeat-x #e7e7e7; width: 100%; margin: 0 auto 10px; }
.m-foot { position: relative; text-align: left; width: 964px; margin: 0 auto; }
.bg-rs { background: url($$_$$images/bg_f.gif) no-repeat; height: 65px; line-height: 65px; }

.link-f { text-align: center; color: #fff; }
.link-f a { color: #fff; }

.l-foot a:hover, .link-f a:hover { color: #fff; text-decoration:underline; }

.ttl-page { color: #c10003; font-size: 24px; margin-bottom: 10px; text-transform: uppercase; }

/* REF */
#liens_ref {margin-bottom:20px;}
.col_ref {display:inline-block; vertical-align:top; text-align:left; width:200px; font-size:11px; height:230px; overflow:auto;}
.ie7 .col_ref {display:inline; zoom:1;}
.col_ref + .col_ref {width:150px; margin-left:20px;}
.col_ref + .col_ref + .col_ref {width:150px;}
.col_ref + .col_ref + .col_ref + .col_ref {width:390px;}
.col_ref h3 {font-size:11px; color:#000;}
.col_ref h6 {display:none;}
.col_ref h4 {margin:0;}
.col_ref ul {padding:0; margin:0;}
.col_ref ul li {list-style-type:none;}
.col_ref .ttl_ref {color:#000; font-weight:bold;}

#RechHautV2 h1 {font-size: 26px;font-weight: bold;text-transform:uppercase;}

#DOMWindow { background: #000; }


.photo-trombi{float: left; margin-right: 10px;border: solid 3px #fff;}
.bloc-trombi{clear: both;margin-top: 30px; border-top: 1px solid #bbb;padding-top: 30px;}