.TableDetail{width:99%; font-size:11px;}
.BoiteAnnonce {border:3px solid #5C5C5C; font-size:11px;}
.DetailLibelleetPrix{background:#5C5C5C; font-size:11px;}
.DetailLibelleetPrix *{color:#d8d9cf;}
.DetailInfoComplementaire{
 background-color:#5C5C5C;
 border:none; 
}
.DetailInfoComplementaire{
 border: 1px solid #5C5C5C;
 background:none;
 }
.DetailInfoComplementaire td{
 font-size:11px;
 color:#5C5C5C;
}
.DetailInfoTitre{
 background:#5C5C5C;
 color:#d8d9cf;
 padding: 5px;
 margin:5px 0 5px 2px;
 font-size:11px;
 width: 98%;
}
.DetailFormulaire td{
 font-size:11px;
}
.DetailBack {margin-bottom: 5px;}

.DetailFormulaireLib{
  background:#5C5C5C;
  color:#d8d9cf;
}

.DetailExclusif{color: #000;}