/*------CSS definitive--*/
body { margin: 26px 0; padding:0; background: url(../images/body.gif) repeat-x #a6afb5; text-align:center; }
div,td { font-family: "Lucida-sans", Arial, Helvetica, sans-serif; font-size:12px; color: #474747; }
img { border:none; display: inline; }
table  { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; }
a { text-decoration: none; color: #ab0739; }
a:hover { color: #474747; text-decoration: none; }
p { margin:10px 0;}

.clear1 { clear: left; }
.clear2 { clear: both; }
/*----- decoupage -------*/

#wrap { position: relative; width: 975px; text-align: left; margin: 0 auto; }
#bloc-menu { width: 975px; height: 34px; overflow: hidden; margin-bottom: 7px; }
#menu { float: left; width: 723px; height: 34px; overflow: hidden; }
#menu ul { margin: 0; padding: 0; }
#menu li { position: relative; float: left; height: 34px; overflow: hidden; list-style-type: none; }
#menu a { display: block; height: 34px; }
#menu a:hover { position: relative; background-position: 0 -34px; display: block; }

#menu .mn1-fr { background: url(../images/mn1_fr.gif) no-repeat; width: 30px; }
#menu .mn2-fr { background: url(../images/mn2_fr.gif) no-repeat; width: 60px; }
#menu .mn3-fr { background: url(../images/mn3_fr.gif) no-repeat; width: 82px; }
#menu .mn4-fr { background: url(../images/mn4_fr.gif) no-repeat; width: 50px; }
#menu .mn5-fr { background: url(../images/mn5_fr.gif) no-repeat; width: 70px; }
#menu .mn6-fr { background: url(../images/mn6_fr.gif) no-repeat; width: 110px; }
#menu .mn7-fr { background: url(../images/mn7_fr.gif) no-repeat; width: 90px; }
#menu .mn8-fr { background: url(../images/mn8_fr.gif) no-repeat; width: 68px; }
#menu .mn9-fr { background: url(../images/mn9_fr.gif) no-repeat; width: 57px; }
#menu .mn10-fr { background: url(../images/mn10_fr.gif) no-repeat; width: 106px; }

#menu .mn1-en { background: url(../images/mn1_en.gif) no-repeat; width: 30px; }
#menu .mn2-en { background: url(../images/mn2_en.gif) no-repeat; width: 51px; }
#menu .mn3-en { background: url(../images/mn3_en.gif) no-repeat; width: 68px; }
#menu .mn4-en { background: url(../images/mn4_en.gif) no-repeat; width: 47px; }
#menu .mn5-en { background: url(../images/mn5_en.gif) no-repeat; width: 136px; }
#menu .mn6-en { background: url(../images/mn6_en.gif) no-repeat; width: 96px; }
#menu .mn7-en { background: url(../images/mn7_en.gif) no-repeat; width: 81px; }
#menu .mn8-en { background: url(../images/mn8_en.gif) no-repeat; width: 72px; }
#menu .mn9-en { background: url(../images/mn9_en.gif) no-repeat; width: 52px; }
#menu .mn10-en { background: url(../images/mn10_en.gif) no-repeat; width: 90px; }

#menu strong { display: none; }

/*sous menu*/
#sousmenu { position: absolute ; width: 140px; left: 29px; top: 34px; }
#sm1 { position: relative; width: 140px; display: none; text-align: center; overflow: hidden; }
#sm1 ul { margin: 0; padding: 0; }
#sm1 li { position: relative; text-align: center; list-style-type: none; float: left; width: 140px; }
#sm1 a { color: #282828; background: #aab8c0; display: block; text-transform: uppercase; font-size: 10px; height: 25px; width: 140px; line-height: 25px; }
#sm1 a:hover { position: relative; color: #fff; background: #78868e; display: block; }
/*fin sous menu*/

.choix-lg { float: left; background: url(../images/bg_choix_langue.gif) no-repeat; width: 252px; height: 34px; padding-top: 8px; }
.choix-lg form { padding-left: 20px; color: #fefefe; }
.choix-lg select { background: #fff; border: 1px solid #9c9c9c; color: #6e6e6e; width: 128px; }

.logo { float: left; width: 305px; height: 118px; z-index: 5; }
#bloc-coords { float: right; width: 661px; }
.coords { background: url(../images/bg_coords.gif) no-repeat; width: 661px; height: 64px; }
.coords div { color: #fff; text-indent: 5px; padding-top: 45px; }

#main-mot { width: 645px;}

#main-content { width: 975px; margin-top: 7px; }
#main { width: 973px; border: 1px solid #e1e0dd; background: #fff; }
#navigue { width: 920px; margin: 0 auto; padding: 20px 0; }

#left { float: left; width: 308px; border-top: 1px solid #e1e0dd; background: url(../images/reap_left.gif) repeat-y; }
#wrap-left { width: 308px; background: url(../images/bot_left.gif) bottom no-repeat; padding-bottom: 15px; }
#main-left { width: 284px; margin: 0 auto; }
.ttl-left { color: #757575; font-size: 21px; }

.div-cdc { float: left; width: 142px; margin-bottom: 15px; }
.photo-cdc { background: url(../images/bg_cdc.gif) no-repeat; width: 139px; height: 84px; }
.photo-cdc img { width: 123px; height: 69px; padding: 7px 0 0 8px; }
.descriptif-cdc { display: none; }
.contenu-cdc p { margin: 0; padding: 0; }
.contenu-cdc a { color: #363636; }
.contenu-cdc a:hover, .prix-cdc { color: #ae093b; }

.btn-annc a { display: block; text-align: center; background: url(../images/bg_dern_annc.gif) no-repeat; width: 242px; height: 26px; line-height: 26px; color: #fff; font-size: 14px; margin: 0 auto; }

#right { float: right; width: 658px; border: 1px solid #e2e1de; padding: 10px 0; background: #fff; }
#main-right { width: 644px; margin: 0 auto; }
.ttl-agc { color: #757575; font-size: 21px; }
.link-acc { float: left; width: 330px; font-size: 11px; color: #ab0739; }
.btn-sav a { float: right; width: 95px; height: 16px; background: url(../images/bg_sav_plus.gif) no-repeat; text-align: center; line-height: 16px; color: #fff; font-size: 11px; }

#footer { background: #fff; width: 975px; height: 86px; margin: 10px auto; }
.mobil { float: left; width: 300px; }
.link-mobil { padding: 10px 0 0 20px; }
.link-foot { float: right; width: 520px; text-align: right; padding-right: 10px; padding-top: 20px; color: #af0b3d; font-size: 11px; }

/*-----------------*/

/* Page formulaire */
.tabTitre{font-size: 14px; color:#fff;background: #818f96;}
.estimationNomAgence,.messageNomAgence{ color:#ae093b;font-size: 16px;}

/*IE8*/
.BoutonFormContact, .BoutonFormRecherche, .boutonEnvoi, td#ChampsBouton input { width: 153px; height: 26px;}
.titrePageOutils { display: none; }

 /*alerte email*/
#AlerteImmo { background: none; border: none; padding: 0; }
#AlerteImmo #AlerteTitre01 { width: 960px; background: url(../img/alerteimmo_titre_fond01.gif) no-repeat; }
#AlerteImmo #AlerteTitre01 h5 { background: none; }
#AlerteImmo #AlerteTitre01 h5 span { color: white; font-weight: normal; text-transform: uppercase; }
#AlerteImmo h2 { color: #d71a21; }
#AlerteImmo h4, #AlerteImmo h5 { color: #444; }
#AlerteImmo #AlerteConfirmation p.confirmation { color: #444; }
#AlerteImmo h5.retourAccueil a { color: #d71a21; }
#AlerteImmo h2 { color: #d71a21; }

/*pud_annonces*/
#Annonces01 .ann_ctn { background: url(../img/ann01_fd_01.gif) no-repeat; }
#Annonces01 .ann_ctn .ann_fd { display: none;}

/*produits*/
#Portefeuille01 h3, #Annonces01 h3 { display: none; }

/*editeur*/
#Editeur {color : #444; font-size : 12px;}
#Editeur h1 {color : #b20e40; font-size : 16px ;}
#Editeur h1 span{color : #444; font-size : 16px ;}
#navigue #Editeur h2 { color : #b20e40; font-size :16px; }
#navigue #Editeur h2 span{color : #444; font-size :14px  ;}
#Editeur h3 {color : #b20e40; font-size : 13px ;}
#Editeur h3 span {color : #444; font-size : 13px ;}
#Editeur p {color : #444; font-size :12px ; margin: 0; padding: 0; }
#Editeur p span{color : #444; font-size : 12px ;}
#Editeur p strong { color: #b20e40; }
#Editeur a {color : #b20e40; font-size : 11px ;}
#Editeur a : hover{color : #444; font-size :11px ;}
#Editeur ul{}
#Editeur li{ color : #444; font-size : 11px;}
#Editeur span *{color : #444 !important; font-size : 11px;}
#Editeur table, #Editeur  td {border:none !important;padding:0 ;margin : 0 ;}

/*autres*/

.ttl-pages { color: #b20e40; text-transform: uppercase; font-weight: bold; font-size: 16px; }
/*------------------------------------------------------------*/

#RechResultat .blocAnnonce_wrap{height: 354px;}
#RechResultat .blocAnnonce .descr{height: 120px;}