/* $$DYN:ID3:NOFOOTER$$ */
/* =================== */

.BoiteMiniMoteur {
	width: 320px;
	color:#343434;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px;
	float: left;
}
.MiniTypeTrans, .MiniTypeDeBien, .MiniBudget, .MiniListeVilles, .Bouton {
	display: inline;
	font-family: Arial, Helvetica, sans-serif; 
	font-style: normal;
	font-size: 11px;
}
.TitreTypeTrans, .TitreMiniTypeDeBien, .TitreMiniBudget, .TitreMiniListeVilles, .TitreMiniSurface, .TitreMiniNombreDePieces {
	color: #384c5f;
	background-color: #b1b1b1;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px;
	letter-spacing: normal;
	padding: 3px 0 3px 5px;
	margin-bottom: 5px;
	float:left;
	width: 135px;
	text-align: left;
	margin-top: 0;
}
.TitreMiniListeVilles { margin-bottom: 0; }
.MiniSurface, .MiniBudget { color: #dd7229; }
/*input*/
.BoiteMiniMoteur input, .BoiteMiniMoteur select { padding: 0; float: none; color: #4b555b; font-size: 9px; background-color: #fff; border: 1px solid #4b555b; }
.ListeTypeDeBien, .ListePieces, .ListeTypeTrans, .InputBudget, .MiniListeVilles .ListeVilles, .InputSurface { width: 164px; float: left; text-align: left !important; margin: 0 0 0 5px; padding-left: 0; color: #4b555b; }
.MiniListeVilles .ListeVilles { margin: 0; }
.InputBudget .imputForm, .InputSurface .imputForm { width: 65px; margin: 0; }
/*minienvoyer*/
.Bouton { width: 320px; text-align: center; }
.MiniBouton { margin: 0 auto;  Width: 146px; Height: 27px}
.MiniBouton input { float: none; border: none; padding: 0; text-align: right; }
.MiniListeVilles div, .MiniTypeDeBien div { padding: 0; margin: 0; text-align: left; }
.MiniTypeDeBien { padding-bottom: 0; }