/*------CSS definitive--*/
body { margin: 0; padding:0; background: #fff; text-align:center; }
div,td { font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:11px; color: #111; }
img { border:none; display: inline; }
table  { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; }
a { text-decoration: none; color: #00569c; }
a:hover { text-decoration: underline; }
p { margin:10px 0;}

.clear1 { clear: left; }
.clear2 { clear: both; }
/*----- decoupage -------*/

#wrap { position: relative; width: 936px; text-align: left; margin: 0 auto; }
#bloc-top { width: 936px; height: 228px; }
.logo { text-align: center; }

#refmaquee { padding: 10px 0; }

#menu { text-align: center; width: 936px; height: 44px; background-color: #00569c; }
#menu a { display: inline-block; color: #fff; text-transform: uppercase; font-weight: bold; padding: 0 13px; line-height: 44px; text-shadow: 1px 1px 1px #000; }
#menu a:hover { color: #fff; text-decoration: none; background-color: #007abd; }

#photo-intro { border: 2px solid #00569c; }

#flash { position: relative; width: 936px; height: 421px; overflow: hidden; }
.enter a { position: absolute; top: 381px; right: 20px; background: #00569c; width: 118px; height: 29px; line-height: 29px; text-align: center; color: #fff; font-weight: bold; text-shadow: 1px 1px 1px #000; }

#main-mot { background-color: #00569c; width: 936; height:44px; }
.ttl-mot { color: #FFF; text-transform: uppercase; font-size: 14px; font-family:"Times New Roman", Times, serif; line-height: 44px; padding-left: 8px; float:left; }
#mot { float: left; width: 790px; position: relative; padding-left: 5px; }
.plus-crit { position: absolute; top: 38px; right: 4px; }


#main-content { width: 936px; margin: 0 auto; padding-bottom: 20px; border-bottom: 5px solid #00569c; }
#navigue { width: 935px; padding: 20px 0; min-height: 400px; }

.ttl-ann { color: #007abd; font-size: 18px; font-family: "Times New Roman", Times, serif; text-transform:uppercase; padding: 10px 0; }

#left { float: left; width: 575px; }
.div-cdc { float: left; width: 186px; margin-right: 3px; }
.photo-cdc { width: 184px; height: 114px; }
.photo-cdc img { width: 184px; height: 114px; border: 1px solid #000; }
.contenu-cdc { width: 184px; line-height: 18px; }
.contenu-cdc p { margin: 0; padding: 0; }
.contenu-cdc a { color: #111; }
.contenu-cdc .typetransaction-cdc, .contenu-cdc .typebien-cdc { font-weight: bold; color: #007abd; }
.contenu-cdc .prix-cdc { font-weight: bold; color: #000; }
 
#main-mot2 { position: relative; width: 568px; }
.rech-det a { position: absolute; text-decoration: underline; top: 40px; right: 145px; }
 
.sep { float: left; width: 12px; }

#right { float: right; width: 322px; text-align: justify; }
.link-footer { text-align:center; color: #00569c; }
.link-footer a { color: #00569c; text-decoration:none; }
.link-footer a:hover { color: #000; text-decoration:none; }

.adresse { color: #00427a; text-align:center; }

#bloc-foot { width: 936px; padding-bottom: 25px; text-align: center; }
#bloc-foot div { padding-top: 5px; }
#bloc-foot div strong, #bloc-foot div strong a { color: #7a7067; font-weight: normal; }

.left-foot { float:left; color: #00477e; padding-left: 10px; width: 200px; text-align:left; }
.left-foot strong { color: #00477e !important; font-weight:bold !important; }

.center-foot { float:left; width: 325px; }
.center-foot strong { color: #00477e !important; font-weight:bold !important; }
.right-foot { float:left; width: 385px; text-align:justify; }

.pic-rss { background: url(../images/pic-rss.gif) 58px 2px no-repeat; padding-left: 15px; }
.pic-rss a { text-decoration: underline; }

/*-----------------*/

/* Page formulaire */
.tabTitre{ text-transform: uppercase; color:#fff;background: #00569c; line-height: 23px; border-bottom: 1px solid #000; }
.estimationNomAgence,.messageNomAgence{ color:#00569c;font-size: 16px; }
table table td .imputForm { margin: 5px 0 ; }

/*IE8*/
.BoutonFormContact, .BoutonFormRecherche, .boutonEnvoi, td#ChampsBouton input { width: 117px; height: 26px;}
.titrePageOutils { display: none; }

/*pud_annonces*/
#Annonces01 .ann_ctn { background: url(../img/ann01_fd_01.gif) no-repeat; }
#Annonces01 .ann_ctn .ann_fd { display: none;}

/*editeur*/
#Editeur {color : #111; font-size : 12px;}
#Editeur h1 {color : #673102; font-size : 16px ;}
#Editeur h1 span{color : #111; font-size : 16px ;}
#navigue #Editeur h2 { color : #673102; font-size :16px; }
#navigue #Editeur h2 span{color : #111; font-size :14px  ;}
#Editeur h3 {color : #673102; font-size : 13px ;}
#Editeur h3 span {color : #111; font-size : 13px ;}
#Editeur p {color : #111; font-size :12px ; margin: 0; padding: 0; }
#Editeur p span{color : #111; font-size : 12px ;}
#Editeur p strong { color: #673102; }
#Editeur a {color : #673102; font-size : 11px ;}
#Editeur a : hover{color : #111; font-size :11px ;}
#Editeur ul{}
#Editeur li{ color : #111; font-size : 11px;}
#Editeur span *{color : #111 !important; font-size : 11px;}
#Editeur table, #Editeur  td {border:none !important;padding:0 ;margin : 0 ;}

/*liste produits*/
#prod a { color: #00477e; }
#prod a:hover { color: #00477e; }
#prod a.typeTransac { color: #00477e; }
#left-foot1 .typeBien { color: #000; text-decoration: underline; }
#Portefeuille01 a.typeBien, #Portefeuille01 a.typeBien strong { margin: 0; font-weight: normal; font-size: 11px; text-decoration:underline; }

/*liste villes*/

.ListeVilles a, .ListeVilles a strong{ font-weight: normal; color: #00477e !important; text-align: justify; }
.ListeVilles a:hover, .ListeVilles a:hover strong { color: #000; }

/*marquee*/
#AnnoncesDefilantes, #AnnoncesDefilantes a { color: #00569c; }

#Portefeuille01 h3 { display: none; }

/*autres*/
.ttl-pages { color: #00569c; font-size: 18px; text-transform: uppercase; font-weight: bold; }
ul#Plan li.plan { display: none; }



/*------------------------------------------------------------*/
