$$REM$$/*====================================================================
//// <summary>Fichier CSS À DÉMUTUALISER POUR CHAQUE SITE</summary>
//// <remarks>
//// <para>Pour plus de rapidité, intégrer les macros du fichier 'all_global_macros.css'</para>
//// </remarks>
//// <update date="2010-02-16" author="lisbonne.siriphol">Création</update>
====================================================================*/$$END$$

<!--#include virtual="styles/all_global_macros.htm" -->




#bg-top{ border-bottom:1px solid #606060; margin-bottom:17px; height:96px;}
#flag{position:absolute; top:5px; right:0px;}
.menu, .menu_en{position:absolute; bottom:0px; right:0px; height:30px; width:716px;}
.menu a, .menu_en a{ font-family:arial; font-size:12px; color:#5c5c5c; padding:0 16px 14px 16px;}
.menu a.last, .menu_en a.last{padding-right:0;}
.menu a:hover, .menu_en a:hover{color:#000; border-bottom:2px solid #b20135; background:none;}

.logo{padding:0 0 0 100px; width:160px; margin:0;}
#navigue{ background:#999999; width:980px; padding:10px;}

/*mini moteur*/
#MiniReference{ display:none;}
select.miniSelect{padding:4px;}
.miniDiv{padding:2px 0 !important;}
#MiniTypeTransaction{padding:2px 0 8px 0 !important; border-bottom:1px solid #fff; margin-bottom:8px;}
#MiniVilles{padding:2px 0 8px 0 !important; border-bottom:1px solid #fff; margin-bottom:8px;}
#MiniBouton .boutonSubmit{right:-8px;}

/*texte d'accueil*/
.main-txt{ padding-top:22px;}
.main-txt h3{ padding-bottom:20px; font-weight:normal;}
.main-txt p{color:#777777;}

.ttl-pages{ border-bottom:1px dotted #606060; padding-bottom:10px;}


/*footer*/
#main-content{ border-bottom:1px solid #606060;}
.footer .footerGauche{margin:0px; text-align:center; width:100%; font-size:11px; padding-top:15px;}
.footer .footerGauche,.footer a,.footer span.realisation{color:#6a6a6a;}
.footerGauche span.sepa{padding:0 5px; color:#6a6a6a;}
/*page recherche*/
.contactAnn{ background:#868686;}
.contactAnn a:hover{ color:#fff;}
#AlerteEmail #AlerteForm input.alerteBt{ background:#B20034;}
#bg-mot{ border-bottom:1px solid #272a29;}
.contactAnn .ctc{ color:#fff;}
.majAnn .fraicheur,.ville{ color:#000;}

/*page detail annonce*/
#Annonce_Ctn td#ColonneDroite{border:none; background:#868686;}
#CguFormulaire,#AgenceMentions *{ color:#000;}

/*annonces accueil*/
#bloc-cdc{padding-left:0;}
.selectionDescr .selectionDetail a{ display:none;}
.selectionDescr .selectionVille, .selectionDescr .selectionVille *{ color:#fff;}
.selectionDescr .selectionPrix{color:#fff;}
.selectionDescr .selectionNbPieces,.selectionDescr .selectionSurface,.selectionDescr .selectionVille a{ color:#777777;}
.selectionIndex{margin:0;}
.selectionIndex_Ctn{ width:155px; height:auto; padding:0 13px 5px 0; margin:0;}
a.selectionPhoto .selectionPhotoImg{width:153px; height:90px;}
.selectionPhoto_ctn{ width:153px; height:90px; border:1px solid #606060;}
a.selectionPhoto{ width:153px; height:90px;}
#new .nbPhotos_ctn{display:none;}
.selectionDescr p strong{ font-weight:normal;}

/*page moteur*/
#Moteur{padding-bottom:0px;}
#Moteur #MoteurBouton{ margin-bottom:0px; padding-bottom:0px;}
#Moteur .inputSelect{ width:286px;}
#RechDetaillee strong,#RechDetaillee li{ color:#000;}
#InputSurfaceTerrain p,#InputSurfaceTerrain span{ color:#000;}
#InputSurfaceTerrain .inputText{ border:1px solid #525252;}

/*page outils*/
.accordion_content .inputCalcul{background:#B20034;}

/*page notre agence*/
#AgImmoDroite .AgImmoContact a, #AgImmoDroite .AgImmoEstimation a{background:#B20034;}
#MapMicrosoft .geolocInfo,.descGeolocAdresse{ color:#000;}
#FormContactAgence .inputText, #FormContactAgence .inputSelect, #FormContactAgence .inputTextarea{ font-weight:normal;}

/*envoyer a un ami*/
#FormContactAgence .inputSubmit, #ChampsBouton .inputSubmit{ background:$$SEND_BOUTON_BG$$;}
#Ctn-envami td.col1{ color:#000;}

/*page plan site*/
#Plan_Ctn .planSite{ display:none;}
ul#Plan{ padding-top:15px;}

/*page mention légal*/
#MentionsLegales p{ color:#000;}
#MentionsLegales li{ color:#000;}
#MentionsLegales h2{ background:#B20034; color:#fff; padding:4px;}

/*pafe realisation seloger*/
#realisation{padding:10px 0 0 0;}
#realisation h1{border-bottom: 1px dotted #606060; padding-bottom: 10px; color:#B20034;font-size: 18px; text-shadow: 2px 2px 2px #000000; text-transform: uppercase;}
#realisation h2{padding:10px 0 0 0; font-size:14px; color:#000;}
#realisation ul{ padding:0 0 0 15px; list-style:none;}
#realisation ul li{ background:; padding:0 0 0 20px;}
#realisation ul li a{text-decoration:underline;}
#realisation ul li a:hover{text-decoration:none;}