// VAR COLORS
$color-body      :#e6e6e6;
$color-content   :#d9d9d9;
$color-block     :#dedede;
$color-primary   :#403E3F;
$color-secondary :#403E3F;
$color-action    :#91949B;
$color-important :#068B4E;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub       :"white";

// COLOR FONT BODY DEFAULT
$color-font-body :#3d3d3d;
