/* CSS Document */

*{ padding:0; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#7b7b7b;}
.clear{ clear:both;}
img{ border:none;}
a{ color:#c00000;}
a:hover{ text-decoration:none;}
option{padding-left:2px;}
table{ margin:0 auto;}
div,span{font-family:Arial, Helvetica, sans-serif;}
body{}


#topHeader{ width:100%; background:url(../images/bgTopHeader.gif) repeat-x;}
#header{ width:947px; margin:0 auto; background:url(../images/separateur.gif) right center no-repeat;}
#header ul{ overflow:hidden;}
#header ul li{ float:left; list-style:none; background:url(../images/separateur.gif) left center no-repeat;}
#header ul li a.top{ display:block; font-size:11px; font-weight:bold; padding:7px 10px 6px 17px;text-decoration:none; color:#747474;}
#header ul li.marq{ width:690px; font-weight:normal;}
#AnnoncesDefilantes{width:675px; font-weight:normal; padding:5px 10px;}
#AnnoncesDefilantes marquee,#AnnoncesDefilantes marquee strong{ font-size:11px;}
#AnnoncesDefilantes a{ font-size:11px; color:#747474;}
#header ul li a.version{ background:url(../images/drpEnglich.gif) right center no-repeat; padding:7px 20px 6px 17px; margin:0 17px 0 0;}
#header ul li a.versionfr{ background:url(../images/drpFr.gif) right center no-repeat; padding:7px 17px 6px 9px; margin:0 17px 0 0;}
#header ul li a:hover{ text-decoration:underline;}

.txtindex {font-size:12px; font-weight:bold;}

#global{ width:974px; margin:auto;}
	#bandeauLogo{ padding:10px 0 2px 0; width:974px; overflow:hidden; margin:auto;}
	#bandeauLogo img.logo{display:block; float:left; margin:0 37px 0 0;}
	#slogan{ float:left; width:437px; padding:10px 0 0 0;}
	* html #slogan{ width:433px;}
	#slogan h1{color:#747474; font-size:22px; font-weight:normal; float:left;}
	#slogan h5{color:#c00000; font-size:14px; font-weight:normal;float:left;}
	#slogan h5 b{color:#c00000; font-size:14px; font-weight:bold;float:left;}
	#coordonnes{ width:292px; background:url(../images/bgCoordonnes.gif) repeat-y; float:left; padding:0 4px;}
	#coordonnes h2{ font-size:14px; font-weight:normal; background:url(../images/bgTitreCoordonnes.gif) repeat-x #edecec; color:#c00000; padding:3px 0 5px 13px;}
	#coordonnes img{display:block; margin:0 0 0 -4px;}
	#coordonnes p{ width:128px; font-size:12px; padding:8px 5px 10px 10px; float:left; line-height:12px; height:75px;  word-spacing:-1px;}
	#coordonnes p a{ font-size:11px; color:#747474;}
	#coordonnes p a:hover{ text-decoration:none;}
	#coordonnes p.coor{ background:url(../images/sepaCoordonnes.gif) left center no-repeat; padding:8px 0 10px 30px; width:110px}
	#coordonnes p span{font-weight:bold; font-size:11px;}
	#flash{ border:1px solid #e5e5e5; margin:5px 0 0 0; width:972px; height:140px;}
	#menu{ width:922px; background:url(../images/bgMenu.gif) repeat-x #ececec; border-top:1px solid #e5e5e5; border-right:1px solid #e5e5e5; border-left:1px solid #e5e5e5; height:36px; margin:5px auto 0 auto;}
	#menu ul.menu{ height:36px;}
	#menu ul li{ list-style:none; float:left; position:relative;}
	#menu ul li div{ position:absolute;}
	#menu ul li ul li a{ padding:5px; border:none; text-align:center; display:block; width:128px;}
	#menu ul li a{ color:#747474; font-weight:bold; text-decoration:none; padding:12px 38px 9px 34px; border-right:1px solid #e5e5e5; display:block;}
	#menu ul li a.active{ background:url(../images/bgActive.gif) repeat-x #c00000; color:#fff; padding:12px 24px 9px 24px; }
	#menu ul li a.last{ border:none; padding:12px 24px 9px 25px;}
	#menu ul li a:hover{ background:url(../images/bgHoverMenu.gif) repeat-x #9b9b9b; color:#fff;}
	ul.smenu{ position:absolute;top:36px;left:50%; margin-left:-69px; background:#F5F5F5; z-index:9999; border:1px solid #E5E5E5; width:138px;}
	#navigation{ width:950px; border:1px solid #e5e5e5; padding:13px 12px 12px 12px; background:url(../images/bgNavigation.gif) repeat-x #f5f5f5; overflow:hidden;}
	#navigation p{ text-align:justify;}
	#navigation p a.nav{ color:#747474;}
	#navigation p a.nav:hover{ text-decoration:none;}
		#blocRecherche{ width:668px; float:left;  overflow:hidden; padding:0 11px 0 0;}
		#recherche{}
		#recherche ul{ float:left; overflow:hidden; width:131px;}
		#recherche ul li{ list-style:none; float:left;}
		#recherche ul li a{ display:block; float:left;}
		#recherche ul li a img{ border:none; display:block; height:42px; float:left;}
		#criteres{ width:537px; background:url(../images/bgCritere.gif) repeat-y; float:left; height:168px; overflow:hidden;}
		#criteres img{ display:block;}
		#contenuCriters{ height:159px; padding:6px 0 0 25px; position:relative;}
		#coupdecoeur{ width:660px; background:url(../images/bgCdc.gif) repeat-y; margin:10px 0 0 0; padding:0 4px;}
		#contenuCdc{ height:260px; padding:15px 0 0 6px;}
		#coupdecoeur img.deco{ display:block; margin:0 0 0 -4px;}
		#coupdecoeur h3{font-size:14px; font-weight:normal; background:url(../images/bgTitreCoordonnes.gif) repeat-x #edecec; color:#747474; padding:4px 0 6px 6px;}
		#petitBloc{ overflow:hidden; padding:5px 0 0 0;}
		#petitBloc a{ text-decoration:none; cursor:pointer;}
		
		#estimation{ width:323px; background:url(../images/bgEstimation.gif) repeat-y; float:left;overflow:hidden; padding:0 4px; margin-right:5px;}
		#estimation h3{font-size:14px; font-weight:normal; background:url(../images/bgTitreEstimation.gif) repeat-x #a20101; color:#fff; padding:5px 0 5px 10px;}
		#estimation img{ display:block; margin:0 0 0 -4px;}
		#estimation img.estmBien{ margin:0; float:left;}
		#estimation p{ float:left; width:200px; padding:10px 0 0 10px; font-size:12px;}
		#estimation p span{ font-size:13px; font-weight:bold;}
		#estimation p span.stitre{ font-size:11px;}
		
		#alerte{ width:323px; background:url(../images/bgEstimation.gif) repeat-y; float:left;overflow:hidden; padding:0 4px; }
		#alerte h3{font-size:14px; font-weight:normal; background:url(../images/bgTitreEstimation.gif) repeat-x #a20101; color:#fff; padding:5px 0 5px 10px;}
		#alerte img{ display:block; margin:0 0 0 -4px;}
		#alerte img.estmBien{ margin:0; float:left;}
		#alerte p{ float:left; width:245px; padding:11px 0 2px 15px; font-size:12px; letter-spacing:-0.2;}
		#alerte p span{ font-size:13px; font-weight:bold;}
		#alerte p span.stitre{ font-size:11px; word-spacing:-2px;}
		
		.liens{ width:316px; float:left; padding:9px 0 0 15px;}
		.liens h2{ font-weight:normal;}
		.liens h2 a{ color:#747474;}
		.liens h2.titreRss{ background:url(../images/pictoRss.gif) no-repeat; padding:0 0 0 20px;}
		.liens p{ width:302px; padding:10px 0 0 0; font-size:11px;}
		.liens p a{font-size:11px; text-decoration:none; color:#747474;}
		.liens p a:hover{ text-decoration:underline}
		
		#blocAgence{ width:269px; float:left; overflow:hidden; padding:0;}
		#agence{ width:261px; background:url(../images/bgAgence.gif) repeat-y; padding:0 4px;}
		#agence img{ display:block; margin: 0 0 0 -4px;}
		#agence img.equipe{ margin:2px 0 0 0;}
		#agence h3{font-size:14px; font-weight:normal; background:url(../images/bgTitreCoordonnes.gif) repeat-x #edecec; color:#747474; padding:4px 0 4px 12px;}
		#agence h5{ padding:11px 0 0px 11px; font-size:14px;}
		#agence p{ padding:10px 5px 5px 10px; line-height:13px; font-size:11px;}
		#agence p a{text-decoration:none;}
		#agence p a:hover{text-decoration:underline;}
		#agence a.savoir{padding: 0 0 8px 10px; display:block; color:#747474;}
		#agence a:hover{ text-decoration:none;}
		
		#situer{ width:261px; background:url(../images/bgAgence.gif) repeat-y; padding:0 4px; margin-top:6px;}
		#situer img{ display:block; margin: 0 0 0 -4px;}
		#situer span{ font-weight:bold;} 
		#situer img.equipe{ margin:2px 0 0 0;} 
		#situer h3{font-size:14px; font-weight:normal; background:url(../images/bgTitreCoordonnes.gif) repeat-x #edecec; color:#747474; padding:4px 0 4px 12px;}
		#situer p{ padding:10px 5px 10px 5px; line-height:12px;}
		.CarteGeo{ width:260px; height:210px;}
		.ListeVilles{ width:250px; padding:5px 0 5px 5px; line-height:12px; text-align:justify; }
		.ListeVilles *{ color:#747474;}
		.ListeVilles a{ color:#747474; text-decoration:undeline,}
		.ListeVilles a:hover{ text-decoration:none;}
		.ListeVilles a strong{ font-weight:normal; font-size:11px;}
		
	#footer{ width:972px; margin:auto; padding:10px 0 0 0;}
	#footer ul{ float:right; overflow:hidden; padding:0 25px 10px 0;}
	#footer a{ color:#747474;}
	#footer a:hover{ text-decoration:none;}
	
/* coup de coeur*/
* html .div-cdc{ height:260px;}
.div-cdc{width:212px; min-height:260px;float:left; background:#FFF; margin:0 5px 0 0;}
.div-cdc *{ color:#747474;}
.div-cdc .photo-cdc img{width:210px;height:102px; border:1px solid #e5e5e5;}
.div-cdc a span.ville-cdc{display:block; text-transform:uppercase; }
.div-cdc a span.typetransaction-cdc{text-transform:uppercase; color:#c00000;font-weight:bold;}
.div-cdc a span.typebien-cdc{font-weight:bold; color:#c00000;text-transform:uppercase;}
.div-cdc a span.typetransaction-cdc:hover,.div-cdc a span.typebien-cdc:hover{ text-decoration:underline;}
.div-cdc p span.surface-cdc{text-transform:uppercase;}
.div-cdc .contenu-cdc{padding:0 6px 4px 6px;}
.div-cdc .contenu-cdc *{color:#747474;}
.div-cdc .contenu-cdc a{ text-decoration:none;}
.div-cdc .contenu-cdc a:hover{color:#DC002E;}
.div-cdc .descriptif-cdc{min-height:30px; font-size:11px;}
* html .divc2c .descriptif-cdc{height:30px;}
.div-cdc p.prix-cdc{font-weight:bold;font-size:14px; color:#c00000;}

/* PAGE PLAN DU SITE = incl_plan-site.htm */  
.ul#Plan *{text-decoration: none; font-weight: bold;}
ul#Plan{width:500px; margin:0 auto;}
ul#Plan li.plan{ color:#c00000; font-size:18px; text-align:center; text-transform:uppercase; border:none;}
ul#Plan li.MenuSep{display:none;}
ul#Plan li{padding: 0.2em 0; border:none;}
ul#Plan .plan{padding: 0.2em 0;background:none;}
ul#Plan li a{color:#c00000; font-size: 12px;padding:5px 0 5px 15px;text-transform:uppercase; background:url(../images/print_fleche-01.gif) 0 7px no-repeat;}
ul#Plan li a:hover{ text-decoration:underline;}

/* Outils */
.ul#Outils *{text-decoration: none; font-weight: bold;}
ul#Outils{padding: 2em 8em; width:400px; margin:0 auto;}
ul#Outils li.list{padding: 0.2em 0px;background:none; margin:2px 0; border:none;}
ul#Outils li a{color:#c00000; font-size: 12px;padding:5px 0 5px 15px;text-transform:uppercase; background:url(../images/print_fleche-01.gif) 0 7px no-repeat;}
ul#Outils li a:hover{text-decoration:underline; color:#c00000}
#Outils li.titrePageOutils{ color:#c00000; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}

/*PAGES ESTIMATION + CONTACT + MESSAGE == TABLEAUX FORMULAIRES*/
.tabFond1{border-color:#00AA00; border-width:0; border-style:solid; padding:2px; font-family:Arial, Helvetica, sans-serif; width:100%;}
 textarea {width:600px; height: 100px;}
.tabFond2{border-color:#00AA00; border-width:1px; border-style:solid; padding:2px; font-size:14px; font-family:Arial, Helvetica, sans-serif;}
.tabTitre{background:url(../images/titre_pixel.gif) repeat-x #a20101; color:#fff; font-size:14px; font-weight: bold; font-family:Arial, Helvetica, sans-serif;height:25px;padding:3px; text-align:center; text-transform:uppercase;}
.tabTitre *{color:#fff; font-size: 14px;}
.tabPrint{color:#5C5E5D; font-size: 13px; font-family:Arial, Helvetica, sans-serif; border:1px solid #00AA00;}
.tabFond1 td input{margin:3px 0;}
.tabFond1 table{ width:100%;}
.tabFond1 strong{ color:#c00000; font-size:18px; display:block;text-align:center;}
.tabTitre strong{color:#fff; font-size:14px;}
.boutonEnvoi,.BoutonFormContact,.MoteurBouton input,td #ChampsBouton input,.BoutonFormRecherche  {width:120px;height:26px; float:right; border:none;}
.messageNomAgence,.titreInfosLegales,.estimationNomAgence{color:#c00000; border:none; font-weight:bold; font-size:18px;}
.imputForm{ margin:2px 0; border:1px solid #BBBBBB; padding:2px;}
#navigation hr{ display:none;}
/*page qui somme nous*/
#qsn{ padding:15px 0 0 0;}
#qsn h2{ font-size:16px; color:#c00000}
#qsn p{ padding:5px 0;}

/* GUIDE PRATIQUE = ACCES VIA LE LIEN DANS LA PAGE OUTILS*/
span.txtTitre3{ display:block; width:870px; color:#FFF; background:url(../images/titre_pixel.gif) repeat-x #a20101; font-size:16px; font-weight:bold; padding:3px 5px; margin:10px 3px 3px 0;}
span.gras{ display:block; width:882px; color:#FFF; background:url(../images/titre_pixel.gif) repeat-x #a20101; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;}
td.encadre{background-color:#FFF; border-color:#AAA; border-width:2px; border-style:solid; padding:3px; color:#000; margin:0 0 0 -4px;}
p.grasnews{ display:block; width:882px; color:#FFF; background:url(../images/titre_pixel.gif) repeat-x #a20101; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;}

/*liste agence*/
#ListeAgencesImmobilieres .cadreAgence { background:none; border:1px solid #747474;}
#ListeAgencesImmobilieres .cadreAgence .img_Ctn { border:1px solid #747474;}
#ListeAgencesImmobilieres .links,#CV #CvFoot {background:url(../images/titre_pixel.gif) repeat-x #a20101;}
#ListeAgencesImmobilieres .links .links_Ctn a:hover { background:#C94040;}
#ListeAgencesImmobilieres .links .links_Ctn,#ListeAgencesImmobilieres .links .links_Ctn a{border-left:1px solid #fff;}

/*agence Immoblier*/
#CV .linkOut a { background:url(../images/print_fleche-02.gif) 0 5px no-repeat;}
#CV #Agence #Coordonnees * { color:#747474;}
#CV #Agence #Coordonnees p span { color:#c00000;}
#CV #Agence { background:none;}
#CV h1,#CV #CvFoot #Links{background:url(../images/titre_pixel.gif) repeat-x #a20101;}
#CV #Agence #Img_Ctn #Vitrine {background-position: center center; border:1px solid #747474;}
#CV #Agence #Coordonnees p { padding: 1px 0;}
#CV #CvFoot #Links a.estimation,#CV #CvFoot #Links a.message{ padding:3px 5px; border-right:2px solid #fff;}
#CV #CvFoot #Links { border:none;}
#CV #CvFoot #Links a.estimation:hover,#CV #CvFoot #Links a.message:hover{background:#C94040;}

/*immobileir*/
#PudForm1 #MiniBudget{ position:static;}

/*page reseau*/

/*aimmobilier senlis*/
#ContainPud{ background:none;}

/*garnd carte geo*/
#mapGeo .CarteGeo{ width:948px; height:500px; padding:15px 0 0 0;}

#bandeauPhoto{ width:100%; background:#a40000; height:195px;}
	#photoAgences{ width:972px; margin:auto; padding:10px 0 0 2px; font-weight:bold; overflow:hidden;}
	#photoAgences p{ text-align:center; float:left; width:192px; font-family:Arial, Helvetica, sans-serif; color:#fff; font-size:15px; padding:0 2px 0 0; font-weight:bold;}
	#photoAgences p span{ font-size:12px; color:#fff;}
	#photoAgences p img{ border:1px solid #b9b3b3;}

#CV #Agence #TxtPublic { color:#747474; padding:10px 0 0 0;}
#CV #Agence #TxtPublic *{color:#747474; }
#CV #Agence #TxtPublic h2{ background:#c00000; color:#fff; padding:3px 0 3px 3px; margin:10px 0; font-size:16px;}
#CV #Agence #TxtPublic h3{ color:#c00000; font-size:13px;}
#CV #Agence #TxtPublic ul{ padding: 5px 0 10px 30px; list-style:none}
#CV #Agence #TxtPublic ul li{ background:url(../images/petitPuc.gif) 0 4px no-repeat; padding:2px 0 2px 15px;}
#CV #Agence #TxtPublic p{ text-align:justify;}
#CV #Agence #TxtPublic p.equi{ text-align:center;}
#CV #Agence #TxtPublic p.equi img{ border:1px solid #000;}
#CV #Agence #TxtPublic a{ color:#c00000; text-decoration:none; }
#CV #Agence #TxtPublic a:hover{ text-decoration:underline}
#CV #Agence #TxtPublic a strong{ color:#c00000; }
/*page resultat annonces*/
#RechPagesHaut .rechLiensPages a span, #RechPagesBas .rechLiensPages a span { color:#6E6D6D;}
#RechercheContainer #AlerteEmail #AlerteForm input.alerteBt { cursor:pointer;}
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .prox{ background-position:0;}
#TriAnn option,#RechHaut form#Tri select,#RechHaut form#Tri select optgroup{ padding-left:2px;}
#RechPagesHaut .rechLiensPages a:hover span, #RechPagesBas .rechLiensPages a:hover span { color:#fff;}
#DiagConso img,#DiagGES img{display:none;}

/*#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .contactAnn p.nom{display:none;}*/
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .contactAnn a.url{display:none;}
#AgenceContact form table#FormContact td#ChampsBouton #ChampsObligatoires { clear:both;}

/*les pages service*/
#service{ overflow:hidden;}
#service p,#engagement p{text-align:justify; padding:0 0 10px 0;}
#service h1{ padding:0 0 10px 0; color:#c00000; font-size:17px;}
#service h2{ padding: 0 0 5px 0; font-size:14px;}
#service h3{ padding:4px 0 0 0;}
#service h4{color:#c00000; padding:0 0 10px 0; font-size:14px;}
#service h5{ padding:0 0 10px 0; font-size:13px;}
#service ul,#engagement ul{ padding: 5px 0 10px 30px; list-style:none}
#engagement h4{color:#c00000; padding:0 0 10px 0; font-size:14px;}
#engagement p.angagement{ position:relative; width:745px; padding:40px 200px 40px 0; text-align:justify; }
#engagement p.angagement1{ position:relative; width:745px; padding:10px 200px 20px 0; text-align:justify; }

#engagement p img{ position:absolute; top:0px; right:0px;}
#service ul span,#service p span{ color:#c00000; font-weight:bold;}
#service ul li,#engagement ul li{ background:url(../images/petitPuc.gif) 0 4px no-repeat; padding:2px 0 2px 15px;}


#agenceOrpi{overflow:hidden;}

#carteAgence p{ padding:0 0 5px 0;}
#carteAgence strong{color:#c00000;}
#carteAgence a{color:#c00000;}
#carteAgence h3{ padding:0 0 5px 0;background:#c00000; color:#fff; padding: 3px;}



/*page */
#Texte{}
#Texte h1{font-size:18px; color:#c00000; padding:10px 0 3px 0;}
#Texte h2,#Link h2{ font-size:16px; color:#c00000;}
#Texte h3{ font-size:13px;}
#Texte p{ padding:0 0 5px 0;}
#carteMap{ width:452px; float:left; padding:0 40px 0 0}
#Link{ width:430px; float:left; padding:20px 0 0 0;}
#Link p{ line-height:22px;}
#Link h2{ padding:5px 0 30px 0;}
#Link a strong{font-size:12px; font-weight:normal; color:#c00000;}

/*page en construction*/
#EnConstruction{padding:50px 0 150px 0;}

/*page mentios légal*/
#MentionsLegales h2{color:#fff; padding:3px 0 3px 3px; margin:10px 0; background:url(../images/titre_pixel.gif) repeat-x #a20101;}

#FormContactListeAgences ul {list-style:none;}
.agImmoPortefeuille h4{ color:#000;}