/* carte_visite.htm */
#CV{margin: 0; padding: 0; border: none;}
#CV *{margin: 0; padding: 0; border: none;}
#CV .clear{clear:both;}
#CV .linkOut{text-align: right; margin: 0.5em 0;}
#CV .linkOut a{background: url($$_$$images/picto_fleche_01.gif) left no-repeat; padding: 0 0 0 15px; color:#3399cc;}
/**/
#CV h1{position: relative; font-size: 15px; color: #fff; background: url($$_$$images/listeag_fond_04.gif) 0 0 repeat-x #6a94cd; padding: 0 0.8em; line-height: 29px;}
#CV #Agence{padding: 1em; background: url($$_$$images/listeag_fond_01.gif) 0 0 repeat-x #fff;border: 1px solid #a6b8ce;}
#CV #Agence #Img_Ctn{position: relative; float: left; background: url($$_$$images/sans_photo.gif) no-repeat #bbc8d9;}
#CV #Agence #Img_Ctn #Vitrine{width: 200px; height: 130px; border: 2px solid #fff; background: url($$_$$agences/$$FORM:IDP$$.jpg) no-repeat;}
#CV #Agence #Coordonnees{position: relative; float: left; padding: 0 1em;}
#CV #Agence #Coordonnees h2{font-size: 12px; font-weight:bold;}
#CV #Agence #Coordonnees p{padding: 0.4em 0;}
#CV #Agence #Coordonnees p strong{font-weight: normal;}
#CV #Agence #Coordonnees p span{font-weight: bold;}
#CV #Agence #Coordonnees label.cv_respag{}
#CV #Agence #TxtPublic{text-align: justify;}
#CV #CvFoot{background: url($$_$$images/listeag_fond_02.gif) 0 0 repeat-x  #2c476b; height: 21px; overflow: hidden;}
#CV #CvFoot *{color: #fff; text-decoration: none; font-weight: bold;}
#CV #CvFoot #Links{float: left; border-right: 1px solid #2c476b; background: url($$_$$images/listeag_fond_02.gif) 0 0 repeat-x #a6b8ce;}
#CV #CvFoot #Links a{display: block; float: left; padding: 0.3em 1em; border-right: 1px solid #a9bbd3; border-left: 1px solid #2c476b;}
#CV #CvFoot #Links a:hover{background: url($$_$$images/listeag_fond_03.gif) 0 0 repeat-x #a9bbd3;}
#CV #CvFoot #Links a.message{}
#CV #CvFoot #Links a.estimation{}