/* $$DYN:ID3:NOFOOTER$$ */
div, td, .Marquee, .ListeVilles { font-family: Verdana, Arial, Helvetica, sans-serif !important; }

.BoiteAnnonce {
	border: none;
}

.DetailLibelleetPrix {
	background: url($$_$$images/bg_tab.gif) repeat-x;
	height: 30px;
	margin-bottom: 6px;
}

.DetailLibelleetPrix .DetailLibelle {
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: normal;
	line-height: 30px;
}

.DetailLibelleetPrix .DetailPrix, .DetailLibelleetPrix .DetailSurface {
	color: #022b5f;
	font-size: 12px;
	line-height: 30px;
	margin-left: 20px;
}
.DetailPrix { font-weight: bold; }

img.DetailPhotoGdformat {
	border: 1px solid #052f6d !important;
}

.DetailPhotoPtformat img {
	border: 1px solid #052f6d !important;
}
.DetailPhotoPtformat td { padding: 2px; }

.DetailInfoComplementaire {
	border: none !important;
}
.DetailInfoTitre {
	background: url($$_$$images/bg_tab.gif) repeat-x;
	height: 30px;
	line-height: 30px;
	padding: 0 8px;
	color: #fff;
	font-size: 9px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: normal;
	width: auto;
}
.DetailInfoComplementaire table {
	border: none;
	background-color: #c4d8eb;
}
.DetailInfoComplementaire td {
	border: none;
	padding: 3px;
}
.DetailVisuels360, .DetailExclusif, .DetailSituation, .DetailFraicheurLib, .DetailRefAnnonceLib, .DetailProxLib, .DetailAgence strong { color: #3399cc; }

.DetailImprimer { border-bottom: 1px solid #042f6c; text-align: center !important; }
.DetailImprimer a { display: block; text-align: center; width: 200px; height: 30px; line-height: 30px; color: #fff; text-transform: uppercase; margin: 0 auto; font-size: 10px; background: url($$_$$images/bg_btnprint.gif) no-repeat; font-weight: bold; text-decoration: none; border: none; }
.DetailImprimer a:hover { color: #fff; text-decoration: none; }
.DetailFormulaireLib { padding: 0 0 5px 0; border-bottom: 1px solid #042f6c; }
.DetailFormulaire table td {
	padding: 2px;
}
.DetailFormulaire input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin-bottom: 2px;
	border: 1px solid #999999;
}

.DetailFormulaire .Coord, .DetailFormulaire .Precisions {
	background-color: #6a94cd ;
	height: 20px;
	line-height: 20px;
	padding: 0 8px;
	color: #022b5e;
	margin: 0;
	text-align: center !important;
}
.DetailFormulaireForm { padding: 0; margin: 0; text-align: center; }
.DetailFormulaireForm table { width: 100%; margin: 0 auto; }

.DetailFormulaire .btn {
	margin-top: 15px;
}

.DetailFormulaire .btn input {
	width: 160px;
	height: 27px;
	line-height: 27px;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 9px;
	font-weight: bold;
	background: text-align: center; width: 200px; height: 30px; line-height: 30px; color: #fff; text-transform: uppercase; margin: 0 auto; font-size: 10px; background: url($$_$$images/bg_btnprint.gif) no-repeat; font-weight: bold; text-decoration: none; border: none;
}
.DetailBack a { color: #3399cc; }
.DetailBack a:hover { color: #3a66a1; }