// VAR COLORS
$color-body:#f0f0f0;
$color-content:#bbb;
$color-block:#f2f2f2;
$color-primary:#fff;
$color-secondary:#b81809;
$color-action:#b81809;
$color-important:#b81809;
$color-nav-footer:#484848;
// COLOR PUB
$color-pub:"white";
// COLOR FONT BODY DEFAULT
$color-font-body:#484848;
$color-gris-logo:#c3c1c3;