@font-face {
    font-family: 'BebasRegular';
    src: url('$$_$$styles/typocss/BebasNeue.eot');
    src: url('$$_$$styles/typocss/BebasNeue.eot?#iefix') format('embedded-opentype'),
         url('$$_$$styles/typocss/BebasNeue.woff') format('woff'),
         url('$$_$$styles/typocss/BebasNeue.ttf') format('truetype'),
         url('$$_$$styles/typocss/BebasNeue.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*------------------------------------------------*/

*{ font-size: 14px; }
body { margin: 0; padding:0; background: #667b9a; text-align:center; font-family: Times New Roman, Tahoma, Arial, Helvetica, sans-serif; }
div,td { font-family: Arial, Helvetica, sans-serif; font-size:14px; color: #fff;font-family: Times New Roman, Tahoma, Arial, Helvetica, sans-serif; }
img { border:none; display: inline; }
table  { border-collapse: collapse; border-spacing: 0; font-family: Times New Roman, Tahoma, Arial, Helvetica, sans-serif;}
td, th { padding: 0; font-family: Times New Roman, Tahoma, Arial, Helvetica, sans-serif;}
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; }
a { text-decoration: none; color: #213c64; font-family: Times New Roman, Tahoma, Arial, Helvetica, sans-serif;}
a:hover { color: #fff; text-decoration: none; font-family: Times New Roman, Tahoma, Arial, Helvetica, sans-serif;}
p { margin:10px 0; font-family: Times New Roman, Tahoma, Arial, Helvetica, sans-serif;}

.clear1 { clear: left; }
.clear { clear: both; }
.fleft { float: left; }
.fright { float: right; }

#det_box_evolprix {display:none;}

/*--------------------------------------------*/

#wrapper { width: 100%; background: url($$_$$images/skin/bg.gif) repeat-x #667b9a; }
#wrap { position: relative; width: 960px; text-align: left; margin: 0 auto; }

.coords { text-align: center; font-size: 18px; padding-top: 33px; font-weight: bold; font-family: Times New Roman, Tahoma, Arial, Helvetica, sans-serif; color: #fff; width: 530px; }
.coords strong { font-size: 22px; text-transform: uppercase; color: #fff; }
.coords a { color: #fff; font-size: 18px; text-decoration: underline; }

.menu { width: 960px; height: 55px; text-align: center; background: #213c64; position: relative; z-index:30000; }
.menu ul { margin: 0; padding: 0; }
.menu li { list-style-type: none; display: inline-block; text-align: center; float:left;}
.menu li+li {margin-left:5px;}
.menu a { padding: 0 14px; font-size: 22px; line-height: 55px; text-transform: uppercase; font-family: Times New Roman, Tahoma, Arial, Helvetica, sans-serif; color: #fff; display: block; text-shadow: 2px 2px 8px #000; }
.menu a:hover { background: url($$_$$images/skin/over.gif) repeat-x; color: #999; }

.menu ul li ul { display: none; position: absolute; z-index: 1000; background: url($$_$$images/skin/bg_smenu.png) repeat; top: 55px; text-align: left; }
.menu ul li:hover ul { display: block; }
.menu ul li ul li { float: none; display: block; line-height: normal;}
.menu ul li ul li a { text-align: left; font-weight: normal; text-transform: none; color: #fff; width: 100%; text-align: left; display: block; font-size: 20px; z-index: 1000;}
.menu ul li ul li a:hover { border: none; background: url($$_$$images/skin/over.gif) repeat-x; width:100%; }

#navigue { padding: 15px 0; min-height: 400px; }

#bloc-cdc { background: url($$_$$images/skin/bg_cdc.gif) no-repeat; width: 474px; height: 389px; }
.main-cdc { width: 464px; height: 376px; padding: 2px 0 0 2px; position: relative; }
.bg-desc { position: absolute; top: 0; left: 0; background: url($$_$$images/skin/bg_desc.png) no-repeat; z-index: 99; width: 314px; height: 376px; }
.bgCdc { position: absolute; top: 0; left: 0; background: url($$_$$images/skin/bg_desc.png) no-repeat; z-index: 99; width: 314px; height: 376px; }

.main-cdc .detailAnnonces, .detailAnnoncesRef { background: none; border: none; margin: 0; width: 464px; height: 376px; }
.main-cdc .blocPhoto { width: 464px; height: 376px; margin: 0; padding: 0; }
.main-cdc .blocTypeBien, .main-cdc .blocNumPhoto, .blocNumPhotoBg, .main-cdc .blocNumPhotoBg, .main-cdc .blocPhotoNouveau, .main-cdc .blocPhotoExclusif, .main-cdc .blocPhotoCoupCoeur { display: none; }
.main-cdc .blocVilleBien a { position: absolute; top: 19px; left: 10px; z-index: 999; color:  #999; font-size: 20px; text-transform: uppercase;text-shadow: 2px 2px 8px #000; }
.main-cdc .blocSurfaceBien { position: absolute; top: 50px; left: 5px; z-index: 999; font-size: 15px; color: #fff; }
.main-cdc .blocPiecesBien { position: absolute; top: 70px; left: 5px; z-index: 999; font-size: 15px; color: #fff; }
.main-cdc .blocPrixBien { position: absolute; top: 90px; left: 5px; z-index: 999; font-size: 15px; color: #fff; }
.main-cdc .blocDetailBien { position: absolute; top: 120px;  left: 10px; z-index: 999; background: url($$_$$images/skin/bg_det.png) no-repeat; display: block; width: 122px; line-height: 25px; color: #fff; text-align: center; }
.main-cdc .blocPhoto img { width: 464px; height: 376px; }
.main-cdc #selectionAnnonces_1 { margin: 0; }
.main-cdc .blocDetailBien a { color: #fff; font-weight: normal; text-decoration: underline; }

/*#bg-flash { background: url($$_$$images/skin/bg_flash.gif) no-repeat; width: 479px; height: 389px; }*/
#bg-flash { background: url($$_$$images/skin/bg_flash.png) no-repeat; width: 589px; height: 421px; }
#flash { padding: 3px 0 0 3px; width:600px; }

/*.txt-index { font-size: 15px; text-shadow: 1px 1px 2px #000; text-align: justify; line-height: 16px; color: #fff; }*/

.right-txt { float:left; width: 365px; float: left; width: 365px;  }
.flag { width: 45px; float:left; padding-right: 10px; }
.txt-flag { float: left; width: 300px; font-family: Arial, Helvetica, sans-serif; }

.flag2 { width: 45px; float:left; padding-right: 10px; padding-top: 15px; }
.txt-flag2 { float: left; width: 485px; font-family: Arial, Helvetica, sans-serif; padding-top: 23px; }

.txt-index { margin-top:0px; padding-top:20px; font-size: 20px; text-shadow: 1px 1px 2px #000; text-align: justify; line-height: 24px; color: #fff; }
.txt-index strong {font-size: 20px;}

.txt-index span { font-size: 24px; text-shadow: 1px 1px 2px #000; text-align: justify; color: #fff;text-align:center; display:block; }

.bg-foot { background: url($$_$$images/skin/bg_foot.gif) repeat-x #667b9a; padding: 30px 0; font-weight: bold; font-size: 11px; }
.left-foot, .bg-foot .link-foot { font-size: 12px; color: #9facc0; }
.bg-foot .link-foot a { color: #9facc0; font-size: 12px; }
.bg-foot .link-foot a:hover { color: #fff; }

.ttl-pages { color: #fff; font-size: 30px; font-family: 'BebasRegular', Helvetica, sans-serif; text-shadow: 2px 2px 8px #000; text-transform: uppercase; }
