@import "color";
/* BG SOLO*/
$bg-uni: yes;

/* PICTURE BG*/
$picture-bg: no;
$picture-bg-url: "../images/degrade_bg.png";
$picture-bg-repeat-horizontal: no;

/* SIZE PICTURE AREA : FULLSCREEN OR NOT*/
$height-container: 580;

/* VARIABLE SITE TYPO*/
$font-body: "Barlow", Arial, sans-serif;
$font-title: "Barlow Condensed", Arial, sans-serif;

/* REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST > FONT-SIZE-TEXT*/
$font-size-text: 1.6em;
$font-size-title: 2em;

/* TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE*/
$type-title: uppercase;

/* WEIGHT TITLE = BOLD, NORMAL, etc..*/
$weight-title: 700;

/* ARRONDI POUR LES EFFETS SUR LI HOVER/FIL ARIANE/BOUTON*/
$arrondi: yes;

/* BORDER EFFECT ON NAV*/
$border-nav: yes;

/* TYPE MENU : FLAT = COLOR BANNER BEHIND, NO FLAT = SHAPE OR NOT*/
/* LINK TO VAR ID3X >>> MENU_TYPE*/
$type-menu: no-flat;

/* STYLE NAV : IF YES = SHAPE BEHIND WORD, IF NO SHAPE BEHIND WORD ON HOVER*/
$shape: no;

/* MARGIN UNDER NAV FIXE*/
$margin-top-under-nav-fixe: 210;

/* IMPORT ALL = FUNCTIONS SASS/COMPASS*/
@import "../../../slagence_X_V5/sources/scss/all";

/* IMPORT PICTOS*/
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

/* IMPORT BOUTONS*/
@import "../../../slagence_X_V5/sources/scss/boutons/lib1";

/* IMPORT TEMPLATE LONDRES*/
@import "../../../slagence_X_V5/sources/scss/templates/londres";

/* IMPORT MODULE ANNONCES2*/
@import "../../../slagence_X_V5/sources/scss/modules/annonces2";

/* IMPORT MODULE PUB LIB3*/
@import "../../../slagence_X_V5/sources/scss/pubs/lib3";

/* SPRITE BLANC*/
@import "../../../slagence_X_V5/sources/scss/sprites/social-blanc";

/* IMPORT MEDIA QUERY ALL*/
@import "../../../slagence_X_V5/sources/scss/media";

/* IMPORT IE FIXING*/
@import "../../../slagence_X_V5/sources/scss/ie";

/* IMPORT MODULE SOUS MENU*/
@import "../../../slagence_X_V5/sources/scss/sous_menu/lib1";



/* --------------------------------------------------------------------------------------*//**/
/* -- GLOBAL*/
/* --------------------------------------------------------------------------------------*//**/

.rounded-120 {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.has-shadow {
    -webkit-box-shadow: 2px 0 16px rgba($color-nav-footer,.3);
    box-shadow: 2px 0 16px rgba($color-nav-footer,.3);
}

.has-deco {
    position: relative;
    padding-right: 20px;
    padding-bottom: 20px;
     > * {
        position: relative;
        z-index: 1;
    }
    &:after {
        position: absolute;
        width: 80%;
        height: 80%;
        right: 0;
        bottom: 0;
        z-index: 0;
        content: "";
        background-color: $color-action;
    }
}


/* --------------------------------------------------------------------------------------*//**/
/* -- MENU & NAV*/
/* --------------------------------------------------------------------------------------*//**/

.navigation {
    border-bottom: 3px solid $color-secondary;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.menu-principal {
    margin-top: 5px;
    font-size: 1.125em;
     > li > a {
        margin: 0;
        padding: 10px;
        border-bottom: 0;
        font-family: $font-body;
        font-weight: 500;
        &:focus,
        &:hover,
        &:active {
            color: $color-primary;
            border-bottom: 0;
            background-color: $color-secondary;
        }
    }
}

.nav-social-menu {
    font-size: .85em;
}


/* --------------------------------------------------------------------------------------*//**/
/* -- INDEX*/
/* --------------------------------------------------------------------------------------*//**/

.emplacement-header {
    margin-bottom: 20px;
}

.pub-histoire {
    background-image: url("../images/pub/cube_mauve.png");
    background-repeat: no-repeat;
    background-size: contain;
}



/* --------------------------------------------------------------------------------------*//**/
/* -- PAGES DE CONTENU*/
/* --------------------------------------------------------------------------------------*//**/


.page-header {
    min-height: 280px;
    padding-top: 60px;
    background-repeat: no-repeat;
    background-position: center right;

    .page-presentation & {
        background-image: url("../images/immo/bg-presentation.jpg");
    }
    .page-complement & {
        background-image: url("../images/immo/bg-complement.jpg");
    }
    .page-histoire & {
        background-image: url("../images/immo/bg-histoire.jpg");
    }
    .page-organisation & {
        background-image: url("../images/immo/bg-organisation.jpg");
    }
    .page-difference & {
        background-image: url("../images/immo/bg-difference.jpg");
    }
    .page-copro & {
        background-image: url("../images/immo/bg-copro.jpg");
    }
    .page-location & {
        background-image: url("../images/immo/bg-location.jpg");
    }
    .page-charte & {
        background-image: url("../images/immo/bg-charte.jpg");
    }
    .page-services & {
        background-image: url("../images/immo/bg-services.jpg");
    }
    .page-professionnel & {
        background-image: url("../images/immo/bg-professionnel.jpg");
    }
}


.page-section {
    padding: 60px 0;
    p:first-child {
        padding-top: 0;
    }
}
.page-section-white {
    background-color: $color-block;
}
.page-section-action {
    color: $color-primary;
    background-color: $color-action;
}
.page-section-big {
    font-size: 1.25em;
    font-weight: 500;
    line-height: 1.2;
}
.page-section-footer {
    text-align: center;
    background-color: $color-block;
    color: darken($color-body,25);
    text-transform: uppercase;
    img {
        max-width: 200px;
        margin-bottom: 40px;
    }
    .btn {
        font-weight: 400;
    }
}
.page-section-ttl {
    font-family: $font-title;
    text-transform: uppercase;
    font-size: 2.25em;
}


.page-cat {
    font-size: 1.25em;
    font-weight: 500;
    text-transform: uppercase;
}

.page-ttl {
    color: $color-action;
    font-size: 3.75em;
    line-height: 1;
    text-transform: uppercase;
}

.page-ssttl {
    margin-bottom: 15px;
    font-size: 2.25em;
    text-transform: uppercase;
}

.page-intro {
    font-size: 1.25em;
    text-transform: uppercase;
}

.page-list {
    li {
        margin: 3px 0;
    }
}

.bg-pub-txt {
    background-color: rgba($color-primary,.8);
    @include border-radius(4px);
}


body > section > div > div.page-section > div:nth-child(1) > p:nth-child(8) > a {
    border: 1px solid $color-font-body;
    color:$color-primary;
    background-color: $color-font-body;
    background-image: linear-gradient(to bottom, $color-font-body ,$color-font-body 100%);
}

/* --------------------------------------------------------------------------------------*//**/
/* -- MEDIA QUERIES
/* --------------------------------------------------------------------------------------*//**/

@media only screen and (max-width : 847px) {

    header .logo img {
        width: 200px;
        padding-bottom: 10px;
    }

    .margin-top-under-nav-fixe {
        margin-top: 125px;
    }

}


@media only screen and (max-width : 767px) {

    .margin-top-under-nav-fixe {
        margin-top: 0;
    }

    .page-header {
        position: relative;
        min-height: 0;
        padding: 30px 0;
        background-size: cover;
        text-align: center;
        &:before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 0;
            content: "";
            background-color: rgba($color-primary,.5);
        }
    }

    .page-cat,
    .page-ttl {
        position: relative;
        z-index: 1;
    }

    .page-ttl {
        font-size: 2.4em;
    }

    .page-ssttl {
        margin-bottom: 15px;
        font-size: 1.8em;
    }

    .page-intro {
        font-size: 1.15em;
    }

    .page-section {
        padding: 30px 15px;
    }

    .page-section-ttl {
        margin-bottom: 15px;
        font-size: 1.6em;
        line-height: 1.2;
    }
}
