<div id="estimation-app-row" class="row">
    <div class="col-sm-{{ $ec.form.sidebar.enabled ? '8' : '12' }}">
        <div id="estimation-form-container">
            <form id="estimation-form" class="main estimation" name="$ec.estimationForm" novalidate>
                <breadcrumbs></breadcrumbs>
                <page-title></page-title>
                <div class="ui-view-container">
                    <ui-view></ui-view>
                </div>
            </form>
        </div>

    </div>
    <div class="col-sm-4">
        <estimation-sidebar></estimation-sidebar>
    </div>
    <link type="text/css" rel="stylesheet" ng-href="{{$ec.getAgencyUrlCss()}}">    
</div>