body { margin:0; padding:0; background: #353535; text-align:center; }
div,td { font-family: Arial, Helvetica, sans-serif; font-size:12px; color: #434343; }
img { border:none; display: inline; }
table  { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; padding:3px; font-size:11px;}
a { text-decoration: none; color: #8e1c1c; }
a:hover { color: #af3838; text-decoration: none; }
p { margin:10px 0;}

.clear1 { clear: left; }
.clear2 { clear: both; }
/*--------------------------------------------*/

#wrapper { width: 100%; background: url(../images/wrapper.gif) repeat-x #d4d4d4; }
#wrapper2 { width: 100%; background: url(../images/body2.gif) repeat-x #d4d4d4; }
#wrap { width: 1200px; text-align: left; margin: 0 auto; }
#top-head { width: 1200px; height: 37px; line-height: 37px; overflow: hidden; }
.small-logo { float: left; width: 80px; }
.adress { float: left; width: 350px; font-size: 10px; color: #8a8a8a; }
.phone { float: left; width: 125px; font-size: 10px; color: #fff; }
.fax { float: left; width: 120px; font-size: 10px; color: #8a8a8a;  }
.mailto { float: left; width: 140px; font-size: 10px; }
.mailto a{color: #fff;}
#bloc-marquee { float: left; width: 300px; font-size: 10px; }
#marq { padding-left: 15px; font-size: 10px; }

#main { position: relative; width: 1020px; margin: 0 auto; }
.logo { position: absolute; left: 10px; top: 9px; }
.logo-fnaim { position: absolute; left: 911px; top: 82px; }
.flag { position: absolute; top: 0; right: 0; }
.flag a { float: left; }

#flash { height: 197px; overflow: hidden; }


#menu { width: 1000px; margin: 0 auto; height: 51px; overflow: hidden; }
#menu ul { margin: 0; padding: 0; }
#menu li { position: relative; float: left; height: 51px; overflow: hidden; list-style-type: none; }
#menu a { text-align: center; font-size: 13px; font-weight: bold; color: #fff; display: block; height: 51px; line-height: 51px; }
#menu a:hover { background-position: 0 -51px; position: relative; }

#menu .mn1-fr { background: url(../images/mn01_fr.gif) no-repeat; width: 70px; }
#menu .mn2-fr { background: url(../images/mn02_fr.gif) no-repeat; width: 71px; }
#menu .mn3-fr { background: url(../images/mn03_fr.gif) no-repeat; width: 92px; }
#menu .mn4-fr { background: url(../images/mn04_fr.gif) no-repeat; width: 80px; }
#menu .mn5-fr { background: url(../images/mn05_fr.gif) no-repeat; width: 132px; }
#menu .mn6-fr { background: url(../images/mn06_fr.gif) no-repeat; width: 115px; }
#menu .mn7-fr { background: url(../images/mn07_fr.gif) no-repeat; width: 89px; }
#menu .mn8-fr { background: url(../images/mn08_fr.gif) no-repeat; width: 82px; }
#menu .mn9-fr { background: url(../images/mn09_fr.gif) no-repeat; width: 100px; }
#menu .mn10-fr { background: url(../images/mn10_fr.gif) no-repeat; width: 75px; }
#menu .mn11-fr { background: url(../images/mn11_fr.gif) no-repeat; width: 94px; }

#menu .mn1-en { background: url(../images/mn01_en.gif) no-repeat; width: 69px; }
#menu .mn2-en { background: url(../images/mn02_en.gif) no-repeat; width: 64px; }
#menu .mn3-en { background: url(../images/mn03_en.gif) no-repeat; width: 80px; }
#menu .mn4-en { background: url(../images/mn04_en.gif) no-repeat; width: 117px; }
#menu .mn5-en { background: url(../images/mn05_en.gif) no-repeat; width: 106px; }
#menu .mn6-en { background: url(../images/mn06_en.gif) no-repeat; width: 105px; }
#menu .mn7-en { background: url(../images/mn07_en.gif) no-repeat; width: 90px; }
#menu .mn8-en { background: url(../images/mn08_en.gif) no-repeat; width: 118px; }
#menu .mn9-en { background: url(../images/mn09_en.gif) no-repeat; width: 91px; }
#menu .mn10-en { background: url(../images/mn10_en.gif) no-repeat; width: 76px; }
#menu .mn11-en { background: url(../images/mn11_en.gif) no-repeat; width: 84px; }

#sm1.fr,#sm1.en{position: absolute;left: 80px;top: 248px;background: #a44848;width: 115px;display: none;}
#sm1.en{width: 103px;}
#sm1.reduit{top: 141px;}
#sm1 a{display: block; padding: 10px; color: #fff;font-weight: bold;}
#sm1 a:hover{background: #da0000;}

#reap-content { width: 1020px; background: url(../images/reap_main.gif) repeat-y; }
#main-content { width: 1020px; background: url(../images/bg_content.gif) top  no-repeat; }

.min-height { float: left; width: 10px; height: 655px; }
#wrap-content { float: left; width: 1000px; }
#navigue { width: 960px; margin: 0 auto; padding-bottom: 15px; }

.bloc-update { float: left; width: 560px; text-indent: 10px; height: 42px; line-height: 40px; font-size: 11px; }
.bloc-update span { background: url(../images/puce_here.gif) no-repeat 0 4px; padding-left: 10px; color: #8e1c1c; padding-right: 10px; }
.here { float: right; width: 350px; padding-right: 10px; height: 42px; text-align: right; line-height: 40px; font-size: 11px; }
.here span { background: url(../images/puce_here.gif) no-repeat 0 4px; padding-left: 10px; color: #8e1c1c; padding-right: 10px; }

#left { float: left; width: 645px; padding-left: 5px; }
#bloc-carroussel { background: url(../images/bg_carroussel.gif) no-repeat; height: 230px; width: 645px; margin-bottom: 19px; }
.ttl-exclus-fr { float: left; width: 172px; padding-left: 7px;}
.link-exclus{position: relative;float: left;width: 456px;height: 31px;overflow: hidden; padding-top: 14px;padding-right: 10px;}
.link-exclus a {display: block; float: right;text-align: right;  color: #fff; text-decoration: underline; margin: 0 10px;line-height: 26px; }
.link-exclus a:hover, .links-news a:hover { color: #434343; }
#flash-carroussel { width: 600px; height: 152px; padding: 11px 0 0 23px; }
#cp{position: absolute; top: 1px; left: 20px;}
#prio{display: block; position: absolute;width: 211px; height: 45px;right:78px; top:290px;}

.bg-ttl { background: url(../images/bg_ttl_news.gif) no-repeat; height: 30px; margin-left: 7px; overflow: hidden; } 
.ttl-news-fr { float: left; width: 166px; }
.links-news a { float: right; text-align: right; height: 30px; line-height: 30px; text-decoration: underline; color: #fff; padding-right: 20px; }

#main-cdc { margin-left: 7px; }
.div-cdc { position: relative; float: left; background: url(../images/bg_cdc.gif) no-repeat; width: 313px; height: 324px; padding-right: 5px; }
.photo-cdc { padding: 13px 0 0 9px; }
.photo-cdc img { width: 295px; height: 192px; }
.contenu-cdc { width: 295px; margin: 0 auto; padding: 6px 0; }
.contenu-cdc p { margin: 0; padding: 0; }
.contenu-cdc a { font-weight: bold; font-size: 14px; }
.prix-cdc { color: #8e1c1c; font-size: 18px; font-weight: bold; }
.prix-cdc span{font-size: 12px;}
.espace-cdc { font-weight: bold; }

#btnindex {margin-left:20px;margin-top: 95px;}
#solidarite {margin-left:170px;}


#right { float: right; width: 315px; padding-right: 14px; }
#mot { width: 315px; }

#bloc-actus { margin-top: 25px; }
.txt-actus { background-image: url(../images/homme.png); background-repeat: no-repeat; background-position: 195px 35px; }
.txt { width: 170px; min-height:260px; position: relative; left: 37px; }
.txt a { text-decoration: underline; }

#bloc-agc { background: #e1e1e1; width: 1000px; margin: 10px auto; padding: 15px 0; } 
.foto-agc { float: left; width: 265px; padding-left: 12px; } 
.txt-agc { float: left; width: 980px; padding:10px 10px; }  
.ttl-agc { font-size: 14px; font-weight: bold; } 
.ttl-agc strong { font-size: 18px; color: #8e1c1c; } 
.txt-agc a { font-weight: bold; text-decoration: underline; }
.txt-agc p{text-align: justify;}

#footer { width: 100%; background: #353535; font-size: 11px; }
#main-foot { width: 1020px; text-align: left; margin: 0 auto; background: url(../images/bg_footer.gif) no-repeat #353535; padding: 20px 0; }
.link-left { float: left; width: 440px; text-indent: 10px; font-size: 11px; color: #a63434; }
.return-top { float: right; width: 300px; text-align: right; padding-right: 10px; font-size: 11px; }
.return-top a { background: url(../images/pic_return.gif) no-repeat 0 6px; padding-left: 10px; color: #a63434; }

#bloc-agc-foot { padding: 23px 0; width: 1000px; margin: 0 auto; }
.agc1 { float: left; width: 260px; }
.agc2 { float: left; width: 240px; }
.agc3 { float: left; width: 285px; }
.agc4 { float: left; width: 200px; }

.agc1 strong, .agc2 strong, .agc3 strong, .agc4 strong, #list-prod strong { font-weight: normal; text-transform: uppercase; display: block; color: #a63434; font-size: 11px; }

.agc1, .agc2, .agc3, .agc4 { color: #8e1c1c; font-size: 11px; }
.agc1 a, .agc2 a, .agc3 a, .agc4 a { color: #a0a0a0; display: block; }
.agc1 a:hover, .agc2 a:hover, .agc3 a:hover, .agc4 a:hover { color: #a63434; }

#link-foot { text-align: center; font-size: 11px; padding-top: 23px; color: #a0a0a0; }
#link-foot a { color: #a0a0a0; }
#link-foot a:hover { color: #a63434; }
#link-foot .pic-rss { background: url(../images/pic_rss.gif) right no-repeat; padding-right: 20px; height: 18px; color: #eeac23; line-height: 18px; width: 17px; padding-top: 10px; padding-bottom: 10px; }

/*-----------------*/

/* Page formulaire */
.tabTitre{font-size: 14px; color:#fff; background: url(../images/bg_ttl.gif) repeat-x #d90101; line-height: 25px; }
.estimationNomAgence,.messageNomAgence{ color:#8e1c1c;font-size: 16px;}

/*IE8*/
.BoutonFormContact, .BoutonFormRecherche, .boutonEnvoi, td#ChampsBouton input { width: 180px; height: 42px;}
.titrePageOutils { display: none; }

/*marquee*/
#AnnoncesDefilantes, #AnnoncesDefilantes a { color: #8c8c8c; font-size: 10px; }

/*pud_annonces*/
#Annonces01 .ann_ctn { background: url(../img/ann01_fd_01.gif) no-repeat; }
#Annonces01 .ann_ctn .ann_fd { display: none;}

/*editeur*/
#Editeur {color : #434343; font-size : 12px;margin-top: 10px;}
#Editeur h1 {color : #8e1c1c; font-size : 16px ;}
#Editeur h1 span{color : #434343; font-size : 16px ;}
#Editeur h2 { color : #8e1c1c; font-size :16px; }
#Editeur h2 span{color : #434343; font-size :14px  ;}
#Editeur h3 {color : #8e1c1c; font-size : 16px ;}
#Editeur h3 span {color : #434343; font-size : 13px ;}
#Editeur p {color : #434343; font-size :12px ; text-align: justify;}
#Editeur p span{color : #434343; font-size : 12px ;}
#Editeur p strong { color: #8e1c1c; }
#Editeur big{font-size: 18px;}
#Editeur a {color : #8e1c1c; font-size : 11px ;}
#Editeur a : hover{color : #434343; font-size :11px ;}
#Editeur ul{}
#Editeur li{ color : #434343; font-size : 12px;text-align: justify;margin-bottom: 5px;}
#Editeur span *{color : #434343 !important; font-size : 11px;}
#Editeur table, #Editeur  td {border:none !important;padding:0 ;margin : 0 ;}

#prod #Portefeuille01 h3 { display: none; }
#prod { font-size: 11px; }
#prod br { display: none; }
#prod a { color: #a0a0a0; font-size: 11px; }
#prod a:hover { color: #8e1c1c; }

/*--------------------------------------------------------------------------*/
.ttl-pages { color: #8e1c1c; font-size: 13px; padding:0 0 10px 0; font-weight: bold; text-transform: uppercase; border-bottom:1px solid #8e1c1c;}

td#ColonneGauche #ColonneGauche_Ctn #SansPhoto{background-position: 50% 50%;}
 
.selectionIndexExclusif{display: none;}
#RechPagesHaut .rechLiensPages a span, #RechPagesBas .rechLiensPages a span{color: #666;}
 
#RechResultat .blocAnnonce table.detailsAnn td.photo_wrap .photo_ctn .selectionNouveau{top: -6px; left: -4px;}
.photo-cdc .selectionNouveau{top: 2px; left: 0px;}
 /*_________________________________________________________*/
 
 
 .bloc-img {float:right;}
 
 
 
 
 
 
 
