/* $$DYN:ID3:NOFOOTER$$ */
.TableDetail { width: 95%; border: none; }
.BoiteAnnonce, .TotalAnnonce { border: none; background: none; padding: 5px; }
.DetailBack a { color: #396539; font-size: 11px; font-weight: bold; text-decoration: underline; }
.DetailBack a:hover { text-decoration: none; } 
/* Titre */
.DetailLibelleetPrix { height: 30px; background: url($$_$$images/bg_Libelle.gif) repeat-x; line-height: 30px; }
.DetailLibelle, .DetailSurface { color: #fff; font-weight: bold; }
.DetailPhotoGdformat img { border: 2px solid #fff; }
.DetailPhotoPtformat td { padding: 2px; }
.DetailPhotoPtformat img { border: 1px solid #fff; }
.DetailPrix { font-size: 12px; font-weight: bold; font-style: italic; color: #faf386; margin-left: 20px; }
.DetailVisuels360, .DetailExclusif, .DetailSituation, .DetailFraicheurLib, .DetailRefAnnonceLib, .DetailProxLib, .DetailAgence strong { color: #fff; }
.DetailVisuels360, .DetailExclusif, .DetailSituation, .DetailFraicheurLib, .DetailRefAnnonceLib, .DetailProxLib, .DetailAgence{ color: #C9E3C8; }
.DetailVisuels360, .DetailExclusif, .DetailSituation, .DetailFraicheurLib, .DetailRefAnnonceLib, .DetailProxLib, .DetailAgence a { color: #C9E3C8; }

.DetailInfoComplementaire { border: 1px solid #E4F2E4; background-color: #ddeedd; }
.DetailInfoComplementaire td { padding: 3px; border: none; background-color: #fff; }
.DetailInfoTitre { background-color: #99c698; text-align: center; padding: 5px 0; margin: 0; color: #fff; }
.DetailImprimer a { display: block; text-align: center; width: 200px; height: 30px; line-height: 30px; color: #fff; text-transform: uppercase;  margin: 10px 0; font-size: 12px; background: url($$_$$images/fd_btnprint.gif) no-repeat; font-weight: bold; text-decoration: none; margin: 0 auto; }
.DetailImprimer { border-bottom: 1px solid #396539 !important; text-align: center !important; }
.DetailImprimer a:hover { text-decoration: none; }
.DetailFormulaire { background:url($$_$$images/px_fond_form.gif) repeat-x #99c698; color: #396539; border: 1px solid #EAF4EA;}
.DetailFormulaire td {width: 648px; padding: 2px 5px;}
/*savoir plus*/
.DetailFormulaireLib { background:url($$_$$images/bg_btnprint.gif) repeat-x #99c698; color: #fff; border: 0px;}
.DetailFormulaire .btn input {
	width: 160px;
	height: 27px;
	line-height: 27px;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 10px;
	font-weight: bold !important;
	background: url($$_$$/images/bg_btnprint.gif) no-repeat;
	border: none !important;
}
.DetailFormulaire .btn { color: #ffffff; font-size: 10px; font-weight: bold !important; }
div, span, .ListeVilles, .Marquee { font-family: Arial, Helvetica, sans-serif !important; color: #396539; }