// VAR COLORS
// $color-body:#bdf5fd;
$color-body:#11B1C7;
$color-content:#1a1a1a;
$color-block:#fff;
// $color-primary:#edf2f7;
$color-primary:#fff;
$color-secondary:#fff;
$color-action:#00abc3;
$color-important:#00abc3;
$color-nav-footer:#00abc3;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#5f6776;

