// MODELE ORPI
/* ENCART PUB */
.gris {
border: 9px solid $color-primary;
background:$color-body;
}
.pub-titre-reseau {
background: #ffffff url(../images/bg-title-white.png);
padding:10px;
color:$color-secondary !important;
font-size:$font-size-title * 1;
}
.bloc-ligne-bas .pub, .bloc-ligne-bas .gris {
background:$color-secondary;
border: 5px solid lighten($color-primary,5);
color:#fff;
}
.bloc-ligne-bas .pub .h2-like {
color:#fff;
}
.bloc-ligne-bas .pub-titre, .bloc-ligne-bas .gris-title {
background: #fff url(../images/bg-title-grey.png);
color:#fff;
padding:10px;
}
.pub-titre-blanc {
	color:#fff;
}
.pub-titre-rouge {
	color:#ffffff;
	background:$color-action;
	position: absolute;
   bottom: 10px;
   left: 0px;
   right: 0px;
   color: #fff;
   padding: 8px 10px;
}
.background-pub-gris {
	background:$color-primary;
	padding: 0 10px 10px 0;
}
.border-pub-gris {
	border:9px solid $color-primary;
	padding: 15px 12px 15px;
}
.contenu-orpi .pub-titre {
	color:#ffffff;
	background:$color-action;
}
.encart-pub-img {
	background-position:top center;
	background-repeat:no-repeat;
	text-decoration:none;
}
/* PICTOS */
.pub-social {
	background-image:url('/z/webagency/slagence_X_V5/images/pub/orpi/pub-social.png');
}
.pub-facebook {
	background-image:url('/z/webagency/slagence_X_V5/images/pub/orpi/pub-facebook.png');
}