@font-face {
    font-family: 'BebasRegular';
    src: url('$$_$$styles/typocss/BebasNeue.eot');
    src: url('$$_$$styles/typocss/BebasNeue.eot?#iefix') format('embedded-opentype'),
         url('$$_$$styles/typocss/BebasNeue.woff') format('woff'),
         url('$$_$$styles/typocss/BebasNeue.ttf') format('truetype'),
         url('$$_$$styles/typocss/BebasNeue.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
		font-family: 'Induction';
		src: url('$$_$$styles/typocss/induction.eot');
		src: url('$$_$$styles/typocss/induction.eot?#iefix') format('embedded-opentype'),
				 url('$$_$$styles/typocss/induction.woff') format('woff'),
				 url('$$_$$styles/typocss/induction.ttf') format('truetype'),
				 url('$$_$$styles/typocss/induction.svg#induction') format('svg');
		font-weight: normal;
		font-style: normal;
}

body { margin:0;padding:0;background: #3a3c3b;text-align:center;}
div,td { font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#2a292c;}
img { border:none;display:inline;}
table  { border-collapse:collapse;border-spacing:0;}
td, th { padding:0;}
form { padding:0;margin:0;}
input, select { vertical-align:middle;}
a { text-decoration:none;color:#b80000;}
a:hover { color:#2a292c;text-decoration:none;}
p { margin:10px 0;}

.clear { clear:both;}
.fleft { float:left;}
.fright { float:right;}

/*-------------------------------------------------*/

#wrap { width: 100%;}
#wrap2 { width: 100%; background: url($$_$$images/bg_img2.png) top center no-repeat; }
#wrap_anim {width:1208px; margin:0 auto; text-align:center;}
#anim {position:absolute; top:168px;}
#main { position: relative; width: 960px; margin: 0 auto; text-align: left; z-index:600;}

.logo { padding: 12px 0 11px 0;  height: 118px; overflow: hidden; }
#right-head { width: 390px; overflow: hidden; }
#bloc-moteur { width: 390px; }

.menu-fr, .menu-en { background: url($$_$$images/bg_menu.png) no-repeat; height: 55px; }
.menu-fr ul, .menu-en ul { margin: 0; padding: 0; }
.menu-fr li, .menu-en li { float: left; list-style-type: none; background: url($$_$$images/sep_menu.gif) right no-repeat; }
.menu-fr a, .menu-en a { line-height: 55px; text-transform: uppercase; padding: 0 12px; color: #404242; font-family: 'BebasRegular'; font-size: 24px; text-shadow: 1px 1px 1px #fff; }
.menu-en a { padding: 0 16px; }
.menu-fr a:hover, .menu-en a:hover { color: #b80000; }

#content { background: url($$_$$images/bot_content.gif) bottom no-repeat #eee; padding-bottom: 20px; } 
#navigue { width: 940px; margin: 0 auto; padding: 15px 0 0 0; min-height: 400px; }
.vide { height: 379px; }
.vide2 { height: 286px; }
.ttl-cdc {font-size:22px; padding-top:10px; padding-left:10px;}
#bloc-cdc { height: 155px; }

.left { width: 475px; margin-left: 5px; font-size: 15px; text-align: justify; }
.top-txt { font-size: 18px; }
.top-txt strong { font-weight: normal; }

.top-txt span span {color: #b80000; }
.left a { text-decoration: underline; }

.right { width: 470px; }
.bg-service { position: relative; background: url($$_$$images/bg_services.gif) no-repeat; width: 229px; height: 74px; margin-top: 20px; cursor: pointer; margin-right: 5px; }
.bg-service div { width: 135px; padding: 13px 0 0 75px; }
.bg-service div a { color: #3d3f3f; } 
.bg-service div strong { font-size: 16px; font-weight: normal; }
.bg-service div strong span, .bg-service div a:hover { color: #b80000; }

.bg-service img { position: absolute; top: 0; left: 0; }

#footer { width: 930px; margin: 0 auto; padding: 15px 0; font-family: Tahoma; }
.l-foot { width: 235px; }
.c-foot { width: 180px; }
.r-foot { width: 500px; }

.ttl-foot { padding-bottom: 15px; }
.ttl-foot, .ttl-foot a { color: #cfcecd; font-weight: bold; font-family: Tahoma; font-size: 11px; }

.link-l { width: 200px; }
.link-l, .link-l a, .link-c, .link-c a { color: #6d6f6e; font-size: 11px; }
.link-c a { text-decoration: underline; display: block; }

.portefeuilleVilles h3 { margin: 0; padding: 0; font-size: 11px; color: #6d6f6e; display: inline; font-weight: normal; }
.portefeuilleVilles a { font-size: 11px; color: #6d6f6e; }

.coords { color: #fff; text-align: center; font-weight: bold; }

.ttl-foot a:hover, .link-l a:hover, .link-c a:hover, .portefeuilleVilles a:hover { color: #fff; } 

.ttl-pages {  font-size: 20px; text-transform: capitalize; }

/*ADD CSS*/
.retourHaut { padding: 10px 0; }
#Plan_Ctn li { border-bottom: 1px dotted #2e302f!important; padding: 5px 0; }

.blocPhotoNouveau, .blocPhotoExclusif, .blocPhotoCoupCoeur { display: none; }
