/*$$REM$$====================================================================================
//// <summary>Fichier CSS 2 site "PACK AVANTAGE 2"</summary>
//// <remarks>
//// <para>Fichier css appelé par head mutualisé</para>
//// <para>Sert pour toutes modifs démutualisées</para>
//// <para>Liste des macros générales pour faciliter la customisation des sites</para>
//// <para>A démutualiser pour chaque site</para>
//// </remarks>
//// <update date="2010-02-16" author="lisbonne.siriphol">Création</update>
====================================================================================$$END$$*/


$$REM$$ /* ============================================================================================
 ////////////////////////////////////// MACROS GENERALES PERSOS //////////////////////////////////////
============================================================================================= */$$END$$
<!--#include virtual="styles/all_global_macros.htm" -->

/*==============================>> page d'accueil <<================================-- */

#HeaderTxt h2 {font-size: 12px;}

#TopHeader_Ctn {background: none repeat scroll 0 0 #1d2526;}

#FilAriane span {color: #fff;}

#PortefeuilleAccueil h6 span {color: #fff;}

#PortefeuilleAccueil ul li a:hover {color: #fff;}

#NouveautesAccueil .titreParagraphe a {color: #fff;}

.selectionDescr .selectionPrix {color: #fff;}

.selectionDescr .selectionDetail a {color: #fff;}

#Coordonnees .agenceAdresse, #Coordonnees .agenceCP, #Coordonnees .agenceVille,#Coordonnees .agenceTel em ,#Coordonnees span.agenceTel ,
#Coordonnees .agenceFax em ,#Coordonnees .agenceFax {color: #000; font-weight:bold;}

/*==============================>> page recherche <<================================-- */

#Moteur .inputText, #Moteur .inputSelect, #Moteur .inputTextarea {color: #fff;}
#Moteur .inputSelect option {color: #fff;}

/*==============================>> page détail de l'annonce <<================================-- */

#Form_Ctn .inputText, #Form_Ctn .inputTextarea {
    background: none repeat scroll 0 0 #293537;
    border: 1px solid #fff;
    color: #fff;}

/*==============================>> page alerte email <<================================-- */

#AlerteEmail #AlerteForm input.alerte {background: none repeat scroll 0 0 #fff; color: #000000}

/*==============================>> page estimation <<================================-- */

#FormContactAgence .inputSelect option {color: #fff;}

/*==============================>> page contact <<================================-- */

#FormContactAgence .inputText, #FormContactAgence .inputSelect, #FormContactAgence .inputTextarea {
		background: none repeat scroll 0 0 #293537;
    border: 0px solid #fff;
    color: #fff;}

/*==============================>> page outils <<================================-- */

.accordion_content .inputText {background:#fff;}
.accordion_content .inputText {color: #000;}
.accordion_content .inputResult {background:#fff;color:#000;border:1px solid #34a8b8;}