// VARIABLES COLORS
$color-body:#333333;
$color-content:#89744d;
$color-block:#2a2a2a;
$color-primary:#FFF;
$color-secondary:#009a8e;
$color-action:#006800;
$color-important:#029b31;
$color-nav-footer:#000;

// COLOR PUB
$color-pub:"white-opacity";

// COLOR FONT BODY DEFAULT
$color-font-body:#c5c5c5;

// ICONE COUP DE COEUR
$color-icone-cdc:#004F00;