/* STRUCTURE MODULE */
/* LEFT */
#blocModuleLeft,#blocModuleLeft2,#blocModuleLeft3 {float:left;position:relative;margin:10px 0 0 10px;padding:0;width:531px;height:338px; overflow:hidden;}
#blocModuleLeft .infosAnnonces,#blocModuleLeft2 .infosAnnonces,#blocModuleLeft3 .infosAnnonces {position:absolute;padding-left:10px;line-height:51px;background:url('$$_$$images/module/degrade_left_reykjavik.png') no-repeat;width:440px;height:51px;bottom:0;left:0;font-size:18px;font-family:georgia,arial;color:#fff;font-style:italic;}
#blocModuleLeft .infosAnnonces a,#blocModuleLeft2 .infosAnnonces a,#blocModuleLeft3 .infosAnnonces a {text-decoration:none;color:#fff;}
#blocModuleLeft .infosAnnonces .infosAnnoncesTransanction,
#blocModuleLeft2 .infosAnnonces .infosAnnoncesTransanction,
#blocModuleLeft3 .infosAnnonces .infosAnnoncesTransanction {color:#ff6d00}
#blocModuleLeft .paginationAnnonces,#blocModuleLeft2 .paginationAnnonces,#blocModuleLeft3 .paginationAnnonces {position:absolute;padding-left:35px;text-align:center;background:url('$$_$$images/module/degrade_right_reykjavik.png') no-repeat;width:122px;height:51px;line-height:51px;bottom:0;right:0;}
#blocModuleLeft .backgroundAnnonces,#blocModuleLeft2 .backgroundAnnonces,#blocModuleLeft3 .backgroundAnnonces {z-index:1;width:100%;height:100%;display:block;}
#blocModuleLeft .styleBackgroundDynamique,#blocModuleLeft2 .styleBackgroundDynamique,#blocModuleLeft3 .styleBackgroundDynamique {z-index:1;height:100%;width:100%;}
.offBg {display:none;}
.actifBg {display:block;}
.waitModule {background:url('$$_$$images/module/ajax-load-module.gif') no-repeat;background-position:50% 50%;}
.pinOff {float:left;background:url('$$_$$images/module/pinOff.png') no-repeat;width:10px;height:11px;margin:23px 0 0 10px;}
.pinOn {background:url('$$_$$images/module/pinOn.png') no-repeat;}
/* RIGHT */
#blocModuleRight,#blocModuleRight2,#blocModuleRight3 {float:left;margin:7px 0 0 16px;padding:0;height:280px;width:375px;}
#blocModuleRight h1,#blocModuleRight2 h1,#blocModuleRight3 h1 {color:#ff6d00;font-size:18px;margin:0 0 10px 0:padding:0 0 0 15px; text-transform:uppercase; display: none;}
#blocModuleRight ul,#blocModuleRight2 ul,#blocModuleRight3 ul {margin:3px 0 0 0;padding:0;list-style-type:none;}
#blocModuleRight li,#blocModuleRight2 li,#blocModuleRight3 li {margin:0;padding:0;background:#f3f3f3;height:80px;margin:0 0 6px 0;}
#blocModuleRight .moduleImage,#blocModuleRight2 .moduleImage,#blocModuleRight3 .moduleImage {float:left;margin:0;padding:0;}
#blocModuleRight .moduleInfos,#blocModuleRight2 .moduleInfos,#blocModuleRight3 .moduleInfos {float:left;margin:0 0 0 10px;padding:5px;}
#blocModuleRight .typetransaction,#blocModuleRight2 .typetransaction,#blocModuleRight3 .typetransaction {font-size:12px;color:#787878;}
#blocModuleRight .typebien,#blocModuleRight2 .typebien,#blocModuleRight3 .typebien {margin:5px 0 0 0;color:#ff6d00;font-size:18px;font-family:georgia,arial;font-weight:normal;font-style:italic;}
#blocModuleRight .lieu,#blocModuleRight2 .lieu,#blocModuleRight3 .lieu {margin:5px 0 0 0;font-family:georgia,arial;font-size:16px;color:#555;}
#blocModuleRight .liOn,#blocModuleRight2 .liOn,#blocModuleRight3 .liOn {background: url($$_$$images/global/bg-mini-desc.gif) repeat-x #ff6e00; }
#blocModuleRight .liOn .typebien, #blocModuleRight .liOn .typetransaction, #blocModuleRight .liOn .lieu,
#blocModuleRight2 .liOn .typebien, #blocModuleRight2 .liOn .typetransaction, #blocModuleRight2 .liOn .lieu,
#blocModuleRight3 .liOn .typebien, #blocModuleRight3 .liOn .typetransaction, #blocModuleRight3 .liOn .lieu{color:#000;}
/* SHADOW */
.shadow {-moz-box-shadow:box-shadow:1px 1px 8px #555;-webkit-box-shadow:box-shadow:1px 1px 8px #555;box-shadow:1px 1px 8px #555;}
.blocNoPhoto {background:url('/z/webagency/slagence_X_V4/images/recherche/sans_photo.jpg') 50% 50% no-repeat;}