$$REM$$/*====================================================================
//// <summary>Fichier CSS À DÉMUTUALISER POUR CHAQUE SITE</summary>
//// <remarks>
//// <para>Pour plus de rapidité, intégrer les macros du fichier 'all_global_macros.css'</para>
//// </remarks>
//// <update date="2010-02-16" author="lisbonne.siriphol">Création</update>
====================================================================*/$$END$$

<!--#include virtual="styles/all_global_macros.htm" -->


select.miniSelect{border:1px solid #000;}
select.miniSelect option{padding:0 0 0 3px;}
#Footer_Ctn{background:#3A3A3A;}
/* block top header */
#Header{position:relative;}
#fnaim{ padding:0 0 0 20px; text-align:right;}
#TopHeader marquee{color:#3A3A3A;}
#TopHeader marquee *{color:#3A3A3A;}
#TopHeader_Ctn{background:#fff;}
#HeaderTxt p {padding:0 0 6px;}
.version_en #HeaderTxt p {line-height: 16px; text-align: left;}
.SousTitreHeader { font-size:20px; }


.selectionIndex_Ctn{ height:290px;}
/* logo */
#Logo{padding:0 30px 10px 0;}
/* menu */
ul#Menu{float:left;}
ul#Menu li a{padding:10px 19px; margin:0 0 0 4px;}

.version_en ul#Menu li a{padding:10px 21px;}
.version_en ul#Menu li a{padding:10px 20px 10px 19px\9;}
ul#Menu li a:hover{background:#fff;}

ul#Menu li {position:relative;}
ul#Menu li:hover > a {background:#fff; color:#3A3A3A;}
ul#Menu li ul {display:none; position:absolute; left:4px; top:35px; background:#fff; padding:10px; z-index:10; width:240px; text-align:left;}
.ie9 ul#Menu li ul {top:33px;}
ul#Menu li ul li {float:none; display:block;}
ul#Menu li ul li a {background:none; text-align:left; color:#3A3A3A;}
ul#Menu li ul li a:hover {text-decoration:underline;}
ul#Menu li:hover > ul {display:block;}


#HeaderTxt{padding:20px 0 0;}
a#AccueilSite{color:#3A3A3A;}
#PortefeuilleAccueil h6 span{color:#fff;}
#HeaderTxt h2 { font-size:15px; padding:0 0 10px;}
#HeaderTxt h3{font-size:23px; font-weight:bold;padding:0 0 10px; color:#6091d3;}
#HeaderTxt li{ padding:0 0 0 20px; background: url("/z/webagency/slagence_X_V3/images/pictos/fleche_blanche_small.gif") no-repeat 10px 4px ;}
/* page Outils */
.accordion_content .inputText{color:#000; font-weight:normal; border:1px solid #000;}
/* page contact */
#FormContactAgence .inputText, #FormContactAgence .inputSelect, #FormContactAgence .inputTextarea{background:#fff; color:#000; font-weight:normal; border:1px solid #000;}
#FormContactAgence .inputSelect option{ color:#000; font-weight:normal;}

/* page Recherche */
#RechPagesHaut .rechLiensPages a.actif, #RechPagesBas .rechLiensPages a.actif, #RechPagesHaut .rechLiensPages a:hover, #RechPagesBas .rechLiensPages a:hover{color:#fff;background:#575958;}
#RechPagesHaut .rechLiensPages a span:hover, #RechPagesBas .rechLiensPages a span:hover{color:#fff;}
form#Tri select{border:1px solid #000;}
form#Tri select option,form#Tri select optgroup,form#Tri select optgroup option{padding:0 0 0 3px;}
#AlerteEmail #AlerteForm input.alerte{border:1px solid #000; color:#000;}
.contactAnn{background:#575958;}

/* page detail */
#Form_Ctn .inputText, #Form_Ctn .inputTextarea{background:#fff; color:#000; font-weight:normal; border:1px solid #000;}
#SansPhoto{border:1px solid #000;}
/* page Pud */
#FormContactAgence .inputSubmit,#AlerteEmail .miniBouton{background:#3a3a3a;border:1px solid #3a3a3a;}
#AlerteEmail{background:#fff; border:1px solid #000;}
#AlerteEmail h4, #AlerteEmail h3 span{color:#fff;}
#AlerteEmail .miniForm{background:#fff;border:1px solid #000;}
.bloc_pud_annonce_x3{background:#3a3a3a;}

.detail_pud a{color:#fff;}
#bloc_annonces_gauche p{color:#fff;}

/* page detail */
#Annonce_Ctn td#ColonneDroite{background:#575958;}
.similaire_ctn{background:#3a3a3a;}
/* button */
#MiniBouton .boutonSubmit,#Moteur #MoteurBouton .inputSubmit,#ChampsBouton .inputSubmit{background:#3A3A3A; color:#fff;}
/* page agence */
#AgImmoVitrine{border:1px solid #000;}
#AgImmoDroite .AgImmoContact a, #AgImmoDroite .AgImmoEstimation a{color:#575958;}
#AgImmo_Ctn h5{font-size:14px;}

.descGeolocTel,.descGeolocEmail a{color:#000;}
/* page alert */
#AlerteEmail,#DOMWindow{background:#575958;}
#AlerteEmail #AlerteForm input.alerteBt{background:#3a3a3a;}
#Moteur .inputText, #Moteur .inputSelect, #Moteur .inputTextarea{background:#fff;border:1px solid #000; color:#000;}
#Moteur .inputSelect option{ color:#000;}
#Moteur .alerteNumber{margin:-5px 0 0 -13px;}
/* page moteur */
#Moteur .moteurTable ul li#nb_pieces, #Moteur .moteurTable ul li#nb_chambres, #Moteur .moteurTable ul li#InputSurfaceTerrain{background:#3a3a3a;}
#Moteur .inputSelect{width:284px;}
/* Coordonnees */
#Coordonnees *{color:#3A3A3A;}
/* page estimation */
.estimationLi p {
    line-height: 1.4em;
    padding: 0 0 15px;
}
.estimationLi ul {
    background: none;list-style: none;margin: 0 0 15px;text-decoration: none;
}
.estimationLi ul li {
    background: url("/z/webagency/slagence_X_V3/images/pictos/fleche_blanche_small.gif") no-repeat 0 4px ;margin: 0 0 0 5px;padding: 2px 12px;}
#PortefeuilleAccueil {background: url($$_$$/images/vignette.gif) 0 0 no-repeat  ;margin: 3px;width: 381px;height: 300px;margin: 5px;overflow: auto;width:auto;}
#PortefeuilleAccueil .maison {padding: 12px 0 12px 9px;top: 193px;}
#PortefeuilleAccueil .appartement {padding: 10px 0 14px 9px;top: 201px;}
#PortefeuilleAccueil .maison, #PortefeuilleAccueil .appartement {background: #373737;color: #fff;display: block;font-weight: bold;margin: 0 0 0 17px;position: relative;text-transform: uppercase;width: 139px;}
#PortefeuilleAccueil a {
    text-decoration: none;
}
#PortefeuilleAccueil .maison:hover, #PortefeuilleAccueil .appartement:hover{background:#575958; color:#fff;}
/* defiscalisation */
#defiscalisation{width:900px;}
#defiscalisation p{padding:0 0 10px; line-height:30px; font-size:12px;}
#defiscalisation a {color:#6091d3;}
#defiscalisation a strong{color:#6091d3; font-size:15px;}
#defiscalisation a:hover strong {color:#b6cfe6;}

#defiscalisation h2 {border-bottom: 1px dotted #727270;font-size: 1.8em;font-weight:bold;margin: 0 0 3px;padding: 0 0 3px; color:#000;}
#ImmoRub h2{ color:#000;}
#ImmoRub h3{ font-size:1.5em; color:#000; font-weight:bold; padding:6px 0;}
.big{ font-size:16px;}
#ImmoRub p.mea{ background:#3A3A3A; padding:10px;}