/* $$DYN:ID3:NOFOOTER$$ */
.TableDetail { width: 95%; border: none; }
.BoiteAnnonce, .TotalAnnonce { border: 1px solid #fff; background-color: #fff; padding: 5px; color: #000; }
.BoiteAnnonce td, .TotalAnnonce td, .BoiteAnnonce div, .TotalAnnonce div { color: #000; }
 .BoiteAnnonce a, .TotalAnnonce a { color: #000; }
.DetailBack a { color: #721a35; font-weight: bold; font-size: 12px; }
/* Titre */
.DetailLibelleetPrix { background-color: #f9fb2b; padding: 5px 0; }
.DetailLibelle, .DetailSurface { color: #fff; font-weight: bold; }
.DetailPhotoGdformat img { border: 2px solid #b7b7ba; }
.DetailPhotoPtformat td { padding: 2px; }
.DetailPhotoPtformat img { border: 1px solid #b7b7ba; }
.DetailPrix { font-size: 12px; font-weight: bold; font-style: italic; color: #fff; padding-left: 25px; }
.DetailVisuels360, .DetailExclusif, .DetailSituation, .DetailFraicheurLib, .DetailRefAnnonceLib, .DetailProxLib, .DetailAgence strong { color: #721a35; }
.DetailInfoComplementaire { border: 1px solid #fff; background-color: #f3cb0e; }
.DetailInfoComplementaire td { padding: 3px; }
.DetailInfoTitre { background-color: #fff; text-align: center; padding: 5px 0; margin: 0; color: #721a35; }
.DetailImprimer a { display: block; text-align: center; width: 200px; height: 26px; line-height: 30px; color: #000; text-transform: uppercase;  margin: 10px 0; font-size: 12px; background: url($$_$$images/fd_btnprint.gif) no-repeat; font-weight: bold; text-decoration: none; }
.DetailImprimer a:hover { text-decoration: none;  }
.DetailImprimer { border-bottom: 1px solid #fff; .DetailImprimer}
.DetailFormulaire td { padding: 2px 5px; }
/*savoir plus*/
.DetailFormulaireLib { background-color: #f9fb2b; color: #721a35; }
.DetailDescriptif { color: #721a35; }
