$$REM$$
====================================================================

//// <summary>Fichier css par défaut pour : incl_plan.htm et incl_plan-annonces.htm</summary>
//// <remarks>
//// <para>Fichier appelé par : slagence_X_V2/incl_plan.htm</para>
//// <para>Fichier appelé par : slagence_X_V2/incl_plan-annonces.htm</para>
//// </remarks>
//// <update date="2007-11-12" author="lisbonne.siriphol">Création v1</update>

====================================================================
$$END$$

ul#Plan *{text-decoration: none; font-size: 1em; font-weight: bold;}
ul#Plan{padding: 2em 8em; list-style: none;}
ul#Plan .clear{clear: both; padding: 0; margin: 0; height: 0;}
ul#Plan *{list-style: none;}
ul#Plan li.typeTransac{padding-top: 2em;}
ul#Plan li.plan,
ul#Plan li.planAnnonces{font-size: 1.6em; border-bottom: 1px solid #97a9bd;}
ul#Plan li.planAnnonces{margin: 2em 0 0 0;}
ul#Plan li{padding: 0.3em 0; border-bottom: 1px solid #97a9bd;}
ul#Plan .planLi{margin:0 0 0 8px;}
ul#Plan li a{display: block;color:#F8C343;}
ul#Plan li a:hover{color: #e98402;}
ul#Plan span.nbAnn{font-size: 0.9em; font-weight: normal;}
ul#Plan li ul{margin: 0 0 0 25px;}
ul#Plan li ul li.subListTitle{margin: 0.5em 0 0 0; border-bottom: 1px solid #97a9bd; color: #97a9bd;}
ul#Plan li ul li.subList{border-bottom: 1px dashed #97a9bd;}
ul#Plan li ul li.subListVilles{position : relative; float: left; width: 45%; margin: 0 1.5em 0 0; border-bottom: 1px dashed #97a9bd;}
ul#Plan li.resultCtn {border: none;}
