/* $$DYN:ID3:NOFOOTER$$ */
div, td, .Marquee, .ListeVilles { font-family: Arial, Helvetica, sans-serif; !important; }
#ConteneurAnn { width: 980px; }
.ContenuAnnonce { padding: 0; }
#SelectTri { float: none; margin: 5px; }

.Legende { font-family: Arial, Helvetica, sans-serif; }
.Pasdannonce { color: #353535; padding-left: 25px; }
.Titre0ann { font-weight: bold; font-size: 14px; color: #64bd14; }
.BoitePhraseRecherche { font-size: 12px; font-weight: bold; padding-bottom: 5px; background: none !important; }
.NbAnnonces { color: #B67805; padding-bottom: 5px; }
.BoutonLegende {}
.RechercheTri { margin-bottom: 10px; }
.NbPages { background: url($$_$$/images/bg_ttl.gif) repeat-x; padding: 3px 5px; margin: 10px 0; }
.NbPagesNb { color: #fff; font-weight: bold; }
.NbPagesLiens { color: #fff; }
.NbPagesLiens a { color: #fff; font-weight: bold; }
.montrer {
 position:absolute;
 z-index:10;
 top:-20px;
 left:20px;
 width:400px;
 background-color:#fff;
 text-align:center;
 border:1px solid #353535;
 padding:10px;
}
.montrer img{ width:350px; }
.ContenuPopup { font-weight: normal; color: #353535; }
.Ville1 { color: #353535; }
.DescrTitre { color: #353535; } 
.close1 { font-size: 10px; }
.BoiteAnnonce { background-color: #fff!important; border: 1px solid #000; }

	/*Ligne1 colonne1*/
.Ligne1 { background: url($$_$$/images/bg_ttl.gif) repeat-x #000; padding: 5px 0; border-bottom: 1px solid #000; }
.Colonne1 { width: 60%; }
.RechercheLibelle { padding-left: 10px; font-size: 14px; }
.RechercheLibelle, .RecherchePrixEuro{ color: #fff; font-weight: bold; font-size: 14px; }
.RechercheSurface, .RechercheSituation { float: left; clear: left; padding-left: 10px; color: #fff; }
.RechercheSurfaceTerrain { font-style: italic; color: #fff; }
.RechercheSituationLien, .RechercheSituationCP { color: #fff; }
.RechercheSituationVille, .RechercheSituationProximite, .RechercheRefAnnonce { font-weight: bold; color: #fff; }
.Colonne2 { width: 35%; }
.RecherchePrix, .RecherchePrixRent, RecherchePrixFranc { font-style: italic; color: #fff; }
.RechercheRefAnnonce { color: #fff; font-weight: bold; }
	/*ColonnePhoto*/
.ColonnePhoto, .ColonnePhotoExclusif { margin: 5px; text-align: center; $$IF!:8:FORM:IDTT$$width: 200px;$$END$$$$IF=:8:FORM:IDTT$$width: 300px;$$END$$ }
.RechercheVisuelsPhoto a { }
a.RechercheVisuelsPhotoLien { padding: 0 0 5px 0; text-align: center; }
.RechercheVisuelsPhoto img { border: 1px solid #343434; width: 200px; height: 150px; }
.RechercheBoitePrestige img { border: 1px solid #343434; width: 300px; height: 225px; }
	/*Colonne déscriptif*/
.ColonneDescriptif { margin: 0; text-align: left; float: left;  $$IF!:8:FORM:IDTT$$width: 450px;$$END$$$$IF=:8:FORM:IDTT$$width: 350px;$$END$$ }
.RechercheDescriptif { margin: 10px 10px; color: #353535; }
.RechercheDtFraicheurLibelle { color: #B67805; font-weight: bold; }
.RechercheDtFraicheur { margin: 0 10px 5px 10px; }
	/*colonne pictos*/
.ColonnePicto { width: 240px;  }
.RechercheTelephone { width: 250px; margin: 10px 0 5px 0; }
.RecherchePlan { margin: 10px 0 5px 0; padding: 0 2px; color: #edba20; }
.Picto { margin: 5px; }
.recherchetelephonetitrecontact, .RechercheTelephoneTel, .RechercheProximite { color: #B67805; }
.RechercheTelephone { width: 230px; text-align: left; font-size: 12px; font-weight: bold; border: none; }
.Metro { color: #000; }
/* Finance */
.Finance { background: url($$_$$/images/bg_ttl.gif) repeat-x #000; border-top: 1px solid #000; height: 22px; line-height: 22px; }
a.RechercheHautLien { color: #fff; }
a.RechercheHautLien:hover { color: #fff; }
.RecherchePlusInfo a { color: #fff; }
.RecherchePlusInfo a:hover { color: #fff; }
.RecherchePlusInfoVille a { color: #fff; font-weight: bold; }
.RecherchePlusInfoVille a:hover { color: #.RecherchePlusInfoVille ; font-weight: bold; }
/* alerte email */
.BoitePubAlerte {
	width: 99%;
	border: 1px solid #a2a1a1;
	color : #444444;
	margin-top: 12px;
	padding: 5px 5px 10px 5px;
	background: url($$_$$/images/bg_alert.gif) repeat-x #FFDF8E !important;
}
.AlerteEmail {
	width: 20%;
	float: left;
	text-align: center;
}
.AlerteGratuit {
	float: left;

	width: 65%;
	color: #343434;
}
.AlerteEmail a{
	font-weight: bold;
	font-size: 1.3em;
	color: #444444 !important;
	text-decoration: underline;
	float: left;
	padding-right: 10px;
}

.AlerteEmail a:hover{
	font-size: 1.3em;
	font-weight: bold;
	color : #B67805 !important;
	display: block;
	text-decoration: underline;
	float: left;
	padding-right: 10px;
}

.AlerteGratuit a {
	font-size: 1.1em;
	display: block;
	float: left;
	font-weight: bold;
	color : #444444 !important;
}

.AlerteGratuit a:hover {
	font-size: 1.1em;
	display: block;
	float: left;
	font-weight: bold;
	color : #B67805 !important;
}
.RechercheHonoraires { color: #fff; }