$$REM$$/*====================================================================
//// <summary>Fichier CSS À DÉMUTUALISER POUR CHAQUE SITE</summary>
//// <remarks>
//// <para>Pour plus de rapidité, intégrer les macros du fichier 'all_global_macros.css'</para>
//// </remarks>
//// <update date="2010-02-16" author="lisbonne.siriphol">Création</update>
====================================================================*/$$END$$

<!--#include virtual="styles/all_global_macros.htm" -->
#Menu_Ctn {background:#DCDBDB;}
ul#Menu li a {margin:0;padding:10px 30px;}
#Outils h3 {background:#00CAB6;}