// VAR COLORS
$color-body      : #fff;
$color-content   : #fff;
$color-block     : #f6f6f6;
$color-primary   : #fff;
$color-secondary : #f6f6f6;
$color-action    : #467491;
$color-important : #f6f6f6;
$color-nav-footer: #467491;

// COLOR PUB
$color-pub       : "white";

// COLOR FONT BODY DEFAULT
$color-font-body : #595959;

