// VAR COLORS
$color-body:#fff;
$color-content:#fff;
$color-block:#f3f3f3;
$color-primary:#373737;
$color-secondary:#bb2230;
$color-action:#bb2230;
$color-important:#bb2230;
$color-nav-footer:#fff;

$bg-fb:#3b5998;
$bg-tw:#66b1df;
$bg-yt:#cc181e;
$bg-gg:#ce4233;

$color-header-top:#bcbec0;
$color-header:#f1f2f2;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;