/* GENERIC CLASS */
  .float:after{content:'.';display:block;width:100%;height:0px;line-height:0px;font-size:0px;clear:both;}
/* END GENERIC CLASS */

/* GENERIC STRUCTURE */
  body{text-align:left;font-size:12px;font-family:arial, verdana, sans-serif;}
  #top, #middle, #bottom{}
/* END GENERIC STRUCTURE */

/*detail*/
/* Articles */
	#details{ width:720px; float:left;}
		.detail{width:700px; float:left;}
			.detail h2{position:relative; padding:6px 38px 3px 10px; font-size:18px; color:#fff; width:655px; background:url(../images/fond-titre-gris-long.png) repeat-x #9F9AA8; color:#000; text-shadow: 0 1px 0 #fff; text-shadow: 0 -1px 0 #fff; -moz-border-radius-topleft:7px ; -webkit-border-top-left-radius:7px; -moz-border-radius-topright:7px ; -webkit-border-top-right-radius:7px;}
			.detail h2 .puceTitre{position:absolute; top:-2px; right:7px;}
			.detail h3{padding:0 0 10px 0; font-size:18px; font-family:MyriadPro, arial;}
			.detail h2 span.infoTitre{position:absolute; bottom:7px; right:43px; font-size:14px; color:#000; text-shadow: 0 1px 0 #fff; font-family:MyriadPro, arial;}
			.detail .contentArticle{position:relative; border:1px solid #DEDEDE; border-top:none; padding:15px 9px 10px 12px; background:url(../images/bgDetailArticle.gif) bottom repeat-x #fefefe; -moz-border-radius-bottomleft:7px ; -webkit-border-bottom-left-radius:7px; -moz-border-radius-bottomright:7px ; -webkit-border-bottom-right-radius:7px;width:680px;}
				.detail .contentArticle .contenuXedy{}
					.detail .contentArticle p{color:#3C3C3C; padding-bottom:14px;}
					
					
/*retour*/
	#retour{ width:220px; float:left;}
			
			#retour .contentDivers{position:relative;border:1px solid #DEDEDE; min-height:361px; padding:2px 9px 5px 12px; background:#F5F5F5; -webkit-border-bottom-left-radius:7px;  -webkit-border-bottom-right-radius:7px; -moz-border-radius:7px; width:197px;}
				#retour .contentDivers h4{font-size:16px; padding-top:19px; color:#000; font-family:MyriadPro, arial;}
				#retour .contentDivers p{color:#3C3C3C; padding:7px 0 15px 0;}
				#retour .contentDivers a.lireArticle{color:#3C3C3C; font-weight:bold; text-decoration:underline; display:block; padding:0 0 8px 0;}
				#retour .contentDivers a.lireArticle:hover{text-decoration:none;}
				
				#retour .contentDivers a.btnPlusInfos{float:left; margin-top:28px; padding:0 0 0 15px; height:29px; text-align:center; bottom:25px; left:33px; background:url(../images/fond-g-btn-vert.png) no-repeat;}
					#retour .contentDivers a.btnPlusInfos span{display:block; padding:6px 27px 0 12px; height:23px; color:#fff; background:url(../images/fond-d-btn-vert.png) no-repeat 100% 0;}
					#retour .contentDivers a.btnPlusInfos span img{margin-left:3px;}
				#retour .contentDivers a.btnPlusInfos:hover{background:url(../images/fond-g-btn-vert.png) no-repeat 0 -29px;}
					#retour .contentDivers a.btnPlusInfos:hover span{color:#000; text-shadow:none; background:url(../images/fond-d-btn-vert.png) no-repeat 100% -29px;}
				#retour .contentDivers a.btnPlusInfos:active{background:url(../images/fond-g-btn-vert.png) no-repeat 0 -58px;}
					#retour .contentDivers a.btnPlusInfos:active span{background:url(../images/fond-d-btn-vert.png) no-repeat 100% -58px;}
				#retour .connecte{position:relative;border:1px solid #e6db55; background:#fffbcc; -webkit-border-bottom-left-radius:7px; -webkit-border-bottom-right-radius:7px; -moz-border-radius:7px 7px 7px 7px;width:212px; height:85px; left:-10px; margin-top:0;}
				#retour img.visuel{position:relative; left:-9px; margin-top:12px;}
