/* Styles standards */

/*logiciels Net*/
#periclesNet{width:940px; height:332px; position:relative;}
	#periclesNet .visuelBanniere{position:absolute; top:0; left:0; z-index:1;}
	#periclesNet h1{position:absolute; padding:0; top:17px; left:27px; width:450px; z-index:2; color:#000000; font-family:MyriadPro,arial; font-size:28px;}
	#periclesNet p{position:absolute; padding:0; top:70px; left:27px; width:450px; line-height:28px; z-index:2; color:#000000; font-family:MyriadPro,arial; font-size:24px;}


	.btnBloc .infobull{position:absolute; top:36px; left:232px; display:none; background:url(../images/bg_infoBull.png) no-repeat; width:169px; height:26px;}
	.btnBloc .infobull p{ color:#8c6a41; padding:6px 0 0 17px; width:auto; font-size:11px; font-weight:bold;}

	.textePhoto .contenuBlocSansImage{}

	.textePhoto{position:relative; padding:15px 0;}
	.textePhoto .contenuBloc{/*float:left; width:530px;595*/}
	.textePhoto .blocVisuel{float:right;/* width:398px;333*/ text-align:right; margin:0 -24px 0 25px; padding:0 24px 25px 0; background:url(../images/ombre-photo-droite.png) no-repeat 100% 0; background-size:24px 100%;}
	.textePhoto .blocVisuel img{}
	.textePhoto p{padding:20px 0 0 0;}

	.photoTexte{position:relative; padding:15px 0;}
	.photoTexte .contenuBloc{/*float:right; width:670px;*/}
	.photoTexte .blocVisuel{float:left; /*width:228px;*/ margin:0 25px 0 -24px; padding:0 0 25px 24px; background:url(../images/ombre-photo-gauche.png) no-repeat 0 0; background-size:24px 100%;}
	.photoTexte .blocVisuel img{}
	.photoTexte p{padding:20px 0 0 0;}


	#color_159685 a.btnPlusInfos{display:block; padding:0 0 0 15px; height:29px; text-align:center; position:absolute; bottom:30px; background:url(../images/fond-g-btn-orange.png) no-repeat;}
			#color_159685 a.btnPlusInfos span{display:block; padding:6px 25px 0 12px; height:23px; color:#fff; background:url(../images/fond-d-btn-orange.png) no-repeat 100% 0; text-shadow:1px 1px 0 #061831;}
				#color_159685 a.btnPlusInfos span img{margin-left:3px;}
			#color_159685 a.btnPlusInfos:hover{background:url(../images/fond-g-btn-orange.png) no-repeat 0 -29px;}
			#color_159685 a.btnPlusInfos:hover span{color:#000; background:url(../images/fond-d-btn-orange.png) no-repeat 100% -29px; text-shadow:1px 1px 0 #FDC168;}
			#color_159685 a.btnPlusInfos:active{background:url(../images/fond-g-btn-orange.png) no-repeat 0 -58px;}
			#color_159685 a.btnPlusInfos:active span{background:url(../images/fond-d-btn-orange.png) no-repeat 100% -58px;}

	/*
	#color_159677 .slide a.btnPlusInfos{display:block; padding:0 0 0 15px; height:29px; text-align:center; position:absolute; top:235px; background:url(../images/fond-g-btn-orange.png) no-repeat;}
			#color_159677 .slide a.btnPlusInfos span{display:block; padding:6px 25px 0 12px; height:23px; color:#fff; background:url(../images/fond-d-btn-orange.png) no-repeat 100% 0; text-shadow:1px 1px 0 #061831;}
				#color_159677 .slide a.btnPlusInfos span img{margin-left:3px;}
			#color_159677 .slide a.btnPlusInfos:hover{background:url(../images/fond-g-btn-orange.png) no-repeat 0 -29px;}
			#color_159677 .slide a.btnPlusInfos:hover span{color:#000; background:url(../images/fond-d-btn-orange.png) no-repeat 100% -29px; text-shadow:1px 1px 0 #FDC168;}
			#color_159677 .slide a.btnPlusInfos:active{background:url(../images/fond-g-btn-orange.png) no-repeat 0 -58px;}
			#color_159677 .slide a.btnPlusInfos:active span{background:url(../images/fond-d-btn-orange.png) no-repeat 100% -58px;}
	*/
			#color_159677 .slide .polirisBtn{position:absolute; top:76px; left:137px; z-index:3;}





	.btnBloc{position:relative; height: 28px; padding:35px 0 0 0;}
	.photoTexte .btnBloc{float:right;}

	#intro a.btnInteresse, a.btnInteresse{display:block; padding:0 0 0 15px; height:29px; text-align:center; float:left; background:url(../images/fond-g-btn-orange.png) no-repeat;}
	#global a.btnInteresse span{line-height:14px;}
	#intro a.btnInteresse span, a.btnInteresse span{display:block; padding:6px 45px 0 12px; height:23px; color:#fff; background:url(../images/fond-d-btn-orange.png) no-repeat 100% 0; text-shadow:1px 1px 0 #061831; font-size: 12px}
	#intro a.btnInteresse span img, a.btnInteresse span img{margin-left:3px;}
	#intro a.btnInteresse:hover, a.btnInteresse:hover{background:url(../images/fond-g-btn-orange.png) no-repeat 0 -29px;}
	#intro a.btnInteresse:hover span, a.btnInteresse:hover span{color:#000; background:url(../images/fond-d-btn-orange.png) no-repeat 100% -29px; text-shadow:1px 1px 0 #FDC168;}
	#intro a.btnInteresse:active, a.btnInteresse:active{background:url(../images/fond-g-btn-orange.png) no-repeat 0 -58px;}
	#intro a.btnInteresse:active span, a.btnInteresse:active span{background:url(../images/fond-d-btn-orange.png) no-repeat 100% -58px;}
	#intro .mascot1, .mascot1{position:absolute; top:0; left:131px; }
	.bt_haut{float:left; padding:0 0 0 8px; margin:4px 0 0 0;}
	#intro .contenuBlocSansImage a.btnInteresse {
		float: right;
	}
	#intro .contenuBlocSansImage .mascot1 {
		top: -35px;
		left: 855px;
	}

/*jCarousel*/
#typeLogi{position:absolute; top:217px; left:9px; z-index:2; padding:0 0 0 9px;}

/*map site*/
.mapSite ul li a span.contentSpan:hover { color:#a39b00;}

/* Metiers */
	#typeMetiers{padding:15px 0;}
		.metier{width:300px; float:left; padding:0 20px 0 0;}
		.metierLast{padding:0;}
			#color_159685 .metier h2{position:relative; height:27px; padding:4px 0 3px 10px; font-size:18px; line-height:22px; text-shadow: 0 -1px 0 #fff; -moz-border-radius-topleft:7px ; -webkit-border-top-left-radius:7px; -moz-border-radius-topright:7px ; -webkit-border-top-right-radius:7px;width:290px; background:url(../images/fond-titre-vert.png) repeat-x #BFBC00; color:#000; text-shadow: 0 1px 0 #fff;}
			#color_159789 .metier h2{position:relative; height:26px; padding:5px 0 3px 10px; font-size:18px; line-height:22px; text-shadow: 0 -1px 0 #fff; -moz-border-radius-topleft:7px ; -webkit-border-top-left-radius:7px; -moz-border-radius-topright:7px ; -webkit-border-top-right-radius:7px;width:290px; background:url(../images/fond-titre-gris.png) repeat-x #BFBC00; color:#000; text-shadow: 0 1px 0 #fff;}
			.metier h2 .puceTitre{position:absolute; top:-2px; right:7px;}
			.metier h2 span.infoTitre{position:absolute; bottom:7px; right:43px; font-size:14px; color:#000; text-shadow: 0 1px 0 #fff; font-family:MyriadPro, arial;}
			.metier .contentMetier{position:relative; height:116px; border:1px solid #DEDEDE; border-top:none; padding:15px 9px 38px 12px; background:#F5F5F5; -moz-border-radius-bottomleft:7px ; -webkit-border-bottom-left-radius:7px; -moz-border-radius-bottomright:7px ; -webkit-border-bottom-right-radius:7px;width:277px;}
				.metier .contentMetier p{color:#3C3C3C; padding-bottom:15px;}
				.metier .contentMetier a.btnPlusInfos{display:block; padding:0 0 0 15px; height:29px; text-align:center; position:absolute; bottom:7px; right:10px; left:inherit; background:url(../images/fond-g-btn-gris.png) no-repeat;}
					.metier .contentMetier a.btnPlusInfos span{display:block; padding:6px 27px 0 12px; height:23px; color:#fff; background:url(../images/fond-d-btn-gris.png) no-repeat 100% 0;}
				.metier .contentMetier a.btnPlusInfos:hover{background:url(../images/fond-g-btn-gris.png) no-repeat 0 -29px;}
					.metier .contentMetier a.btnPlusInfos:hover span{color:#000; background:url(../images/fond-d-btn-gris.png) no-repeat 100% -29px; /*text-shadow:0 1px 0 #fff;*/}
				.metier .contentMetier a.btnPlusInfos:active{background:url(../images/fond-g-btn-gris.png) no-repeat 0 -58px;}
					.metier .contentMetier a.btnPlusInfos:active span{background:url(../images/fond-d-btn-gris.png) no-repeat 100% -58px;}


				/*#color_159687 .metier .contentMetier a.btnPlusInfos,#color_159687 a.btnInteresse{background:url(../images/fond-g-btn-blue.png) no-repeat;}
					#color_159687 .metier .contentMetier a.btnPlusInfos span,#color_159687 a.btnInteresse span{text-shadow:1px 1px 0 #061831; background:url(../images/fond-d-btn-blue.png) no-repeat 100% 0;}
				#color_159687 .metier .contentMetier a.btnPlusInfos:hover,#color_159687 a.btnInteresse:hover{background:url(../images/fond-g-btn-blue.png) no-repeat 0 -29px;}
					#color_159687 .metier .contentMetier a.btnPlusInfos:hover span,#color_159687 a.btnInteresse:hover span{background:url(../images/fond-d-btn-blue.png) no-repeat 100% -29px; text-shadow:1px 1px 0 #9ECCF6;}
				#color_159687 .metier .contentMetier a.btnPlusInfos:active,#color_159687 a.btnInteresse:active{background:url(../images/fond-g-btn-blue.png) no-repeat 0 -58px;}
					#color_159687 .metier .contentMetier a.btnPlusInfos:active span,#color_159687 a.btnInteresse:active span{background:url(../images/fond-d-btn-blue.png) no-repeat 100% -58px;}
		*/
				#color_159689 .metier .contentMetier a.btnPlusInfos,#color_159689 a.btnInteresse,#color_159689 .vignette .contentVignette a.btnPlusInfos,#color_159689 .slide a.btnPlusInfos{background:url(../images/fond-g-btn-vert.png) no-repeat;}
					#color_159689 .metier .contentMetier a.btnPlusInfos span,#color_159689 a.btnInteresse span,#color_159689 .vignette .contentVignette a.btnPlusInfos span,#color_159689 .slide a.btnPlusInfos span{text-shadow:1px 1px 0 #303E22; background:url(../images/fond-d-btn-vert.png) no-repeat 100% 0;}
				#color_159689 .metier .contentMetier a.btnPlusInfos:hover,#color_159689 a.btnInteresse:hover,#color_159689 .vignette .contentVignette a.btnPlusInfos:hover,#color_159689 .slide a.btnPlusInfos:hover{background:url(../images/fond-g-btn-vert.png) no-repeat 0 -29px;}
					#color_159689 .metier .contentMetier a.btnPlusInfos:hover span,#color_159689 a.btnInteresse:hover span,#color_159689 .vignette .contentVignette a.btnPlusInfos:hover span,#color_159689 .slide a.btnPlusInfos:hover span{text-shadow:1px 1px 0 #BCC7A3; background:url(../images/fond-d-btn-vert.png) no-repeat 100% -29px;}
				#color_159689 .metier .contentMetier a.btnPlusInfos:active,#color_159689 a.btnInteresse:active,#color_159689 .vignette .contentVignette a.btnPlusInfos:active,#color_159689 .slide a.btnPlusInfos:active{background:url(../images/fond-g-btn-vert.png) no-repeat 0 -58px;}
					#color_159689 .metier .contentMetier a.btnPlusInfos:active span,#color_159689 a.btnInteresse:active span,#color_159689 .vignette .contentVignette a.btnPlusInfos:active span,#color_159689 .slide a.btnPlusInfos:active span{text-shadow:1px 1px 0 #3B5015; background:url(../images/fond-d-btn-vert.png) no-repeat 100% -58px;}

				/*
				#color_159677 .metier .contentMetier a.btnPlusInfos,#color_159677 a.btnInteresse,#color_159677 .vignette .contentVignette a.btnPlusInfos{background:url(../images/fond-g-btn-orange.png) no-repeat;}
					#color_159677 .metier .contentMetier a.btnPlusInfos span,#color_159677 a.btnInteresse span,#color_159677 .vignette .contentVignette a.btnPlusInfos span{text-shadow:1px 1px 0 #303E22; background:url(../images/fond-d-btn-orange.png) no-repeat 100% 0;}
				#color_159677 .metier .contentMetier a.btnPlusInfos:hover,#color_159677 a.btnInteresse:hover,#color_159677 .vignette .contentVignette a.btnPlusInfos:hover{background:url(../images/fond-g-btn-orange.png) no-repeat 0 -29px;}
					#color_159677 .metier .contentMetier a.btnPlusInfos:hover span,#color_159677 a.btnInteresse:hover span,#color_159677 .vignette .contentVignette a.btnPlusInfos:hover span{text-shadow:1px 1px 0 #BCC7A3; background:url(../images/fond-d-btn-orange.png) no-repeat 100% -29px;}
				#color_159677 .metier .contentMetier a.btnPlusInfos:active,#color_159677 a.btnInteresse:active,#color_159677 .vignette .contentVignette a.btnPlusInfos:active{background:url(../images/fond-g-btn-orange.png) no-repeat 0 -58px;}
					#color_159677 .metier .contentMetier a.btnPlusInfos:active span,#color_159677 a.btnInteresse:active span,#color_159677 .vignette .contentVignette a.btnPlusInfos:active span{text-shadow:1px 1px 0 #3B5015; background:url(../images/fond-d-btn-orange.png) no-repeat 100% -58px;}
				*/

/* mise en page interne */
	#periclesNet h1{ font-size:28px; font-family:MyriadPro, arial; font-weight:bold; padding:25px 0 35px 25px; }
	#periclesNet p{ font-size:25px; font-family:MyriadPro, arial; padding:0 0 0 25px;}
	#intro{border:1px solid #e8e8e8; padding:20px 18px 15px; border-top:1px solid #b4b4b4; border-right:1px solid #b4b4b4; font-size:15px; font-style:italic; color:#343434; -moz-border-radius:7px 7px 7px 7px;}
	#intro *, #color_159685 #intro h2 {font-size:15px; font-style:italic; color:#787878; font-weight: normal;}
	#intro div,#intro p{padding:0 0 7px 0; text-align:justify;}
	#color_159685 #intro strong{color:#b3b100; font-weight: bold; }
	#color_159687 #intro strong{color:#E05110; font-weight: bold; }
	#color_159689 #intro strong{color:#E1007A; font-weight: bold; }


	#color_159685 .slide a.btnPlusInfos:hover span{text-shadow:1px 1px 0 #FDC168;}
	#color_159685 .actu h2,#color_159685 .qsn h2,#color_159685 .zoom h2/*,#color_159677 .actu h2,#color_159677 .qsn h2,#color_159677 .zoom h2*/{background:url(../images/fond-titre-vert.png) repeat-x #BFBC00; color:#000; text-shadow: 0 1px 0 #E4E285; font-size:18px; line-height:22px;}
	#color_159685 .zoom h2{width:450px;}
	#color_159685 h2, #color_159685 h3, #color_159685 .h2-like {color:#b3b100; font-size:24px; font-family:MyriadPro, arial; line-height:28px;}
	#color_159685 h3{font-size:17px}

	#color_159687 .actu h2,#color_159687 .qsn h2,#color_159687 .zoom h2{background:url(../images/fond-titre-orange.png) repeat-x #BFBC00; color:#fff; text-shadow: 0 1px 0 #000; font-size:18px; line-height:22px;}
	#color_159687 .zoom h2{width:450px;}
	#color_159687 h2{color:#E05110; font-size:24px; font-family:MyriadPro, arial; line-height:28px;}
	#color_159687 .metier h2{position:relative; height:27px; padding:4px 0 3px 10px; font-size:18px; line-height:22px; color:#fff; text-shadow: 0 -1px 0 #fff; -moz-border-radius-topleft:7px ; -webkit-border-top-left-radius:7px; -moz-border-radius-topright:7px ; -webkit-border-top-right-radius:7px;width:290px; background:url(../images/fond-titre-orange.png) repeat-x #D14500; text-shadow: 0 1px 0 #000;}


	#color_159689 .actu h2,#color_159689 .qsn h2,#color_159689 .zoom h2{background:url(../images/fond-titre-rouge.png) repeat-x #BFBC00; color:#fff; text-shadow: 0 1px 0 #000; font-size:18px; line-height:22px;}
	#color_159689 .zoom h2{width:450px;}
	#color_159689 h2{color:#E1007A; font-size:24px; font-family:MyriadPro, arial; line-height:28px;}
	#color_159689 .metier h2{position:relative; height:27px; padding:4px 0 3px 10px; font-size:18px; line-height:22px; color:#fff; text-shadow: 0 -1px 0 #fff; -moz-border-radius-topleft:7px ; -webkit-border-top-left-radius:7px; -moz-border-radius-topright:7px ; -webkit-border-top-right-radius:7px;width:290px; background:url(../images/fond-titre-rouge.png) repeat-x #C80C72; text-shadow: 0 1px 0 #000;}


/* Les listes */
	#vignettes ul{padding:0 0 0 25px;}
	#vignettes li{background:url(../images/puce-gris.png) no-repeat 0 6px; padding:0 0 0 10px;}
	#color_159685 #vignettes li{background:url(../images/puce-vert.png) no-repeat 0 6px; padding:0 0 0 10px;}
	#color_159687 #vignettes li{background:url(../images/puce-orange.png) no-repeat 0 6px; padding:0 0 0 10px;}
	#color_159689 #vignettes li{background:url(../images/puce-rose.png) no-repeat 0 6px; padding:0 0 0 10px;}



/*map site*/
#logiPer .mapSite ul li a span.contentSpan:hover { color:#a39b00;}
