/*$$REM$$====================================================================================
//// <summary>Fichier CSS 2 site "PACK AVANTAGE 2"</summary>
//// <remarks>
//// <para>Fichier css appelé par head mutualisé</para>
//// <para>Sert pour toutes modifs démutualisées</para>
//// <para>Liste des macros générales pour faciliter la customisation des sites</para>
//// <para>A démutualiser pour chaque site</para>
//// </remarks>
//// <update date="2010-02-16" author="lisbonne.siriphol">Création</update>
====================================================================================$$END$$*/


$$REM$$ /* ============================================================================================
 ////////////////////////////////////// MACROS GENERALES PERSOS //////////////////////////////////////
============================================================================================= */$$END$$
<!--#include virtual="styles/all_global_macros.htm" -->

/*----- Accueil -----*/
a#AccueilSite {color: #fff;}
#TopHeader_Ctn {background: none repeat scroll 0 0 #B1C903;border-bottom: 1px solid #7d3e26;}
#Header_Ctn {border-bottom: none; /*1px solid #7d3e26;*/}
#Wrap {background: url("/z/webagency/A_ID3X/padilla74300_32444/images/bg_wrap.jpg") repeat-x scroll 0 0 #B1C903;}
#Ctn {background: none;}
#MoteurAccueil .titreParagraphe {color:#7d3e26;border-bottom: 1px dotted #7d3e26;}
#HeaderTxt p , .miniTitre , .selectionDescr .selectionDetail a , #PortefeuilleAccueil h6, #PortefeuilleAccueil h4 a , #NouveautesAccueil .titreParagraphe span , #NouveautesAccueil .titreParagraphe a  {color: #7d3e26;}
.selectionDescr .selectionVille, .selectionDescr .selectionVille * {color: #7D3E26;}
#FilAriane span , #PortefeuilleAccueil ul li a , #PortefeuilleAccueil h6 span , .selectionDescr .selectionPrix, .selectionDescr .selectionSurface, .selectionDescr p {color: #7D3E26;}
#MiniBouton .boutonSubmit {background: none repeat scroll 0 0 #7D3E26;}
#Coordonnees_Ctn {border-top: 1px solid #7d3e26;}
#MoteurAccueil {border-bottom: 1px dotted #7d3e26;}
#NouveautesAccueil .titreParagraphe {border-bottom: 1px dotted #7d3e26;}
.selectionIndex_Ctn , #Visuel_Ctn {border:1px solid #7d3e26;}



/*----- recherche,basic -----*/
.descr, form#Tri #Tri_Ctn, .prox_ctn .prox, .metro, .rer, .tcl, .retourHaut a  {color:#7d3e26;}
#RechPagesHaut .pageCourante, #RechPagesBas .pageCourante {color:#7d3e26;}
#RechPagesHaut .rechLiensPages a, #RechPagesBas .rechLiensPages a {background: none repeat scroll 0 0 #7d3e26;}
#RechPagesBas .rechLiensPages a.actif{background: none repeat scroll 0 0 #dee3bf;color:#7d3e26;}
.dicoImmo * {color: #7D3E26;}
.dicoImmo {border-bottom: 1px dotted #7D3E26; border-top: 1px dotted #7D3E26;}
.blocAnnonce {border: 1px solid #7D3E26;}
.majAnn, .majAnn * {color: #7D3E26;}
#RechPagesBas {border-top: 1px dotted #7D3E26;}
.contactAnn {background: none repeat scroll 0 0 #B1C903;}
.contactAnn .nom, .contactAnn .mail a, .liensAnn a, .contactAnn .ctc   {color: #7D3E26;}
.surface, .contactAnn .tel, .terrain, #RechAffichage .choixAffichage {color: #7D3E26;}


/*----- detail,sento -----*/
#Annonce_Ctn td#ColonneGauche {border: 1px solid #7D3E26;}
.similaire_ctn {background: none repeat scroll 0 0 #7D3E26;}
#Form_Ctn .inputText, #Form_Ctn .inputTextarea {background: none repeat scroll 0 0 #FFFFFF;color: #7D3E26;}
#DetailAnnonce h4 {color: #7D3E26;border-bottom: 1px dotted #7D3E26;}
#FancyBox_Ctn a#FancyBox1, #Outils a, .photoNbr , #InfosPrincipales p , #Prix span, #Descriptif .txtDescriptif, #InfosPrincipales h3  {color: #7D3E26;}
.ad-gallery .ad-back {background: url("/z/webagency/slagence_X_V3/detail/img_sento/galerie/ad_scroll_back.png") no-repeat scroll 0 0 #FFFFFF;}
.ad-gallery .ad-nav .ad-thumbs {background: none repeat scroll 0 0 #FFFFFF;}
.ad-gallery .ad-forward {background: url("/z/webagency/slagence_X_V3/detail/img_sento/galerie/ad_scroll_forward.png") no-repeat scroll 0 0 #fff;}
.photoTitre {border-bottom: 1px dotted #7D3E26;}
#CguFormulaire a , #AgenceMentions h6 , #Form_Ctn table td span , #Form_Ctn table td p , #AgenceContact * , #AgenceContact strong , #Glossaire_Ctn p {color: #7D3E26;}
#Glossaire_Ctn {border-top: 1px dotted #7D3E26;}
#ChampsBouton .inputSubmit {background: none repeat scroll 0 0 #7D3E26;}
#CguFormulaire, #AgenceMentions p {color: #7D3E26;}
#ChampsObligatoires {border-bottom: 1px dotted #7D3E26;color: #7D3E26;}



/*----- contact -----*/
#FormContactAgence p  {color: #7D3E26;}
#FormContactAgence td.col1 {color: #7D3E26;}
#FormContactAgence .inputText, #FormContactAgence .inputSelect, #FormContactAgence .inputTextarea {background: none repeat scroll 0 0 #FFFFFF;}
#FormContactAgence label {color: #7D3E26;}
.obligatoire {color: #7D3E26;}
#FormContactAgence .inputSubmit {background: none repeat scroll 0 0 #7D3E26;}

/*----- contact, estimation -----*/
#FormContactListeAgences ul li {color: #7D3E26;}
#FormContactListeAgences ul li strong{color: #7D3E26;}
#FormContactListeAgences h2 {color: #B1C903;}
#FormContactAgence .inputText, #FormContactAgence .inputSelect, #FormContactAgence .inputTextarea {color: #7D3E26;}
#FormContactAgence .inputSelect option {color: #7D3E26;}

/*----- agence, liste -----*/
.cadreAgence h2 {color: #7D3E26;}
.cadreAgence p, .cadreAgence p span, .listag_coords .listag_tel, .listag_coords .listag_fax, .listag_infos_plus .listag_respag{color: #7D3E26;}
.cadreAgence p.plus a {color: #7D3E26;}
.cadreAgence p *  {color: #7D3E26;}
.agImmoVitrine_Td1 .rcs {color: #7D3E26;}
.agImmoPortefeuille h4 {color: #7D3E26;border-bottom: 1px dotted #7D3E26;}
#RechPagesHaut .listeAgPages a, #RechPagesBas .listeAgPages a, #RechPagesHaut .listeAgPages a span, #RechPagesBas .listeAgPages a span {color: #7D3E26;}



/*----- agence, immobiliere -----*/
#AgImmoDroite p span, #AgImmoDroite p label {color: #7D3E26;}
#AgImmoDroite p, #AgImmoDroite p * {color: #7D3E26;}
#AgImmo_Ctn h4 {color: #7D3E26;}
ul#AgImmoPortefeuille li.typeTransac a {color: #7D3E26;}
ul#AgImmoPortefeuille * {color: #7D3E26;}
#AgImmoMentions p {color: #fff;}

/*----- moteur,recherche -----*/
#Moteur .moteurTable ul li, #Moteur .moteurTable ul li strong {color: #7D3E26;}
#Moteur .moteurTable ul li#nb_pieces, #Moteur .moteurTable ul li#nb_chambres, #Moteur .moteurTable ul li#InputSurfaceTerrain {background: none repeat scroll 0 0 #dee3bf;}
#Moteur h4 {color: #7D3E26;}
#Moteur h3 {color: #7D3E26;}
#Moteur h2 {color: #7D3E26;}
#Moteur .moteurTable .col2 p, #Moteur .inputTextSpan{color: #7D3E26;}
#Moteur .inputText, #Moteur .inputSelect, #Moteur .inputTextarea {background: none repeat scroll 0 0 #fff;color: #7D3E26;}
#Moteur .moteurTable .col2 input{color: #7D3E26;}
#Moteur #MoteurBouton .inputSubmit {background: none repeat scroll 0 0 #7D3E26;}

/*----- legal,mentions -----*/
#MentionsLegales ul li h2 {color: #7D3E26;}
#MentionsLegales p {color: #7D3E26;}
#MentionsLegales ul li strong {color: #7D3E26;}
#MentionsLegales ul, #MentionsLegales li {color: #7D3E26;}
#MentionsLegales strong {color: #7D3E26;}
#MentionsLegales h2 {color: #7D3E26;}


#InfosComp_Ctn #InfosComp p {color: #7D3E26;}

#AgImmoMentions h6, #AgImmoMentions p, #Horaires td.jour, #Horaires td span.am1, #Horaires td span.pm1, #Horaires td span.am2, #Horaires td span.am2, #Horaires td span.pm2, #Horaires td.heuresAM, #Horaires td.heuresPM, #Horaires td.heuresAM, #Horaires td.heuresPM {color: #7D3E26;}

















