// VARIABLES COLORS
$color-body:#FFF;
$color-content:#89744d;
$color-block:#ececec;
$color-primary:#FFF;
$color-secondary:#002633;
$color-action:#005875;
$color-important:#000;
$color-nav-footer:#00506b;

// COLOR PUB
$color-pub:"black-opacity";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;