/*------CSS definitive--*/
body { margin: 0; padding:0; background: url(../images/bg.gif) repeat; text-align:center; }
div,td { font-family: Tahoma, "Times New Roman", Times, serif; font-size:11px; color: #000; }
img { border:none; display: inline; }
table  { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; }
a { text-decoration: none; color: #8c6230; }
a:hover { color: #000; text-decoration: none; }
p { margin:10px 0; }

.clear1 { clear: left; }
.clear2 { clear: both; }
/*----- decoupage -------*/

#wrapper { text-align: left; margin: 0 auto; width: 996px; }
.left { float: left; width: 30px; }

#wrap { float: left; width: 936px; position: relative; }
.flag { position: absolute; top: 151px; right: 13px; z-index: 2; }
.flag a { float: left; padding-left: 7px; }

.logo { height: 159px; overflow: hidden; }

.clef { position: absolute; top: 0; left: 285px; }
.foto-abs { position: absolute; top: 365px; left: -19px; z-index: 2; }
.btn-enter { position: absolute; top: 573px; right: 20px; z-index: 2; }

#fond-menu { background: url(../images/fond_menu.gif) no-repeat; height: 62px; width: 936px; }
.mn-left { width: 936px; height: 62px; overflow: hidden; }
.mn-left ul { margin: 0; padding: 0; }
.mn-left li { float: left; list-style-type: none; position: relative; height: 62px; overflow: hidden; }
.mn-left a { display: block; font-family: Arial, Helvetica, sans-serif; font-size: 16px; text-transform: uppercase; color: #424242; text-align: center; line-height: 62px; }
.mn-left a:hover { color: #fff; background-position: 0 -62px; position: relative; }

.mn-left .mn1 { background: url(../images/mn1.gif) no-repeat; width: 130px; }
.mn-left .mn2 { background: url(../images/mn2.gif) no-repeat; width: 122px;margin-left:13px; }
.mn-left .mn3 { background: url(../images/mn3.gif) no-repeat; width: 148px; }
.mn-left .mn4 { background: url(../images/mn5.gif) no-repeat; width: 174px; }
.mn-left .mn5 { background: url(../images/mn6.gif) no-repeat; width: 122px; }
.mn-left .mn6 { background: url(../images/mn7.gif) no-repeat; width: 102px; }

/*intro*/
#flash { position: relative; width: 936px; height: 414px; overflow: hidden; }

#main-mot { position: relative; background: url(../images/fond_minimoteur.png) no-repeat; height: 70px; overflow: hidden; width: 936px; }
.ttl-mot { float: left; width: 133px; }
#mot-intro { position: relative; float: left; width: 803px; background: url(../images/bg_moteur.gif) no-repeat; height: 48px; }
.plus-crit{display: none;}
.plus-crit a { position: absolute; right: 143px; top: 15px; color: #331604; text-decoration: underline; }

#footer { width: 936px; text-align: center; margin: 0 auto; color: #fff; }
#footer a { color: #fff; }
#footer a:hover { color: #ffe888; }
/*fin intro*/

/*navigue*/

#main-content { width: 936px; background: url(../images/bg_content.gif) repeat; min-height: 464px; }
#content { width: 910px; margin: 0 auto; }
#navigue { width: 910px; padding: 25px 0; }

#left { float: left; width: 589px; }
.div-cdc { float: left; width: 191px; }
.photo-cdc { background: url(../images/bg_cdc.gif) no-repeat; height: 127px; text-align: center; }
.photo-cdc img { width: 178px; height: 108px; padding-top: 10px; }
.contenu-cdc { width: 178px; margin: 0 auto; line-height: 14px; }
.contenu-cdc p { margin: 0; padding: 0; }
.contenu-cdc a, .prix-cdc { font-weight: bold; }
.typebien-cdc, .ville-cdc { color: #000; font-weight: normal; }

#main-mot2 { width: 568px; position: relative; padding-bottom: 18px; }
.rech-det a { text-decoration: underline; position: absolute; top: 95px; right: 135px;}

#right { float: left; width: 321px; text-align: justify; }
.foto-acc { background: url(../images/bg_foto_acc.gif) no-repeat; height: 224px; text-align: center; }
.foto-acc img { padding-top: 10px; }
#right a { text-decoration: underline; }

#foot { background: url(../images/bg_footer.gif) no-repeat; width: 936px; text-align: center; height: 51px; margin: 0 auto 50px; line-height: 16px; color: #331604; }
#foot a { color: #331604; }
#foot a:hover { color: #ac5a1e; }
#foot div { padding-top: 8px; }

/*fin navigue*/

/* Page formulaire */
.tabTitre{font-size: 14px; color:#fff;background: #331604; line-height: 25px; }
.estimationNomAgence,.messageNomAgence{ color:#331604;font-size: 16px; }

/*IE8*/
.BoutonFormContact, .BoutonFormRecherche, .boutonEnvoi, td#ChampsBouton input { width: 115px; height:35px;}
.titrePageOutils { display: none; }

/*pud_annonces*/
#Annonces01 .ann_ctn { background: url(../img/ann01_fd_01.gif) no-repeat; }
#Annonces01 .ann_ctn .ann_fd { display: none;}

/*autres*/
.ttl-pages { color: #331604; font-size: 18px; text-transform: uppercase; font-weight: bold; }
ul#Plan li.plan { display: none; }

#MapMicrosoft{background: none !important; border: none !important;}

/*------------------------------------------------------------*/