

/* CSS Document */
/* Redefinitions des balises HTML */ 
	*{margin:0;padding:0;font-size:12px;font-family: Arial, Helvetica, sans-serif;color:#000000;}
	img{border:0}
	.clear{clear:both;}
	a{text-decoration: none;outline:none;color:#0062B4;}
	a:hover{color:#0062B4;text-decoration: underline;}
	hr{display:none;}
	table{ margin:0 auto; padding:0;}
	* html input.alerte{ background:#FFFFFF;}
	/* --------Modification AR PLAN SITE-------- */    
	body{margin-top:-3px; background:#DAF0F4;}
	/* Effet bordure (espace 5px) entre BG menu et bande BG site */ 
	#fondHeader{ width:100%; background:#fff;}
	#header{width:993px; margin:0 auto;position:relative; background:#fff; overflow:hidden;}
	#global{position:relative;width:993px; margin:0 auto;}


/* ----------------------------------------PAGE ACCUEIL---------------------------------------- */
   
/* --------LOGO AGENCE-------- */ 
	#LogoAgence { float:left; display:inline; width:380px; padding:0;margin:0;}
	#LogoAgence img{ display:block; margin:28px 0 14px 14px;}


/* --------MARQUEE DEFILANTE-------- */
/* Modification COULEUR  MARQUEE */ 	


/* --------DRAPEAUX LANGUES FRANCAIS ET ANGLAIS-------- */ 		
/* Mettre en DISPLAY:NONE si pas d'option Anglais */ 
	#Drapeaux {position:absolute; right:0px; top:10px; display:none;}
	#Drapeaux img {padding-right:5px;}
	#Drapeaux img.last{ padding:0;}

/* --------TEXTE ACCUEIL--------*/ 
	#textAccueil {float:right; display:inline; width:550px; display:block; padding:10px 5px 0px 0;}
/* Modification TITRE texte d'accueil */ 
	#textAccueil h1{ font-size:19px; font-weight:bold; color:#0064AC; padding:0 0 4px 0;}

/* Modification CORPS texte d'accueil */ 
	#textAccueil p{ text-align:justify; font-size:11px; padding:0 6px 6px 0; display:block; line-height:20px; color:#000;}
	#textAccueil p strong{ color:#000;}
	#textAccueil a{ text-decoration:none; color:#1247D1; font-weight:bold;}
	#textAccueil a:hover{ text-decoration:underline; color:#1247D1;}

/* ----- Moteur -----*/
h2.TitrePage,.titreInfosLegales{ color:#0062B4; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}

/* --------MENU + FLUX RSS-------- */
/* Modification COULEUR + TAILLE fond MENU */
	#remplissageMenu{ width:100%; background:#5896CA; min-height:44px;}		
	#menuFlux{width:984px; background:#5896CA; height:44px; border-left:5px solid #fff; border-right:4px solid #fff;margin:0 auto;}
	
	
	#menu {float: right; display:inline; padding:12px 4px 0 0; position:relative; z-index:2;}
	#menu ul{ display:inline; margin:0 0 0 6px; list-style-type:none;}
	#menu li{ float:left; font-size:15px; padding:0 ;position:relative; height:30px;}
	#menu ul li.MenuSep{ color:#000;}
	/* Modification COULEUR TEXTE MENU */ 
	#menu a{ font-weight:bold;color:#000; text-decoration:none;font-size:14px; padding:8px 12px;}
	#menu a:hover{color:#fff;}	
	
	/* Modification FLUX RSS */ 		
	#fluxRss{padding:14px 0 0 13px; float:left;}
	#fluxRss a{ font-size:11px; text-decoration:none; color:#000;}
	#fluxRss a:hover{ font-size:11px; text-decoration:underline;}
	#fluxRss img{float:left; display:inline; vertical-align:middle; padding:0 7px 0 0;}

/* --------CONTENU SITE = ZONE DU MILIEU-------- */
/* Modification COULEUR ARRIERE PLAN CONTENU SITE */ 	
	#milieu{width:984px;padding:24px 0 3px 0px; min-height:400px;background: none; border-left:4px solid #DAF0F4; border-right:5px solid #DAF0F4;margin:0 auto; position:relative; z-index:1;}
	* html #milieu{ height:400px;}
	
	#blocHaut{ width:100%; overflow:hidden;}
/* Positionnement bandeau image */ 
	#visuel{float:left; display:inline; width:709px; margin:0 0 10px 0; padding:0;}		
/* Modification COULEUR BORDURE IMAGE */ 		
	#visuel img{border:7px solid #FF722B;}
 

/*--------POSITIONNEMENT MINI MOTEUR-------- */ 
	.miniMoteur{float:right;display:inline;width:220px;padding:0 0 0 42px;position:relative;background:url(../images/fontTitreMoteur.gif) 0 0 no-repeat;}		
/* Modification TITRE RECHERCHE */ 		
	.miniMoteur h2{font-size:18px; font-weight:bold; color:#0062B4;padding:10px 0 8px 0;}
/* A NOTER !!!! Pour styliser les champs + bouton mini moteur VOIR == MINI_MOTEUR.CSS */ 


/* ----------- 3 COUPS DE COEUR ------------- */ 
	#blocBas #coupCoeur{float:left;display:inline;width:715px;margin:0 0 15px 0; }

/* ----------- LISTE TRANSACTIONS AGENCE ------------- */ 
	#blocBas .nbrTransaction{float:right;width:220px; padding:30px 0 0 42px; height:230px; overflow:auto;}
/* Modification COULEUR "AUJOURD'HUI" */ 	
	#blocBas .nbrTransaction h3{font-size:13px;font-weight:bold;padding:1px 0 3px 0;color:#000000;}
/* Modification COULEUR TYPE TRANSACTION */ 	
	#blocBas .nbrTransaction h4{width:167px;font-weight:bold;font-size:13px;padding:5px 0 0 0;}
	#blocBas .nbrTransaction h4 a{width:167px;font-weight:bold;font-size:13px;color:#000000;padding:10px 0 0 0;}
	#blocBas .nbrTransaction ul{list-style-type:none;margin:0 0 6px 0; line-height:16px;}
	#blocBas .nbrTransaction ul li a{ text-decoration:underline;}
/* Modification COULEUR TYPE DE BIEN */ 
	#blocBas .nbrTransaction ul *{font-size:11px;color:#000000;}
	#blocBas .nbrTransaction ul a:hover{text-decoration:none;color:#000000;}


/* -----------INCLUDE BAS------------- */ 

/* Modification COULEUR BANDE COORDONNEES */ 
.CoordonneesAgence {font-size:12px; background:#5896CA; height:27px; text-align:center; padding-top:13px; color:#000; font-weight:bold;}
.CoordonneesAgence a{color:#000; font-weight:bold;font-size:12px; text-decoration:underline;}
.CoordonneesAgence a:hover{ text-decoration:none;}	
/* Modification BG footer portefeuille + menu secondaire */
.footerPosition{width:984px; border-left:5px solid #DAF0F4; border-right:5px solid #DAF0F4; padding-bottom:15px; margin:auto;}
.porteFeuille{float:left;width:625px;padding-left:20px;}
/* ARRIERE PLAN FOOTER */
#footer{ background: none; margin:0 auto; padding:0 0 0 1px;}
		
		
/* Modification couleur 2 TITRES FOOTER */ 
 #footer h4{font-size:11px;font-weight:bold;background:url(../images/puce.gif) no-repeat;padding:4px 0 6px 33px;margin:12px 0 0 0;}
/* titre gauche : Notre portefeuille immobilier */
 #footer .porteFeuille h4{font-size:12px; color:#000;}
/* titre droite : www.urldusite.com */
 #footer .menuSecondaire h4{font-size:12px; color:#1045ED; font-weight:bold;}

		
/* Modification couleur LISTE DES VILLES */ 
.porteFeuille .ListeVilles{width:520px;text-align:justify;line-height:13px;border:0;color:#000; padding:4px 0 0 5px;}
.ListeVilles *{color:#000; font-size:12px;font-weight:normal;}
.ListeVilles a{color:#000;text-decoration:none;}
.ListeVilles a:hover{color:#000;text-decoration:underline;}

/* Modification couleur MENU SECONDAIRE FOOTER (droite) */

.menuSecondaire{float:left;width:964px;font-size:11px;color:#000;padding:0 0 0 20px;}

#footer .menuSecondaire p{padding:0 0 0 3px; color:#000; text-align:justify; font-size:11px;}
#footer .menuSecondaire p a{font-size:11px;color:#000;text-decoration:none;}
#footer .menuSecondaire p a:hover{font-size:11px;color:#000;text-decoration:underline;}
span.sepSep{ color:#000; padding:0;}


/* ----------------------------------------AUTRES PAGES DU SITE---------------------------------------- */

/* Page En Construction */
	#EnConstruction{margin:70px 0 70px 0; text-align:center;}
	#EnConstruction h5 { color:#FC0505;}


/* PAGE PLAN DU SITE = incl_plan-site.htm */  
	ul#Plan *{text-decoration: none; font-weight: bold;}
	ul#Plan a span{ color:#FFFFFF;}
	ul#Plan{padding: 0 8em; width:500px; margin:0 auto;position:relative;top:-25px;}
	ul#Plan li.plan{ color:#0062B4; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;border-bottom:none;}
	ul#Plan li.MenuSep{display:none;}
	ul#Plan li{padding: 0.2em 0; border:none;}
	ul#Plan .plan{padding: 0.2em 0;background:none;}
	ul#Plan li a{color:#000; background:#5896CA;padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #000; text-transform:uppercase;}
	ul#Plan li a:hover{color:#fff;padding-left:10px; height:19px;font-size: 12px; background:#0062B4;border:1px solid #000;}
	ul#Plan li.voirTout a{ color:#000;}
	ul#Plan li.voirTout a:hover{ color:#000;}
/* Outils */
	.ul#Outils *{text-decoration: none; font-weight: bold;}
	ul#Outils{padding: 2em 8em; width:500px; margin:0 auto;}
	ul#Outils li.list{padding: 0.2em 0px;background:none; margin:2px 0; border:none;}
	ul#Outils li a{color:#000;padding-left:10px;height:19px;font-size:12px; background:#5896CA;padding-top:6px; border: 1px solid #000; text-transform:uppercase;}
	ul#Outils li a:hover{color:#fff;padding-left:10px; height:19px;font-size: 12px;background:#0062B4;border: 1px solid #000;}
	#Outils li.titrePageOutils{ color:#0062B4; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}

/*PAGES ESTIMATION + CONTACT + MESSAGE == TABLEAUX FORMULAIRES*/
	.tabFond1{border-color:#00AA00; border-width:0; border-style:solid; padding:2px; font-family: Arial, Helvetica, sans-serif; width:100%;}
	 textarea {width:600px; height: 100px;border:1px solid #000;margin: 3px 0 0 3px; color:#000000; padding:3px;}
	.tabFond2{border-color:#8B805D; border-width:1px; border-style:solid; padding:2px; font-size:14px; font-family: Arial, Helvetica, sans-serif;}
	.tabTitre{background:#5896CA; color:#000; font-size:14px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;height:25px;padding:3px; text-align:center; text-transform:uppercase; border-bottom:2px solid #FF722B;}
	.tabTitre *{font-size: 14px; color:#000;}
	.tabPrint{color:#1A181C; font-size: 13px; font-family: Arial, Helvetica, sans-serif; border:1px solid #000;}
	.tabFond1 td input{margin:3px;border:1px solid #000000 ; color:#000000; padding:3px;}
	.tabFond1 td{ text-align:left;}
	.tabFond1 td input.BoutonFormRecherche{float:right;width:120px;height:25px;border:none;}
	select.imputForm{border:1px solid #000000 ;margin:0 0 0 3px; color:#000000; padding:3px;}
	select.imputForm option{ padding:0 0 0 4px;}
	select.imputForm option{color:#000000;}
	input.boutonEnvoi{float:right;width:120px;height:25px;}
	input.imputForm{border:1px solid #000000; margin:2px 0; color:#000000; padding:3px;}
	.tabFond1 table{ width:100%;}
	table{ width:99%;}
	strong.messageNomAgence, strong.estimationNomAgence{ color:#0062B4; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase; display:block; padding-bottom:6px;}
	
	
/*contenuTxt*/
	#contenuTxt{ width:984px;}
		#contenuTxt ul { list-style:none; padding:0 0 0 10px;}
		#contenuTxt ul li{ padding:0 0 10px;}
		#contenuTxt li a{ color:#02A001; }
	
/*Résolution Bug IE8 = donner une taille aux bouton pour éviter tout décallage*/
	.tabFond1 .boutonEnvoi {float:right;border:none;width:120px;height:25px; margin-right:-1px;}
	.tabFond1 .BoutonFormContact {float:right;border:0;width:120px;height:25px;margin-right:-1px;}
	.MoteurBouton input {float:right;width:120px;height:25px;}
	td #ChampsBouton input {float:right;margin-right:12px;width:120px;height:25px;}
	#AgenceContact form table#FormContact td#ChampsBouton input{width:120px;height:25px;}
	
	/* coup de coeur*/
	* html .div-cdc{ height:265px;}
	.div-cdc{width:232px; min-height:265px;float:left; background:#5896CA; margin:0 4px 0 0; border:1px solid #000;}
	.div-cdc *{ color:#000; font-size:11px; color:#000;}
	 .div-cdc .photo-cdc{margin:5px 2px 3px 5px;height:140px;}
	.div-cdc .photo-cdc img{width:220px;height:139px; border:1px solid #000;}
	.div-cdc a span.ville-cdc{font-weight:bold;display:block; color:#FF722B; font-size:14px;}
	.div-cdc a span.ville-cdc a:hover{color:#FF0000;}
	.div-cdc .contenu-cdc a *{color:#FFF;font-weight:bold; font-size:14px;}
	.div-cdc .contenu-cdc a:hover *{text-decoration:underline;}
	.div-cdc .contenu-cdc{padding:0 6px 4px 6px;}
	.div-cdc .contenu-cdc .espace-cdc span{ color:#FFF; font-size:14px; font-weight:bold;}
	.div-cdc .contenu-cdc *{color:#fff;}
	.div-cdc .contenu-cdc a{ text-decoration:none;}
	.div-cdc .contenu-cdc a:hover{color:#FF0000;}
	.div-cdc .descriptif-cdc{ padding:4px 0 0 0 ;}
	.div-cdc p.prix-cdc{font-weight:bold;font-size:14px; color:#FFF; padding:4px 0 0 0;}

/* Mentions Legales */
    #MentionsLegales{ width:99%;}
	#MentionsLegales h2{display:block; width: 99%;background:#5896CA; border-bottom:2px solid #FF722B; font-size: 14px; color:#000;font-weight: bold;letter-spacing: 0;padding:3px 0 3px 8px;margin: 10px 0;text-align: left;text-transform: none;font-family: Arial, Helvetica, sans-serif; text-transform: uppercase;}
    #MentionsLegales a { color:#5896CA;}
/*detail*/
	#AgenceContact form table#FormContact td#ChampsBouton #ChampsObligatoires{ clear:both;}
	#TitreContact a#AgenceMentions em span{ line-height:13px !important;}
	#Galerie #previewPane #largeImageCaption{ width:180px;}
	/*recherche	*/
	#RechercheContainer #AlerteEmail #AlerteForm input.alerteBt{ cursor:pointer; color:#fff;}
	#RechHaut form#Tri select optgroup, #RechHaut form#Tri select option, #RechHaut form#Tri select optgroup option{ padding:0 0 0 4px; color:#000;}
	#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .contactAnn { width:220px;}
	#RechPagesHaut .rechLiensPages a span, #RechPagesBas .rechLiensPages a span{ color:#FFF;}
	#RechercheContainer #AlerteEmail #AlerteForm input.alerte{ color:#000;}