@import "color";
// BG SOLO
$bg-uni:yes;

// PICTURE BG OU DEGRADE CSS BG COLOR PRIMARY vs SECONDARY vs BLOCK > SI NO ALL = BG BODY UNI
$picture-bg:yes;
$picture-bg-url:'../images/dark_wall.png';
$picture-bg-repeat-horizontal:no;

// SIZE SCROLLING
$height-scrolling:1004;

// SIZE NAVIGATION
$height-navigation:175;

$margin-top-under-nav-fixe:175;

// VAR SITE TYPO
$font-body:"Source Sans Pro",verdana,sans-serif;
$font-title:"Roboto Slab",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text:1.4em;
$font-size-title:2.2em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:normal;

// ARRONDI POUR LES EFFETS SUR LI > A:HOVER/FIL ARIANE/BOUTON
$arrondi:yes;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS LIB2
@import "../../../slagence_X_V5/sources/scss/boutons/lib8";

// IMPORT PUB LIB BOITE
@import "../../../slagence_X_V5/sources/scss/pubs/lib1";

// IMPORT PUB LIB2
@import "../../../slagence_X_V5/sources/scss/pubs/lib2";

// IMPORT TEMPLATE PARIS
@import "../../../slagence_X_V5/sources/scss/templates/helsinki";

// IMPORT MODULE ANNONCES11
@import "../../../slagence_X_V5/sources/scss/modules/annonces5";

// IMPORT MODULE EXTRA
@import "../../../slagence_X_V5/sources/scss/extra/extra5";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";

// IMPORT MODULE SOUS MENU ORPI
@import "../../../slagence_X_V5/sources/scss/sous_menu/lib1";

//-------------------------------------------------------------------------------
// PERSO PRIMO
//-------------------------------------------------------------------------------

//-------------------------------------------------------------------------------
// GENERAL
//-------------------------------------------------------------------------------


	//-------------------------------------------------------------------------------
	// STRUCTURE
	//-------------------------------------------------------------------------------
.container {
	width:1440px;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
 
	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
 
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}



	//-------------------------------------------------------------------------------
	// NAV LEFT
	//-------------------------------------------------------------------------------
	
#pp-nav.right {
	background:$color-primary;
	@include border-radius(4px);
	
}

	//-------------------------------------------------------------------------------
	// MARGIN
	//-------------------------------------------------------------------------------
.margin-top-neg-70 {
	margin-top:-70px;
}
.margin-top-63 {
	margin-top:63px;
}

.margin-left-125 {
	margin-left:125px;
}

	//-------------------------------------------------------------------------------
	// BG
	//-------------------------------------------------------------------------------
.bg-inside {
	background-image:url('../images/bg-inside.jpg');
	background-color:$color-body;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

.bg-ttl-mobile {
	background-color:rgba($color-primary,0.8);
	padding:5px;	
	@include border-radius (20px);
	@include single-box-shadow;
}

	//-------------------------------------------------------------------------------
	// MENU & NAV
	//-------------------------------------------------------------------------------

.menu-principal {
	font-size:1.2em;
	>li {
		border-left:none;
		border-right:none;
	}
}

//-------------------------------------------------------------------------------
// INDEX
//-------------------------------------------------------------------------------

	//-------------------------------------------------------------------------------
	// BACKGROUND
	//-------------------------------------------------------------------------------
.section1 {
	background-image:url('../images/homepage/section1.jpg');
}

.bg-section-1 {
	background-color:rgba($color-primary,0.8);
	padding:20px;	
	@include border-radius (20px);
	@include single-box-shadow;
}

.section2 {
	background-image:url('../images/homepage/section2.jpg');
}

.bg-section-2 {
	background-color:rgba($color-primary,0.9);
	padding:20px;	
	@include border-radius (20px);
	@include single-box-shadow;
}

.section3 {
	background-image:url('../images/homepage/section3.jpg');
}

	//-------------------------------------------------------------------------------
	// ARROW
	//-------------------------------------------------------------------------------
.arrow-up {
	position: absolute;
    top: 15em;
    left: 21em;
    background-color:rgba($color-primary,0.7);
    border-radius: 10px;
	&:hover {
		background-color:rgba($color-secondary,0.7);
	}
}

.arrow-down {
	position: absolute;
    bottom: 15em;
    right: 21em;
    background-color:rgba($color-primary,0.7);
    border-radius: 10px;
	&:hover {
		background-color:rgba($color-secondary,0.7);
	}
}

	//-------------------------------------------------------------------------------
	// BTN HOME
	//-------------------------------------------------------------------------------
img.home-primo  {
	margin-top: 20px;
    background-color:rgba($color-primary,0.7);
    padding: 20px;
    margin-left: 50px;
	@include border-radius(4px);
	&:hover {
		background-color:rgba($color-secondary,0.7);
	}
}

img.home-ags  {
	margin-top: 20px;
    background-color:rgba($color-primary,0.7);
    padding: 20px;
    margin-right: -140px;
	@include border-radius(4px);
	&:hover {
		background-color:rgba($color-secondary,0.7);
	}
}



//-------------------------------------------------------------------------------
// RESPONSIVE
//-------------------------------------------------------------------------------

	//-------------------------------------------------------------------------------
	// TABLETTE PORTRAIT
	//-------------------------------------------------------------------------------
@media only screen and (min-device-width : 768px)  and (max-device-width : 1024px) and (orientation : portrait) {		
	
	div.span7.margin-top-neg-70.bg-section-2 {		
		width:90%;
	}
	.margin-left-tab-50 {
		margin-left:20px;
	}
}

	//------------------------------------------------------------------------------
	// TABLETTE PAYSAGE
	//------------------------------------------------------------------------------

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
     .logo-agence-index, .box-module-home {
		display:none;
	 }
	 div.span7.margin-top-neg-70.bg-section-2 {
		width:90%;
	 }	
}

	//------------------------------------------------------------------------------
	// RESPONSIVE SMARTPHONE
	//------------------------------------------------------------------------------
@media only screen and (max-width : 767px) {	
	div.span7.margin-top-neg-70.bg-section-2 {		
		width:100%;		
	}
	div#AGS.span7.margin-top-neg-70.bg-section-2 {		
		width:100%;
		margin-left:-50px;
	}
	#pp-nav.right {
		display:none;
	}
	.margin-top-neg-70 {
		margin-top:0px;
	}
}