// VAR COLORS
$color-body:#FFFEF7;
$color-content:#fff;
$color-block:#fff;
$color-primary:#E2D7D0;
$color-secondary:#D5CAC3;
$color-action:#000;
$color-important:#D5CAC3;
$color-nav-footer:#000;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#7C716A;

// COLOR SOUS MENU
$color-sous-menu:$color-primary;