/* CSS Document */
.BoiteAnnonce{width:362px; margin-right:8px; background-color:#555964;color:#FFFFFF; border:2px solid #8D8D8D;}
.RechercheDescriptif{color:#fff;}
.RechercheDescriptif2{color:#fff;}
.ligne1 {height:165px; font-size:12px;}
.fd_recherche_prix{top:170px; background-color:#555964; color:fff;}
div.RecherchePrix {color:#F6BD68;}
div.RechercheLibelle{color:#F6BD68;}
div.RechercheSituation{color:#96A7CA;}
.RecherchePlusInfo a {color:#973117; text-decoration:underline;}
.RecherchePlusInfo a:hover{color:#d17732; text-decoration:underline;}
.RecherchePanier a{color:#973117; text-decoration:underline;}
.RecherchePanier a:hover{color:#d17732; text-decoration:underline;}
.RechercheVisuels360 a{color:#973117; text-decoration:underline;}
.RechercheVisuels360 a:hover{color:#d17732; text-decoration:underline;}
.tabTitre {background-color: #757D90; color: #fff; }
.ligne2{color:#F6BD68; padding-top:5px;}
.RechercheRefAnnonce{color:#F6BD68;}
.BoitePubAlerte{background-color:#8A8B8D; color:#FFFFFF; border:2px solid #8D8D8D;}
.AlerteGratuit a{ color:#FFFFFF;}
.AlerteGratuit a:hover{ color:#FFFFFF; text-decoration:underline;}
.RecherchePlusInfoLien{background-color:#555964; color:#FFFFFF;}
.RecherchePlusInfoLien a{ color:#FFF8A1;font-size:12px;font-weight:bold;}
.RecherchePlusInfoLien a:hover{color:#F6BD68;font-size:12px;font-weight:bold;}
.Icones{background-color:#555964; color:#FFFFFF;}
.Icones a{ text-decoration:underline;color:#FFFFFF;}
.Icones a:hover{ text-decoration:none;color:#FFFFFF;}
.RechercheSituationVille{ color:#F6BD68;}

	





