/*------CSS definitive--*/
body { margin: 0; padding:0; background: url(../images/reap.gif) repeat; text-align:center; }
div,td { font-family: Arial, Helvetica, sans-serif; font-size:12px; color: #000000; }
img { border:none; display: inline; }
table  { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; }
a { text-decoration: none; color: #7c9c02; }
a:hover { color: #98a918; text-decoration: none; }
p { margin:10px 0;}

.clear1 { clear: left; }
.clear2 { clear: both; }
/*----- decoupage -------*/

#wrapper { width: 100%; background: url(../images/wrap_top.gif) top repeat-x #302f22; }
#main { position: relative; width: 1003px; text-align: left; margin: 0 auto; }
.flag { position: absolute; top: 3px; right: 10px; width: 60px; }

#bloc-top { width: 1003px; height: 22px; overflow: hidden; }
.home { float: left; line-height: 22px; color: #72716c; font-size: 11px; }
.home a { background: url(../images/pic_house.gif) no-repeat; padding-left: 20px; font-size: 11px; font-weight: bold; }
.home strong { color: #99bd14; }
#marq { float: left; width: 826px; line-height: 22px; color: #717171; height: 22px; overflow: hidden; }

.bg-logo { background: url(../images/bg_logo.jpg) no-repeat; height: 126px; overflow: hidden; }

.logo { width: 265px; margin: 0 auto; padding-top: 4px; }
.coords-top { float: left; padding: 10px 0 0 78px; }

.menu-fr, .menu-en { background: url(../images/bg_menu.gif) no-repeat; width: 1003px; height: 40px; text-align: center; }
.menu-fr a { font-size: 14px; color: #fff; text-transform: uppercase; line-height: 40px; background: url(../images/sep_menu.gif) right no-repeat; display: inline-block; padding: 0 14px; font-weight: bold; }
.menu-en a { font-size: 14px; color: #fff; text-transform: uppercase; line-height: 40px; background: url(../images/sep_menu.gif) right no-repeat; display: inline-block; padding: 0 17px; font-weight: bold; }
.menu-fr a:hover, .menu-en a:hover { color: #050501; }

#main-content { width: 1003px; padding-bottom: 10px; }
#navigue { width: 960px; margin: 0 auto; padding: 20px 0; min-height: 800px; }

#left { float: left; width: 470px; }
#main-mot {background: url(../images/bg-mot-repeat.gif) repeat-y; width: 458px; margin-left: 12px; }
#moteur { width: 320px; padding: 0 69px;margin: 0 auto; position: relative;  background: url(../images/bg-mot.gif) bottom no-repeat; }
.plus-crit a { position: absolute; bottom: 20px; left: 69px; color: #5c5a46; font-weight: bold; text-decoration: underline; }

.photo-acc { float:left; width: 125px; padding-right: 15px; padding-top: 15px; }
.color { font-weight: normal; color: #97a718; }

.txt-acc { width: 233px; font-size: 11px; float:left; }
.link-acc { font-weight: bold; color: #7c9c02; text-align: right; display: block; font-size: 11px; }
.link-acc a { text-decoration: underline; }

.pic-lien { float: left; width: 230px; }
.pic-lien a { background: url(../images/pic_liste.png) no-repeat; padding-left: 25px; text-decoration: underline; display: block; color: #000; padding-bottom: 10px; }
.pic-rss a { background: url(../images/pic_rss.png) no-repeat; padding-left: 40px; display: block; text-decoration: none; font-weight: bold; color: #000; }

.mobil { float: right; width: 176px; background: url(../images/bg_mobile.png) no-repeat; height: 154px; }
.mobil div { width: 70px; color: #fff; padding-left: 18px; font-size: 11px; padding-top: 12px; }
.mobil div strong { color: #000; display: block; }
.mobil p { color: #333021; text-indent: 18px; font-size: 11px; }

#right { float: right; width: 518px; }
.div-cdc { float: left; width: 250px; height: 250px; background: url(../images/bg_cdc.png) no-repeat; position: relative; }
.photo-cdc img { width: 235px; height: 176px; padding: 8px 0 0 8px; }
.contenu-cdc { position: absolute; top: 190px; left: 8px; background: url(../images/bg_contenu_cdc.png) no-repeat; _background: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/bg_desc.png'); color: #99bd14; width: 235px; height: 52px; padding-top: 10px; padding-left: 10px; font-size: 11px; }
.espace-cdc, .descriptif-cdc, .prix-cdc { display: none; }
.typetransaction-cdc { display: block; font-weight: bold; color: #99bd14; }
.typebien-cdc, .ville-cdc, .contenu-cdc a:hover, .home a:hover { color: #fff; }
.selectionIndexCDC{display: none;}

#footer { background: url(../images/wrap_bot.gif) repeat-x; }
#bloc-ttl { width: 960px; margin: 0 auto; padding: 15px 0; text-align:left; }

#left-foot { float: left; width: 215px; margin-right: 67px; }
#center-foot { float: left; width: 180px; }
#right-foot { float: right; width: 470px; }
.link-left, .link-center, #portef, .link-left a { font-size: 11px; color: #42402d; }
.ttl-foot { padding-bottom: 15px; font-size: 11px; }
.ttl-foot, .ttl-foot a, .coords { color: #fff; font-weight: bold; }
.lien-foot { text-align: right; }
.link-center a { color: #42402d; display: block; text-decoration: underline; }
.link-center a:hover, .link-left a:hover, .pic-rss a:hover, .pic-lien a:hover, .ttl-foot a:hover { color: #99bd14; }

.coords { text-align: center; padding: 20px 0; color:#FFF; font-size: 11px; font-weight: bold; }

/*-----------------*/

#prod { font-size: 11px; height: 90px; overflow: auto; }
#prod a { color: #464330; text-decoration: underline;font-size: 11px; }
#prod a:hover, .link-rss a:hover { color: #99bd14; }
#prod #Portefeuille01 h3 { display: none; }
#prod a.typeBien { text-decoration: underline; }

/*liste villes*/
.ListeVilles, .ListeVilles a, .ListeVilles a strong { color: #464330; font-weight: normal; text-align: justify; font-size: 11px; }
.ListeVilles a:hover, .ListeVilles a:hover strong { color: #fff; }

/*marquee*/
#AnnoncesDefilantes, #AnnoncesDefilantes a { color: #72716c; font-size: 11px; }

/*autres*/
.ttl-pages { color: #98a918; font-size: 18px; text-transform: uppercase; font-weight: bold; font-family: Georgia, "Times New Roman", Times, serif; }
ul#Plan li.planMenu { display: none; }

.selectionNouveau, .selectionIndexExclusif { top: 10px; left: 10px; }

#Annonce_Ctn td#ColDroite, #Annonce_Ctn td#ColGauche{border: none;}
#Annonce_Ctn td#ColDroite{background: #302F22;}
#DetailAnnonce h4{border-color: #6A6647;}
#DetailAnnonce *{color:#fff;}

.ad-gallery .ad-image-wrapper,.similaire_ctn{background: #6A6647; border: solid 1px #6A6647;}
.ad-gallery .ad-back,.ad-gallery .ad-nav .ad-thumbs,.ad-gallery .ad-forward  {background-color: #6A6647;}

/* Mise en page pud_annonces sur fond foncé*/
/* blocs annonces */
#Annonces01 .ann_ctn { background: url(../img/ann01_fd_01.gif) no-repeat; }
#Annonces01 .ann_ctn .ann_fd { display: none;}
#Annonces01 a {color:#98A818;}



/*------------------------------------------------------------*/
