// VAR COLORS
$color-body:#fff;
$color-content:#fff;
$color-block:#fff;
$color-primary:#454140;
$color-secondary:#eee;
$color-action:#454140;
$color-important:#b99156;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#333;