$$REM$$/*====================================================================
//// <summary>Fichier CSS À DÉMUTUALISER POUR CHAQUE SITE</summary>
//// <remarks>
//// <para>Pour plus de rapidité, intégrer les macros du fichier 'all_global_macros.css'</para>
//// </remarks>
//// <update date="2010-02-16" author="lisbonne.siriphol">Création</update>
====================================================================*/$$END$$

<!--#include virtual="styles/all_global_macros.htm" -->

#HeaderTxt h2 {color:#d5b076;}
#FilAriane em {color:#d5b076;}
.titreParagraphe, #NouveautesAccueil .titreParagraphe span {color:#d5b076;}

#MiniBouton .boutonSubmit{background:#d5b076;color:#695648;}

.selectionSurface, .selectionNbPieces {color:#695648;}

#Menu_Ctn{text-align: left;background:$$BG_MENU$$;}
ul#Menu{float: none;}
ul#Menu li a{display: block;  width:145px; padding: 10px; margin: 0 0 0 0px; background: $$BG_MENU$$; color: $$TXT_MENU$$; text-align: center; text-transform: uppercase; text-decoration: none; font-size: 12px; font-weight:bold;}
}
