// VARIABLES COLORS
$color-body      : #e0e9ee;
$color-content   : #edf6fb;
$color-block     : #eee;
$color-primary   : #e0e9ee;
$color-secondary : #edf6fb;
$color-action    : #df9d0e;
$color-important : #10607d;
$color-nav-footer: #000;

// COLOR PUB
$color-pub       : "black";

// COLOR FONT BODY DEFAULT
$color-font-body : #000;
