// VAR COLORS
$color-body      : #ffffff;
$color-content   : #ffffff;
$color-block     : #f1f2f4;
$color-primary   : #ffffff;
$color-secondary : #f1f2f4;
$color-action    : #e7e6e6;
$color-important : #000000;
$color-nav-footer: #fe0000;

// COLOR PUB
$color-pub       : "white";

// COLOR FONT BODY DEFAULT
$color-font-body : #000000;

// COLOR SOUS MENU
$color-sous-menu:$color-block;

// COLOR ORANGE
$color-rouge:#fe0000;
$color-beige:#b78178;
$color-bleu:#81bebc;
$color-rose:#ffbeac;
$color-gris:#666666;



// COLOR SVG PUB
$color-svg-pub:#fe0000;
$color-svg-pub-hover:#fff;

// COLOR SOUS MENU
$color-sous-menu:$color-primary;
