/* Christophe */
/* =================== avis2 */

*{
margin:0; /* pour IE */
padding:0; 
}
body{
font-family: arial,helvetica,sans-serif;
text-align:center;/* pour IE */
margin:0;
padding:0;
color:#213A74;
font-size:11px;
}
a{
color:#213A74;
font-size:11px;
text-decoration:none;
}
a:hover{
color:#C0D933;
}

td {
font-size: 11px;
}

img{
border:0;
}
h1{
font-size:16px;
padding:10px 0 0 10px;
color:#fff;
}
h1 a{
font-size:16px;
padding:10px 0 0 10px;
color:#213A74;
}
h1 a:hover {
font-size:16px;
padding:10px 0 0 10px;
color:#C0D933;
}
input{margin:2px;
font-size:10px;
color:#213A74;
}
#Container{
margin-top:5px;
width:787px;
margin-left:auto;/* centrage du site */
margin-right:auto;
text-align:left;
}
#FondOmbre{
background-image:url(../img/AvisFdOmbre.jpg);
background-repeat:repeat-y;
width:787px;
}
#Top{
height:29px;
background-image:url(../img/AvisFdTop.jpg);/* AR arondie */
background-repeat:no-repeat;
font-size:14px;
text-transform:uppercase;
}
#Tools{
height:31px;/* Conteneur outils coordonnées langues */
color:#fff;
}
#CoordAgence{ /* Coordonnées agence */
font-size:11px;
margin-left:155px;
position:relative;/* décalage par rapport au flux */
top:10px;
color:#fff;
}
#Flag{
right:15px;
position:absolute;
top:-10px;

}
#Flag img { 
border:0;
margin-left:5px;
}
/* Pour flash */
#Header{ 
position:relative;
width:784px;
background-repeat:repeat-y;
background-image:url(../img/AvisFdOmbre2.jpg);
margin:0;
height:282px;
}
#Flash{
position:absolute;
left:4px;
right:0;
}
/* No flash */
/*#Header{ 
position:relative;
width:784px;
background-repeat:repeat-y;
background-image:url(../img/AvisLgFoto.jpg);
margin:0;
height:282px;
}*/
#Header a{
color:#fff;
}
#Header a:hover{
color:#C0D933;
}
#Block_menu{
position:absolute;
top:50px;
right:0;
background-color:#213A74;
margin:0;
width:186px;
z-index:10;
}
#Block_menu a{/* paramétrer le padding des blocs liens en fonctions du nombre de liens  */
display:block;
border:1px solid #fff;
font-size:12px;
padding:4px 5px 5px 5px;
background-color:#213A74;
text-transform:uppercase;
text-decoration:none;

}
/* Mettre 7690b5 en AR si Flash et background-transparent si noflash*/
#Menu_bottom{
position:absolute;
width:600px;
bottom:0px;
left:3px;
background-color:#7690b5;
height:32px;
border:1px solid #fff;
border-left:none;

}
#Menu_bottom a,.SepSit{
letter-spacing:-1px;
margin-left:5px;
font-size:12px;
text-transform:uppercase;
text-decoration:none;
position:relative;
top:5px; /* décalage vers le bas par rapport au flux */
color:#fff;
}
#Page{  /* div centrale étirable */
width:750px;
padding:15px 15px 30px 35px;
}
#TexteIntro{
clear:both;
width:710px;
color:#213A74;
text-align:justify;
padding:15px 0;
margin-top:25px;
margin-left:15px;
}

#TexteIntro p{
width:710px;
color:#213A74;
text-align:justify;
}

#TexteIntro h1{
color:#213A73;
margin-bottom:10px;
margin-left:0px;
}

#TexteIntro p.lien{
text-align:right;
} 

#TexteIntro p.lien a{
font-weight:bold;
} 

#Block_left{
width:346px;
min-height:240px;_height:240px;
background-color:#F5F5F5;
border:1px solid #213A74;
float:left;
margin-right:20px;
margin-top:10px;
}
#ImgResearch{
margin:15px 0 10px 15px;
}
#TitreCdc{
margin:15px 0 10px 15px;
}
#GoResearch{
display:block;
margin:0px 18px 18px 0;
font-size:13px;
}
#GoResearch a{
color:#F5F5F5;
}
#Block_right{
float:left;
width:346px;
height:240px;
background-color:#F5F5F5;
border:1px solid #213A74;
margin-top:10px;
}
#Pmoteur{
font-size:10px;
padding-left:10px;
}
#Cdc a{
margin-left:30px;
color:#213A74;
font-size:10px;
text-decoration:none;
}
#Footer{
height:38px;
background-image:url(../img/AvisFdFooter.jpg);
background-repeat:no-repeat;
vertical-align:top;
padding-top:4px;
}
#Footer a{
color:#fff;
}
#Seloger{
margin-left:20px;
font-size:11px;
color:#fff;
}
#Seloger a{
text-decoration:none;
}
#Web{
margin-left:350px;
font-size:11px;
text-decoration:none;
}
#Outils h1{
color:#213A74;
 background: url(../images/ico_fleche.gif) no-repeat  ;
 padding:0 0 5px 20px;
}
#Outils table{
padding-left:200px;
}
#Outils a{
font-size:13px;
}

/* =================== PetitMoteur */

.tabFond1Mini{
color:#213A74;
font-size:10px;
}
.tabFond1Mini td{
padding:1px;
}
.tabFond1Mini input{
margin-left:3px;
color:#213A74;
}
.Form {
font-size:10px;
color:#213A74;
margin-top:2px;
}
.tabTitremini{
color:#000;
font-size:10px;
color:#213A74;
}
.tabFond2mini{
color:#213A74;
font-size:10px;
}
.tabFond2mini input{
color:#213A74;
font-size:10px;
margin:3px;
}
.minilien{
color:#213A74;
font-size:10px;
}
.MiniIdtt{
position:relative;
bottom:5px;
}
#MiniEnvoyer{
padding-left:120px;
}
.euro {
color: #213A74;
}	
.MinMax{
font-size:10px;
}
.Typebien{
float:left;
margin-right:50px;
}
.Typebien span{
display:block;
}
/* =================== Commun */
.tabFond1{
font-size:11px;

}
.tabFond1 form{
 
}
.tabFond2{
	background-color:#fff;
}
.tabFond2 .tabTitre {
	border: none;
	background:none;
	font-size: 10px;
	}
	.tabTitre {
	border-bottom: 1px solid #CAD8EC;
	color: #213A74;
 background: url(../images/ico_fleche.gif) no-repeat  ;
 padding:0 0 5px 20px;
 font-weight: bold;
	
}
/*------ Plan -------*/
#Plan,#Outils {
margin: 30px 0 20px 180px;
text-align:left;
width:320px;
}
#Plan ul,#Outils ul { margin: 0; padding: 0; list-style-type: none; }
#Plan li,#Outils li {
border-bottom: 1px solid #B6BFC9;
padding: 5px 0;
}
#Plan li.first, #Outils li.first { border-top: 1px solid #B6BFC9; }
#Plan a, #Outils a{
font-size:12px;
background: url(../images/ico_fleche.gif) no-repeat;
padding-left: 40px;
line-height: 20px;
font-weight:bold;
}

 #ligneplusinfoannonce a{
 text-decoration:none;
 }
 .soustitre{

 font-weight:bold;
 }
.lignevisuelannonce{
font-weight:bold;
}
.selection{
font-weight:bold;
text-align: center;
}
 #boitepubalerte1 .tabFond2 a{
 font-size:10px;
 
 }
.texte1 {
	color: #7290B6;

	font-weight: bold;
}
 #lignedescriptifannonce{

 }
#boiteprestige{

}
#boitephraserecherche,#boitephraserecherche a,#boitephraserecherche .tabTitre, #boitelegende .tabTitre{
background-color:#213A74;
color:#fff;
text-align:center;	
}
.Prix{
text-align:right;
padding-right:5px;
color:#fff;
background-color:#213A74;	
}
#lignetitreannonce .tabTitre {
	padding: 5px;
	border-bottom: 1px solid #CAD8EC;
	border-top: none;
	border-left: none;
	border-right: none;
	background: #E4EBF5;
	color: #5382BF;
}
#lignetitreannonce .TitreRouge { color: #213A74; }
#table100 #boitenavigationhaut a, #table100 #boitenavigationbas a { color: #fff; font-weight: normal; }
#table100 #boitenavigationhaut td, #table100 #boitenavigationbas td { padding: 2px 3px; color: #fff; 	}
#table100 #boitenavigationhaut, #table100 #boitenavigationbas { border: none; background: #213A74;	 }
#table100 .tabFond2 { border: 1px solid #B4C2D5;	 }

.imputForm {
	border: 1px solid #A5ACB2;
	padding: 2px 0;
	margin: 3px;
	font-family: Arial, Helvetica, sans-serif;

}
/* Partenaires */
#Partenaires{
	margin:20px 0 0 0;
	text-align:center;
}
#Partenaires p{padding:0 0 20px 0;}
/* Coups de coeur */
.Cdc img {border:#233877 solid 1px;}
/* Page actualités */
#Actualites{
	margin:50px;
	height:200px;
	text-align:left;
}
#Actualites p{padding-bottom:8px;}
#Actualites h4{color:#99cc00; padding:15px 0 8px 0;}
/* PAGE ESTIMER.HTM */
#Estimer{ width:95%; text-align:left; margin:20px; font-size:12px; }
#Estimer div.NoMail{ height:150px; text-align:center; padding:50px 0; }
/* Haut page estimer.htm */
#Estimer #TitrePage{ padding:0 0 30px 0;}
#Estimer #TitrePage h2{ padding:0 0 8px 0;}
#Estimer #TextePage{font-size:12px; padding:0 0 30px 0;}
#Estimer h3{background:url(../images/fleche.gif) left no-repeat;}
#Estimer h3 a{padding-left:20px; font-weight:bold; font-size:12px; color:#99cc00; text-decoration:underline;}
#Estimer h3 a:hover{ color:#5d9145;}
#Estimer #TextePage p{line-height:15px; padding-bottom:8px;}
#Estimer #TextePage p.MarkupText{color:#99cc00;}
#Estimer div.spacer{border-top:#99cc00 solid 2px; padding:0 0 10px 0; }
#Estimer #VisuelAvis{margin:15px 0 25px 0; text-align:center;}
/* Formulaire page estimer.htm */
#Estimer #Formulaire{text-align:left;}
#Estimer #Formulaire p.HautFormulaire{font-weight:bold;}
#Estimer #Formulaire p.tabTitre{margin:20px 0 10px 0; text-align:left;}
#Estimer #Formulaire p.radio{text-align:center;}
#Estimer div.ligneformulaire{text-align:left;}
#Estimer span.leftForm{width:200px;float:left;}
#Estimer span.rightForm{width:250px;}
#Estimer #Formulaire textarea.imputForm{width:203px;}
#Estimer #Formulaire p.ChampsObligatoire{width:95%; text-align:right;}
#Estimer #Formulaire p.envoyer{width:95%; text-align:right; padding:5px 0 15px 0;}
#Estimer #Formulaire p.CGU_Form{font-size:10px; margin:0; padding:0; text-align:justify;}
#Estimer #Formulaire p.CGU_Form a{font-size:10px; text-decoration:underline;}

/* =================== Commun / Plus annonce*/
.General{
background-color:#fff;
padding:5px;
}
.TitreDetailAnnonce{
font-weight:bold;
background-color:#213A74;
color:#fff;
width:100%;
}
#TxtPresentation{
font-size:11px;

}
#GdPhoto{
padding-left:10px;
}
#big{
border:1px solid #000;
}
.prixRecherche{
color:#213A74;
font-size:15px;
font-weight:bold;
width:100%;
}
#MiniTof{
border:1px solid #000;
}
.detailAnnonce{
padding-left:15px;
padding-right:15px;
background-color:#CAD8EC;
color:#213A74;
width:100%;
}
#InfoAgence{
background-color:#CAD8EC;
padding:10px;
}
.Savoir{
padding-left:15px;
font-weight:bold;
background-color:#213A74;
color:#fff;

}
.Formulaire{

background-color:#fff;
padding:10px;
}
.FormTitre{
text-decoration:underline overline;
}

.RefMarque {
width: 800px;
margin: 0 auto;
}

/*---- début incl_texte_villes2.htm  ---*/
#Villes {
width: 740px;
text-align: center;
margin: 0 auto;
}

#Villes td {
font-weight: normal;
font-family: Arial, Verdana, sans-serif;
font-size: 11px;
color: #8498b9;
}

#Villes a {
font-family: Arial, Verdana, sans-serif;
font-size: 11px;
color: #8498b9;
text-decoration: none;
font-weight: normal;
}
	

#Villes a:hover {
font-family: Arial, Verdana, sans-serif;
font-size: 11px;
color: #233975;
font-weight: normal;
text-decoration: underline;
}
/*---- fin incl_texte_villes2.htm  ---*/

/* Page plusreseau.htm */
.PlusReseau{ text-align:left; font-size:12px; margin:0; padding:0; padding-right:10px;padding-left:10px; }
.PlusReseau a{ font-weight:bold; color:#7E9303; text-decoration:underline;}
.PlusReseau a{ font-weight:bold; color:#7E9303; text-decoration:underline;}
.PlusReseau a:hover{ color:#5d9145; }
.PlusReseau h1{ font-size:24px; padding:0; margin:0; color:#213975; }
.PlusReseau h2{ font-size:17px; text-align:left; border-bottom:#bcd52b solid 2px; padding:0 0 5px 0; margin:0 0 8px 0; }
.PlusReseau ul#sommaire{ list-style-type:square; padding:15px; margin:0;}
.PlusReseau ul#sommaire li a{ padding-left:5px;}
.PlusReseau ul{ padding:15px 0 15px 25px; text-align:left; list-style-type:disc;}
.PlusReseau p{ text-align:left; line-height:15px; padding-bottom:8px; }
.PlusReseau ol { text-align:left; line-height:15px; padding-bottom:8px; }
.PlusReseau li{ text-align:left; list-style-position: inside; line-height:15px; padding-bottom:8px; }
.PlusReseau div.Paragraphe{ clear:both; padding:20px 0; text-align:right; }
.PlusReseau img.ImageAvis{ float:right; margin-left:20px; }

#PlusReseau{ text-align:left; font-size:12px; margin:0; padding:0; padding-right:10px;padding-left:10px; }
#PlusReseau a{ font-weight:bold; color:#7E9303; text-decoration:underline;}
#PlusReseau a:hover{ color:#5d9145; }
#PlusReseau h1{ font-size:24px; padding:0; margin:0; color:#213975; }
#PlusReseau h2{ font-size:17px; text-align:left; border-bottom:#bcd52b solid 2px; padding:0 0 5px 0; margin:0 0 8px 0; }
#PlusReseau ul#sommaire{ list-style-type:square; padding:15px; margin:0;}
#PlusReseau ul#sommaire li a{ padding-left:5px;}
#PlusReseau ul{ padding:15px 0 15px 25px; text-align:left; list-style-type:disc;}
#PlusReseau p{ text-align:left; line-height:15px; padding-bottom:8px; }
#PlusReseau div.Paragraphe{ clear:both; padding:20px 0; text-align:right; }
#PlusReseau img.ImageAvis{ float:right; margin-left:20px; }
.Markup{font-weight:bold; color:#7E9303;}
.ImageVendre { float:right; margin-left:20px; border:2px solid #bcd52b }

/*---- affichage incl_haut.htm adresse multi-agences  ---*/
#VilleBan {
	font-size: 11px;
	font-weight: bold;
	color: #fff;	
}
/*---- Fin affichage incl_haut.htm adresse multi-agences  ---*/

td.tabcontenu label{width: 200px;}