// VARIABLES COLORS
$color-body:#5F574D;
$color-content:#180e02;
$color-block:#666666;
$color-primary:#666666;
$color-secondary:#463E34;
$color-action:#f21e8f;
$color-important:#fff;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"white-opacity";

// COLOR FONT BODY DEFAULT
$color-font-body:#DFDFDF;
