// VAR COLORS
$color-body:#fef9e5;
$color-content:#1a1a1a;
$color-block:#F1ECD8;
// $color-primary:#F1ECD8;
$color-primary:#D8D3BF;
$color-secondary:#5e2e00;
$color-action:#5e2e00;
$color-important:#f4914f;
$color-nav-footer:#5e2e00;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#D1A173;