/* 2008.08.05 */
.ann_video{clear: both; display: block; position: relative; height: 45px; width: 320px; margin: 10px auto; overflow: hidden; text-align: left;}
.ann_video *{font-size: 12px; font-weight: bold; color: #fff;}
/* conteneur image de fond */
.ann_video_fd{position: absolute; height: 45px; width: 320px; background: url($$-$$detail/img/detail_video_fd.png) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$-$$detail/img/detail_video_fd.png', sizingMethod='scale');}
/* lien */
.ann_video a{display: block; position: absolute; top: 16px; left: 70px; text-decoration: none;}
.ann_video a:hover{color: #fff; text-decoration: underline;}
