// VAR COLORS
$color-body:#b1b3b4;
$color-content:#b1b3b4;
$color-block:#f9f9f9;
$color-primary:#fff;
$color-secondary:#cccccc;
$color-action:#5a5b5b;
$color-important:#e53589;
$color-nav-footer:#5a5b5b;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#535353;