


/* carte_visite.htm */

#CV{margin: 0; padding: 0; border: none;}

#CV *{margin: 0; padding: 0; border: none;}

#CV .clear{clear:both;}

#CV .linkOut{text-align: right; margin: 0.5em 0;}

#CV .linkOut a{background: url($$_$$images/picto_fleche_01.gif) left no-repeat; padding: 0 0 0 15px;}

/**/

#CV h1{font-size: 1.8em; color: #fff; background: url($$_$$images/listeag_fond_02.gif) 0 0 repeat-x #0e18bc; padding: 0.3em 0.8em;}

#CV #Agence{padding: 1em; background: url(../images/sans_photo_01.jpg) no-repeat 0 0 repeat-x #fff;}

#CV #Agence #Img_Ctn{float: left; background: url($$_$$images/sans_photo.gif) no-repeat #bbc8d9;}
#CV #Agence #Img_Ctn #Vitrine{width: 200px; height: 130px; border: 2px solid #fff; background: background: url(/z/webagency/A_Optiweb/rproyan17/images/agences/301027.jpg) no-repeat;}

#CV #Agence #Coordonnees{float: left; padding: 0 1em;}


#CV #Agence #Coordonnees h2{font-size: 1.5em;}

#CV #Agence #Coordonnees p{padding: 0.4em 0;}

#CV #Agence #Coordonnees p strong{font-weight: normal;}

#CV #Agence #Coordonnees p span{font-weight: bold;}

#CV #Agence #TxtPublic{text-align: justify;}

#CV #CvFoot{background: url($$_$$images/listeag_fond_02.gif) 0 0 repeat-x  #2c476b; height: 21px; overflow: hidden;}

#CV #CvFoot *{color: #fff; text-decoration: none; font-weight: bold;}

#CV #CvFoot #Links{float: left; border-right: 1px solid #2c476b; background: url($$_$$images/listeag_fond_02.gif) 0 0 repeat-x #2c476b;}

#CV #CvFoot #Links a{display: block; float: left; padding: 0.3em 1em; border-right: 1px solid #a9bbd3; border-left: 1px solid #2c476b;}

#CV #CvFoot #Links a:hover{background: url($$_$$images/listeag_fond_03.gif) 0 0 repeat-x #a9bbd3;}

#CV #CvFoot #Links a.message{}

#CV #CvFoot #Links a.estimation{}<!-- ID3x v4.00 - X3 - 00.005.990 - none - 14/02/2008 09:09:27 - styles\agence-immobiliere.css -->

http://rproyan17.urlprovisoire.com.xint.poliris.net/styles,portefeuille01.css




/* incl_portefeuille01.htm */

#Portefeuille01{padding: 1em 0;}

#Portefeuille01 h3{font-size: 1.4em; border-bottom: 1px solid #bfbfbf; padding: 0 0 5px 0; margin: 0 0 10px 0;}

#Portefeuille01 a{padding: 5px 0; font-weight: bold;}

#Portefeuille01 a.typeTransac{}

#Portefeuille01 a.typeBien{margin: 0 0 0 30px;}

#Portefeuille01 .nbAnn{}<!-- ID3x v4.00 - X3 - 00.007.435 - none - 14/02/2008 09:09:27 - styles\portefeuille01.css -->
