/* $$DYN:ID3:NOFOOTER$$ */
/*redéfinir la police par défaut*/
div, td, .Marquee, .ListeVilles { font-family: Arial, Helvetica, sans-serif !important; }
.TotalAnnonce { margin: 0 auto; }
.BoiteAnnonce, .InfosAnnonce {
	border: none;
}

/*barre de titre*/
.DetailLibelleetPrix {
	background-color: #fffe00 !important;
	height: 24px;
	margin-bottom: 6px;
}

.DetailLibelleetPrix .DetailLibelle {
	color: #4362c2;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: normal;
	line-height: 24px;
}

.DetailLibelleetPrix .DetailPrix, .DetailLibelleetPrix .DetailSurface {
	color: #0003da;
	font-size: 12px;
	line-height: 24px;
	margin-left: 20px;
}
.DetailPrix { font-weight: bold; }
/*photos*/
img.DetailPhotoGdformat {
	border: 2px solid #607ed9 !important;
}

.DetailPhotoPtformat img {
	border: 2px solid #607ed9 !important;
}
/*infos complémentaires*/
.DetailInfoComplementaire {
	border: none !important;
}
.DetailInfoTitre {
	background-color: #f3f201 !important;
	height: 20px;
	line-height: 20px;
	padding: 0 8px;
	color: #334681;
	font-size: 9px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: normal;
	width: auto;
}
.DetailInfoComplementaire table {
	border-top: 1px solid #0113d6;
	border-left: 1px solid #0113d6;
}
.DetailInfoComplementaire td {
	border-bottom: 1px solid #0113d6;
	border-right: 1px solid #0113d6;
}

/*bouton imprimer*/
.DetailImprimer {
	text-align: center !important;
	border-bottom: 1px solid #7f7c66 !important;
}

.DetailImprimer a {
	display: block;
	width: 200px;
	margin: 0 auto;
	height: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 10px;
	font-weight: bold;
	background: url($$_$$images/bg_btnprint.gif) no-repeat;
	border-bottom: none !important;
}
/*détails formulaire*/
/*espacer les cellules*/
.DetailFormulaire table td {
	padding: 2px;
}

/*formater les input text*/
.DetailFormulaire input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin-bottom: 2px;
	border: 1px solid #7f7c66;
}

/*mettre en forme les lignes de titre*/
.DetailFormulaire .Coord, .DetailFormulaire .Precisions {
	background-color: #f3f201;
	height: 20px;
	line-height: 20px;
	padding: 0 8px;
	color: #0015e2;
	margin: 0;
	text-align: center !important;
}

/*mise en forme du bouton, basée sur la mise en forme du bouton imprimer*/
.DetailFormulaire .btn {
	margin-top: 15px;
}

.DetailFormulaire .btn input {
	width: 160px;
	height: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 9px;
	font-weight: bold;
	background: url($$_$$images/bg_btnprint.gif) no-repeat;
	border: none !important;
}
.DetailBack a { color: #4463c5; }
.DetailBack a:hover { color: #e7cb10; }
.InfosAnnonceVac { border: 1px solid #7f7c66; }