mputForm, select { font-size: 11px; border: 1px solid #23282c; background-color: #ffffff; }
.ZoneSaisie { letter-spacing: normal; }
.BoiteMoteurClassic { border: none; width: 700px; }
.TitreBoiteMoteurClassic { display: none; }
.FormulaireTypeDeBien { color: #5d5d5d; font-size: 11px; background: none; line-height: normal; }
.MoteurTypeDeBien { padding-bottom: 10px; }
.MoteurSurface, .MoteurBudget, .MoteurProximite, .MoteurListeVille, .MoteurReference, .MoteurPieces { color: #5d5d5d; font-size: 11px; background: none; line-height: normal; margin-bottom: 10px; }
.TitreTypeDeBien, .TitreNombreDePieces, .TitreMoteurSurface, .TitreMoteurBudget, .TitreMoteurProximite, .TitreMoteurListeVille, .TitreMoteurInvestir, .TitreMoteurSituation, .TitreMoteurNbPersonnes, .TitreMoteurPays, .TitreMoteurEquipement, .TitreMoteurViager, .TitreMoteurReferencement, .TitreMoteurCritereSup, .TitreMoteurBudgetVac { display: block; height: 20px; background-color: #0002da; border-bottom: 1px solid #1f1f1f; color: #ffffff; padding-left: 20px; padding-top: 6px; font-size: 11px; font-weight: bold; letter-spacing: normal; margin-bottom: 10px; }
.MoteurBouton { padding-bottom: 15px; }
div, span, .ListeVilles, .Marquee { font-family: Verdana, Arial, Helvetica, sans-serif !important; }
.BoiteMoteurClassic { width: 730px; }

.MoteurFraicheur { width: 600px !important; }