$$REM$$
====================================================================

//// <summary>Fichier css par défaut pour : incl_outils.htm</summary>
//// <remarks>
//// <para>Fichier appelé par : slagence_X_V2/incl_outils.htm</para>
//// </remarks>
//// <update date="2007-11-12" author="lisbonne.siriphol">Création v1</update>

====================================================================
$$END$$

ul#Outils *{ text-decoration: none; font-size: 12px; font-weight: bold; }
ul#Outils{ margin: 10px 30px 10px 0; list-style: none; }
ul#Outils li a{ display: block; margin: 0 15px; color:#0004d9; }
ul#Outils li a:hover{ color: #fffe00; }
ul#Outils li{ padding: 5px 0;}
ul#Outils li.list{ border-bottom: 1px solid #0004d9; }
ul#Outils li.list ul li.sousListe{ padding: 3px 0 3px 50px; border-top: 1px dashed #0004d9; }
/**/