// VAR COLORS
$color-body:#fff;
$color-content:#050608;
$color-block:#f2f2f2;
$color-primary:#928f94;
$color-secondary:#4d494c;
$color-action:#ced601;
$color-important:#7ccdf3;
$color-nav-footer:#FFF;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#000000;

// COLOR SOUS MENU
$color-sous-menu:$color-primary;

// ICONE COUP DE COEUR
$color-icone-cdc:#ec89a2;

// COLOR PERSO
$color-perso:#6d686c;

$color-vert: #cfd501;
$color-rose: #f08da2;
$color-bleu: #7acef3;


