// VAR COLORS
$color-body:#fff;
$color-content:#fff;
$color-block:#e8e8e8;
$color-primary:#303030;
$color-secondary:#ec1371;
$color-action:#f3258d;
$color-important:#303030;
$color-nav-footer:#fff;

$color-sous-menu:$color-primary;

$color-vente:#2fb9e4;
$color-loc:#D545B3;
$color-syndic:#f09210;
$color-gestion:#ffc000;
$color-gestion-dark-10:#E6A700;
$color-actus:#B9C435;
$color-vendus:#b37ab5;
$color-menu:#9AA603;
$color-menu-light-20:#FF44A1;

$color-block-gest:#808080;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#262938;
