// VARIABLES COLORS
$color-body:#e7e8e3;
$color-content:#89744d;
$color-block:#DADBD6;
$color-primary:#002337;
$color-secondary:#00162A;
$color-action:#21BAED;
$color-important:#073800;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black-opacity";

// COLOR FONT BODY DEFAULT
$color-font-body:#002337;