// VAR COLORS
$color-body:#fff;
$color-content:#404041;
$color-block:#f5f4f4;
$color-primary:#000;
$color-secondary:#1a181d;
$color-action:#636363;
$color-important:#f4b300;
$color-nav-footer:#fff;
// COLOR PUB
$color-pub:"black";
// COLOR FONT BODY DEFAULT
$color-font-body:#000;