.BoiteMoteurClassic {
border-width: 0px;
text-align:left;
padding:0;
margin:0;
}

.TitreTypeDeBien {
background:#009900;
color:#FFFFFF;
font-weight:bold;
}

.FormulaireTypeDeBien{
height:25px;
padding-top:8px;
}
.FormulaireTypeDeBien input{
margin-left:5px;
}

.TitreNombreDePieces{
background:#009900;
color:#FFFFFF;
font-weight:bold;
}

.MoteurPieces{
height:50px;
}

.MoteurPieces input{
margin:7px 5px 0 5px;
}

.TitreMoteurSurface{
background:#009900;
color:#FFFFFF;
font-weight:bold;
}

.MoteurSurface{
height:50px;
}

.MoteurSurface input{
margin:5px 0 0 5px;
}

.TitreMoteurBudget{
background:#009900;
color:#FFFFFF;
font-weight:bold;
}

.MoteurBudget{
height:50px;
}

.MoteurBudget input{
margin:5px 0 0 5px;
}

.TitreMoteurProximite{
background:#009900;
color:#FFFFFF;
font-weight:bold;
}

.MoteurProximite{
clear:both;
}

