// VAR COLORS
$color-body:#fff;
$color-content:#fff;
$color-block:#d4d2e8;
$color-primary:#3c3173;
$color-secondary:#e5c6e8;
$color-action:#3c3173;
$color-important:#e5c6e8;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;

// COLOR SOUS MENU

$color-block-fonce:#afaec3;