// VAR COLORS
$color-body:#fff;
$color-content:#1a1a1a;
$color-block:#fff;
$color-primary:#fff;
$color-secondary:#338612;
$color-action:#000;
$color-important:#338612;
$color-nav-footer:#000;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#fff;