// VAR COLORS
$color-body      : #000000;
$color-content   : #333;
$color-block     : #333;
$color-primary   : #000000;
$color-secondary : #333;
$color-action    : #4ab696;
$color-important : #4ab696;
$color-nav-footer: #fff;

// COLOR PUB
$color-pub       : "white";

// COLOR FONT BODY DEFAULT
$color-font-body : #fff;

