@import "color";

// LARGEUR DU SITE
$sitewrap: 1170px;

// AGRANDISSEMENT HAUTEUR SLIDER (0 par défaut, doit être  > 500px)
// NE FONCTIONNE PAS SI MF_MOTEUR_TYPE = 2
$slider-height: 630px;

// HAUTEUR PHOTOS LISTING (235px par défaut)
$listing-img-height:400px;

// REQUIS MAIS NE SERT PAS
$bg-uni: yes;
$picture-bg: yes;
$picture-bg-url:'';
$picture-bg-repeat-horizontal: no;

// VAR SITE TYPO
$font-body:"Raleway",verdana,sans-serif;
$font-title:"Poppins",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text:1.6em;
$font-size-title:1.8em;

// TYPE TITLE (NONE, UPPERCASE...)
$type-title: uppercase;

// WEIGHT (BOLD, NORMAL, 700, 300...)
$weight-title: normal;

// ARRONDI (YES / NO)
$arrondi: yes;

// IMPORT ALL
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";

// IMPORT TEMPLATE MOBILEFIRST
@import "../../../slagence_X_V5/sources/scss/templates/mobilefirstv2";

// IMPORT RECHERCHE MOBILEFIRST
@import "../../../slagence_X_V5/sources/scss/recherche/mobilefirst";

// IMPORT MOTEUR MOBILEFIRST (SUR RECHERCHE)
// SEULEMENT SI RECHERCHE AUTRE QUE MF
//@import "../../../slagence_X_V5/sources/scss/moteur/mobilefirst";

// IMPORT DETAIL MOBILEFIRST
@import "../../../slagence_X_V5/sources/scss/detail/mobilefirst";

// IMPORT AGENCE MOBILEFIRST
@import "../../../slagence_X_V5/sources/scss/agence/mobilefirst";

// IMPORT BOUTONS
@import "../../../slagence_X_V5/sources/scss/boutons/mobilefirst";

// IMPORT MODULE SOUS MENU
@import "../../../slagence_X_V5/sources/scss/sous_menu/lib1";

// IMPORT PUB
@import "../../../slagence_X_V5/sources/scss/pubs/mobilefirst";

// IMPORT MODULE EXTRA
@import "../../../slagence_X_V5/sources/scss/extra/extra23";

// IMPORT MODULE ANNONCES
@import "../../../slagence_X_V5/sources/scss/modules/annonces18";

//------------------------------------------------------------------------------------------------
//		PERSO POHAD76
//------------------------------------------------------------------------------------------------

//------------------------------------------------------------------------------------------------
//		GENERAL
//------------------------------------------------------------------------------------------------

	//------------------------------------------------------------------------------------------------
	//		ANIM
	//------------------------------------------------------------------------------------------------

/* ----------------------------------------------
 * Generated by Animista on 2019-1-28 15:18:6
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right {
	-webkit-animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-1-28 15:24:7
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-in-2-fwd
 * ----------------------------------------
 */
@-webkit-keyframes rotate-in-2-fwd {
  0% {
    -webkit-transform: translateZ(-400px) rotate(-360deg);
            transform: translateZ(-400px) rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) rotate(0);
            transform: translateZ(0) rotate(0);
    opacity: 1;
  }
}
@keyframes rotate-in-2-fwd {
  0% {
    -webkit-transform: translateZ(-400px) rotate(-360deg);
            transform: translateZ(-400px) rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) rotate(0);
            transform: translateZ(0) rotate(0);
    opacity: 1;
  }
}

.rotate-in-2-fwd {
	-webkit-animation: rotate-in-2-fwd 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate-in-2-fwd 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-1-28 15:28:26
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-1-28 15:28:56
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
/*
.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}*/

/* ----------------------------------------------
 * Generated by Animista on 2019-1-28 15:36:21
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.scale-in-center {
	-webkit-animation: scale-in-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

	//------------------------------------------------------------------------------------------------
	//		CONTAIN
	//------------------------------------------------------------------------------------------------

hr, .hr-like {
	border-color: $color-content;
}

.is-darken {
  background-color: $color-block;
}


	//------------------------------------------------------------------------------------------------
	//		MENU & NAV
	//------------------------------------------------------------------------------------------------

.header-top-item-perso {
  background: $color-important;
  padding-left: 22px;
  color: $color-primary;
  margin-right: 10px;  
}

.header-top-item {
  float: left;
  // background-color: $color-important;
}

.header-top-agence {
  float: right;
}

    //------------------------------------------------------------------------------------------------
    //    SWITCH
    //------------------------------------------------------------------------------------------------

.header-top input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

.header-top label {
  cursor: pointer;
  text-indent: -9999px;
  width: 80px;
  height: 30px;
  background: $color-primary-light-20;
  display: block;
  // border-radius: 100px;
  position: relative;
  float: left;
  margin-right: 10px;
  line-height: 30px;
  padding-right: 10px;
}

.header-top label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: $color-nav-footer;
  // border-radius: 90px;
  transition: 0.3s;
}

.header-top input:checked + label {
  background: $color-nav-footer;
}

.header-top input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
  background: $color-primary;
}

.header-top label:active:after {
  width: 130px;
}

    //------------------------------------------------------------------------------------------------
    //    FIN SWITCH
    //------------------------------------------------------------------------------------------------

.none-blanc {
  display: none !important;
  margin-left: 20px;
}

.none-noir {
  display: none !important;
  margin-left: 20px;
}

.header-top {
	border: none;
}

.header-top, .header-main {
	background-color: $color-primary;
}

.logo img {
    max-width: 410px;
    max-height: 155px;
}

.menu-principal {    
    >li {
        background:none;            
        @media only screen and (max-width : 1280px) {
            // padding: 0 4px;
        }
        &:hover {
            background:none;
        }
        >a {   
            line-height: 20px;         
            &:after {
                display: block;
                content: "";
                width: 0%;
                height: 2px;
                background-color: $color-primary;
                margin-top: 10px;
                -webkit-transition: all .7s ease;
                        transition: all .7s ease;
             }
             &:hover {
                color: $color-nav-footer;               
                &:after { 
                    background-color: $color-important; 
                    width: 50%;
                }
             }
        }
    }
}

//------------------------------------------------------------------------------------------------
//		INDEX
//------------------------------------------------------------------------------------------------

	//------------------------------------------------------------------------------------------------
	//		MOTEUR
	//------------------------------------------------------------------------------------------------

.moteurmf.moteurmf-1, .moteurmf-body {
	background-color: $color-content;
}

	//------------------------------------------------------------------------------------------------
	//		MODULE
	//------------------------------------------------------------------------------------------------

.section-ttl-module {
	line-height: 3rem;	
}

	//------------------------------------------------------------------------------------------------
	//		SEO
	//------------------------------------------------------------------------------------------------

.hr-seo {
	border-color: $color-important;
}

	//------------------------------------------------------------------------------------------------
	//		SERVICE PUB
	//------------------------------------------------------------------------------------------------

.section-ttl-service {
	font-size: 1.1em;
}

.blocserv {
    display: block;
    min-height: 285px;
    padding: 4rem;
    -webkit-box-shadow: 0 0 30px rgba($color-body, .15);
    box-shadow: 0 0 30px rgba($color-body, .15);
    .blocserv-ttl:after {
    	display: block;
      content: "";
      width: 4%;
      height: 2px;
      background-color: $color-font-body;
		  margin-top: 5px;
    }
}
a.blocserv {
    -webkit-transition: box-shadow .3s ease;
    -webkit-transition: -webkit-box-shadow .3s ease;
    transition: -webkit-box-shadow .3s ease;
    transition: box-shadow .3s ease;
    transition: box-shadow .3s ease, -webkit-box-shadow .3s ease;
    &:focus,
    &:hover,
    &:active {
        color: $color-font-body;
        -webkit-box-shadow: 0 0 5px rgba($color-body, .15);
        box-shadow: 0 0 5px rgba($color-body, .15);
    }
}

.blocserv-left {
    position: relative;
    overflow: hidden;
    padding-left: 2rem;
    color: $color-font-body;
    background-color: rgba($color-important,0.8);    
}


@media only screen and (max-width : 767px) {
	.blocserv-left {
	    position: relative;
	    overflow: hidden;	    
	    color: $color-primary;
	    background-color: $color-secondary;    
	}
}



.blocserv-right {
    color: $color-font-body;
    background-image: url('../images/homepage/bg-concept.jpg');
    background-color: darken($color-primary,2);        
    .blocserv-ttl {
        // margin: 2rem 0 1rem 0;
        color: $color-font-body;        
        text-transform: uppercase;
        &:after {
  	    	display: block;
          content: "";
          width: 10%;
          height: 2px;
          background-color: $color-important;
          margin-top: 5px;
	    }
    }    
}

.blocserv-right-blanc {
    color: $color-font-body;
    background-image: url('../images/homepage/bg-concept-blanc.jpg');
    background-color: darken($color-primary,2);        
    .blocserv-ttl {
        // margin: 2rem 0 1rem 0;
        color: $color-font-body;        
        text-transform: uppercase;
        &:after {
          display: block;
          content: "";
          width: 10%;
          height: 2px;
          background-color: $color-important;
          margin-top: 5px;
      }
    }    
}

//------------------------------------------------------------------------------------------------
//		LISTING PA
//------------------------------------------------------------------------------------------------

	//------------------------------------------------------------------------------------------------
	//		REFINER
	//------------------------------------------------------------------------------------------------

.recherche-mobilefirst .moteur-mobilefirst.has-bg {
	background-color: $color-content;
}

.accordion-heading {
	background-color: $color-important;
	a {
		color: $color-body;
	}
}

.recherche-ligne-tri-pages {
  display: none !important;
}

#estimation-sidebar {
  display: none !important;
}

.accordion-heading {
  background-color: darken($color-block,10);
  a {
    color: $color-action;
  }
}

.recherche-ttl {
  display: none;
}
