// VAR COLORS
$color-body:#fff;
$color-content:#1a1a1a;
$color-block:#fff;
$color-primary:#fff;
$color-secondary:#e7e8ea;
$color-action:#d83d3b;
$color-important:#fff;
$color-nav-footer:#221f1f;

$color-footer:#000;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#221f1f;