// VAR COLORS
$color-body:#fff;
$color-content:#f3f3f3;
$color-block:#151d78;
$color-primary:#fff;
$color-secondary:#151d78;
$color-action:#7894dd;
$color-important:#7894dd;
$color-nav-footer:#151d78;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#151d78;