/* CSS POUR MOTEUR, MINIMOTEUR */
/* MINI MOTEUR */
#bloc-moteur {background:#960329; overflow:hidden; padding-top:15px; height:324px;}
#bloc-moteur .ajaxLoader {width:100%;text-align:center;}
#bloc-moteur .miniDiv {float:none;margin:0;padding:0;width:200px;}
#bloc-moteur .miniDivInfos {clear:both;width:100%;margin-top:5px;font-weight:9px;}
#bloc-moteur .miniBlocTitre {display:block;clear:both;text-align:left;width:87%;font-size:14px;line-height:9px;padding:0 0 5px 0; color:#fff;}
#bloc-moteur .miniBlocSelection {text-align:left;margin-left:0px;width:auto;line-height:12px;}
#bloc-moteur .miniBlocSelectionImage {float:left;text-align:center;margin-left:0px;width:60%;line-height:12px;}
#bloc-moteur .miniForm, #bloc-moteur .miniFormInput {margin:0 0 9px 0;background:#fff;width: 200px;border:1px solid #656363;font-size:11px;height: 20px; padding:2px;color:#77757f;}
#bloc-moteur #MiniInputBudgetMax{float:left;}
#bloc-moteur .miniForm option{padding-left:3px;}
#bloc-moteur .miniFormInput {width:93px;float:left;height:16px;}
#bloc-moteur .miniBouton {font-weight:bold;margin:5px 0 10px;border:none;font-size:14px;color:#fff;background: #960329;cursor: pointer;width:200px; height: 31px; box-shadow:1px 1px 4px #000;}
#bloc-moteur .divOff {display:none;}
#bloc-moteur #Mini_Send {float:right;position:relative;top:0;right:0;}
#bloc-moteur #Mini_Send .miniBlocTitre{background:none;}
#bloc-moteur #Mini_Moteur{height: 30px;width:200px;margin:0 auto;text-align:left;}
#bloc-moteur #Mini_Transaction{margin:0;padding:0;}
#bloc-moteur #Mini_Suggest{float:left;position:relative;padding:0;}
#bloc-moteur #Mini_Biens{padding:0;}
#bloc-moteur .miniBlocSelection #MiniLabelListe{width:63px;float:left;padding-right:15px;}
#bloc-moteur #Mini_Budget{width:208px;}
/* MOTEUR */
#Moteur{margin:20px 0 0 0;}
.moteurMargin{margin:15px 0 0 0;}
.moteurComment{color:#960329;}
#Moteur h1{font-weight:bold;}
#Moteur h2{font-weight:bold;font-size:13px;}
#Moteur h3{font-weight:normal;font-size:12px;color:#333;border-bottom:1px solid #960329;padding:0 0 5px 0;}
#Moteur h3 strong{font-weight:bold;color:#960329;}
#Moteur h4{font-style:italic;color:#960329;}
#Moteur .moteurTable{width:98%;}
#Moteur .moteurTable td{width:100%;vertical-align:top;}
#Moteur .moteurTable .col1{width:32%;padding:20px 0 0 0;}
#Moteur .moteurTable .col2{width:32%;padding:20px 0 0 3%;}
#Moteur .moteurTable .col3{width:30%;padding:20px 0 0 3%;}
#Moteur .moteurTable ul { margin: 0; padding: 0; }
#Moteur .moteurTable ul li{padding:5px;margin:2px 0;background:#f7e9cb; list-style-type: none; }
#Moteur .moteurTable ul li#idtypebien_1{margin:0;}
#Moteur .moteurTable ul li#idtypebien_2{margin:2px 0 0 0;}
#Moteur .moteurTable ul li#nb_pieces,
#Moteur .moteurTable ul li#nb_chambres,
#Moteur .moteurTable ul li#InputSurfaceTerrain{padding:5px 5px 5px 20px;background:#f1dfb9;margin:0;}
#Moteur .moteurTable ul li#InputSurfaceTerrain{margin:-2px 0 0 0;}
#Moteur .inputText{padding:1px 2px;margin-top:3px;}
#Moteur .inputSelect{font-weight:normal;color:#960329;font-size:12px;padding:0 0 0 5px;background:#ececec;border:1px solid #ccc;}
#Moteur .inputTextarea{font-weight:bold;margin:0 0 10px 0;padding:1px 2px;}
#Moteur .inputText,
#Moteur .inputTextarea{border:1px solid #cdba93;color:#000;font-size:12px;background:#fff;}
#Moteur .inputText{width:100px;}
#Moteur .inputSelect{width:300px;}
#Moteur .inputTextSpan{padding:0 5px;}
#Moteur #ref_ann{padding:0 0 20px 0;border-bottom:1px solid #960329;}
#Moteur #ref_ann .inputText{width:300px;}
#Moteur #cp1,
#Moteur #cp2,
#Moteur #cp3,
#Moteur #cp4{display:block;width:280px;margin:0 0 5px 0;}
#Moteur #MoteurVilles.miniDiv{height:50px;}
#Moteur #MoteurVilles li{display:block;float:left;width:30%;padding:5px;margin:2px 1% 2px 0;}
#Moteur #MoteurBouton{text-align:right;}

#Moteur .alerteBtModif{cursor:pointer;border:none;font-size:16px;font-weight:bold;padding:3px 20px 5px 20px;*padding:3px 20px;}
#Moteur .preValid{padding:20px 0;}
#Moteur .preValid a{font-weight:bold;text-decoration:underline;margin:0 35px 0 0;cursor:pointer;}
#Moteur .preValid a:hover{text-decoration:none;}
.miniTitre {margin:0 0 5px 0;color:#fff; text-transform: none; }
#Mini_Geoloc {height:34px;}
#MiniLabelListe, #MiniLabelCarte {float:left;color:#fff;}
#Mini_Geoloc .miniBlocTitre {text-align: left;margin:0 0 5px 0;}
/*#Mini_Suggest .miniBlocTitre {display:none;}*/
/* MOTEUR COMMERCE */
h3.comselec {
    border-bottom: 1px solid #960329;
    color: #333333;
    font-size: 12px;
    font-weight: normal;
    padding: 0 0 5px;
}
h2.selecsoustitre {
    font-size: 13px;
    font-weight: bold;
}
#Moteur #MoteurBouton .inputSubmit{padding:5px;font-size:16px; margin:10px 0 0 0;color:#fff;background:#960329;width:auto; text-transform: uppercase; border: none; cursor:pointer; }
ul li.comlist {
    background: none repeat scroll 0 0 #ECECEC;
    list-style-type: none;
    margin: 2px 0;
    padding: 5px;
}