@font-face {
    font-family: 'ArialNarrowRegular';
    src: url('$$_$$styles/typos/arialn-webfont.eot');
    src: url('$$_$$styles/typos/arialn-webfont.eot?#iefix') format('embedded-opentype'),
         url('$$_$$styles/typos/arialn-webfont.woff') format('woff'),
         url('$$_$$styles/typos/arialn-webfont.ttf') format('truetype'),
         url('$$_$$styles/typos/arialn-webfont.svg#ArialNarrowRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body { margin:0;padding:0;background:#f1dfb9;text-align:center;}
div,td { font-family: 'ArialNarrowRegular', Arial, Helvetica, sans-serif;font-size:14px;color:#000;}
img { border:none;display:inline;}
table  { border-collapse:collapse;border-spacing:0;}
td, th { padding:0;}
form { padding:0;margin:0;}
input, select { vertical-align:middle;}
a { text-decoration:none;color:#960329;}
a:hover { color:#000;text-decoration:none;}
p { margin:10px 0;}

.clear1 { clear:left; }
.clear2, .clear { clear:both;}
.fleft { float:left;}
.fright { float:right;}
.rouge{color:#960329;}
/*--------------------------------------------*/

#wrapper { width:100%;background:url($$_$$images/skin/bg.gif) repeat-x #f1dfb9;}
#wrap { position:relative;width:960px;margin:0 auto;background: none;text-align:left;}

.logo { height:153px; padding-left: 0; }
.link-head { padding-top:5px;color:#960329; text-transform: uppercase; font-size: 12px;}

.link-head { color:#960329; text-transform: uppercase; font-size: 12px; }
#menu_head{float: right; color: #960329;margin-top:3px; font-size: 12px; }
.link-head div strong { background:url($$_$$images/skin/home.png) no-repeat;padding-left:15px;}
.link-head div strong a { text-decoration:underline;color:#960329;}

/*.link-head { width:180px;float:right;}*/
.link-head ul li { list-style-type:none;margin:0;padding:0;}
.link-head .MenuLangue .txtLi, .link-head .menuLangue .menuLangueBg, .link-head .menuLangue .menuList, .link-head .menuLangue .arrowDown { margin:0;line-height:15px;color:#81959f;font-size:12px;list-style-type:none;}
.link-head .menuLangue { float:right;}
.link-head .menuLangue {margin:0;padding:0;}
.link-head .menuLangue .arrowDown{margin-top:0px;}
.link-head .menuLangue .menuLangueBg{margin-left:5px;}
.link-head .menuLangueBg_ { margin:0 5px 0 5px;}

.link-head #containerMenu { display:inline;}
#containerMenu .txtLi {color:#000; text-transform: uppercase; font-size: 12px; }

#m_main { width:715px;background:url($$_$$images/skin/bg_mn.gif) repeat-x;height:35px; margin-top: 65px; }
#m_main ul {margin:0;padding:0;}
#m_main ul li {float:left; list-style-type:none;background:url($$_$$images/skin/sep_menu.png) left no-repeat;height:35px;position:relative;z-index:999;}
#m_main ul li a { display:block; color:#fff;font-size:15px;line-height:35px;padding:0 26px;}
#m_main ul li a:hover, #m_main ul li:hover > a {color:#fff;display:block; background: #c1022c; }

#m_main ul li ul {display:none;position:absolute;background:#c1022c;z-index:999;padding:15px 0;margin:0; width:210px; left:0;top:35px;}
#m_main ul li ul li{display:inline; float:none; text-align:left;background:none;height:auto; margin:0; padding:0;}
#m_main ul li ul li a {padding:0 10px; font-size:12px;}
#m_main ul li ul li a:hover {background:#960329;}



#bloc-mot { width:290px;margin:0 auto;}
/*fin sous-menu*/

#main-content { width:960px;text-align:left;margin:0 auto;padding:10px 0;}
#main-navigue { width:960px;background:#e1d0ad;}
#navigue { width:940px;padding:15px 0;min-height:400px;margin:0 auto;}

#bloc-cdc {width:675px;}
#bloc-cdc .tab { width:674px;background:#445f6f;}

#bloc-flash { position: relative; width: 278px; }
.txt-fls { position: absolute; text-transform: uppercase; font-size: 16px; bottom: 15px; left: 12px; color: #fff; }

.bloc-txt { width:298px;padding: 0 0 0 22px;line-height:18px; text-align:justify; }
.ttl-txt { font-size:18px; text-transform: uppercase; color: #960329; }
.link-index { color: #960329; }

.bg-simul, .bg-frais, .bg-estim { background: url($$_$$images/bg_simul.gif) no-repeat; width: 298px; height: 80px; cursor: pointer; }
.bg-frais { background: url($$_$$images/bg_frais.gif) no-repeat; }
.bg-estim { background: url($$_$$images/bg_estim.gif) no-repeat; }
.b-simul { width: 230px; text-align: right; padding-top: 30px; font-size:18px; text-transform: uppercase; }
.b-simul span { font-style: italic; text-transform: none; display: block; font-size: 14px; }
.b-simul strong { font-weight: normal; color: #960329; }

.prod-index { width:595px;margin-top:27px;}
.prod a {color:#fff; text-decoration:underline;}
.prod { width:188px;margin-bottom:8px; background: #960329; border: 1px solid #77001f; text-align: justify; min-height: 335px; }
.pad-right { margin-right:12px;}
.wrap-prod { width:170px;margin:0 auto;font-size:14px;color:#fff;}
.ttl-prod { color:#fff;font-size:18px; text-transform: uppercase; text-align:center; }
.bord-bot { border-bottom:1px dashed #fff; padding-bottom: 10px; }
.font-index { text-align: center; color: #fff; font-size: 16px; text-transform: uppercase; }

#page_int  h2 {margin:20px 0 0 0; font-weight:normal; color:#c00000; font-size:16px;}
#page_int h2 + p {margin-top:0;}

/*accordeon*/
.xxy1, .xxy2,.xxy3 { display:none;}

/*slide pub*/
#slidepub {
    text-align:left;
    position:fixed;
    margin:0px;
    padding:0px;
    top:135px;
    left:-128px;
    z-index:99999;
    display:block;
    width:170px;
    height:142px;
    opacity:1.0;
    background-color:#e1d0ad;
    background-repeat:no-repeat;
    background-position:center;
    -webkit-box-shadow:2px 2px 2px #aaa;
    -moz-border-radius:0px 10px 10px 0px;
    -webkit-border-bottom-right-radius:10px;
    -webkit-border-top-right-radius:10px;
    -khtml-border-bottom-right-radius:10px;
    -khtml-border-top-right-radius:10px;
    border: 1px solid #cdba93;
    border-radius: 0 10px 10px 0;
}

#slidepub2 {
    text-align:left;
    position:fixed;
    margin:0px;
    padding:0px;
    top:300px;
    left:-128px;
    z-index:99999;
    display:block;
    width:170px;
    height:90px;
    opacity:1.0;
    background-color:#e1d0ad;
    background-repeat:no-repeat;
    background-position:center;
    -webkit-box-shadow:2px 2px 2px #aaa;
    -moz-border-radius:0px 10px 10px 0px;
    -webkit-border-bottom-right-radius:10px;
    -webkit-border-top-right-radius:10px;
    -khtml-border-bottom-right-radius:10px;
    -khtml-border-top-right-radius:10px;
    border: 1px solid #cdba93;
    border-radius: 0 10px 10px 0;
}

.left-slide { width:120px;padding-left:4px;}
.left-slide a { display:block;color:#960329;}
.right-slide { padding-top:5px;}
.pic-mobile { background:url($$_$$images/slide/pic_mobile.png) no-repeat;padding-left:35px;}
.pic-rss { background:url($$_$$images/slide/pic_rss.png) no-repeat;padding-left:35px;}
.pic-apple { background:url($$_$$images/slide/pic_apple.png) no-repeat;padding-left:35px;}

a.pic-arrow { background:url($$_$$images/slide/arrow.png) no-repeat 0 10px;padding-left:15px;border-bottom:1px solid #f1dfb9;color:#960329;margin-bottom:5px;}
a.bord-none { border:none;}
.pic-res a { padding-right:6px;display:block;margin:5px 0 10px 0; }
/* fin slide-pudb*/

/*footer*/
.bg-footer {clear:both;width:100%;background:url($$_$$images/skin/bg_footer.gif) repeat-x #f1dfb9; padding: 25px 0; text-align: center; color: #960329; font-size: 11px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; }

/*adds CSS*/
.ttl-pages { color:#960329;font-size:18px;text-transform:uppercase;}
/* RETOUR HAUT */
.retourHaut {float:right;margin:5px 0 0 0;padding:0;font-size:11px;font-weight:bold;}
.retourHaut a {color:#960329;text-decoration:none;}
/*FOOTER REFERENCEMENT*/
.leftreffooter{float:left;}
.conteneurfoot{margin:auto;width:960px;}
.contentblocklink{float:right;margin-bottom:10px;}
.blockcol{float:left;margin-left:30px;text-align:left;}
.footerlink h4{color:#fff; font-weight:normal;margin:0;padding:0;margin-top:10px;font-size:1.2em;}
.footerlink{float:none;}
.footerlink a{display:block;font-size:0.8em;color:#ccc;}

.bloc_actu h2{font-size: 16px; background: #f1dfb9; padding: 2px 5px;}
.bloc_actu {margin: 10px 0; padding-bottom: 10px; border-bottom: solid 1px #c1022c;}
