.TableDetail
{
	width:100%;
	text-align:center;
}

.TableDetail td
{
	text-align:center;
}

.TotalAnnonce {
width:100%;
}

.BoiteAnnonce {
	border-width: 0px;
}

.DetailLibelleetPrix {
	background:url($$_$$images/PxFondVt.gif) repeat-x #D1591C;
	color:#FFFFFF;
	font-weight:bold;
}

.DetailInfoTitre{
	background:none;
	padding:0;
	margin:5px 5px;
}

.DetailInfoComplementaire{
	background:url($$_$$images/PxFondVt.gif) repeat-x #D1591C;
}

.DetailInfoComplementaire td{
color:#FFFFFF;
font-weight:bold;
text-align:left;
}

.DetailImprimer {
	border:1px solid #FFF;
}

.DetailVisuels360 { 
	
}

