/* $$DYN:ID3:NOFOOTER$$ */
/* =================== */
#ConteneurAnn{
text-align:center;
}
#Legende {
margin-bottom:10px;
text-align: left;
}
.Phrase {
	color: #ffffff;
}
.NbAnnonces {
	color: #ffffff;
}
.ResultatTri {
	color: #D7AC7D;
}
.TitreAnnonce {
	display: block;
	overflow: hidden;
	padding : 0;
	margin : 0;
	background-image: url($$_$$img/fondtitre_trio.gif);
	background-repeat: no-repeat;
	height:20px;
}
div {
	font-size: 11px;
  font-family: Verdana, Arial, Helvetica, sans-serif; 
}
div.TitreAnnonce {
	margin-left: 4px;
}
div.RechercheLibelle {
	float: left;
	font-weight: bold;
	font-size:11px;
	padding-left : 18px;
	padding-top : 3px;
	text-transform: uppercase;
	color: #FFF;
	display: inline;
}
div.TitreCP {
	display: inline;
	float: left;
	padding-top : 3px;
	padding-left: 5px;
	font-weight: bold;
	font-size: 10pt;
	text-transform: uppercase;
	color: #892619;
	letter-spacing: -1px;
}
$$IF!:8:FORM:IDTT$$
.BoiteAnnonce {
	background-image: url($$_$$img/fond_trio.gif);
	background-position:bottom;
	font-style: normal;
	font-size: 10pt;
	border-color : #b9bcaa;
	border-style : solid;
	border-width: 1px;
	padding-top : 5px;
	margin-top: 5px;
	margin-left:2px;
	background-color: #ffffff;
}
.BoiteAnnonceExclusif {
	background-image: url($$_$$img/fond_trio.gif);
	background-position:bottom;
	font-style: normal;
	font-size: 10pt;
	width: 10em;
	height: 12em;
	border-color : #b9bcaa;
	border-style : solid;
	border-width: 1px;
	padding-top : 5px;
	margin-top: 5px;
	margin-left:2px;
}
.RechercheExclusif {
	display: block;
	width: 100px;
	height: 100px;
	padding: 0px;
	margin: 0px;
	position:absolute;
	background-image: url($$_$$img/classic_exclusif_fr.gif);
	background-repeat: no-repeat;
  z-index: 20;
	top:26px;
	left:26px;
}
.CoupDeCoeur {
	font-style: normal;
	font-size: 10pt;
	color: #ff9400;	
}
$$END$$
$$IF=:8:FORM:IDTT$$
.BoiteAnnonce {
	display: block;
	font-style: normal;
	font-size: 10pt;
	border-color : #d8dbc6;
	border-style : solid;
	border-width: 1px;
	background-color: #ffffff;
}
.Exclusif {
	background-color : #e3eca4;
}
$$END$$
.ligne1 {
	display: block;
	float: left;
	font-style: normal;
	font-size: 10pt;
	text-align: left;
$$IF!:8:FORM:IDTT$$
	padding-left: 3px;
$$END$$
}
.Icones {
	display: block;
	float: left;
	width:80px;
	text-align: left;
}
.ligne2 {
	
	font-style: normal;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
}
.ligne3 {
	font-style: normal;
	font-size: 10pt;
	text-align: left;
	margin-left: 2px;
	margin-right: 2px;
}
.ligne4 {
	float: left;
}
.ligne5 {
	padding-left: 10px;
}
.ligne6{
text-align:left;
width:100%;
}
.RecherchePlusInfo {
	width:110px;
	float:left;
	overflow: hidden;
	padding: 0;
	margin: 0;
	padding-left: 2px;
	background-image: url($$_$$img/loupe_trio.gif);
	background-repeat: no-repeat;	
	border-style: solid;
	border-width: 1px;
	border-color: #AA8863;
	background-color: #E1DAB8;
}


.RecherchePlusInfo span {
	position: relative;
	left: 15px;
	color: #E5224B;
	font-weight: bold;
	font-size:10px;
	text-transform: uppercase;
}
.RecherchePlusInfo a:hover{
text-decoration:none;
}

.RecherchePlusInfo img {
	display: none;
	visibility: hidden;
}

.RechercheLocRenvoiVente {
	display: none;
	visibility: hidden;
}
.RecherchePanier span {
	position: relative;
	bottom: 10px;
}

.RecherchePanier a {
	color:#000000;
	text-decoration:none;
}

.RecherchePanier a:hover {
	color:#E5224B;
	text-decoration:none;
}

.RechercheVisuels360 {
	position: relative;
	bottom: 1px;
	padding-left: 2px;
}
.RechercheVisuels360 span {
	position: relative;
	bottom: 10px;
}

.RechercheVisuels360 a{
	color:#000000;
	text-decoration:none;
}

.RechercheVisuels360 a:hover{
	color:#E5224B;
	text-decoration:none;
}

.RechercheVisuelsLien {
	display: none;
	visibility: hidden;
}
.RechercheHaut {
	display: none;
	visibility: hidden;
}

.TablePanier {
	background-color: #C8D1E0;
	text-align: center;
}
.RechercheVisuelsPhoto img {
	display: block;
	border-style: solid;
	border-width: 1px;
	border-color: #FFC579;
	width: 10em;
	height: 7em;
	overflow: hidden;
	z-index: 20;
	margin-top:4px;
}
	
.RechercheVisuelsPhotoLien {
	display: none;
	visibility: hidden;
}

.RechercheVisuelsPhoto {
	z-index:0;
	float:left;
	display:inline;
}


.RechercheExclusif span {
	display: none;
	visibility: hidden;
}
.RechercheDescriptif {
	
	font-weight: normal;
	display: none;
	color: #504F4F;
	visibility: hidden;
}

.RechercheBoitePrestige {
  height: 13em;
}
.RechercheBoitePrestige img {
	width: 17em;
	height: 12em;
	overflow: hidden;
}

div.RechercheReference {
	display: inline;
	font-weight: bold;
	font-size: 10px;
	padding-top : 3px;
	text-transform: uppercase;
	color: #3C2A1D;
}
.RecherchePrixFranc {
	display: none;
	visibility: hidden;
}
.RechercheOptionLocVac {
	display: none;
	visibility: hidden;
}
.RechercheHonoraires {
	display: none;
	visibility: hidden;
}
.RecherchePrixAge {
	display: none;
	visibility: hidden;
}

.RechercheTelephone {
	display: none;
	visibility: hidden;
}
.RechercheFinancement {
	display: none;
	visibility: hidden;
}
.RecherchePrix {
	color:#3C2A1D;
	display: block;
	text-align: right;
	margin-left: 8px;
	margin-right: 2px;
	float:left;
}
.RechercheSituation {
	display: block;
	float:right;
	text-align: right;
	margin-left: 2px;
	margin-right: 2px;
}
.RechercheNbPersonnes {
	display: none;
	visibility: hidden;
}
.Equipement {
	display: none;
	visibility: hidden;
}
.RechercheBoitePrestigePhoto  {
	display: none;
	visibility: hidden;
}
.RecherchePrixLocVac {
	display: none;
	visibility: hidden;
}
.PubAlerte {
	display: none;
	visibility: hidden;
}
.Legende {
}
.BoitePhraseRecherche {
}		
.RechercheProximite {
	display: none;
	visibility: hidden;
}
.RechercheRefAnnonce {
	float: right;
	font-weight: normal;
	font-style: italic;
	color: #797777;
	margin-left: 2px;
	margin-right: 2px;

}
.RechercheDtFraicheur {
	display: none;
	visibility: hidden;
}
.RecherchePlan {
	display: none;
	visibility: hidden;
}
.RecherchePlanLocalite span {
	position : relative;
	bottom :10px;
}
.RechercheSituationLien {
	display: none;
	visibility: hidden;
}
.RechercheSituationCP {
	display: none;
	visibility: hidden;
}
.RechercheSituationProximite {
	display: none;
	visibility: hidden;
}
.RechercheSituation2Titre {
	display: none;
	visibility: hidden;
}
.RechercheSituation2 {
	display: none;
	visibility: hidden;
}
.RechercheSurface {
	display: none;
	visibility: hidden;
}
.SansPhoto img {
	border-width: 1px;
	border-color: #504F4F;
	border-style: solid;
}

.RetourFluxNormal {
	clear: both;
}  
.RechercheSituationVille {
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	color: #3C2A1D;
	text-align: right;
}
.div.RechercheSituation {
	display: inline;
	vertical-align: right;
	float: right;
}
div.RecherchePrixFranc {
	display: inline;
	float: left;
}
.RecherchePlusInfoVille {
	display: none;
	visibility: hidden;
}
/* Boite Alerte Email */

.BoitePubAlerte {
	width: 98%;
	border-style: solid;
	color : #D3D2B2;
	border-width: 1px;
	border-color: #98662A;
	margin-top: 12px;
	padding-top: 5px;
	padding-bottom : 10px;
	padding-left: 5px;
	padding-right: 5px; 
	background-color: #560B08;
}
.BoitePubAlerte span {
	color : #ffffff;
	font-weight: bold;
	font-size: 12px;
	font-style: normal;
}
.AlerteIcone {
	display: none;
	width: 25px;	
	float: left;
}
.AlerteEmail a{
	font-weight: bold;
	font-size: 15px;
	font-style: normal;
	color: #ffffff;
	text-decoration: underline;
	float: left;
	padding-right: 10px;
}
.AlerteEmail a:hover{
	font-size: 15px;
	font-weight: bold;
	color : #ffffff;
	display: block;
	text-decoration: underline;
	float: left;
	padding-right: 10px;
}
.AlerteGratuit a {
	font-size: 12px;
	display: block;
	float: left;
	font-weight: bold;
	color : #ffffff;
}
.AlerteGratuit a:hover {
	font-size: 12px;
	display: block;
	float: left;
	font-weight: bold;
	color : #ffffff;
}
/*  Fin Boite Alerte Email */

/*  Pour afficher la fenetre lors du passage de la souris sur la photo de l'annonce */

.montrer {
	left:-38px;
	position:absolute;
	top:0px;
	width:220px;
	background-color:#FFFFFF;
	text-align:center;
	border:1px solid #1E445F;
	padding:10px;
	color:#000000;
}
.montrer img {
	border:1px solid #1E445F;
}


.cacher {
	display:none;
	visibility:hidden;
}
/* Fin de afficher la fenetre lors du passage de la souris sur la photo de l'annonce  */

/* Styles de la fenetre popup */

.ContenuPopup {
	text-align:left;
	width:95%;
	font-weight:bold;
	color:#242271;
	font-size:11px;
}
#DescrTxt {
 color:#000000;
 font-weight:normal;
}
#Ville {
	color:#242271;
	font-weight:bold;
}
#DescrTitre {
	color:#0C4BA3;
	font-weight:bold;
}
#close a{
	font-size:11px;
	font-weight:bold;
	color:#000000;
	text-decoration:none;
}
#close a:hover{
	font-size:11px;
	font-weight:bold;
	color:#000000;
	text-decoration:underline;
}

a.fermer {color:#000; text-align:none;}
a.fermer:hover{color:#C0003C; text-align:none;}

a.LienPhoto {color:#000; text-align:none;}
a.LienPhoto:hover{color:#C0003C; text-align:none;}

#LienPhoto a:link{
	font-size:10px;
	color:#000000;
	text-decoration:none;
}
#LienPhoto a:visited{
	font-size:10px;
	color:#000000;
	text-decoration:none;
}
#LienPhoto a:hover{
	font-size:10px;
	color:#000000;
	text-decoration:none;
}
/* Fin de Styles de la fenetre popup */
.NbPagesNb {
display: none;
}
.NbPagesNb {
display: none;
font-weight: bold;
padding-left : 0px;
color: #9EC8F1;
}
.NbPages {
	text-align:left;
}
.NbPagesHaut {
	display: block;
	align: right;
	height:5px;
}