/* Redefinitions des balises HTML */ 
*{margin:0;padding:0;font-size:12px;font-family:Arial, Helvetica, sans-serif; color:#363636;}
img{border:0}
.clear{clear:both;}
a{text-decoration:underline; outline:none; color:#A0DD42;}
a:hover{color:#A0DD42; text-decoration:none;}
hr{display:none;}
input,
textarea,
option{ color:#000;}
select{ color:#000; border:1px solid #363636;}
table{margin:0 auto;}
table tr td,
table tr td p
#milieu table tbody tr td{padding:5px 0px; text-align:left;}
* html input.alerte{background:#FFFFFF;}

/* --------Modification AR PLAN SITE-------- */    
body{background:#fff; color:#d7d7d7;}

/* Effet bordure (espace 5px) entre BG menu et bande BG site */ 
#header{ position:relative; width:993px; margin:0 auto; overflow:hidden;}
* html #header{ padding:0 0 3px 0;}

#global{ width:993px; margin:0 auto; color:#000;}

   
/* --------LOGO AGENCE-------- */
#LogoAgence { float:left; display:inline; width:222px; padding:0; margin:10px 0 3px 0;}
#LogoAgence img{ display:block; margin:0 auto;}


/* --------DRAPEAUX LANGUES FRANCAIS ET ANGLAIS-------- */ 		
/* Mettre en DISPLAY:NONE si pas d'option Anglais */
#Drapeaux { display:block; position:absolute; top:12px; left:50px; z-index:10;}
#Drapeaux img {margin-right:5px; }
#Drapeaux img:hover {}


/* --------TEXTE ACCUEIL--------*/ 
#textAccueil { position:relative; float:right; width:700px; padding:25px 0 0 8px; display:block; right:9px;}
/* Modification TITRE texte d'accueil */ 
#textAccueil h1{ font-size:18px; font-weight:bold; color:#A0DD42; padding:10px 0 0 0; letter-spacing:normal;}
#textAccueil h1 span{ font-size:24px; font-weight:bold; text-transform:none; color:#A0DD42; padding:0 0 4px 0; letter-spacing:normal;}
#textAccueil h4{ color:#fff; font-weight:bold; font-size:17px; padding:0 0 6px 0;}
/* Modification CORPS texte d'accueil */ 
#textAccueil p{ text-align:justify; font-size:12px; color:#363636; line-height:17px; display:block; padding:5px 0 10px 0; font-family:Arial, Helvetica, sans-serif;}
#textAccueil p strong{ color:#363636;}
#textAccueil a{ text-decoration:underline; color#363636;}
#textAccueil a:hover{ text-decoration:none; color:#363636;}

/* LOGOS: FNAIM & SIA */
#Partners{ position:absolute; top:25px; right:7px; text-align:center;}
#Partners span img{text-align:center; padding:2px 0;}

/* --------MARQUEE DEFILANTE-------- */
/* Modification COULEUR  MARQUEE */ 	
* html #RefMarqueNavig{width:700px;}

* html #RefMarque marquee{width:700px; margin:0;}
#RefMarqueNavig{ width:700px; height:0px; float:left; display:inline;color:#FFF; font-size:10px;background:none;margin:0 4px 0 0;}
#RefMarque{ width:700px; height:31px; float:left; display:inline;color:#d7d7d7; font-size:10px; background:#DBDBDB; margin:0 0 0 5px; padding:0 4px 0 0;}
* html #RefMarque{ width:700px;}
#RefMarque marquee{width:700px;margin:0; color:#d7d7d7; padding:8px 5px 8px 5px; font-size:11px;}
#RefMarque p{ font-size:12px; font-weight:bold; padding:8px 0 0 20px;}
#RefMarque marquee a {color:#d7d7d7; text-decoration:underline; font-size:11px;}
#RefMarque marquee a strong {color:#d7d7d7; font-weight:normal;}
#RefMarque marquee a:hover {color:#d7d7d7; text-decoration:none;}

/* ----- Moteur -----*/
h2.TitrePage{ color:#A0DD42; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}

/* --------MENU + FLUX RSS-------- */
/* Modification COULEUR + TAILLE fond MENU */
#remplissageMenu{ width:100%; background:#DBDBDB; min-height:44px;}		
* html #menuFlux{width:988px; background:#363636; height:44px; border-left:3px solid #fff; border-right:3px solid #fff;margin:0 auto;}
#menuFlux{width:988px; background:#363636; height:44px; border-left:3px solid #fff; border-right:3px solid #fff; margin:0 auto; position:relative}
#menu {float:right; display:inline; padding:14px 10px 11px 0;}
#menu li{ display:inline;color:#fff; font-size:15px; padding:0;}
#menu ul{ display:inline; margin:0 0 0 6px;}
#menu ul li.MenuSep{ color:#A0DD42;}
/* Modification COULEUR TEXTE MENU */ 
#menu a{ color:#A0DD42; text-decoration:none;font-size:14px; padding:3px 8px; font-weight:bold;}
#menu a:hover{color:#fff;}		
/* Modification FLUX RSS */ 		
#fluxRss{float:left; display:inline; padding:12px 25px 0px 20px; }
#fluxRss a{ font-size:11px; text-decoration:none; color:#fff; margin:0 0 0 4px; padding:0 0 0 5px;}
#fluxRss a:hover{ font-size:11px; text-decoration:underline;}
#fluxRss img{float:left; display:inline; vertical-align:middle; }


/* --------CONTENU SITE = ZONE DU MILIEU-------- */
/* Modification COULEUR ARRIERE PLAN CONTENU SITE */ 	
* html #milieu{height:250px;}
#milieu{width:984px;padding:24px 5px 10px 5px; min-height:250px; margin:0 auto;}
/* Positionnement bandeau image */ 
#visuel{float:left; display:inline; width:654px; margin:0 0 10px 0; padding:0;}		
/* Modification COULEUR BORDURE IMAGE */ 		
#visuel img{border:7px solid #363636; float:left;}
 

/*--------POSITIONNEMENT MINI MOTEUR-------- */ 
.miniMoteur{float:right;display:inline;width:220px;padding:0 0 0 42px;position:relative;background:url(../images/fontTitreMoteur.gif) 0 0 no-repeat;}		
/* Modification TITRE RECHERCHE */ 		
.miniMoteur h2{font-size:18px; font-weight:bold; color:#A0DD42;padding:12px 0 0 0;}
/* A NOTER !!!! Pour styliser les champs + bouton mini moteur VOIR == MINI_MOTEUR.CSS */ 


/* ----------- 3 COUPS DE COEUR ------------- */ 
#blocBas #coupCoeur{float:left;display:inline;width:715px;margin:0 50px 5px 0; }

/* ----------- LISTE TRANSACTIONS AGENCE ------------- */ 
#blocBas .nbrTransaction{float:right;width:200px; height:244px; margin:15px 10px 0 0; overflow:auto;}
/* Modification COULEUR "AUJOURD'HUI" */
	#blocBas .nbrTransaction h3{font-size:13px;font-weight:bold;padding:1px 0; color:#A0DD42;}
/* Modification COULEUR TYPE TRANSACTION */
#blocBas .nbrTransaction h4 {width:167px;font-weight:bold;font-size:13px;color:#363636;padding:10px 0 0 0; text-decoration:none;}
#blocBas .nbrTransaction h4 a{font-weight:bold; font-size:12px;color:#363636; text-decoration:none;}
#blocBas .nbrTransaction ul{list-style-type:none;margin:0 0 10px 3px; line-height:16px;}
/* Modification COULEUR TYPE DE BIEN */
#blocBas .nbrTransaction ul *{font-size:11px;color:#7e7e7e;}
#blocBas .nbrTransaction ul * a:hover{ text-decoration:none;color:#7e7e7e;}


/* -----------INCLUDE BAS------------- */ 

/* Modification COULEUR BANDE COORDONNEES */ 
.CoordonneesAgence {font-size:12px; background:#363636; height:35px; text-align:center; padding-top:13px; color:#FFF; font-weight:bold;}	
/* Modification BG footer portefeuille + menu secondaire */
.footerPosition{background:#DBDBDB; position:relative;width:984px;  padding:0px 0 15px 0; margin:auto; border-right:5px solid #fff; border-left:5px solid #fff;}
.porteFeuille{float:left;width:410px;padding-left:18px; padding-top:10px;}
.porteFeuilleEN{float:left;display:block;padding-left:0px;}
/* ARRIERE PLAN FOOTER */
#footer{ background:#DBDBDB; margin:0 auto; padding:0 0 0 1px;}
		
		
/* Modification couleur 2 TITRES FOOTER */ 
 #footer h4{font-size:12px;font-weight:bold;background:url(../images/puce.gif) left center no-repeat;padding:2px 0 1px 25px;line-height:19px;}
/* titre gauche : Notre portefeuille immobilier */
 #footer .porteFeuille h4{font-size:11px; color:#363636; margin-left:4px;}
/* titre droite : www.urldusite.com */
 #footer .menuSecondaire h4{font-size:11px; color:#363636; margin-left:4px;}
 #footer .menuSecondaire a{font-size:11px;color:#363636;text-decoration:none;}
 #footer .menuSecondaire a:hover{font-size:11px;color:#363636;text-decoration:underline;}

/* Modification couleur LISTE DES VILLES */ 
.porteFeuille .ListeVilles{width:520px;text-align:justify;line-height:13px;border:0;color:#6E2822; padding:4px 0 0 5px;}
.porteFeuille .ListeVilles *{color:#363636; font-size:11px;font-weight:normal;}
.porteFeuille .ListeVilles a{font-size:11px;color:#fff;text-decoration:none;}
.porteFeuille .ListeVilles a:hover{font-size:11px;color:#fff;text-decoration:underline;}
.porteFeuille .ListeVilles a strong:hover{color:#fff;}

/* Modification couleur MENU SECONDAIRE FOOTER (droite) */
/* FR */
.menuSecondaire{width:940px;font-size:12px;color:#fff; padding:10px 0 0 15px; float:left;}
.menuSecondaire p{padding:3px 0 0 5px; color:#363636; text-align:left; font-size:11px;}
.menuSecondaire p a{font-size:11px;color:#363636;text-decoration:none;}
#footer .menuSecondaire p span{ color:#363636;}
#footer .menuSecondaire p span a{ color:#363636;}
.menuSecondaire p a:hover{font-size:11px;text-decoration:underline;}
#footer .menuSecondaire span.sepSep{ color:#363636;}

/* EN */
.menuSecondaireEN{float:left; font-size:12px;color:#d0808e; padding:5px 10px;}
#footer .menuSecondaireEN h4{font-size:12px; color:#fff; font-weight:bold;}
.menuSecondaireEN p{padding:3px 0 0 5px; color:#d0808e; text-align:justify;}
.menuSecondaireEN p a{font-size:11px;color:#000;text-decoration:none;}
.menuSecondaireEN p a:hover{font-size:11px;color:#d0808e;text-decoration:underline;}
.menuSecondaireEN span.sepSep{ color:#d0808e;}




/* ----------------------------------------AUTRES PAGES DU SITE---------------------------------------- */

/* Page En Construction */
#EnConstruction{margin-top:70px; text-align:center;}


/* PAGE PLAN DU SITE = incl_plan-site.htm */  
.ul#Plan *{text-decoration: none; font-weight: bold;}
ul#Plan{padding:10px 0 60px 0; width:400px; margin:0 auto;}
ul#Plan li.plan{ color:#FFF; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}
ul#Plan li.planMenu,
ul#Plan li.planVentes{ border-bottom:none; color:#A0DD42;}
ul#Plan li.MenuSep{display:none;}
ul#Plan li{padding: 0.2em 0; border:none;}
ul#Plan .plan{padding: 0.2em 0;background:none;}
ul#Plan li a{color:#363636; background:#DBDBDB;padding:6px 0 0 10px;height:19px;font-size: 12px; border: 1px solid #363636; text-transform:uppercase;}
ul#Plan li a:hover{color:#FFF;padding-left:10px; height:19px;font-size: 12px; background:#363636; border: 1px solid #fff;}

/* Outils */
.ul#Outils *{text-decoration: none; font-weight: bold;}
ul#Outils{padding: 2em 8em; width:400px; margin:0 auto;}
ul#Outils li.list{padding: 0.2em 0px;background:none; margin:2px 0; border:none;}
ul#Outils li a{color:#363636; background:#DBDBDB;padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #363636; text-transform:uppercase;}
ul#Outils li a:hover{color:#FFF; border: 1px solid #fff;padding-left:10px; height:19px;font-size: 12px; background:#363636;}
#Outils li.titrePageOutils{ color:#A0DD42; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}

/*PAGES ESTIMATION + CONTACT + MESSAGE == TABLEAUX FORMULAIRES*/
.tabFond1{border-color:#00AA00; border-width:0; border-style:solid; padding:2px; font-family:Arial, Helvetica, sans-serif; width:100%;}
 textarea{width:600px; height: 100px;}
.tabFond2{border-color:#00AA00; border-width:1px; border-style:solid; padding:2px; font-size:14px; font-family:Arial, Helvetica, sans-serif;}
.tabTitre{ background:#363636; color:#FFF;font-family:Arial, Helvetica, sans-serif;;font-size:15px;font-weight:bold;letter-spacing:0;margin:10px 0;padding:5px;text-align:left;text-transform:uppercase;width:98%;}
.tabTitre *{color:#FFF; font-size: 14px;}
.tabPrint{color:#5C5E5D; font-size: 13px; font-family:Arial, Helvetica, sans-serif; border:1px solid #00AA00;}
.tabFond1 td input.imputForm,textarea.imputForm,input.imputForm{margin:3px; border:1px solid #363636;}
.tabFond1 td textarea{border:1px solid #363636;}
.tabFond1 table{ width:100%;}
strong.messageNomAgence,
strong.estimationNomAgence,.titreInfosLegales{ color:#A0DD42; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase; display:block;}

/*Résolution Bug IE8 = donner une taille aux bouton pour éviter tout décallage*/
.boutonEnvoi { width:120px; float:right; height:26px;}
.BoutonFormContact { width:120px; height:26px; float:right; border:none;}
.MoteurBouton input { width:120px; height:26px; float:right; margin-right:22px;}
td #ChampsBouton input {float:right; width:120px; height:26px; margin-right:12px;}
.tabFond1 input.BoutonFormRecherche { float:right; width:120px; height:26px; border:none;}		
#MiniBoutonInput{ width:175px; height:23px;}

/* GUIDE PRATIQUE = ACCES VIA LE LIEN DANS LA PAGE OUTILS*/
span.txtTitre3{ display:block; width:870px; color:#FFF; background:#6E2822; font-size:16px; font-weight:bold; padding:3px 5px; margin:10px 3px 3px 0;}
/* td.encadre span.gras{ display:block; width:882px; color:#FFF; background:#6E2822; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;} */
td.encadre{background-color:#FFF; border:2px solid #AAA; padding:3px; color:#000030; margin:0 0 0 -4px;}
.encadre .grasnews{ display:block; width:882px; color:#FFF; background:#6E2822; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;}
.encadre p .gras{ color:#FFF; background:#6E2822; display:block; font-weight:bold; text-transform:uppercase; padding:2px 3px;}
.encadre p{ color:#000;}

/* coup de coeur*/
* html .div-cdc{ height:264px;}
.div-cdc{width:232px; min-height:260px;float:left; border:1px solid #DBDBDB; margin:0 4px 0 0; background:#fff;}
.div-cdc *{ color:#000;}
.div-cdc .photo-cdc img{width:220px;height:139px;background:url(../images/bg_Img_Cdc.gif); border:1px solid #000;}
.photo-cdc{padding:5px 0 3px 5px;}
.div-cdc a span.ville-cdc{font-weight:bold;display:block; color:#000; font-size:14px;}
.div-cdc a span.typetransaction-cdc{color:#A0DD42; font-weight:bold; font-size:14px; text-transform:capitalize; text-decoration:none;}
.div-cdc a span.typebien-cdc{color:#A0DD42; font-weight:bold; font-size:14px; text-decoration:none;}
.div-cdc .nbpiece-cdc, .surface-cdc{font-weight:bold; color:#DBDBDB; font-size:14px;}
.div-cdc .contenu-cdc{padding:0 6px 4px 6px;}
.div-cdc .contenu-cdc *{color:#000;}
.div-cdc .contenu-cdc a{ text-decoration:none;}
.div-cdc .contenu-cdc a:hover{color:#A0DD42; text-decoration:underline;}
.div-cdc .descriptif-cdc{min-height:30px; font-size:11px; color:#7e7e7e; text-align:justify; text-transform:lowercase;}
* html .divc2c .descriptif-cdc{height:30px;}
.div-cdc p.prix-cdc{font-weight:bold;display:block; color:#A0DD42; font-size:14px;}
 
/* Mentions Legales */
#MentionsLegales{ color:#000;}
#MentionsLegales h2 {display: block; width: 99%; background:#363636; font-family:Arial, Helvetica, sans-serif; font-size: 14px; color:#fff;font-weight: bold;letter-spacing: 0;padding:3px 0 3px 8px;margin: 10px 0;text-align: left;text-transform: none;}

/*page detail*/
#AgenceContact td.detail_form_col2 { border:1px solid #363636; padding:10px 20px;}
#Outils_Ctn {border:1px solid #363636;margin:10px 0 0;padding:10px 20px;position:relative;}
#Galerie {background:#363636 none repeat scroll 0 0;border:4px solid #363636;}
#InfosAnnonce #InfosComp_Ctn #InfosComp p { background:#363636; border:1px solid #363636; color:#FFFFFF; float:left; font-size:11px; font-weight:bold; padding:6px; position:relative; width:30%;}
#AgenceContact form table#FormContact td#ChampsBouton #ChampsObligatoires{clear:both;}
/*page rresultat annonces*/
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .descr { color:#000;}
/**/


