// VAR COLORS
$color-body:#e7e6e6;
$color-content:#fff;
$color-block:#e7e6e6;
$color-primary:#38383a;
$color-secondary:#fd4400;
$color-action:#fd4400;
$color-important:#636567;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;