/*===== proprietes generales --*/
body{padding: 0px 0; text-align: center; color:#939DA6; font-family:Verdana, Arial, Helvetica, sans-serif; background:#2B3B4B; margin-top:68px;}
*{font-size: 12px; font-family:Verdana, Arial, Helvetica, sans-serif; padding: 0; margin: 0;}
a{font-weight: bold; color: #6EACE5; text-decoration:none;}
a:hover{color: #FFFFFF; text-decoration:none;}

/*================ PROPRIETES SITE ================*/
#Page{margin: auto; width: 1030px; text-align: left; background:url(../images/fond-site.jpg) repeat-y; position:relative;}
#Top{background:url(../images/fond-top.jpg); height:50px; text-align:right; position:relative;}
#LienTop{height:18px; padding-top:20px; font-size:10px; color:#959CA4; text-align:right; padding-right:36px; position:absolute; right:6px; top:15px; z-index:100;}
#LienTop img{}
#LienTop a{font-size:10px; color:#939DA6; font-size:10px; font-weight:normal; padding-left:5px;}
#LienTop a:hover{color:#6EACE5; font-size:10px;}
#Flash{ position:absolute; width:100%; top:-18px; left:0px;}
#FlashPosition{ position:relative;width:100%;height:129px; margin-left:29px; padding-bottom:18px;}
#PageSite{width:972px; margin-left:23px; background:url(../images/trait1.gif) top right no-repeat; padding-top:30px; display:table;}
#Menu{ width:186px; float:left; display:table; position:absolute; left:30px; top:220px; z-index:100;}
#Menu ul{list-style-type:none;width:186px;}
#Menu li{color:#959CA4;font-weight:bold;font-size:11px; background:url(../images/ligneMenuVertical.jpg) no-repeat 18px 100%; line-height:30px; padding-left:23px;}
#Menu .exep{color:#959CA4;font-weight:bold;font-size:11px; background:none; line-height:30px; padding-left:23px;}
#Menu a{ color:#939DA6; font-size:10px;}
#Menu a:hover{ color:#84A8E4;}
#Contenu{width:786px; float:right; min-height:435px; _height:435px; color:#939DA6;}
#Logobas{position:absolute; top:344px; right:-64px; z-index:10;}
#ContenuAccueil{ width:725px; height:391px; border:1px solid #939DA6; background:url(../images/fond-texte.jpg) repeat-x #1D3547; margin-left:4px;}
#TexteAccueil{ width:371px; float:left;}
#TexteAccueil p{ padding-top:15px; padding-left:27px; padding-right:50px; color:#FFFFFF; text-align:left;}
#TexteAccueil img{ margin-top:15px; margin-left:27px; border:1px solid #737F8A;}
#TexteAccueil p strong{ color:#6EACE5;}
#BlocPhoto{ width:352px; height:389px; float:left; color:#939DA6; background:url(../images/coin.jpg) no-repeat bottom right; position:relative;}
#PhotoAccueil img{ margin-top:35px;}
#Footer{ background:url(../images/embrebas.jpg) no-repeat; height:63px;}
#Adressebas{text-align:right; padding-right:210px; text-align:right; color:#DBE3D7}
#Fleure{ position:absolute; left:-32px; top:-60px; z-index:1; width:278px; height:462px;}
#NousSituer{ width:148px; height:20px; background:url(../images/fnd-situer.jpg); text-align:center; line-height:18px; margin-bottom:10px;}
#NousSituer a{ font-size:12px; color:#6EACE5; font-weight:bold;}
#NousSituer a:hover{ font-size:12px; color:#fff; font-weight:bold;}
#Drap{ position:absolute; width:72px; height:63px; z-index:1; background:url(../images/fnd-drap.jpg) no-repeat top right; top:205px; right:31px!important; right:58px; text-align:center;}
#Drap img{ margin-top:5px; margin-left:2px;}
#DrapNav{ position:absolute; width:160px; height:63px; z-index:1; background:url(../images/fnd-drap1.jpg) no-repeat top right; top:205px; right:31px!important; right:60px; padding-right:5px; text-align:right;}
#DrapNav img{ margin-right:8px; margin-top:6px;}
.Seloger{ color:#DBE3D7; text-align:right; padding-top:30px; padding-right:30px;}
.Seloger a{ color:#DBE3D7;}
.Seloger a:hover{ color:#82A8E6;}
.messageNomAgence{ color:#FFFFFF; display:block; text-align:center; font-size:14px;}
.estimationNomAgence{ color:#FFFFFF; display:block; text-align:center; font-size:14px; height:30px;}
#EnConstruction h5{ color:#6EACE5;}

/* ============================   Defiscalisation    =========================*/

#defiscalisation { float:left; display:inline; padding:6px; }
#defiscalisation h2{ font-size:16px; text-align:center; font-weight:bold; color:#6EACE5; margin:5px 0;}
#defiscalisation h3{ font-size:14px; font-weight:bold; color:#FFFFFF; margin:5px 0;}
#defiscalisation h4{ font-size:13px; font-weight:bold; color:#5D7591;margin:5px 0;}
#defiscalisation ul{ display:inline;}
#defiscalisation p{ margin:5px 0;}

/* ============================   Liste ville       =========================*/
.ListeVilles{color:#020348; font-size:11px; font-weight:bold; padding-right:10px;}
.ListeVilles strong{font-size:11px; font-weight:bold; color:#020348;}
#Ville{ padding-left:50px;}
#Ville a strong { color:#020348; font-weight:normal;}
#Ville a:hover strong{ color:#890101; text-decoration:underline; font-weight:normal;}

/* ======================    Mini moteur      ===========================*/
.MiniMoteur{ width:399px; height:265px; float:left; background:url(../images/fond-mouteur.jpg) no-repeat;}
.tabTitremini{font-size:10px; text-align:left; color:#020348; padding-left:40px; width:100px;}
.tabMoteur td{padding-bottom:4px; color:#020348; font-size:11px;}
.tabFond2mini{ color:#fff; font-size:11px; text-align:left;}
.surface{width:36px; height:12px; background:#C7CED7; border:1px solid #5C919C; color:#840000; font-size:10px;}
.budget{width:36px; height:12px; background:#C7CED7; border:1px solid #5C919C; color:#840000; font-size:10px}
.proximite{width:186px; height:19px; border:none;background:#D4C08A;color:#840000;}
.nb_pieces{margin-left:7px; margin-right:7px;color:#97232B; font-size:10px}
.typeBien{width:157px; height:16px; background:#C7CED7; border:1px solid #869BB9; color:#840000; font-size:10px}
.Form{width:157px; height:16px; background:#C7CED7; border:1px solid #5C919C; color:#840000; font-size:10px}
.piece{width:76px; height:16px; background:#C7CED7; border:1px solid #5C919C; color:#840000; font-size:10px}
.euro{background:#fff; color:#840000; border:none;height:19px;}
.Minienvoye{ padding-left:40px;}

.tabFond1{border-color:#203B41; border-width:0; border-style:solid; padding:2px; font-family:Verdana, Arial, Helvetica, sans-serif; color:#939DA6;}
.tabFond2{border-color:#203B41; border-width:1px; border-style:solid; padding:2px; font-size:11px; font-family:Verdana, Arial, Helvetica, sans-serif;  color:#000;}
.tabTitre{background:#545F6C; height:25px; color:#FFFFFF; font-size: 11px; font-weight: bold; font-family:Verdana, Arial, Helvetica, sans-serif;padding-left:5px;}
.tabCouleur{background:#545F6C; border-color:#555555; height:23px; border-width:1px; border-style:solid; padding:2px; color: #FFFFFF ;}
#annonces{ margin-left:60px;}
.selection{ margin-left:50px; margin-bottom:10px; color:#F8DD00;}

/* ==================    Outils.htm      =======================-*/
ul#Outils li.list{border-bottom: 1px solid #818181;}
ul#Outils{margin: 10px 100px; list-style: none; border-top: 1px solid #818181;}
ul#Outils li a{ color:#939DA6; padding-left:5px;}
ul#Outils li a:hover{color:#8DB0EA;}

/* ==================   Plan.htm    ==========================*/
.plan{ color:#82AAE2; border-bottom:1px solid #818181;}
ul#Plan li ul li.subList{border-top: 1px dashed #818181; border-bottom: none;}
ul#Plan li{padding: 0.3em 0; border-bottom: 1px solid #818181;}
ul#Plan li.planAnnonces{border-bottom: 1px solid #890101; font-size: 1.6em;}
ul#Plan li a{ color:#939DA6; padding-left:10px;}
ul#Plan li a:hover{ color:#8DB0EA;}
