@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rivr4');
  src:  url('fonts/icomoon.eot?rivr4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rivr4') format('truetype'),
    url('fonts/icomoon.woff?rivr4') format('woff'),
    url('fonts/icomoon.svg?rivr4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="aito-icon-"], [class*=" aito-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.aito-icon-key:before {
  content: "\e900";
}
.aito-icon-search:before {
  content: "\e901";
}
.aito-icon-eye:before {
  content: "\e902";
}
.aito-icon-phone:before {
  content: "\e903";
}
.aito-icon-mail:before {
  content: "\e904";
}
.aito-icon-shop:before {
  content: "\e905";
}
.aito-icon-alert:before {
  content: "\e003";
}
.aito-icon-arrow-down:before {
  content: "\e5c5";
}
.aito-icon-photo:before {
  content: "\e412";
}
.aito-icon-check:before {
  content: "\e5ca";
}
.aito-icon-star-full:before {
  content: "\e838";
}
.aito-icon-arrow-left:before {
  content: "\e314";
}
.aito-icon-arrow-right:before {
  content: "\e315";
}
.aito-icon-print:before {
  content: "\e8ad";
}
.aito-icon-menu:before {
  content: "\e5d2";
}
.aito-icon-person:before {
  content: "\e7fd";
}
.aito-icon-send:before {
  content: "\e163";
}
.aito-icon-share:before {
  content: "\e80d";
}
.aito-icon-star-empty:before {
  content: "\e83a";
}
.aito-icon-exclu:before {
  content: "\e906";
}
.aito-icon-twitter:before {
  content: "\f099";
}
.aito-icon-gplus:before {
  content: "\f0d5";
}
.aito-icon-instagram:before {
  content: "\f16d";
}
.aito-icon-facebook:before {
  content: "\f230";
}
.aito-icon-heart:before {
  content: "\e907";
}
.aito-icon-linkedin:before {
  content: "\eaca";
}
