// VAR COLORS
$color-body      : #fff;
$color-content   : #fff;
$color-block     : #f2f2f2;
$color-primary   : #fff;
$color-secondary : #a21a6e;
$color-action    : #a21a6e;
$color-important : #ed247f;
$color-nav-footer: #1b1d21;

// COLOR PUB
$color-pub       : "white";

// COLOR FONT BODY DEFAULT
$color-font-body : #1b1d21;

