// VAR COLORS
$color-body:#919699;
$color-content:#919699;
$color-block:#fff;
$color-primary:#919699;
$color-secondary:#ea1b2a;
$color-action:#ea1b2a;
$color-important:#919699;
$color-nav-footer:#fff;
// COLOR PUB
$color-pub:"white";
// COLOR FONT BODY DEFAULT
$color-font-body:#000;
// COLOR SOUS MENU
$color-sous-menu:$color-block;