// VAR COLORS
$color-body:#e2e2e2;
$color-content:#1a1a1a;
$color-block:#f4f4f4;
$color-primary:#797979;
$color-secondary:#464646;
$color-action:#282828;
$color-important:#282828;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#393c3d;