.rechLiensPages a { border:none !important; }
.blocAnnonce_wrap { border:none !important; }
#RechPagesHaut { height:40px; margin:10px 0; border-bottom:1px solid #004B9E; }
#RechPagesBas { height:40px; margin:10px 0; border-top:1px solid #004B9E; }
#RechercheContainer #AlerteEmail #AlerteForm input.alerteBt { background: #004b99; border: 1px solid #003f80; }
#RechercheContainer #AlerteEmail #AlerteForm input.alerteBt { color: #fff; }
Input { background: #fff; border: 1px solid #004b99; width: auto; }
#RechHaut form#Tri select { float: none; }
#RechercheContainer #AlerteEmail #AlerteEmailCtn h4{color: #fff; font-size: 20px; padding: 20px 0 0 100px;}
#RechHaut #RechHautCtn #RechHautLiens a{padding: 5px 0 5px 30px; margin: 0 10px 0 0; }
#RechResultat .blocAnnonce_wrap { height: 305px; }
#RechResultat .blocAnnonce_wrap .detail { padding-top: 7px;}
#RechHaut #RechHautCtn h2 span { color: #fff; }
#Format input, #Frequence input { border: none; background: none; }

#RechResultat .blocAnnonce_wrap .blocAnnonce .photo .exclusif{
 top: -18px; left: -22px;
}
#RechHautLiens .rss {width:100px; }