// VAR COLORS
$color-body:#ffffff;
$color-content:#ffffff;
$color-block:#EAEAEC;
$color-primary:#04667a;
$color-secondary:#fff;
$color-action:#e6007d;
$color-important:#a7c713;
$color-nav-footer:#035161;



// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#414852;