// VAR COLORS
$color-body:#ebebe8;
$color-content:#0186cd;
$color-block:#ededeb;
$color-primary:#FFF;
$color-secondary:#40383a;
$color-action:#40383a;
$color-important:#ffe900;
$color-nav-footer:#000;
// COLOR PUB
$color-pub:"white";
// COLOR FONT BODY DEFAULT
$color-font-body:#000;
// COLOR SOUS MENU
$color-sous-menu:#40383a;

// ICONE NOUVEAU
$color-icone-cdc:#ffe900;
