$$REM$$/*====================================================================
//// <summary>Fichier CSS À DÉMUTUALISER POUR CHAQUE SITE</summary>
//// <remarks>
//// <para>Pour plus de rapidité, intégrer les macros du fichier 'all_global_macros.css'</para>
//// </remarks>
//// <update date="2010-02-16" author="lisbonne.siriphol">Création</update>
====================================================================*/$$END$$

<!--#include virtual="styles/all_global_macros.htm" -->

#HeaderTxt p, #PortefeuilleAccueil ul li a, .selectionDescr .selectionSurface, .selectionDescr .selectionNbPieces {color:#E2E8DE;}

.miniTitre, #Footer a, #LiensImmobilier a.liensImmobilier {color:#7B3817;}
#Moteur .moteurTable ul li#nb_pieces, #Moteur .moteurTable ul li#nb_chambres, #Moteur .moteurTable ul li#InputSurfaceTerrain {background:#C9CFC5;}
#Moteur .moteurTable ul li, #Moteur .moteurTable ul li strong {color:#7B3817;}

.surface, .descr, .contactAnn .tel, #RechPagesHaut .rechLiensPages a, #RechPagesBas .rechLiensPages a, #RechPagesHaut .rechLiensPages a span, #RechPagesBas .rechLiensPages a span {color:#E2E8DE;}

#Annonce_Ctn td#ColonneGauche {background:none;border:none;}
#Annonce_Ctn td#ColonneDroite {background:#8E887E;}
#AgenceContact *, #Form_Ctn table td * {color:#7B3817;}
#Outils .accordion_content {background:none;}
.accordion_content .inputText, .accordion_content .inputResult {background:#C9CFC5;}
.accordion_content .inputResult {color:#7B3817;}