// VAR COLORS
$color-body:#fff;
$color-content:#1a1a1a;
$color-block:#fff;
// $color-primary:#004d39;
// $color-primary:#79b51c;
$color-primary:#78ac9f;
$color-secondary:#fff;
$color-action:#004d39;
$color-important:#fef3dd;
$color-nav-footer:#fef3dd;

$color-accompagner:#c5cf35;
$color-concevoir:#709bc3;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#004d39;