// VAR COLORS
$color-body:#fff;
$color-content:#fff;
$color-block:#F2DCD4;
$color-primary:#000;
$color-secondary:#c47e64;
$color-action:#8c1c1a;
$color-important:#8c1c1a;
$color-nav-footer:#eaeaea;

// COLOR PUB
$color-pub:"black-opacity";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;