// VAR COLORS
$color-body:#141514;
$color-content:#1a1a1a;
$color-block:#141514;
$color-primary:#141514;
$color-secondary:#c5c6c8;
$color-action:#be901f;
// $color-important:#38424e;
$color-important:#be901f;
$color-nav-footer:#c5c6c8;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#c5c6c8;