/*
====================================================================
//// <summary> Feuille de style GESTPROD v2</summary>
//// <remarks>
//// </remarks>
//// <update date="2007-11-15" author="florian.adam">Création</update>
//// <update date="2008-06-12" author="florian.adam">Retrait des $$_$$ pour éviter les appels inutiles au moteur id3x </update>
=====================================================================
*/

/************************************************************************/
/* 			                     body                                   		*/
/************************************************************************/
body {
	scrollbar-arrow-color: #DDDFD4;
	scrollbar-base-color: #FE5D02;
	scrollbar-darkshadow-color: black;
	scrollbar-face-color: #FE5D02;
	scrollbar-highlight-color: #DDDFD4;
	scrollbar-shadow-color: #FE5D02;
	scrollbar-track-color: #E8EADF;
	
	background-color: #E8EADF;
	
	border: scrollbar-3dlight-color: #DDDFD4;
	border: 0 0 0 0;

	margin: 0;
	
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

body>#menuhaut {
	position:fixed;
}

#div_recherche {
overflow:auto;
z-index:1;
}

table {
	font-size:11px;
}

input, select {
	background:#fff;
	border:1px solid #71757A;
}

input {
	height: 18px;
	size:30px;
}

/* FA - 24/09/2008 margin:0; -> margin-left:1ex; */
input[type=checkbox] {
	height: 18px;
	size:30px;
	margin-left:1ex;
}

a img {
	border: none;
}

#menuhaut {
	width:100%;
	height:80px;
	z-index:1;
	background:#E8E9DF;
}

#conteneur
{
	position:absolute;
	width:98%;
	height:98%;
	padding: 10px 10px 0px 0px;
	top:80px;
}

#menugauche
{
	vertical-align:top;
	float:left;
	background: #E8E9DF;
	/*width: 150px;*/
	padding: 2px 10px 2px 2px;
	margin: 2px 10px 2px 2px;
	height:100%;
	font-size: 11px;
}

#principal
{
	overflow:auto;
	/*
	float:left;
	
	height:100%;*/
	width:100%;
	top:0;
	vertical-align: top;
	padding-left:0px;

	font-size: 11px;
}

.cadrefonce
{
	background-color: #DDDFD4;
	padding: 10px;
}

.cadrefonce p
{
	margin: 0;
	padding: 0;
}

.cadreclair
{
	background-color: #E8EADF;
}

.cadreclair table
{
	margin-bottom: 10px;
	cellpadding: 2px;
	cellspacing: 2px;
}

button 
{
	border:medium none;
	color: #FE5E01;
	background-color:#E8E9DF;
    cursor: hand;
}

.aButton
{
	font-size: 11px;
	font-weight: bolder;
	text-decoration: underline;
	color: #FE5E01;
	background-color:#DDDFD4;
}

.buttonLikeA {
    font-size: 11px;
	font-weight: bolder;
    cursor:pointer;
    border:none;
    color: #FE5E01;
    background:transparent;
    text-decoration:underline;
}

/************************************************************************/
/* 			                     Page de login                             	*/
/************************************************************************/
#login_in {
/*	width:40%;
	color: #3B494C;
	background-color: #DDDFD4;
	padding: 10px 10px 10px 100px;*/
	margin: 1em 30%;
}

#login_in label {
	display:block;
	float:left;
	width:30%;
}

#login_in h2 {
	border:none;
}

#login_in input[type="submit"] {
	margin:auto 30%;
}

#login_in table {
	width:400px;
	background-color: #DDDFD4;
}

#login_in td, #login_in p {
	font-size: 11px;
}

#login_in h2 {
	text-align:center;
}

/* 			                     Fin page de login                          */

/************************************************************************/
/* 															MENU HAUT																*/
/************************************************************************/
#menuhaut_principal {
	height:35px;
	background:#3B494C;
	color: #D6D7CD;
	border-bottom:3px solid #FFFFFF;
}

#menuhaut_principal img {
	margin: 8px 40px 0 10px;
}

#menuhaut_principal p, #menuhaut_principal ul, #menuhaut_principal li {
	display:inline;
	margin: 0;
	padding: 0;
}

#menuhaut_principal ul.right {
	position:absolute;
	top:0px;
	right:5px;
}

#menuhaut_principal ul li img {
	margin: 5px 0 0 0px;
}

/* Navigation */
#menuhaut_principal a {
	color:#FE5E01;
	margin: 0;
	padding: 0;
}

#menuhaut_principal a:hover {
	color:#FF9B0C;
}

#menuhaut_secondaire {
	width:100%;
	padding-top:0px;
}

#menuhaut_secondaire ul,#menuhaut_secondaire li {
	display:inline;
	margin: 0;
	padding: 0;
}

/* Barre avec le formulaire de recherche + les onglets blanc. */
#menuhaut_secondaire form {
	float:left;
	background:#E8EADF;
	margin-top:3px;
	margin-left:3px;
}

#menuhaut_secondaire ul {
	float:right;
}

#menuhaut_secondaire ul li a {
	float:left;
	background:url("../images/bg_onglet_left.gif") no-repeat left top;
	margin:0;
	padding:0 4px 0 2px;
	text-decoration:none;
}

#menuhaut_secondaire ul li a span {
  float:left;
  display:block;
  background:url("../images/bg_onglet_right.gif") no-repeat right top;
  padding:5px 5px 5px 5px;
  color:#666;
}
      
#menuhaut_secondaire ul li a:hover span {
  color:#FF9834;
}
/* Fin : Barre avec le formulaire de recherche + les onglets blanc. */

/* Fin du menu haut */


/************************************************************************/
/* 															MENU GAUCHE															*/
/************************************************************************/
.menugauche_principal
{	
	height: 30px;
	padding-top: 9px;
	/*width: 200px;*/
}
.menugauche_principal ul
{
	width: 150px;
	margin:0;
	padding-left:25px;
}

.menugauche_principal li {
	height: 20px;
	width:150px;
	border-bottom: 1px solid #D6D7CD;
	display: list-item;
  list-style-image: url("../images/puce_off.gif");
  padding-bottom:10px;
  padding-top:10px;
}
.menugauche_principal li:hover {
	height: 20px;
	border-bottom: 1px solid #D6D7CD;
	display: list-item;
  list-style-image: url("../images/puce_on.gif");
  background-color:#F0F1EB;
}


/* Navigation */
.menugauche_principal a {
	width: 180px;
	height: 20px;
	padding-top: 4px;
	margin-top:10px;
	color: black;
}
.menugauche_principal a:visited {

}
.menugauche_principal a:hover {
	/*background-color: #F0F1EB;*/
	color: #FE5E01;
}
/* Fin du menu gauche */


/************************************************************************/
/* 															NAVIGATION															*/
/************************************************************************/
a
{
	font-style: normal;
	text-decoration: underline;
	color: #3B494C;
	font-weight: bolder;
	cursor:hand;
}

a:hover,.LabelA
{
	color: #FE5E01;
	text-decoration: underline;
	background-color: transparent;
}

.Aorange
{
	font-size: 11px;
	font-weight: bolder;
	text-decoration: underline;
	color: #FE5E01;
	cursor: hand;
}

.Aorange:hover
{
	color: #FF9B0C;
	background-color: transparent;
}

.Ablack
{
	font-size: 11px;
	font-weight: bolder;
	text-decoration: underline;
	color: black;
	cursor: hand;
}

.Ablack:hover
{
	color: #FF9B0C;
	background-color: transparent;
}

.AnoUnderline {
	text-decoration:none;
}
/************************************************************************/
/* 												TABLEAU ET PRESENTATION												*/
/************************************************************************/

ul
{
	margin:0;
	padding-left:25px;
}

li {
	height: 20px;
	display: list-item;
  	list-style-image: url("../images/puce_fleche_droite.png");
  	padding-bottom:7px;
}
li:hover {
	display: list-item;
  	list-style-image: url("../images/puce_fleche_droite.png");
}
/* ----------------   Tableau  ----------------------- */
/* Titre */

table {
	/*margin-left:5px;
	text-align:left;*/
	padding-left: 5px;
    text-align: left;
}

caption {
	text-align:left;
	margin-top:1ex;
}

th {
	font-size:12px;
	background-color: #3B494C;
	color: #D6D7CD;
	text-align: center;
}

/*---------------- TR ----------------*/
.tr_alt{
	font-size: 11px;
	background-color: #FFF;
	/*background-color: #F0F2E7;*/
	color: #3B494C;
	text-align: center;
}

.tr_alt1{
	font-size: 11px;
	background-color: #D6D8CD;
	color: #3B494C;
	text-align: center;
}

.tr_alt td, .tr_alt1 td {
	padding-left:0px;
	padding-bottom:5px;
	padding-bottom:5px;
}

.tr_alt td img, .tr_alt1 td img {
	vertical-align:middle;
}

.tr_ligne_top, .tr_ligne_top td {
	border-bottom: 1px solid #D6D7CD;
	background-color:#DDDFD4;
	color: #3B494C;
	margin-bottom:5px;
}

.tr_ligne_bottom, .tr_ligne_bottom td {
	border-bottom: 1px solid #D6D7CD;
	background-color:#DDDFD4;
	color: #3B494C;
	margin-bottom:5px;
}

.bleu td {
	background-color: #3B494C;
	color: #FFF;
	padding: 5px;
}

.bleu h2 {
	font-weight: bold;
	color:#FFF;
	border-bottom: none;
	margin:0;
	padding:0;
	display:inline;
}

/* Couleur de ligne avec alternative */
td {
	/*background-color: #DDDFD4;*/
	text-align: left;
}

/* FA - 24/09/2008 1ex -> 0ex */
td label {
	padding-left:0ex;
	margin-right:4ex;
}

.tdl {
	background-color: #E8EADF;
	color: #3B494C;
	text-align: center;
}

.td_alt{
	font-size: 11px;
	background-color: #D6D8CD;
	color: #3B494C;
	text-align: center;
}
.td_alt1{
	font-size: 11px;
	background-color: white;
	color: #3B494C;
	text-align: center;
}

.td_alt2{
	font-size: 11px;
	background-color: #D6D8CD;
	color: #3B494C;
	text-align: left;
}
.td_alt3{
	font-size: 11px;
	background-color: white;
	color: #3B494C;
	text-align: left;
}

.cent_pourcent {
	width:100%;
}

#presentationetat div
{
	display: inline;
	float: left;
	width: 50px;
}

/************************************************************************/
/* 										ZONE DE SAISIE OU DE CHOIX												*/
/************************************************************************/


/************************************************************************/
/* 													LIBELLE ET TITRE							   						*/
/************************************************************************/

h1 {
	color: #3B494C;
	font-size: 20px;
	text-transform: uppercase;
	margin-top: 2;
	margin-bottom: 1;
	bottom: 0;
	padding-bottom: 0;
	text-align: left;
}

h3 {
	color: #3B494C;
	font-size: 20px;
	text-transform: uppercase;
	margin-top: 2;
	margin-bottom: 1;
	bottom: 0;
	padding-bottom: 0;
	text-align: center;
}

h2 {
	bottom:0;
	color:#3B494C;
	font-style:normal;
	font-size: 12px;
	font-weight:bold;
	margin:2px 0px 10px 0;
	padding-bottom:0;
	border-bottom: 1px solid #D6D7CD;
	text-align: left;
}

h4 {
	color:#3B494C;
	font-size: 11px;
	margin:8px 0px 0px 8px;
}

span.dblclick {
	border: 1px dotted #3B494C;
}

input.dashedInfo {
	border: 1px dotted #FE5E01;
}

.titreprincipal
{
	color: #3B494C;
	font-weight: normal;
	font-size: 20px;
	text-transform: uppercase;
	margin-top: 2;
	margin-bottom: 1;
	bottom: 0;
	padding-bottom: 0;
}

.titresecondaire
{
	color: #3B494C;
	font-weight: bold;
	font-style: normal;
	margin-top: 2px;
	margin-bottom: 1;
	bottom: 0;
	padding-bottom: 0;

}
.titretertiaire
{
	color: #FE5D02;
	font-weight: bold;
	font-style: normal;
	margin-top: 2;
	margin-bottom: 1;
	bottom: 0;
	padding-bottom: 0;
}
.titre_nb
{
	background-color: #3B494C;
	color: White;
	font-weight: bolder;
	text-transform: uppercase;
	font-size: 17px;
	}
.titre_or
{
	background-color: #FE5D02;
	color: White;
	font-weight: bolder;
	text-transform: uppercase;
	font-size: 17px;
}
/*#commerciaux_associes {
padding:10px;
background-color: #FDD5D6; 
border:1px #FF7979 dashed;
}*/

p.succes
{
position: relative;
	padding:10px;
	padding-left:65px;
	background-color: #3A484B;
	border:1px solid #213035;
	color: #FFFFFF;
}

p.succes img {
	position:absolute;
	left:0px;
	top:-15px;
}

/* Affichage Erreur */
p.erreur
{
	text-align:center;
	position: relative;
	padding:10px !important;
	background-color: #3A484B;
	border:1px solid #213035;
	color: #FFFFFF;
}

p.erreur img {
	position:absolute;
	left:0px !important;
	left:-70px;
	top:-15px;
}

.legend
{
	color: Black;
	font-size: x-small;
	font-style: normal;
	font-variant: normal;
}
.intitule
{
	color: Black; 
	font-style: normal;
	font-variant: normal;
	text-align: left;
}

label {
	color: Black;
	font-size:11px;
	text-align: left;
}

.lecture{
	font-size: 11px;
	background-color: white;
	color: #3B494C;
	text-align: left;
}

.redmsg {
	color: #dc143c
}

.greenmsg {
	color: #009900
}

.tdRight {
	text-align: right;
}

.right {
	text-align:right;
}


/************************************************************************/
/* 										RECHERCHE MULTI-CRITERE														*/
/************************************************************************/
#type_dossier {
	width:100%;
	margin: 0 auto;
}

#type_dossier p label {
	padding-left:0px;
}

#type_dossier input {
	background:#F0F1EB;
	height: 18px;
	border:none;
	padding:0;
	margin:0;
}

#type_dossier table {
	width:100%;
	border:none;
	background-color:#F0F1EB;
	margin-top:5px;
}

#type_dossier tr,#type_dossier td {
	width:50%;
	border:none;
	//background-color:#F0F1EB;
}

#type_dossier h1 {
	height:40px;
	width:100%;
}

.case_orange, .case_bleu {
	width:100%;
	font-size:17px;
	font-weight:bolder;
	text-transform:uppercase;
	color:White;
	text-align:right;
	float:left;
}

.case_orange {
	background-color:#FE5D02;
}

.case_bleu {
	background-color:#3B494C;
}

#div_etat {
	visibility:hidden;
	display:none;
}

#div_etat h1 {
	height:40px;
	width:100%;
}

#div_etat tr,#div_etat td {
	width:30%;
	border:none;
}

.duree_semaines_B {
	BACKGROUND-COLOR: #FFFF00;
}

.duree_semaines_C {
	BACKGROUND-COLOR: #FFCC00; 
 }
 
.duree_semaines_D {
	BACKGROUND-COLOR: #FF6600;
}

.duree_semaines_E {
	BACKGROUND-COLOR: #FF0000; 
}

img .button {
	cursor: pointer;
}
