/* CSS Document */

/* Redefinitions des balises HTML */ 
*{margin:0;padding:0;font-size:12px;font-family:Arial, Verdana, Helvetica, sans-serif;color:#000;}
img{border:0}
.clear{clear:both;}
a{text-decoration:underline;outline:none;color:#162E7B;}
a:hover{color:#162E7B;text-decoration:none;}
hr{display:none;}
select option{padding:0;}
table{ margin:0 auto; padding:0;}
table tr td,
table tr td p
#milieu table tbody tr td{ padding:5px 0px; text-align:justify; text-align:left;}
* html input.alerte{ background:#FFFFFF;}
/* --------Modification AR PLAN SITE-------- */    
body{background:#FFED99; margin-top:-3px;}
/* Effet bordure (espace 5px) entre BG menu et bande BG site */ 
#header{width:993px; margin:20px auto 0 auto;}

#global{position:relative;width:993px; margin:0 auto;}


/* ----------------------------------------PAGE ACCUEIL---------------------------------------- */	   
   
/* --------LOGO AGENCE-------- */ 
#LogoAgence { float:left; display:inline; width:368px; padding:10px 0px 10px 20px;}
#LogoAgence img{ display:block; margin:0 auto;}


/* --------DRAPEAUX LANGUES FRANCAIS ET ANGLAIS-------- */ 		
/* Mettre en DISPLAY:NONE si pas d'option Anglais */ 
#Drapeaux {position:absolute; top:128px; left:5px; display:none;}
#Drapeaux img {padding-right:10px;}

/* --------TEXTE ACCUEIL--------*/ 
#textAccueil { position:relative; float:right; display:inline; width:560px; padding:10px 0 0 0; display:block;}
/* Modification TITRE texte d'accueil */ 
#textAccueil h1{ font-size:24px; font-weight:bold;color:#014AB9; padding:0 0 4px 0;}
/* Modification CORPS texte d'accueil */ 
#textAccueil p{ text-align:justify; font-size:12px;  color:#00309E; line-height:16px; width:500px; display:block;}
#textAccueil p strong{ color:#00309E;}
#textAccueil a{ text-decoration:none; color:#00309E;}
#textAccueil a:hover{ text-decoration:underline; color:#00309E;}

/* LOGOS: FNAIM & SIA */
#Partners{ display:none; position:absolute; top:0px; right:0px; width:62px; float:left; text-align:center;}
#Partners span img{text-align:center; padding:2px 0;}

/* --------MARQUEE DEFILANTE-------- */
/* Modification COULEUR  MARQUEE */ 	
#RefMarqueNavig{ width:565px; height:31px; float:right; display:inline;color:FFF; font-size:10px;width:width:550px;background:none;margin:0 10px 0 0;}
#RefMarque{ width:565px; height:31px; float:right; display:inline;color:#FFF; font-size:10px;background-color:none;margin:0 5px 0 0; padding:0 4px 0 0;}
#RefMarque marquee{width:555px;margin:0;padding:0; color:#FFF; padding:8px 5px 8px 5px; display:none;}
#RefMarque marquee a {color:#00309E;}
#RefMarque marquee a strong {color:#00309E;}
#RefMarque marquee a:hover {color:#00309E;}

/* ----- Moteur -----*/
h2.TitrePage{ color:#162E7B; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}

/* --------MENU + FLUX RSS-------- */
/* Modification COULEUR + TAILLE fond MENU */
#remplissageMenu{ width:100%; background:#80A8E6; min-height:44px; margin:2px 0 0 0;}		
#menuFlux{width:984px; background:#00309E; height:44px; border-left:5px solid #FFED99; border-right:5px solid #FFED99;margin:0 auto;}
#menu {float:right; display:inline; padding:14px 10px 11px 0;}
#menu ul{ display:inline; margin:0 0 0 6px;}
#menu li{ display:inline;color:#FFF; font-size:15px; padding:0 2px;}
#menu ul li.MenuSep{ color:#FFF;}
/* Modification COULEUR TEXTE MENU */ 
#menu a{ font-weight:bold;color:#FFF; text-decoration:none;font-size:13px;}
#menu a:hover{color:#99CCFF;}		
/* Modification FLUX RSS */ 		
#fluxRss{float:left; display:inline; padding:15px 25px 0px 10px; }
#fluxRss a{ font-size:10px; text-decoration:underline; color:#FFF; margin:0 0 0 4px}
#fluxRss a:hover{ font-size:10px; text-decoration:none;color:#99CCFF;}
#fluxRss img{float:left; display:inline; vertical-align:middle; }


/* --------CONTENU SITE = ZONE DU MILIEU-------- */
/* Modification COULEUR ARRIERE PLAN CONTENU SITE */ 	
#milieu{width:985px;padding:24px 0 3px 0px; min-height:250px;background:#FFED99; border-left:5px solid #FFED99; border-right:4px solid #FFED99; margin:0 auto;}
/* Positionnement bandeau image */ 
#visuel{float:left; display:inline; width:654px; margin:0 0 10px 0; padding:0;}		
/* Modification COULEUR BORDURE IMAGE */ 		
#visuel img{border:7px solid #80A8E6;}
 

/*--------POSITIONNEMENT MINI MOTEUR-------- */ 
.miniMoteur{float:right;display:inline;width:220px;padding:0 0 0 42px;position:relative;background:url(../images/fontTitreMoteur.gif) 0 2px no-repeat;}		
/* Modification TITRE RECHERCHE */ 		
.miniMoteur h2{font-size:18px; font-weight:bold; color:#162E7B;padding:12px 0 0 0;}
/* A NOTER !!!! Pour styliser les champs + bouton mini moteur VOIR == MINI_MOTEUR.CSS */ 


/* ----------- 3 COUPS DE COEUR ------------- */ 
* html #blocBas #coupCoeur{float:left;display:inline;width:715px;margin:0 45px 15px 0; }
#blocBas #coupCoeur{float:left;display:inline;width:715px;margin:0 50px 15px 0; }

/* ----------- LISTE TRANSACTIONS AGENCE ------------- */ 
#blocBas .nbrTransaction{float:right;width:210px; margin:0 10px 0 0;}
/* Modification COULEUR "AUJOURD'HUI" */ 	
#blocBas .nbrTransaction h3{font-size:13px;font-weight:bold;padding:1px 0;color:#00309E;}
/* Modification COULEUR TYPE TRANSACTION */ 	
#blocBas .nbrTransaction h4{width:167px;font-weight:bold;font-size:13px;color:#004BB9;padding:10px 0 0 0;}
#blocBas .nbrTransaction ul{list-style-type:none;margin:0 0 10px 3px; line-height:16px;}
/* Modification COULEUR TYPE DE BIEN */ 
#blocBas .nbrTransaction ul *{font-size:11px;color:#00309E;}
#blocBas .nbrTransaction ul a:hover{text-decoration:none;color:#00309E;}


/* -----------INCLUDE BAS------------- */ 

/* Modification COULEUR BANDE COORDONNEES */ 
.CoordonneesAgence {font-size:12px; background:#00309E; height:27px; text-align:center; padding-top:13px; color:#fff; font-weight:bold;}	
/* Modification BG footer portefeuille + menu secondaire */
.footerPosition{background:#004BB9; position:relative;width:984px; border-left:5px solid #FFED99; border-right:5px solid #FFED99; padding-bottom:15px; margin:auto;}
.porteFeuille{float:left;width:610px;padding-left:39px; display:none;}
/* ARRIERE PLAN FOOTER */
#footer{ background:#80A8E6; margin:0 auto; padding:0 0 0 1px;}
		
		
/* Modification couleur 2 TITRES FOOTER */ 
 #footer h4{font-size:11px;font-weight:bold;background:url(../images/puce.gif) no-repeat;padding:4px 0 1px 33px;margin:17px 0 0 0;line-height:19px; color:#FFF;}
/* titre gauche : Notre portefeuille immobilier */
 #footer .porteFeuille h4{font-size:12px; color:#FFF;}
/* titre droite : www.urldusite.com */
 #footer .menuSecondaire h4{font-size:12px; color:#FFF;}
 #footer .menuSecondaire a{ text-decoration:underline; color:#80A8E6;}
 #footer .menuSecondaire a:hover{ text-decoration:none; color:#FFF;}
		
/* Modification couleur LISTE DES VILLES */ 
.porteFeuille .ListeVilles{width:520px;text-align:justify;line-height:13px;border:0;color:#5D5D5F; padding:4px 0 0 5px;}
.ListeVilles *{color:#80A8E6; font-size:11px;font-weight:normal;}
.porteFeuille .ListeVilles a{color:#80A8E6;text-decoration:none;}
.porteFeuille .ListeVilles a:hover{color:#FFF;text-decoration:none;}

/* Modification couleur MENU SECONDAIRE FOOTER (droite) */
.menuSecondaire{float:right;width:305px;font-size:12px;color:#80A8E6; margin:0 20px 0 0;}
.menuSecondaire p{padding:3px 0 0 5px; color:#80A8E6; text-align:justify;font-size:11px;}
.menuSecondaire p a{font-size:11px;color:#80A8E6;text-decoration:none;}
.menuSecondaire p a:hover{font-size:12px;color:#FFF;font-size:11px;text-decoration:none;}
span.sepSep{ color:#80A8E6;font-size:11px;}



/* ----------------------------------------AUTRES PAGES DU SITE---------------------------------------- */

/* Page En Construction */
#EnConstruction{margin-top:70px; text-align:center;}


/* PAGE PLAN DU SITE = incl_plan-site.htm */  
.ul#Plan *{text-decoration: none; font-weight: bold;}
ul#Plan{padding: 2em 8em; width:400px; margin:0 auto;}
ul#Plan li.plan{ color:#162E7B; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}
ul#Plan li.MenuSep{display:none;}
ul#Plan li{padding: 0.2em 0; border:none;}
ul#Plan .plan{padding: 0.2em 0;background:none;}
ul#Plan li a{color:#162E7B;padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #3366CC; text-transform:uppercase;}
ul#Plan li a:hover{color:#FFF;padding-left:10px; height:19px;font-size: 12px; background:url(../images/menu_pixel.gif) bottom repeat-x;}

/* Outils */
.ul#Outils *{text-decoration: none; font-weight: bold;}
ul#Outils{padding: 2em 8em; width:400px; margin:0 auto;}
ul#Outils li.list{padding: 0.2em 0px;background:none; margin:2px 0; border:none;}
ul#Outils li a{color:#162E7B;padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #3366CC; text-transform:uppercase;}
ul#Outils li a:hover{color:#FFF;padding-left:10px; height:19px;font-size: 12px; background:url(../images/menu_pixel.gif) bottom repeat-x;}
#Outils li.titrePageOutils{ color:#162E7B; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}

/*PAGES ESTIMATION + CONTACT + MESSAGE == TABLEAUX FORMULAIRES*/
.tabFond1{border-color:#00AA00; border-width:0; border-style:solid; padding:2px; font-family:Arial, Helvetica, sans-serif; width:100%;}
 textarea {width:600px; height: 100px;}
.tabFond2{border-color:#00AA00; border-width:1px; border-style:solid; padding:2px; font-size:14px; font-family:Arial, Helvetica, sans-serif;}
.tabTitre{background:url(../images/menu_pixel.gif) bottom repeat-x #3366CC; color:#fff; font-size:14px; font-weight: bold; font-family:Arial, Helvetica, sans-serif;height:25px;padding:3px; text-align:center; text-transform:uppercase;}
.tabTitre *{color:#fff; font-size: 14px;}
.tabPrint{color:#5C5E5D; font-size: 13px; font-family:Arial, Helvetica, sans-serif; border:1px solid #00AA00;}
.tabFond1 td input{margin:3px;}
.tabFond1 table{ width:100%;}
strong.messageNomAgence,
strong.estimationNomAgence{ color:#162E7B; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase; display:block;}

/*Résolution Bug IE8 = donner une taille aux bouton pour éviter tout décallage*/
.boutonEnvoi, .BoutonFormContact, .MoteurBouton input, td #ChampsBouton input {float:right; width:120px; height:26px;}
		
/* GUIDE PRATIQUE = ACCES VIA LE LIEN DANS LA PAGE OUTILS*/
span.txtTitre3{ display:block; width:870px; color:#FFF; background:url(../images/menu_pixel.gif) bottom repeat-x #3366CC; font-size:16px; font-weight:bold; padding:3px 5px; margin:10px 3px 3px 0;}
span.gras{ display:block; width:882px; color:#FFF; background:url(../images/menu_pixel.gif) bottom repeat-x #3366CC; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;}
td.encadre{background-color:#FFF; border-color:#AAA; border-width:2px; border-style:solid; padding:3px; color:#000; margin:0 0 0 -4px;}
p.grasnews{ display:block; width:882px; color:#FFF; background:url(../images/menu_pixel.gif) bottom repeat-x #3366CC; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;}

/* coup de coeur*/
* html .div-cdc{ height:260px;}
.div-cdc{width:230px; min-height:270px;float:left; background:#80A8E6; margin:0 4px 0 0; border:2px solid #80A8E6;}
.div-cdc *{ color:#000;}
.div-cdc .photo-cdc img{width:220px;height:139px;background:url(../images/bg_Img_Cdc.gif);margin:4px; border:1px solid #fff;}
.div-cdc a span.ville-cdc{font-weight:bold;display:block; color:#FFF; font-size:14px; }
.div-cdc .typetransaction-cdc,
.div-cdc .typebien-cdc{text-transform:capitalize; color:#00309E; font-size:14px; font-weight:bold;}
.div-cdc .contenu-cdc{padding:0 6px 4px 6px;}
.div-cdc .contenu-cdc *{color:#000;}
.div-cdc .contenu-cdc a{ text-decoration:none;}
.div-cdc .contenu-cdc a:hover{color:#DC002E;}
.div-cdc .descriptif-cdc{min-height:30px;}
* html .divc2c .descriptif-cdc{height:30px; color:#FFFFFF;}
.div-cdc .espace-cdc,
.div-cdc p.prix-cdc{font-weight:bold;font-size:14px; color:#014AB9;}
 
 
/* Mentions Legales */
#MentionsLegales{}
#MentionsLegales h2 {display: block; width: 99%;	 background:url(../images/menu_pixel.gif) bottom repeat-x #3366CC; font-size: 14px; color:#fff;font-weight: bold;letter-spacing: 0;padding:3px 0 3px 8px;margin: 10px 0;text-align: left;text-transform: none;font-family: Arial; text-transform: none;}