$$REM$$
====================================================================

//// <summary>Fichier css par défaut pour : agence-immobiliere.htm</summary>
//// <remarks>
//// <para>Fichier appelé par : /slagence_X_V2/agence-immobiliere.htm</para>
//// </remarks>
//// <update date="2008-05-30" author="lisbonne.siriphol">Update et corrections</update>
//// <update date="2008-01-14" author="lisbonne.siriphol">Création v1</update>

====================================================================
$$END$$

/* carte_visite.htm */
#CV{margin: 0; padding: 0; border: none;}
#CV *{margin: 0; padding: 0; border: none; color:#edd78d;}
#CV .clear{clear:both;}
#CV .linkOut{text-align: right; margin: 0.5em 0;}
#CV .linkOut a{background: url($$-$$images/picto_fleche_01.gif) left no-repeat; padding: 0 0 0 15px;color:#2D5FC2;}
#CV .linkOut a:hover{color:#28417D;}
/**/
#CV h1{position: relative; font-size: 1.5em; color: #fff; background:#28417D; padding: 0.3em 0.8em;}
#CV #Agence{padding: 1em; background:none;}
#CV #Agence #Img_Ctn{position: relative; float: left; background: url($$-$$images/sans_photo_01.jpg) no-repeat #bbc8d9;}
#CV #Agence #Img_Ctn #Vitrine{width: 200px; height: 130px; border: 5px solid #28417D; background: url($$_$$images/agences/$$FORM:IDP$$.jpg) no-repeat;}
#CV #Agence #Coordonnees{position: relative; float: left; padding: 0 1em;}
#CV #Agence #Coordonnees *{color:#edd78d;}
#CV #Agence #Coordonnees h2{font-size: 1.5em;color:#2758BA;}
#CV #Agence #Coordonnees p{padding:3px 0 0 0;color:#2758BA;}
#CV #Agence #Coordonnees p strong{font-weight:normal;color:#2758BA;}
#CV #Agence #Coordonnees p span{font-weight:bold;}
#CV #Agence #Coordonnees label.cv_respag{}
#CV #Agence #Coordonnees label.cv_email a,#CV #Agence #Coordonnees label.cv_url a{color:#2252B1;}
#CV #Agence #Coordonnees label.cv_email a:hover,#CV #Agence #Coordonnees label.cv_url a:hover{color:#28417D;}
#CV #Agence #Coordonnees label.cv_tel,
#CV #Agence #Coordonnees label.cv_tel span,
#CV #Agence #Coordonnees label.cv_respag,#CV #Agence #Coordonnees label.cv_respag span{color:#2252B1;}


/* texte public SAISS */
#CV #Agence #TxtPublic{color:#5C5E5D; text-align: justify;}

/* Liens footer carte de visite */
#CV #CvFoot{background:#28417D; height: 21px;overflow: hidden;}
#CV #CvFoot *{color: #edd78d; text-decoration: none; font-weight:bold;}
#CV #CvFoot #Links{float: left; border-right: 1px solid #edd78d; background:#1A2C89;}
#CV #CvFoot #Links a{ color:#fff;display: block; float:left;padding: 0.3em 1em; border-right: 1px solid #edd78d; border-left: 1px solid #edd78d;background:#28417D;}
#CV #CvFoot #Links a:hover{background:#2252B1;}
#CV #CvFoot #Links a.message{}
#CV #CvFoot #Links a.estimation{}

/* Portefeuille agence : incl_portefeuille01.htm */
#Portefeuille01{padding: 1em 0; position: relative;}
#Portefeuille01 h3{font-size: 1.4em; border-bottom: 1px solid #bfbfbf; padding: 0 0 5px 0; margin: 0 0 10px 0;}
#Portefeuille01 a{padding: 5px 0; font-weight: bold; line-height: 1.6em; background: none;}
#Portefeuille01 a.typeTransac{font-size: 1.2em; color:#826947;}
#Portefeuille01 a.typeBien{font-size: 0.9em; margin: 0 0 0 30px; color:#b69364;}
#Portefeuille01 .nbAnn{}		

/* annonces dans carte visite agence = QUAND PRESTATION DE REFERENCEMENT ! */
#Annonces01 .ann_transac{color:#1E3B1A;}
#Annonces01 .ann_descr span{color:#1E3B1A;}
#Annonces01 .ann_descr a{color:#1A2C89;}
#Annonces01 h3,#Portefeuille01 h3{color:#2252B1;}

#Annonces01 .ann_ctn a.ann_pht:hover em span{color:#1E3B1A;}
#agenceImmo h3{border-bottom:1px solid #BFBFBF; font-size:1.4em; margin:0 0 10px; padding:0 0 5px; margin:10px 0 5px 0;}
#milieu #CguFormulaire a:hover{color:#28417D;}
/*agence contenu*/
        #CV #Agence  #agenceImmo *{font-size:12px; font-family:arial,sans-serif;}
        #CV #Agence  #agenceImmo{margin:0;padding:10px 0 0 0; text-align:left;}
		#CV #Agence  #agenceImmo h2{font-size:14px; font-family:arial,sans-serif; margin:0 0 12px 0; color:#F0E7C8;;}
		#CV #Agence  #agenceImmo  p{text-align:left;padding:0; font-size:12px; padding:0 0 10px 0; text-align:justify; color:#F0E7C8;}
		#CV #Agence  #agenceImmo  p i{color:#F0E7C8;}
