// VARIABLES COLORS
$color-body:#605750;
$color-content:#ccc9c0;
$color-block:#3a332e;
$color-primary:#605750;
$color-secondary:#D6CFC6;
$color-action:#000;
$color-important:#605750;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"white-opacity";

// COLOR FONT BODY DEFAULT
$color-font-body:#E6E3DA;