html, body {margin:0;padding:0;height:100%;}
body {font-family:"Helvetica",Arial,sans-serif;margin:0 auto;padding:0;font-size:11px;background:#877b5f url('../images/degrade_guepard.png') repeat-x;background-position:left top;min-width:1090px;}
.clear {clear:both;}
#containerGuepard {position:relative;margin:0;padding:0;}
#photoGuepard {float:left;position:relative;width:40%;height:100%;overflow:hidden;margin:0;padding:0;}
#photoGuepard img {float:right;height:100%;}
#protectionGuepard {position:absolute;background:url('../images/rien.png');height:100%;width:100%;background-color:transparent;}
#navGuepard {position:relative;float:left;width:60%;height:100%;margin:0;padding:0;}
#menuLangueGuepard {position:relative;float:left;margin:0 auto;padding:0;width:100%;margin-top:8px;margin-bottom:15px;}
#menuLangueGuepard ul {display:block;list-style:none;margin:0 auto;padding:0;}
#menuLangueGuepard li {float:left;position:relative;margin:0 7px 0 0;padding:0;width:23px;height:23px;background:url('../images/puceLangueOff.png') no-repeat;color:#000;text-align:center;line-height:23px;font-family:"Helvetica",Arial,sans-serif;font-size:10px;}
#menuLangueGuepard .actif {background:url('../images/puceLangueOn.png') no-repeat;color:#000;}
#menuLangueGuepard a {text-decoration:none;color:inherit;}
#menuLangueGuepard .prefixeLangue {margin:0;padding:0;color:#fff;}
#menuLangueGuepard .prefixeLangue a {color:#000;}
#menuLangueGuepard .traductionLangue {position:absolute;z-index:100;top:18px;left:12px;display:none;}
#menuLangueGuepard .up {width:8px;height:8px;background:url('../images/coin_langue.png') no-repeat;background-position:left top;}
#menuLangueGuepard .down {width:auto;clear:both;background:#9d9073;margin:0;padding:3px;color:#fff;}
#centreContentGuepard {position:relative;float:left;margin:30px auto 20px auto;padding:0;width:100%;text-align:center;}

#menuNavigationGuepard {position:relative;float:left;margin:0 auto;padding:0;width:100%;margin-top:30px;height:225px;}
#menuNavigationGuepard .containerMenuGuepard {margin:0 auto;padding:0;}
#menuNavigationGuepard .menuGuepard {position:relative;z-index:10000000000;float:left;margin:0 15px 0 15px;padding:0;text-align:center;font-family:"Helvetica",Arial,sans-serif;}
#menuNavigationGuepard .menuGuepard h2 {font-size:16px;font-weight:normal;color:#fff;margin:0 0 5px 0;padding:0;letter-spacing:4px;}
#menuNavigationGuepard .menuGuepard .sousTitreMenu {display:block;font-size:13px;font-weight:normal;color:#000;margin:5px 0 10px 0;padding:5px 0;letter-spacing:1px;width:auto;}
#menuNavigationGuepard .menuGuepard .barreSousTitreMenu {margin:10px 0 0 0;border-top:1px solid #7a6f56;background:url('../images/fleche_menu.png') no-repeat;background-position:center bottom;width:auto;height:6px;}
#menuNavigationGuepard .menuGuepard ul {margin:5px 0 0 0;padding:0;list-style:none;display:none;}
#menuNavigationGuepard .menuGuepard li {width:170px;display:block;margin:0;padding:5px;color:#fff;font-size:13px;letter-spacing:2px;}
#menuNavigationGuepard .menuGuepard li a {text-decoration:none;}
#footerGuepard {float:left;display:block;position:absolute;margin:0 auto 0 auto;padding:0;width:100%;bottom:5px;}
#footerGuepard .containerFooter {clear:both;display:block;margin:40px 0 0 0;padding:0;}
#footerGuepard .containerFooter ul {display:block;list-style:none;margin:0 auto;padding:0;}
#footerGuepard .containerFooter li {float:left;display:inline-block;font-size:13px;min-width:30px;font-family:"Helvetica",Arial,sans-serif;color:#fff;margin:0 3px 0 3px;letter-spacing:2px; }
#footerGuepard .containerFooter a {display:block;text-decoration:none; padding:2px 5px;}
#footerGuepard .containerFooter a:hover {display:block;text-decoration:none; background:#9c9073;}
#footerGuepard .infosFooter {clear:both;display:block;margin-top:15px;color:#000;}
#footerGuepard .infosFooter ul {display:block;list-style:none;margin:0 auto;padding:0;}
#footerGuepard .infosFooter li {float:left;display:block;font-size:13px;font-family:"Helvetica",Arial,sans-serif;color:#000;margin:0 15px 0 15px;}
#footerGuepard .infosFooter li a {font-size:13px;font-family:"Helvetica",Arial,sans-serif;color:#000; text-decoration:none;}
.onLi {background:#9d9073;}
.onTitre {background:#b2a382; padding:5px 0;}



*{ color:#fff;}
#wrapper{ width:100%; background:#000;}
#header, #footer{ width:100%; background:#877B5F;}
#footer{ height:93px;}
#header{ height:153px;}
.positionFooter, .positionHeader, #cont{width:941px; margin:0 auto;}

	.logo{ width:292px; height:153px; float:left;}
	.positionFooter ul, .positionFooter{ overflow:hidden;}
		.positionFooter ul li{ float:left; padding:0 10px; list-style:none; color:#fff;}
	.contMenu{ float:left; width:649px;}



#cont{}
	#contentLeft{ float:left; width:578px; padding:60px 24px 0 0;}
	#contentLeft h2{ color:#BEB192; font-size:18px; font-weight:normal; border-bottom:1px solid #222323; padding:0 0 14px; margin:0 0 17px;}
	#contentLeft h3{ color:#BEB192; font-size:16px; font-weight:normal; padding:0;margin:0 0 17px;}
	#contentLeft h4{ color:#BEB192; padding:0; margin:0;}
	#contentLeft p{ padding:0 0 30px; margin:0; text-align:justify;}
	
	#contentRight{ float:left; width:339px;}
	
#TxtIndex {margin: 0 auto; line-height:14px; font-size: 13px; text-align:center; color:#fff; }
#TxtIndex strong {font-weight:normal; color:#BEB192; text-decoration:none;}