body { margin:0;padding:0; text-align:center; background: #333; }
div,td { font-family: Arial;font-size:12px;color:#fefdfd;}
img { border:none;display:inline;}
table  { border-collapse:collapse;border-spacing:0;}
td, th { padding:0;}
form { padding:0;margin:0;}
input, select { vertical-align:middle;}
a { text-decoration:none;color:#717171;}
a:hover { text-decoration: none; color: #fefdfd;}
p { margin:10px 0;}

.clear { clear:both;}
.fleft { float:left;}
.fright { float:right;}

.wrapper { width: 100%; background: url($$_$$images/bg_wrapper.gif) repeat-x; height: 142px; }
.wrap { position: relative; text-align: left; margin: 0 auto; width: 960px; }

/*============================================*/

.lg { padding: 26px 0 0 227px; height: 86px; overflow: hidden; }
.trad { padding-top: 25px; }

#main-content { padding: 8px 0 18px 0; } 

.mn { background: url($$_$$images/bg_mn.gif) no-repeat; height: 46px; position: relative; z-index: 9; }
.mn2 { background: url($$_$$images/bg_mn2.gif) no-repeat; height: 46px; position: relative; }
.mn ul, .mn2 ul { margin: 0; padding:0; }
.mn li, .mn2 li { float: left; list-style: none; }
.mn a, .mn2 a { text-transform: uppercase; color: #fff; font-family: "Times New Roman", Times, serif; line-height: 46px; padding: 0 24px; font-size: 18px; –webkit–text-shadow: 4px 4px 4px #000; –moz–text-shadow: 4px 4px 4px #000;  –khtml–text-shadow: 4px 4px 4px #000; text-shadow: 4px 4px 4px #000; text-shadow: 4px 4px 4px #000; }
.mn .en a, .mn2 .en a { padding: 0 20px; }
.mn a:hover, .mn li:hover a, .mn2 a:hover, .mn2 li:hover a { color: #a9abd6; }

.mn ul li ul, .mn2 ul li ul { display: none; position: absolute; background: #404040; top: 46px; text-align: center; padding:10px 0; }
.ie7 .mn ul li ul, .ie7 .mn2 ul li ul { display: none; position: absolute; background: #404040; top: 46px; text-align: center; margin-left: -150px; }
.mn ul li:hover ul, .mn2 ul li:hover ul { display: block; }
.mn ul li ul li, .mn2 ul li ul li { float: none; display: block; border: none; height: 30px; }
.mn ul li ul li a, .mn2 ul li ul li a { text-align: left; display: block; font-size: 18px; background: none; width: auto; line-height: 30px; }
.mn ul li ul li a:hover, .mn2 ul li ul li a:hover { color: #fff; }

#navigue { min-height: 450px; padding: 15px 0; }

#flash { height: 291px; overflow: hidden; }

#bg-mot { background: url($$_$$images/bg_mot.gif) no-repeat; height: 46px; }

.txt-index {  padding: 15px 0 0 10px; font-size: 15px; text-align: left; text-shadow: 2px 2px 2px #000; }
.bg-mob { background: url($$_$$images/bg_mob.gif) no-repeat; width: 277px; height: 84px; margin: 13px 18px 0 0; }
.bg-mob div { font-size: 16px; color: #333; font-family: "Times New Roman", Times, serif; padding: 15px 0 0 15px; line-height: 25px; }
.bg-biar { background: url($$_$$images/bg_biarritz.gif) no-repeat; width: 277px; height: 84px; margin: 13px 18px 0 0; }
.bg-biar div { font-size: 16px; color: #333; font-family: "Times New Roman", Times, serif; padding: 15px 0 0 15px; line-height: 25px; }
.bg-biar a {color:#333;}

.bg-ttl-bien { background: url($$_$$images/bg_ttl_bien.gif) repeat-x; margin-top: 15px; margin-bottom: 10px; }
.ttl-bien { background: url($$_$$images/bg_ttl_select.gif) no-repeat; width: 320px; margin: 0 auto; text-align: center; line-height: 34px; font-family: "Times New Roman", Times, serif; color: #333; font-size: 24px; }
.ttl-bien a {color:#333;}
.bgsubttl-bien {width:960px; text-align:center; display:block;}
.subttl-bien { background: url($$_$$images/subttl.png) no-repeat; width: 233px; margin: 10px 43px 20px; text-align: center; line-height: 34px; font-family: "Times New Roman", Times, serif; color: #333; font-size: 22px; float:left; }
.subttl-bien a {color:#333;}
.subttl-bien a:hover {color:#333; text-decoration:underline;}

#bloc-cdc {}

.ttl-rs { font-size: 24px; font-family: "Times New Roman", Times, serif; text-transform: uppercase; text-align: center; padding: 38px 0 8px 0; }
.main-rs { width: 890px; margin: 0 auto; }

.rs-un { width: 285px; }
	.rs-un a, .rs-deux a, .rs-trois a, .rs-quatre a { background: url($$_$$images/pic_rss.gif) right no-repeat; display: block; line-height: 38px; font-family: "Times New Roman", Times, serif; font-size: 16px; color: #fff; text-align: right; padding-right: 50px; } 
.rs-deux { width: 212px; }
	.rs-deux a { background: url($$_$$images/pic_env.gif)  right no-repeat; }
.rs-trois { width: 256px; }
	.rs-trois a { background: url($$_$$images/pic_fb.gif)  right no-repeat; }
.rs-quatre { width: 134px; }
	.rs-quatre a { background: url($$_$$images/pic_tw.gif)  right no-repeat; }
.rs-un a:hover, .rs-deux a:hover, .rs-trois a:hover, .rs-quatre a:hover { color: #717171; }

.footer { padding: 50px 0; }
.l-foot { width: 265px; margin-left: 25px; }
.c-foot { width: 160px; }
.r-foot { width: 475px; }

.ttl-foot { font-size:11px; font-weight: bold; color: #cfcecd; padding-bottom: 12px; }
.ttl-foot a { color: #cfcecd; }
.link-l { font-size: 11px; width: 200px; color: #666; }
.link-c a { font-size: 11px;text-decoration: underline; display: block; }

.portefeuilleVilles, .portefeuilleVilles a, .portefeuilleVilles h3 { font-size: 11px; color: #717171; margin: 0 auto; font-weight: normal; }
.portefeuilleVilles h3  { display: inline; }

.coords { font-weight: bold; font-size: 11px; color: #fff; text-align: center; padding: 40px 0; }

.link-l a:hover, .link-c a:hover, .portefeuilleVilles a:hover { color: #fff; }

/*====== Add CSS =====*/
.ttl_page { color: #fff; text-transform: uppercase; font-size: 24px; margin-bottom: 10px; font-family: "Times New Roman", Times, serif; }

/* RETOUR HAUT */
.retourHaut { float:right;margin:5px 0 0 0;padding:0;font-size:11px;font-weight:bold; }
.retourHaut a colonne2

