// VAR COLORS
$color-body:#cfd8dc;
$color-content:#fff;
$color-block:#fff;
$color-primary:#fff;
$color-secondary:#445b63;
$color-action:#445b63;
$color-important:#00bcd4;
$color-nav-footer:#000;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;