@font-face {
    font-family: 'neogreyregular';
    src: url('$$_$$styles/typos/neogreyregular-webfont.eot');
    src: url('$$_$$styles/typos/neogreyregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('$$_$$styles/typos/neogreyregular-webfont.woff') format('woff'),
         url('$$_$$styles/typos/neogreyregular-webfont.ttf') format('truetype'),
         url('$$_$$styles/typos/neogreyregular-webfont.svg#neogreyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body { margin:0;padding:0; text-align:center; background: #172969; }
div,td { font-family: Tahoma, Arial, Helvetica, sans-serif;font-size:12px;color:#fff;}
img { border:none;display:inline;}
table  { border-collapse:collapse;border-spacing:0;}
td, th { padding:0;}
form { padding:0;margin:0;}
input, select { vertical-align:middle;}
a { text-decoration:none; color:#f68215;}
a:hover { text-decoration: none; color: #01add4;}
p { margin:10px 0;}

.clear { clear:both;}
.fleft { float:left;}
.fright { float:right;}

.wrap { width: 960px; text-align: left; margin: 0 auto; }
.fonts { font-family: 'neogreyregular', Arial; }
/*=================================================*/

#wrap { position: relative; width: 960px; text-align: left; margin: 0 auto; }

.bloc-head { height: 140px; }
.b-logo { width: 370px; }
.phone { margin-left: 150px; background: url($$_$$images/pic_phone.gif) no-repeat; display: block; height: 30px; line-height: 30px; padding-left: 35px; font-size: 18px; font-weight: bold; }

.bloc-trad { width: 520px; padding-top: 8px; }
.flag { float: right; }
.flag a { float: left; padding-left: 2px; }

#bloc-moteur { width: 480px; position: relative; margin-top: 10px; }
#bloc-moteur a { position: absolute; right: 0; top: 70px; color: #fff; text-decoration: underline; }

.mn { position: relative; background: url($$_$$images/bg_mn.gif) no-repeat; height: 55px; }
.mn ul { margin: 0; padding: 0 5px; text-align:center;}
.mn li { display:inline-block; list-style: none; }
.ie7 .mn li { float: left; }
.mn a { font-family: 'neogreyregular', Arial; color: #fff; font-size: 18px; display: block; line-height: 55px; padding: 0 5px; font-weight: bold; text-shadow: 1px 1px 1px #000; }
.mn .en a { padding: 0 8px; }
.ie9 .mn a { padding: 0 6px; }
.ie9 .mn .en a { padding: 0 10px; }
.ie7 .mn a {padding:0 7px;}
.ie7 .mn .en a {padding:0 10px;}
.mn a:hover { background: #f68215; }

#navigue { min-height: 450px; padding: 15px 0; }

#flash { height: 379px; overflow: hidden; }

.txt-index { width: 925px; margin: 0 auto; padding: 15px 0; font-size: 14px; text-align: justify; }
#page_int strong {color:#F68215;}

#bloc-cdc { background: #01add4; height: 158px; margin-bottom: 25px; }

.btn { height: 33px; overflow:hidden; }
.btn ul { margin: 0; padding: 0; }
.btn li { list-style-type: none; position: relative; float: left; margin-right: 10px; }
.btn a { display: block; height: 33px; background-repeat: no-repeat; }
.btn a:hover { position: relative; display: block; background-position: 0 -33px; }

#cdc { display: none; }

#menu-new, #menu-cdc { width:141px;height:33px;display: block; }

#menu-new.fr { background: url($$_$$images/onglet_exclus_fr.gif) no-repeat; }
#menu-cdc.fr { background: url($$_$$images/onglet_cdc_fr.gif) no-repeat 0 -33px; }
#menu-new.en { background: url($$_$$images/onglet_exclus_en.gif) no-repeat ;}
#menu-cdc.en { background: url($$_$$images/onglet_cdc_en.gif) no-repeat 0 -33px; }

.bg-mailto, .bg-blog { background: url($$_$$images/bg_mailto.gif) no-repeat; width: 462px; height: 92px; margin: 0 0 0 10px; }
.bg-blog { background: url($$_$$images/bg_blog.gif) no-repeat; margin: 0 10px 0 0; }
.main-mailto, .main-blog { width: 315px; padding: 10px 0 0 110px; color: #fff; font-size: 14px; line-height: 24px; }
.main-blog { width: 255px; padding: 10px 0 0 150px; }
.main-mailto strong, .main-blog strong { display: block; font-size: 18px; }
.main-mailto a, .main-blog a { color: #fff; font-size: 18px; text-decoration: underline; display: block; }

.bg-rs { background: url($$_$$images/bg_rs.gif) no-repeat; height: 65px; margin: 30px auto 20px; width:960px;}
.rs-mob { width: 235px; padding: 12px 0 0 80px; color: #fff; font-size: 16px; }
.rs-rss { width: 275px; }
.rs-fb { width: 250px; margin-left: 40px; }
.rs-rss a, .rs-fb a { color: #fff; }
.rs-rss a { padding: 12px 0 0 55px; color: #fff; font-size: 16px; display: block; }
.rs-fb a { padding-top: 20px; color: #fff; font-size: 16px; padding-left: 55px; display: block; }
.link-unis a { width: 70px; height: 65px; cursor: pointer; display: block; }

.main-mailto a:hover, .main-blog a:hover, .rs-rss a:hover, .rs-fb a:hover { color: #172969; } 

.link-foot { text-align: right; font-size: 11px; font-weight: bold; color: #fff; padding: 0 10px 50px 0; width:960px; margin:0 auto;}
.link-foot a { color: #fff; }
.link-foot a:hover { color: #f68215; }

.ttl_page{font-size: 24px; color:#f68215;  margin-bottom: 10px; font-weight: bold; }

/* RETOUR HAUT */
.retourHaut {float:right;margin:5px 0 0 0;padding:0;font-size:11px;font-weight:bold;}
.retourHaut a {color:#f68215;text-decoration:none;}