// VAR COLORS
$color-body:#fff;
$color-content:#f3f3f3;
$color-block:#f2f2f2;
$color-primary:#fff;
$color-secondary:#293987;
$color-action:#f58320;
$color-important:#293987;
$color-nav-footer:#293987;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#148cd8;