// VAR COLORS
$color-body:#fff;
$color-content:#1a1a1a;
$color-block:#c5c5c5;
$color-primary:#a9abac;
$color-secondary:#e30035;
$color-action:#e30035;
$color-important:#e30035;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#666;