// VARIABLES COLORS
$color-body:#e5e3e4;
$color-content:#89744d;
$color-block:#FFF;
$color-primary:#FFF;
$color-secondary:#e52b7a;
$color-action:#5b6165;
$color-important:#bf2467;
$color-nav-footer:#484848;

// COLOR PUB
$color-pub:"black-opacity";

// COLOR FONT BODY DEFAULT
$color-font-body:#484848;

// ICONE COUP DE COEUR
$color-icone-cdc:#e52b7a;