/*----------css par default--------*/
body {
	background:url(../images/fond-body_01.jpg) top left repeat-x #757f93;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#23283a;
	}
 
a{color:#e30000; 	text-decoration: none; font-weight: bold;}
a:hover{color:#f17f7f; text-decoration:none;}
td 
  {
  	font-size: 12px;
  	color:#23283a;
  }
li{list-style-type:none; list-style-image:url(../images/Ok.jpg); margin: 10px 0;}

P{
	margin:0px;
	padding:0px;
}

table {
	margin:0;
	padding:0;
	empty-cells:show;
}

.Global {
	margin:9px auto;
	background:#FFFFFF;
}

.Accueil {
	background-image:url(../images/fnd_top.jpg);
	background-repeat:no-repeat;
	padding-left:16px;
	font-size:11px;
	color:#E3ECFE;
}
.Accueil a {
	color:#E3ECFE;
	text-decoration:none;
}
.Accueil a:hover {
	color:#94a4c4;
}
.Accueil img {
	margin-right:5px;
}

.DivDrapeau{
	position:relative;
	width:100%;
}
.flags {
	background:url(../images/fnd_lng.jpg) no-repeat;
	width:300px;
	height:20px;
	position:absolute;
	left:725px;
	top:8px;
	text-align:left;
}
.flags img {
	margin:4px 30px 0 0;
}
.flags a span{display: none;}
.flags a:hover{background: none; z-index: 1;}
.flags a:hover span{display: inline; position: absolute;  top: -29px; height: 32px; width: 100px; padding: 5px 0 0 0; margin-left: -88px; background: url(../images/infobulle.gif) 0 -10px no-repeat; color: #17387b; font-size: 10px; line-height: 11px; text-align: center; vertical-align: middle;}

.Vousetesici {
	font-size:11px;
	color:#697291;
	text-align:left;
	padding-left:19px;
}
.Vousetesici img {
	margin-right:7px;
	margin-top:5px;
}

.Vousetesici span {
	color:#E30000;
}

.Miseajour {
	font-size:11px;
	color:#697291;
	padding-right:20px;
}

.Miseajour span{
	color:#E30000;
}
/*----------class contenu ---------*/
.Contenu {
	background-image:url(../images/fond_contenu.jpg);
	background-repeat:repeat-x;
	background-position:top;
	background-color:#FFFFFF;
	
}
.ZoneNav{
	background-image:url(../images/fond_contenu.jpg);
	background-repeat:repeat-x;
	background-position:top;
	padding:0 25px 25px 25px;
}
.messageNomAgence{
	color:#E30000;
	font-weight:bold;
	font-size:12px;
	display:block;
	margin-bottom:10px;
}
/*------- contenu gauche-------*/
.Logo {
	background:url(../images/sep_logo.gif) no-repeat 20px bottom ;
	font-size:14px;
	color:#524A7D;
	font-weight:bold;
	padding-bottom:6px;
	text-align:left;
	padding-left:21px;
	padding-right:35px;
}
.Logo img {
	margin:23px 8px 0 0;
}
.Logo span {
	font-family:Arial, Helvetica, sans-serif;
	font-size:28px;
	font-weight:bold;
	color:#E30000;
}
.TitreCDC{
	font-size:28px;
	font-weight:bold;
	color:#E30000;
	padding-bottom:3px;
	background: url(../images/line-cdc.gif) left bottom no-repeat;

}
.TitreCDC2{
	font-size:28px;
	font-weight:bold;
	color:#E30000;
	padding-bottom:3px;
	background: url(../images/line-cdc2.gif) left bottom no-repeat;
}
.TitreCDC3{
	font-size:28px;
	font-weight:bold;
	color:#E30000;
	padding-bottom:3px;
	background: url(../images/line-cdc3.gif) left bottom no-repeat;
	
	
}

.TextAccueil p{
	padding-top:16px;
	width:267px;
	padding-left:23px;
	padding-right:36px;
	font-size:12px;
	color:#23283A;
	text-align:justify;
	line-height:18px;
}
.TextAccueil span  a {
	color:#E30000;
	font-weight:bold;
	text-decoration:underline;
}
.TextAccueil span  a:hover {
	color:#524A7D;
	font-weight:bold;
	text-decoration:none;
}
.TextAccueil hr{background:#DCE1EC; height: 2px; border: 2px solid #DCE1EC; width: 250px;}

.TabCDC{
	border:1px solid #C6CEDE;
	background:url(../images/fond-cdc.jpg) repeat-x bottom #FFFFFF;
}
.TabCDC td{
	font-size:12px;
	color:#001C65;
	font-weight:bold;
	padding-left:5px;
	padding-right:5px;
}
.TabCDC strong{
	font-size:12px;
	color:#E30000;
	font-weight:bold;
}

.Bloc {
	border:#C8CFDF solid 1px;
	background-image:url(../images/px_fnd_cnt1.jpg);
	background-repeat:repeat-x;
	background-color:#DCE1EC;
	margin-top:8px;
}
.Bloc img{
	margin:5px 6px 0 6px;
}
.BlocText {
	font-size:12px;
	font-weight:bold;
	color:#001C65;
	padding:10px 0 0 11px;
	text-align:left;
}
.BlocText span {
	color:#E30000;
}
/*------contenu 2---------*/
.NosAgences {
	border:#C8CFDF solid 1px;
	background:url(../images/fond-agence.jpg) top right no-repeat #DCE1EC;
	text-align:left;
	width:326px;
	margin-top:-4px;
}
.NosAgences img{
	margin:10px 5px;
}
.NosAgences2 {
	border:#C8CFDF solid 1px;
	background:url(../images/fond-agence.jpg) top right no-repeat #DCE1EC;
	text-align:left;
	width:326px;
	
	
}
.NosAgences2 img{
	margin:10px 5px;
}

.TexteNosageces {
	font-size:12px;
	font-weight:bold;
	color:#001C65;
	padding:10px 0 0 0;
	text-align:left;
	vertical-align:top;
}
.TexteNosageces p {
	margin:8px 0 10px 0 !important;
	margin:8px 0 12px 0;
}
.TexteNosageces span {
	color:#E30000;
}
.TexteNosageces a {
	font-weight:bold;
	color:#E30000;
	text-decoration:none;
	font-size:10px;
	
}
.TexteNosageces a:hover {
	font-weight:bold;
	color:#524A7D;
	text-decoration:none;
}

/*----------- class footer----*/
.Foscal{
	background:url(../images/fond_footer_gauche.jpg) no-repeat bottom #fff;
	font-size:11px;
	color:#fff;
}
.Foscal a{
	display: block;
	margin: 1px 0 0 0;
	font-size:11px;
	color:#fff;
}
.Foscal a:hover{
	font-size:11px;
	color:#94a4c4;
}
.Foscal span{font-size: 10px;}
.Foscal img{float:left; margin: 0 8px 2px 17px;}
/**/
.tabFond1{border-color:#ACACAC; border-width:0; border-style:solid; padding:2px; font-family:Verdana, Arial, Helvetica, sans-serif; color:#ffffff;}

.tabFond2{border-color:#AEAEAE; border-width:1px; border-style:solid; padding:2px; font-size:11px; font-family:Verdana, Arial, Helvetica, sans-serif;  color:#ffffff;}

.tabTitre{background:url(../images/fond-titre.jpg) repeat-x bottom #d80001; height:25px; color: #FFFFFF; font-size: 11px; font-weight: bold; font-family:Verdana, Arial, Helvetica, sans-serif; }

.tabTitre2{background:url(../images/fond-titre.jpg) repeat-x #860006; height:25px; color: #FFFFFF; font-size: 11px; font-weight: bold; font-family:Verdana, Arial, Helvetica, sans-serif; }

.tabCouleur{background:url(../images/fond-titre.jpg) repeat-x bottom; border-color:#555555; height:23px; border-width:1px; border-style:solid; padding:2px; color: #FFFFFF ;}

.estimationNomAgence{color:#E30000;font-weight:bold; margin-bottom:20px; display:block;}
#seloger{
		background:url(../images/fond_footer.jpg)  repeat-x bottom #FFFFFF;
		font-size:11px;
		color:#97AACC;
		text-align:right;
		padding-right:17px;
		padding-bottom:4px;
}
#seloger img{
		margin-left:23px;
		margin-right:23px;
		margin-bottom:-4px;
		

}
#seloger a {
		color:#97AACC;
		font-size:11px;
		font-weight:normal;
		text-decoration:none;
	
}
#seloger a:hover {
		font-size:11px;
		color:#FFFFFF;
}

#Plan h4{
	color:#00007C;
	}

#Plan span{
	margin-left:30px;
	display:block
	}
#Plan a{
	background-image:url(../images/puce-on.gif);
	background-repeat:no-repeat;
	background-position:20px 10px;
	font-weight:bold;
	text-align:left;
	font-size: 12px;
	color: #FE0000;
	text-decoration:none;
	padding-left:40px;
	line-height:23px;
	margin-left:160px;
	display:block;
		}

#Plan a:hover{
	background-image:url(../images/puce-off.gif);
	background-repeat:no-repeat;
	background-position:23px 10px;
	font-weight:bold;
	font-size: 12px;
	color: #132E7C;
	text-decoration:none;
	padding-left:40px;
	line-height:23px;
			}

#Outils a{
	background-image:url(../images/puce-on.gif);
	background-repeat:no-repeat;
	background-position:20px 10px;
	font-weight:bold;
	text-align:left;
	font-size: 12px;
	color: #FE0000;
	text-decoration:none;
	padding-left:40px;
	line-height:23px;
	margin-left:160px;
	display:block;
		}

#Outils a:hover{
	background-image:url(../images/puce-off.gif);
	background-repeat:no-repeat;
	background-position:23px 10px;
	font-weight:bold;
	font-size: 12px;
	color: #132E7C;
	text-decoration:none;
	padding-left:40px;
	line-height:23px;
			}
.TitrePrint{
		background-color:#FFFFFF;
}
.tabPrint {
		border:1px solid  #7FA1C9;
		margin:0 auto;
}
.tabPrintContenu {
		border:1px solid  #7FA1C9;
		margin:0;
		margin-bottom:4px;
}

.tabPrint td{
		font-size:11px;
		color:#070081;
		background:#FFFFFF;
		text-align:center;

}

.tabPrint strong{
		font-size:12px;
		font-weight:bold;
		color:#000000;
}

/* alert.htm */
#AlerteImmo{line-height: 21px;}
#AlerteImmo p{font-size: 13px; text-align: justify;}
#AlerteImmo h2.alerteImmoTitre{color:#c00; font-size: 14px;}
#AlerteImmo p.alerteImmoDefinition{}
#AlerteImmo p.alerteImmoDefinition strong,
#AlerteImmo p.alerteImmoDefinition font{color:#223652; font-size: 14px;}
#AlerteImmo h5.alerteImmoActiver{background: #98adc7; color: #fff; padding: 5px 10px; font-size: 14px;}
/* step 1 */
p.alerteImmoStep1{}
p.alerteImmoStep1 a{background: #c00; color: #fff;  font-weight: bold; padding: 3px 10px; border: 1px solid #8b0000;}
p.alerteImmoStep1 a:hover{text-decoration: none; color:#eb9999;}
p.alerteImmoStep1 strong.alerteImmoStep1Num{color:#c00; font-size: 24px;}
p.alerteImmoStep1 strong.alerteImmoStep1Titre{color:#c00; font-size: 14px;}
p.alerteImmoStep1 span.alerteImmoStep1Reco{color:#223652;}
p.alerteImmoStep1 span.alerteImmoStep1Reco strong,
p.alerteImmoStep1 span.alerteImmoStep1Reco font{color:#223652;}
p.alerteImmoStep1 span.alerteImmoStep1Txt{}
p.alerteImmoStep1 span.ou{}
/* step 2 */
p.alerteImmoStep2{margin: 20px 0 0 0;}
p.alerteImmoStep2 strong.alerteImmoStep2Num{color:#c00; font-size: 24px;}
p.alerteImmoStep2 strong.alerteImmoStep2Titre{color:#c00; font-size: 14px;}
p.alerteImmoStep2 span.alerteImmoStep2Txt{}
p.alerteImmoStep2 span.alerteImmoStep2Txt strong,
p.alerteImmoStep2 span.alerteImmoStep2Txt font{color:#223652;}
/* step 3 */
p.alerteImmoStep3{margin: 20px 0 0 0;}
p.alerteImmoStep3 strong.alerteImmoStep3Num{color:#c00; font-size: 24px;}
p.alerteImmoStep3 strong.alerteImmoStep3Titre{color:#c00; font-size: 14px;}
p.alerteImmoStep3 span.alerteImmoStep3Txt{}
p.alerteImmoStep3 span.alerteImmoStep3Txt strong,
p.alerteImmoStep3 span.alerteImmoStep3Txt font{color:#223652;}

/*creation alerte immo */
	h1{font-size: 26px; padding: 5px 0 0 0;}
	h2{font-size: 16px;}
	h2 span{font-size: 16px; color: #000;}
	/**/
	#CreationAlerte{text-align: left;}
	/**/
	#CreationAlerte #Head{text-align: right; padding: 0 25px; background: url($$-$$alerte/img/creationalerte_head01.jpg) 0 0 repeat-x;}
	#CreationAlerte #Head a{display: block; background: url($$-$$alerte/img/creationalerte_bouton.gif) top center no-repeat; width: 144px; height: 33px;}
	#CreationAlerte #Head a span{display: none;}
	#CreationAlerte #Head #Title{text-align: left; height: 70px; padding: 0 0 0 65px; background: url($$-$$alerte/img/creationalerte_picto01.gif) 0 0 no-repeat;}
	/**/
	#CreationAlerte #Ctn{margin: 0 25px; padding: 25px 25px 25px 40px; background: url($$-$$alerte/img/creationalerte_fond04.jpg) 0 0 no-repeat #fff; min-height: 245px; _height: 245px; }
	#CreationAlerte #Ctn p.txt{margin: 0 0 15px 0;}
	#CreationAlerte #Ctn .annonce{margin: 0 0 25px 0;}
	#CreationAlerte #Ctn .annonce .head{padding: 12px; border: 1px solid #cbcbcb; background: url($$_$$alerte/img/creationalerte_fond05.jpg) 0 0 repeat-x #cbcbcb;}
	#CreationAlerte #Ctn .annonce .head *{font-weight: bold;}
	#CreationAlerte #Ctn .annonce .head a.libelle{display: block; float: left; font-size: 14px; color: #FFF; text-decoration: none;}
	#CreationAlerte #Ctn .annonce .head p.prix{float: right; font-size: 14px; color: #FFF;}
	#CreationAlerte #Ctn .annonce .head p.prox{color: #FFF;}
	/**/
	#CreationAlerte #Ctn .annonce .ann {padding: 12px; border-left: 1px solid #cbcbcb; border-right: 1px solid #cbcbcb; border-bottom: 1px solid #cbcbcb; background: #eaeaea;}
	#CreationAlerte #Ctn .annonce .ann a.photo{display: block; float: left; background: url($$-$$alerte/img/creationalerte_fond06.jpg) 0 0 no-repeat; width: 119px; height: 95px; overflow: hidden; margin: 0 10px 0 0;}
	#CreationAlerte #Ctn .annonce .ann a.photo img{display: block; width: 107px; height: 81px; margin: 4px 0 0 6px;}
	#CreationAlerte #Ctn .annonce .ann .descr{position: relative; margin: 0 0 25px 0;}
	#CreationAlerte #Ctn .annonce .ann .ref{position: relative; color: #6f6f6f; font-size: 10px;}
	#CreationAlerte #Ctn .annonce .ann .ctc{position: relative;}
	/**/
	#CreationAlerte #Ctn .annonce .tag{margin: -1px 0 0 0; height: 21px; overflow: hidden; background: url($$-$$alerte/img/creationalerte_fond07.gif) right bottom no-repeat;}
	#CreationAlerte #Ctn .annonce .tag .detail{text-align: right; padding: 0 25px 0 0;}
	#CreationAlerte #Ctn .annonce .tag .detail a{font-weight: bold; text-decoration: none;}
	#CreationAlerte #Ctn .annonce .tag .detail a:hover{text-decoration: underline;}
	/**/
	#CreationAlerte #Foot{padding: 0 0 0 220px; background: url($$-$$alerte/img/creationalerte_fond08.jpg) 0 0 no-repeat; min-height: 120px; _height: 120px;}
	#CreationAlerte #Foot .links{color: #6f6f6f; font-size: 11px;}
	#CreationAlerte #Foot .links *{color: #6f6f6f; font-size: 11px;}

/* estimation.htm / message.htm */
.ZoneNav table.tabFond1{width:100%; margin:auto;}
.ZoneNav table.tabFond1 td table td{padding: 2px 0;}
strong.messageNomAgence,
strong.estimationNomAgence{display: none;}

/* message.htm */
a.envoiToutesAgences{background: url(../images/fleche_01.gif) 0 4px no-repeat; font-size: 16px; font-weight: bold; padding: 0 0 0 15px; margin: 0 0 20px 0;}
a.envoiToutesAgences:hover {}
/**/

/* formulaires */
input.imputForm{border: 1px solid #5f8bbf; color: #11386b; background: #e9f3ff; height: 17px;  font-size: 11px;}
textarea, textarea.imputForm{border: 1px solid #5f8bbf; color: #11386b; background: #e9f3ff; width: 75%; height: 70px;}

/* guides */
.ZoneNav table{width:100%;}
.txtTitre3 {font-size: 18px;	font-style: normal; font-weight: bold;	color:#e30000;}
.ZoneNav table td,
.ZoneNav table td p{padding: 5px 0;}
.ZoneNav table td table{margin:auto; border-collapse: collapse;}
.ZoneNav table td table td{padding: 5px; }
.ZoneNav table td table td p{padding: 5px; border: none;}
td.encadre{background:#eef2f8; margin 10px 0; border: 1px solid #3f6ca5;}
.gras{font-size: 16px; font-weight: bold; color:#e30000;}
h5{color:#e30000; font-size: 16px;}
.table_news{border: 1px solid #3f6ca5; border-collapse: collapse; margin: 0 0 20px 0; background: #cfdbed;}
.table_news td{border: 1px solid #3f6ca5;}

/* 20070727 by Lisbonne */
.cdc_Ctnt{width: 200px; border: 1px solid #c6cede; background:url(../images/fond-cdc.jpg) repeat-x bottom #fff;float:left; margin:3px 8px 0 0;}
.cdc_Ctnt .picCDC{display: block; margin:5px 5px 0 5px;}
.cdc_Ctnt .picCDC img{width: 190px; height: 112px; border: none;}
.cdc_Ctnt a.picCDC:hover img {opacity: 0.6; filter: alpha(opacity=60);}
.cdc_Ctnt p{font-weight: bold; margin: 2px 5px; color: #001c65;}
.cdc_Ctnt p a{display: block; padding: 2px 0; margin: 0 0 5px 0; background: url(../images/plus.jpg) right no-repeat;}
.cdc_Ctnt h1{font-weight: bold; margin: 2px 5px; color: #001c65; font-size:12px;}

/* 20071018 by Lisbonne */
#Caet_ctn{}
#Caet_ctn p{padding: 15px; text-align: justify; font-size: 14px;}

.backMoteur{background:url(../images/backMoteur.jpg) repeat-x #DCE1EC; border:1px solid #C6D0E1; width:196px; min-height:224px; padding:15px 0 0 18px;margin:0;}
*+html .backMoteur{ padding-top:10px;}
* html .backMoteur{height:200px;}

.espaceBas{height:6px;overflow:hidden;}
.espaceHaut{height:13px;overflow:hidden;}

.modrech {position:absolute;padding:80px 0 0 720px; font-size:18px;}
.modrechbas {position:absolute;padding:0 0 0 720px; font-size:18px;}

