/* CSS Document */
.BoiteMiniMoteur{ width:215px;position:relative;margin-top:-7px;}
.MiniDiv{}
#MiniTypeTrans,#MiniTypeBien,#MiniBudget,#MiniVilles,#MiniSurface { }
.MiniTitre{ width:215px; color:#7B7B7B;font-size:11px;margin:0;}
.MiniSelect{ width:173px; border:1px solid #9C9C9C; height:16px; font-size:11px; margin:0 0 16px 0;color:#7B7B7B}
*+html .MiniSelect{ height:18px;}
.MiniSelect option{width:205px;}
.MiniInput{ border:1px solid #9C9C9C; font-size:11px; width:79px; color:#7B7B7B;}
#MiniBouton{position:absolute;top:227px;left:70px;}
*+html #MiniBouton{ top:230px;}
* html #MiniBouton{ top:217px; left:100px;}
#MiniBoutonInput{ margin:20px 0 0 0;}