// VARIABLES COLORS
$color-body:#1a262f;
$color-content:#0e161d;
$color-block:#29333a;
$color-primary:#1a262f;
$color-secondary:#0e161d;
$color-action:#fff;
// $color-action:#414950;
$color-important:#cc007b;
$color-nav-footer:#fff;

$color-bg-action:#414950;
$color-bg-action-dark-5:#343C43;

$color-bg-important:#000;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#fff;