@import "color";
// BG SOLO
$bg-uni:yes;

// PICTURE BG OU DEGRADE CSS BG COLOR PRIMARY vs SECONDARY vs BLOCK > SI NO ALL = BG BODY UNI
$picture-bg:no;
$picture-bg-url:'../images/dark_wall.png';
$picture-bg-repeat-horizontal:no;

// SIZE SCROLLING
$height-scrolling:1004;

// SIZE NAVIGATION
$height-navigation:68;

// VAR SITE TYPO
$font-body:"Source Sans Pro",verdana,sans-serif;
$font-title:"Oswald",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text:1.5em;
$font-size-title:1.9em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:normal;

// ARRONDI POUR LES EFFETS SUR LI > A:HOVER/FIL ARIANE/BOUTON
$arrondi:no;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

$margin-top-under-nav-fixe: 110;

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS LIB2
@import "../../../slagence_X_V5/sources/scss/boutons/lib2";

// IMPORT PUB LIB BOITE
@import "../../../slagence_X_V5/sources/scss/pubs/lib1";

// IMPORT PUB LIB2
@import "../../../slagence_X_V5/sources/scss/pubs/lib5";

// IMPORT TEMPLATE PARIS
@import "../../../slagence_X_V5/sources/scss/templates/helsinki";

// IMPORT MODULE ANNONCES11
@import "../../../slagence_X_V5/sources/scss/modules/annonces5";

// IMPORT MODULE EXTRA
@import "../../../slagence_X_V5/sources/scss/extra/extra5";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";

// IMPORT MODULE SOUS MENU ORPI
@import "../../../slagence_X_V5/sources/scss/sous_menu/lib1";

.container {

   width: auto;
   max-width: 1280px;
   @media only screen and (max-width : 1310px) {
       padding-left: 15px;
       padding-right: 15px;
   }
}

// .agence-responsable,
// .agence-email {
//     .typo-action {
//         color: $color-body;
//     }
// }

.titre-milieu {
	margin-top:205px;
}

.padding-top-30 {
	padding-top:30px;
}

.aside-home-1 {
    .background-center {
        background-size: cover;
    }
}

.aside-home-2 {
	background-image:url('../images/homepage/homepage_scrolling_2.jpg');
	background-color:$color-body;
	background-position:center center;
	background-attachment:fixed;
	background-repeat:no-repeat;
    background-size: cover;
}

.aside-home-3 {
	background-image:url('../images/homepage/homepage_scrolling_3.jpg');
	background-color:$color-body;
	background-position:bottom center;
	background-attachment:fixed;
	background-repeat:no-repeat;
    background-size: cover;
}

.aside-home-4 {
	background-image:url('../images/homepage/homepage_scrolling_4.jpg');
	background-color:$color-body;
	background-position:top center;
	background-attachment:fixed;
	background-repeat:no-repeat;
	    height: 571px;
    padding: 150px 0;
    color: #fff;
}

.pub-left {
	width: 68%;
	text-align: right;
	top: 620px;
	right: 20px;
	background:$color-body;
	padding:10px;
	@include border-radius (4px);
}

.pub-right {
	width: 68%;
	text-align: left;
	top: 20px;
	left: 20px;
	background:$color-body;
	padding:10px;
	@include border-radius (4px);
}





// BLOCS INDEX
#div_moteur {
	margin-top:-110px;
	background:color-primary;
	height: 140px;
}

#div_estimation, #div_suivi {
	margin-top:-110px;
	height: 90px;
}

.bloc-index > [class*="span"] {
	padding:24px 0;
	background:$color-primary;
	font-family:$font-title;
	font-size:1.3em;
	text-transform:uppercase;
	color:$color-block;
	border-radius:5px;
	-moz-box-shadow: inset 0 -1px 1px rgba($color-primary,0.5);
	-webkit-box-shadow: inset 0 -1px 1px rgba($color-primary,0.5);
	box-shadow: inset 0 -1px 1px rgba($color-primary,0.5);
	margin-bottom: 80px;
	cursor: pointer;
}
.bloc-index > [class*="span"]:hover {text-decoration:none; background:$color-primary; color:$color-action;}
.bloc-index .icon-v5 {display:block; margin-bottom:5px; font-size:3.5em;}

.menu-principal>li>a {
padding: 20px 34px;
}

.bg-inside {
	/* background-image:url('../images/inside/inside_scrolling.jpg'); */
	background-color:$color-body;
	background-position:top center;
	background-attachment:fixed;
	background-repeat:no-repeat;
}





// SCROLL ARROW

.arrow-wrap {
    position:absolute;
    z-index:125;
    left:50%;
    bottom:10em;
    margin-left:-5em;
    background:$color-important;
    width:10em;
    height:10em;
    padding:4em 2em;
    border-radius:50%;
    opacity:0.7;
    font-size:0.5em;
    display:block;
    box-shadow:0px 0px 5px 0px #333;
    .arrow {
        float:left;
        position:relative;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 3em 3em 0 3em;
        border-color: #ffffff transparent transparent transparent;
        -webkit-transform:rotate(360deg);
        &:after {
            content:'';
            position:absolute;
            top:-3.2em;
            left:-3em;
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 3em 3em 0 3em;
            border-color: $color-important transparent transparent transparent;
            -webkit-transform:rotate(360deg)
        }
    }
}

.hint {
    position:absolute;
    top:0.6em;
    width:100%;
    left:0;
    font-size:2em;
    font-style:italic;
    text-align:center;
    color:#fff;
    opacity:0;
}

.arrow-wrap:hover .hint {
    opacity:1;
}


@-webkit-keyframes arrows {
    0% { top:0; }
    10% { top:12%; }
    20% { top:0; }
    30% { top:12%; }
    40% { top:-12%; }
    50% { top:12%; }
    60% { top:0; }
    70% { top:12%; }
    80% { top:-12%; }
    90% { top:12%; }
    100% { top:0; }
}

.arrow-wrap .arrow {
    -webkit-animation: arrows 2.8s 0.4s;
    -webkit-animation-delay: 3s;
}

// END SCROLL









@media only screen and (max-width : 767px) {
        .titre-milieu {
			margin-top:0px;
		}
}


.bg-white-opacity,
.module-homepage {
   background-color: $color-block;
   color: $color-primary;
   padding: 25px;
}



@media only screen and (max-width: 767px) {
.logo img {
   width: 45% !important;
}
}


.height-180 {
    height: 230px;
}

.agence-info-bien .ellipsis {
	overflow: visible;
}

.btn-action {
    border: 1px solid #2a3233;
    background-image: linear-gradient(to bottom, #222323 0%,#000000 30%);
    color: #fff;
}

.btn-important {
    border: 1px solid #131415;
    background-image: linear-gradient(to bottom, #1e2021 0%,#000000 30%);
    color: #fff;
}

.btn-action-no-gradient {
    border: 1px solid #fffefe;
    }

    .typo-action {
    // color: #002552;
    color: #fff;
}

.breadcrumb li > a {

    color: #fbfbfb;
    }

.accordion-group {
    background-color: #151617;
    }

.accordion-inner {
    background: #002552;
    a {
        color: $color-body;
    }
}

.pagination-left .h3-like .adresse-estimation {
    text-align: center;
}


.bouton-estimation.btn-action {
    background-image: linear-gradient(to bottom, #67c6e4 0%,#67c6e4 30%);
    color: #000;
}

.bloc-agent {
    overflow: hidden;
    padding: 10px;

}
