
<!--
/*COULEUR FOND ET BORDURE */
body {
background-color: #ffffff;
scrollbar-base-color:#ffffff;
scrollbar-arrow-color: #000000;}
td,body {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color:#333333;}
.corps{background-color: #F1EED3;}
.bordure{background-color: #A90533;}
.lizere{background-color: #C9C9AB;}

/*MISE EN VALEUR DE TEXTE*/
.titreMenu{font-size: 11px; font-weight: bold; color: #ff0000;}
.titregrand{font-size: 14px; font-weight: bold; color: #990033;}
.titre2{font-size: 16px; font-weight: bold; color: #666633;}

/*LIENS*/
A { color: #A90533; font-weight: bold; text-decoration:underline;}
A:hover {  color: #A90533; font-weight: bold; text-decoration:none;}
.accueil {font-family: arial; font-size: 11px; color: #5B5D60; font-weight: normal; text-decoration:none;}
.accueil:hover {font-family: arial; font-size: 11px; color: #5B5D60; font-weight: normal; text-decoration:underline;}
.menu {font-family: Times New Roman, Times, serif; font-size: 11px; color: #F1EED3; font-weight: normal; text-decoration:none;}
.menu:hover {font-family: Times New Roman, Times, serif; font-size: 11px; color: #ffffff; font-weight: normal; text-decoration:none;}
.subMenu { color: #F1EED3; font-weight: normal; text-decoration:none;}
.subMenu:hover { color: #ffffff; font-weight: normal; text-decoration:none;}
.mailto {font-size: 11px; color: #A90533; font-weight: bold; text-decoration:none;}
.mailto:hover { font-size: 11px; color: #ffffff; font-weight: bold; text-decoration:none;}
.lienFooter {font-size: 11px; color: #C9C9AB; font-weight: bold; text-decoration:none;}
.lienFooter:hover { font-size: 11px; color: #ffffff; font-weight: bold; text-decoration:none;}

/*MISE EN VALEUR DE TEXTE*/
.adresse{ color: #003300; font-weight: bold; text-decoration:none;}

/*TABLEAUX*/
.tabFond1{background-color: #ffffff; border-color: #003300; border-width:0; border-style:solid; padding:2;}
.tabFond2{background-color: #F1EED3; border-color: #A90533; border-width:1; border-style:solid; padding:2;}
.tabTitre{background-color: #C9C9AB; color: #A90533; font-size: 11px; font-weight: bold;}
.tabCouleur{background-color: #333333; border-color: #686868; border-width:1; border-style:solid; padding:2; 
color="#000000"}
.tabTitremini{background-color: #FFFFA1; border-color: #ff0000; border-width:1; color: #000000; font-size: 11px; font-weight: bold;border-style:solid; padding:2;}
.tabFond2mini{background-color: #FFFFA1; border-color: #ff0000; border-width:1; border-style:solid; padding:2;}
.tabMenu{background-color: #B0C3A4; font-weight: bold; color: #FFEEAB; }
.fondMenuAccueil{background-color: #9BC3EB;}
.fondSousMenu{background-color: #FFE1A8;}
.fondLogo{background-color: #FFF0D3;}

-->

