// VAR COLORS
// $color-body:#ddd;
$color-body:#fff;
$color-content:#ddd;
$color-block:#fff;
$color-primary:#192121;
$color-secondary:#222222;
$color-action:#ac182e;
$color-important:#ac182e;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#192121;
