/* isis39 */

/* general */
*{font-family:Arial, Verdana, Helvetica, sans-serif; font-size: 11px; color: #bfbfbf; margin:0; padding: 0; border: none;}
ul,li{list-style: none;}
table,td{border-collapse: collapse;}
.clear{clear: both; height: 0;}

html{background: url(../images/bg_01.jpg) 0 0 repeat-x #000;}
body{background: url(../images/bg_02.jpg) top center no-repeat; text-align: center; padding: 62px 0 10px 0;}


/* haut */
#Wrap{width: 996px; text-align: left; margin: auto;}
#Header{}


/* contenu site */
#Content{text-align: left; margin: 0 5px; background: #000;}



$$REM$$
====================================================================================
 /////////////////////////////// >> RECHERCHE BASIC  ///////////////////////////////
====================================================================================
$$END$$



/* ne pas mettre les cdc */
/* si_exclusif */#RechResultat .blocAnnonce table.detailsAnn td.photo_wrap .photo_ctn .exclusif,
/* si_coupdecoeur */#RechResultat .blocAnnonce table.detailsAnn td.photo_wrap .photo_ctn .coupdecoeur,
/* si_promo (update 02.02.2009) */#RechResultat .blocAnnonce table.detailsAnn td.photo_wrap .photo_ctn .promo{display: none; z-index: 0;}


/* phrase resultats */
#RechHaut #RechHautCtn h2 span{font-size: 12px;}

/* tri annonces */
#RechHaut form#Tri select,
#RechHaut form#Tri select optgroup,
#RechHaut form#Tri select option{color: #222;}


/* calculette financiere */#RechHaut #CalculetteFinanciere a,
/* liens haut */#RechHaut #RechHautCtn #RechHautLiens a,
/*retour haut */ #RechercheContainer .RetourHaut a{padding: 0 0 0 15px; background: url(../images/fleche_rouge_2.gif) 0 2px no-repeat;}
/* liens haut */#RechHaut #RechHautCtn #RechHautLiens a{font-size: 14px;}


#RechercheContainer #AlerteEmail #AlerteForm #Format,
#RechercheContainer #AlerteEmail #AlerteForm #Frequence{padding: 2px 14px; background: url(../images/fleche_rouge_2.gif) 0 5px no-repeat;}



/* nb page */
#RechPagesHaut .rechLiensPages a,
#RechPagesBas .rechLiensPages a{background: url(../recherche/img_basic/page_bg_off.jpg) 0 0 repeat-x #000;}
#RechPagesHaut .rechLiensPages a.actif,
#RechPagesBas .rechLiensPages a.actif,
#RechPagesHaut .rechLiensPages a:hover,
#RechPagesBas .rechLiensPages a:hover{background: url(../recherche/img_basic/page_bg_on.jpg) 0 0 repeat-x #a10202;}
/**/
#RechPagesBas .rechNbPages *,
#RechPagesBas .rechNbPages{color: #333;}


/* bloc annonce */
#RechResultat .blocAnnonce{margin: 0 0 20px 0; border: none; background: url(../recherche/img_basic/ann_ctn_bg.jpg) 0 0 repeat-x #3b3b3b;}
/* bloc annonce haut */
#RechResultat .blocAnnonce .typeBien_Ctn{border-bottom: 1px solid #dc0101; background: url(../recherche/img_basic/ann_haut_bg.jpg) 0 0 repeat-x #710c0e;}


/* on cache le ctc car monoagence sans réf */
.contactAnn_ctn{display: none;}
/* >>>> et donc on ne met pas de padding à la description de l'annonce */
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn{padding: 0 10px 0 0;}
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn p.quartier,
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn p.descr,
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn p.prox{color: #333;}

/* photo conteneur */
#RechResultat .blocAnnonce table.detailsAnn td.photo_wrap{}
#RechResultat .blocAnnonce table.detailsAnn td.photo_wrap .photo_ctn{background: #dbdbdb; padding: 4px;}
/* pas de rollover sur les photos car bcp d'images verticales */
#RechResultat .blocAnnonce table.detailsAnn td.photo_wrap .photo_ctn a.photo:hover em{display: none;}
/* nb visuels */
#RechResultat .blocAnnonce table.detailsAnn td.photo_wrap .photo_ctn a.nbVisuels{margin-left: 4px;}

/* bas annonce */
#RechResultat .blocAnnonce .detailAnn{background: #6b6b6b;}
/* selection annonce */
#RechResultat .blocAnnonce .detailAnn .ajoutSelection a{color: #fff; background: none; padding: 1px 0;}
#RechResultat .blocAnnonce .detailAnn .ajoutSelection a:hover{}
#RechResultat .blocAnnonce .detailAnn .ajoutSelection .selectionOk{background: none; padding: 1px 0;}
/* suppression annonce */
#RechResultat .blocAnnonce .detailAnn .supprimerSelection{float: left}
#RechResultat .blocAnnonce .detailAnn .supprimerSelection a{background: none; padding: 1px 0;}
#RechResultat .blocAnnonce .detailAnn .supprimerSelection a:hover{}
/* lien detail */
#RechResultat .blocAnnonce .detailAnn a.lienDetail{color: #fff; padding: 1px 0; margin: 0 5px 0 0; background: none;}
#RechResultat .blocAnnonce .detailAnn a.lienDetail:hover{}

/* ============================== alerte email (situé en bas de page)============================== */
#RechercheContainer #AlerteEmail #AlerteEmailCtn h3{color: #333;}
#RechercheContainer #AlerteEmail #AlerteForm *{color: #333;}
#RechercheContainer #AlerteEmail #AlerteForm #Format{background: none; padding-left:0;}
#RechercheContainer #AlerteEmail #AlerteForm #Frequence{background: none; padding-left:0;}
#RechercheContainer #AlerteEmail .note{color: #333;}

/* ============================== dico immo (situé en bas de page) ============================== */
#RechercheContainer .dicoImmo *{color: #333;}

#RechercheContainer .RetourHaut a{background: none;}


$$REM$$
====================================================================================
 /////////////////////////////// DETAIL BASIC LIGHT ///////////////////////////////
====================================================================================
$$END$$



/* ============================== bandeau titre haut ============================== */
#DetailAnnonce #Titre{border-bottom: 1px solid #dc0101; background: url(../recherche/img_basic/ann_haut_bg.jpg) 0 0 repeat-x #710c0e;}
#DetailAnnonce #LiensRetour .majAnn{color: #ccc;}
#DetailAnnonce #LiensRetour a{font-size: 14px;}

/* ============================== conteneurs annonce ============================== */
#Annonce_Wrap{padding: 0; background: url(../detail/img_basic/ann_bg.jpg) 0 0 repeat-x #eaeaea; border:none;}
#Annonce_Wrap #Annonce_Ctn{background: none;}

/* ============================== conteneurs photo ============================== */
#Photo_Ctn{background: #dbdbdb; border: none;}
#Photo_Ctn #Photo{width: 100%; background: #dbdbdb;}
#Photo #GrandePhoto img{border: 15px solid #fff; border-bottom: 50px solid #fff;}
#Photo #Vignettes a{width: 70px; height: 50px; border: 15px solid #fff; outline:1px solid #aaa;}

/* //===============================// bloc outils + bookmarks //===============================// */
#Annonce_Bas{background: none;}

/* coordonnées agence */
#AgenceContact{background: url(../detail/img_basic/bg_coords.jpg) 0 0 repeat-x #dbdbdb;}
#AgenceContact .coords_agence{margin-left: 12px;}
#AgenceContact .coords_agence *{color: #333; font-size: 14px;}
#AgenceContact .coords_agence strong{color: $$LIGHT_COLORTXT1$$; font-size: 16px;}


/* champs input + textarea */
#AgenceContact form table#FormContact td#ChampsNom,
#AgenceContact form table#FormContact td#ChampsPrenom,
#AgenceContact form table#FormContact td#ChampsTelephone,
#AgenceContact form table#FormContact td#ChampsEmail{}
#AgenceContact form table#FormContact td#ChampsNom input,
#AgenceContact form table#FormContact td#ChampsPrenom input,
#AgenceContact form table#FormContact td#ChampsTelephone input,
#AgenceContact form table#FormContact td#ChampsEmail input,
#AgenceContact form table#FormContact td#ChampsMessage textarea{background: #fff; border: 1px solid #888;}


/* mentions légales */
#TitreContact{border-bottom: 1px solid #aaa;}
#TitreContact a#AgenceMentions *,
#TitreContact a#AgenceMentions{color: #333;}
