// VAR COLORS
$color-body:#161616;
$color-content:yellow;
$color-block:#303030;
$color-primary:#2e2e2e;
$color-secondary:#242424;
$color-action:#c3021f;
$color-important:#e3373b;
$color-nav-footer:#ececec;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#e9e9e9;