// VAR COLORS
$color-body:#fff;
$color-content:#1a1a1a;
$color-block:#D9DDDE;
// $color-primary:#ffffea;
$color-primary:#737778;
$color-secondary:#fe0000;
$color-action:#ce0000;
$color-important:#ebc904;
$color-nav-footer:#fff;

$color-white:#fff;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#4c4a44;