// VAR COLORS
$color-body:#fff;
$color-content:#f1f1f1;
$color-block:#e5e5e5;
$color-primary:#fff;
$color-secondary:#27247b;
$color-action:#27247b;
$color-important:#e91d26;
$color-nav-footer:#27247b;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#00021a;

// COLOR SOUS MENU
$color-sous-menu:$color-action;
