@import "color";
// BG SOLO
$bg-uni:yes;

// PICTURE BG OU DEGRADE CSS BG COLOR PRIMARY vs SECONDARY vs BLOCK > SI NO ALL = BG BODY UNI
$picture-bg:no;
$picture-bg-url:'../images/dark_wall.png';
$picture-bg-repeat-horizontal:no;

// SIZE SCROLLING
$height-scrolling:899;

// SIZE NAVIGATION
$height-navigation:50;

$margin-top-under-nav-fixe:160;

.margin-top-under-nav-fixe {
    background-image: url('../images/bg-body.jpg');
    background-color: $color-body;
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
}

// VAR SITE TYPO
$font-body:"Source Sans Pro",verdana,sans-serif;
$font-title:"Oswald",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text:1.4em;
$font-size-title:1.8em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:normal;

// ARRONDI POUR LES EFFETS SUR LI > A:HOVER/FIL ARIANE/BOUTON
$arrondi:no;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS LIB2
@import "../../../slagence_X_V5/sources/scss/boutons/lib2";

// IMPORT PUB LIB BOITE
@import "../../../slagence_X_V5/sources/scss/pubs/lib1";

// IMPORT PUB LIB6
@import "../../../slagence_X_V5/sources/scss/pubs/lib6";

// IMPORT TEMPLATE PARIS
@import "../../../slagence_X_V5/sources/scss/templates/helsinki";

// IMPORT MODULE ANNONCES11
@import "../../../slagence_X_V5/sources/scss/modules/annonces5";

// IMPORT MODULE EXTRA
@import "../../../slagence_X_V5/sources/scss/extra/extra4";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";

// IMPORT MODULE SOUS MENU LIB1
@import "../../../slagence_X_V5/sources/scss/sous_menu/lib1";



//--------------------------------------------------------------------------------------
//		CSS PERSO CD85360
//--------------------------------------------------------------------------------------

/* AUTRES TEMPLATE */

.container {
    width: 1380px;
    @media only screen and (max-width : 1280px) {
        width: 960px
    }
}

.cookie-banner {
    background-color: $color-action;
    top: auto;
    bottom: 0;
}

.navigation-perso {
margin-bottom:100px;
}

//--------------------------------------------------------------------------------------
//		MENU & NAV
//--------------------------------------------------------------------------------------

.logo img {
    padding: 1px 2px;
}

.navigation {
border-bottom: 20px solid $color-important;
background:$color-primary;
}

@media only screen and (max-width: 767px) {
    .logo img {
       width: 20% !important;
    }
    .titre-milieu {
        margin-top: 4px;
        font-size:0.8em;
    }
}



.menu-principal>li>a {
padding: 0px 12px;
font-size:1.1em;
color:$color-action-dark-5;;
&:hover {
color:$color-important;
}
}

@media only screen and (max-width : 1280px) {
.menu-principal>li>a {
padding: 8px 8px;
font-size:1.0em;
}
}

@media only screen and (max-width : 890px) {
.menu-principal>li>a {
padding: 8px 4px;
font-size:0.8em;
}
}

//--------------------------------------------------------------------------------------
//		INDEX
//--------------------------------------------------------------------------------------


.aside-extra {display:none; }

.aside-txt-home {
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.pub-estimation-helsinki {
top:-20px;
}

@media only screen and (max-width : 767px) {
.pub-estimation-helsinki {
top:-30px;
}
}

@media only screen and (max-width : 767px) {
.background-pub-estimation {
top:-225px;
}
}

.pub-estimation {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/pub/lib6/picto-estimation.jpg);
    height: 120px;
}




.module-annonces-homepage, .bloc-bienvenue {background-color:$color-body;}

.zone-pub{ height:320px; }
.zone-pub p {min-height:75px;}

.mini-moteur {
width:80%;
display: block;
margin-right: auto;
margin-left: auto;
}

.bg-moteur {
width:80%;
display: block;
margin-right: auto;
margin-left: auto;
}

.height-300 {
    height: 350px;
}

.height-370 {
    height: 505px;
}


.height-180 {
    height: 240px;
}

.height-140 {
    height: 240px;
}



.opacity-9 {
    opacity: .3;
}

body > section > aside.bg-container-100.height-500.z25.relative.box-shadow-bottom.hidden-phone.pub-estimation-helsinki > div.container.relative.hidden-phone > div > div > div:nth-child(1) > div > span {color:FFF; }

.align-titre-module {margin-left:562px; font-size:1.1em;}
.align-titre-meteo {margin-left:517px; font-size:1.1em;}

@media only screen and (max-width : 767px) {
.align-titre-module  {
margin-left:50px;
}
}

@media only screen and (max-width : 767px) {
.align-titre-meteo  {
margin-left:80px;
}
}

div:nth-child(3) > span:nth-child(1) {text-transform: lowercase;}
div:nth-child(3) > span.typo-action.big {text-transform: uppercase;}

/* Le parent */
.videoWrapper {
position: relative;
padding-bottom: 56.25%; /* 16:9 */
padding-top: 25px;
height: 0;
}
/* L'enfant */
.videoWrapper iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}


#widget_eb0ac0273eeb621742fa516ad4b26f28 {margin-left:65px;}

#widget_e95b4ac59b9c6226b6476651f2374f4d {margin-left:65px;}

#widget_a3965438e1a45d8c84c2f2c37adfb4c4 {margin-left:65px;}

#widget_1755330eb749e4285e4146e3b20ec3c2 {margin-left:65px;}

//--------------------------------------------------------------------------------------
//      PAGE LISTING AGENCE
//--------------------------------------------------------------------------------------



//--------------------------------------------------------------------------------------
//      PAGE LISTING RECHERCHE
//--------------------------------------------------------------------------------------

.recherche-annonces {height:560px; }

.sans-photo-annonces {height:300px; }

a > div.row-fluid.margin-bottom-10.padding-top-10 > div.span9 > span:nth-child(4) {text-align: justify;}

#recherche-resultats-listing-content > div > div.row-fluid.margin-bottom-10.recherche-ligne-tri-pages > div:nth-child(1) > div > div.span5.hidden-phone.margin-top-2.bloc-btn-change-affichage > div:nth-child(1) {display:none;}


body > section > div > div > div > div > div > div.row-fluid.margin-top-20.margin-bottom-20 > div:nth-child(3) {display:none;}


.infos-bien {display:none;}
#recherche-resultats-listing-content > div > div.row-fluid.margin-bottom-10.recherche-ligne-tri-pages > div:nth-child(1) > div > div.span5.hidden-phone.margin-top-2.bloc-btn-change-affichage {display:none;}

//--------------------------------------------------------------------------------------
//      PAGE RECRUTEMENT
//--------------------------------------------------------------------------------------
.bg-recrutement {
    background-image:url('../images/immo/bg-recrutement.jpg');
    height:250px;
    padding:10px;
    margin-top:-20px;
}


@media only screen and (max-width : 767px) {
.bg-recrutement {
height: 80px;
background-size: contain;
background-repeat: no-repeat;
margin-top:-75px;
}
}

@media only screen and (max-width : 767px) {
.text-recrut {
font-size: 1.2em;
margin-top:0px;
}
}


.bg-vendre {
    background-image:url('../images/immo/bg-vendre.jpg');
    height:460px;
    padding:10px;
    margin-top:-20px;
}

@media only screen and (max-width : 767px) {
.bg-vendre {
height: 160px;
background-size: contain;
background-repeat: no-repeat;
margin-top:-75px;
}
}

//--------------------------------------------------------------------------------------
//      PAGE DETAIL
//--------------------------------------------------------------------------------------
body > section > div > div > div > div.bloc-detail-reference > span.icon-v5-pdf.pull-right.margin-top-1 {display:none;}



//--------------------------------------------------------------------------------------
//      PAGE IMMO
//--------------------------------------------------------------------------------------

