// VAR COLORS
$color-body:#f1f1f1;
$color-content:#f1f1f1;
$color-block:#fff;
$color-primary:#006674;
$color-secondary:#c1dd63;
$color-action:#006674;
$color-important:#c1dd63;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;