$$REM$$
====================================================================

//// <summary>Fichier css par défaut pour : agence-immobiliere.htm</summary>
//// <remarks>
//// <para>Fichier appelé par : /slagence_X_V2/agence-immobiliere.htm</para>
//// </remarks>
//// <update date="2008-05-30" author="lisbonne.siriphol">Update et corrections</update>
//// <update date="2008-01-14" author="lisbonne.siriphol">Création v1</update>

====================================================================
$$END$$

/* carte_visite.htm */
#CV{margin: 0; padding: 0; border: none;}
#CV *{margin: 0; padding: 0; border: none;}
#CV .clear{clear:both;}
#CV .linkOut{text-align: right; margin: 0.5em 0;}
#CV .linkOut a{}
/**/
#CV h1{position: relative; font-size: 1.8em; color: #fff; background: #22b6f2; padding: 0.3em 0.8em;}
#CV h3{font-size: 1.4em; border-bottom: 1px solid #22b6f2; color: #22b6f2; padding: 0 0 5px 0; margin: 0 0 10px 0;}
#CV #Agence{padding: 1em; background:none;}
#CV #Agence #Img_Ctn{position: relative; float: left; background: #fff;}
#CV #Agence #Img_Ctn #Vitrine{width: 200px; height: 130px; border: 3px solid #22b6f2; background: url($$_$$images/agences/$$FORM:IDP$$.jpg) 50% 50% no-repeat #fff;}
#CV #Agence #Coordonnees{position: relative; float: left; padding: 0 1em;}
#CV #Agence #Coordonnees *{}
#CV #Agence #Coordonnees h2{font-size: 1.5em; color: #22b6f2;}
#CV #Agence #Coordonnees p{padding:3px 0 0 0;}
#CV #Agence #Coordonnees p strong{font-weight: normal;}
#CV #Agence #Coordonnees p span{font-weight: bold;}
#CV #Agence #Coordonnees label.cv_respag{}

/* texte public SAISS */
#CV #Agence #TxtPublic{color:#ccc; text-align: justify;}

/* Liens footer carte de visite */
#CV #CvFoot{background:#22b6f2; height: 25px; overflow: hidden;}
#CV #CvFoot *{color: #fff; text-decoration: none; font-weight: bold;}
#CV #CvFoot #Links{float: left;}
#CV #CvFoot #Links a{color:#fff; display: block; float: left; padding: 0.3em 1em;}
#CV #CvFoot #Links a:hover,
#CV #CvFoot #Links a:hover span{color: #003065;}
#CV #CvFoot #Links a.message{}
#CV #CvFoot #Links a.estimation{}

/* Portefeuille agence : incl_portefeuille01.htm */
#Portefeuille01{padding: 1em 0; position: relative;}
#Portefeuille01 a{padding: 5px 0; font-weight: bold; line-height: 1.6em; background: none;}
#Portefeuille01 a.typeTransac{font-size: 1.2em; color:#22b6f2;}
#Portefeuille01 a.typeBien{font-size: 0.9em; margin: 0 0 0 30px; color:#000;}
#Portefeuille01 a.typeBien *{color:#000;}
#Portefeuille01 .nbAnn{}		

/* annonces dans carte visite agence = QUAND PRESTATION DE REFERENCEMENT ! */
#Annonces01 .ann_transac{color:#1E3B1A;}
#Annonces01 .ann_descr span{color:#1E3B1A;}
#Annonces01 .ann_descr a{color:#22b6f2;}

#Annonces01 .ann_ctn a.ann_pht:hover em span{color:#22b6f2;}
#agenceImmo h3{margin:0 0 10px; padding:0 0 5px; margin:10px 0 5px 0;}
