/* CSS Document */

/* Redefinitions des balises HTML */ 
		*{margin:0;padding:0;font-size:13px;font-family:tahoma, Verdana, Helvetica, sans-serif;color:#fff;}
		img{border:0}
		.clear{clear:both;}
		a{text-decoration:underline; outline:none; color:#fff; }
		a:hover{text-decoration:none; color:#C7C9CF;}
		hr{display:none;}
		select option{padding:2px; color:#000; font-size:11px;}
		ul,li{list-style:none; margin:0; padding:0;}
		table{ margin:0 auto; padding:0;}
		table tr td,
		table tr td p
		#milieu table tbody tr td{ padding:5px 0px; text-align:justify; text-align:left; }
		* html input.alerte{ background:#f2f2f2; color:#000;}
		textarea.imputForm, input.imputForm, select.imputForm {background:#FFF; color:#000; border: 1px solid #000; padding:5px; margin-left:9px;}

/* --------Modification AR PLAN SITE-------- */    

/* --------BG site + header-------- */ 
		body{background:#555555; padding:0;margin:0;}
		form {margin:0 20px 0 20px;}
		#header{padding:0;margin:0; width:100%; background:#818286; border-bottom:2px solid #000;}
		#contHeader{ position:relative;width:993px; margin:0 auto; overflow:hidden; }
		#global{position:relative;width:993px; margin:0 auto;padding:0;}


/* ----------------------------------------PAGE ACCUEIL---------------------------------------- */	   
   
/* --------LOGO AGENCE-------- */ 
		#LogoAgence { z-index:5;float:left; display:inline;margin:0;padding:20px 0 0 72px; }
		#LogoAgence img{ margin:0;margin-left:5px; display:inline;}


/* --------DRAPEAUX LANGUES FRANCAIS ET ANGLAIS-------- */ 		
/* Mettre en DISPLAY:NONE si pas d'option Anglais */ 
		#Drapeaux {margin:0 0 3px 0; padding:0; width:76px; float:right; height:18px;}
		* html #Drapeaux { margin:0;}
		#Drapeaux img { margin-right:5px; display:inline;}


/* --------TEXTE ACCUEIL--------*/ 
		#textAccueil {float:left; width:552px;padding:12px 0 0 64px; color:#fff; margin:0;}
/* Modification TITRE texte d'accueil */ 
		#textAccueil h1{ font-size:23px; color:#fff; padding:0;margin-bottom:10px; font-family:"Times New Roman",sans-serif; font-style:italic;}
/* Modification CORPS texte d'accueil */ 
		#textAccueil p{text-align:justify;font-family:tahoma,sans-serif; font-size:11px;color:#fff;line-height:16px;margin:0 0 3px 0; padding:0 0 20px 0;}
		* html #textAccueil p{ padding:0 0 19px 0;}
		#textAccueil p a{font-size:12px;color:#fff; font-family:tahoma,sans-serif;}
		#textAccueil p.horaires{ font-family:tahoma,sans-serif; font-weight:bold;text-align:justify; font-size:12px;color:#fff;line-height:16px;margin:0 15px 3px 0;}
		#textAccueil p strong{ color:#fff;}
		
/* --------LOGOS: FNAIM & SIA--------*/
		#Partners{ width:62px;height:95px; float:right; text-align:center;display:none;}
		#Partners span img{text-align:center; padding:2px 0;}


/* --------MARQUEE DEFILANTE-------- */
/* Modification COULEUR  MARQUEE */ 	
		#RefMarqueeNavig{ height:33px; float:right;font-size:11px;background:#d4dfff; margin:0; padding:0;}
		#RefMarquee{  height:33px; float:right;font-size:11px;background:#d4dfff; margin:0; padding:0;}
		#RefMarquee marquee{width:535px;margin:0 10px 0 0; color:#000; padding:7px 5px 7px 5px;font-size:11px; }
		#RefMarquee marquee a {color:#fff; font-size:11px;}
		#RefMarquee marquee a strong {color:#fff; font-size:11px;}
		#RefMarquee marquee a:hover {color:#28354F;}

/* --------MENU + FLUX RSS-------- */
/* BG site : Bandes à gauche et à droite du menu */
		#remplissageMenu{ width:993px; background:#28354F; min-height:44px; margin:0 auto;}		
/* Modification COULEUR + TAILLE fond MENU */
		#menuFlux{width:994px; background:#8F9094; height:45px;   margin:0 auto;}
/* 		* htlml #menuFlux{width:984px; background:#28354F; height:40px; border-left:5px solid #28354F; border-right:5px solid #28354F; border-bottom:1px solid #28354F; margin:0 auto;}
 */		#menu {float:right; display:inline; width:760px;}
		#menu ul{ height:44px;}
		#menu li{ height:36px; line-height:36px; list-style:none; float:left; padding:5px 3px;}
		#menu li.sep{ padding:0;}
		#menu li.sep img{ display:block;}
/* Modification COULEUR TEXTE MENU */ 
		#menu a{font-size:12px; color:#FFF; background:#8E9094; padding:11px 20px; text-decoration:none; font-weight:bold;}
		#menu a:hover{color:#FFF; background:#555555;}		
/* Modification COULEUR SEPARATIONS ONGLETS MENU */ 
		#menu ul li.MenuSep{ color:#28354F; font-weight:normal; text-shadow:#CC0000; padding:0;}
/* Modification FLUX RSS */ 		
		
        #fluxRss{display:none;}


/* --------CONTENU SITE = ZONE DU MILIEU-------- */
/* Modification COULEUR ARRIERE PLAN CONTENU SITE */ 	
		#milieu{width:984px; margin-top:1px; padding:24px 5px 7px 5px; background:#555555; margin:0 auto;}
/* Positionnement bandeau image */ 
		#visuel{float:left; display:inline; width:654px; margin:0 0 10px 0; padding:0;}		
/* Modification COULEUR BORDURE IMAGE */
		#visuel img{border:7px solid #EAEAE8;}
 

/*--------POSITIONNEMENT MINI MOTEUR-------- */ 
		.miniMoteur{float:right;display:inline;width:230px;padding:0;position:relative;}		
/* Modification TITRE RECHERCHE */ 		
		.miniMoteur h2{ width:202px; height:38px; line-height:38px;font-size:18px; font-weight:bold; color:#fff; padding-left:20px; background:#8E9094;}
/* A NOTER !!!! Pour styliser les champs + bouton mini moteur VOIR == MINI_MOTEUR.CSS */ 


/* ----------- 3 COUPS DE COEUR ------------- */ 
		#blocBas #coupCoeur{float:left;display:inline;width:715px;margin:0 40px 15px 0; }
		* html .div-cdc{ height:290px;}
/* Modification BACKGROUND + BORDER CDC */ 
		.div-cdc{width:233px; min-height:290px;float:left; background:#fff; margin:0 2px 0 0; border:1px solid #E6E6E6;}
/* Modification couleur générale du texte du CDC */ 
		.div-cdc *{ color:#000;}
		.div-cdc .contenu-cdc *{color:#000;}
		.div-cdc .contenu-cdc  a:hover *{color:#818286;}
/* Modification photo CDC */ 
		.div-cdc .photo-cdc img{width:223px;height:130px;  background:url(../images/bg_Img_Cdc.gif);margin:5px;}
/* Modification couleur TRANSACTION + TYPE DE BIEN  */ 
		.div-cdc .typetransaction-cdc{font-size:12px; font-weight:bold; text-transform:uppercase; color:#555555; padding:0 0 11px 0;}
		.div-cdc .typebien-cdc{font-size:12px;text-transform:uppercase; font-weight:bold; color:#555555; padding:0 0 11px 0;}
/* Modification couleur VILLE  */ 
		.div-cdc a span.ville-cdc{font-weight:bold;display:block; color:#000; padding-bottom:4px;}
/* Modification couleur DESCRIPTIF  */
		.div-cdc .descriptif-cdc{min-height:30px; color:#000;}
		* html .divc2c .descriptif-cdc{height:30px; color:#000;}
/* Modification couleur PRIX */
         p.espace-cdc{padding-bottom:4px;}
		.div-cdc p.prix-cdc{font-weight:bold;font-size:12px; color:#555555;padding-top:4px;}
		.div-cdc span.nbpiece-cdc, .div-cdc span.surface-cdc{font-weight:bold;font-size:11px; color:#555555;}

		.div-cdc .contenu-cdc{padding:0 6px 4px 6px;}
		.div-cdc .contenu-cdc a{ text-decoration:none;}
		.div-cdc .contenu-cdc a:hover{color:#818286;}
        

/* ----------- LISTE TRANSACTIONS AGENCE ------------- */ 
		#blocBas .nbrTransaction{float:right;width:229px; margin:0; padding-top:0px;}
/* Modification titre Portefeuille */ 
		#blocBas .nbrTransaction h2{width:207px; height:38px; line-height:38px;font-size:18px; font-weight:bold; color:#fff; padding-left:15px; background:#8E9094;}

/* Modification COULEUR "AUJOURD'HUI" */ 	
		#blocBas .nbrTransaction h3{ display:none; font-size:13px;font-weight:bold;padding:5px 0;color:#28354F; text-align:center;}
/* Modification COULEUR TYPE TRANSACTION */ 	
		#blocBas .nbrTransaction h4{width:167px;font-weight:bold;font-size:12px;color:#93ABFF;padding:10px 0 0px 0; }
		#blocBas .nbrTransaction h4 a{text-decoration:none; margin-left:19px;}
		#blocBas .nbrTransaction ul{list-style-type:none;margin:0 0 10px 19px; line-height:16px;color:#fff;}
/* Modification COULEUR TYPE DE BIEN */ 
		#blocBas .nbrTransaction ul *{font-size:11px;color:#C7C9CF;}
		#blocBas .nbrTransaction ul a:hover{text-decoration:none;color:#fff;}
        img.snpi{padding:0 0 0 72px;}

/* -----------INCLUDE BAS------------- */ 

/* Modification COULEUR BANDE COORDONNEES */ 
		.CoordonneesAgence {font-size:11px; background:#8F9094; height:27px; text-align:center; padding-top:13px; color:#fff; font-weight:bold;}	
/* Modification BG footer portefeuille + menu secondaire */
		.footerPosition{background:#28354F; position:relative;width:995px; border-left:0px solid #fff; border-right:0px solid #fff; padding-bottom:0; margin:auto;}
		.porteFeuille{width:888px;margin:0 auto;}
		#footer .porteFeuille *{color:#6E8EFF;}
/* ARRIERE PLAN FOOTER */
		#footer{ background:none; margin:0 auto; padding:0 0 0 1px; height:62px;}
/* Modification couleur 2 TITRES FOOTER */ 
		#footer h4{display:none; font-size:11px;font-weight:bold;background:none;padding:4px 0 1px 33px;margin:17px 0 0 0;line-height:19px;}
/* titre gauche : Notre portefeuille immobilier */
		#footer .porteFeuille h4{display:none; font-size:12px; color:#414141;}
/* titre droite : www.urldusite.com */
		#footer .menuSecondaire h4{ display:none;font-size:12px; color:#FFF; }

		
/* Modification couleur LISTE DES VILLES */ 
		#footer .porteFeuille .ListeVilles{width:888px;text-align:center;line-height:13px;border:0;color:#fff; padding:12px 0 0 0;}
		#footer .ListeVilles *{color:#6E8EFF; font-size:12px;font-weight:normal;}
		#footer .ListeVilles a{color:#6E8EFF;text-decoration:underline;}
		#footer .ListeVilles a:hover *{color:#fff;text-decoration:none;}

/* Modification couleur MENU SECONDAIRE FOOTER (droite) */
		.menuSecondaire *{font-size:11px;}
		.menuSecondaire{font-size:11px;color:#FFF; text-align:center; line-height:45px; background:#555555;}
		.menuSecondaire p{color:#FFF; text-align:center;}
		.menuSecondaire p a{font-size:11px;color:#FFF;text-decoration:none; background:#656565;padding:8px 7px 9px 7px;}
		.menuSecondaire p a:hover{font-size:11px;color:#FFF;text-decoration:none;background:#8F9094;}
		span.sepSep{ color:#FFF;}
		#underFooter{width:995px; margin:0 auto;}
        #footer .aigm{width:520px;  padding:12px 0 0 0; margin:0 auto;}
        #footer .aigm ul{text-align:center;}
        #footer .aigm ul li{float:left; padding:0 0 0 10px; display:iline;}
        #footer .aigm ul li a{ font-size:11px; font-weight:bold; margin:0 10px 0 0; text-decoration:none;}
        #footer .aigm ul li span.sepSep{color:#6E8EFF;}
        #footer .aigm ul li a:hover{color:#fff;text-decoration:underline;}

/* ----------------------------------------AUTRES PAGES DU SITE---------------------------------------- */

/* Page En Construction */
		#EnConstruction{margin-top:70px; text-align:center;}

/* PAGE PLAN DU SITE = incl_plan-site.htm */  
		ul#Plan *{text-decoration: none; font-weight: bold;}
		ul#Plan{padding: 0 8em; width:400px; margin:0 auto;position:relative;top:-25px;}
		ul#Plan li.plan{ color:#fff; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;border-bottom:none;}
		ul#Plan li.MenuSep{display:none;}
		ul#Plan li{padding: 0.2em 0; border:none;}
		ul#Plan .plan{padding: 0.2em 0;background:none;}
		ul#Plan li a{ background:none;color:#fff;padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #fff ; text-transform:uppercase;}
		ul#Plan li a:hover{color:#FFF;padding-left:10px; height:19px;font-size: 12px; background:#8F9094; border:1px solid #fff;}
		ul#Plan li.voirTout a{color:#fff;}

/* Outils */
		ul#Outils *{text-decoration: none; font-weight: bold;}
		ul#Plan a span.nbAnn{color:#fff;}
		ul#Outils{padding: 2em 8em; width:400px; margin:0 auto;}
		ul#Outils li.list{padding: 0.2em 0px;background:none; margin:2px 0; border:none;}
		ul#Outils li a{color:#fff;padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #fff ; text-transform:uppercase;}
		ul#Outils li a:hover{color:#FFF;padding-left:10px; height:19px;font-size: 12px; background:#8F9094; border:1px solid #fff;}
		#Outils li.titrePageOutils, .titreInfosLegales{ color:#fff; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}
		#Outils a:hover{color:#fff ;}
/* ----- PAGE MOTEUR,CLASSIC.HTM -----*/
		h2.TitrePage{ color:#fff; font-size:19px; font-weight:bold; text-align:right; text-transform:uppercase; background:none; border:none;margin-right:26px;}

/*PAGES ESTIMATION + CONTACT + MESSAGE == TABLEAUX FORMULAIRES*/
		.tabFond1{border-color:#00AA00; border-width:0; border-style:solid; padding:2px; font-family:tahoma, Helvetica, sans-serif; width:100%; color:#fff;}
		 textarea {width:600px; height: 100px;}
		.tabFond2{border-color:#00AA00; border-width:1px; border-style:solid; padding:2px; font-size:14px; font-family:tahoma, Helvetica, sans-serif; color:#fff;}
		.tabTitre{width:98%; background:#8F9094; text-transform:uppercase; text-align:left;font-size: 18px;color:#FFF;font-weight: bold;letter-spacing: 0;padding:10px;margin: 10px 0;border-bottom:5px solid #000;font-family:tahoma, Helvetica, sans-serif; }
		.tabTitre *{color:#FFF; font-size: 18px;}
		.tabPrint{color:#fff; font-size: 13px; font-family:tahoma, Helvetica, sans-serif; border:1px solid #00AA00;}
		.tabFond1 td input{border: 1px solid #000; color: #000;height:24px; padding:5px; margin:5px 0 0 10px;}
		.tabFond1 td input.boutonEnvoi{height:34px; width:149px; border:none;}
		.tabFond1 table{ width:100%; color:#fff;}
		strong.messageNomAgence,
		strong.estimationNomAgence{ display:none;}
		#CguFormulaire {margin:10px 20px 10px 20px;}
		p.selection strong {display:none;}
/*Résolution Bug IE8 = donner une taille aux bouton pour éviter tout décallage*/
		.boutonEnvoi { float:right; height:34px; width:149px; border:none;}
		.tabFond1 .BoutonFormContact { float:right; height:34px; width:149px; border:none; }
		.MoteurBouton input { float:right; height:34px; margin-right:4px; width:149px; margin-bottom:10px;}
		td #ChampsBouton input { float:right; height:34px; width:149px; margin-right:15px;display:inline;}
		input.BoutonFormRecherche {float:right; height:34px; width:149px;}
/* Recherche */
       #RechResultat .blocAnnonce .typeBien_Ctn{background:#8E9094;}
	   #RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .descr{width:455px;}
	   #RechercheContainer #AlerteEmail #AlerteForm input.alerteBt{background:#8E9094;cursor:pointer;}
	   #RechercheContainer #AlerteEmail #AlerteForm input.alerte{color:#000; border:1px solid #000;}
	   #RechHaut #RechHautPictoResult .results{ background:#8F9094;}
	   #RechHaut form#Tri select,#RechHaut form#Tri select option,#RechHaut form#Tri select optgroup{color:#000;padding:0 0 0 4px;}
	   #RechHaut form#Tri select option{color:#000;}
	   #RechHaut #RechHautCtn #RechHautLiens a.rss{color:#E95D0F;}
	   #RechHaut #RechHautCtn #RechHautLiens a.rss:hover{color:#fff;}
/* Détails */
         #AgenceContact form table#FormContact td#ChampsBouton #ChampsObligatoires{clear:both;}
		 #AgenceContact #CguFormulaire a{text-decoration:underline;}
		 #AgenceContact #CguFormulaire a:hover{text-decoration:none;}
		
		#AgenceContact form table#FormContact td#ChampsNom,
		#AgenceContact form table#FormContact td#ChampsPrenom,
		#AgenceContact form table#FormContact td#ChampsTelephone,
		#AgenceContact form table#FormContact td#ChampsEmail{}
		#AgenceContact form table#FormContact td#ChampsNom input,
		#AgenceContact form table#FormContact td#ChampsPrenom input,
		#AgenceContact form table#FormContact td#ChampsTelephone input, #AgenceContact form table#FormContact td#ChampsEmail input{display: block; padding: 4px; width: $$FORM_INPUT_WIDTH$$; background: #fff; color: #000; border:1px solid #000;}
        
/* champs textarea*/
		#AgenceContact form table#FormContact td#ChampsMessage{padding: 3px 0;}
		#AgenceContact form table#FormContact td#ChampsMessage textarea{display: block; padding: 4px; width: $$FORM_TEXTAREA_WIDTH$$; background: #fff; border: $$LIGHT_BORDER01$$; height: $$FORM_TEXTAREA_HEIGHT$$; color:#000; border:1px solid #000;}

 
/* Mentions Legales */
		#TitreContact a#AgenceMentions em span{ line-height:13px !important; color:#555555 !important;}
		#MentionsLegales{}
		#MentionsLegales h2 {display: block; width: 99%; background:#8F9094; font-size: 14px; color:#fff;font-weight: bold;letter-spacing: 0;padding:3px 0 3px 8px;margin: 10px 0;text-align: left;text-transform: none;font-family:tahoma, Helvetica, sans-serif; text-transform: none;}
		#MentionCV{color:#fff;}
		
		#RechPagesHaut .rechLiensPages a:hover, #RechPagesBas .rechLiensPages a:hover, #RechPagesHaut .rechLiensPages a:hover span, #RechPagesBas .rechLiensPages a:hover span{ color:#000; font-weight:bold;}
		 #RechPagesHaut .rechLiensPages a:hover span, #RechPagesBas .rechLiensPages a:hover span{border-top:none;}