$$REM$$/*====================================================================
//// <summary>Fichier CSS À DÉMUTUALISER POUR CHAQUE SITE</summary>
//// <remarks>
//// <para>Pour plus de rapidité, intégrer les macros du fichier 'all_global_macros.css'</para>
//// </remarks>
//// <update date="2010-02-16" author="lisbonne.siriphol">Création</update>
====================================================================*/$$END$$

<!--#include virtual="styles/all_global_macros.htm" -->

/* header */
#TopHeader_Ctn {border:none;}


#HeaderTxt h2 {color:#D6DFEE;}

/* menu */
ul#Menu li a {width:137px; padding: 10px 0 10px 0; text-shadow: 0px 5px 10px #000; font-size:12px; font-weight:bold;}


#Wrap {background: #d7e0ef; /* Old browsers */
background: -moz-linear-gradient(top,  #d7e0ef 0%, #b1c4dd 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d7e0ef), color-stop(100%,#b1c4dd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d7e0ef 0%,#b1c4dd 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d7e0ef 0%,#b1c4dd 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d7e0ef 0%,#b1c4dd 100%); /* IE10+ */
background: linear-gradient(to bottom,  #d7e0ef 0%,#b1c4dd 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7e0ef', endColorstr='#b1c4dd',GradientType=0 ); /* IE6-9 */
}
#Ctn {background:none;}


/*  index */
.titreParagraphe, #NouveautesAccueil .titreParagraphe span {color:#004769;}
#PortefeuilleAccueil h6 {color:#D6DFEE;}
#PortefeuilleAccueil h4 a {color:#D6DFEE;}

/* nouveautes */
.selectionDescr .selectionVille, .selectionDescr .selectionVille *, .selectionDescr .selectionDetail a {color:#D6DFEE;}


/* mini mot */
.miniTitre {color:#004769;}

/* cdc */
.selectionDescr .selectionTxt {color:#fff;}

/* moteur */
#Moteur h2 {color:#004769;}
#Moteur .moteurTable ul li#nb_pieces, #Moteur .moteurTable ul li#nb_chambres, #Moteur .moteurTable ul li#InputSurfaceTerrain {background:#fff; color:#004769;}
#Moteur .inputText, #Moteur .inputSelect, #Moteur .inputTextarea, #Moteur .inputSelect option{color:#fff;}
#Moteur .moteurTable .col2 {color:#004769;}

/* recherche */ 
.libelle, .prix, .ville {color:#fff;}
.contactAnn {background:#D6DFEE;}
.contactAnn .tel {color:#004769; font-size:14px; font-weight:bold;}

/*detail */
#Annonce_Ctn td#ColonneGauche {background:none; border:none;}
#Descriptif .txtDescriptif, #InfosPrincipales p, #InfosComp_Ctn #InfosComp p, .poi_col .poi_sub_list li, .poi_col li.base,.poi_col strong {color:#004769;}
.similaire_ctn {background:none;}

#Annonce_Ctn td#ColonneDroite, #AgenceContact * {background:#fff; color:#004769;}
#Form_Ctn table td p {color:#004769;}
#Form_Ctn .inputText, #Form_Ctn .inputTextarea {color:#fff;}

/* agence */
#AgImmo td, #AgImmoDroite p, #AgImmoDroite p *, #AgImmo *, ul#AgImmoPortefeuille * {color:#004769;}

/* formulaire */
#FormContactAgence .inputText, #FormContactAgence .inputSelect, #FormContactAgence .inputTextarea, #FormContactAgence .inputSelect option {color:#fff;}

/* outils */
#Outils h3 {background:#fff; color:#004769;}
.accordion_content .inputText, .accordion_content .inputCalcul, .accordion_content .inputResult {color:#fff;}

/* bouton */
#MiniBouton .boutonSubmit, #AgImmoDroite .AgImmoContact a, #AgImmoDroite .AgImmoEstimation a, #FormContactAgence .inputSubmit, .accordion_content .inputCalcul, #Moteur #MoteurBouton .inputSubmit {background:#004769;}


/* footer*/
#Footer_Ctn {background:#004769;}
#Footer h3 a, #Footer h3 a strong {color:#fff;}



/* Vendus*/
#BiensVendus {display:none;}

