/*$$REM$$====================================================================================
//// <summary>CSS site "PACK OPTIMAL TEMPLATE 5"</summary>
//// <remarks>
//// <para>Fichier css appelé grâce à la conf et cfg_template</para>
//// <para>Toute modification CSS de ce fichier devra être effectuée dans votre "commun.css"</para>
//// <para>Liste des macros générales pour faciliter la customisation des sites</para>
//// <para>Interdiction formelle de le démutualiser sous peine de châtiment douloureux, car les updates ne pourront pas s'appliquer aux sites qui le feront</para>
//// </remarks>
//// <update date="2011-03-17" author="barthelemy.giraud">Création</update>
====================================================================================$$END$$*/

$$REM$$ /* ============================================================================================
 //////////////////////////////////// MACROS CHEMIN DES REPERTOIRES ///////////////////////////////////
============================================================================================= */$$END$$
<!--#include virtual="styles/macros_path.htm" -->

$$REM$$ /* ============================================================================================
 ////////////////////////////////////// MACROS GENERALES PERSOS //////////////////////////////////////
============================================================================================= */$$END$$
<!--#include virtual="styles/macros_pictos.htm" -->
<!--#include virtual="styles/all_global_macros.htm" -->

    *{padding:0; margin:0; color:$$TXT_PRINCIPAL$$; font-size:12px; font-family:Arial,sans-serif;}
	img{border:0}
	a{text-decoration:none;outline:none;}
	a:hover{text-decoration:none; color:$$TXT_MENU_HOVER$$;}
	ul,li{margin:0; padding:0; list-style:none;}
	ol{margin:0;list-style:none;}
	.clear{ clear:both;}
	body{background:#02090F;}
	h1,h2,h3,h4,h5,h6{font-weight:normal;}
	
/* Structure generale */ 
    #wrap{position:relative;float:left; width:100%;background:url($$_$$images/bg_generale.jpg) 50% 0 no-repeat;}
    #wrap img.wrap{position:absolute; top:0; left:0; float:left; width:100%;background:$$BG_WRAP$$;}
    #global{width:990px; margin:0 auto; text-align:left;position:relative;}
	#header{min-height:141px; float:left; width:990px; margin:24px 0 0 0;}
	#content{ float:left; width:960px; padding:15px 15px 0 15px; background:url($$_$$images/bg_content.jpg) 0 6px no-repeat #08111D;}
	#Content{min-height:500px;float:left; width:960px; padding:15px 15px 0 15px;background:#08111D;}
    #footer{float:left; width:990px; margin:10px auto 0; padding:0 0 33px; }
/*================================ developement de la page index ==================================*/
/* block top */
    	  
	#Top{float:left;width:990px;padding:16px 0 0 0; margin:0 0 0 0;float:left; position :relative; }
	#Top a.mn1 { color: #6E92AD;  float: left; font-family:arial,sans-serif; font-size: 11px;  font-weight: bold; padding: 0 28px 3px 17px; }
	#Top a.mn1:hover {text-decoration: none;}
	#Top #refmarquee{width:747px; float:left; padding:0 0 0 0;}
	#Top #refmarquee *{color:#0A2B4A; font-size:11px; font-weight:normal;}
	#Top #drap{float:right;margin-right:12px; position:absolute; right:0; top:6px;}
	
/* developpement de block header */

   #header h1{margin:0 0 35px 9px;}
   #header h1 img{width:519px; height:69px; display:block; margin:0;}
   #header h2{position:absolute; right:36px; top:38px;margin:0 0 19px 0; }
   #header h2 img{margin:0 0 19px 0; width:284px; display:block; margin:0;}	

   /* Menu  */
   #header #menu{background:#08111D; width:100%; margin:0 0 8px 0; padding:0; float:left; height:47px;}
   #header #menu ul{height:47px; margin:0; padding:0; text-align:center; width:100%; text-align:center; line-height:47px;}
   #header #menu ul li{display:inline-block; position:relative;}
   #header #menu ul li a{color:#fff; font-size:16px; font-family:Georgia, Arail,sans-serif; padding:10px;}
   #header #menu ul li a:hover{color:#3292D8;}
   #header #menu ul ul {position:absolute; top:35px; left:0; background:#08111d; display:none; text-align:left; height:auto; width:auto; padding:10px; line-height:normal;}
   #header #menu ul ul li {display:block; white-space:pre;}
   #header #menu ul ul li a {font-family:Georgia, Arail,sans-serif; padding:5px; font-size:14px; text-transform:uppercase; display:block;}
   #header #menu ul li:hover > ul {display:block;}

   
   
   
   
   /*css mini moteur*/
	#header .minimoteur{position:relative; min-height:121px; margin:5px 0; border:1px solid #0E2439; padding-left: 22px; float:left; width:966px; display:none; background:url($$_$$images/bg_moteur.jpg) 0 0 repeat-x #0E1B29;}
	#header .minimoteur img.sep1{position:absolute;top:0; left:332px;}
	#header .minimoteur img.sep2{position:absolute;top:0; right:325px;}
	#MiniMoteur_Ctn{position:relative;}
	#MiniBudget{width:284px; position:absolute; left:337px; top:0;}
	#MiniSurface{position:absolute; left:337px; top:40px;}
	#MiniReference{position:absolute; right:21px; top:1px;}
	#MiniReference #MiniInputRef{height:22px; border:1px solid #133651; width:170px; background:#050F17; color:#fff;}
	#header .minimoteur h6{margin: 10px 0 6px 0; font-family:arial; font-size:12px; font-weight:bold;}
	#header .miniTitre{width:110px; font-size:11px; font-family:arial; padding:4px 0 5px 0;}
	#header select.miniSelect {height:24px;border:1px solid #133651; font-size:10px; font-family:arial; background:#050F17; color:#fff;}
	#header select.miniSelect option{padding:0 0 0 3px;}
	#header .miniDivSelect{ float:left;}
	#MiniTypeTransaction{margin-top:18px;}
	.miniDiv {width:284px;}
	#header #MiniBouton{position:absolute; right:22px; top:33px;}
	#header #MiniBouton .boutonSubmit {background-position:0 4px;font-size:14px; height:35px; padding:0; width:173px;font-family:georgia,sans-serif;}    
	#MoteurBouton input.inputSubmit,#FormContactAgence .inputSubmit{width:173px; height:37px; font-family:georgia,sans-serif;}	
	#MoteurBouton input.inputSubmit, #FormContactAgence .inputSubmit, #ChampsBouton .inputSubmit{border-bottom:1px solid #0E2439;border-right:1px solid #0E2439; width:137px; height:30px; font-family:georgia,sans-serif; }	
	#Content .bouton_ctn input.inputSubmit{width:173px; height:37px; font-family:georgia,sans-serif;}
/* developpement de block content */  
    #anim{width:960px; margin:0;}
    #anim img{width:960px; display:block;}
    #down{width:960px; padding:0; margin:0 auto; float:left;}
    #down .agence{padding:33px 16px 60px 17px; margin:0; float:left; width:288px; background:url($$_$$images/bg_block.png) 100% 47px no-repeat;}
    #down .agence h2{ font-size:23px; text-align:center;}
    #down .agence h3{ font-size:12px; text-align:center; color:#3292d8; font-family:georgia,sans-serif;}
    #down .agence p{font-size:12px; padding:13px 0 0;}
	#down .agence a, #down .agence strong {color:#3292D8;}
    #down .annonce{ padding:33px 16px 0 17px;  margin:0 0 0 0; float:left; width:286px; background:url($$_$$images/bg_block.png) 100% 47px no-repeat;}
    #down .annonce h2{ font-size:23px; text-align:center;}
    #down .annonce h3{font-size:12px; text-align:center; color:#3292d8; font-family:georgia,sans-serif;}
    #down .annonce p{font-size:12px; padding:13px 0 7px;}
    #down .contact{ padding:33px 16px 0 17px; margin:0; float:left; width:287px;}
	#down .annonce a, #down .annonce strong, #down .contact a  {color:#3292D8;}
	#down .annonce a:hover, #down .contact a:hover, #down .agence a:hover {color:#fff;}
    #down .annonce a.btn_home { line-height:37px; text-align:center; font-size:15px; background:url($$_$$images/bg_a_bien.jpg) 0 0 no-repeat; width:173px; display:block; height:37px; margin:0 auto 27px; color:#fff;}
	#down .annonce h2.access{font-size:23px; font-family:georgia,sans-serif; color:#3292D8;margin-bottom:4px; }
	#down .contact h2{ font-size:23px; text-align:center;}
    #down .contact h3{font-size:12px; text-align:center; color:#3292d8; padding:0 0 0; font-family:georgia,sans-serif;}
    #down .contact p{font-size:12px; padding:13px 0 0;}
    #down .adresse{ text-align:center; margin: 0 0 18px; font-size:11px; font-family:arial,sans-serif;}
    
    .geolocInfo {color:#000;}
    
/* developpement de block footer */ 
    
	.commerce{float:left; height:20px;font-size:10px ;color:#1B547E;font-weight:normal; margin:0px 0 0 0; width:503px;}
	.commerce *{font-size:12px; color:#1B547E; font-weight:normal;}
	.commerce ul{margin:0; padding:0;color:#1B547E;}
	.commerce ul li{float:left;}
	.commerce ul li span{float:left; color:#1B547E;}
	.commerce ul li a{ font-weight:normal; display:block; height:20px; padding:0 7px 0 7px; color:#1B547E; font-size:10px; font-family:arial,sans-serif; }
	.commerce ul li a:hover{ color:#fff;}
	.commerce ul li a.first{ font-weight:normal;  height:20px; padding:0px 7px 0 2px; color:#1B547E; font-size:10px; font-family:arial,sans-serif; }
	.commerce ul li a.first:hover{color:#fff;}

	.mentions *{font-size:10px; color:#1B547E; font-weight:normal;}
	.mentions{ float:right; height:20px;font-size:10px ;color:#1B547E;font-family:arial,sans-serif; font-weight:bold; margin:0 0 0 0;}
	.mentions ul{margin:0; padding:0;}
	.mentions ul li span{float:left; color:#1B547E;}
	.mentions ul li{float:left;}
	.mentions ul li a{height:20px; padding:4px 7px 0 7px; color:#1B547E; font-size:10px; font-family:arial,sans-serif;}
	.mentions ul li a:hover{color:#fff;}
 /* les titres de pages*/
    .ttl-pages,.titreInfosLegales{width:960px; font-family:Georgia, Arail,sans-serif; font-weight:bold; color:#fff; margin-bottom:5px; border-bottom:$$BORDER_POINTILLES$$; font-size: 19px; font-weight: normal;padding: 5px 0px;text-transform: uppercase;margin-top: 10px; text-align:center;}
    .obligatoire {color:#fff;}
/* page estimation */
	#FormContactAgence .inputText, #FormContactAgence .inputSelect, #FormContactAgence .inputTextarea{font-weight:normal; background:#fff; border:1px solid #fff; color:#000; padding:5px;}
/* plan de site */

   #Plan_Ctn .planSite{display:none;}
   #Plan_Ctn  a{font-size:17px; font-family:georgia, Arail,sans-serif;}
   #Plan_Ctn  a:hover{color:$$TXT_MENU_HOVER$$;text-decoration:none;}
   #Plan_Ctn  a span{font-family:georgia, Arail,sans-serif; color:#333333;text-decoration:none; font-size:13px;}
   #Plan_Ctn  a:hover span{color:#B3B3B3;text-decoration:none;}
   #Plan_Ctn .sous_menu2{margin:5px 0 5px 20px; width:170px;}
   #Plan_Ctn .sous_menu2 a{font-size:14px; display:block; background:$$PUC_PLAN$$; padding:0 0 5px 10px; margin-bottom:4px;}
   #Plan_Ctn.sous_menu2 a:hover{text-decoration:none; color:$$TXT_MENU_HOVER$$;}	
   ul#Plan li{border-bottom:none;}
/* mentions legal */
	 #MentionsLegales a{color:$$TXT_MENU_HOVER$$; font-size:14px;text-decoration:underline;}
	 #MentionsLegales a:hover{text-decoration:none;}
	 #MentionsLegales h2 {display:block; width: 99%; background:$$BG_MENTION$$; font-size: 14px; color:#fff; letter-spacing: 0;padding:3px 0 3px 8px;margin: 10px 0;text-align: left;text-transform: none;font-family: georgia, Arail,sans-serif; text-transform: none;}   
	 
/* page recherche demutualise  */
	.blocAnnonce{text-align: left; border: 0px solid #fff; margin: 10px 0; background: #000;}
	
	#Content .photo_wrap{height:324px; width:auto;overflow: hidden;}
	#Content .photo_wrap img{ height:auto; width:100%;border:0px solid #183854;}
	#Content .exclusif,#Content .selectionNouveau,#Content .coupdecoeur{ display:none;}
	#RechResultat .nbPhotos_ctn .nbPhotosBg{width:772px; margin-left:1px;}
	.nbPhotos_ctn a.nbPhotos em{display: none; float: left; width: 0px; height: 0px; background: url($$PICTO_NB_PHOTOS$$) 0 0 no-repeat !important;}
	#RechResultat .descr{text-align:left;}
	#Content .photo_wrap a.photo{ height:331px;width:auto;}
	#Content .photo_ctn{ height:332px; width:576px; background: none;}
	#Content .pictoDetail {background: url($$_$$images/detail.png) no-repeat 0 0 !important;}
	#Content #AlerteEmail #AlerteForm input.alerteBt {background:#fff; color:#000;}
	#Content .retourHaut a {color:#fff;}
	#Content .retourHaut a:hover {color:#1B547E;}
	#RechResultat.nbPhotos_ctn{width:774px;}
	#Content #RechAffichage a {color:#3292D8;}
	.lienDetail a{text-align:center; font-size:11px; background:url($$_$$images/bg_detail.jpg) 0 0 no-repeat; width:150px; display:block; height:37px; margin:20px auto 27px; text-transform:uppercase; padding:4px 0;}
	.lienDetail a:hover{color:#3292D8; text-decoration:none;}
	#Content #RechAffichage a:hover{color:#000;}
	#Content #RechAffichage .similaire  a{color:#3292D8;}
	/* DPE */
#emissionG {margin-left:0px;}
#consoE, #emissionG {float:left;width:45%;padding:0px;}
#consoE h5, #emissionG h5 {display:none; }
.diagramme{position:relative;background:#fff;border:1px solid #eee;padding:15px;height:245px; width:225px;}
.diagLettre{position:absolute;color:#fff;font-size:16px;font-weight:bold;left:200px;width:45px;height:20px;text-align:center;background:url('/z/webagency/slagence_X_V4/images/pictos/diag-fleche.gif') 0 0 no-repeat;}
.diagA{top:25px}
.diagB{top:48px}
.diagC{top:70px}
.diagD{top:94px}
.diagE{top:117px}
.diagF{top:140px}
.diagG{top:163px}
.diagH{top:192px}
.diagI{top:214px}
.bilanConso{padding:2px 0;font-weight:bold;font-size:16px;color:#000;}
.notes{clear:both;font-size:9px;text-align:justify;color:#787878;}
	.similaireDetail a{color:#3292D8;}
	
	.similaire a, .similaire a span{color:#3292D8;}
	.similaire a:hover, .similaire a span:hover{color:#fff;}
	.similaire p a:hover{color:#fff; text-decoration:underline;}
	
	.pictoDetail{display: none; float: left; cursor: pointer; width: 16px; height: 16px; margin: 0 4px 0 1px;}
	
	/* ==== description ==== */
.descrAnn{background: none; padding: 2px 0 0 0px; margin: 5px 0 0 0; font-size:10px; text-align: justify;}
.descr{text-align: justify; word-wrap: break-word; font-size:10px;}
.descr strong{color: $$TXT_TITRE_RUBRIQUE$$;}

.terrain, .reference, .prox {font-size: 10px; font-weight: normal; color: #fff; letter-spacing:1px;}
.surface {font-size: 10px; font-weight: normal; color: #fff; letter-spacing:1px; margin:10px 0 0 0;}
/* ville */
.ville{font-size: 12px; font-weight: normal; color: #fff; letter-spacing:1px; margin:0 0 10px 0;}
/* libelle */
.libelle{font-size: 12px; font-weight: bold; color: $$TXT_TITRE_RUBRIQUE$$; text-transform:uppercase; letter-spacing:1px;}
	
	/* phrase résultats recherche BASIC */
#RechHautPictoResult{float: left; overflow: hidden; background: none; margin: 0px; padding: 0px; text-align:center;}
#RechHaut h1{font-family:georgia,sans-serif; font-size:19px; margin:0px; padding:0px;text-align:center; text-transform:uppercase;}
#RechHaut h1.biensVendus{font-size: 20px; padding: 3px 0 0 0;}
#RechHaut h2 span, #RechHaut h2{font-size: 10px; color:#1B547E; text-align:center;}
#RechHaut h2 span a{color: $$TXT_PRINCIPAL$$;}
#Gallery .ad-gallery .ad-thumbs li a {background:none !important; font-family:georgia,sans-serif; font-size:20px; width:100px; text-align:center; font-style:italic; border:1px solid #313e4a; padding:0;}
#Gallery .ad-gallery .ad-thumbs .ad-thumb-list{padding:14px 40px 0}
#RechHautPictoResult .results{width: 0px; height: 0px; background: none; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$RECH_PICTO_RESULTAT_OK$$', sizingMethod='scale');}

#FancyBox_Ctn .fancyBoxPicto {display:none;}
#FancyBox_Ctn a#FancyBox1 {text-decoration:none;}
#fancybox-title-over {display:none;}
#fancybox-outer {
    background: #000;
    height: 100%;
    position: relative;
    width: 100%;
    border:1px solid #303030;
}

	a .nbPhotos, .nbPhotosBg {display:none;}
	.nbPhotos_ctn a.nbPhotos em {background: none;}
	#RechHautLiens{display:none;}
	
	#AlerteEmail {display:none;}
	/* ============================== portefeuille annonces (situé en bas de page)============================== */
.portefeuilleAnn{clear: both; padding: 10px 0; border-top: $$BORDER_POINTILLES$$;}
.portefeuilleAnn *{}
.portefeuilleAnn p{padding: 2px 0; color:#1B547E; font-size:10px;}
.portefeuilleAnn a{display: block; float: left; width: 30%; padding: 1px 0; margin: 0 1% 0 0; overflow: hidden; font-weight: normal; text-decoration: underline; color:#1B547E; font-size:10px;}
.portefeuilleAnn a span{font-size: 10px;}
.portefeuilleAnn a:hover{text-decoration: none;}

/* ============================== dico immo (situé en bas de page) ============================== */
.dicoImmo{margin: 10px 0 0 0; padding: 10px 0; border-top: $$BORDER_POINTILLES$$; border-bottom: $$BORDER_POINTILLES$$;}
.dicoImmo *{ font-size: 10px; font-weight: normal; color:#183458;}
.dicoImmo a{text-decoration: underline;}
.dicoImmo a:hover{text-decoration: none;}

/* page detail */
     #container #CoupDeCoeur{display:none;}
	#Annonce_Ctn td#ColonneCenter{width:305px; background:url($$_$$images/bg_sep.png) 100% 50% no-repeat; padding:0 15px 0 0;}
    #Annonce_Ctn td#ColonneGauche{border:none; width:290px; background:url($$_$$images/bg_sep.png) 100% 50% no-repeat; padding:0 15px 0 15px;}
    #Annonce_Ctn td#ColonneDroite{border:none; width:320px; padding:0 0 0 15px;}
   
	#Annonce_Ctn  .infosannonce_ctn td{padding:5px;}

	#Annonce_Ctn #Gallery{float:left;width:960px; min-height:465px;} 
	#Annonce_Ctn #Gallery .photo_ctn{width:956px; min-height:465px; margin:0 auto;} 
	#Annonce_Ctn #Gallery .photo_ctn .photoNbr{display:none;} 
	#Annonce_Ctn #Gallery .infosannonce_ctn td{padding:0;} 
	#container #Nouveau{display:none;}
	 #Gallery .ad-gallery .ad-image-wrapper{border:0; width:800px; background:none;}
	 #Gallery .ad-gallery .ad-image-wrapper .ad-image{width:800px;}
  .ad-gallery .ad-nav{ width:955px;}
	#Gallery .ad-gallery .ad-nav .ad-thumbs{ width:955px; height:130px;}
	#container #gallery{width:958px; float:left;}
	#Gallery .ad-prev{ background:url($$_$$images/prev1.png) 0 0 no-repeat; width:29px; height:429px; position:absolute; top:0; left:0; cursor:pointer; display:none;}
	#Gallery .ad-prev:hover{ background:url($$_$$images/prev1_down.png) 0 0 no-repeat;}
	#Gallery .ad-next{ background:url($$_$$images/next1.png) 0 0 no-repeat; width:29px; height:429px; position:absolute; top:0; right:0;cursor:pointer;display:none;}
	#Gallery .ad-next:hover{ background:url($$_$$images/next1_down.png) 0 0 no-repeat;}

	#Transaction, #Surface, #SurfaceTerrain, #MajAnn, #Prox {background:none; font-size:11px; margin:0; padding:0;}
	#InfosPrincipales p {background:none; margin:0; padding:0;}

	#container #Gallery #container{width:958px;}
	#DetailAnnonce h4{font-family:georgia,sans-serif; font-size:19px; text-align:center; text-transform:uppercase;}
	#DetailAnnonce h3{ font-size:12px;  text-transform:uppercase; color:#fff; font-weight:bold;}
	#AgenceContact strong{color:#fff;}
	#container .ad-gallery .ad-nav .ad-thumbs,#container .ad-gallery .ad-back,#container .ad-gallery .ad-forward{background:#000;}
	.ad-gallery .ad-back,.ad-gallery .ad-forward { width:35px;}
	#container .ad-gallery .ad-back{background:#000 url($$_$$images/ad_scroll_back.png) 0 0 no-repeat;}
	#container .ad-gallery .ad-forward{background:#000 url($$_$$images/ad_scroll_forward.png) 0 0 no-repeat;}
	.similaire_ctn{margin:0 2px 2px 0;}
	
	#InfosComp_Ctn #InfosComp p {background:none; margin:2px 0 0 0; padding:0; font-size:11px;}

	.photoTitre {display:block; margin:auto; padding:0; position:relative; top:-25px; width:800px;}
	.photoTitre a {font-size:11px; color:#3292D8; text-decoration:none;}
	
	#LiensRetour a {font-weight:normal; padding:0 7px 0 7px; color:#6E92AD; font-size:10px; font-family:arial,sans-serif;}
	
	#Dpe {}
	#Prix .unite, #Prix .sup1, #Prix .fai {font-size:11px; color:#fff; font-weight:normal;}
	
	/**/
#Picto_Selection_Ok, #Picto_VoirSelection, #Picto_Imprimer, #Picto_EnvoiAmi, #Picto_AjoutSelection{display:none; }

#Outils  {text-align:center; margin:auto;}

#AjoutSelection a, #VoirSelection a, #Imprimer a { text-align:center; font-size:11px; background:url($$_$$images/bg_detail.jpg) 0 0 no-repeat; width:150px; display:block; height:35px; padding:11px 0 0 0; text-transform:uppercase; text-decoration:none; margin:auto;}

#EnvoiAmi a {display:none;}


	/* Page agence */
	
#AgImmo_Ctn h3  {display:none;}
#AgImmo_Ctn h2  {font-family:georgia,sans-serif; font-size:19px; margin:0px; padding:0px; text-transform:uppercase; color:#fff;}
#AgImmo_Ctn h4  {font-family:georgia,sans-serif; font-size:19px; margin:20px 0 0 0; padding:0px; text-transform:uppercase; color:#fff;}
#AgImmo_Ctn .cv_adresse  {font-size: 12px; font-weight: bold; color: #fff; text-transform:uppercase; letter-spacing:1px;}
#AgImmo_Ctn p label  {font-size: 12px; font-weight: normal; color: #fff; text-transform:uppercase; letter-spacing:1px;}
#AgImmo_Ctn .respAgence, #AgImmo_Ctn p label span {font-size: 11px; font-weight: normal; color: #fff; text-transform:none;}
#AgImmo_Ctn a {font-size: 11px; font-weight: normal; color: #3292D8; text-transform:none;}

#AgImmo_Ctn .AgImmoContact a  { text-align:center; font-size:11px; background:url($$_$$images/bg_detail.jpg) 0 0 no-repeat; width:150px; display:block; height:35px; padding:11px 0 0 0; text-transform:uppercase; text-decoration:none; margin:auto;}

#AgImmo_Ctn .AgImmoEstimation a  { text-align:center; font-size:11px; background:url($$_$$images/bg_estimation.jpg) 0 0 no-repeat; width:270px; display:block; height:35px; padding:11px 0 0 0; text-transform:uppercase; text-decoration:none; margin:auto;}

#AgImmo_Ctn .AgImmoContact a:hover, #AgImmo_Ctn .AgImmoEstimation a:hover { color: #3292D8;}

	/* Page contact */
	
#FormContactAgence h1 {font-size: 12px; font-weight: bold; color: #3292D8; text-transform:uppercase; letter-spacing:1px; text-align:center;}
#FormContactAgence p {font-size: 12px; font-weight: normal; color: #fff; text-transform:uppercase; letter-spacing:1px; text-align:center;}

.ad-gallery .ad-image-wrapper .ad-image .ad-image-description {
    background: repeat scroll 0 0 transparent;
    bottom: 0;
    left: 0;
    padding: 7px;
    position: absolute;
    text-align: left;
    width: 100%;
    z-index: 2;
}
/*page article*/
#twtr-widget-1 .twtr-tweet a { color:#2770a6;}
.twtr-widget h3, .twtr-widget h4, .twtr-widget p { color:#000;}


#BlogTextes h1 {font-family:georgia,sans-serif; font-size:19px; margin:0px; padding:0px; text-transform:uppercase; color:#fff;}
#BlogTextes h2 { font-size:15px; font-family:georgia,sans-serif; color:#3292D8;margin-bottom:4px; }

#agence a, #post a {color:#3292D8;}

#post p {margin:15px 0;}
#rss p {width:200px; display:none;}
.partenaire table td{ color:#3292d8; font-family:georgia; font-size:13px; text-transform:uppercase; padding:2px 0;}
.partenaire table td a{ font-family:georgia; font-size:15px;text-transform:none;}
/*  */
.cordonne p{padding: 9px 0;text-transform: none;font-size: 13px;}
.cordonne .tel{text-align: center;padding:0;}
.vilaanavare ul {padding:9px 0 0 23px;}
.vilaanavare ul li{font-size:13px;text-align:center;text-transform:none;}
.vilaanavare span{padding-left: 99px;}
.parc_beaumont {padding-top: 21px !important;}
.parc_beaumont ul{padding: 10px 0;}

.clr{clear:both;}
.part2 h2{color: #3292D8;font-family: georgia;font-size: 13px;padding: 5px 0;text-transform: uppercase;}
.part2 table{padding-top: 10px}
/*  */

.separator {border-top:1px solid #fff;display: block; margin: 10px 0;}

#Horaires {display: none;}

#RechHautLiens,#RechAffichage_Ctn{display: block;}
#RechHautLiens a {display: none !important;}

.promo1, .promo13, .promo14, .promo9 { 
	position: absolute;
	bottom:0;
	left:0;
	margin:0;
	background:url($$_$$images/vendu.png) 0 0 no-repeat;
	width:164px;
	height:145px;
	z-index: 500;
}
.promo2 { 
	position: absolute;
	bottom:0;
	left:0;
	margin:0;
	background:url($$_$$images/vendue.png) 0 0 no-repeat;
	width:164px;
	height:145px;
	z-index: 500;
}

.ad-nav .promo1, .ad-nav .promo13, .ad-nav .promo14, .ad-nav .promo9 { 
	position: absolute;
	bottom:135px;
	left:79px;
	margin:0;
	background:url($$_$$images/vendu.png) 0 0 no-repeat;
	width:164px;
	height:145px;
	z-index: 500;
}
.ad-nav .promo2 { 
	position: absolute;
	bottom:135px;
	left:79px;
	margin:0;
	background:url($$_$$images/vendue.png) 0 0 no-repeat;
	width:164px;
	height:145px;
	z-index: 500;
}