@import "color";
// BG SOLO
$bg-uni:yes;

// PICTURE BG
$picture-bg:no;
$picture-bg-url:'../images/degrade_bg.png';
$picture-bg-repeat-horizontal:no;

// SIZE PICTURE AREA : FULLSCREEN OR NOT
$height-container:600;

// VARIABLE SITE TYPO
$font-body:"Source Sans Pro",verdana,sans-serif;
$font-title:"Open Sans Condensed",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST > FONT-SIZE-TEXT
$font-size-text:1.4em;
$font-size-title:2.4em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:bold;

// ARRONDI POUR LES EFFETS SUR LI HOVER/FIL ARIANE/BOUTON
$arrondi:yes;

// BORDER EFFECT ON NAV
$border-nav:yes;

// TYPE MENU : FLAT = COLOR BANNER BEHIND, NO FLAT = SHAPE OR NOT
// LINK TO VAR ID3X >>> MENU_TYPE
$type-menu:no-flat;

// STYLE NAV : IF YES = SHAPE BEHIND WORD, IF NO SHAPE BEHIND WORD ON HOVER
$shape:no;

// MARGIN UNDER NAV FIXE
$margin-top-under-nav-fixe:230;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS
@import "../../../slagence_X_V5/sources/scss/boutons/lib1";

// IMPORT TEMPLATE LONDRES
@import "../../../slagence_X_V5/sources/scss/templates/londres";

// IMPORT MODULE ANNONCES2
@import "../../../slagence_X_V5/sources/scss/modules/annonces2";

// IMPORT PUB LIB BOITE
@import "../../../slagence_X_V5/sources/scss/pubs/lib1";

// IMPORT PUB LIB2
@import "../../../slagence_X_V5/sources/scss/pubs/lib6";

// SPRITE BLANC
@import "../../../slagence_X_V5/sources/scss/sprites/social-blanc";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";

// IMPORT MODULE SOUS MENU
@import "../../../slagence_X_V5/sources/scss/sous_menu/lib1";

// PERSO
/* Passer d'un site en 960px en 1280px */

/* AUTRES TEMPLATE */
.container {
    width: 1280px;
    @media only screen and (max-width : 1280px) {
        width: 960px
    }
}


.menu-principal>li>a {
	@include background-image(linear-gradient(top, lighten($color-action,10) 0%, $color-action 100%));
	@include filter-gradient(lighten($color-action,10),$color-action,vertical);
	padding-left:18px;
	padding-right:18px;
	color:#fff;
	border-radius: 5px;
	@include box-shadow(inset -1px 3px 3px -3px $color-action);
	&:hover {
	background:$color-secondary;
	color:#fff;
	}
}

@media only screen and (max-width : 767px) {
	.module-annonces-homepage ul li {
	color:#000;
	}

}

@media only screen and (max-width : 767px) {
header .logo img {
width: 80%;
}
}

.icon-v5-heart:before{color:$color-icone-cdc;}
.icon-v5-heart.opacity-4{ opacity:1;}

.navigation {border-bottom:2px solid $color-action;}

.module-villes-annonces {font-size:1.5em; }

.h2-like {color:$color-action;}