@import "color";
// BG SOLO
$bg-uni:yes;

// PICTURE BG OU DEGRADE CSS BG COLOR PRIMARY vs SECONDARY vs BLOCK > SI NO ALL = BG BODY UNI
$picture-bg:yes;
$picture-bg-url:'../images/degrade_bg.png';
$picture-bg-repeat-horizontal:no;
$degrade-bg-primary:no;
$degrade-bg-secondary:no;
$degrade-bg-block:no;

// SIZE PICTURE AREA : FULLSCREEN OR NOT
$height-container:600;

// SIZE NAVIGATION
$height-navigation:100;

// MARGIN SOUS NAV SI FIXE
$margin-top-under-nav-fixe:0;

// PLACEMENT TOP CONTENT
$placement-top-content:80;

// VARIABLE SITE TYPO
$font-body:arial,verdana,sans-serif;
$font-title:arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST > FONT-SIZE-TEXT
$font-size-text:1.3em;
$font-size-title:1.6em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:bold;

// ARRONDI POUR LES EFFETS SUR LI > A:HOVER/FIL ARIANE/BOUTON
$arrondi:yes;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS LIB
@import "../../../slagence_X_V5/sources/scss/boutons/lib1";

// IMPORT TEMPLATE AMSTERDAM
@import "../../../slagence_X_V5/sources/scss/templates/amsterdam";

// IMPORT MODULE ANNONCES6
@import "../../../slagence_X_V5/sources/scss/modules/annonces6";

// IMPORT MODULE PUB LIB5
@import "../../../slagence_X_V5/sources/scss/pubs/lib5";

// SPRITE BLANC
@import "../../../slagence_X_V5/sources/scss/sprites/social-blanc";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";

@import "../../../slagence_X_V5/sources/scss/extra/extra2";

//CSS PERSO

.menu-principal>li>a {
	padding-right: 2px;
	padding-left: 2px;
}

.icon-v5-heart:before{ color:$color-icone-cdc; }
.icon-v5-heart.opacity-4{ opacity:1; }

// ICON-V5
	// AJOUT FONT ICONE
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?930lbj');
	src:url('../fonts/icomoon.eot?#iefix930lbj') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?930lbj') format('truetype'),
		url('../fonts/icomoon.woff?930lbj') format('woff'),
		url('../fonts/icomoon.svg?930lbj#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-rti"], [class*=" icon-rti"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-rtilinkedin-with-circle:before {
	content: "\e600";
}
.icon-rtilinkedin:before {
	content: "\e601";
}



// HEADER ACCUEIL
	// SUPP BG SLOGAN
.slogan-index .bg-black {
	background:none;
}

// AGENCE
	// HORAIRE PERSO
.horaires-agence {
	display:none;
}
	// MASQUER VENIR CHEZ NOUS
.bloc-agence-top .lien-venir-chez-nous, .bloc-agence-top .icon-v5-location {
	display:none;
}