// VARIABLES COLORS
$color-body:#000;
$color-content:#fff;
$color-block:#f2f2f2;
$color-primary:#FFF;
$color-secondary:#425460;
$color-action:#364e66;
$color-important:#f6c417;
$color-nav-footer:#425460;

// COLOR PUB
$color-pub:"black-opacity";

// COLOR FONT BODY DEFAULT
$color-font-body:#232d33;

// ICONE COUP DE COEUR
$color-icone-cdc:#f6c417;
