#CV{margin: 0; padding: 0; border: none;}
#CV *{margin: 0; padding: 0; border: none;}
#CV .clear{clear:both;}
#CV .linkOut{text-align: right; margin: 0.5em 0; }
#CV .linkOut a{background: none; padding: 0;color:#fb7a36; font-size: 12px;}
#CV .linkOut a:hover{background: url($$_$$images/arrow_back.gif) 0 4px no-repeat; padding: 0 0 0 16px;color:#fb7a36; text-decoration: none;}
/**/
#CV h1{font-size: 14px; height: 30px; line-height: 30px; color: #000; background: url($$_$$images/listeag_fond_02.gif) 0 0 repeat-x; padding: 0 20px; border-bottom: 1px solid #e5e2e2;}
#CV #Agence{padding: 1em; background: url($$_$$images/listeag_fond_01.gif) repeat-y;}
#CV #Agence #Img_Ctn{float: left;width: 200px; height: 130px; border: 2px solid #e5e2e2; background: url($$_$$images/sans_photo.gif) no-repeat #e5e2e2; text-align: center;}
#CV #Agence #Img_Ctn #Vitrine{width: 200px; height: 130px; border: none; background: url($$_$$images/agences/$$FORM:IDP$$.jpg) no-repeat; margin: 0 auto; }
#CV #Agence #Coordonnees{float: left; padding: 0 1em;}
#CV #Agence #Coordonnees h2{font-size: 14px; color: #000;}
#CV #Agence #Coordonnees a { color:#fff;}
#CV #Agence #Coordonnees p{padding: 0.4em 0; color: #fff;}
#CV #Agence #Coordonnees p strong{font-weight: normal;}
#CV #Agence #Coordonnees p span{font-weight: bold;}
#CV #Agence #TxtPublic{text-align: justify;}
#CV #CvFoot{background: url($$_$$images/listeag_fond_03.gif) no-repeat; height: 30px; line-height: 30px; overflow: hidden;border-top: 1px solid #e5e2e2; }
#CV #CvFoot *{color: #fff; text-decoration: none; font-weight: bold;}
#CV #CvFoot #Links{ float: left; background: url($$_$$images/listeag_fond_04.gif) no-repeat;}
#CV #CvFoot #Links a{display: block; float: left; padding: 0 20px; border-right: none; border-left: none;height:30px; line-height: 30px;}
#CV #CvFoot #Links a.message span, #CV #CvFoot #Links a.estimation span{ color: #000; text-transform: uppercase; font-size: 14px;}
#CV #CvFoot #Links a.message:hover span, #CV #CvFoot #Links a.estimation:hover span{ color: #e5e2e2;}
/* incl_portefeuille01.htm */
#Portefeuille01{padding: 1em 0;}
#Portefeuille01 h3{font-size: 14px; background: url($$_$$images/arrow_plusinfos.gif) 0 1px no-repeat; border-bottom: 1px solid #fff; padding: 0 0 5px 17px; margin: 0 0 10px 0; color: #fff; }
#Portefeuille01 a{padding: 5px 0; font-weight: bold;}
#Portefeuille01 a.typeTransac{ color: #000;}
#Portefeuille01 a.typeBien{margin: 0 0 0 30px; color: #fff;}
#Portefeuille01 .nbAnn{ color: #d4d4d4;}
/*annonces*/
#Annonces01 h3 {font-size: 14px; background: url($$_$$images/arrow_plusinfos.gif) 0 0 no-repeat; border-bottom: 1px solid #fff; padding: 0 0 5px 20px; margin: 0 0 10px 0; color: #fff; }
.ann_descr a, .ann_descr span, .ann_transac { color: #5c5c5b; }
