/* $$DYN:ID3:NOFOOTER$$ */
div, td, .Marquee, .ListeVilles, span { font-family: Arial, Helvetica, sans-serif !important; }
.BoiteMoteurClassic .imputForm, .BoiteMoteurClassic select { font-size: 11px; margin-bottom: 3px; color: #3c3c3c !important; }
.TitreBoiteMoteurClassic { display: none; }
.BoiteMoteurClassic { background: none; padding: 0; border: none; }
.MoteurTypeDeBien, .MoteurInvestir, .MoteurEquipement, .MoteurBouton, .MoteurPieces, .MoteurBudget, .MoteurListeVilles { width: 100%; padding: 0 0 15px 0; background: none; line-height: 18px; color: #3c3c3c; }
.FormulaireTypeDeBien, .MoteurInvestir label, .MoteurEquipement label, .MoteurPieces label, .MoteurBudget, .LabelMoteurListeVille strong, .CPMoteurListeVille { color: #3c3c3c; font-size: 11px; }
.TitreTypeDeBien, .TitreMoteurInvestir, .TitreMoteurEquipement, .TitreNombreDePieces, .TitreMoteurBudget, .TitreMoteurListeVille { display: block; font-size: 20px; color: #9ebe45; padding: 0 0 2px 45px; line-height: 30px; border-bottom: 1px solid #9ebe45; background: url($$_$$images/arrow_ttl_cdc.gif) 0 0 no-repeat; }


