// VARIABLES COLORS
$color-body:#333333;
$color-content:#89744d;
$color-block:#2a2a2a;
$color-primary:#CCCCCC;
$color-secondary:#999999;
$color-action:#CCCCCC;
$color-important:#3c813e;
$color-nav-footer:#333;

// COLOR PUB
$color-pub:"white-opacity";

// COLOR FONT BODY DEFAULT
$color-font-body:#fff;