// VAR COLORS
$color-body:#fff;
$color-content:#1a1a1a;
$color-block:#eae7de;
$color-primary:#283544;
$color-secondary:#96B300;
$color-action:#283544;
$color-important:#96B300;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#283544;