/*------CSS definitive--*/
body { margin: 0; padding:0; background: #fff; text-align:center; }
div,td { font-family: Helvetica, sans-serif; font-size:12px; color: #fff; }
img { border:none; display: inline; }
table  { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; }
a { text-decoration: none; color: #fb7b05; }
a:hover { color: #fff; text-decoration: none; }
p { margin:10px 0;}

.btn {background-color:#FB7B05; color:#fff; padding:10px 20px; display:inline-block; font-weight:bold;}
.clear1 { clear: left; }
.clear,.clear2 { clear: both; }
/*----- decoupage -------*/

#wrapper { background:url($$_$$images/bg_body.jpg) repeat-x #010101; }
#wrap { width: 1020px; margin: 0 auto; text-align:left; position:relative; padding-bottom: 20px; }
#top { text-align:center; height: 80px; overflow:hidden; padding-top: 14px; border-bottom: 1px solid #000; }
#als1 img{position:absolute; left: 0px; top: 32px; }
#als2 img{position:absolute; right: 22px; top: 48px; }

#flag { position:absolute; right: 10px; top: 2px; }

.home { float: left; line-height: 22px; color: #72716c; font-size: 11px; }
.home a { background: url($$_$$images/pic_house.gif) no-repeat; padding-left: 20px; font-size: 11px; font-weight: bold; }
.home strong { color: #c21d7c; }
#marq { float: left; width: 880px; line-height: 22px; color: #717171; height: 22px; overflow: hidden; }
#marq marquee { font-size: 11px !important; color: #676767 !important; }
#marq a { font-size: 11px !important; color: #676767 !important; }

.menu-fr, .menu-en { background: url($$_$$images/bg_menu.gif) no-repeat; width: 1030px; height: 42px; text-align: center; margin: 9px; border-bottom: 1px solid #000; }
.menu-fr ul, .menu-en ul { margin: 0; padding: 0 0 0 10px; list-style-type: none; }
.menu-fr li, .menu-en li { float:left; list-style-type: none; }
.menu-fr li a { font-size: 16px; text-transform:uppercase; float:left; color: #fff; line-height: 42px; background: url($$_$$images/sep_menu.gif) right no-repeat; padding: 0 17px; }
.menu-en li a { font-size: 16px; text-transform:uppercase; float:left; color: #fff; line-height: 42px; background: url($$_$$images/sep_menu.gif) right no-repeat; padding: 0 20px; }
.menu-fr a:hover, .menu-en a:hover { color: #eb7405; }

#content { width: 1000px; margin: 0 auto; text-align:left; }
#content-left { width: 478px; float:left; }
#bg-moteur { background: url($$_$$images/reapt-mot.gif) repeat-y; width: 478px; }

#img-content { float:left; width: 125px; padding-left: 30px; padding-top: 10px; }
#txt-content { float:left; width: 270px; padding-left: 10px; line-height: 13px; color: #fff; }
#txt-content p { color: #fff; font-size:14px; }
.savoir { color: #fb7b05; }
.savoir a { color: #fb7b05; text-decoration:underline; font-weight: bold; }
.savoir a:hover { color: #fff; text-decoration:underline; font-weight: bold; }
p#txt_commerce {font-size:15px; background:#fff; padding:10px; color:#000;}

#content-right { float: right; width: 520px;overflow:hidden; }
#content-right .selectionIndex_Ctn { float: left; width: 253px; height: 254px; background: url($$_$$images/bg_cdc.png) no-repeat; position: relative; border: none; }
a.selectionPhoto .selectionPhotoImg, .selectionPhoto_ctn { width: 240px; height: 240px; margin: 0 auto; padding-top: 2px; }
.selectionPhoto_ctn { border: none !important; }
.nbPhotos_ctn a.nbPhotos span, .nbPhotos_ctn a.nbPhotos em { display: none; }
#content-right .nbPhotos_ctn .nbPhotosBg { width: 240px; height: 60px; position:absolute; top: 75px; opacity: 100; }
.selectionDescr { position:absolute; top: 188px; left: 22px; }
.selectionDescr .selectionNbPieces, .selectionDescr .selectionSurface, .selectionDescr .selectionPrix, .selectionDescr .selectionDetail a { display: none; }
.selectionDescr .selectionVille a { font-size: 11px; color: #fff; }
.selectionDescr .selectionVille a strong { font-size: 11px; color: #c6187f; }

#content-right .selectionDescr .selectionVille a { background: url($$_$$images/bg_contenu_cdc.png); position: absolute; top: 12px; left: -16px; width: 225px; height: 37px; padding-left: 15px; padding-top: 7px; }
#content-right .selectionDescr .selectionVille a strong { color: #ec7405; }

#navigue { min-height: 450px; font-size:14px;  }
.connect_confirmation_cell connect_confirmation_cell_no_like { display:none !important; }
#connect_widget_4e280ecd9720d0492725386 { width: 53px; }

.miniDivSelect label, #MiniDivGeolocalisation, #MiniGeolocalisation .miniTitre, .miniTitre { font-size: 13px; color: #030303; padding: 6px 0; width: 155px; } { color: #020202; }

.footer a { padding: 40px 0; color: #000000; font-size: 11px; }
.pic-fb { /*background:url($$_$$images/pic-fb.gif) no-repeat;*/ height: 45px; color: #FFF; /*padding-left: 60px;*/ } 
.pic-fb img{padding-right:10px;}
.pic-rss { background:url($$_$$images/pic-rss.gif) no-repeat; height: 45px; color: #FFF; padding-left: 60px; margin-top: 10px; } 
.pic-twit { background: url($$_$$images/pic-twit.gif) no-repeat; height: 45px; color: #FFF; padding-left: 60px; line-height: 45px; margin-top: 10px; } 
.mobile { float:left; background:url($$_$$images/bg_mobile.gif) no-repeat; width: 177px; height: 157px; }

.pic-rss a, .pic-fb a, .pic-twit a { color: #FFF; }
.pic-rss a:hover, .pic-fb a:hover, .pic-twit a:hover { color: #fb7b05; }

.fb-left { float:left; width: 274px; }
.txt-mobile { color: #fff; width: 70px; font-size: 11px; padding-left: 15px; }
.txt-mobile strong { color: #000000; }

.url-mobile { color: #fff; font-weight: bold; padding-left: 15px; font-size: 11px; }
a.elargir { position:absolute; bottom: 20px; left: 74px; color: #fb7b05; font-weight: bold; text-decoration:underline; }
a:hover.elargir { color: #000; }
#footer { background:url($$_$$images/bg_footer.jpg) repeat-x #fff; }
.footer { margin: 0 auto; text-align:left; width: 1000px; color: #000000 !important; }
.footer a { color: #000000 !important; font-size: 11px; }

.left-foot { float:left; width: 215px; font-size: 11px; font-weight: bold; color: #000 !important; }
.center-foot { float:left; width: 550px; font-size: 11px; font-weight: bold; color: #000 !important; }
.right-foot { float:right; width: 172px; font-size: 11px; font-weight: bold; color: #000 !important; padding-right: 20px; }

.realisation { color: #020202 !important; font-weight: bold; }

#footer .footer { border-bottom: none; }
#footer .footer * { text-align:left; }

.left-foot a, .center-foot a { color: #797979; }
.link-foot-right, .right-foot a, .right-foot { color: #000!important; font-weight: bold!important; }
.link-foot-right a { color: #000!important; }

.link-right .link-foot-right strong a { color: #000!important; font-weight: bold !important; }

.link-left { float:left; width: 205px; text-align:left; padding-top: 15px; }
.link-center { float:left; width: 129px; padding-left: 80px; text-align:left; padding-top: 15px; }
.link-right { float:right; width: 465px; text-align:left; padding-top: 15px; }

.link-left a, .link-center a, .link-right a { color: #797979 !important; font-weight: normal; }  
.link-right strong a { font-weight: bold; color: #000; }

#footer .footer a { font-weight: normal; padding: 0; }

#navigue #FormContactAgence .inputSubmit, #navigue #ChampsBouton .inputSubmit { background: #ec7405; font-size: 16px; color: #fff; border: 1px solid #CCC; }

/*css int*/
#Moteur #MoteurBouton { border-top: 1px solid #708089; }
#RechAffichage { border-bottom: 1px solid #708089; }
#Outils h3 { background: #fb7b05; color: #fff; border: 1px solid #fb7b05 }
#FormContactAgence .inputText, #FormContactAgence .inputSelect, #FormContactAgence .inputTextarea, #Form_Ctn .inputText, #Form_Ctn .inputTextarea { color: #000;border: solid 1px #5b5d5f;background:#fff; }
.accordion_content .inputCalcul, #AlerteEmail #AlerteForm input.alerteBt { background: #fb7b05; }
#MapMicrosoft #MapHead p.criteres, #MapMicrosoft .geolocInfo { color: #101d24; }

/*IE8*/
.BoutonFormContact, .BoutonFormRecherche, .boutonEnvoi, td#ChampsBouton input { width: 145px; height:41px; }
.titrePageOutils { display: none; }

#Moteur .moteurTable ul li {background: #363636;color: #fff; list-style-type: none; }
#Moteur .inputText, #Moteur .inputSelect, #Moteur .inputTextarea{border: solid 1px #5b5d5f; background: #fff; color: #000; }
.contactAnn {background: #111111;}
#Moteur h2 { color: #fb7b05; font-size:20px;}
#Moteur .inputText, #Moteur .inputSelect {padding:5px; font-family:Helvetica;}

#Annonce_Ctn td#ColonneGauche {border: none;}
#Annonce_Ctn td#ColonneDroite,.similaire_ctn  {border: none; background: #000;}

#MapMicrosoft #MapHead h4 {color:#fff !important;}
#DetailAnnonce h4{ padding-left: 5px; border: none;color:#fb7b05; }
#ColonneGauche h4{background: none;}

#Outils .accordion_content { background: #161616; }

#DetailAnnonce h3,#Prix span {color: #fff;}

#fd-mot { width: 360px; padding-left: 75px; position:relative; }


#FormContactAgence h1 {color: #fff;}
#Moteur #ref_ann .inputText { color: #000; }
#RssPicto{display: none;}
#AgImmoVitrine_Ctn,#photo_agence {border-color: #fff;}
#AgImmoDroite a,#AgImmo_Ctn h4,ul#AgImmoPortefeuille li.typeTransac a {font-weight: bold; color: #fff;}

#Moteur h3,#Moteur #ref_ann,#Moteur #MoteurBouton  {border-color: #70777c;color: #fff;}

#RechAffichage #RechAffichageListe p, #RechAffichage #RechAffichageCarte p, #RechAffichage #BiensVendus p {color: #fff; padding:0;margin-top:7px;}

#AlerteEmail {background: #211e1f;border: solid 1px #5b5d5f;}

.photo_ctn, .blocAnnonce {border:none;}
.photo_ctn a.photo { background: url($$_$$images/bg_foto.jpg) no-repeat; }
.contactAnn a,.contactAnn .nom,.contactAnn .ctc {color: #fff;}
#RechPagesHaut .rechLiensPages a.actif, #RechPagesBas .rechLiensPages a.actif, #RechPagesHaut .rechLiensPages a:hover, #RechPagesBas .rechLiensPages a:hover {color:#fff; background: #ec7405 !important; }

.patientez { display: none; }
#AgenceContact strong,#AgenceContact strong,#CguFormulaire *,#AgenceMentions *,#ColonneDroite h6, #CguFormulaire {color:#fff !important;}

#titre_recherche, #titre_mentions,#bloc_agence #MiniMoteur_Ctn, #bloc_agence_droite #MiniMoteur_Ctn, #CguFormulaire a {border-color: #fff;}

#AgImmoDroite .AgImmoContact a, #AgImmoDroite .AgImmoEstimation a { background: #fb7b05; }

.similaire_ctn { height: 250px!important; }
#RechHautLiens { padding: 25px 0; }

#RechAffichage #RechAffichageListe, #RechAffichage #RechAffichageCarte, #RechAffichage #BiensVendus { background: #161616; }
#RechAffichage a { color: #fff; }
#RechAffichage,#RechPagesHaut { border-bottom: 1px solid #687075; }
#AgImmoVitrine_Ctn, #photo_agence { border: none; }
#Moteur .inputText strong, #Moteur .inputSelect strong, #Moteur .inputTextarea strong, #Moteur .moteurTable ul li strong { font-weight: normal; color: #fff; }

.similaire a, .similaire a span {color: #fff;}
#SansPhoto, #Ann .col1 .photo_ctn { background:url($$_$$images/sans_photo.jpg) no-repeat !important; }

.photo_wrap .nbPhotos_ctn .nbPhotosBg { width: 175px; }
.ad-gallery .ad-image-wrapper, .ad-gallery .ad-nav .ad-thumbs, .similaire_ctn { background: #161616; }
#Annonce_Ctn td#ColonneDroite { background: #000!important; }
#RechAffichage, #RechPagesHaut { border-bottom: none; }
.agImmoVitrine_Td1 { width: 200px; }
.agImmoVitrine { width: 200px; height: 150px; }

#Wrap #Ctn *{color : #000;}
.blocAnnonce, td#ColonneDroite { border: 1px solid #171717!important; background: #211e1f !important; }

.ttl-pages { font-size: 18px; color: #fb7b05; font-weight: bold; padding-top: 20px; }

#AgImmoDroite a, #AgImmo_Ctn h4, ul#AgImmoPortefeuille li.typeTransac a { padding-top: 25px; }

#AlerteEmail h3, #AlerteEmail #AlerteForm label, #AlerteEmail #AlerteForm * { color: #fff; }
#AlerteEmail #AlerteForm input.alerte { color: #000; }

input.miniInput, input.miniInputMin, input.miniInputMax, .miniDivSelect select, .miniDivSelect select * { color:#505050; width: 200px; background: #e6e6e6; border: 1px solid #d2d2d2; margin: 2px 0; padding: 1px 0; }

#MiniBouton .boutonSubmit, #Moteur #MoteurBouton .inputSubmit, #ChampsBouton .inputSubmit { font-size: 0; width: 145px; height: 41px; }
#Plan_Ctn h1 { display: none; }
#Plan_Ctn a { color: #fff; }

.detailsAnn .nbPhotosBg { display: none; }
.fb_edge_widget_with_comment { width: 66px !important; overflow:hidden !important; padding-top: 7px; }

#FormContactAgence .inputSubmit,#FluxAide h5,#ChampsBouton .inputSubmit {background: #fb7b05;}
#ChampsBouton .inputSubmit {font-size: 16px;height: 25px;}
.rss_lien_ctn {border: none;}

.miniDiv { padding: 2px 0!important; }

#navigue .accordion_content .inputCalcul { background: #fb7b05; }
#Outils strong, #AgImmo_Ctn h2, #AgImmo_Ctn h3, #Outils a, #LiensRetour a, #LiensRetour a { color: #fb7b05; }

#Glossaire_Ctn, #Glossaire_Ctn p, #FancyBox_Ctn a.fancyBox { color: #FFF; }
#Glossaire_Ctn { border-top: 1px dotted #fff; }
.ad-gallery .ad-thumbs .ad-thumb-list { background: #E4E3E3; }
.photoTitre { border-bottom: 1px dotted #ec7405; }

#MentionsLegales h2 { background: none; font-size: 14px; font-weight: bold; color: #fb7b05; }
#MentionsLegales a, #Moteur h4, #Moteur h3 strong { color: #fb7b05; }
#Moteur h2 { font-size: 16px; font-weight: normal !important; }

#MapMicrosoft #MapHead p.criteres, #MapMicrosoft .geolocInfo { color: #fff; }
.similairePhoto { background:url($$_$$images/bg-det.jpg) no-repeat; }

.prix, .prix *, .ville, .libelle, #AlerteEmail h4, #AlerteEmail h3 span { color: #fb7b05 !important; }
#RechPagesHaut .rechLiensPages a, #RechPagesBas .rechLiensPages a, #RechPagesHaut .rechLiensPages a span, #RechPagesBas .rechLiensPages a span { background: #272727 !important; }

.ad-gallery .ad-image-wrapper { border: none; }
#MapMicrosoft #MapHead p.criteres, #MapMicrosoft .geolocInfo { color: #000 !important; }
#RechAffichage #RechAffichageListe, #RechAffichage #RechAffichageCarte, #RechAffichage #BiensVendus { background: #ec7405 !important; }


.ad-gallery .ad-forward, .ad-gallery .ad-back,.ad-gallery .ad-nav .ad-thumbs {background-color: #E4E3E3;}

/*fix cédric */
a.selectionPhoto {width: 240px;
height: 240px;background: #fff;}
#idtypebien_9 { display: none; }
.selectionDescr .selectionTxt {display: none;}
#AgImmo h5{font-size: 14px;font-weight: normal;color: #FB7B05;margin: 0;}
#txt-content{float: none; width: auto; padding:0;line-height: 15px;text-align: justify;}
#txt-content img{float: left; margin-right: 10px;}
#txt-content strong{font-size: 16px;color:#fff;}
#txt-content li{list-style: disc;margin-left: 20px;color:#fff; font-size: 13px;}

#btn_contact_moteur {display:block; width:265px; height:50px; background:url($$_$$images/btn_contact.gif) no-repeat; text-align:center; line-height:50px; color:#fff; font-size:16px; margin-bottom:20px;}

.titre_commerce {
font-size: 18px;
color: #FB7B05;
font-weight: bold;
margin-bottom: 5px;
border-bottom: 1px dotted #FB7B05;
font-size: 17px;
padding: 5px 0px;
}

.tabFond1 table strong {
	display: block;
	background: #FB7B05;
	color: white;
	border: 1px solid #FB7B05;
	padding: 5px;
	margin-bottom: 10px;
}


.texte-neuf{font-size: 15px; font-style: italic;margin-bottom: 20px;}
.cadre-blanc{background: white; color: black; padding: 10px; border-radius: 10px;}
.cadre-blanc p, .cadre-blanc h4, .cadre-blanc li, .cadre-blanc strong{color: black !important; font-size:16px!important;}
.cadre-blanc li{background: none; list-style: disc;}
.cadre-blanc ul{padding-left: 50px;}