// VAR COLORS
$color-body:#e1e4e5;
$color-content:#FFF;
$color-block:#f5f5f5;
$color-primary:#FFF;
$color-secondary:#FFF;
$color-action:#056390;
$color-important:#144764;
$color-nav-footer:#144764;

// COLOR PUB
$color-pub:"black-opacity";

// COLOR FONT BODY DEFAULT
$color-font-body:#0d2d40;


// COLOR ORANGE
$color-gris:#bdb8b6;
