/* CSS POUR MOTEUR, MINIMOTEUR */
/* MINI MOTEUR */
.ajaxLoader {width:100%;text-align:center;}
.miniDiv {float:left;clear:both;margin:0 0 8px 0;padding:0;width:190px; color: #000;}
.miniDivInfos {clear:both;width:100%;margin-top:5px;font-weight:9px;}
.miniBlocTitre {float:none;text-align:right;width:290px;font-size:11px;line-height:12px;padding-top:2px;}
.miniBlocSelection {float:none;text-align:left;width:290px;line-height:12px;}
.miniBlocSelectionImage {float:left;text-align:center;margin-left:5px;line-height:12px;}
.miniForm, .miniFormInput {width:100%;background:#fff;border:1px solid #d3d3d3;font-size:11px;}
.miniFormInput {width:80px;float:left;margin-right:10px;}
.miniBouton {font-size:0;margin:10px 0 0 20px;color:#fff;background: url($$_$$images/minirechercher_$$FORM:LANG$$.png) no-repeat;border: none;width:156px; height: 41px; overflow:hidden;cursor: pointer; }
.divOff {display:none;}
#MiniLabelListe, #MiniLabelCarte { color: #000; font-size: 11px; width: 55px; float: left; }
#Mini_Geoloc .miniBlocTitre { display: inline; color: #000; }
#Mini_Send { padding-top: 20px; }

/* minimot recherche */

.minimot_rech .miniBlocTitre{display: block; color #fff;width: auto;text-align: left;}
.minimot_rech .miniDiv {display:inline-block; margin:0 2px;padding:0; width:150px; color:#fff; float:none; vertical-align:middle;}
.minimot_rech .miniForm, .minimot_rech .miniFormInput,.minimot_rech #Mini_Chambres input  {padding:5px; margin:0;}
.minimot_rech .miniFormInput, .minimot_rech #Mini_Chambres input {padding:6px 5px; width: 60px;float:left;background: #fff;border: 1px solid #d3d3d3;font-size: 11px;}
.minimot_rech .miniFormInput + .miniFormInput, .minimot_rech #Mini_Chambres input + input  {margin-left:5px;}
.minimot_rech #Mini_Geoloc {width:auto; color:#fff; margin-top:10px;}
.minimot_rech #Mini_Geoloc .miniBlocTitre, .minimot_rech #Mini_Geoloc .miniBlocSelection  {display:inline-block; width:auto; vertical-align:middle; color:#fff;}
.minimot_rech #Mini_Geoloc .miniBlocSelection input[type="radio"] {margin-top:0;}
.minimot_rech #MiniLabelListe, .minimot_rech #MiniLabelCarte {color:#fff;}
.minimot_rech #Mini_Rayon {display:none;}
.minimot_rech #Mini_Send {position:absolute; right: 10px;top: 25px;}
.minimot_rech #Mini_Send .miniBouton{margin: 10px 0 0 0;}
.ie7 .minimot_rech .miniDiv, .ie7 .minimot_rech #Mini_Geoloc .miniBlocTitre, .ie7 .minimot_rech #Mini_Geoloc .miniBlocSelection {display:inline; zoom:1;} 
 
/* MOTEUR */
#Moteur{margin:20px 0 0 0;}
.moteurMargin{margin:15px 0 0 0;}
.moteurComment{color:#fff; }
#Moteur h1{font-weight:bold;}
#Moteur h2{font-weight:bold;font-size:13px;}
#Moteur h3{font-weight:normal;font-size:12px;color:#fff;border-bottom:1px solid #9f9b9b;padding:0 0 5px 0;}
#Moteur h3 strong{font-weight:bold;color:#9f9b9b;}
#Moteur h4{font-style:italic;color:#fff;}
#Moteur .moteurTable{width:100%;}
#Moteur .moteurTable td{width:100%;vertical-align:top;}
#Moteur .moteurTable .col1{width:32%;padding:20px 0 0 0;}
#Moteur .moteurTable .col2{width:32%;padding:20px 0 0 3%;}
#Moteur .moteurTable .col3{width:30%;padding:20px 0 0 3%;}
#Moteur .moteurTable ul {margin:0; padding:0;}
#Moteur .moteurTable ul li{padding:5px;margin:2px 0;background:#9a0e15; list-style-type: none; color: #fff; }
#Moteur .moteurTable ul li#idtypebien_1{margin:0;}
#Moteur .moteurTable ul li#idtypebien_2{margin:2px 0 0 0;}
#Moteur .moteurTable ul li#nb_pieces,
#Moteur .moteurTable ul li#nb_chambres,
#Moteur .moteurTable ul li#InputSurfaceTerrain{padding:5px 5px 5px 20px;background:#37363a;margin:0; color: #fff; }
#Moteur .moteurTable ul li#InputSurfaceTerrain{margin:-2px 0 0 0;}
#Moteur .inputText{padding:1px 2px;margin-top:3px;}
#Moteur .inputSelect{font-weight:normal;color:#9f9b9b;font-size:12px;padding:0 0 0 5px;background:#ececec;border:1px solid #ccc;}
.col3 select{width:100%}
#Moteur .inputTextarea{font-weight:bold;margin:0 0 10px 0;padding:1px 2px;}
#Moteur .inputText,
#Moteur .inputTextarea{border:1px solid #ccc;color:#1a2a38;font-size:12px;background:#ececec;}
#Moteur .inputText{width:100px;}
#Moteur .inputSelect{width:300px;}
#Moteur .inputTextSpan{padding:0 5px;}
#Moteur #ref_ann{padding:0 0 20px 0;border-bottom:1px solid #9f9b9b;}
#Moteur #ref_ann .inputText{width:300px;}
#Moteur #cp1,
#Moteur #cp2,
#Moteur #cp3,
#Moteur #cp4{display:block;width:280px;margin:0 0 5px 0;}
#Moteur #MoteurVilles.miniDiv{height:50px;}
#Moteur #MoteurVilles li{display:block;float:left;width:30%;padding:5px;margin:2px 1% 2px 0;}
#Moteur #MoteurBouton{text-align:right;}
#Moteur #MoteurBouton .inputSubmit{padding:5px;font-size:16px;font-weight:bold;margin:10px 0 0 0;color:#fff;background:#9a0e15;width:auto; border: none; cursor: pointer; }
#Moteur .alerteBtModif{cursor:pointer;border:none;font-size:16px;font-weight:bold;padding:3px 20px 5px 20px;*padding:3px 20px;}
#Moteur .preValid{padding:20px 0;}
#Moteur .preValid a{font-weight:bold;text-decoration:underline;margin:0 35px 0 0;cursor:pointer;}
#Moteur .preValid a:hover{text-decoration:none;}
