// VARIABLES COLORS
$color-body:#bdaf8a;
$color-content:#fff;
$color-block:#eaeced;
$color-primary:#fff;
$color-secondary:#857959;
$color-action:#a42b45;
$color-important:#857959;
$color-nav-footer:#444;

$color-cdc:#95273e;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#444;