// VAR COLORS
$color-body:#000000;
$color-content:#f3f3f3;
$color-block:#333333;
$color-primary:#000000;
$color-secondary:#333333;
$color-action:#666666;
$color-important:#666666;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#ccc;