// VAR COLORS
$color-body:#F4F4F4;
$color-content:#1a1a1a;
$color-block:#F4F4F4;
$color-primary:#fff;
$color-secondary:#CFCFCF;
$color-action:#999999;
$color-important:#7b003f;
$color-nav-footer:#4D4D4D;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#4D4D4D;