// VAR COLORS
$color-body:#fff;
$color-content:#1a1a1a;
$color-block:#fff;
$color-primary:#222222;
$color-secondary:#222222;
$color-action:#a0213e;
$color-important:#ffdc6c;
$color-nav-footer:#ffffff;
$color-dark: #444;
$color-autre: #fff;
$color-autre2: #756359;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#3d3d3d;
