.BoiteAnnonce{
border: none;
}

.DetailLibelleetPrix{
background: #323232 url($$_$$images/detail/fd_libelle.gif) repeat-x;
height: 31px;
line-height: 31px;
}

.DetailPhotoGdformat img, .DetailInfoComplementaire{
border: 1px solid #323232;

}
.DetailInfoTitre{
background: #323232 url($$_$$images/detail/fd_libelle.gif) repeat-x;


}
.DetailInfoComplementaire td{
line-height: 24px;
}

.DetailImprimer{
display: block;
width: 200px;
height: 43px;
line-height: 30px;
background:url($$_$$images/detail/fd_imprimer.gif) no-repeat;
border: none;
padding:0;
margin:0 auto;

}
.DetailImprimer a{text-decoration: none;}
.DetailImprimer a:hover{color: #d50001;}