


$$A:PATH_IMG_SITE=@@_@@recherche/img_general$$			

$$A:COLORTXT1=#000$$
$$A:COLORTXT2=#000$$
$$A:COLORTXT3=#ababab$$
$$A:COLORTXT4=#ababab$$
$$A:COLORTXT5=#303030$$
$$A:COLORRSS=#e95d0f$$
$$A:COLORRSS_HOVER=#e7a17a$$
$$A:COLORTXTMETRO=#003c8f$$
$$A:TXT_SELECTION_OK=#4c9d15$$

$$A:WRAPWIDTH=100%$$
$$A:PAGEWIDTH=100%$$

$$A:PAGEBG=#595959$$
$$A:HAUTBG1=#595959$$
$$A:HAUTBG2=#595959$$

$$A:NBPAGE_COLOR=#6e6d6d$$
$$A:NBPAGE_COLOR_HOVER=#fff$$
$$A:NBPAGE_BG_HAUT=#595959$$
$$A:NBPAGE_BG_BAS=#595959$$


$$A:NBPAGE_BG_LIEN=url(@@PATH_IMG_GENERAL@@/nbpage_bg_lien.jpg) 0 0 repeat-x #dadada$$
$$A:NBPAGE_BG_LIEN_HOVER=url(@@PATH_IMG_SITE@@/nbpage_bg_lien_hover.jpg) 0 0 repeat-x #818181$$
$$A:NBPAGE_BG_LIEN_FIRST=url(@@PATH_IMG_GENERAL@@/nbpage_bg_lien_first.jpg) top center no-repeat #dadada$$
$$A:NBPAGE_BG_LIEN_FIRST_HOVER=url(@@PATH_IMG_SITE@@/nbpage_bg_lien_first_hover.jpg) top center no-repeat #818181$$
$$A:NBPAGE_BG_LIEN_PREV=url(@@PATH_IMG_GENERAL@@/nbpage_bg_lien_prev.jpg) top center no-repeat #dadada$$
$$A:NBPAGE_BG_LIEN_PREV_HOVER=url(@@PATH_IMG_SITE@@/nbpage_bg_lien_prev_hover.jpg) top center no-repeat #818181$$
$$A:NBPAGE_BG_LIEN_NEXT=url(@@PATH_IMG_GENERAL@@/nbpage_bg_lien_next.jpg) top center no-repeat #dadada$$
$$A:NBPAGE_BG_LIEN_NEXT_HOVER=url(@@PATH_IMG_SITE@@/nbpage_bg_lien_next_hover.jpg) top center no-repeat #818181$$
$$A:NBPAGE_BG_LIEN_LAST=url(@@PATH_IMG_GENERAL@@/nbpage_bg_lien_last.jpg) top center no-repeat #dadada$$
$$A:NBPAGE_BG_LIEN_LAST_HOVER=url(@@PATH_IMG_SITE@@/nbpage_bg_lien_last_hover.jpg) top center no-repeat #818181$$


$$A:PICTO_SELECTION=url(@@PATH_IMG_SITE@@/picto_selection_titre.gif) 15px 15px no-repeat$$
$$A:PICTO_LIEN_PRINT=url(@@PATH_IMG_SITE@@/picto_lien_print.gif) 0 10px no-repeat$$
$$A:PICTO_LIEN_VIDER=url(@@PATH_IMG_SITE@@/picto_lien_vider.gif) 0 10px no-repeat$$
$$A:PICTO_LIEN_RETOUR=url(@@PATH_IMG_SITE@@/picto_lien_retour.gif) 0 10px no-repeat$$


$$A:HAUTBG1=none$$
$$A:HAUTBG2=none$$
$$A:PICTO_RESULTAT=url(@@PATH_IMG_SITE@@/picto_resultat.gif) 15px 15px no-repeat$$
$$A:PICTO_RESULTAT_NULL=url(@@PATH_IMG_SITE@@/picto_resultat_nul.gif) 15px 15px no-repeat$$
$$A:PICTO_LIEN_TRI=url(@@PATH_IMG_GENERAL@@/rech_picto_fleche05.gif) right no-repeat$$
$$A:PICTO_LIEN_MODIFIER=url(@@PATH_IMG_SITE@@/picto_lien_modifier.gif) 0 10px no-repeat$$
$$A:PICTO_LIEN_SELECTION=url(@@PATH_IMG_SITE@@/picto_lien_selection.gif) 0 10px no-repeat$$
$$A:PICTO_LIEN_ALERTE=url(@@PATH_IMG_SITE@@/picto_lien_alerte.gif) 0 10px no-repeat$$
$$A:PICTO_LIEN_RSS=url(@@PATH_IMG_SITE@@/picto_lien_rss.gif) 0 10px no-repeat$$

 
 
$$A:PHOTO_PICTO_NBVISUELS=url(@@PATH_IMG_SITE@@/nb_visuels_picto.gif) left no-repeat$$
$$A:ANN_BASIC_PICTO_DETAIL=url(@@PATH_IMG_SITE@@/picto_detail.gif) right no-repeat$$
$$A:ANN_BASIC_PICTO_SELECTION=url(@@PATH_IMG_SITE@@/picto_selection.gif) left no-repeat$$
$$A:ANN_BASIC_PICTO_FLECHE_01=url(@@PATH_IMG_SITE@@/picto_fleche_01.gif) left no-repeat$$
$$A:LIBELLE_BG=url(@@PATH_IMG_SITE@@/libelle_fd.jpg) 0 0 repeat-x #636363$$
$$A:LIBELLE_PICTO=url(@@PATH_IMG_SITE@@/libelle_picto.gif) left no-repeat$$
$$A:PICTO_FLECHE_PORT=url(@@PATH_IMG_SITE@@/picto_fleche_port.gif) 0 5px no-repeat$$
$$A:PHOTO_WIDTH_BASIC=200px$$ 

$$A:SANS_PHOTO_BASIC=url(@@PATH_IMG_SITE@@/sans_photo.jpg) 0 0 no-repeat$$



$$A:ALERTE_BG_MILIEU=#595959$$





$$A:ALERTE_BG_BT=url(@@PATH_IMG_SITE@@/alerte_bg_bt.gif) 0 0 repeat-x #595959$$
$$A:ALERTE_BG_HAUT=url(@@PATH_IMG_SITE@@/alerte_bg_haut.gif) 0 0 no-repeat #595959$$
$$A:ALERTE_BG_BAS=#595959$$








