// VAR COLORS
$color-body:#fff;
$color-content:#f3f3f3;
$color-block:#494949;
$color-primary:#fff;
$color-secondary:#009d4d;
$color-action:#009d4d;
$color-important:#1a171b;
$color-nav-footer:#009d4d;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#1a171b;