$$REM$$/*====================================================================
//// <summary>Fichier CSS À DÉMUTUALISER POUR CHAQUE SITE</summary>
//// <remarks>
//// <para>Pour plus de rapidité, intégrer les macros du fichier 'all_global_macros.css'</para>
//// </remarks>
//// <update date="2010-02-16" author="lisbonne.siriphol">Création</update>
====================================================================*/$$END$$

<!--#include virtual="styles/all_global_macros.htm" -->
select * {padding-left: 5px;}
#TopHeader marquee ,#TopHeader marquee a {color:#fff;}
#TopHeader_Ctn {background:#686560;}
#Header {padding: 0;}
#Footer_Ctn {background:#C1BAB2;}
.blocAnnonce, #Annonce_Ctn td#ColonneGauche {background:none;}
#Moteur .inputText, #Moteur .inputSelect, #Moteur .inputTextarea, #FormContactAgence .inputText, #FormContactAgence .inputSelect, #FormContactAgence .inputTextarea, .accordion_content .inputText, .accordion_content .inputResult, #FormContactAgence .inputSelect option, #AlerteEmail #AlerteForm input.alerte, #Form_Ctn .inputText, #Form_Ctn .inputTextarea{background:#FFFFFF;color: #000000;}
.miniForm, .miniBouton{padding:3px;}
.miniBouton {background:#8A4B92;cursor: pointer;}
/*accueil*/
#HeaderTxt h2{font-size: 14px;}
.globaltxt h5{padding: 5px 0;}
.globaltxt h6{padding: 5px 0;}
