// VAR COLORS
$color-body:#1D1C1C;
$color-content:#fff;
$color-block:#2A2929;
$color-primary:#000;
$color-secondary:#121212;
$color-action:#9B999F;
$color-important:#EB162E;
$color-nav-footer:#fff;

$color-pub-index:#EEF1F6;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#B9B9B9;