#BoiteMiniMoteur { width:331px; position: relative; }

#BoiteMiniMoteur select{background:#fff;}

.MiniDiv { padding: 0; text-align: center !important; }

.MiniTitre{ width:120px; color: #11206b; float: left; padding: 0; text-align:left; font-size:12px;}

#TitreMiniTypeTrans, 
#TitreMiniTypeLoi,
#TitreMiniTypeCommerce,
#TitreMiniTypeActivite,
#TitreMiniTypeBien,
#TitreMiniSousTypeBien, 
#TitreMiniPieces,
#TitreMiniChambres,
#TitreMiniBudget,
#TitreMiniBudgetTranche,
#TitreMiniBudgetVac,
#TitreMiniSurface,
#TitreMiniSurfaceTerrain,
#TitreMiniPays,
#TitreMiniRegion,
#TitreMiniRegionEtr,
#TitreMiniDep,
#TitreMiniVilles,
#TitreMiniQuartiers,
#TitreMiniProximite,
#TitreMiniRayon,
#TitreMiniSituation,
#TitreMiniReference, 
#TitreMiniChoixAffichage {
 width: 120px; color: #11206b; float: left; font-size: 12px; padding: 2px 0 0 0; text-align: left; margin:0 0 14px 0;
}

#TitreMiniChoixAffichage { width: 125px; padding: 8px 0 0 0; }
.MiniDivSelect{display:inline;}

.MiniSelect{width: 140px;_width: 125px; float:right; border: 1px solid #707070; color: #707070; margin: 2px 0 0 0; background: #fff;}

#MiniSelectTypeTrans,
#MiniSelectTypeLoi,
#MiniSelectTypeCommerce, 
#MiniSelectTypeActivite,
#MiniSelectTypeBien,
#MiniSelectSousTypeBien,
#MiniSelectPieces,
#MiniSelectChambres,
#MiniSelectBudgetVente,
#MiniSelectBudgetLoc,  
#MiniSelectSurface,
#MiniSelectPays,
#MiniSelectRegEtr,
#MiniSelectRegion,
#MiniSelectDep,
#MiniSelectVilles,
#MiniSelectQuartier,
#MiniSelectRayon,
#MiniSelectSituation

{width:140px;color:#707070;font:11px verdana;}
.MiniDivCheckbox{}
.MiniLabel{padding-left:11px;color:#737687;}
.MiniCheckbox{border: 11px solid #b2b2b2; color: #e53134; margin: 2px 2px 0 0; background: #fff; padding:6px;}

#MiniDivCheckboxPieces,
#MiniDivCheckboxChambres,
#MiniDivCheckboxRayon
{margin: 5px 0 0 0; float:right;}

.MiniDivChampText{float:right;}
.MiniInput{width:52px; border: 1px solid #dadada; color: #e53134; margin: 2px 0 0 0; background: #fff; padding:2px;}
.MiniInputTxt{ display: none; }

#MiniDivChampTextPieces,
#MiniDivChampTextChambres,
#MiniDivChampTextBudget,
#MiniDivChampTextBudgetVac,
#MiniDivChampTextSurface,
#MiniDivChampTextSurfaceTerrain,
#MiniDivChampTextProx,
#MiniDivChampTextRef
{float:right;padding:0px 0 0 8px}

#MiniLabelPieces1,
#MiniLabelPieces2,
#MiniLabelPieces3,
#MiniLabelPieces4,
#MiniLabelPieces5
{padding:0; margin:0 0 0 5px;}

#MiniCheckboxPieces1,
#MiniCheckboxPieces2,
#MiniCheckboxPieces3,
#MiniCheckboxPieces4,
#MiniCheckboxPieces5
{margin:0px 2px 0 0;}

#MiniInputPiecesMin,
#MiniInputPiecesMax
{width:58px}

#metrecarreterrain, .Patientez { display: none; }

#MiniInputBudgetMin,
#MiniInputBudgetMax
{width:58px; border: 1px solid #707070; background: #fff; font-size: 11px; color: #707070; }

#MiniInputSurfaceMin,
#MiniInputSurfaceMax
{width:58px; border: 1px solid #707070; background: #fff; font-size: 11px; color: #707070;}

#MiniBoutonInput{ width: 144px; height: 41px; float: right; margin-top: 15px; }
#MiniDivChoixAffichage{  color: #fff; border-top: 1px solid #fff; padding-top: 5px; }
.MiniLabel { color: #fff; }