// VAR COLORS
$color-body:#fff;
$color-content:#1a1a1a;
$color-block:#e1e1e1;
$color-primary:#fff;
$color-secondary:#bfbfbf;
$color-action:#d10024;
$color-important:#d20023;
$color-nav-footer:#414141;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#393c3d;