/*
#outils table,  #outils td {
	border-collapse: collapse;
}
#outils #TitrePage {
	font-size: 18px;
	text-align: center;
	margin: 0;
	padding: 5px;
	font-weight: bold;
	color: #657596;
}
#outils h3 {
	background: #657596;
	color: #fff;
	margin: 20px 0 5px 0;
	font-size: 13px;
	padding:5px;
	font-weight: bold;
	text-align: center;
	diplay: block;
	cursor: pointer;
}
#outils table {
	width:100%;
}
#outils th {
	width:40%;
	font-weight: bold;
	text-align: right;
}
#outils td {
	padding: 2px;
}
#outils input {
border: 1px solid #657596;
	background:#fff;
	color: #000;
}
#outils .inputOutils {
	border: 1px solid #657596;
}
#outils .inputRadio {
	border: none;
	background: none;
}
*/

$$REM$$
/*====================includes nécessaires pour récupérer les macros===========================================*/$$END:REM$$
<!--#include virtual="styles/detail_macros.css" -->
<!--#include virtual="styles/detail_macros_light.css" -->
<!--#include virtual="styles/detail_macros_site.css" -->
$$REM$$
/* ==========================================// outils //=========================================== */$$END:REM$$
#outils table,
#outils td{border-collapse: collapse;}
#outils #TitrePage{ font-size: 18px; text-align: center;  margin: 0; padding: 5px; font-weight: bold; }
#outils h3 {  	background: #657596;
								color: #fff;
							 margin: 20px 0 5px 0; font-size: 13px; padding:5px; font-weight: bold; text-align: center; diplay: block; cursor: pointer; }
#outils table { width:100%; }
#outils th{width:40%; font-weight: bold; text-align: right;}
#outils td { padding: 2px; }
#outils input { border: 1px solid #657596; 
							background:#fff; color: #000; }
#outils .inputOutils {border: 1px solid #657596; }
#outils .inputRadio { border: none; background: none; }

$$REM$$
/* ==========================================// pour effet accordéon //=========================================== */$$END:REM$$
.accordion_content {overflow: hidden;}