// VARIABLES COLORS
$color-body:#fff;
$color-content:#ff6419;
// $color-block:#eee;
$color-block:#fff;
$color-primary:#01cfcf;
$color-secondary:#ff6419;
$color-action:#ff6419;
$color-important:#ff6419;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;