<inputs label="Standing de l'immeuble" class="required standing">
	<radio model="$ec.formData.standing" value="'medium'" icon="star">Moyen</radio>
	<radio model="$ec.formData.standing" value="'good'" icon="stars-2">Bon</radio>
	<radio model="$ec.formData.standing" value="'great'" icon="stars-3">Tr&egrave;s bon</radio>
</inputs>

<inputs label="Qualit&eacute; de l'emplacement" class="required location-quality">
	<radio model="$ec.formData.locationQuality" value="'medium'" icon="star">Moyen</radio>
	<radio model="$ec.formData.locationQuality" value="'good'" icon="stars-2">Bon</radio>
	<radio model="$ec.formData.locationQuality" value="'great'" icon="stars-3">Tr&egrave;s bon</radio>
</inputs>

<inputs label="Mat&eacute;riaux de l'immeuble" class="required material wrapFlex" separate="2">
	<radio model="$ec.formData.apartment.material" value="'concrete'" icon="concrete image">B&eacute;ton</radio>
	<radio model="$ec.formData.apartment.material" value="'brick'" icon="brick image">Brique</radio>
	<radio model="$ec.formData.apartment.material" value="'stone'" icon="stone image">Pierre</radio>
	<radio model="$ec.formData.apartment.material" value="'other'">Autres</radio>
</inputs>

<controls>
	<prev state="online.apartment.details"></prev>
	<next state="online.apartment.surface"></next>
</controls>
