<inputs label="Mat&eacute;riaux de l'immeuble" class="material wrapFlex" separate="2">
	<radio model="$ec.formData.apartment.material" value="'concrete'">B&eacute;ton</radio>
	<radio model="$ec.formData.apartment.material" value="'brick'">Brique</radio>
	<radio model="$ec.formData.apartment.material" value="'stone'">Pierre</radio>
	<radio model="$ec.formData.apartment.material" value="'other'">Autres</radio>
</inputs>

<controls>
	<prev state="online.apartment.building"></prev>
	<next state="online.apartment.surface"></next>
</controls>
