<text model="$ec.formData.contact.name.last" form="$ec.estimationForm"
      label="Nom"
      placeholder="Votre nom de famille" class="required contact name"
></text>

<text model="$ec.formData.contact.phone" form="$ec.estimationForm"
      label="T&eacute;l&eacute;phone"
      placeholder="06 12 34 59 78" class="required contact phone" format="phone"
></text>

<text model="$ec.formData.contact.email" form="$ec.estimationForm"
       label="Votre email"
       placeholder="ex : me@example.com" class="required contact email"
></text>

<select-box name="project.when" model="$ec.formData.project.when"
            label="Quand pensez-vous r&eacute;aliser cette transaction ?"
            placeholder="Choisissez" class="required project when"
            options="{
                now: 'D&egrave;s que possible',
				in3Months: 'Dans 3 mois',
				in6Months: 'Dans 6 mois',
				unknown: 'Je ne sais pas'
            }"
></select-box>

<controls>
	<prev state="pro.general"></prev>
	<next state="pro.results"  text="Recevoir l'estimation par email"></next>
</controls>
