body { margin: 0; padding: 0; background-color: #fff; text-align: center; }
div, td { font-size: 11px; color: #000066; font-family: Verdana, Arial, Helvetica, sans-serif; }
table  { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
input, select { vertical-align: middle; }
a { color: #000066; text-decoration: none; }
a:hover { color: #000066; text-decoration: none; }
img { border: none; display: inline; }
form { margin: 0; padding: 0; }
p { margin: 5px 0; }
.clear-left { clear: left; }
.clear-both { clear: both; }
.clear-right { clear: right; }
/**/
#wrapper { position: relative; width: 1031px; background: url(../images/bg_wrapper.gif) repeat-y; margin: 0 auto; }
.border { width: 15px; float: left; }
#header { width: 1001px; height: 291px; overflow: hidden; float: left; }
#top-header { width: 1001px; height: 105px; overflow: hidden; background: url(../images/bg_header.jpg) no-repeat; text-align: left; }
#top-header img { margin-top: 5px; margin-left: 28px; }
#menu { width: 1001px; height: 52px; overflow: hidden; background: url(../images/bg_menu.gif) repeat-x; }
#menu ul { margin: 0; padding: 0; list-style-type: none; }
#menu li { height: 52px; overflow: hidden; float: left; }
#menu span { display: none; }
#menu a { display: block; height: 52px; overflow: hidden; background-repeat: no-repeat; }
/*#menu a:hover { display: block; height: 52px; overflow: hidden; background-position: 0 -52px; }*/
#menu .menu1 { width: 114px; background-image: url(../images/menu1.gif); }
#menu .menu1:hover { width: 114px; background-image: url(../images/menu1b.gif);background-position: 0 -52px; }
#menu .menu2 { width: 150px; background-image: url(../images/menu2.gif);}
#menu .menu2:hover { width: 150px; background-image: url(../images/menu2b.gif); background-position: 0 -52px; }
#menu .menu3 { width: 196px; background-image: url(../images/menu3.gif); }
#menu .menu3:hover { width: 196px; background-image: url(../images/menu3b.gif); background-position: 0 -52px;}
#menu .menu4 { width: 156px; background-image: url(../images/menu4.gif); }
#menu .menu4:hover { width: 156px; background-image: url(../images/menu4b.gif); background-position: 0 -52px; }
/**/
#sousmenu { width: 240px; text-align: left; position: absolute; left: 475px; top: 156px; z-index: 120; }
#sm1 { width: 240px; display: none; background: #00004c; text-align: left; position: relative; padding-bottom: 10px; }
#sm1 a { color: #fff; font: 16px normal "Times New Roman", Times, serif; }
#sm1 a:hover { text-decoration: none; color: #7373b7; }
#sm1 span { padding-left: 20px; }
/**/
#menu .menu5 { width: 237px; background-image: url(../images/menu5.gif); }
#menu .menu5:hover { width: 237px; background-image: url(../images/menu5b.gif); background-position: 0 -52px;  }
#menu .menu6 { width: 148px; background-image: url(../images/menu6.gif); }
#menu .menu6:hover { width: 148px; background-image: url(../images/menu6b.gif); background-position: 0 -52px; }
#flash { width: 1001px; height: 154px; overflow: hidden; }
#anim { width: 1001px; height: 130px; border-bottom: 4px solid #010068; overflow: hidden; position: relative;}
.anim-slogan { position: absolute; bottom: 10px; left: 20px; font-size: 34px; color: #fff; z-index: 150; text-shadow: 1px 1px 3px #000; font-family: Times New Roman, serif;}
#main1 { width: 1031px; background: url(../images/borleft_bottom.gif) left bottom no-repeat; }
#main2 { width: 1031px; background: url(../images/borright_bottom.gif) right bottom no-repeat; text-align: center; }
#main3 { width: 1001px; margin: 0 auto; background: url(../images/bg_content.gif) repeat-y; }
#content { width: 1001px; background: url(../images/bg_content1.gif) top no-repeat; }
#left-content { width: 661px; float: left; text-align: right; padding-top: 22px; }
#nav-content { float: right; text-align: left; width: 630px; padding-bottom: 15px; }
#left-content .titre { font: 24px normal "Times New Roman", Times, serif; color: #010067; margin: 8px 0; text-align: left; padding-bottom: 5px; border-bottom: 1px solid #a3a3a3; }
#contact { width: 243px; float: right; text-align: left; font-weight: bold; color: #010067; padding-top: 5px; }
#contact .insert { width: 230px; height: 121px; overflow: hidden; background: url(../images/bg_insert.gif) no-repeat; text-align: center; margin-bottom: 7px; }
#contact .insert img { width: 216px; height: 107px; margin: 7px auto; }
#intro1 { width: 390px; background: url(../images/bg_intro.gif) bottom no-repeat; float: right; }
#intro2 { padding-left: 12px; text-align: justify; padding-bottom: 5px; }
#intro2 p { font-size: 12px; }
#intro2 ul { margin: 0; padding: 0; list-style-type: none; }
#right-content { width: 340px; float: right; }
/**/
#carte { position: relative; width: 340px; height: 416px; }
#ville1 { position:absolute; top: 207px; right: 4px; display:none; }
#ville2 { position:absolute; top: 257px; right: 86px; display:none; } 
#ville3 { position:absolute; top: 240px; right: 32px; display:none; } 
#ville4 { position:absolute; top: 246px; right: 15px; display:none; } 
#ville5 { position:absolute; top: 222px; right: 41px; display:none; }
#ville6 { position:absolute; top: 255px; right: 75px; display:none; } 
#ville7 { position:absolute; top: 270px; right: 40px; display:none; } 
#ville8 { position:absolute; top: 264px; right: 26px; display:none; } 
#ville9 { position:absolute; top: 264px; right: 26px; display:none; }
#ville10 { position:absolute; top: 260px; right: 36px; display:none; } 
#ville11 { position:absolute; top: 269px; right: 48px; display:none; } 
#ville12 { position:absolute; top: 264px; right: 26px; display:none; }
#ville13 { position:absolute; top: 335px; right: 12px; display:none; }
#ville14 { position:absolute; top: 351px; right: 42px; display:none; } 
#ville15 { position:absolute; top: 313px; right: 45px; display:none; } 
#ville16 { position:absolute; top: 362px; right: 1px; display:none; } 
#ville17 { position:absolute; top: 326px; right: 0px; display:none; } 
#ville18 { position:absolute; top: 321px; right: 1px; display:none; } 
#ville19 { position:absolute; top: 215px; right: 107px; display:none; }
#ville20 { position:absolute; top: 215px; right: 59px; display:none; } 
#ville21 { position:absolute; top: 195px; right: 29px; display:none; } 
#ville22 { position:absolute; top: 169px; right: 27px; display:none; } 
#ville23 { position:absolute; top: 280px; right: 40px; display:none; }
#ville24 { position:absolute; top: 301px; right: 9px; display:none; } 
#ville25 { position:absolute; top: 286px; right: 1px; display:none; } 
#ville26 { position:absolute; top: 280px; right: 51px; display:none; } 
#ville27 { position:absolute; top: 261px; right: 49px; display:none; } 
#ville28 { position:absolute; top: 264px; right: 1px; display:none; } 
#ville29 { position:absolute; top: 255px; right: 25px; display:none; } 

#ville30 { position:absolute; top: 288px; right: -15px; display:none; } 
#ville31 { position:absolute; top: 205px; right: 140px; display:none; } 
#ville32 { position:absolute; top: 205px; right: 85px; display:none; } 

/**/
#selection1 { position: absolute; top: 270px; right: 29px; _right: 28px; z-index:110; }
#selection1 a { background: url(../images/bg_selection.gif) no-repeat; text-align: center; display: block; color: #000066; font-size: 18px; font-weight: bold;width: 323px; height: 127px;padding-top: 20px; }
#footer { width: 1001px; background: url(../images/bg_footer.gif) no-repeat; margin: 0 auto; padding: 25px 0; text-align: center; color:#000; }
	/*page formulaire*/
.tabFond1 { background: none; margin: 5px auto; }
.tabFond1 td { padding: 2px; }
.tabFond1 table { text-align: left; }
.tabTitre { font-size: 10px; height: 22px; color: #fff; margin: 0 0 10px 0; padding: 0; font-weight: normal; text-align: center; background: url(../images/bg_ttl.gif) repeat-x #000; text-transform: uppercase; }
.messageNomAgence, .estimationNomAgence { font-size: 18px; text-align: center; color: #00004c; margin: 0; padding: 5px; font-weight: bold; display: block; }
.messageNomAgence span { font-weight: normal; font-size: 12px; }
.tabFond1 .Input { margin-bottom: 2px; }
#CguFormulaire { background: #d8d5dd; border: none; padding: 10px; text-align: left; color: #000066; border: 1px solid #969696; }
#CguFormulaire a { color: #000066; text-decoration: underline; }
#CguFormulaire a:hover { color: #000; text-decoration: none; }
	/*appel*/
.tabFond3 { width: 610px; margin: 5px auto;text-align: left; }
.tabFond3 td { padding: 8px 2px; }
	/*page alerte*/
#PageAlert font { color: #0f0f7f; } 
#PageAlert td { text-align: left; }
#PageAlert strong { color: #0f0f7f; }
#PageAlert a { font-size: 14px; font-weight: bold; color: #3d55f2; display: block; margin-left: 50px; padding-left: 20px; width: 200px; line-height: 14px; height: 14px; }
#PageAlert a:hover { width: 200px; line-height: 14px; height: 14px; font-size: 14px; color: #26267d; text-decoration: none; display: block; margin-left: 50px; padding-left: 20px; }
/*autres*/
.page-nav p { margin: 0; font-size: 12px; }
.page-nav ul { padding: 0; margin: 5px 0; list-style-type: none; }
.page-nav li { padding-left: 25px; background: url(../images/puce.gif) 10px 4px no-repeat; line-height: 18px; }
.bas-nav { text-align: center; font-size: 16px; padding: 5px; font-family: "Times New Roman", Times, serif; }
.lien-bas { font-size: 12px; font-weight: bold; border-top: 1px solid #dcd9e3; padding: 5px 0; text-align: center; }
.lien-bas a { color: #888394; }
.lien-bas a:hover { color: #26267d; text-decoration: none; }


.page-nav-valeur p { margin: 0; font-size: 14px; }
.page-nav-valeur ul { padding: 0; margin: 5px 0; list-style-type: none; font-size: 14px;}
.page-nav-valeur li { padding-left: 25px; background: url(../images/puce.gif) 10px 4px no-repeat; line-height: 18px; }


/*agence-immo.htm*/
#name-agency{margin: 10px 0; padding: 0; width: 628px; }
#name-agency *{margin: 0; padding: 0; border: none;}
#name-agency .clear{clear:both;}
#name-agency .agency{ height: 20px; line-height: 20px; font-size: 14px; color: #fff; background: url(../images/bg_ttl.gif) repeat-x; padding: 0 0.8em;}
#name-agency #agency{padding: 1em 0; background: url(../images/listeag_fond_01.gif) repeat-x #b2aeba;  width: 628px;}
#name-agency #agency #img-agency{float: left; width:200px; border: 2px solid #fff; background: url(../images/sans_photo.gif) no-repeat #fff; margin-left: 5px;}
#name-agency #agency #img-agency img{ margin: 2px auto; }
#name-agency #agency #contact-agency{float: left; width: 350px; padding: 0 1em;}
#name-agency #agency #contact-agency {font-size: 16px; font-weight: bold;}
.agency2 { color:#000066; font-size: 18px; }
#name-agency #agency #contact-agency a {}
#name-agency #agency  p{padding: 0.4em 0;}
#contact-agency p{padding: 0.4em 0;font-weight:normal;font-size:10px;}
#name-agency #agency #contact-agency p strong{font-weight: normal;}
#name-agency #agency #contact-agency p span{font-weight: bold;}
#name-agency #bottom-agency{background: url(../images/bg_ttl.gif) repeat-x; height: 20px; line-height: 20px; overflow: hidden; text-align: right;}
#name-agency #bottom-agency a{ display: block; padding: 0 10px; height: 20px; overflow: hidden; line-height: 20px; border-right: 2px solid #fff; background: none; padding: 0;color:#fff; font-weight: bold;padding: 0 10px; float: left; text-align: center;  }
#name-agency #bottom-agency a:hover{  display: block; color:#fff; text-decoration: none;background: #38388d;}

#name-agency #bottom2-agency{background: url(../images/bg_ttl.gif) repeat-x; height: 20px; line-height: 20px; overflow: hidden; text-align: right;}
#name-agency #bottom2-agency a{ display: block; padding: 0 10px; height: 20px; overflow: hidden; line-height: 20px; border-right: 2px solid #fff; background: none; padding: 0;color:#fff; font-weight: bold;padding: 0 10px; float: left; text-align: right; }
#name-agency #bottom-agency2 a:hover{ background-color: #38388d; display: block; color:#fff; text-decoration: underline;}

#agency-top { background: url(../images/bg_ttl.gif) repeat-x; text-align:left; color:#fff;  font-size: 14px; height: 20px; }

/*cadres fiscaux*/
.cadres-fiscaux { text-align: left; padding: 20px 0; line-height: 16px; text-align: justify; }
.cadres-fiscaux .titre { font: 24px normal "Times New Roman", Times, serif; color: #010067; margin: 8px 0; text-align: left; padding-bottom: 5px; border-bottom: 1px solid #a3a3a3; display: block; }
.cadres-fiscaux .sous-titre { font-size: 12px; color: #888394; font-weight: bold; display: block; margin: 5px 0; }
.cadres-fiscaux ul { margin: 0 0 0 10px; padding: 0; list-style-type: none; }
.cadres-fiscaux li { background: url(../images/puce.gif) 0 4px no-repeat; padding-left: 15px; }
.cadres-fiscaux li li { margin-left: 0; background: none; }
.lien-cadres-fiscaux { padding: 15px 10px; }
.lien-cadres-fiscaux a { font-weight: bold; display: block; line-height: 10px; height: 12px; overflow: hidden; padding-left: 20px; float: right; text-align: left; background-repeat: no-repeat; float: right; margin-left: 15px; }
.lien-cadres-fiscaux a:hover { color: #888394; text-decoration: none; display: block; background-position: 0 -12px; line-height: 10px; height: 12px; overflow: hidden; padding-left: 20px; }
.lien-cadres-fiscaux .plus  { background-image: url(../images/puce_plus.gif); } 
.lien-cadres-fiscaux .retour { background-image: url(../images/puce_retour.gif); }
.cadres-fiscaux .cadres-fiscaux-listes { margin: 20px 0 20px 50px; padding: 0; list-style-type: none; }
.cadres-fiscaux .cadres-fiscaux-listes li { line-height: 20px; font-size: 14px; background-position: 0 5px; }
.cadres-fiscaux .cadres-fiscaux-listes li a:hover { color: #888394; }
/**/
.envoie { font-size: 14px; color: #010067; }
