/* CSS Document */
/* Redefinitions des balises HTML */ 
	*{margin:0;padding:0;font-size:12px;font-family: Tahoma;color:#FFF;}
	img{border:0}
	.clear{content:".";display:block;visibility:hidden;clear:both;font-size:0px;line-height:0px;height:0px;width:100%;margin:0;padding:0;}
	a{text-decoration:underline;outline:none;color:#FF0000;}
	a:hover{color:#FF0000;text-decoration:none;}
	hr{display:none;}
	select option{padding:0; color:#7F7F7F;}
	table{ margin:0 auto; padding:0;}
	* html input.alerte{ background:#FFFFFF;}
	/* --------Modification AR PLAN SITE-------- */    
	body{margin-top:-3px; background:#535353;}
	/* Effet bordure (espace 5px) entre BG menu et bande BG site */ 
	#header{width:993px; margin:16px auto 0;position:relative; overflow:hidden; height:86px;}
	#global{position:relative;width:993px; margin:0 auto; background:#191919;}
	
/* ----------------------------------------PAGE ACCUEIL---------------------------------------- */	   
   
/* --------LOGO AGENCE-------- */ 
	#LogoAgence { float:left;width:418px; padding:0;margin:0;}
	#LogoAgence img{ display:block; margin:0 0 0 63px;}


/* --------DRAPEAUX LANGUES FRANCAIS ET ANGLAIS-------- */ 		
/* Mettre en DISPLAY:NONE si pas d'option Anglais */ 
	#Drapeaux {position:absolute; top:64px; right:10px;}
	#Drapeaux img {padding-right:8px;}

/* --------TEXTE ACCUEIL--------*/ 
	#textAccueil { width:574px; padding:0; float:left;}
/* Modification TITRE texte d'accueil */ 
	#textAccueil h1{ font-size:14px; font-weight:bold;color:#FFF; padding:0 0 12px 6px;}
/* Modification CORPS texte d'accueil */ 
	#textAccueil p{ text-align:justify; font-size:11px;  color:#FFF; padding:0 0 15px 6px;}


/* LOGOS: FNAIM & SIA */
	#Partners{ display:none; position:absolute; top:0px; right:0px; width:62px; float:left; text-align:center;}
	#Partners span img{text-align:center; padding:2px 0;}

/* --------MARQUEE DEFILANTE-------- */
/* Modification COULEUR  MARQUEE */ 	
	#RefMarqueNavig{ width:600px; height:31px; float:right; display:inline;color:#555557; font-size:10px;background:#E9EBEE;margin:0; position:relative; top:61px;}
	#RefMarque{ width:565px; height:31px; float:right; display:inline;color:#555557; font-size:10px;width:550px;background-color:#FFF;margin:0 -1px 0 0; padding:0 4px 0 0;}
	#RefMarqueNavig marquee{width:590px;margin:0;padding:0; color:#4C5F73; padding:8px 5px 8px 5px; }
	* html #RefMarqueNavig marquee{ padding:8px 0; margin:0 5px;}
	#RefMarqueNavig marquee *{font-size:11px;}
	#RefMarqueNavig marquee a {color:#555557;}
	#RefMarqueNavig marquee a strong {color:#555557;}
	#RefMarqueNavig marquee a:hover {color:#AAAAAB;}

/* ----- Moteur -----*/
h2.TitrePage,.titreInfosLegales{color:#FF0000;font-size:14px;font-weight:bold;margin-right:25px;text-align:right;text-transform:uppercase;}

/* --------MENU + FLUX RSS-------- */
/* Modification COULEUR + TAILLE fond MENU */
	#remplissageMenu{ width:100%; background: none; min-height:44px;}		
	#menuFlux{width:993px; background:#434343; height:44px;margin:0 auto; border-bottom:4px solid #FF0000;}
	#menu {float:right; display:inline; padding:5px 0 0 0; position:relative; z-index:2;}
	#menu ul{ display:inline; margin:0 0 0 6px; list-style-type:none;}
	#menu li{ float:left; font-size:15px; padding:0; position:relative;}
	
	#menu a{ font-weight:bold;color:#fff; text-decoration:none;font-size:12px; padding:10px 20px 15px 20px; float:left;}
	#menu a:hover{color:#fff; background:#4E4E4E url(../images/bg_cdc.gif) 0 100% repeat-x;}		
		

/* --------CONTENU SITE = ZONE DU MILIEU-------- */
/* Modification COULEUR ARRIERE PLAN CONTENU SITE */ 	
	#milieu{width:984px;padding:18px 0 3px 0px; min-height:250px;background:#191919; border-left:4px solid #191919; border-right:5px solid #191919;margin:0 auto; position:relative; z-index:1;}
	#milieuD{width:964px;padding:18px 10px 3px 10px; min-height:250px;background:#191919; border-left:4px solid #191919; border-right:5px solid #191919;margin:0 auto; position:relative; z-index:1;}

	
	#blocHaut{ width:100%; overflow:hidden;}
/* Positionnement bandeau image */ 
	#visuel{float:left; display:inline; width:709px; margin:0 0 10px 0; padding:0;}		
/* Modification COULEUR BORDURE IMAGE */ 		
	#visuel img{border:7px solid #2C2C2C;}
 

/*--------POSITIONNEMENT MINI MOTEUR-------- */ 
	.miniMoteur{float:right;display:inline;width:220px;padding:0 0 0 42px;position:relative;}		
/* Modification TITRE RECHERCHE */ 		
	.miniMoteur h2, #blocBas .nbrTransaction h2{font-size:18px; font-weight:bold; color:#fff; margin:0 0 4px -13px;padding:12px 0 12px 10px; background:#2C2C2C; width:210px; border-bottom:4px solid #FF0000;}
/* A NOTER !!!! Pour styliser les champs + bouton mini moteur VOIR == MINI_MOTEUR.CSS */ 


/* ----------- 3 COUPS DE COEUR ------------- */ 
	#blocBas #coupCoeur{float:left;display:inline;width:715px;margin:0 0 15px 0; }

/* ----------- LISTE TRANSACTIONS AGENCE ------------- */ 
	#blocBas .nbrTransaction{float:right;width:220px; margin:0 0 0 0; padding:0 0 0 42px;}

/* Modification COULEUR "AUJOURD'HUI" */ 	
	#blocBas .nbrTransaction h3{font-size:13px;font-weight:bold;padding:1px 0;color:#000; display:none;}
/* Modification COULEUR TYPE TRANSACTION */ 	
	#blocBas .nbrTransaction h4{width:167px;font-weight:bold;font-size:13px;padding:0;}
	#blocBas .nbrTransaction h4 a{width:167px;font-weight:bold;font-size:13px;color:#fff;padding:10px 0 0 0;}
	#blocBas .nbrTransaction ul{list-style-type:none;margin:0 0 10px 0; line-height:16px;}
/* Modification COULEUR TYPE DE BIEN */ 
	#blocBas .nbrTransaction ul *{font-size:11px;color:#fff;}
	#blocBas .nbrTransaction ul a:hover{text-decoration:none;color:#fff;}

/*la page pieces a fournir*/
    
	#piece{width:600px;margin:0 auto;}
	#piece h2{font-size:12px;font-family:Verdana, Helvetica, sans-serif;padding:0 0 23px 0;width:412px;margin:0 auto;}
	#piece h2 span{padding:0 0 0 20px;}
	dl.dossier dt span{padding:0 0 0 110px;}
	#piece p{width:90px;margin:0 auto;padding:0 0 20px 0;font-size:12px;font-family:Verdana, Helvetica, sans-serif;font-weight:bold;}
	#piece b{font-size:12px;font-family:Verdana, Helvetica, sans-serif;font-weight:bold;padding:0 300px 10px 114px;}
	#piece strong{padding:0 0 10px 0;}
	
	dl.condidat,dl.cautionner{padding:0 0 40px 0;}
	dl.dossier{padding:0 0 20px 0;}
    dl.condidat dt,dl.cautionner dt{font-size:12px;font-family:Verdana, Helvetica, sans-serif;font-weight:bold;text-decoration:underline;padding:0 0 20px 11px;}
    dl.condidat dd.idem{padding:0 0 0 26px;font-weight:bold;}
	dl.condidat dd,dl.cautionner dd{font-size:12px;font-family:Verdana, Helvetica, sans-serif;padding:0 0 10px 11px;}	
    dl.condidat dd span,dl.cautionner dd span{margin:0 10px 0 0;}
	dl.dossier dt{width:395px;margin:0 auto;font-size:12px;font-family:Verdana, Helvetica, sans-serif;font-weight:bold;padding:0 0 20px 0;text-decoration:none;}
    dl.dossier dd{padding:0 0 10px 10px;}
	dl.dossier span.euro{margin:0 0 0 70px;}
	
/* -----------INCLUDE BAS------------- */ 

/* -----------INCLUDE BAS------------- */ 

/* Modification COULEUR BANDE COORDONNEES */ 
.CoordonneesAgence {font-size:12px; background:#222222; margin:0 5px 7px 5px; height:27px; text-align:center; padding-top:13px; color:#fff; font-weight:bold;}	
/* Modification BG footer portefeuille + menu secondaire */
.footerPosition{background:#fff; position:relative;width:984px; border-left:5px solid #fff; border-right:4px solid #fff; margin:auto; }
/* ARRIERE PLAN FOOTER */
#footer{ background: none; margin:0 auto; padding:0 0 0 1px;}
		
		
/* Modification couleur 2 TITRES FOOTER */ 
 #footer h4{font-size:11px;font-weight:bold;background:url(../images/puce.gif) no-repeat;padding:4px 0 1px 33px;margin:17px 0 0 0;line-height:19px;}

/* Modification couleur MENU SECONDAIRE FOOTER (droite) */

.menuSecondaire{float:left;width:993px;font-size:11px;color:#fff;padding:8px 0 8px 0; background:#434343;}



.menuSecondaire ul{padding:0; color:#2C3743; text-align:center; font-size:11px; list-style:none; overflow:hidden; width:750px; padding-left:190px;}
.menuSecondaire li { float: left;padding:7px; background:#535353; margin:0 4px;font-size:11px; color:#fff; font-weight: normal;}
.menuSecondaire li.realisation{ width:140px;}
.menuSecondaire li a{font-size:11px;color:#fff;text-decoration:none; font-weight: normal;}
.menuSecondaire li a:hover{font-size:11px;color:#fff;text-decoration: none;}




/* ----------------------------------------AUTRES PAGES DU SITE---------------------------------------- */

/* Page En Construction */
	#EnConstruction{margin:70px 0 70px 0; text-align:center;}
	#EnConstruction h5 { color:#8B805D;}


/* PAGE PLAN DU SITE = incl_plan-site.htm */  
	.ul#Plan *{text-decoration: none; font-weight: bold;}
	ul#Plan{padding: 0 8em; width:500px; margin:0 auto;position:relative;top:-25px;}
	ul#Plan li.plan{ color:#FF0000; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;border-bottom:none;}
	ul#Plan li.MenuSep{display:none;}
	ul#Plan li{padding: 0.2em 0; border:none;}
	ul#Plan .plan{padding: 0.2em 0;background:none;}
	ul#Plan li a{ background:none;color:#535353;padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #535353; text-transform:uppercase;}
	ul#Plan li a:hover{color:#FFF;padding-left:10px; height:19px;font-size: 12px; background:#222222 ;border:1px solid #535353;}


/* Outils */
	.ul#Outils *{text-decoration: none; font-weight: bold;}
	ul#Outils{padding: 2em 8em; width:500px; margin:0 auto;}
	ul#Outils li.list{padding: 0.2em 0px;background:none; margin:2px 0; border:none;}
	ul#Outils li a{color:#535353;padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #535353; text-transform:uppercase;}
	ul#Outils li a:hover{color:#FFF;padding-left:10px; height:19px;font-size: 12px;background:#222222;border: 1px solid #535353;}
	#Outils li.titrePageOutils{ color:#FF0000; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}


/*PAGES ESTIMATION + CONTACT + MESSAGE == TABLEAUX FORMULAIRES*/
	.tabFond1{border-color:#00AA00; border-width:0; border-style:solid; padding:2px; font-family:Verdana, Helvetica, sans-serif; width:100%;}
	 textarea {width:600px; height: 100px;border:1px solid #34414F;margin:5px 0 0 0; padding:5px;color:#7F7F7F;}
	.tabFond2{border-color:#8B805D; border-width:1px; border-style:solid; padding:2px; font-size:14px; font-family:Verdana, Helvetica, sans-serif;}
   .tabTitre{padding:10px;font-size:12px;	margin:10px auto;	border-bottom:1px solid #252525; text-transform:uppercase;
	text-align:left; color:#fff;}
     .tabTitre *{font-size: 12px; color:#fff;}
	.tabPrint{color:#5C5E5D; font-size: 13px; font-family:Verdana, Helvetica, sans-serif; border:1px solid #30FAE4;}
	.tabFond1 td input{margin:5px 0 0 0;padding:5px;border: none ; color:#7F7F7F;}
	.tabFond1 td input.BoutonFormRecherche{float:right;width:120px;height:25px;border:none;}
	select.imputForm{border:1px solid #125E56 ;margin:0; color:#7F7F7F; padding:5px;}
	select.imputForm option{ color:#7F7F7F;}
	input.boutonEnvoi{float:right;width:120px;height:25px;}
	input.imputForm{border:1px solid #34414F; margin:2px 0; color:#7F7F7F; padding:5px;}
	.tabFond1 table{ width:100%;}
	strong.messageNomAgence, strong.estimationNomAgence{ display:none;}
	
/*Résolution Bug IE8 = donner une taille aux bouton pour éviter tout décallage*/
	.tabFond1 .boutonEnvoi {float:right;border: none;width:120px;height:25px; margin-right:-1px;}
	.tabFond1 .BoutonFormContact {float:right;border:0;width:120px;height:25px;margin-right:-1px;}
	.MoteurBouton input {float:right;width:120px;height:25px; margin:0 14px 0 0;}
	td #ChampsBouton input {float:right;margin-right:12px;width:120px;height:25px;}
	#AgenceContact form table#FormContact td#ChampsBouton input{width:120px;height:25px;}
	

/* GUIDE PRATIQUE = ACCES VIA LE LIEN DANS LA PAGE OUTILS*/
	span.txtTitre3{ display:block; width:97%; color:#FFF; background:#555557; font-size:16px; font-weight:bold; padding:3px 5px; margin:10px 3px 3px 0;}
	span.gras{ display:block; width:882px; color:#FFF; background:#555557; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;}
	span.gras p{color:#FFF;}
	span.gras span.gras{padding:3px 0;}
	td.encadre{background-color:#FFF; border-color:#AAA; border-width:2px; border-style:solid; padding:3px; color:#000; margin:0 0 0 -4px;}
	p.grasnews{ display:block; width:882px; color:#FFF; background:#555557; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;}

	/* coup de coeur*/
	* html .div-cdc{ height:269px;}
	.div-cdc{width:234px; min-height:269px;float:left; margin:0 1px 0 0; border:1px solid #2B2B2B; background:url(../images/bg_cdc.gif) 0 100% repeat-x; border-bottom:none;}
	.div-cdc *{ color:#000;}
	.div-cdc .photo-cdc img{width:220px;height:139px; margin:5px 2px 3px 5px; border:1px solid #fff;}
	.div-cdc a span.ville-cdc{font-weight:bold;display:block; color:#fff; padding:8px 0 0 0;}
	.div-cdc a span.ville-cdc a:hover{color:#B29577;}
	.div-cdc .contenu-cdc a *{color:#FF0000;font-weight:bold; text-transform:capitalize;}
	.div-cdc .contenu-cdc a:hover *{color:#FF0000;text-decoration:underline;}
	.div-cdc .typebien-cdc{}
	.div-cdc .contenu-cdc{padding:0 6px 4px 6px;}
	.div-cdc .contenu-cdc *{color:#fff; font-size:11px;}
	.div-cdc .contenu-cdc a{ text-decoration:none;}
	.div-cdc .contenu-cdc a:hover{color:#30FAE4;}
	.div-cdc .descriptif-cdc{min-height:30px;}
	* html .divc2c .descriptif-cdc{height:30px;}
	.div-cdc p.prix-cdc{font-weight:bold;font-size:14px; color:#FF0000; font-size:11px;}
 
 
/* Mentions Legales */
	#MentionsLegales h2 {display:block; width: 99%;background:#535353; font-size: 14px; color:#fff;font-weight: bold;letter-spacing: 0;padding:3px 0 3px 8px;margin: 10px 0;text-align: left;text-transform: none;font-family: tahoma; text-transform: none;}


/* correction detail*/
#AgenceContact form table#FormContact td#ChampsBouton #ChampsObligatoires{ clear:both;}	

/*correction recherche	*/
#RechercheContainer #AlerteEmail #AlerteForm input.alerteBt{ cursor:pointer;}
#RechHaut form#Tri select, #RechHaut form#Tri select option,#RechHaut form#Tri select optgroup { color:#232323;}
#TitreContact a#AgenceMentions *{ color:#000000 !important; line-height:normal !important; }

#CguFormulaire {margin:20px 0;}


