#BoiteMiniMoteur{
margin:0px 0 0 10px;
padding:0;
}
#BoiteMiniMoteur *{
float: none;
margin: 0;
padding: 0;
}

#BoiteMiniMoteur #MiniDiv{}
#BoiteMiniMoteur select{width: 214px;margin-bottom: 10px; font-size:10px;}
#BoiteMiniMoteur .MiniTitre, #BoiteMiniMoteur .MiniInputTxt{color: #fff; font-size:11px;}
#BoiteMiniMoteur .Patientez{display: none;}

#MiniBudget br{
display: none;
}
