// VAR COLORS
$color-body:#e9e5cf;
$color-content:#e9e5cf;
$color-block:#fff;
$color-primary:#474450;
$color-secondary:#474450;
$color-action:#474450;
$color-important:#efc367;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black-opacity";

// COLOR FONT BODY DEFAULT
$color-font-body:#60605f;