// VAR COLORS
$color-body:#fff;
$color-content:#1a1a1a;
$color-block:#f2f2f2;
$color-primary:#fff;
$color-secondary:#9e1e28;
$color-action:#9e1e28;
$color-important:#9e1e28;
$color-nav-footer:#333333;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#333333;