// VAR COLORS
$color-body:#eee;
$color-content:#eee;
$color-block:#fff;
$color-primary:#0073a6;
$color-secondary:#01496e;
$color-action:#0073a6;
$color-important:#01496e;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#131313;
