// VAR COLORS
$color-body:#FFF;
$color-content:#fff;
$color-block:#edeff0;
$color-primary:#FFF;
$color-secondary:#484c50;
$color-action:#484c50;
$color-important:#f78a00;
$color-nav-footer:#484c50;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#2e3133;

// ICONE COUP DE COEUR
$color-icone-cdc:#cd1f7f;


// COULEUR PERSO
$color-orange:#f78a00;
$color-rose:#cd1f7f;
$color-bleu:#009cdd;
$color-vert:#92bf1d;
