@import "color";
// BG SOLO
$bg-uni:yes;

// PICTURE BG OU DEGRADE CSS BG COLOR PRIMARY vs SECONDARY vs BLOCK > SI NO ALL = BG BODY UNI
$picture-bg:no;
$picture-bg-url:'';
$picture-bg-repeat-horizontal:no;

// HEIGHT PUB - EXTRA
$height-extra:590;
$height-pub:400;

// PICTURE SUR BG-MINIMOTEUR = YES / NO = BACKGROUND COLOR
$bg-minimot:no;

// MARGIN CONTENT SI NAV FIXE 
$margin-top-under-nav-fixe:250;

// MARGIN LOGO ABSOLUTE
$margin-logo-absolute:12;

// SIZE NAVIGATION
$height-navigation:55;

// VAR SITE TYPO
$font-body:"proxima-nova",arial,verdana,sans-serif;
$font-title:"clavo",arial,sans-serif;
$font-deco:"Nothing You Could Do",cursive;


// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text:1.3em;
$font-size-title:2.5em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:none;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:normal;

// ARRONDI POUR LES EFFETS SUR LI > A:HOVER/FIL ARIANE/BOUTON
$arrondi:no;

// BORDER EFFECT ON NAV
$border-nav:yes;

// TYPE MENU : FLAT = COLOR BANNER BEHIND, NO FLAT = SHAPE OR NOT
// LINK TO VAR ID3X >>> MENU_TYPE
$type-menu:no-flat;

// STYLE NAV : IF YES = SHAPE BEHIND WORD, IF NO SHAPE BEHIND WORD ON HOVER
$shape:no;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS LIB6
@import "../../../slagence_X_V5/sources/scss/boutons/lib1";

// IMPORT PUB LIB BOITE
@import "../../../slagence_X_V5/sources/scss/pubs/lib7";

// IMPORT TEMPLATE ROME
@import "../../../slagence_X_V5/sources/scss/templates/tokyo";

// IMPORT MODULE ANNONCES
@import "../../../slagence_X_V5/sources/scss/modules/annonces7";

// IMPORT MODULE EXTRA
@import "../../../slagence_X_V5/sources/scss/extra/extra17";

// SPRITE BLANC
@import "../../../slagence_X_V5/sources/scss/sprites/social-blanc";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";


/* Shadow inversé sur le bloc pub */
.bg-pub {@include box-shadow(rgba(darken($color-body,100),0.3) 0px -2px 5px);}

/* Mise en page du module extra 9*/
.module-annonces-homepage-extra {
    .border-solid-bottom-primary-1 {border-bottom:none;}
    .rounded-200 {border-radius:0px;} 
    .big {font-size:1.6em;}
}

/* Mise en page menu principal */

.menu-principal {
    background-image:none !important;
    font-size:1.38em;
    text-align:center;
    margin-top:20px;


    @include gradient-secondary;
    >li {
        display:table-cell;
        >a {
            color:$color-primary;

            padding:13px 22px;
            margin:0px;
            border-left: 1px solid $color-primary;
        }
    }	
}

.navigation {
    border-bottom:5px solid $color-secondary;
}

// TYPO
.typo-deco {
    font-family:$font-deco;
}


.menu-principal>li>a {

    color:#fff;
}


.module-villes-annonces, .ville-annonce, .ville {
    text-transform:uppercase;
}



.menu-principal>li>a:hover {border-bottom :solid 1px $color-important;}

.socialwhite-rss {
    display: none;
}

.pres-listing .ville-annonce { font-size: .85em; }