/* CSS POUR MOTEUR, MINIMOTEUR */
/* MINI MOTEUR */
#Mini_Moteur { padding-top: 3px; }

.ajaxLoader {width:100%;text-align:center;}
.miniDiv {float:left; margin:0 0 13px 0;padding:0;width: 150px; }
.miniDivInfos {clear:both;width:100%;margin-top:5px;font-weight:9px;}
.miniBlocTitre {float:left;text-align:left;width: 90px;font-size:11px;line-height:12px;padding-top:2px; color: #fff; display: none; }
.miniBlocSelection {float:left;text-align:left;margin-left:5px;width:120px;line-height:12px;}
.miniBlocSelection #MiniLabelListe {float:left;margin-right:10px; font-size: 11px; color: #9da1a4;}
.miniBlocSelection #MiniLabelCarte {float:left; font-size: 11px; color: #9da1a4;}
.miniBlocSelectionImage {float:left;text-align:center;margin-left:5px;width:60%;line-height:12px;}
.miniForm, .miniFormInput {width: 150px; background:#9da1a4;border:1px solid #002858;font-size:11px; padding:3px; color: #002858; }
.miniFormInput {width:55px;float:left;margin-right:3px;}
.miniBouton {font-size:0px;margin: 0;background: url($$_$$images/minirechercher_$$FORM:LANG$$.gif) no-repeat;width: 150px; height: 25px; border: none; cursor: pointer; float: right; }
#Mini_Rayon select { width: 150px; background:#9da1a4;border:1px solid #002858;font-size:11px; padding:3px; color: #002858; }
#Mini_Send, #Mini_Send .miniBlocSelection { width: 153px; float: right; }
.divOff {display:none;}
#Mini_texte {display:none;}
#Mini_Transaction, #Mini_Biens, #Mini_Villes, #Mini_Budget { float: left; padding-right: 10px; }
#Mini_Transaction { margin-bottom: 20px; }
#Mini_Geoloc { position:absolute; bottom: -8px; right: -20px; }
#Mini_Geoloc .miniBlocTitre { width: 127px; }

/* MINIMOT RECHERCHE */
#minimot_rech #Mini_Budget {margin-top:-8px;}
#minimot_rech #Mini_Budget input {background:#fff; padding:5px; border:1px solid #fff;}
#minimot_rech #Mini_Budget .miniBlocTitre {display:block; float:none; padding:0 0 3px 5px;}
#minimot_rech .miniBlocSelection, #minimot_rech .miniDiv {width:auto;}
#minimot_rech .miniDiv {margin:0;}
#minimot_rech .miniForm {width:200px;}
#minimot_rech  #Mini_Biens, #minimot_rech  #Mini_Transaction,#minimot_rech  #Mini_Villes {margin-top:7px;}
#minimot_rech #Mini_Bouton {font-size:14px; background:#0056A3; padding:5px 3px; height:auto; margin-top:5px;}

/* MOTEUR */


/* MOTEUR */
#Moteur{margin:20px 0 0 0;}
.moteurMargin{margin:15px 0 0 0;}
.moteurComment{color:#d3d3d3}
#Moteur h1{font-weight:bold;}
#Moteur h2{font-weight:bold;font-size:13px;}
#Moteur h3{font-weight:normal;font-size:12px;color:#fff;border-bottom:1px solid #9f9b9b;padding:0 0 5px 0;}
#Moteur h3 strong{font-weight:bold;color:#9f9b9b;}
#Moteur h4{font-style:italic;color:#9f9b9b;}
#Moteur .moteurTable{width:100%;}
#Moteur .moteurTable td{width:100%;vertical-align:top;}
#Moteur .moteurTable .col1{width:32%;padding:20px 0 0 0;}
#Moteur .moteurTable .col2{width:32%;padding:20px 0 0 3%;}
#Moteur .moteurTable .col3{width:30%;padding:20px 0 0 3%;}
#Moteur .moteurTable ul li{padding:5px;margin:2px 0;background:#d10024; list-style-type: none; }
#Moteur .moteurTable ul li#idtypebien_1{margin:0;}
#Moteur .moteurTable ul li#idtypebien_2{margin:2px 0 0 0;}
#Moteur .moteurTable ul li#nb_pieces,
#Moteur .moteurTable ul li#nb_chambres,
#Moteur .moteurTable ul li#InputSurfaceTerrain{padding:5px 5px 5px 20px;background:none;margin:0;}
#Moteur .moteurTable ul li#InputSurfaceTerrain{margin:-2px 0 0 0;}
#Moteur .inputText{padding:1px 2px;margin-top:3px;}
#Moteur .inputSelect{font-weight:normal;color:#9f9b9b;font-size:12px;padding:0 0 0 5px;background:#ececec;border:1px solid #ccc;}
.col3 select{width:100%}
#Moteur .inputTextarea{font-weight:bold;margin:0 0 10px 0;padding:1px 2px;}
#Moteur .inputText,
#Moteur .inputTextarea{border:1px solid #ccc;color:#1a2a38;font-size:12px;background:#ececec;}
#Moteur .inputText{width:100px;}
#Moteur .inputSelect{width:300px;}
#Moteur .inputTextSpan{padding:0 5px;}
#Moteur #ref_ann{padding:0 0 20px 0;border-bottom:1px solid #9f9b9b;}
#Moteur #ref_ann .inputText{width:300px;}
#Moteur #cp1,
#Moteur #cp2,
#Moteur #cp3,
#Moteur #cp4{display:block;width:280px;margin:0 0 5px 0;}
#Moteur #MoteurVilles.miniDiv{height:50px;}
#Moteur #MoteurVilles li{display:block;float:left;width:30%;padding:5px;margin:2px 1% 2px 0;}
#Moteur #MoteurBouton{text-align:right;}
#Moteur #MoteurBouton .inputSubmit{padding:5px;margin:10px 0 0 0;background: #0056a3;width:134px; border: none; height: 34px; color: #fff; cursor: pointer; }
#Moteur .alerteBtModif{cursor:pointer;border:none;font-size:16px;font-weight:bold;padding:3px 20px 5px 20px;*padding:3px 20px; color: #fff; }
#Moteur .preValid{padding:20px 0;}
#Moteur .preValid a{font-weight:bold;text-decoration:underline;margin:0 35px 0 0;cursor:pointer;}
#Moteur .preValid a:hover{text-decoration:none;}
