// VARIABLES COLORS
$color-body:#00aace;
$color-content:#89744d;
$color-block:#1c8ea6;
$color-primary:#fff;
$color-secondary:#027b94;
$color-action:#482e1e;
$color-important:#a6ce39;
$color-nav-footer:#00aace;
$color-annonces-hover:#00779B;
$color-black:#000;
// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#fff;