// VAR COLORS
$color-body:#f4f4d9;
$color-content:#f4f4d9;
$color-block:#e3e3c3;
$color-primary:#8c012b;
$color-secondary:#590222;
$color-action:#8c012b;
$color-important:#590222;
$color-nav-footer:#f4f4d9;

// COLOR PUB
$color-pub:"black-opacity";

// COLOR FONT BODY DEFAULT
$color-font-body:#590222;
