/* =================== */
.TableDetail

.TotalAnnonce {
	text-align: left; 
	padding-top: 5px;
	margin-left: 3px;

}

.TitreAnnonce {  
	text-align: left; 
}

.BoiteAnnonce {
border:0px;
}

/* Ligne Titre Annonce */
.LigneTitreAnnonce {
	padding: 0px;
	margin: 0px;
	border: 0px;

}

.DetailBack {
	display: block;
	text-align: right; 	
}


.DetailPhoto {
	vertical-align: middle;
	align: center;
	text-align: center;	
}

img.DetailPhotoGdformat {
	border: #1C2585 solid 1px;
	margin-bottom:5px;
}

.DetailExclusif {
	font-weight: bold;
	font-size: 14px;
	font-style: italic;
	color: #D4000E;
}

.DetailDescriptif {
	padding: 5px;
}

.InfosAnnonce, .InfosAnnonceVac {
	vertical-align: bottom;
	display: block;
	background-repeat: no-repeat;
	background-position: 7px 0px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 5px;
	padding-bottom: 0px;
	margin-top: 5px;
	margin-bottom: 0px;
	text-align: left;
}

.DetailAgence {
	display: block;
	background-repeat: no-repeat;
	background-position: 7px 0px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 10px;
	margin-top: 10px;
}

.DetailImprimer {
	display: block;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: center;
	border-bottom:1px solid #AD010B;
}

.DetailFormulaireLib {
	font-weight: bold;
	display: block;
	
	
	background-repeat: no-repeat;
	background-position: 7px 0px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 10px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: left;
}


.DetailFormulaireForm {
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 10px;
	margin-bottom: 5px;
	display: block;
}

.DetailLibelle {
	display: inline;
	font-size: 18px;
	font-style: normal;
	text-indent : 3px;
	text-align: left;
	font-weight: bold;
	padding-left: 5px;
}

.DetailPrix {
	display: inline;
}

.DetailLibelleetPrix {
	background-color: #AD010B;
	color: #fff;

}

.DetailPrixFranc{
	display: none;
	visibility: hidden;

}

.DetailHonoraires {
	display: block;
	background-repeat: no-repeat;
	background-position: 5px 2px;
	background-color: #E0E8F5;
	border-color: #1C2585;
	border-style: dashed;
	border-width: 1px;
	color: #526A8E;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	display: block;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: right;
}

.DetailTelephone {
	display: block;
	background-repeat: no-repeat;
	background-position: 5px 2px;
	background-color: #E0E8F5;
	border-color: #1C2585;
	border-style: dashed;
	border-width: 1px;
	color: #526A8E;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: right;
}
.DetailTelephone * {
	font-style: inherit !important;
	font-weight: inherit !important;
}

.DetailSurface {
	display: inline;
}


.DetailProx {
	display: block;
}

.DetailProximite img {
	display: none;
}

.DetailDtFraicheur{
	display: none;
	visibility: hidden;
}

.DetailRefAnnonceLib, .DetailFraicheurLib {
	display: inline;
	font-weight: bold;
}

.DetailSituation {
	display: inline;
	visibility: visible;
}

.DetailSituation, .DetailSituationProximite {
	padding-top: 5px;
	font-weight: bold;
	display: inline;
	visibility: visible;
}

.DetailSituationCp {
	font-weight: normal;
	display: inline;
	visibility: visible;
}


.DetailInfoTitre {
font-weight: bold;
margin-top:5px;
}
	
div.DetailRefAnnonce  {

	}
	
.DetailInfoComplementaire{
	display:inline;
	margin-top: 10px;
	
	vertical-align:top;

}

.DetailInfoTitre{
	display:block;
	background-color: #AD010B;
	padding: 3px;
	color:#FFF;
}

.DetailInfoComplementaire li{
	margin:0;
	padding-bottom: 2px;
	display: block;
}