// VAR COLORS
$color-body:#233444;
$color-content:#fff;
$color-block:#575d6f;
$color-primary:#163e86;
$color-secondary:#d6d4e1;
$color-action:#d6d4e1;
$color-important:#d7bd61;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#fff;


// Nouvelle couleur body : #233444
// Ancienne couleur body : #2d313b

// AFFICHE CLIENT

$color-grisbleu:#4d5e74;
$color-bleuciel:#53b7e8;