@import "color";
// BG SOLO
$bg-uni:yes;

// CHOIX UNIQUE // PICTURE BG OU DEGRADE CSS BG COLOR PRIMARY vs SECONDARY vs BLOCK > SI NO ALL = BG BODY UNI 
$picture-bg:no;
$picture-bg-url:'../images/bg_moteur.jpg';
$picture-bg-repeat-horizontal:no;
$degrade-bg-primary:no;
$degrade-bg-secondary:no;
$degrade-bg-block:no;

// SIZE PICTURE AREA : FULLSCREEN OR NOT > UTILE SI PHOTO (TYPE SITE 1)
$height-container:0;

// PLACEMENT TOP CONTENT > UTILE SI PHOTO (TYPE SITE 1)
$placement-top-content:0;

// SIZE NAVIGATION
$height-navigation:70;

// VARIABLE SITE TYPO
$font-body:arial,verdana,sans-serif;
$font-title:arial,georgia,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST > FONT-SIZE-TEXT
$font-size-text:1.3em;
$font-size-title:2.3em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:none;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:normal;

// ARRONDI POUR LES EFFETS SUR LI > A:HOVER/FIL ARIANE/BOUTON
$arrondi:no;

// BORDER EFFECT ON NAV
$border-nav:no;

// TYPE MENU : FLAT = COLOR BANNER BEHIND, NO FLAT = SHAPE OR NOT
// LINK TO VAR ID3X >>> MENU_TYPE
$type-menu:no-flat;

// STYLE NAV : IF YES = SHAPE BEHIND WORD, IF NO SHAPE BEHIND WORD ON HOVER
$shape:no;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS LIB1
@import "../../../slagence_X_V5/sources/scss/boutons/lib1";

// IMPORT PUB LIB BOITE
@import "../../../slagence_X_V5/sources/scss/pubs/lib1";

// IMPORT PUB LIB2
@import "../../../slagence_X_V5/sources/scss/pubs/lib1";

// IMPORT MODULE SOUS MENU
@import "../../../slagence_X_V5/sources/scss/sous_menu/lib1";

// IMPORT TEMPLATE PARIS
@import "../../../slagence_X_V5/sources/scss/templates/paris";

// IMPORT MODULE ANNONCES3
@import "../../../slagence_X_V5/sources/scss/modules/annonces3";

// IMPORT MODULE EXTRA
@import "../../../slagence_X_V5/sources/scss/extra/extra2";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";

// SPRITE NOIR
@import "../../../slagence_X_V5/sources/scss/sprites/social-noir";

.menu-principal>li>a {text-transform:uppercase;}
.h2-title-moteur {text-align:center; font-size:3.8em;}
.moteur-refine .h2-title-moteur {font-size: 2em;}
@media only screen and  (max-width : 767px) {
	.h2-title-moteur {font-size:1.1em;}
}
.navigation {border-top:10px solid lighten($color-bleuciel,10%); background:$color-body; background-color:#233444;}
.menu-principal>li>a, .orbit-wrapper .typo-action{ color:$color-content;}
hr, .hr-module, .hr-like, .pagination-centered hr {border:#53b7e8 solid; border-width:thin;}


// HOMEPAGE

.h1-index h1 {font-size:3em; text-align:center; padding-bottom:10px;}
.h2-title-moteur {font-size:3.2em;}

.module-annonces-homepage, .moteur-avantage {border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;}
.center, .bouton-rechercher-moteur, .btn-action-no-gradient, {border:10px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.control-group input[type="text"] {border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.bg-action {border-radius:5px 0px 5px 0px; -moz-border-radius:5px 0px 5px 0px; -webkit-border-radius:5px 0px 5px 0px;}

.encart-pub-boite, .zone-pub, .picture-responsive {border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;}
.orbit-picture {border:25px solid #575d6f; border-radius:20px; -moz-border-radius:20px; -webkit-border-radius:20px; background-color:#575d6f;}
div.orbit-wrapper {border:0px; background-color:transparent;}
.bg-black {border-radius:0px 0px 10px 10px; -moz-border-radius:0px 0px 10px 10px; -webkit-border-radius:0px 0px 10px 10px;}
.bg-fleches {border-radius:0px 0px 0px 0px; -moz-border-radius:0px 0px 0px 0px; -webkit-border-radius:0px 0px 0px 0px;}


.btn-action-no-gradient, .bouton-rechercher-moteur, .btn-important {background-color:$color-bleuciel;}
.btn-action-no-gradient:hover, .bouton-rechercher-moteur:hover, .btn-important:hover {background-color:$color-important;}
.btn-important {background-image:none;}
.homepage-bloc-prix-bien h4 {color:$color-body;}
.ligne-social-langue {background-color:#d6d4e1;}
.bg-primary {background-color:$color-block;}

.menu-principal li a:hover {background-color:$color-secondary; color:$color-block;}


.font-title ul li a {color:$color-block; border:none;}

.logo {background-image:url('../images/slogan.png'); background-repeat:no-repeat;}

.bg-picture {background-image:url('../images/fond-site-2.png'); background-repeat:no-repeat;}

// PAGE AGENCE

.ligne-annonces-agence h2 {font-size:1em;}
.ligne-annonces-agence h3 {font-size:1.3em; color:$color-bleuciel;}

.ligne-annonces-agence {border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;}
.overflow {border-radius:10px 0px 10px 0px;}