// VAR COLORS
$color-body:#ededed;
$color-content:#ffffff;
$color-block:#fff;
$color-primary:#ffffff;
$color-secondary:#f1f2f4;
$color-tertiary:#fff;
$color-action:#40494f;
$color-important:#e9612e;
$color-nav-footer:#000;

// COLOR EXTRA
$color-font-extra: #fff;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;

// COLOR SOUS MENU
$color-sous-menu:$color-block;

// COLOR SVG MOTEUR
$color-svg-moteur:#000;
$color-svg-moteur-hover:#e9612e;

// COLOR SVG PUB
$color-svg-pub:#e9612e;
$color-svg-pub-hover:#000;