$$REM$$
/*
====================================================================================
//// <update date="2010-07-08" author="gabriel.fetu">refonte page pour intégration nouveaux outils internes</update>
====================================================================================
*/
$$END$$


$$REM$$ /*====================includes nécessaires pour récupérer les macros===========================================*/$$END:REM$$
<!--#include virtual="styles/recherche_macros.css" -->
<!--#include virtual="styles/recherche_macros_light.css" -->
<!--#include virtual="styles/recherche_macros_site.css" -->



$$REM$$ /* ============// général //============ */$$END:REM$$
#Outils{padding: 20px 15%;}
#Outils #CalculettesPicto{position: absolute; width: 48px; height: 48px; margin: -7px 0 0 -50px; background: url(/z/webagency/slagence_X_V2/images/calculettes_picto.png) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/z/webagency/slagence_X_V2/images/calculettes_picto.png', sizingMethod='scale');}
#Outils h1{padding: 0; margin: 0;}
#Outils h3{position: relative; padding: 5px 0; margin: 15px 0 0 0; text-align: center; cursor: pointer; text-transform: uppercase;	
						$$IF0:FORM:RECH$$							  
								 /* après 2008 */	color: $$NBPAGE_COLOR_HOVER$$; 	background: $$COLORTXT1$$;
								 $$IF=:CLASSIC$COLONNE$ARKADI:FORM:STYLERECH$$ /* avant 2008 */		color: #777; 	background: #ddd;		$$END$$			
						$$END$$
						$$IF=:LIGHT:FORM:RECH$$		color: $$LIGHT_COLORTXT3$$;			background: $$LIGHT_BG02$$;										$$END$$
					}
#Outils h3 span{position: absolute; display: block; top: 9px; right: 10px; width: 12px; height: 7px; background: url(/z/webagency/slagence_X_V2/images/calculettes_fleche.png) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/z/webagency/slagence_X_V2/images/calculettes_fleche.png', sizingMethod='scale');}
#Outils table{width: 100%;}
#Outils table,
#Outils td{border-collapse: collapse;}
#Outils td{padding: 3px 5px; vertical-align: top; text-align: left;}
#Outils th{padding: 6px 5px 0 0; vertical-align: top; text-align: right; width: 45%;}
#Outils strong{ 
								$$IF0:FORM:RECH$$		
									 /* après 2008 */ color: $$COLORTXT1$$;
									$$IF=:CLASSIC$COLONNE$ARKADI:FORM:STYLERECH$$ /* avant 2008 */		color: #000; 	$$END$$			
								$$END$$
								$$IF=:LIGHT:FORM:RECH$$ 	color: $$LIGHT_COLORTXT1$$;   $$END$$
							}
#Outils label{padding: 0 3px;}
#Outils p{padding: 0; margin: 0;}


$$REM$$ /* ============// conteneur calculettes //============ */$$END:REM$$
.accordion_content{	padding: 10px;
										$$IF0:FORM:RECH$$		
											/* après 2008 */ border-bottom: $$LIGNE_POINTILLES$$; 	
											$$IF=:CLASSIC$COLONNE$ARKADI:FORM:STYLERECH$$ /* avant 2008 */		border-bottom: 1px dotted #bbb;		background: #eee; $$END$$
										$$END$$
										$$IF=:LIGHT:FORM:RECH$$ 	border-bottom: $$LIGHT_LIGNE_POINTILLES$$;  $$END$$
									}
.accordion_content em{display: block; font-size: 10px; font-style: normal; filter:alpha(opacity=60); -moz-opacity:0.7;	-khtml-opacity: 0.6; opacity: 0.6;}

$$REM$$ /* commun à tous les input */ $$END:REM$$
.accordion_content .inputText,
.accordion_content .inputCalcul,
.accordion_content .inputResult	{font-weight: bold; font-size: 12px; padding: 2px 0; width: 120px; text-align: center;}
/**/
.accordion_content .inputText		{
																	$$IF0:FORM:RECH$$		
																		/* après 2008 */ color: $$COLORTXT1$$; 
																		$$IF=:CLASSIC$COLONNE$ARKADI:FORM:STYLERECH$$ /* avant 2008 */		color: #000;		$$END$$
																	$$END$$
																	$$IF=:LIGHT:FORM:RECH$$		border: $$LIGHT_BORDER01$$; color: $$LIGHT_COLORTXT1$$; background: $$LIGHT_BG01$$;		$$END$$
																}
.accordion_content .inputCalcul	{	cursor: pointer; width: 122px; border: none;
																	$$IF0:FORM:RECH$$
																		/* après 2008 */ color: $$NBPAGE_COLOR_HOVER$$; 	background: $$NBPAGE_COLOR_HOVER$$;
																		$$IF=:CLASSIC$COLONNE$ARKADI:FORM:STYLERECH$$ /* avant 2008 */		color: #777; 	background: #ddd;		$$END$$
																	$$END$$
																	$$IF=:LIGHT:FORM:RECH$$		color: $$LIGHT_COLORTXT3$$;			background: $$LIGHT_BG02$$;										$$END$$
																}
.accordion_content .inputResult	{ 
																	$$IF0:FORM:RECH$$		
																		/* après 2008 */ border: 1px solid $$COLORTXT1$$; color: $$COLORTXT1$$; 
																		$$IF=:CLASSIC$COLONNE$ARKADI:FORM:STYLERECH$$ /* avant 2008 */	background: #ddd;	color: #000; border: 1px solid #000; $$END$$
																	$$END$$
																	$$IF=:LIGHT:FORM:RECH$$		border: 1px solid $$LIGHT_COLORTXT1$$; color: $$LIGHT_COLORTXT1$$;		$$END$$
																}


$$REM$$ /* ============// pour effet accordéon //============ */$$END:REM$$
#Outils .accordion_content {overflow: hidden;}


$$REM$$ /* ============// classes de chaque bloc d'outil //============ */$$END:REM$$
#Outils .outil1{}
#Outils .outil2{}
#Outils .outil3{}
#Outils .outil4{display: none;}