/* style demo.urlprovisoire.com */
*{font-family:Arial, Verdana, Helvetica, sans-serif; font-size: 11px; color: #888; margin:0; padding: 0; border: none;}

ul,li{list-style: none;}
table,td{border-collapse: collapse;}

.clear{clear: both; height: 0;}





/* //=======================================// head //=======================================// */
#Head{height: 120px; overflow: hidden; background: url(../demo/images/head_fd_01.jpg) 0 0 repeat-x #5d0001; border-top: 1px solid #d90000; text-align: center;}
#Head #Anim{height: 120px; background: url(../demo/images/head_fd_02.jpg) top center no-repeat;}


/* //=======================================// subhead //=======================================// */
#SubHead{min-height: 43px; _height: 43px; background: url(../demo/images/subhead_fd_01.gif) 0 0 repeat-x #fff;}
#SubHead_ctn{position: relative; min-height: 36px; _height: 36px; width: 1250px; margin: auto; background: url(../demo/images/menu_fd_01.gif) 0 0 no-repeat;}

/* Lien vers page de contenu sans menu gauche */
#SubHead_ctn a#LienClient{position: absolute; right: 0; top: 9px;}

/* lang */
#SubHead_ctn #Lang{position: absolute; left: 310px; top: 8px; width: 400px;}
#SubHead_ctn #Lang a{margin: 0 15px 0 0;}

/* menu 01 */
#SubHead_ctn #Menu{position: absolute;}
#SubHead_ctn #Menu #Rub{position: relative; margin: 0 0 0 53px; width: 218px; height: 43px; background: url(../demo/images/menu_fd_02.gif) 0 0 no-repeat;}
#SubHead_ctn #Menu #Rub #Rubrique{position: absolute; top: 11px; left: 22px;}
#SubHead_ctn #Menu #Rub #Links{position: absolute; top: 10px; left: 260px; height: 20px; width: 400px;}
#SubHead_ctn #Menu #Rub #Links a{display: block; float: left; margin: 0 40px 0 0; height: 12px;}
#SubHead_ctn #Menu #Rub #Links a span{display: none;}


#Ctn{width: 1250px; margin: auto; text-align: center;}


/* menu 02 > style folder tree (update 12.02.2009) */
/* conteneur*/
#Menu02{float: left; margin: 0 0 0 70px; _margin: 0 0 0 35px; text-align: left; width: 210px; background: url(../demo/images/menu02_fd_01.jpg) top right no-repeat;}
#Menu02 *{text-decoration: none;}
#Menu02 #Liens{width: 170px; min-height: 700px; _height: 700px; background: url(../demo/images/menu02_fd_02.gif) top left repeat-x;}
/* arborescence */
ul#tree{position:absolute; xxz-index:3;}
ul#tree .main{position:relative; color: #cf0002; font-weight: normal; cursor: pointer;}
ul#tree ul,
ul#tree li{position:relative; z-index:1;}
ul#tree ul{overflow:hidden;}
ul#tree li{float:left; clear:left; width: 180px; padding:2px 0;}
ul#tree li.rubrique{padding: 9px 0; background: url(../demo/images/menu02_fd_02.gif) bottom left repeat-x;}
ul#tree ul>li {float:none;}
/**/
ul#tree ul.open li.open,
ul#tree ul.open li.open *,
ul#tree ul.open li.over,
ul#tree ul.open li.over{z-index:2;}
ul#tree li.close ul {position:absolute; left: -10000px;	top:-10000px;}
/* liens */
ul#tree a{display: block; padding: 1px 5px 1px 20px; color: #888787; font-weight: normal;}
ul#tree a:hover{color: #cf0002; background: url(../demo/images/menu02_fd_03.gif) right no-repeat #ebebeb;}



/* contenu site */

#Content{position: relative; width: 950px; text-align: left;}
#Content h1.titre{margin: 0 0 20px 0; color: #d80002; font-size: 18px; padding: 5px 12px 5px 30px; background: url(../demo/images/titre_fd_01.gif) left no-repeat;}

/* demo/incl_en-construction.htm */
#Content #EnConstruction{text-align: center; height: 100%; background: url(../demo/images/en_construction.jpg) 90px 150px no-repeat;}
#Content #EnConstruction p{padding: 400px 3px 0 0;}

/* incl_bas.htm */
#Foot{width: 100%; text-align: right; font-size: 10px; color: #8a8a8a; background: url(../demo/images/footer_fd_01.jpg) 0 0 repeat-x #fafafa; padding: 30px 0; min-height: 100px; _height: 100px;}
#Foot *{font-size: 10px; color: #8a8a8a; text-decoration: none;}
#Foot p{width: 1200px; margin: 0 auto;}
#Foot a:hover{color: #000;}