$$REM$$
====================================================================

//// <summary>Fichier css nécessaire pour : incl_nbann_villes.gen.htm + incl_nbann_villesfull.gen.htm</summary>
//// <remarks>
//// <para>Fichier appelé par : slagence_x_v2/referencement/incl_nbann_villes.src.htm et slagence_x_v2/referencement/incl_nbann_villesfull.src.htm</para>
//// </remarks>
//// <update date="2008-02-15" author="lisbonne.siriphol">Création v1</update>

====================================================================
$$END$$

#Nbann_Villes{text-align: justify; font-size: 0.9em;}
#Nbann_Villes *{font-weight: normal;}
#Nbann_Villes a strong{font-size: 0.9em;}