$$REM$$====================================================================
//// <summary>Fichier css par défaut pour plan.htm</summary>
//// <remarks>
//// <para>Fichier à ne pas démutualiser</para>
//// <para>Appelle les fichiers contenant les macros styles des pages de recherche + détail</para>
//// <para>Le fichier se stylise ainsi tout seul, mais possibilité de le customiser par commun.css</para>
//// </remarks>
//// <update date="2009-09-10" author="lisbonne.siriphol">Création v2</update>
//// <update date="2007-11-12" author="lisbonne.siriphol">Création v1</update>
====================================================================$$END$$

$$REM$$----- liste des macros générales qui customisent page recherche + détail -----$$END:REM$$
<!--#include virtual="/styles/detail_macros_site.css" -->
<!--#include virtual="/styles/recherche_macros_site.css" -->
/* conteneur */
ul#Plan *{color: $$LIGHT_COLORTXT2$$$$COLORTXT1$$; text-decoration: none; font-size: 1em; font-weight: bold; background:none; list-style: none;}
ul#Plan{padding: 0 20px 40px 20px; list-style: none;}
ul#Plan .clear{clear: both; padding: 0; margin: 0; height: 0;}
/* styles liste */
ul#Plan{}
	ul#Plan li{margin: 0 20px; padding: 5px; border-bottom: 1px dashed $$LIGHT_COLORTXT2$$$$COLORTXT1$$;}
	ul#Plan li ul{}
	ul#Plan li ul li{border: none; background: none;}
/* titre en général */
ul#Plan li.plan{font-size: 18px; font-weight: bold; color: $$LIGHT_COLORTXT1$$$$COLORTXT2$$; padding: 30px 0 5px 0; margin: 10px 0 5px 0; border-bottom: 1px solid $$LIGHT_COLORTXT1$$$$COLORTXT2$$;}
/* titre spécifiques */
	ul#Plan li.planMenu{}
	ul#Plan li.planVentes{}
	ul#Plan li.planLocs{}
/* liens */
ul#Plan li a{display: block; padding: 0 0 0 15px; background: $$LIGHT_PICTO_FLECHE_01$$;}
ul#Plan li a:hover{color: $$LIGHT_COLORTXT1$$$$COLORTXT2$$; background: $$LIGHT_PICTO_FLECHE_02$$;}
	/* liens vers toutes les annonces*/
	ul#Plan li.voirTout{}
	ul#Plan li.voirTout a{color: $$LIGHT_COLORTXT1$$$$COLORTXT2$$;}
	ul#Plan li.voirTout a:hover{}
/* nombre d'annonces */
ul#Plan a span.nbAnn{font-size: 0.9em; font-weight: normal;}