$$REM$$====================================================================
//// <summary>Fichier css nécessaire pour : rss.htm</summary>
//// <remarks>
//// <para>Fichier appelé par : slagence_x_v2/rss.htm</para>
//// </remarks>
//// <update date="2008-11-18" author="lisbonne.siriphol">Création v1</update>
====================================================================$$END$$

/*
$$REM$$
====================================================================================
>> MACROS GÉNÉRALES RSS.HTM (attention au chemin des fichiers)
====================================================================================
$$END$$

$$A:COLORTXT1=#ff8000$$
$$A:COLORTXT2=#737373$$

$$A:RSS_PICTO=z/webagency/slagence_X_V2/images/rss/rss_picto.png$$ 
$$A:RSS_PICTO_WIDTH=111px$$ $$REM$$====== ! PNG DANS CSS, OBLIGATION DE DÉCLARER WIDHT ET HEIGHT (BUGG IE) ! ======$$END$$
$$A:RSS_PICTO_HEIGHT=96px$$ $$REM$$====== ! PNG DANS CSS, OBLIGATION DE DÉCLARER WIDHT ET HEIGHT (BUGG IE) ! ======$$END$$

$$A:RSS_ONGLET=url(z/webagency/slagence_X_V2/images/rss/rss_onglet.gif) 0 0 no-repeat$$

$$A:RSS_NETVIBES=url(z/webagency/slagence_X_V2/images/rss/rss_netvibes.gif) left no-repeat$$
$$A:RSS_IGOOGLE=url(z/webagency/slagence_X_V2/images/rss/rss_igoogle.gif) left no-repeat$$
$$A:RSS_MONYAHOO=url(z/webagency/slagence_X_V2/images/rss/rss_monyahoo.gif) left no-repeat$$
$$A:RSS_WIKIO=url(z/webagency/slagence_X_V2/images/rss/rss_wikio.gif) left no-repeat$$

$$A:RSS_IE7=url(z/webagency/slagence_X_V2/images/rss/rss_ie7.gif) left no-repeat$$
$$A:RSS_FIREFOX=url(z/webagency/slagence_X_V2/images/rss/rss_firefox.gif) left no-repeat$$
$$A:RSS_SAFARI=url(z/webagency/slagence_X_V2/images/rss/rss_safari.gif) left no-repeat$$
$$A:RSS_OPERA=url(z/webagency/slagence_X_V2/images/rss/rss_opera.gif) left no-repeat$$
$$A:RSS_XML=url(z/webagency/slagence_X_V2/images/rss/rss_xml.gif) left no-repeat$$

$$A:POINTILLES=url(z/webagency/slagence_X_V2/images/rss/rss_dot.gif) bottom left repeat-x$$
$$A:VOIR_ANN=url(z/webagency/slagence_X_V2/images/rss/rss_loupe.gif) left no-repeat$$

*/

#FluxRSS{margin:auto; padding: 15px;}
/* general */
#FluxRSS *{padding: 0; margin: 0; border: none; font-size: 11px; text-align: left; color: $$COLORTXT2$$; background: none;}
#FluxRSS .clear{clear: both;}
#FluxRSS table,
#FluxRSS td{border-collapse: collapse;}
#FluxRSS a{text-decoration: underline;}
#FluxRSS a:hover{text-decoration: none;}

/* conteneur titre */
#FluxRSS table#FluxRSS_Titre{width: 100%;}
#FluxRSS table#FluxRSS_Titre td{vertical-align: middle;}

/* logo RSS */
#FluxRSS #RssPicto_Ctn{width:$$RSS_PICTO_WIDTH$$; height:$$RSS_PICTO_HEIGHT$$;}
#FluxRSS #RssPicto_Ctn #RssPicto{margin: 0 10px 0 0; width:$$RSS_PICTO_WIDTH$$; height:$$RSS_PICTO_HEIGHT$$; background: url($$RSS_PICTO$$) 0 0 no-repeat !important; background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$$RSS_PICTO$$', sizingMethod='scale');}
/* titres */
#FluxRSS h1{color: $$COLORTXT1$$; font-size: 24px;}
#FluxRSS h2{font-size: 12px;}

/* ========================================== liens RSS  ==========================================  */
/* conteneur liens*/
#FluxRSS table#FluxRSS_List{width: 100%;}
#FluxRSS table#FluxRSS_List td{vertical-align: top;}
/**/
#FluxRSS_Liens{padding: 0 20px;}
#FluxRSS_Liens .RSS_idtt{color: $$COLORTXT1$$; font-size: 18px; font-weight: bold; background: #f2f2f2; padding: 5px 10px; margin: 25px 0 0 0;}
#FluxRSS_Liens .rss_lien_ctn{color: $$COLORTXT1$$; font-weight: bold; font-size: 12px; padding: 10px 0; margin: 0 10px; background: $$POINTILLES$$;}
#FluxRSS_Liens a{display: block; float: left; height: 16px; margin: 2px 5px 0 0;}
#FluxRSS_Liens a.voir_ann{font-weight: normal; padding: 0 0 0 18px; background: $$VOIR_ANN$$;}
#FluxRSS_Liens a.rss_lien{width: 62px;}
#FluxRSS_Liens a.rss_xml{background: $$RSS_XML$$; width: 48px;}
#FluxRSS_Liens a.rss_netvibes{background: $$RSS_NETVIBES$$;}
#FluxRSS_Liens a.rss_igoogle{background: $$RSS_IGOOGLE$$;}
#FluxRSS_Liens a.rss_monyahoo{background: $$RSS_MONYAHOO$$;}
#FluxRSS_Liens a.rss_wikio{display: none; background: $$RSS_WIKIO$$;}

/* ========================================== definition RSS  ==========================================  */
#FluxRSS_Def_Ctn1{width: 275px;}
/* onglet */
#FluxRSS_Def_Ctn1 #FluxRSS_Aide{width: 124px; height: 23px; overflow: hidden; background: $$RSS_ONGLET$$;}
#FluxRSS_Def_Ctn1 #FluxRSS_Aide p{text-align: center; color: #fff; font-weight: bold; padding: 5px 0 0 0; margin: 0 0 -1px 0;}
/* conteneur txt */
#FluxRSS_Def_Ctn1 #FluxRSS_Def_Ctn2{background: #f2f2f2; border: 1px solid #e6e6e6;}
#FluxRSS_Def_Ctn1 #FluxRSS_Def_Ctn2 #FluxRSS_Def{border: 1px solid #fff; padding: 25px 15px;}
/* txt */
#FluxRSS_Def h4{font-size: 14px;}
#FluxRSS_Def p{text-align: justify;}
#FluxRSS_Def p.sep{overflow: hidden; border-top: 1px solid #d9d9d9; border-bottom: 1px solid #fafafa; margin: 20px 0;}
#FluxRSS_Def a{display: block; margin: 2px 0;}
#FluxRSS_Def a:hover{}
/* liens agregateurs */
#FluxRSS_Def a.agregateur{padding: 2px 0 2px 70px;}
#FluxRSS_Def a.netvibes{background: $$RSS_NETVIBES$$;}
#FluxRSS_Def a.igoogle{background: $$RSS_IGOOGLE$$;}
#FluxRSS_Def a.monyahoo{background: $$RSS_MONYAHOO$$;}
#FluxRSS_Def a.wikio{display: none; background: $$RSS_WIKIO$$;}
/* liens lecteurs */
#FluxRSS_Def a.navigateur{padding: 2px 0 2px 25px;}
#FluxRSS_Def a.ie7{background: $$RSS_IE7$$;}
#FluxRSS_Def a.firefox{background: $$RSS_FIREFOX$$;}
#FluxRSS_Def a.safari{background: $$RSS_SAFARI$$;}
#FluxRSS_Def a.opera{background: $$RSS_OPERA$$;}
/**/
#FluxRSS_Def .si_nav{margin: 15px 0 0 0;}
#FluxRSS_Def .lien_xml{background: $$RSS_XML$$; padding: 0 0 0 55px;}






