$$REM$$
====================================================================

//// <summary>Fichier css par défaut pour : /slagence_X_V2/sms_sp.htm</summary>
//// <remarks>
//// <para>Le contenu a été repris de la version 1</para>
//// </remarks>
//// <update date="2008-01-10" author="lisbonne.siriphol">Création v2</update>

====================================================================
$$END$$
*{font-family:Arial, Verdana, Helvetica, sans-serif; font-size: 12px; color: #000; margin:0; padding: 0; border: none;}
#SMS_SP{width: 550px;}
#SMS_SP #Header{padding: 5px 10px; background: url($$-$$images/sms_sp_bghead.gif) 0 0 repeat-x;}
#SMS_SP #Header h2{position: absolute; color: #fff; font-size: 2.2em; top: 16px; left: 180px;}
#SMS_SP #Ctn{background: #f3f3f3; padding: 10px 20px;}
#SMS_SP #Ctn p{text-align: justify; padding: 0 0 10px 0;}
#SMS_SP #Ctn p.note{font-size: 10px;}
#SMS_SP #Ctn span.audiotel{font-size: 1.4em; font-weight: bold; color: #91262a;}
