// VAR COLORS
$color-body:#f0f0f0;
$color-content:#1a1a1a;
$color-block:#e3e3e3;
$color-primary:#00044b;
$color-secondary:#000249;
$color-action:#970000;
$color-important:#970000;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#000249;