body {
	@if $bg-uni == yes {
		background-color:$color-body;
	} @else {
		background-color:$color-primary;
	}
}
.bg-picture {
background-position: center center;
}
// PICTURE CONTAINER
.size-picture-container {
	height:$height-container+px;
}
// NAVIGATION
.navigation {
	background:$color-primary;
}
.navigation .logo {
	line-height:$height-navigation+px;
}
.menu-principal > li {
	margin-left:1px;
}
.menu-principal {
	height:$height-navigation+px;
	text-align:center;
	// REDEFINE SIZE
	font-size:$font-size-title * 0.6;
	font-weight:$weight-title;
}
.menu-principal > li > a {
	height:$height-navigation+px;
	@extend .font-title;
	display: table-cell;
	vertical-align: middle;
	color:$color-nav-footer;
	text-transform:$type-title;
	padding-right:10px;
	padding-left:10px;
}
.menu-principal > li > a.menu-sub-on {
	background:$color-action;
	@include lightnessColor($color-action,no);
}
.menu-sub a:hover {
	color:inherit;
}

// MOTEUR
.moteur-avantage {
	background:$color-block;
	@include lightnessColor($color-block,no);
	padding:25px;
}
// BLOC AGENCE
.image-agence {
	background-repeat:no-repeat;
	background-position:center;
	background-image:url('../images/agence.jpg');
}
// INDEX
.social-index {
  height:96px;
  width:96px;
  padding: 28px 0;
  &:hover {
  background:$color-action;
  }
}
.social-index .icon-v5-facebook-2, .social-index .icon-v5-twitter-2, .social-index .icon-v5-googleplus-2 {
  text-decoration:none;
  color:#fff;
}

.bloc-top-alerte-email, .bouton-selection-annonces , .h2-title-moteur {
background-color: $color-block;
@include lightnessColor($color-block,no);
padding:10px;
}

.recherche-selection-top .arrow-down-right {
display:none;
}

// FOOTER
footer {
 color:$color-nav-footer;
}
.nav-footer, .nav-footer-titre {
 color:$color-nav-footer;
}
.nav-footer >li  > a {
 padding:8px 0 8px 8px;
}
.texte-footer {
 @include opacity(0.7);
}
.nav-footer >li  > a, .social-ico-footer > a, a.btn-responsive{
 color:$color-nav-footer;
 @include opacity(0.7);
 &:hover {
  @include opacity(1);
  text-decoration:none;
 }
}
// END NAV FOOTER