/* -------- Classes standards -------  */

body { 	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
    color:#dbb514;
	background-color:#000000;	
	margin: 0px;
	padding: 0px;	
}
td{
	font-size: 12px;
	color:#FFFFFF;
}

a { 	
	font-size: 12px;
	color:#dbb514;
	text-decoration: none;
	
}

a:hover {
	font-size: 12px;
	color:#8f760d;
	text-decoration:none;
}

.RefMarque {
		font-size: 11px;
		color: #ababab;
		}
		
.RefMarque a {
		color: #ababab;
		text-decoration: none;
		}
		
.RefMarque a:hover {
		color: #ebab00;
		text-decoration: underline;
		}
#Outils{
		margin-left:50px;
		width:350px;
		}
#Txt{
		font-size:12px;
		color:#ccc;
		text-align:justify;
		padding-right:4px;
		}
#Txt h4{
		color:#dbb514;
		}
#Outils a{
		background-image:url(../images/puce-off.gif);
		background-repeat:no-repeat;
		font-size: 12px;
		color: #dbb514;
		text-decoration:none;
		padding-left:10px;
		line-height:20px;
		background-position:0px 5px;
		}

#Outils a:hover{
		background-image:url(../images/puce-on.gif);
		background-repeat:no-repeat; 
		font-size: 12px;
		color: #FFFFFF;
		text-decoration:none;
		padding-left:10px;
		line-height:20px;
				}
#Plan a{
		background-image:url(../images/puce-off.gif);
		background-repeat:no-repeat;
		font-size: 12px;
		color: #dbb514;
		text-decoration:none;
		padding-left:10px;
		line-height:20px;
		background-position:0px 5px;
		}
#Plan a:hover{
		background-image:url(../images/puce-on.gif);
		background-repeat:no-repeat; 
		font-size: 12px;
		color: #FFFFFF;
		text-decoration:none;
		padding-left:10px;
		line-height:20px;
				}
.TabGenerale {
		border:2px solid #dbb514;		
}
.ZoneGauche{
		background-image:url(../images/fond_gauche.jpg);		
		background-repeat:no-repeat;
		background-position:top;
		background-color:#151515;
}
.TabAccueil{
		background-image:url(../images/fond_accueil.jpg);		
		background-repeat:no-repeat;
		background-position:top right;
		background-color:#000000;
		border-top:2px solid #dbb514;

}
.TabAccueil img{
		margin-left:44px;
		margin-top:6px;
}
.ZoneNav{
		border-top:2px solid #dbb514;
		padding-top:15px;
		padding-left:12px;

}

.TxtGestion p{
		padding-right:10px;
		text-align:justify;
		line-height:20px;
		color: #ccc;
}
.TxtSyndic p{
		padding-right:10px;
		text-align:justify;
		line-height:20px;
		color: #ccc;
}

#Accueil{
		background: url(../images/gironde.jpg) top left no-repeat;
		padding: 30px 0 0 18px;
		font-size:10px;
		font-weight:bold;
		color:#7E7E7E;
		border-top:2px solid #dbb514;
}
#Accueil a {
		font-size:16px;
		color:#dbb514;
		text-decoration:none;
}
#Accueil a:hover {
		font-size:16px;
		color:#B7B7B7;
		text-decoration:none;
}
#Accueil span a{
		font-size:10px;
		color:#dbb514;
		text-decoration:none;
}

#Accueil span a:hover{
		font-size:10px;
		color:#B7B7B7;
		text-decoration:none;
}
#Accueil img{
		margin-right:7px;
}
.drapeau{
		margin-right:22px;
}
.Hautpage{
		padding-top:13px;
}



/* -------- lien realisation metions legales-------  */

#seloger{
    font-size: 11px;
	color:#dbb514;
	text-align:right;
	font-weight:bold;
	border-top:2px solid #dbb514; 
	padding-right:4px;
}

#seloger a{
	font-size: 11px;
	color:#dbb514;
	text-decoration:none;
	font-weight:bold;
}

#seloger a:hover{
	font-size: 11px;
	color:#B7B7B7;	
	text-decoration:none;	
}

#liensbas{
    font-size: 10px;
	color:#dbb514;
	text-align:center;
	font-weight:bold;
	border-top:2px solid #dbb514; 
	padding-right:0;
}
#liensbas a{
	font-size: 10px;
	color:#dbb514;
	text-decoration:none;
	font-weight:bold;
}

#liensbas a:hover{
	font-size: 10px;
	color:#B7B7B7;	
	text-decoration:none;	
}

#TxtAccueil  {
	position:absolute;
	color:#dbb514;
	left:325px;
	top:57px;
	width:400px;
	height:147px;
	z-index:1;
	
	}
.page {
	position:relative;
	width:100%;
	}


#TxtAccueil P {
	font-weight:bold;
	text-align:center;
	color:#dbb514;
	}

#TxtAccueil  .normal{
	font-weight:normal;

	}


#TxtAccueil a {
	font-size: 11px;
	font-weight:normal;
	text-decoration: none;
	}

#TxtAccueil a:hover {
	font-size: 11px;
	color:#ffffff;
	text-decoration: none;
	}	





/* -------- Annonces villes-------  */

#Villes td {
		font-weight: normal;
		font-family: Verdana, Arial, sans-serif;
		font-size: 11px;
		color: #666666;
		text-align: left;
		padding-top:10px;
		}
		
#Villes a {
		font-family: Verdana, Arial, sans-serif;
		font-size: 11px;
		color: #666666;
		text-decoration: none;
		font-weight: normal;
		}
			
		
#Villes a:hover {
		font-size: 11px;
		color: #dbb514;
		font-weight: normal;
		text-decoration: underline;
		}


/*TABLEAUX*/

.tabFond1{border-color: #dbb514; border-width:0; border-style:solid; padding:2px; font-family:Verdana, Arial, Helvetica, sans-serif; color:#ffffff;}
.tabFond2{border-color: #dbb514; border-width:1px; border-style:solid; padding:2px; font-size:12px; font-family:Verdana, Arial, Helvetica, sans-serif;  color:#ffffff;}
.tabTitre{padding: 5px 0 3px 42px; background: url(../images/picto-tabtitre.gif) 0 6px no-repeat; border-bottom: 1px solid #dbb514; color: #dbb514; font-size: 12px; font-weight: bold;}
.tabCouleur{background-color: #525252; border-color:#dbb514; border-width:1px; border-style:solid; padding:2px; color: #ffffff ;}
.tabFond3 {border-color:#dbb514; background-color:#FFFFFF; border-width:1px; border-style:solid; padding:2px; font-size:12px; font-family:Verdana, Arial, Helvetica, sans-serif;  color:#000000;}

/*-- classes recherche.htm --*/
/* boite recherche */
#table100 table#legende table#boitephraserecherche{background: #000; border: 1px solid #8f760d;}
#table100 table#legende table#boitephraserecherche td.tabTitre{background: url(../images/fond-tabtitre.jpg) repeat-x #9f7901; padding: 3px 10px; font-size: 12px; color: #000; margin: 0; text-align: left; border: none;}
#table100 table#legende table#boitephraserecherche td.tabTitre b{color: #000;}
#table100 table#legende table#boitephraserecherche td.selection{background: #000; font-size: 14px; font-weight: bold; color: #dbb514; padding: 3px 10px; margin: 0;}
#table100 table#legende table#boitephraserecherche td.selection b{color: #dbb514;}
/* boite tri */
#table100 table#legende table#boitetri{background: #000; border: 1px solid #8f760d;}
#table100 table#legende table#boitetri td.tabTitre{background: url(../images/fond-tabtitre.jpg) repeat-x #9f7901; padding: 3px 10px; font-size: 12px; color: #000; margin: 0; text-align: left; border: none;}
#table100 table#legende table#boitetri td.tabTitre b{color: #000;}
#table100 table#legende table#boitetri td.soustitre{background: #000; font-size: 14px; font-weight: bold; color: #dbb514; padding: 3px 10px;}
#table100 table#legende table#boitetri td.soustitre a{color: #dbb514;}
#table100 table#legende table#boitetri td.soustitre a:hover{color: #8f760d;}
#table100 table#legende table#boitetri td.soustitre img{margin: 5px 0 0 0;}
/* boite legende */
#table100 table#legende table#boitelegende{background: #000; border: 1px solid #8f760d;}
#table100 table#legende table#boitelegende td.tabTitre{background: url(../images/fond-tabtitre.jpg) repeat-x #9f7901; padding: 3px 10px; font-size: 12px; color: #000; margin: 0; text-align: left; border: none;}
#table100 table#legende table#boitelegende td.soustitre{}
/* alerte mail */
#table100 table#boitepubalerte1{}
#table100 table#boitepubalerte1 td a{color: #dbb514;}
#table100 table#boitepubalerte1 td a:hover{color:#8f760d;}
#table100 table#boitepubalerte1 td b{}
#table100 table#boitepubalerte1 td h3{margin: 0 0 12px 0;}
#table100 table#boitepubalerte1 td img{}
/* boite annonce */
#table100 table.tabFond2 {border: 1px solid #8f760d; background: url(../images/fond-annonce.jpg) repeat-x #2d2d2d;}
#table100 table.tabFond2 td.tabTitre{background: url(../images/fond-tabtitre-annonce.jpg) repeat-x #b08f00; font-size: 12px; color: #000; padding: 2px 5px; margin: 0; border-bottom: 1px solid #dbb514;}
#table100 table.tabFond2 td.tabTitre b,
#table100 table.tabFond2 td.tabTitre i,
#table100 table.tabFond2 td.tabTitre p,
#table100 table.tabFond2 td.tabTitre font
{color: #000;}
#table100 table.tabFond2 td a{color: #dbb514;}
#table100 table.tabFond2 td a:hover{color: #8f760d;}
/* lien visite virtuelle */
#table100 table.tabFond2 td a.bt{display: block;}


.tabFond3 td{color:#000;}
.FondPrint{background:#000; 	margin-left:8px;}
.tabFond3 td{
	color:#000000;
}
.tabFond3 a:hover{
	color:#FFFFFF;
	text-decoration:none;
}
.Cartevisite{
	font-size:11px;
	color:#FFFFFF;
	background-color:#525252;
	border:14px solid #292929;
	padding-left:10px; 
	padding-bottom:8px;
    padding-top:8px;
}
.Cartevisite img{
	margin-right:10px;
}
.Cartevisite td{
	font-size:11px;
	color:#FFFFFF;
}
.Cartevisite span{
	font-size:11px;
	color: #AAAAAA;
	font-weight:bold;
}

.titreCarteVisite {
	font-size: 12px;
}

.AnnonceCartevisite{
	background-color:#525252;
	border:14px solid #292929;
	border-top:none;
	padding-left:10px; 
	padding-bottom:8px;
	font-size:11px;
	color:#FFFFFF;
}
.TabElementAgence{
    font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#AAAAAA;
	background-color:#292929;
	padding-left:8px;
	padding-top:6px;
	padding-right:7px;
	padding-bottom:6px;
	text-align:justify;	
}
.TabElementAgence img{
    border:1px solid #dbb514;
	background-color:#292929;
	margin:6px;
	margin-top:4px;
}
.TitreAgence{
	background-image:url(../images/pixel_agence.jpg);
	background-repeat:no-repeat;
	background-position:8px 22px;

	}

.ToutesNosAnnonce{
	font-size:11px;
	color: #AAAAAA;
	font-weight:bold;
	padding-left:10px;
	background-image:url(../images/pixel_annonce.jpg);
	background-repeat:no-repeat;
	background-color:#525252;
	background-position:10px 18px;
	border-left:14px solid #292929;
	border-right:14px solid #292929;
	}


/* CLASSES MISE EN PAGE GUIDE PRATIQUE */

.txtTitre3 {
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color:#dbb514;
}

.gras {
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #CACACA;
}

.encadre {
	background-color: #545454;
	border-color: #dbb514;
	border-width:1px;
	border-style:solid;
	padding:2px;
	color:#000000;
}	

.liste_agences_info {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#FFFFFF;

}
.liste_agences_nom {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#CCCCCC;

}

.Txtgeneral {
	color: #ccc;
}


/* 01.12.2009 par Lisbonne > liste-agences-immobilieres.htm */
#ListeAgencesImmobilieres{margin: 0 15px 30px 0;}
#ListeAgencesImmobilieres .cadreAgence{border: 1px solid #555;}
#ListeAgencesImmobilieres .cadreAgence .coordsAgence h2{font-size: 16px; color: #dbb514;}
#ListeAgencesImmobilieres .cadreAgence .img_Ctn{background: url(../images/sans_photo_c21.jpg) 50% 50% no-repeat #000;}
#ListeAgencesImmobilieres .cadreAgence .img_Ctn .photoAgence{border: 3px solid #444;}
/**/
#ListeAgencesImmobilieres .links{background: #dbb514;}
#ListeAgencesImmobilieres .links .links_Ctn{border-left: 1px solid #fff;}
#ListeAgencesImmobilieres .links .links_Ctn *{color: #000;}
#ListeAgencesImmobilieres .links .links_Ctn a{border-right: 1px solid #fff; border-left: 1px solid #a98201;}
#ListeAgencesImmobilieres .links .links_Ctn a:hover{background: #a98201;}
#ListeAgencesImmobilieres .links .links_Ctn a.plus{}
#ListeAgencesImmobilieres .links .links_Ctn a.message{}
