/* =================== */
.TotalAnnonce {
	text-align: left; 
	padding-top: 0px;
	margin-left: 0px;
	width:auto;
	width: 100%;
	
}
.TitreAnnonce {  
	text-align: left; 
}
.BoiteAnnonce {
	border: solid 1px #999900;
	width: 100%
}
/* Ligne Titre Annonce */
.LigneTitreAnnonce {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
.DetailBack{
	text-align: left;
	margin: 10px 0;
}
.DetailBack a{
	display: block;
	background: #999900;
	border: solid 1px #fff;
	width: 60px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-style: italic;
}
.DetailBack a:hover{
	
	background: #fff;
	border: solid 1px #999900;
	color: #999900;
	
}
.DetailPhoto {
	vertical-align: middle;
	align: center;
	text-align: center;	
	font-style: italic;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 5px;
}
.DetailPhotoGdformat{
	display: none;
}
img.DetailPhotoGdformat {
	border: #999900 solid 1px;
}
.DetailPhotoPtformat table {
	margin: 0 auto;
}
.DetailPhotoPtformat img{
	border: #999900 solid 1px;
}
.DetailExclusif {
	font-weight: bold;
	font-size: 14px;
	font-style: italic;
	color: #D4000E;
}
.DetailDescriptif {
	padding: 5px;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
}
.InfosAnnonce, .InfosAnnonceVac {
	vertical-align: bottom;
	display: block;
	background-repeat: no-repeat;
	background-position: 7px 0px;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 0px;
	margin-top: 5px;
	margin-bottom: 0px;
	text-align: left;
}

.DetailAgence {
	display: block;
	background-repeat: no-repeat;
	background-position: 7px 0px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	margin-top: 10px;
}

.DetailImprimer {
	display: block;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: center;
	width: 300px;
	margin:0 auto;
	border-bottom:1px solid #999900;
	border-top:1px solid #999900;
}

.DetailImprimer a,.DetailFormulaireLib{
	font-size: 18px;
	font-style: italic;
}


.DetailFormulaire{
	margin-top: 20px;
	width: 100%;
}

.DetailFormulaireLib {
	display: block;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: center;
	width: 500px;
	margin:0 auto;
	border-bottom:1px solid #999900;
	border-top:1px solid #999900;
}


.DetailFormulaireForm {
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
	margin-bottom: 5px;
	display: block;

}
.DetailFormulaireForm span{
	display: none;
}
.DetailLibelle {
	width: 33%;	
	font-size: 18px;
	font-style: normal;
	text-indent : 3px;
	text-align: left;
	font-weight: bold;
	padding-left: 5px;
	float: left;
	font-style: italic;
}

.DetailLibelle span {	
	font-size: 14px;
	font-style: normal;
	text-indent : 3px;
	text-align: left;
	font-weight: bold;
	font-style: italic;
}

.DetailRefAnnonce{
	width: 34%;
	text-align: center;
	float: left;
	color: #999900;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
}
.DetailPrix {
	width: 30%;
	float: right;
	font-size: 18px;
	text-align: right;
}

.DetailLibelleetPrix {
	background: none;
	color: #fff;
	font-style: italic;
	font-weight: bold;
}

.DetailPrixFranc{
	display: none;
	visibility: hidden;
}

.DetailHonoraires {
	display: block;
	background-repeat: no-repeat;
	background-position: 5px 2px;
	background-color: #E0E8F5;
	border-color: #999900;
	border-style: dashed;
	border-width: 1px;
	color: #526A8E;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	display: block;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: right;
}

.DetailTelephone {
	display: block;
	background-repeat: no-repeat;
	background-position: 5px 2px;
	background-color: #E0E8F5;
	border-color: #999900;
	border-style: dashed;
	border-width: 1px;
	color: #526A8E;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: right;
}
.DetailTelephone * {
	font-style: inherit !important;
	font-weight: inherit !important;
}

.DetailSurface {
	margin-top: 4px;
	margin-left: 5px;
	float: left;
	font-style: italic;
	display: none;
}


.DetailProx {
	display: block;
}

.DetailProximite img {
	display: none;
}

.DetailDtFraicheur{
	display: none;
	visibility: hidden;
}
.DetailFraicheur{
	display: none;
}

.DetailRefAnnonceLib, .DetailFraicheurLib {
	display: inline;
	color: #999900;	
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
}

/*
.DetailSituation {
	display:none;
	visibility: visible;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
}*/

.DetailSituation {	
	font-weight: bold;
	display: none;
	visibility: visible;	
	
}

/*.DetailSituationProximite {
	padding-top: 5px;
	font-weight: bold;
	display: inline;
	visibility: visible;	
}*/

.DetailSituationCp {
	display: none;	
}

.DetailSituation span {
	display: none;	
}

div.DetailRefAnnonce  {

	}

.DetailInfoComplementaire{
	display: none;
	margin-top: 10px;
	border:1px solid #999900;
	vertical-align:top;
  width:600px;
  margin:0 auto;
	padding:0;
}

.DetailInfoTitre{
	display:block;
	background:none;
	border-bottom: solid 1px #999900;
	padding: 5px;
	color:#FFF;
	font-weight: bold;
	width:100%;
	margin:0;
}

.DetailInfoComplementaire li{
	margin:0;
	padding-bottom:2px;
	display: block;
	width:100%
}

/* =============== mise en page tableaux boiteneuf =============== */
.DetailBoiteNeuf {
  color: #5d5c5c;
	font-weight: normal;
	margin-top: 10px;
}

.DetailBoiteNeuf table {
	
}

.DetailBoiteNeufAppartement {
	border: 1px solid #999900;
}

table.DetailBoiteNeufAppartement {
	border: 0;
}

.DetailBoiteNeufAppartement td {
	border: 1px solid #999900;
	text-align: center;
}

.DetailBoiteNeufMaison {
	border: 1px solid #999900;
}

table.DetailBoiteNeufMaison {
	border: 0;
}

.DetailBoiteNeufMaison td {
	border: 1px solid #999900;
	text-align: center;
}

td.Duplex {
	color: #999900;
	border: 0;
	padding-bottom: 25px;
	font-weight: bold;
	text-align: left;
}

.ProximiteNeuf {
	border: 0;
	color: #5d5c5c;
	background-color: #eee;
}

a.BoutonDetailProgramme {
  color: #fff;
	display: block;
	background-color: #999900;
	text-decoration: none;
	text-align: center;
	width: 225px;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-bottom: 10px;
}

a.BoutonDetailProgramme:hover {
  color: #999900;
  background-color: #eee;
  text-decoration: none;
}

.tabTitre {
  background: #999900;
  color: #fff;
}

.soustitre {
	background-color: #fff;
	color: #999900;
}

.RechercheStockTotal {
  color: #5d5c5c;
	font-weight: normal;
}
/* =============== fin mise en page tableaux boiteneuf =============== */

.Mentions{clear:both;}

#formdetail{
width: 100%;

}
#formdetail td{
font-weight: bold;
font-style: italic;
font-size: 14px;
}
#formdetail .Coord, #formdetail .Precisions{
font-size: 16px;
font-style: italic;
font-weight: bold;
text-decoration: underline;
text-align: center;
}
#formdetail .btn input{
  color: #fff;
  border: solid 1px #fff;
	background-color: #999900;
	cursor: pointer;
	font-style: italic;
	font-family: "Times New Roman", Times, serif; 
	height: 25px;
}

/* ============================== Diagnostic de performance énergétique ============================== */ 
#Dpe{width: 100%;} 
#Dpe h6{color: $$TXT_TITRE_RUBRIQUE$$; padding: 5px 0;} 
/* affichage diagramme consommation energetiques */ 
#Dpe td#ConsoEnergie{padding: 0 1% 0 0; width: 50%;} 
#Dpe td#ConsoEnergie #DiagConso{background: url(/z/webagency/slagence_X_V2/detail/img_general/diag_dpe_hab.png) 15px 13px no-repeat #fff;} 
#Dpe td#ConsoEnergie #DiagConsoPro{background: url(/z/webagency/slagence_X_V2/detail/img_general/diag_dpe_loccom.png) 15px 13px no-repeat #fff;} 
/* affichage diagramme émissions de gaz à effet de serre */ 
#Dpe td#EmissionGES{padding: 0 0 0 1%; width: 48%;} 
#Dpe td#EmissionGES #DiagGES{background: url(/z/webagency/slagence_X_V2/detail/img_general/diag_ges_hab.png) 15px 13px no-repeat #fff;} 
#Dpe td#EmissionGES #DiagGESPro{background: url(/z/webagency/slagence_X_V2/detail/img_general/diag_ges_loccom.png) 15px 13px no-repeat #fff;} 
/* styles communs aux 2 diagrammes */ 
#Dpe .diagramme{position: relative; background: #fff; border: 1px solid #eee;} 
/* conteneur lettre bilan Conso */ 
#Dpe .diagramme .diagLettre{position: absolute; color:#fff; font-size: 16px; left: 210px; width:45px; height:20px; text-align: center; background: 
url(/z/webagency/slagence_X_V2/detail/img_general/diag-fleche.gif) 0 0 no-repeat;} 
/* positionnement lettre bilan Conso */ 
#Dpe .diagramme .diagA{top:25px} 
#Dpe .diagramme .diagB{top:48px} 
#Dpe .diagramme .diagC{top:70px} 
#Dpe .diagramme .diagD{top:94px} 
#Dpe .diagramme .diagE{top:117px} 
#Dpe .diagramme .diagF{top:140px} 
#Dpe .diagramme .diagG{top:163px} 
#Dpe .diagramme .diagH{top:192px} 
#Dpe .diagramme .diagI{top:214px} 
/* textes bas diagramme logements */ 
#Dpe .diagramme .bilanConso{padding: 15px 15px 0 15px;} 
#Dpe .diagramme .bilanConso .conso{font-weight: bold; font-size: 16px; color: #000;} 
#Dpe .diagramme .bilanConso .notes{font-size:10px; text-align: justify; color: #999; padding: 0 0 10px 0;} 
/* textes bas diagramme locaux commerciaux */ 
#Dpe .diagramme .bilanConsoPro{padding: 15px 15px 0 15px;} 
#Dpe .diagramme .bilanConsoPro .conso{font-weight: bold; font-size: 16px; color: #000;} 
#Dpe .diagramme .bilanConsoPro .notes{font-size:10px; text-align: justify; color: #999; padding: 0 0 10px 0;} 



#DetailPhotoPtformat{
	position: relative;
	height: 300px;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
#DetailPhotoPtformat img{max-height: 300px; width: auto;}
.slide{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;

	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.showing{
	opacity: 1;
	z-index: 2;
}


.small.honoraires { display: none; }