// VAR COLORS
$color-body:#FFF;
$color-content:#fff;
$color-block:#e3e4e5;
$color-primary:#FFF;
$color-secondary:#00a6b9;
$color-action:#00a5b9;
$color-important:#004597;
$color-nav-footer:#00a5b9;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#004597;

// COLOR SOUS MENU
$color-sous-menu:$color-primary;