/* $$DYN:ID3:NOFOOTER$$ */
.BoiteMiniMoteur { width: 250px; margin: 0 auto; }

#BoiteMiniMoteur select { background: #fff; border: 1px solid #001c4c; color: #001c4c; width: 250px; margin-bottom: 10px; }
.BoiteMiniMoteur div, .BoiteMiniMoteur span { color:#01303c; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; padding-bottom: 8px; }
.MiniDiv { padding: 2px 0; text-align: center !important; }
.MiniDiv p.MiniTitre{ width: 250px; color: #001c4c; margin: 2px 0; text-align: left; font-weight: bold; }
.MiniSelect{ width: 250px; border: 1px solid #001c4c; color: #001c4c; font-size: 11px; }
.MiniDivChampText { width: 250px; text-align: left; }
.MiniDivChampText .MiniInputTxt { display: none; }
.MiniDiv input#MiniBoutonInput { margin-left: 105px; padding-top: 10px; }

.BoiteMiniMoteur div, .BoiteMiniMoteur span { padding-bottom: 0; }

#MiniInputSurfaceTerrainMin, #MiniInputSurfaceTerrainMax { width:100px;background:#FFFFFF ;border:1px solid #001C4C;color:#001C4C; height:15px;font-size:11px; }

