<!--#include virtual="styles/all_global_macros.htm" -->

#wrap { width: 100%; background: url($$_$$images/bg_body.gif) repeat-x; }

#wrapper1  { position: relative; width: 1007px; margin: 0 auto; text-align: left; }
.bg-mn { background: url($$_$$images/bg_mn.gif) repeat-x; height: 45px; position: absolute; top: 24px; right: 4px; width: 738px; }

#wrapgauche { background: url($$_$$images/bg_gch.gif) repeat; }
#wrapgauchebc {display:block; float:left;  width:230px; height:105px; background: #fff; margin-left:20px; margin-right:20px;  }




#menu { z-index: 999; }
#menu li a { font-size: 15px; color: #705d2f; font-weight: bold; text-transform: uppercase; font-family: 'Helvetica', Arial, Helvetica, sans-serif; padding: 7px 6px 12px 6px; }
#menu li a:hover { background: #000; }

#flash { height: 378px; overflow: hidden; }

#MiniBouton { padding: 17px 0 5px!important;}

#Moteur .moteurTable ul li { background: #a9b1b9; }

.miniTitre, .miniDivSelect label { color: #424242;}

.mobile { background: url($$_$$images/bg_bloc.gif) repeat-y; color: #fff; }

.txt-mobile .link-portable { color: #fff; }

.adresse { text-align: center; color: #bdbdbd; font-size: 11px; background: url($$_$$images/bg_coords.gif) repeat-x; line-height: 49px; height: 49px; }
.adresse strong { font-weight: normal; color: #bdae4f; font-size: 11px; }
.footer .adresse { margin-top: 15px; color: #bdbdbd; }

.col1 h6 { display: none; }
.col2 h3 { text-decoration: none; }
.col1 a { font-size: 11px; color: #91969c; }
.col3 .portefeuilleVilles h3 { color: #91969c; font-weight: normal; margin: 0; padding: 0; display:  inline; font-size: 11px; }
.col3 .portefeuilleVilles, .col3 .portefeuilleVilles a { font-size: 11px; color: #91969c; }

.col1 strong, .footer .col3 .menufoot, .footer .col3 .menufoot * { color: #bdae4f; }
.col1 ul { margin: 0; padding: 0; list-style-type: none; color: #91969c; }
.col2 a { display: block;  color: #91969c!important; }
.col2 a.rss { background: url($$_$$images/picto_rss.png) no-repeat; padding-left: 25px; line-height: 21px; display: block; color: #91969c; }

.blocAnnonce, #Annonce_Ctn td#ColonneGauche, #Annonce_Ctn td#ColonneDroite { background: none; }
#Annonce_Ctn td#ColonneGauche { border: none; }
.contactAnn { background: #1e2833; }
.contactAnn .tel, #RechPagesHaut .rechLiensPages a.actif, #RechPagesBas .rechLiensPages a.actif, #RechPagesHaut .rechLiensPages a:hover, #RechPagesBas .rechLiensPages a:hover, #RechPagesHaut .rechLiensPages a:hover span, #RechPagesBas .rechLiensPages a:hover span, td.col1, td.memoriser { color: #fff; }

#AgImmoDroite .AgImmoContact a, #AgImmoDroite .AgImmoEstimation a { background: #4f81bc; color: #fff; }

#boite_selection .selectionIndex { padding: 7px 0 27px 4px; }
.footer .col1, .footer .col2, .footer .col3 { height: auto; }

/* fix cédric */

#FluxDef {background-color: #4d7db7;background-position: top right;}
#FluxAide h4 {color:#BDAE4F;}
#FluxDef strong , #FluxDef p {color: #fff;}
#FluxRSS #FluxDef a {color:#BDAE4F;}
 
.blocAnn {background: #fff;}
#bloc_annonces{background: #fff;padding: 10px;border: 1px solid black;}
#FormContactAgence td.col1 {color: #000;}

.content_pud_annonce {width: 200px;}
#bloc_annonces {width: 400px;}

#edito {
    background: url("/z/webagency/A_Nexi/objectif06_31347/images/pix.png") repeat scroll 0 0 transparent;
    color: #FFFFFF;
    padding: 10px;
    position: absolute;
    right: 25px;
    top: 25px;
    width: 205px;
}

#edito p {
    color: #FFFFFF;
    font-size: 11px;
    padding: 2px 0 5px;
    text-align: justify;
}