// VAR COLORS
$color-body:#e2e2e2;
$color-content:#184098;
$color-block:#f4f4f4;
$color-primary:#f4f4f4;
$color-secondary:#173f97;
$color-action:#00aee5;
$color-important:#173f97;
$color-nav-footer:#393c3d;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#393c3d;