// VAR COLORS
$color-body:#FFF;
$color-content:#1a1a1a;
$color-block:#fcf9f7;
$color-primary:#eb6909;
$color-secondary:#000;
$color-action:#f26b0a;
$color-important:#000;
$color-nav-footer:#000;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;