// VAR COLORS
$color-body:#eee;
$color-content:#f3f3f3;
$color-block:#fff;
$color-primary:#fff;
$color-secondary:#08579a;
$color-action:#5d8c42;
$color-important:#08579a;
$color-nav-footer:#5d8c42;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#7a7a7a;