// VARIABLES COLORS
$color-body:#fff;
$color-content:#fff;
$color-block:#eee;
$color-primary:#201500;
$color-secondary:#140d00;
$color-action:#201500;
$color-important:#c70073;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"white-opacity";

// COLOR FONT BODY DEFAULT
$color-font-body:#201500;

$color-rose:#c70073;