// VARIABLES COLORS
$color-body:#000;
$color-content:#89744d;
$color-block:#2a2a2a;
$color-primary:#d30072;
$color-secondary:#333;
$color-action:#ffffff;
$color-important:#d30072;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#c5c5c5;