// VAR COLORS
$color-body:#dcdcdc;
$color-content:#1a1a1a;
$color-block:#f1f1f1;
$color-primary:#1f0b03;
$color-secondary:#1f0b03;
$color-action:#2a211b;
$color-important:#e74a20;
$color-nav-footer:#ffffff;

$color-black:#000;
$color-grey:#333;
$color-aside: #f8f4eb;
$color-aside2: #dac2b1;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#1f0b03;

