// VARIABLES COLORS
$color-body:#f1f1f1;
$color-content:#f1f1f1;
$color-block:#fff;
$color-primary:#fff;
$color-secondary:#013f8a;
$color-action:#0999d6;
$color-important:#013f8a;
$color-nav-footer:#013f8a;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#333;
