$$REM$$ /*====================================================================================
//// <summary>Mini moteur</summary>
//// <remarks>
//// <para>Fichier appelé par styles/incl_styles.htm</para>
//// <para>Méthode : 1) déclaration macros par défaut / 2) include fichier de macros mutualisé / 3) inlude fichier demacros démutualisé</para>
//// <para>Le fichier se stylise tout seul grâce aux macros, et possibilité de le customiser par commun.css</para>
//// <para>Liste des macros générales pour faciliter la customisation des sites</para>
//// <para>FICHIER À NE PAS DÉMUTUALISER, car les updates ne pourront pas s'appliquer aux sites qui le feront</para>
//// </remarks>
//// <update date="2010-10-12" author="lisbonne.siriphol">Création</update>
==================================================================================== */ $$END$$

$$REM$$ /* ============================================================================================
 //////////////////////////////////// MACROS CHEMIN DES REPERTOIRES ///////////////////////////////////
============================================================================================= */$$END$$
<!--#include virtual="styles/macros_path.htm" -->

$$REM$$ /* ===============================================================================================================
 /////////////////////////// MACROS PAR DEFAUT (modifiables dans votre styles/all_global_macros.htm)//////////////////////////
================================================================================================================ */$$END$$
$$REM$$ /* padding bas entre critères */ $$END$$									$$A:MINIMOTEUR_PADDING_CRITERES=6px 0$$
$$REM$$ /* largeur libellé critère */ $$END$$											$$A:MINIMOTEUR_LARGEUR_TITRE=160px$$
$$REM$$ /* largeur balises + div select */ $$END$$								$$A:MINIMOTEUR_LARGEUR_SELECT=220px$$
$$REM$$ /* largeur balises + div select */ $$END$$								$$A:MINIMOTEUR_LARGEUR_INPUT=173px$$
$$REM$$ /* largeur input min max */ $$END$$												$$A:MINIMOTEUR_WIDTH_INPUT_MIN_MAX=80px$$

$$REM$$ /* ============================================================================================
 ////////////////////////////////////// MACROS GENERALES PERSOS //////////////////////////////////////
============================================================================================= */$$END$$
<!--#include virtual="styles/macros_formulaire.htm" -->
<!--#include virtual="styles/all_global_macros.htm" -->


$$REM$$ /* ===================== mini moteur ===================== */$$END:REM$$
form#MiniMoteur_Form{}
/**/
#MiniMoteur_Ctn{}
/* --- div conteneur commun de tous les critères de recherche --- */
.miniDiv{padding: $$MINIMOTEUR_PADDING_CRITERES$$ !important;}
/* titre à gauche */
.miniTitre{float: left; width: $$MINIMOTEUR_LARGEUR_TITRE$$;}
/* critère à droite */
.miniDivSelect{float: right; width: $$MINIMOTEUR_LARGEUR_SELECT$$;}
/* balise label */
.miniDivSelect label{padding: 0 3px 0 0;}
/* balise select */
select.miniSelect{width: $$MINIMOTEUR_LARGEUR_SELECT$$; background: #fff; /* because bug IE affichage select */ border: $$INPUT_BORDER$$;}
/* balises input min et max */
input.miniInput{display: block; margin: 0 0 5px 0; width: $$MINIMOTEUR_LARGEUR_INPUT$$; border: $$INPUT_BORDER$$;}
input.miniInputMin{display: block; float: left; width: $$MINIMOTEUR_WIDTH_INPUT_MIN_MAX$$; border: $$INPUT_BORDER$$;}
input.miniInputMax{display: block; float: right; width: $$MINIMOTEUR_WIDTH_INPUT_MIN_MAX$$; border: $$INPUT_BORDER$$;}
/* balises label */
#MiniLabelPieces1,
#MiniLabelPieces2,
#MiniLabelPieces3,
#MiniLabelPieces4,
#MiniLabelPieces5{}
/* couleur textes mini moteur */
input.miniInput,
input.miniInputMin,
input.miniInputMax,
.miniDivSelect select,
.miniDivSelect select * {color: #666;} /* because bug IE affichage select */
/* --- critères recherche et leurs conteneurs un par un --- */

/* message d'attente */
.patientez{text-align: center;}
/* bouton validation */
#MiniBouton{text-align: right;}
#MiniBouton .boutonSubmit{cursor: pointer; border: none; width: $$MINIMOTEUR_LARGEUR_SELECT$$; font-size: 16px; font-weight: bold; padding: 3px 20px 5px 20px; *padding: 3px 20px; background: $$BOUTON_BG$$; color: $$BOUTON_TXT$$;}
