// VARIABLES COLORS
$color-body:#222;
$color-content:#f1f1f1;
$color-block:#fff;
$color-primary:#fff;
$color-secondary:#373737;
$color-action:#1f508b;
$color-important:#1f508b;
$color-nav-footer:#312783;
$color-autre:#ffed00;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#fff;