/*------CSS definitive--*/
body { margin: 0 auto 50px; padding:0; background: #a6a6a6; text-align:center; }
div,td { font-family: Arial, Helvetica, sans-serif; font-size:11px; color: #343434; }
img { border:none; display: inline; }
table  { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; }
a { text-decoration: none; color: #2f2f2f; }
a:hover { color: #d7159a; text-decoration: none; }
p { margin:10px 0;}

.clear1 { clear: left; }
.clear2 { clear: both; }
/*--------------------------------------------*/
#wrapper { position: relative; width: 990px; text-align: left; margin: 0 auto; background: #2a2a2a; }
.coords { position: absolute; top: 100px; right: 15px; color: #fff; }
#wrap { width: 970px; margin: 0 auto; background: #9b9b9b; }
#top-head { background: url(../images/bg_top.gif) repeat-x; height: 40px; }
#main-top { width: 943px; margin: 0 auto; }
.update { float: left; font-size: 10px; text-transform: uppercase; width: 140px; line-height: 28px; color: #787878; font-size: 10px; }
.sep { float: left; width: 26px; }
#mark { float: left; width: 565px; color: #787878; line-height: 28px; overflow:hidden; height:50px; }
.home { float: left; width: 70px; }
.home a { background: url(../images/pic_acc.gif) no-repeat 0 0; padding-left: 20px; height: 21px; display: block; line-height: 30px; font-size: 10px; color: #787878; text-transform: uppercase; }
.home a:hover { color: #d7159a; }
.nst { float: left; width: 90px; }
.nst a { background: url(../images/pic_nousituer.gif) no-repeat 0 0; padding-left: 20px; height: 20px; line-height: 28px; font-size: 10px; color: #787878; text-transform: uppercase; display: block; }
.nst a:hover { color: #d7159a; }

#main-logo { background: url(../images/fond_coords.gif) no-repeat; height: 84px; }
.logo { float: left; width: 273px; margin: 8px 0 0 8px; }
.ans { float: left; width: 383px; }
.ouverture { float: left; width: 230px; text-align: right; font-size: 12px; color: #fff; font-weight: bold; padding-top: 15px; }
.logo-fnaim { float: right; width: 53px; padding-top: 8px; padding-right: 5px; }

#menu { height: 40px; width: 970px; }
#menu ul { margin: 0; padding: 0; }
#menu li { float: left; list-style-type: none; }
#menu a { display: block; height: 40px; }
#menu a:hover { display: block; background-position: 0 -40px; }

#menu .mn1 { background: url(../images/menu_01.gif) no-repeat; width: 168px; }
#menu .mn2 { background: url(../images/menu_02.gif) no-repeat; width: 157px; }
#menu .mn3 { background: url(../images/menu_03.gif) no-repeat; width: 125px; }
#menu .mn4 { background: url(../images/menu_04.gif) no-repeat; width: 145px; }
#menu .mn5 { background: url(../images/menu_05.gif) no-repeat; width: 130px; }
#menu .mn6 { background: url(../images/menu_06.gif) no-repeat; width: 125px; }
#menu .mn7 { background: url(../images/menu_07.gif) no-repeat; width: 120px; }

#menu strong { display: none; }

#basmenu { background: url(../images/fond_basmenu.gif) no-repeat; height: 30px; }
#basmenu a:hover { color: #d7159a; }
.alertmail a { float: left; background: url(../images/pic_alertemail.gif) no-repeat 0 0; padding-left: 20px; height: 30px; line-height: 30px; margin-left: 5px; font-size: 10px; color: #858585; }
.envoyerami a { float: left; background: url(../images/pic_envoyerami.gif) no-repeat; padding-left: 25px; height: 30px; line-height: 30px; font-size: 10px; color: #858585; margin-left: 25px; }
.accueils a { float: right; background: url(../images/pic_maison.gif) no-repeat; padding-left: 25px; height: 30px; line-height: 30px; margin-right: 25px; color: #626262; font-weight: bold; }
.accueils a:hover { float: right; background: url(../images/pic_maison_over.gif) no-repeat; }
.pan a { float: left; background: url(../images/pic_panier.gif) no-repeat; padding-left: 25px; height: 30px; line-height: 30px; color: #858585; margin-left: 25px; }

#main-content { background: #989898; width: 970px; } 
#navigue { width: 940px; margin: 0 auto; padding: 25px 0; }

#content-index { background: url(../images/bg_content_reap.gif) repeat-y; }
#top-content { background: url(../images/bg_top_content.gif) no-repeat; }
#bot-content { background: url(../images/bg_bot_content.gif) bottom no-repeat; }
.minheight { float: left; width: 23px; height: 700px; }

#left { float: left; width: 462px; }
.pourkoi { margin: 26px 0 32px 0; }
.foto-cdc { float: left; background: url(../images/fond_cdc.gif) no-repeat; width: 223px; height: 130px; }
.foto-cdc img { padding: 6px 0 0 8px; }
.lib-cdc { float: left; width: 226px; line-height: 18px; }
.libellecdc a { background: url(../images/pic_cdc.gif) no-repeat; padding-left: 20px; height: 16px; line-height: 16px; font-size: 12px;color: #fff; font-weight: bold; }
.lib-cdc a { font-weight: bold; }
.desccdc { line-height: 16px; margin-bottom: 20px; }
.btn-cdc { text-align: right; padding-right: 20px; }

.ttl-agc { margin-top: 40px; }
#txt-acc { width: 447px; }
#portef { width: 436px; background: url(../images/reap_portef.gif) repeat; border: 1px solid #c9c9c9; }
#main-portef { background: url(../images/bg_portef.gif) repeat-x; }
#portofolio { width: 390px; margin: 0 auto; padding: 10px 0; }

#right { float: right; width: 461px; }
#mot2 { position: relative; background: url(../images/fond_moteur.gif) no-repeat #c2c2c2; width: 438px; border-bottom: 1px solid #c9c9c9; margin-top: 12px; }
#mot { width: 320px; margin: 0 auto; padding: 10px 0; }

#cartos { background: url(../images/bg_cartos.gif) no-repeat; height: 419px; margin-bottom: 15px; }

.search-ville { margin-top: 18px; }

#footer { background: url(../images/bg_footer.gif) no-repeat; width: 990px; height: 51px; margin: 0 auto; text-align: left; }
.url { float: left; line-height: 51px; color: #b7b7b7; font-weight: bold; padding-left: 23px; }
.links-foot { padding-right: 22px; line-height: 51px; float: right; color: #b6b6b6; font-size: 10px; color: #b7b7b7; }
.links-foot a { color: #b7b7b7; }
.links-foot a:hover { color: #d7159a; }
.links-foot strong { color: #253237; }

/*-----------------*/

/*guide*/
#MenuGuide { 
	text-align: left; 
}
#MenuGuide table { 
	margin: 0 auto; 
}
#MenuGuide a {
	font-weight: bold;
	color: #343434; 
	text-decoration: none; 
	line-height: 20px; 
}

#MenuGuide a:hover { 
	color: #d7159a; 
}

#MenuGuide td { 
	text-align: left; 
}

#PageDossiers table { 
	margin: 0 auto; 
	width: 100%; 
}

#PageDossiers p { 
	margin: 5px 0; 
}

#PageDossiers td { 
	padding: 2px 5px; 
}

.txtTitre3, .grasnews { 
	color: #d7159a; 
	font-weight: bold; 
	font-size: 13px; 
	text-align: left;
	font-variant: small-caps; 
}

.gras {
	padding: 2px 5px 2px;
	background: none;
	color: #d7159a;
	font-weight: bold;
}

.gras u { 
	text-decoration: none; 
}

.encadre {
	border: none;
	padding: 5px;
	background: #979797;
	line-height: 14px;
	border: 1px solid #fff;
}

.encadre table {
	width: 100%;
}

.encadre .gras {
	padding: 0;
	margin-bottom: 5px;
	background: none;
	color: #d7159a;
	line-height: 12px;
}

.encadre a { 
	color: #3a3939; 
}

.encadre a:hover { 
	color: #3a3939; 
}

.table_news strong { 
	color: #000; 
}

.table_news, .encadre table {
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-bottom: none;
	border-right: none;
	background: #979797;
}

.table_news td, .encadre td {
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	border-left: none;
	border-top: none;
	background: #979797;
	font-size: 10px;
	padding: 5px;
}
   
.table_news .gras {
	padding: 3px 5px;
	margin: 0;
	background: none;
	color: #d7159a;
	line-height: 12px;
}

	/*page formulaire*/
.tabFond1 { background: none; width: 940px; }
.tabFond1 td { padding: 2px 10px; }
.tabFond1 table { text-align: left; }
.tabTitre { font-size: 13px; height: 22px; color: #fff; margin: 0 0 10px 0; padding: 0; font-weight: bold; text-align: center; background: #323232; border-bottom: 1px solid #c4c4c4; }
.messageNomAgence, .estimationNomAgence, .proprietaireNomAgence { font-size: 18px; text-align: center; color: #d7159a; margin: 0; padding: 5px; font-weight: bold; display: block; }
.tabFond1 .Input { margin-bottom: 2px; }
#CguFormulaire { background: #2a2a2a; border: 1px solid #000; padding: 10px; text-align: left; color: #fff; }
#CguFormulaire a { color: #d7159a; text-decoration: underline; }
#CguFormulaire a:hover { color: #fff; text-decoration: none; }
table#tab-fond { width: 600px; margin: 0 auto; }
.imputborder { border: none; background-color: white; }
	/*page alerte*/
#PageAlert { border-bottom: 1px solid #c4c4c4; border-top: 1px solid #c4c4c4; padding: 15px 0; }
#PageAlert font { color: #444; }
#PageAlert td { text-align: left; }
#PageAlert strong { color: #444; }
#PageAlert a { font-size: 14px; font-weight: bold; color: #d7159a; display: block; margin-left: 50px; padding-left: 20px; background: url(../images/arrow3.gif) no-repeat; width: 400px; line-height: 14px; height: 14px; }
#PageAlert a:hover { width: 400px; line-height: 14px; height: 14px; background-position: 0 -14px; font-size: 14px; color: #343434; text-decoration: none; display: block; margin-left: 50px; padding-left: 20px; }

/*IE8*/
.BoutonFormContact, .BoutonFormRecherche { width: 146px; height: 27px;}
.boutonEnvoi { width: 146px; height: 27px; }
td#ChampsBouton input { width: 146px; height: 27px; }
 
 /*alerte email*/
#AlerteImmo { background: none; border: none; padding: 0; }
#AlerteImmo #AlerteTitre01 { width: 900px; background: url(../img/alerteimmo_titre_fond01.gif) no-repeat; }
#AlerteImmo #AlerteTitre01 h5 { background: none; }
#AlerteImmo #AlerteTitre01 h5 span { color: white; font-weight: normal; text-transform: uppercase; }
#AlerteImmo h2 { color: #6c6c6c; }
#AlerteImmo h4, #AlerteImmo h5 { color: #444; }
#AlerteImmo #AlerteConfirmation p.confirmation { color: #444; }
#AlerteImmo h5.retourAccueil a { color: #6c6c6c; }
#AlerteImmo h2 { color: #6c6c6c; }

/*marquee*/
#AnnoncesDefilantes, #AnnoncesDefilantes a  { color: #6b6b6b; font-size: 10px; }

/*listevilles*/
.ListeVilles, .ListeVilles a, .ListeVilles strong { color: #e5d3d3; font-weight: normal; }

/*editeur*/

#Editeur {color : #444; font-size : 12px;}
#Editeur h1 {color : #d7159a; font-size : 16px ;}
#Editeur h1 span{color : #444; font-size : 16px ;}
#Editeur h2 { color : #d7159a; font-size :16px; }
#Editeur h2 span{color : #444; font-size :14px  ;}
#Editeur h3 {color : #d7159a; font-size : 13px ;}
#Editeur h3 span {color : #444; font-size : 13px ;}
#Editeur p {color : #444; font-size :12px ; margin: 0; padding: 0; }
#Editeur p span{color : #444; font-size : 12px ;}
#Editeur p strong { color: #d7159a; }
#Editeur a {color : #d7159a; font-size : 11px ;}
#Editeur a : hover{color : #444; font-size :11px ;}
#Editeur ul{}
#Editeur li{ color : #444; font-size : 11px;}
#Editeur span *{color : #444 !important; font-size : 11px;}
#Editeur table, #Editeur  td {border:none !important;padding:0 ;margin : 0 ;}

/*
/*autres*/
.avantage { background:url(../images/fd_avantage.gif) no-repeat; width: 197px; height: 36px; text-align:left; }
.repatvendeur { background: url(../images/bgrepeat_vendeur.gif) repeat-y; width: 822px; }
.avantage { background: url(../images/fd_avantage.gif) no-repeat; width: 197px; height: 36px; }
.avant { text-align:center; padding-top: 10px; color:#FFFFFF; font-weight:bold; font-size: 16px; }
.repat { padding: 10px 20px; font-size: 14px; font-weight: bold; }
.repat p { color:#FF00FF; font-size:18px; font-weight:bold; }
.assurance { font-size: 11px; padding-left: 50px; }
.assurance span { color:#000000; font-size: 16px; }

.vendeur2 { background-color: #acacac; padding-bottom: 20px; position: relative; }
.repeatvend { background:url(../images/repeat_toute.jpg) repeat-y; width: 733px; margin-top: 10px; }
.repeatvend td { }
.unique { font-size:18px; font-weight: bold; padding-top: 10px; }
.unik { color:#FF00FF; font-size: 25px; padding-left: 45px; }
.concernes { font-size: 20px; padding-left: 30px;}
.concernes2 { font-size: 20px; padding-left: 140px;}
.unique2 ul li { font-size: 12px; line-height: 25px; }
.assurance2 { padding-left: 10px; }
.photo-village { padding-left:  80px; padding-top: 15px;}
.present { font-size: 18px; font-weight: bold; padding: 10px 0; }
.present span { color:#FF00FF; }

.livre { width: 980px; float:left; }
.immo2 { background: url(../images/repeat_immo.gif) repeat-y; width: 178px; margin: 5px; }
.1mmo { background:url(../images/bg_immo.gif) no-repeat; width: 178px; }
.pic1 { background:url(../images/pic1.gif) no-repeat; padding-left: 25px; }
.pic2 { background:url(../images/pic2.gif) no-repeat; padding-left: 25px; }
.pic3 { background:url(../images/pic3.gif) no-repeat; padding-left: 25px; }
.pic4 { background:url(../images/pic4.gif) no-repeat; padding-left: 25px; }
.pic5 { background:url(../images/pic5.gif) no-repeat; padding-left: 25px; }

.unique2 span { color: #FF00FF; font-weight:bold; }

.carte-vendeur { position:absolute; top: 520px; left: 485px; }
.immo4 { background:url(../images/bg_immo3.gif) no-repeat; width: 190px; height: 78px; margin: 5px; }
.immo4 div { padding: 5px 40px; }
.immo5 { background:url(../images/bg_gdimmo.gif) no-repeat; width: 379px; height: 99px; }
.immo5 div { padding: 10px 40px; }
.immo5 span { color:#FF00FF; }
.bienotre { font-size: 18px; }

.recrut p{ font-size:13px; line-height:14pt; text-align:justify; }
.recrut h1{ font-size:16px; text-align:center; color:#5b5b5b; }
.recrut h2{ font-size:16px; text-align:center; color:#fff; }

/*recherche*/
#RechResultat .blocAnnonce_wrap { margin: 5px; }

/*carte*/
.bgcarte {
	position: relative;
	width: 439px;
}
.secteur-ville {
	position: absolute;
	display: none;
	background-color: white;
	-moz-opacity: 0.90;
	filter: alpha(opacity=90);
	opacity: 0.90;
	border: 1px solid #bc0798;
	padding: 10px;
	font-weight: bold;
	text-transform: uppercase;
}
.secteur-ville div { color: #d60093; text-align: left; }
#ville1 {
	top: 60px;
	right: 150px;
}
#ville2 {
	bottom: 20px;
	right: 200px;
}
#ville3 {
	top: 190px;
	right: 50px;
}
#ville4 {
	top: 80px;
	right: 20px;
}

.titrePageOutils { border-top:none;}

#outils h3 {background:#323232; color:#F93297;} 