/* CSS Document */

/* Redefinitions des balises HTML */ 
	*{margin:0;padding:0;font-size:12px;font-family:Arial, Verdana, Helvetica, sans-serif;color:#000;}
	img{border:0}
	.clear{clear:both;}
	a{text-decoration:underline;outline:none;color:#fff;}
	a:hover{text-decoration:none;}
	hr{display:none;}
	ul,ol{list-style:none;}
	select option{padding:0;}
	table{ margin:0 auto; padding:0;}
	
	#milieu table tbody tr td{ padding:5px 0px; text-align:justify; text-align:left;}
	#milieu table tbody tr td a:hover{text-decoration:none;}
	* html input.alerte{ background:#FFF;}
	/* --------Modification AR PLAN SITE-------- */    
	body{background:#70717F; margin-top:-3px;}
	/* Effet bordure (espace 5px) entre BG menu et bande BG site */ 
	#header{width:100%;height:153px;background:#header;}
	.englobeheader{width:993px; margin:0 auto;position:relative; height:153px;color:#000;background:#B4AFA8;}
	#global{position:relative;width:993px; margin:0 auto;}
	#Galerie #previewPane #FancyBox_Ctn2 table#FancyBox td#FancyBox_Col1 #FancyBox_Ctn{padding:5px 0 0;}


/* ----------------------------------------PAGE ACCUEIL---------------------------------------- */	   
   
/* --------LOGO AGENCE-------- */ 
	#LogoAgence {float:left; display:inline; width:430px; padding:9px 0 0 29px; margin:0;}
	#LogoAgence img{ display:block; margin:0 auto;float:left;}
/* --------DRAPEAUX LANGUES FRANCAIS ET ANGLAIS-------- */ 		
/* Mettre en DISPLAY:NONE si pas d'option Anglais */ 
	#Drapeaux {position:absolute; top:120px; left:8px;}
	#Drapeaux img.darpFr{}
	#Drapeaux img.drapAnglais{padding-right:0;}
/* --------TEXTE ACCUEIL--------*/ 
	#textAccueil {float:right; display:inline; width:564px; padding:15px 0 0 0px; right:5px;}
/* Modification TITRE texte d'accueil */ 
	#textAccueil h1{letter-spacing:-1px; font-size:17px; font-weight:bold;color:#511D5C; padding:0 0 5px 0;}
	#textAccueil h1 strong{color:#000; font-size:20px;}
/* Modification CORPS texte d'accueil */ 
	#textAccueil p{ text-align:justify; font-size:11px;  color:#000; line-height:20px; display:block; padding:0 0 6px 0;}
	#textAccueil p strong{ color:#511D5C;}
	#textAccueil a{ text-decoration:none; color:#000;}
	#textAccueil a:hover{text-decoration:underline; color:#000;}
    #textAccueil .Address{height:20px; padding:7px 0 3px 0; text-align:center; width:567px; background:#5E7EC7; float:left; color:#fff; font-size:12px; font-weight:bold;}
	adresse_tel{width:312px;}
	.adresse_tel h2{font-family:georgia,arial,verdana;color:#2c6995;float:left;width:312px;margin:-48px 0 0 137px;text-align:center;display:inline; line-height:10px;}
    .adresse_tel h2 span{font-family: "Times New Roman", Times, serif;color:#2c6995;font-size:10px;font-size:19px; display:block; padding:40px 0 0 16px; font-weight:bold;}



/* Detail annoce */
#DetailAnnonce #Titre{background:#606167; border:none; border-bottom:1px solid #606167;}

/* ----- Moteur -----*/
	h2.TitrePage{ color:#A12E31 ; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}

	#RechHaut form#Tri select{color:#000000;padding-left:3px;}
	#RechHaut form#Tri select optgroup{color:#000000;padding-left:3px;}
	#RechHaut form#Tri select optgroup option,#RechHaut form#Tri select option{color:#000000;padding-left:3px;}
	#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .metro_Ctn .metro{color:#fff;}
	

/* --------MENU + FLUX RSS-------- */
/* Modification COULEUR + TAILLE fond MENU */
	#remplissageMenu{ width:100%; background:#70717F; min-height:44px;}		
	#menuFlux{width:984px; background:#606167; height:44px; border-left:5px solid #B4AFA8; border-right:4px solid #B4AFA8; margin:0 auto;}
	#menu {float:right; display:inline; padding:0; position:relative; z-index:2; height:44px;}
	#menu ul{ display:inline; margin:0 0 0 6px; list-style-type:none;}
	#menu li{ float:left; font-size:15px; padding:0 1px; position:relative;}
	#menu ul li.MenuSep{ color:#fff; padding-top:13px;}
	/* Modification COULEUR TEXTE MENU */ 
	#menu a{ margin-top:6px; float:left; line-height:32px; padding:0 6px; height:32px;  font-weight:bold; color:#fff; text-decoration:none;font-size:14px;}
	#menu a:hover{background:#000;color:#FFF9C6;}		
/* Modification FLUX RSS */ 		
	#fluxRss{float:left; display:inline; padding:15px 0 5px 0; }
	#fluxRss a{ background:url(../images/puce_rss.gif) 0 0 no-repeat; font-size:11px;  color:#fff; margin:0 0 5px 10px; padding:1px 5px 6px 20px;text-decoration:none;}
	#fluxRss a:hover{ font-size:11px;text-decoration:underline;}
	#fluxRss img{float:left; display:inline; vertical-align:middle;}


/* --------CONTENU SITE = ZONE DU MILIEU-------- */
/* Modification COULEUR ARRIERE PLAN CONTENU SITE */ 	
	#milieu{width:984px;padding:27px 0 3px 0px; min-height:250px;border-left:4px solid #B4AFA8; border-right:5px solid #B4AFA8;_border-right:5px solid #B4AFA8; margin:0 auto; position:relative; z-index:1;background:#B4AFA8;}
	
/* Positionnement bandeau image */ 
	#visuel{float:left; display:inline; width:715px; margin:0; padding:0;}		
/* Modification COULEUR BORDURE IMAGE */ 		
	#visuel img{border:7px solid #70717F ;}
 	#visuel img.slogan{ border:0px; margin:0 0 0 185px;}

/*--------POSITIONNEMENT MINI MOTEUR-------- */ 
	.miniMoteur{float:right;display:inline;width:220px;padding:0 0 0 36px;position:relative;background:url(../images/fontTitreMoteur.gif) 0 2px no-repeat;}		
/* Modification TITRE RECHERCHE */ 		
	.miniMoteur h2{font-size:18px; font-weight:bold; color:#A12E31;padding:12px 0 0 0;}
/* A NOTER !!!! Pour styliser les champs + bouton mini moteur VOIR == MINI_MOTEUR.CSS */ 


/* ----------- 3 COUPS DE COEUR ------------- */ 
	
	#blocBas #coupCoeur{float:left;display:inline;width:715px;margin:12px 0 15px 0; }

/* ----------- LISTE TRANSACTIONS AGENCE ------------- */ 
	#blocBas .nbrTransaction{float:right;width:209px; margin:45px 10px 0 0; height:228px; overflow:auto; display:inline;}

/* Modification COULEUR "AUJOURD'HUI" */ 	
	#blocBas .nbrTransaction h3{font-size:12px;color:#A12E31; }
/* Modification COULEUR TYPE TRANSACTION */ 	
	#blocBas .nbrTransaction h4{width:167px;font-weight:bold;font-size:13px;color:#000;padding:10px 0 0 0;}
	#blocBas .nbrTransaction h4 a{color:#000;text-decoration:none;}
	#blocBas .nbrTransaction h4 a:hover{color:#000;text-decoration:underline;}
	#blocBas .nbrTransaction ul{list-style-type:none;margin:0 0 10px 0px; line-height:16px;}
	#blocBas .nbrTransaction ul a:hover{color:#606167;}
/* Modification COULEUR TYPE DE BIEN */ 
	#blocBas .nbrTransaction ul *{font-size:11px;color:#fff;}
	#blocBas .nbrTransaction ul li a{color:#fff;}
	#blocBas .nbrTransaction ul li a:hover *{text-decoration:none;color:#606167;}


/* -----------INCLUDE BAS------------- */ 

/* Modification COULEUR BANDE COORDONNEES */ 
	.CoordonneesAgence {font-size:12px; background:#606167; height:27px; text-align:center; padding-top:13px; color:#fff; font-weight:bold;}	
/* Modification BG footer portefeuille + menu secondaire */
	.footerPosition{position:relative; width:982px; padding-bottom:15px; margin:0 auto;}
	
	.porteFeuille{float:left;width:610px;padding-left:30px;}
/* ARRIERE PLAN FOOTER */
	#footer{margin:0 auto; padding:0 0 0 1px;background:#B4AFA8;width:992px;}
				
/* Modification couleur 2 TITRES FOOTER */ 
	#footer h4{font-size:11px;font-weight:bold;background:url(../images/puce.gif) 18px 3px no-repeat;padding:4px 0 4px 46px;margin:10px 0 0 0;line-height:19px;}
/* titre gauche : Notre portefeuille immobilier */
	#footer .porteFeuille h4{font-size:12px; color:#fff;}
/* titre droite : www.urldusite.com */
	#footer .menuSecondaire h4{font-size:12px; color:#fff;}
	#footer .menuSecondaire a{}
	#footer .menuSecondaire a:hover{ text-decoration:underline;color:#000;}		
/* Modification couleur LISTE DES VILLES */ 
	.porteFeuille .ListeVilles{width:520px;text-align:justify;line-height:13px;border:0;color:#fff; padding:4px 0 0 5px;}
	.ListeVilles *{color:#fff; font-size:12px;font-weight:normal;}
	.ListeVilles a{color:#fff;text-decoration:none;}
	.ListeVilles a:hover{ color:#606167; text-decoration:underline;}

/* Modification couleur MENU SECONDAIRE FOOTER (droite) */
	.menuSecondaire{float:left;width:980px;font-size:12px;color:#fff;}
	.menuSecondaire *{font-size:11px;}
	.menuSecondaire p{padding:3px 0 0 23px; color:#fff; text-align:justify; width:879px; }
	.menuSecondaire p a{font-size:11px;color:#fff;text-decoration:none;}
	.menuSecondaire p a:hover{font-size:11px;color:#FE8499;text-decoration:underline;}
	span.sepSep{ color:#fff;}



/* ----------------------------------------AUTRES PAGES DU SITE---------------------------------------- */

/* Page En Construction */
	#EnConstruction{text-align:center;}


/* PAGE PLAN DU SITE = incl_plan-site.htm */  
	ul#Plan *{text-decoration: none; font-weight: bold;}
	ul#Plan{padding: 0 8em; width:423px; margin:0 auto;position:relative;top:-25px;}
	ul#Plan li.plan{ color:#A12E31; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;border-bottom:none;}
	ul#Plan li.MenuSep{display:none;}
	ul#Plan li{padding: 0.2em 0; border:none;}
	ul#Plan .plan{padding: 0.2em 0;background:none;}
	ul#Plan li a{ background:none;color:#000;padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #000 ; text-transform:uppercase;}
	ul#Plan li a:hover{color:#fff;padding-left:10px; height:19px;font-size: 12px; background:#606167;}
	ul#Plan li.voirTout a{color:#000;}
	ul#Plan li.voirTout a:hover{color:#fff;}
	ul#Plan a span.nbAnn{color:#000;}


/* Outils */
	ul#Outils *{text-decoration: none; font-weight: bold;}
	ul#Outils{padding: 2em 8em; width:400px; margin:0 auto;}
	ul#Outils li.list{padding: 0.2em 0px;background:none; margin:2px 0; border:none;}
	ul#Outils li a{color:#000;padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #000 ; text-transform:uppercase;}
	ul#Outils li a:hover{color:#fff;padding-left:10px; height:19px;font-size: 12px; background:#606167;}
	#Outils li.titrePageOutils{ color:#000; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}
	#Outils a:hover{color:#000;}

/*PAGES ESTIMATION + CONTACT + MESSAGE == TABLEAUX FORMULAIRES*/
	.tabFond1{border-color:#00AA00; border-width:0; border-style:solid; padding:2px; font-family:Arial, Helvetica, sans-serif; width:100%;}
	 textarea {width:600px; height: 100px;border:1px solid #000;margin: 0 0 0 3px; padding:2px;color:#000;}
	.tabFond2{border-color:#00AA00; border-width:1px; border-style:solid; padding:2px; font-size:14px; font-family:Arial, Helvetica, sans-serif;}
	#milieu .tabTitre{background:#606167; color:#FFF; font-size:14px; font-weight: bold; font-family:Arial, Helvetica, sans-serif;height:25px;padding:3px; text-align:center; text-transform:uppercase;border-bottom:1px solid #606167;}
	#milieu .tabTitre *{color:#fff; font-size: 14px;}
	.tabPrint{color:#5C5E5D; font-size: 13px; font-family:Arial, Helvetica, sans-serif; border:1px solid #00AA00;}
	.tabFond1 td input{margin:3px;padding:2px;color:#000000;}
	.tabFond1 td input.BoutonFormRecherche{float:right;width:120px;height:25px;border:none;}
	select.imputForm{border:1px solid #000 ;margin:0 0 0 3px;color:#000;}
	select.imputForm option{padding:0 0 0 3px;color:#000;}
	.tabFond1 table{ width:100%;}
	 input.imputForm{border:1px solid #000; padding:2px;color:#000;}
	 input.boutonEnvoi{float:right;width:120px;height:25px;}
	strong.messageNomAgence,
	strong.estimationNomAgence{ color:#A12E31; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase; display:block;}
	
	/*Résolution Bug IE8 = donner une taille aux bouton pour éviter tout décallage*/
	.tabFond1 .boutonEnvoi {float:right;width:120px;height:25px; border:none;}
	.tabFond1 .BoutonFormContact {float:right;border:0;width:120px;height:25px;}
	.MoteurBouton  {overflow:hidden; padding:0 0 6px 0;}
	.MoteurBouton input {float:right;width:120px;height:25px;}
	td #ChampsBouton input {float:right;margin-right:12px;width:120px;height:25px;}
	#AgenceContact form table#FormContact td#ChampsBouton input{width:120px;height:25px;}	

/* GUIDE PRATIQUE = ACCES VIA LE LIEN DANS LA PAGE OUTILS*/
	span.txtTitre3{ display:block; width:870px; color:#FFF; background:#000; font-size:16px; font-weight:bold; padding:3px 5px; margin:10px 3px 3px 0;}
	span.gras{ display:block; width:882px; color:#FFF; background:#000; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;}
	td.encadre{background-color:#FFF; border-color:#AAA; border-width:2px; border-style:solid; padding:3px; color:#838383; margin:0 0 0 -4px;}
	p.grasnews{ display:block; width:882px; color:#FFF; background:#000; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;}
	ul#Outils li.titrePageOutils{color:#A12E31;font-size:18px;}

	/* coup de coeur*/
	* html .div-cdc{ height:260px;}
	.div-cdc{width:230px; min-height:259px;float:left; background:#A9B0AF; margin:0 6px 0 0; border:1px solid #000 ;}
	.div-cdc *{ color:#fff;}
	.div-cdc .photo-cdc img{width:220px;height:137px;background:url(../images/bg_Img_Cdc.gif);border:1px solid #000;margin:4px 0 0 4px;display:block;}
	.div-cdc a span.ville-cdc{font-weight:bold;display:block; color:#950000;padding-bottom:3px; }
	.div-cdc a span.ville-cdc a:hover{color:#606167;}
	
	.div-cdc .contenu-cdc a *{color:#1D51B0;font-weight:bold; text-transform:capitalize;font-size:14px;}
	.div-cdc .contenu-cdc a:hover *{ text-decoration:underline;}
	.div-cdc .typebien-cdc:hover{}
	.div-cdc .contenu-cdc{padding:7px 6px 4px 6px;}
	.div-cdc .contenu-cdc *{color:#000;}
	.div-cdc .contenu-cdc a{ text-decoration:none;}
	.div-cdc .contenu-cdc a:hover *{ text-decoration:underline;}
	.div-cdc .descriptif-cdc{min-height:30px; color:#000;font-size:11px;}
	* html .divc2c .descriptif-cdc{height:30px;}
	.div-cdc p.prix-cdc{font-weight:bold;font-size:14px; color:#1D51B0;}
 
 
/* Mentions Legales */
	
	#MentionsLegales{}
	#MentionsLegales h2 {display:block; width: 99%;background:#606167; font-size: 14px; color:#fff;font-weight: bold;letter-spacing: 0;padding:3px 0 3px 8px;margin: 10px 0;text-align: left;text-transform: none;font-family: Arial; text-transform: none; border-bottom:1px solid #606167}
	#MentionsLegales p.notaBene a.demandeInfos:hover{color:#606167;}
	#MentionsLegales p.notaBene a.demandeInfos{color:#000000;}
	#MentionsLegales p.notaBene a.demandeInfos:hover{color:#fff;}
/* Details */
    #AgenceContact form table#FormContact td#ChampsBouton #ChampsObligatoires{clear:both;}
	
/* page accueil*/	

    #accueil{width:90%; margin:0 auto; font-size:12px; font-family:arial,sans-serif;}
    #accueil h1{font-size:18px; font-family:arial,sans-serif; color:#000; padding: 0 0 6px 0;}
    #accueil h1 strong{font-size:23px; color:#000;}
    #accueil p{padding:0 0 10px 0;line-height:18px;}
    #accueil p strong{padding:0 0 10px 0; color:#838383; }
    #accueil ul{list-style:none; width:271px; padding:0; margin:0 0 0 30px;}
    #accueil li{background:url(../images/picto_fleche_02.gif) 0 2px no-repeat; padding:0 0 4px 15px;}
	.banniere{width:500px;float:left;border:2px solid #70717f ;height:111px;margin:18px 0 0 15px;}
	.imgBanniere{display:block;}
/*Recherche*/
	#RechercheContainer #AlerteEmail #AlerteForm input.alerteBt{cursor:pointer;color:#fff;}

	#MoteurPieces input{margin-right:5px;}
	#MoteurChambres input{margin-right:5px;}

	
	
/*detail*/

    #AgenceContact #CguFormulaire a{color:#000; text-decoration:underline;}	
    #AgenceContact #CguFormulaire a{text-decoration:none;}
	#AgenceContact form table#FormContact td#ChampsMessage textarea,#AgenceContact form table#FormContact td#ChampsNom input, 	#AgenceContact form table#FormContact td#ChampsPrenom input, #AgenceContact form table#FormContact td#ChampsTelephone input, #AgenceContact form table#FormContact td#ChampsEmail input{color:#000;background:#fff;border:1px solid #000;}
	#Galerie #previewPane #largeImageCaption{color:#000;}	
	#DetailAnnonce #LiensRetour .majAnn {margin-top:10px;}
	.haut{width:100%;}
	.titreInfosLegales{color:#A12E31;font-weight:bold;font-size:18px;}
	#CoordonneesAgence hover:.mail{color:#000000;text-decoration:underline;}
	#DetailAnnonce #Titre td#TypeTransaction{font-size: 18px;color:#fff;}
	#EnConstruction h5{color:#606167}
	* html #EnConstruction h5{color:#606167}
	#AgenceContact form table#FormContact td p,#AgenceContact td.detail_form_col2 h6,#AgenceContact td.detail_form_col2 h6 span,#AgenceContact #CguFormulaire,#InfosAnnonce #Descriptif p.txtDescriptif,#InfosAnnonce #InfosComp_Ctn #InfosComp p,#Annonce_Ctn table#InfosPrix td .glossaire_ctn p.glossaire,#Outils a,#Annonce_Ctn table#InfosPrix td.infosPrix p, #Annonce_Ctn table#InfosPrix td.infosLibelle p, #Annonce_Ctn table#InfosPrix td.infosVille p,{color:#000;}
	#AgenceContact .coords_agence p.adresseAgence{color:#606167;}
	#TitreContact a#AgenceMentions * { color:#000 !important; line-height:13px !important;font-size:11px !important;}
/*	#DetailAnnonce #LiensRetour a.prev{color:#000;}*/
/*en construction*/
	#EnConstruction a{color:#606167;text-decoration:underline;}
    #EnConstruction a:hover{color:#606167;text-decoration:none;}


.selectionIndexExclusif {margin:0 6px 0 5px;}

.selectionNouveau {margin:0 6px 0 5px;}

	
