

$$REM$$
/*
====================================================================

//// <summary>Liste macros générales de votre site agences</summary>
//// <remarks>
//// <para>Démutualiser ce fichier pour modifier vos propres paramètres</para>
//// <para>Possibilité de créer de nouvelles macros si cela vous est nécessaire, ce fichier n'est pas exhaustif</para>
//// </remarks>
//// <update date="2008-10-09" author="lisbonne.siriphol">Création</update>

====================================================================
*/
$$END$$

/* 



$$REM$$
>> MACROS GÉNÉRALES (attention au chemin des fichiers)
====================================================================================
 ///////////////////////////// listez ici vos macros  /////////////////////////////
====================================================================================
$$END$$
$$REM$$ ==>> chemin rép. "général" mutualisé $$END$$			    $$A:PATH_IMG_GENERAL=@@-@@detail/img_general$$
$$REM$$ ==>> rép. img "light" mutualisé $$END$$						$$A:PATH_IMG_LIGHT=@@_@@detail/img_light$$





$$REM$$ ================================>> 1/ COULEURS TEXTES PAGE <<================================ $$END$$
$$REM$$ ==>> couleur liens top + prix + type bien + ville et cp ... $$END$$ 			$$A:LIGHT_COLORTXT1=#000$$
$$REM$$ ==>> couleur autres textes en bleu $$END$$								$$A:LIGHT_COLORTXT2=#000$$
$$REM$$ ==>> couleur autres textes en bleu $$END$$								$$A:LIGHT_COLORTXT3=#000$$

$$REM$$ ================================>> 2/ COULEURS BG ET BORDERS <<================================ $$END$$
$$REM$$ ==>> Tous les bg blanc $$END$$																	$$A:LIGHT_BG_BLANC=$$
$$REM$$ ==>> border du bg blanc $$END$$																	$$A:LIGHT_BORDER_CLAIR=1px solid #000$$

$$REM$$ ==>> bg couleur grise $$END$$																	$$A:LIGHT_BG01=$$
$$REM$$ ==>> border photos annonces + champs formulaires $$END$$										$$A:LIGHT_BORDER01=1px solid #000$$

$$REM$$ ==>> bg bande LIBELLE $$END$$												$$A:LIGHT_BG02=$$
$$REM$$ ==>> border bande LIBELLE $$END$$										$$A:LIGHT_BORDER02=1px solid #000$$

$$REM$$ ==>> fleche couleur site$$END$$									$$A:LIGHT_PICTO_FLECHE_01=url(@@PATH_IMG_LIGHT@@/picto_fleche_01.gif) 1px 4px no-repeat$$
$$REM$$ ==>> fleche couleur neutre$$END$$								$$A:LIGHT_PICTO_FLECHE_02=url(@@PATH_IMG_LIGHT@@/picto_fleche_02.gif) 1px 4px no-repeat$$
$$REM$$ ==>> picto loupe $$END$$		$$A:LIGHT_PICTO_LOUPE=url(@@PATH_IMG_GENERAL@@/picto_prox.gif) left no-repeat$$										



*/


/* ================================ formulaire de contact / bas de page ================================ */
/* Couleur du BG du formulaire en bas de page */ 




