// VAR COLORS
$color-body:#f5f5f5;
$color-content:#1a1a1a;
$color-block:#D8D8D8;
$color-primary:#f9f9f9;
$color-secondary:#005e1d;
$color-action:#005e1d;
$color-important:#005e1d;
$color-nav-footer:#002B00;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#666666;