// VAR COLORS
$color-body:#fff;
$color-content:#1a1a1a;
$color-block:#fff;
$color-primary:#871353;
$color-secondary:#b5c000;
$color-action:#b5c000;
$color-important:#871353;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#7b7b7b;