// VAR COLORS
$color-body:#112332;
$color-content:#1a1a1a;
$color-block:#17334a;
$color-primary:#0e1d29;
$color-secondary:#112332;
$color-action:#112332;
$color-important:#fff200;
$color-nav-footer:#fff200;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#fff;