/* --------------------------------- slide -------------------------------------*/

.Optim1{
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
text-decoration:none;
color:#8E9296;
}
.menu-Optim1{
width:200px;
position:relative;
text-align:left;
}
.menu-Optim1 ul, .menu-Optim1 li{
margin:0px;
padding:0px;
list-style-type:none;
}
.menu-Optim1 li a{
display:block;
height:100%;
font-family:Arial,Helvetica,sans-serif;
font-size:10px;
text-decoration:none;
text-align:left;
color:#454545;
}
.menu-Optim1 li a:hover{
color:#075784;
}
/* --------------------------------- fin slide -------------------------------------*/

