/* $$DYN:ID3:NOFOOTER$$ */
/* =================== */

.BoiteMiniMoteur {
	width: 266px;
	color:#343434;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px;
	margin: 0 auto;
}
.MiniTypeTrans, .MiniTypeDeBien, .MiniBudget, .MiniSurface, .MiniProximite, .Bouton {
	display: inline;
	font-family: Arial, Helvetica, sans-serif; 
	font-style: normal;
	font-size: 11px;
}
.TitreTypeTrans, .TitreMiniTypeDeBien, .TitreMiniBudget, .TitreMiniSurface, .TitreMiniProximite, .TitreMiniListeVilles {
	color: #000;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px;
	letter-spacing: normal;
	padding: 5px 0;
	margin: 0;
	float:left;
	width: 266px;
	text-align: left;
}
.TitreTypeTrans { width: 266px; display: block; background: url(../images/bg_trans.gif) repeat-x; }
.MiniTypeTrans { width: 266px; background-color: #c0d2dd; padding: 0 0 10px 0; float: left; margin: 0; }
#typedebien, .InputBudget, .InputSurface, .InputProximite, .MiniListeVilles div { width: 266px; background-color: #c0d2dd; padding: 10px 0; float: left; margin: 0; color: #000; }
/*input*/
.BoiteMiniMoteur input { padding: 0; float: none; color: #000; font-size: 11px; background-color: #none; border: none; }
.ListeTypeDeBien, .InputProximite .imputForm, .MiniListeVilles .ListeVilles { width: 235px; margin: 10px 15px; padding: 0; }
.InputBudget .imputForm, .InputSurface { width: 110px; margin: 0 5px; color: #000; }
.ListeTypeTrans { margin: 10px 15px; width: 235px; }

/*minienvoyer*/
.MiniBouton input { float: right; border: none; margin-bottom: 15px; }
