// VARIABLES COLORS
$color-body:#fff;
$color-content:#844773;
$color-block:#fff;
$color-primary:#fff;
$color-secondary:#000;
$color-action:#65c07d;
$color-important:#844773;
$color-nav-footer:#844773;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;