// VARIABLES COLORS
$color-body:#fff;
$color-content:#fff;
$color-block:#fff;
$color-primary:#fff;
$color-secondary:#004174;
$color-action:#004174;
$color-important:#004174;
$color-nav-footer:#004174;

// COLOR PICTO
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#004174;