#GeolocLaforet{border: 0px solid #b1b5e2; margin: 0 0 0px 0; padding: 10px 10px 0px 10px; background: url($$_$$map/img/geoloc_fond_01.jpg) 15px 42px no-repeat;}
#GeolocLaforet *{padding: 0; margin: 0; border: none; font-size: 11px; color: #769cd5;}
#GeolocLaforet h3{color: #0C4BA3; font-size: 14px; border-bottom: 0px solid #a7bfe2;background: url($$_$$map/img/pucetitreGeo.gif) no-repeat ; padding: 0 0 0px 30px; height:24px; margin:0px 0 0 0;}
#GeolocLaforet h4{display:none;}
/* formulaire */
#geoloc_moteur_dyn02{margin-left:295px;}
#GeolocLaforet #searchEngineForm{border-top: 1px solid #fff;}
#GeolocLaforet #searchEngineForm p.idtt_ctn,
#GeolocLaforet #searchEngineForm p.idtypebien_ctn,
#GeolocLaforet #searchEngineForm p.villes_ctn{font-weight: bold; font-size:14px; padding-top:10px; }
#GeolocLaforet #searchEngineForm select.idtt,
#GeolocLaforet #searchEngineForm select.typeBien,
#GeolocLaforet #searchEngineForm select.villesAnn {width: 120px; border: 1px solid #b1b5e2; color: #0c4ba3;}
#GeolocLaforet #searchEngineForm select.villesAnn option{color: #0c4ba3;}
#GeolocLaforet #searchEngineForm p{padding: 6px 0 0 0;}
#GeolocLaforet #searchEngineForm p.bt_ctn{text-align: center;}
#GeolocLaforet h3 span{ color:#5F8BCB;font-size: 14px;}




