/* CSS Document */

/* Redefinitions des balises HTML */ 
	*{margin:0;padding:0;font-size:12px;font-family:Arial, Verdana, Helvetica, sans-serif;color:#000;}
	img{border:0}
	.clear{clear:both;}
	a{text-decoration:underline;outline:none;color:#E5352D;}
	a:hover{color:#000 ;text-decoration:none;}
	hr{display:none;}
	ul,ol{list-style:none;}
	select option{padding:0;}
	table{ margin:0 auto; padding:0;}
	
	#milieu table tbody tr td{ padding:5px 0px; text-align:justify; text-align:left;}
	* html input.alerte{ background:#FFF;}
	/* --------Modification AR PLAN SITE-------- */    
	body{background: #fff; margin-top:-3px;}
	/* Effet bordure (espace 5px) entre BG menu et bande BG site */ 
	#header{width:993px; margin:0 auto;position:relative; height:160px;}
	* html #header{width:993px; margin:0 auto;position:relative; height:140px;}
	#global{position:relative;width:993px; margin:0 auto;}


/* ----------------------------------------PAGE ACCUEIL---------------------------------------- */	   
   
/* --------LOGO AGENCE-------- */ 
	#LogoAgence { float:left; display:inline; width:308px; padding:5px 0 9px 55px;margin:5px 0 0 0px;}
	#LogoAgence img{ display:block; margin:0 auto;}

/* --------DRAPEAUX LANGUES FRANCAIS ET ANGLAIS-------- */ 		
/* Mettre en DISPLAY:NONE si pas d'option Anglais */ 
	#Drapeaux {position:absolute; top:139px; left:5px;}
	#Drapeaux img {padding-right:8px;}

/* --------TEXTE ACCUEIL--------*/ 
	#textAccueil { position:relative; float:right; display:inline; width:566px; padding:38px 0 0 9px; display:block; right:5px;}
/* Modification TITRE texte d'accueil */ 
	#textAccueil h1{letter-spacing:-1px; font-size:18px; font-weight:bold;color:#E5352D; padding:0 0 4px 0;}
	#textAccueil h1 strong{color:#E5352D; font-size:20px;}
/* Modification CORPS texte d'accueil */ 
	#textAccueil p{ text-align:justify; font-size:12px;  color:#000; line-height:22px; display:block; padding:0 0 10px 0;}
	#textAccueil p strong{ color:#E5352D;}
	#textAccueil a{ text-decoration:none; color:#E5352D;}
	#textAccueil a:hover{text-decoration:underline; color:#E5352D;}
   


/* ----- Moteur -----*/
	h2.TitrePage{ color:#E5352D; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}

/* --------MENU + FLUX RSS-------- */
/* Modification COULEUR + TAILLE fond MENU */
	#remplissageMenu{ width:100%; background:#fff; min-height:44px;}		
	#menuFlux{width:984px; background:#E5352D; height:44px; border-left:5px solid #E5352D; border-right:4px solid #E5352D; margin:0 auto;}
	#menu {float:right; display:inline; padding:0; position:relative; z-index:2; height:44px;}
	#menu ul{ display:inline; margin:0 0 0 6px; list-style-type:none;}
	#menu li{ float:left; font-size:15px; padding:0 1px; position:relative;}
	#menu ul li.MenuSep{ color:#fff; padding-top:13px;}
	/* Modification COULEUR TEXTE MENU */ 
	#menu a{ margin-top:6px; float:left; line-height:32px; padding:0 14px; height:32px;  font-weight:bold;color:#fff; text-decoration:none;font-size:13px;}
	#menu a:hover{ color:#000; background:#fff;}		
/* Modification FLUX RSS */ 		
	#fluxRss{float:left; display:inline; padding:8px 0 5px 0; width:150px;}
	#fluxRss a{ background:url(../images/puce_rss.gif) 0 0 no-repeat; font-size:10px; text-decoration:underline; color:#FFF; margin:0 0 5px 10px; padding:1px 5px 6px 20px;}
	#fluxRss a:hover{ font-size:10px; text-decoration:none; text-decoration:none;}
	#fluxRss img{float:left; display:inline; vertical-align:middle;}


/* --------CONTENU SITE = ZONE DU MILIEU-------- */
/* Modification COULEUR ARRIERE PLAN CONTENU SITE */ 	
	#milieu{width:984px;padding:24px 0 3px 0px; min-height:250px;background:#FFF; border-left:4px solid #FFF; border-right:5px solid #FFF;_border-right:5px solid #FFF; margin:0 auto; position:relative; z-index:1;}
/* Positionnement bandeau image */ 
	#visuel{float:left; display:inline; width:715px; margin:0; padding:0;}		
/* Modification COULEUR BORDURE IMAGE */ 		
	#visuel img{border:7px solid #E5352D ;}
 

/*--------POSITIONNEMENT MINI MOTEUR-------- */ 
	.miniMoteur{float:right;display:inline;width:220px;padding:0 0 0 42px;position:relative;background:url(../images/fontTitreMoteur.gif) 0 2px no-repeat;}		
/* Modification TITRE RECHERCHE */ 		
	.miniMoteur h2{font-size:18px; font-weight:bold; color:#E5352D;padding:12px 0 0 0;}
/* A NOTER !!!! Pour styliser les champs + bouton mini moteur VOIR == MINI_MOTEUR.CSS */ 


/* ----------- 3 COUPS DE COEUR ------------- */ 
	
	#blocBas #coupCoeur{float:left;display:inline;width:715px;margin:22px 0 15px 0; }

/* ----------- LISTE TRANSACTIONS AGENCE ------------- */ 
	#blocBas .nbrTransaction{float:right;width:209px; margin:21px 10px 0 0; height:260px; overflow:auto; display:inline;}

/* Modification COULEUR "AUJOURD'HUI" */ 	
	#blocBas .nbrTransaction h3{font-size:13px;font-weight:bold;padding:1px 0;color:#000; }
/* Modification COULEUR TYPE TRANSACTION */ 	
	#blocBas .nbrTransaction h4{width:167px;font-weight:bold;font-size:13px;color:#E5352D;padding:10px 0 0 0;}
	#blocBas .nbrTransaction ul{list-style-type:none;margin:0 0 10px 3px; line-height:16px;}
/* Modification COULEUR TYPE DE BIEN */ 
	#blocBas .nbrTransaction ul *{font-size:11px;color:#000;}
	#blocBas .nbrTransaction ul a:hover{text-decoration:none;color:#000 ;}


/* -----------INCLUDE BAS------------- */ 

/* Modification COULEUR BANDE COORDONNEES */ 
	.CoordonneesAgence {font-size:12px; background:#E5352D; height:27px; text-align:center; padding-top:13px; color:#fff; font-weight:bold;}	
/* Modification BG footer portefeuille + menu secondaire */
	.footerPosition{background:#FFF; position:relative; width:985px; padding-bottom:15px; margin:0 auto;}
	
	.porteFeuille{float:left;width:610px;padding-left:30px;}
/* ARRIERE PLAN FOOTER */
	#footer{ background:#fff; margin:0 auto; padding:0 0 0 1px;}
				
/* Modification couleur 2 TITRES FOOTER */ 
	#footer h4{font-size:11px;font-weight:bold;background:url(../images/puce.gif) 29px 3px no-repeat;padding:4px 0 4px 55px;margin:17px 0 0 0;line-height:19px;}
/* titre gauche : Notre portefeuille immobilier */
	#footer .porteFeuille h4{font-size:12px; color:#fff;}
/* titre droite : www.urldusite.com */
	#footer .menuSecondaire h4{font-size:12px; color:#fff;}
	#footer .menuSecondaire a{}
	#footer .menuSecondaire a:hover{ text-decoration:underline;color:#000;}		
/* Modification couleur LISTE DES VILLES */ 
	.porteFeuille .ListeVilles{width:520px;text-align:justify;line-height:13px;border:0;color:#000; padding:4px 0 0 5px;}
	.ListeVilles *{color:#000; font-size:12px;font-weight:normal;}
	.ListeVilles a{color:#000;text-decoration:none;}
	.ListeVilles a:hover{color:#000;text-decoration:underline;}

/* Modification couleur MENU SECONDAIRE FOOTER (droite) */
	.menuSecondaire{float:left;width:100%;font-size:12px;color:#000; background:#E5352D;}
	.menuSecondaire p{padding:3px 0 0 5px; color:#000; text-align:justify; width:868px; padding-left:30px;}
	.menuSecondaire p a{font-size:12px;color:#000;text-decoration:none;}
	.menuSecondaire p a:hover{font-size:12px;color:#E5352D ;text-decoration:underline;}
	span.sepSep{ color:#000;}



/* ----------------------------------------AUTRES PAGES DU SITE---------------------------------------- */

/* Page En Construction */
	#EnConstruction{margin-top:70px; text-align:center;}


/* PAGE PLAN DU SITE = incl_plan-site.htm */  
	ul#Plan *{text-decoration: none; font-weight: bold;}
	ul#Plan{padding: 0 8em; width:423px; margin:0 auto;position:relative;top:-25px;}
	ul#Plan li.plan{ color:#E5352D; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;border-bottom:none;}
	ul#Plan li.MenuSep{display:none;}
	ul#Plan li{padding: 0.2em 0; border:none;}
	ul#Plan .plan{padding: 0.2em 0;background:none;}
	ul#Plan li a{ background:none;color:#E5352D;padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #E5352D ; text-transform:uppercase;}
	ul#Plan li a:hover{color:#fff;padding-left:10px; height:19px;font-size: 12px; background:#E5352D;}


/* Outils */
	ul#Outils *{text-decoration: none; font-weight: bold;}
	ul#Outils{padding: 2em 8em; width:400px; margin:0 auto;}
	ul#Outils li.list{padding: 0.2em 0px;background:none; margin:2px 0; border:none;}
	ul#Outils li a{color:#E5352D;padding-left:10px;height:19px;font-size: 12px;padding-top:6px; border: 1px solid #E5352D ; text-transform:uppercase;}
	ul#Outils li a:hover{color:#fff;padding-left:10px; height:19px;font-size: 12px; background:#E5352D;}
	#Outils li.titrePageOutils{ color:#E5352D; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase;}
	#Outils a:hover{color:#000 ;}

/*PAGES ESTIMATION + CONTACT + MESSAGE == TABLEAUX FORMULAIRES*/
	.tabFond1{border-color:#00AA00; border-width:0; border-style:solid; padding:2px; font-family:Arial, Helvetica, sans-serif; width:100%;}
	 textarea {width:600px; height: 100px;border:1px solid #E5352D;margin: 0 0 0 3px; padding:2px;}
	.tabFond2{border-color:#00AA00; border-width:1px; border-style:solid; padding:2px; font-size:14px; font-family:Arial, Helvetica, sans-serif;}
	#milieu .tabTitre{background:#E5352D; color:#FFF; font-size:14px; font-weight: bold; font-family:Arial, Helvetica, sans-serif;height:25px;padding:3px; text-align:center; text-transform:uppercase;}
	#milieu .tabTitre *{color:#FFF; font-size: 14px;}
	#milieu .tabPrint{color:#5C5E5D; font-size: 13px; font-family:Arial, Helvetica, sans-serif; border:1px solid #00AA00;}
	#milieu .tabFond1 td input{margin:3px;border:1px solid #E5352D ; padding:2px;}
	#milieu .tabFond1 td input.BoutonFormRecherche{float:right;width:120px;height:25px;border:none;}
	select.imputForm{border:1px solid #E5352D ;margin:0 0 0 3px;}
	select.imputForm option {padding:2px;}
	.tabFond1 table{ width:100%;}
	 input.imputForm{border:1px solid #E5352D; padding:2px;}
	 input.boutonEnvoi{float:right;width:120px;height:25px;}
	strong.messageNomAgence,
	strong.estimationNomAgence{ color:#E5352D; font-size:18px; font-weight:bold; text-align:center; text-transform:uppercase; display:block;}
	/*Résolution Bug IE8 = donner une taille aux bouton pour éviter tout décallage*/
	.tabFond1 .boutonEnvoi {float:right;width:120px;height:25px;}
	#milieu .tabFond1 .BoutonFormContact {float:right;border:none;width:120px;height:25px;}
	.MoteurBouton  {overflow:hidden; padding:0 0 6px 0;}
	.MoteurBouton input {float:right;width:120px;height:25px;}
	td #ChampsBouton input {float:right;margin-right:12px;width:120px;height:25px;}
	#AgenceContact form table#FormContact td#ChampsBouton input{width:120px;height:25px;}	

/* GUIDE PRATIQUE = ACCES VIA LE LIEN DANS LA PAGE OUTILS*/
	span.txtTitre3{ display:block; width:870px; color:#FFF; background:#E5352D; font-size:16px; font-weight:bold; padding:3px 5px; margin:10px 3px 3px 0;}
	span.gras{ display:block; width:882px; color:#FFF; background:#E5352D; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;}
	td.encadre{background-color:#FFF; border-color:#AAA; border-width:2px; border-style:solid; padding:3px; color:#000; margin:0 0 0 -4px;}
	p.grasnews{ display:block; width:882px; color:#FFF; background:#E5352D; font-size:16px; font-weight:bold; padding:3px 5px; margin:0 0 5px 0;}

	/* coup de coeur*/
	* html .div-cdc{ height:260px;}
	.div-cdc{width:230px; min-height:260px;float:left; background:#FFF; margin:0 4px 0 0; border:2px solid #E5352D ;}
	.div-cdc *{ color:#000;}
	.div-cdc .photo-cdc img{width:220px;height:130px;background:url(../images/bg_Img_Cdc.gif);padding:5px 2px 3px 5px;}
	.div-cdc a span.ville-cdc{font-weight:bold;display:block; color:#E5352D; }
	.div-cdc a span.ville-cdc a:hover{color:#000;}
	.div-cdc .contenu-cdc a *{color:#E5352D;font-weight:bold; text-transform:capitalize;}
	.div-cdc .contenu-cdc a:hover *{color:#000;}
	.div-cdc .typebien-cdc{}
	.div-cdc .contenu-cdc{padding:0 6px 4px 6px;}
	.div-cdc .contenu-cdc *{color:#000;}
	.div-cdc .contenu-cdc a{ text-decoration:none;}
	.div-cdc .contenu-cdc a:hover{color:#E5352D;}
	.div-cdc .descriptif-cdc{min-height:30px;}
	* html .divc2c .descriptif-cdc{height:30px;}
	.div-cdc p.prix-cdc{font-weight:bold;font-size:14px; color:#E5352D;}
 
 
/* Mentions Legales */
	
	#MentionsLegales{}
	#MentionsLegales h2 {display:block; width: 99%;background:#E5352D; font-size: 14px; color:#FFF;font-weight: bold;letter-spacing: 0;padding:3px 0 3px 8px;margin: 10px 0;text-align: left;text-transform: none;font-family: Arial; text-transform: none;}
/* Details */
    #AgenceContact form table#FormContact td#ChampsBouton #ChampsObligatoires{clear:both;}
	
/* page accueil*/	

    #accueil{width:90%; margin:0 auto; font-size:12px; font-family:arial,sans-serif;}
    #accueil h1{font-size:18px; font-family:arial,sans-serif; color:#E5352D; padding: 0 0 6px 0;}
    #accueil h1 strong{font-size:23px; color:#E5352D;}
    #accueil p{padding:0 0 10px 0;line-height:18px;}
    #accueil p strong{padding:0 0 10px 0; color:#000; }
    #accueil ul{list-style:none; width:271px; padding:0; margin:0 0 0 30px;}
    #accueil li{background:url(../images/picto_fleche_02.gif) 0 2px no-repeat; padding:0 0 4px 15px;}
	
/*Recherche*/

    #RechPagesHaut .rechLiensPages a span, #RechPagesBas .rechLiensPages a span{color:#E5352D;}