	$$REM$$
/*
====================================================================

//// <summary>Liste de macros générales pour faciliter la customisation des sites agences</summary>
//// <remarks>
//// <para>Possibilité de démutualiser ce fichier pour modifier vos propres paramètres</para>
//// <para>Possibilité de créer de nouvelles macros si cela vous est nécessaire, ce fichier n'est pas exhaustif</para>
//// </remarks>
//// <update date="2008-10-16" author="lisbonne.siriphol">Création</update>

====================================================================
*/
$$END$$

/* 

$$REM$$ ==>> chemin rép. "général" mutualisé $$END$$		$$A:PATH_IMG_GENERAL=@@_@@recherche/img_general$$
$$REM$$ ==>> rép. img "light" mutualisé $$END$$					$$A:PATH_IMG_SITE=@@_@@recherche/img_light$$

$$REM$$
>> MACROS GÉNÉRALES (attention au chemin des fichiers)
====================================================================================
 ///////////////////////////// listez ici vos macros  /////////////////////////////
====================================================================================
$$END$$







$$REM$$ ================================>> couleurs textes <<================================ $$END$$
$$REM$$ ==>> couleur site + couleur liens $$END$$ 			$$A:LIGHT_COLORTXT1=#E5352D$$
$$REM$$ ==>> couleur neutre$$END$$											$$A:LIGHT_COLORTXT2=#000$$
$$REM$$ ==>> couleur la plus claire$$END$$							$$A:LIGHT_COLORTXT3=#fff$$
$$REM$$ ==>> rss$$END$$																	$$A:LIGHT_COLORRSS=#E5352D$$
$$REM$$ ==>> lien nb page$$END$$												$$A:LIGHT_NBPAGE_COLOR=#1f365n$$
$$REM$$ ==>> metro et rer $$END$$												$$A:LIGHT_COLORTXTMETRO=#003c8f$$
$$REM$$ ==>> annonce séléctionnée $$END$$								$$A:LIGHT_COLORTXT_SELECTION_OK=#E5352D$$





$$REM$$ ================================>> bg et border qui va avec <<================================ $$END$$
$$REM$$ ==>> bg blanc $$END$$														$$A:LIGHT_BG_BLANC=#fff$$
$$REM$$ ==>> bg couleur neutre $$END$$									$$A:LIGHT_BG01=#ebebeb$$
$$REM$$ ==>> border couleur neutre $$END$$							$$A:LIGHT_BORDER01=1px solid #E5352D$$

$$REM$$ ==>> bg couleur site $$END$$										$$A:LIGHT_BG02=#E5352D$$
$$REM$$ ==>> border couleur site $$END$$								$$A:LIGHT_BORDER02=1px solid #E5352D$$


$$REM$$ ================================>> pictos divers <<================================ $$END$$
$$REM$$ ==>> fleche couleur site$$END$$									$$A:LIGHT_PICTO_FLECHE_01=url(@@PATH_IMG_SITE@@/picto_fleche_01.gif) left no-repeat$$
$$REM$$ ==>> sans photo $$END$$                                         $$A:LIGHT_SANS_PHOTO=url(@@PATH_IMG_SITE@@/sans_photo.jpg) no-repeat$$
$$REM$$ ==>> fleche couleur RSS$$END$$									$$A:LIGHT_PICTO_FLECHE_RSS=url(@@PATH_IMG_SITE@@/picto_fleche_rss.gif) left 60% no-repeat$$




*/


