// VAR COLORS
$color-body:#f7f7f7;
$color-content:#1a1a1a;
$color-block:#ebebeb;
$color-primary:#FFF;
$color-secondary:#ab0007;
$color-action:#ab0007;
$color-important:#000;
$color-nav-footer:#000;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;

$color-icone-cdc:#ab0007;