/* CSS Document */
#ConteneurAnn{width:100%; margin:0 auto;}
.BoiteAnnonce {margin:0 0 20px 15px!important;margin:0 0 20px 10px; border:2px solid #FFFFFF; width:430px;background-color:#D1EFF7; }
.RechercheVisuelsPhoto { height: 300px; }
.RechercheVisuelsPhoto img {width:100%;}
.RechercheVisuelsPhotoExclusif img {width:430px; height:250px; border: 0; margin: 0;}
.ligne1 { height: 250px; }
.ligne2 { height: 20px; padding-top:5px;}
.ligne3 { height: 80px; }
div.RecherchePrix {color:#0097B4;}
div.RechercheLibelle{color:#0097B4;}
div.RechercheSituation{color:#000;}
.fd_recherche_prix{background-color:#D1EFF7; top:225px; color:#13ADCA; font-weight:bold;}
.Icones{background-color:#D1EFF7;}
.RecherchePlusInfo a {color:#0097B4;}
.RecherchePlusInfo a:hover{color:#000; text-decoration:none;}
.RecherchePanier a{color:#0097B4;}
.RecherchePanier a:hover{color:#000; text-decoration:none;}
.RechercheVisuels360 a{color:#94895D;}
.RechercheVisuels360 a:hover{color:#000; text-decoration:none;}
.BoitePubAlerte{border:1px solid #00EBF6; margin-left:15px!important;margin-left:18px; height:35px;}
.AlerteGratuit a {color:#0097B4; text-decoration:underline;}
.AlerteGratuit a:hover {color:#000; text-decoration:underline;}
.RechercheStockTotal{color:#7B5B44; padding-left:5px;}
.NbPages{background:#fff;}
.NbPagesNb{font-weight:bold; background:#fff; border-top:#00EBF6; border-bottom:#00EBF6; } 
.NbPagesLiens{padding-left: 530px; font-weight:bold; background:#fff; border-top:#00EBF6; border-bottom:#00EBF6; margin-bottom:#15px;}
.Legende,.LiensPanier{display:block;}
.Legende .BoitePhraseRecherche,.Legende .NbAnnonces,.Legende .contenuBoutonLegende,.Legende .RechercheTri,.Legende .NbPages{display:none;}



