// VAR COLORS
$color-body:#e6e7e7;
$color-content:#e6e7e7;
$color-block:#fff ;
$color-primary:#49545a;
$color-secondary:#7e3f94;
$color-action:#7e3f94;
$color-important:#a4ce4a;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#282425;
