// VAR COLORS
$color-body:#eee;
$color-content:#eee;
$color-block:#fff;
$color-primary:#fff;
$color-secondary:#b1c903;
$color-action:#b1c903;
$color-important:#9f1f63;
$color-nav-footer:#9f1f63;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#444;

//COLOR PESO

$color-icone-cdc:#9f1f63;
$color-gris:#979392;