// VAR COLORS
$color-body:#fff;
$color-content:#f3f3f3;
$color-block:#eee;
$color-primary:#cacbcc;
$color-secondary:#59595b;
$color-action:#ec9155;
$color-important:#ec9155;
$color-nav-footer:#59595b;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#59595b;