// VAR COLORS
$color-body      : #000040;
$color-content   : #000040;
$color-block     : #1A1A5A;
$color-primary   : #63c1f5;
$color-secondary : #0141bf;
$color-action    : #0141bf;
$color-important : #63c1f5;
$color-nav-footer: #fff;

// COLOR PUB
$color-pub       : "white";

// COLOR FONT BODY DEFAULT
$color-font-body : #fff;

