// VAR COLORS
$color-body:#fff;
$color-content:#1a1a1a;
$color-block:#f4f6f7;
$color-primary:#788b9f;
$color-secondary:#2b353f;
$color-action:#0855a4;
$color-important:#2b353f;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;