@import "color";
// BG SOLO
$bg-uni:yes;

// PICTURE BG OU DEGRADE CSS BG COLOR PRIMARY vs SECONDARY vs BLOCK > SI NO ALL = BG BODY UNI
$picture-bg:yes;
$picture-bg-url:'../images/dark_wall.png';
$picture-bg-repeat-horizontal:no;

// SIZE SCROLLING
$height-scrolling:600;

// SIZE NAVIGATION
$height-navigation:90;

// VAR SITE TYPO
$font-body:"proxima-nova",verdana,sans-serif;
$font-title:"proxima-nova",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text:1.3em;
$font-size-title:2.4em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:400;

// ARRONDI POUR LES EFFETS SUR LI > A:HOVER/FIL ARIANE/BOUTON
$arrondi:no;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS LIB2
@import "../../../slagence_X_V5/sources/scss/boutons/lib2";

// IMPORT PUB LIB BOITE
@import "../../../slagence_X_V5/sources/scss/pubs/lib1";

// IMPORT PUB LIB6
@import "../../../slagence_X_V5/sources/scss/pubs/lib6";

// IMPORT TEMPLATE PARIS
@import "../../../slagence_X_V5/sources/scss/templates/helsinki";

// IMPORT MODULE ANNONCES5
@import "../../../slagence_X_V5/sources/scss/modules/annonces5";

// IMPORT MODULE EXTRA
@import "../../../slagence_X_V5/sources/scss/extra/extra5";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";

// IMPORT MODULE SOUS MENU
@import "../../../slagence_X_V5/sources/scss/sous_menu/lib1";

.menu-principal>li>a {
    padding: 0 3px;
    font-size: 11px;
}

// NAV
.menu-principal {
    font-size:1.1em;
    >li {
        border:none;
        >a{
            padding:0 5px;
        }
    }
}

.menu-fiches > a,
.menu-espace-client>a {
    background-color:$color-secondary;
    @include background-image(linear-gradient(to bottom, darken($color-secondary,5) 0%, lighten($color-secondary,18) 100% ));
    &:hover {
        background-color:$color-action;
        background-image:none;
    }
}

.nav .icon-v5-arrow-down-6 {
    display:none;
}

.bg-navigation {
    @include background-image(linear-gradient(to bottom, darken($color-primary,20) 0%, $color-primary 100% ));
}

// PAGE HP
.margin-top-450 {margin-top:350px;}
.titre-milieu>h1 {
    margin-bottom:120px;
}

.titre-pub {
    color:$color-nav-footer;
}

.ligne-titre {
    color:$color-nav-footer;
}

.marg-top-neg-40 {
    margin-top:-40px;
}

// GESTION DES PUBS PAGE HP
.pub-syndic {
    background-image:url('../images/picto-syndic.jpg');
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/picto-syndic.jpg', sizingMethod='image'); 
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/picto-syndic.jpg', sizingMethod='image')";
}
.text-syndic {
    border-top:8px solid $color-important;
}
.pub-location {
    background-image:url('../images/picto-location.jpg');
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/picto-location.jpg', sizingMethod='image'); 
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/picto-location.jpg', sizingMethod='image')"; 
}
.text-location {
    border-top:8px solid $color-primary;
}
.pub-transac {
    background-image:url('../images/picto-transac.jpg');
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/picto-transac.jpg', sizingMethod='image'); 
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/picto-transac.jpg', sizingMethod='image')";
}
.text-transac {
    border-top:8px solid $color-primary;
}
.pub-expertise {
    background-image:url('../images/picto-expertise.jpg');
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/picto-expertise.jpg', sizingMethod='image'); 
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/picto-expertise.jpg', sizingMethod='image')";
}
.text-expertise {
    border-top:8px solid $color-action;
}
.pub-qsn {
    background-image:url('../images/picto-qsn.jpg');
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/picto-qsn.jpg', sizingMethod='image'); 
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/picto-qsn.jpg', sizingMethod='image')";
}
.text-qsn {
    border-top:8px solid $color-important;
}
.pub-client {
    background-image:url('../images/picto-client.jpg');
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/picto-client.jpg', sizingMethod='image'); 
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/picto-client.jpg', sizingMethod='image')";
}
.text-client {
    border-top:8px solid $color-action;
}

// SMARTPHONE
@media only screen and (max-width : 767px) {
    header .logo img {
        width: 30%;
    }
}

