// VAR COLORS
$color-body:#142564;
$color-content:#1a1a1a;
$color-block:#cbd7f2;
$color-primary:#142564;
$color-secondary:#3C65AC;
$color-action:#3C65AC;
$color-important:#B3C4E3;
$color-nav-footer:#FDC030;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#FFF;

// COLOR JAUNE
$color-jaune:#FDC030;