// VAR COLORS
$color-body:#fff;
$color-content:#fff;
$color-block:#f8f8f8;
$color-primary:#003a84;
$color-secondary:#003a84;
$color-action:#003a84;
$color-important:#cc051c;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#444;