// VAR COLORS
$color-body:#f4f4f4;
$color-content:#535353;
$color-block:#fefefe;
$color-primary:#5f5f5f;
$color-secondary:#535353;
$color-action:#35c3e7;
$color-important:#35c3e7;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#393c3d;

// COLOR PERSO
$color-noir:#000;
$color-gris-clair:#f4f4f4;
$color-liens:#24b1d5;
$color-liens-hover:#11a5ca;