// VAR COLORS
$color-body:#dcd3c4;
$color-content:#f3f3f3;
// $color-block:#FCFCFC;
$color-block:#C0BD00;
$color-primary:#fff;
$color-secondary:#59210A;
$color-action:#400800;
// $color-important:#C0BD00;
$color-important:#dcd3c4;
$color-nav-footer:#400800;

$color-shadow:#DFDFDF;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#400800;