// VAR COLORS
$color-body:#FFF;
$color-content:#f2f2f2;
$color-block:#505050;
$color-primary:#000000;
$color-secondary:#e5e5e5;
$color-action:#FFF;
$color-important:#FFF;
$color-nav-footer:#000000;



// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#818181;

// ICONE COUP DE COEUR
$color-icone-cdc:#fbf901;

// COLOR JAUNE
$color-perso:#fbf901;
