// VAR COLORS
//$color-body:#060D41;
$color-body:#000028;
$color-content:#1a1a1a;
$color-block:#000034;
$color-primary:#000028;
$color-secondary:#000;
$color-action:#62bbb2;
//$color-important:#198bf6;
$color-important:#62bbb2;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#fff;