<!--#include virtual="styles/all_global_macros.htm" -->
*{ font-size: 12px; }
body { margin: 0; padding:0; background: #030303; text-align:center; }
div,td { font-family: Arial, Helvetica, sans-serif; font-size:12px; color: #fff; }
img { border:none; display: inline; }
table  { border-collapse: collapse; border-spacing: 0;border:none; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; font-size: 11px; }
a { text-decoration: none; color: #209cd3; }
a:hover { text-decoration: none; color: #f9b200; }
p { margin:10px 0; }

.clear { clear: both; }

/*------------------------------------*/

#wrapper { width: 100%; background: url($$_$$images/bg.gif) repeat-x #121212; }
#wrap { position: relative; width: 1011px; text-align: left; margin: 0 auto; }

.flag { position: absolute; top: 2px; right: 0; }
.flag a { display: inline-block; padding-left: 1px; }

.res-soc { position: absolute; top:65px; right:15px; }
.res-soc a { display: inline-block; margin-left: 5px; }

#bloc-head { height: 22px; }
.link-head { float: left; color: #303030; }
.link-head a { background: url($$_$$images/pic_acc.gif) no-repeat; padding-left: 25px; line-height: 22px; }

#main-marquee { float: left; width: 800px; line-height: 22px; }
#main-marquee marquee { font-size: 11px; color: #666; }
#main-marquee marquee,#main-marquee marquee *, #main-marquee marquee a {color: #666;font-size: 11px; }

#main-logo { background: url($$_$$images/bg_logo.gif) no-repeat; width: 1011px; height: 184px; margin-top: 34px; }
.logo { height: 151px; overflow: hidden; }

.menu { height: 33px; line-height: 33px; overflow: hidden; text-align: center; }
.menu ul { margin: 0; padding: 0; }
.menu li { display: inline-block; list-style-type: none; *display: block; *float: left;}
.menu a { color: #fff; font-size: 16px; display: block; padding: 0 9px;margin:0 1px;}
.menu a:hover { background: url($$_$$images/bg_over.gif) repeat-x; border: 1px solid #0a090a;margin:0; border-bottom: none; border-top: none; }

#main-content { position: relative; width: 1011px; }

.ttl-search { position: absolute; top: 0; left: 30px; z-index: 10; }

#left { float: left; width: 465px; padding-left: 13px; }
#bg-mot { position: relative; background: #090909; border-radius: 10px; border: 1px solid #1f1f1f; margin-top: 56px; width: 460px; /*height: 570px;*/ }
.plus-crit a{ position: absolute; bottom:25px; left: 0; font-weight: bold; text-decoration: underline;font-size:11px; }
#moteur { width: 320px; margin: 0 auto; padding: 10px 0; position: relative; }
#moteur .miniTitre { font-size: 12px; width: 130px; }
#moteur .miniDivSelect label { font-size: 12px; }
#moteur #MiniTypeTransaction { border-bottom: 1px solid #209cd3; }
#moteur #MiniGeolocalisation { border-top: 1px solid #209cd3; }
#moteur  .miniSelect{padding: 2px;}

.bg-cabinet { background: url($$_$$images/bg_cabinet.png) no-repeat; width: 462px; height: 180px; margin-top: 10px; }
.main-cab { width: 425px; margin: 0 auto; padding-top: 8px; position: relative; }
.main-cab p{text-align:justify;}
.main-cab p span{color:#209CD3;}
.main-cab p strong{color:#209CD3;color:#fff;}
.ttl-cab strong{color:#209CD3;}
.main-cab font { font-size: 11px; }
.ttl-cab { color: #209CD3; font-size: 15px; }
.main-cab .adrs { font-size: 14px; }
.main-cab .link-cab { position: absolute; font-size: 10px; right: 0; bottom: -36px; color: #209cd3; }
.main-cab .link-cab a { font-size: 10px; }

#right { float: right; width: 508px; }
.bg-right { background: #090909; border-radius: 10px; border: 1px solid #1f1f1f; padding: 10px 0 0px 6px;height: 560px; overflow: hidden; }



#mini_text{float:left; width:492px;}
#mini_text p{text-align:justify;}
#mini_text p a{font-weight:bold;  color:#209CD3;}
#mini_text p a:hover,#mini_text p a:hover  span{color: #f9b200;}
#mini_text p a span{font-weight:normal; color:#209CD3;}
#mini_text p.links{float:right; text-decoration:underline;}
#mini_text p.links a{float:right; text-decoration:underline;}
#mini_text p.links a:hover{text-decoration:none;}

.plus-cab {width: 404px;margin:0 0 30px 0; float:left; }
.plus-cab span { background: url($$_$$images/bg_leplus.png) no-repeat; width: 404px; height: 54px; text-align: center; line-height: 54px; font-size: 18px; margin: 15px 0; display: block; color: #fff; font-weight: bold; }

.video-cab {width:583px; float:left;}
.video-cab span { background: url($$_$$images/bg_video.png) no-repeat; width: 553px; height: 41px; line-height:16px; font-size: 14px; margin: 15px 0; display: block; color: #fff; padding:12px 0 0 30px;}
.video-cab span strong {font-size:16px; display:block;}

.bg-plaq { position: relative; float:left; background: url($$_$$images/bg_plaq.png) no-repeat; width: 243px; height: 105px; margin: 0 5px 10px 0; }
.bg-plaq .img-plaq { position: absolute; top: -10px; left: 5px; }
.bg-plaq .txt-plaq { text-align: center; width: 190px; padding: 25px 0 0 50px; font-size: 15px; }
.bg-plaq .txt-plaq a { font-size: 15px; }
.bg-plaq .estim-free strong { color: #209cd3; font-weight: normal; font-size: 15px; }
.bg-plaq .a-alerte strong { color: #ce032e; font-weight: normal; font-size: 15px; }
.bg-plaq .a-calc strong { color: #2ad61d; font-weight: normal; font-size: 15px; }
.bg-plaq .a-part strong { color: #7bb91c; font-weight: normal; font-size: 15px; }
.bg-plaq .a-fb strong { color: #1553a8; font-weight: normal; font-size: 15px; }
.bg-plaq .a-rss strong { color: #f58a0c; font-weight: normal; font-size: 15px; }
.bg-plaq .a-vendeur strong { color: #771e75; font-weight: normal; font-size: 15px; }
.bg-plaq .a-mobile font { color: #f9b215; font-size: 15px; font-size: 15px; }
.txt-plaq a:hover { color: #4f4f4f; }

#footer { width: 960px; text-align: left; margin: 0 auto 30px; background: none; float: none; border: none; }
.coords { text-align: center; font-size: 14px; padding: 10px 0 15px 0; }
.left-foot, .center-foot { text-align: center; border-bottom: 1px solid #4f4f4f; padding: 10px 0; }
.right-foot { text-align: center; padding-top: 10px; }

.ttl-foot { font-size: 11px; font-weight: bold; padding-bottom: 5px; }
.ttl-foot a { color: #fff; font-size: 11px; }

.link-foot a, .link-foot, .link-center a, .portefeuilleVilles, .portefeuilleVilles a { color: #4f4f4f; font-size: 11px; }
.link-center { color: #4f4f4f; }
.portefeuilleVilles h3 { display: inline}

.ttl-foot a:hover, .link-foot a:hover, .link-center a:hover, .portefeuilleVilles a:hover { color: #f9b215; }

/*Add Css*/
#MapMicrosoft .geolocInfo { color: #000; }
#RechPagesHaut .rechLiensPages a, #RechPagesBas .rechLiensPages a, #RechPagesHaut .rechLiensPages a span, #RechPagesBas .rechLiensPages a span { background: #f9b215; }
#Annonce_Ctn td#ColonneGauche { border: none; }
.contactAnn { background: #000; }

#MiniDivChampTextRef #MiniInputRef { background: #fff; border: 1px solid #35373a; width: 169px; color: #525252; font-size: 11px;padding: 2px; }
#MiniDivChampTextSurface .miniInputMin, #MiniDivChampTextSurface .miniInputMax { width: 75px;padding: 2px; }
#MiniRayon{display: block !important;}
#RechAffichage #RechAffichageListe { background: #209cd3; }
#RechAffichage #RechAffichageCarte, #RechAffichage #BiensVendus { background: #4f4e4f; }
#RechAffichage a:hover { color: #fff; }

#MiniBouton .boutonSubmit { font-size: 0; width: 141px; height: 35px; }
#navigue #FormContactAgence .inputSubmit, #navigue #ChampsBouton .inputSubmit { background: url($$_$$images/envoyer_$$FORM:LANG$$.gif) no-repeat; width: 141px; height: 35px; }

#right .selectionIndex_Ctn { border: 4px solid #fff; margin: 10px 6px 10px 0; }

#right .selectionDescr .selectionVille a strong { color: #f9b200; }
#Moteur .alerteNumber { margin: 0 0 0 -13px; }


/* */
.selectionIndex {margin:0;}
#right .selectionPhoto_ctn {width: 235px;height: 234px;margin:0;}
#right .selectionPhoto_ctn a.selectionPhoto { width: 235px; height: 234px; overflow: hidden; }


#right .selectionIndex_Ctn {width: 235px;height: 234px;}
#right .selectionDescr .selectionVille a {position: relative;display: inline;background: none;padding:0;height: auto;margin:0;bottom:0;width: auto;}
#right .selectionDescr{
padding: 0px 0 0 18px;
position: absolute;
bottom: 0px;
width: 217px;
height: 50px;
color: white;
font-size: 11px;
background: url(/z/webagency/slagenceX_packs/optimal6/images/cdc.png) repeat;
}
.selectionDescr .selectionVille{margin-top:2px;margin-bottom:0;}

#right .selectionDescr .selectionPrix{display: block;margin:0;color: #fff;font-size: 12px;}

#right .selectionNouveau {top:0;left:0;}

#right .selectionIndex_Ctn,
#right .selectionPhoto_ctn,
#right .selectionPhoto_ctn a.selectionPhoto,
#right .selectionPhoto img.selectionPhotoImg {height:156px;}


#moteur-int{}
#moteur-int .miniDiv{width: 170px; height: 50px; float: left; margin-right: 20px;}
#moteur-int .miniTitre,#moteur-int .miniDivSelect{display: block;float: none; width: auto;}
#moteur-int select.miniSelect {width: 110px;}
#moteur-int #MiniSituation, #moteur-int #MiniReference, #moteur-int  #MiniTypeTransaction{display: none;}
#moteur-int #MiniTypeBien{width: 120px;}
#moteur-int #MiniSurface{width: 130px;}
#moteur-int #MiniDivChampTextSurface .miniInputMin,#moteur-int #MiniDivChampTextSurface .miniInputMax {width: 55px;}
#moteur-int #MiniInputProximite2,#moteur-int  #MiniInputProximite3{display: none;}
#moteur-int #MiniInputProximite1{border: 1px solid #35373A;padding: 2px;width: 150px;}
#moteur-int #MiniProximite{width: 160px;}
#moteur-int #MiniRayon{width: 160px;}
#moteur-int #MiniBouton{width:141px;margin-right: 0px; }

/*lien en bas du site*/
.lienRef{ text-align:center; padding:10px 5px; float:left;color:#4F4F4F; border-top:1px solid #4F4F4F; margin-top:10px;}
.lienRef a{ font-size:11px; color:#4F4F4F;}
.lienRef a:hover{ text-decoration:underline;}
#navigue #SansPhoto {background:$$FICHE_BG_PHOTO$$;}


.selectionDescr .selectionTxt {display: none;}

.main-cab a{font-weight:bold;}
.main-cab a span{font-weight:normal;}
.main-cab a:hover span{color:#F9B200;}
.text-agence h3 strong{color:#F9B200;}
.text-agence span{color:#209CD3;font-weight:normal;}
.text-agence a{font-weight:bold;}
.text-agence a:hover span{color:#F9B200;}
.text-agence h1{font-size:17px;}
.text-agence p{text-align:justify;}

#contenuhaut{margin-bottom: 20px;}
#contenuhaut li{font-family: Arial, sans-serif;font-size: 14px;list-style: disc;text-align: justify;}
#contenuhaut p.gros{color: #209CD3;font-size: 16px;font-weight: bold;}
#contenuhaut a{color: #F9B200;font-size: 18px;font-weight: bold;}
#contenuhaut a:hover{text-decoration: underline;}



.rouge p{text-align: justify;}
.rouge p,.rouge a, .rouge strong{font-size: 14px;}
.rouge h3, .rouge strong{color: #cf032e;}
.rouge h2{color: #fff; background: #cf032e;padding: 5px;font-size: 22px;}
.rouge h3{font-size: 16px;text-align: center; font-weight: bold;}


.jaune p{text-align: justify;}
.jaune p,.jaune a, .jaune strong{font-size: 14px;}
.jaune h3, .jaune strong{color: #f9b215;}
.jaune h2{color: #fff; background: #f9b215;padding: 5px;font-size: 22px;}
.jaune h3{font-size: 16px;text-align: center; font-weight: bold;}


.main-cab .tag1{color: #cf032e;margin-right: 10px;font-size: 15px;}
.main-cab .tag2{color: #f9b215;margin-right: 10px;font-size: 16px;}
.main-cab .tag3{color: #771e75;margin-right: 10px;font-size: 18px;}
.main-cab .tag4{color: #79b51c;margin-right: 10px;font-size: 19px;}
.main-cab .tag5{color: #209cd3;margin-right: 10px;font-size: 13px;}

.main-cab-index .link-cab {}
.fb{}

#estim_left {float:left; width:450px;}
#estim_left ul {padding-left:20px;}
#estim_left ul li {list-style-type:circle;}
#estim_right {width:450px; float:right; margin-left:50px;}


/* fix cédric */
#DetailAnnonce h3, #DetailAnnonce h4,#Prix span,#MapMicrosoft #MapHead h4  {color: #209CD3;}
#Outils a:hover,#FancyBox_Ctn a:hover,#LiensRetour a:hover,.similaire a:hover  {text-decoration: none;color: #fff;}
#Outils a,#PermalienBloc span,#FancyBox_Ctn a,#LiensRetour a,.similaire a,.similaire a span   {color: #fff; text-decoration: underline;}

#MapMicrosoft {background: none !important; border: none !important;}
#MapMicrosoft .geolocInfo {color: white !important;padding-left:0 !important; background: none !important;}
#MapContent #MapNiveauZoom h4, #MapContent #MapNiveauZoom p, #MapMicrosoft #MapHead ul *, .VE_Pushpin_Popup_Title,#listeann .ad table .descGeoloc .prixGeoloc  {color: #209CD3;}
.VE_Pushpin_Popup_Body p.nbAnnBingMap{color: black;}

#Dpe .diagramme { height: 260px; }

.similaire_ctn { height: 280px!important;}

.videoNbr {width:110px; height:31px; background:url($$_$$images/picto_video.png) 0 0 no-repeat; line-height:37px; margin-top:-12px;}
.videoNbr a {font-size: 11px; color:#000; padding-left:5px;}
