body { margin: 0; padding: 0; background: #404040 url(../images/fd_body.gif) repeat-y center; }
div, td { font-family: Verdana, Arial, sans-serif; font-size: 11px; color: #000000; }
a { text-decoration: none; color: #ff9a00; }
a:hover { text-decoration: underline; }
img { border: none; }
#wrap { position: relative; margin-top: 30px; }
#footer { background: url(../images/footer.gif) no-repeat; width: 950px; height: 52px; }
#footer a { color: #ffffff; font-weight: bold; }
#footer .footer2 { color: #ffffff; }
#main { position: relative; width: 950px; background: url(../images/fd_main1.gif) repeat-y; }
#main2 { position: relative; width: 950px; background: url(../images/fd_main2.jpg) no-repeat; }
#main2 .min-height { position: relative; width: 10px; height: 420px; float: left; }
#main2  .content { position: relative; width: 930px; float: left; }
.lang td { background: url(../images/lang_fd.gif) repeat-x; color: #ffffff; }
.lang a.lg-vfr { padding: 0 20px 2px 30px; color: #d7d7d7; background: url(../images/flag_fr.gif) no-repeat; }
.lang a.lg-ven { padding: 0 10px 2px 30px; color: #d7d7d7; background: url(../images/flag_en.gif) no-repeat; }
.lang a.lg-ven:hover { background: url(../images/flag_en.gif) no-repeat 0 -15px; text-decoration: none; color: #ffffff; }
.lang a.lg-vfr:hover { background: url(../images/flag_fr.gif) no-repeat 0 -15px; text-decoration: none; color: #ffffff;  }
.slogan { background: url(../images/fd_titre.jpg) no-repeat; padding: 0 5px;  font-style: italic; }
h2 { color: #ff9a00; font-size: 18px; margin: 0; padding: 0; }
#photo { width: 404px; height: 304px; background: #ff9a00;}
#infos {
	margin: 0;
	padding: 0;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	height: 31px;
	z-index: 3;
	_position: absolute;
	_top: expression(eval(document.body.scrollTop));
}
#infos2 {
	width: 950px;
	background: url(../images/fd_head.gif) no-repeat;
	position: relative;
	height: 31px;
	overflow: hidden;
}
#infos2 a:hover, #footer a:hover { color: #FFFFFF; text-decoration: none; }
#infos2 td, #infos2 a {
	color: #c0bdc3;
	font-size: 10px;
	line-height: 25px;
}
#infos2 .RefMarquee { color: #bdbbc0; font-size: 9px; }
#infos2 a .LienRefMarquee { color: #ffffff; }
h1 { color: #f88f00; font-size: 14px; margin-left: 40px; margin-top: 20px; }
/* debut recherche */
h3 { margin: 0; color: #e18608; font-size: 13px; }
.tabTitre {
	padding: 2px 5px 2px 20px;
	background: url(../images/fdgras.gif) repeat-y;
	color: #ad5b06;
	font-weight: bold;
}
.selection { color: #e18608; font-size: 12px; }
.tabFond1 .tabFond1 img { border: 3px solid #bab9b9; }
.tabFond1 .tabFond2, .tabFond2 .tabFond2 { border: none; }
.tabFond2 { border: 1px solid #ff9f10; color: #bab9b9; }
.tabFond2 .tabTitre { padding: 2px 5px; border: none; background: #fae5c3; font-size: 12px; }
#table100 .tabFond2 { border: 1px solid #ff9f10; background: #ffeaca; }
#table100 #boitephraserecherche, #table100 #boitelegende, #table100 #boitetri { border: 1px solid #fb9f0c; background: #ffeaca; }
#table100 #boitephraserecherche .tabTitre, #table100 #boitelegende .tabTitre, #table100 #boitetri .tabTitre { background: #ffce89; color: #ffffff; }
#table100 #boitetri .soustitre, #table100 #boitelegende .soustitre { font-size: 10px; }
#table100 #boitetri .soustitre a, #table100 #boitelegende .soustitre a { color: #043764; text-decoration: none; }
#table100 #boitenavigationhaut, #table100 #boitenavigationbas { border: none; background: #4f365c; }
#table100 #boitenavigationhaut td, #table100 #boitenavigationbas td {
	padding: 3px 5px;
	border: none;
	color: #ffffff;
	font-weight: normal;
}
#table100 #boitenavigationhaut a, #table100 #boitenavigationbas a { border: none; color: #ffffff; font-weight: bold; }
#table100 #ligneplusinfoannonce td, #table100 #ligneplusinfoannonce td.soustitre { padding: 2px 5px; }
#table100 #lignevisuelannonce td, #table100 #lignevisuelannonce td.soustitre { padding: 2px 5px; }
#table100 #lignetitreannonce .tabTitre { font-size: 12px; }
/* fin recherche */
/* notaire */ 
.txtnotaire { padding: 2px 5px; background: #e0e0e0; font-size: 10px; }
/*calculette*/
.tabFond1 table.tabFond2 td { padding: 3px; }
 #emprunt_calculer, #mens_calculer, #nbmens_calculer {
	border-left: 1px solid #062a49;
	border-top: 1px solid #062a49;
	border-right: 2px solid #9f8ea0;
	border-bottom: 2px solid #9f8ea0;
	padding: 1px 6px;
	color: #FFFFFF;
	background: #745c75;
	font-family: verdana, arial, sans-serif;
	font-weight: bold;
}
/* guide */
.txtTitre3 { color: #745c75; font-weight: bold; }
.gras {
	padding: 2px 5px 2px 20px;
	background: url(../images/fdgras.gif) repeat-y;
	color: #745c75;
	font-weight: bold;
}
.gras u { text-decoration: none; }
.table_news, .encadre table {
	border-top: 1px solid #ff9f10;
	border-left: 1px solid #ff9f10;
	border-bottom: none;
	border-right: none;
	background: #e0e0e0;
}
.table_news td, .encadre td {
	border-bottom: 1px solid #ff9f10;
	border-right: 1px solid #ff9f10;
	border-left: none;
	border-top: none;
	background: #e0e0e0;
	font-size: 10px;
}
.encadre {
	border: 1px solid #ff9f10;
	padding: 5px;
	background: #ffeaca;
	line-height: 14px;
}
.encadre .gras {
	padding: 0;
	margin-bottom: 5px;
	border: none;
	background: #ffeaca;
	color: #745c75;
	line-height: 12px;
}
.encadre a { color: #2D4796; }
.table_news .gras {
	padding: 3px 5px;
	margin: 0;
	background: #ffce89;
	color: #ffffff;
	line-height: 12px;
}
/* plan */
#plan { margin: 100px 0 40px 100px; font-size: 12px; }
#plan ul {
	margin: 0;
	padding: 0;
	width: 700px;
	list-style-type: none;
}
#plan ul li {
	border-bottom: 1px solid #ff9f10;
	padding: 3px 25px;
	background: url(../images/puce.gif) 5px 6px no-repeat;
	font-weight: bold;
}
#plan ul li ul { margin-left: 5px; width: 240px; }
#plan ul li ul li { border: none; background: none; font-weight: normal; }
#plan ul li  a { color: #bf7106; }
#plan ul li  a:hover { color: #e9bb7d; text-decoration: none; }
#plan ul li ul li a { color: #745c75; }
#plan ul li ul li a:hover { color: #034b8b; text-decoration: none; }
#plan .first { border-top: 1px solid #ff9f10; }
.part { border: 2px solid #4694d7; }
.in-left { background: url(../images/fd_right.jpg) no-repeat; }
#moteur { border: 1px solid #e2cead; background: url(../images/fd_moteur.jpg) no-repeat 0 50px; margin-bottom: 10px; }
#moteur td { font-size: 10px; padding-bottom: 9px; }
.imputForm { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; background: #edf3f6; border: 1px solid #60778b; }
#villes2 { position: relative; padding: 10px; background: url(../images/fd_ville.gif) #ffd799; border: 1px solid #ff9a01; }
#villes2 td { font-size: 10px; }
#villes td a { color: #FFFFFF; text-decoration: underline; }
#cdc2 { width: 470px; margin:0 auto; }