#reseau_pop{width:960px; margin:auto;margin-top:10px; border-top:solid #014098 1px;padding-top:10px;text-align:justify;font-size:10px;}
#logo_pop{float:left;width:100px;}
#bloc_lien{float:left;width: 860px;}