#POI {clear:both;margin-top: 10px;padding-top:10px;}
#POI ul {list-style-type: none;}
#POI_NoResults, #POI_NoBoundMarkers {display: none;padding-left: 5px;}
#POI_header {font-weight: bold;margin: 12px auto;padding: 1px 5px;font-size: 14px;}
.mess_info{Margin:12px 0px;}
.poi_col {float: left;padding: 0;margin: 0;margin-right: 5px;width: 31%;}
.poi_col>li {margin-bottom: 5px;}
.poi_sub_list {margin: 0;padding: 0;margin-left: 10px;}
.poi_col .poi_sub_list li, .poi_col li.base {padding: 0;padding-left: 35px;padding-top: 8px;height: 20px;margin: 0;background: url(/z/webagency/slagence_X_V4/images/poi/poi_small_icons.png) no-repeat;background-position: 0px 0px;}
.poi_col .poi_sub_list li input{margin-right:5px;}
.POI_Info_Window .poi_star, .poi_star_red {background: url(/z/webagency/slagence_X_V4/images/poi/star.gif) no-repeat;background-position: 0 0;float: left;width: 16px;height: 16px;}
.POI_Info_Window .poi_star_red {background-position: 0 50%;}
.POI_Info_Window .qype_logo_map img {border-style: none;margin: 2px 0 0 5px;}
#POI label {font-weight:bold;margin:5px;}
#POI .poi_col .poi_sub_lis .pharmacies { background-position: 0 -397px; }
#POI .hopitaux { background-position: 0 -348px; }
#POI .medecins { background-position: 0 -300px; }
#POI .cliniques { background-position: 0 -983px; }
#POI .boucheries { background-position: 0 -551px; }
#POI .boulangeries { background-position: 0 -46px; }
#POI .supermarches { background-position: 0 -502px; }
#POI .superettes { background-position: 0 -450px; }
#POI .creches { background-position: 0 0; }
#POI .maternelles { background-position: 0 -751px; }
#POI .ecoles { background-position: 0 -696px; }
#POI .colleges { background-position: 0 -649px; }
#POI .lycees { background-position: 0 -850px; }
#POI .universites { background-position: 0 -916px; }
#POI .culturel { background-position: 0 -801px; }
#POI .restaurants { background-position: 0 -1050px; }
#POI .saunas { background-position: 0 -99px; }
#POI .coiffeurs { background-position: 0 -148px; }
#POI .police { background-position: 0 -248px; }
#POI .sports { background-position: 0 -598px; }
#POI .bars { background-position: 0 -201px; }
#POI .discotheques { background-position: 0 -1120px; }
#POI .services { background-position: 0 -1187px; }
#POI .parkings { background-position: 0 -1253px; }
#POI .pharmacies { background-position: 0 -399px; }
#poi_loader {display: none; position: relative; z-index: 3001;}
.poi_loader_bg { background: #000;filter: alpha(opacity=20);opacity: 0.2;position: absolute;height: 230px;width: 100%;top: -230px;left: 0;}
.poi_loader_content_bg {
    position: absolute;
    /*background: transparent url('/z/webagency/slagence_X_V3/sv6_gen/images/engine/bg_layer_load.png') no-repeat;*/
    opacity: 0.5;
    filter: alpha(opacity=50);
    height: 163px;
    width: 283px;
    left: 168px;
    top: -200px;}
.poi_loader_content {background: #FFF;position: absolute;margin-top: 8px; margin-left: 9px;width: 267px;height: 147px;left: 167px;top: -200px;}
.poi_loader_content .info, .poi_loader_content h3 {text-align: center;}
.poi_loader_content h3 {font-size: 17px;font-weight: 700;margin-top: 15px; color: #C71D23;}
.POI_Info_Window {margin: -13px 7px 10px 0;}
.POI_Info_Window_content {margin: 5px 0;padding-bottom: 5px;color:#000;}
.POI_Info_Window_content div{color:#000;}
.POI_Info_Window_content nobr{color:#000;}
.gmnoprint{color:#000;}
.POI_Info_Window_content strong{color:#000;}
.POI_Info_Window_image {float: left;margin-right: 4px;}

h4#localiser_gmap {clear: none;width: 420px;float: none;}
#partenariat_qype {float: right;}
#partenariat_qype span {float: left;text-align: right;}
#partenariat_qype img {float: right;border-style: none;margin-left:5px;}
#partenariat_qype .external {background-image: none;}
#det_box_situation {padding-top: 5px;}
#default_map *{color:#000;}

.show-poi{width:200px;float:left;height:400px; overflow:auto;}
.check-poi {display:none; cursor:pointer; margin-bottom:10px;}
.map-Layer{float:left; position:relative; width:400px;height:400px;margin-left: 10px;}