// VAR COLORS
$color-body:#3a3932;
$color-content:#f3f3f3;
$color-block:#4c4b42;
$color-primary:#4c4b42;
$color-secondary:#ffff01;
$color-action:#f1f100;
$color-important:#3a3932;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#fff;