 *{padding:0; margin:0; color:#fff; font-size:12px; font-family:tahoma,sans-serif;}
img{border:0;}
a{text-decoration:none;outline:none; color:#afdf22;}
a:hover{text-decoration:none;}
ol,ul{margin:0; padding:0; list-style:none;}
.clear{ clear:both;}
body{background:url(../images/bg_body.gif) 0 0 repeat-x #131313;}
/* le font face de site */
@font-face {
 font-family: 'BankGothicLtBTLight';
 src: url('$$_$$fonts/bank_gothic_light_bt-webfont.eot');
 src: url('$$_$$fonts/bank_gothic_light_bt-webfont.eot?#iefix') format('embedded-opentype'),
      url('$$_$$fonts/bank_gothic_light_bt-webfont.woff') format('woff'),
      url('$$_$$fonts/bank_gothic_light_bt-webfont.ttf') format('truetype'),
      url('$$_$$fonts/bank_gothic_light_bt-webfont.svg#BankGothicLtBTLight') format('svg');
 font-weight: normal;
 font-style: normal;

}
/* Structure generale */ 
    #global{width:950px; margin:0 auto;}
	#header{z-index:10; float:left; width:950px; position:relative; margin:0;padding:0; background:url(../images/visual.jpg) 0 46px no-repeat;}
	#content{position:relative; z-index:1; float:left; width:950px; background:#313131; padding:0 0 12px;}
	#contenu{ float:left; width:940px;  padding:11px 5px 0; min-height:400px;}
    #footer{display:table; height:274px; width:950px; margin:0 auto; padding:0; background:url(../images/bg_footer.gif) 0 0 repeat-x; }
    

/*================================ developement de la page index ==================================*/
/* developpement de block header */
   #header #logo{width:400px; float:left; padding:0; margin:25px  0 84px 30px;}
   #header h1 img{width:400px; height:82px; display:block; margin:0 auto;}
   #header #drap{ position:absolute; padding-top:5px; width:111px; height:24px; right:1px; top:8px;}
   #header #drap img{width:29px; display:block; float:left;  margin-right:10px;}
   #header #drap img.last{ margin-right:3px;}
   #header #drap img.first{ margin-left:7px;}
/* Menu  */
   #header #menu{float:left; height:47px; background:url(../images/px_menu.gif) 0 0 repeat-x #96c145; width:100%; margin:0 0 0 0; padding:0;}
   #header #menu ul{height:38px; margin:0; margin:9px 29px 0; text-align:center; width:100%; }
   #header #menu ul li{float:left;position:relative;}
   #header #menu ul li a{ padding:0 27px; float:left; color:#b4b4b4; height:38px; line-height:38px; font-size:12px; font-weight:bold; font-family:verdana, Arial,sans-serif;}
   #header #menu ul li a.m1{ border-radius:8px 8px 0 0 ; -moz-border-radius:8px 8px 0 0; -webkit-border-radius:8px 8px 0 0; -khtml-border-radius:8px 8px 0 0; behavior:url(../styles/pie/PIE.HTC);}
   #header #menu ul li a.m1:hover{color:#fff;background:#343434;text-decoration:none;}
   #header #menu ul li a:hover{ text-decoration:underline;}
 /* sous menu */
   #header #menu .sous_menu{z-index:999; display:none;  position:absolute; left:0; top:38px;  padding:0 0 14px 32px;width:550px; float:left; text-align:center; background:url(../images/bg_sous_menu.gif) 0 0 repeat-x #9dca48;}
   #header #menu .sous_menu ul{height:29px;  padding:0; margin:0;}
   #header #menu .sous_menu  ul li a,#header #menu .sous_menu2  ul li a{font-size:12px; font-weight:bold; height:29px; line-height:29px;  margin-bottom:9px; display:block; color:#fff; padding:0; margin:0; font-family:verdana,sans-serif;}
   #header #menu .sous_menu  ul li.sep{ float:left; color:#fff;padding:0 5px; height:29px; line-height:27px; }
   
 /* sous menu 2*/
    #header #menu .sous_menu2{ display:none; position:absolute; height:29px; left:0; top:38px;  padding:0 0 0 32px;width:458px; float:left; text-align:center; background:url(../images/bg_sousmenu2.gif) 0 0 repeat-x #9dca48;}

    
 /*  developement le block content */  
 
/* le block contLeft */
    #content #contLeft { float:left; width:478px; padding-top:35px;}
    #content #contLeft h2{margin:0 0 13px 19px; width:184px; height:14px;text-indent:-99999px; background:url(../images/search.gif) 0 0 no-repeat; font-family:Helvetica,sans-serif; color:#fff; font-size:0;}
    #content #contLeft #miniMoteur{padding:35px 0 0 19px; position:relative; background:url(../images/bg_moteur.gif) 0 0 repeat-x #9a9a9a; float:left; width:459px; height:202px;}
    #content #contLeft #miniMoteur p.ref{clear:both; color:#fff; font-size:11px; float:left;width:425px; margin-top:28px;}
    #content #contLeft #miniMoteur p.ref a{text-decoration:underline; float:right; color:#9dca48; font-size:11px; float:right;}
    #content #contLeft #miniMoteur p.ref a:hover{text-decoration:none; }
    #content #contLeft #miniMoteur .critere{text-decoration:underline; position:absolute; color:#9dca48; font-size:11px; top:164px; right:33px;}
    #content #contLeft #miniMoteur .critere:hover{text-decoration:none; }
    #contLeft #textAccueil{float:left; width:459px;padding:5px 0 3px 19px;}
    #contLeft #textAccueil h1{font-weight:tahoma,sans-serif; font-size:12px; font-weight:bold; color:#afdf22;}
    #contLeft #textAccueil p{ font-size:12px; color:#fff;}
    #contLeft #textAccueil p.links {padding:5px 0 0;}
    #contLeft #textAccueil p.links a{ font-size:12px; color:#afdf22; text-decoration:underline;}
    #contLeft #textAccueil p.links a:hover{ text-decoration:none;}
    #contLeft .agence{margin-left:7px; font-size:14px;font-weight:bold;  width:219px; height:67px; float:left; background:url(../images/agence.png) 0 0 no-repeat; padding:8px 0 0 9px;}
    #contLeft .agence span{margin-top:7px; font-size:12px; display:block; font-weight:normal;}
    #contLeft .agence a {font-size:12px; color:#fff; text-decoration:none;}
    #contLeft .agence a:hover {font-size:12px; color:#fff; text-decoration:underline;}
    #contLeft .alert{ font-size:14px;font-weight:bold;width:219px; height:67px; float:right; background:url(../images/alert.png) 0 0 no-repeat; padding:8px 0 0 9px;}
    #contLeft .alert span{font-size:12px;font-weight:normal; display:block; }
    #contLeft .alert a {font-size:12px; color:#fff; text-decoration:none;}
    #contLeft .alert a:hover {font-size:12px; color:#fff; text-decoration:underline;}
 
/* le block contRight */
    #content #contRight{ float:right; width:463px; padding-top:35px;}
    #content #contRight h2{margin:0 0 13px 25px; width:167px; height:14px;text-indent:-99999px; background:url(../images/select_fr.gif) 0 0 no-repeat; font-family:Helvetica,sans-serif; color:#fff; font-size:0;}
    #content #contRight #carte{width:463px; background:#9a9a9a;padding:20px 0 22px;margin-top:3px; float:left;}
    #content #contRight #carte img{width:408px; display:block; margin:0 0 0 26px;}
/* coup de coeur*/
	#blocCdc {position:relative; width:463px; min-height:237px; float:left; margin:0 0 12px;padding:17px 0 0 0;}
	#blocCdc h2{z-index:2;position:absolute; top:8px; left:248px;width:183px; height:22px;}
    #coupCoeur{width:437px; min-height:217px;float:left; margin:0 24px 0 0; padding:20px 0 0 26px; background:#9a9a9a;}
	#coupCoeur .div-cdc{width:437px; min-height:140px;float:left; margin:0 0 0 0;}
	#coupCoeur .div-cdc *{ color:#fff;}
	#coupCoeur .div-cdc .photo-cdc{width:257px; float:left;margin-right:15px;}
	#coupCoeur .div-cdc .photo-cdc img{width:250px;height:151px; border-bottom:3px solid #b7e71e;padding:0; float:left;}
	#coupCoeur .div-cdc a span.ville-cdc{padding-top:11px; font-weight:normal;display:block; color:#000; font-size:11px; font-family:tahoma,sans-serif;}
	#coupCoeur .div-cdc a span.ville-cdc a:hover{color:#fff;}
	#coupCoeur .div-cdc .contenu-cdc{padding:0 6px 4px 0; width:155px; float:left;}
	#coupCoeur .div-cdc .contenu-cdc a{color:#9dca48;font-weight:bold; text-transform:capitalize; font-size:12px; font-weight:bold;}
	#coupCoeur .div-cdc .contenu-cdc a:hover *{text-decoration:underline;}
	#coupCoeur .div-cdc .nbpiece-cdc{display:none;}
	#coupCoeur .div-cdc .contenu-cdc *{color:#9dca48; }
	#coupCoeur p.espace-cdc .surface-cdc{font-weight:normal; font-size:11px; font-family:tahoma,sans-serif; color:#000;}
	#coupCoeur p.espace-cdc .nbpiece-cdc,#coupCoeur p.espace-cdc .surface-cdc{font-size:11px; font-family:tahoma,sans-serif;}
	#coupCoeur .div-cdc .contenu-cdc a{text-transform:uppercase; text-decoration:none;}
	#coupCoeur .div-cdc .contenu-cdc .cdc_detail a{text-transform:none; text-decoration:none;}
	#coupCoeur .div-cdc .contenu-cdc a:hover{color:#fff;}
	#coupCoeur .div-cdc .descriptif-cdc{ display:none;min-height:30px; color:#000; font-size:11px; padding:3px 0 0; text-transform:lowercase;}
	#coupCoeur .div-cdc p.prix-cdc{padding:10px 0 9px;font-weight:normal;font-size:12px; color:#000;}
	#coupCoeur .div-cdc .cdc_detail {text-align:left; background:url(../images/picto-detail.png) 0 50% no-repeat; padding:0 0 5px 13px;}
	#coupCoeur .div-cdc .cdc_detail a{display:inline; }
	#coupCoeur .div-cdc .cdc_detail a:hover{display:inline; text-decoration:none;}
	#coupCoeur .div-cdc .cdc_detail a span{text-decoration:underline;display:inline;font-weight:normal; font-family:tahoma,sans-serif; font-size:12px;}
	#coupCoeur .div-cdc .cdc_detail a span:hover{text-decoration:none;display:inline;font-weight:normal; font-family:tahoma,sans-serif; font-size:12px;}
	#coupCoeur p.parag{color:#000; font-size:12px;}

/* developpement de block footer */
	#footer #adresse { width:950px; text-align:center; color:#343434; font-size:12px; font-family:tahoma,sans-serif; padding:1px 0 20px;}
	#footer .footer-left  {float:left; width:250px; margin:0 0 0 7px;}
	#footer .footer-left h3{ font-weight:bold; color:#343434; font-size:12px; font-family:tahoma,sans-serif;}
	#footer .footer-left p{ font-weight:bold; color:#343434; font-size:10px; font-family:tahoma,sans-serif;}


    
	#footer .last-footer {margin:0; padding:0; float:right; width: 426px; }
	#footer *{color:#343434; font-size:11px;}
	#footer .last-footer a { text-decoration:none; font-size:11px; color:#343434; }
	#footer .last-footer a:hover {text-decoration:underline;}
	#footer .last-footer span{color:#343434;}
/* PAGE OUTILS */
		.accordion_content {background:none; color:#000;}
		.accordion_content .inputCalcul{ color:#fff;}
		.accordion_content em{opacity:1;}
		.ttl-pages,.titreInfosLegales{width:940px; font-family:Arail,sans-serif; font-weight:bold; margin-bottom:5px;font-size: 17px; font-weight: normal;padding: 5px 0px;text-transform: uppercase;margin-top: 10px; text-align:left;}

	/* page agence */
	.agImmoPortefeuille p,.agImmoPortefeuille td h4{color:#000;}
/* page recherche */
    #RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .prox{background-position:0 0;}
	form#Tri select option, form#Tri select optgroup,form#Tri select option, form#Tri select optgroup option,form#Tri select  option{padding:0 0 0 3px; color:#525252;}
	#Annonce_Ctn td#ColonneGauche,#Annonce_Ctn td#ColonneDroite{background:none;}
	#RechResultat .blocAnnonce,#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .contactAnn_ctn{background:#343434;}
	#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .metro_Ctn *{color:#fff;}
	#RechResultat .blocAnnonce .typeBien_Ctn *{color:#343434;}
/* page detail */
	#DetailAnnonce {position:relative; z-index:1;padding:0;}
	#DetailAnnonce .col1,#DetailAnnonce .col2,#DetailAnnonce .col3{display:table-cell;}
	#SansPhoto{border:1px solid #fff;}
	#content #MapMicrosoft #MapHead h4,#content #MapMicrosoft *{color:#000;}
	#content #SansPhoto{background-position:50% 50%;}
	
	
	
	/* page outils */
	#Contenu  #Outils .accordion_content input{font-weight:normal;}
	#Contenu #Outils h3{font-family:Arail,sans-serif; font-size:13px; padding:8px 0 4px 0; font-weight:normal; color:#fff;}
	.accordion_content .inputText{background:#fff; color:#525252;}
	#FormContactAgence .inputText, #FormContactAgence .inputSelect, #FormContactAgence .inputTextarea{font-weight:normal;}
	
	
	#FormContactAgence .col1,#FormContactAgence .col2,#FormContactAgence .col3{display:block;}
	#FormContactAgence td.message_ctn{border-bottom:none;}
/* mentions legal */
	#MentionsLegales h2 {display:block; width: 99%;background:#87CB37; font-size: 12px; color:#343434;  letter-spacing: 0;padding:5px 0 5px 8px;margin: 10px 0;text-align: left;text-transform: none;font-family: tahoma,sans-serif; text-transform: none;}
	#MentionsLegales a{font-weight:normal; font-size: 12px; color:#afdf22;}
	#MentionsLegales a:hover{text-decoration:none;}

  
/* page contact formulaire */
	#FormContactAgence .inputSubmit {color:#000;background:#10979F; font-family:Arail,sans-serif; width:175px; height:27px; font-weight:normal;}
	#ChampsBouton .inputSubmit{color:#000; font-family: Arail,sans-serif; width:148px; height:27px; font-weight:normal;}
	#Moteur #MoteurBouton .inputSubmit{color:#000; font-family: Arail,sans-serif; width:148px; height:27px; font-weight:normal;}
	#Moteur{text-align:center; margin-top:50px;}
	.obligatoire{color:#fff;}
    #cnxtag{display:none;}
/*autres*/
	.ttl-pages { color:#afdf22; font-size: 16px; text-transform: uppercase; font-weight: bold; padding-top:10px; border-bottom:1px dotted #fff;}
	ul#Plan li.plan { display: none; }
	
	.ttl-pages-estim { color:#afdf22; font-size: 16px; text-transform: uppercase; font-weight: bold; padding-top:10px; border-bottom:1px dotted #000;}
	/* page recherche */
	#RechercheContainer #AlerteEmail #AlerteForm input.alerteBt {cursor:pointer;color:#343434;}
	#RechercheContainer #AlerteEmail #AlerteForm input.alerte {color:#525252;}
	#RechResultat .blocAnnonce .detailAnn{background:#000;}
	#RechHaut form#Tri select{color:#000;}
	#RechPagesHaut .rechLiensPages a, #RechPagesBas .rechLiensPages a {color:#000;}
	#RechPagesHaut .rechLiensPages a span, #RechPagesBas .rechLiensPages a  span{color:#000;}
/* page detail */	
	
	#Annonce_Ctn td#ColGauche{width:70%;}
	#DetailAnnonce #ChampsBouton .inputSubmit{margin-right:7px; background:url(../images/envoyer.gif) 0 0 no-repeat; height:26px; width:117px; font-size:14px;}
	#Form_Ctn .inputText, #Form_Ctn .inputTextarea{color:#525252;}	
	#Annonce_Ctn td#ColGauche,#Annonce_Ctn td#ColDroite{border:none;}
	#Annonce_Ctn td#ColDroite{background:#000; }


/*PAGES ESTIMATION + CONTACT + MESSAGE == TABLEAUX FORMULAIRES*/
		.tabFond1{border-color:#00AA00; border-width:0px; border-style:solid; padding:2px; width:100%;}
		 textarea {width:500px; height: 100px;border:1px solid #000; }
		.tabFond2{border-color:#00AA00; border-width:1px; border-style:solid; padding:2px; font-size:14px; }
		.tabTitre{background:url(../images/px_facebook.jpg) 0 0 repeat-x; font-size: 14px; color:#fff; font-weight: bold; letter-spacing: 0em; 	padding:3px 0 4px 8px; 	margin: 10px 0; text-align: left; font-family: tahoma, Arial, Helvetica, sans-serif; 	text-transform: uppercase; }
		.tabTitre *{color:#fff; font-size: 14px; font-family: tahoma, Arial, Helvetica, sans-serif; }
		.estimationNomAgence {display:none;}
		.tabPrint{color:#5C5E5D; font-size: 13px; font-family:Arial, Helvetica, sans-serif; border:1px solid #00AA00;}
		.tabFond1 td input{margin:10px 0 5px 0;border:1px solid #000; padding:2px; }
		.tabFond1 td select{margin:5px 0 5px 0;border:1px solid #000; padding:2; }
		.tabFond1 td select option {margin:3px 0 3px 0; padding:2px;}
		.tabFond1 table{ width:97%;}
		.imputForm {margin:10px 0 10px 0;border:1px solid #000; padding:3px; }
		.imputForm option {margin:3px 0 3px 0; padding:2px;}
		#FormContactAgence .inputText, #FormContactAgence .inputSelect, #FormContactAgence .inputTextarea{background:#fff; color:#525252; border:1px solid #D4D7D3; font-weight:normal; font-size:11px; }
		#FormContactAgence .inputSelect  option{ font-weight:normal; font-size:11px; color:#525252;}
		#FormContactAgence .inputSubmit{width:117px; height:26px; background:url(../images/envoyer.gif) 0 0 no-repeat; color:#fff;}	
		#content .BoutonFormContact{border:none; margin-right:23px;}
		 .messageNomAgence{margin-bottom:5px; display:block;}
/* page reservation */
        #reservation h2{color:#afdf22; font-size:14px; margin:0 0 8px 10px; text-transform:uppercase;}
		#recrut{width:300px; height:160px; margin:50px auto 0; text-align:center; padding:90px 20px 0 20px; background:#afdf22;}
		#recrut p{ color:#fff;padding:0; }
		#recrut a{width:300px; margin:20px auto 0; text-align:center; padding:0 20px 0 0;color:#fff; font-size:12px;}
	    #MentionsLegales a{color:#5B9217;}
/* envoyer à un ami */
        #Wrap .inputText,#Wrap .inputTextarea{background:#fff; border:1px solid #000; color:#525252;}
        #Wrap .inputSubmit {width:117px; height:26px; background:url(../images/envoyer.gif) 0 0 no-repeat; color:#fff;}
 /* plan de site */

     #Plan_Ctn .planSite{display:none;}
	 #Plan_Ctn h2{font-size:16px;}
     #Plan_Ctn  a{font-size:11px; font-family:Arail,sans-serif;}
     #Plan_Ctn  a:hover{text-decoration:none; }
	 ul#Plan li a:hover,ul#Plan li a{background-position:0 0;}
         #Plan_Ctn  a span{font-family:Arail,sans-serif; color:#fff;text-decoration:none; font-size:13px;}
     #Plan_Ctn  a:hover span{color:#B3B3B3;text-decoration:none;}
    ul#Plan li.planVentes{display:block;}
    ul#Plan li{border-bottom:none;}
    ul#Plan li.sep{display:none;}
	ul#Plan li a{padding:0 0 0 15px; }
	#Plan #sous_menu1,#Plan #sous_menu2,#Plan #sous_menu3,#Plan #sous_menu4{margin:0 0 0 20px;}	

	#link{margin:20px}
	#contentText { padding:10px 0 0 0;}
	#contentText p{padding:0 0 10px;}
	#contentText h2{ font-size: 15px;font-weight: bold;color: #329EA4;text-transform: uppercase; margin:15px 0; border-bottom:1px dotted #000;}
	#contentText ul{ padding:0 10px 10px 10px;}
	#contentText ul li{ background:url(../images/puce.gif) 0 10px no-repeat; padding:4px 0 4px 10px}
/* agence */
    #AgImmoDroite .cv_ecrire a, #AgImmoDroite .cv_estim a{color:#343434;}
	  #listeann .ad table .descGeoloc *{color:#000;}
/* contact ami */
#Wrap #Ctn{background:#343434;}
#Wrap td.col1,#Wrap .obligatoire{color:#fff;}
	
/* nos refernces */
#NosReferences {}
#NosReferences .blocref {width:940px; min-height: 220px; background:#000;margin-top:20px; margin-bottom:20px;padding-top:20px;}
#NosReferences .blocref img {float:left; margin-right:20px;margin-left:10px;border:solid 2px #fff;}
#NosReferences .blocref p sup {font-size:10px;}
#AgImmo_Ctn p{padding:5px 0;}
#intro{padding:0 0 5px 0;clear:both}
#intro p{padding:0 0 5px 17px;font-size: 11px;}



	
	

	
	
	
	
	
	
	
	