*{ margin:0; padding:0; font: 11px verdana;}
li{list-style:none;}
a{text-decoration:none; cursor:pointer; color:#BA0000;}
a:hover{ color:#F05959;}
.clear{ clear:both;}
img{border:none}
body{background-color:#ffffff;}

#globale{width:1018px;margin:0 auto}

/* header */
 #header{ background:url(../images/bg_header.jpg) no-repeat #fff; width:100%;height:306px; position:relative;z-index:99999;}
 #refMarque{ width:100%; overflow:hidden;}
 #navigationResultats{ padding:10px 0 5px 10px; width:100%}
  #navigation{ float:left; width:730px; overflow:hidden; padding:10px 0 5px 10px}
   p#acceuil{ padding:2px 0 0 60px}
 		#acceuil a{font:10px verdana;font-weight: bold;color:#fff}
 			#acceuil a:hover{color:#fff;text-decoration:underline;}
   p#langue{text-align: right; margin:-8px 21px 0 0}
   #logo{ float:left;display:inline;margin:30px 0 0 0px;}
   		h1{margin:0px 0 0 35px;}
			h1 a img{display:block}
  	    address{width:203px;text-align:center; margin:-8px 0 0 35px; line-height:9px;font:10px verdana}
   #coupCoeur{margin:26px 0 0 0;}
   #menu{clear:both;width:1000px;margin:1px 0 0 8px;padding:0 0 0 1px; position:absolute; left:0; top:235px;height:70px;overflow:hidden;z-index:9999999;}
   /*  #menu li{float:left;position:relative;} 
   	 #menu li a{background:url(../images/bg_champMenu.png) no-repeat;_background:none;
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/bg_champMenu.png', sizingMethod='crop');width:125px;height:37px;display:block; padding:38px 0 0 0; text-align: center;font:14px arial;color:#fff;font-weight:bold}
   	 #menu li a.attacher{width:125px;height:50px;padding:25px 0 0 0;}
   	 #menu li a:hover{background: url(../images/bg_champMenuHover.png) no-repeat;_background:none;
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/bg_champMenuHover.png', sizingMethod='crop');width:125px;height:50px;padding:25px 0 0 0; background-color#000}
	 #menu li a.attacher:hover{width:125px;height:59px;padding:16px 0 0 0;}*/
/* cont */	 
 #cont{width:100%;background:url(../images/bg_contenuRepeat.jpg) repeat-y;}
	#contG{background:url(../images/bg_contenu.jpg) no-repeat;padding:8px 0 0 0;overflow:hidden;zoom:1}
		#cont p#miseAjour{ color:#bfbfbf;font:10px verdana;font-weight:bold; float:left;padding: 0 0 0 13px}
		#AnnoncesDefilantes{color:#bfbfbf;font:10px verdana; width:830px; margin:0 0 0 5px; float:left; overflow:hidden;}
		#AnnoncesDefilantes a{color:#bfbfbf;font:10px verdana;}
		#blocRecherche{float:left;width:251px;padding:18px 0 0 8px;}
			  #rech{padding:0px 0 0 6px;}
			  #recherche{background:url(../images/bg_moteurRechercheRepeat.gif) repeat-y;width:251px;}
				#rechercheD{background:url(../images/bg_moteurRecherche.gif) no-repeat;width:239px;min-height:372px; padding:16px 0 0 12px;}
				#rechercheD h3{ font-size:10px; font-weight:bold; color:#000; width:135px; padding:0 0 5px 0;}
				#rechercheD h4{ font-size:10px; font-weight:bold; color:#7d7d7d; width:165px;}
				#rechercheD2{display:none;background:url(../images/bg_moteurRecherche.gif) no-repeat;width:241px;min-height:378px; padding:10px 0 0 10px;}
				#plus{width:238px;background:url(../images/bg_moteurRechercheBas.gif) no-repeat;height:110px;padding:19px 0 0 13px}
					#plus p {background:url(../images/img_fleche.gif) 0 2px no-repeat;padding:0 0 0 14px;color:#fff}
					#visite{ margin:30px 0 0 0}
						#plus p a{color:#fff;text-decoration:underline;}
						#plus p a:hover{text-decoration:none;}

		#mapIndex{display:table;padding:18px 0 0 13px;width:710px;}
			#geo{margin:0 20px 0 15px;float:left}
			#mapIndex p span{font:10px verdana;color:#000;margin:15px 0 0 0;float:left}
			#img_carte{position:relative;top:-5px;left:0}
			
		#textAccueil{ padding:5px;}
		#textAccueil p{ text-align:justify; font-size:11px;}
		
/* footer */

#footer{background:url(../images/bg_footer.jpg) no-repeat;width:1018px;height:93px; overflow:hidden; padding:20px 0 0 0; position:relative;}
		 #footer p.adresse{ width:188px; padding:5px 0 0 35px; float:left; color:#fff; font-size:11px;}
		 #footer p span.adr{ background:url(../images/pictoMaison.gif) 0 3px no-repeat; padding:0 0 0 20px;}
		 #footer p span.tel{ background:url(../images/pictoTel.gif) 0 3px no-repeat; padding:0 0 0 20px;}
		 #footer p span.email{ background:url(../images/pictoEmail.gif) 0 3px no-repeat; padding:0 0 0 20px;}
		 #footer p span a {color:#fff; font-size:11px;}
		 #dPortefeuille{ float:left; width:730px; padding: 0 0 0 44px;}
		 #dPortefeuille h5{ float:left; width:240px; font-size:11px; font-weight:bold; color:#fff;}
		 * html #dPortefeuille h5{ width:300px;}
		 #dPortefeuille ul{ float:left;}
		 #dPortefeuille ul li{ float:left; padding:0 15px 0 0; color:#fff;}
		 #dPortefeuille ul li a{ color:#fff;}
		 #dPortefeuille ul li a:hover{ text-decoration:underline;}
		 #dPortefeuille .ListeVilles{float:left; width:605px; padding:25px 0 0 0; color:#ffa0a0; text-align:justify; line-height:10px;}
		 #dPortefeuille .ListeVilles *{ color:#ffa0a0;}
		 .logosnpi{ right:71px; bottom:11px; position:absolute;}
 		 .logosocae{ right:18px; bottom:8px; position:absolute;}
		 

/*coups de coeur*/
#cdcDef{ float:left; width:735px; padding:30px 0 0 25px;}
#Perspective{ width:234px; float:left; margin:30px 0 0 0; padding:6px 0 11px ; background:#E4E4E4; text-align:center;}
#Perspective span{padding:0; margin:2px 0 0 7px; float: left;}
#Perspective strong{font-weight:bold;}
#Perspective img{ border:3px solid #FFFFFF;}
.divc2c{ background:#e4e4e4; width:227px; height:148px; padding:6px 0 0 6px; float:left; margin:0 5px 0 0;}
.bgImage{ width:218px; height:118px; border:3px solid #fff;}
#div_C2C h3{ font-weight:bold; color:#000;}
#div_C2C h3 span{ font-size:10px; font-weight:normal; color:#000;}
.descriptionCdc{position:relative;display:none;}
.descriptionCdc .fondDescCdc{position:absolute;top:-35px;left:120px;z-index:10;background:url(../images/fondDescriptionCdc.png);height:129px;width:214px;}
* html .descriptionCdc .fondDescCdc{background:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src='/z/webagency/A_Pyxicom/acti38/images/fondDescriptionCdc.png', sizingMethod='scale');}
.descriptionCdc h2{position:absolute;top:-20px;left:134px;z-index:11;font-weight:bold;font-size:10px;color:#000;overflow:hidden;height:14px;width:180px;padding:0 3px 0 3px;background:#fff;}
.descriptionCdc .texteDescriptionCdc{position:absolute;top:-6px;left:134px;z-index:11;width:180px;height:62px;padding:1px 3px 3px 3px;overflow:hidden;background:#fff;}



/* Moteur geolocalisation */
.moteurGeoloc{width:228px;background:#E0E2F5;padding:4px 0 0 5px;}
.moteurGeoloc img{border:1px solid #B3C2D5;margin-bottom:3px;}
#geoloc_moteur_dyn01{}
#geoloc_moteur_dyn01 .col1{width:90px;font-family:verdana;font-size:11px;}
#geoloc_moteur_dyn01 select{width:130px;height:17px;border:1px solid #879CB6;font-family:verdana;font-size:10px;color:#7B7B7B;line-height:17px;}



/*TABLEAUX*/
.tabFond1{border-color:#FB921D; border-width:0; border-style:solid; padding:2px; font-family:Verdana, Arial, Helvetica, sans-serif;}
.tabFond2{border-color:#FB921D; border-width:1px; border-style:solid; padding:2px; font-size:12px; font-family:Verdana, Arial, Helvetica, sans-serif;}
.tabTitre{ background:url(../images/bgTitreMoteur.gif) repeat-x #8a0303; color:#fff; font-size: 11px; font-weight: bold; font-family:Verdana, Arial, Helvetica, sans-serif;padding:5px 0 8px 8px;}
.tabTitre *{color:#fff; font-size: 11px;}
.tabPrint{color:#000; font-size: 13px; font-family:Verdana, Arial, Helvetica, sans-serif; border:1px solid #009199;}
.tabFond1 td{ padding:3px 0;}


/* GUIDE PRATIQUE  */
.txtTitre3{font-size:12px; font-style:normal; font-weight:bold; color:#1E4BA6;}
.gras{font-size:12px; font-style:normal; font-weight:bold; color:#1E4BA6;}
.encadre{background-color:#FB921D; border-color:#313131; border-width:3px; border-style:solid; padding:2px; color:#000;}



/*Agence immobiliere*/
#CV h1,#CV #CvFoot,#CV #CvFoot #Links{background:url(../images/bgTitreMoteur.gif) repeat-x #8a0303;}
#CV #CvFoot #Links a,#CV #CvFoot #Links a.message,#CV #CvFoot #Links a.estimation{padding:3px 10px;border-right:1px solid #C21111;}
#CV #CvFoot #Links a:hover{background:#C21111;}
#CV #Agence{background: url(../images/listeag_fond_01.jpg) 0 0 repeat-x #fff;}
#CV #Agence #Coordonnees *{color:#000;}
#CV #Agence #Coordonnees label.cv_respag{display:none;}
#ListeAgencesImmobilieres .cadreAgence .coordsAgence p span.responsable{display:none;}
#CV .linkOut a{background:url(../images/carre1.jpg) no-repeat 0 5px; padding: 0 0 0 11px;}
#CV #Agence #Img_Ctn #Vitrine{border:1px solid #C21111;}
#TxtPublic p{padding-bottom:15px;}
#CV .carteSecteur{margin-left:55px;}

#Portefeuille01 h3 {border-bottom:1px solid #BFBFBF;font-size:1.4em;margin:0 0 10px;padding:0 0 5px; color:#B60000; font-weight:bolder;}

#Editeur {color:#000; font-size:11px; margin:10px 0 0 0;}
#Editeur h1 {color :#B60000; font-size :16px;}
#Editeur h1 span{color:#000; font-size :15px;}
#Editeur h2 {color :#B60000; font-size :14px;}
#Editeur h2 span{color:#000; font-size :13px;}
#Editeur h3 {color :#B60000; font-size :12px;}
#Editeur h3 span {color:#000; font-size :11px;}
#Editeur p {color:#000; font-size :11px;}
#Editeur p span{color:#000; font-size :11px;}
#Editeur a {color:#B60000; font-size :11px;}
#Editeur a : hover{color:#B60000; font-size :11px; text-decoration:underline;}
#Editeur ul{}
#Editeur lil{ color :#000; font-size :11px;}
#Editeur span *{color:#000!important; color:#000; font-size :11px;}
#Editeur table, #Editeur  td {border:none !important;padding:0; margin:0;}





/* plan + outils */
ul#Plan,ul#Outils{padding:2em 8em;border:none;}
ul#Plan li.planLi{}
ul#Plan li,ul#Outils li{padding: 0.2em 10px; border-bottom: 1px solid #FF0000;color:#FF0000;font-size: 12px;}
ul#Plan .plan{padding: 0.2em 0; border:none;background:none;}
ul#Plan li a,ul#Outils li a{color:#FF0000;height:19px;font-size: 12px;padding:6px 0 0 10px;margin:0;background:url(../images/print_fleche-02.gif) 0 8px no-repeat;}
ul#Plan li a:hover,ul#Outils li a:hover{color:#FF0000;height:19px;font-size: 12px;text-decoration:underline;}
ul#Plan li a.ssMenu{ padding:6px 0 0 25px; background:url(../images/print_fleche-02.gif) 15px 8px no-repeat;}
ul#Plan li ul li.subListVilles{ width:60%;}
ul#Plan li.plan{ border:none;}

/*détail corner*/
/*#DetailAnnonce{width:950px; padding:0 20px 0 0px; }*/



/*page diagnostic*/
#ContainPud{ background:none; padding:15px 0 0 0;}


/*panorama*/
#RechercheWrap{ background:none; padding:0 10px 0 0;width:730px;}
.blocAnnonce_wrap{ width:220px;}
.blocAnnonce{ width:220px;}
#RechercheContainer{margin-top:10px;width:730px;}
#RechHaut{margin:10px 0 0 0;}
td#ColonneGauche #ColonneGauche_Ctn #Outils #ListeOutils #Bookmark{ display:none;}
#RechercheContainer #AlerteEmail #AlerteForm {padding:10px 10px 0 100px;}

/*Geolocalisation*/

			#geoloc_moteur_dyn02{width:230px;float:left;padding:10px 0 14px 0;}
			#geoloc_moteur_dyn02 .col1{width:230px;}
			#geoloc_moteur_dyn02 p{ font-size:11px; color:#444;}
			#geoloc_moteur_dyn02 .idtypebien_ctn,#geoloc_moteur_dyn02 .villes_ctn{padding-top:7px;}
			#geoloc_moteur_dyn02 select{width:230px;height:16px;background:#929292;line-height:15px;border:0;padding-left:2px;color:#fff;}
			#geoloc_moteur_dyn02 select option{color:#fff;}
			#geoloc_moteur_dyn02 .bt_ctn{text-align:right;padding:10px 0 0 0;}
			
			
/*map*/
#MapMicrosoft{background:none;border:none;}


#ongletcarto {text-align:right;border-bottom:1px solid #ccc;margin-top:7px;}
#ongletcarto a {cursor:hand;}

#ongletgeoloc {width:97%; text-align:right;border-bottom:1px solid #ccc;margin:9px 0 0 13px;}
#ongletgeoloc span,#ongletcarto span{font-weight:bold;margin-right:5px;}
#ongletgeoloc a {cursor:hand;}

.VE_Pushpin_Popup_Title{display: none;}

/*Page Agence*/
#Editeur{ text-align:center;}
#Editeur p{ padding:10px 0;}
#Editeur p.topCentre{ text-align:center; font-size:12px;}
#Editeur p.basCentre{ text-align:centre; font-weight:bold; font-size:13px; width:350px; padding:10px 0 10px 185px;}
#Editeur p.resposable{text-align:justify; width:350px; padding:10px 0 10px 185px;}
#Editeur p.comentaire{ text-align:justify;}
#Editeur p strong{ font-weight:bold;}

/*page Diagnostic*/
#diagnostic{ padding:5px 0 10px 0;}
#diagnostic table{ margin:0 auto; width:711px;}
#diagnostic td{ text-align:justify;}
#diagnostic .font8
	{color:black;
	font-size:7.8pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
#diagnostic tr
	{mso-height-source:auto;}
#diagnostic col
	{mso-width-source:auto;}
#diagnostic br
	{mso-data-placement:same-cell;}
#diagnostic .style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
#diagnostic td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
#diagnostic .xl24
	{mso-style-parent:style0;
	font-size:7.8pt;
	text-align:center;
	vertical-align:middle;}
#diagnostic .xl25
	{mso-style-parent:style0;
	font-size:7.8pt;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid black;
	border-left:none;}
#diagnostic .xl26
	{mso-style-parent:style0;
	color:black;
	font-size:7.8pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid black;
	border-right:.5pt hairline black;
	border-bottom:1.0pt solid black;
	border-left:1.0pt solid black;
	background:silver;
	mso-pattern:auto none;
	white-space:normal;}
#diagnostic .xl27
	{mso-style-parent:style0;
	color:black;
	font-size:7.8pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid black;
	border-right:.5pt hairline black;
	border-bottom:1.0pt solid black;
	border-left:.5pt hairline black;
	background:silver;
	mso-pattern:auto none;
	white-space:normal;}
#diagnostic .xl28
	{mso-style-parent:style0;
	color:black;
	font-size:7.8pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt solid black;
	border-bottom:1.0pt solid black;
	border-left:none;
	background:silver;
	mso-pattern:auto none;
	white-space:normal;}
#diagnostic .xl29
	{mso-style-parent:style0;
	color:black;
	font-size:7.8pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:1px solid black;
	border-bottom: 1px solid #999999;
	border-left:none;
	white-space:normal;}
#diagnostic .xl30
	{mso-style-parent:style0;
	color:black;
	font-size:7.8pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:1px solid black;
	border-bottom:1px solid #000;
	border-left:.5pt hairline black;
	white-space:normal;}
#diagnostic .xl31
	{mso-style-parent:style0;
	color:black;
	font-size:7.8pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt solid black;
	border-bottom:none;
	border-left:none;
	white-space:normal;}
#diagnostic .xl32
	{mso-style-parent:style0;
	color:black;
	font-size:7.8pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:1.0pt solid black;
	border-left:1.0pt solid black;
	background:silver;
	mso-pattern:auto none;
	white-space:normal;}
#diagnostic .xl33
	{mso-style-parent:style0;
	color:black;
	font-size:7.8pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:1px solid black;
	border-bottom:1.0pt solid black;
	border-left:none;
	white-space:normal;}
#diagnostic .xl34
	{mso-style-parent:style0;
	color:black;
	font-size:7.8pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:1px solid black;
	border-bottom:1.0pt solid black;
	border-left:.5pt hairline black;
	white-space:normal;}
#diagnostic .xl35
	{mso-style-parent:style0;
	color:black;
	font-size:7.8pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt solid black;
	border-bottom:1.0pt solid black;
	border-left:none;
	white-space:normal;}
#diagnostic .xl36
	{mso-style-parent:style0;
	color:black;
	font-size:7.8pt;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:1px solid black;
	border-bottom:1.0pt solid black;
	border-left:.5pt hairline black;
	white-space:normal;}
#diagnostic .xl37
	{mso-style-parent:style0;
	color:black;
	font-size:7.8pt;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt solid black;
	border-bottom:1.0pt solid black;
	border-left:none;
	white-space:normal;}
#diagnostic .xl38
	{mso-style-parent:style0;
	color:black;
	font-size:7.8pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid black;
	border-right:1.0pt solid black;
	border-bottom:none;
	border-left:none;
	white-space:normal;}
#diagnostic .xl39
	{mso-style-parent:style0;
	color:black;
	font-size:7.8pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid black;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:1.0pt solid black;
	background:silver;
	mso-pattern:auto none;
	white-space:normal;}
#diagnostic .xl40
	{mso-style-parent:style0;
	color:black;
	font-size:7.8pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid black;
	border-right:1px solid #000;
	border-bottom:none;
	border-left:none;
	white-space:normal;}
#diagnostic .xl41
	{mso-style-parent:style0;
	color:black;
	font-size:7.8pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid black;
	border-right:1px solid black;
	border-bottom:none;
	border-left:.5pt hairline black;
	white-space:normal;}
#diagnostic .xl42
	{mso-style-parent:style0;
	color:black;
	font-size:7.8pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:1.0pt solid black;
	background:silver;
	mso-pattern:auto none;
	white-space:normal;}
#diagnostic .xl43
	{mso-style-parent:style0;
	color:black;
	font-size:8.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid #000;
	border-right:none;
	border-bottom:1.0pt solid black;
	border-left:1.0pt solid black;
	white-space:normal;}
#diagnostic .xl44
	{mso-style-parent:style0;
	color:black;
	font-size:8.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid black;
	border-right:none;
	border-bottom:1.0pt solid black;
	border-left:none;
	white-space:normal;}
#diagnostic .xl45
	{mso-style-parent:style0;
	color:black;
	font-size:8.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid black;
	border-right:1.0pt solid black;
	border-bottom:1.0pt solid black;
	border-left:none;
	white-space:normal;}

#DetailAnnonce td#ColonneDroite{padding:5px;}