$$REM$$
/*
====================================================================

//// <summary>Liste macros générales de votre site agences</summary>
//// <remarks>
//// <para>Démutualiser ce fichier pour modifier vos propres paramètres</para>
//// <para>Possibilité de créer de nouvelles macros si cela vous est nécessaire, ce fichier n'est pas exhaustif</para>
//// </remarks>
//// <update date="2008-10-09" author="lisbonne.siriphol">Création</update>

====================================================================
*/
$$END$$

/* 

$$REM$$
>> MACROS GÉNÉRALES (attention au chemin des fichiers)
====================================================================================
 ///////////////////////////// listez ici vos macros  /////////////////////////////
====================================================================================
$$END$$

$$A:COLONNE_GAUCHE_WIDTH=400px$$
$$A:COLONNE_PADDING=0px$$

$$A:PAGE_WIDTH=950px$$

$$A:PHOTO_WIDTH=380px$$



*/