/* $$DYN:ID3:NOFOOTER$$ */

div, td, .Marquee, .ListeVilles { font-family: Arial, Helvetica, sans-serif !important; }
.ListeVilles, .ListeVilles a { color: #fff !important; }

.BoiteAnnonce {
	border: none;
	width: 815px;
}

.DetailLibelleetPrix {
	background-color: #2f1c17 !important;
	height: 24px;
	margin-bottom: 6px;
	
}

.DetailFraicheur{float: left;margin:0; padding:0;}
.DetailImprimer{float: left;margin:0; padding:0;}

.DetailLibelleetPrix .DetailLibelle {
	color: #b59261;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: normal;
	line-height: 24px;
}
.DetailLibelleetPrix .DetailSurface { display: none; }
.DetailLibelleetPrix .DetailPrix {
	color: #b59261;
	font-size: 14px;
	line-height: 24px;
	margin-left: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

.DetailLibelleetPrix .DetailRefAnnonce {display: inline; color: #b59261; font-size: 14px; font-weight: bold; letter-spacing: normal; line-height: 24px; }

.DetailRefAnnonceLib { font-size: 14px; color: #b59261; font-weight: bold; text-transform: uppercase; }
.DetailDescriptif {
	padding: 5px 40px;
	font-size: 16px;
	width: 700px;
	margin: 0 auto; text-align:justify;
}

*+html .DetailDescriptif {width: 100%;}
.DetailPhoto {
	vertical-align: middle;
	text-align: center;	
}

img.DetailPhotoGdformat, .DetailPhotoPtformat img {
	border: 2px solid #999999 !important;
}

.DetailPhotoPtformat, .DetailPhotoPtformat table,  { text-align: left; }

.DetailInfoComplementaire {
	display: none;
	border: none;
}
.DetailInfoTitre {
	background-color: #2f1c17 !important;
	height: 20px;
	line-height: 20px;
	padding: 0 8px;
	color: #955334;
	font-size: 9px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: normal;
	width: auto;
}
.DetailInfoComplementaire table {
	border-top: 1px solid #2f1c17;
	border-left: 1px solid #2f1c17;
}
.DetailInfoComplementaire td {
	border-bottom: 1px solid #2f1c17;
	border-right: 1px solid #2f1c17;
}

.DetailImprimer {
	text-align: center !important;
	border-bottom: none !important;
}

.DetailImprimer a {
	margin-left:180px;
	display: block;
	width: 200px;
	height: 27px;
	line-height: 27px;
	text-transform: uppercase;
	color: #b59261;
	font-size: 9px;
	font-weight: bold;
	background: url($$_$$/images/bg_btnprint.gif) no-repeat;
	border-bottom: none !important;
	text-decoration: none; 
}

.DetailImprimer a { text-decoration: none; }

.DetailFormulaire table td {
	padding: 2px;
}

.DetailFormulaire input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin-bottom: 2px;
	border: 1px solid #999999;
}

.DetailFormulaire .Coord, .DetailFormulaire .Precisions {
	background-color: #2f1c17;
	height: 20px;
	line-height: 20px;
	padding: 0 8px;
	color: #955334;
	margin: 0;
	text-align: center !important;
}

.DetailFormulaire .btn {
	margin-top: 15px;
}

.DetailFormulaire .btn input {
	width: 160px;
	height: 27px;
	line-height: 27px;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 9px;
	font-weight: bold;
	background: url($$_$$/images/bg_btnprint.gif) no-repeat;
	border: none !important;
}
.DetailBack{display: none;}
.DetailBack a { color: #351b16; }
.DetailBack a:hover { color: #b59261; }
.DetailAgence { display: none; }
.DetailVisuels360, .DetailExclusif, .DetailFraicheurLib, .DetailProxLib { color: #3a1b16; }
.DetailSituation { display: none; }
.DetailFormulaireLib { display: none; }

#DetailPhoto img {border:2px solid #999999 !important;}