div, td, .Marquee, .ListeVilles { font-family: Arial, Helvetica, sans-serif !important; }
.ListeVilles, .ListeVilles a { color: #fff !important; }

.TitreBoiteMoteurClassic { display: none; }

.BoiteMoteurClassic {
	width: 815px;
	border: none;
	position: relative;
}
.MoteurTypeDeBien label { color: #fff; }

.BoiteMoteurClassic input, .BoiteMoteurClassic select {
	vertical-align: middle;
}

.BoiteMoteurClassic .imputForm, .BoiteMoteurClassic select {
	font-size: 10px;
	margin-bottom: 2px;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px inset;
}


.MoteurViager, .MoteurTypeDeBien, .MoteurSousTypeDeBien, .MoteurInvestir, .MoteurPieces, .MoteurChambres, .MoteurSituation, .MoteurSurface, .MoteurSurfaceTerrain, .MoteurReference, .MoteurNbPersonnes, .MoteurBudget, .MoteurBudgetVac, .MoteurEquipement, .MoteurPreliste, .MoteurCritereSup, .MoteurCarte, .MoteurPays, .MoteurListeVilles, .MoteurProximite, .MoteurRayon {
	font-size: 10px;
	padding-bottom: 6px !important;
	clear: left !important;
	color: #fff;
	font-weight: bold;
}


.TitreMoteurViager, .TitreTypeDeBien, .TitreSousTypeDeBien, .TitreMoteurInvestir, .TitreNombreDePieces, .TitreNombreDeChambres, .TitreMoteurSituation, .TitreMoteurSurface, .TitreMoteurSurfaceTerrain, .TitreMoteurReferencement, .TitreMoteurNbPersonnes, .TitreMoteurBudget, .TitreMoteurBudgetVac, .TitreMoteurEquipement, .TitreMoteurCritereSup, .TitreMoteurPays, .TitreMoteurListeVille, .TitreMoteurProximite, .MoteurRayon span {
 	background: url($$_$$/images/bg_barre.gif) repeat-x; height: 30px; 
	line-height: 30px; !important;
	padding: 0 8px;
	color: #f0efff;
	font-size: 11px;
	text-transform: lowercase;
	font-weight: bold;
	letter-spacing: normal;
	margin-bottom: 6px;
	display: block;
	border: 1px solid #562e24 !important;
}


.ZoneSaisie {
	font-family: Arial, Helvetica, sans-serif !important;
	letter-spacing: normal !important;
	font-size: 10px !important;
}
.Cp a { color: #f0efff; }


.MoteurRayon span {
	font-family: Arial, Helvetica, sans-serif !important;
}

.MoteurBouton {
	clear: left;
	text-align: right;
}
.MoteurBouton input {
	float: none !important;
}

.FormulaireTypeDeBien { 
	font-size: 10px; 
	color: #000000;
}