/* Config pour chaque BU By SLB (DataImmo) */

@media (min-width: 1200px) {
    .container {
        width: 1015px;
    }
}
/* Couleurs */
/******************Primary Color*********************************/
#estimation-app .btn.btn-primary {
    background: #FCB200; /*#14adcf primary color LCI*/
    text-shadow: 0 1px #EA9D01; /*#129ab8  primary Key darken 5% LCI*/
}

    #estimation-app .btn.btn-primary:hover, #estimation-app .btn.btn-primary:focus {
        background: #EA9D01;
    }

#estimation-app .spinner {
    border-left-color: #FCB200;
}

.primary-text, #editorial .editorial.news .block .readmore, #editorial .editorial.guide .block .readmore {
    color: #FCB200;
}

.primary-bg {
    background-color: #FCB200;
}

/**************Secondary Color******************/
#estimation-app .btn.btn-secondary {
    background: #494949; /*#22829e secondary color LCI*/
    text-shadow: 0 1px #3C3C3C; /*#1d7189  secondary Key darken 5% LCI*/
}

.secondary-text, #estimation-app label, #estimation-app #estimation-form-container #estimation-form.main.estimation {
    color: #494949;
}

.secondary-bg {
    background-color: #494949;
}

#estimation-app #estimation-sidebar-container #estimation-sidebar-icon,
#estimation-app #estimation-sidebar-container #estimation-sidebar-icon .fa {
    background: #494949;
}

#estimation-app .bootstrap-select .btn:focus {
    box-shadow: inset 0 0 0 1px #494949;
}

#estimation-app .btn.btn-default.active {
    background: #494949;
    border-right-color: #494949;
    border-bottom-color: #494949;
}

#estimation-app .choice, #estimation-app .inputs > input {
    border-color: #ccd1d9;
}

    #estimation-app .choice.active, #estimation-app .form-control:focus {
        border-color: #494949;
    }

#estimation-app .countdown .counter {
    background: #494949; /* ???? media media (min-width: 544px) and (max-width: 767px) */
}

#estimation-app .form-control {
    border-color: #ccd1d9;
}

#estimation-app .results .text-display, #editorial .editorial.news .block .title, #editorial .editorial.news .block .title > a, #editorial .editorial.guide .block .title, #editorial .editorial.guide .block .title > a {
    color: #494949;
}

#estimation-app .btn.btn-secondary:hover, #estimation-app .btn.btn-secondary:focus {
    background: #303030; /*#195f74  secondary Key darken 10% LCI*/
}

#estimation-app #estimation-breadcrumbs > li > .item {
    border-bottom-color: #48cfad;
    background: #48cfad;
    padding: 0.43rem 1.43rem;
}

    #estimation-app #estimation-breadcrumbs > li > .item:after,
    #estimation-app #estimation-breadcrumbs > li > .item:before {
        border-left-color: #48cfad;
    }

#estimation-app #estimation-breadcrumbs > li.active > .item, #estimation-app #estimation-breadcrumbs > li.active2 > .item {
    border-bottom-color: #48cfad;
    background: #fbfbfb;
    color: #333;
}

    #estimation-app #estimation-breadcrumbs > li.active > .item:after,  #estimation-app #estimation-breadcrumbs > li.active2 > .item:after {
        border-color: transparent transparent transparent #fbfbfb;
        transform: scaleY(2.9) translateX(-.7px);
    }

    #estimation-app #estimation-breadcrumbs > li.active > .item:before, #estimation-app #estimation-breadcrumbs > li.active2 > .item:before {
        border-color: transparent transparent transparent #e6e6e6;
    }

#estimation-app #estimation-breadcrumbs > li.active ~ li > .item, #estimation-app #estimation-breadcrumbs > li.active2 ~ li > .item {
    border-bottom-color: #fbfbfb;
    background: #fbfbfb;
    color: #333;
}


    #estimation-app #estimation-breadcrumbs > li.active ~ li > .item:after, #estimation-app #estimation-breadcrumbs > li.active2 ~ li > .item:after {
        border-color: transparent transparent transparent #fbfbfb;
        transform: scaleY(2.9) translateX(-.7px);
    }

    #estimation-app #estimation-breadcrumbs > li.active ~ li > .item:before, #estimation-app #estimation-breadcrumbs > li.active2 ~ li > .item:before {
        border-color: transparent transparent transparent #e6e6e6;
    }

#estimation-app #estimation-breadcrumbs > li:before,
#estimation-app .choice .title.radio:after {
    background: #48cfad;
}

#estimation-app .choice .title.checkbox:after {
    color: #48cfad;
}

#estimation-app .choice input[type="radio"]:checked + .title:before, #estimation-app .choice input[type="checkbox"]:checked + .title:before {
    border-color: #48cfad;
}

#estimation-app .form-group.invalid > label, #estimation-app .form-group.invalid checkbox .title {
    color: #e00034;
}

/*******************RESULTAT Design***************/
#estimation-app .resultFooterBack {
    background: #E6E9ED;
}

#estimation-app #estimation-form-container-eligible-agencie .eligible-agencie-bloc #estimate-pro-en-avant .eligible-agencie article {
    border-color: #fff;
}


#estimation-app .results .pricing .max, #estimation-app .results .pricing .min {
    font-size: 22px;
    font-weight: 600;
}

#estimation-app .results .pricing .amp {
    width: 1em;
    margin: 0;
    top: 0;
    font-size: 22px;
}

/**************Fonts******************/
#estimation-app .title {
    font-family: Source-Sans-Pro;
    font-weight: 600;
    font-size: 22px;
    color: #262626;
    letter-spacing: 0;
}

#estimation-app .subtitle {
    font-family: Source-Sans-Pro;
    font-weight: 200;
    color: #262626;
    letter-spacing: 0;
}

#estimation-app label {
    color: #262626;
}

#estimation-form .optin-with-yes, #estimation-app #estimation-sidebar-container #estimation-sidebar, #estimation-app p, #estimation-app .results .confidence > p, #estimation-app label, #estimation-app .btn, #estimation-app #estimation-breadcrumbs > li > .item, #estimation-app input, #estimation-app select, #estimation-app textarea, #estimation-app .choice .title {
    font-family: Source-Sans-Pro;
    font-weight: 400;
    font-size: 14px !important;
    letter-spacing: 0;
}

#estimation-app p, #estimation-app #estimation-sidebar-container #estimation-sidebar, #estimation-form .optin-with-yes {
    color: #494949;
    line-height: 20px;
}

#estimation-app .results .confidence > p {
    color: #494949;
}

#estimation-app .results .estimation-sent {
    font-family: Source-Sans-Pro;
    font-weight: 200;
    font-size: 14px;
    color: #494949;
    letter-spacing: 0;
}

#estimation-app .results .pricing {
    font-family: Source-Sans-Pro;
    font-weight: bold;
    font-size: 22px;
    color: #262626;
    letter-spacing: 0;
    margin-top: -10px !important;
    margin-bottom: -5px !important;
}

/**************Images******************/
#estimation-app .choice .icon.image.concrete {
    background: url(../../../../images/sl/vendors_import/estimationForm/icons/concrete.png) no-repeat 90% 50%;
    background-size: 50%;
}

#estimation-app .choice .icon.image.brick {
    background: url(../../../../images/sl/vendors_import/estimationForm/icons/brick.png) no-repeat 100% 50%;
    background-size: 80%;
}

#estimation-app .choice .icon.image.stone {
    background: url(../../../../images/sl/vendors_import/estimationForm/icons/stone.png) no-repeat 100% 50%;
    background-size: 80%;
}

#estimation-app .suggestions-list .as_container_search .asOuterContainer .bingLogoLight {
    background: url("../../../../images/sl/vendors_import/estimationForm/logos/bing.png") no-repeat 0 0;
    background-size: 49px 21px;
    z-index: 10;
}

#estimation-app .suggestions-list .as_container_search .asOuterContainer .as_img.address {
    background: url("../../../../images/sl/vendors_import/estimationForm/icons/pushpin-grayscale.png") no-repeat 25% center;
    background-size: 12px 16px;
    padding-right: 30px !important;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('http://www.seloger.com/z/produits/sl/assets/fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('http://www.seloger.com/z/produits/sl/assets/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),url('http://www.seloger.com/z/produits/sl/assets/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),url('http://www.seloger.com/z/produits/sl/assets/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),url('http://www.seloger.com/z/produits/sl/assets/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),url('http://www.seloger.com/z/produits/sl/assets/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
