body { margin: 0; padding: 0; background: url(../images/bg.gif) repeat; text-align: center; }
div, td { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #3c3a38; }
table  { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
input, select { vertical-align: middle; }
a { text-decoration: none; color: #2f2d2b; }
a:hover { text-decoration: underline; }
img { border: none; display: inline; }
form { margin: 0; }
.clear { clear: both; }
p { margin: 0; padding: 0; }

#wrap { position: relative; width: 980px; }
.left { background: url(../images/br_left_rep.gif) repeat-y; width: 15px; }
.right { background: url(../images/br_right_rep.gif) repeat-y; width: 15px; }
.main { width: 950px; background: #d5d2cf; text-align: left; }

#top { position: relative; background: url(../images/bg_top.gif) no-repeat; height: 32px; padding-bottom: 5px; }
#top td { color: #e6e5e5; vertical-align: top; text-align: center; line-height: 28px; }
#adresse { position: relative; background: url(../images/bg_top_foto.gif) no-repeat; height: 73px; }
.coordonne { position: absolute; font-size: 11px; color: #1b1916; top: 10px; left: 325px; line-height: 16px; }
#logo { position: absolute; top: 0; left: 15px; }
.acc a { background: url(../images/pic_maison.gif) no-repeat; height: 32px; line-height: 28px; text-align: left; padding-left: 20px; display: block; color: #e6e5e5; }

#menu { position: relative; height: 40px; overflow: hidden; font-size: 11px; }
#menu ul { margin: 0; padding: 0; list-style-type: none; }
#menu li { height: 40px; overflow: hidden; float: left; text-align: center; line-height: 40px; }
#menu a { display: block; height: 40px; background-repeat: no-repeat; }
#menu li a { line-height: 40px; text-align: center; color: #45423f; font-weight: bold; }
#menu a:hover { display: block; height: 40px; background-repeat: no-repeat; background-position: 0 -40px; text-decoration: none; color: #f9f1e8; }
#mn1 { background-image: url(../images/mn1.gif); width: 74px; }
#mn2 { background-image: url(../images/mn2.gif); width: 93px; }
#mn3 { background-image: url(../images/mn3.gif); width: 84px; }
#mn4 { background-image: url(../images/mn4.gif); width: 99px; }
#mn5 { background-image: url(../images/mn5.gif); width: 102px; }
#mn6 { background-image: url(../images/mn6.gif); width: 135px; }
#mn7 { background-image: url(../images/mn7.gif); width: 121px; }
#mn8 { background-image: url(../images/mn8.gif); width: 81px; }
#mn9 { background-image: url(../images/mn9.gif); width: 88px; }
#mn10 { background-image: url(../images/mn10.gif); width: 73px; }

#aujour { position: relative; background: url(../images/bg_aujourd.gif) no-repeat; height: 30px; }
.aujourd { background: url(../images/puce_aujourd.gif) no-repeat; padding-left: 35px; line-height: 30px; color: #c5c2bd; }
#bienvenue { background: #d3d0cd; line-height: 18px; padding: 15px 0 18px 15px; }
h1 { font-size: 14px; color: #535151; font-weight: bold; margin: 0; }
h2 { font-size: 22px; color: #1a1917; font-weight: normal; margin: 0; }
#presentation { background: #545250; }
#presentation p { padding: 15px; color: #d3d0cd; font-size: 11px; line-height: 16px; }

.accueil { padding: 25px 30px 0 0; font-size: 18px;  color: #edebe9; }

#noussituer { background: url(../images/bg_noussituer.gif) no-repeat; height: 55px; padding: 20px 0 0 70px; margin: 10px 0 0 25px; font-size: 14px; font-weight: bold; }
#noussituer a { color: #2f2d2b; }
#moteur { width: 425px; margin: 15px 0 0 25px; }
#moteur1 { width: 425px; background: url(../images/bg_moteur_rep.gif) repeat-y; }
#moteur2 { background: url(../images/bg_moteur.gif) top no-repeat; width: 425px; }


/**/
.tabFond1Mini { width: 320px; margin: 10px auto 0 auto; }
.tabFond1Mini td { color: #3c3c3c; vertical-align: top; padding-bottom: 10px; }
.tabFond1Mini .tabTitremini { width: 135px; text-align: left; }
.tabFond1Mini .tabTitremini span { padding-left: 5px; }
.tabFond1Mini .tabFond2mini { width: 185px; text-align: right; }
.tabFond2mini .typeBien, .tabFond2mini .Form { width: 180px; color: #3c3c3c; height: 20px; }
.tabFond2mini .budget { width: 45px; color: #3c3c3c; height: 15px; }
.bouton { padding-right: 35px; }
/*.separ-moteur { font-size: 4px; height: 4px; overflow: hidden; }
*//**/

#porte-feuille { width: 380px; margin: 28px 0 0 45px; line-height: 18px; }

#bloc_cdc { width: 425px; margin: 15px 0 0 15px; }

#contenu2 { position: relative; padding: 25px 25px; } 

#contenu_right { background: url(../images/bg_motaka.gif) top no-repeat #d5d2cf; }
#top-foot { position: relative; background: url(../images/top_foot.gif) repeat-x; height: 13px; }

#footer { position: relative; background: url(../images/bg_foot.gif) no-repeat; height: 68px; margin: 0 auto; width: 980px; }
#footer p { color: #fff; padding: 25px 35px 0 0; }
#footer a { color: #fff; }

/*recherche photo*/
.tabFond2 { 
	background-color: #fff;
}

.tabFond1 td {
	padding: 2px 5px;
}

.tabFond2 td {
	padding: 5px 10px;
}

.tabFond1 .selection, .tabFond2 .selection {
	color: #929292; 
	font-size: 14px; 
	font-style: italic;
}

.tabFond1 table { 
	text-align: left; 
}

.tabFond1 .tabFond2, .tabFond2 {
	background-color: #dadada; 
	border: none; 
}

#boitephraserecherche, #boitetri, #boitelegende { 
	background-color: #454545; 
}

.tabFond1 .tabFond2 .soustitre a, .tabFond1 .tabFond2 .soustitre { 
	color: #ec919d; 
	background: none; 
}

#boitenavigationbas, #boitenavigationhaut {	
	margin: 15px 0;	
	padding: 5px; 
	border-bottom: 1px solid #fff;
	background-color: #B20425; 
}

#boitenavigationbas .texte, #boitenavigationhaut td { 
	color: #fff; 
}

#boitenavigationbas a, #boitenavigationhaut a { 
	color: #909090; 
}

.tabFond2 .tabTitre b { 
	color: #cecece; 
}

.tabTitre {	
	padding-left: 5px; 
	background: #797979;
	color: #ffffff;	
	font-size: 12px; 
	line-height: 20px;
	border-bottom: 1px solid #a6a6a6;
}

#ligneplusinfoannonce a { color: #B20425; text-decoration: underline; }

h3 {
	color: #B20425;
	font-size: 16px;
}

#boitelegende .soustitre img {
	margin-bottom: 5px;
}

	/*estimation, message*/
.messageNomAgence, .estimationNomAgence { 
	color: #ff9832; 
	font-size: 14px; 
	line-height: 30px;
}

.tabFond1 input { 
	margin-bottom: 2px;
}

	/* guide */
#MenuGuide { 
	text-align: left; 
}
#MenuGuide table { 
	margin: 0 auto; 
}
#MenuGuide a { 
	font-weight: bold;
	color: #B20425;
	line-height: 20px; 
}

#MenuGuide a:hover { 
	
	color: #ff9832;
	line-height: 20px; 
}

#MenuGuide td { 
	text-align: left; 
}

#PageDossiers table { 
	margin: 0 auto; 
	width: 100%; 
}

#PageDossiers p { 
	margin: 5px 0; 
}

#PageDossiers td { 
	padding: 2px 5px; 
}

	/*guide*/
.txtTitre3 { 
	color: #474747; 
	font-weight: bold; 
	font-size: 12px; 
	text-align: left; 
}

.gras {
	padding: 2px 5px 2px 25px;
	background: url(../images/fdgras.gif) 0 3px no-repeat;
	color: #ff9832;
	font-weight: bold;
}

.gras u { 
	text-decoration: none; 
}

.encadre {
	border: 1px solid #dadada;
	padding: 5px;
	background: #797979;
	line-height: 14px;
}

.encadre .gras {
	padding: 0;
	margin-bottom: 5px;
	border: none;
	background: #797979;
	color: #ffffff;
	line-height: 12px;
}

.encadre a { 
	color: #030e77; 
}

.encadre a:hover { 
	color: #ffffff; 
}

.table_news strong { 
	color: #ff9832; 
}

.table_news, .encadre table {
	border-top: 1px solid #797979;
	border-left: 1px solid #797979;
	border-bottom: none;
	border-right: none;
	background: #9ca7bb;
}

.table_news td, .encadre td {
	border-bottom: 1px solid #797979;
	border-right: 1px solid #797979;
	border-left: none;
	border-top: none;
	background: #dadada;
	font-size: 10px;
	padding: 5px;
}
   
.table_news .gras {
	padding: 3px 5px;
	margin: 0;
	background: #ffce89;
	color: #ffffff;
	line-height: 12px;
}

	/*listevilles*/
.Infos { position: relative; width: 970px; text-align: center; padding-top: 5px; }
.ListeVillesContent { 
	position: relative; 
	width: 970px;
	text-align: left;
	margin: 0 auto; 
}

.ListeVilles { 
	position: relative; 
	color: #ECD4D4; 
}

.ListeVilles a { 
	color: #ECD4D4; 
}

.LienRefMarquee { color: #e6e5e5; font-size: 10px; }
.RefMarquee { color: #e6e5e5; font-size: 10px; }


	/*liste agence cp*/
a.liste_agences_lien { 
	padding: 0 3px; 
	margin-bottom: 2px; 
	color: #ff9832; 
	font-size: 10px; 
	font-weight: bold; border-left: 1px solid #484848; border-right: 1px solid #484848; }

.liste_agences_nom { 
	padding: 5px 30px 5px 10px; 
	color: #ff9832; 
	background: #484644; 
	font-weight: bold; 
}
/*autres*/
.txt-tete { text-align: center; font-weight: bold; color: #ff9832; }
.titre { font-weight: bold; color: #ff9832; border-bottom: 1px solid #ff9832; }
.partenaires li { list-style-type: square; }

.mandat { font-size:12px; font-weight:bold; color: #f58718; text-decoration:underline; }
.rouge1 { color:#ff972e; padding-left: 20px; font-size:12px; font-weight:bold; }
.infos2 { font-size:14px; font-weight:bold;}
.rouge { color:#ff972e; }
.underline { text-decoration:underline; }

/* Cdc */ 

.div-cdc{width:185px;float:left; margin-left:20px; border: solid 2px #fff; text-align:center;} 
.div-cdc .photo-cdc img{width:148px;height:114px;background:url(../images/bg_Img_Cdc.gif);padding:5px 2px 3px 2px;} 
.div-cdc .ville-cdc{font-weight:bold;display:block;} 
.div-cdc .typetransaction-cdc{text-transform:capitalize;} 
.div-cdc .typebien-cdc{} 
.div-cdc .contenu-cdc{padding:0 2px;} 
.div-cdc .contenu-cdc *{color:#000;} 
.div-cdc .contenu-cdc a:hover{color:#DC002E;} 
.div-cdc .descriptif-cdc{min-height:55px; display:none;} 
* html .divc2c .descriptif-cdc{height:55px;display:none;} 
.div-cdc p.prix-cdc{font-weight:bold;font-size:14px;} 
