/*------CSS definitive--*/
body {/*behavior: url(csshover.htc);*/ margin: 0; padding:0;  text-align:center; background: url(../images/bg_body.gif) repeat-x #006bc7; }
div,td { font-family: Tahoma, "Times New Roman", Times, serif; font-size:11px; color: #fff; }
img { border:none; display: inline; }
table  { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; }
a { text-decoration: none; color: #fff; }
a:hover { color: #fff; text-decoration: none; }
p { margin:10px 0;}

.clear1 { clear: left; }
.clear2 { clear: both; }
/*----- decoupage -------*/

#wrapper { width: 950px; margin: 0 auto; text-align:left; position:relative; }
#flag { width: px; float:right; padding-top: 15px; }
#flag ul { list-style-type:none; margin: 0; padding: 0; }
#flag li { float:left; padding-left: 12px; }

#logo { width: 181px; float:left; }
.slogan { float:left; width: 555px; }
#bg-marquee { background:url(../images/bg_marquee.gif) repeat-x; width: 950px; height: 22px; }

.rechcrit { text-align:right; color: #FFFFFF; font-size: 10px; font-family: Arial, Helvetica, sans-serif; padding-right: 20px; }
.rechcrit a { text-align:right; color: #FFFFFF; text-decoration:underline; }

.url-left { font-weight: bold; padding-top: 3px; padding-left: 10px; float:left; width: 210px; }
.refmarquee { float:right; width: 590px; padding-top: 3px; padding-right: 10px; }



.main_menu { width: 950px; background:url(../images/bg_menu.gif) repeat-x; height: 47px; position:relative; z-index:10;}
.main_menu ul { margin: 0; padding: 0; text-align:center;}
.main_menu ul li  {display:inline-block; *display:inline; *zoom:1; font-family:Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: 14px; padding: 0 9px; line-height: 47px;  position:relative;}

	.main_menu #menu-en ul li {padding:0 20px;}
	.main_menu #menu-de ul li {padding:0 20px;}
	.main_menu #menu-it ul li {padding:0 20px;}
	.main_menu #menu-es ul li {padding:0 20px;}
	.main_menu #menu-pt ul li {padding:0 20px;}
	.main_menu #menu-nl ul li {padding:0 20px;}
.main_menu ul li a { color: #FFFFFF; text-decoration:none; }
.main_menu ul li a:hover { color: #da0010; text-decoration:none; }

.main_menu ul li ul {position:absolute; display:none; background:#002889; padding:0; z-index:10; left:-5px; top:47px; width:150px;}
.main_menu ul li ul li {font-size:12px;}
.main_menu ul li:hover > ul {display:block;}


#AlerteEmail{display:none;}






#content { padding-top: 20px; }
#content-left { float:left; width: 615px; }
.bg-cdc { background:url(../images/bg_cdc.jpg) no-repeat; width: 597px; height: 395px; padding-top: 6px; padding-left: 6px; }

#list-engine{}
#map-engine{}
.bg-habitat { background:url(../images/bg_habitat.gif) no-repeat; width: 300px; height: 127px; float:left; }
.txt-habitat { font-family: "Times New Roman", Times, serif; font-size: 14px; padding-left: 124px; padding-top: 24px; }
.txt-habitat strong { font-size: 17px; font-weight: normal; }
.habitation { font-weight: bold; font-size: 24px; padding-left: 125px; }

.bg-commerce { background: url(../images/bg_commerce.gif) no-repeat; width: 300px; height: 127px; float:left; }
.txt-habitat { font-family: "Times New Roman", Times, serif; font-size: 14px; padding-left: 124px; padding-top: 24px; }
.txt-habitat strong { font-size: 17px; font-weight: normal; }
.habitation { font-weight: bold; font-size: 24px; padding-left: 125px; }

.txt-content strong { color: #001b62; }
.savoir a { color: #001b62; text-decoration:underline; }

#content-right { float:right; width: 326px; }
.ttl-recherche {width: 326px; height: 31px; }
.ttl-geoloc {  width: 326px; height: 31px;}
.ttl-geoloc img{margin-top: 7px;}


#carte { width: 324px; height: 309px; margin-top: 15px; border: 1px solid #FFFFFF; }

#footer { margin: 0 auto; width: 950px; text-align:left; }
.bg-adresse { background:url(../images/bg_adresse.gif) repeat-x; height: 25px; text-align:center; line-height: 25px; }

.url-footer { font-weight: bold; float:left; padding: 17px 0; }
.link-footer { float:right; padding: 20px; }
.link-footer a { color:#FFFFFF; text-decoration:none; }
.link-footer a:hover { color:#001B62; text-decoration:none; }

.link-annonce { color: #80b1dd; }
.link-annonce a { color: #80b1dd; text-decoration:underline; }
.link-annonce a:hover { color: #fff; text-decoration:underline; }

.porte-footer { text-align:justify; padding: 15px 0; }

.div-cdc { width: 562px; padding-top: 12px; float: left; padding-left: 14px; }
.photo-cdc { float: left; width: 333px; }
.photo-cdc img { width: 333px; height: 195px; }
.contenu-cdc { float: left; width: 165px; padding-left: 20px; }
.contenu-cdc .typetransaction-cdc { color:#fff; }
.contenu-cdc .ville-cdc {display: block; color:#3fbffc; font-weight: bold; font-size: 14px; }
.contenu-cdc .ville-cdc br { display: inline !important; }
.contenu-cdc .typebien-cdc { display:inline; color: #fff; }
.contenu-cdc .espace-cdc { color: #3fbffc; font-weight: bold; }
.contenu-cdc a, .prix-cdc { font-weight: bold; color: #cf060b; font-size:12px; }
.contenu-cdc .prix-cdc { font-weight: bold; color: #3fbffc; font-size:16px; }
.contenu-cdc a:hover { color: #575757; }
.contenu-cdc .descriptif-cdc { font-size: 12px; }
.autre-cdc .div-cdc { width: 174px;	margin: 10px auto; _margin: 5px auto; float: left; display:block; overflow:hidden; padding-left: 15px; }
*+html autre-cdc .div-cdc { width: 174px; margin: 8px auto; float: left; display:block; overflow:hidden; padding-left: 15px; }
.autre-cdc .photo-cdc { float: left; width: 285px; padding-left: 2px; }
.autre-cdc .photo-cdc img { width: 174px; height: 100px; }
.autre-cdc .contenu-cdc { float: left; width: 174px; padding-left: 10px; padding-top: 7px; }
.autre-cdc .contenu-cdc br { display: none !important; }
.autre-cdc .contenu-cdc .typetransaction-cdc { color:#fff; display:inline; }
.autre-cdc .contenu-cdc .espace-cdc { display:none; }
.autre-cdc .contenu-cdc p { margin: 0; padding: 0; line-height: 14px; }
.autre-cdc .contenu-cdc a, .prix-cdc { font-weight: bold; color: #fff; font-size:12px; }
.autre-cdc .contenu-cdc .prix-cdc { display: inline; font-weight: bold; color: #fff; font-size:10px; }
.autre-cdc .contenu-cdc a:hover { color: #575757; }
.autre-cdc .contenu-cdc .descriptif-cdc { display: none; }
.autre-cdc .contenu-cdc .typebien-cdc{display: inline;}
.autre-cdc .contenu-cdc .ville-cdc { font-size: 10px; font-weight: bold; color:#001b62; display: block; }
.height-cdc { height: 228px; overflow:hidden; display:block !important; }

#top-search-engine { width: 650px; height: 35px; position:absolute; top: 397px; _top: 393px; left: 0; }
*+html #top-search-engine { width: 650px; height: 35px; position:absolute; top: 393px; left: 0; }
#top-search-engine ul {	margin: 0; padding: 0;	list-style-type: none; }
#top-search-engine ul li { position: relative;	width: 279px; height: 35px; overflow: hidden; text-align: left; float:left; }
#top-search-engine ul li a { height: 35px; display: block; background-position: 0 0; background-repeat: no-repeat; text-align:center; font-size: 22px; font-family:"Times New Roman", Times, serif; font-style: italic; line-height: 35px; font-weight: bold; }
#top-search-engine ul li a:hover { position: relative; height: 35px; background-position: 0 -35px; }
#top-search-engine ul li #list-menu{width: 254px; height: 35px; background-position: 0 -35px;}
#top-search-engine ul li .map-menu_fr{background-image: url(../images/map_search_fr.gif);}
#top-search-engine ul li .map-menu_en{background-image: url(../images/map_search_en.gif);}
#top-search-engine ul li .map-menu_de{background-image: url(../images/map_search_de.gif);}
#top-search-engine ul li .map-menu_it{background-image: url(../images/map_search_it.gif);}
#top-search-engine ul li .map-menu_es{background-image: url(../images/map_search_es.gif);}
#top-search-engine ul li .map-menu_nl{background-image: url(../images/map_search_nl.gif);}
#top-search-engine ul li .map-menu_pt{background-image: url(../images/map_search_pt.gif);}
#top-search-engine ul li #map-menu {width: 254px; height: 35px; }
#top-search-engine ul li .list-menu_fr { background-image: url(../images/list_search_fr.gif);  }
#top-search-engine ul li .list-menu_en { background-image: url(../images/list_search_en.gif);  }
#top-search-engine ul li .list-menu_de { background-image: url(../images/list_search_en.gif);  }
#top-search-engine ul li .list-menu_it { background-image: url(../images/list_search_en.gif);  }
#top-search-engine ul li .list-menu_es { background-image: url(../images/list_search_en.gif);  }
#top-search-engine ul li .list-menu_nl { background-image: url(../images/list_search_en.gif);  }
#top-search-engine ul li .list-menu_pt { background-image: url(../images/list_search_en.gif);  }

#map-engine { display: none; }

#min-height { width: 15px; height: 400px; min-height: 400px; float:left; }
#navigue { padding: 20px 0; float:left; width: 910px; float:left; }

#menu-immo1 { position:absolute ; top: 378px; left: 0; z-index: 1000; }
#sm1 { display: none; }
#sm1 a { color:#FFFFFF; font-weight: bold; }
#sm1 ul {padding: 0; margin:0px; background: white; text-align:center; }
#sm1 li {background:#002889; height: 27px; line-height: 17px; }
#sm1 li:hover {background: #fff; color: #da0010; }
#sm1 li.sousmenu-immo:hover {background: #fff; color: #da0010; }
#sm1 li.sousmenu-immo {background-color:#002889; height: 27px; line-height: 17px; }
#sm1 li.plop { background-color:#002889; height: 27px; }
#sm1 ul li {position:relative; list-style: none; float:left; }
#sm1 ul ul {position: absolute;display:none; width:100px; }
#sm1 li a { text-decoration: none; padding: 4px 0 4px; display:block;width:100px; font-weight: bold; color: #fff; }
#sm1 li a:hover { color: #da0010; }
#sm1 ul.niveau1 li.sousmenu-immo:hover ul.niveau2, #sm1 ul.niveau2 li.sousmenu-immo:hover ul.niveau3 { display:block; }
a#mn2:hover { color: #FF0002;} 


/*-----------------*/

/*guide*/
#MenuGuide { 
	text-align: left; 
}
#MenuGuide table { 
	margin: 0 auto; 
}
#MenuGuide a {
	font-weight: bold;
	color: #fff; 
	text-decoration: none; 
	line-height: 20px; 
}

#MenuGuide a:hover { 
	color: #0982c7; 
}

#MenuGuide td { 
	text-align: left; 
}

#PageDossiers table { 
	margin: 0 auto; 
	width: 100%; 
}

#PageDossiers p { 
	margin: 5px 0; 
}

#PageDossiers td { 
	padding: 2px 5px; 
}

.txtTitre3, .grasnews { 
	color: #fff; 
	font-weight: bold; 
	font-size: 13px; 
	text-align: left;
	font-variant: small-caps; 
}

.gras {
	padding: 2px 5px 2px;
	background: none;
	color: #fff;
	font-weight: bold;
}

.gras u { 
	text-decoration: none; 
}

.encadre {
	border: none;
	padding: 5px;
	background: #062f65;
	line-height: 14px;
	border: 1px solid #fff;
}

.encadre table {
	width: 100%;
}

.encadre .gras {
	padding: 0;
	margin-bottom: 5px;
	background: none;
	color: #0982c7;
	line-height: 12px;
}

.encadre a { 
	color: #3a3939; 
}

.encadre a:hover { 
	color: #3a3939; 
}

.table_news strong { 
	color: #0982c7; 
}

.table_news, .encadre table {
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-bottom: none;
	border-right: none;
	background: #062f65;
}

.table_news td, .encadre td {
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	border-left: none;
	border-top: none;
	background: #062f65;
	font-size: 10px;
	padding: 5px;
}
   
.table_news .gras {
	padding: 3px 5px;
	margin: 0;
	background: none;
	color: #4e5154;
	line-height: 12px;
}

/* page terrain à batir */
#terrbat {text-align:center; }
#terrbat h1 {font-size:26px; font-weight:bold; color:#fff; position:absolute; top:180px; left:260px;}
#terrbat p {font-size:12px;}

.imputFormTer { background: url(../images/form_input_bg.gif)no-repeat; width: 194px; height:24px; color: #000;} 
.imputFormTer input {border:none;}
.imputFormTerSmall { background: url(../images/form_input_bg_small.gif)no-repeat; width: 100px; height:24px; color: #fff;} 
.imputFormTerSmall input {border:none;}
.imputFormTerSmall select {border:none;}
.textareaTer { background: url(../images/form_textarea_bg.gif)no-repeat; width: 398px; height:86px; color: #000;} 
.textareaTer textarea {border:none;}

/*page formulaire*/
.tabFond1 { background: none; width: 960px; }
.tabFond1 td { padding: 2px 10px; }
.tabFond1 table { text-align: left; }
.tabTitre { font-size: 13px; height: 25px; color: #fff; font-weight: bold; text-align: center; background: url(../images/bg_ttl.gif) repeat-x; line-height: 25px; }
.messageNomAgence, .estimationNomAgence, .titreInfosLegales { font-size: 18px; text-align: center; color: #fff; margin: 0; padding: 5px; font-weight: bold; display: block; }
.tabFond1 .Input { margin-bottom: 2px; }
#CguFormulaire { background: #104a8a; padding: 10px; text-align: left; color: #fff; }
#CguFormulaire a { color: #fff; text-decoration: underline; }
#CguFormulaire a:hover { color: #fff; }
table#tab-fond { width: 600px; margin: 0 auto; }
.imputborder { border: none; background-color: white; }
.imputFormMessage {width:600px; height: 100px; margin-left:135px;}
/*.imputFormTer {background:url(../images/form_input_bg.gif); width:193px; height:21px;}*/
/*textarea {width:600px; height: 100px;}*/
td .TitreMessage {width:600px; margin:auto;}

/*page alerte*/
#PageAlert { border-bottom: 1px solid #062f65; border-top: 1px solid #062f65; padding: 15px 0; }
#PageAlert font { color: #fff; }
#PageAlert td { text-align: left; }
#PageAlert strong { color: #fff; }
#PageAlert a { font-size: 14px; font-weight: bold; color: #0f86c9; display: block; margin-left: 50px; padding-left: 20px; background: url(../images/arrow3.gif) no-repeat; width: 400px; line-height: 14px; height: 14px; }
#PageAlert a:hover { width: 400px; line-height: 14px; height: 14px; background-position: 0 -14px; font-size: 14px; color: #fff; text-decoration: none; display: block; margin-left: 50px; padding-left: 20px; }

/*IE8*/
.BoutonFormContact, .BoutonFormRecherche, .boutonEnvoi, td#ChampsBouton input { width: 142px; height: 38px; }

.titrePageOutils { display: none; }
#RechHaut #RechHautCtn h2 span { color: #FFFFFF; }

 /*alerte email*/
#AlerteImmo { background: none; border: none; padding: 0; }
#AlerteImmo #AlerteTitre01 { width: 900px; background: url(../img/alerteimmo_titre_fond01.gif) no-repeat; }
#AlerteImmo #AlerteTitre01 h5 { background: none; }
#AlerteImmo #AlerteTitre01 h5 span { color: white; font-weight: normal; text-transform: uppercase; }
#AlerteImmo h2 { color: #fff; }
#AlerteImmo h4, #AlerteImmo h5 { color: #fff; }
#AlerteImmo #AlerteConfirmation p.confirmation { color: #fff; }
#AlerteImmo h5.retourAccueil a { color: #fff; }
#AlerteImmo h2 { color: #fff; }

/*lsite villes*/
.ListeVilles, .ListeVilles a, .ListeVilles a strong { color: #b4bcc8; font-weight: normal; text-align: justify; }
.ListeVilles a:hover, .ListeVilles a:hover strong { color: #fff; }

/*pud_annonces*/
#Annonces01 .ann_ctn { background: url(../img/ann01_fd_01.gif) no-repeat; color:black;}
#Annonces01 .ann_ctn .ann_fd { display: none;}
#Annonces01 .ann_descr a{color:black;}
#Annonces01 .ann_ctn a.ann_pht:hover em span{display: block; margin: 11px 0 0 13px; width: 151px; color:black;}


/*produits*/
#Portefeuille01 h3, #Annonces01 h3 { border-bottom: none; color: #0082be; font-weight: bold; font-size: 15px; display: none; }
#Portefeuille01 a { color:#B0BDC5}
#Portefeuille01 { margin-left:15px;}
.titrePageOutils { display: none; }
#left-foot h3 { display: none; }
#left-foot .typeTransac { color: #e0e0e0; }
#left-foot .typeBien { color: #e0e0e0; text-decoration: underline; }
#left-foot a.typeTransac:hover, #left-foot a.typeTransactypeTransac:hover, #left-foot a.typeBien:hover, #left-foot .nbAnn a:hover { color: 0f86c9; } 

#Portefeuille01 a.typeBien { margin: 0; font-weight: normal; }

/*marquee*/
#AnnoncesDefilantes, #AnnoncesDefilantes a { color: #bdbff2; font-size: 11px; }

/*recherche*/
#RechResultat .blocAnnonce_wrap { width: 420px; margin: 5px; padding: 5px !important; }
#RechHaut form#Tri * { color: #FFFFFF; }

#page-navigue strong { color: #001B62; font-size: 16px; }
.marge { padding: 10px;}

#page-recrutement strong { color: #001B62; font-size: 16px; }
.marge { padding: 10px;}
#page-recrutement { color: #ffffff; font-size: 14px; }
.marge { padding: 10px;}

#map { width: 900px; }
/*------------------------------------------------------------*/

#TriAnn, #TriAnn option, #TriAnn *{color: #000 !important}



#ContainPud {background:none;}


.cv_respag{display: none;}

.LienCartoAgences{color: #da0010;}
.LienCartoAgences:hover{color: #da0010;text-decoration: underline;}

/* personnalisation page detail */
#DetailAnnonce #LiensRetour .majAnn{color: #fff;}
#DetailAnnonce #LiensRetour a,
#DetailAnnonce .RetourHaut *
{color: #001B62; }
#DetailAnnonce #Titre td#TypeTransaction,
#DetailAnnonce #Titre *
{color: #fff;}

#InfosAnnonce #InfosComp_Ctn #InfosComp p,
#InfosAnnonce #Descriptif p.txtDescriptif
{font-size: 13px; font-weight: bold;}

#InfosAnnonce #Descriptif p.titreDescriptif,
#InfosAnnonce #InfosComp_Ctn h6
{font-size: 14px;}

#AgenceContact form table#FormContact td p{font-size: 12px;}



/* personnalisation page recherche */
#RechResultat .blocAnnonce_wrap .blocAnnonce table td.colGauche .typeBien,
#RechResultat .blocAnnonce_wrap .blocAnnonce table td.colDroite .ref
{font-size: 11px;font-weight: bold; }

#RechResultat .blocAnnonce_wrap .blocAnnonce table td.colDroite .ctc *{font-size: 12px;}

#RechHaut #RechHautCtn h2, #RechHaut #RechHautCtn h2 span#NbAnnSelection,
#RechHaut #RechHautCtn h1,
#RechHaut #RechHautCtn #RechHautLiens a,
#RechercheContainer .portefeuilleAnn p,
#RechercheContainer #AlerteEmail #AlerteEmailCtn h3 span,
#RechercheContainer .RetourHaut *
{color: #001B62;}
#RechercheContainer #AlerteEmail #AlerteEmailCtn h4{color: #fff;}

#RechPagesHaut .rechLiensPages a span, #RechPagesBas .rechLiensPages a span{color: #555}

#idtc_7 {display:none;}


#Annonce_Ctn td#ColGauche {border: none;}
#Annonce_Ctn td#ColDroite,.similaire_ctn {background: #2673C1;border: none;}
#DetailAnnonce h3,#PrixAnn .unite, #PrixAnn .periodeVac, #PrixAnn .fai, #PrixAnn .sup1 {color: #fff;}
#DetailAnnonce h4,#AgenceContact strong,.similaire a, .similaire a span,.similaire a, .similaire a span  {color: #001B62;}
#DetailAnnonce #ChampsBouton .inputSubmit{height: auto; width: auto;}

.cadreAgence{background: #2673C1;border: none;}
#AgImmo_Ctn h3,#AgImmo_Ctn h2,#AgImmo_Ctn h4,#AgImmoPortefeuille ul li.typeTransac a,#AgImmoMentions h6  {color: #fff;}	
.cadreAgence h2,#AgImmo_Ctn a,#AgImmoPortefeuille ul li ul li.subList a {color: #001B62;}
.agImmoPortefeuille_Ctn {background: #006BC7;}
.cadreAgence .agImmoPortefeuille h4 {display: none;}
.cadreAgence .agImmoPortefeuille p{padding:0;margin:0;}
.descGeolocUrl a:hover, .descGeolocDetail a:hover {color: #000;}

/*autre*/
.text_publique{margin-top:20px;text-align:justify;}
.textRecrut{font-size: 13px;margin-top: 20px;text-align: justify;}
