// VAR COLORS
$color-body:#fff;
$color-content:#ccc;
$color-block:#fff;
$color-primary:#e6e6e6;
$color-secondary:#999;
$color-action:#595959;
$color-important:#e8e8e8;
$color-nav-footer:#595959;
$color-dark: #262626;
$color-light: #b9b9b9;


//PERSO
//$cerulean : #00b4c9;
$cerulean : #1d2641;
$bombay   : #adaeb1;
$antarctique : #9b9f9f;



// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#595959;
