// VARIABLES COLORS
$color-body:#ffffff;
$color-content:#c1e8bc;
$color-block:#4fb143;
$color-primary:#4fb143;
$color-secondary:#154f14;
$color-action:#154f14;
$color-important:#fdf401;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black-opacity";

// COLOR FONT BODY DEFAULT
$color-font-body:#154f14;


// ANCIEN
$color-block-ancien:#79a174;