/*------CSS definitive--*/
body { margin: 0; padding:0; text-align:center;font-family: arial; background:url($$_$$images/skin/bg_top.jpg) top no-repeat; }
div,td {  font-size:12px; color: #000; }
img { border:none; display: inline; }
table  { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
form { padding: 0; margin: 0; }
input, select { vertical-align: middle; }
a { text-decoration: none; color: #8e0201; }
a:hover { color: #000; text-decoration: none; }
p { margin:10px 0;}
*{margin:0; padding:0 }
ul{list-style-type:none}
.clear { clear: both; }
/*----- decoupage -------*/


#wrapper { width: 966px; margin: 0 auto; text-align:left; position:relative; z-index: 10; }
#bg-bas { background: url($$_$$images/skin/bg_bas.jpg) center bottom no-repeat; }
.left-logo { float: left; width: 62px; padding-left: 25px; padding-top: 8px; }

.logo { float: left; width: 170px; padding-top: 71px; padding-left: 50px; }
.flag { padding-top: 53px; }
.logo_fb { padding-top: 42px; float:right;}

.right-top { float: right; width: 550px; padding-top: 10px; }
.ttl-recherche { text-transform:uppercase; color: #fff; }

.menu { background: #fff; width: 960px; height: 46px; margin-top: 5px; }
.menu ul { margin: 0; padding: 0; text-align:center;}
.menu ul li { list-style-type: none; display:inline-block; height: 46px; vertical-align:middle;}
.ie7 .menu ul li {display:inline; zoom:1;}
.menu ul li a { height: 55px; line-height: 46px; padding: 0 4px; font-size: 14px; font-weight: bold; text-transform:uppercase; color: #000; }
.menu ul li a:hover { color: #bc0618; }

.menu .en ul li a { padding: 0 10px; }

.txt-accueil { font-size: 15px; }
.txt-accueil a { color: #8e0201; text-decoration:underline; }

#bloc-cdc { background:url($$_$$images/skin/bg-cdc.png) no-repeat; width: 530px; height: 181px; float: left; margin-top: 40px; position:relative; }
.envelop { float: left; width: 168px; padding-left: 17px; padding-top: 60px; }

.bloc-alert { float: right; width: 220px; font-size: 14px; padding-top: 37px; }
.bloc-alert strong { color: #8e0201; font-size: 18px; }

.link-alert { background: #fed217; text-align:center; width: 150px; height: 33px; line-height: 33px; }
.link-alert a { font-size: 14px; color: #000; text-transform:uppercase;}
.link-alert a:hover { text-decoration:underline; }

.bloc-sociaux { float: left; width: 320px; padding-left: 20px; padding-top: 25px; }
.pic { background:url($$_$$images/skin/pic-mobile.gif) no-repeat; padding-left: 65px; height: 38px; text-transform:uppercase; color: #fff; font-size: 14px; margin-bottom: 10px; }
.pic2 { background: url($$_$$images/skin/pic-rss.gif) no-repeat; padding-left: 65px; height: 38px; text-transform:uppercase; color: #fff; font-size: 14px; }
.pic2 a { text-transform:uppercase; color: #fff; font-size: 14px; }
.pic2 a:hover { text-decoration:underline; color: #fff; }

.link-magazine { float: left; width: 170px; height: 36px; background: #fed217; text-align:center; margin-left: 65px; margin-top: 40px; padding-top: 5px; }
.link-magazine a { color: #000; text-transform:uppercase; font-size: 14px; }
.coordo { float: right; width: 255px; color: #000; padding-top: 35px; font-size: 12px; text-transform:uppercase; text-align:right; }
.coordo strong { font-size: 24px; font-weight: normal; text-transform:none; }

.en .coordo strong {font-size:19px;}

.ttl_pages { color: #8e0201; font-size: 16px; font-weight: bold; }

.footer { text-align:center; color: #fff; font-size: 11px; padding: 10px 0 20px; }
.footer a { color: #fff; }

#navigue { padding: 15px; background: #fff; min-height: 350px; width: 930px; }

#bloc-moteur { position:relative; }
.trait { position:absolute; top: 33px; left: 0; }

#Plan_Ctn a { color: #000; border-bottom: 1px dotted #000; }
#Plan_Ctn a:hover { color: #8e0201; }
#Plan_Ctn ul { padding-left: 20px; }

.txt-page { width: 760px; margin: 0 auto; }
.txt-page td { padding: 15px 10px; }
.txt-page2 strong, .txt-page td strong { color: #8e0201;  }

.txt-page2 { margin: 0 auto; text-align:justify; }
.txt-page2 ul { padding-left: 50px; padding-top: 20px; }
.txt-page2 li { list-style-type: square; }
.txt-agc { float:left; }
.img-agc { float:left; padding: 15px; }


/* RETOUR HAUT */
.retourHaut {float:right;margin:5px 0 0 0;padding:0;font-size:11px;font-weight:bold;}
.retourHaut a {color:#8e0201;text-decoration:none;}
/*FOOTER REFERENCEMENT*/
.leftreffooter{float:left;}
.conteneurfoot{margin:auto;width:970px;}
.contentblocklink{float:right;margin-bottom:10px;}
.blockcol{float:left;margin-left:30px;text-align:left;}
.footerlink h4{color:#fff; font-weight:normal;margin:0;padding:0;margin-top:10px;font-size:1.2em;}
.footerlink{float:none;}
.footerlink a { display:block;font-size:0.8em;color:#ccc;}

#DOMWindow { background: #fff!important; }