// VAR COLORS
$color-body:#000;
$color-content:#000;
$color-block:#262626;
$color-primary:#262626;
$color-secondary:#262626;
$color-action:#51b9dc;
$color-important:#be0210;
$color-nav-footer:#C9CDCF;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#fff;