/* $$DYN:ID3:NOFOOTER$$ */
/*redéfinir la police par défaut*/
div, td, .Marquee, .ListeVilles { font-family: Verdana, Arial, Helvetica, sans-serif !important; }

.BoiteAnnonce {
	border: none;
}

/*barre de titre*/
.DetailLibelleetPrix {
	background-color: #676666 !important;
	height: 24px;
	margin-bottom: 6px;
}

.DetailLibelleetPrix .DetailLibelle {
	color: #999;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: normal;
	line-height: 24px;
}

.DetailLibelleetPrix .DetailPrix, .DetailLibelleetPrix .DetailSurface {
	color: #999999;
	font-size: 12px;
	line-height: 24px;
	margin-left: 20px;
}
.DetailPrix { font-weight: bold; }
/*photos*/
img.DetailPhotoGdformat {
	border: 3px solid #999999 !important;
}

.DetailPhotoPtformat img {
	border: 2px solid #999999 !important;
}
/*infos complémentaires*/
.DetailInfoComplementaire {
	border: none !important;
}
.DetailInfoTitre {
	background-color: #676666 !important;
	height: 20px;
	line-height: 20px;
	padding: 0 8px;
	color: #999;
	font-size: 9px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: normal;
	width: auto;
}
.DetailInfoComplementaire table {
	border-top: 1px solid #3e3e3e;
	border-left: 1px solid #3e3e3e;
}
.DetailInfoComplementaire td {
	border-bottom: 1px solid #3e3e3e;
	border-right: 1px solid #3e3e3e;
}
.DetailVisuels360, .DetailExclusif, .DetailSituation, .DetailFraicheurLib, .DetailRefAnnonceLib, .DetailProxLib, .DetailAgence strong { color: #ff9832; }

/*bouton imprimer*/
.DetailImprimer {
	text-align: center !important;
	border-bottom: 1px solid #3e3e3e !important;
}

.DetailImprimer a {
	display: block;
	width: 200px;
	margin: 0 auto;
	height: 27px;
	line-height: 27px;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 9px;
	font-weight: bold;
	background: url($$_$$/images/bg_btnprint.gif) no-repeat;
	border-bottom: none !important;
}
/*détails formulaire*/
/*espacer les cellules*/
.DetailFormulaire table td {
	padding: 2px;
}

/*formater les input text*/
.DetailFormulaire input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin-bottom: 2px;
	border: 1px solid #999999;
}

/*mettre en forme les lignes de titre*/
.DetailFormulaire .Coord, .DetailFormulaire .Precisions {
	background-color: #676666 ;
	height: 20px;
	line-height: 20px;
	padding: 0 8px;
	color: #999;
	margin: 0;
	text-align: center !important;
}

/*mise en forme du bouton, basée sur la mise en forme du bouton imprimer*/
.DetailFormulaire .btn {
	margin-top: 15px;
}

.DetailFormulaire .btn input {
	width: 160px;
	height: 27px;
	line-height: 27px;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 9px;
	font-weight: bold;
	background: url($$_$$/images/bg_btnprint.gif) no-repeat;
	border: none !important;
}
.DetailBack a { color: #ff9832; }
.DetailBack a:hover { color: #484644; }