/*$$REM$$====================================================================================
//// <summary>CSS site "PACK OPTIMAL TEMPLATE 5"</summary>
//// <remarks>
//// <para>Fichier css appelé grâce à la conf et cfg_template</para>
//// <para>Toute modification CSS de ce fichier devra être effectuée dans votre "commun.css"</para>
//// <para>Liste des macros générales pour faciliter la customisation des sites</para>
//// <para>Interdiction formelle de le démutualiser sous peine de châtiment douloureux, car les updates ne pourront pas s'appliquer aux sites qui le feront</para>
//// </remarks>
//// <update date="2011-03-17" author="barthelemy.giraud">Création</update>
====================================================================================$$END$$*/

$$REM$$ /* ============================================================================================
 //////////////////////////////////// MACROS CHEMIN DES REPERTOIRES ///////////////////////////////////
============================================================================================= */$$END$$
<!--#include virtual="styles/macros_path.htm" -->

$$REM$$ /* ============================================================================================
 ////////////////////////////////////// MACROS GENERALES PERSOS //////////////////////////////////////
============================================================================================= */$$END$$
<!--#include virtual="styles/macros_pictos.htm" -->
<!--#include virtual="styles/all_global_macros.htm" -->
    *{padding:0; margin:0; color:$$TXT_PRINCIPAL$$; font-size:12px; font-family:Arial,sans-serif;}
	body {  background:#fff; }
	img { border:none; display: inline; }
	table  { border-collapse: collapse; border-spacing: 0; }
	td, th { padding: 0; }
	ul,ol{list-style:none;}
	form { padding: 0; margin: 0; }
	input, select { vertical-align: middle; }
	a { text-decoration: none; color: #d00020; outline:none;}
	a:hover { color: #d00020; text-decoration: none; }
	h1,h2,h3,h4{font-weight:normal;}
	.clear{ clear: both; }
/*----- decoupage -------*/

	#global{width: 100%; background:$$BG_SITE$$; float:left;}
	#top{height:21px;background:$$BG_BAND$$;border-bottom:1px solid #fff;}
	#top .bgTop{margin:0 auto;width:976px;padding-top:3px;}
	#top a.accueil{background: url($$_$$images/bg_accueil.gif) no-repeat;height:14px;float:left;width:50px;color:#cf542e;padding-left:23px;font-size:11px;font-weight:bold;}
	#top a:hover.accueil{color:#fff;}
	#top a.accueil span{color:#737373;padding-left:11px;}
	#top #refmarquee{color:#757575;width:808;float:left;}
	#top #refmarquee marquee{color:#757575;float:left;width:753px;float:left;padding:0 40px 0 13px;font-weight:bold;}
	#top #refmarquee marquee a{color:#757575;}
	#top #refmarquee marquee a strong{color:#757575;}
	#top #flag{float:right;width:58px;margin-right:11px;} 
	#top #flag #drapeau_fr{background:url($$_$$images/flag_fr.gif) no-repeat;height:15px;display:block;float:left;width:21px;margin-right:16px;}
	#top #flag #drapeau_en{background:url($$_$$images/flag_en.gif) no-repeat;height:15px;display:block;float:left;width:21px;}
	#header { height:207px; width: 100%; margin: 0 auto;background: url($$_$$images/bg_header.jpg) no-repeat; }
	*+ html #header { height:201px;position:relative; z-index:1; }
	#content{width:1003px; margin:0 auto;}
	#navigue { width: 983px; margin: 0 auto; padding: 10px; min-height: 500px; }
	#footer{ width:100%; float:left;background:$$BG_FOOTER$$;margin-top:2px;border-top:1px solid #979797;}


/* developpement de block header */
	#header #logo {width:319px; height:138px;float:left;margin-top:32px; }
	#header #logo img{width:319px; }
/* bloc menu */

	#header .bgHeader{width:1003px;margin:0 auto;}
	#header  #menuLeft{background:url($$_$$images/bg_menu_left.gif) no-repeat right 0;width:298px; height:38px;float:left;margin:81px 9px 0 0;padding-right:50px;}
	#header  #menuLeft li{float:right;line-height:38px;}
	#header  #menuLeft li a{color:#fff;font-size:14px;background:url($$_$$images/sep_menu.png) no-repeat 0 center;padding:0 15px 0 15px;}
	#header  #menuLeft li a.accu{background:none;}
	#header  #menuLeft li a:hover{color:#72747d;}
	#header  #menuRight{background:url($$_$$images/bg_menu_right.gif) no-repeat;width:268px; height:38px;float:left;margin:81px 0 0 0;padding-left:57px;}
	#header  #menuRight li{float:left;line-height:38px;}
	#header  #menuRight li a{color:#fff;font-size:14px;background:url($$_$$images/sep_menu.png) no-repeat 0 center;padding:0 15px 0 15px;;}
	#header  #menuRight li a.acheter{background:none;}
	#header  #menuRight li a:hover{color:#72747d;}
	#header  #menu { background: url($$_$$images/bg_menu.gif) no-repeat; width: 1003px; height: 39px; text-align: center; }
	#header  #menu ul {padding:0 0 0 12px; margin:0;}
	#header  #menu ul li{padding:0; margin:0; float:left; background: url($$_$$images/sep_menu.gif) 100% 0 no-repeat;}
	#header  #menu ul li.last{padding:0; margin:0; float:left; background:none;}
	#header  #menu li a {text-decoration:none; font-size:14px; color:#fff; line-height:39px;display: inline-block; padding:0; margin:1px 0 0 0;}
	#header  #menu li a.mn1{width:94px; text-align:center;}
	#header  #menu li a.mn2{width:95px; text-align:center;}
	#header  #menu li a.mn3{width:120px;text-align:center;}
	#header  #menu li a.mn4{width:150px; text-align:center;}
	#header  #menu li a.mn5{width:149px; text-align:center;}
	#header  #menu li a.mn6{width:167px; text-align:center;}
	#header  #menu li a.mn7{width:123px; text-align:center;}
	#header  #menu li a.mn8{width:80px; text-align:center;}
/* hover menu */
	#header  #menu li a.mn1:hover{background:url($$_$$images/bg_mn1.gif) 0 0 no-repeat;}
	#header  #menu li a.mn2:hover{background:url($$_$$images/bg_mn2.gif) 0 0 no-repeat;}
	#header  #menu li a.mn3:hover{background:url($$_$$images/bg_mn3.gif) 0 0 no-repeat;}
	#header  #menu li a.mn4:hover{background:url($$_$$images/bg_mn4.gif) 0 0 no-repeat;}
	#header  #menu li a.mn5:hover{background:url($$_$$images/bg_mn5.gif) 0 0 no-repeat;}
	#header  #menu li a.mn6:hover{background:url($$_$$images/bg_mn6.gif) 0 0 no-repeat;}
	#header  #menu li a.mn7:hover{background:url($$_$$images/bg_mn7.gif) 0 0 no-repeat;}
	#header  #menu li a.mn8:hover{background:url($$_$$images/bg_mn8.gif) 0 0 no-repeat;}
/* developpement de block content */
#EnvoiAmi_Ctn .inputSubmit{background:url($$_$$images/envoi.png) 0 0 no-repeat; font-size:0; width:145px; height:42px;}
    #navigue #Moteur #MoteurBouton .inputSubmit{width:145px; height:42px; font-size:0; background:$$BOUTON_BG$$;}
	#navigue #FormContactAgence .inputSubmit,#navigue  #ChampsBouton .inputSubmit{background:url($$_$$images/envoi.gif) 0 0 no-repeat; font-size:0; width:145px; height:42px;}
	#content  #left { float: left; width:492px;}
	#content  #left #search{ float: left; width:458px; margin:0 0 21px 12px;}
	#content  #left .search {width:458px; height: 71px; overflow: hidden;}
	#content  #left .search img{display:block; width:458px;margin-top:4px;height:67px;}
	#content  #left .down {width:458px; height: 20px; overflow: hidden;}
	#content  #left #main-mot {height:193px; position: relative; background:url($$_$$images/bg_moteur.jpg) 0 0 no-repeat ; width: 456px; border-right:1px solid #052257; border-left:1px solid #052257;}
	#main-mot #moteur { width: 320px; margin: 0 auto;  }
	#main-mot #moteur p{color:#878786;font-size:16px;font-family:'Myriad Pro';}
	#main-mot #moteur .miniDiv {height:13px; }
	#main-mot #moteur select.miniSelect {width:170px; border:1px solid #8F8E8E; color:#707070; height:19px;}
	#main-mot #moteur select.miniSelect option {padding:0 0 0 3px; font-size:12px; color:#707070;}
	#main-mot #moteur .miniDivSelect  {width:170px;}
	#main-mot #moteur .miniTitre {width:150px; color:#fff;}
	#main-mot #MiniBouton{width:145px; float:right;}
	#main-mot #MiniBouton .boutonSubmit{width:145px; height:42px; font-size:0px; background:$$BG_BOUTTON$$;margin:-11px -5px 0 0;}
	#main-mot .plus-crit a { position: absolute; bottom:2px; left: 67px; color: #9b9b9b; font-weight: bold; text-decoration: underline;font-size:12px; }
	#main-mot .plus-crit a:hover{text-decoration:none;}
	.miniDivSelect label{color:#fff;}
/* block agence de block left */
    #agence{position:relative; background:url($$_$$images/home.gif) 0 0 no-repeat;width:472px; float:left; margin:0 0 0 8px;}
    *+ html #agence{height:249px;}
    #agence h2{text-indent:-9999px; background:$$BG_AGENCE$$; border-bottom:1px solid #d3d2d2; width:403px; padding:0 0 14px; margin:10px 0 14px 60px;}
	#agence .foto-acc { float: left; width: 123px; height: 191px;  margin:0 0 2px 48px; }
	#agence .foto-acc img{display:block;  width: 123px; height: 191px;}
	#agence .txt-acc { float: left; width: 270px; padding-left: 24px; }
	#agence .txt-acc strong{ font-size:12px; color:#000;font-weight:bold; }
	#agence .txt-acc p{margin-top:10px; font-size:12px;width:221px;}
	#agence .link-acc { position:absolute; left:190px; bottom:-6px; padding:0;margin:0;  color: #d00020;}
	#agence .link-acc a { text-decoration: underline; font-family:tahoma,sans-serif; font-size:11px; font-weight: bold; color: #7c9c02;padding-left:5px;}
	#agence .link-acc span{color:#7c9c02;margin:0 4px;}
	#agence .link-acc a:hover { text-decoration:none; }
/* block actualite de block left */	
	#actualite{background:url($$_$$images/actualite.gif) 0 0 no-repeat;width:472px; float:left; margin:24px 0 0 8px;}
	#actualite h2{text-indent:-9999px; background:$$BG_ACTUALITE$$; border-bottom:1px solid #c4c3c3; width:403px; padding:0 0 16px; margin:21px 0 15px 68px;}
	#actualite .pic-lien {margin:5px 20px 0 0;float: left; width: 230px; padding-left: 32px; }
	#actualite .pic-lien a { background: url($$_$$images/pic_liste.gif) 0 1px no-repeat; padding-left: 25px; text-decoration: underline; display: block; color:#000; padding-bottom: 10px; }
	#actualite .pic-lien a:hover { text-decoration: none; }
	#actualite .pic-rss { margin-top:13px;}
	#actualite .pic-rss a { background: url($$_$$images/pic_rss.png) no-repeat; padding-left: 44px; display: block;width:167px; text-decoration: none; font-weight: bold; color:#000;}
	#actualite .outils {float:left; width:169px; background:url($$_$$images/outils.png) 0 0 no-repeat; height: 157px; padding-left: 8px;  font-size: 11px; color: #fff; }
	#actualite .outils h3 {color:#d00020; font-size:12px; font-weight:bold; margin:0 0 0 47px; }
	#actualite .outils h3 strong {color:#d00020; font-size:12px; font-weight:bold; display:none;}
	#actualite .outils p {margin-top:10px; color:#fff; font-size:11px; padding:0 0 12px 17px; line-height:11px;width:72px;}
	#actualite .outils p span{color:#000;font-weight:bold;}	
	#actualite .outils a{color:#fff;  float:left; font-size:11px;padding:24px 0 0 0;}
	#actualite .outils a:hover{text-decoration:none;}


	#right {float:left; width: 510px;}
	#right h2 {color:#000; font-size:24px; font-family:Myriad Pro,sans-serif; text-align:right; margin:17px 014px 6px 0;}
    #right .selectionIndex_Ctn{margin-left:0; border:none; float: left; width: 251px; height: 250px; background: url($$_$$images/bg_cdc.png) no-repeat; position: relative; }
	#right .selectionPhoto_ctn {border:none; width: 235px; height: 234px; padding: 5px 0 0 5px; }
	#right .selectionPhoto img.selectionPhotoImg { width: 235px; height: 234px; }
	#right .selectionPrix,#right .selectionDetail,#right .selectionNbPieces,#right .selectionSurface,.nbPhotos_ctn a.nbPhotos span,.nbPhotos_ctn a.nbPhotos em,.nbPhotos_ctn .nbPhotosBg{ display:none;}
    #right .selectionDescr .selectionVille a{padding:12px 0 0 18px;position:absolute; left:8px; bottom:8px; width:217px; height:40px; color:#fff; font-size:11px; background:url($$_$$images/cdc.png) 0 0 no-repeat;}
    #right .selectionDescr .selectionVille a strong{ color:#fff; font-size:11px; }
	#right  a.selectionPhoto{width:235px; height:183px;}
	#right  .selectionNouveau {top:4px;left:4px;}
	#right  .selectionIndexCDC {right:10px;top:10px;}
	#right .selectionDescr .selectionVille a strong {color:#99BD14;font-weight:bold;}
/* block address */
    #adresse{margin-top:34px; width:950px; margin:0 auto; text-align:center; color:#fff; font-size:11px; font-family:tahoma,sans-serif; font-weight:bold;padding-bottom:10px;}
    #adresse a{color:#093890; font-size:11px; font-family:tahoma,sans-serif; font-weight:bold;}

/* developpement de block footer */
   #cnxtag{display:none;}
   #footer{padding-top:10px;}
   #footer .footer *{font-size:11px; font-family:tahoma,sans-serif; color:#636363; font-weight:bold;}
   #footer .footer{width:1003px; margin:8px auto 11px;  text-align:center;border-bottom:1px solid #333333;padding-bottom:22px;}
   #footer .footer a{font-size:11px; font-family:tahoma,sans-serif; color:#fff; font-weight:bold;}
   #footer .footer a:hover{color:#fff;text-decoration:none;}
   #footer .footer span{color:#fff;}
   #footer .footer .left-footer{width:191px;float:left;text-align:left;margin-right:73px;}
   #footer .footer .left-footer p strong{color:#fff;padding-bottom:16px;display:block;}
   #footer .footer .left-footer p a{color:#636363;font-family:tahoma;font-weight:normal;} 
   #footer .footer .left-footer p  span{color:#616161;font-weight:normal;}
   #footer .footer .left-footer p a:hover{color:#fff;text-decoration:none;}
   #footer .footer .left-footer p span{margin:0 0 0 3px;}
   #footer .footer .center-footer{width:130px;float:left;text-align:left;}
   #footer .footer .center-footer p strong{color:#fff;padding-bottom:16px;display:block;}
   #footer .footer .center-footer p a{color:#636363;font-family:tahoma;font-weight:normal;text-decoration:underline;}
   #footer .footer .center-footer p a:hover{color:#fff;text-decoration:none;}
   #footer .footer .right-footer{width:483px;float:left;margin-left:79px;text-align:left;}
   #footer .footer a:hover{text-decoration:underline;}
   
   #footer .footer .right-footer .portefeuilleVilles a{color:#636363;font-weight:normal;}
   #footer .footer .right-footer ul.lienFooter li{float:left;}
   #footer .footer .right-footer ul.lienFooter{padding-top:12px;}  
   #footer .footer .right-footer ul.lienFooter li a.face{background: url($$_$$images/face.gif) no-repeat;height:20px;padding:5px 0 12px 28px;color:#4b6393;}
   #footer .footer .right-footer ul.lienFooter li a:hover.face{text-decoration:underline;}
   #footer .footer .right-footer ul.lienFooter li a.twitter{background: url($$_$$images/twitter.gif) no-repeat;height:20px;padding:5px 0 12px 28px;color:#58c9ed;}
   #footer .footer .right-footer ul.lienFooter li a:hover.twitter{text-decoration:underline;}
   #footer .footer .right-footer .portefeuilleVilles h3 a{padding-top:12px;display:block;}
   #footer .footer .right-footer ul.lienFooter li .sep{margin:-7px 18px;}
	 #footer .footer .right-footer .portefeuilleVilles h3 a:hover{color:#fff;}

/* mentions legal */
	 #MentionsLegales h2 {display:block; width: 99%; background:$$BG_MONTION$$; font-size: 14px; color:#fff; letter-spacing: 0;padding:3px 0 3px 8px;margin: 10px 0;text-align: left;text-transform: none;font-family:Arail,sans-serif; text-transform: none;}   
	 #MentionsLegales a{color:$$TXT_MENU_HOVER$$; font-size:14px;text-decoration:underline;}
	 #MentionsLegales a:hover{text-decoration:none;}

/* page outils */
   #navigue .accordion_content .inputCalcul{background:#d00020;}
/* plan de site */

     #Plan_Ctn .planSite{display:none;}
	 #Plan_Ctn h2{font-size:16px;}
     #Plan_Ctn  a{font-size:11px; font-family:Arail,sans-serif;}
     #Plan_Ctn  a:hover{color:$$TXT_MENU_HOVER$$;text-decoration:none;}
     #Plan_Ctn  a span{font-family:Arail,sans-serif; color:#333333;text-decoration:none; font-size:13px;}
     #Plan_Ctn  a:hover span{color:#B3B3B3;text-decoration:none;}
    ul#Plan li{border-bottom:none;}
	ul#Plan li a{padding:0 0 0 15px; background:$$PUC_PLAN$$;}

 /* les titres de pages*/
    .ttl-pages,.titreInfosLegales{width:983px; font-family:Arail,sans-serif; font-weight:bold; color:$$TXT_TITRE_RUBRIQUE$$; margin-bottom:5px; border-bottom:$$BORDER_POINTILLES$$; font-size: 17px; font-weight: bold;padding: 5px 0px;text-transform: uppercase;margin-top: 10px; text-align:left;}
   
/* page estimation */
	#FormContactAgence .inputText, #FormContactAgence .inputSelect, #FormContactAgence .inputTextarea{font-weight:normal;}

/* page agence */
	#AgImmoDroite .AgImmoContact a, #AgImmoDroite .AgImmoEstimation a{background:#d00020;}


/* page recherche demutialsie  */
    #AlerteEmail #AlerteForm input.alerte{border:1px solid #000;}
	 #AlerteEmail #AlerteForm input.alerteBt{background:#D9261C;}
	 form#Tri select option, form#Tri select optgroup,form#Tri select option, form#Tri select optgroup option,form#Tri select  option{padding:0 0 0 3px;}
	 .contactAnn{background:#DAE1EE;}
	 #RechPagesHaut .rechLiensPages a, #RechPagesBas .rechLiensPages a,#RechPagesHaut .rechLiensPages a span, #RechPagesBas .rechLiensPages a span{background:#010080; color:#fff;}
	 #RechPagesHaut .rechLiensPages a.actif, #RechPagesBas .rechLiensPages a.actif { color:#fff;}
	 #RechPagesHaut .rechLiensPages a:hover, #RechPagesBas .rechLiensPages a:hover,#RechPagesHaut .rechLiensPages a span:hover, #RechPagesBas .rechLiensPages a span:hover{background:#e61c22; color:#fff;}
     #InfosComp_Ctn #InfosComp p,#InfosPrincipales p {background:$$PUC_PLAN2$$;}
     #navigue #SansPhoto {background:url($$_$$images/sans_photo.jpg) 50% 50% no-repeat #fff; border:1px solid #000;}
	 #RechAffichage #RechAffichageListe p, #RechAffichage #RechAffichageCarte p, #RechAffichage #BiensVendus p{color:#bbb;}
	 #Form_Ctn .inputText, #Form_Ctn .inputTextarea{padding:0 0 0 3px;}

/* page imprimer selection  */
#Imprimer input {background-color:#093890;}

/* page envoyer ami  */
#Wrap #Ctn {background:#fff;}

/* page detail sento  */
#Annonce_Ctn td#ColonneDroite {border: 1px solid #d00020;}
#Annonce_Ctn td#ColonneGauche {border: none;}
.similaire_ctn {background-color:#fff; border:1px solid #d00020;}
.similaire a, .similaire a span {color:#d00020;}
/* page detail sento  */
#Moteur h4{color:#7c9c02;}
#Moteur #cp1, #Moteur #cp2, #Moteur #cp3, #Moteur #cp4 {color:#262741;}
/*recherche*/
.contactAnn {background:#fff;border:1px solid #6f6f6f;}
#RechAffichage a:hover{color:#7c9c02;}
form#Tri select {color:#707070;}
/*louer*/
#Moteur h3 strong{color:#7c9c02;}
#FormContactListeAgences h1{color:#7c9c02;}
#FormContactListeAgences ul li {border-bottom:1px dotted #000;}
#FormContactListeAgences ul {border-top:1px dotted #000;}
/*achat*/
#MiniBouton .boutonSubmit{text-indent:-10000px;width:146px;height:35px;background:url($$_$$images/envoyer_fr.png) no-repeat;height:47px;}
p.texte_pud_annonce a{color:#7c9c02;}
#FormContactAgence .inputText, #FormContactAgence .inputSelect, #FormContactAgence .inputTextarea {color:#707070;}
input.miniInput, input.miniInputMin, input.miniInputMax, .miniDivSelect select, .miniDivSelect select option{padding-left:10px;}
/*vendre*/
#AgImmo_Ctn h3{color:#7c9c02;border-bottom:1px solid #000;}
#RechPagesHaut .listeAgPages a, #RechPagesBas .listeAgPages a {color:#7c9c02;}
#RechPagesHaut .listeAgPages a:hover, #RechPagesBas .listeAgPages a:hover{color:#7c9c02;}
#RechPagesHaut .listeAgPages a.actif, #RechPagesBas .listeAgPages a.actif{color:#7c9c02;}
.agImmoPortefeuille h4{ border-bottom: 1px dotted #000;}
.agImmoPortefeuille p{color:#7c9c02;}
/*gence immobilierte*/
.bloc_pud_annonce_x3 {width:206px;}
p.detail_pud a{color:#7c9c02;}
#bloc_annonces_gauche{width:63%;}
p.texte_pud_annonce_x3 a{color:#7c9c02;}
.titre_partager a {color:#7c9c02;}
/*detail*/
#LiensRetour a{color:#7c9c02;}
#DetailAnnonce h3 {color:#666666;font-weight:bold;}
#DetailAnnonce h4 {color:#666666;}
#Outils a{color:#7c9c02;}
#ChampsObligatoires{color:#7B7B7B;}
#CguFormulaire {color:#000;}
#AgenceMentions h6 {color:#666666;}
#AgenceMentions *{color:#7c9c02;}
#AgenceMentions p{color:#000;}
#CguFormulaire a {color:#7c9c02;}
#Glossaire_Ctn p {color: #000000;}
.similaire a, .similaire a span {color:#7c9c02;}
.similaire_ctn{border:1px solid #7c9c02;}
#Annonce_Ctn td#ColonneDroite{border:1px solid #7c9c02;}
#Prix span{color:#7c9c02;}
#FancyBox_Ctn a.fancyBox{color:#7c9c02;}
.photoTitre {border-bottom:1px dotted #7c9c02;}
#Glossaire_Ctn {border-top: 1px dotted #000;}
.ad-gallery .ad-thumbs .ad-thumb-list{background:#262741;}  
.ad-gallery .ad-nav .ad-thumbs {background:#262741;} 
.ad-gallery .ad-back {background: url(/z/webagency/slagence_X_V3/detail/img_sento/galerie/ad_scroll_back.png) no-repeat scroll 0 0 #e4e3e3;}
.ad-gallery .ad-forward{background: url(/z/webagency/slagence_X_V3/detail/img_sento/galerie/ad_scroll_back.png) no-repeat scroll 0 0 #e4e3e3;}
#navigue #FormContactAgence .inputSubmit, #navigue #ChampsBouton .inputSubmit{background: url(/z/webagency/A_Pyxicom/mozac63_29940/images/envoi.png) no-repeat;}
/*vente*/
#Moteur h1{font-weight:bold;}
#Moteur h2{font-weight:bold;}
#Moteur h3{font-weight:bold;}
#Moteur h4{font-weight:bold;}
#Moteur .inputText, #Moteur .inputSelect, #Moteur .inputTextarea {color:#707070;}
#Moteur #cp1, #Moteur #cp2, #Moteur #cp3, #Moteur #cp4 {color:#707070;}
#FormContactAgence .pointillesHaut {border-top: 1px dotted #000;}
#FormContactAgence h1{font-weight:bold;}

/*recherche*/
#RechAffichage {border-bottom:1px solid #000;}
#RechHautLiens {border-bottom: 1px dotted #000;}
#RechPagesHaut {border-bottom: 1px dotted #000;}
#RechAffichage #RechAffichageListe, #RechAffichage #RechAffichageCarte, #RechAffichage #BiensVendus {background:#262741;}
#RechPagesHaut .rechLiensPages a, #RechPagesBas .rechLiensPages a, #RechPagesHaut .rechLiensPages a span, #RechPagesBas .rechLiensPages a span {background:#262741;}
.prix {color:#7c9c02;}
.ville {color:#7c9c02;}
.libelle {color:#7c9c02;}
.prix * {color:#7c9c02;}
#RechPagesBas {border-top: 1px dotted #000;}
.dicoImmo {border-bottom: 1px dotted #000;border-top: 1px dotted #000;}
#AlerteEmail h4 {color:#7c9c02;}
#AlerteEmail #AlerteForm input.alerteBt {background:#262741;}
#AlerteEmail h3 span {color:#7c9c02;}
#RechPagesHaut .rechLiensPages a:hover, #RechPagesBas .rechLiensPages a:hover, #RechPagesHaut .rechLiensPages a span:hover, #RechPagesBas .rechLiensPages a span :hover{background:#7c9c02;}
.contactAnn .nom {color:#7c9c02;}
.mail a{color:#7c9c02;}
a{color:#7c9c02;}
a:hover{color:#878787;}
#Moteur .inputSelect option{color:#707070;}
/*detail*/
#DetailAnnonce h4 {border-bottom:1px dotted #000;font-weight:bold;}
#Form_Ctn .inputText, #Form_Ctn .inputTextarea {color:#707070;}
#ChampsObligatoires {border-bottom:1px dotted #000;}
/*agence*/
#AgImmoDroite .AgImmoContact a, #AgImmoDroite .AgImmoEstimation a {background:#262741;}
#AgImmo_Ctn h4{border-bottom:1px dotted #000;color:#7c9c02;font-weight:bold;}
#AgImmo_Ctn h2{border-bottom:1px dotted #000;color:#7c9c02;font-weight:bold;}
ul#AgImmoPortefeuille li.typeTransac a {color:#666666;}
ul#AgImmoPortefeuille li ul li.subList{border-bottom:1px dotted #000;}
#AgImmoMentions p{color:#666666;}
.agImmoPortefeuille p{color:#666666;}
#RechPagesHaut .listeAgPages a:hover span, #RechPagesBas .listeAgPages a:hover span {color:#7c9c02;}
/*contact*/
#FormContactAgence h1{color:#7c9c02;}
#FormContactAgence .pointillesBas {border-bottom:1px dotted #000;}
#AlerteEmail #AlerteForm input.alerte {color:#707070;}
#FormContactAgence .inputSelect option {color:#707070;}
#FormContactListeAgences h1{font-weight:bold;}
/*outils*/

#Outils h3{background:#262741;}
#navigue .accordion_content .inputCalcul {background:#262741;}
.accordion_content .inputResult{border:1px solid #000;}  
#Outils strong {color:#7c9c02;} 
.accordion_content .inputResult {color:#878786;}
.accordion_content .inputText {color:#707070;} 
.accordion_content {border:1px dotted #000;}
    /*print*/
#Coords .col2 h1{color:#7c9c02;}
h4{color:#7c9c02;}
/*plan site*/
#Plan_Ctn h1{color:#7c9c02;}
#Plan_Ctn h2{color:#666666;;}
#Plan_Ctn a{color:#7c9c02;}
#Plan_Ctn a:hover{color:#7c9c02;}
/*mention legal*/
#MentionsLegales h2{background:#262741;}
#MentionsLegales a {color:#7c9c02;}
#MentionsLegales ul li{color:#707070;}
#MentionsLegales ul li strong{color:#707070;}
/*envoyer*/
#Ctn h1{color:#7c9c02;}
.inputText, .inputTextarea {color:#707070}