// VARIABLES COLORS
$color-body:#3D3E40;
$color-content:#89744d;
$color-block:#2a2a2a;
$color-primary:#fff;
$color-secondary:#727375;
$color-action:#D8D9DB;
$color-important:#ff3300;
$color-nav-footer:#3D3E40;

// COLOR PUB
$color-pub:"white";

// COLOR FONT BODY DEFAULT
$color-font-body:#fff;