// VAR COLORS
$color-body:#D7D7D8;
$color-content:#f3f3f3;
$color-block:#e5e5e5;
$color-primary:#EBEBEA;
$color-secondary:#000;
$color-action:#e4303c;
$color-important:#23282b;
$color-nav-footer:#000;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#616161;