/* CSS Document */

/* Redefinitions des balises HTML */ 
		*{margin:0;padding:0;font-size:13px;font-family:Tahoma, Arial, Verdana, Helvetica, sans-serif;color:#000;}
		img{border:0}
		.clear{clear:both;}
		a{text-decoration:underline; outline:none; color:#042352; }
		a:hover{text-decoration:none; color:#1667A3;}
		hr{display:none;}
		select option{padding:2px; color:#000; font-size:11px;}
		ul,li{list-style:none; margin:0; padding:0;}
		table{ margin:0 auto; padding:0;}
		table tr td,
		table tr td p
		#milieu table tbody tr td{ padding:5px 0px; text-align:justify; text-align:left; }
		* html input.alerte{ background:#f2f2f2; color:#000;}
		textarea.imputForm, input.imputForm, select.imputForm {background:#FFF; color:#000; border: 1px solid #606060; padding:5px;}

/* --------Modification AR PLAN SITE-------- */    

/* --------BG site + header-------- */ 
		body{background:#1667a3; padding:0;margin:0;}
		form {margin:0 20px 0 20px;}
		#header{padding:0; margin:0; width:100%; background:#1667A3;}
		#contHeader{ position:relative;width:993px; margin:0 auto;}
		#global{position:relative;width:993px; margin:0 auto;padding:0;}


/* ----------------------------------------PAGE ACCUEIL---------------------------------------- */	   
   
/* --------LOGO AGENCE-------- */ 
		#LogoAgence { z-index:5;float:left; display:inline;margin:0; padding:20px 25px 0 70px; }
		#LogoAgence img{ display:block;margin:0;margin-left:0px;}


/* --------DRAPEAUX LANGUES FRANCAIS ET ANGLAIS-------- */ 		
/* Mettre en DISPLAY:NONE si pas d'option Anglais */ 
		#Drapeaux { display:block;position:absolute; top:105px; left:315px; margin:0; padding:0; width:auto; z-index:10;}
		#Drapeaux img { padding:0 1px;}


/* --------TEXTE ACCUEIL--------*/ 
		#textAccueil {float:left; width:600px;padding:0;margin:8px 0 0 100px; color:#fff; display:inline;}
/* Modification TITRE texte d'accueil */ 
		#textAccueil h1{ font-size:18px; font-weight:normal;color:#FFF; padding:0;margin-bottom:10px;}
/* Modification CORPS texte d'accueil */ 
		#textAccueil p{text-align:justify;font-family:tahoma,sans-serif; font-size:11px;color:#95b6ce;line-height:12px; padding:0 10px 7px 0;}
		#textAccueil p strong{ color:#95b6ce;}
		#textAccueil p a{font-size:11px;color:#fff; font-family:tahoma,sans-serif;}
		#textAccueil p.horaires{ font-family:tahoma,sans-serif; font-weight:bold;text-align:justify; font-size:11px;color:#fff;line-height:16px;margin:0 15px 3px 0;}
		
/* --------LOGOS: FNAIM & SIA--------*/
		#Partners{ width:62px;height:95px; float:right; text-align:center;display:none;}
		#Partners span img{text-align:center; padding:2px 0;}


/* --------MARQUEE DEFILANTE-------- */
/* Modification COULEUR  MARQUEE */ 	
		#RefMarqueeNavig{ height:27px; float:right;font-size:11px;background:none; margin:0; padding:0;}
		#RefMarquee{  height:27px; float:right;font-size:11px; margin:0; padding:0;width:610px;}
		#AnnoncesDefilantes{background:#5e96c0;}
		#RefMarquee marquee{width:590px;margin:0 10px 0 0; color:#fff; padding:7px 5px 7px 5px;font-size:11px; }
		#RefMarquee marquee a {color:#fff; font-size:11px;}
		#RefMarquee marquee a strong {color:#fff; font-size:11px;}
		#RefMarquee marquee a:hover {color:#fff;}

/* --------MENU + FLUX RSS-------- */
/* BG site : Bandes à gauche et à droite du menu */
		#remplissageMenu{ width:100%; background:#00114a; min-height:44px; margin:0px 0 0 0;}		
/* Modification COULEUR + TAILLE fond MENU */
		#menuFlux{width:984px; background:#042352; height:44px; border-left:5px solid #042352; border-right:5px solid #042352; border-bottom:1px solid #042352; margin:0 auto;}
		* htlml #menuFlux{width:984px; background:#042352; height:40px; border-left:5px solid #042352; border-right:5px solid #042352; border-bottom:1px solid #042352; margin:0 auto;}
		#menu {float:right; display:inline; width:685px;}
		#menu ul{ height:35px;}
		#menu li{ height:34px; line-height:34px; list-style:none; float:left; padding:5px 3px;}
		#menu li.sep{ padding:0;}
		#menu li.sep img{ display:block;}
/* Modification COULEUR TEXTE MENU */ 
		#menu a{font-size:12px; color:#FFF; padding:10px 16px; text-decoration:none; font-weight:bold;}
		#menu a:hover{color:#FFF; background:#0070c2;}		
/* Modification COULEUR SEPARATIONS ONGLETS MENU */ 
		#menu ul li.MenuSep{ color:#B1696A; font-weight:normal; text-shadow:#CC0000;}
/* Modification FLUX RSS */ 		
		#fluxRss{float:left; display:inline; padding-top:0;}
		#fluxRss a{ font-size:11px; text-decoration:none; color:#fff; margin:0 0 0 12px;font-weight:bold;}
		#fluxRss a:hover{ font-size:11px; text-decoration:underline;color:#fff;font-weight:bold;}
		#fluxRss img{float:left; }



/* --------CONTENU SITE = ZONE DU MILIEU-------- */
/* Modification COULEUR ARRIERE PLAN CONTENU SITE */ 	
		#milieu{width:984px; margin-top:1px; padding:24px 5px 7px 5px; background:url(../images/bg_milieux.gif) 0 1px repeat-x #eaeaea; margin:0 auto;}
/* Positionnement bandeau image */ 
		#visuel{float:left; display:inline; width:654px; margin:0 0 10px 0; padding:0;}		
/* Modification COULEUR BORDURE IMAGE */
		#visuel img{border:7px solid #FFF;}
 

/*--------POSITIONNEMENT MINI MOTEUR-------- */ 
		.miniMoteur{float:right;display:inline;width:230px;padding:0;position:relative;}		
/* Modification TITRE RECHERCHE */ 		
		.miniMoteur h2{ width:200px; height:38px; line-height:38px;font-size:18px; font-weight:bold; color:#042352; padding-left:20px; background:#FFF;}
/* A NOTER !!!! Pour styliser les champs + bouton mini moteur VOIR == MINI_MOTEUR.CSS */ 


/* ----------- 3 COUPS DE COEUR ------------- */ 
		#blocBas #coupCoeur{float:left;display:inline;width:715px;margin:0 30px 15px 0; }
		* html .div-cdc{ height:290px;}
/* Modification BACKGROUND + BORDER CDC */ 
		.div-cdc{width:232px; min-height:290px;float:left; background:#FFF; margin:0 2px 0 0; border:1px solid #E7E3CE;}
/* Modification couleur générale du texte du CDC */ 
		.div-cdc *{ color:#000;}
		.div-cdc .contenu-cdc *{color:#000;}
		.div-cdc .contenu-cdc  a:hover *{color:#042352;}
/* Modification photo CDC */ 
		.div-cdc .photo-cdc img{width:222px;height:139px;border:1px solid #FFF; border-bottom:6px solid #FFF; background:url(../images/bg_Img_Cdc.gif);margin:5px;}
/* Modification couleur TRANSACTION + TYPE DE BIEN  */ 
		.div-cdc .typetransaction-cdc{font-size:12px; font-weight:bold; text-transform:uppercase; color:#1667A3;}
		.div-cdc .typebien-cdc{font-size:12px;text-transform:uppercase; font-weight:bold; color:#1667A3;}
/* Modification couleur VILLE  */ 
		.div-cdc a span.ville-cdc{font-weight:bold;display:block; color:#000; }
/* Modification couleur DESCRIPTIF  */
		.div-cdc .descriptif-cdc{min-height:30px; color:#000;}
		* html .divc2c .descriptif-cdc{height:30px; color:#000;}
/* Modification couleur PRIX */
		.div-cdc p.prix-cdc{font-weight:bold;font-size:12px; color:#1667A3;}
		.div-cdc span.nbpiece-cdc, .div-cdc span.surface-cdc{font-weight:bold;font-size:11px; color:#1667A3;}

		.div-cdc .contenu-cdc{padding:0 6px 4px 6px;}
		.div-cdc .contenu-cdc a{ text-decoration:none;}
		.div-cdc .contenu-cdc a:hover{color:red;}


/* ----------- LISTE TRANSACTIONS AGENCE ------------- */ 
		#blocBas .nbrTransaction{float:right;width:220px; margin:0 10px 0 0; padding-top:0px;}
/* Modification titre Portefeuille */ 
		#blocBas .nbrTransaction h2{width:205px; height:38px; line-height:38px;font-size:18px; font-weight:bold; color:#042352; padding-left:15px; background:#FFF;}
/* Modification COULEUR "AUJOURD'HUI" */ 	
		#blocBas .nbrTransaction h3{ display:none; font-size:13px;font-weight:bold;padding:5px 0;color:#042352; text-align:center;}
/* Modification COULEUR TYPE TRANSACTION */ 	
		#blocBas .nbrTransaction h4{width:210px;font-weight:bold;font-size:12px;color:#042352;padding:10px 0 0px 0; }
		#blocBas .nbrTransaction h4 a{text-decoration:none; margin-left:15px;}
		#blocBas .nbrTransaction ul{list-style-type:none;margin:0 0 10px 15px; line-height:16px;color:#1667A3;}
/* Modification COULEUR TYPE DE BIEN */ 
		#blocBas .nbrTransaction ul *{font-size:12px;color:#1667A3;}
		#blocBas .nbrTransaction ul a:hover{text-decoration:none;color:#1667A3;}


/* -----------INCLUDE BAS------------- */ 

/* Modification COULEUR BANDE COORDONNEES */ 
		.CoordonneesAgence {font-size:11px; background:#fff; height:27px; text-align:center; padding-top:13px; color:#042352; font-weight:bold;}	
/* Modification BG footer portefeuille + menu secondaire */
		.footerPosition{background:#042352; position:relative;width:995px; border-left:0px solid #fff; border-right:0px solid #fff; padding-bottom:0; margin:auto;}
		.porteFeuille{width:888px;margin:0 auto;}
		#footer .porteFeuille *{color:#042352;}
/* ARRIERE PLAN FOOTER */
		#footer{ background:#00114a; margin:0 auto; padding:0 0 0 1px;}
/* Modification couleur 2 TITRES FOOTER */ 
		#underFooter h4{display:none; font-size:11px;font-weight:bold;background:none;padding:4px 0 1px 33px;margin:17px 0 0 0;line-height:19px;}
/* titre gauche : Notre portefeuille immobilier */
		#underFooter .porteFeuille h4{display:none; font-size:12px; color:#414141;}
/* titre droite : www.urldusite.com */
		#footer .menuSecondaire h4{ display:none;font-size:12px; color:#FFF; }

		
/* Modification couleur LISTE DES VILLES */ 
		#underFooter .porteFeuille .ListeVilles{width:888px;text-align:center;line-height:13px;border:0;color:#042352; padding:12px 0 0 0;}
		#underFooter .ListeVilles *{color:#042352; font-size:11px;font-weight:normal;}
		#underFooter .ListeVilles a{color:#042352;text-decoration:none;}
		#underFooter .ListeVilles a:hover *{color:#042352;text-decoration:underline;}

/* Modification couleur MENU SECONDAIRE FOOTER (droite) */
		.menuSecondaire{font-size:11px;color:#FFF; text-align:center; line-height:45px;}
		.menuSecondaire p{color:#FFF; text-align:center;}
		.menuSecondaire p a{font-size:11px;color:#FFF;text-decoration:none; background:#0e3063;padding:5px;}
		.menuSecondaire p a:hover{font-size:11px;color:#FFF;text-decoration:none;background:none;}
		span.sepSep{ color:#FFF;}
		#underFooter{width:995px; margin:0 auto; padding:0 0 30px 0;}
        .aigm{width:800px;  padding:8px 0 0 0; margin:0 auto;}
        .aigm ul{text-align:center;}
        .aigm ul li{float:left; padding:0 0 0 5px; display:iline;}
        .aigm ul li a{ font-size:11px;; margin:0 5px 0 0; text-decoration:underline;}
        .aigm ul li span.sepSep{color:#042352;}
        .aigm ul li a:hover{text-decoration:none; color:#042352;}

/* ----------------------------------------AUTRES PAGES DU SITE---------------------------------------- */

/* Page En Construction */
		#EnConstruction{margin-top:70px; text-align:center;}

/* Outils PLAN DU SITE  */

		ul#Plan li.MenuSep{display:none;}
		ul#Plan *, ul#Outils *{text-decoration: none; font-weight: bold;}
		ul#Plan, ul#Outils{padding: 2em 8em; width:740px; margin:0 auto;}
		ul#Plan li, ul#Outils li.list{padding: 0.2em 0; border-bottom: 1px solid #ccc;background:url(../images/puce.gif) 0px 7px no-repeat;}
		ul#Plan li a,ul#Plan li.voirTout a, ul#Outils li a{color:#042352;padding-left:30px;height:19px;font-size: 12px;padding-top:6px;text-transform:uppercase;}
		ul#Plan li a:hover, ul#Outils li a:hover{color:#1667A3;padding-left:30px; height:19px;font-size: 12px;}
		ul#Plan li.plan, #Outils li.titrePageOutils{ color:#000; font-size:19px; font-weight:bold; text-align:left; text-transform:uppercase; background:none; border:none; text-align:center;}
        ul#Plan li.voirTout a{color:#042352;}
		ul#Plan li.voirTout a:hover{color:#1667A3;}
/* ----- PAGE MOTEUR,CLASSIC.HTM -----*/
		h2.TitrePage{ color:#000; font-size:19px; font-weight:bold; text-align:right; text-transform:uppercase; background:none; border:none;margin-right:26px;}

/*PAGES ESTIMATION + CONTACT + MESSAGE == TABLEAUX FORMULAIRES*/
		.tabFond1{border-color:#00AA00; border-width:0; border-style:solid; padding:2px; font-family:Tahoma, Arial, Helvetica, sans-serif; width:100%; color:#fff;}
		 textarea {width:600px; height: 100px;}
		.tabFond2{border-color:#00AA00; border-width:1px; border-style:solid; padding:2px; font-size:14px; font-family:Tahoma, Arial, Helvetica, sans-serif; color:#fff;}
		.tabTitre{width:98%; background:#1667A3; text-transform:uppercase; text-align:left;font-size: 18px;color:#FFF;font-weight: bold;letter-spacing: 0;padding:10px;margin: 10px 0;border-bottom:5px solid #042352;font-family:Tahoma, Arial, Helvetica, sans-serif; }
		.tabTitre *{color:#FFF; font-size: 18px;}
		.tabPrint{color:#fff; font-size: 13px; font-family:Tahoma, Arial, Helvetica, sans-serif; border:1px solid #00AA00;}
		.tabFond1 table{ width:100%; color:#fff;}
		strong.messageNomAgence,
		strong.estimationNomAgence{ display:none;}
		#CguFormulaire {margin:10px 20px 10px 20px;}
		p.selection strong {display:none;}
/*Résolution Bug IE8 = donner une taille aux bouton pour éviter tout décallage*/
		.boutonEnvoi { float:right; height:41px; width:126px;}
		.tabFond1 .BoutonFormContact { float:right; height:41px; width:126px; border:none; margin-right:-2px;}
		.MoteurBouton input { float:right; height:41px; margin-right:4px; width:126px; margin-bottom:10px;}
		td #ChampsBouton input { float:right; height:41px; width:126px; margin-right:12px;display:inline;}
		input.BoutonFormRecherche {float:right; height:41px; width:126px;}
/* Recherche */

		#RechercheContainer {margin:5px 20px 0 20px;}
		#RechResultat .blocAnnonce {margin:0 0 30px 0; border-left:1px solid #1667A3; border-right:1px solid #1667A3; border-bottom:5px solid #1667A3;border-top:2px solid #1667A3;}
		#RechResultat .blocAnnonce .typeBien_Ctn{background:#042352; padding: 5px; border-bottom:5px solid #1667A3;}
		#RechResultat .blocAnnonce table.detailsAnn td.photo_wrap .photo_ctn a.nbVisuels{font-weight: normal; color:#1667A3; padding: 5px 15px; background :#042352; width:172px; margin:0px;}


		#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .descr{font-size: 14px; font-weight: normal; color: #000; padding: 5px 0 0 25px; text-align: justify; background: none; min-height: 20px; _height: 20px; word-wrap: break-word;}

		#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .prox{font-size: 11px; font-weight: bold; color: #000; padding: 5px 0 0 25px; background: none;}
		div #RechHautEnd {display:none;}
		div #RechPagesHaut {height:26px;}
		.rechNbPages {color:#000; font-weight:bold; font-size:11px;}
		#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn p.ctc {color:#000; font-size:11px;}
		#RechHaut form {color:#000; font-weight:#fff;}
		#TriAnn {color:#000;}
		
		#RechResultat .blocAnnonce .detailAnn .ajoutSelection a{display: block; float: right; color: #fff; padding: 3px 0 1px 10px;  background: $$ANN_BASIC_PICTO_DETAIL$$; margin:0;}
		
		#RechResultat .blocAnnonce .detailAnn a.lienDetail{display: block; float: right; color: #fff; padding: 3px 0 1px 10px;  background: $$ANN_BASIC_PICTO_DETAIL$$; margin:0;}
		
		/* ville */
#RechResultat .blocAnnonce table.detailsAnn td.descrAnn_Ctn .descrAnn .ville{font-size: 17px; font-weight: bold; color: $$COLORTXT1$$; background: $$ANN_BASIC_PICTO_FLECHE_01$$; padding: 0 0 0 25px;}
 

/* Détails */
		#InfosAnnonce #Descriptif p.titreDescriptif{font-weight: bold; color: $$LIGHT_COLORTXT1$$; background: $$LIGHT_LIGNE_POINTILLES_BAS$$; padding: 0 0 5px 0; margin: 0 0 10px 0; font-size:17px;}

		#TitreContact h6, #Outils_Ctn h6, #InfosAnnonce #InfosComp_Ctn h6{background: $$LIGHT_LIGNE_POINTILLES_BAS$$; padding: 0 0 5px 0; margin: 0 0 10px 0; font-size:17px; }

		#InfosAnnonce #Descriptif p.txtDescriptif{font-size: 13px; line-height: 18px; text-align: justify;}

		#InfosAnnonce #InfosComp_Ctn #InfosComp p{font-weight:bold; font-size: 11px; position: relative; float: left; width: 30%; padding: 6px; background : #f2f2f2; border:1px solid #fff; color:#000;}

		#Outils_Ctn{position: relative; background: #fff; border: none; margin: 10px 0 0 0; padding: 10px 28px;}
		#Outils{position: relative; margin-bottom:20px; }

		#Galerie {background: #ffff99; border: 1px solid #042352; }
		#galleryContainer {border:0px; background:#fff;}
		#AgrandirPhoto {font-size: 18px; background:none; color:#000;}

        #Annonce_Wrap #InfosAnnonce,#Outils_Ctn{border:1px solid #1667A3;}
		#AgenceContact td.detail_form_col1{padding: 0 40px 0 0; }
		#AgenceContact .coords_agence strong{color: #000;font-size:18px;}
		#AgenceContact .coords_agence p.adresseAgence{margin: 0 0 2px 0;font-size:15px;}
		#AgenceContact .coords_agence{float: left;}
		#AgenceContact td.detail_form_col2{background: #f2f2f2; border: $$LIGHT_BORDER_CLAIR$$; padding: 10px 20px;}

		#TypeTransaction, #Ref_Ctn {background:#1667A3;
	text-transform:uppercase;
	font-size: 18px;	
	color:#fff;
	font-weight: bold;
	letter-spacing: 0;
	padding:10px;
	margin: 10px 10px 10px 0;
	border-bottom:5px solid #042352;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	}
		#DetailAnnonce {margin:10px 20px 0 20px;}

		#AgenceContact form table#FormContact td#ChampsNom,
		#AgenceContact form table#FormContact td#ChampsPrenom,
		#AgenceContact form table#FormContact td#ChampsTelephone,
		#AgenceContact form table#FormContact td#ChampsEmail{}
		#AgenceContact form table#FormContact td#ChampsNom input,
		#AgenceContact form table#FormContact td#ChampsPrenom input,
		#AgenceContact form table#FormContact td#ChampsTelephone input, #AgenceContact form table#FormContact td#ChampsEmail input{display: block; padding: 4px; width: $$FORM_INPUT_WIDTH$$; background: #fff; color: #000; border:1px solid #1667A3;}
        
/* champs textarea*/
		#AgenceContact form table#FormContact td#ChampsMessage{padding: 3px 0;}
		#AgenceContact form table#FormContact td#ChampsMessage textarea{display: block; padding: 4px; width: $$FORM_TEXTAREA_WIDTH$$; background: #fff; border: $$LIGHT_BORDER01$$; height: $$FORM_TEXTAREA_HEIGHT$$; color:#000; border:1px solid #1667A3;}

 
/* Mentions Legales */
		#MentionsLegales{}
		#MentionsLegales h2 {display: block; width: 99%; background:#1667A3; font-size: 19px; color:#fff;font-weight: bold;letter-spacing: 0;padding:3px 0 3px 8px;margin: 10px 0;text-align: left;text-transform: none; font-family:Tahoma, Arial, Helvetica, sans-serif; text-transform: none;}
		#MentionCV{color:#000;}
/*page resultat annonces*/
#RechResultat .blocAnnonce table.detailsAnn td.photo_wrap .photo_ctn a.nbVisuels *{ color:#1667A3;}