$$REM$$
/*
====================================================================

//// <summary>Liste de macros générales pour faciliter la customisation des sites agences</summary>
//// <remarks>
//// <para>Possibilité de démutualiser ce fichier pour modifier vos propres paramètres</para>
//// <para>Possibilité de créer de nouvelles macros si cela vous est nécessaire, ce fichier n'est pas exhaustif</para>
//// </remarks>
//// <update date="2008-10-16" author="lisbonne.siriphol">Création</update>

====================================================================
*/
$$END$$

/* 


$$REM$$
>> MACROS GÉNÉRALES (attention au chemin des fichiers)
====================================================================================
 ///////////////////////////// listez ici vos macros  /////////////////////////////
====================================================================================
$$END$$




$$A:PATH_IMG_SITE=@@_@@img$$


$$REM$$ ================================>> 1/ COULEURS TEXTES PAGE <<================================ $$END$$

$$REM$$ ==>> TEXTE ROUGE sur la page $$END$$ 			      	        $$A:LIGHT_COLORTXT1=#042352$$
$$REM$$ ==>> TEXTE BLEU sur la page$$END$$								$$A:LIGHT_COLORTXT2=#000$$
$$REM$$ ==>> couleur LIBELLE ANNONCE $$END$$							$$A:LIGHT_COLORTXT3=#fff$$
$$REM$$ ==>> couleur FLUX RSS (orange)$$END$$							$$A:LIGHT_COLORRSS=#042352$$
$$REM$$ ==>> lien chiffres nb page$$END$$							    $$A:LIGHT_NBPAGE_COLOR=#042352$$
$$REM$$ ==>> metro et rer $$END$$									    $$A:LIGHT_COLORTXTMETRO=#fff$$
$$REM$$ ==>> annonce séléctionnée (gris)$$END$$						    $$A:LIGHT_COLORTXT_SELECTION_OK=#000$$



$$REM$$ ================================>> 2/ COULEURS BG ET BORDERS  <<================================ $$END$$

$$REM$$ ==>> bg blanc / fond cadre annonce $$END$$								$$A:LIGHT_BG_BLANC=#fff$$
$$REM$$ ==>> bg nb pages + contact + bande plus d'infos$$END$$					$$A:LIGHT_BG01=#1667A3$$
$$REM$$ ==>> border boite annonce + boite contact + photo$$END$$				$$A:LIGHT_BORDER01=1px solid #d7d7d7$$

$$REM$$ ==>> bg picto nb annonces + nb page select + libelle$$END$$			    $$A:LIGHT_BG02=#1667A3$$
$$REM$$ ==>> border picto nb annonces + nb page select$$END$$				    $$A:LIGHT_BORDER02=1px solid #1667A3$$


$$REM$$ ================================>> pictos divers <<================================ $$END$$

$$REM$$ ==>> fleche couleur site$$END$$									$$A:LIGHT_PICTO_FLECHE_01=url(@@PATH_IMG_SITE@@/picto_fleche_01.gif) left no-repeat$$
$$REM$$ ==>> sans photo $$END$$                                         $$A:LIGHT_SANS_PHOTO=url(@@PATH_IMG_SITE@@/sans_photo.jpg) no-repeat$$



*/
#RechResultat .blocAnnonce table.detailsAnn td.photo_wrap .photo_ctn a.nbVisuels *{ color:#1667A3;}
#RechercheContainer #AlerteEmail #AlerteForm input.alerte{color:#000;}