// VAR COLORS
$color-body      : #fff;
$color-content   : #fff;
$color-block     : #939598;
$color-primary   : #f15e56;
$color-secondary : #3d3539;
$color-action    : #3d3539;
$color-important : #f15e56;
$color-nav-footer: #000;

// COLOR PUB
$color-pub       : "black";

// COLOR FONT BODY DEFAULT
$color-font-body : #000;

