/* ============================================================================================ */
/* == CSS DETAIL "HD PANORAMA" */
/* ============================================================================================ */

/* --------------------------------------------------------------------------------*/
/* -- VARIABLES */
/* --------------------------------------------------------------------------------*/

$color-share-fb: #3b5998;
$color-share-tw: #55acee;
$color-share-gplus: #dc4a38;
$color-share-pin: #bd081b;
$color-share-in: #0077b5;
$color-white: #fff;
$color-black: #000;



/* --------------------------------------------------------------------------------*/
/* -- MIXINS */
/* --------------------------------------------------------------------------------*/

@mixin share-btn($color) {
    background-color: $color;
    &:focus,
    &:hover,
    &:active {
        background-color: darken($color,10);
    }
}


/* --------------------------------------------------------------------------------*/
/* -- OWL CAROUSEL */
/* --------------------------------------------------------------------------------*/

.owl-carousel {
    .owl-nav {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        margin-top: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        &.disabled {
            display: none;
        }
        .owl-prev,
        .owl-next {
            cursor: pointer;
            font-size: 2.4em;
            color: $color-block;
            -webkit-transition: color .3s ease;
            transition: color .3s ease;
            &.disabled {
                cursor: default;
                color: darken($color-block, 20);
            }
            &:focus,
            &:hover,
            &:active {
                color: $color-action;
                &.disabled {
                    color: darken($color-block, 20);
                }
            }
        }
        .owl-prev {
            float: left;
        }
        .owl-next {
            float: right;
        }
    }
    .owl-dots {
        text-align: center;
        &.disabled {
            display: none;
        }
    }
    .owl-dot {
        display: inline-block;
        span {
            display: block;
            width: 12px;
            height: 12px;
            margin: .5rem;
            cursor: pointer;
            border-radius: 50%;
            background-color: darken($color-block,20);
            &:focus,
            &:hover,
            &:active {
                background-color: $color-action;
            }
        }
        &.active {
            span {
                background-color: $color-action;
            }
        }
    }
}


/* --------------------------------------------------------------------------------*/
/* -- MAGNIFIC POPUP GALERY */
/* --------------------------------------------------------------------------------*/

.mfp-bg {
    opacity: 1;
    background-color: #262626;
}

.mfp-close {
    font-size: 38px;
}

.mfp-arrow {
    &:before {
        content: none;
    }
    &:after {
        border: 0;
        font-family: "Iconfirst";
        font-size: 4em;
        color: $color-white;
    }
}

.mfp-arrow-left {
    &:after {
        content: "\e90b";
    }
}
.mfp-arrow-right {
    &:after {
        content: "\e90a";
        margin-left: 0;
    }
}



/* --------------------------------------------------------------------------------*/
/* -- FIL ARIANE */
/* --------------------------------------------------------------------------------*/

.breadcrumb {
    padding: 1.75rem 0;
    border: 0;
    background: none;
    -webkit-filter: none;
    filter: none;
    font-size: 14px;
    [class*="icon-"] {
        vertical-align: middle;
    }
}

/* --------------------------------------------------------------------------------*/
/* -- MAIN CSS */
/* --------------------------------------------------------------------------------*/

.detail-hdpanorama {
    /* --------------------------------------------------------------------------------*/
    /* -- GLOBAL */
    /* --------------------------------------------------------------------------------*/

    .rgpd-bloc {
        opacity: .5;
        line-height: 1.2;
    }

    .btn-has-picto {
         > span,
        [class*="icon"] {
            vertical-align: middle;
        }
    }

    a {
        &:focus,
        &:hover,
        &:active {
            text-decoration: none;
        }
    }

    .detail-main {
        //margin-bottom: 6rem;
        padding-bottom: 6rem;
    }

    .detail-ssttl {
        margin: 5rem 0 1.5rem 0;
        padding-bottom: .75rem;
        border-bottom: 1px solid rgba($color-font-body,.3);
    }



    /* --------------------------------------------------------------------------------*/
    /* -- GALERIE PHOTO */
    /* --------------------------------------------------------------------------------*/


    .detail-galerie {
        position: relative;
        max-width: 1920px;
        margin: 0 auto;
    }
    .detail-galerie-item {
        position: relative;
        display: block;
        //min-height: 675px;
        min-height: 65vh;
        max-height: 675px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        &:before,
        &:after {
            position: absolute;
            top: 50%;
            font-family: "Iconfirst";
            font-size: 5em;
            color: $color-white;
            transform: translateY(-50%);
        }
        &:before {
            content: "\e90b";
            left: 0;
        }
        &:after {
            content: "\e90a";
            right: 0;
        }
    }
    .detail-galerie-btn {
        display: inline-block;
        padding: 1rem 1.5rem;
        line-height: 0;
        border: 1px solid $color-white;
        font-size: .875em;
        color: $color-white;
        transition: all .3s ease;
        @if $arrondi == yes {
            border-radius: 3px;
        }
        &:hover {
            background-color: $color-white;
            @include lightnessColor($color-white, no);
        }
    }

    .detail-galerie-heading {
        position: absolute;
        z-index: 10;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($color-black,.3);
        @include lightnessColor($color-black, no);
    }
    .detail-galerie-heading-row {
        display: table;
        table-layout: fixed;
        width: 100%;
    }
    .detail-galerie-heading-left,
    .detail-galerie-heading-right,
    .detail-galerie-heading-gutter {
        display: table-cell;
        vertical-align: middle;
    }
    .detail-galerie-heading-left {
        width: 65.95744680851064%;
        padding: 1.5rem 0;
    }
    .detail-galerie-heading-gutter {
        width: 2.127659574468085%;
    }
    .detail-galerie-heading-right {
        vertical-align: bottom;
        width: 31.914893617021278%;
    }

    .bloc-detail-telephone {
        background-color: darken($color-block,10);
        font-size: 1.25em;
        color: $color-font-body;
        text-align: center;
        @if $arrondi == yes {
            border-radius: 5px 5px 0 0;
        }
        [class*="icon"] {
            color: $color-action;
        }
         > div {
            padding: 3rem;
            cursor: pointer;
            color: $color-font-body;
        }
    }


    /* --------------------------------------------------------------------------------*/
    /* -- TAGS */
    /* --------------------------------------------------------------------------------*/

    .detail-tags {
        position: absolute;
        z-index: 5;
        top: 1.5rem;
        right: 0;
        left: 0;
    }

    .detail-tag {
        display: inline-block;
        vertical-align: middle;
        margin-right: .75rem;
        padding: 0 1rem;
        font-size: .8em;
        @if $arrondi == yes {
            border-radius: 15px;
        }
    }

    .detail-tag-exclu {
        background-color: $color-body;
        color: $color-font-body;
    }

    .detail-tag-cdc {
        background-color: $color-action;
        @include lightnessColor($color-action,no);
    }

    .detail-tag-new {
        background-color: $color-important;
        @include lightnessColor($color-important,no);
    }


    /* --------------------------------------------------------------------------------*/
    /* -- SURFACE */
    /* --------------------------------------------------------------------------------*/

    .detail-surf {
        margin-top: 1rem;
    }

    .detail-surf-item {
        display: inline-block;
        margin-right: .5rem;
        padding: .5rem 1.5rem;
        background-color: darken($color-body,5);
        text-align: center;
        @if $arrondi == yes {
            overflow: hidden;
            border-radius: 5px;
        }
    }


    /* --------------------------------------------------------------------------------*/
    /* -- HEADER ANNONCE */
    /* --------------------------------------------------------------------------------*/

    .detail-header {
        display: table;
        width: 100%;
    }

    .detail-header-col {
        display: table-cell;
        vertical-align: bottom;
        &:last-of-type {
            text-align: right;
        }
    }

    .detail-prix {
        display: inline-block;
    }

    .detail-ref {
        opacity: .5;
        font-size: .9em;
        text-align: right;
    }



    /* --------------------------------------------------------------------------------*/
    /* -- WIDGET */
    /* --------------------------------------------------------------------------------*/

    .detail-widgets {
        text-align: right;
    }

    .detail-widget-item {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        & > a {
            display: block;
            width: 4rem;
            height: 4rem;
            font-size: 1.4em;
            color: rgba($color-font-body,.5);
            line-height: 4rem;
            text-align: center;
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
            &:focus,
            &:hover,
            &:active {
                background-color: darken($color-body,5);
                color: $color-font-body;
            }
        }
        &:focus,
        &:hover,
        &:active {
            & > a {
                background-color: darken($color-body,5);
                color: $color-font-body;
            }
        }
    }

    .widget-share {
        &:focus,
        &:hover,
        &:active {
            .widget-share-sub {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .widget-share-sub {
        position: absolute;
        z-index: 3;
        right: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        text-align: center;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
    }

    .widget-share-item {
        display: block;
        width: 4rem;
        height: 4rem;
        color: #fff;
        line-height: 4rem;
        -webkit-transition: background-color .3s ease;
        transition: background-color .3s ease;
    }

    .widget-share-fb {
        @include share-btn($color-share-fb);
    }
    .widget-share-tw {
        @include share-btn($color-share-tw);
    }
    .widget-share-gplus {
        @include share-btn($color-share-gplus);
    }
    .widget-share-pin {
        @include share-btn($color-share-pin);
    }
    .widget-share-in {
        @include share-btn($color-share-in);
    }



    /* --------------------------------------------------------------------------------*/
    /* -- FICHE SIGNALETIQUE */
    /* --------------------------------------------------------------------------------*/

    .detail-sign-list {
        overflow: hidden;
         > li {
            float: left;
            width: 48%;
            overflow: hidden;
            padding: .6rem 0;
            border-bottom: 1px solid rgba($color-font-body,.15);
            &:nth-child(2n) {
                margin-left: 4%;
            }
        }
    }

    .detail-sign-attr {
        float: left;
        width: 68%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .detail-sign-val {
        float: right;
        width: 32%;
        overflow: hidden;
        padding-left: 1.5rem;
        color: $color-action;
        text-align: right;
        white-space: nowrap;
        text-overflow: ellipsis;
    }


    /* --------------------------------------------------------------------------------*/
    /* -- ANNONCES SIMILAIRES */
    /* --------------------------------------------------------------------------------*/

    .detail-simi {
        margin-bottom: 6rem;
        .detail-ssttl {
            margin-top: 0;
        }
        .detail-tags {
            left: 1.5rem;
        }
    }

    .detail-simi-item {
        a {
            display: block;
            color: inherit;
            -webkit-transition: color .3s ease;
            transition: color .3s ease;
            &:focus,
            &:hover,
            &:active {
                color: $color-action;
                .detail-simi-img {
                    -webkit-box-shadow: 0 -.5rem 0 $color-action inset;
                    box-shadow: 0 -.5rem 0 $color-action inset;
                }
            }
        }
    }

    .detail-simi-items {
        margin-top: 1rem;
    }

    .detail-simi-img {
        position: relative;
        min-height: 235px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        -webkit-box-shadow: 0 0 0 $color-action inset;
        box-shadow: 0 0 0 $color-action inset;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        @if $arrondi == yes {
            border-radius: 5px 5px 0 0;
        }
    }

    .detail-simi-content {
        display: table;
        width: 100%;
        margin: 1.5rem 0;
        padding-bottom: 2rem;
        border-bottom: 1px solid rgba($color-font-body, .25);
        &-left,
        &-right {
            display: table-cell;
            vertical-align: top;
        }
        &-right {
            text-align: right;
        }
    }

    .detail-simi-type {
        font-size: 1em;
    }

    .detail-simi-specs {
        margin-top: .25rem;
        opacity: .5;
        font-size: .9em;
        line-height: 1.2;
    }

    .detail-simi-ville {
        margin-top: .75rem;
        font-size: .95em;
        font-weight: bolder;
        text-transform: $type-title;
    }

    .detail-simi-prix {
        margin-bottom: .5rem;
        font-size: 1.2em;
        font-weight: bolder;
        color: $color-action;
        &.detail-simi-prix-hidden {
            font-size: 1em;
        }
    }

    .detail-simi-ref {
        opacity: .5;
        font-size: .9em;
    }



    /* --------------------------------------------------------------------------------*/
    /* -- INFOS LEGALES */
    /* --------------------------------------------------------------------------------*/

    .detail-legal {
        margin-bottom: 6rem;
        p {
            padding-top: 0;
        }
        @if $arrondi == yes {
            .accordion-group {
                border-radius: 5px;
            }
            .accordion-inner {
                border-radius: 0 0 5px 5px;
            }
        }
    }


    /* --------------------------------------------------------------------------------*/
    /* -- SIDEBAR - INFO AGENCE */
    /* --------------------------------------------------------------------------------*/

    .detail-contact {
        background-color: $color-block;
        -webkit-box-shadow: 0 0 15px rgba(0,0,0,.1);
        box-shadow: 0 0 15px rgba(0,0,0,.1);
        @include lightnessColor($color-block,no);
        @if $arrondi == yes {
            overflow: hidden;
            border-radius: 0 0 5px 5px;
        }
    }

    .detail-contact-agc {
        padding: 3rem;
    }


    /* --------------------------------------------------------------------------------*/
    /* -- SIDEBAR - FORMULAIRE */
    /* --------------------------------------------------------------------------------*/

    .detail-contact-form {
        padding: 3rem;
        border-top: 1px solid darken($color-block,10);
        input[type="radio"],
        input[type="checkbox"] {
            margin-top: .6rem;
        }
    }

    .detail-form-intro {
        margin-bottom: 2rem;
        padding: 0;
        font-size: 1.1em;
        line-height: 1.4;
        span {
            font-weight: bolder;
        }
    }

    .detail-form-nav {
        .btn.active {
            background-color: darken($color-action,15);
            background-image: none;
            -webkit-filter: none;
            filter: none;
        }
    }

    #detail-form {
        &.is-active {
            margin-top: 2rem;
        }
    }

    .detail-form-close {
        display: none;
    }



    /* --------------------------------------------------------------------------------*/
    /* -- SIDEBAR - PUBS */
    /* --------------------------------------------------------------------------------*/

    .detail-service {
        margin-top: 3.5rem;
        padding: 3rem;
        background-color: $color-block;
        -webkit-box-shadow: 0 0 15px rgba(0,0,0,.1);
        box-shadow: 0 0 15px rgba(0,0,0,.1);
        @include lightnessColor($color-block,no);
        @if $arrondi == yes {
            overflow: hidden;
            border-radius: 5px;
        }
        .btn {
            display: block;
            margin-top: 1.5rem;
        }
    }

    .detail-service-ttl {
        font-family: $font-title;
        font-size: 1.5em;
        margin-bottom: 1rem;
    }

    .detail-service-icon {
        vertical-align: middle;
        margin-right: 1.5rem;
    }

    .detail-service-estimation {
        path {
            stroke: $color-important;
        }
    }
    .detail-service-outils {
        path {
            stroke: $color-action;
        }
    }
}


/* --------------------------------------------------------------------------------*/
/* -- MEDIA QUERY HEIGHT 1044 */
/* --------------------------------------------------------------------------------*/

@media (max-height: 1044px) {

    .detail-hdpanorama {

        /* GALERIE */
        /* -----------------------------------*/

        .detail-galerie-item {
            //min-height: 555px;
        }
    }
}


/* --------------------------------------------------------------------------------*/
/* -- MEDIA QUERY HEIGHT 920 */
/* --------------------------------------------------------------------------------*/

@media (max-height: 850px) {

    .detail-hdpanorama {

        /* GALERIE */
        /* -----------------------------------*/

        .detail-galerie-item {
          //  min-height: 400px;
        }
    }
}


/* --------------------------------------------------------------------------------*/
/* -- MEDIA QUERY 768 */
/* --------------------------------------------------------------------------------*/

@media (max-width: 767px) {

    /* FIL ARIANE */
    /* -----------------------------------*/

    .breadcrumb {
        padding: 1rem 0;
        font-size: .9em;
    }

    .detail-hdpanorama {
        &.detail-annonce {
            margin-top: 0;
        }


        /* GLOBAL */
        /* -----------------------------------*/

        .detail-main {
            margin-bottom: 3rem;
            padding-bottom: 3rem;
        }

        .bloc-detail-telephone > div {
            padding: 1.5rem;
        }

        /* GALERIE */
        /* -----------------------------------*/

        .detail-galerie-heading {
            position: static;
            background-color: darken($color-block,10);
            @include lightnessColor($color-block,no);
        }

        .detail-galerie-module {
            position: relative;
        }

        .detail-galerie-item {
            min-height: 250px;
            &:before,
            &:after {
                font-size: 2em;
            }
        }

        .detail-tel-mobile {
            position: absolute;
            z-index: 50;
            right: 1.5rem;
            bottom: 0;
            .bloc-detail-telephone > div {
                padding-top: 1rem;
                padding-bottom: 1rem;
            }
        }



        /* SURFACE */
        /* -----------------------------------*/

        .detail-surf-item {
            font-size: .875em;
        }


        /* WIDGETS */
        /* -----------------------------------*/

        .detail-widgets {
            float: none;
            margin: 2rem -1.5rem 2rem -1.5rem;
        }

        .detail-widget-item {
            display: block;
            text-align: center;
            & > a {
                width: auto;
                height: auto;
                padding: .5rem;
                border-top: 1px solid rgba($color-font-body,.2);
                border-bottom: 1px solid rgba($color-font-body,.2);
                font-size: 1em;
                text-transform: uppercase;
                 > * {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 1rem;
                    font-size: .875em;
                }
            }
            &:first-child > a {
                border-bottom: 0;
            }
        }

        .detail-ref {
            text-align: center;
        }

        .widget-share-sub {
            display: table;
            table-layout: fixed;
            width: 100%;
             > li {
                display: table-cell;
            }
        }

        .widget-share-item {
            width: auto;
            height: 5rem;
            font-size: 1.2em;
            line-height: 5.2rem;
        }



        /* FICHE SIGNALETIQUE */
        /* -----------------------------------*/

        .detail-sign-list {
             > li {
                float: none;
                width: 100%;
                &:nth-child(2n) {
                    margin-left: 0;
                }
            }
        }


        /* INFOS LEGALES */
        /* -----------------------------------*/

        .detail-legal {
            padding-bottom: 2rem;
        }



        /* SIDEBAR - FORMULAIRE */
        /* -----------------------------------*/

        .detail-contact-form {
            padding: 0;
            background: none;
        }

        .detail-form-nav {
            position: fixed;
            display: table;
            table-layout: fixed;
            z-index: 201;
            bottom: 0;
            left: 0;
            width: 100%;
            margin-bottom: 0;
            .btn {
                display: table-cell;
                border-radius: 0;
                font-size: .95em;
                line-height: 1.2;
                & + .btn {
                    border-left: 1px solid darken($color-action,15);
                }
            }
        }

        .detail-form-close {
            display: block;
            float: right;
            margin-bottom: 1.5rem;
            padding: .5rem 1rem;
            border-radius: 0;
        }

        #detail-form {
            position: fixed;
            z-index: 201;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            overflow: scroll;
            padding: 1.5rem;
            background-color: darken($color-action,20);
            -webkit-transition: left .3s ease;
            transition: left .3s ease;
            @include lightnessColor(darken($color-action,20),no);
            &.is-active {
                left: 0;
                margin-top: 0;
            }
            label {
                text-align: left;
            }
            .rgpd-bloc {
                padding-bottom: 7rem;
            }
        }
    }
}
