// VAR COLORS
$color-body:#fff;
$color-content:#eeedf4;
$color-block:#dddbe2;
$color-primary:#56555a;
$color-secondary:#247ccc;
$color-action:#4e90cc;
$color-important:#747477;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;