// VARIABLES COLORS
$color-body:#fff;
$color-content:#89744d;
$color-block:#969696;
$color-primary:#a2062f;
$color-secondary:#303030;
$color-action:#9d062e;
$color-important:#303030;
$color-nav-footer:#fff;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#636363;