// VAR COLORS
$color-body:#fff;
$color-content:#f3f3f3;
$color-block:#fefefe;
$color-primary:#fff;
$color-secondary:#03224c;
$color-action:#809fd3;
$color-important:#000;
$color-nav-footer:#000;

// COLOR PUB
$color-pub:"black";

// COLOR FONT BODY DEFAULT
$color-font-body:#000;